{% extends "parent_portal_base.html" %}
{% load staticfiles %}
{% block styleBlock %}


    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }

        input[type=file] {
            color: transparent;
        }

        #PreviewPicture {
            width: 150px;
            height: 150px;
            background-repeat: no-repeat;
            border: 0;
            display: inline-block;
        }

        .col-md-offset-3 {
            margin-left: 1%;
        }

        #gender {
            margin-top: -80px;
            margin-left: 200px
        }

        .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: #eef1f5;
        }

        .portlet.box.blue {
            border: 1px solid #eef1f5;
            border-top: 0;
        }

        .portlet > .portlet-title > .nav-tabs {
            background: 0 0;
            margin: 1px 0 0;
            float: left;
            display: inline-block;
            border: 0;
        }

        .portlet > .portlet-title > .nav-tabs > li > a {
            background: 0 0;
            margin: 5px 0 0 1px;
            border: 0;
            padding: 8px 10px;
            color: #17C4BB;
        }

        .portlet.box > .portlet-body {
            background-color: #fff;
            padding: 15px;
            margin-left: 1%;
            width: 98%;
        }

        .portlet.blue, .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: eef1f5;
        }

        #id_gender {
            list-style: none;
        }

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        li {
            display: inline;

        }
         #PreviewPicture {
            width: 150px;
            height: 150px;
            background-repeat: no-repeat;
            border: 0;
            margin-top: 30px;
            background-size: 100%;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE

            function validateEmail(sEmail) {
                var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

                if (filter.test(sEmail)) {
                    return true;
                }
                else {
                    return false;
                }
            }


            var dateControler = {
                currentDate: null
            }

            $(document).on("blur", "#id_birth_date", function (event, ui) {
                var now = new Date();
                now.setDate(now.getDate() - 1)
                var selectedDate = new Date($(this).val());

                if (selectedDate > now) {
                    $(this).val(dateControler.currentDate)
                    alert("Invalid Date..!")
                } else {
                    dateControler.currentDate = $(this).val();
                }

                var str = $("#id_birth_date").val();
                var sp_id = str.split("-")[0];
                if (parseInt(sp_id) < 1900) {
                    alert("Birth Year Must Be Greater or Equal Than 1900")
                    $("#id_birth_date").val('')
{#                    return false;#}
                }
            });

            $(document).ready(function () {
                 $('.form-control').prop("disabled", true);
                 $('.abc').prop("disabled", true);
                 $('.cls').attr("disabled","disabled");
                 $('.cls').attr("disabled", true);
                 $(".add").click(function () {
                    return addForm(this, 'sec_parent');
                });

                $(".delete").click(function () {

                    return deleteForm(this, 'sec_parent');
                });
                 $('.abc').on("change", function () {
                     var parent_id = $(this).parents('div:eq(2)').attr('id')
{#                        alert(parent_id)#}
                     id=$(this).attr('id')
                     splitData=id.split("-");
                     formCount = splitData[1];
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return; // Check if File is selected, or no FileReader support
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) !== -1) {
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () {
                            document.getElementById("sec"+(parseInt(formCount)+1)).src=this.result;
                            $(this).val(this.result);
                        }
                    }
                    else {
                        this.value = null;
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                    }
                });



                $('#id_contact_num')

                    .on('keypress', function (e) {
                        {#                        alert("dd")#}
                        var key = e.charCode || e.keyCode || 0;
                        var phone = $(this);
                        if (phone.val().length === 0) {
                            phone.val(phone.val() + '+');
                        }
                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9) {
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + '');
                            }
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + ' ');
                            }

                            if (phone.val().length >= 16) {
                                phone.val(phone.val().slice(0, 16));
                            }
                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                            key == 9 ||
                            key == 46 ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    })

                    .on('focus', function () {
                        phone = $(this);

                        if (phone.val().length === 0) {
                            phone.val('+');
                        } else {
                            var val = phone.val();
                            phone.val('').val(val); // Ensure cursor remains at the end
                        }
                    })

                    .on('blur', function () {
                        $phone = $(this);

                        if ($phone.val() === '+') {
                            $phone.val('');
                        }
                    });

                $(".con_num")

                    .on('keypress', function (e) {
                        {#                        alert("dd")#}
                        var key = e.charCode || e.keyCode || 0;
                        var phone = $(this);
                        if (phone.val().length === 0) {
                            phone.val(phone.val() + '+');
                        }
                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9) {
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + '');
                            }
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + ' ');
                            }

                            if (phone.val().length >= 16) {
                                phone.val(phone.val().slice(0, 16));
                            }
                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                            key == 9 ||
                            key == 46 ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    })

                    .on('focus', function () {
                        phone = $(this);

                        if (phone.val().length === 0) {
                            phone.val('+');
                        } else {
                            var val = phone.val();
                            phone.val('').val(val); // Ensure cursor remains at the end
                        }
                    })

                    .on('blur', function () {
                        $phone = $(this);

                        if ($phone.val() === '+') {
                            $phone.val('');
                        }
                    });

                var flag = false;
                var flag1 = false;
                var flag2 = false;
                var flag3 = false;
                var flag4 = false;
                $("#id_street").on("change", function () {
                    var str = $("#id_street").val().length;
                    if (parseInt(str) > 255) {
                        alert("Street Length Should Not Be More Than 255 Char.")
                        $("#id_street").css('border-color', 'red');
                        flag = true;
                        return false;
                    }
                    $("#id_street").css('border-color', '');
                    flag = false;
                });

                $("#id_state").on("change", function () {
                    var str = $("#id_state").val().length;
                    if (parseInt(str) > 80) {
                        alert("State Length Should Not Be More Than 80 Char.")
                        flag1 = true;
                        $("#id_state").css('border-color', 'red');
                        return false;
                    }
                    $("#id_state").css('border-color', '');
                    flag1 = false;
                });

                $("#id_city").on("change", function () {
                    var str = $("#id_city").val().length;
                    if (parseInt(str) > 80) {
                        alert("City Length Should Not Be More Than 80 Char.")
                        flag2 = true;
                        $("#id_city").css('border-color', 'red');
                        return false;
                    }
                    $("#id_city").css('border-color', '');
                    flag2 = false;
                });
                var image = $("#id_photo").attr('value');
                console.log(image)
                var Val = ("../media/".concat(image))

                console.log("path", Val)

                $("#PreviewPicture").css("background-image", "url(" + Val + ")")







                 $("#id_photo").on("change", function () {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];// Check if File is selected, or no FileReader support
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) !== -1) {
                        console.log('if part');   //  Allow only image upload
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () { // set uploaded image data as background of div
                            $("#PreviewPicture").css("background-image", "url(" + this.result + ")");
                            $("#setPic").val(this.result);
                        }
                    }
                    else {
                        console.log('else part');
                        $('#id_photo').val('');
                        alert("Only formats are allowed : " + fileExtension.join(', '));

                    }
                });

                $("#id_postcode").on("change", function () {
                    var str = $("#id_postcode").val().length;
                    if (parseInt(str) > 8) {
                        alert("Postcode Length Should Not Be More Than 8 Char.")
                        flag3 = true;
                        $("#id_postcode").css('border-color', 'red');
                        return false;
                    }
                    $("#id_postcode").css('border-color', '');
                    flag3 = false;
                });


                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();
                     $('.abc').prop("disabled", false);
                      $('.cls').attr("disabled", false);
                    $('#id_gender_1').prop("disabled", false);
                    $('#id_gender_0').prop("disabled", false);

                    $('.form-control').prop("disabled", false);
                    $('#id_email').prop("disabled", true);
                    $('#id_code').prop("disabled", true);
                    $('#id_email').prop("disabled", false);
                    $('#id_photo').prop("disabled", false);
                     $('.control').prop("disabled", false);
                });


                (function ($) {
                    $.extend({
                        toDictionary: function (query) {
                            var parms = {};
                            var items = query.split("&"); // split
                            for (var i = 0; i < items.length; i++) {
                                var values = items[i].split("=");
                                var key = decodeURIComponent(values.shift());
                                var value = values.join("=")
                                parms[key] = decodeURIComponent(value);
                            }
                            return (parms);
                        }
                    })
                })(jQuery);


                (function ($) {
                    $.fn.serializeFormJSON = function () {
                        var o = [];
                        $(this).find('tr').each(function () {
                            var elements = $(this).find('input, textarea, select,checkbox,button')
                            console.log($(this));
                            if (elements.size() > 0) {
                                var serialized = $(this).find('input, textarea, select,checkbox,button').serialize();
                                var item = $.toDictionary(serialized);
                                o.push(item);
                            }
                        });
                        return o;
                    };
                })(jQuery);


                $("#update_other_btn").click(function (event) {
                    event.preventDefault();

                    var rawData = $('#update_other_form').serializeFormJSON();
                    console.log(rawData);
                    var data = JSON.stringify(rawData);
                    console.log(data);

                    var url = '/school/update_parent_other_details/';
                    update_parent_other_details(url, data)

                    window.location.href = "/school/view_parent/";

                });


                $('#update').click(function () {

                    if ((flag == true) || (flag1 == true) || (flag2 == true) || (flag3 == true)) {
                        alert("Validation Error. Please Fill Proper Data.")
                        return false;
                    }

                    var sEmail = $('#id_email_id').val();
                    if (!validateEmail(sEmail) && (!sEmail == 0)) {
                        alert('Invalid Email Address');
                        return false;

                    }

                    var Sec_Parent_Email = $('#id_sec_parent_email').val();
                    if (!validateEmail(Sec_Parent_Email) && (!Sec_Parent_Email == 0)) {
                        alert('Invalid Secondary Parent Email Address');
                        return false;

                    }


                    var id_contact_num = jQuery.trim($("#id_contact_num").val());
                    if ((id_contact_num.length !== 0) && (id_contact_num.length < 10)) {
                        alert('Please put 10 digit mobile number');
                        // focuses the current field.
                        return false; // stops the execution.
                    }


                });

            });

        }
        //var for_count =1;
        function addForm(btn, prefix) {
{#               alert(prefix);#}
                var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
                var row = $(".item:first").clone(true).get(0);
{#                alert('row'+row);#}
                $(row).attr('id',formCount);


                /*  $(row).removeAttr('id').insertAfter($('.item')).children('.hidden').removeClass('hidden'); */
                $(row).hide().insertAfter(".item:last").slideDown(300);


                $(row).children().not(':last').find(
                    'input,select,textarea,Date,checkbox').each(function () {
                    updateElementIndex(this, prefix, formCount);
                    if ($(this).attr('type') == 'text')
                        $(this).val('');
                });
                $(row).find('.delete').click(function () {
                    deleteForm(this, prefix);
                });
                $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
                return false;
            }


            function updateElementIndex(el, prefix, ndx) {
                console.log(prefix);
                var id_regex = new RegExp('(' + prefix + '-\\d+)');
                var replacement = prefix + '-' + ndx;
                if ($(el).attr("for"))
                    $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
                if (el.id)
                    el.id = el.id.replace(id_regex, replacement);
                if (el.name)
                    el.name = el.name.replace(id_regex, replacement);
            }


            function deleteForm(btn, prefix) {
                var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

                if (formCount > 1) {
                    // Delete the item/form
                    $(btn).parents('.item').remove();

                    var forms = $('.item'); // Get all the forms

                    // Update the total number of forms (1 less than before)
                    $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

                    var i = 0;
                    // Go through the forms and set their indices, names and IDs
                    for (formCount = forms.length; i < formCount; i++) {
                        $(forms.get(i)).find('input,select,textarea,Date,checkbox')
                            .each(function () {
                                updateElementIndex(this, prefix, i);
                            });

                    }
                } // End if

                return false;
            }

        function update_parent_other_details(url, data) {


            $.ajax({
                url: url,
                type: "POST",
                data: {
                    table: data,

                    'csrfmiddlewaretoken': '{{ csrf_token }}',


                },
            })

                .done(
                    function (data) {


                    });
        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>

{% endblock %}



{% block content %}
    <form action="{% url 'parent_portal:save_updated_parent_portal' %}" id="form_sample_1" class="form-horizontal" method="POST"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">


            <div class="page-bar" style="margin-bottom: 1px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'registration:home' %}">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>

                        <a href="{% url 'parent_portal:parents_students_menu' %}"> Parents and Students </a>
                        <i class="fa fa-angle-right"></i>
                    </li>
{#                    <li>#}
{##}
{#                        <a href="{% url 'registration:view_parent' %}">View-Edit Parent</a>#}
{#                        <i class="fa fa-angle-right"></i>#}
{#                    </li>#}


                    <li>
                        <span> Edit Parent </span>
                    </li>
                </ul>

            </div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endfor %}



            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Parent Details</span>
                    </div>


                </div>
                <div class="portlet-body">
                    <div class="col-md-offset-3 col-md-9">

                        <button type="button" class="btn green" id="edit">Edit</button>
                        <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
{#                        <button type="button" class="btn red" data-toggle="modal" data-target="#myModal">Delete</button>#}
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">


                        <div class="form-body">
                            <div height="140" width="140" id="PreviewPicture"></div>
                            <input type="hidden" name="profile_pic" id="setPic">
                            <input id="id_photo"   name="photo" type="file"
                               value="{{ parent_detail.photo }}" style="margin-left: 35px;" disabled>
                            <input type="hidden" value="{{ parent_detail.user.id }}" name="parent_id"/>

                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label"> First Name:

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only ' maxlength='255'
                                               value="{{parent_detail.user.first_name }}" class="form-control"
                                               id="id_first_name" name="first_name" type="text" required="" disabled>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label"> Middle Name:

                                    </label>
                                    <div class="col-md-4">
                                        {% if parent_detail.user.middle_name %}
                                            <input autocomplete="off" pattern='[A-Za-z ]+' maxlength='255'
                                                   title='Enter Characters Only ' class="form-control"
                                                   value="{{ parent_detail.user.middle_name }}" id="id_middle_name"
                                                   name="middle_name" type="text" required="" disabled> </div>
                                        {% else %}
                                            <input autocomplete="off" pattern='[A-Za-z ]+' maxlength='255'
                                                   title='Enter Characters Only ' class="form-control" value=""
                                                   id="id_middle_name" name="middle_name" type="text" required=""
                                                   disabled> </div>
                                        {% endif %}
                            </div>

                        </div>


                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Last Name:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only' maxlength='255'
                                           class="form-control" value="{{ parent_detail.user.last_name }}"
                                           id="id_last_name" name="last_name" type="text" required="" disabled></div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">Contact No:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" value="{{ parent_detail.contact_num }}" placeholder="+XXX XXXXXXXXX"
                                           onkeypress="return isNumber(event);" maxlength="16" class="form-control"
                                           id="id_contact_num" name="contact_num" type="text" required="" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Birth Date:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" class="form-control" max="9999-12-31"
                                           value="{{ parent_detail.birth_date }}" id="id_birth_date" name="birth_date"
                                           type="date" required="" disabled></div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Gender:

                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 3px;">
                                    <ul id="id_gender">
                                        <li><label for="id_gender_0"><input id="id_gender_0" name="gender" type="radio"
                                                                            value="False" {{ male }} required=""
                                                                            disabled> Male</label></li>
                                        <li><label for="id_gender_1"><input id="id_gender_1" name="gender" type="radio"
                                                                            value="True" {{ female }} required=""
                                                                            disabled> Female</label></li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <div class="row">


                            <div class="">
                                <label class="col-md-2 control-label"> Email:

                                </label>
                                <div class="col-md-4">
                                    <input value="{{ stu_rec.email }}" name="email" type="text" hidden>
                                    <input autocomplete="off" class="form-control" maxlength='250' title="Enter valid email address"
                                           value="{{ parent_detail.user.email }}" id="id_email" name="email" type="text"
                                           required="" disabled>
                                </div>
                            </div>


                             <div class="">
                                <label class="col-md-2 control-label"> Mother Name:

                                </label>
                                <div class="col-md-4">
                                    <input value="{{ parent_detail.mother_name|default_if_none:" " }}" name="mother_name" type="text" hidden>
                                    <input autocomplete="off" class="form-control" maxlength='250'
                                           value="{{ parent_detail.mother_name|default_if_none:" " }}" id="id_mother_name" name="mother_name" type="text"
                                           required="" disabled>
                                </div>
                            </div>

                        </div>
                     <div class="row">


                            <div class="">
                                <label class="col-md-2 control-label"> Mother Email:

                                </label>
                                <div class="col-md-4">
                                    <input value="{{ parent_detail.mother_email|default_if_none:" "}}" name="mother_email" type="text" hidden>
                                    <input autocomplete="off" class="form-control" maxlength='250'
                                           value="{{ parent_detail.mother_email|default_if_none:" " }}" id="id_mother_email" name="mother_email" type="text"
                                           required="" disabled>
                                </div>
                            </div>

                              <div class="">
                                <label class="col-md-2 control-label"> Mother Contact No:

                                </label>
                                <div class="col-md-4">
                                    <input value="{{ parent_detail.mother_contact_num|default_if_none:" "  }}" name="mother_contact_num" type="text" hidden>
                                    <input autocomplete="off" class="form-control" maxlength='16'
                                           value="{{ parent_detail.mother_contact_num|default_if_none:" "  }}" id="id_mother_contact_num" name="mother_contact_num" type="text"
                                           required="" disabled>
                                </div>
                            </div>



                        </div>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label"> Street:

                                </label>
                                <div class="col-md-4">
                                    <textarea autocomplete="off" class="form-control" cols="40" id="id_street"
                                              maxlength="255" title="No Format Required"
                                              name="street" rows="2" value="{{ stu_rec.street  }}"
                                              disabled>{{ parent_detail.street|default_if_none:" " }} </textarea>
                                </div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">City:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           class="form-control" value="{{ parent_detail.city|default_if_none:" "  }}" id="id_city"
                                           name="city" type="text"  disabled></div>
                            </div>



                        </div>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">State:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           class="form-control" value="{{ parent_detail.state|default_if_none:" "  }}" id="id_state"
                                           name="state" type="text"  disabled></div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">Post Code:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[0-9 ]+' title='Enter Numbers Only '
                                           maxlength="8"
                                           onkeypress="return isNumber(event);"
                                           class="form-control" value="{{ parent_detail.postcode|default_if_none:" "  }}" id="id_postcode"
                                           name="postcode" type="text"  disabled></div>
                            </div>



                        </div>
                    <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Parent Code:

                                </label>
                                <div class="col-md-4">
                                    <input style="color:green;" autocomplete="off" class="form-control"
                                           value="{{ parent_detail.code }}" id="id_code" name="code" type="text"
                                           required="" disabled></div>
                            </div>
                        </div>
                        <br>
                        <!-- END FORM-->
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- END VALIDATION STATES-->
        </div>

        <div class="portlet box blue">
            <div class="portlet-title">
                <ul class="nav nav-tabs" style="margin-top: -30px;">
                    <li class="">
                        <a href="#portlet_tab2" data-toggle="tab" aria-expanded="false">Guardian Details </a>
                    </li>
                    <li class="">
                        <a href="#portlet_tab3" data-toggle="tab" aria-expanded="false"> Student Details </a>
                    </li>

                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">

                    <div class="tab-pane" id="portlet_tab3">
                        <div class="form-body">

                            <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                   id="sample_1">
                                <thead>
                                <tr>
                                    <th style="display:none;">Sr No</th>
                                    <th> Enrollment No</th>
                                    <th> Email</th>
                                    <th> Student Name</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for student in stu_rec %}
                                    <tr class="odd gradeX">
                                    <td Style="display: none;">{{ forloop.counter }}</td>
                                    <td>{{ student.student_code }}</td>
                                    <td>{{ student.email }}</td>
                                    <td>{{ student.first_name }}</td>

                                {% endfor %}
                                </tr>
                                </tbody>
                            </table>


                        </div>

                    </div>

                    <div class="tab-pane active" id="portlet_tab2">
                        <div class="form-body">

                            <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                   id="sample_1">
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th> Sr No</th>#}
{#                                    <th> Photo</th>#}
{#                                    <th> Name</th>#}
{#                                    <th> Email</th>#}
{#                                    <th> Contact no</th>#}
{#                                    <th> Type</th>#}
{#                                </tr>#}
{#                                </thead>#}
                                <tbody>


                                    {{ secondary_parentdetail_formset.management_form }}
                                    {% for secondary_parentdetail in secondary_parentdetail_formset.forms %}


                                        <div class="item" id="0">
                                            <div class="row" style="margin-left: 100px;">

                                                <div class="col-6 col-sm-3 ">



                                                 <div height="142" width="142" id="SecPreviewPicture" ></div>

                                         <img src="{{ path }}{{ secondary_parentdetail.sec_photo.initial }}" id="sec{{forloop.counter}}" height="158" width="200" alt="No Image">


                                                {{ secondary_parentdetail.sec_photo }}
                                                </div>


                                                <div class="col-6 col-sm-3 ">
                                                    <label id="desc">Name</label><br>

                                                    {{ secondary_parentdetail.sec_parent_name }}
                                                </div>


                                                <div class="col-6 col-sm-3 ">
                                                    <label id="desc">Email</label><br>
                                                    {{ secondary_parentdetail.sec_parent_mail }}
                                                </div>


                                                <div class="col-6 col-sm-3 ">
                                                    <label id="desc">Contact No</label><br>
                                                    {{ secondary_parentdetail.sec_parent_contact }}
                                                </div>


{#                                                <div class="col-6 col-sm-2 ">#}
{#                                                    <label id="desc">Type</label><br>#}
{#                                                    {{ secondary_parentdetail.type }}#}
{#                                                </div>#}

                                            </div>

                                            <div >

                                                <a href="javascript:;" id="add" disabled="disabled" class="cls add btn btn-icon-only green"
                                                   style="margin-top:-55px;">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                                <a href="javascript:;" disabled="disabled" class="cls delete btn btn-icon-only purple"
                                                   style="margin-top:-55px;">
                                                    <i class="fa fa-times"></i>
                                                </a>

                                            </div>

                                        </div>

                                    {% endfor %}



                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form action="{% url 'registration:delete_parent' %}" method="post"
                  id="save">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">

                        <h4 class="modal-title">Are you sure you want to delete Parent Details?</h4>
                        <input type="hidden" value="{{ user.id }}" name="parent_id"/>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class=" btn red btn-outline sbold">Delete</button>

                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
<!-- BEGIN CORE PLUGINS -->
