{% extends "parent_portal_base.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>

    </style>
{% endblock %}


{% block ScriptBlock %}

    <script>

        window.onload = function () {


            {#            var academic_year = document.getElementById("id_academic_year").value;#}
            {#            var url1 = '/school/viewAcademicDetails/';#}
            {#            viewAcademicDetails(url1, academic_year)#}

            var class_name = document.getElementById("id_class_name").value;
            var section_name = document.getElementById("id_section_name").value;

            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
            }
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
            }


            $("#id_academic_years").change(function () {
                var academic_year = document.getElementById("id_academic_years").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year);
            });


            $("#id_class_name").change(function () {
                var academic_year = document.getElementById("id_academic_years").value;
                var class_name = document.getElementById("id_class_name").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailAttendance(url, academic_year, class_name);
                {#                document.getElementById("attendanceYear").value = academic_year;#}
            });

            $("#go1").click(function (event) {


                $('#form_sample_2').submit();
            });


            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });


             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }

        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {
                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="All">All</option>');
                    for (var i = 0; i < data.length; i++) {

                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }
                });
        }

        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }

        function ViewSectionDetailAttendance(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                        }


                    });


        }


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'parent_portal:parent_portal_home' %}"> Parent Portal</a>
                <i class="fa fa-angle-right"></i>
            </li>

             <li>

                <a href="{% url 'parent_portal:parents_students_menu' %}"> Parent & Student Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>View-Edit Student</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <th style="display:none;">Sr No</th>
                    <th>Photo</th>
                    <th>Student Code</th>
                    <th>Name</th>
{#                    <th>Academic Year</th>#}
                    <th>Class</th>
                    <th>Section</th>
                </tr>
                </thead>
                <tbody>
                {% for student in student_list %}
                    <tr onclick="window.location='{% url "parent_portal:view_student_detalis" student.student.id %}'"
                        style="cursor: pointer;">
                        <td style="display:none;">
                            {{ forloop.counter }}
                        </td>
                        <td class="len">
                            <img src="{{ student.photo }}" height="180" width="180" alt="No Image">
{#                            <img src="{% static '/media/images/A_2017.12.11.09.57.11.jpg' %}" alt="No Image">#}
                        </td>
                        <td>{{ student.student.student_code }}</td>
                        <td>{{ student.full_name }}</td>
{#                        <td>{{ student.student.academic_class_section.year_name }}</td>#}
                        <td>{{ student.class_name }}</td>
                        <td>{{ student.section_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}
