{% extends "parent_portal_base.html" %}
{% load staticfiles %}



{% block styleBlock %}
    <sctipt>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </sctipt>

    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Parent Portal</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="tiles">
                <div class="tile bg-green-turquoise" style="height: 170px !important;width: 50% !important;">
                    <a href="{% url 'parent_portal:parents_students_menu' %}">
                        <div class="tile-body">
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name text-success"><h4>Parent & Students Profiles </h4></div>
                        </div>
                    </a>
                </div>

                {% if 'transfer_certificate.can_view_transfer_certificate' in perms %}
                    <div class="tile double selected bg-blue" style="height: 150px !important;width: 410px !important;">
                        <a href="{% url 'transfer_certificate:tc_detail' %}" class="nav-link nav-toggle">
                            <div class="tile-body">
                                <i class="fa glyphicon glyphicon-education"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name">
                                    <h4>Transfer Certificate</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}


{#                {% if 'registration.can_view_report_card' in perms %}#}
{#                    <div class="tile" style="height: 150px !important;width: 415px !important;">#}
{#                        <a href="{{ jwt }}">#}
{#                            <div class="tile-body" style="background-color: #1f2b3d">#}
{#                                <i class="icon-book-open"></i>#}
{#                            </div>#}
{#                            <div class="tile-object">#}
{#                                <div class="name">#}
{#                                    <h4>Report Card</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                {% endif %}#}

{#                <div class="tile bg-blue" style="height: 170px !important;width: 48% !important;">#}
{#                    <a href="{% url 'id_generation:student_template' %}">#}
{##}
{#                        <div class="tile-body">#}
{#                                <i class="fa fa-id-card" aria-hidden="true"></i>#}
{#                        </div>#}
{#                        <div class="tile-object">#}
{#                            <div class="name "><h4  >Student ID Card - Template</h4></div>#}
{##}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}

{#                <div class="tile double-down bg-purple-studio" style="height: 170px !important;width: 48% !important;">#}
{#                    <a href="{% url 'id_generation:view_staff_list' %}">#}
{##}
{#                        <div class="tile-body">#}
{#                            <i class="fa fa-id-badge " aria-hidden="true"></i>#}
{##}
{#                        </div>#}
{#                        <div class="tile-object">#}
{#                            <div class="name "><h4  >Staff ID Cards</h4></div>#}
{##}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="tile bg-blue-hoki" style="height: 170px !important;width: 48% !important;">#}
{#                    <a href="{% url 'id_generation:staff_template' %}">#}
{##}
{#                        <div class="tile-body">#}
{#                            <i class="fa fa-id-badge " aria-hidden="true"></i>#}
{##}
{#                        </div>#}
{#                        <div class="tile-object">#}
{#                            <div class="name "><h4  >Staff ID Card - Template</h4></div>#}
{##}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}

            </div>
        </div>
    </div>
{% endblock %}