{% extends "parent_portal_base.html" %}
{% load staticfiles %}
{% block styleBlock %}


    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }

        input[type=file] {
            color: transparent;
        }

{#        #PreviewPicture {#}
{#            width: 150px;#}
{#            height: 150px;#}
{#            background-repeat: no-repeat;#}
{#            border: 0;#}
{#            display: inline-block;#}
{#        }#}

        #PreviewPicture {
            width: 150px;
            height: 150px;
            background-repeat: no-repeat;
            border: 0;
            margin-top: 30px;
            background-size: 100%;
        }

        .col-md-offset-3 {
            margin-left: 1%;
        }

        #gender {
            margin-top: -80px;
            margin-left: 200px
        }

        .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: #eef1f5;
        }

        .portlet.box.blue {
            border: 1px solid #eef1f5;
            border-top: 0;
        }

        .portlet > .portlet-title > .nav-tabs {
            background: 0 0;
            margin: 1px 0 0;
            float: left;
            display: inline-block;
            border: 0;
        }

        .portlet > .portlet-title > .nav-tabs > li > a {
            background: 0 0;
            margin: 5px 0 0 1px;
            border: 0;
            padding: 8px 10px;
            color: #17C4BB;
        }

        .portlet.box > .portlet-body {
            background-color: #fff;
            padding: 15px;
            margin-left: 1%;
            width: 98%;
        }

        .portlet.blue, .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: eef1f5;
        }

        #id_gender {
            list-style: none;
        }

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        li {
            display: inline;

        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {


                 var image = $("#id_photo").attr('value');
                var Val = ("../media/".concat(image))


                $("#PreviewPicture").css("background-image", "url(" + Val + ")")

                                    $(".reject").click(function () {
{#                        alert($(this).attr('id'))#}
{#                        document.getElementById("student_id").value = $(this).attr('id')#}

                        $('#myModal').modal('toggle');
                        $('#myModal').modal('show');
                });

            $('#submit2').click(function () {
                    reason = document.getElementById("reject_reason").value
                    if (reason == '') {
                        alert("Please Enter Rejection Reason.")
                        return false;
                    }
{#                    #}
{##}
{#                    else if (/[^a-zA-Z\-\/ ]+/.test(reason)) {#}
{#                        var $messageDiv = $('#message'); // get the reference of the div#}
{#                        $messageDiv.show().html('<span style="color:red">Please enter Only Characters</span>');// show and set the message#}
{#                        setTimeout(function () {#}
{#                            $messageDiv.hide().html('');#}
{#                        }, 3000);#}
                        {#                        #}
                        {#                        alert('Input characters only');#}
                        {#                        return false;#}
{#                    }#}

                    else if ((reason.trim().length) == 0) {
{#                        var $messageDiv = $('#message'); // get the reference of the div#}
{#                        $messageDiv.show().html('<span style="color:red">Please enter Only Characters</span>');// show and set the message#}
{#                        setTimeout(function () {#}
{#                            $messageDiv.hide().html('');#}
{#                        }, 3000);#}

                                                alert('Only Space Is Not Allowed.');
                                                return false;
                    }
                    else {
                        $('#formfield2').submit();
                    }
                });

            //YOUR JQUERY CODE

            function validateEmail(sEmail) {
                var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

                if (filter.test(sEmail)) {
                    return true;
                }
                else {
                    return false;
                }
            }


            var dateControler = {
                currentDate: null
            }

            $(document).on("blur", "#id_birth_date", function (event, ui) {
                var now = new Date();
                now.setDate(now.getDate() - 1)
                var selectedDate = new Date($(this).val());

                if (selectedDate > now) {
                    $(this).val(dateControler.currentDate)
                    alert("Invalid Date..!")
                } else {
                    dateControler.currentDate = $(this).val();
                }

                var str = $("#id_birth_date").val();
                var sp_id = str.split("-")[0];
                if (parseInt(sp_id) < 1900) {
                    alert("Birth Year Must Be Greater or Equal Than 1900")
                    $("#id_birth_date").val('')
{#                    return false;#}
                }
            });

            $(document).ready(function () {

                $('#id_contact_num')

                    .on('keypress', function (e) {
                        {#                        alert("dd")#}
                        var key = e.charCode || e.keyCode || 0;
                        var phone = $(this);
                        if (phone.val().length === 0) {
                            phone.val(phone.val() + '+');
                        }
                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9) {
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + '');
                            }
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + ' ');
                            }

                            if (phone.val().length >= 16) {
                                phone.val(phone.val().slice(0, 16));
                            }
                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                            key == 9 ||
                            key == 46 ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    })

                    .on('focus', function () {
                        phone = $(this);

                        if (phone.val().length === 0) {
                            phone.val('+');
                        } else {
                            var val = phone.val();
                            phone.val('').val(val); // Ensure cursor remains at the end
                        }
                    })

                    .on('blur', function () {
                        $phone = $(this);

                        if ($phone.val() === '+') {
                            $phone.val('');
                        }
                    });

                $(".con_num")

                    .on('keypress', function (e) {
                        {#                        alert("dd")#}
                        var key = e.charCode || e.keyCode || 0;
                        var phone = $(this);
                        if (phone.val().length === 0) {
                            phone.val(phone.val() + '+');
                        }
                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9) {
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + '');
                            }
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + ' ');
                            }

                            if (phone.val().length >= 16) {
                                phone.val(phone.val().slice(0, 16));
                            }
                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                            key == 9 ||
                            key == 46 ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    })

                    .on('focus', function () {
                        phone = $(this);

                        if (phone.val().length === 0) {
                            phone.val('+');
                        } else {
                            var val = phone.val();
                            phone.val('').val(val); // Ensure cursor remains at the end
                        }
                    })

                    .on('blur', function () {
                        $phone = $(this);

                        if ($phone.val() === '+') {
                            $phone.val('');
                        }
                    });

                var flag = false;
                var flag1 = false;
                var flag2 = false;
                var flag3 = false;
                var flag4 = false;
                $("#id_street").on("change", function () {
                    var str = $("#id_street").val().length;
                    if (parseInt(str) > 255) {
                        alert("Street Length Should Not Be More Than 255 Char.")
                        $("#id_street").css('border-color', 'red');
                        flag = true;
                        return false;
                    }
                    $("#id_street").css('border-color', '');
                    flag = false;
                });

                $("#id_state").on("change", function () {
                    var str = $("#id_state").val().length;
                    if (parseInt(str) > 80) {
                        alert("State Length Should Not Be More Than 80 Char.")
                        flag1 = true;
                        $("#id_state").css('border-color', 'red');
                        return false;
                    }
                    $("#id_state").css('border-color', '');
                    flag1 = false;
                });

                $("#id_city").on("change", function () {
                    var str = $("#id_city").val().length;
                    if (parseInt(str) > 80) {
                        alert("City Length Should Not Be More Than 80 Char.")
                        flag2 = true;
                        $("#id_city").css('border-color', 'red');
                        return false;
                    }
                    $("#id_city").css('border-color', '');
                    flag2 = false;
                });

                $("#id_postcode").on("change", function () {
                    var str = $("#id_postcode").val().length;
                    if (parseInt(str) > 8) {
                        alert("Postcode Length Should Not Be More Than 8 Char.")
                        flag3 = true;
                        $("#id_postcode").css('border-color', 'red');
                        return false;
                    }
                    $("#id_postcode").css('border-color', '');
                    flag3 = false;
                });

                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();
                    $('#id_gender_1').prop("disabled", false);
                    $('#id_gender_0').prop("disabled", false);

                    $('.form-control').prop("disabled", false);
                    $('#id_email').prop("disabled", true);
                    $('#id_code').prop("disabled", true);
                    $('#id_email').prop("disabled", false);
                });


                (function ($) {
                    $.extend({
                        toDictionary: function (query) {
                            var parms = {};
                            var items = query.split("&"); // split
                            for (var i = 0; i < items.length; i++) {
                                var values = items[i].split("=");
                                var key = decodeURIComponent(values.shift());
                                var value = values.join("=")
                                parms[key] = decodeURIComponent(value);
                            }
                            return (parms);
                        }
                    })
                })(jQuery);


                (function ($) {
                    $.fn.serializeFormJSON = function () {
                        var o = [];
                        $(this).find('tr').each(function () {
                            var elements = $(this).find('input, textarea, select,checkbox,button')
                            console.log($(this));
                            if (elements.size() > 0) {
                                var serialized = $(this).find('input, textarea, select,checkbox,button').serialize();
                                var item = $.toDictionary(serialized);
                                o.push(item);
                            }
                        });
                        return o;
                    };
                })(jQuery);


                $("#update_other_btn").click(function (event) {
                    event.preventDefault();

                    var rawData = $('#update_other_form').serializeFormJSON();
                    console.log(rawData);
                    var data = JSON.stringify(rawData);
                    console.log(data);

                    var url = '/school/update_parent_other_details/';
                    update_parent_other_details(url, data)

                    window.location.href = "/school/view_parent/";

                });


                $('#update').click(function () {

                    if ((flag == true) || (flag1 == true) || (flag2 == true) || (flag3 == true)) {
                        alert("Validation Error. Please Fill Proper Data.")
                        return false;
                    }

                    var sEmail = $('#id_email_id').val();
                    if (!validateEmail(sEmail) && (!sEmail == 0)) {
                        alert('Invalid Email Address');
                        return false;

                    }

                    var Sec_Parent_Email = $('#id_sec_parent_email').val();
                    if (!validateEmail(Sec_Parent_Email) && (!Sec_Parent_Email == 0)) {
                        alert('Invalid Secondary Parent Email Address');
                        return false;

                    }


                    var id_contact_num = jQuery.trim($("#id_contact_num").val());
                    if ((id_contact_num.length !== 0) && (id_contact_num.length < 10)) {
                        alert('Please put 10 digit mobile number');
                        // focuses the current field.
                        return false; // stops the execution.
                    }


                });

            });

        }

        function update_parent_other_details(url, data) {


            $.ajax({
                url: url,
                type: "POST",
                data: {
                    table: data,

                    'csrfmiddlewaretoken': '{{ csrf_token }}',


                },
            })

                .done(
                    function (data) {


                    });
        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>

{% endblock %}



{% block content %}
    <form action="{% url 'registration:new_approve_parent_details' %}" id="form_sample_1" class="form-horizontal" method="POST"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">


            <div class="page-bar" style="margin-bottom: 1px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'registration:home' %}">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>

                        <a href="{% url 'registration:approve_request_tile' %}"> Approve Reject Tile </a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>

                        <a href="{% url 'registration:approve_parent_list' %}">View Parent List</a>
                        <i class="fa fa-angle-right"></i>
                    </li>


                    <li>
                        <span> Edit-Delete Parent </span>
                    </li>
                </ul>

            </div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endfor %}



            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Parent Details</span>
                    </div>


                </div>
                <div class="portlet-body">
                    <div class="col-md-offset-3 col-md-9">

{#                        <button type="button" class="btn green" id="edit">Edit</button>#}
                        <button type="submit" id="update" class="btn green" >Approve</button>
                        <button type="button" class="reject btn red" data-toggle="modal" data-target="#myModal1">Reject</button>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">


                        <div class="form-body">
                            <input type="hidden" value="{{ parent_detail.user.id }}" name="parent_id"/>
                            <input type="hidden" value="{{ stu_rec.id }}" name="parent_rec_id"/>


                            <div height="140" width="140" id="PreviewPicture"></div>
                            <input type="hidden" name="profile_pic" id="setPic">
                            <input id="id_photo"   name="photo" type="file"
                               value="{{ stu_rec.photo }}" style="margin-left: 35px;" disabled>






                            <div class="row">
                            {% if old_student_rec.user.first_name == stu_rec.first_name %}
                                <div class="">
                                    <label class="col-md-2 control-label"> First Name:

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only ' maxlength='255'
                                               value="{{ stu_rec.first_name }}" class="form-control"
                                               id="id_first_name" name="first_name" type="text" required="" disabled>
                                    </div>
                                </div>
                            {% else %}  <div class="">
                                    <label class="col-md-2 control-label"> First Name:

                                    </label>
                                    <div class="col-md-4">
                                        <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only ' maxlength='255'
                                               value="{{ stu_rec.first_name }}" class="form-control"
                                               id="id_first_name" name="first_name" type="text" required="" disabled>
                                    </div>
                                </div>
                            {% endif %}
                            {% if old_student_rec.user.last_name == stu_rec.last_name %}

                                <div class="">

                                    <label class="col-md-2 control-label"> Middle Name:

                                    </label>
                                    <div class="col-md-4">
{#                                        {% if stu_rec.middle_name %}#}
                                            <input autocomplete="off" pattern='[A-Za-z ]+' maxlength='255'
                                                   title='Enter Characters Only ' class="form-control"
                                                   value="{{ stu_rec.middle_name }}" id="id_middle_name"
                                                   name="middle_name" type="text" required="" disabled> </div>
{#                                        {% else %}#}
{#                                            <input autocomplete="off" pattern='[A-Za-z ]+' maxlength='255'#}
{#                                                   title='Enter Characters Only ' class="form-control" value=""#}
{#                                                   id="id_middle_name" name="middle_name" type="text" required=""#}
{#                                                   disabled> </div>#}
{#                                        {% endif %}#}
                            </div>
                            {% else %}
                             <div class="">

                                    <label class="col-md-2 control-label"> Middle Name:

                                    </label>
                                    <div class="col-md-4">
{#                                        {% if stu_rec.middle_name %}#}
                                            <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' maxlength='255'
                                                   title='Enter Characters Only ' class="form-control"
                                                   value="{{ stu_rec.middle_name }}" id="id_middle_name"
                                                   name="middle_name" type="text" required="" disabled> </div>
{#                                        {% else %}#}
{#                                            <input autocomplete="off" pattern='[A-Za-z ]+' maxlength='255'#}
{#                                                   title='Enter Characters Only ' class="form-control" value=""#}
{#                                                   id="id_middle_name" name="middle_name" type="text" required=""#}
{#                                                   disabled> </div>#}
{#                                        {% endif %}#}
                            </div>
                            {% endif %}

                        </div>


                        <div class="row">
                        {% if old_student_rec.user.last_name == stu_rec.last_name %}
                            <div class="">
                                <label class="col-md-2 control-label">Last Name:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only' maxlength='255'
                                           class="form-control" value="{{ stu_rec.last_name }}"
                                           id="id_last_name" name="last_name" type="text" required="" disabled></div>
                            </div>
                            {% else %}
                             <div class="">
                                <label class="col-md-2 control-label">Last Name:

                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only' maxlength='255'
                                           class="form-control" value="{{ stu_rec.last_name }}"
                                           id="id_last_name" name="last_name" type="text" required="" disabled></div>
                            </div>

                            {% endif %}
                            {% if old_student_rec.contact_num == stu_rec.contact_num %}

                            <div class="">
                                <label class="col-md-2 control-label">Contact No:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" value="{{ stu_rec.contact_num }}" placeholder="+XXX XXXXXXXXX"
                                           onkeypress="return isNumber(event);" maxlength="16" class="form-control"
                                           id="id_contact_num" name="contact_num" type="text" required="" disabled>
                                </div>
                            </div>
                        {% else %}
                         <div class="">
                                <label class="col-md-2 control-label">Contact No:

                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" value="{{ stu_rec.contact_num }}" placeholder="+XXX XXXXXXXXX"
                                           onkeypress="return isNumber(event);" maxlength="16" class="form-control"
                                           id="id_contact_num" name="contact_num" type="text" required="" disabled>
                                </div>
                            </div>
                        {% endif %}

                        </div>


                        <div class="row">
                        {% if old_student_rec.birth_date == stu_rec.birth_date %}
                            <div class="">
                                <label class="col-md-2 control-label">Birth Date:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" class="form-control" max="9999-12-31"
                                           value="{{ stu_rec.birth_date }}" id="id_birth_date" name="birth_date"
                                           type="date" required="" disabled></div>
                            </div>
                        {% else %}

                        <div class="">
                                <label class="col-md-2 control-label">Birth Date:

                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" class="form-control" max="9999-12-31"
                                           value="{{ stu_rec.birth_date }}" id="id_birth_date" name="birth_date"
                                           type="date" required="" disabled></div>
                            </div>

                        {% endif %}

                            {% if old_student_rec.gender == stu_rec.gender %}

                            <div class="">
                                <label class="col-md-2 control-label">Gender:

                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 3px;">
                                    <ul id="id_gender">
                                        <li><label for="id_gender_0"><input id="id_gender_0" name="gender" type="radio"
                                                                            value="False" {{ male }} required=""
                                                                            disabled> Male</label></li>
                                        <li><label for="id_gender_1"><input id="id_gender_1" name="gender" type="radio"
                                                                            value="True" {{ female }} required=""
                                                                            disabled> Female</label></li>
                                    </ul>
                                </div>
                            </div>

                            {% else %}
                              <div class="">
                                <label style="color: lightskyblue" class="col-md-2 control-label">Gender:

                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 3px;">
                                    <ul id="id_gender">
                                        <li><label for="id_gender_0"><input id="id_gender_0" name="gender" type="radio"
                                                                            value="False" {{ male }} required=""
                                                                            disabled> Male</label></li>
                                        <li><label for="id_gender_1"><input id="id_gender_1" name="gender" type="radio"
                                                                            value="True" {{ female }} required=""
                                                                            disabled> Female</label></li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}


                        </div>

                        <div class="row">

                            {% if old_student_rec.user.email == stu_rec.email %}
                            <div class="">
                                <label class="col-md-2 control-label"> Email:

                                </label>
                                <div class="col-md-4">
                                    <input value="{{ stu_rec.email }}" name="email" type="text" hidden>
                                    <input autocomplete="off" class="form-control" maxlength='250' title="Enter valid email"
                                           value="{{ stu_rec.email }}" id="id_email" name="email" type="text"
                                           required="" disabled>
                                </div>
                            </div>
                            {% else %}
                             <div class="">
                                <label class="col-md-2 control-label"> Email:

                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" value="{{ stu_rec.email }}" name="email" type="text" hidden>
                                    <input style="background-color: lightskyblue" autocomplete="off" class="form-control" maxlength='250' title="Enter valid email"
                                           value="{{ stu_rec.email }}" id="id_email" name="email" type="text"
                                           required="" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if old_student_rec.street == stu_rec.street %}

                            <div class="">
                                <label class="col-md-2 control-label"> Street:

                                </label>
                                <div class="col-md-4">
                                    <textarea autocomplete="off" class="form-control" cols="40" id="id_street"
                                              maxlength="255" title="No Format Required"
                                              name="street" rows="2" value="{{ stu_rec.street }}" required=""
                                              disabled>{{ stu_rec.street }} </textarea>
                                </div>
                            </div>
                        {% else %}
                         <div class="">
                                <label class="col-md-2 control-label"> Street:

                                </label>
                                <div class="col-md-4">
                                    <textarea style="background-color: lightskyblue" autocomplete="off" class="form-control" cols="40" id="id_street"
                                              maxlength="255" title="No Format Required"
                                              name="street" rows="2" value="{{ stu_rec.street }}" required=""
                                              disabled>{{ stu_rec.street }} </textarea>
                                </div>
                            </div>
                        {% endif %}

                        </div>

                        <div class="row">
                            {% if old_student_rec.city == stu_rec.city %}
                            <div class="">
                                <label class="col-md-2 control-label">City:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           class="form-control" value="{{ stu_rec.city }}" id="id_city"
                                           name="city" type="text" required="" disabled></div>
                            </div>
                            {% else %}
                             <div class="">
                                <label class="col-md-2 control-label">City:

                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           class="form-control" value="{{ stu_rec.city }}" id="id_city"
                                           name="city" type="text" required="" disabled></div>
                            </div>
                            {% endif %}
                            {% if old_student_rec.state == stu_rec.state %}
                            <div class="">
                                <label class="col-md-2 control-label">State:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           class="form-control" value="{{ stu_rec.state }}" id="id_state"
                                           name="state" type="text" required="" disabled></div>
                            </div>
                           {% else %}
                         <div class="">
                                <label class="col-md-2 control-label">State:

                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           class="form-control" value="{{ stu_rec.state }}" id="id_state"
                                           name="state" type="text" required="" disabled></div>
                            </div>
                        {% endif %}

                        </div>

                        <div class="row">
                            {% if old_student_rec.postcode == stu_rec.postcode %}
                            <div class="">
                                <label class="col-md-2 control-label">Post Code:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[0-9 ]+' title='Enter Numbers Only '
                                           maxlength="8"
                                           onkeypress="return isNumber(event);"
                                           class="form-control" value="{{ stu_rec.postcode }}" id="id_postcode"
                                           name="postcode" type="text" required="" disabled></div>
                            </div>
                            {% else %}
                             <div class="">
                                <label class="col-md-2 control-label">Post Code:

                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[0-9 ]+' title='Enter Numbers Only '
                                           maxlength="8"
                                           onkeypress="return isNumber(event);"
                                           class="form-control" value="{{ stu_rec.postcode }}" id="id_postcode"
                                           name="postcode" type="text" required="" disabled></div>
                            </div>
                            {% endif %}

                            <div class="">
                                <label class="col-md-2 control-label">Parent Code:

                                </label>
                                <div class="col-md-4">
                                    <input  autocomplete="off" class="form-control"
                                           value="{{ parent_code }}" id="id_code" name="code" type="text"
                                           readonly></div>
                            </div>
                        </div>
                        <br>
                        <!-- END FORM-->
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- END VALIDATION STATES-->
        </div>

{#        <div class="portlet box blue">#}
{#            <div class="portlet-title">#}
{#                <ul class="nav nav-tabs" style="margin-top: -30px;">#}
{#                    <li class="">#}
{#                        <a href="#portlet_tab2" data-toggle="tab" aria-expanded="false">Other Details </a>#}
{#                    </li>#}
{#                    <li class="">#}
{#                        <a href="#portlet_tab3" data-toggle="tab" aria-expanded="false"> Student Details </a>#}
{#                    </li>#}
{##}
{#                </ul>#}
{#            </div>#}
{#            <div class="portlet-body">#}
{#                <div class="tab-content">#}
{##}
{##}
{#                    <div class="tab-pane" id="portlet_tab3">#}
{#                        <div class="form-body">#}
{##}
{#                            <table class="table table-striped table-bordered table-hover table-checkable order-column"#}
{#                                   id="sample_1">#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th style="display:none;">Sr No</th>#}
{#                                    <th> Enrollment No</th>#}
{#                                    <th> Email</th>#}
{#                                    <th> Student Name</th>#}
{##}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                {% for student in student_list %}#}
{#                                    <tr class="odd gradeX">#}
{#                                    <td Style="display: none;">{{ forloop.counter }}</td>#}
{#                                    <td>{{ student.student_code }}</td>#}
{#                                    <td>{{ student.email }}</td>#}
{#                                    <td>{{ student.first_name }}</td>#}
{##}
{#                                {% endfor %}#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{##}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
{##}
{#                    <div class="tab-pane active" id="portlet_tab2">#}
{#                        <div class="form-body">#}
{##}
{#                            <table class="table table-striped table-bordered table-hover table-checkable order-column"#}
{#                                   id="sample_1">#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th> Sr No</th>#}
{#                                    <th> Name</th>#}
{#                                    <th> Email</th>#}
{#                                    <th> Contact no</th>#}
{#                                    <th> Type</th>#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                {% for secondary_parent in parent_detail.secondary_parent_ids.all %}#}
{#                                    <tr class="odd gradeX">#}
{#                                    <td>{{ forloop.counter }}</td>#}
{##}
{#                                    <td style="display:none;"><input type="text" name="id"#}
{#                                                                     value='{{ secondary_parent.id }}'></td>#}
{#                                    <td><input type="text" class="form-control " id="id_sec_parent_name"#}
{#                                               name="secondary_parent_{{ secondary_parent.sec_parent_name }}"#}
{#                                               value='{{ secondary_parent.sec_parent_name }}' disabled></td>#}
{#                                    <td><input type="text" class="form-control" id="id_sec_parent_email"#}
{#                                               name="sec_parent_mail_{{ secondary_parent.sec_parent_mail }}"#}
{#                                               value='{{ secondary_parent.sec_parent_mail }}' disabled></td>#}
{#                                    <td><input type="text" class="form-control con_num" maxlength="16" onkeypress="return isNumber(event);"#}
{#                                               name="sec_parent_contact_{{ secondary_parent.sec_parent_contact }}" placeholder="+XXX XXXXXXXXX"#}
{#                                               value='{{ secondary_parent.sec_parent_contact }}' disabled></td>#}
{##}
{#                                    <td>#}
{##}
{#                                        <select class="selectpicker"#}
{#                                                name="sec_parent_type_{{ secondary_parent.type }}_{{ forloop.counter }} "#}
{#                                                disabled>#}
{##}
{#                                            <!-- <option value="Guardian">Guardian</option>#}
{#                            <option  value="Parent">Parent</option> #}
{#                            #}
{#                            <option value="{{org.id}}"#}
{#						       {% if org == current_org %}selected="selected"{% endif %}>#}
{#						       {{org.name|capfirst}}#}
{#						   </option> -->#}
{##}
{##}
{#                                            {% if secondary_parent.type == 'Parent' %}#}
{#                                                <option value="Parent">{{ secondary_parent.type }}</option>#}
{#                                                <option value="Guardian">Guardian</option>#}
{#                                            {% else %}#}
{#                                                <option value="Guardian">{{ secondary_parent.type }}</option>#}
{#                                                <option value="Parent">Parent</option>#}
{#                                            {% endif %}#}
{#                                        </select>#}
{#                                    </td>#}
{##}
{#                                {% endfor %}#}
{#                                </tr>#}
{##}
{#                                </tbody>#}
{#                            </table>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </form>

{#    <div id="myModal" class="modal fade" role="dialog">#}
{#        <div class="modal-dialog">#}
{#            <!-- Modal content-->#}
{#            <form action="{% url 'registration:delete_parent' %}" method="post"#}
{#                  id="save">#}
{#                {% csrf_token %}#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>#}
{#                        <h4 class="modal-title">Confirmation</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{##}
{#                        <h4 class="modal-title">Are you sure you want to delete Parent Details?</h4>#}
{#                        <input type="hidden" value="{{ parent_detail.id }}" name="parent_id"/>#}
{##}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>#}
{#                        <button type="submit" class=" btn red btn-outline sbold">Delete</button>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

         <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <form method="post" action="{% url 'registration:new_reject_parent_details' %}" id="formfield2">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="hidden" name="strikeId" id="strikeId">
                            <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Rejection Reason</h4>
                        </div>
                        <div id="message" style="display:none;">

                        </div>

                        <div class="modal-body">
                            <label>Reason:</label><br>
{#                            <input hidden name="student" id="student_id">#}
                            <input type="hidden" value="{{ stu_rec.id }}" name="parent_rec_id" id="parent_rec_id">
                            <textarea rows="4" cols="25" name="reject_reason" id="reject_reason"></textarea>
                        </div>
                        <div class=" modal-footer">
                            <button id="close1" type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <button type="button" value="Submit" class="btn btn-default" id="submit2">Ok
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


{% endblock %}
<!-- BEGIN CORE PLUGINS -->
