{% extends "parent_portal_base.html" %}
{% load staticfiles %}
{% block styleBlock %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/emailvalidation.js"></script>
    <script src="{% static 'js/webcam.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/cropper.js' %}" type="text/javascript"></script>

    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }

        input[type=file] {
            color: transparent;
        }

        li {
            display: inline;

        }

        #PreviewPicture {

            background-repeat: no-repeat;
            border: 0;
            display: inline-block;
            background-size: 100%;
        }

        #PreviewPicture1 {

            width: 180px;
            height: 180px;
            background-repeat: no-repeat;
            background-size: 100%;

        }

        .col-md-offset-3 {
            margin-left: 1%;
        }

        #gender {
            margin-top: -80px;
            margin-left: 200px
        }

        .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: #eef1f5;
        }

        .portlet.box.blue {
            border: 1px solid #eef1f5;
            border-top: 0;
        }

        .portlet > .portlet-title > .nav-tabs {
            background: 0 0;
            margin: 1px 0 0;
            float: left;
            display: inline-block;
            border: 0;
        }

        .portlet > .portlet-title > .nav-tabs > li > a {
            background: 0 0;
            margin: 5px 0 0 1px;
            border: 0;
            padding: 8px 10px;
            color: #17C4BB;
        }

        .portlet.box > .portlet-body {
            background-color: #fff;
            padding: 15px;
            margin-left: 1%;
            width: 98%;
        }

        .portlet.blue, .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: eef1f5;
        }

        #id_gender {
            list-style: none;
        }

        .disabled {

            background: #eef1f5;
            opacity: 1;

        }

        .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
            position: absolute;
            display: inline-block;
            left: 270px;
            margin-top: 5px;
        }

        body {
            font-family: Helvetica, sans-serif;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

        form > input {
            margin-right: 15px;
        }

        #results {
            float: right;
            margin: 20px;
            padding: 20px;
            border: 1px solid;
            background: #ccc;
        }


    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>


        function setup() {


            $("#PreviewPicture1").css("background-image", '');
            $("#PreviewPicture1").css("background-image", "url()");
            $("#id_photo").val('');
            $("#mydata").val('');

            $("#clear").hide();
            Webcam.reset();
            $("#PreviewPicture").css("background-image", "url()");
            $("#id_photo").val('');
            $("#PreviewPicture").hide();
            $("#PreviewPicture1").show();
            Webcam.attach('#PreviewPicture1');
            $("#take_snapshot_button").show();
            $("#setup_button").hide();


        }

        function take_snapshot() {
            Webcam.snap(function (data_uri) {
                var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
                document.getElementById('mydata').value = raw_image_data;
                $("#PreviewPicture1").css("background-image", "url(" + data_uri + ")");
                Webcam.reset();
                $("#take_snapshot_button").hide();
                $("#setup_button").show();
                $("#clear").show();

            });
        }

        window.onload = function () {


                        $(".reject").click(function () {
{#                        alert($(this).attr('id'))#}
{#                        document.getElementById("student_id").value = $(this).attr('id')#}

                        $('#myModal').modal('toggle');
                        $('#myModal').modal('show');
                });

            $('#submit2').click(function () {
                    reason = document.getElementById("reject_reason").value
                    if (reason == '') {
                        alert("Please Enter Rejection Reason.")
                        return false;
                    }
{#                    #}
{##}
{#                    else if (/[^a-zA-Z\-\/ ]+/.test(reason)) {#}
{#                        var $messageDiv = $('#message'); // get the reference of the div#}
{#                        $messageDiv.show().html('<span style="color:red">Please enter Only Characters</span>');// show and set the message#}
{#                        setTimeout(function () {#}
{#                            $messageDiv.hide().html('');#}
{#                        }, 3000);#}
                        {#                        #}
                        {#                        alert('Input characters only');#}
                        {#                        return false;#}
{#                    }#}

                    else if ((reason.trim().length) == 0) {
{#                        var $messageDiv = $('#message'); // get the reference of the div#}
{#                        $messageDiv.show().html('<span style="color:red">Please enter Only Characters</span>');// show and set the message#}
{#                        setTimeout(function () {#}
{#                            $messageDiv.hide().html('');#}
{#                        }, 3000);#}

                                                alert('Only Space Is Not Allowed.');
                                                return false;
                    }
                    else {
                        $('#formfield2').submit();
                    }
                });


            function validateEmail(sEmail) {
                var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

                if (filter.test(sEmail)) {
                    return true;
                }
                else {
                    return false;
                }
            }


            var dateControler = {
                currentDate: null
            }

            $(document).on("blur", "#id_birth_date", function (event, ui) {
                var now = new Date();
                now.setDate(now.getDate() - 1)
                var selectedDate = new Date($(this).val());

                if (selectedDate > now) {
                    $(this).val(dateControler.currentDate)
                    alert("Invalid Date..!")
                } else {
                    dateControler.currentDate = $(this).val();
                }


                var str = $("#id_birth_date").val();
                var sp_id = str.split("-")[0];
                if (parseInt(sp_id) < 1900) {
                    alert("Birth Year Must Be Greater or Equal Than 1900")
                    $("#id_birth_date").val('')
                    {#                    return false;#}
                }
            });


            var joiningDateControler = {
                currentDate: null
            }

            $(document).on("blur", "#id_joining_date", function (event, ui) {
                var now = new Date();
                now.setDate(now.getDate() - 1)
                var selectedDate = new Date($(this).val());


                if (selectedDate < now) {
                    $(this).val(joiningDateControler.currentDate)
                    alert("Invalid Date..!")
                } else {
                    joiningDateControler.currentDate = $(this).val();
                }

                var str = $("#id_joining_date").val();
                var sp_id = str.split("-")[0];
                if (parseInt(sp_id) < 1900) {
                    alert("Invalid Joining Date..!.")
                    $("#id_joining_date").val('')
                    {#                    return false;#}
                }
            });

            //YOUR JQUERY CODE
            $(document).ready(function () {

                var flag = false;
                var flag1 = false;
                var flag2 = false;
                var flag3 = false;
                var flag4 = false;
                $("#id_street").on("change", function () {
                    var str = $("#id_street").val().length;
                    if (parseInt(str) > 255) {
                        alert("Street Length Should Not Be More Than 255 Char.")
                        $("#id_street").css('border-color', 'red');
                        flag = true;
                        return false;
                    }
                    $("#id_street").css('border-color', '');
                    flag = false;
                });

                $("#id_state").on("change", function () {
                    var str = $("#id_state").val().length;
                    if (parseInt(str) > 80) {
                        alert("State Length Should Not Be More Than 80 Char.")
                        flag1 = true;
                        $("#id_state").css('border-color', 'red');
                        return false;
                    }
                    $("#id_state").css('border-color', '');
                    flag1 = false;
                });

                $("#id_city").on("change", function () {
                    var str = $("#id_city").val().length;
                    if (parseInt(str) > 80) {
                        alert("City Length Should Not Be More Than 80 Char.")
                        flag2 = true;
                        $("#id_city").css('border-color', 'red');
                        return false;
                    }
                    $("#id_city").css('border-color', '');
                    flag2 = false;
                });

                {#                $("#id_birth_date").on("change", function () {#}
                {#                    var TodayDate = new Date();#}
                {#                    var id_birth_date = jQuery.trim($("#id_birth_date").val());#}
                {#                    var str = $("#id_birth_date").val();#}
                {#                    var sp_id = str.split("-")[0];#}
                {#                    if (parseInt(sp_id) < 1990) {#}
                {#                        alert("Birth Year Must Be Greater or Equal Than 1900")#}
                {#                        $("#id_birth_date").val('')#}
                {#                        return false;#}
                {#                    }#}
                {#                });#}

                $("#id_postcode").on("change", function () {
                    var str = $("#id_postcode").val().length;
                    if (parseInt(str) > 8) {
                        alert("Postcode Length Should Not Be More Than 8 Char.")
                        flag3 = true;
                        $("#id_postcode").css('border-color', 'red');
                        return false;
                    }
                    $("#id_postcode").css('border-color', '');
                    flag3 = false;
                });
                {#                console.log("hiiii")#}
                $('#clear').click(function () {
                    $("#PreviewPicture1").hide();
                    setup();
                    //$('#PreviewPicture').attr('src', '');
                    $("#PreviewPicture").css("background-image", '');
                    $("#id_photo").val('');
                    $("#mydata").val('');
                    $("#clear").hide();
                });

                $("#id_parent_name").change(function () {

                    parent_name = document.getElementById("id_parent_name").value

                    console.log(parent_name)
                    var url = '/school/viewParentEmail/';
                    viewParentEmail(url, parent_name)

                });


                $("#edit").click(function (event) {

                    $("#update").show();
                    $("#edit").hide();

                    $('#id_photo').prop("disabled", false);
                    $('#id_gender_1').prop("disabled", false);
                    $('#id_gender_0').prop("disabled", false);

                    $('#id_emirati_0').prop("disabled", false);
                    $('#id_emirati_1').prop("disabled", false);

                    $('#id_select_0').prop("disabled", false);
                    $('#id_select_1').prop("disabled", false);


                    $('#id_sen_0').prop("disabled", false);
                    $('#id_sen_1').prop("disabled", false);


                    $('#id_transport_0').prop("disabled", false);
                    $('#id_transport_1').prop("disabled", false);



                    $('.form-control').prop("disabled", false);
                    $('#id_email').prop("disabled", false);
                    $('button').removeClass('disabled');
                    $('#id_student_code').prop("disabled", true);
                    $('#id_class_name').prop("disabled", true);
                    $('#id_section_name').prop("disabled", true);
                    $('#setup_button').prop("disabled", false);
                    $('#take_snapshot_button').prop("disabled", false)
                    $('#id_joining_date').prop("disabled", true);
                    $('#id_house_name').prop("disabled", true);
                    $('.medical').prop("disabled", true);

                    $('#clear').prop("disabled", false);
                });
                class_name = document.getElementById("id_class_name").value
                var url = '/school/viewSubject/';


                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name
                    },
                })

                    .done(
                        function (data) {
                            console.log(data);

                            for (var i = 0; i < data.length; i++) {

                                //form-0-amenities_quantity


                                $(".sub").append('<tr><td>' + "<input type='checkbox' name = 'check' value =" + data[i].id + ">" + '</td><td>' + data[i].subject + '</td><td>' + data[i].code + '</td></tr>');
                            }


                        });


                var image = $("#id_photo").attr('value');
                console.log(image)
                var Val = ("../media/".concat(image))

                console.log(Val)

                $("#PreviewPicture").css("background-image", "url(" + Val + ")")

                $("#id_class_name").click(function () {
                    $('select:first-child').css({display: none})

                });
                $("#id_photo").on("change", function () {
                    cropper.start(document.getElementById("PreviewPicture"), 1);
                    var file = document.getElementById("id_photo").files[0];
                    // get a reference to the selected file
                    var reader = new FileReader(); // create a file reader
                    // set an onload function to show the image in cropper once it has been loaded
                    reader.onload = function (event) {
                        var data = event.target.result;
                        cropper.showImage(data); // hand this to cropper, it will be displayed
                    };
                    url = reader.readAsDataURL(file);
                    $("#id_start_cropping").show();
                    $("#id_crop").show();
                    $("#id_restore").show();

                    Webcam.reset();
                    $("#PreviewPicture").show();
                    $("#PreviewPicture1").css("background-image", '');
                    $("#PreviewPicture1").hide();
                    $("#PreviewPicture1").css("background-image", "url()");
                    $("#clear").hide();


                    $("#setup_button").show();
                    $("#take_snapshot_button").hide();
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];// Check if File is selected, or no FileReader support
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        console.log('if part');
                        //$("#id_photo").val('');
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $("#PreviewPicture").css("background-image", '');
                        $("#id_photo").val('');
                        $("#mydata").val('');


                        return false;

                    }

                    else {

                        console.log('else part');   //  Allow only image upload
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () { // set uploaded image data as background of div
                            $("#PreviewPicture").css("background-image", "url(" + this.result + ")");
                        }

                    }
                });


                $("#id_academic_year").change(function () {

                    var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });

                $("#id_class_name").change(function () {
                    var class_name = document.getElementById("id_class_name").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });

                $("#id_crop").click(function () {
                    var crop_data = cropper.getCroppedImageSrc();
                    {#             alert(crop_data);#}
                    {#              var xyz = document.getElementById("id_photo").value("uuu");#}
                    {#              alert("----"+xyz);#}

                    {#              var aa = $('#id_photo').attr('value',crop_data);#}
                    {#             alert("aa--"+$('#id_photo').val());#}

                    $('#id_photo_val').val(crop_data);
                    {#             alert("aa--"+$('#id_photo_val').val());#}
                    {#                  alert("-------"+$('#id_crop').val());#}

                });

                $("#setup_button").click(function () {
                    $("#id_start_cropping").hide();
                    $("#id_crop").hide();
                    $("#id_restore").hide();

                });

                $('#id_parent_mail').attr('readonly', true);
                $(document).ready(function (e) {
                    $('#update').click(function () {
                        if ((flag == true) || (flag1 == true) || (flag2 == true) || (flag3 == true)) {
                            alert("Validation Error. Please Fill Proper Data.")
                            return false;
                        }

                        var sEmail = $('#id_email').val();

                        {% comment %}if (!validateEmail(sEmail)) {
                            alert('Invalid Email Address');
                            return false;
                        }{% endcomment %}
                    });
                });


            });
        }


        function ViewSectionDetailStudent(url, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        $('#id_section').empty();
                        $('#id_section').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                        }


                    });


        }

        function viewParentEmail(url, parent_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    parent_name: parent_name
                },
            })

                .done(
                    function (data) {

                        $('#id_parent_mail').val(data);

                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })

                .done(
                    function (data) {
                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }

                        $('#id_class_name').prop("disabled", false);
                        $('#id_section_name').prop("disabled", false);


                    });


        }

        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                        }


                    });
        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

    </script>
{% endblock %}
{% block content %}




    <form action="{% url 'registration:new_approve_student_details' %}" id="form_sample_1" class="form-horizontal"
          method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">

            <div class="page-bar" style="margin-bottom: 1px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'registration:home' %}">Home</a>
                        <input id="roleid" type="hidden" value="{{ roleId }}">
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>

                        <a href="{% url 'registration:approve_request_tile' %}"> Parent Portal</a>
                        <i class="fa fa-angle-right"></i>

                    </li>
                    <li>

                        <a href="{% url 'registration:approve_student_list' %}"> Approve Student List</a>
                        <i class="fa fa-angle-right"></i>

                    </li>
                    <li>
                        <span> View Student</span>
                    </li>
                </ul>

            </div>


            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Student Details</span>
                    </div>


                </div>
                <div class="portlet-body">
                    <div class="col-md-offset-3 col-md-9">
{#                        <button type="button" class="btn green" id="edit">Edit</button>#}
                        <button type="submit" id="update" class="btn green" >Approve</button>
                        <button type="button" class="reject btn red" data-toggle="modal" data-target="#myModal1">Reject
                        </button>
                    </div>
                    <br><br>
                    <!-- BEGIN FORM-->
                    <div class="form-body">


                        <input type="hidden" value="{{ student_detail.id }}" name="student_id"/>


                        <div class="row">


                            <!--                                             <button type="button" id="clear" disabled><i class="glyphicon glyphicon-remove"></i></button>
                             --> <a hidden href="javascript:void(0);" id="clear"><span
                                class="glyphicon glyphicon-remove"></span></a>

                            <br>
                            <div class="">

                                <div class="col-md-4">

                                        <input type="hidden" value="{{ student_rec.student.id }}" name="student_rec_id" id="id_student_rec">
                                    <canvas height="180" width="180" id="PreviewPicture" name="PreviewPicture"></canvas>
                                    <div id="PreviewPicture1" hidden></div>
                                    <input id="id_photo_val" type="hidden" name="id_photo_val" value=""/>
                                    <br>
                                    <input id="id_photo" name="photo" type="file" value="{{ student_rec.photo }}"
                                           disabled>
                                    <input id="mydata" type="hidden" name="mydata" value=""/>
                                    <br>
                                    <input id="setup_button" type="button" value="Access Camera" onClick="setup(); "
                                           disabled style="position: absolute; margin-top: -43px; margin-left: 100px;  ">
                                    <input id="take_snapshot_button" hidden type="button" value="Take Snapshot"
                                           onClick="take_snapshot(); " disabled
                                           style="position: absolute; margin-top: -41px; margin-left: 90px;">

                                    <input type="button" hidden id="id_start_cropping" onclick="cropper.startCropping()"
                                           value="Start cropping"/>
                                    <input type="button" hidden id="id_crop" value="Crop"/>
                                    <input type="button" hidden id="id_restore" onclick="cropper.restore()"
                                           value="Restore"/>


                                </div>
                            </div>
                        </div>


                        <div class="row">

                        {% if old_student_rec.first_name == student_rec.first_name %}
                            <div class="">
                                <label class="col-md-2 control-label">First Name:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_rec.first_name }}" class="form-control"
                                           id="id_first_name" name="first_name" type="text" required="" disabled>
                                </div>
                            </div>
                        {% else %}
                             <div class="">
                                <label class="col-md-2 control-label">First Name:
                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_rec.first_name }}" class="form-control"
                                           id="id_first_name" name="first_name" type="text" required="" disabled>
                                </div>
                            </div>
                            {% endif %}

                        {% if old_student_rec.last_name == student_rec.last_name %}

                            <div class="">
                                <label class="col-md-2 control-label">Last Name:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_rec.last_name }}" class="form-control" id="id_last_name"
                                           name="last_name" type="text" disabled>
                                </div>
                            </div>

                        {% else %}
                         <div class="">
                                <label class="col-md-2 control-label">Last Name:
                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_rec.last_name }}" class="form-control" id="id_last_name"
                                           name="last_name" type="text" required="" disabled>
                                </div>
                            </div>
                        {% endif %}

                        </div>
                        <div class="row">
                            {% if old_student_rec.father_name.strip == student_rec.father_name %}

                            <div class="">
                                <label class="col-md-2 control-label">Father Name:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_rec.father_name }}" class="form-control"
                                           id="id_father_name" name="father_name" type="text" required="" disabled>
                                </div>
                            </div>

                            {% else %}
                               <div class="">
                                <label class="col-md-2 control-label">Father Name:
                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_rec.father_name }}" class="form-control"
                                           id="id_father_name" name="father_name" type="text" required="" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if old_student_rec.mother_name.strip == student_rec.mother_name %}

                            <div class="">
                                <label class="col-md-2 control-label">Mother Name:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_rec.mother_name }}" class="form-control"
                                           id="id_mother_name" name="mother_name" type="text" required="" disabled>
                                </div>
                            </div>
                        {% else %}
                                <div class="">
                                <label class="col-md-2 control-label">Mother Name:
                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_rec.mother_name }}" class="form-control"
                                           id="id_mother_name" name="mother_name" type="text" required="" disabled>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                        <div class="row">
                             {% if old_student_rec.email == student_rec.email %}

                                <div class="">
                                    <label class="col-md-2 control-label">Email :
                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" type="email" value=" {{ student_rec.email }}"
                                               maxlength='250'
                                               class="form-control" id="id_email" name="email" type="text" required=""
                                               disabled>
                                        <input autocomplete="off" type="hidden" value=" {{ student_rec.email }}"
                                               name="email">
                                    </div>
                                </div>
                            {% else %}
                                <div class="">
                                    <label class="col-md-2 control-label">Email :
                                    </label>
                                    <div class="col-md-4">
                                        <input style="background-color: lightskyblue" autocomplete="off" type="email" value=" {{ student_rec.email }}"
                                               maxlength='250'
                                               class="form-control" id="id_email" name="email" type="text" required=""
                                               disabled>
                                        <input autocomplete="off" type="hidden" value=" {{ student_rec.email }}"
                                               name="email">
                                    </div>
                                </div>
                            {% endif %}
                         {% if old_student_rec.birth_date == student_rec.birth_date %}
                            <div class="">
                                <label class="col-md-2 control-label">Birth Date:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" value="{{ student_rec.birth_date }}" max="9999-12-31"
                                           class="form-control" id="id_birth_date" name="birth_date" type="date"
                                           required="" disabled>
                                </div>
                            </div>
                            {% else %}
                             <div class="">
                                <label  class="col-md-2 control-label">Birth Date:
                                </label>
                                <div class="col-md-4">
                                    <input  style="background-color: lightskyblue" autocomplete="off" value="{{ student_rec.birth_date }}" max="9999-12-31"
                                           class="form-control" id="id_birth_date" name="birth_date" type="date"
                                           required="" disabled>
                                </div>
                            </div>
                            {% endif %}



                        </div>
                        <div class="row">
                         {% if old_student_rec.gender == student_rec.gender %}

                            <div class="">
                                <label class="col-md-2 control-label">Gender:
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                                    <ul id="id_gender">
                                        <li><label for="id_gender_0"><input  id="id_gender_0" name="gender" type="radio"
                                                                            value="Male" {{ male }} required disabled>
                                            Male</label>
                                        </li>
                                        <li><label for="id_gender_1"><input  id="id_gender_1" name="gender" type="radio"
                                                                            value="Female" {{ female }} required
                                                                            disabled> Female</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                         <div class="">
                                <label style="color: lightskyblue" class="col-md-2 control-label">Gender:
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                                    <ul id="id_gender">
                                        <li><label for="id_gender_0"><input style="border-color: green" id="id_gender_0" name="gender" type="radio"
                                                                            value="Male" {{ male }} required disabled>
                                            Male</label>
                                        </li>
                                        <li><label for="id_gender_1"><input style="border-color: green" id="id_gender_1" name="gender" type="radio"
                                                                            value="Female" {{ female }} required
                                                                            disabled> Female</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                            {% if old_student_rec.emirati == student_rec.emirati %}
                             <div class="">
                                <label  class="col-md-2 control-label" style="margin-left:39px;">Emirati:
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                                    <ul id="id_emirati">
                                        <li><label for="id_emirati_0"><input id="id_emirati_0" name="emirati" type="radio"
                                                                            value="yes" {{ emirati_yes }} required disabled>
                                            Yes</label>
                                        </li>
                                        <li><label for="id_emirati_1"><input id="id_emirati_1" name="emirati" type="radio"
                                                                            value="no" {{ emirati_no }} required
                                                                            disabled> No</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% else %}
                            <div class="">
                                <label style="color: lightskyblue;margin-left:39px;" class="col-md-2 control-label" >Emirati:
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                                    <ul id="id_emirati">
                                        <li><label for="id_emirati_0"><input id="id_emirati_0" name="emirati" type="radio"
                                                                            value="yes" {{ emirati_yes }} required disabled>
                                            Yes</label>
                                        </li>
                                        <li><label for="id_emirati_1"><input id="id_emirati_1" name="emirati" type="radio"
                                                                            value="no" {{ emirati_no }} required
                                                                            disabled> No</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}



                        </div>
                        <div class="row">
                        {% if old_student_rec.select == student_rec.select %}
                            <div class="">
                                <label class="col-md-2 control-label">Arab:
                                </label>
                                <div class="col-md-4"  style="margin-left:-39px;margin-top: 6px;">
                                    <ul id="id_select">
                                        <li><label for="id_select_0"><input id="id_select_0" name="select" type="radio"
                                                                            value="yes" {{ select_arab }} required disabled>
                                            Yes</label>
                                        </li>
                                        <li><label for="id_select_1"><input id="id_select_1" name="select" type="radio"
                                                                            value="no" {{ select_nonarab }} required
                                                                            disabled>No</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                             <div class="">
                                <label style="color: lightskyblue"  class="col-md-2 control-label">Arab:
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;" >
                                    <ul id="id_select">
                                        <li><label for="id_select_0"><input id="id_select_0" name="select" type="radio"
                                                                            value="yes" {{ select_arab }} required disabled>
                                            Yes</label>
                                        </li>
                                        <li><label for="id_select_1"><input id="id_select_1" name="select" type="radio"
                                                                            value="no" {{ select_nonarab }} required
                                                                            disabled>No</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                             {% if old_student_rec.sen == student_rec.sen %}

                             <div class="">
                                <label class="col-md-2 control-label" style="margin-left:39px;">SEN Child:
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                                    <ul id="id_sen">
                                        <li><label for="id_sen_0"><input id="id_sen_0" name="sen" type="radio"
                                                                            value="yes" {{ sen_yes }} required disabled>
                                            Yes</label>
                                        </li>
                                        <li><label for="id_sen_1"><input id="id_sen_1" name="sen" type="radio"
                                                                            value="no" {{ sen_no }} required
                                                                            disabled> No</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% else %}
                              <div class="">
                                <label style="color: lightskyblue" class="col-md-2 control-label" style="margin-left:39px;">SEN Child:
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                                    <ul id="id_sen">
                                        <li><label for="id_sen_0"><input id="id_sen_0" name="sen" type="radio"
                                                                            value="yes" {{ sen_yes }} required disabled>
                                            Yes</label>
                                        </li>
                                        <li><label for="id_sen_1"><input id="id_sen_1" name="sen" type="radio"
                                                                            value="no" {{ sen_no }} required
                                                                            disabled> No</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            {% endif %}

{#                            <div class="">#}
{#                                <label style="padding-left: 160px;" class="col-md-2 control-label">Transport:#}
{#                                </label>#}
{#                                <div class="col-md-4" >#}
{#                                    <ul id="id_transport">#}
{#                                        <li><label for="id_transport_0"><input id="id_transport_0" name="transport" type="radio"#}
{#                                                                            value="own" {{ transport_own }} required disabled>#}
{#                                            Own</label>#}
{#                                        </li>#}
{#                                        <li><label for="id_transport_1"><input id="id_transport_1" name="transport" type="radio"#}
{#                                                                            value="school" {{ transport_school }} required#}
{#                                                                            disabled> School</label>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
                        </div>


                        <div class="row">


                           {% comment %} {% if not user.role.name == 'Parent' %}
                                <div class="">
                                    <label class="col-md-2 control-label">Academic Year:</label>
                                    <div class="col-md-4">
                                        <select class="selectpicker show-tick form-control" data-live-search="true"
                                                autocomplete="off" class="form-control" id="id_academic_year"
                                                name="year_name" required="" disabled>
                                            <option style="display:none" selected="selected"
                                                    value="{{ student_detail.academic_class_section.year_name.id }}">  {{ student_detail.academic_class_section.year_name }}</option>
                                            {% for academicyear in academicyr_list %}
                                                <option value="{{ academicyear.id }}" {{ value1 }} >{{ academicyear.year_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% else %}{% endcomment %}
                                <div class="">
                                    <label class="col-md-2 control-label">Academic Year:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"
                                               value="{{ student_detail.academic_class_section.year_name }}" readonly>
                                        <input type="hidden" name="year_name"
                                               value="{{ student_detail.academic_class_section.year_name.id }}">
                                    </div>
                                </div>
{#                            {% endif %}#}
                             {% if not user.role.name == 'Parent' %}
                                <div class="">

                                    <label class="col-md-2 control-label">Parent Code:

                                    </label>
                                    <div class="col-md-4">
                                        <select autocomplete="off" class="selectpicker  form-control"
                                                data-live-search="true" id="id_parent_name" name="parent_name" disabled>
                                            <option style="display:none" selected="selected"
                                                    value="{{ student_detail.parent.id }}"> {{ student_detail.parent }}</option>
                                            {% for parent in parent_list %}
                                                <option value="{{ parent.id }}" {{ value1 }} >{{ parent.code }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>

                                </div>
                            {% else %}
                                <div class="">

                                    <label class="col-md-2 control-label">Parent Code:

                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"
                                               value="{{ student_detail.parent }}" readonly>
                                        <input type="hidden" name="parent_name"
                                               value="{{ student_detail.parent.id }}">
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                        <div class="row">


                            <div class="">
                                <label class="col-md-2 control-label">Parent Name:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" class="form-control"
                                           value="{{ student_detail.parent.user.first_name }} {{ student_detail.parent.user.last_name }}" id="id_parent_mail"
                                           name="parent_mail" type="text" disabled>

                                </div>
                            </div>
                            <div class="">

                                <label class="col-md-2 control-label">Religion:

                                </label>
                                <div class="col-md-4">
                                    <select autocomplete="off" class="selectpicker  form-control"
                                            data-live-search="true" id="id_religion" name="religion" required=""
                                            disabled>
                                        <option style="display:none" selected="selected"
                                                value="{{ student_rec.religion.id }}"> {{ student_rec.student.religion }}</option>
                                        {% for religion in religion_list %}
                                            <option value="{{ religion.id }}" {{ value1 }} >{{ religion.religion_name }}</option>
                                        {% endfor %}
                                    </select>

                                </div>

                            </div>

                        </div>

                        <div class="row">





                            <div class="">

                                <label class="col-md-2 control-label">Nationality:

                                </label>
                                <div class="col-md-4">
                                    <select autocomplete="off" class="selectpicker  form-control"
                                            data-live-search="true" id="id_nationality" name="nationality" required=""
                                            disabled>
                                        <option style="display:none" selected="selected"
                                                value="{{ student_rec.nationality.id }}"> {{ student_rec.student.nationality }}</option>
                                        {% for nationality in nationality_list %}
                                            <option value="{{ nationality.id }}" {{ value1 }} >{{ nationality.nationality_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                         {% if old_student_rec.street == student_rec.street %}
                            <div class="">
                                <label class="col-md-2 control-label">Street:
                                </label>
                                <div class="col-md-4">
                                    <textarea autocomplete="off"  title='No Format Required'
                                              maxlength="255"
                                              class="form-control" cols="40" id="id_street" name="street" rows="2"
                                              required="" disabled> {{ student_detail.street }} </textarea>
                                </div>
                            </div>
                            {% else %}
                              <div class="">
                                <label class="col-md-2 control-label">Street:
                                </label>
                                <div class="col-md-4">
                                    <textarea style="background-color: lightskyblue" autocomplete="off" title='No Format Required'
                                              maxlength="255"
                                              class="form-control" cols="40" id="id_street" name="street" rows="2"
                                              required="" disabled> {{ student_rec.street }} </textarea>
                                </div>
                            </div>
                            {% endif %}

                        </div>


                        <div class="row">

                            {% if old_student_rec.city == student_rec.city %}

                            <div class="">
                                <label class="col-md-2 control-label">City:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           value="{{ student_rec.city }}" class="form-control" id="id_city"
                                           name="city" type="text" required="" disabled>
                                </div>
                            </div>
                        {% else %}

                            <div class="">
                                <label class="col-md-2 control-label">City:
                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           value="{{ student_rec.city }}" class="form-control" id="id_city"
                                           name="city" type="text" required="" disabled>
                                </div>
                            </div>
                        {% endif %}
                        {% if old_student_rec.state == student_rec.state %}

                            <div class="">
                                <label class="col-md-2 control-label">State:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           value="{{ student_rec.state }}" class="form-control" id="id_state"
                                           name="state" type="text" required="" disabled>
                                </div>
                            </div>
                            {% else %}
                              <div class="">
                                <label class="col-md-2 control-label">State:
                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           value="{{ student_rec.state }}" class="form-control" id="id_state"
                                           name="state" type="text" required="" disabled>
                                </div>
                            </div>
                            {% endif %}

                        </div>

                        <div class="row">

                            {% if old_student_rec.postcode == student_rec.postcode %}
                            <div class="">
                                <label class="col-md-2 control-label">Postal Code:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[0-9]+' title='Enter Numbers Only ' maxlength="8"
                                           onkeypress="return isNumber(event);"
                                           value="{{ student_rec.postcode }}" class="form-control" id="id_postcode"
                                           name="postcode" type="text" required="" disabled>
                                </div>
                            </div>
                        {% else %}
                         <div class="">
                                <label class="col-md-2 control-label">Postal Code:
                                </label>
                                <div class="col-md-4">
                                    <input style="background-color: lightskyblue" autocomplete="off" pattern='[0-9]+' title='Enter Numbers Only ' maxlength="8"
                                           onkeypress="return isNumber(event);"
                                           value="{{ student_rec.postcode }}" class="form-control" id="id_postcode"
                                           name="postcode" type="text" required="" disabled>
                                </div>
                            </div>
                        {% endif %}
                            <div class="">
                                 <label class="col-md-2 control-label">Joining Date:

                                        </label>
                                        <div class="col-md-4">

                                            <input autocomplete="off" value="{{ student_detail.joining_date }}"
                                                   class="form-control" id="id_joining_date" name="joining_date"
                                                   type="date"
                                                   disabled>
                                        </div>
                            </div>

                        </div>
                    <div class="row">

                         <div class="">

                                <label class="col-md-2 control-label">House:

                                </label>
                                <div class="col-md-4">
                                    <select autocomplete="off" class="selectpicker  form-control"
                                            data-live-search="true" id="id_house_name" name="house_name"
                                            disabled>
                                        <option style="display:none" selected="selected"
                                                value="{{ student_detail.house_name.id }}"> {{ student_detail.house_name }}</option>
                                        {% for house_rec in house_list %}
                                            <option value="{{ house_rec.id }}" {{ value1 }} >{{ house_rec.house_name }}</option>
                                        {% endfor %}
                                    </select>
{#                                    <input type="hidden" name="house_name" value="{{ student_detail.house_name.id }}">#}
                                </div>
                            </div>
                        <div class="">
                                 <label class="col-md-2 control-label">Status:
                                        </label>
                                 {% if student_detail.is_active == True %}
                                        <div class="col-md-4">
                                            <input autocomplete="off" value="Active"
                                                   class="form-control control" id="id_is_active" name="is_active"
                                                   type="text"
                                                   disabled readonly>
                                        </div>
                                 {% else %}
                                     <div class="col-md-4">
                                            <input autocomplete="off" value="InActive"
                                                   class="form-control control" id="id_is_active" name="is_active"
                                                   type="text"
                                                   disabled readonly>
                                        </div>
                                 {% endif %}

                            </div>

                    </div>
                    <div class="row">
                        {% if old_student_rec.emergency_contact_num == student_rec.emergency_contact_num %}

                            <div class="">
                                        <label class="col-md-2 control-label">Emergency Contact No:
                                        </label>
                                        <div class="col-md-4">
                                            <input autocomplete="off" value="{{ student_detail.emergency_contact_num }}"
                                                   class="form-control control" id="id_emergency_contact_num" name="emergency_contact_num"
                                                   type="text"
                                                   disabled readonly>
                                              </div>
                                        </div>
{#                                    <input type="hidden" name="house_name" value="{{ student_detail.house_name.id }}">#}
                            </div>
                    {% else %}

                            <div class="">
                                        <label class="col-md-2 control-label">Emergency Contact No:
                                        </label>
                                        <div class="col-md-4">
                                            <input style="background-color: lightskyblue" autocomplete="off" value="{{ student_rec.emergency_contact_num }}"
                                                   class="form-control control" id="id_emergency_contact_num" name="emergency_contact_num"
                                                   type="text"
                                                   disabled readonly>
                                              </div>
                                        </div>
{#                                    <input type="hidden" name="house_name" value="{{ student_detail.house_name.id }}">#}
                            </div>
                {% endif %}

                            </div>


                        <br>
                        <!-- END FORM-->

                    </div>
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>


        <div class="portlet box blue">
            <div class="portlet-title">
                <ul class="nav nav-tabs" style="margin-top: -30px;">

                    <li class="active">
                        <a href="#portlet_tab3" data-toggle="tab" aria-expanded="true"> Academic Details </a>
                    </li>
                    <li class="">
                        <a href="#portlet_tab1" data-toggle="tab" aria-expanded="true"> Subject Details </a>
                    </li>

                    <li class="">
                        <a href="#portlet_tab2" data-toggle="tab" aria-expanded="false"> Medical Information </a>
                    </li>

                    <li class="">
                        <a href="#portlet_tab4" data-toggle="tab" aria-expanded="false"> Student Roll No & Transport Details</a>
                    </li>

                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane" id="portlet_tab1">
                        <div class="form-body">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                   id="sample_1">
                                <thead>
                                <tr>
                                    <th style="display:none;">Serial No</th>
                                    <th> Code</th>
                                    <th> Subject</th>
                                    <th> Type</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for obj in mandatory_sub %}
                                    <tr style="cursor: pointer;">
                                        <td style="display:none;">{{ forloop.counter }}</td>
                                        <td>{{ obj.subject_code }}</td>
                                        <td>{{ obj.subject_name }}</td>
                                        <td>{{ obj.type }}</td>
                                    </tr>
                                {% endfor %}

                                {% for obj in subject_details %}

                                    <tr style="cursor: pointer;">

                                        <td style="display:none;">{{ forloop.counter }}</td>
                                        <td>{{ obj.subject_code }}</td>
                                        <td>{{ obj.subject_name }}</td>
                                        <td>{{ obj.type }}</td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="tab-pane" id="portlet_tab2">
                        <div class="form-body">
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Blood Group:

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical"
                                               value="{{ medical_rec.blood_group }}" id="id_blood_group"
                                               name="blood_group"
                                               type="text" disabled></div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Height(cm.):

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical" id="id_height"
                                               value="{{ medical_rec.height }}" name="height" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Weight(kg.):

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical" id="id_weight"
                                               value=" {{ medical_rec.weight }}" name="weight" type="text" disabled>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Under Medication<br>(yes/no):

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical" id="id_under_medication"
                                               value=" {{ medical_rec.under_medication }} " name="under_medication"
                                               type="text"
                                               disabled></div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 17px;">
                                <div class="">
                                    <label class="col-md-2 control-label">Allergic for anything:

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical" id="id_allergic"
                                               value=" {{ medical_rec.allergic }}" name="allergic" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                                    <div class="tab-pane" id="portlet_tab4">
                        <div class="form-body">
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Student Code:

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical"
                                               value="{{ student_detail.student_code }}" id="id_blood_group"
                                               name="blood_group"
                                               type="text" disabled></div>
                                </div>

{#                                <div class="">#}
{#                                <label class="col-md-2 control-label">Transport:#}
{#                                </label>#}
{#                                <div class="col-md-4" >#}
{#                                    <ul id="id_transport1">#}
{#                                        <li><label for="id_transport_01"><input id="id_transport_01" name="transport1" type="radio"#}
{#                                                                            value="own" {{ transport_own }} required disabled>#}
{#                                            Own</label>#}
{#                                        </li>#}
{#                                        <li><label for="id_transport_11"><input id="id_transport_11" name="transport1" type="radio"#}
{#                                                                            value="school" {{ transport_school }} required#}
{#                                                                            disabled> School</label>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
                                <div class="">
                                <label class="col-md-2 control-label" >Transport:
                                </label>
                                <div class="col-md-4" >
                                    <ul id="id_transport">
                                        <li><label for="id_transport_0"><input id="id_transport_0" name="transport" type="radio"
                                                                            value="own" {{ transport_own }} required disabled>
                                            Own</label>
                                        </li>
                                        <li><label for="id_transport_1"><input id="id_transport_1" name="transport" type="radio"
                                                                            value="school" {{ transport_school }} required
                                                                            disabled> School</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            </div>

                              <div class="row">
                                  {% if old_student_rec.bus_no == student_rec.bus_no %}

                                <div class="">
                                    <label class="col-md-2 control-label">Pickup Bus No:
                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                               maxlength='255'
                                               value="{{ student_rec.bus_no }}" class="form-control transport_class"
                                               id="id_bus_no" name="bus_no" type="text" disabled>
                                    </div>
                                </div>
                                  {% else %}
                                  <div class="">
                                    <label class="col-md-2 control-label">Pickup Bus No:
                                    </label>
                                    <div class="col-md-4">
                                        <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                               maxlength='255'
                                               value="{{ student_rec.bus_no }}" class="form-control transport_class"
                                               id="id_bus_no" name="bus_no" type="text" disabled>
                                    </div>
                                </div>
                                  {% endif %}


                              {% if old_student_rec.pick_up_point == student_rec.pick_up_point %}

                               <div class="">
                                    <label class="col-md-2 control-label">Pick up point:
                                    </label>
                                    <div class="col-md-4">
                                    <textarea autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                              maxlength="255"
                                              class="form-control transport_class" cols="40" id="id_pick_up_point"
                                              name="pick_up_point" rows="2"
                                              disabled> {{ student_rec.pick_up_point }} </textarea>
                                    </div>
                                </div>

                              {% else %}
                                <div class="">
                                    <label class="col-md-2 control-label">Pick up point:
                                    </label>
                                    <div class="col-md-4">
                                    <textarea style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                              maxlength="255"
                                              class="form-control transport_class" cols="40" id="id_pick_up_point"
                                              name="pick_up_point" rows="2"
                                              disabled> {{ student_rec.pick_up_point }} </textarea>
                                    </div>
                                </div>
                              {% endif %}
{##}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Pickup Time:#}
{#                                    </label>#}
{#                                    <div class="col-md-4">#}
{#                                        <input autocomplete="off"#}
{#                                               maxlength='255'#}
{#                                               value="{{ student_rec.pick_up_time }}"#}
{#                                               class="form-control transport_class"#}
{#                                               id="id_pick_up_time" name="pick_up_time" type="time" disabled>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>

                                                        <div class="row">

                                                            {% if old_student_rec.drop_bus_no == student_rec.drop_bus_no %}


                                                        <div class="">
                                                            <label class="col-md-2 control-label">Drop Off Bus No:
                                                            </label>
                                                            <div class="col-md-4">
                                                                <input autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                                                       maxlength='255'
                                                                       value="{{ student_rec.drop_bus_no }}"
                                                                       class="form-control transport_class"
                                                                       id="id_drop_bus_no" name="drop_bus_no" type="text" disabled>
                                                            </div>
                                                        </div>

                                                            {% else %}
                                                              <div class="">
                                                            <label class="col-md-2 control-label">Drop Off Bus No:
                                                            </label>
                                                            <div class="col-md-4">
                                                                <input style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                                                       maxlength='255'
                                                                       value="{{ student_rec.drop_bus_no }}"
                                                                       class="form-control transport_class"
                                                                       id="id_drop_bus_no" name="drop_bus_no" type="text" disabled>
                                                            </div>
                                                        </div>
                                                            {% endif %}

                                                        {% if old_student_rec.drop_bus_no == student_rec.drop_bus_no %}

                                                             <div class="">
                                    <label class="col-md-2 control-label">Drop Off point:
                                    </label>
                                    <div class="col-md-4">
                                    <textarea autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                              maxlength="255"
                                              class="form-control transport_class" cols="40" id="id_drop_off_point"
                                              name="drop_off_point" rows="2"
                                              disabled> {{ student_rec.drop_off_point }} </textarea>
                                    </div>
                                </div>
                                                        {% else %}
                                                                                     <div class="">
                                    <label class="col-md-2 control-label">Drop Off point:
                                    </label>
                                    <div class="col-md-4">
                                    <textarea style="background-color: lightskyblue" autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                              maxlength="255"
                                              class="form-control transport_class" cols="40" id="id_drop_off_point"
                                              name="drop_off_point" rows="2"
                                              disabled> {{ student_rec.drop_off_point }} </textarea>
                                    </div>
                                </div>
                                                        {% endif %}


                            </div>

                                                        <div class="row">


{##}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Drop Off Time:#}
{#                                    </label>#}
{#                                    <div class="col-md-4">#}
{#                                        <input autocomplete="off"#}
{#                                               maxlength='255'#}
{#                                               value="{{ student_rec.drop_off_time }}"#}
{#                                               class="form-control transport_class"#}
{#                                               id="id_drop_off_time" name="drop_off_time" type="time" disabled>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>



                        </div>
                    </div>



                    <div class="tab-pane active" id="portlet_tab3">
                        <div class="form-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row" style="margin-left: 0px;">
                                    <div class="row">
{#                            {% if not user.role.name == 'Parent' %}#}
                                <div class="">
                                    <label class="col-md-2 control-label">Class Name:
                                    </label>
                                    <div class="col-md-4">
                                        <select autocomplete="off" class="form-control" data-live-search="true"
                                                id="id_class_name" name="class_name" required="" disabled>
                                            <option style="display:none" selected="selected"
                                                    value="{{ student_detail.academic_class_section.class_name.id }}">{{ student_detail.academic_class_section.class_name }}</option>

                                            {% for class in class_list %}
                                                <option value="{{ class.id }}" {{ value1 }} >{{ class.class_name }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                           {% comment %}}
                                <div class="">
                                    <label class="col-md-2 control-label">Class Name:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"
                                               value="{{ student_detail.academic_class_section.class_name }}" readonly>
                                        <input type="hidden" name="class_name"
                                               value="{{ student_detail.academic_class_section.class_name.id }}">
                                    </div>
                                </div>
                            {% endcomment %}
{#                            {% if not user.role.name == 'Parent' %}#}
                                <div class="">
                                    <label class="col-md-2 control-label">Section:

                                    </label>
                                    <div class="col-md-4">

                                        <select autocomplete="off" class="form-control" data-live-search="true"
                                                id="id_section_name" name="section_name" required="" disabled>
                                            <option style="display:none" selected="selected"
                                                    value="{{ student_detail.academic_class_section.section_name.id }}">{{ student_detail.academic_class_section.section_name }}</option>

                                            {% for section in section_list %}
                                                <option value="{{ section.id }}" {{ value1 }} >{{ section.section_name }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                            {% comment %}{% else %}
                                <div class="">
                                    <label class="col-md-2 control-label">Section Name:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"
                                               value="{{ student_detail.academic_class_section.section_name }}"
                                               readonly>
                                        <input type="hidden" name="section_name"
                                               value="{{ student_detail.academic_class_section.section_name.id }}">
                                    </div>
                                </div>
                            {% endif %}{% endcomment %}
                        </div>


                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
{#    <div id="myModal" class="modal fade" role="dialog">#}
{#        <div class="modal-dialog">#}
{#            <!-- Modal content-->#}
{#            <form action="{% url 'registration:viewstudent_subjectdetails' %}" method="post"#}
{#                  id="save">#}
{#                {% csrf_token %}#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#                        <h4 class="modal-title">Select Subject</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <input type="hidden" value="{{ StudentDetailsForm.id }}" name="student_id1"/>#}
{#                        <input type="hidden" value="{{ StudentDetailsForm.class_name.id }}" name="class_id"/>#}
{#                        <table class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"#}
{#                               id="sample_1" role="grid" aria-describedby="sample_1_info">#}
{#                            <thead>#}
{#                            <tr role="row">#}
{#                                <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"#}
{#                                    aria-sort="ascending" aria-label=" Classname : activate to sort column descending"#}
{#                                    style="width: 145px;"></th>#}
{#                                <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"#}
{#                                    aria-sort="ascending" aria-label=" Classname : activate to sort column descending"#}
{#                                    style="width: 145px;">Code#}
{#                                </th>#}
{#                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"#}
{#                                    aria-label=" Actions : activate to sort column ascending" style="width: 114px;">#}
{#                                    Subject Name#}
{#                                </th>#}
{#                            </tr>#}
{#                            </thead>#}
{##}
{#                        </table>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="submit" class="btn green">Save</button>#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

{#    <div id="myModal1" class="modal fade" role="dialog">#}
{#        <div class="modal-dialog">#}
{#            <!-- Modal content-->#}
{#            <form action="{% url 'registration:delete_student' %}" method="post" id="save">#}
{##}
{#                {% csrf_token %}#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#                        <h4 class="modal-title">Are you sure you want to delete student details?</h4>#}
{#                        <input type="hidden" value="{{ student_detail.id }}" name="student_id"/>#}
{##}
{##}
{#                    </div>#}
{#                    <div class="modal-body">#}
{##}
{##}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="submit" class="btn green">Yes</button>#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

            <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <form method="post" action="{% url 'registration:new_reject_student_details' %}" id="formfield2">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="hidden" name="strikeId" id="strikeId">
                            <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Rejection Reason</h4>
                        </div>
                        <div id="message" style="display:none;">

                        </div>

                        <div class="modal-body">
                            <label>Reason:</label><br>
{#                            <input hidden name="student" id="student_id">#}
                             <input type="hidden" value="{{ student_rec.student.id }}" name="student_rec_id" id="id_student_rec">
                            <textarea rows="4" cols="25" name="reject_reason" id="reject_reason"></textarea>
                        </div>
                        <div class=" modal-footer">
                            <button id="close1" type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <button type="button" value="Submit" class="btn btn-default" id="submit2">Ok
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

{% endblock %}
<!-- BEGIN CORE PLUGINS -->


