{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->


    <!-- END HEAD -->

    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE

{#            var academic_year = document.getElementById("id_academic_year").value;#}
{#            var url1 = '/school/viewAcademicDetails/';#}
{#            viewAcademicDetails(url1, academic_year)#}

            class_name = document.getElementById("id_class_name").value
            year_name = document.getElementById("id_academic_year").value


            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }


{#            if (class_name == '') {#}
{#                $('#id_class_name').val($('#id_class_name'));#}
{#                $('#id_class_name').prepend($('<option>', {#}
{#                    value: 'All',#}
{#                    text: 'All'#}
{##}
{#                }));#}
{#            }#}
{#            section_name = document.getElementById("id_section_name").value#}
{#            if (section_name == '') {#}
{#                $('#id_section_name').val($('#id_section_name'));#}
{#                $('#id_section_name').prepend($('<option>', {#}
{#                    value: 'All',#}
{#                    text: 'All'#}
{#                }));#}
{#            }#}

            $(document).ready(function () {
                Date.prototype.toDateInputValue = (function () {
                    var local = new Date(this);
                    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                    return local.toJSON().slice(0, 10);
                });
                $('#id_deactivation_date').val(new Date().toDateInputValue());


                $('#submit1').attr('disabled', true);

                $('#button1').click(function () {
                    if ((document.getElementById("id_class_name").value == 'All') && (document.getElementById("id_section_name").value == 'All') ) {
                        location.reload(true);
                        return false;
                    }
                })

                $('#body').hover(
                    function () {
                        $('#submit1').attr('disabled', false);
                    });

                $('#go').click(function () {
                    class_name = document.getElementById("id_class_name").value
                    if (class_name == 'Please Select') {
                        $('#myModal1').modal('toggle');
                        $('#myModal1').modal('show');
                        return false;
                    }
                });

                var d = new Date();

                var month = d.getMonth() + 1;
                var day = d.getDate();

                var output = d.getFullYear() + '-' +
                    (month < 10 ? '0' : '') + month + '-' +
                    (day < 10 ? '0' : '') + day;


                $('#close1').click(function () {
                    window.location.reload();
                });


                $("#submit1").click(function () {

                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());

                    });

                    strID = favorite.join(", ")
                    console.log("favoritefavorite", favorite.join(", "))

                    if (strID == '') {
                        alert("Please Select At Least One Recore")
                        return false;

                    }
                    else {
                        $("#strikeId").val(strID);
                        $('#myModal').modal('toggle');
                        $('#myModal').modal('show');
                    }
                });

                $('#submit2').click(function () {
                    date = document.getElementById("id_deactivation_date").value
                    reason = document.getElementById("id_reason").value
                    if (date == '' && reason == '') {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please enter Date and Reason</span>');// show and set the message


                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                    }
                    else if (date == '') {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please enter Date</span>');// show and set the message


                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                    }
                    else if (reason == '') {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please enter Reason</span>');// show and set the message


                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                    }

                    else if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please enter Only Characters</span>');// show and set the message
                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                        {#                        #}
                        {#                        alert('Input characters only');#}
                        {#                        return false;#}
                    }

                    else if ((reason.trim().length) == 0) {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please enter Only Characters</span>');// show and set the message
                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);

                        {#                        alert('Input characters only');#}
                        {#                        return false;#}
                    }
                    else {
                        $('#formfield2').submit();
                    }
                });


            });

            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });

            $("#id_academic_year").change(function () {
                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)
            });


            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });


             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                            $('#id_section_name').prop("disabled", false);
                        }


                    });


        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
            // alert ("Hello..");
                .done(
                    function (data) {
                        console.log("Hello.. !");
                        console.log(data);
//alert ("Hello.. 123");
                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');
                        console.log("Hello.. 2");

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }

                        $('#id_class_name').prop("disabled", false);
                    });
        }


    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'strike_off:strikeoff' %}"> Strike Off </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Strike-Off Log</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Strike-Off Student Details</span><br><br>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'strike_off:filtered_log' %}" id="form_sample_1">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-3">
                            <h4>Academic Year </h4>

                            <div class="">
                                <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

{#                        <div class="col-md-3">#}
{#                            <h4>Class </h4>#}
{##}
{#                            <div class="">#}
{#                                <select autocomplete="off" class="form-control" data-live-search="true"#}
{#                                        id="id_class_name" name="class_name" required="True">#}
{#                                    <option style="display:none" selected="selected"#}
{#                                            value="{{ Selected_Class_Id }}"> {{ ClassName }}</option>#}
{##}
{#                                    {% for ClassDetails in ClassDetails %}#}
{#                                        <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}


                    <div class="col-md-3">
                    <h4>Class </h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" data-live-search="true"
                                id="id_class_name" name="class_name" required="">
                        {% if ClassDetails %}
                            {% if ClassName %}
                                <option style="display: none" value="{{ Selected_Class_Id }}"
                                        selected="selected">{{ ClassName }}</option>
                            {% else %}
                                <option value="All" selected="selected">All</option>
                            {% endif %}
                            {% for ClassDetails in ClassDetails %}
                                <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="" selected="selected">Please Select</option>
                        {% endif %}
                        </select>
                    </div>
                </div>



{#                <div class="col-md-3">#}
{#                    <h4>Section </h4>#}
{#                    <div class="">#}
{#                        <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"#}
{#                                required="True">#}
{#                            <option style="display:none" selected="selected"#}
{#                                    value="{{ Selected_Section_Id }}"> {{ section_name }}</option>#}
{#                            {% for Section in Section %}#}
{#                                <option value="{{ Section.id }}">{{ Section.section_name }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}



                    <div class="col-md-3">
                    <h4> Section </h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" id="id_section_name"
                                name="section_name" required>
                        {% if ClassDetails %}
                            {% if section_name %}
                                <option style="display: none" value="{{ Selected_Section_Id }}"
                                        selected="selected">{{ section_name }}</option>
                            {% else %}
                                <option value="All" selected="selected">All</option>
                            {% endif %}

                            {% for Section in Section %}
                                <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="" selected="selected">Please Select</option>

                        {% endif %}
                        </select>
                    </div>
                </div>



                        <div class="col-md-3">
                            <button type="submit" class="btn blue btn-block" id="button1" style="margin-top: 38px;">GO
                            </button>
                        </div>
                    </div>
                </form>
                <br>

                <form method="post" action="{% url 'strike_off:save_strikeOff_student' %}" id="formfield1">
                    {% csrf_token %}
                    <table name="data"
                           class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                           id="sample_1" role="grid" aria-describedby="sample_1_info">
                        <thead>
                        <tr role="row">
                            <th style="display: none">ID</th>
                            <th>Student Code</th>
                            <th> Student Name</th>
                            <th> Class </th>
                            <th > Section </th>
                            <th> Status </th>
                            <th> On Date</th>
{#                            <th> From </th>#}
{#                            <th>Reason</th>#}
                        </tr>
                        </thead>

                        <tbody>
                        {% for obj in srtikeoff_log %}
                            <tr style="cursor: pointer;" name="data" id="body">
                                <td style="display: none">{{ obj.id }}</td>
                                <td>{{ obj.student.student_code }}</td>
                                <td>{{ obj.student.get_all_name }}</td>
                                <td>{{ obj.student.academic_class_section.class_name.class_name }}</td>
                                <td>{{ obj.student.academic_class_section.section_name.section_name }}</td>
                                {% if obj.reactivation_date == None %}
                                <td>Striked-Off</td>
                                <td>{{ obj.deactivation_date |date:"M d, Y" }}</td>
                                {% else %}
                                <td>Re-Active</td>
                                <td>{{ obj.reactivation_date |date:"M d, Y"}}</td>
                                {% endif %}
{#                                <td></td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% comment %}<div class="col-md-3">
                        <button type="button" value="Submit" id="submit1" class="btn blue btn-block"
                                style="margin-left: 890px;">Strike-Off Student
                        </button>
                    </div>{% endcomment %}
                </form>
            </div>
            <!-- END FORM-->
        </div>

        <!-- 	BEGIN VALIDATION STATES-->

    </div>

{% endblock %}
                        
