{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->



    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .attendance {
            width: 20%;
            cursor: pointer;
        }

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {
            class_name = document.getElementById("id_class_name").value
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }


            $(document).ready(function () {

                $('#submit1').attr('disabled', true);
                $('#export').attr('disabled', true);


                {#alert($('.len').length)#}

                 if($('.len').length >0){
                     $('#submit1').attr('disabled', false);
                        $('#export').attr('disabled', false);
                 }

                var d = new Date();

                var month = d.getMonth() + 1;
                var day = d.getDate();

                var output = d.getFullYear() + '-' +
                    (month < 10 ? '0' : '') + month + '-' +
                    (day < 10 ? '0' : '') + day;


                $('#id_reactivation_date').change(function () {
                     if ($(this).val() > output) {
                        alert("You cannot select future date!");
                        $(this).val(null)
                        return false;
                    }
                });


                $('#close1').click(function () {
                    window.location.reload();
                });

                class_name = document.getElementById("id_class_name").value

                $('#class_name').val(class_name);
                section_name = document.getElementById("id_section_name").value
                $('#section_name').val(section_name);


                $("#id_class_name").change(function () {
                    class_name = document.getElementById("id_class_name").value
                    $('#class_name').val(class_name);


                });

                $("#id_section_name").change(function () {
                    section_name = document.getElementById("id_section_name").value
                    $('#section_name').val(section_name);
                });


                $("#submit1").click(function () {

                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());

                    });
                    strID = favorite.join(", ")
                    {#console.log("favoritefavorite", favorite.join(", "))#}


                    classname = document.getElementById("id_class_name").value

                    if (strID == '') {
                       alert ("Please Select At Least One Recore")
                        return false;
                    }
                    else {


                        {#alert('favorite->  '+favorite);#}
                        {#alert(strID);#}
                        {#alert(JSON.stringify(strID));#}
                        {#alert('favorite-> '+JSON.stringify(favorite));#}
                        {#return false;#}


                        $("#strikeId").val(JSON.stringify(favorite));
                        $('#myModal').modal('toggle');
                        $('#myModal').modal('show');
                        //window.opener.location.reload();
                    }


                });


                $('#submit2').click(function () {
                    date = document.getElementById("id_reactivation_date").value
                    reason = document.getElementById("id_reason").value

                    if (date == '' && reason == '') {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please enter Date and Reason</span>');// show and set the message

                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                    }
                    else if (date == '') {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please enter Date</span>');// show and set the message


                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                    }
                    else if (reason == '') {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please enter Reason</span>');// show and set the message


                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                    }

                    {% comment %}else if( /[^a-zA-Z\-\/ ]+/.test( reason ) )
                    {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please enter Only Characters</span>');// show and set the message
                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
{#                        #}
{#                        alert('Input characters only');#}
{#                        return false;#}
                    }{% endcomment %}

                    else if ((reason.trim().length) == 0)
                    {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please enter Only Characters</span>');// show and set the message
                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);

{#                        alert('Input characters only');#}
{#                        return false;#}
                    }

                    else {
                        $('#formfield2').submit();
                    }
                });



            });


            $(".alert").fadeTo(2000, 1000).slideUp(500, function () {
                $(this).remove();
            });


        $("#id_academic_year").change(function() {
            var academic_year = document.getElementById("id_academic_year").value;
            var url1 = '/school/viewAcademicDetails/';
            viewAcademicDetails(url1,academic_year)
        });


        $("#id_class_name").blur(function() {
            var class_name = document.getElementById("id_class_name").value;
            var academic_year = document.getElementById("id_academic_year").value;
            var url = '/school/viewSectionDetails/';
            ViewSectionDetailStudent(url, academic_year, class_name);
    });


             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
}


function ViewSectionDetailStudent(url , academic_year, class_name)
{

    $.ajax({
        url : url,
        type : "GET",
        data :
        {
            academic_year : academic_year,
            class_name : class_name
        },
    })

    .done(
            function(data)
            {

                 $('#id_section_name').empty();
                    $('#id_section_name').append(
                            '<option value="">Please select</option>');

                    for (var i = 0; i < data.length; i++)

                    {

                        $('#id_section_name').append(

                                '<option value="'+data[i].id+'">'
                                        + data[i].section_name + '</option>')

                        $('#id_section_name').prop("disabled", false);
                    }



            });


}


function viewAcademicDetails(url1, academic_year) {

        $.ajax({
            url: url1,
            type: "GET",
            data: {
                academic_year: academic_year
            },
        })
            .done(
                function (data) {
                    {#console.log("Hello.. !");#}
                    {#console.log(data);#}
                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="">Please select</option>');
                    {#console.log("Hello.. 2");#}

                    for (var i = 0; i < data.length; i++) {
                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }

                    $('#id_class_name').prop("disabled", false);
                });
    }
    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'strike_off:strikeoff' %}"> Strike Off & Strike Off Student List</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Strike-Off List Student</span>
            </li>


    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>

                <span class="caption-subject font-red sbold uppercase">Strike-Off List Details</span><br><br>


            </div>

        </div>


        <div class="portlet-body">

            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'strike_off:view_deactivated_Student_list' %}" id="form_sample_1">
                    {% csrf_token %}


                    <div class="row">

                    <div class="col-md-3">
                        <h4>Academic Year  </h4>
                            <div class="">
                              <input   value = "{{ Selected_Year_Id }}" name = "year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search = "true" id = "id_academic_year" name = "year_name" disabled>
                                   <option style = "display : none" selected = "selected" value = "{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                   {% for Academic_Year in year_list  %}
                                   <option value="{{ Academic_Year.id }}"  >{{ Academic_Year.year_name }}</option>
                                   {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Class</h4>

                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Class_Id }}"> {{ ClassName }}</option>
                                    {% for ClassDetails in ClassDetails %}
                                        <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <h4>Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Section_Id }}"> {{ section_name }}</option>
                                    {% for Section in Section %}
                                        <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top: 38px;">GO
                            </button>
                </form>
            </div>


        </div>


        <br>
        <form method="post" action="{% url 'strike_off:save_reactivated_student' %}" id="formfield1">
            {% csrf_token %}
            <table name="data"
                   class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                   id="sample_1" role="grid" aria-describedby="sample_1_info">
                <thead>
                <tr role="row">
                    <th
                        style="display: none">ID
                    </th>
                    <th></th>
                    <th>Enrollment No.
                    </th>
                    <th> Student Name
                    </th>
                    <th> Class
                    </th>
                    <th> Section
                    </th>

                    <th> Parent Name
                    </th>


                </tr>
                </thead>
                <tbody>

                {% for obj in StudentList %}

                    <tr style="cursor: pointer;" name="data" id="body">
                        <td class="len" style="display: none">{{ obj.id }} </td>
                        <td class="len"><input type='checkbox' name='check' value="{{ obj.id }}"></td>
                        <td class="len">{{ obj.student_code }}</td>
                        <td class="len">{{ obj.get_all_name }}</td>
                        <td class="len">{{ obj.academic_class_section.class_name.class_name }}</td>
                        <td class="len">{{ obj.academic_class_section.section_name.section_name }}</td>
                        <td class="len">{{ obj.parent.user.get_pura_name }}</td>




                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="col-md-2">

                <!-- <button type="submit" class="btn blue btn-block" id ="go" style="margin-left: 881px;">Strike-Off/List</button> -->


                <button type="button" value="Submit" id="submit1" class="btn blue btn-block"
                        style="margin-left: 985px;">Re-actvate Student
                </button>

            </div>

        </form>

        <div class="col-md-2">
            <form method="post" action="{% url 'strike_off:export_strikeOff_student' %}" id="form_sample_1">
                {% csrf_token %}
                <button type="submit" class="btn blue btn-block" id="export" style="margin-left: 400px;">Export</button>
                <input id="class_name" name="class_name" type="hidden" value="">
                <input id="section_name" name="section_name" type="hidden" value="">
                <input id="year_name" name="year_name" type="hidden" value={{ Selected_Year_Id }}>

            </form>
        </div>

    </div>


    <!-- END FORM-->
    </div>
    <!-- BEGIN VALIDATION STATES-->

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <form method="post" action="{% url 'strike_off:save_reactivated_student' %}" id="formfield2">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="hidden" name="strikeId" id="strikeId">

                        <h4 class="modal-title">Detail Info</h4>
                    </div>
                    <div id="message" style="display:none;">
                        <!-- Here I want to place a message. It should be visible for 3 seconds.Then clear the      div to get ready for the next message. -->
                    </div>

                    <div class="modal-body">
                        <label>Re-activation Date:  </label><br>
                        <input autocomplete="off" class="form-control" id="id_reactivation_date" name="reactivation_date" type="date" min="{{ max_date }}" max="{{ today_date }}" required value="{{ StrikeOff.reactivation_date }}


                        <label>Reason:</label><br>
                        {{ StrikeOff.reason }}
                    </div>
                    <div class="modal-footer">
                        <button id="close1" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" value="Submit" class="btn btn-default" id="submit2">Re-Activate</button>
                    </div>
                </div>
        </div>
        </form>
    </div>
    </div>

{% endblock %}
                        