{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  {# Used For Color Picker#}

    <style type="text/css">
        .row {
            margin-left: -150px;
            margin-right: 20px;
            margin-top: 0px;
        }

        fieldset {
            font-family: sans-serif;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 20px;
            color: #34495e;
        }

        .emp {
            width: 80px;
        }

        .label {
            text-shadow: none !important;
            font-size: 14px;
            font-weight: 200;
            padding: 3px 0px;
            color: black;
            font-family: fantasy;
        }


    </style>


    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {

                $("#code_name").change(function () {
                    var code_name = document.getElementById("code_name").value
                    var url1 = '/school/validate_grade_name_exist/';
                    grade_name_exist(url1, code_name)
                });
                 $(".ab").change(function (e) {
                    var parent_id = $(this).parents('div:eq(2)').attr('id')
                    var TCode = $('#' + parent_id + ' #typeclor').val();
                    $('#' + parent_id + ' #color').val(TCode);
                });

                $(".color").change(function (e) {
                    var parent_id = $(this).parents('div:eq(2)').attr('id')
                    var TCode = $('#' + parent_id + ' #color').val();

                    if ((TCode.charAt(0)) != '#') {
                        alert("Invalid Color Code. Color Code Should Start With #.")
                        $('#' + parent_id + ' #color').val('');
                        return false;
                    }
                    if (parseInt(TCode.length) != 7) {
                        alert("Invalid Color Code.")
                        $('#' + parent_id + ' #color').val('');
                        return false;
                    }

                    $('#' + parent_id + ' #typeclor').val(TCode);
                });

                $('#action_type').val('add');

                var count = 0;
                var last_max = 0;


                $(document).on("keypress", ".grd", function (e) {
                    var regex = new RegExp(/^[a-zA-Z+]+$/);
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {
                        return true;

                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                });

                $("#add").click(function () {
                    $('.chk').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.chk');

                    for (var k = 0; k < $('.chk').length; k++) {
                        if (tex[k].value === '') {
{#                            $('#' + tex[k].id).css('border-color', 'red');#}
                            flag_val = true;
{#                            return false;#}
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Fill Curent All Rows Before Adding New Row.")
                        return false;
                    }

                    ++count;
                    return addForm(this, count);
                });


                $("#save").click(function () {
                    $('.emp').css('border-color', '');

                    var name = $("#code_name").val();

                    if (name == '') {
                        alert('Please Enter Grade Name');
                        return false;
                    }

                    if ((name.trim().length) == 0) {
                        alert('Only Space Is Not Allowed In Grade Name.');
                        return false;
                    }

                    var forms = $('.item')
                    $('.greater_mark').css('border-color', '');

                    var min;
                    var max;
                    var grade = [];
                    var last_id;

                    for (var i = 0; i < forms.length; i++) {


                        var grade_val = $('#' + forms[i].id + ' #grade').val();

                        if ($.inArray(grade_val, grade) == -1) {
                            grade.push(grade_val);
                        }
                        else {
                            var $messageDiv = $('#message'); // get the reference of the div
                            $messageDiv.show().html('<span style="color:red">Duplicate Grade ' + $("#" + forms[i].id + " #grade").val() + ' Are Found, Only Unique Allowed.</span>');// show and set the message
                            setTimeout(function () {
                                $messageDiv.hide().html('');
                            }, 3000);
                            return false;
                        }


                        if (forms[i].id == 'item') {
                            min = parseInt($('#item #greater_mark').val());
                            max = parseInt($('#item #less_mark').val());

                            last_id = $('#item #less_mark');
                            if (min == 0 && min < max) {
                                last_max = max;
                                last_id = $('#item #less_mark');
                            }
                            else {

                                if (min != 0) {
                                    var $messageDiv = $('#message'); // get the reference of the div
                                    $messageDiv.show().html('<span style="color:red">The Mark List Must Be Start With 0.</span>');// show and set the message
                                    $('#item #greater_mark').css('border-color', 'red');
                                    setTimeout(function () {
                                        $messageDiv.hide().html('');
                                    }, 3000);
                                    return false;
                                }
                                else if ((min > max) || (min === max)) {
                                    var $messageDiv = $('#message'); // get the reference of the div
                                    $messageDiv.show().html('<span style="color:red">"Marks Less Than" must be greater then "Marks Greater Than"</span>');// show and set the message
                                    $('#item #greater_mark').css('border-color', 'red');
                                    last_id.css('border-color', 'red');
                                    setTimeout(function () {
                                        $messageDiv.hide().html('');
                                    }, 3000);
                                    return false;
                                }

                                else {
                                    alert("Please Fill Proper Data.")
                                    return false;
                                }

                            }
                        }
                        else if (i == 0) {
                            min = parseInt($('#' + forms[i].id + ' #greater_mark').val());
                            max = parseInt($('#' + forms[i].id + ' #less_mark').val());
                            last_id = $('#' + forms[i].id + ' #less_mark')
                            if (min == 0 && min < max) {
                                last_max = max;
                                last_id = $('#' + forms[i].id + ' #less_mark')
                            }
                            else {

                                if (min != 0) {
                                    var $messageDiv = $('#message'); // get the reference of the div
                                    $messageDiv.show().html('<span style="color:red">The Mark List Must Be Start With 0.</span>');// show and set the message
                                    $('#item #greater_mark').css('border-color', 'red');
                                    setTimeout(function () {
                                        $messageDiv.hide().html('');
                                    }, 3000);
                                    return false;
                                }
                                else if ((min > max) || (min === max)) {
                                    var $messageDiv = $('#message'); // get the reference of the div
                                    $messageDiv.show().html('<span style="color:red">"Marks Less Than" must be greater then "Marks Greater Than"</span>');// show and set the message
                                    $('#item #greater_mark').css('border-color', 'red');
                                    last_id.css('border-color', 'red');
                                    setTimeout(function () {
                                        $messageDiv.hide().html('');
                                    }, 3000);
                                    return false;
                                }

                                else {
                                    alert("Please Fill Proper Data.")
                                    return false;
                                }
                            }

                        }
                        else {
                            min = parseInt($('#' + forms[i].id + ' #greater_mark').val());
                            max = parseInt($('#' + forms[i].id + ' #less_mark').val());

                            if ((min < max) && ((min - last_max) == 0)) {
                                last_max = max;
                                last_id = $('#' + forms[i].id + ' #less_mark')
                            }
                            else {

                                if (((min - last_max) != 0)) {
                                    var $messageDiv = $('#' + forms[i].id + ' #message'); // get the reference of the div
                                    $messageDiv.show().html('<span style="color:red">Please enter consecutive marks with previous minimum marks</span>');// show and set the message
                                    $('#' + forms[i].id + ' #greater_mark').css('border-color', 'red');
                                    last_id.css('border-color', 'red');
                                    setTimeout(function () {
                                        $messageDiv.hide().html('');
                                    }, 3000);
                                    return false;
                                }

                                else if ((min > max) || (min === max)) {
                                    var $messageDiv = $('#' + forms[i].id + ' #message'); // get the reference of the div
                                    $messageDiv.show().html('<span style="color:red">"Marks Less Than" must be greater then "Marks Greater Than"</span>');// show and set the message
                                    $('#' + forms[i].id + ' #greater_mark').css('border-color', 'red');
                                    $('#' + forms[i].id + ' #less_mark').css('border-color', 'red');
                                    setTimeout(function () {
                                        $messageDiv.hide().html('');
                                    }, 3000);
                                    return false;
                                }
                                else {
                                    alert(" Please Fill Proper Records.")
                                    return false;
                                }
                            }
                        }
                    }
                    var last_parent_id = $(".item:last").attr('id');
                    var last_mark = $('#' + last_parent_id + ' #less_mark').val()
                    if (parseInt(last_mark) != 100) {
                        var $messageDiv = $('#' + last_parent_id + ' #message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">"Last Mark Must Be 100."</span>');// show and set the message

                        $('#' + last_parent_id + ' #less_mark').css('border-color', 'red');
                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                        return false;
                    }
                });
            });

            $(".delete").click(function () {
                return deleteForm(this, 'sub_strands');
            });

            function addForm(btn, prefix) {

                var id = prefix;

                var last_parent_id = $(".item:last").attr('id');
                var last_mark = $('#' + last_parent_id + ' #less_mark').val()
                {#                alert(last_mark);#}
                var row = $(".item:first").clone(true).get(0);
                row.id = 'item' + id;
                $(row).children().find(".emp").val('');
                $(row).children().find(".m_mark").val(last_mark);
                $(row).children().find(".ab").val('#ffffff');
                $(row).hide().insertAfter(".item:last").slideDown(300);

            }


            function deleteForm(btn, prefix) {

                var forms = $('.item');
                if (forms.length > 1) {
                    if ($(btn).parents('.item').attr('id') != forms[forms.length - 1].id) {
                        {#                        alert(" Deleting this may affect other dependent grades. Are you sure you want to delete it?")#}

                        if (confirm(" Deleting this may affect other dependent grades. Are you sure you want to delete it?") === true) {
                            $(btn).parents('.item').remove();
                        }
                    }
                    else {
                        $(btn).parents('.item').remove();
                    }

                }
            }
        }

        function grade_name_exist(url, grd_name) {

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    grade_name: grd_name,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {

                    if (data === true) {
                        $('#code_name').val("")
                        $('#code_name').css('border-color', 'red');
                        alert("Grade Name is Alredy Exist.")
                        return false;
                    }
                    $('#code_name').css('border-color', '');
                },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }

            });
        }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:rubric_grade_list' %}"> View-Edit Rubrics Grade </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Add Rubrics Grade</span>
            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Rubrics Grading Schemes</span>
            </div>

        </div>
        {#        <fieldset style="border-radius: 5px; padding: 3px;">#}
        {#            <legend><b> Grade Slab: </b></legend>#}
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form action="{% url 'assessment:save_rubric_grade' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-body">
                    <div class="row">
                        <div class="">
                            <label class="col-md-2 control-label">Code:
                            </label>
                            <div class="col-md-3">
                                <input class="form-control" name="code" disabled></div>
                        </div>

                        <div class="">
                            <label class="col-md-2 control-label">Rubrics Grade Name:
                            </label>
                            <div class="col-md-3">
                                <input class="form-control" id="code_name" name="code_name" pattern="[a-zA-Z0-9 -]+"
                                       title="Enter Valid Grade Name" required></div>
                        </div>
                    </div>

                    <br><br>

                    <div class="portlet-body">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#portlet_tab2" data-toggle="tab">Grading Details </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <br>
                            <div class="tab-pane active" id="portlet_tab2">


                                <div class="item container" id="item">
                                            <span id="message" style="display:none;">
                                            </span>
                                    <div class="row" style="margin-left: 10%">
                                        <div class="col-sm-2 ">

                                            <label class="label" id="desc">Marks Greater Than:</label><br>
                                            <input class="greater_mark form-control m_mark chk emp" id="greater_mark"
                                                   name="greater_mark" type="number" min="0" max="100" required>
                                        </div>

                                        <div class="col-sm-2 ">
                                            <label class="label" id="desc">Marks Less Than or Equal To:</label><br>
                                            <input name="less_mark" class="form-control emp chk" id="less_mark"
                                                   type="number" min="0" max="100" required>
                                        </div>


                                        <div class="col-sm-2" >
                                            <label class="label" id="desc">Grades:</label><br>
                                            <input name="grade" class="form-control  grd chk" pattern="[a-zA-Z -]+"
                                                   id="grade"
                                                   title="Enter Only Alphabets" required>
                                        </div>

                                        <div class="col-sm-2 ">
                                            <label class="label" id="desc">Enter Color Code:</label><br>
                                            <input id="color" class="form-control color " name="color"
                                                   pattern="[0-9A-Za-z#]+" title="Enter Valid Color Code" required>
                                        </div>

                                        <div class="col-sm-3 ">
                                            <label class="label" id="desc">Color:</label><br>
                                            <input class="ab form-control" id="typeclor" type="color"
                                                   style="width: 35%;" value="#ffffff">
                                        </div>
                                    </div>

                                    <div>
                                        <a href="javascript:;" id="add" class="btn btn-icon-only green"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a href="javascript:;" class="delete btn btn-icon-only purple"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                                <button id="save" type="submit" class="btn green">Save</button>

                                <button onclick="window.location.href='{% url "assessment:grade_list" %}'"
                                        type="button" class="btn grey-salsa btn-outline">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
        {#        </fieldset>#}
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

