{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}

    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 0px;
        }


    </style>


    <script>
        window.onload = function () {
            //YOUR JQUERY CODE

            var to_date = document.getElementById("to_date").value
            if (to_date == '') {
                $('#to_date').val('#to_date');
                $('#to_date').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }

            var from_date = document.getElementById("from_date").value
            if (from_date == '') {
                $('#from_date').val($('#from_date'));
                $('#from_date').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            $(document).ready(function () {

                $('#save').click(function () {
                    var month = document.getElementById("month_id").value;
                    var month1 = document.getElementById("month_id1").value;
                    if (month == '') {
                        $("#month_id").css("border", "solid 1px red");
                        $("#month_id_error").show();
                        flag = false;
                    } else {
                        $("#month_id").css("border", "");
                        $("#month_id_error").hide();
                    }


                    if (month1 == '') {
                        $("#month_id1").css("border", "solid 1px red");
                        $("#month_id_error1").show();
                        flag = false;
                    } else {
                        $("#month_id1").css("border", "");
                        $("#month_id_error1").hide();
                    }

                });


                $("#month_id").change(function () {
                    var month = document.getElementById("month_id").value;
                    if (month == '' || month == null) {
                        $("#month_id").css("border", "solid 1px red");
                        $("#month_id_error").show();
                    } else {
                        $("#month_id").css("border", "");
                        $("#month_id_error").hide();
                    }
                });

                $("#id_frequency_name").change(function () {
                    var frequency_name = document.getElementById("id_frequency_name").value
{#                    if ((frequency_name.trim().length) == 0) {#}
{#                        alert('Grade Name Can Accept Only Alpha-Numeric Values or Only Space Is Not Allowed.');#}
{#                        return false;#}
{#                    }#}
                    var url1 = '/school/validate_frequency_name_exist/';
                    frequency_name_exist(url1, frequency_name)
                });



{#                  $("#to_date").change(function () {#}
{#                    var from_date = document.getElementById("from_date").value#}
{#                    var to_date = document.getElementById("to_date").value#}
{##}
{#                    alert('from_date'+from_date);#}
{#                    return false;#}
{##}
{##}
{#                    var url1 = '/school/validate_month_exist/';#}
{#                    validate_month(url1, from_date,to_date)#}
{#                });#}
{##}
{#                    $("#from_date").change(function () {#}
{#                    var from_date = document.getElementById("from_date").value#}
{#                    var to_date = document.getElementById("to_date").value#}
{##}
{#                    alert('from_date'+from_date);#}
{#                    return false;#}
{##}
{##}
{#                    var url1 = '/school/validate_month_exist/';#}
{#                    validate_month(url1, from_date,to_date)#}
{#                });#}




                var from_mon = 0;
                var to_mon = 0;
                $(document).on("change", "#from_date", function () {
                    from_mon = $(':selected', this).attr('id');
                    if (parseInt(to_mon) != 0) {
{#                        alert(from_mon +' F ----- T '+ to_mon)#}
                        if (parseInt(from_mon)   > parseInt(to_mon)) {
                            alert("From-Month Should Not Be Greater Than To-Month")
                            $(this).val('');
                            return false;
                        }
                    }
                });

                $(document).on("change", "#to_date", function (e) {
                    to_mon = $(':selected', this).attr('id');
                    if (parseInt(from_mon) != 0) {
{#                        alert(from_mon +' F ----- T '+ to_mon)#}
                        if (parseInt(from_mon) > parseInt(to_mon)) {
                            alert("To-Month Should Not Be Greater Than From-Month")
                            $(this).val('');
                            return false;
                        }
                    }
                });
            });
        }

        function frequency_name_exist(url, freq_name) {

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    frequency_name: freq_name,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {

                    if (data === true) {
                        $('#id_frequency_name').val("")
                        $('#id_frequency_name').css('border-color', 'red');
                        alert("Frequency Name is Alredy Exist.")
                        return false;
                    }
                    $('#id_frequency_name').css('border-color', '');
                },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }

            });
        }


                function validate_month(url, frm,to) {

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    from_date: frm,
                    to_date: to,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {

                    if (data === true) {
                        $('#from_date').val("")
                        $('#to_date').val("")
{#                        $('#from_date').css('border-color', 'red');#}
{#                        $('#to_date').css('border-color', 'red');#}
                        alert("Record with same From-To month already exists.")
                        return false;
                    }
                    $('#id_frequency_name').css('border-color', '');
                },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }

            });
        }
    </script>



{% endblock %}


{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:frequency_list' %}"> View-Edit Frequency </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Add Frequency</span>
            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Add Frequency Details</span>
            </div>

        </div>

        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form action="{% url 'assessment:save_frequency' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">


                {% csrf_token %}

                <div class="form-body">

                    <div class="form-body">
                        <input type="hidden" value="{{ FrequencyDetail.id }}" id="frequency_id" name="frequency_id"/>
                        {% comment %}<div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Frequency Name:

                                </label>
                                <div class="col-md-3">
                                    <input name="frequency_name" type="text"
                                           value="{{ FrequencyDetail.frequency_name }}" hidden>
                                    <input autocomplete="off" class="form-control" id="id_code" name="frequency_name"
                                           type="text" value="{{ FrequencyDetail.frequency_name }}" required disabled>
                                </div>
                            </div>
                        </div>{% endcomment %}
                        <div class="row">
                            <div class="">
                                <div class="col-md-3">
                                    <h4>Frequency Name: </h4>
                                    <input autocomplete="off" class="form-control" id="id_frequency_name"
                                           name="frequency_name" pattern="[a-zA-Z0-9 ]+"
                                           title="Only Alpha-Numeric is Allowed in Name" type="text"value="{{ selected_name }}" required/>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-md-3">
                                    <h4>From Month: </h4>
                                    <select id='from_date' name="from_date" class="form-control" required="">
                                        <option style="display:none" selected="selected"
                                                value="{{ selected_month }}">{{ selected_month_name }} </option>

                                        {% for obj in month_recs %}
                                            <option id="{{ obj.counter }}"
                                                    value='{{ obj.month_rec.id }}'>{{ obj.month_rec.month_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div id='month_id_error' class='validation'
                                         style='color:red;margin-bottom: 20px;display: none'>Please select month
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <div class="col-md-3">
                                    <h4>To Month: </h4>
                                    <select id='to_date' name="to_date" class="form-control" required="">
                                        <option style="display:none" selected="selected"
                                                value="{{ selected_month }}">{{ selected_month_name }} </option>

                                        {% for obj in month_recs %}
                                            <option id="{{ obj.counter }}"
                                                    value='{{ obj.month_rec.id }}'>{{ obj.month_rec.month_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div id='month_id_error1' class='validation'
                                         style='color:red;margin-bottom: 20px;display: none'>Please select month
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <br>


                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                            <button id="save" type="submit" class="btn green">Save</button>

                            <a href="{% url 'assessment:frequency_list' %}">
                                <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                            </a>

                        </div>
                    </div>
                </div>

        </form>
    </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
     
