{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
        table, tr td {
            border: 1px solid red
        }

        tbody {
            display: block;
            height: 184px;
            overflow: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

        thead {
            width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
        }

        table {
            width: 400px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {


                var id_academic_year_value = document.getElementById("id_academic_year").value
                if (id_academic_year_value == '') {
                    $('#id_academic_year').val($('#id_academic_year'));
                    $('#id_academic_year').prepend($('<option>', {

                        value: '',
                        text: 'Please Select'
                    }));
                }

                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, id_academic_year_value)

                function viewAcademicDetails(url1, academic_year) {

                    $.ajax({
                        url: url1,
                        type: "GET",
                        data: {
                            academic_year: academic_year
                        },
                    })

                        .done(
                            function (data) {

                                $('#id_class_name').empty();

                                for (var i = 0; i < data.length; i++) {

                                    $('#id_class_name').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].class_name + '</option>')
                                }
                            });

                }




                var currentSelect = $("select#id_class_name option:selected").index();

                $("select#id_class_name option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });


            });

        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Assessment-Academic-Class-Section Mapping</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red"></i>
            <span class="caption-subject font-red sbold uppercase">Assessment-Academic-Class-Section Mapping</span>
        </div>

    </div>
    <div class="portlet-body">


        <!-- BEGIN FORM-->
        <form method="post" action="{% url 'assessment:save_assessment_acdemic_class_section_mapping' %}">
            {% csrf_token %}

            <div class="row">

                <div class="col-md-2" style="margin-left: 30%">
                    <h4> Academic Year:</h4>
                    <div>
                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_academic_year"
                                name="year_name" required="True">
                            <option style="display : none" selected="selected"
                                    value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                            {% for Academic_Year in year_list %}
                                <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>



            <div class="row" style=" margin-top: 4%;">
                <div class="col-md-3" style="margin-left: 15%;">

                    <div class="portlet-title">
                        <h4><span style="margin-left: 3%; "> Class</span></h4>

                    </div>

{#                    <div  id="classs_id" style=" margin-top: 4%;">#}
                        <select autocomplete="off" multiple class="form-control" data-live-search="true" id="id_class_name"
                                name="class_name" required="True">


                        </select>
{#                    </div>#}
                </div>

                <div class="col-md-3">

                    <div class="portlet-title">
                        <h4><span style="margin-left: 3%; "> Assessment</span></h4>
                    </div>

{#                    <div class="row " id="question_id" style=" margin-top: 4%;margin-left: 5%">#}
                         <select autocomplete="off" multiple class="form-control" data-live-search="true" id="id_assessment_name"
                                name="assessment_name" required="True">
                                {% for rec in assesment_obj %}
                                <option value="{{ rec.id }}">{{ rec.title }}</option>
                            {% endfor %}


                        </select>

{#                    </div>#}
                </div>

            </div>
        <br>


            <div class="">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9 center-block">
                        <br>
                        <button type="submit" id="sub" class="btn blue btn-block"
                                style="margin-left: 40%; margin-right: 50%; width: 30%;">
                            Map
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
    <br>
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">MAPPED Assessment-Academic-Class-Section</span>
            </div>

            <form action="{% url 'assessment:view_assessment_acdemic_class_section_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-4">
                    <button type="submit" class="btn blue btn-block" id="export">Mapped Assessment-Academic-Class-Section List</button>
                </div>
            </form>

        </div>

    </div>
{% endblock %}
</div>
