{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }


    </style>


{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {


            roleId = $('#roleid').val();
            console.log("roleId", roleId)

            if (roleId == 2) {
                console.log("in if condtnt")
                $('.bg-yellow-gold').css("display", "none");

                $('.bg-green-turquoise').css("display", "none");
                $('.bg-purple-intense').css("display", "none");
                $('.bg-green-sharp').css("display", "none");

                $('.bg-red-sunglo').css("display", "none");
                $('.bg-yellow-mint').css("display", "none");
                $('.bg-blue-madison').css("display", "none");

                $('.bg-blue-steel').css("display", "none");

                $('.bg-green-sharp').css("display", "none");


                $('.bg-yellow-lemon').css("display", "none");

                $('.bg-grey-silver').css("display", "none");


                $('#idCards').css("display", "none");

                $('#manageUsers').css("display", "none");
            }

            if (roleId == 4) {
                console.log("in if condtnt")
                $('.bg-yellow-gold').css("display", "none");

                $('.bg-green-turquoise').css("display", "none");

                $('.bg-green-sharp').css("display", "none");

                $('.bg-red-sunglo').css("display", "none");
                $('.bg-yellow-mint').css("display", "none");
                $('.bg-blue-madison').css("display", "none");

                $('.bg-blue-steel').css("display", "none");

                $('.bg-green-sharp').css("display", "none");

                $('.bg-purple-intense').css("display", "none");

                $('.bg-yellow-lemon').css("display", "none");

                $('.bg-grey-silver').css("display", "none");


                $('#idCards').css("display", "none");

                $('#manageUsers').css("display", "none");
            }


            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Assessment Data & Reporting</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-body">

            <div class="tiles">
                {% if 'assessment.can_view_view_assessment' and 'assessment.can_view_view_grade_categories' in perms %}

                <div class="tile bg-yellow-lemon" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:grade_list' %}">
                        <div class="tile-body">
                            <i class="fa fa-edit"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Grading Scheme </h5></div>

                        </div>
                    </a>
                </div>
                {% endif %}
            {% if 'assessment.can_view_view_assessment' and 'assessment.can_view_view_cycle_categories' in perms %}

                <div class="tile bg-green-sharp" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:frequency_list' %}">

                        <div class="tile-body">
                            <i class="icon-calendar"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Cycles </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_assessment' and 'assessment.can_view_view_skill_categories' in perms %}

                <div class="tile bg-blue-hoki" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:skill_tracker_sub_tile' %}">

                        <div class="tile-body">
                            <i class="fa fa-puzzle-piece"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Skill Tracker </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_assessment' and 'assessment.can_view_view_exam_categories' in perms %}

                <div class="tile bg-blue-steel" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:exam_sub_tile' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-list-alt"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Exam</h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_assessment' and 'assessment.can_view_view_rubric_categories' in perms %}

                <div class="tile bg-blue" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:rubrics_sub_tile' %}">

                        <div class="tile-body">
                            <i class="fa fa-book"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Rubrics </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_assessment' and 'assessment.can_view_view_configration_categories' in perms %}
                <div class="tile bg-red" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'masters:assessment_configrtion_roundoff' %}">
                        <div class="tile-body">
                            <i class="icon-book-open"></i>
                        </div>
                        <div class="tile-object">

                            <div class="name">
                                <h5>Assessment Configration Setting</h5>
                            </div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_assessment' and 'assessment.can_view_view_reported_categories' in perms %}

                <div class="tile bg-blue-hoki" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:reported_score_sub_tile' %}">
                        <div class="tile-body">
                            <i class="fa fa-calculator"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Reported Scores  </h5></div>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_assessment' and 'assessment.can_view_view_target_categories' in perms %}
                 <div class="tile double bg-yellow-lemon" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:target_setting_sub_tile' %}">

                        <div class="tile-body">
                            <i class="fa fa-sort-amount-asc"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Target Setting </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}

            {% if 'assessment.can_view_view_assessment' and 'assessment.can_view_view_analysis' in perms %}
                 <div class="tile double" style="background-color:#6a0d6a;height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:show_all_report' %}">

                        <div class="tile-body">
                            <i class="fa fa-table"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Bulk Download Assessment Data </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}

              {% if 'assessment.can_view_view_assessment' and 'assessment.can_view_view_analysis' in perms %}
                 <div class="tile double" style="background-color:#dd4b39;height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:perodic_data_subtile' %}">

                        <div class="tile-body">
                            <i class="fa fa-list-ol"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Periodic Assessment Data </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}



            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
