{% extends "index.html" %}
{% load staticfiles %}



{% block ScriptBlock %}

    <script>
        window.onload = function () {

            var class_name = document.getElementById("id_class_name").value;
            var year_name = document.getElementById("id_academic_year").value;
            var section_name = document.getElementById("id_section_name").value;
            var assessment_name = document.getElementById("id_assessment_name").value;


            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }


            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            if (assessment_name == '') {
                $('#id_assessment_name').val($('#id_assessment_name'));
                $('#id_assessment_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }


            $("#id_section_name").change(function () {
                var academic_year = document.getElementById("id_academic_year").value;
                var class_name = document.getElementById("id_class_name").value;
                var section_name = document.getElementById("id_section_name").value;
                var url = '/school/get_section_class_assigned_assessment/';
                get_section_class_assigned_assessment(url, academic_year,class_name,section_name)
            });


            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });


            function ViewSectionDetailStudent(url, academic_year, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name
                        },
                })

                    .done(
                        function (data) {

                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {

                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                                $('#id_section_name').prop("disabled", false);
                            }
                        });
            }

            function get_section_class_assigned_assessment(url, academic_year, class_name,section_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name,
                            section_name:section_name
                        },
                })

                    .done(
                        function (data) {

                            $('#id_assessment_name').empty();
                            $('#id_assessment_name').append('<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_assessment_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].assessment_name + '</option>')
                                $('#id_assessment_name').prop("disabled", false);
                            }
                        });
            }




        }





    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
             <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'assessment:ReportCardSubTile' %}"> Assessment Report Card Data</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span>Assessment Report info</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Assessment Report Card</span><br><br>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'assessment:assement_report_card_student_list' %}" id="form_sample_1">
                    {% csrf_token %}
                     <input type="hidden" name="student_id" id="student_id">

                    <div class="row">

                        <div class="col-md-2">
                            <h4>Academic Year </h4>

                            <div class="">
                                <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ selected_year_name.id }}"> {{ selected_year_name.year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Class </h4>

                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required>
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_class_name.id }}"> {{ selected_class_name.class_name }}</option>

                                    {% for ClassDetails in ClassDetails %}
                                        <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required>
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_section_name.id }}"> {{ selected_section_name.section_name }}</option>
                                    {% for Section in Section %}
                                        <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    <div class="col-md-2">
                            <h4>Assessment</h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_assessment_name" name="assessment_name" required>
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_assessment_name.id }}"> {{ selected_assessment_name.title }}</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top: 38px; width: 50%">GO
                            </button>
                        </div>

                        <br><br>
                        <table  class=" table table-striped table-bordered table-hover table-checkable order-column  no-footer" id="sample_1" role="grid" aria-describedby="example">
                        <thead>
                        <tr role="row">
                            <th style="display: none">ID</th>
                            <th>Sr. No.</th>
                            <th>Student Code</th>
                            <th> Student Name</th>
                            <th> Class</th>
                            <th> Section</th>
                            <th> Obtain Marks</th>
                            <th> Rank</th>
                            <th> Grade</th>

                        </tr>
                        </thead>
                            {% for obj in temp %}
                          <tr style="cursor: pointer;"id="body">
                                <td style="display: none">{{ obj.id }}</td>
                                <td>{{ forloop.counter}}</td>
                                <td>{{ obj.student_code }}</td>
                                <td>{{ obj.student_name }}</td>
                                <td>{{ obj.class_name }}</td>
                                <td>{{ obj.section_name }}</td>
                                <td>{{ obj.student_mark }}</td>
                                <td>Rank-{{ forloop.counter }}</td>
                                <td>{{ obj.student_grade_info }}</td>

                            </tr>
                            {% endfor %}

                    </table>



                    </div>
                </form>
                <br>


            </div>

        </div>


    </div>



{% endblock %}

