{% extends "index.html" %}
{% load staticfiles %}


{% block ScriptBlock %}

    <script>
        window.onload = function () {
            $(document).ready(function () {

                var table = $('#sample_1').DataTable({
                    "pageLength": 1,
                    "bDestroy": true,
                    "searching": false,
                     "ordering": false,
                        "info": false

                });

            })
        }



    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
             <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span>Review Assessment</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Review Assessment</span><br><br>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->

                <form method="post" action="{% url 'strike_off:save_strikeOff_student' %}" id="formfield1">
                    {% csrf_token %}


                 <table class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"  id="sample_1" role="grid" aria-describedby="sample_1_info">
                   <thead>
                  <tr style="width: 50%">
                      <th style="display: none"></th>
                            <th>Question Type</th>
                            <th > Question Title</th>
                            <th>Question</th>
                            <th> Answer By Student</th>
                            <th> Mark</th>
                            <th> Out Of Mark</th>


                        </tr>
                  </thead>
                    {% for obj in student_answer_data %}
                        <tr>
                        <td style="display: none"></td>

                                <td>{{ obj.question_type }}</td>
                                <td>{{ obj.question_type.title }}</td>
                                <td>{{ obj.question_name|safe }}</td>
                                {% for rec in obj.answer_by_student %}
                                        <td>{{  rec}}</td>


                                {% endfor %}



                                <td><input type="text" nam="student_mark" id="student_mark-{{ obj.id }}"></td>
                                <td>{{ obj.total_mark }}</td>
                        </tr>


                        {% endfor %}


                    </table>






                </form>


            </div>

        </div>




    </div>



{% endblock %}

