{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {

            $('#copy_mapping').attr('disabled', true);
            $('#id_copy_academic_year').attr('disabled', true);

	     var tb_count = $('.table_count')
            if (tb_count.length > 0) {
                $('#copy_mapping').attr('disabled', false);
                $('#id_copy_academic_year').attr('disabled', false);
            }

            $(document).on("click", ".button_edit", function () {
                var mapping_id1 = $(this).closest('tr').find('td:eq(0)').html();
                $("#mapping_id1").val(mapping_id1);
                $('#form_sample_1').submit();
            });

            $(document).on("click", ".button_delete", function () {


                if (confirm("Are You Sure Want To Delete  It?") === true) {

                    var mapping_id = $(this).closest('tr').find('td:eq(0)').html();
                    var url = '/school/delete_scheme_mapping/';
                    delete_mapping(url, mapping_id)
                }



            });
             $("#copy_mapping").click(function (event) {

                 var id_academic_year = $('#id_academic_year').val();
                 yy = document.getElementById("id_year").value = id_academic_year;

                 var id_copy_academic_year = $('#id_copy_academic_year').val();
                 yy = document.getElementById("id_copy_year").value = id_copy_academic_year;

{#                 var id_copy_academic_year = $('#id_copy_academic_year').val();#}
{#                    x = document.getElementById("id_acd").value = id_academic_year;#}
{#                    alert(id_academic_year);#}
{#                    alert(id_copy_academic_year);#}
{#                    return false;#}

{#                var id_house_name = $('#id_house_name').val();#}
{#                alert('id_house_name'+id_house_name);#}
{#                return false;#}
{#                yy = document.getElementById("id_hos").value = id_house_name;#}



                $('#form_sample_2_rubric').submit();
            });


            function delete_mapping(url, mapp_id) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        mapping_id: mapp_id,
                    },
                })
                    .done(
                        function (data) {
                            location.reload();
                        });
            }
        }
    </script>

{% endblock %}

{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

             <li>
                <a href="{% url 'assessment:rubrics_sub_tile' %}">Rubrics </a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'assessment:view_rubric_mapping' %}">Rubrics Scheme Mapping</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Copy Mapping</span>
            </li>
        </ul>
    </div>


        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> COPY MAPPING</span>
            </div>
        </div>
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:copy_scheme_mapping_filter' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 70%" autocomplete="off" class="form-control" id="id_academic_year"
                                        name="year_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Year_Id }}">{{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}" {{ value1 }} >{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" style="margin-top:35px;margin-left: -80px;" id="mapping"
                                    class="btn blue btn-block">
                                Go
                            </button>
                        </div>

                    <div class="col-md-3">
                            <h4>Next Academic Year:</h4>
                            <div class="">
                                <select style="width: 70%" autocomplete="off" class="form-control" id="id_copy_academic_year"
                                        name="year_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="">Please Select</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}" {{ value1 }} >{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                     <div class="col-md-2">
                            <button type="button" style="margin-top:35px;margin-left: -80px;" id="copy_mapping"
                                    class="btn blue btn-block">Mapping

                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="table-toolbar">

            </div>
            <form action="{% url 'assessment:edit_scheme_mapping' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input class="form-control" id="mapping_id1" name="mapping_id1" type="hidden" value="">

                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none">ID</th>
                        <th style="display:none">SUBJECT ID</th>
                        <th>Academic Year</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Rubric Scheme Name</th>
                        <th>Grading Scheme</th>
                </tr>
                    </thead>
                    <tbody> {% for obj in mapping_list %}
                        <tr style="cursor: pointer;" class="table_count">

                            <td style="display:none">{{ obj.id }}</td>
                            <td style="display:none">{{ obj.subject.id }}</td>
                            <td>{{ obj.year.year_name }}</td>
                            <td>{{ obj.class_obj.class_name }}</td>
                            <td>{{ obj.subject.subject_name }}</td>
                            <td> {{ obj.rubric_name.scheme_name }}</td>
                            <td> {{ obj.grade_name.grade_name }}</td>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>


    <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'assessment:SaveRubricCopyMapping'%}" id="form_sample_2_rubric">
                    {% csrf_token %}
                     <input hidden type='text' id="id_year" name="acd_year"/>
                     <input hidden type='text' id="id_copy_year" name="copy_year"/>
                </form>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
{% endblock %}

                       
