{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}

    <style type="text/css">


    </style>


    <script>
        window.onload = function () {

            $('#id_frequency_mapping').prepend(
                    '<option value="c">Select All </option>')
            //YOUR JQUERY CODE


            $(document).ready(function () {

                $("#id_frequency_mapping").change(function () {
                    var value = $(this).val();
                    if (value == 'c') {
                        $('#id_frequency_mapping option').prop('selected', true);
                        $("select option[value='c']").prop("selected", false);
                    }
                });

        var dateControler = {
		    currentDate : null
		}

		 $(document).on( "change", "#id_to_date",function( event, ui ) {
			 var startDate =((document.getElementById("id_from_date")||{}).value)||"";
{#       	  console.log('startDate',startDate);#}

            var endDate =((document.getElementById("id_to_date")||{}).value)||"";
            console.log('endDate',endDate);


		        if((Date.parse(endDate) <= Date.parse(startDate))) {
		            $(this).val(dateControler.currentDate)
		            alert("Invalid Date..!")
		        } else {
		            dateControler.currentDate = $(this).val();
		        }
		    });

                $('#id_class_name').prepend(
                    '<option value="b">Select All </option>')

                $("#id_class_name").change(function () {

                    var value = $(this).val();


                    if (value == 'b') {


                        $('#id_class_name option').prop('selected', true);
                        $("select option[value='b']").prop("selected", false);

                    }


                });
            });


        }

    </script>



{% endblock %}


{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:exam_list' %}"> View-Edit Exam </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Create Exam</span>
            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Exam Details</span>
            </div>

        </div>

        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form action="{% url 'assessment:save_exam' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">


                {% csrf_token %}

                <div class="form-body">


                    <div class="row">
                    <div class="com-md-12">
                        <div class="col-md-2">
                            <label class="control-label"> Exam Code:
                            </label>
                            <div>
                                {{ exam_details_form.exam_code }}
                            </div>
                        </div>

                         <div class="col-md-3">
                            <label class="control-label"> Exam Name:

                            </label>
                            <div>
                                {{ exam_details_form.exam_name }}
                            </div>
                        </div>

{#                         <div class="col-md-3">#}
{#                            <label class="control-label">Frequency:</label>#}
{##}
{#                            <div>#}
{##}
{#                                        {{ exam_details_form.frequency }}#}
{##}
{#                            </div>#}
{#                        </div>#}

                        <div class="col-md-3">
                            <label class="control-label">Exam Type:</label>

                            <div >

                                        {{ exam_details_form.exam_type }}

                            </div>
                        </div>

                        <div class="col-md-2">
                            <label class="control-label">Multiple Frequencies:</label>

                            <div >

                                        {{ exam_details_form.frequency_mapping }}

                            </div>
                        </div>




</div>

                    </div>
                <br>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                                <button type="submit" class="btn green">Save</button>

                                 <a href="{% url 'assessment:exam_list' %}">
                                <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                                 </a>


                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
     
