{% extends "index.html" %}





{% block styleBlock %}
<style>
table, th, td {
            border: 1px solid rgb(169, 169, 169);
        }
</style>

{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {

            $(document).ready(function () {


                $("#id_subject_name").change(function (e) {
                    var subject_id = $(this).val()
                    var perodic_scheme_id = $('#id_perodic_scheme').val()
                    var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id,perodic_scheme_id)

                });
                $("#id_strand_name").change(function (e) {
                    var strand_name = $(this).val()
                    var url1 = '/school/subject_realted_substrand_perodic_defination/';
                    subject_realted_substrand_perodic_defination(url1, strand_name)

                });

                $("#id_sub_strand").change(function (e) {
                    var substrand_name = $(this).val()
                    var url1 = '/school/subject_realted_topic_perodic_defination/';
                    subject_realted_topic_perodic_defination(url1, substrand_name)

                });
                 $("#id_topic").change(function (e) {
                    var topic_id = $(this).val()
                    var url1 = '/school/subject_based_questions/';
                    subject_based_questions(url1, topic_id)

                });

                $(document).on("change",".question_id",function() {
                    var arr = [];

                    $(".question_id").each(function() {

                        var id = ($(this).attr("id").split("-")[1])
                        if($(this).is(':checked')){

                            arr.push(id);

                        }
                    })

                    $("#question_mark_hidden_id").val(JSON.stringify(arr))
                    var question_data = $("#question_mark_hidden_id").val()
                    var url1 = '/school/mark_based_on_question/';
                    mark_based_on_question(url1, question_data)

                })

                $(document).on("click", "#create_id", function () {

                    var count_data = $('input[type="checkbox"]:checked').length
                     if (count_data === 0) {
                        alert("Please select atleast one question for creating assessment");
                        return false
                    }
                    $(this).attr("type", "submit");
                    var total_mark = $("#total_mark_id").val()
                    $("#hidden_total_mark_id").val(total_mark)

                })

                $("#id_perodic_scheme").change(function (e) {

                    var perodic_scheme_id = $(this).val()
                    var url1 = '/school/perodic_scheme_related_subjects/';
                    perodic_scheme_related_subjects(url1, perodic_scheme_id)

                });

                function perodic_scheme_related_subjects(url, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',

                        },
                        success: function (data) {

                            $('#id_subject_name').empty();
                            $('#id_subject_name').append('<option value="">Please select subject</option>');

                            for (var i = 0; i < data.length; i++) {

                                $('#id_subject_name').append('<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                                $('#id_subject_name').prop("disabled", false);

                            }

                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_strand_perodic_defination(url, subject_id,perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            subject_id: subject_id,
                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',

                        },
                        success: function (data) {

                            $('#id_strand_name').empty();
                            $('#id_strand_name').append('<option value="">Please select strand</option>');

                            for (var i = 0; i < data.length; i++) {

                                $('#id_strand_name').append('<option value="' + data[i].id + '">'
                                    + data[i].strand_name + '</option>')
                                $('#id_strand_name').prop("disabled", false);

                            }
                        },
                        error: function (xhr, msg, err) {

                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_substrand_perodic_defination(url, strand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            strand_name: strand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#id_sub_strand').empty();
                            $('#id_sub_strand').append('<option value="">Please select substrand</option>');

                            for (var i = 0; i < data.length; i++) {

                                $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                                $('#id_sub_strand').prop("disabled", false);

                            }

                        },
                        error: function (xhr, msg, err) {

                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_topic_perodic_defination(url, substrand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            substrand_name: substrand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',

                        },
                        success: function (data) {

                            $('#id_topic').empty();
                            $('#id_topic').append('<option value="">Please select topic</option>');

                            for (var i = 0; i < data.length; i++) {

                                $('#id_topic').append('<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                                $('#id_topic').prop("disabled", false);

                            }

                        },
                        error: function (xhr, msg, err) {

                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_based_questions(url, topic_id) {

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            topic_id: topic_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#question_table td').remove();

                            // alert(JSON.stringify(data))
                            var counter = 1

                            for (var i = 0; i < data.length; i++) {
                                var count = counter + i

                                $('#question_table').append('<tbody><tr><td>'+count+'</td><td> <input type="checkbox" name="question_name" data-live-search="true"  class="question_id newid dis man"  data-live-search="true"id="id_question_name-'+data[i].id+'" value="'+data[i].id+'"></td><td>'+ data[i].question_name + '</td></tbody>')

                                $('#question_table').prop("disabled", false);

                            }

                        },
                        error: function (xhr, msg, err) {

                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function mark_based_on_question(url, question_data) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            question_data: question_data,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            {#$('#total_mark_id').empty();#}
                            $('#total_mark_id').val(data);


                        },
                        error: function (xhr, msg, err) {

                            alert(xhr.responseJSON.error);
                        }
                    });
                }
                 function check() {
                    var question_len =  $('#question_table td').length
                    if(question_len === 0) {
                        input.setCustomValidity('Please select at least one Question.');
                        return false;
                    } else {
                        // input is valid -- reset the error message
                        input.setCustomValidity('');
                    }
                }

            });

        }
    </script>
{% endblock %}
{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:all_assessment_list' %}">All Assessment List </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>Create Assessment</span>
            </li>

        </ul>
    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">

        <div class="portlet-title">

            <div class="caption">

                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Create Assessment</span>

            </div>

        </div>
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:save_assessment' %}" id="save_assessment_form">
                {% csrf_token %}

                <div class="row">
                    <input id="question_mark_hidden_id" hidden name="question_data">

                    <div class="col-md-5" style="margin-left: 05%">
                        <h4> Assessment  Title:</h4>
                        <div>
                            <input type="text" required class="form-control"name="title"id="assessment_title" >
                        </div>
                    </div>

                    <div class="col-md-3" style="margin-left: 0%;">
                        <h4> Duration:</h4>
                        <div>
                            <input type="time" style="width:75%" class="form-control" name="duration"id="duration" required>
                        </div>
                    </div>

                    <div class="col-md-2" style="margin-left: 0%;">
                        <h4> Assessment Code:</h4>
                        <div>
                            <input type="text" readonly class="form-control" value ="{{ assessment_code }}"name="assessment_code" id="assessment_code_id" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5"style="margin-left: 05%" >
                        <h4> Assessment  Description:</h4>
                        <div>
                            <textarea style="width: 100%;height: 90px" name="description" id="description"required></textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 style=""> schedule Assessment:</h4>
                        <div>
                            <input style="width:75%" type="datetime-local" class="form-control" name="schedule_assessment" id="schedule_assessment_id" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5"style="margin-left: 05%" >
                        <select autocomplete="off" required class="form-control " data-live-search="true"
                                id="id_perodic_scheme"  title="Select Subject" name="perodic_scheme" style="height: 35px; width: 100%;margin-top: 2%">

                            <option value="">Select Scheme</option>

                            {% for rec in all_perodic_scheme %}
                                <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                            {% endfor %}
                        </select>

                        <select autocomplete="off" class="form-control" data-live-search="true"
                                id="id_subject_name" title="Select Subject" name="subject_name" style="height: 35px; width: 100%;margin-top: 2%" required>

                            <option value="">Select Subject</option>
                            {% for rec in subject_list %}
                                <option value="{{ rec.id }}">{{ rec.subject_name }}</option>
                            {% endfor %}
                        </select>

                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_strand_name" name="strand_name"
                                style="height: 35px; width:100%;margin-top: 2%" required>
                            <option value="">Select Strand</option>

                        </select>

                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_sub_strand" name="sub_strand"
                                style="height: 35px; width: 100%;margin-top: 2%" required>
                            <option value="">Select Substrand</option>
                        </select>

                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_topic" name="topic_name"
                                style="height: 35px; width:100%;margin-top: 2%" required>
                            <option value="">Select Topic</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5"style="margin-left: 05%" >
                        <h4> Questions:</h4>

                        <table style="width:110%;text-align:left" class="table" id="question_table">
                            <thead id="tbl_id">
                            <tr>
                                <th>Index</th>
                                <th>Select</th>
                                <th>Question</th>
                            </tr>
                            </thead>
                        </table>
                        <tbody id="table_ids">
                               {% for rec in question_obj %}
                                <td><input type="checkbox" name="question_name" class="question_id dis man" id="id_question_name-{{ rec.id }}" value=" {{ rec.question_name }}"></td>
                             {% endfor %}
                        </tbody>
                    </div>

                    <div class="col-md-2" style="margin-left: 0%">
                        <h4> Total Mark:</h4>
                        <div>
                            <input type="number" disabled class="form-control" name="mark"id="total_mark_id" required>
                        </div>
                    </div>

                </div>

                <input type="hidden"name="total_mark" id="hidden_total_mark_id" required>

                <div class="">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9 center-block">
                            <br>
                            <button type="button" id="create_id" class="btn blue btn-block" style="margin-left: 50%; margin-right: 50%; width: 30%;">Create</button>
                        </div>
                    </div>
                </div>
            </form>
        <!-- END FORM-->
        </div>
        <br>
    <!-- BEGIN BORDERED TABLE PORTLET-->
{#    <div class="portlet light portlet-fit ">#}
{#        <div class="portlet-title">#}
{#            <div class="caption">#}
{#                <i class="icon-bubble font-dark"></i>#}
{#                <span class="caption-subject font-dark bold uppercase">MAPPED Question-Academic-Class-Section</span>#}
{#            </div>#}
{##}
{#            <form action="{% url 'assessment:view_question_acdemic_class_section_mapping' %}" id="form_sample_1"#}
{#                  class="form-horizontal" method="POST" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                <div class="col-md-4">#}
{#                    <button type="submit" class="btn blue btn-block" id="export">View Mapped Question-Academic-Class-Section List</button>#}
{#                </div>#}
{#            </form>#}
{##}
{#        </div>#}

    </div>
{% endblock %}
</div>
