{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Create Question</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">


        <div class="portlet-body">

            <div class="tiles">

                <div class="tile bg-green-turquoise" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:multiple_choice_question' %}">
                        <div class="tile-body">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Multiple Choice Questions </h5></div>
                        </div>
                    </a>
                </div>

{#                <div class="tile bg-green-sharp" style="height: 170px !important;width: 18% !important;">#}
{#                    <a href="{% url 'assessment:fill_inthe_blanks_create' %}">#}
{##}
{#                        <div class="tile-body">#}
{#                            <i class="glyphicon glyphicon-th-list"></i>#}
{##}
{#                        </div>#}
{#                        <div class="tile-object">#}
{#                            <div class="name"><h5 style="font-size: 14px;">Fill In The Blanks </h5></div>#}
{##}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
                <div class="tile bg-green-sharp" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:short_text_question_create' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-th-list"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Short Text </h5></div>

                        </div>
                    </a>
                </div>

                <div class="tile bg-blue" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:create_mcq_multiple_response' %}">

                        <div class="tile-body">
                            <i class="fa fa-book"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">MCQ Multiple Response  </h5></div>

                        </div>
                    </a>
                </div>


                 <div class="tile double" style="background-color:#6a0d6a;height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:fill_in_the_blank' %}">

                        <div class="tile-body">
                            <i class="fa fa-table"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Fill In The Blanks</h5></div>

                        </div>
                    </a>
                </div>


                <div class="tile double" style="background-color:#1f7f5c;height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:order_question_list' %}">

                        <div class="tile-body">
                              <i class="fa fa-list-ol"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Order List
                            </h5></div>

                        </div>
                    </a>
                </div>


                 <div class="tile bg-blue-steel" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:create_match_order_list' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-list-alt"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Match Order List</h5></div>

                        </div>
                    </a>
                </div>


                 <div class="tile bg-blue-steel" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:import_mcq_question_tile' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-list-alt"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Import Multiple choice question</h5></div>

                        </div>
                    </a>
                </div>





            </div>

        </div>
    </div>



{% endblock %}

