{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <Script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")

            });
        }

    </Script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Perodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Add Group Details</span>

            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}



    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Add Group Details</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form action="{% url 'assessment:save_perodic_group' %}" id="form_sample_1" class="form-horizontal" method="POST"
                  enctype="multipart/form-data">


                {% csrf_token %}

                <div class="form-body">

                    <div class="row">

                        <div class="">
                            <label class="col-md-2 control-label"> Group Name:
                            </label>
                            <div class="col-md-4">
                                <input autocomplete="off" class="form-control" id="id_report_name"
                                           name="group_name"
                                            type="text" required/>
                            </div>
                        </div>
                        <div class="">
                            <label class="col-md-2 control-label"> Group Code:
                            </label>
                            <div class="col-md-4">
                                <input autocomplete="off" class="form-control" id="id_report_name" name="group_code"
                                            type="text" required/>
                            </div>
                        </div>
                    </div>
                    <br><br>

                    <div class="row">

                        <div class="">
                            <label class="col-md-2 control-label"> Description:
                            </label>
                            <div class="col-md-4">
                                <input autocomplete="off" class="form-control" id="id_report_name"
                                           name="descrption" type="text" required/>
                            </div>
                        </div>

                    </div>



                    <br><br>


                </div>
                <br>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" id="save1" class="btn green">Save</button>
                            <a href="{% url 'masters:report_card_term_master' %}">
                                <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

<!-- BEGIN CORE PLUGINS -->

