{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}

{% block styleBlock %}
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        span {
            font-weight: bold;
        }

        input {
            margin-left: 7%;
            width: 75%;
        }

        .marks input {
            margin-left: 7%;
            width: 60%;
        }

        .marks span {
            display: none;
        }

        .mrk {
            margin-top: 5%;
        }

        . {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }

        #title_preview, #instructions_preview, #question_preview, #option_preview {
            word-break: break-all;
        }

        input {
            margin-left: 7%;
            width: 75%;
            margin-top: 10px;

        }

        .btn.blue:not(.btn-outline) {
            color: white;
            background-color: #0c91e5;
            border-color: #0c91e5;
        }

        .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active

    </style>


{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <html xmlns="http://www.w3.org/1999/xhtml"></html>

    {#<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />#}

    <script>
window.onload = function () {
    $(document).ready(function () {

        $("#txtEditor").Editor();


        var count = 0;
        // CREATE A "DIV" ELEMENT AND DESIGN IT USING jQuery ".css()" CLASS.
        var container = $(document.createElement('div')).css({
            padding: '5px', margin: '20px', width: '170px',
            borderTopColor: '#0c91e5', borderBottomColor: '#0c91e5',
            borderLeftColor: '#0c91e5', borderRightColor: '#0c91e5', marginTop: '10px'
        });

        container.attr("id", "divID");

        // $('#panel').click(function () {
        //     if (count <= 30) {
        //
        //         count = count + 1;
        //
        //         // ADD TEXTBOX.
        //         $(container).append('<div style="margin-left:15px"><input style="height: 30px;width:650px;" type=text name="option_field" class="input man" id=tb' + count + ' ' +
        //             'placeholder="Answer" required /></div>');
        //
        //         // SHOW SUBMIT BUTTON IF ATLEAST "1" ELEMENT HAS BEEN CREATED.
        //         if (count == 1) {
        //             var divSubmit = $(document.createElement('div'));
        //
        //         }
        //
        //         // ADD BOTH THE DIV ELEMENTS TO THE "add_bt" CONTAINER.
        //         $('#add_bt').after(container, divSubmit);
        //     }
        //     else {
        //         $(container).append('<label>Reached the limit</label>');
        //     }
        // });
        // $('#remove').click(function () {
        //     // alert("10");
        //     if (count != 0) {
        //         $('#tb' + count).remove();
        //         count = count - 1;
        //     }
        //
        //     if (count == 0) {
        //         $(container)
        //             .empty()
        //             .remove();
        //
        //         $('#tb').remove();
        //
        //     }
        //
        // });

        $("#id_subject_name").change(function (e) {
                    var subject_id = $(this).val()
                    var perodic_scheme_id = $('#id_perodic_scheme').val()
                    var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id,perodic_scheme_id)

                });
                $("#id_strand_name").change(function (e) {
                    var strand_name = $(this).val()
                    var url1 = '/school/subject_realted_substrand_perodic_defination/';
                    subject_realted_substrand_perodic_defination(url1, strand_name)

                });

                $("#id_sub_strand").change(function (e) {
                    var substrand_name = $(this).val()
                    var url1 = '/school/subject_realted_topic_perodic_defination/';
                    subject_realted_topic_perodic_defination(url1, substrand_name)

                });

                $("#id_perodic_scheme").change(function (e) {
                    var perodic_scheme_id = $(this).val()
                    var url1 = '/school/perodic_scheme_related_subjects/';
                    perodic_scheme_related_subjects(url1, perodic_scheme_id)

                });
                function subject_realted_strand_perodic_defination(url, subject_id,perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            subject_id: subject_id,
                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_strand_name').empty();
                            $('#id_strand_name').append('<option value="">Please select Strand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_strand_name').append('<option value="' + data[i].id + '">'
                                    + data[i].strand_name + '</option>')
                                $('#id_strand_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_substrand_perodic_defination(url, strand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            strand_name: strand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_sub_strand').empty();
                            $('#id_sub_strand').append('<option value="">Please select Substrand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                                $('#id_sub_strand').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function perodic_scheme_related_subjects(url, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_subject_name').empty();
                            $('#id_subject_name').append('<option value="">Please select Subject</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append('<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                                $('#id_subject_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }
                function subject_realted_topic_perodic_defination(url, substrand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            substrand_name: substrand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_topic').empty();
                            $('#id_topic').append('<option value="">Please select topic</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_topic').append('<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                                $('#id_topic').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

        $(document).on('change', '.input', function () {
            console.log("0000000");
            var textid = ($(this).attr("id"))
            var value = ($(this).val());
            // alert(textid)
            // alert(value)
            // $("#text_id").val(value);

            var dataList = $("#text_id")

            dataList.append(value)


        });

        function addForm(btn, prefix) {

                    var id = prefix;
                    var row = $(".item:first").clone(true).get(0);
                    row.id = 'item' + id;
                    $(row).children().attr("id",'option'+id)
                    $(row).children().val('');
                    $(row).hide().insertAfter(".item:last").slideDown(300);

                }

        $("#panel").click(function () {
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {
                        if (tex[k].value === '') {
                            flag_val = true;
                        }
                    }
                    ++count;
                    return addForm(this, count);
                });

         $("#remove").click(function () {

                    return deleteForm(this, 'sub_strands');
                });

         function deleteForm(btn, prefix) {
                    var forms = $('.item');

                    if (forms.length > 1) {
                        var div_id = ($('.item:last').attr('id'))
                        var i = div_id.split('item')[1]
                        var value = $("#item" + i).children().val()
                        $("#item" + i).remove()
                        // var id = parseInt(i)

                    }


                }



        $("#btnSubmitForm").click(function () {

            // alert("Hii")

            var editor = $("#contentarea");
            // alert(editor)
            console.log(editor);

            var content = document.createTextNode(editor.html());
            // alert(content)
            console.log(content);

            if(content == "")
                {
                    editor.attr('contenteditable', false);

                    preElement = $("<pre/>", {
                        contenteditable: true
                    });
                    preElement.append(content);

                    var html = "";
                    for (var index = 0; index < preElement.length; index++) {
                        html += preElement[index].innerText;
                     }
                    $("#content").val(html);
                    // alert("hoooooooo")


                }

             else{

                editor.attr('contenteditable', true);

                preElement = $("<pre/>", {
                    contenteditable: true
                });
                preElement.append(content);

                var html = "";
                for (var index = 0; index < preElement.length; index++) {
                    html += preElement[index].innerText;
                 }
                $("#content").val(html);


             }

            $('.man').css('border-color', '');
                    var flag = false;

                    $('.man').each(function () {
                        if ($(this).val() == ""||$(this).val()==null) {
                            flag = true;
                        }
                        if (flag == true) {
                            $(this).css('border-color', 'red');
                            return false;
                        }
                    })

                    if (flag == false) {
                            $("#form_sample_1").submit()
                        }


            // $("#form_sample_1").submit();
        });

        window.addEventListener('load', function () {
            document.querySelector('input[type="file"]').addEventListener('change', function () {
                if (this.files && this.files[0]) {
                    var img = document.querySelector('img');  // $('img')[0]
                    img.src = URL.createObjectURL(this.files[0]); // set src to file url
                    img.onload = imageIsLoaded; // optional onload event listener
                }
            });
        });

        function imageIsLoaded(e) {
            alert(e);
        }

         document.getElementById("upload_question_image").onchange = function () {
            $('#img_id').show();

     var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : "+fileExtension.join(', '));
            this.value = '';
            return false;

        }


    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("img_id").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};

          $("#btn_id").click(function(){
          $("#demo").toggle();
});

    });
}


    </script>



{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>
                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:create_question_subtile' %}"> Create Question</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <a> Fill in the blank</a>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">fill in the blank</span>
            </div>
        </div>

        <div class="portlet-body">

            <form action="{% url 'assessment:save_fill_in_the_blank' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="columns" id="scheme_row">
                <br>

                        <div style="height: 70px; width: 600px; margin: 0px;">
                            <input id="titleid_textentry" name="title_textentry_name" required placeholder="[Title](max 150 characters)" value="" class="validate_value form-control man" >
                        </div>


                        <div style="height: 70px; width: 600px; margin: 0px;">
                            <input id="instruction_textentry" name="instruction_textenter_name" required placeholder="Instruction"  class="validate_value form-control man" >
                        </div>




                        <div class="col-md-8" style="margin-left:22px">
                            <label style="margin-left:10px" class="control-label ">Question:  (<a
                                    style="font-size:12px;margin-left: 5px">Note : Click on add button to provide answer  </a>)</label>
                            <!--<textarea id="text_id" placeholder="answer Field" name="correct_ans"></textarea>-->
                            <div class="control-group">
                                <input id="content" type="hidden" class="man" name="question_textentry_name" required>
                                <div style="width: 100%"  id="txtEditor"></div>
                            </div>
                            <br>
                        </div>



                    <br>
                    <div class="row">
                        <div class="col-6 col-md-4" id="add_bt" style="margin-left:85%">

                            <div id="panel" class="add btn btn-icon-only green " style="margin-left:30px"><i
                                    class="fa fa-plus"></i></div>
                            <div id="remove" class="delete btn btn-icon-only purple" style="margin-left:30px"><i
                                    class="fa fa-times"></i></div>

                        </div>
                    </div>

                     <br>
{#                                <h4>Options :</h4>#}
                                <div style="height: 70px; width: 600px; margin: 0px;" class="item">
                                    <input type="text" class="form-control emp man"required placeholder="Answer" id="option0" name="options">

                                </div>


                    <br>
                    <div class="row">
                    <div class="col-6 col-md-4" id="add_bt" style="margin-left: 10px">

                                <div id="image_preview" name="data" style="width:100%;">

                                <input type="file" id="upload_question_image" name="upload_question_image_name" >
                                <img style="margin-left: 25px;margin-top: 10px; display: none;" id="img_id" name="upload_qstn_img"width="180px" height="180px" />

                               <!-- <img id="qstn_img" /> -->

                                </div>
                         </div></div>

                    <br>

                        <div style="height: 70px; width: 600px; margin: 0px;">

                            <input type="number" id="question_mark" name="question_mark_name" placeholder="[Score]"
                                   class="form-control man" pattern="[0-9]" required>
                        </div>


                    <div class="" style="height: 70px; width: 600px; margin-left: 40px;">
                        <button type="button" id="btn_id" style="height: 35px; width: 600px; margin: 0px;" class="btn blue btn-block" data-toggle="collapse" data-target="#demo">Meta Data
                        </button>
                    </div>

                    <div id="demo" class="collapse" style="height: 70px; width: 600px; margin-left: 40px;">

                        <select autocomplete="off" class="form-control man" data-live-search="true"
                                id="id_perodic_scheme" title="Select Subject" name="perodic_scheme"
                                style="height: 35px; width: 600px;margin-top: 2%"
                                required>
                            <option value="">Select Perodic Scheme</option>
                            {% for rec in perodic_scheme %}
                                <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                            {% endfor %}
                        </select>


                        <select autocomplete="off" class="form-control man" data-live-search="true"
                                id="id_subject_name" title="Select Subject" name="subject_name"
                                style="height: 35px; width: 600px;margin-top: 2%"
                                required>
                            <option value="">Select Subject</option>
                            {% for rec in subject_list %}
                                <option value="{{ rec.id }}">{{ rec.subject_name }}</option>
                            {% endfor %}
                        </select>

                        <select autocomplete="off" class="form-control man" data-live-search="true"
                                id="id_strand_name" name="strand_name" style="height: 35px; width: 600px;margin-top: 2%"
                                required>
                            <option value="">Select Strand</option>

                        </select>


                        <select autocomplete="off" class="form-control man" data-live-search="true"
                                id="id_sub_strand" name="sub_strand" style="height: 35px; width: 600px;margin-top: 2%"
                                required>
                            <option value="">Select Substrand</option>

                        </select>

                        <select autocomplete="off" class="form-control man" data-live-search="true"
                                id="id_topic" name="topic_name" style="height: 35px; width: 600px;margin-top: 2%"
                                required>
                            <option value="">Select Topic</option>

                        </select>


                    </div>


            <br>
                 <div class="form-actions">
                     <div class="row">

                         <div class="col-md-9" style="margin-left: 40%; margin-right: 50%;">
                            <button type="button" id="btnSubmitForm" class="save btn btn blue">Save</button>


                        </div>
                     </div>
                 </div>
    </div>
        </form>

    <!-- END FORM-->
    </div>
    </div>
    <!-- END VALIDATION STATES-->
{% endblock %}
