{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        span {
            font-weight: bold;
        }

        input {
            margin-left: 7%;
        }

        .mrk {
            margin-left: 7%;
            width: 45px;
        }

        .marks span {
            display: none;
        }

        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #fff722;
            color: #ff1722;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            top: 138px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }
            to {
                top: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }
            to {
                top: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                top: 30px;
                opacity: 1;
            }
            to {
                top: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                top: 30px;
                opacity: 1;
            }
            to {
                top: 0;
                opacity: 0;
            }
        }

    </style>


{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {
            var scheme_id = $('#scheme_id').val();
            {#    alert(exam_id);#}

            var url = '/school/view_mandatory_optional_subject/';
            viewSubjectDetails(url)

            var freq_url = '/school/view_selected_freq/';
            viewSelectedFreq(freq_url, "{{ frequency_id_list }}")

            function viewSelectedFreq(url, selected_list) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        selected_list: selected_list,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_frequency_mapping').empty();

                            for (var i = 0; i < data.length; i++) {
                                $('#id_frequency_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].freq + '</option>')
                            }
                            {#                        alert(data[0].selected_list)#}
                            $('#id_frequency_mapping').val(data[0].selected_list);
                        });
            }

            {#             $('#id_frequency_mapping').prepend(#}
            {#                    '<option value="c">Select All </option>')#}

            $("#id_frequency_mapping").change(function () {
                var value = $(this).val();
                if (value == 'c') {
                    $('#id_frequency_mapping option').prop('selected', true);
                    $("select option[value='c']").prop("selected", false);
                }
            });

            {% comment %} $(document).on("click", "#submit_form", function () {
                 $('.emp').css('border-color', '');
                 var flag_val = false;
                 var tex = $('.emp');

                 for (var k = 0; k < $('.emp').length; k++) {
                     if (tex[k].value === '') {
                         $('#' + tex[k].id).css('border-color', 'red');
                         flag_val = true;
                     }
                 }
                 if (flag_val === true) {
                     alert("Please Enter The Value Then Submit.")
                     return false;
                 }

                 var total_mark = 0;
                 var all_marks = $('.mrk');
                 for(var i=0;i<all_marks.length;i++){
 {#                    if(all_marks[i].value != ''){#}
                         total_mark = total_mark + parseInt(all_marks[i].value);
 {#                    }#}
 {#                    alert(all_marks[i].value);#}
                 }

                 if(parseInt(total_mark) <100){
                     alert('Scheme Score Should Be 100')
                     return false;
                 }


                 var submit = true;
                 var all_parent = $('#tb tr');
                 var main = [];
                 var data = [];  // Main array in which all records will be pushed
                 var scheme_code = $('#scheme_code').val();
                 var scheme_name = $('#scheme_name').val();

                 for (var z = 0; z < all_parent.length; z++) {
                     var parent_id = all_parent[z].id;
                     var topic_len = $('#' + parent_id + ' #topic .len').length;
                     var sub_topic_len = $('#' + parent_id + ' #subTopic .len').length;
                     var all_substrand_id = $('#' + parent_id + ' .substrands input');
                     var all_topic_id = $('#' + parent_id + ' #topic input');
                     var all_sub_topic_id = $('#' + parent_id + ' .subTopic input');
                     var all_marks_id = $('#' + parent_id + ' .marks input');
                     var topics = []
                     var st_val = null;

                     for (var i = 0; i < topic_len; i++) {   // Creating a paylod of topic-ids and their values
                         var topic_id = all_topic_id[i].id;

                         var payload = {
                             "id": topic_id,
                             "value": document.getElementById(topic_id).value
                         }
                         topics.push(payload);
                     }

                     var strand_value = $('#' + parent_id + '-strand1').val();
                     var substrand = [];  // Array for pushing substrand
                     var sublen = $('#' + parent_id + ' #ab .len').length;  //Substrand input field count
                     var top_payload;

                     for (var i = 0; i < sublen; i++) {  //Loop for substrand
                         var id = all_substrand_id[i].id;
                         var aa = [];
                         var sp_id = id.split("-");  //spliting substrand ids and sp_id[2] is substrand input id like subStrand1, subStrand2 etc.

                         for (var j in topics) {  //Loop to iterating topic elements
                             var sub_data = [];
                             var top_id = topics[j].id;
                             var t_id = top_id.split("-");  //spliting topic - and t_id[2] is topic input id like subStrand1, subStrand1 etc.

                             if (sp_id[2] === t_id[2]) {   // checking ids of subStrand and topic for their relation
                                 for (var k = 0; k < sub_topic_len; k++) {   // iterating till the subtopic field count
                                     var sub_topic_id = all_sub_topic_id[k].id;
                                     var s_id = sub_topic_id.split('-');
                                     var mark_id = all_marks_id[k].id;

                                     if (t_id[3] === s_id[3]) {  // if relation found between topic and subtopic through their ids then creating a payload for topic and with their Subtoics
                                         var sub_payload = {
                                             "subtopic": topics[j].id,  // Its Id of subtopic for further Use
                                             "value": document.getElementById(sub_topic_id).value,  // Value of subtopic
                                             "mark": document.getElementById(mark_id).value,
                                         }
                                         sub_data.push(sub_payload);  // pushing subtopic payload/dictionary to subtopic array
                                     }
                                 }

                                 var value = topics[j].value;
                                 st_val = value;

                                 if (sub_data.length === 0) {
                                     if (parseInt(total_mark) < 100) {
                                         alert("Please Enter Subtopic and Mark For " + st_val + " Before Submitting The Record")
                                         return false;
                                     } else {
                                         alert("Scheme - Max Marks cannot exceed 100\n" +
                                             "Please adjust the entered marks and then add the incomplete row with score")
                                         return false;
                                     }
                                 }

                                 top_payload = {              // dictionary for topic and subtopic
                                     topic_name: value,
                                     subtopic: sub_data,
                                 }
                                 aa.push(top_payload)
                             }
                         } // End of topic loop

                         st_val = $('#' + id).val();

                         if (aa.length === 0) {
                             if (parseInt(total_mark) < 100) {
                                 alert("Please Enter Topic, Subtopic and Mark For " + st_val + " Before Submitting The Record..")
                                 return false;
                             }
                             else {
                                 alert("Scheme - Max Marks cannot exceed 100\n" +
                                     "Please adjust the entered marks and then add the incomplete row with score")
                                 return false;
                             }
                         }


                         dic = {
                             substrand_name: $('#' + id).val(),
                             topic: aa
                         }
                         substrand.push(dic)    // pushing dictionary of substrand in substrand array
                     }  // End of substrand for loop

                     if(substrand.length === 0) {

                         if ((parseInt(total_mark) < 100)) {
                             alert("Please Enter Substrand, Topic, Subtopic and Mark For " + strand_value + " Before Submitting The Record..")
                             return false;
                         } else {
                             alert("Scheme - Max Marks cannot exceed 100\n" +
                                 "Please adjust the entered marks and then add the incomplete row with score")
                             return false;
                         }
                     }


                     var payl = {   // Pushing substrand array to strand dictionary
                         strand: strand_value,
                         substrand: substrand
                     };

                     main.push(payl)


                 } // End of strand

                 data.push(main);  // Finally Pushing strand dictionary to final array

                 if (confirm("Are You Sure Want To Save It?") === true) {
                     var url = '/school/save_skill_tracker/';
                     save_skill_tracker(url, JSON.stringify(main), scheme_code, scheme_name, submit);
                 }
                 {#                alert(JSON.stringify(data));#}
             });{% endcomment %}

            $("#go_button").on('click', function () {
                {#                alert('Hi');#}
                {#                return false;#}

                var scheme_code = $('#scheme_code').val();
                var scheme_name = $('#scheme_name').val();


                if ($('#scheme_code').val() === '') {
                    $('#scheme_code').css('border-color', 'red');
                    alert("Please Enter the Scheme Code ");
                    return false;
                }
                else if ($('#scheme_name').val() === '') {
                    $('#scheme_name').css('border-color', 'red');
                    alert("Please Enter the Scheme Name ");
                    return false;
                }
                else {
                    var selected_count = $("#id_frequency_mapping :selected").length;
                    if (selected_count == 0) {
                        $('#id_frequency_mapping').css('border-color', 'red');
                        alert("Please Select the Frequencies");
                        return false;
                    }

                }
                {#                 else if ($('#id_rubrics_catgory').val() === '') {#}
                {#                    $('#id_rubrics_catgory').css('border-color', 'red');#}
                {#                    alert("Please Enter the Rubrics Category Name ");#}
                {#                    return false;#}
                {#                }#}

                {#                $('.tbl1').find('input,button,textarea,select').prop('disabled', false);#}


            });


            $('.save').on('click', function () {

                var submit = false;
                var Empty_Flag = false;
                $('#scheme_row input').css('border-color', '');
                var all_parent = $('#tb tr');

                var main = [];
                var data = [];  // Main array in which all records will be pushed
                var scheme_code = $('#scheme_code').val();
                var scheme_name = $('#scheme_name').val();
                var frequency_mapping_data = $('select#id_frequency_mapping').val();


                if ($('#scheme_code').val() === '') {
                    $('#scheme_code').css('border-color', 'red');
                    alert("Please Enter the Scheme Code ");
                    return false;
                }
                else if ($('#scheme_name').val() === '') {
                    $('#scheme_name').css('border-color', 'red');
                    alert("Please Enter the Scheme Name ");
                    return false;
                }
                else {
                    var selected_count = $("#id_frequency_mapping :selected").length;
                    if (selected_count == 0) {
                        $('#id_frequency_mapping').css('border-color', 'red');
                        alert("Please Select the Frequencies");
                        return false;
                    }

                }


                $(this).attr('disabled','disabled');    // disable save button to prevent multiple save


                {#alert("hii");#}
                {#return false;#}
                {#                var total_mark = 0;#}
                {#                var all_marks = $('.mrk');#}
                {#                for(var i=0;i<all_marks.length;i++){#}
                {#                    if(all_marks[i].value != ''){#}
                {#                        total_mark = total_mark + parseInt(all_marks[i].value);#}
                {#                    }#}
                {#                    alert(all_marks[i].value);#}
                {#                }#}
                {##}
                {#                if(parseInt(total_mark) <100){#}
                {#                    alert('Scheme Score Should Be 100')#}
                {#                    return false;#}
                {#                }#}

                {#                Initially Getting All input count and their ids#}
                for (var z = 0; z < all_parent.length; z++) {
                    $('.item input').css('border-color', '');
                    var parent_id = all_parent[z].id;
                    var topic_len = $('#' + parent_id + ' #topic .len').length;
                    var sub_topic_len = $('#' + parent_id + ' #subTopic .len').length;
                    var all_substrand_id = $('#' + parent_id + ' .substrands input');
                    var all_topic_id = $('#' + parent_id + ' #topic input');
                    var all_sub_topic_id = $('#' + parent_id + ' .subTopic input');
                    var all_marks_id = $('#' + parent_id + ' .marks input');
                    var topics = [];

                    for (var i = 0; i < topic_len; i++) {   // Creating a paylod of topic-ids and their values
                        var topic_id = all_topic_id[i].id;

                        var payload = {
                            "id": topic_id,
                            "value": document.getElementById(topic_id).value
                        }
                        topics.push(payload);
                    }

                    var strand_value = $('#' + parent_id + '-strand1').val();
                    var substrand = [];  // Array for pushing substrand
                    var sublen = $('#' + parent_id + ' #ab .len').length;  //Substrand input field count
                    var top_payload

                    for (var i = 0; i < sublen; i++) {  //Loop for substrand
                        var id = all_substrand_id[i].id;
                        var aa = [];

                        var sp_id = id.split("-");  //spliting substrand ids and sp_id[2] is substrand input id like subStrand1, subStrand2 etc.
                        for (var j in topics) {  //Loop to iterating topic elements
                            var sub_data = [];
                            var top_id = topics[j].id;
                            var t_id = top_id.split("-");  //spliting topic - and t_id[2] is topic input id like subStrand1, subStrand1 etc.

                            if (sp_id[2] === t_id[2]) {   // checking ids of subStrand and topic for their relation
                                {#var subtopic_chk_counter = 0;#}
                                for (var k = 0; k < sub_topic_len; k++) {   // iterating till the subtopic field count
                                    {#subtopic_chk_counter++;#}
                                    var sub_topic_id = all_sub_topic_id[k].id;
                                    var s_id = sub_topic_id.split('-');
                                    var mark_id = all_marks_id[k].id;

                                    if (t_id[3] === s_id[3]) {  // if relation found between topic and subtopic through their ids then creating a payload for topic and with their Subtoics

                                        var sub_payload = {
                                            "subtopic": topics[j].id,  // Its Id of subtopic for further Use
                                            "value": document.getElementById(sub_topic_id).value,  // Value of subtopic
                                            "mark": document.getElementById(mark_id).value,
                                        }
                                        sub_data.push(sub_payload);  // pushing subtopic payload/dictionary to subtopic array
                                        {#                                        }#}
                                    }
                                }
                                {#alert('st_val--> '+st_val);#}

                                if (sub_data.length === 0) {
                                    alert("Please Enter Subtopic and Mark Before Saving The Record");
                                    {#alert("Please Enter Subtopic and Mark For " + topics[j].value + " Before Saving The Record");#}
                                    $(this).attr('disabled',false);
                                    return false;
                                }

                                var value = topics[j].value;
                                top_payload = {              // dictionary for topic and subtopic
                                    topic_name: value,
                                    subtopic: sub_data,
                                }
                                aa.push(top_payload)
                                {#                                }#}
                            }
                        } // End of topic loop

                        if (aa.length === 0) {
                            alert("Please Enter Topic, Subtopic and Mark Before Saving The Record");
                            {#alert("Please Enter Topic, Subtopic and Mark For " + $('#' + id).val() + " Before Saving The Record");#}
                            $(this).attr('disabled',false);
                            return false;
                        }

                        dic = {
                            substrand_name: $('#' + id).val(),
                            topic: aa
                        }
                        substrand.push(dic)    // pushing dictionary of substrand in substrand array
                    }  // End of substrand for loop


                    if (substrand.length === 0) {
                        alert("Please Enter Substrand, Topic, Subtopic and Mark Before Saving The Record");
                        {#alert("Please Enter Substrand, Topic, Subtopic and Mark For " + strand_value + " Before Saving The Record");#}
                        $(this).attr('disabled',false);
                        return false;
                    }

                    if (strand_value === '') {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $('#' + parent_id + '-strand1').css('border-color', 'red');
                        alert("Please Enter Strand. ");
                        $(this).attr('disabled', false);
                        return false;

                        {#                        Empty_Flag = true;#}
                    }
                    else {
                        var payl = {   // Pushing substrand array to strand dictionary
                            strand: strand_value,
                            substrand: substrand
                        };
                    }
                    main.push(payl)
                } // End of strand

                data.push(main);  // Finally Pushing strand dictionary to final array

                var url = '/school/save_skill_tracker/';

                save_skill_tracker(url, JSON.stringify(main), scheme_code, scheme_name, submit,frequency_mapping_data);   // Passing the final data array to ajax for passing backend
            });   // End of save Button

            {#            function mrk_chk(){#}
            {#                var total_mark = 0;#}
            {#                var all_marks = $('.mrk');#}
            {#                for(var i=0;i<all_marks.length;i++){#}
            {#                    if(all_marks[i].value !='')#}
            {#                    total_mark = total_mark + parseInt(all_marks[i].value);#}
            {#                    alert(all_marks[i].value);#}
            {#                }#}
            {#                if(parseInt(total_mark)<=100){#}
            {#                    return false;#}
            {#                }#}
            {#                alert(total_mark)#}
            {#                return true;#}
            {#            }#}

            {##}
            {#            function mrk_chk1(){#}
            {#                var total_mark = 0;#}
            {#                var all_marks = $('.mrk');#}
            {#                for(var i=0;i<all_marks.length;i++){#}
            {#                    if(all_marks[i].value !='')#}
            {#                    total_mark = total_mark + parseInt(all_marks[i].value);#}
            {#                    alert(all_marks[i].value);#}
            {#                }#}
            {#                if(parseInt(total_mark)>=100){#}
            {#                    return true;#}
            {#                }#}
            {#                return false;#}
            {#            }#}


            function total_mrk_chk(val) {
                var total_mark = 0;
                var all_marks = $('.mrk');
                for (var i = 0; i < all_marks.length; i++) {
                    if (all_marks[i].value != '') {
                        total_mark = total_mark + parseInt(all_marks[i].value);
                    }
                    {#                    alert(all_marks[i].value);#}
                }
                {#                alert(parseInt(total_mark)+' --> ')#}
                if ((parseInt(total_mark) + parseInt(val)) >= 100) {
                    return true;
                }
                return false;
            }

            var count = 0;
            $(document).on("click", ".add_row", function () {
                {#                var flag_mrk = false;#}
                {#                    flag_mrk = mrk_chk1();#}
                {#                    if (flag_mrk === true) {#}
                {#                        alert("Max Score Cannot Exceed 100 Marks.");#}
                {#                        return false;#}
                {#                    }#}
                ++count;
                return addForm(count);
            });


            function addForm(prefix) {
                $('.emp').css('border-color', '');
                var flag_val = false;
                var tex = $('.emp');
                for (var k = 0; k < $('.emp').length; k++) {
                    if (tex[k].value === '') {
                        $('#' + tex[k].id).css('border-color', 'red');
                        flag_val = true;
                    }
                }


                if (flag_val === true) {
                    alert("Please Enter The Value Then Add New.")
                    return false;
                }

                var id = prefix;
                var row = '<tr class="item count" id="item' + id + '"><span id="message" style="display:none;"></span><td><a href="javascript:;" id="add_row" class="  form-control btn btn-icon-only green add_row" style="width:40%;"><i class="fa fa-plus"></i></a><a href="javascript:;" class=" remove_row delete btn btn-icon-only purple" style="width:40%;"><i class="fa fa-times"></i></a></td> <td class="strand"><input id="item' + id + '-strand1" title="Only Alphanumeric is allowed with \'-\' and \'_\'" class="Strand validate_value emp" ></td> <td id="ab" class="substrands"><div id="item' + id + '-strand1"><span class="item' + id + '-strand1"></span><a href="javascript:;" id="addSubStrands" class="addSubStrand" style="width:11%;"><i class="fa fa-plus"></i></a><br><input id="item' + id + '-strand1-subStrand1" title="Only Alphanumeric is allowed with \'-\' and \'_\'" class="len validate_value emp" style="margin-bottom: 10%;"><a href="javascript:;" id="item' + id + '-strand1-rem1" class="delete deleteSubStrands" style=" position: relative; width:11%;"><i class="fa fa-times"></i></a></div></td> <td id="topic" class="topic"><div id="item' + id + '-strand1-subStrand1" class="item' + id + '-strand1-rem1"><span class="item' + id + '-strand1-subStrand1"></span><a href="javascript:;" id="item' + id + '-strand1-add1" class="ab addTopic" style="width:11%;"><i class="fa fa-plus"></i></a><br><input class="len validate_value emp" title="Only Alphanumeric is allowed with \'-\' and \'_\'" id="item' + id + '-strand1-subStrand1-topic1" style=""><a href="javascript:;" id="item' + id + '-strand1-subStrand1-rem1" class="deleteTopic" style="width:11%;"><i class="fa fa-times"></i></a></div></td>  <div id="all_st1"><td id="subTopic" class="subTopic"><div class="item' + id + '-strand1-subStrand1S item' + id + '-strand1-rem1"><div id="item' + id + '-strand1-subStrand1-topic1" class="item' + id + '-strand1-subStrand1-rem1"><span class="item' + id + '-strand1-subStrand1-topic1"></span><a href="javascript:;" id="subStrand1-add1" class=" addSubTopic" style="position: relative; width:11%;"> <i class="fa fa-plus"></i> </a><br><input id="item' + id + '-strand1-subStrand1-topic1-subtopic1" title="Only Alphanumeric is allowed with \'-\' and \'_\'" class="len validate_value emp"><br></div></div></td> <td id="marks" class="marks"><a hidden class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a><div class="item' + id + '-strand1-subStrand1M item' + id + '-strand1-rem1"><div id="item' + id + '-strand1-subStrand1-topic1" class="item' + id + '-strand1-subStrand1-rem1"><span class="item' + id + '-strand1-subStrand1-topic1"></span><br><input class="marks mrk emp" id="item' + id + '-strand1-subStrand1-topic1-mark1" title="Only Numbers Are Allowed"><a href="javascript:;"  id="item' + id + '-strand1-subStrand1-topic1Trem1" class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a><br></div></div></td></div></tr>'
                $(row).hide().insertAfter(".item:last").slideDown(300);
            }

            $(document).on("click", ".remove_row", function () {
                var len = $('.count').length;
                len = parseInt(len);
                if (len > 1) {
                    $(this).parents('tr:eq(0)').remove();
                }
            });

            $(document).ready(function () {

                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable(
                    {
                        "bSort": false
                    });

                $('#remove_ass').removeClass('sorting_asc');
                {% comment %}$('th .sorting_asc').removeClass('sorting_disabled');
                $('th .sorting').removeClass('sorting');
                $('th .sorting_desc').removeClass('sorting_desc');{% endcomment %}

                $(document).on("change", "#id_subject_name", function () {
                    var subject_val = $('#id_subject_name').val();
                    var url = '/school/check_subject_substrand/';
                    check_subject_substrand(url, subject_val)
                });


                function check_subject_substrand(url, subject_val) {

                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {
                            subject_name: subject_val,
                        },
                    })
                        .done(
                            function (flag) {
                                {#                            alert(JSON.stringify(flag))#}
                                if (JSON.stringify(flag) == 'false') {
                                    $('#id_subject_name').val('')
                                    alert("Subject selection fali. \n The selected subject does not have strands or substrand assigned to it. ")
                                }
                            });
                }

                $(document).on("change", "input", function () {
                    var id = $(this).attr('id');
                    $("." + id).text($(this).val());
                });

                $(document).on("keyup", "input", function () {
                    var id = $(this).attr('id');
                    $("." + id).text($(this).val());
                });


                $(document).on("change", ".validate_value1", function (e) {
                    if (($(this).val().match(/^[\w](?!\d*[-_]+\d*$)[ \w-]*$/) != null) == false) {
                        $(this).css('border-color', 'red');
                        $(this).val('')
                        var id = $(this).attr('id');
                        $("." + id).text('');

                        alert("Please Match The Following Format\n" +
                            " Only Alphanumeric is allowed with '-' and '_'")
                        return false;
                    }
                    $(this).css('border-color', '');
                });

                $(document).on("paste", ".mrk", function (e) {
                    var clipboardData = e.clipboardData || e.originalEvent.clipboardData || window.clipboardData;
                    var pastedData = clipboardData.getData('text');

                    if ((pastedData.match(/^[0-9]+$/) != null) == false) {
                        return false;
                    }
                    {#                    if(parseInt(pastedData)>100){#}
                    {#                        alert("Scheme-Max Score Should be 100")#}
                    {#                        return false;#}
                    {#                    }#}

                    {#                    var flag_mrk = false;#}
                    {#                    flag_mrk = total_mrk_chk(pastedData);#}
                    {#                    if (flag_mrk === true) {#}
                    {#                        alert("Max Score Cannot Exceed 100 Marks.")#}
                    {#                        return false;#}
                    {#                    }#}

                    $(this).css('border-color', '');
                });

                $(document).on("keypress", ".mrk", function (e) {
                    e = (e) ? e : window.event;
                    var charCode = (e.which) ? e.which : e.keyCode;
                    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                        return false;
                    }
                    return true;
                });

                {#                $(document).on("blur", ".mrk", function (e) {#}
                {#                    alert("Hello "+$(this).val())#}
                {#                    if (parseInt($(this).val()) > 100) {#}
                {#                        alert("Scheme-Max Score Should be 100")#}
                {#                        $(this).val('')#}
                {#                        return false;#}
                {#                    }#}
                {##}
                {#                    var flag_mrk = false;#}
                {#                    flag_mrk = mrk_chk();#}
                {#                    if (flag_mrk === true) {#}
                {#                        alert("Max Score Cannot Exceed 100 Marks.");#}
                {#                        $(this).val('');#}
                {#                        return false;#}
                {#                    }#}
                {#                    return true;#}
                {#                });#}

                $(document).on("click", ".addSubStrand", function () {

                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {
                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }

                    {#                    var flag_mrk = false;#}
                    {#                    flag_mrk = mrk_chk1();#}
                    {#                    if (flag_mrk === true) {#}
                    {#                        alert("Max Score Cannot Exceed 100 Marks.")#}
                    {#                        return false;#}
                    {#                    }#}

                    var count1 = 0;
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var strand = $('#' + parent_id + ' .strand  input:first').attr('id')
                    if ($('#' + parent_id + ' .substrands  input:last').length > 0) {

                        var id = $('#' + parent_id + ' .substrands  input:last').attr('id')
                        var i = id.split('subStrand')[1];
                    }
                    else {
                        {#                        alert("in else")#}
                        i = 0;
                    }

                    var div = document.createElement("div");
                    var divS = document.createElement("div");
                    var divM = document.createElement("div");
                    var textBox = document.createElement("input");
                    var br = document.createElement("br");
                    var br1 = document.createElement("br");
                    var sp = document.createElement("span");

                    count1 = parseInt(i)
                    ++count1;

                    textBox.style.cssText = 'margin-bottom: 10%; '
                    textBox.id = strand + "-subStrand" + count1;
                    textBox.classList.add('len', 'emp', 'validate_value');
                    textBox.title = "Only Alphanumeric is allowed with '-' and '_'"
                    document.getElementById(parent_id).getElementsByClassName("substrands")[0].appendChild(textBox);

                    var add = $(".item .addTopic").clone(true).get(0);
                    add.hidden = false;
                    {#                    add.hidden = false;#}
                    add.id = strand + '-add' + count1;
                    var del = $(".item .deleteSubStrands").clone(true).get(0);
                    del.hidden = false;
                    del.id = strand + '-rem' + count1;
                    add.style.cssText = 'position:relative; margin-top: 3px; margin-left:3px; cursor: pointer;';
                    del.style.cssText = 'position:relative; margin-top: 3px; margin-left:1%; cursor: pointer;';

                    var m_id = strand + "-subStrand" + count1;
                    sp.classList.add(m_id);
                    div.classList.add(strand + '-rem' + count1);
                    divS.classList.add(strand + "-subStrand" + count1 + "S", strand + '-rem' + count1);
                    divM.classList.add(strand + "-subStrand" + count1 + "M", strand + '-rem' + count1);
                    div.id = m_id
                    div.style.cssText = 'margin-top: 3%; '

                    div.appendChild(sp)
                    div.appendChild(add)
                    div.appendChild(br1)

                    document.getElementById(parent_id).getElementsByClassName("topic")[0].appendChild(div);
                    document.getElementById(parent_id).getElementsByClassName("substrands")[0].append(del);
                    document.getElementById(parent_id).getElementsByClassName("subTopic")[0].append(divS);
                    document.getElementById(parent_id).getElementsByClassName("marks")[0].append(divM);
                });


                $(document).on("click", ".deleteSubStrands", function () {


                    var parent_id = $(this).parents('tr:eq(0)').attr('id')

                    var len = $('#' + parent_id + ' #topic .len').length;
                    var len = $('#' + parent_id + ' #ab .len').length;

                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("-");
                    var las = res[2].split("rem")[1];
                    var top_len = '#' + parent_id + '-strand1-subStrand' + las;
                    var top_child = $("#" + parent_id + " .topic " + top_len + " input");

                    {#                    if (len > 1) {#}
                    if (top_child.length > 0) {
                        if (confirm("Related Topic and Subtopic Will Also Be Deleted." +
                            "Are You Sure Want To Delete It?") === true) {

                            $('#' + parent_id + '-strand1-subStrand' + las).remove();
                            $('#' + parent_id + '-strand1-add' + las).remove();
                            $('#' + parent_id + '-strand1-rem' + las).remove();

                            $("#" + parent_id + " .topic ." + id).remove();
                            $("#" + parent_id + " .subTopic ." + id).remove();
                            $("#" + parent_id + " .marks ." + id).remove();
                        }
                    }
                    else {
                        $('#' + parent_id + '-strand1-subStrand' + las).remove();
                        $('#' + parent_id + '-strand1-add' + las).remove();
                        $('#' + parent_id + '-strand1-rem' + las).remove();

                        $("#" + parent_id + " .topic ." + id).remove();
                        $("#" + parent_id + " .subTopic ." + id).remove();
                        $("#" + parent_id + " .marks ." + id).remove();
                    }
                    {#                    }#}
                });

                $(document).on("click", ".addTopic", function () {
                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {

                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }

                    {#                    var flag_mrk = false;#}
                    {#                    flag_mrk = mrk_chk1();#}
                    {#                    if (flag_mrk === true) {#}
                    {#                        alert("Max Score Cannot Exceed 100 Marks.")#}
                    {#                        return false;#}
                    {#                    }#}

                    var count1 = 0;
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var las = $(this).attr('id');

                    var index = las.split('add')[1];

                    var len = $('#' + parent_id + ' .substrands .addTopic').length;
                    var all_input_id = $('#' + parent_id + ' .topic  input')
                    var max = 0;

                    if (all_input_id.length > 0) {
                        var arr = [];
                        for (var z = 0; z < all_input_id.length; z++) {
                            arr.push(parseInt((all_input_id[z].id).split('topic')[1]));
                        }

                        max = arr.reduce(function (a, b) {
                            return Math.max(a, b);
                        });
                    }

                    count1 = parseInt(max);
                    count1 = count1 + 1;

                    var app = parent_id + '-strand1' + '-subStrand' + index;
                    var add = $(".item .addSubTopic").clone(true).get(0);
                    add.id = 'subStrand' + index + '-add' + count1;
                    add.hidden = false;
                    var del = $(".item .deleteTopic").clone(true).get(0);
                    del.id = app + '-rem' + count1;
                    del.hidden = false;

                    var div = document.createElement("div");
                    var divM = document.createElement("div");
                    var textBox = document.createElement("input");
                    var br = document.createElement("br");
                    var br1 = document.createElement("br");
                    var sp = document.createElement("span");
                    var sp1 = document.createElement("span");
                    var m_id = app + "-topic" + count1;

                    sp.classList.add(m_id);
                    sp1.classList.add(m_id);
                    divM.style.cssText = ' margin-top: 3%; '
                    div.style.cssText = 'margin-top: 3%; '
                    textBox.style.cssText = 'margin-top: 3px;'
                    textBox.id = app + "-topic" + count1;
                    textBox.classList.add('len', 'emp', 'validate_value');
                    textBox.title = "Only Alphanumeric is allowed with '-' and '_'"
                    $(this).parents('div:eq(0)')[0].appendChild(textBox);
                    $(this).parents('div:eq(0)')[0].append(del);

                    divM.classList.add(app + '-rem' + count1);
                    div.classList.add(app + '-rem' + count1);

                    divM.id = app + "-topic" + count1;
                    div.id = app + "-topic" + count1;
                    div.appendChild(sp)
                    div.appendChild(add)
                    div.appendChild(br)
                    divM.appendChild(sp1)
                    divM.appendChild(br1)

                    $("#" + parent_id + " .subTopic ." + app + "S")[0].append(div);
                    $("#" + parent_id + " .marks ." + app + "M")[0].append(divM);

                    var div_id = app + "-topic" + count1
                    var abx = $('#' + parent_id + ' .subTopic #' + div_id)
                    var sub_str = (((abx).parents('div').eq(0)).attr('class'))

                    var top = ($(this).parents('div').eq(0)).attr('class')
                    var top_id = ($(this).parents('div').eq(0)).attr('id')


                    sub_str = sub_str.split(' ')[0]
                    var sub_str_ht = $('#' + parent_id + ' .' + sub_str).height()
                    sub_str = sub_str.substring(0, sub_str.length - 1);
                    $('#' + parent_id + ' .substrands #' + sub_str)[0].style.cssText = 'margin-bottom:' + sub_str_ht + 'px';
                    {#                    var top_ht = $('.' + top).height()#}

                });


                $(document).on("click", ".deleteTopic", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' #topic .len').length;

                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("rem");
                    var substrnd_id = res[0]
                    var las = res[1];


                    var top = ($(this).parents('div').eq(0)).attr('class')

                    if (confirm("Related Subtopic and Marks Will Also Be Deleted." +
                        "Are You Sure Want To Delete It?") === true) {
                        $('#' + substrnd_id + 'topic' + las).remove();
                        $('#' + substrnd_id.split("-")[2] + '-add' + las).remove();
                        $('#' + id).remove();
                        $("#" + parent_id + " .subTopic ." + id).remove();
                        $("#" + parent_id + " .marks ." + id).remove();

                        var sub_topic_ht = $('#' + parent_id + ' .subTopic .' + top).height()
                        var sub_top_id = $('#' + parent_id + ' .substrands #' + top).prev('input').attr('id')
                        var top_ht = $('#' + parent_id + ' .topic .' + top).height()
                        var max_ht = sub_topic_ht;

                        if (parseInt(top_ht) > parseInt(sub_topic_ht)) {
                            max_ht = top_ht;
                        } else {
                            max_ht = sub_topic_ht;
                        }
                    }
                    {#                    alert('max_ht--- ' + max_ht + '  top_div_ht- ' + top_ht + '  sub_str_ht-- ' + sub_topic_ht);#}
                    $('#' + parent_id + ' .substrands #' + sub_top_id)[0].style.cssText = 'margin-bottom:' + max_ht + 'px';

                });

                $(document).on("click", ".addSubTopic", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var cc = $('.' + (($(this).parents('div').eq(1)).attr('class')))
                    var top = ($(this).parents('div').eq(0)).attr('class')
                    var top_id = ($(this).parents('div').eq(0)).attr('id')
                    var top_ht = $('#' + parent_id + ' .' + top).height()

                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {

                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }

                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }

                    {#                    var flag_mrk = false;#}
                    {#                    flag_mrk = mrk_chk1();#}
                    {#                    if (flag_mrk === true) {#}
                    {#                        alert("Max Score Cannot Exceed 100 Marks.")#}
                    {#                        return false;#}
                    {#                    }#}

                    var sub_str = (($(this).parents('div').eq(1)).attr('class'))
                    var tov_div_id2 = sub_str.split(' ')[1]
                    sub_str = sub_str.split(' ')[0]
                    var sub_str_ht = $('#' + parent_id + ' .subTopic .' + sub_str).height()
                    var top_div_ht = $('#' + parent_id + ' .topic .' + tov_div_id2).height()

                    var max_ht = top_div_ht;

                    if (parseInt(top_div_ht) > parseInt(sub_str_ht)) {
                        max_ht = top_div_ht;
                    } else {
                        max_ht = sub_str_ht;
                    }
                    {#                    alert('top_div_ht---> '+top_div_ht+'  -- sub_str_ht--> '+sub_str_ht)#}
                    sub_str = sub_str.substring(0, sub_str.length - 1);

                    $('#' + parent_id + ' .topic #' + top_id)[0].style.cssText = 'margin-bottom:' + top_ht + 'px';
                    $('#' + parent_id + ' .substrands #' + sub_str)[0].style.cssText = 'margin-bottom:' + max_ht + 'px';

                    var las = $(this).attr('id');
                    var index = las.split('add')[1];
                    var len = $('#' + parent_id + ' .topic .addSubTopic').length;
                    var res = las.split("-");
                    var app = parent_id + '-strand1';
                    var count1 = 0;
                    var max = 0;
                    var all_input_id = $('#' + parent_id + ' .subTopic input');

                    if (all_input_id.length > 0) {
                        var arr = [];
                        for (var z = 0; z < all_input_id.length; z++) {
                            arr.push(parseInt((all_input_id[z].id).split('subtopic')[1]));
                        }

                        max = arr.reduce(function (a, b) {
                            return Math.max(a, b);
                        });
                    }

                    count1 = parseInt(max);
                    count1 = count1 + 1;

                    var textBox = document.createElement("input");
                    var br = document.createElement("br");
                    textBox.style.cssText = ' margin-top: 3px;';
                    textBox.id = app + '-' + res[0] + '-topic' + index + "-subtopic" + count1;
                    textBox.classList.add('len', 'emp', 'validate_value');
                    textBox.title = "Only Alphanumeric is allowed with '-' and '_'"

                    $(this).parents('div:eq(0)')[0].append(textBox);
                    $(this).parents('div:eq(0)')[0].append(br);

                    var sub_id = res[0] + '-topic' + index;
                    var div_obj = $(this).parents('div:eq(0)').attr('id');
                    addMark(parent_id, count1, sub_id, div_obj);
                });

                addMark = function (id, num, subsrt, div_obj) {
                    var parent_id = id;
                    var count1 = num;
                    var subStrand = subsrt;
                    var div_obj1 = div_obj;

                    var add = $(".item .deleteSubTopic").clone(true).get(0);
                    add.hidden = false;
                    add.id = parent_id + "-strand1-" + subStrand + "Trem" + count1;

                    var br = document.createElement("br");
                    var textBox = document.createElement("input");
                    textBox.style.cssText = 'width:60%; margin-top: 3px;';
                    textBox.id = parent_id + "-strand1-" + subStrand + "-mark" + count1;
                    textBox.classList.add('emp', 'mrk');
                    textBox.title = "Only Numbers Are Allowed"
                    {#                    textBox.setAttribute('type', 'number')#}
                    {#                    textBox.setAttribute('min', '0')#}
                    $("#" + parent_id + " .marks #" + div_obj1)[0].appendChild(textBox);
                    $("#" + parent_id + " .marks #" + div_obj1)[0].append(add);
                    $("#" + parent_id + " .marks #" + div_obj1)[0].appendChild(br);
                }

                $(document).on("click", ".deleteSubTopic", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')


                    var len = $('#' + parent_id + ' #subTopic .len').length;
                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("T");
                    var substrnd_id = res[0]
                    var las = res[1].split("rem")[1];

                    var top = ($(this).parents('div').eq(0)).attr('class')
                    var top_id = ($(this).parents('div').eq(0)).attr('id')
                    var sub_str = (($(this).parents('div').eq(1)).attr('class'))


                    $(this).prev('input').remove()
                    $(this).prev('br').remove()
                    $(this).remove()
                    {#                        $('#' + substrnd_id + '-mark' + las).remove();#}
                    $('#' + substrnd_id + '-subtopic' + las).prev('br').remove();
                    $('#' + substrnd_id + '-subtopic' + las).remove('input');


                    {#                    var cc = $('.' + (($(this).parents('div').eq(1)).attr('class')))#}
                    {#                    var top = ($(this).parents('div').eq(0)).attr('class')#}
                    {#                    var top_id = ($(this).parents('div').eq(0)).attr('id')#}
                    {#                    var top_ht = $('.' + top).height()#}
                    {#                    var sub_str = (($(this).parents('div').eq(1)).attr('class'))#}

                    var sub_str1 = sub_str.split(' ')
                    sub_str = sub_str1[0]

                    var top_div_id = sub_str1[1]
                    var sub_str_ht = $('#' + parent_id + ' .' + sub_str).height()

                    var top_ht = $('#' + parent_id + ' .' + top).height()
                    var top_div_ht = $('#' + parent_id + ' .topic .' + top_div_id).height()


                    sub_str = sub_str.substring(0, sub_str.length - 1);

                    {#                    alert('top_div_ht- ' + top_div_ht + '  sub_str_ht-- ' + sub_str_ht);#}
                    var max_ht = top_div_ht;

                    if (parseInt(top_div_ht) > parseInt(sub_str_ht)) {
                        max_ht = top_div_ht;
                    } else {
                        max_ht = sub_str_ht;
                    }
                    $('#' + parent_id + ' .topic #' + top_id)[0].style.cssText = 'margin-bottom:' + top_ht + 'px';
                    $('#' + parent_id + ' .substrands #' + sub_str)[0].style.cssText = 'margin-bottom:' + max_ht + 'px';

                });


                $("#scheme_code").change(function () {
                    var scheme_code = document.getElementById("scheme_code").value;
                    {#                    if (($(this).val().match(/^(?!\d*[-_]+\d*$)[\w-]+$/) != null) == false) {#}
                    {#                        alert("Please Match The Following Format\n Only Numbers or Alphanumeric is allowed with '-' and '_'")#}
                    {#                        $(this).val('')#}
                    {#                        return false;#}
                    {#                    }#}

                    var url1 = '/school/validate_scheme_code_exist/';
                    scheme_code_exist(url1, scheme_code)
                });

                $("#scheme_name").change(function () {


                    var scheme_name = document.getElementById("scheme_name").value
                    var url1 = '/school/validate_scheme_name_exist/';
                    scheme_name_exist(url1, scheme_name)
                });


            });

            function save_skill_tracker(url, data, code, name, submit, frequency_mapping_data) {

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        data: data,
                        scheme_code: code,
                        scheme_name: name,
                        submit_rec: submit,
                        frequency_data: JSON.stringify(frequency_mapping_data),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        window.location = '{% url "assessment:scheme_definition_list"%}'
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }

            function scheme_code_exist(url, scheme_code) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_code: scheme_code,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        if (data === true) {
                            $('#scheme_code').val("")
                            $('#scheme_code').css('border-color', 'red');
                            alert("Scheme Code is Alredy Exist.")
                            return false;
                        }
                        $('#scheme_code').css('border-color', '');
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }


            function scheme_name_exist(url, scheme_name) {

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_name: scheme_name,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        if (data === true) {
                            $('#scheme_name').val("")
                            $('#scheme_name').css('border-color', 'red');
                            alert("Scheme Name is Alredy Exist.")
                            return false;
                        }
                        $('#scheme_name').css('border-color', '');
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }

            function viewSubjectDetails(url) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        {#                        class_name: class_val,#}
                        {#                        section_name:  JSON.stringify(sec_val),#}
                        {#                        academic_year: academic_val,#}
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                            }
                        });
            }


        }

    </script>

{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:skill_tracker_sub_tile' %}"> Skill Tracker</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:scheme_definition_list' %}"> Scheme Definition List</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a> Scheme Definition</a>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Scheme Definition</span>
            </div>
            <div id="snackbar">Please Match the following format.</div>
        </div>

        <div class="portlet-body">
            <form action="{% url 'assessment:define_scheme_filter' %}" id="" class="form-horizontal" method="POST"
                  enctype="multipart/form-data" novalidate>

                {% csrf_token %}

                {#            <div class="row" id="scheme_row">#}
                {##}
                {#                <div class="">#}
                {#                    <label class="col-md-1 control-label" style="margin-left: 10%;"> Scheme Code:#}
                {##}
                {#                    </label>#}
                {#                    <div class="col-md-2">#}
                {#                        <input id="scheme_code" name="scheme_code" maxlength="32" title="Only Numbers or Alphanumeric is allowed with '-' and '_'" class="form-control validate_value_code emp"></div>#}
                {#                </div>#}
                {##}
                {#                <div class="">#}
                {#                    <label class="col-md-1 control-label " style="margin-left: 10%;">Scheme Name:#}
                {##}
                {#                    </label>#}
                {#                    <div class="col-md-3">#}
                {#                        <input id="scheme_name" name="scheme_name"  maxlength="32" title="Only Alphanumeric is allowed with '-' and '_'" class="form-control emp validate_value"></div>#}
                {#                </div>#}
                {#            </div>#}
                <div class="row" id="scheme_row">
                    <div class="col-md-12">

                        <div class="col-md-2">

                            <div class="">
                                <label style="margin-left: 15px;" class="control-label"> Scheme Code:
                                </label>
                            </div>
                            <div class="">
                                <input id="scheme_code" name="scheme_code" value="{{ selected_scheme_code }}"
                                       class="form-control validate_value_code"
                                       maxlength="32" title="Only Alphanumeric is allowed with '-' and '_'">
                            </div>

                        </div>

                        <div class="col-md-3">
                            <label style="margin-left: 20px;" class="control-label">Scheme Name:

                            </label>
                            <div>
                                <input id="scheme_name" name="scheme_name" value="{{ selected_scheme_name }}"
                                       maxlength="32" title="Only Alphanumeric is allowed with '-' and '_'"
                                       class="validate_value form-control"></div>
                        </div>
                        {#                    <div class="" style="margin-left: 22px;">#}
                        {#                        <label  class="control-label">Frequencies: </label>#}
                        {#                        <div class="">#}
                        {#                            <select  style="width: 150px;" multiple="multiple" class="selectfilter" data-field-name="frequency"#}
                        {#                                    data-is-stacked="0"   id ="id_frequency_mapping" name="frequency_mapping"  disabled>#}
                        {#                            {% for obj in frequency_details_recs %}#}
                        {#                                <option value="{{ obj.frequency_details_name.id }} "> {{ obj.frequency_details_name }}</option>#}
                        {#                            {% endfor %}#}
                        {#                        </select>#}
                        {##}
                        {#                        </div>#}
                        {#                    </div>#}
                        <div class="col-md-2" style="margin-left: 22px;">

                            <label class="control-label">Frequencies:

                            </label>
                            <div class="">
                                <select style="width: 150px;" multiple="multiple" class="selectfilter"
                                        data-field-name="frequency"
                                        id="id_frequency_mapping" name="frequency_mapping">
                                    {#                           <option style="display:none" selected="selected" value="">Please Select</option>#}
                                    {#                        <option  value="">Please Select</option>#}
                                    {% comment %}{% for obj in frequency_recs %}
                                <option value="{{ obj.id }} "> {{ obj.frequency_name }}</option>
                            {% endfor %}{% endcomment %}
                                </select>

                            </div>

                        </div>

                        <div class="col-md-2" style="margin-left: -10px;">

                            <label class="control-label">Subject:

                            </label>
                            <div class="">
                                <select style="width: 200px;" autocomplete="off" class="form-control"
                                        id="id_subject_name" name="subject_name">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for subject_rec in subject_recs %}
                                        <option value="{{ subject_rec.id }}">{{ subject_rec.subject_name }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                        </div>
                        <div class="col-md-2" style="margin-left: 22px;">
                            <button type="submit" id="go_button" class="btn blue btn-block" style="margin-top: 26px;">
                                Go
                            </button>
                        </div>

                    </div>
                    {#               <button style="width: 20%; margin-left: 1%;margin-top: 25px;" id="submit_form" class=" btn btn blue">Submit </button>#}
                </div>


                <form action="" id="form_sample_1" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <table class="table table-striped table-hover table-bordered" id="sample_1" style="margin-top: 1%">
                        <thead>
                        <tr>
                            <th>New Row</th>
                            <th id="remove_ass"> Strands</th>
                            <th> Sub-Strand</th>
                            <th> Topic</th>
                            <th> Sub-Topic</th>
                            <th style="width: 76px;"> Max Score</th>
                        </tr>
                        </thead>

                        <tbody id="tb">

                        <tr class="item count" id="item">

                            <span id="message" style="display:none;"></span>
                            <td><a href="javascript:;" id="add_row" class="form-control btn btn-icon-only green add_row"
                                   style="width:40%;">
                                <i class="fa fa-plus"></i>
                            </a>

                                <a href="javascript:;" class=" remove_row delete btn btn-icon-only purple"
                                   style="width:40%;">
                                    <i class="fa fa-times"></i>
                                </a></td>
                            <td class="strand">
                                <input id="item-strand1" title="Only Alphanumeric is allowed with '-' and '_'"
                                       class="Strand emp validate_value">
                            </td>


                            <td id="ab" class="substrands">
                                <a href="javascript:;" hidden class="delete deleteSubStrands"
                                   style=" position: relative; width:11%;">
                                    <i class="fa fa-times"></i>
                                </a>
                                <div id="item-strand1"><span class="item-strand1"></span>
                                    <a href="javascript:;" id="addSubStrands" class="addSubStrand" style="width:11%;">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <br>

                                    <input id="item-strand1-subStrand1"
                                           title="Only Alphanumeric is allowed with '-' and '_'"
                                           class="len emp validate_value"
                                           style=" margin-bottom: 10%;">

                                    <a href="javascript:;" id="item-strand1-rem1" class="delete deleteSubStrands"
                                       style=" position: relative; width:11%;">
                                        <i class="fa fa-times"></i>
                                    </a>

                                </div>
                            </td>

                            <td id="topic" class="topic">
                                <a href="javascript:;" hidden class="deleteTopic" style="width:11%;">
                                    <i class="fa fa-times"></i>
                                </a>
                                <a href="javascript:;" hidden class="ab addTopic" style="width:11%;">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <div id="item-strand1-subStrand1" class="item-strand1-rem1"><span
                                        class="item-strand1-subStrand1"></span>
                                    <a href="javascript:;" id="item-strand1-add1" class="ab addTopic"
                                       style="width:11%;">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <br>
                                    <input class="len validate_value emp"
                                           title="Only Alphanumeric is allowed with '-' and '_'"
                                           id="item-strand1-subStrand1-topic1"
                                           style="">

                                    <a href="javascript:;" id="item-strand1-subStrand1-rem1" class="deleteTopic"
                                       style="width:11%;">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </td>

                            <div id="all_st1">
                                <td id="subTopic" class="subTopic">
                                    <a href="javascript:;" hidden class=" addSubTopic"
                                       style="position: relative; width:11%;"> <i class="fa fa-plus"></i> </a>
                                    <div class="item-strand1-subStrand1S item-strand1-rem1">
                                        <div id="item-strand1-subStrand1-topic1" class="item-strand1-subStrand1-rem1">
                                            <span class="item-strand1-subStrand1-topic1"></span>
                                            <a href="javascript:;" id="subStrand1-add1" class=" addSubTopic"
                                               style="position: relative; width:11%;"> <i class="fa fa-plus"></i> </a>
                                            <br>
                                            <input id="item-strand1-subStrand1-topic1-subtopic1"
                                                   class="len validate_value emp"
                                                   title="Only Alphanumeric is allowed with '-' and '_'"
                                                   style="">
                                            <br>
                                        </div>
                                    </div>
                                </td>

                                <td id="marks" class="marks">
                                    <a hidden class="delete deleteSubTopic" style="width:11%;"> <i
                                            class="fa fa-times"></i></a>
                                    <div class="item-strand1-subStrand1M item-strand1-rem1">
                                        <div id="item-strand1-subStrand1-topic1" class="item-strand1-subStrand1-rem1">
                                            <span class="item-strand1-subStrand1-topic1"></span>
                                            <br>
                                            <input class="mrk emp" id="item-strand1-subStrand1-topic1-mark1"
                                                   title="Only Numbers Are Allowed">
                                            <a href="javascript:;" id="item-strand1-subStrand1-topic1Trem1"
                                               class="delete deleteSubTopic" style="width:11%;"> <i
                                                    class="fa fa-times"></i></a>
                                            <br>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </form>

                <div style="margin-left: 35%">
                    <button style="width: 20%" id="saveSkillTracker" class=" save btn btn green">Save</button>
                    {#                <button style="width: 20%; margin-left: 35%;" id="submit_form" class=" btn btn green">Save</button>#}
                </div>
            </form>
        </div>
        <!-- END FORM-->
    </div>
    </div>
    <!-- END VALIDATION STATES-->
{% endblock %}