{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  {# Used For Color Picker#}

    <style type="text/css">
{#        .row {#}
{#            margin-left: -150px;#}
{#            margin-right: 20px;#}
{#            margin-top: 0px;#}
{#        }#}

        fieldset {
            font-family: sans-serif;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 20px;
            color: #34495e;
        }


        .emp_chk {
            width: 80px;
        }

        .emp1 {
            width: 150px;
        }

        .label {
            text-shadow: none !important;
            font-size: 14px;
            font-weight: 200;
            padding: 3px 0px;
            color: black;
            font-family: fantasy;
        }


    </style>


    <script>
        window.onload = function () {



            var academic_year = document.getElementById("id_academic_year").value;
{#            alert('academic_year'+academic_year);#}
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)

             id_subject_name = document.getElementById("id_subject_name").value
                if (id_subject_name == '') {
                    $('#id_subject_name').val($('#id_subject_name'));
                    $('#id_subject_name').prepend($('<option>', {

                        value: '',
                        text: 'Please Select'

                    }));
                }

            //YOUR JQUERY CODE
            $(document).ready(function () {


                $(document).on("change", "#id_class_name", function () {
                    var class_value = $('select#id_class_name').val();
                    var academic_value = document.getElementById("id_academic_year").value
{#                    alert('academic_value- '+academic_value+' class_value- '+class_value)#}

                    var url = '/school/view_subject_details/';
                    viewSubjectDetails(url, academic_value, class_value)

                });

                 $(document).on("click", "#id_subject_name", function () {
                    var subject_value = $('select#id_subject_name').val();
{#                    alert('subject_value'+subject_value);#}
                    var class_value = $('select#id_class_name').val();
{#                    alert('class_value'+class_value);#}
                    var academic_value = document.getElementById("id_academic_year").value
{#                     alert('academic_value'+academic_value);#}
{#                    return false;#}

                    var url = '/school/view_mapped_reported_exam_name/';
                    getMappedReportedExam(url, academic_value, class_value, subject_value)
                });

                $(document).on("change", ".exam_name_class", function (e) {
                    // alert('Hi....................')
                var parent_id = $(this).parents('div:eq(3)').attr('id')
{#                     alert(parent_id)#}
                var exam_id = $('#' + parent_id + ' .exam_name_class').val();
{#                     alert(exam_id)#}
{#                     return false;#}

                var url = '/school/view_mapped_reported_frequency/';
                get_mapped_reprted_frequency(url, exam_id, parent_id)
            });

                $("#code" ).change(function() {
                 code = $("#code").val();

                 url = '/school/check_target_code/';
                 checkTargetCode(url,code);
             });
                 $("#setting_name" ).change(function() {
                 name = $("#setting_name").val();
                 //alert(name);
                 url = '/school/check_target_setting_name/';
                 checkTargetSettingName(url,name);
             });

                 $(document).on("change", ".exam_name_class", function (e) {
                    // alert('Hi....................')
                var parent_id = $(this).parents('div:eq(3)').attr('id')
{#                     alert(parent_id)#}
                var exam_id = $('#' + parent_id + ' .exam_name_class').val();
{#                     alert(exam_id)#}
{#                     return false;#}

                var url = '/school/view_mapped_reported_frequency/';
                get_mapped_reprted_frequency(url, exam_id, parent_id)
            });

                    $("#id_subject_name").click(function(e){
                    var class_value = $('select#id_class_name').val();
                    var id_subject_name = document.getElementById("id_subject_name").value
                    var academic_value = document.getElementById("id_academic_year").value
{#                        alert('academic_value'+academic_value);#}
                    var url = '/school/get_report_score_name/';
                    get_report_score(url, id_subject_name, class_value,academic_value)
                });

                    $(document).on("click", "#save", function () {
                    var all_item = $('.item');
                    var data = []
                    for (var i = 0; i < all_item.length; i++) {
                        var payload = {
                            'exam_name': $('#' + all_item[i].id + ' #id_exam_name').val(),
                            'frequency_name': $('#' + all_item[i].id + ' #id_frequency_name').val(),
                        }
                        data.push(payload)
                    }
                   // alert(JSON.stringify(data));
{#                    return false;#}
                    {#                    alert(JSON.stringify(data));#}
                    $('#json_data').val(JSON.stringify(data));
                });


                var change_flag = false;

                $('#action_type').val('add');

                var count = 0;
                var last_max = 0;

                $("#add").click(function () {
                    $('.chk').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');

                    for (var k = 0; k < tex.length; k++) {
                        if (tex[k].value === '') {
                            {#                            $('#' + tex[k].id).css('border-color', 'red');#}
                            flag_val = true;
                            {#                            return false;#}
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Fill Curent Row All Fields Before Adding New Row.")
                        return false;
                    }
                    change_flag = false;
                    ++count;
                    return addForm(this, count);
                });
                var count_report = 0;
                $("#add_report").click(function () {
{#                    $('.chk').css('border-color', '');#}
{#                    var flag_val = false;#}
{#                    var tex = $('.emp');#}
{##}
{#                    for (var k = 0; k < tex.length; k++) {#}
{#                        if (tex[k].value === '') {#}
                            {#                            $('#' + tex[k].id).css('border-color', 'red');#}
{#                            flag_val = true;#}
                            {#                            return false;#}
{#                        }#}
{#                    }#}
{#                    if (flag_val === true) {#}
{#                        alert("Please Fill Curent Row All Fields Before Adding New Row.")#}
{#                        return false;#}
{#                    }#}
{#                    change_flag = false;#}
                    ++count_report;
                    return addFormReport(this, count_report);
                });

                $("#save11").click(function () {
{#                    alert("From Save");#}
{#                    return false;#}

                    {% comment %}if (($('#code_name').val().match(/^[\w](?!\d*[-_]+\d*$)[ \w-]+$/) != null) == true) {
                        $('.emp').css('border-color', '');

                        var name = $("#code_name").val();

                        if (name == '') {
                            alert('Please Enter Grade Name');
                            return false;
                        }

                        if ((name.trim().length) == 0) {
                            alert('Only Space Is Not Allowed In Grade Name.');
                            return false;
                        }

                        var forms = $('.item')
                        $('.greater_mark').css('border-color', '');

                        var min;
                        var max;
                        var grade = [];
                        var color_code = [];
                        var last_id;

                        for (var i = 0; i < forms.length; i++) {


                            var grade_val = $('#' + forms[i].id + ' #grade').val();
                            var color_val = $('#' + forms[i].id + ' #color').val();

                            if ($.inArray(grade_val, grade) == -1) {
                                grade.push(grade_val);
                            }
                            else {
                                var $messageDiv = $('#message'); // get the reference of the div
                                {#                                $messageDiv.show().html('<span style="color:red">Duplicate Grade ' + $("#" + forms[i].id + " #grade").val() + ' Are Found, Only Unique Allowed.</span>');// show and set the message#}
                                $messageDiv.show().html('<span style="color:red">Duplicate Grade  Not Allowed.</span>');// show and set the message
                                setTimeout(function () {
                                    $messageDiv.hide().html('');
                                }, 3000);
                                return false;
                            }

                            if ($.inArray(color_val, color_code) == -1) {

                                color_code.push(color_val);
                            }
                            else {
                                var $messageDiv = $('#message'); // get the reference of the div
                                {#                                $messageDiv.show().html('<span style="color:red">Duplicate Color ' + $("#" + forms[i].id + " #color").val() + ' Are Found, Only Unique Allowed.</span>');// show and set the message#}
                                $messageDiv.show().html('<span style="color:red">Duplicate Color code Not Allowed.</span>');// show and set the message
                                setTimeout(function () {
                                    $messageDiv.hide().html('');
                                }, 3000);
                                return false;
                            }


                            if (forms[i].id == 'item') {
                                min = parseInt($('#item #greater_mark').val());
                                max = parseInt($('#item #less_mark').val());

                                last_id = $('#item #less_mark');
                                if (min == 0 && min < max) {
                                    last_max = max;
                                    last_id = $('#item #less_mark');
                                }
                                else {

                                    if (min != 0) {
                                        var $messageDiv = $('#message'); // get the reference of the div
                                        $messageDiv.show().html('<span style="color:red">The Marks Range Must Start With 0.</span>');// show and set the message
                                        $('#item #greater_mark').css('border-color', 'red');
                                        setTimeout(function () {
                                            $messageDiv.hide().html('');
                                        }, 3000);
                                        return false;
                                    }
                                    else if ((min > max) || (min === max)) {
                                        var $messageDiv = $('#message'); // get the reference of the div
                                        $messageDiv.show().html('<span style="color:red">"Marks Less Than" must be greater than "Marks Greater Than"</span>');// show and set the message
                                        $('#item #greater_mark').css('border-color', 'red');
                                        last_id.css('border-color', 'red');
                                        setTimeout(function () {
                                            $messageDiv.hide().html('');
                                        }, 3000);
                                        return false;
                                    }

                                    else {
                                        alert("Please Fill Proper Data.")
                                        return false;
                                    }

                                }
                            }
                            else if (i == 0) {
                                min = parseInt($('#' + forms[i].id + ' #greater_mark').val());
                                max = parseInt($('#' + forms[i].id + ' #less_mark').val());
                                last_id = $('#' + forms[i].id + ' #less_mark')
                                if (min == 0 && min < max) {
                                    last_max = max;
                                    last_id = $('#' + forms[i].id + ' #less_mark')
                                }
                                else {

                                    if (min != 0) {
                                        var $messageDiv = $('#message'); // get the reference of the div
                                        $messageDiv.show().html('<span style="color:red">The Mark List Must Be Start With 0.</span>');// show and set the message
                                        $('#item #greater_mark').css('border-color', 'red');
                                        setTimeout(function () {
                                            $messageDiv.hide().html('');
                                        }, 3000);
                                        return false;
                                    }
                                    else if ((min > max) || (min === max)) {
                                        var $messageDiv = $('#message'); // get the reference of the div
                                        $messageDiv.show().html('<span style="color:red">"Marks Less Than" must be greater than "Marks Greater Than"</span>');// show and set the message
                                        $('#item #greater_mark').css('border-color', 'red');
                                        last_id.css('border-color', 'red');
                                        setTimeout(function () {
                                            $messageDiv.hide().html('');
                                        }, 3000);
                                        return false;
                                    }

                                    else {
                                        alert("Please Fill Proper Data.")
                                        return false;
                                    }
                                }

                            }
                            else {
                                min = parseInt($('#' + forms[i].id + ' #greater_mark').val());
                                max = parseInt($('#' + forms[i].id + ' #less_mark').val());

                                if ((min < max) && ((min - last_max) == 0)) {
                                    last_max = max;
                                    last_id = $('#' + forms[i].id + ' #less_mark')
                                }
                                else {

                                    if (((min - last_max) != 0)) {
                                        var $messageDiv = $('#' + forms[i].id + ' #message'); // get the reference of the div
                                        $messageDiv.show().html('<span style="color:red">Please enter consecutive marks with previous minimum marks</span>');// show and set the message
                                        $('#' + forms[i].id + ' #greater_mark').css('border-color', 'red');
                                        last_id.css('border-color', 'red');
                                        setTimeout(function () {
                                            $messageDiv.hide().html('');
                                        }, 3000);
                                        return false;
                                    }

                                    else if ((min > max) || (min === max)) {
                                        var $messageDiv = $('#' + forms[i].id + ' #message'); // get the reference of the div
                                        $messageDiv.show().html('<span style="color:red">"Marks Less Than" must be greater than "Marks Greater Than"</span>');// show and set the message
                                        $('#' + forms[i].id + ' #greater_mark').css('border-color', 'red');
                                        $('#' + forms[i].id + ' #less_mark').css('border-color', 'red');
                                        setTimeout(function () {
                                            $messageDiv.hide().html('');
                                        }, 3000);
                                        return false;
                                    }
                                    else {
                                        alert(" Please Fill Proper Records.")
                                        return false;
                                    }
                                }
                            }
                        }

                        $('.chk').css('border-color', '');
                        var flag_val = false;
                        var tex = $('.chk');


                        for (var k = 0; k < $('.chk').length; k++) {
                            if (tex[k].value === '') {
                                {#                            $('#' + tex[k].id).css('border-color', 'red');#}
                                flag_val = true;
                                {#                            return false;#}
                            }
                        }
                        if (flag_val === true) {
                            alert("Please Fill Proper Records.")
                            return false;
                        }
                        change_flag = false;
                        ++count;

                        {#                        else{#}

                        var last_parent_id = $(".item:last").attr('id');
                        var last_mark = $('#' + last_parent_id + ' #less_mark').val()
                        {#                    alert('last_mark'+last_mark);#}

                        if (parseInt(last_mark) != 100) {
                            var $messageDiv = $('#' + last_parent_id + ' #message'); // get the reference of the div
                            $messageDiv.show().html('<span style="color:red">"Marks Range should end with 100."</span>');// show and set the message

                            $('#' + last_parent_id + ' #less_mark').css('border-color', 'red');
                            setTimeout(function () {
                                $messageDiv.hide().html('');
                            }, 3000);
                            return false;
                        }
                    }{% endcomment %}
                });

                $(".delete").click(function () {
                    return deleteForm(this, 'sub_strands');
                });

                function checkTargetCode(url,code)
                {
                     $.ajax({
                     url: url,
                     data: {code:code},
                    dataType: 'json',
                    success: function (data) {
                    if (data.is_taken) {
                        alert(data.error_message);
                        $("#code").val("");
                        }
                    }
                });
                }


                function checkTargetSettingName(url,name)
                {
                     $.ajax({
                     url: url,
                     data: {name:name},
                    dataType: 'json',
                    success: function (data) {
                    if (data.is_taken) {
                        alert(data.error_message);
                        $("#setting_name").val("");
                        }
                    }
                });
                }
                function addForm(btn, prefix) {

                    var id = prefix;
                    var last_parent_id = $(".item:last").attr('id');
                    var row = $(".item:first").clone(true).get(0);
                    row.id = 'item' + id;
                    $(row).children().find(".emp").val('');
                    $(row).hide().insertAfter(".item:last").slideDown(300);

                }
                function addFormReport(btn, prefix) {

                    var id = prefix;
                    var last_parent_id = $(".item_report:last").attr('id');
                    var row = $(".item_report:first").clone(true).get(0);
                    row.id = 'item_report' + id;
                    $(row).children().find(".emp").val('');
                    $(row).hide().insertAfter(".item_report:last").slideDown(300);

                }


                function deleteForm(btn, prefix) {

                    var forms = $('.item');
                    if (forms.length > 1) {
                        $(btn).parents('.item').remove();

                    }
                }
            });


        }
                    function viewAcademicDetails(url1, academic_year) {
                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })
                    .done(
                        function (data) {

                        });
            }
                            function viewSubjectDetails(url, academic_val, class_val) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            class_name: JSON.stringify(class_val),
                            academic_year: academic_val,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {
                                $('#id_subject_name').empty();
                                $('#id_subject_name').append(
                                '<option value="">Please select</option>');
                                for (var i = 0; i < data.length; i++) {
                                    $('#id_subject_name').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].subject_name + '</option>')
                                }
                            })
                }

            function get_mapped_reprted_frequency(url, exam_id, item_id) {
            //alert(url+' h '+ exam_id+" h "+item_id)
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        exam_id: exam_id
                    },
                })
                    .done(
                        function (data) {
                            $('#' + item_id + ' .frequency_class').empty();
                            $('#' + item_id + ' .frequency_class').append(
                                '<option value="">Please select</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#' + item_id + ' .frequency_class').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].frequency_name + '</option>')
                            }
                        });
            }
                    function getMappedReportedExam(url, academic_year, cls, subject) {
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    academic_year: academic_year,
                    class_name: JSON.stringify(cls),
                    subject_name: JSON.stringify(subject),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
            })
                .done(
                    {#                    alert("Hii")#}
                    function (data) {
{#                        alert(data);#}
{#                        return false;#}
                        $('#id_exam_name').empty();
                        $('#id_exam_name').append(
                            '<option value="">Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#id_exam_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].exam_name_rec +
                               '</option>')
                        }
                    });
        }
        function get_report_score(url, id_subject_name, class_val, academic_value ) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        class_name:  JSON.stringify(class_val),
                        id_subject_name: id_subject_name,
                        academic_value: academic_value,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_reported_score').empty();
                            $('#id_reported_score').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_reported_score').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].report_score_name + '</option>')
                            }
                        });
            }



        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>
                <a href="{% url 'assessment:target_setting_sub_tile' %}"> Target Setting </a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>
                    <a href="{% url 'assessment:target_setting_list' %}"> Define Target List </a>
                    <i class="fa fa-angle-right"></i>
                </li>

            <li>
                <span>Add Target</span>
            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Define Target Setting</span>
            </div>

        </div>
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form action="{% url 'assessment:save_target_setting' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="json_data" name="json_data" hidden>

                <div class="form-body">
                <div class="row">
                        <div style="margin-left: -140px;" class="">
                            <label class="col-md-2 control-label"><h4>Code:</h4>
                            </label>

                            <div class="col-md-2">

                                <input class="form-control" name="code" id="code" title="Only Alpha-Numeric is Allowed"pattern="^[\w](?!\d*[-_]+\d*$)[ \w-]+$"required></div>
                        </div>

                        <div class="">
                            <label class="col-md-2 control-label"><h4>Target Setting Name:</h4>
                            </label>
                            <div class="col-md-3">
                                <input class="form-control" id="setting_name" name="setting_name"
                                         title="Only Alpha-Numeric is Allowed"pattern="^[\w](?!\d*[-_]+\d*$)[ \w-]+$"required></div>
                        </div>
                    </div>
                <br>
{#                 <div class="row">#}
{#                     <div style="margin-left: 1%" class="col-md-2">#}
{#                            <h4>Target Setting Code:</h4>#}
{#                            <div class="">#}
{#                                <input id="setting_name" name="setting_name"  class="form-control">#}
{#                            </div>#}
{#                        </div>#}
{#                     <div style="margin-left: 1%" class="col-md-3">#}
{#                            <h4>Target Setting Name:</h4>#}
{#                            <div class="">#}
{#                                <input id="setting_name" name="setting_name"  class="form-control">#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                 </div>#}


                    <div class="row">
                        <div style="margin-left: 1%" class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 120%" autocomplete="off" class="form-control"
                                        id="id_academic_year" name="year_name" required="" readonly>
                                    <option style="display:none" selected="selected"
                                            value="{{ current_academic_year.id }}">{{ current_academic_year.year_name }}</option>
                                </select>
                            </div>
                        </div>
                        <div style="margin-left: 2%" class="col-md-2">
                            <h4> Class:</h4>
                            <div class="">
                                <select style="width:60%" multiple="multiple" multiple="multiple"

                                        autocomplete="off" class="selectfilter " class="form-control ab"
                                        id="id_class_name" name="class_name" required="">

                                {% comment %}<select style="width: 80%" autocomplete="off" class="form-control" id="id_class_name" name="class_name"
                                        required="">{% endcomment %}
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for class_rec in class_recs %}
                                        <option value="{{ class_rec.id }}">{{ class_rec.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


{#                        <div style="margin-left: 3%" class="col-md-2">#}
{#                            <h4>Class:</h4>#}
{#                            <div class="">#}
{#                                <select style="width: 120%;" autocomplete="off" class="form-control"#}
{#                                    id="id_class_name"#}
{#                                    name="class_name" required="">#}
{#                            </select>#}
{#                            </div>#}
{#                        </div>#}
{##}
                        <div style="margin-left: -5%" class="col-md-2">
                            <h4>Subject:</h4>
                            <div class="">
                                <select style="width: 120%" autocomplete="off" class="form-control"
                                            id="id_subject_name" name="subject_name" required="" >
{#                                        <option style="display:none" selected="selected"#}
{#                                                value="{{ current_academic_year.id }}">{{ current_academic_year.year_name }}</option>#}
                                </select>
                            </div>
                        </div>

{#                         <div style="margin-left: 3%" class="col-md-3">#}
{#                            <h4>Target Setting Name:</h4>#}
{#                            <div class="">#}
{#                                <input id="setting_name" name="setting_name"  class="form-control">#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                        <div style="margin-left: 1%" class="col-md-2">#}
{#                            <h4>Reported Score:</h4>#}
{#                            <div class="">#}
{#                            <select style="width: 120%" id='id_report_score_name' name="report_score_name" class="form-control"#}
{#                                                        >#}
{#                                <option style="display:none" selected="selected" value="">Please Select </option>#}
{##}
{#                                        {% for obj in report_score_recs %}#}
{#                                            <option value='{{ obj.id }}'>{{ obj.report_name }}</option>#}
{#                                        {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}


                    </div>

                    <br><br>

                    <div class="portlet-body">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#portlet_tab2" data-toggle="tab">Target Setting Details </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <br>
                            <div class="tab-pane active" id="portlet_tab2">


                                <div class="item container" id="item">
                                            <span id="message" style="display:none;">
                                            </span>
                                    <div class="row" style="margin-left: 10%">
                                        <div class="">
                                            <div class="col-md-2">
                                                <h4>Exam Name: </h4>
                                                <select id='id_exam_name' name="exam_name" class="form-control exam_name_class "
                                                        required="">
                                                    <option style="display:none" selected="selected" value="">Please Select </option>

{#                                                    {% for obj in exam_recs %}#}
{#                                                        <option value='{{ obj.id }}'>{{ obj.exam_name }}</option>#}
{#                                                    {% endfor %}#}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="">
                                            <div class="col-md-2">
                                                <h4>Frequency: </h4>
                                                 <select id='id_frequency_name' name="frequency_name" class="form-control frequency_class "
                                                        required="">
                                                    <option style="display:none" selected="selected" value="">Please Select </option>

{#                                                    {% for obj in exam_recs %}#}
{#                                                        <option value='{{ obj.id }}'>{{ obj.exam_name }}</option>#}
{#                                                    {% endfor %}#}
                                                </select>
                                            </div>
                                        </div>


                                    </div>

                                    <div>
                                        <a href="javascript:;" id="add" class="btn btn-icon-only green"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a href="javascript:;" class="delete btn btn-icon-only purple"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        </div>

                        <!--<div  style="margin-left: 700px;margin-top: -150px;" class="tab-content">
                            <br>
                            <div class="tab-pane active" id="portlet_tab3">


                                <div class="item_report container" id="item_report">
                                            <span id="message" style="display:none;">
                                            </span>
                                    <div class="row" style="margin-left: 10%">

                                        <div class="">
                                            <div class="col-md-2">
                                                <h4>Reported Score: </h4>
                                                 <select id='id_reported_score' name="reported_score_name" class="form-control frequency_class "
                                                        >
                                                    <option style="display:none" selected="selected" value="">Please Select </option>

{#                                                    {% for obj in exam_recs %}#}
{#                                                        <option value='{{ obj.id }}'>{{ obj.exam_name }}</option>#}
{#                                                    {% endfor %}#}
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div>
                                        <a href="javascript:;" id="add_report" class="btn btn-icon-only green"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a href="javascript:;" class="delete_report btn btn-icon-only purple"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        </div>-->
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                                <button id="save" type="submit" class="btn green">Save</button>

                                <button onclick="window.location.href='{% url "assessment:grade_list" %}'"
                                        type="button" class="btn grey-salsa btn-outline">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        {#        </fieldset>#}
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

