{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">

    span {

    /*display: inline-block;*/

    /*border: 0.5px solid gray;*/
}

.qstn{
display: inline-block;

    border: 0.5px solid gray;

}
        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        span {
            font-weight: bold;
        }

        input {
            margin-left: 7%;
        }

        .mrk {
            margin-left: 7%;
            width: 45px;
        }

        .marks span {
            display: none;
        }


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #fff722;
    color: #ff1722;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 138px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

    </style>


{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
    var add;
    var removediv;
$(document).ready(function() {


     $("#txtEditor").Editor();
    $("#contentarea").html('{{ question_obj.question_name|safe}}');



$("#id_subject_name").change(function (e) {
                    var subject_id = $(this).val()
                    var perodic_scheme_id = $('#id_perodic_scheme').val()
                    var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id,perodic_scheme_id)

                });
                $("#id_strand_name").change(function (e) {
                    var strand_name = $(this).val()
                    var url1 = '/school/subject_realted_substrand_perodic_defination/';
                    subject_realted_substrand_perodic_defination(url1, strand_name)

                });

                $("#id_sub_strand").change(function (e) {
                    var substrand_name = $(this).val()
                    var url1 = '/school/subject_realted_topic_perodic_defination/';
                    subject_realted_topic_perodic_defination(url1, substrand_name)

                });

                $("#id_perodic_scheme").change(function (e) {
                    var perodic_scheme_id = $(this).val()
                    var url1 = '/school/perodic_scheme_related_subjects/';
                    perodic_scheme_related_subjects(url1, perodic_scheme_id)

                });
                function subject_realted_strand_perodic_defination(url, subject_id,perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            subject_id: subject_id,
                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#id_strand_name').empty();
                            $('#id_strand_name').append('<option value="">Please select Strand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_strand_name').append('<option value="' + data[i].id + '">'
                                    + data[i].strand_name + '</option>')
                                $('#id_strand_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_substrand_perodic_defination(url, strand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            strand_name: strand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_sub_strand').empty();
                            $('#id_sub_strand').append('<option value="">Please select Substrand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                                $('#id_sub_strand').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function perodic_scheme_related_subjects(url, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_subject_name').empty();
                            $('#id_subject_name').append('<option value="">Please select Subject</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append('<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                                $('#id_subject_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }
                function subject_realted_topic_perodic_defination(url, substrand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            substrand_name: substrand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_topic').empty();
                            $('#id_topic').append('<option value="">Please select Topic</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_topic').append('<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                                $('#id_topic').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


$("#optionpicker").click(function(){
                        var value = ($(this).val());
                     $("#select_ans_optn").val(value);


})

$("#edit").click(function (event) {

                    $("#update").show();
                    $("#edit").hide();
                    $('.dis').prop("disabled", false);
                    $('#add_ans').prop("disabled", false);
                    $('#dlt_ans').prop("disabled", false);
                    $('button').removeClass('disabled');

                });


$("#update").click(function () {

                var answer = []
                var text = $('.ansfield');


                text.each(function(index) {
                    // alert($(this).attr("id"))

                   var variable = $(this).attr('id').split("-")[1]
                   // alert(variable)
                   // alert($("#select_ans_optn-"+variable).val())

                  var  dicload = {
                        "id" : variable,
                        "answer" :$("#select_ans_optn-"+variable).val()
                    }
                    // alert(JSON.stringify(dicload))
                     answer.push(dicload);
                })

                // var question = []
                // var qstn_txt = $('.qstn_cls')
                //
                // qstn_txt.each(function(index) {
                //    alert($(this).val())
                //
                // })

              $('#answerid').val(JSON.stringify(answer))



              var editor = $("#contentarea");
                console.log(editor);

                var content = document.createTextNode(editor.html());

                console.log(content);

                editor.attr('contenteditable', false);
                preElement = $("<pre/>", {
                    contenteditable: true
                });
                preElement.append(content);

                var html = "";
                for (var index = 0; index < preElement.length; index++) {
                    html += preElement[index].innerText;
                }
                $("#content").val(html);

                $('.man').css('border-color', '');
                    var flag = false;

                    $('.man').each(function () {
                        if ($(this).val() == ""||$(this).val()==null) {
                            flag = true;
                        }
                        if (flag == true) {
                            $(this).css('border-color', 'red');
                            return false;
                        }
                    })

                    if (flag == false) {
                            $("#form_sample_1").submit()
                        }

               // return false

                  // $('#form_sample_1').submit()

})
var count = {{total_answer_response}}+1
add = function () {


        if (count <= 20) {


                $('#correct_ans').append('<div class="card" id=div_id' + count + '><input type=text style="height:30%; width:600px;" placeholder="[Answer]" name="answer_option" class=" man cards dis ansfield" id=select_ans_optn-' + count +' value="" ></div>');

                count += 1;

        }


            }


removediv = function (id) {

                    if (count != 0) {
                        // alert(count)
                        $('#div_id' + count).remove();
                        count = count -1;
                    }

                    if (count == 0) {
                        $('#correct_ans')
                            .empty()
                            .remove();


                        $('#div_id').remove();


                    }

                }

document.getElementById("upload_question_image").onchange = function () {
    $('#img_id').show();

      var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : "+fileExtension.join(', '));
            this.value = '';
            return false;

        }

    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("img_id").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};


$("#btn_id").click(function(){
          $("#demo").toggle();
});









});

    </script>

{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:search_question' %}">Search Question</a>
                <i class="fa fa-angle-right"></i>
            </li>



            <li>
                <a>Edit Question</a>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Update Fill in the blank</span>
            </div>
            <button type="button" class="btn blue dis" id="edit" style="width: 10%;float: right;">Edit</button>
            <button type="button" id="update" class="btn red" style="display:none;width: 10%;float: right">Update</button>
            <div id="snackbar">Please Match the following format.</div>
        </div>

        <div class="portlet-body">
        <form action="{% url 'assessment:update_fill_in_the_blank_data' %}" method="POST" id="form_sample_1" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
              <div class="row" id="scheme_row">
              <div class="col-md-12">

            <input type="hidden" value="{{ question_obj.id }}" name="question_id"/>

                    <input type="hidden" id="answerid" name="answer_option_data">

                    <div class="columns" id="scheme_row" style="margin-top: 30px;">

              <div class="row">
                <div class="col-6 col-md-4">
                <div style="margin-left: 25px">  <h4>Title :</h4> </div>
                <input id="titleid_textentry"  name="title_textentry_name" required placeholder="[Title](max 150 characters)" value="{{ question_obj.title}}" class="dis man validate_value form-control"
                                    maxlength="150"   title="Only Alphanumeric is allowed with '-' and '_'" style="width: 600px" disabled>
                </div>
                </div>

                <br>
                <div class="row">
                <div class="col-6 col-md-4">
                <div style="margin-left: 25px">  <h4>Instruction :</h4> </div>
                <input id="instruction_textentry"  name="instruction_textenter_name" required placeholder="Instruction" value="{{ question_obj.instruction}}" class="dis man validate_value form-control"
                                    maxlength="150"   title="Only Alphanumeric is allowed with '-' and '_'" style="width: 600px" disabled></div>
                </div>

             <br>
                <div class="row">
                <div class="col-md-8" style="margin-left:20px">
                 <div style="margin-left:5px">  <h4>Question :</h4> </div>
                <!--<textarea id="text_id" placeholder="answer Field" name="correct_ans"></textarea>-->
                <div class="control-group">
                    <input id="content" type="hidden" name="question_textentry_name" class="qstn_cls man" required>
                    <div style="width: 100%" id="txtEditor"></div>
                </div><br>
                </div>
                </div>


                  <br> <br>


                {% if question_obj.question_photo == "" %}
                                <div class="row">
                                <div class="col-6 col-md-4">
                                <input type="file"id="upload_question_image"class="dis"style="margin-top: 10px" name="upload_question_image_name" disabled>
                                <img id="img_id"style="display:none;margin-left: 30px;margin-top: 10px;" height="180px" width="180px" src="" />
                                <!--<img id="img_qstn_id" />-->
                                </div></div>
                                {% else%}

                                <div class="row">
                                <div class="col-6 col-md-4">
                                <input type="file"id="upload_question_image"class="dis" name="upload_question_image_name" disabled>
                                <img id="img_id" style="margin-left: 30px; margin-top: 10px;" height="180px" width="180px" src="{{question_obj.question_photo.url}}" />
                                <!--<img id="img_qstn_id" />-->
                                </div></div>
                                {% endif%}

                                <br>

                <div style="margin-left: 90%" class="dis">
                <button  type="button" class="btn add btn-icon-only green dis"  id="add_ans" onclick="add()" disabled ><i class="fa fa-plus dis"></i></button>
                <button  type="button" class="delete btn btn-icon-only purple dis" id="dlt_ans" onclick="removediv()" disabled><i class="fa fa-times dis"></i></button>
                </div>

                <div class="row">
                <div class="col-6 col-md-4" id="correct_ans">
                <div style="margin-left: 28px">  <h4>Answer :</h4> </div>
                {% for rec in ans_data %}
                <input id="select_ans_optn-{{rec.id}}"  name="correct_ans_name" placeholder="Answer" value="{{rec.answer}}" required class="ansfield form-control dis man" maxlength="150" style="width: 600px;margin-left:30px;height:30px; width: 600px;" disabled><br>
                {% endfor %}
                </div>
                </div>
                <br>

                <div class="row">
                <div class="col-6 col-md-4">
                <div style="margin-left: 28px">  <h4>Score :</h4> </div>
                <input type="number" id="question_mark"  name="question_mark_name" placeholder="[Score]" value="{{ question_obj.mark}}" value min="0" class="form-control dis man" maxlength="150" required pattern="[0-9]" style="width:600px;" disabled>
                </div>
                </div>


                <br>
                                <div class="">
                                    <button type="button" id="btn_id" style="height:35px; width: 600px; margin:29px;" class="btn blue btn-block" data-toggle="collapse" data-target="#demo">Meta Data
                                    </button>
                                </div>

                                <div id="demo" class="collapse" style="height:35px; width: 600px; margin-left:29px;">
                                 <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_perodic_scheme" disabled title="Select Subject" name="perodic_scheme"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required>
                                         <option style="display:none" selected="selected"
                                                value="{{ perodic_scheme.0.id }}"> {{ perodic_scheme.0.perodic_scheme_name }}</option>
                                        {% for rec in all_perodic_scheme %}
                                            <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                                        {% endfor %}
                                    </select>

                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_subject_name" name="subject_name" disabled
                                            style="height: 35px; width: 600px;margin-top: 2%">
                                        <option style="display:none" selected="selected"
                                                value="{{ selected_subject.id }}"> {{ selected_subject.subject_name }}</option>

                                    </select>

                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_strand_name" name="strand_name"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required disabled>
                                        <option selected="selected"
                                                value="{{ perodic_strand_obj.id }}">{{ selected_strand.strand_name }}</option>

                                    </select>


                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_sub_strand" name="sub_strand"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required disabled>
                                        <option selected="selected"
                                                value="{{ substrand_obj.id }}">{{ selected_substrand.substrands_name }}</option>

                                    </select>

                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_topic" name="topic_name"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required disabled>
                                        <option selected="selected"
                                                value="{{ selected_topic.id }}">{{ selected_topic.topic }}</option>

                                    </select>


                                </div>


                            </div>
                            <br><br>
            </div>
              </div>

            </div>
        </form>
        </div>
        <!-- END FORM-->
    </div>
    </div>
    <!-- END VALIDATION STATES-->
{% endblock %}