{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>


    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {

            {#    $('#id_class_name').prepend(#}
            {#                    '<option value="b">Select All </option>')#}
            //YOUR JQUERY CODE
            $(document).ready(function () {


                {#                $("#id_class_name").change(function () {#}
                {##}
                {#                    var value = $(this).val();#}
                {#                    if (value == 'b') {#}
                {#                        $('#id_class_name option').prop('selected', true);#}
                {#                        $("select option[value='b']").prop("selected", false);#}
                {#                    }#}
                {#                });#}

               {% comment %} $("#id_subject_name").change(function () {

                    var value = $(this).val();
                    if (value == 'c') {
                        $('#id_subject_name option').prop('selected', true);
                        $("select option[value='c']").prop("selected", false);
                    }
                });{% endcomment %}


                {##}
                {#                id_academic_year_value = document.getElementById("id_academic_year").value#}
                {#            if (id_academic_year_value == '') {#}
                {#                $('#id_academic_year').val($('#id_academic_year'));#}
                {#                $('#id_academic_year').prepend($('<option>', {#}
                {##}
                {#                    value: '',#}
                {#                    text: 'Please Select'#}
                {##}
                {#                }));#}
                {#            }#}


               {% comment %} $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });


                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked)
                        alert('Please select atleast one record to delete exam scheme!');


                });

                var currentSelect = $("select#id_academic_year_mapping option:selected").index();

                $("select#id_academic_year_mapping option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });{% endcomment %}

                {#var currentSelect = $("select#id_class_name_mapping option:selected").index();#}
                {##}
                {#$("select#id_class_name_mapping option").click(function() {#}
                {#    if ($(this).index() == currentSelect) {#}
                {#        $(this).prop("selected", false);#}
                {#        currentSelect = -1;#}
                {#    } else {#}
                {#        currentSelect = $(this).index();#}
                {#    }#}
{#                {#}
{#                );#}

            {##}
            {#var currentSelect = $("select#id_section_name_mapping option:selected").index();#}
            {##}
            {#$("select#id_class_name option").click(function() {#}
            {#    if ($(this).index() == currentSelect) {#}
            {#        $(this).prop("selected", false);#}
            {#        currentSelect = -1;#}
            {#    } else {#}
            {#        currentSelect = $(this).index();#}
            {#    }#}
{#            {);#}



        /*$('#deselectall').click(function() {
            $('select#id_academic_year option').removeAttr("selected");
        });*/

        {#		academic_year = document.getElementById("id_academic_year").value#}
        {#        var url1 = '/school/viewAcademicDetails/';#}
        {#        viewAcademicDetails(url1,academic_year);#}
        {##}
        {#		$("#id_academic_year").change(function() {#}
        {##}
        {#			academic_year = document.getElementById("id_academic_year").value#}
        {#            var url1 = '/school/viewAcademicDetails/';#}
        {#            viewAcademicDetails(url1,academic_year)#}
        {##}
        {#		});#}



        {#		  $("#id_section_name").click(function(e){#}
        {##}
        {#                    var section_value = $('select#id_section_name').val();#}
        {#                    var academic_value = document.getElementById("id_academic_year").value#}
        {#                    var class_value = document.getElementById("id_class_name").value#}
        {#                    section_value= document.getElementById("id_section_name").value#}
        {#                    var url = '/school/view_subject_details/';#}
        {#                    viewSubjectDetails(url, academic_value, class_value, section_value)#}
        {#                });#}


        {#		$("#id_class_name").change(function() {#}
        {#					class_name = document.getElementById("id_class_name").value#}
        {#					academic_year = document.getElementById("id_academic_year").value#}
        {##}
        {#					var url1 = '/school/viewSectionDetails/';#}
        {#					viewSectionDetails(url1,class_name,academic_year)#}
        {##}
        {#					var url = '/school/viewMultisectTeacherList/';#}
        {#					viewMultisectTeacherList(url,class_name)#}
        {#				});#}


        {% comment %}$("#id_exam_scheme").change(function () {
            var id_exam_scheme = $('#id_exam_scheme').val();
            {#			    alert('id_exam_scheme'+id_exam_scheme);#}

            {#					class_name = document.getElementById("id_class_name").value#}
            {#					academic_year = document.getElementById("id_academic_year").value#}
            {##}
            {#					var url1 = '/school/viewSectionDetails/';#}
            {#					viewSectionDetails(url1,class_name,academic_year)#}
            {##}
            {#					var url = '/school/viewMultisectTeacherList/';#}
            {#					viewMultisectTeacherList(url,class_name)#}

            var url = '/school/view_exam_scheme_subject/';
            view_exam_scheme_subject(url, id_exam_scheme)

        });{% endcomment %}


        {% comment %}$('#id_teacher_name_mapping').multiSelect({
            afterSelect: function (values) {
                //alert("Select value: "+values);
            },
            afterDeselect: function (values) {
                //alert("Deselect value: "+values);
            }
        });{% endcomment %}


        //getCurrentAcademicYear();
                 $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();
                    $("#id_grade").prop('disabled',false);
                });
        });

      {% comment %}  $('#sample_1').dataTable().fnDestroy();

        $('#sample_1').dataTable({
            "aoColumnDefs": [
                {'bSortable': false}
            ]
        });{% endcomment %}


          {% comment %}  function viewSectionDetails(url, class_name, academic_year) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name,
                        academic_year: academic_year
                    },
                })
                {#                    alert("hhh")#}
                    .done(
                        function (data) {
                            {#                            alert("hhh------>");#}
                            $('#id_section_name').empty();
                            {#                            $('#id_section_name').append(#}
                            {#                                '<option value="">Please select</option>');#}

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                            }
                            $("#id_section_name_mapping option").each(function () {
                                $(this).siblings("[value='" + this.value + "']").remove();
                            })
                        });
            }


            function viewMultisectTeacherList(url, class_name) {


                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name
                    },
                })


                    .done(
                        function (data) {
                            console.log(data)
                            $('.teacher').empty();
                            $('.ms-selectable .ms-list li').show();
                            $('.ms-list li').each(function (i) {
                                value2 = $(this).text();

                                for (var i = 0; i < data.length; i++) {


                                    if (data[i].email == value2) {

                                        if ($(this).text(value2)) {
                                            $(this).hide();
                                        }


                                    }

                                }


                            });

                            for (var i = 0; i < data.length; i++) {

                                /*$(".teacher").append('<tr><td>'+ $("#id_class_name").val() +'</td>' + '<td>' + data[i].email + '</td></tr>');	*/
                                $(".teacher").append('<tr><td>' + academic_year + '</td><td>' + class_name + '</td><td>' + data[i].email + '</td></tr>');


                            }


                        });
            }

            function getCurrentAcademicYear() {
                $.ajax({
                    url: '/school/getCurrentAcademicYear/',
                    type: "GET",
                })
                    .done(function (data) {
                        $('#id_academic_year').empty();
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].current_academic_year == true) {
                                $('#id_academic_year').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>');
                                var academic_year = document.getElementById("id_academic_year").value;
                                var url1 = '/school/viewAcademicDetails/';
                                viewAcademicDetails(url1, academic_year);
                            }
                            if (data[i].current_academic_year == false) {
                                $('#id_academic_year').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>')
                            }
                        }
                    });
            }


            function view_exam_scheme_subject(url, id_exam_scheme) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        id_exam_scheme: id_exam_scheme

                    },
                })

                    .done(
                        function (data) {
                            {#                            alert(data[data.length-1]);#}
                            {#                            return false;#}
                            {#                           var a = $('#id_exam_name').val(data);#}

                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="c">Select All</option>');

                            for (var i = 0; i < (data.length) - 1; i++) {
                                {#			                  alert(data[i].id)#}

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].value + '</option>')


                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }
                            if (data[data.length - 1] == true) {

                                {#			                     alert('Hi')#}
                                {#                             $('#id_subject_name').prop("disabled", true);#}
                                {#                                 $('#id_subject_name').prop('disabled','false')#}
                            }
                            else {
                                {#			                 alert('Bye')#}
                                {#                             $('#id_subject_name').prop("disabled", false);#}
                                {#			                 $('#id_subject_name').prop('disabled','false')#}

                            }


                        });
            }{% endcomment %}

            {##}
            {#                 function viewSubjectDetails(url, academic_val, class_val,sec_val ) {#}
            {#                $.ajax({#}
            {#                    url: url,#}
            {#                    type: "POST",#}
            {#                    data: {#}
            {#                        class_name: class_val,#}
            {#                        section_name:  JSON.stringify(sec_val),#}
            {#                        academic_year: academic_val,#}
            {#                        csrfmiddlewaretoken: '{{ csrf_token }}',#}
            {#                    },#}
            {#                })#}
            {##}
            {#                    .done(#}
            {#                        function (data) {#}
            {#                            $('#id_subject_name').empty();#}
            {#                            $('#id_subject_name').append(#}
            {#                                '<option value="">Please select</option>');#}
            {##}
            {#                            for (var i = 0; i < data.length; i++) {#}
            {#                                $('#id_subject_name').append(#}
            {#                                    '<option value="' + data[i].id + '">'#}
            {#                                    + data[i].subject_name + '</option>')#}
            {#                            }#}
            {#                            $("#id_section_name_mapping option").each(function () {#}
            {#                                $(this).siblings("[value='" + this.value + "']").remove();#}
            {#                            })#}
            {#                        });#}
            {#            }#}


        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:view_exam_scheme_mapping' %}">Mapping </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:view_mapping_details' %}">View Mapping </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Edit Mapping</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> EXAM MAPPING</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:exam_mapping_update' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div style="margin-left: 1%" class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <input name="year_name" value="{{ exam_acd_rec.year.id }}" hidden>
                                <input name="exist_exam_child_mapping_rec" value="{{ exam_scheme_subdetails_obj.id }}" hidden>
                                <select style="width: 70%" autocomplete="off" class="form-control" id="id_academic_year"
                                        name="year_name" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ exam_acd_rec.year.id }}">{{ exam_acd_rec.year.year_name }}</option>
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -5%" class="col-md-2">
                            <h4> Class:</h4>
                            <div class="">
                                <input  name="class_name" value="{{ exam_acd_rec.class_obj.id  }}" hidden>
                                <select style="width:60%" data-field-name="ClassDetails"
                                        autocomplete="off" class="form-control ab" id="id_class_name" name=""
                                        required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ exam_acd_rec.class_obj.id }}">{{ exam_acd_rec.class_obj.class_name }}</option>
                                </select>
                            </div>
                        </div>


                        <div style="margin-left: -5%" class="col-md-2">
                            <h4>Exam Name:</h4>
                            <div class="">
                                <input  name="exam_name" value="{{ exam_scheme_subdetails_obj.exam_name.id }}" hidden >
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_exam_name"
                                        name="" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ exam_scheme_subdetails_obj.exam_name.id }}">{{ exam_scheme_subdetails_obj.exam_name.exam_name }}</option>
                                </select>
                            </div>

                        </div>

                        <div style="margin-left: -2%" class="col-md-2">
                            <h4>Exam Scheme:</h4>
                            <div class="">
                                <input  name="exam_scheme_name" value="{{ exam_scheme_subdetails_obj.exam_scheme.id }}" hidden>
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_exam_scheme"
                                        name="" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ exam_scheme_subdetails_obj.exam_scheme.id }}">{{ exam_scheme_subdetails_obj.exam_scheme.exam_scheme_name }}</option>
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -2%" class="col-md-2">
                            <h4> Subject:</h4>
                            <div class="">
                                <input  name="subject_name" value="{{ exam_acd_rec.subject.id  }}" hidden>
                                <select style="width:60%" data-field-name="SubjectDetails"
                                        autocomplete="off" class="form-control ab" id="id_subject_name"
                                        name="" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ exam_acd_rec.subject.id }}">{{ exam_acd_rec.subject.subject_name }}</option>
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -5%" class="col-md-2">
                            <h4>Grading Scheme:</h4>
                            <div class="">
                                <select style="width: 100%" autocomplete="off" class="form-control" id="id_grade"
                                        name="grade_name" required="" disabled>
                                    <option style="display:none" selected="selected" value="{{ exam_scheme_subdetails_obj.grade_name.id }}">{{ exam_scheme_subdetails_obj.grade_name.grade_name }}</option>
                                    {% for grade in grading_recs %}
                                        <option value="{{ grade.id  }}">{{ grade.grade_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                <button type="button" class="btn blue" id="edit"
                        style=" width: 100px; margin-left: 45%; margin-top: 2%;">
                    Edit
                </button>
                <button type="submit" id="update" class="btn green"
                        style=" width: 100px; margin-left: 45%; margin-top: 2%; display: none">
                    Update
                </button>
            </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

    </body>

    </html>
{% endblock %}
