{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}

{% block styleBlock %}
    <style type="text/css">

        body {
            margin: 0;
        }

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        input {
            margin-left: 7%;
            width: 75%;
        }

        .marks input {
            margin-left: 7%;
            width: 60%;
        }

        .marks span {
            display: none;
        }

        .mrk {
            margin-top: 5%;
        }

        . {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }

        #title_preview, #instructions_preview, #question_preview, #option_preview {
            word-break: break-all;
        }

        input {
            margin-left: 7%;
            width: 75%;
            margin-top: 10px;

        }

        .btn.blue:not(.btn-outline) {
            color: white;
            background-color: #0c91e5;
            border-color: #0c91e5;
        }

        .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active
        .card {
           border-style:solid;
           border-width:5px;
           border-color:rgb(0,0,0);


        }

        .row.paddingcls {
            padding-bottom: 0px !important;
            margin-top: 10px;
            /*border: 0.5px solid gray;*/
        }

        .paddingcls {
            padding-bottom: 0px !important;

        }

        .divcls {
            padding-bottom: 0px !important;
            margin-top: 10px;
            height: 30px;
            width: 200px;
            border: 0.5px solid gray;
            margin-left: 30px;
        }
        /*#div_id{*/
        /*color: black;*/
            /*background-color:white;*/
            /*border: 0.5px solid gray;*/
            /**/
        /*}*/

    </style>


{% endblock %}


{% block ScriptBlock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <html xmlns="http://www.w3.org/1999/xhtml"></html>

    <!--<script src="http://code.responsivevoice.org/responsivevoice.js"></script> -->


    {#<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />#}

    <script>

        var add;
        var removediv;
        var loadresponse;

        $(document).ready(function () {
        PortletDraggable.init();

      $("#id_subject_name").change(function (e) {
                    var subject_id = $(this).val()
                    var perodic_scheme_id = $('#id_perodic_scheme').val()
                    var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id,perodic_scheme_id)

                });
                $("#id_strand_name").change(function (e) {
                    var strand_name = $(this).val()
                    var url1 = '/school/subject_realted_substrand_perodic_defination/';
                    subject_realted_substrand_perodic_defination(url1, strand_name)

                });

                $("#id_sub_strand").change(function (e) {
                    var substrand_name = $(this).val()
                    var url1 = '/school/subject_realted_topic_perodic_defination/';
                    subject_realted_topic_perodic_defination(url1, substrand_name)

                });

                $("#id_perodic_scheme").change(function (e) {
                    var perodic_scheme_id = $(this).val()
                    var url1 = '/school/perodic_scheme_related_subjects/';
                    perodic_scheme_related_subjects(url1, perodic_scheme_id)

                });
                function subject_realted_strand_perodic_defination(url, subject_id,perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            subject_id: subject_id,
                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_strand_name').empty();
                            $('#id_strand_name').append('<option value="">Please select strand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_strand_name').append('<option value="' + data[i].id + '">'
                                    + data[i].strand_name + '</option>')
                                $('#id_strand_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_substrand_perodic_defination(url, strand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            strand_name: strand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_sub_strand').empty();
                            $('#id_sub_strand').append('<option value="">Please select Substrand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                                $('#id_sub_strand').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function perodic_scheme_related_subjects(url, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_subject_name').empty();
                            $('#id_subject_name').append('<option value="">Please select Subject</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append('<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                                $('#id_subject_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }
                function subject_realted_topic_perodic_defination(url, substrand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            substrand_name: substrand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_topic').empty();
                            $('#id_topic').append('<option value="">Please select Topic</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_topic').append('<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                                $('#id_topic').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

            $("#edit").click(function (event) {

                    $("#update").show();
                    $("#edit").hide();
                    $('.dis').prop("disabled", false);
                    $('.dis').prop("disabled", false);
                    $('#btAdd').prop("disabled", false);
                    $('button').removeClass('disabled');

                });

                $("#update").click(function () {

                var final=[]
                var txt = $('.questionlist');
                txt.each(function(index) {

                    // var variable_id = $(this).attr('id')
                    var variable_id = $(this).attr('id').split("-")[1]
                    // alert(variable_id)

                   var  dic = {
                        "id" : variable_id,
                         "question" :$("#textBox-"+variable_id).val(),
                        "possible_response" :$("#textBox_n-"+variable_id).val()
                    }

                    final.push(dic);

                    // alert(JSON.stringify(final))
                  })

                    var answer = []
                    var ans = $('.ansclass')
                    var i = 1;
                    ans.each(function(index){
                        var position = i++
                        // alert(position)

                    var ans_id = $(this).attr('id').split("-")[1]

                    // alert($('#data-'+ans_id).val())

                    var ans_dict ={
                        "id":ans_id,
                        "answer":$('#data-'+ans_id).val(),
                        "position": position

                    }

                    answer.push(ans_dict)
                    // alert(JSON.stringify(answer))

                })

                $('#questions_id').val(JSON.stringify(final))
                $('#answerid').val(JSON.stringify(answer))


                $('.man').css('border-color', '');
                    var flag = false;

                    $('.man').each(function () {
                        if ($(this).val() == ""||$(this).val()==null) {
                            flag = true;
                        }
                        if (flag == true) {
                            $(this).css('border-color', 'red');
                            return false;
                        }
                    })

                    if (flag == false) {
                            $("#form_sample_1").submit()
                        }

                 // // return false
                 //  $('#form_sample_1').submit()

  })

var countBox ={{total_answer_response}} + 1

  add = function () {
        if (countBox <= 20) {
            // alert(countBox)
            // countBox = countBox + 1;

             var boxName = "textBox-" + countBox;
                var boxName_n = "textBox_n-" + countBox;

                $('#responce').append('<div style="margin-left:3px;" class="row  removediv" id="' + countBox + '">' +
                    '<div class="col-md-4" style="width: 20%">  <textarea rows="1" input class="dis man scrollabletextbox txtfield questionlist" placeholder="[Question List ]" data-autoresize type="text" id="' + boxName + '" value="" name="question_list"  style="border: solid 1px #ccc;margin-left: 30px"></textarea></div>' +
                    '<div class="col-md-5" style="width: 15%;padding:0 6px 0 0;"><textarea rows="1"  input class=" man dis scrollabletextbox_n ansfield" placeholder="[Possible Responses]"  data-autoresize type="text" id="' + boxName_n + '" value="" name="answer_response"  style="border:solid 1px #ccc";></textarea></div>' +
                    '<div class="col-md-1"><span class="input-group-btn" style="padding-left: 15px;"><button  type="button" class="btn red danger removebutton"  id="' + countBox + '" onclick="removediv(this.id)" ><i class="fa fa-trash-o"></i></button></span></div>' +
                    '</div>');

                $('#addresponce').append('<div style="margin-left:3px;width: 600px;" class="card" id=div_id' + countBox + '><input style="width: 400px;" type=text placeholder="[Answer]" name="answer_option" class="cards dis ansclass" id=data-' + countBox +' value="" readonly></div>');

                countBox += 1;

        }
        }

          $(document).on("change", ".ansfield", function () {
                    var values = this.value;

                    var index = $(this).attr("id").split("textBox_n-")[1];

                    $("#data-" + index).val(values);


                });


 // $(document).on("change", ".anstxt", function () {
 //                    var values = this.value;
 //                     alert(values)
 //                    var data1 = $(this).attr("id").split("textBox_n-")[1];
 //                    alert(data1)
 //
 //                    // alert(index)
 //
 //                 $("#data-" + data1).val(values);
 //
 //                   alert( $("#data-" + data1).val(values))
 //
 //                });
 //

          $("#addresponce").sortable({
                    placeholder: 'slide-placeholder',
                    axis: "y",
                    revert: 150,
                    start: function (e, ui) {

                        placeholderHeight = ui.item.outerHeight();
                        ui.placeholder.height(placeholderHeight + 15);
                        $('<div class="slide-placeholder-animator" data-height="' + placeholderHeight + '"></div>').insertAfter(ui.placeholder);

                    },
                    change: function (event, ui) {

                        ui.placeholder.stop().height(0).animate({
                            height: ui.item.outerHeight() + 15
                        }, 300);

                        placeholderAnimatorHeight = parseInt($(".slide-placeholder-animator").attr("data-height"));

                        $(".slide-placeholder-animator").stop().height(placeholderAnimatorHeight + 15).animate({
                            height: 0
                        }, 300, function () {
                            $(this).remove();
                            placeholderHeight = ui.item.outerHeight();
                            $('<div class="slide-placeholder-animator" data-height="' + placeholderHeight + '"></div>').insertAfter(ui.placeholder);
                        });

                    },
                    stop: function (e, ui) {

                        $(".slide-placeholder-animator").remove();

                    },
                });

          removediv = function (id) {
                var id = id;
                console.log('Delete ' + id);

                $("div#" + id).remove();
                $("#div_id" + id).remove();

            }

            document.getElementById("upload_question_image").onchange = function () {
              $('#img_id').show();

      var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : "+fileExtension.join(', '));
            this.value = '';
            return false;
        }

    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("img_id").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};
          $("#btn_id").click(function(){
          $("#demo").toggle();
});


});


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:search_question' %}">Search Question</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a> Match Order List</a>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Match Order List</span>
            </div>
            <button type="button" class="btn blue dis" id="edit" style="width: 10%;float: right;">Edit</button>
                        <button type="button" id="update" class="btn red" style="display:none;width: 10%;float: right">Update</button>
        </div>

        <div class="portlet-body">

            <form action="{% url 'assessment:update_match_order_list' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="columns" id="scheme_row">

                 <input type="hidden" value="{{ question_obj.id }}" name="rec_id"/>


            <input type="hidden" id="answerid" name="answer_option_data">
            <input type="hidden" id="questions_id" name="match_order_list_question">
            <input type="hidden" id="position_id" name="postion_data">

                    <div class="row">
                        <div class="col-6 col-md-4">
                      <div style="margin-left:30px">  <h4>Title :</h4> </div>
                            <input id="title_mcq"  name="title_name" placeholder="[Title](max 150 characters)" value="{{ question_obj.title}}" class="validate_value form-control dis man"
                                    maxlength="150"   title="Only Alphanumeric is allowed with '-' and '_'"  required disabled style="width: 600px;">
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-6 col-md-4">
                        <div style="margin-left:30px">  <h4>Instruction :</h4> </div>

                           <input id="instruction_mcq"  name="instruction_name" placeholder="Instruction" value="{{ question_obj.instruction}}" class="validate_value form-control dis man"
                                    maxlength="150" style="width: 600px"  title="Only Alphanumeric is allowed with '-' and '_'" disabled>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-6 col-md-4">
                         <div style="margin-left:30px">  <h4>Question :</h4> </div>
                            <input id="question_id" name="question_name" placeholder="Question" value="{{ question_obj.question_name}}"
                                   class="validate_value form-control dis man" style="width: 600px"
                                   maxlength="150" title="Only Alphanumeric is allowed with '-' and '_'" disabled>
                        </div>
                    </div>


                    <br>

                    {% if question_obj.question_photo == "" %}
                                <div class="row">
                                <div class="col-6 col-md-4">
                                <input type="file"id="upload_question_image"class="dis" name="upload_question_image_name" disabled>
                                <img id="img_id"style="display:none;margin-left: 30px; margin-top: 10px"" height="180px" width="180px" src="" />
                                <!--<img id="img_qstn_id" />-->
                                </div></div>
                                {% else%}

                                <div class="row">
                                <div class="col-6 col-md-4">
                                <input type="file"id="upload_question_image"class="dis" name="upload_question_image_name" disabled>
                                <img id="img_id" style="margin-left: 30px; margin-top: 10px" height="180px" width="180px" src="{{question_obj.question_photo.url}}" />
                                <!--<img id="img_qstn_id" />-->
                                </div></div>
                                {% endif%}

                                <br>

                    <input type="hidden" id="inputid" name="ans_option">

                    <br>

                    <div class="form-group">
                        <div class="" id="responce">

                        <div style="margin-left:3px;" class="row  removediv" id="">
                            <div class="col-md-4" style="width: 20%">
                            <div style="margin-left: 25px">  <h4>Question List:</h4> </div>

                            {% for rec in question_list %}

                                <textarea rows="1" input class="scrollabletextbox txtfield dis questionlist man" placeholder="[Question List ]" data-autoresize type="text" id="textBox-{{rec.id}}" value="" name="question_list_name"  style="border: solid 1px #ccc;margin-left: 30px" required disabled>{{rec.questions}}</textarea>
                            {% endfor %}
                            </div>
                            <div class="col-md-5" style="width: 15%;padding:0 6px 0 0;">
                             <div style="margin-left:5px">  <h4>Possible Responses:</h4> </div>

                            {% for rec in question_list %}
                                <textarea rows="1"  input class="scrollabletextbox_n ansfield anstxt dis man " placeholder="[Possible Responses]"  data-autoresize type="text" id="textBox_n-{{rec.id}}" value="" name="answer_response_name"  style="border:solid 1px #ccc"; required disabled>{{rec.answer_response}}</textarea>
                            {% endfor %}
                            </div>
                           <!-- <div class="col-md-1"><span class="input-group-btn" style="padding-left: 15px;">
                             <button  type="button" class="btn danger removebutton"  id="{{rec.id}}" onclick="removediv(this.id)" ><i class="fa fa-trash-o"></i></button></span>
                            </div> -->
                        </div>



                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-4">
                            <input type="button" style="width:20%" id="btAdd" onclick="add()" value="Add+"
                                   class="bt save btn btn green" disabled/>
                        </div>
                    </div>

                    <br>

                    <div class="row dis" id="correct_event">
                        <label class="control-label" style="margin-left:45px">Correct Response (<a
                                        style="font-size:10px;">Note : After any change in options please select the correct
                                    order for matching.</a>)</label>
                        <div class="col-6 col-md-12 mcq_bottom_align" style="margin-left:-10px">

                            <div class ="col-sm-4 " id="addresponce" name="addresponce" style="margin-left: -8px" >
                            {% for rec in ans_data %}
                                <div class="card datatxt" id="div_id" style="width: 600px;">
                                    <input type=text placeholder="[Answer]" style="width:400px" name="answer_option_name" class="cards dis ansclass" id= "data-{{rec.id}}" value="{{rec.answer}}" required disabled>
                                   <!-- <input type=text placeholder="[Answer]" style="width:300px;display: none;" name="answer_option_name" class="cards dis ansclass" id= "data-{{rec.id}}" value="{{rec.answer}}" disabled>{{rec.answer}} -->
                                </div>

                                {% endfor %}
                               <!-- <div class="sortable" id="sortable_id"></div> -->

                            </div>
                        </div>
                    </div>


                    <br>
                    <div class="row">
                        <div class="col-6 col-md-4" style="margin-left:3px;">
                        <div style="margin-left:30px">  <h4>Score:</h4> </div>

                            <input type="number" id="question_mark"  name="question_mark_name" placeholder="[Score]" value="{{ question_obj.mark}}" value min="0" class="form-control dis man" maxlength="150"  style="width:600px;" required pattern="[0-9]" disabled>
                        </div>
                    </div>


                    <br>

                          <div class="">
                                    <button type="button" id="btn_id" style="height:35px; width: 600px; margin:30px;" class="btn blue btn-block" data-toggle="collapse" data-target="#demo">Meta Data
                                    </button>
                          </div>

                          <div id="demo" class="collapse" style="height:35px; width: 600px; margin-left:30px;">

                                 <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_perodic_scheme" disabled title="Select Subject" name="perodic_scheme"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required>
                                         <option style="display:none" selected="selected"
                                                value="{{ perodic_scheme.0.id }}"> {{ perodic_scheme.0.perodic_scheme_name }}</option>
                                        {% for rec in all_perodic_scheme %}
                                            <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                                        {% endfor %}
                                    </select>

                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_subject_name" name="subject_name" disabled
                                            style="height: 35px; width: 600px;margin-top: 2%">
                                        <option style="display:none" selected="selected"
                                                value="{{ selected_subject.id }}"> {{ selected_subject.subject_name }}</option>

                                    </select>

                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_strand_name" name="strand_name"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required disabled>
                                        <option selected="selected"
                                                value="{{ perodic_strand_obj.id }}">{{ selected_strand.strand_name }}</option>

                                    </select>

                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_sub_strand" name="sub_strand"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required disabled>
                                        <option selected="selected"
                                                value="{{ substrand_obj.id }}">{{ selected_substrand.substrands_name }}</option>

                                    </select>

                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_topic" name="topic_name"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required disabled>
                                        <option selected="selected"
                                                value="{{ selected_topic.id }}">{{ selected_topic.topic }}</option>

                                    </select>


                                </div>

                            <br><br>

                        <input type="hidden" id="countchoice" name="countchoice" value=""/>

</div>
</form>
    <!-- END FORM-->
    </div>
</div>
    <!-- END VALIDATION STATES-->
{% endblock %}
