{% extends "index.html" %}
{% block StyleBlock %}

    <style>
        {#.tooltip1 {#}
        {#    position: relative;#}
        {#    display: inline-block;#}
        {#    border-bottom: 1px dotted black;#}

        .tooltip1 .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
        {#    position: absolute;#} z-index: 1;
            bottom: 100%;
        {#    left: 50%;#}{#    margin-left: -60px;#} opacity: 0;
            transition: opacity 1s;
        }

        .tooltip1 .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .tooltip1:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        thead input {
            width: 60px;
            margin-left: 4%;
            text-align: center;
            background-color: #f5ffba;
        }

        tr input {
            width: 60px;
            text-align: center;
        }

        tr {
            width: 60px;
            text-align: center;
        }

        .tot input {
            width: 60px;
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-right-width: 0px;
            border-left-width: 0px;
        }

        .outof {
            width: 60px;
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-right-width: 0px;
            border-left-width: 0px;
        }

        th {
            text-align: center;
        }

    </style>

{% endblock %}
{% block ScriptBlock %}
    <script>

        window.setTimeout(function () {

            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

        window.onload = function () {
            $(".test").on('click', function (e) {
                window.open($(this).attr("data-href"), '_blank');
            });
            $(document).ready(function () {
                $('#example').DataTable({
                    "paging": false,
                    "ordering": false,
                    "info": false
                });
                (function ($) {
                    $.extend({
                        toDictionary: function (query) {
                            var parms = {};
                            var items = query.split("&"); // split
                            for (var i = 0; i < items.length; i++) {
                                var values = items[i].split("=");
                                var key = decodeURIComponent(values.shift());
                                var value = values.join("=")
                                parms[key] = decodeURIComponent(value);
                            }
                            return (parms);
                        }
                    })
                })(jQuery);

                (function ($) {
                    $.fn.serializeFormJSON = function () {
                        var o = [];
                        $(this).find('tr').each(function () {
                            var elements = $(this).find('input, textarea, select,checkbox,button')
                            {#                            console.log($(this));#}
                            if (elements.size() > 0) {
                                var serialized = $(this).find('input, textarea, select,checkbox,button').serialize();
                                var item = $.toDictionary(serialized);
                                o.push(item);
                            }
                        });
                        return o;
                    };
                })(jQuery);
                $("#submit").click(function () {
                    var rawData = $('#nameGenderForm').serializeFormJSON();
                    var data = JSON.stringify(rawData);
                    alert(data);
                    document.getElementById("id_data").value = data;
                });
            });
        }
    </script>

{% endblock %}

{% block content %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    {% csrf_token %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:target_setting_sub_tile' %}"> Target Setting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:set_student_target_list' %}"> Student Target List </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>View Student Target</span>
            </li>
        </ul>

    </div>

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Manage Student Target</span>
            </div>


        </div>
        <div class="portlet-body">
            <form method="post" action="" id="exportForm" >
                {% csrf_token %}
                <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>
                <div class="form-body">
                    <div class="row">
                        {% for acd_rec in student_target_rec %}

                            <input type="hidden" value="{{ acd_rec.id }}" id="student_target_detail_id"
                                   name="student_target_detail_id"/>

                            <div class="col-md-2">
                                <h4>Academic Year: </h4>

                                <div class="">

                                    <input value="{{ current_academic_year.id }}" name="year_name" hidden>
                                    <select style="width: 100%;" autocomplete="off" class="form-control"
                                            data-live-search="true"
                                            id="id_academic_year" name="year_name" readonly>
                                        <option style="display : none" selected="selected"
                                                value="{{ acd_rec.year_name.id }}"> {{ acd_rec.academic_mapping.year_name }}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <h4>Class: </h4>
                                <input hidden id="class_hidden_id" name="class_name" value="{{ Selected_Class_Id }}">
                                <div class="">
                                    <select style="width: 100%;" autocomplete="off" class="form-control"
                                            data-live-search="true"
                                            id="id_class_name" name="class_name" required="" readonly>
                                        <option style="display : none" selected="selected"
                                                value="{{ acd_rec.class_name.id }}"> {{ acd_rec.academic_mapping.class_name }}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <h4> Section: </h4>
                                <div class="">
                                    <select style="width: 100%;" autocomplete="off" class="form-control"
                                            id="id_section_name"
                                            name="section_name" required="" readonly>
                                        <option style="display : none" selected="selected"
                                                value="{{ acd_rec.section_name.id }}"> {{ acd_rec.academic_mapping.section_name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h4>Subject:</h4>
                                <div class="">
                                    <select style="width: 100%;" autocomplete="off" class="form-control"
                                            id="id_subject_name"
                                            name="subject_name" required="" readonly>
                                        <option style="display : none" selected="selected"
                                                value="{{ acd_rec.subject_name.id }}"> {{ acd_rec.subject_name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h4>Target:</h4>
                                <div class="">
                                    <select style="width: 100%;" autocomplete="off" class="form-control"
                                            id="id_subject_name"
                                            name="target_name" required="" readonly>
                                        <option style="display : none" selected="selected"
                                                value="{{ acd_rec.target_name.id }}"> {{ acd_rec.target_name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" id="button1" class="btn blue btn-block" style="margin-top: 38px;"
                                        disabled>
                                    Go
                                </button>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </form>
        </div>
    </div>
    </body>
    </html>

    <div class="portlet light portlet-fit ">
        <div class="portlet-body">
            <form id="nameGenderForm" method="post" action="{% url 'assessment:edit_save_student_target' %}"
                  enctype="multipart/form-data">{% csrf_token %}
                <div style=" width:100%; overflow: auto">
                    <input hidden type='text' id="id_data" name="data"/>



                    <table name="data" style="width:100%;"
                           class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                           id="example" role="grid" aria-describedby="sample_1_info">
                        <thead>
                        <tr role="row">
                            {#                    <th> Select Student</th>#}
                            <th style="display:none;">Student Code
                            </th>
                            <th> Student Name
                            </th>
                            {% if main_dict %}
                                {% for rec in main_dict %}
                                    {% for freq in rec.frequency.sub_freq %}

                                        {% ifequal rec.frequency.sub_freq|length 1 %}
                                            <th>
                                                {{ rec.exam.exam_name }} - {{ freq.freq_name }}
                                            </th>
                                        {% else %}
                                            <th>
                                                {{ rec.exam.exam_name }} - {{ freq.freq_name }}
                                            </th>
                                        {% endifequal %}


                                    {% endfor %}

                                {% endfor %}
                            {% endif %}
                        </tr>
                        </thead>

                        <tbody>
                        <span id="message" style="display:none;"></span>
                        {% for obj in student_filter %}

                            <tr style="cursor: pointer;" name="data" id="item{{ forloop.counter }}" class="tr item abc">
                                <td style="display:none;"> {{ obj.student.student_code }}
                                    <input hidden type='text' name="studentId" id="student_{{ obj.student.id }}"
                                           value='{{ obj.student.id }}' style="width: 80%;" readonly></td>
                                <td>{{ obj.student.get_all_name }}
                                    <input type='text' hidden name="studentName" value='{{ obj.first_name }}' readonly></td>

                                {% for grade in grade_dict %}

                                    <input type='text' hidden value='{{ flag.res }}' readonly></td>
                                    <td>
                                        <select autocomplete="off" class="form-control"
                                                id="id_exam_grades"
                                                name="grades_{{ forloop.counter }}" required="">
                                            {% for grd in obj.exam_grade.all %}
                                                {% if grd.frequency_name == grade.exam.frequency_name %}
                                                    {{ grade.exam.frequency_name }} ={{ grd.frequency_name }}
                                                    <option selected style="display: none;"
                                                            value="{{ grd.grade_name.id }}">{{ grd.grade_name.grades }}</option>
                                                {% else %}
                                                    {% if flag.count == 0 %}
                                                        {% for grade_obj in grade.grades %}
                                                            <option value="{{ grade_obj.id }}">{{ grade_obj.grades }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {{ flag.inc }}
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <input  readonly id="{{ forloop.counter }}_{{ grade.exam.exam_mapping_name.exam_name }}" name="exam_{{ forloop.counter }}" value="{{ grade.exam.exam_mapping_name.id }}" type="hidden" >
                                    <input  readonly id="{{ forloop.counter }}_{{ grade.exam.frequency_name.frequency_name }}" name="freq_{{ forloop.counter }}" value="{{ grade.exam.frequency_name.id }}" type="hidden" >
                                    <input  readonly id="{{ forloop.counter }}_{{ grade.exam.frequency_name.frequency_name }}" name="counter" value="{{ forloop.counter }}" type="hidden">
                                    </td>{% endfor %}
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                            <button type="submit" id="submit" class="btn blue"> Update</button>
                                <a href="{% url 'assessment:set_student_target_list' %}">
                                <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
