{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}

{% block styleBlock %}
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        span {
            font-weight: bold;
        }

        input {
            margin-left: 7%;
            width: 75%;
        }

        .marks input {
            margin-left: 7%;
            width: 60%;
        }

        .marks span {
            display: none;
        }

        .mrk {
        {#          margin-left: 7%;#} margin-top: 5%;
        }

    </style>


{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {#<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />#}

    <script>
        window.onload = function () {

            $('.dis').prop("disabled", true);

{#            function mrk_chk() {#}
{#                var total_mark = 0;#}
{#                var all_marks = $('.mrk');#}
{#                for (var i = 0; i < all_marks.length; i++) {#}
{#                    if (all_marks[i].value != '')#}
{#                        total_mark = total_mark + parseInt(all_marks[i].value);#}
                    {#                    alert(all_marks[i].value);#}
{#                }#}
{#                if (parseInt(total_mark) <= 100) {#}
{#                    return false;#}
{#                }#}
{#                                alert(total_mark)#}
{#                return true;#}
{#            }#}


{#            function mrk_chk1() {#}
{#                var total_mark = 0;#}
{#                var all_marks = $('.mrk');#}
{#                for (var i = 0; i < all_marks.length; i++) {#}
{#                    if (all_marks[i].value != '')#}
{#                        total_mark = total_mark + parseInt(all_marks[i].value);#}
                    {#                    alert(all_marks[i].value);#}
{#                }#}
{#                if (parseInt(total_mark) >= 100) {#}
{#                    return true;#}
{#                }#}
{#                return false;#}
{#            }#}


{#            function total_mrk_chk(val) {#}
{#                var total_mark = 0;#}
{#                var all_marks = $('.mrk');#}
{#                for (var i = 0; i < all_marks.length; i++) {#}
{#                    if (all_marks[i].value != '') {#}
{#                        total_mark = total_mark + parseInt(all_marks[i].value);#}
{#                    }#}
                    {#                    alert(all_marks[i].value);#}
{#                }#}
                {#                alert(parseInt(total_mark)+' --> ')#}
{#                if ((parseInt(total_mark) + parseInt(val)) >= 100) {#}
{#                    return true;#}
{#                }#}
{#                return false;#}
{#            }#}


            $(document).on("change", ".validate_value1", function (e) {
                if (($(this).val().match(/^[\w](?!\d*[-_]+\d*$)[ \w-]*$/) != null) == false) {
                    $(this).css('border-color', 'red');
                    $(this).val('')
                    var id = $(this).attr('id');
                    $("." + id).text('');

                    alert("Please Match The Following Format\n Only Alphanumeric is allowed with '-' and '_'")
                    return false;
                }
                $(this).css('border-color', '');
            });

            {% comment %}$(document).on("change", ".mrk", function (e) {
                if (($(this).val().match(/^[0-9]+$/) != null) == false) {
                    $(this).css('border-color', 'red');
                    $(this).val('')
                    return false;
                }
                $(this).css('border-color', '');
            });{% endcomment %}



            {% comment %}$(document).on("click", ".save", function () {
                $('.emp').css('border-color', '');
                var flag_val = false;
                var tex = $('.emp');

                for (var k = 0; k < $('.emp').length; k++) {
                    if (tex[k].value === '') {
                        $('#' + tex[k].id).css('border-color', 'red');
                        flag_val = true;
                    }
                }
                if (flag_val === true) {
                    alert("Please Enter Proper Values Then Update.")
                    return false;
                }

                var submit = false;
                {#               Initially Getting All input count and their ids#}
                var parent_id = $(this).parents('tr:eq(0)').attr('id');
                var scheme_id = document.getElementById('scheme_id').value;
                var stand_id = $('#' + parent_id + ' .save_rec #stand').val()

                var topic_len = $('#' + parent_id + ' #topic .len').length;
                var sub_topic_len = $('#' + parent_id + ' #subTopic .len').length;
                var all_substrand_id = $('#' + parent_id + ' .substrands input');
                var all_substrand_option_id = $('#' + parent_id + ' .substrands option');
                var all_topic_id = $('#' + parent_id + ' #topic input');
                var all_topic_option_id = $('#' + parent_id + ' #topic option');
                var all_sub_topic_id = $('#' + parent_id + ' .subTopic input');
                var all_sub_topic_option_id = $('#' + parent_id + ' .subTopic option');
                var all_topic_option_id = $('#' + parent_id + ' .topic option');
                var all_substrand_option_id = $('#' + parent_id + ' .substrands option');
                var all_marks_id = $('#' + parent_id + ' .marks input');
                var topics = [];
                var scheme_code = $('#scheme_code').val();
                var scheme_name = $('#scheme_name').val();

                var data = [];  // Main array in which all records will be pushed

                for (var i = 0; i < topic_len; i++) {   // Creating a paylod of topic-ids and their values
                    var topic_id = all_topic_id[i].id;

                    var payload = {
                        "id": topic_id,
                        "value": document.getElementById(topic_id).value
                    }
                    topics.push(payload);
                }

                var strand_value = $('#' + parent_id + '-strand1').val();
                var substrand = [];  // Array for pushing substrand
                var sublen = $('#' + parent_id + ' #ab .len').length;  //Substrand input field count


                var top_payload

                for (var i = 0; i < sublen; i++) {  //Loop for substrand
                    var id = all_substrand_id[i].id;
                    var aa = [];

                    var sp_id = id.split("-");  //spliting substrand ids and sp_id[2] is substrand input id like subStrand1, subStrand2 etc.
                    for (var j in topics) {  //Loop to iterating topic elements
                        var sub_data = [];


                        var top_id = topics[j].id;
                        var t_id = top_id.split("-");  //spliting topic - and t_id[2] is topic input id like subStrand1, subStrand1 etc.

                        if (sp_id[2] == t_id[2]) {   // checking ids of subStrand and topic for their relation
                            for (var k = 0; k < sub_topic_len; k++) {   // iterating till the subtopic field count

                                var sub_topic_id = all_sub_topic_id[k].id;
                                var s_id = sub_topic_id.split('-');


                                var mark_id = all_marks_id[k].id;


                                if (t_id[3] == s_id[3]) {  // if relation found between topic and subtopic through their ids then creating a payload for topic and with their Subtoics

                                    if (($("#" + sub_topic_id).next()).is('OPTION') === true) {
                                        var sub_payload = {
                                            "subtopic_ids": ($("#" + sub_topic_id).next()).val(),  // Its Id of subtopic for further Use
                                            "value": document.getElementById(sub_topic_id).value,  // Value of subtopic
                                            "mark": document.getElementById(mark_id).value,
                                        }
                                    }
                                    else {
                                        var sub_payload = {

                                            "subtopic_ids": '',  // Its Id of subtopic for further Use
                                            "value": document.getElementById(sub_topic_id).value,  // Value of subtopic
                                            "mark": document.getElementById(mark_id).value,
                                        }
                                    }
                                    sub_data.push(sub_payload);  // pushing subtopic payload/dictionary to subtopic array
                                }
                            }

                            var value = topics[j].value;
                            st_val = value;
                            if (($("#" + topics[j].id).next()).is('OPTION') === true) {

                                if (sub_data.length === 0) {
                                    alert("Please Enter Subtopic and Mark For " + st_val + " Before Submitting The Record")
                                    return false;
                                }

                                top_payload = {              // dictionary for topic and subtopic
                                    topic_id: ($("#" + topics[j].id).next()).val(),
                                    topic_name: value,
                                    subtopic: sub_data,
                                }
                            } else {
                                if (sub_data.length === 0) {
                                    alert("Please Enter Subtopic and Mark For " + st_val + " Before Submitting The Record")
                                    return false;
                                }

                                top_payload = {              // dictionary for topic and subtopic
                                    topic_id: '',
                                    topic_name: value,
                                    subtopic: sub_data,
                                }
                            }
                            aa.push(top_payload)
                        }
                    } // End of topic loop

                    st_val = $('#' + id).val();
                    if (($('#' + id).next()).is('OPTION') === true) {

                        if ((aa.length === 0)) {
                            alert("Please Enter Topic, Subtopic and Mark For " + st_val + " Before Submitting The Record..")
                            return false;
                        }

                        dic = {
                            substrand_id: ($('#' + id).next()).val(),
                            substrand_name: $('#' + id).val(),
                            topic: aa
                        }
                    }
                    else {

                        if ((aa.length === 0)) {
                            alert("Please Enter Topic, Subtopic and Mark For " + st_val + " Before Submitting The Record..")
                            return false;
                        }

                        dic = {
                            substrand_id: '',
                            substrand_name: $('#' + id).val(),
                            topic: aa
                        }
                    }

                    substrand.push(dic)    // pushing dictionary of substrand in substrand array
                }  // End of substrand for loop

                if ((substrand.length === 0)) {
                    alert("Please Enter Substrand, Topic, Subtopic and Mark For " + strand_value + " Before Submitting The Record..")
                    return false;
                }

                var payl = {   // Pushing substrand array to strand dictionary
                    strand: strand_value,
                    substrand: substrand
                };

                data.push(payl);  // Finally Pushing strand dictionary to final array
                {#                alert(JSON.stringify(data));#}
                 var url = '/school/save_edit_exam_definition/';

                update_skill_tracker(url, JSON.stringify(data), scheme_id, stand_id, submit);

{#                var url = '/school/scheme_definition_update/';#}
{#                update_skill_tracker(url, JSON.stringify(data), scheme_id, stand_id, submit);   // Passing the final data array to ajax for passing backend#}
            });   // End of save Button{% endcomment %}


            $(document).on("click", "#submit_form", function () {
                $('.emp').css('border-color', '');
                var flag_val = false;
                var tex = $('.emp');

                for (var k = 0; k < $('.emp').length; k++) {
                    if (tex[k].value === '') {
                        $('#' + tex[k].id).css('border-color', 'red');
                        flag_val = true;
                    }
                }
                if (flag_val === true) {
                    alert("Please Enter Proper Values Then Submit.")
                    return false;
                }

{#                var total_mark = 0;#}
{#                var all_marks = $('.mrk');#}
{#                for (var i = 0; i < all_marks.length; i++) {#}
{#                    if (all_marks[i].value != '') {#}
{#                        total_mark = total_mark + parseInt(all_marks[i].value);#}
{#                    }#}
                    {#                    alert(all_marks[i].value);#}
{#                }#}
{##}
{#                if (parseInt(total_mark) < 100) {#}
{#                    alert('Scheme Score Should Be 100 its ' + total_mark + ' Now.')#}
{#                    return false;#}
{#                }#}
{#                if (parseInt(total_mark) > 100) {#}
{#                    alert('Scheme Score Should Be 100 You Are Exceeding It.')#}
{#                    return false;#}
{#                }#}

                var all_parent = $('#tb tr');
                var main = [];
                var submit = true;
                var scheme_code = $('#scheme_code').val();
                var scheme_name = $('#scheme_name').val();

                for (var p = 0; p < all_parent.length; p++) {
                    {#                Initially Getting All input count and their ids#}
                    {#                var parent_id = $(this).parents('tr:eq(0)').attr('id');#}
                    var parent_id = all_parent[p].id;
                    var scheme_id = document.getElementById('scheme_id').value;
                    var stand_id = $('#' + parent_id + ' .save_rec #stand').val()

                    var topic_len = $('#' + parent_id + ' #topic .len').length;
                    var sub_topic_len = $('#' + parent_id + ' #subTopic .len').length;
                    var all_substrand_id = $('#' + parent_id + ' .substrands input');
                    var all_substrand_option_id = $('#' + parent_id + ' .substrands option');
                    var all_topic_id = $('#' + parent_id + ' #topic input');
                    var all_topic_option_id = $('#' + parent_id + ' #topic option');
                    var all_sub_topic_id = $('#' + parent_id + ' .subTopic input');
                    var all_sub_topic_option_id = $('#' + parent_id + ' .subTopic option');
                    var all_topic_option_id = $('#' + parent_id + ' .topic option');
                    var all_substrand_option_id = $('#' + parent_id + ' .substrands option');
                    var all_marks_id = $('#' + parent_id + ' .marks input');
                    var topics = [];

                    var st_val = null;

                    var data = [];  // Main array in which all records will be pushed

                    for (var i = 0; i < topic_len; i++) {   // Creating a paylod of topic-ids and their values
                        var topic_id = all_topic_id[i].id;

                        var payload = {
                            "id": topic_id,
                            "value": document.getElementById(topic_id).value
                        }
                        topics.push(payload);
                    }

                    var strand_value = $('#' + parent_id + '-strand1').val();
                    var substrand = [];  // Array for pushing substrand
                    var sublen = $('#' + parent_id + ' #ab .len').length;  //Substrand input field count


                    var top_payload

                    for (var i = 0; i < sublen; i++) {  //Loop for substrand
                        var id = all_substrand_id[i].id;
                        var aa = [];

                        var sp_id = id.split("-");  //spliting substrand ids and sp_id[2] is substrand input id like subStrand1, subStrand2 etc.
                        for (var j in topics) {  //Loop to iterating topic elements
                            var sub_data = [];


                            var top_id = topics[j].id;
                            var t_id = top_id.split("-");  //spliting topic - and t_id[2] is topic input id like subStrand1, subStrand1 etc.

                            if (sp_id[2] == t_id[2]) {   // checking ids of subStrand and topic for their relation
                                for (var k = 0; k < sub_topic_len; k++) {   // iterating till the subtopic field count

                                    var sub_topic_id = all_sub_topic_id[k].id;
                                    var s_id = sub_topic_id.split('-');


                                    var mark_id = all_marks_id[k].id;


                                    if (t_id[3] == s_id[3]) {  // if relation found between topic and subtopic through their ids then creating a payload for topic and with their Subtoics

                                        if (($("#" + sub_topic_id).next()).is('OPTION') === true) {
                                            var sub_payload = {
                                                "subtopic_ids": ($("#" + sub_topic_id).next()).val(),  // Its Id of subtopic for further Use
                                                "value": document.getElementById(sub_topic_id).value,  // Value of subtopic
                                                "mark": document.getElementById(mark_id).value,
                                            }
                                        }
                                        else {
                                            var sub_payload = {

                                                "subtopic_ids": '',  // Its Id of subtopic for further Use
                                                "value": document.getElementById(sub_topic_id).value,  // Value of subtopic
                                                "mark": document.getElementById(mark_id).value,
                                            }
                                        }
                                        sub_data.push(sub_payload);  // pushing subtopic payload/dictionary to subtopic array
                                    }
                                }

                                var value = topics[j].value;
                                st_val = value;
                                if (($("#" + topics[j].id).next()).is('OPTION') === true) {

                                    if (sub_data.length === 0) {
                                        alert("Please Enter Subtopic and Mark Before Saving The Record.");
                                        {#alert("Please Enter Subtopic and Mark For " + st_val + " Before Submitting The Record")#}
                                        return false;
                                    }

                                    top_payload = {              // dictionary for topic and subtopic
                                        topic_id: ($("#" + topics[j].id).next()).val(),
                                        topic_name: value,
                                        subtopic: sub_data,
                                    }
                                } else {
                                    if (sub_data.length === 0) {
                                        alert("Please Enter Subtopic and Mark Before Saving The Record.");
                                        {#alert("Please Enter Subtopic and Mark For " + st_val + " Before Submitting The Record");#}
                                        return false;
                                    }

                                    top_payload = {              // dictionary for topic and subtopic
                                        topic_id: '',
                                        topic_name: value,
                                        subtopic: sub_data,
                                    }
                                }
                                aa.push(top_payload)
                            }
                        } // End of topic loop

                        st_val = $('#' + id).val();
                        if (($('#' + id).next()).is('OPTION') === true) {

                            if ((aa.length === 0)) {
                                {#alert("Please Enter Topic, Subtopic and Mark For " + st_val + " Before Submitting The Record..")#}
                                alert("Please Enter Topic, Subtopic and Mark Before Saving The Record..");
                                return false;
                            }

                            dic = {
                                substrand_id: ($('#' + id).next()).val(),
                                substrand_name: $('#' + id).val(),
                                topic: aa
                            }
                        }
                        else {

                            if ((aa.length === 0)) {
                                alert("Please Enter Topic, Subtopic and Mark Before Saving The Record..")
                                {#alert("Please Enter Topic, Subtopic and Mark For " + st_val + " Before Submitting The Record..");#}
                                return false;
                            }

                            dic = {
                                substrand_id: '',
                                substrand_name: $('#' + id).val(),
                                topic: aa
                            }
                        }

                        substrand.push(dic)    // pushing dictionary of substrand in substrand array
                    }  // End of substrand for loop

                    if ((substrand.length === 0)) {
                        alert("Please Enter Substrand, Topic, Subtopic and Mark Before Saving The Record..");
                        {#alert("Please Enter Substrand, Topic, Subtopic and Mark For " + strand_value + " Before Submitting The Record..")#}
                        return false;
                    }

                    {% comment %}var payl = {   // Pushing substrand array to strand dictionary
                        strand: strand_value,
                        substrand: substrand
                    };{% endcomment %}

                    if(stand_id==null){
                        var payl = {   // Pushing substrand array to strand dictionary
                        stand_id: '',
                        strand: strand_value,
                        substrand: substrand
                    };
                    }
                    else{
                        var payl = {   // Pushing substrand array to strand dictionary
                        stand_id: stand_id,
                        strand: strand_value,
                        substrand: substrand
                    };
                    }

                    main.push(payl); // Finally Pushing strand dictionary to final array
                }
                data.push(main);
                {#                alert(JSON.stringify(data));#}

                if (confirm("Are You Sure Want To Save It?") === true) {
                    var url = '/school/save_edit_exam_definition/';
                    update_skill_tracker(url, JSON.stringify(data), scheme_name,scheme_id, stand_id, submit);   // Passing the final data array to ajax for passing backend
                }
                {#                                alert(JSON.stringify(data));#}
            });


            $(document).on("click", ".delete", function () {
                var len = $('.main').length;
                var parent_id = $(this).parents('tr:eq(0)').attr('id')
                var stand_id = $('#' + parent_id + ' .save_rec #stand').val()
                var scheme_id = document.getElementById('scheme_id').value;

                if (len > 1) {
                    var url = '/school/exam_strand_delete/';
                    exam_delete_strand(url, scheme_id, stand_id);
                    {#                    var url = '/school/strand_delete/';#}
                    {#                    delete_strand(url, scheme_id, stand_id);#}
                }
                else {
                    alert("A Single Record Cannot Be Deleted.")
                }
            });


            var count = $('.count').length;
            var addes_row_count = 0;
            $(document).on("click", ".add_row", function () {

{#                var flag_mrk = false;#}
{#                flag_mrk = mrk_chk1();#}
{#                if (flag_mrk === true) {#}
{#                    alert("Max Score Cannot Exceed 100 Marks.");#}
{#                    return false;#}
{#                }#}

                {% comment %}if (addes_row_count > 0) {
                    alert("Please Save The Last Added Record First Then Add Again. ");
                    return false;
                }
                else {% endcomment %}{
                    addes_row_count++;
                    ++count;
                    return addForm(count);
                }
            });


            function addForm(prefix) {
                var id = prefix;
                {#                var row = '<tr class="item count" id="item' + id + '"><td><a href="javascript:;" id="add_row" class="  form-control btn btn-icon-only green add_row" style="width:40%;"><i class="fa fa-plus"></i></a><a href="javascript:;" class=" remove_row btn btn-icon-only purple" style="width:40%;"><i class="fa fa-times"></i></a></td><td class="strand"><input id="item' + id + '-strand1" class="Strand"><a href="javascript:;" id="addSubStrands" class="addSubStrand" style="width:11%;"><i class="fa fa-plus"></i></a></td> <td id="ab" class="substrands"><input id="' + id + '-strand1-subStrand1" class="len" style="width: 65%;"><a href="javascript:;" id="item' + id + '-strand1-add1" class="ab addTopic" style="width:11%;"><i class="fa fa-plus"></i></a><a href="javascript:;" id="item' + id + '-strand1-rem1" class="deleteSS deleteSubStrands" style=" position: relative; width:11%;"><i class="fa fa-times"></i></a></td><td id="topic" class="topic"><input class="len" id="item' + id + '-strand1-subStrand1-topic1" style="width: 65%;"><a href="javascript:;" id="subStrand1-add1" class=" addSubTopic" style="position: relative; width:11%;"><i class="fa fa-plus"></i></a><a href="javascript:;" id="item' + id + '-strand1-subStrand1-rem1" class="deleteTopic" style="width:11%;"><i class="fa fa-times"></i></a></td>  <td id="subTopic" class="subTopic"><input id="item' + id + '-strand1-subStrand1-topic1-subtopic1" class="len" style="width: 65%;"></td>  <td id="marks" class="marks"><input class="marks" id="item' + id + '-strand1-subStrand1-topic1-mark1"><a href="javascript:;" id="item' + id + '-strand1-subStrand1-topic1Trem1" class="delete deleteSubTopic" style="width:11%;"><i class="fa fa-times"></i></a> </td> <td><a href="javascript:;" id="saveSkillTracker" class=" save btn btn green">Save <i class="fa fa-save"></i> </a></td></tr> '#}
                var row = '<tr class="item count" id="item' + id + '"><span id="message" style="display:none;"></span><td><a href="javascript:;" id="add_row" class="  form-control btn btn-icon-only green add_row" style="width:40%;"><i class="fa fa-plus"></i></a><a href="javascript:;" class=" remove_row delete btn btn-icon-only purple" style="width:40%;"><i class="fa fa-times"></i></a></td> <td class="strand"><input id="item' + id + '-strand1" title="Only Alphanumeric is allowed with \'-\' and \'_\'" class="Strand validate_value emp"></td> <td id="ab" class="substrands"><div id="item' + id + '-strand1"><span class="item' + id + '-strand1"></span><a href="javascript:;" id="addSubStrands" class="addSubStrand" style="width:11%;"><i class="fa fa-plus"></i></a><br><input id="item' + id + '-strand1-subStrand1" title="Only Alphanumeric is allowed with \'-\' and \'_\'" class="len validate_value emp" style="width: 65%;  margin-bottom: 10%;"><a href="javascript:;" id="item' + id + '-strand1-rem1" class="deleteSS" style=" position: relative; width:11%;"><i class="fa fa-times"></i></a></div></td> <td id="topic" class="topic"><div id="item' + id + '-strand1-subStrand1" class="item' + id + '-strand1-rem1"><span class="item' + id + '-strand1-subStrand1"></span><a href="javascript:;" id="item' + id + '-strand1-add1" class="ab addTopic" style="width:11%;"><i class="fa fa-plus"></i></a><br><input class="len validate_value emp" title="Only Alphanumeric is allowed with \'-\' and \'_\'" id="item' + id + '-strand1-subStrand1-topic1" style="width: 65%;"><a href="javascript:;" id="item' + id + '-strand1-subStrand1-rem1" class="deleteTOP" style="width:11%;"><i class="fa fa-times"></i></a></div></td>  <div id="all_st1"><td id="subTopic" class="subTopic"><div class="item' + id + '-strand1-subStrand1S item' + id + '-strand1-rem1"><div id="item' + id + '-strand1-subStrand1-topic1" class="item' + id + '-strand1-subStrand1-rem1"><span class="item' + id + '-strand1-subStrand1-topic1"></span><a href="javascript:;" id="subStrand1-add1" class=" addSubTopic" style="position: relative; width:11%;"> <i class="fa fa-plus"></i> </a><br><input id="item' + id + '-strand1-subStrand1-topic1-subtopic1" title="Only Alphanumeric is allowed with \'-\' and \'_\'" class="len validate_value emp" style="width: 65%;"><br></div></div></td> <td id="marks" class="marks "><a hidden class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a><div class="item' + id + '-strand1-subStrand1M item' + id + '-strand1-rem1"><div id="item' + id + '-strand1-subStrand1-topic1" class="item' + id + '-strand1-subStrand1-rem1"><span class="item' + id + '-strand1-subStrand1-topic1"></span><br><input class="marks mrk emp" style="width=60%" title="Only Numbers Are Allowed" id="item' + id + '-strand1-subStrand1-topic1-mark1"><a href="javascript:;"  id="item' + id + '-strand1-subStrand1-topic1Trem1" class="deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a><br></div></div></td></div> <td></td></tr>'
{#                var row = '<tr class="item count" id="item' + id + '"><span id="message" style="display:none;"></span><td><a href="javascript:;" id="add_row" class="  form-control btn btn-icon-only green add_row" style="width:40%;"><i class="fa fa-plus"></i></a><a href="javascript:;" class=" remove_row delete btn btn-icon-only purple" style="width:40%;"><i class="fa fa-times"></i></a></td> <td class="strand"><input id="item' + id + '-strand1" class="Strand validate_value emp"></td> <td id="ab" class="substrands"><div id="item' + id + '-strand1"><span class="item' + id + '-strand1"></span><a href="javascript:;" id="addSubStrands" class="addSubStrand" style="width:11%;"><i class="fa fa-plus"></i></a><br><input id="item' + id + '-strand1-subStrand1" class="len validate_value emp" style="width: 65%;  margin-bottom: 10%;"><a href="javascript:;" id="item' + id + '-strand1-rem1" class="delete deleteSubStrands" style=" position: relative; width:11%;"><i class="fa fa-times"></i></a></div></td> <td id="topic" class="topic"><div id="item' + id + '-strand1-subStrand1" class="item' + id + '-strand1-rem1"><span class="item' + id + '-strand1-subStrand1"></span><a href="javascript:;" id="item' + id + '-strand1-add1" class="ab addTopic" style="width:11%;"><i class="fa fa-plus"></i></a><br><input class="len validate_value emp" id="item' + id + '-strand1-subStrand1-topic1" style="width: 65%;"><a href="javascript:;" id="item' + id + '-strand1-subStrand1-rem1" class="deleteTopic" style="width:11%;"><i class="fa fa-times"></i></a></div></td>  <div id="all_st1"><td id="subTopic" class="subTopic"><div class="item' + id + '-strand1-subStrand1S item' + id + '-strand1-rem1"><div id="item' + id + '-strand1-subStrand1-topic1" class="item' + id + '-strand1-subStrand1-rem1"><span class="item' + id + '-strand1-subStrand1-topic1"></span><a href="javascript:;" id="subStrand1-add1" class=" addSubTopic" style="position: relative; width:11%;"> <i class="fa fa-plus"></i> </a><br><input id="item' + id + '-strand1-subStrand1-topic1-subtopic1" class="len validate_value emp" style="width: 65%;"><br></div></div></td> <td id="marks" class="marks "><a hidden class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a><div class="item' + id + '-strand1-subStrand1M item' + id + '-strand1-rem1"><div id="item' + id + '-strand1-subStrand1-topic1" class="item' + id + '-strand1-subStrand1-rem1"><span class="item' + id + '-strand1-subStrand1-topic1"></span><br><input class="marks mrk emp" style="width=60%" id="item' + id + '-strand1-subStrand1-topic1-mark1"><a href="javascript:;"  id="item' + id + '-strand1-subStrand1-topic1Trem1" class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a><br></div></div></td></div> <td><a href="javascript:;" id="saveSkillTracker" class=" save btn btn green">Save <i class="fa fa-save"></i> </a></td></tr>'#}
                $(row).hide().insertAfter(".item:last").slideDown(300);
            }

            $(document).on("click", ".remove_row", function () {
                var len = $('.count').length;
                len = parseInt(len);
                if (len > 1) {
                    addes_row_count--;
                    $(this).parents('tr:eq(0)').remove();
                }
                else {
                    alert("A Single Record Cannot Be Deleted.")
                }
            });

            $(document).ready(function () {

                 $('#example').dataTable().fnDestroy();
                $('#example').dataTable(
                    {
                        "bSort": false,
                        "paging": false,
                        "ordering": false,
                        "info": false
                    });

                $('.sorting_desc').removeClass('sorting_desc');
                $('.sorting_asc').removeClass('sorting_asc');

{#                $(document).on("paste", ".mrk", function (e) {#}
{#                    var clipboardData = e.clipboardData || e.originalEvent.clipboardData || window.clipboardData;#}
{#                    var pastedData = clipboardData.getData('text');#}
{##}
{#                    if ((pastedData.match(/^[0-9]+$/) != null) == false) {#}
                        {#                        $(this).css('border-color', 'red');#}
                        {#                        $(this).val('')#}
{#                        return false;#}
{#                    }#}
{#                    if (parseInt(pastedData) > 100) {#}
{#                        alert("Scheme-Max Score Should be 100")#}
{#                        return false;#}
{#                    }#}
{##}
{#                    var flag_mrk = false;#}
{#                    flag_mrk = total_mrk_chk(pastedData);#}
{#                    if (flag_mrk === true) {#}
{#                        alert("Max Score Cannot Exceed 100 Marks.")#}
{#                        return false;#}
{#                    }#}
{#                    $(this).css('border-color', '');#}
{#                });#}

                $(document).on("keypress", ".mrk", function (e) {
                    e = (e) ? e : window.event;
                    var charCode = (e.which) ? e.which : e.keyCode;
                    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                        return false;
                    }
                    return true;
                });

                $(document).on("blur", ".mrk", function (e) {
                    {#                    alert("Hello "+$(this).val())#}
{#                    if (parseInt($(this).val()) > 100) {#}
{#                        alert("Scheme-Max Score Should be 100")#}
{#                        $(this).val('')#}
{#                        return false;#}
{#                    }#}

{#                    var flag_mrk = false;#}
{#                    flag_mrk = mrk_chk();#}
{#                    if (flag_mrk === true) {#}
{#                        alert("Max Score Cannot Exceed 100 Marks.  11");#}
{#                        $(this).val('');#}
{#                        return false;#}
{#                    }#}
                    return true;
                });



                $(document).on("change", "input", function () {
                    var id = $(this).attr('id');
                    $("." + id).text($(this).val());
                });

                $(document).on("keyup", "input", function () {
                    var id = $(this).attr('id');
                    $("." + id).text($(this).val());
                });

                $(document).on("click", ".addSubStrand", function () {

                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {
                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }

{#                    var flag_mrk = false;#}
{#                    flag_mrk = mrk_chk1();#}
{#                    if (flag_mrk === true) {#}
{#                        alert("Max Score Cannot Exceed 100 Marks.")#}
{#                        return false;#}
{#                    }#}

                    var count1 = 0;
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')

                    var strand = $('#' + parent_id + ' .strand  input:first').attr('id')
                    if ($('#' + parent_id + ' .substrands  input:last').length > 0) {

                        var id = $('#' + parent_id + ' .substrands  input:last').attr('id')
                        var i = id.split('subStrand')[1];
                    }
                    else {
                        i = 0;
                    }

                    var div = document.createElement("div");
                    var divS = document.createElement("div");
                    var divM = document.createElement("div");
                    var textBox = document.createElement("input");
                    var br = document.createElement("br");
                    var br1 = document.createElement("br");
                    var sp = document.createElement("span");

                    count1 = parseInt(i)
                    ++count1;

                    textBox.style.cssText = ' margin-bottom: 10%; '
                    textBox.id = strand + "-subStrand" + count1;
                    textBox.classList.add('len', 'validate_value', 'emp');
                    textBox.title="Only Numbers or Alphanumeric is allowed with '-' and '_'"
                    document.getElementById(parent_id).getElementsByClassName("substrands")[0].appendChild(textBox);

                    var add = $(".item .addTopic").clone(true).get(0);
                    add.hidden = false;
                    add.id = strand + '-add' + count1;

                    var del = $(".r1 .deleteSS").clone(true).get(0);
                    del.id = strand + '-rem' + count1;
                    del.hidden = false
                    add.style.cssText = 'position:relative; margin-top: 2%; margin-left:3px; cursor: pointer;';
                    del.style.cssText = 'position:relative; margin-top: 2%; margin-left:1%; cursor: pointer;';

                    var m_id = strand + "-subStrand" + count1;
                    sp.classList.add(m_id);
                    div.classList.add(strand + '-rem' + count1);
                    divS.classList.add(strand + "-subStrand" + count1 + "S", strand + '-rem' + count1);
                    divM.classList.add(strand + "-subStrand" + count1 + "M", strand + '-rem' + count1);
                    div.id = m_id
                    div.style.cssText = 'margin-top: 3%; '

                    div.appendChild(sp)
                    div.appendChild(add)
                    div.appendChild(br1)

                    document.getElementById(parent_id).getElementsByClassName("topic")[0].appendChild(div);
                    document.getElementById(parent_id).getElementsByClassName("substrands")[0].append(del);
                    document.getElementById(parent_id).getElementsByClassName("subTopic")[0].append(divS);
                    document.getElementById(parent_id).getElementsByClassName("marks")[0].append(divM);
                });


                $(document).on("click", ".deleteSS", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' #topic .len').length;
                    var len = $('#' + parent_id + ' #ab .len').length;

                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("-");
                    var las = res[2].split("rem")[1];
                    var top_len = '#' + parent_id + '-strand1-subStrand' + las;
                    var top_child = $("#" + parent_id + " .topic " + top_len + " input");

                    if (len > 1) {
                        if (top_child.length > 0) {
                            if (confirm("Related Topic and Subtopic Will Also Be Deleted." +
                                    "Are You Sure Want To Delete It?") === true) {

                                $('#' + parent_id + '-strand1-subStrand' + las).remove();
                                $('#' + parent_id + '-strand1-add' + las).remove();
                                $('#' + parent_id + '-strand1-rem' + las).remove();

                                $("#" + parent_id + " .topic ." + id).remove();
                                $("#" + parent_id + " .subTopic ." + id).remove();
                                $("#" + parent_id + " .marks ." + id).remove();
                            }
                        }
                        else {
                            $('#' + parent_id + '-strand1-subStrand' + las).remove();
                            $('#' + parent_id + '-strand1-add' + las).remove();
                            $('#' + parent_id + '-strand1-rem' + las).remove();

                            $("#" + parent_id + " .topic ." + id).remove();
                            $("#" + parent_id + " .subTopic ." + id).remove();
                            $("#" + parent_id + " .marks ." + id).remove();
                        }
                    }
                });


                $(document).on("click", ".addTopic", function () {
                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {

                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }

                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }

{#                    var flag_mrk = false;#}
{#                    flag_mrk = mrk_chk1();#}
{#                    if (flag_mrk === true) {#}
{#                        alert("Max Score Cannot Exceed 100 Marks.")#}
{#                        return false;#}
{#                    }#}

                    var count1 = 0;
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var las = $(this).attr('id');

                    var index = las.split('add')[1];

                    var len = $('#' + parent_id + ' .substrands .addTopic').length;
                    var all_input_id = $('#' + parent_id + ' .topic  input')
                    var max = 0;

                    if (all_input_id.length > 0) {
                        var arr = [];
                        for (var z = 0; z < all_input_id.length; z++) {
                            arr.push(parseInt((all_input_id[z].id).split('topic')[1]));
                        }

                        max = arr.reduce(function (a, b) {
                            return Math.max(a, b);
                        });
                    }

                    count1 = parseInt(max);
                    count1 = count1 + 1;

                    var app = parent_id + '-strand1' + '-subStrand' + index;
                    var add = $(".item .addSubTopic").clone(true).get(0);
                    add.id = 'subStrand' + index + '-add' + count1;
                    add.hidden = false;
                    var del = $(".r1 .deleteTOP").clone(true).get(0);
                    del.id = app + '-rem' + count1;
                    del.hidden = false;

                    var div = document.createElement("div");
                    var divM = document.createElement("div");
                    var textBox = document.createElement("input");
                    var br = document.createElement("br");
                    var br1 = document.createElement("br");
                    var sp = document.createElement("span");
                    var sp1 = document.createElement("span");
                    var m_id = app + "-topic" + count1;

                    sp.classList.add(m_id);
                    sp1.classList.add(m_id);
                    divM.style.cssText = ' margin-top: 3%; '
                    div.style.cssText = 'margin-top: 3%; '
                    textBox.style.cssText = 'margin-top: 2%;'
                    textBox.id = app + "-topic" + count1;
                    textBox.classList.add('len', 'validate_value', 'emp');
                    textBox.title="Only Numbers or Alphanumeric is allowed with '-' and '_'"
                    $(this).parents('div:eq(0)')[0].appendChild(textBox);
                    $(this).parents('div:eq(0)')[0].append(del);

                    divM.classList.add(app + '-rem' + count1);
                    div.classList.add(app + '-rem' + count1);

                    divM.id = app + "-topic" + count1;
                    div.id = app + "-topic" + count1;
                    div.appendChild(sp)
                    div.appendChild(add)
                    div.appendChild(br)
                    divM.appendChild(sp1)
                    divM.appendChild(br1)

                    $("#" + parent_id + " .subTopic ." + app + "S")[0].append(div);
                    $("#" + parent_id + " .marks ." + app + "M")[0].append(divM);
                     $("#" + parent_id + " .subTopic ." + app + "S")[0].append(div);
                    $("#" + parent_id + " .marks ." + app + "M")[0].append(divM);

                    var div_id = app + "-topic" + count1
                    var abx = $('#' + parent_id + ' .subTopic #' + div_id)
                    var sub_str = (((abx).parents('div').eq(0)).attr('class'))

                    var top = ($(this).parents('div').eq(0)).attr('class')
                    var top_id = ($(this).parents('div').eq(0)).attr('id')


                    sub_str = sub_str.split(' ')[0]
                    var sub_str_ht = $('#' + parent_id + ' .' + sub_str).height()
                    sub_str = sub_str.substring(0, sub_str.length - 1);
                    $('#' + parent_id + ' .substrands #' + sub_str)[0].style.cssText = 'margin-bottom:' + sub_str_ht + 'px';
                });


                $(document).on("click", ".deleteTOP", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' #topic .len').length;

                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("rem");
                    var substrnd_id = res[0]
                    var las = res[1];

                     var top = ($(this).parents('div').eq(0)).attr('class')

                    if (len > 1) {
                        $('#' + substrnd_id + 'topic' + las).remove();
                        $('#' + substrnd_id.split("-")[2] + '-add' + las).remove();
                        $('#' + id).remove();
                        $("#" + parent_id + " .subTopic ." + id).remove();
                        $("#" + parent_id + " .marks ." + id).remove();
                        var sub_topic_ht = $('#' + parent_id + ' .subTopic .' + top).height()
                        var sub_top_id = $('#' + parent_id + ' .substrands #' + top).prev('input').attr('id')
                        var top_ht = $('#' + parent_id + ' .topic .' + top).height()
                        var max_ht = sub_topic_ht;

                        if (parseInt(top_ht) > parseInt(sub_topic_ht)) {
                            max_ht = top_ht;
                        } else {
                            max_ht = sub_topic_ht;
                        }
                    }
                     $('#' + parent_id + ' .substrands #' + sub_top_id)[0].style.cssText = 'margin-bottom:' + max_ht + 'px';
                });


                $(document).on("click", ".addSubTopic", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var cc = $('.' + (($(this).parents('div').eq(1)).attr('class')))
                    var top = ($(this).parents('div').eq(0)).attr('class')
                    var top_id = ($(this).parents('div').eq(0)).attr('id')
                    var top_ht = $('#' + parent_id + ' .' + top).height()

                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {

                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }

                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }

{#                     var flag_mrk = false;#}
{#                    flag_mrk = mrk_chk1();#}
{#                    if (flag_mrk === true) {#}
{#                        alert("Max Score Cannot Exceed 100 Marks.")#}
{#                        return false;#}
{#                    }#}
                    var sub_str = (($(this).parents('div').eq(1)).attr('class'))
                    var tov_div_id2 = sub_str.split(' ')[1]
                    sub_str = sub_str.split(' ')[0]
                    var sub_str_ht = $('#' + parent_id + ' .subTopic .' + sub_str).height()
                    var top_div_ht = $('#' + parent_id + ' .topic .' + tov_div_id2).height()

                    var max_ht = top_div_ht;

                    if (parseInt(top_div_ht) > parseInt(sub_str_ht)) {
                        max_ht = top_div_ht;
                    } else {
                        max_ht = sub_str_ht;
                    }
                    {#                    alert('top_div_ht---> '+top_div_ht+'  -- sub_str_ht--> '+sub_str_ht)#}
                    sub_str = sub_str.substring(0, sub_str.length - 1);

                    $('#' + parent_id + ' .topic #' + top_id)[0].style.cssText = 'margin-bottom:' + top_ht + 'px';
                    $('#' + parent_id + ' .substrands #' + sub_str)[0].style.cssText = 'margin-bottom:' + max_ht + 'px';

                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var las = $(this).attr('id');
                    var index = las.split('add')[1];
                    var len = $('#' + parent_id + ' .topic .addSubTopic').length;
                    var res = las.split("-");
                    var app = parent_id + '-strand1';
                    var count1 = 0;
                    var max = 0;
                    var all_input_id = $('#' + parent_id + ' .subTopic input');

                    if (all_input_id.length > 0) {
                        var arr = [];
                        for (var z = 0; z < all_input_id.length; z++) {
                            arr.push(parseInt((all_input_id[z].id).split('subtopic')[1]));
                        }

                        max = arr.reduce(function (a, b) {
                            return Math.max(a, b);
                        });
                    }

                    count1 = parseInt(max);
                    count1 = count1 + 1;

                    var textBox = document.createElement("input");
                    var br = document.createElement("br");
                    textBox.style.cssText = 'margin-top: 2%;';
                    textBox.id = app + '-' + res[0] + '-topic' + index + "-subtopic" + count1;
                    textBox.classList.add('len', 'validate_value', 'emp');
                    textBox.title="Only Numbers or Alphanumeric is allowed with '-' and '_'"

                    $(this).parents('div:eq(0)')[0].append(textBox);
                    $(this).parents('div:eq(0)')[0].append(br);

                    var sub_id = res[0] + '-topic' + index;
                    var div_obj = $(this).parents('div:eq(0)').attr('id');
                    addMark(parent_id, count1, sub_id, div_obj);
                });

                addMark = function (id, num, subsrt, div_obj) {
                    var parent_id = id;
                    var count1 = num;
                    var subStrand = subsrt;
                    var div_obj1 = div_obj;

                    var add = $(".item .deleteSubTopic").clone(true).get(0);
                    add.hidden = false;
                    add.id = parent_id + "-strand1-" + subStrand + "Trem" + count1;

                    var br = document.createElement("br");
                    var textBox = document.createElement("input");
                    textBox.style.cssText = 'margin-top: 2%;';
                    textBox.id = parent_id + "-strand1-" + subStrand + "-mark" + count1;
                    textBox.classList.add('emp', 'mrk');
                    textBox.title="Only Numbers Are Allowed"
                    $("#" + parent_id + " .marks #" + div_obj1)[0].appendChild(textBox);
                    $("#" + parent_id + " .marks #" + div_obj1)[0].append(add);
                    $("#" + parent_id + " .marks #" + div_obj1)[0].appendChild(br);
                }


                $(document).on("click", ".deleteSubTopic", function () {

                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' #subTopic .len').length;
                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("T");
                    var substrnd_id = res[0]
                    var las = res[1].split("rem")[1];

                    {#                    if (len > 1) {#}
                    $(this).prev('input').remove()
                    $(this).prev('br').remove()
                    $(this).remove()
                    $('#' + substrnd_id + '-subtopic' + las).prev('br').remove();
                    $('#' + substrnd_id + '-subtopic' + las).remove('input');

                    var sub_str1 = sub_str.split(' ')
                    sub_str = sub_str1[0]

                    var top_div_id = sub_str1[1]
                    var sub_str_ht = $('#' + parent_id + ' .' + sub_str).height()

                    var top_ht = $('#' + parent_id + ' .' + top).height()
                    var top_div_ht = $('#' + parent_id + ' .topic .' + top_div_id).height()


                    sub_str = sub_str.substring(0, sub_str.length - 1);

                    {#                    alert('top_div_ht- ' + top_div_ht + '  sub_str_ht-- ' + sub_str_ht);#}
                    var max_ht = top_div_ht;

                    if (parseInt(top_div_ht) > parseInt(sub_str_ht)) {
                        max_ht = top_div_ht;
                    } else {
                        max_ht = sub_str_ht;
                    }
                    $('#' + parent_id + ' .topic #' + top_id)[0].style.cssText = 'margin-bottom:' + top_ht + 'px';
                    $('#' + parent_id + ' .substrands #' + sub_str)[0].style.cssText = 'margin-bottom:' + max_ht + 'px';
                    {#                    }#}
                });


                $(document).on("click", ".delete_Substrand", function () {
                    var scheme_id = document.getElementById('scheme_id').value;
                    var ids = $(this).attr('id');
                    var res = ids.split("-");
                    var strand = res[0];
                    var substrand = res[1];
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' .delete_Substrand').length;

                    if (confirm("Related Topic and Subtopic Will Also Be Deleted." +
                            "Are You Sure Want To Delete It?") === true) {
                        var url = '/school/exam_substrand_delete/';
                        exam_delete_substrand(url, scheme_id, strand, substrand);

                        {#                        var url = '/school/substrand_delete/';#}
                        {#                        delete_substrand(url, scheme_id, strand, substrand);#}
                    }

                });


                $(document).on("click", ".delete_topic", function () {

                    var scheme_id = document.getElementById('scheme_id').value;
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' .delete_topic').length;

                    var ids = $(this).attr('id');
                    var res = ids.split("-");
                    var substrand = res[0];
                    var topic_id = res[1];

                    if (confirm("Related Subtopic Will Also Be Deleted." + "Are You Sure Want To Delete It?") === true) {
                        var url = '/school/exam_topic_delete/';
                        exam_delete_topic(url, scheme_id, substrand, topic_id);

                        {#                        var url = '/school/topic_delete/';#}
                        {#                        delete_topic(url, scheme_id, substrand, topic_id);#}
                    }
                });


                $(document).on("click", ".subtopic_delete", function () {

                    var scheme_id = document.getElementById('scheme_id').value;
                    var ids = $(this).attr('id');
                    var res = ids.split("-");
                    var topic_id = res[0];
                    var sub_top_id = res[1];

                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' .subtopic_delete').length;

                    var url = '/school/exam_subtopic_delete/';
                    exam_delete_subtopic(url, scheme_id, topic_id, sub_top_id);

                    {#                    var url = '/school/subtopic_delete/';#}
                    {#                    delete_subtopic(url, scheme_id, topic_id, sub_top_id);#}
                });


                {% comment %}$(".edit").click(function () {
                    $(".edit").show();
                    $(".save").hide()
                    $('.dis').prop("disabled", true);

                    var id = $(this).attr('id');

                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    $('#' + parent_id + ' .dis').prop("disabled", false);
                    $('#' + parent_id + ' #saveSkillTracker').show();
                    $('#' + parent_id + ' #editSkillTracker').hide();
                }){% endcomment %}

                {% comment %}$(".edit").click(function () {
                    $(".edit").show();
                    $(".save").hide()
                    $('.dis').prop("disabled", true);

                    var id = $(this).attr('id');

                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    $('#' + parent_id + ' .dis').prop("disabled", false);
                    $('#' + parent_id + ' #saveSkillTracker').show();
                    $('#' + parent_id + ' #editSkillTracker').hide();
                }){% endcomment %}

                $(".edit").click(function () {

                    if("{{ edit_scheme }}" == "True"){
                        alert('This scheme cannot be updated as marks is entered for this.');
                        return false;
                    }

                    $(".edit").hide();
                    $(".save").show();
                    $('.dis').prop("disabled", false);

                    if("{{ name_edit_flag }}" == "False"){
                        $('#scheme_name').prop("disabled", false);
                    }


                })

                {% comment %}if ("{{ submitted }}" === 'True') {
                    $('.edit').attr('disabled', true);
                    $('.delete').attr('disabled', true);
                    $('.save_rec').find('*').attr('disabled', true);
                    $('#tb').find('*').attr('disabled', true);
                    $('#submit_form').prop("disabled", true);

                }{% endcomment %}
            });

            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);


            function update_skill_tracker(url, data,scheme_name, schm_id, stnd_id, submit_rec) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        data: data,
                        scheme_id: schm_id,
                        scheme_name: scheme_name,
                        stand_id: stnd_id,
                        submit: submit_rec,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        {#                        alert('Hi');#}
                        {#                        console.log("Hello Success....");#}
                        {#                        alert(JSON.stringify(data));#}
                        window.location.reload();
                        {#                        window.location='{% url "assessment:exam_definition_list"%}'#}
                    },
                    error: function (xhr, msg, err) {
                        alert("Record Not Saved. Some Error Occoured");
                        {#                        alert(xhr.responseJSON.error);#}
                    }

                });
            }


            function exam_delete_strand(url, schm_id, stnd_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_id: schm_id,
                        stand_id: stnd_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function () {
                        {#                        alert("Success");#}
                        window.location.reload();
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }

            function exam_delete_substrand(url, schm_id, strnd, sub_strnd) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_id: schm_id,
                        strand_id: strnd,
                        substrand_id: sub_strnd,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function () {
                        {#                        console.log("Hello Success....");#}
                        //alert("Success Subtopic");
                        window.location.reload();
                        {#                        window.location.reload();#}
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }


            function exam_delete_topic(url, schm_id, sub_strnd, top_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_id: schm_id,
                        substrand_id: sub_strnd,
                        topic_id: top_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function () {
                        {#                        console.log("Hello Success....");#}
                        //alert("Success Subtopic");
                        window.location.reload();
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }


            function exam_delete_subtopic(url, schm_id, top_id, sub_top_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_id: schm_id,
                        topic_id: top_id,
                        subtopic_id: sub_top_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function () {
                        {#                        console.log("Hello Success....");#}
                        //alert("Success Subtopic");
                        window.location.reload();
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }

        }

    </script>



{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:exam_definition_list' %}">View-Edit Exam </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <span class="title">Edit-Delete Exam</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">  Exam Scheme</span>
            </div>
        </div>

        <div class="portlet-body">

            <div class="row r1">
                <a hidden href="javascript:;" id="deleteSubStrands" class="deleteSS"
                   style="width:11%;">
                    <i class="fa fa-times"></i>
                </a>

                <a hidden href="javascript:;" class="deleteTOP" style="width:11%;">
                    <i class="fa fa-times"></i>
                </a>

                <a hidden href="javascript:;" class="deleteSubTop" style="width:11%;"><i class="fa fa-times"></i> </a>

                <div class="col-md-12">
                    <div class="col-md-2">
                        <label style="margin-left: 15px;" class="control-label"> Exam Scheme Code:


                        </label>
                        <div class="">
                            <input id="scheme_code" name="scheme_code" class="form-control" title="Only Alphanumeric is allowed with '-' and '_'"
                                   value="{{ exam_rec.exam_scheme_code }}" disabled>
                        </div>
                    </div>
                    <button onclick="window.location='{% url "assessment:delete_exam_scheme" exam_rec.id %}'" style="margin-left: 8%;margin-top: 20px; width: 10%; background-color: #ee6a54; color:white" id="" class="btn btn">Delete Scheme</button>

                    <div class="col-md-3">
                        <label style="margin-left: 15px;" class="control-label">Exam Scheme Name:

                        </label>
                        <div class="">
                            <input id="scheme_name" name="scheme_name" class="form-control" title="Only Alphanumeric is allowed with '-' and '_'"
                                   value="{{ exam_rec.exam_scheme_name }}" disabled></div>
                    </div>
                </div>
            </div>
        </div>
    <br>

        <form action="" id="form_sample_1" class="form-horizontal"
              method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <table class="table table-striped table-hover table-bordered" id="example" style="margin-top: 2%">
                <thead>
                <tr>
                    <th style="width:80px;"></th>
                    <th> Strand</th>
                    <th> Sub-Strand</th>
                    <th> Topic</th>
                    <th> Sub-Topic</th>
                    <th style="width: 76px;"> Marks</th>
                    <th></th>
                </tr>
                </thead>

                <tbody id="tb" class="">
                <input hidden id="scheme_id" name="scheme_id" value="{{ exam_rec.id }}">

                {% for strand in  exam_rec.stand_ids.all %}
                    {% with forloop.counter as strand_count %}
                        <tr class="item count main" id="item{{ strand_count }}">

                            <td>
                                <button type="button" id="add_row"
                                        class="dis add_row form-control btn btn-icon-only green" style="width:40%;">
                                    <i class="fa fa-plus"></i>
                                </button>

                                {% comment %}<a href="javascript:;" class=" remove_row delete btn btn-icon-only purple"
                                   style="width:40%;">
                                    <i class="fa fa-times"></i>
                                </a>{% endcomment %}</td>
                            {#                            <td> {{ forloop.counter }}</td>#}
                            <td class="strand">
                                <input id="item{{ strand_count }}-strand1" title="Only Alphanumeric is allowed with '-' and '_'" class="Strand dis validate_value emp"
                                       value="{{ strand.strand_name }}">
                            </td>

                            <td id="ab" class="substrands">
                                <a href="javascript:;" hidden class="delete_Substrand"
                                   style=" position: relative; width:11%;">
                                    <i class="fa fa-times"></i>
                                </a>
                                <p hidden value="{{ iterator_substrand.res }}"></p>
                                <div style="margin-top: 3%;margin-bottom:-30px" id="item{{ forloop.counter }}-strand1">
                                    <span class="item{{ forloop.counter }}-strand1">{{ strand.strand_name }}</span>
                                    <a href="javascript:;" id="addSubStrands" class="addSubStrand dis"
                                       style="width:11%;">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <br>
                                    {% for sub_strand in  strand.sub_strand_ids.all %}
                                        <input id="item{{ strand_count }}-strand1-subStrand{{ iterator_substrand.inc }}"
                                              title="Only Alphanumeric is allowed with '-' and '_'" class="len validate_value dis emp" style="margin-bottom: 10%;"
                                               value="{{ sub_strand.sub_strand_name }}">
                                        <option hidden id="sub_strand_id-{{ option_count.next }}"
                                                value="{{ sub_strand.id }}"></option>
                                        <a href="javascript:;" id="{{ strand.id }}-{{ sub_strand.id }}"
                                           class="delete_Substrand dis" style="width:11%;">
                                            <i class="fa fa-times"></i>
                                        </a> </br>
                                        {% for topic in  sub_strand.topic_ids.all %}
{#                                            {% for subtopic in  topic.sub_topic_ids.all %}#}
{#                                                <p style="height: 12px"></p>#}
{#                                                <div style="height: 12px"></div>#}
                                            {% if topic.sub_topic_ids.all|length < 10 %}
                                                <p style="height: {{ topic.sub_topic_ids.all|length|mul:29 }}px; margin-bottom: 7px;"></p>
                                                {% else %}
                                                <p style="height: {{ topic.sub_topic_ids.all|length|mul:29 }}px; margin-bottom: 7px;"></p>
                                            {% endif %}
{#                                                <p style="height: {{ topic.sub_topic_ids.all|length|mul:31 }}px; margin-bottom: 10px;"></p>#}
{#                                            {% endfor %}#}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </td>

                            <td id="topic" class="topic">
                                <a href="javascript:;" hidden class="ab addTopic" style="width:11%;">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <a href="javascript:;" hidden class="deleteTopic" style="width:11%;">
                                    <i class="fa fa-times"></i>
                                </a>
                                <p hidden
                                   value="{{ iterator_topic.res }}" {{ st_top_count.res }} {{ iterator_substrand_add.res }} ></p>
                                {% for sub_strand in  strand.sub_strand_ids.all %}
                                    {% with forloop.counter as sub_strand_id %}
                                        <div style="margin-top: 3%"
                                             id="item{{ forloop.parentloop.counter }}-strand1-subStrand{{ forloop.counter }}"
                                             class="item{{ forloop.parentloop.counter }}-strand1-rem{{ st_top_count.inc }}">
                                            <span class="item{{ forloop.parentloop.counter }}-strand1-subStrand{{ forloop.counter }}">{{ sub_strand.sub_strand_name }}</span>
                                            <a href="javascript:;"
                                               id="item{{ forloop.parentloop.counter }}-strand1-add{{ iterator_substrand_add.inc }}"
                                               class="ab addTopic dis" style="width:11%;">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <br>
                                            {% for topic in  sub_strand.topic_ids.all %}
                                                <input class="len validate_value dis emp" title="Only Alphanumeric is allowed with '-' and '_'"
                                                       id="item{{ strand_count }}-strand1-subStrand{{ sub_strand_id }}-topic{{ iterator_topic.inc }}"
                                                       style="margin-top: 2%;"
                                                       value="{{ topic.topic_name }}">
                                                <option hidden id="topic_id-{{ option_count.next }}"
                                                        value="{{ topic.id }}"></option>
                                                <a href="javascript:;" id="{{ sub_strand.id }}-{{ topic.id }}"
                                                   class="delete_topic dis" style="width:11%;">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                                <br>
                                                <p style="height: {{ topic.sub_topic_ids.all|length|mul:25 }}px; margin-bottom: 7px;"></p>
                                            {% endfor %}
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </td>

                            <td id="subTopic" class="subTopic">
                                <a href="javascript:;" hidden class="addSubTopic"
                                   style="position: relative; width:11%;"> <i class="fa fa-plus"></i> </a>
                                <p hidden
                                   value="{{ iterator_subtopic.res }} {{ subtopic_count.res }}" {{ st_top_count.res }} {{ st_top_count1.res }} {{ st_top_count2.res }} {{ iterator_topic_add.res }}></p>
                                {% for sub_strand in  strand.sub_strand_ids.all %}
                                    {% with forloop.counter as sub_strand_ids %}
                                        <div class="item{{ forloop.parentloop.counter }}-strand1-subStrand{{ forloop.counter }}S item{{ forloop.parentloop.counter }}-strand1-rem{{ forloop.counter }}">
                                            {% for topic in  sub_strand.topic_ids.all %}
                                                {% with  subtopic_count.inc  as outer_counter %}
                                                    <div style="margin-top: 3%;margin-bottom:28px"
                                                         id="item{{ forloop.parentloop.parentloop.counter }}-strand1-subStrand{{ forloop.parentloop.counter }}-topic{{ st_top_count.inc }}"
                                                         class="item{{ forloop.parentloop.parentloop.counter }}-strand1-subStrand{{ forloop.parentloop.counter }}-rem{{ st_top_count1.inc }}">
                                                        <span class="item{{ forloop.parentloop.parentloop.counter }}-strand1-subStrand{{ forloop.parentloop.parentloop.counter }}-topic{{ st_top_count2.inc }}">{{ topic.topic_name }}</span>
                                                        <a href="javascript:;"
                                                           id="subStrand{{ forloop.parentloop.parentloop.counter }}-add{{ iterator_topic_add.inc }}"
                                                           class="addSubTopic dis" style="width:11%;">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <br>
                                                        {% for subtopic in  topic.sub_topic_ids.all %}
                                                            <input style="margin-top:5% " title="Only Alphanumeric is allowed with '-' and '_'"
                                                                   id="item{{ forloop.parentloop.parentloop.parentloop.counter }}-strand1-subStrand{{ sub_strand_ids }}-topic{{ outer_counter }}-subtopic{{ iterator_subtopic.inc }}"
                                                                   class="len validate_value dis emp"
                                                                   value="{{ subtopic.name }}">
                                                            <option hidden id="subTopic_id{{ option_count.next }}"
                                                                    value="{{ subtopic.id }}"></option>
                                                            <br>
                                                             <p style="height: {{subtopic.sub_topic_ids.all|length|mul:29 }}px; margin-top: 25px;"></p>
                                                        {% endfor %}
                                                    </div>
                                                {% endwith %}
                                            {% endfor %}
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </td>


                            <td id="marks" class="marks">
                                <a hidden class="deleteSubTopic" style="width:11%;"> <i
                                        class="fa fa-times"></i></a>
                                <p hidden
                                   value="{{ iterator_subtopic.res }} {{ mark_count.res }}" {{ st_top_count.res }}
                                        {{ st_top_count1.res }}{{ st_top_count2.res }}></p>
                                {% for sub_strand in  strand.sub_strand_ids.all %}
                                    {% with forloop.counter as sub_strand_ids %}
                                        <div class="item{{ forloop.parentloop.counter }}-strand1-subStrand{{ forloop.counter }}M item{{ forloop.parentloop.counter }}-strand1-rem{{ forloop.counter }}">
                                            {% for topic in  sub_strand.topic_ids.all %}
                                                {% with  mark_count.inc  as outer_counter %}
                                                    <div style=" margin-top:20%"
                                                         id="item{{ forloop.parentloop.parentloop.counter }}-strand1-subStrand{{ forloop.parentloop.counter }}-topic{{ st_top_count.inc }}"
                                                         class="item{{ forloop.parentloop.parentloop.counter }}-strand1-subStrand{{ forloop.parentloop.counter }}-rem{{ st_top_count1.inc }}">
                                                        <span class="item{{ forloop.parentloop.parentloop.parentloop.counter }}-strand1-subStrand{{ forloop.parentloop.parentloop.counter }}-topic{{ st_top_count2.inc }}">{{ topic.topic_name }}</span>
                                                        <br>
                                                        {% for subtopic in  topic.sub_topic_ids.all %}
                                                            <input style="margin-top: 22%" class="mrk emp dis" title="Only Numbers Are Allowed"
                                                                   id="item{{ forloop.parentloop.parentloop.parentloop.counter }}-strand1-subStrand{{ sub_strand_ids }}-topic{{ outer_counter }}-marks{{ iterator_mark.inc }}"
                                                                   value="{{ subtopic.mark }}">
                                                            <option hidden id="subTopic_id{{ option_count.next }}"
                                                                    value="{{ subtopic.id }}"></option>
                                                            <a href="javascript:;" id="{{ topic.id }}-{{ subtopic.id }}"
                                                               class="subtopic_delete dis" style="width:11%;"><i
                                                                    class="fa fa-times"></i>
                                                            </a>
                                                            <br>
                                                        {% endfor %}
                                                    </div>
                                                {% endwith %}
                                            {% endfor %}
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </td>

                            <td class="save_rec">
                                {% comment %}<button type="button" style="width: 70px" id="editSkillTracker"
                                        class="edit btn btn blue">Edit
                                </button>{% endcomment %}

                                {% comment %}<button type="button" style="display: none; width: 70px" id="saveSkillTracker"
                                        class="save btn btn green">Update
                                </button>{% endcomment %}
                                <br><br>

                                <button type="button" id="deleteStrand" style="width: 70px"
                                        class="delete btn btn red">Delete
                                </button>
                                <input hidden id="stand" name="stand" value="{{ strand.id }}">
                                <br>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
        </form>
        <button style="margin-left: 50%;margin-right: 50%;; width: 10%;" id="" class="edit btn btn blue">Edit</button>
        <button style="margin-left: 50%;margin-right: 50%; width: 10%; display: none" id="submit_form"
                class="save btn btn green">Update
        </button>
        {#     <button style="margin-left: 50%;margin-right: 50%; width: 10%;" id="submit_form" class=" btn btn blue">Submit#}
        {#        </button>#}
    </div>
    <!-- END FORM-->
    </div>
    </div>
    <!-- END VALIDATION STATES-->
{% endblock %}