{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}

    <style type="text/css">
        .row {
            margin-left: -120px;
            margin-right: 20px;
            margin-top: 30px;

        }

        .disabled {

            background: #eef1f5;
            opacity: 1;

        }

        fieldset {
            font-family: sans-serif;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 20px;
            color: #34495e;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}

<script>
window.onload = function() {


{#    var subject_value = $('select#id_subject_name').val();#}
    var exam_id = $('#exam_id').val();
{#    alert(exam_id);#}
    var url = '/school/view_get_exam_freq/';

    getMappedSubject(url,exam_id)

    function getMappedSubject(url) {
            $.ajax({
                url: url,
                type: "POST",
                data: {
{#                    subject_name: JSON.stringify(subject),#}
                    exam_id: exam_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
            })
                .done(
                    function (data) {
                        $('#id_frequency_mapping').empty();
                       {% comment %} $('#id_subject_name').append(
                            '<option value="">Please select</option>');{% endcomment %}
                        for (var i = 0; i < data.length; i++) {
                            $('#id_frequency_mapping').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].freq_name + '</option>')
                        }
{#                        alert([data[0].fre_list])#}
{#                        $('#id_frequency_mapping').val([1,5]);#}
                        $('#id_frequency_mapping').val(data[0].fre_list);
{#                        alert('data[0].flag-->   '+data[0].flag)#}
{#                        if(data[0].flag == true){#}
{#                            alert("Scheme is already mapped to a subject.")#}
{#                        }#}
                    });
        }

                {% comment %}$('#id_frequency_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });{% endcomment %}
	  //YOUR JQUERY CODE

	  var dateControler = {
		    currentDate : null
		}

		 $(document).on( "change", "#id_end_date",function( event, ui ) {
			 var startDate =((document.getElementById("id_start_date")||{}).value)||"";
       	  console.log('startDate',startDate);

            var endDate =((document.getElementById("id_end_date")||{}).value)||"";
            console.log('endDate',endDate);


		        if((Date.parse(endDate) <= Date.parse(startDate))) {
		            $(this).val(dateControler.currentDate)
		            alert("Invalid Date..!")
		        } else {
		            dateControler.currentDate = $(this).val();
		        }
		    });


	$(document).ready(function() {


		console.log("hiiii")

        var old_value = $("#id_code").val();

		$("#id_code").change(function(){
		    var TCode = $("#id_code").val();

		    if( /[^a-zA-Z0-9\-]/.test( TCode ) ) {
		        alert('Input is not alphanumeric');
		        $("#id_code").val(old_value);
		        return false;
		    }

		    return true;
		});
		$(document).on("click", ".button_delete", function () {

		    var rows= $('#tblData tbody tr').length;

		    if (rows==1)
            {
                alert("You Cant Delete All Records One Record Should be There.")
                return false;
            }
            else{
		        if (confirm("Are You Sure Want To Delete  It?") === true) {

                    var exam_id = $(this).closest('tr').find('td:eq(0)').html();
                    var frequency_id = $(this).closest('tr').find('td:eq(1)').html();
{#                    alert('exam_id'+exam_id);#}
{#                    alert('frequency_id'+frequency_id);#}
                    var url = '/school/exam_delete_frequency/';
                    exam_delete_frequency(url, exam_id,frequency_id)
                }

            }







            });

        function exam_delete_frequency(url, exam_id,frequency_id) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        exam_id: exam_id,
                        frequency_id: frequency_id,
                    },
                })
                    .done(
                        function (data) {
{#                            location.reload();#}

                            if( data === true){
{#                            $('#scheme_code').val("")#}
{#                            $('#scheme_code').css('border-color', 'red');#}

                            window.location.reload();
                            alert("Record Not Deleted.. This May Be Used In Add Score Tables, Delete Them First And Try Again.")
                        }
                        else
                        {

                            window.location.reload();
                            alert("Record Deleted Successfully.")

                        }
                        });
            }


		 $("#edit").click(function(event){

{#             alert("ggg"+$('#id_frequency_mapping').val())#}
{#             $('#id_frequency_mapping').val('5')#}
{#		     return false;#}
        $("#update").show();
        $("#edit").hide();

{#        $('.dsb').prop("disabled", false);#}
{#        $('#id_exam_code').prop("disabled", false);#}
        $('#id_exam_name').prop("disabled", false);
        $('#id_frequency').prop("disabled", false);
         $('#id_exam_type').prop("disabled", false);
        $('#id_created_date').prop("disabled", false);
         $('#id_frequency_mapping').prop("disabled", false);

    });
		 $("#update").click(function(event) {
		     var selected_count = $("#id_frequency_mapping :selected").length;
		     var all_count = $("#id_frequency_mapping option").length
{#             alert('count'+count);#}
{#		     alert('all_count'+all_count);#}

             if(selected_count==all_count)
             {
                 alert('Atleast One Frequency Should be There');
                 return false;

             }



         });

    });



	}


</script>

{% endblock %}


{% block content %}

    <div class="col-md-12">

        <div class="page-bar" style="margin-bottom: 1px;">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{% url 'registration:home' %}">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                 <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
                </li>

                 <li>

                    <a href="{% url 'assessment:exam_list' %}">View-Edit Exam </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li>
                    <span> Edit Exam</span>
                </li>
            </ul>

        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Manage Exam Details</span>
                </div>

            </div>
{#            <fieldset style="border-radius: 5px; padding: 3px;">#}
{#                <legend><b> Frequency Slab: </b></legend>#}
                <div class="portlet-body">


                    <!-- BEGIN FORM-->


                    <form action="{% url 'assessment:save_update_exam' %}" class="form-horizontal" method="POST"
                          enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="col-md-offset-3 col-md-9" style="margin: auto;">

                            <button type="button" class="btn green" id="edit"> Edit</button>
                            <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
                            <a data-toggle="modal" href="#static">
                            <button type="button" class="btn red">Delete</button>
                        </a>

                        </div>

                        <div class="form-body">
                            <input type="hidden" value="{{ exam_details_recs.id }}" id="exam_id"  name="exam_id"/>
                            <div class="row">

                                <div class="">
                                    <label  class="col-md-2 control-label">Exam Code:

                                    </label>
                                    <div class="col-md-1">
                                        <input name="exam_code" type="text" value="{{ exam_details_recs.exam_code }}" hidden>
                                        <input autocomplete="off" class="form-control" id="id_exam_code" name="exam_code" type="text" value="{{ exam_details_recs.exam_code }}" required disabled>
                                    </div>
                                </div>

                                 <div class="">
                                    <label  style="margin-left: -110px;" class="col-md-2 control-label">Exam Name:

                                    </label>
                                    <div class="col-md-2">
                                        <input autocomplete="off" class="form-control" id="id_exam_name" name="exam_name" type="text" value="{{ exam_details_recs.exam_name }}"
                                              maxlength="32" title='Only Alpha-Numbric is Allowed With "-" and "_"' pattern='^[\w](?!\d*[-_]+\d*$)[ \w-]+$' required disabled>
                                    </div>
                                </div>




{#                                   <div class="">#}
{##}
{#                                <label  style="margin-left: -80px;" class="col-md-2 control-label">Frequency:#}
{##}
{#                                </label>#}
{#                                <div class="col-md-2">#}
{#                                    <select autocomplete="off" class="  form-control"#}
{#                                            id="id_frequency" name="frequency" required=""#}
{#                                            disabled>#}
{#                                        <option style="display:none" selected="selected"#}
{#                                                value="{{ exam_details_recs.frequency.id }}"> {{ exam_details_recs.frequency.frequency_name }}</option>#}
{#                                        {% for frequency_rec in frequency_recs %}#}
{#                                            <option value="{{ frequency_rec.id }}" {{ value1 }} >{{ frequency_rec.frequency_name }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{##}
{#                                </div>#}
{##}
{#                            </div>#}
                                <div class="">

                                <label  style="margin-left: -100px;" class="col-md-2 control-label">Exam Type:

                                </label>
                                <div class="col-md-2">
                                    <select autocomplete="off" class="  form-control"
                                            id="id_exam_type" name="exam_type" required=""
                                            disabled>
                                        <option style="display:none" selected="selected"
                                                value="{{ exam_details_recs.exam_type.id }}"> {{ exam_details_recs.exam_type.exam_type_name }}</option>
                                        {% for exam_type_rec in exam_type_recs %}
                                            <option value="{{ exam_type_rec.id }}" {{ value1 }} >{{ exam_type_rec.exam_type_name }}</option>
                                        {% endfor %}
                                    </select>

                                </div>

                            </div>

                            <div class="">
                                    <label  style="margin-left: -100px;" class="col-md-2 control-label">Frequencies: </label>
                                    <div class="col-md-2">
                                        <select  style="width: 200px;" multiple="multiple" class="selectfilter" data-field-name="frequency" data-is-stacked="0"   id ="id_frequency_mapping" name="frequency_mapping"  >
{#                                        {% for obj in frequency_details_recs %}#}
{#                                            <option value="{{ obj.frequency_details_name.id }} "> {{ obj.frequency_details_name }}</option>#}
{#                                        {% endfor %}#}
                                    </select>

                                    </div>
                                </div>


                            </div>
                        <br>






                            </div>

                        </div>
                    </form>


                            <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false "
         style="margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete exam details? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                    <a class=" btn red btn-outline sbold" data-toggle="modal"
                       href="{% url 'assessment:delete_exam_details' exam_details_recs.id %}"> Delete </a>

                </div>
            </div>
        </div>
    </div>

                </div>
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Delete Frequency</span>
            </div>
{#            <form action="{% url 'assessment:export_scheme_records' %}" id="form_sample_2" class="form-horizontal"#}
{#                  method="POST" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                <div class="col-md-2">#}
{#                    <button type="submit" class="btn blue btn-block" id="export">Export</button>#}
{#                </div>#}
{#            </form>#}
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">

            </div>
            <form action="{% url 'assessment:edit_scheme_mapping' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input class="form-control" id="mapping_id1" name="mapping_id1" type="hidden" value="">

                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="tblData">
                    <thead>
                    <tr>
                        <th style="display:none">EXAM ID</th>
                        <th style="display:none">FREQUENCY ID</th>
                        <th>Exam Code</th>
                        <th>Frequency Name</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody> {% for obj in frequency_details_recs %}
                        <tr style="cursor: pointer;">

                            <td style="display:none">{{ obj.exam_details_name.id }}</td>
                            <td style="display:none">{{ obj.frequency_details_name.id }}</td>
                            <td>{{ obj.exam_details_name.exam_code }}</td>
                            <td>{{ obj.frequency_details_name.frequency_name }}</td>
                            <td>
                                <text hidden="">Delete</text>
                                <input style="width: 100px;" type='button' class="button_delete btn red btn-block" value='Delete' readonly>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{#            </fieldset>#}
        </div>
        <!-- END VALIDATION STATES-->

    </div>



{% endblock %}