{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">

        .emp{
            width: 200px;
            text-align: center;
        }


        .emp1{
            width: 150px;
        }
        td {
            text-align: center;
        }

        th {
            text-align: center;
        }

        input {
            text-align: center;
        }

        input:read-only {
            background-color: #e7e7e7;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
 var class_id = $('#id_class_name').val();
    //alert(class_id);
    var url = '/school/get_selected_classes_rec/';
    class_list=[]
           for(var i=0;i<class_id.length;i++)
            {
                class_list.push(Number(class_id[i]));
            }

    getClassList(url,class_list)

    function getClassList(url,class_id) {

            $.ajax({
                url: url,
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
            })
                .done(
                    function (data) {
                        $('#id_class_name').empty();
                        for (var i = 0; i < data.length; i++) {
                            if (class_id.includes(data[i].id)) {
                                $('#id_class_name').append(
                                    '<option selected value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }
                            else {
                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }
                        }
                    });
         $('#id_class_name').val(class_id);
        }


            $(function () {
                var i;
                for (i = 1; i <= 10; i++) {
                    var TCode = $('#color' + i).val();
                    $('#typeclor' + i).val(TCode);

                }
            });


            $('.table_data').prop("readonly", true);
            $('.form-control').prop("readonly", true);

            //YOUR JQUERY CODE
            $(document).ready(function () {

                {#                       alert($(this).closest('div').attr('id'));#}


                $(".col").change(function (event) {
                    var id = $(this).attr('id');
                    var i = id.split('typeclor')[1]
                    var TCode = $(this).val();
                    $('#color' + i).val(TCode);
                });

                $(".color").change(function (e) {
                    var id = $(this).attr('id');
                    var i = id.split('color')[1]
                    var TCode = $(this).val();

                    if ((TCode.length === parseInt(0))) {
                        alert("Color Code Should Not Be Empty.")
                        $(this).val($('#typeclor' + i).val());
{#                        $('#typeclor' + i).val();#}
                        return false;
                    }

                    if ((TCode.charAt(0)) != '#') {
                        alert("Invalid Color Code. Color Code Should Start With #.")
                        $(this).val($('#typeclor' + i).val());
                        return false;
                    }
                    if (parseInt(TCode.length) != 7) {
                        alert("Invalid Color Code.")
                        $(this).val($('#typeclor' + i).val());
                        return false;
                    }

                    $('#typeclor' + i).val(TCode);
                });

                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();
                    $('.emp').prop("readonly", false);
                });

                (function ($) {
                    $.extend({
                        toDictionary: function (query) {
                            var parms = {};
                            var items = query.split("&"); // split
                            for (var i = 0; i < items.length; i++) {
                                var values = items[i].split("=");
                                var key = decodeURIComponent(values.shift());
                                var value = values.join("=")
                                parms[key] = decodeURIComponent(value);
                            }
                            //alert(parms)
                            return (parms);
                        }
                    })
                })(jQuery);


                (function ($) {
                    $.fn.serializeFormJSON = function () {
                        var o = [];
                        $(this).find('tr').each(function () {
                            var elements = $(this).find('input, textarea, select,checkbox,button')
                            console.log($(this));
                            if (elements.size() > 0) {
                                var serialized = $(this).find('input, textarea, select,checkbox,button').serialize();
                                var item = $.toDictionary(serialized);
                                o.push(item);
                            }
                        });
                        //alert(o);
                        return o;
                    };
                })(jQuery);


                $(document).on("keypress", ".grd", function (e) {
{#                    var regex = new RegExp(/^[A-Z+]+$/);#}
                    var regex = new RegExp(/^[a-zA-Z+]+$/);
                      var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                      if (regex.test(str)) {
                          return true;

                      }
                      else {
                          e.preventDefault();
                          return false;
                      }
                });

                var last_id;

                $("#update").click(function (event) {

                    var forms = $('.form_length')

                    $('.table_data').css('border-color', '');
                    $('.emp').css('border-color', '');

                    var flag_val = false;
                    var no_flag = false;
                    var tex = $('.emp');

                    for (var k = 0; k < $('.emp').length; k++) {
                        if ((tex[k].value === '')) {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }

                    if (flag_val === true) {
                        {#                        alert("Please Enter The Value Then Update.")#}
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Fields Cannot Be Empty.</span>');// show and set the message
                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                        return false;
                    }


                    for (var k = 0; k < $('.emp').length; k++) {
                        if ((parseInt(tex[k].value) > parseInt(100))) {
                            $('#' + tex[k].id).css('border-color', 'red');
                            no_flag = true;
                        }
                    }

                    if (no_flag === true) {

                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Marks Should Not Be Greater Than 100.</span>');// show and set the message
                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                        return false;
                    }

                    var last_max = 0;
                    var min;
                    var max;
                    var grade = [];
                    var color_code = [];
                    var last_id;


                    for (var i = 1; i <= forms.length; i++) {

                        var grade_val = $('#grades' + i).val();
                        var color_val = $('#color' + i).val();

                        if ($.inArray(grade_val, grade) == -1) {
                            grade.push(grade_val);
                        }
                        else {
                            var $messageDiv = $('#message'); // get the reference of the div
{#                            $messageDiv.show().html('<span style="color:red">Duplicate Grade ' + $("#grades" + i).val() + ' Are Found, Only Unique Allowed.</span>');// show and set the message#}
                            $messageDiv.show().html('<span style="color:red">Duplicate Grade  Not Allowed.</span>');// show and set the message
                            setTimeout(function () {
                                $messageDiv.hide().html('');
                            }, 3000);
                            return false;
                        }

                        if ($.inArray(color_val, color_code) == -1) {
                            color_code.push(color_val);
                        }
                        else {
                            var $messageDiv = $('#message'); // get the reference of the div
{#                            $messageDiv.show().html('<span style="color:red">Duplicate Grade ' + $('#color' + i).val() + ' Are Found, Only Unique Allowed.</span>');// show and set the message#}
                            $messageDiv.show().html('<span style="color:red">Duplicate Color code Not Allowed.</span>');// show and set the message
                            setTimeout(function () {
                                $messageDiv.hide().html('');
                            }, 3000);
                            return false;
                        }


                        if (i == 1) {
                            min = parseInt($('#marks_greater' + i).val());
                            max = parseInt($('#marks_less' + i).val());
                            last_id = $('#marks_less' + i);
                            if (min == 0 && min < max) {
                                last_max = max;
                            }
                            else {

                                if (min != 0) {
                                    var $messageDiv = $('#message'); // get the reference of the div
                                    $messageDiv.show().html('<span style="color:red">The Marks Range Must Start With 0.</span>');// show and set the message
                                    $('#marks_greater' + i).css('border-color', 'red');
                                    setTimeout(function () {
                                        $messageDiv.hide().html('');
                                    }, 3000);
                                    return false;
                                }

                                else if ((min > max) || (min === max)) {

                                    var $messageDiv = $('#message'); // get the reference of the div
                                    $messageDiv.show().html('<span style="color:red">"Marks Less Than" must be greater than "Marks Greater Than".</span>');// show and set the message
                                    $('#marks_greater' + i).css('border-color', 'red');
                                    last_id.css('border-color', 'red');
                                    setTimeout(function () {
                                        $messageDiv.hide().html('');
                                    }, 3000);
                                    return false;
                                }
                                else {
                                    alert("Please Fill Proper Records.")
                                    return false;
                                }


                            }

                        }
                        else {
                            min = parseInt($('#marks_greater' + i).val());
                            max = parseInt($('#marks_less' + i).val());

                            if (min < max && ((min - last_max) == 0)) {
                                last_max = max;
                                last_id = $('#marks_less' + i);
                            }
                            else {

                                if (((min - last_max) != 0)) {
                                    var $messageDiv = $('#message'); // get the reference of the div
                                    $messageDiv.show().html('<span style="color:red">Please enter consecutive marks with previous marks less than</span>');// show and set the message
                                    $('#marks_greater' + i).css('border-color', 'red');
                                    last_id.css('border-color', 'red');
                                    setTimeout(function () {
                                        $messageDiv.hide().html('');
                                    }, 3000);
                                    return false;
                                }

                                else if ((min > max) || (min === max)) {
                                    var $messageDiv = $('#message'); // get the reference of the div
                                    $messageDiv.show().html('<span style="color:red">"Marks Less Than" must be greater than "Marks Greater Than"</span>');// show and set the message
                                    $('#marks_greater' + i).css('border-color', 'red');
                                    $('#marks_less' + i).css('border-color', 'red');
                                    setTimeout(function () {
                                        $messageDiv.hide().html('');
                                    }, 3000);
                                    return false;
                                }

                                else {
                                    alert("Please Fill Proper Data.")
                                    return false;
                                }

                                return false;
                            }

                        }

                    }

                     {% comment %}var last_parent_id = $(".item:last").attr('id');
                    var last_mark = $('#' + last_parent_id + ' .mrk_les').val()
{#                    alert('last_mark'+last_mark);#}

{#                    alert(last_parent_id+'  --  '+last_mark);#}
                    if (parseInt(last_mark) != 100) {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Marks Range should end with 100.</span>');// show and set the message

                        $('#' + last_parent_id + ' .mrk_les').css('border-color', 'red');
                        setTimeout(function () {
                            $messageDiv.hide().html('');
                        }, 3000);
                        return false;
                    }{% endcomment %}

                    event.preventDefault();
                    var rawData = $('#nameGenderForm').serializeFormJSON();
{#                    alert(JSON.stringify(rawData))#}
{#                    return false;#}
                    var data = JSON.stringify(rawData);

                    var url = '/school/save_edit_grade_sub/';
                    save_edit_grade_sub(url, data)

                    var grade_id = $('#grade_id').val();
                    var id_code = $('#id_code').val();
                    var id_grade_name = $('#id_grade_name').val();
                    var url = '/school/save_edit_grade/';
                    save_edit_grade(url, grade_id, id_code, id_grade_name)
                    return false;
                });
            });
        }


        function save_edit_grade_sub(url, data) {
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    table: data,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
            })

                .done(
                    function (data) {
                    });
        }

        function save_edit_grade(url, grade_id, id_code, id_grade_name) {
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    grade_id1: grade_id,
                    id_code1: id_code,
                    id_grade_name1: id_grade_name,
                },
            })

                .done(
                    function (data) {
                        {#                        console.log("in reverse tc ajax")#}
                        location.reload();
                    });
        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

    </script>

{% endblock %}


{% block content %}

    <div class="col-md-12">
        <div class="page-bar" style="margin-bottom: 1px;">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{% url 'registration:home' %}">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                    <i class="fa fa-angle-right"></i>
                </li>
            <li>
                <a href="{% url 'assessment:target_setting_sub_tile' %}"> Target Setting </a>
                <i class="fa fa-angle-right"></i>
            </li>
                <li>
                    <a href="{% url 'assessment:target_setting_list' %}"> Target Setting List </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li>
                    <span> Edit-Target Setting </span>
                </li>
            </ul>
        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Manage Target Setting</span>
                </div>
            </div>

            <div class="portlet-body">
                <form id="nameGenderForm" class="form-horizontal" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-offset-3 col-md-9" style="margin: auto;">
                    </div>
                {% for target_obj in target_setting_recs %}
                    <div class="form-body">
                        <input type="hidden" value="{{ target_obj.id }}" id="id_target_setting" name="target_setting_id"/>
                    <div class="row">
                         <div class="">
                                <div class="col-md-2" >
                                    <h4>Code: </h4>
                                    <input autocomplete="off" class="form-control" id="id_code" name="code"  type="text" value="{{ target_obj.code }}" disabled required>
                                </div>
                        </div>

                         <div class="">
                                <div class="col-md-3">
                                    <h4 >Target Setting Name: </h4>
                                    <input autocomplete="off" class="form-control" id="id_grade_name"
                                           name="grade_name" type="text" value="{{ target_obj.target_name }}"
                                           disabled required>
                                </div>
                            </div>
                    </div>
                    {% endfor %}
                    <br>
                    <div class="row">

                    {% for class_year_sub in year_subject %}
                        <div style="margin-left: 1%" class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 120%" autocomplete="off" class="form-control"
                                        id="id_academic_year" name="year_name" required="" readonly>
{#                                    <option style="display:none" selected="selected"#}
{#                                            value="{{ target_setting_rec.year_name.id }}">{{ target_setting_rec.target_setting_ids.all }}</option>#}

                                            <option value="{{ class_year_sub.year_details.id }} "> {{ class_year_sub.year_details.year_name }}</option>


                                </select>
                            </div>
                        </div>
                        {% endfor %}

                        <div style="margin-left: 1%" class="col-md-2">
                                <h4> Classes:</h4>
                                <div class="">
                                    <select style="width: 120%" multiple="multiple" autocomplete="off" class="form-control"
                                            id="id_class_name" name="class_name" required="" readonly>
{#                                        <option style="display:none" selected="selected"#}
{#                                                value="{{ target_setting_rec.year_name.id }}">{{ target_setting_rec.target_setting_ids.all }}</option>#}
                                     {% for class_year_sub in class_list %}
                                         <option selected style="display:none" value="{{ class_year_sub.id }} ">  {{ class_year_sub.class_name }}</option>
                                     {% endfor %}
                                    </select>
                                </div>
                            </div>


{##}                {% for class_year_sub in year_subject %}
                        <div style="margin-left: 3%" class="col-md-2">
                            <h4>Subject:</h4>
                            <div class="">
                                <select style="width: 120%" autocomplete="off" class="form-control"
                                            id="id_subject_name" name="subject_name" required="" readonly>
{#                                    <option style="display:none" selected="selected"#}
{#                                            value="{{ target_setting_rec.subject_name.id }}">{{ target_setting_rec.subject_name.subject_name }}</option>#}

                                            <option value="{{ class_year_sub.subject_details.id}} "> {{ class_year_sub.subject_details.subject_name }}</option>

                                </select>
                            </div>
                        </div>
{##}                    {% endfor %}
{##}
{#                        <div style="margin-left: 3%" class="col-md-2">#}
{#                            <h4>Reported Score:</h4>#}
{#                            <div class="">#}
{#                            <select style="width: 120%" id='id_report_score_name' name="report_score_name" class="form-control emp"#}
{#                                                        required="" readonly>#}
{#                                <option style="display:none" selected="selected"#}
{#                                            value="{{ target_setting_rec.report_score_name.id }}">{{ target_setting_rec.report_score_name.report_name }}</option>#}
{##}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}


                    </div>



                        <br>

                        <table id="nameGenderTable" name="data"
                               class="table table-striped table-bordered table-hover table-checkable order-column"
                               id="sample_1" role="grid" aria-describedby="sample_1_info">
                            <thead>
                            <tr role="row">
                                <th > Exam Name: </th>
                                <th> Frequency:</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <div id="message" style="display:none;"></div>
                            {% for obj in exam_list %}
                                <tr class="form_length item" id="item{{ forloop.counter }}" style="cursor: pointer;" name="data">
                                    <td style="display:none;"><input type="text" name="id" value='{{ obj.id }}' style="width: 50px; "></td>
                                    <td style="text-align: center">
{##}
                                        <select id='to_date{{ forloop.counter }}' name="exam_name" class="form-control emp" required="" readonly>
                                            <option style="display:none" selected="selected" value="{{ obj.exam_mapping_name.id }}"> {{ obj.exam_mapping_name.exam_name }} </option>

{#                                            {% for obj in exam_type %}#}
{#                                                <option value='{{ obj.id }}'>{{ obj.exam_type_name }}</option>#}
{#                                            {% endfor %}#}
                                        </select>
                                    </td>
                                    <td>
                                          <select id='frequency_name{{ forloop.counter }}' name="frequency_name" class="form-control emp" required="" readonly>
                                            <option style="display:none" selected="selected" value="{{ obj.frequency_name.id }}"> {{ obj.frequency_name.frequency_name }} </option>

{#                                            {% for obj in exam_type %}#}
{#                                                <option value='{{ obj.id }}'>{{ obj.exam_type_name }}</option>#}
{#                                            {% endfor %}#}
                                        </select>
                                    </td>
                                    <!--<td>
                                          <select id='report_score_name{{ forloop.counter }}' name="report_score_name" class="form-control emp" required="">
                                            <option style="display:none" selected="selected" value="{{ obj.reported_exam_mapp.id }}"> {{ obj.reported_exam_mapp.report_name }} </option>

{#                                            {% for obj in exam_type %}#}
{#                                                <option value='{{ obj.id }}'>{{ obj.exam_type_name }}</option>#}
{#                                            {% endfor %}#}
                                        </select>
                                    </td>-->
                                </tr>
                            {% endfor %}
                            </tbody>


                        </table>
                    </div>
                    <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                            <button type="button" id="edit" class="btn blue"> Edit</button>
                            <button type="submit" style="display:none" id="update" class="btn blue"> Update</button>
                                <a href="{% url 'assessment:target_setting_list' %}">
                                <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>

                </form>
            </div>
            {#            </fieldset>#}
        </div>
    </div>
{% endblock %}
