{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        span {
            font-weight: bold;
        }

        input {
            margin-left: 7%;
        }

        .mrk {
            margin-left: 7%;
            width: 45px;
        }

        .marks span {
            display: none;
        }


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #fff722;
    color: #ff1722;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 138px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

     #core_id {
    width: 378px;
    padding: 5px 10px;
    margin:8px;
    height: 35px;
    border:1px solid #ccc;
    background-color: #f0f0f0;
    }


     .correct {
    width: 378px;
    padding: 1px 3px;
    height: 35px;
    margin:8px;
    margin-left: 14px;
    border:1px solid #ccc;
    {#background-color: #eaeaea;#}
    }



    </style>


{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>

$(document).ready(function() {

    count=0;
    $('#addButton').click(function () {

        if (count <= 4) {

            count = count + 1;

            // ADD TEXTBOX.
            $('#possible_ans').append('<input style="width: 600px; margin-left: 28px" type=text id=opt_id-' + count + ' class="input form-control  " name="options"  />');


            $('#correct_id').append('<div style="width: 600px; margin-left: 13px" class="correct" id=core_ids' + count + '><input type=text  name="add_div" class="ans form-control dis" id=div_id-' + count + ' value="" style="margin-left:-2px; border:none;  width:500px; height:22px; margin-top:5px;  background-color: white;" readonly></div>');


            // SHOW SUBMIT BUTTON IF ATLEAST "1" ELEMENT HAS BEEN CREATED.
            if (count == 1) {
                var divSubmit = $(document.createElement('div'));

            }

            // ADD BOTH THE DIV ELEMENTS TO THE "add_bt" CONTAINER.
            {#$('#addButton').after('option_id', divSubmit);#}
        }

        // AFTER REACHING THE SPECIFIED LIMIT, DISABLE THE "ADD" BUTTON.
        // (20 IS THE LIMIT WE HAVE SET)
        else {
            alert("Only 5 options allow");

        }

    });



    $('.btRemove').click(function () {
        if (count != 0) {
            $('#opt_id-' + count).remove();

            $('#core_ids' + count).remove();
            count = count - 1;
        }

        if (count == 0) {
            {#$('#option_id')#}
            {#    .empty()#}
            {#    .remove();#}

            $('#opt_id-').remove();
            $('#core_ids').remove();


        }

    })



    $(document).on("change", ".input", function () {
       var tb = this.value;
       //alert(tb)

       var index = $(this).attr("id").split("opt_id-")[1];
       //alert(index)

        $("#div_id-" + index).val(tb);


     });


    $("#edit").click(function (event) {

        $("#update").show();
        $("#edit").hide();
        $('.dis').prop("disabled", false);
        $('button').removeClass('disabled');

         $('.core_class').each(function(){
             $(this).css('background-color', $(this).data('color'));
         })



        $("#correct_id").sortable({
            placeholder: 'slide-placeholder',
            axis: "y",
            revert: 150,
            start: function(e, ui){
                placeholderHeight = ui.item.outerHeight();
                ui.placeholder.height(placeholderHeight + 15);
                $('<div class="slide-placeholder-animator" data-height="' + placeholderHeight + '"></div>').insertAfter(ui.placeholder);

            },
            change: function(event, ui) {
                ui.placeholder.stop().height(0).animate({
                    height: ui.item.outerHeight() + 15
                }, 300);

                placeholderAnimatorHeight = parseInt($(".slide-placeholder-animator").attr("data-height"));
                $(".slide-placeholder-animator").stop().height(placeholderAnimatorHeight + 15).animate({
                    height: 0
                }, 300, function() {
                    $(this).remove();
                    placeholderHeight = ui.item.outerHeight();
                    $('<div class="slide-placeholder-animator" data-height="' + placeholderHeight + '"></div>').insertAfter(ui.placeholder);
                });
            },
            stop: function(e, ui) {
                $(".slide-placeholder-animator").remove();


                },
        });


    });


    $("#update").click(function () {
        var main = []

        var text = $('.ans');
        var i =1;
        text.each(function (index) {
           {#alert($(this).attr("id"))#}

            var position = i++
            {#alert(position)#}
            var variable = $(this).attr('id').split("-")[1]
            {#alert(variable)#}
            {#alert($("#div_id-" + variable).val())#}

            var dic = {
                "id": variable,
                "answer": $("#div_id-" + variable).val(),
                "position":position
            }
            {#alert(JSON.stringify(dic))#}
            main.push(dic);
        })
            {#data.push(main);#}

     //var main1 = []
        var data = []
        var text1 = $('.input');

        text1.each(function (index) {


            {#alert($(this).attr("id"))#}



            var variable = $(this).attr('id').split("-")[1]
            {#alert( variable)#}
            {#alert($("#opt_id-" + variable).val())#}

            var dic1 = {
                "id": variable,
                "option": $("#opt_id-" + variable).val()

             }
            {#alert(JSON.stringify(dic1))#}
            data.push(dic1);
        })

        $('#anwser_id').val(JSON.stringify(main))
        $('#option_id').val(JSON.stringify(data))
        {#(JSON.stringify(main));#}
        {#return false#}
        $('#form_sample_1').submit()

    })




    document.getElementById("upload_question_image").onchange = function () {

        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : "+fileExtension.join(', '));
            this.value = '';
            return false;

        }


        var reader = new FileReader();
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("img_id").src = e.target.result;

        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);

    };




    $("#id_subject_name").change(function (e) {
        var subject_id = $(this).val()
        var perodic_scheme_id = $('#id_perodic_scheme').val()

        var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id, perodic_scheme_id)

    });
    $("#id_strand_name").change(function (e) {
        var strand_name = $(this).val()
        var url1 = '/school/subject_realted_substrand_perodic_defination/';
        subject_realted_substrand_perodic_defination(url1, strand_name)

    });

    $("#id_sub_strand").change(function (e) {
        var substrand_name = $(this).val()
        var url1 = '/school/subject_realted_topic_perodic_defination/';
        subject_realted_topic_perodic_defination(url1, substrand_name)

    });

    $("#id_topic").change(function (e) {
        var topic_id = $(this).val()
        var url1 = '/school/subject_based_questions/';
        subject_based_questions(url1, topic_id)

    });

    $("#id_perodic_scheme").change(function (e) {
        var perodic_scheme_id = $(this).val()
        var url1 = '/school/perodic_scheme_related_subjects/';
        perodic_scheme_related_subjects(url1, perodic_scheme_id)

    });


    function perodic_scheme_related_subjects(url, perodic_scheme_id) {
        $.ajax({
            type: 'POST',
            url: url,
            data: {

                perodic_scheme_id: perodic_scheme_id,

                csrfmiddlewaretoken: '{{ csrf_token }}',

            },
            success: function (data) {


                $('#id_subject_name').empty();
                $('#id_subject_name').append('<option value="">Please Select Subject</option>');

                for (var i = 0; i < data.length; i++) {
                    $('#id_subject_name').append('<option value="' + data[i].id + '">'
                        + data[i].subject_name + '</option>')
                    $('#id_subject_name').prop("disabled", false);
                }
            },
            error: function (xhr, msg, err) {
                alert(xhr.responseJSON.error);
            }
        });
    }


    function subject_realted_strand_perodic_defination(url, subject_id, perodic_scheme_id) {
        $.ajax({
            type: 'POST',
            url: url,
            data: {

                subject_id: subject_id,
                perodic_scheme_id: perodic_scheme_id,

                csrfmiddlewaretoken: '{{ csrf_token }}',

            },
            success: function (data) {

                $('#id_strand_name').empty();
                $('#id_strand_name').append('<option value="">Please Select Strand</option>');

                for (var i = 0; i < data.length; i++) {
                    $('#id_strand_name').append('<option value="' + data[i].id + '">'
                        + data[i].strand_name + '</option>')
                    $('#id_strand_name').prop("disabled", false);
                }
            },
            error: function (xhr, msg, err) {
                alert(xhr.responseJSON.error);
            }
        });
    }

    function subject_realted_substrand_perodic_defination(url, strand_name) {
        $.ajax({
            type: 'POST',
            url: url,
            data: {

                strand_name: strand_name,
                csrfmiddlewaretoken: '{{ csrf_token }}',

            },
            success: function (data) {

                $('#id_sub_strand').empty();
                $('#id_sub_strand').append('<option value="">Please Select Substrand</option>');

                for (var i = 0; i < data.length; i++) {
                    $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                        + data[i].substrand_name + '</option>')
                    $('#id_sub_strand').prop("disabled", false);
                }
            },
            error: function (xhr, msg, err) {
                alert(xhr.responseJSON.error);
            }
        });
    }

    function subject_realted_topic_perodic_defination(url, substrand_name) {
        $.ajax({
            type: 'POST',
            url: url,
            data: {

                substrand_name: substrand_name,

                csrfmiddlewaretoken: '{{ csrf_token }}',

            },
            success: function (data) {

                $('#id_topic').empty();
                $('#id_topic').append('<option value="">Please Select Topic</option>');

                for (var i = 0; i < data.length; i++) {
                    $('#id_topic').append('<option value="' + data[i].id + '">'
                        + data[i].topic_name + '</option>')
                    $('#id_topic').prop("disabled", false);
                }
            },
            error: function (xhr, msg, err) {
                alert(xhr.responseJSON.error);
            }
        });
    }


    function subject_based_questions(url, topic_id) {
        $.ajax({
            type: 'POST',
            url: url,
            data: {

                topic_id: topic_id,

                csrfmiddlewaretoken: '{{ csrf_token }}',

            },
            success: function (data) {

                $('#id_question_name').empty();

                for (var i = 0; i < data.length; i++) {
                    $('#id_question_name').append('<option value="' + data[i].id + '">'
                        + data[i].question_name + '</option>')
                    $('#id_question_name').prop("disabled", false);
                }
            },
            error: function (xhr, msg, err) {
                alert(xhr.responseJSON.error);

            }
        });
    }

    function mark_based_on_question(url, question_data) {
        $.ajax({
            type: 'POST',
            url: url,
            data: {

                question_data: question_data,

                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {

                $('#total_mark_id').empty();
                $('#total_mark_id').val(data);


            },
            error: function (xhr, msg, err) {
                alert(xhr.responseJSON.error);

            }
        });
    }

    $("#meta").click(function () {

                    $("#demo").toggle()

                })


});

</script>

{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:search_question' %}"> Search Question</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a>Edit Order List Question</a>
            </li>

        </ul>
    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Order-List Standard Definition</span>
            </div>

            <button type="button" name="updt" id="update" class=" update btn red btn-block" style="display:none;width: 10%;float: right">Update</button>
            <button type="button" name="edit" id="edit" class=" edit btn blue btn-block" style="width: 10%;float: right;">Edit</button>

        </div>

        <div class="portlet-body">
            <form action="{% url 'assessment:update_order_list_question' %}" method="POST" id="form_sample_1" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row" id="scheme_row">
                    <div class="col-md-12">
                        <input type="hidden" id="option_id" name="option_name">
                        <input type="hidden" id="anwser_id" name="answer_name">
                        <input type="hidden" value="{{ question_obj.id }}" name="question_id" />

                        <div class="columns" id="scheme_row" style="margin-top: 30px;">

                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <label style="margin-left:30px;" class="control-label">Title:</label>
                                    <input style="width: 600px; margin-left: 28px; height: 35px;" id="title_order"  name="title_order_name" placeholder="[Title](max 150 characters)" value="{{ question_obj.title}}" class="validate_value form-control dis" maxlength="150"   title="Only Alphanumeric is allowed with '-' and '_'" disabled>
                                </div>
                            </div>


                            <br>
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <label style="margin-left:30px;" class="control-label">Instruction:</label>
                                    <input style="width: 600px; margin-left: 28px; height: 35px;" id="instruction_order"  name="instruction_order_name" placeholder="Instruction" value="{{ question_obj.instruction}}" class="validate_value form-control dis" maxlength="150"   title="Only Alphanumeric is allowed with '-' and '_'" disabled>
                                </div>
                            </div>


                            <br>
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <label style="margin-left:30px;" class="control-label">Question:</label>
                                    <input style="width: 600px; margin-left: 28px; height: 35px;" id="question_order"  name="question_order_name" placeholder="Question" value="{{ question_obj.question_name}}" class="validate_value form-control dis" maxlength="150"   title="Only Alphanumeric is allowed with '-' and '_'" disabled>
                                </div>
                            </div>


                            <div style="margin-left: 90%; margin-top: 20px">
                                <button type="button" id="addButton" class="dis btn btn-icon-only green" style="" disabled="true">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btRemove dis btn btn-icon-only purple" style="" disabled="true">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-6 col-md-4" id="possible_ans">
                                    <label style="margin-left:30px;" class="control-label">Options:</label>
                                    {% for rec in options %}
                                        <input style="width: 600px; margin-left: 28px; height: 35px;" type="text"id="opt_id-{{ rec.id }}" disabled class="form-control input emp dis man option_val" value ="{{ rec.option }}" name="options">
                                    {% endfor %}
                                </div>
                            </div>


                            <br>
                            <div class="row">
                                <div class="col-6 col-md-4" id="correct_ans">
                                    <label style="margin-left:30px;" class="control-label">Answer:</label>
                                    <div class="correct_div dis" id="correct_id"  style="margin-left:14px;" disabled>
                                        {% for rec in ans_data %}
                                            <div class="core_class " id="core_id" data-color="white" data-color='white' style="margin-left:13px;width: 600px; height: 35px;" >
                                                <input id="div_id-{{ rec.id }}" style="display: none; " name="add_div" placeholder="Answer" value="{{ rec.answer}}" class="ans  dis" maxlength="150"  style="width:25%;" disabled>{{ rec.answer}}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <br>


                            {% if question_obj.question_photo == "" %}

                                <div >
                                <input type="file"id="upload_question_image"class="dis" name="upload_question_image_name" style="margin-left: 25px" disabled>
                                <img style="display: none; margin-left: 30px; margin-top: 10px;" id="img_id" height="180px" width="180pxmargin-left: 30px" src=" " />
                                <!--<img id="img_qstn_id" />-->
                                </div>
                                {% else %}

                                <div >
                                <input type="file"id="upload_question_image"class="dis" style="margin-left: 25px" name="upload_question_image_name" disabled>
                                <img id="img_id" style="margin-left: 30px; margin-top: 10px;" height="180px" width="180px" src="{{question_obj.question_photo.url}}" />
                                <!--<img id="img_qstn_id" />-->
                                </div>
                                {% endif %}



                            <div class="row">
                                <div class="col-6 col-md-4" id="correct_ans">
                                    <label style="margin-left:30px;" class="control-label">Score:</label>
                                    <input type="number" id="question_mark"  name="mark_name" placeholder="[Score]" value="{{ question_obj.mark}}" value min="0" class="form-control dis" maxlength="150"  style="width: 600px; margin-left: 25px; height: 35px;" disabled>
                                </div>
                            </div>


                            <br>
                            <div class="">
                                <button type="button" style="height: 35px; width: 600px; margin-left: 25px;" class="btn blue btn-block" data-toggle="collapse" data-target="#demo" id="meta">Meta Data</button>
                            </div>


                            <div id="demo" class="collapse">
                                <select autocomplete="off" class="form-control dis man" data-live-search="true" id="id_perodic_scheme" disabled title="Select Subject" name="perodic_scheme" style="height: 35px; width: 600px;margin-top: 2%; margin-left: 25px" required>
                                    <option style="display:none" selected="selected" value="{{ perodic_scheme.0.id }}"> {{ perodic_scheme.0.perodic_scheme_name }}</option>
                                    {% for rec in all_perodic_scheme %}
                                        <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                                    {% endfor %}
                                </select>


                                <select autocomplete="off" class="form-control dis man" data-live-search="true" id="id_subject_name" name="subject_name" disabled style="height: 35px; width: 600px;margin-top: 2%; margin-left: 25px">
                                    <option style="display:none" selected="selected" value="{{ selected_subject.id }}"> {{ selected_subject.subject_name }}</option>
                                </select>


                                <select autocomplete="off" class="form-control dis man" data-live-search="true" id="id_strand_name" name="strand_name" style="height: 35px; width: 600px;margin-top: 2%; margin-left: 25px" required disabled>
                                    <option selected="selected" value="{{ perodic_strand_obj.id }}">{{ selected_strand.strand_name }}</option>
                                </select>


                                <select autocomplete="off" class="form-control dis man" data-live-search="true" id="id_sub_strand" name="sub_strand" style="height: 35px; width: 600px;margin-top: 2%; margin-left: 25px" required disabled>
                                    <option selected="selected" value="{{ substrand_obj.id }}">{{ selected_substrand.substrands_name }}</option>
                                </select>


                                <select autocomplete="off" class="form-control dis man" data-live-search="true" id="id_topic" name="topic_name" style="height: 35px; width: 600px;margin-top: 2%; margin-left: 25px" required disabled>
                                    <option selected="selected" value="{{ selected_topic.id }}">{{ selected_topic.topic }}</option>
                                </select>

                            </div>

                        </div>

                    </div>

                </div>

                <div>
                  <p id="title_preview"></p>
                </div>

            </form>

        </div>

    </div>
{% endblock %}

