{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->


{% endblock %}
{% block ScriptBlock %}

    <script>

    window.onload = function () {

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }

        window.setTimeout(function () {

            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);



    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:skill_tracker_sub_tile' %}"> Skill Tracker</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span class="title">Entered-Mark List</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Entered marks list</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{% url 'assessment:enter_scheme_mark' %}">
                                <button id="sample_editable_1_new" class="btn sbold green"> Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1"> -->
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
{#                    <th>Serial No</th>#}
{#                    <th> Scheme Code</th>#}

                    <th> Academic Year</th>
                    <th> Class</th>
                    <th> Section</th>
                    <th> Scheme Name</th>
                    <th> Frequency</th>
                    <th> Status</th>
                    <th> Archive</th>
                </tr>
                </thead>
                <tbody>
                {% for rec in mapping_rec %}
                    <tr class="odd gradeX list" id ="{{ rec.id }}" onclick="window.location='{% url "assessment:update_entered_scheme_mark" rec.id %}'" style="cursor: pointer;">
{#                    <td>{{ forloop.counter }}</td>#}

                    <td style="width: 120px;"> {{ rec.academic_mapping.year_name.year_name }} </td>
                    <td> {{ rec.academic_mapping.class_name.class_name}} </td>
                    <td> {{ rec.academic_mapping.section_name.section_name}} </td>
                    <td> {{ rec.scheme_mapping.scheme_name.scheme_name }} </td>
                    <td> {{ rec.frequency.frequency_name }} </td>

                    <td>
                    {% if rec.is_submitted == 0 %}
                        Not Submitted
                    {% else  %}
                        Submitted
                    {% endif %}
                    </td>
                    <td> {% if rec.is_archived == 0 %}
                        <p>Not Archive</p>

                    {% else  %}
                        <p>Archived</p>
                    {% endif %} </td>
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

