{% extends "index.html" %}
{% block ScriptBlock %}
    <script>

        window.onload = function () {


            id_exam_scheme = document.getElementById("id_exam_scheme").value

            if (id_exam_scheme == '') {
                $('#id_exam_scheme').val($('#id_exam_scheme'));
                $('#id_exam_scheme').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }


            id_subject_name = document.getElementById("id_subject_name").value

            if (id_subject_name == '') {
                $('#id_subject_name').val($('#id_subject_name'));
                $('#id_subject_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'

                    }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            frequency_name = document.getElementById("id_frequency_name").value
            if (frequency_name == '') {
                $('#id_frequency_name').val($('#id_frequency_name'));
                $('#id_frequency_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            //YOUR JQUERY CODE
            $(document).ready(function () {

                $('#mmmm').attr('disabled', true);

                $('#body').hover(
                    function () {
                        $('#mmmm').attr('disabled', false);
                    });


                (function ($) {
                    $.extend({
                        toDictionary: function (query) {
                            var parms = {};
                            var items = query.split("&"); // split
                            for (var i = 0; i < items.length; i++) {
                                var values = items[i].split("=");
                                var key = decodeURIComponent(values.shift());
                                var value = values.join("=")
                                parms[key] = decodeURIComponent(value);
                            }
                            return (parms);
                        }
                    })
                })(jQuery);


                (function ($) {
                    $.fn.serializeFormJSON = function () {
                        var o = [];
                        $(this).find('tr').each(function () {
                            var elements = $(this).find('input, textarea, select,checkbox,button')
                            console.log($(this));
                            if (elements.size() > 0) {
                                var serialized = $(this).find('input, textarea, select,checkbox,button').serialize();
                                var item = $.toDictionary(serialized);
                                o.push(item);
                            }
                        });
                        return o;
                    };
                })(jQuery);


                $("#mmmm").click(function (event) {
                    event.preventDefault();

                    {#                 var id_frequency_name = $('#id_frequency_name').val();#}
                    {#                 alert('id_frequency_name'+id_frequency_name);#}

                    var rawData = $('#nameGenderForm').serializeFormJSON();

                    var data = JSON.stringify(rawData);
                    {#                alert(data);#}
                    {#                var className = document.getElementById("id_class_name").value;#}
                    {#                var sectionName = document.getElementById("id_section_name").value;#}

                    var id_academic_year = $('#id_academic_year').val();

                    var id_class_name = $('#id_class').val();


                    var id_section_name = $('#id_section_name').val();

                    var id_exam_scheme = $('#id_exam_scheme').val();
                    {#                 alert('id_exam_scheme'+id_exam_scheme);#}

                    var id_subject_name = $('#id_subject_name').val();

                    var id_frequency_name = $('#id_frequency_name').val();
                    {#                 alert('id_subject_name'+id_subject_name);#}
                    var url = '/school/save_exam_mark/';
                    save_exam_mark(url, id_academic_year, id_class_name, id_section_name, id_exam_scheme, id_subject_name, id_frequency_name, data);
                    {# window.location.href="/school/attendanceDetails/";#}

                });


                $("#id_exam_scheme").change(function () {
                    var id_exam_scheme = $('#id_exam_scheme').val();
                    {#			        alert('id_exam_scheme'+id_exam_scheme);#}


                    var url = '/school/view_exam_scheme_subject/';
                    view_exam_scheme_subject(url, id_exam_scheme)

                });


                $(".buttonreverse").click(function (event) {
                    event.preventDefault();

                    id = $(this).closest('tr').find('td:eq(0)').html();
                    console.log(id)

                    var url = '/school/reverse_tc/';
                    reverse_tc(url, id)
                    //window.location.href="/school/attendanceDetails/";


                });

                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)


                $("#id_academic_year").change(function () {

                    var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });

                $("#id_class_name").change(function () {
                    var class_name = document.getElementById("id_class_name").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });


            });


            function reverse_tc(url, id) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {

                        studentid: id,


                    },
                })

                    .done(
                        function (data) {

                            console.log("in reverse tc ajax")
                            location.reload();

                        });
            }


            function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })

                    .done(
                        function (data) {
                            console.log(data);

                            $('#id_class_name').empty();
                            $('#id_class_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {

                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }

                            //$('#id_class_name').prop("disabled", false);


                        });


            }

            function ViewSectionDetailStudent(url, academic_year, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name
                        },
                })

                    .done(
                        function (data) {

                            console.log("print you are in section ajax")
                            console.log(data);

                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }
                            //$('#id_section_name').prop("disabled", false);


                        });


            }


            function view_exam_scheme_subject(url, id_exam_scheme) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        id_exam_scheme: id_exam_scheme

                    },
                })

                    .done(
                        function (data) {
                            {#                            alert(data);#}
                            {#                           var a = $('#id_exam_name').val(data);#}

                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                {#			                  alert(data[i].id)#}

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].value + '</option>')

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }


                        });
            }


            function save_exam_mark(url, id_academic_year, id_class_name, id_section_name, id_exam_scheme, id_subject_name, id_frequency_name, data) {

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        id_academic_year: id_academic_year,
                        id_class_name: id_class_name,
                        id_section_name: id_section_name,
                        id_exam_scheme: id_exam_scheme,
                        id_subject_name: id_subject_name,
                        id_frequency_name: id_frequency_name,
                        table: data,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    encode: true,
                    success: function (data) {
                        $("#successId").show();
                        $("#errorId").hide();
                        $("#successMessage").text(data.success);
                        window.location.reload();
                    },
                    error: function (xhr, msg, err) {
                        $("#errorId").show();
                        $("#successId").hide();
                        $("#errorMessage").text(xhr.responseJSON.error);
                    }
                });

            }


        }


    </script>
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    {% csrf_token %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:exam_sub_tile' %}"> </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Add Marks</span>
            </li>
        </ul>
    </div>


    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Add Marks</span>


            </div>

        </div>
        <form method="post" action="{% url 'assessment:view_exam_student_list' %}" id="exportForm">
            {% csrf_token %}
            <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>
            <div class="row">

                <div class="col-md-2">
                    <h4>Academic Year</h4>

                    <div class="">
                        <input value="{{ acadmic_name }}" name="academic_year" hidden>
                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_academic_year"
                                name="academic_year" disabled>
                            <option style="display:none" selected="selected"
                                    value="{{ acadmic_name }}"> {{ ACYearName }}</option>
                            {% for academic_year in academic_year_recs %}
                                <option value="{{ academic_year.id }}">{{ academic_year.year_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-2">

                    <h4>Class</h4>


                    <div class="">

                        <input type="hidden" name="class_id" id="id_class" class="" value="{{ class_name }}">

                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                name="class_name" required="">
                            <option style="display:none" selected="selected"
                                    value="{{ class_name }}"> {{ ClassName }}</option>
                            {% for ClassDetails in ClassDetails %}
                                <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <h4>Section </h4>

                    <div class="">
                        <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                required="">
                            <option style="display:none" selected="selected"
                                    value="{{ section_name }}"> {{ SectName }}</option>
                            {% for Section in Section %}
                                <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                            {% endfor %}
                        </select>


                    </div>
                </div>

                <div class="col-md-2">
                    <h4>Exam:</h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" id="id_exam_scheme" name="exam_scheme"
                                required="">
                            {#                           <option style="display:none" selected="selected" value="">Please Select</option>#}

                            <option style="display:none" selected="selected"
                                    value="{{ selected_exam_scheme_name_id }}"> {{ selected_exam_name }}</option>

                            {% for exam_scheme_rec in exam_scheme_recs %}
                                <option value="{{ exam_scheme_rec.exam_name.id }}" {{ value1 }} >{{ exam_scheme_rec.exam_name.exam_code.exam_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="col-md-2">
                    <h4>Subject:</h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" id="id_subject_name" name="subject_name"
                                required="">
                            {#                       <option style="display:none" selected="selected" value="">Please Select</option>#}
                            <option style="display:none" selected="selected"
                                    value="{{ selected_subject_name }}"> {{ selected_subject_strand_name }}</option>
                            {% for subject_rec in subject_recs %}
                                <option value="{{ subject_rec.id }}" {{ value1 }} >{{ subject_rec.strand_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>


                <div class="col-md-2">
                    <h4>Frequency:</h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" id="id_frequency_name" name="frequency_name"
                                required="">
                            {#                       <option style="display:none" selected="selected" value="">Please Select</option>#}
                            <option style="display:none" selected="selected"
                                    value="{{ selected_frequency_id }}"> {{ selected_selected_frequency_name }}</option>
                            {% for frequecy_rec in frequency_recs %}
                                <option value="{{ frequecy_rec.id }}" {{ value1 }} >{{ frequecy_rec.frequency_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>


                <div class="col-md-2">
                    <button type="submit" id="button1" class="btn blue btn-block" style="margin-top: 38px;">Go</button>

                </div>

            </div>


        </form>

        <br>

        <form method="post" action="" id="nameGenderForm">
            {% csrf_token %}
            <table name="data"
                   class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                   id="" role="grid" aria-describedby="sample_1_info">


                <thead>
                <tr role="row" name="data">

                    <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label=" Actions : activate to sort column ascending">ID
                    </th>
                    <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" Actions : activate to sort column ascending"> Student Name
                    </th>

                    {% for subtopic_rec in subtopic_list %}
                        <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> {{ subtopic_rec.name }}<br>
                            <p type="text" id="{{ forloop.counter }}" style="width: 30%;"> {{ subtopic_rec.mark }}</p>
                        </th>

                    {% endfor %}


                    <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" Actions : activate to sort column ascending"> Total Marks
                    </th>


                </tr>
                </thead>

                <tbody>

                {% for obj1 in student_list_recs %}
                    <tr style="cursor: pointer;" name="data" id="body">

                        <td><input type='text' name="studentId" value='{{ obj1.id }}' style="width: 80%;" readonly></td>
                        <td><input type='text' name="studentName" value='{{ obj1.get_all_name }}' readonly></td>
                        {% for sub_strand_name_rec in subtopic_list %}
                            <td>
                                <input hidden name="sub_topic_id_{{ sub_strand_name_rec.id }}"
                                       value='{{ sub_strand_name_rec.id }}' type="text">
                                <input id="{{ forloop.counter }}" name="subtopicMark_{{ forloop.counter }}" type="text"
                                       style="width: 30%;">
                            </td>
                        {% endfor %}
                        <td><input id="{{ forloop.counter }}" name="totalMarks" type="text" style="width: 30%;"
                                   value='{{ obj1.total_mark }}'></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <input type="button" id="mmmm" class="btn blue btn-block" value="Submit"
                   style=" width: 20%; margin-left: 40%;"/>
        </form>


    </div>



{% endblock %}