{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>

        window.setTimeout(function () {

            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

        window.onload = function () {



{#                          $(".test").on('click', function (e) {#}
            $(document).on("click", ".test", function (e) {
                window.open($(this).attr("data-href"), '_blank');
            });



            var forms = $('.bod');
            {#            alert(forms.length)#}
            if (forms.length == 0) {
                $('.subm').attr('disabled', true);
            }
            $(document).ready(function () {

                id_academic_year_value = document.getElementById("id_academic_year").value
                if (id_academic_year_value == '') {
                    $('#id_academic_year').val($('#id_academic_year'));
                    $('#id_academic_year').prepend($('<option>', {

                        value: '',
                        text: 'All'

                    }));
                }

                id_subject_name = document.getElementById("id_subject_name").value
                if (id_subject_name == '') {
                    $('#id_subject_name').val($('#id_subject_name'));
                    $('#id_subject_name').prepend($('<option>', {
                        value: '',
                        text: 'All'
                    }));
                }

                  c = document.getElementById("id_class_name").value
                if (id_class_name == '') {
                    $('#id_class_name').val($('#id_class_name'));
                    $('#id_class_name').prepend($('<option>', {
                        value: '',
                        text: 'All'
                    }));
                }

                id_frequency = document.getElementById("id_frequency").value
                if (id_frequency == '') {
                    $('#id_frequency').val($('#id_frequency'));
                    $('#id_frequency').prepend($('<option>', {
                        value: '',
                        text: 'All'
                    }));
                }

{#                id_scheme = document.getElementById("id_scheme").value#}
{#                if (id_scheme == '') {#}
{#                    $('#id_scheme').val($('#id_scheme'));#}
{#                    $('#id_scheme').prepend($('<option>', {#}
{#                        value: '',#}
{#                        text: 'Please Select'#}
{#                    }));#}
{#                }#}

                id_section_name = document.getElementById("id_section_name").value
                if (id_section_name == '') {
                    $('#id_section_name').val($('#id_section_name'));
                    $('#id_section_name').prepend($('<option>', {
                        value: '',
                        text: 'All'
                    }));
                }


{#                $('#selectAll').click(function (e) {#}
                $(document).on("click", "#selectAll", function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });


{#                $('#reject').on('click', function () {#}
                $(document).on("click", "#reject", function (e) {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select at least one record for rejection!');
                        return false;
                    }

                    document.getElementById("task").value = 'reject';

                });

{#                $('#approve').on('click', function () {#}
                $(document).on("click", "#approve", function (e) {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select at least one record for submission!');
                        return false;
                    }

                    document.getElementById("task").value = 'approve';

                });

{#                $('.approve_data').on('click', function () {#}
                $(document).on("click", ".approve_data", function (e) {
                    {#                    alert("Hello.... "+$(this).val())#}
                    $('#chk' + $(this).val()).prop('checked', 'true');
                    document.getElementById("task").value = 'approve';
                    {#                    return false;#}
                });

{#                $('.reject_data').on('click', function () {#}
                $(document).on("click", ".reject_data", function (e) {
                    $('#chk' + $(this).val()).prop('checked', 'true');
                    document.getElementById("task").value = 'reject';
                });

{#                academic_year = document.getElementById("id_academic_year").value#}
{#                var url1 = '/school/viewAcademicDetails/';#}
{#                viewAcademicDetails(url1, academic_year);#}

                $("#id_academic_year").change(function () {
                    academic_year = document.getElementById("id_academic_year").value
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)
                });

                $("#id_class_name").change(function () {
                    academic_year = document.getElementById("id_academic_year").value
                    class_name = document.getElementById("id_class_name").value

                    var url = '/school/viewSectionDetails/';
                    viewSectionDetails(url, class_name, academic_year)

{#                    var url = '/school/view_mandatory_optional_subject/';#}
{#                    viewSubjectDetails(url)#}
                });

{#                $("#id_section_name").change(function () {#}
                $(document).on("click", "#id_section_name", function (e) {
                    var academic_value = document.getElementById("id_academic_year").value
                    var class_value = document.getElementById("id_class_name").value
                    var section_value = document.getElementById("id_section_name").value
                    var data = 'exam_subject'
                    {#                    alert(academic_value +" -- "+class_value+" --- "+section_value)#}
                    var url = '/school/view_single_subject_details/';
                    viewSubjectDetails(url, academic_value, class_value, section_value,data)

                });

{#                $("#id_subject_name").change(function () {#}
{#                    var academic_value = document.getElementById("id_academic_year").value#}
{#                    var class_value = document.getElementById("id_class_name").value#}
{#                    var section_value = document.getElementById("id_section_name").value#}
{#                    var subject_value = document.getElementById("id_subject_name").value#}
                    {#                    alert(academic_value +" -- "+class_value+" --- "+section_value)#}
{#                    var url = '/school/view_subject_scheme/';#}
{#                    viewSubjectSchemeDetails(url, academic_value, class_value, section_value, subject_value)#}
{#                });#}
{#                    $("#id_subject_name").change(function () {#}
                    $(document).on("change", "#id_subject_name", function (e) {
                    var academic_value = document.getElementById("id_academic_year").value
                    var class_value = document.getElementById("id_class_name").value
                    var section_value= document.getElementById("id_section_name").value
                    var subject_value= document.getElementById("id_subject_name").value
                    var url = '/school/view_exam_subject_frequency/';
                    viewSubjectFrequencyDetails(url, academic_value, class_value, section_value, subject_value)
                  });

                    function viewSubjectFrequencyDetails(url, academic_val, class_val, sec_val, subject_val) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_val,
                        class_name: class_val,
                        section_name: sec_val,
                        subject_name: subject_val,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_frequency').empty();
                            $('#id_frequency').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_frequency').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].value + '</option>')
                            }
                        });
            }

{#                $("#id_scheme").change(function () {#}
{#                    var academic_value = document.getElementById("id_academic_year").value#}
{#                    var class_value = document.getElementById("id_class_name").value#}
{#                    var section_value = document.getElementById("id_section_name").value#}
{#                    var subject_value = document.getElementById("id_subject_name").value#}
{#                    var id_scheme = document.getElementById("id_scheme").value#}
                    {#                    alert(academic_value +" -- "+class_value+" --- "+section_value)#}
{#                    var url = '/school/view_subject_scheme_frequency/';#}
{#                    viewSubjectSchemeFrequencyDetails(url, academic_value, class_value, section_value, subject_value, id_scheme)#}
{#                });#}

                   $("#id_scheme").change(function () {
                    var academic_value = document.getElementById("id_academic_year").value
                    var class_value = document.getElementById("id_class_name").value
                    var section_value= document.getElementById("id_section_name").value
                    var subject_value= document.getElementById("id_subject_name").value
                    var id_scheme= document.getElementById("id_scheme").value
{#                    alert(academic_value +" -- "+class_value+" --- "+section_value)#}


                       var url = '/school/view_mapped_exam_subject_scheme/';
                    ViewSubjectExamMappedScheme(url, scheme_id,academic_year,class_name)

                    var url = '/school/view_exam_subject_scheme_frequency/';
                    view_exam_subject_scheme_frequency_details(url, academic_value, class_value, section_value, subject_value, id_scheme )
                });


                $('#button1').click(function () {
                    if ((document.getElementById("id_class_name").value == '') && (document.getElementById("id_section_name").value == '') && (document.getElementById("id_subject_name").value == '') && (document.getElementById("id_frequency").value == '')) {
                        location.reload(true);
                        return false;
                    }
                })

            });


            function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })
                    .done(
                        function (data) {
                            $('#id_class_name').empty();
                            $('#id_class_name').append(
                                '<option value="">All</option>');

                            for (var i = 0; i < data.length; i++) {
                               console.log($('#class_rec').val());
                                 if (data[i].id == $('#class_rec').val()) {
                                    $('#id_class_name').append('<option selected value="' + data[i].id + '">' + data[i].class_name + '</option>');
                                }
                                else {
                                    $('#id_class_name').append('<option value="' + data[i].id + '">' + data[i].class_name + '</option>');
                                }
                            }
                        });
            }


            function viewSectionDetails(url, class_name, academic_year) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name,
                        academic_year: academic_year
                    },
                })
                {#                    alert("hhh")#}
                    .done(
                        function (data) {
                            {#                            alert("hhh------>");#}
                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                            }
                            $("#id_section_name_mapping option").each(function () {
                                $(this).siblings("[value='" + this.value + "']").remove();
                            })
                        });
            }

               function ViewSubjectExamMappedScheme(url, scheme_id,academic_year,class_name) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        scheme_id: scheme_id,
                        academic_year: academic_year,
                        class_name: class_name,
{#                        class_name: class_val,#}
{#                        section_name: sec_val,#}
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
{#                            alert('Hi');#}
                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');
{##}
                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                            }
                        });
            }

{#            function viewSubjectDetails(url, academic_val, class_val, sec_val) {#}
{#                $.ajax({#}
{#                    url: url,#}
{#                    type: "POST",#}
{#                    data: {#}
{#                        academic_year: academic_val,#}
{#                        class_name: class_val,#}
{#                        section_name: sec_val,#}
{#                        csrfmiddlewaretoken: '{{ csrf_token }}',#}
{#                    },#}
{#                })#}
{##}
{#                    .done(#}
{#                        function (data) {#}
{#                            $('#id_subject_name').empty();#}
{#                            $('#id_subject_name').append(#}
{#                                '<option value="">Please select</option>');#}
{##}
{#                            for (var i = 0; i < data.length; i++) {#}
{#                                $('#id_subject_name').append(#}
{#                                    '<option value="' + data[i].id + '">'#}
{#                                    + data[i].subject_name + '</option>')#}
{#                            }#}
{#                        });#}
{#            }#}
                 function viewSubjectDetails(url,academic_value,class_value,section_value,data) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        class_name: class_value,
                        section_name:  section_value,
                        academic_year: academic_value,
                        data: data,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                            }
                        });
            }

            function view_exam_subject_scheme_details(url, academic_val, class_val,sec_val, subject_val ) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_val,
                        class_name: class_val,
                        section_name: sec_val,
                        subject_name: subject_val,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_scheme').empty();
                            $('#id_scheme').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_scheme').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].value + '</option>')
                            }
                        });
            }




                 function view_exam_subject_scheme_frequency_details(url, academic_val, class_val,sec_val, subject_val, scheme_val ) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_val,
                        class_name: class_val,
                        section_name: sec_val,
                        subject_name: subject_val,
                        id_scheme: scheme_val,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_frequency').empty();
                            $('#id_frequency').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_frequency').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].value + '</option>')
                            }
                        });
            }


             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }
    </script>
{% endblock %}
{% block content %}
    <body>

 <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

              <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Approve/Reject Exam Scheme</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Approve/Reject Exam Scheme</span>
            </div>
        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
                <form method="post" action="{% url 'assessment:filter_exam_aproval_list' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">

                        <div class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 80%;" autocomplete="off" class="form-control" id="id_academic_year" name="year_name"
                                        required="" readonly="">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Year_Id }}">{{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div style="margin-left: -50px;" class="col-md-2">
                            <h4> Class:</h4>
                            <div class="">
                                 <input type="hidden" id="class_rec" value="{{ class_rec }}">
                                <select style="width: 80%;" autocomplete="off" class="form-control" id="id_class_name" name="class_name"
                                        required="">
                                 {% if class_rec.class_name %}
                                <option style="display:none" selected="selected"
                                            value="{{ class_rec.id }}">{{ class_rec.class_name }}</option>
                                 {% else %}
                                    <option style="display:none" selected="selected" value="">All</option>
                                {% endif %}
                                    {% for class_rec in ClassDetails %}
                                        <option value="{{ class_rec.id }}">{{ class_rec.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -50px;" class="col-md-2">
                            <h4> Section:</h4>
                            <div class="">
                                <select style="width: 80%;" autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="">
                                {% if section_rec.section_name %}
                                    <option style="display:none" selected="selected"
                                            value="{{ section_rec.id }}">{{ section_rec.section_name }}</option>

                                    {% else %}
                                        <option style="display:none" selected="selected" value="">All</option>
                                    {% endif %}
                                 {% for section_rec in SectionDetails %}
                                        <option value="{{ section_rec.id }}" >{{ section_rec.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
{#                    <div class="col-md-2">#}
{#                            <h4>Exam Scheme:</h4>#}
{#                            <div class="">#}
{#                                <select autocomplete="off" class="form-control" id="id_scheme" name="scheme"#}
{#                                        required="">#}
{#                                    <option style="display:none" selected="selected" value="{{ scheme_rec.id }}">{{ scheme_rec.exam_scheme_name }}</option>#}
{#                                    {% for scheme_rec in exam_scheme_recs %}#}
{#                                        <option value="{{ scheme_rec.id }}" >{{ scheme_rec.exam_scheme_name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}

                        <div style="margin-left: -50px;" class="col-md-2">
                            <h4>Subject:</h4>
                            <div class="">
                                <select style="width: 80%;" autocomplete="off" class="form-control" id="id_subject_name" name="subject_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ subjects_rec.id }}">{{ subjects_rec.subject_name }}</option>
                                    {% for subject_rec in subject_recs %}
                                        <option value="{{ subject_rec.id }}">{{ subject_rec.subject_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -50px;" class="col-md-2">
                            <h4>Frequency:</h4>
                            <div class="">
                                <select style="width: 80%;" autocomplete="off" class="form-control" id="id_frequency" name="frequency_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ frequency_rec.id }}"> {{ frequency_rec.frequency_name }}</option>
                                   {% for frequency_rec in frequency_recs %}
                                        <option value="{{ frequency_rec.id }}">{{ frequency_rec.frequency_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -50px;" class="col-md-1">
                            <button type="submit" id="button1" class="btn blue btn-block" style="margin-top: 38px;width: 150px;">Go
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    </body>
    </html>

    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
        <div class="portlet-body">
            <form action="{% url 'assessment:exam_aprove_reject' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden type='text' id="task" name="task"/>
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
{#                        <th>Id</th>#}
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>Submitted By</th>
                        <th>Subject Teacher</th>
                        <th>Supervisor</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Subject</th>
                        <th>Exam Name</th>
                        {#                        <th>Scheme Name</th>#}
                        <th>Frequency</th>
                        <th>Status</th>


                        <th>Approve</th>
                        <th>Reject</th>
                        <th>Submitted Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in scheme_mark_recs %}
                        <tr class="bod">
                            <td style="display:none;">{{ forloop.counter }}</td>
                        <td><input type='checkbox' name='check' class="chk" value="{{ obj.scheme_mark_rec.id }}"
                                       id="chk{{ obj.scheme_mark_rec.id }}"></td>
{#                            <td onclick="window.location='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'">{{ forloop.counter }}</td>#}
                            <td class="test"  data-href='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'>{{ obj.scheme_mark_rec.submitted_by.get_pura_name }}</td>
                            <td class="test"  data-href='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'>



                                {% for teacher_rec in obj.teacher_recs %}
                                    {{ forloop.counter }}) {{ teacher_rec.staff_id.first_name}} {{ teacher_rec.staff_id.middle_name}} {{ teacher_rec.staff_id.last_name}} <br>
                                {% endfor %}
                            </td>
                            <td class="test"  data-href='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'>
                                {% for supervisor_rec in obj.supervisor_recs %}
                                    {{ forloop.counter }}) {{ supervisor_rec.supervisor_id.first_name}} {{ supervisor_rec.supervisor_id.middle_name}} {{ supervisor_rec.supervisor_id.last_name}} <br>
                                {% endfor %}
                            </td>
                            <td class="test"  data-href='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'>{{ obj.scheme_mark_rec.academic_mapping.class_name.class_name }}</td>
                            <td class="test"  data-href='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'>{{ obj.scheme_mark_rec.academic_mapping.section_name.section_name }}</td>
                            <td class="test"  data-href='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'> {{ obj.scheme_mark_rec.scheme_mapping.exam_scheme_mapp_exam_name_relation.all.0.subject.subject_name }}</td>
                            <td class="test"  data-href='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'> {{ obj.scheme_mark_rec.scheme_mapping.exam_name.exam_name }}</td>
                            {#                            <td> {{ obj.scheme_mapping.scheme_name.scheme_name }}</td>#}
                            <td class="test"  data-href='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'> {{ obj.scheme_mark_rec.frequency.frequency_name }}</td>
                            <td class="test"  data-href='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'>
                                {% if obj.scheme_mark_rec.is_submitted == 0 %}
                                    Not Submitted
                                {% else %}
                                    Submitted
                                {% endif %}
                            </td>


                            <td>
                                <button type="submit" class="approve_data btn blue" id="approve1" name="id_approve1"
                                        value="{{ obj.scheme_mark_rec.id }}"
                                        style=" width: 100%;  margin-top: 2%"> Approve
                                </button>
                            </td>
                            <td>
                                <button type="submit" id="reject1" class="reject_data btn red" name="id_reject1"
                                        value="{{ obj.scheme_mark_rec.id }}"
                                        style="width:100%;margin-top: 2%"> Reject
                                </button>
                            </td>
                        <td class="test"  data-href='{% url "assessment:update_entered_exam_scheme_mark" obj.scheme_mark_rec.id %}'>{{ obj.scheme_mark_rec.updated_on }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    {% comment %}<tfoot>
                    <tr>
                        <td colspan="6">
                            <button type="submit" class="btn blue subm" id="approve"
                                    style=" width: 20%; margin-left: 25%; margin-top: 2%"> Approve
                            </button>
                            <button type="submit" id="reject" class="subm btn red"
                                    style="width: 20%; margin-left: 25%; margin-top: 2%"> Reject
                            </button>
                        </td>
                    </tr>
                    </tfoot>{% endcomment %}
                </table>
                <button type="submit" class="btn blue subm" id="approve"style=" width: 10%; margin-left: 40%; margin-top: 2%"> Approve</button>
                <button type="submit" id="reject" class="subm btn red" style="width: 10%; margin-top: 2%"> Reject</button>
            </form>
        </div>
    </div>

{% endblock %}