{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Exam Sub Tile</span>
            </li>


        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">


        <div class="portlet-body">

            <div class="tiles">
                {% if 'assessment.can_view_view_exam_categories' and 'assessment.can_view_view_create_exam_list' in perms %}

                 <div class="tile bg-blue" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:exam_list' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-check"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Create Exam </h5></div>

                        </div>
                    </a>
                </div>
                {% endif %}
            {% if 'assessment.can_view_view_exam_categories' and 'assessment.can_view_view_exam_definition_list' in perms %}

                <div class="tile bg-purple-studio" style="height: 170px !important;width: 18% !important;">

                       <a href="{% url 'assessment:exam_definition_list' %}">
                        <div class="tile-body">
                            <i class="fa fa-calendar-plus-o"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Exam Scheme</h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_exam_categories' and 'assessment.can_view_view_exam_mapping_list' in perms %}

                <div class="tile bg-green-turquoise" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:view_exam_scheme_subject_mapping' %}">

                        <div class="tile-body">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Mapping </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}

{#                 <div class="tile bg-red" style="height: 170px !important;width: 18% !important;">#}
{#                    <a href="{% url 'assessment:view_mapping_details' %}">#}
{##}
{#                        <div class="tile-body">#}
{#                            <i class="fa fa-line-chart" aria-hidden="true"></i>#}
{##}
{#                        </div>#}
{#                        <div class="tile-object">#}
{#                            <div class="name"><h5 style="font-size: 14px;">View Mapping </h5></div>#}
{##}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
            {% if 'assessment.can_view_view_exam_categories' and 'assessment.can_view_view_exam_categories' in perms %}

                <div class="tile bg-blue-hoki" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:entered_exam_scheme_mark_list' %}">

                        <div class="tile-body">
                            <i class="fa fa-calculator"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Enter Marks </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_exam_categories' and 'assessment.can_view_view_exam_approval_list' in perms %}

                <div class="tile bg-blue" style="height: 170px !important;width: 18% !important;">
                   <a href="{% url 'assessment:view_exam_scheme_aproval_list' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-check"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Approval </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_exam_categories' and 'assessment.can_view_view_exam_status_list' in perms %}
                <div class="tile bg-green-sharp" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:exam_scheme_status' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-th-list"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Status </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}

            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

