{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->


{% endblock %}
{% block ScriptBlock %}

    <script>
        window.setTimeout(function () {

            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);




        window.onload = function () {

            $(document).ready(function () {


                frequency = document.getElementById("id_frequency").value
            if (frequency == '') {
                $('#id_frequency').val($('#id_frequency'));
                $('#id_frequency').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            class_name = document.getElementById("id_class_name").value
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'

                    }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            var exam_name = document.getElementById("id_exam_name").value
            if (exam_name == '') {
                $('#id_exam_name').val($('#id_exam_name'));
                $('#id_exam_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            subject_name = document.getElementById("id_subject_name").value
            if (subject_name == '') {
                $('#id_subject_name').val($('#id_subject_name'));
                $('#id_subject_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            copy_from = document.getElementById("id_copy_from").value
            if (copy_from == '') {
                $('#id_copy_from').val($('#id_copy_from'));
                $('#id_copy_from').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

                $(document).on("click",".list",function (e) {
                    var x = ($(this).attr('id'));
{#                    alert(x);#}

{#                     var parent_id = $(this).parents('tr:eq(0)').attr('id')#}

                });

                var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                $("#id_academic_year").change(function () {

                    var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });
                    $("#id_class_name").change(function () {
                    var class_name = document.getElementById("id_class_name").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);

                });
                    $("#id_section_name").change(function () {
                    var academic_year = document.getElementById("id_academic_year").value;
                    var class_name = document.getElementById("id_class_name").value;
                    var section_name = $('#id_section_name').val();

                    var url = '/school/view_mapped_subject_details/';
                    view_mapped_subject_details(url, academic_year, class_name, section_name)


                });

                $("#id_subject_name").change(function () {
                    var academic_year = document.getElementById("id_academic_year").value;
                    var class_name = document.getElementById("id_class_name").value;
                    var section_name = $('#id_section_name').val();
                    var subject_name = $('#id_subject_name').val();
                    var url = '/school/get_exam_details/';
                    ViewExamDetails(url, academic_year, class_name, subject_name)

                });

                $("#id_exam_name").change(function () {
                    var exam_name = document.getElementById("id_exam_name").value;
                    var url = '/school/get_exam_frequency/';
                    ViewExamFrequency(url, exam_name)


                    var academic_year = document.getElementById("id_academic_year").value;
                    var class_name = document.getElementById("id_class_name").value;
                    var section_name = $('#id_section_name').val();
                    var subject_name = $('#id_subject_name').val();


                    var url = '/school/view_copy_frequency_exam_details/';
                    ViewCopyFrequencyExamDetails1(url, academic_year, class_name, section_name, subject_name, exam_name)
                });

                $(document).on("click", "#id_frequency", function (e) {
                    var frequency_name = $(this).val();
                    var url = '/school/view_frequency_validity/';
                    viewFrequencyValidity(url, frequency_name)
                });

            });

             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }
        function viewAcademicDetails(url1, academic_year) {
                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })
                    .done(
                        function (data) {
                            $('#id_class_name').empty();
                            $('#id_class_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }
                        });
            }
            function ViewSectionDetailStudent(url, academic_year, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name
                        },
                })

                    .done(
                        function (data) {
                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                            }
                        });
            }
            function view_mapped_subject_details(url, academic_year, class_name, section_name) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_year,
                        class_name: class_name,
                        section_name: section_name,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            {#                            alert(data)#}
                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                            }
                        });
            }

            function ViewExamDetails(url, academic_val, class_val, sub_val) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_val,
                        class_name: class_val,
                        subject_name: sub_val,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_exam_name').empty();
                            $('#id_exam_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_exam_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].scheme + '</option>')
                            }
                        });
            }
            function ViewExamFrequency(url, exam_name) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        exam_name: exam_name,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })
                    .done(
                        function (data) {
                            $('#id_frequency').empty();
                            $('#id_frequency').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_frequency').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].frequency + '</option>')
                            }
                        });
            }
            function ViewCopyFrequencyExamDetails1(url, academic_val, class_val, sec_val, sub_val, exam_name) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_val,
                        class_name: class_val,
                        section_name: sec_val,
                        subject_name: sub_val,
                        exam_name: exam_name,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            {#                            alert('Hi');#}
                            $('#id_copy_from').empty();
                            $('#id_copy_from').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_copy_from').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].frequency_name + '</option>')
                            }
                        });
            }

            function viewFrequencyValidity(url, freq) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            frequency_name: freq,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {
                                if (data == false) {
                                    $('#id_frequency').val('');
                                    alert('You can\'t Select Future\'s Frequency');
                                }
                            });
                }

    </script>

{% endblock %}

{% block content %}
 <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

              <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>View Marks</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Entered-Mark List</span>
            </div>

        </div>
        <div class="portlet-body">
{#            <div class="table-toolbar">#}
{#                <div class="row">#}
{#                    <div class="col-md-6">#}
{#                        <div class="btn-group">#}
{#                            <a href="{% url 'assessment:enter_exam_scheme_mark' %}">#}
{#                                <button id="sample_editable_1_new" class="btn sbold green"> Add New#}
{#                                    <i class="fa fa-plus"></i>#}
{#                                </button>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        <form method="post" action="{% url 'assessment:exam_scheme_student_list' %}" id="exportForm">
            {% csrf_token %}
            <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>
            <div class="row">
                <div style="margin-right:2px;width: 12%;" class="col-md-1">
                    <div style="width: 130%;"><h4>Academic Year </h4></div>
                    <div class="">
                        <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                        <select style="width: 110%;" autocomplete="off" class="form-control" data-live-search="true"
                                id="id_academic_year"
                                name="year_name" disabled>
                            <option style="display : none" selected="selected"
                                    value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                            {% for Academic_Year in year_list %}
                                <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div style="margin-right:2px;width: 12%;" class="col-md-1">
                    <div style="width: 130%;"><h4>Class </h4></div>
                    <input value="{{ Selected_Year_Id }}" id="id_academic_year" name="year_name" hidden>
                    <input hidden id="class_hidden_id" name="class_name" value="{{ Selected_Class_Id }}">
                    <div class="">
                        <select style="width: 110%;" autocomplete="off" class="form-control" data-live-search="true"
                                id="id_class_name"
                                name="class_name" required="">
                            <option style="display : none" selected="selected"
                                    value="{{ Selected_Class_Id }}"> {{ selected_class_name }}</option>
                            {% for class in class_list %}
                                <option value="{{ class.id }}">{{ class.class_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div style="margin-right:2px;width: 12%;" class="col-md-1">
                    <div style="width: 130%;"><h4> Section </h4></div>
                    <div class="">
                        <select style="width: 110%;" autocomplete="off" class="form-control" id="id_section_name"
                                name="section_name"
                                required="">
                            <option style="display : none" selected="selected"
                                    value="{{ Selected_Section_Id }}"> {{ selected_section_name }}</option>
                            {% for section in section_list %}
                                <option value="{{ section.id }}">{{ section.section_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div style="margin-right:2px;width: 12%;" class="col-md-1">
                    <div style="width: 130%;"><h4>Subject</h4></div>
                    <div class="">
                        <select style="width: 110%;" autocomplete="off" class="form-control" id="id_subject_name"
                                name="subject_name"
                                required="">
                            <option style="display:none" selected="selected"
                                    value="{{ selected_subject_id }}">{{ selected_subject_name }}</option>
                        </select>
                    </div>
                </div>

                <div style="margin-right:2px;width: 12%;" class="col-md-1">
                    <div style="width: 130%;"><h4>Exam Name</h4></div>
                    <div class="">
                        <select style="width: 110%;" autocomplete="off" class="form-control" id="id_exam_name"
                                name="exam_name"
                                required="">
                            <option style="display:none" selected="selected"
                                    value="{{ exam_rec.id }}">{{ exam_rec.exam_name }}</option>
                        </select>
                    </div>
                </div>

                <div style="margin-right:2px;width: 12%;" class="col-md-1">
                    <div style="width: 130%;"><h4 style="width: 130%;">Frequency</h4></div>
                    <div class="">
                        <select style="width: 110%;" autocomplete="off" class="form-control" id="id_frequency"
                                name="frequency_name"
                                required="">
                            <option style="display:none" selected="selected"
                                    value="{{ frequency_data.id }}">{{ frequency_data.frequency_name }}</option>
                        </select>
                    </div>
                </div>


                <div style="margin-right:2px;width: 12%;" class="col-md-1">
                    <div style="width: 130%;"><h4>Copy From</h4></div>
                    <div class="">
                        <select style="width: 110%;" autocomplete="off" class="form-control" id="id_copy_from"
                                name="copy_from">
                            <option style="display:none" selected="selected"
                                    value="{{ copy_from_data.id }}"> {{ copy_from_data.frequency_name }}</option>
                        </select>
                    </div>
                </div>

                <div style="margin-right:2px;width: 12%;" class="col-md-1">
                    <div class="">
                        <button style="width: 110px;margin-top: 39px;" type="submit" id="button1"
                                class="btn blue btn-block">Go
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br><br>


            <!-- <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1"> -->
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <th>Serial No</th>
{#                    <th> Scheme Code</th>#}
                    <th> Exam Scheme</th>
                    <th> Academic Year</th>
                    <th> Class</th>
                    <th> Section</th>
                    <th> Exam Name</th>
                    <th> Subject</th>
                    <th> Frequency</th>
                    <th>Status</th>
                    <th> Archive</th>
                </tr>
                </thead>
                <tbody>
                {% for rec in mapping_rec %}
                    <tr class="odd gradeX list" id ="{{ rec.id }}" onclick="window.location='{% url "assessment:update_entered_exam_scheme_mark" rec.id %}'" style="cursor: pointer;">
                    <td>{{ forloop.counter }}</td>
                    <td> {{ rec.scheme_mapping.exam_scheme.exam_scheme_name}} </td>
                    <td> {{ rec.academic_mapping.year_name.year_name }} </td>
                    <td> {{ rec.academic_mapping.class_name.class_name}} </td>
                    <td> {{ rec.academic_mapping.section_name.section_name}} </td>
                    <td> {{ rec.scheme_mapping.exam_name.exam_name}} </td>
                    <td> {{ rec.scheme_mapping.exam_scheme_mapp_exam_name_relation.all.0.subject.subject_name}} </td>
                    <td> {{ rec.frequency.frequency_name}} </td>
                    <td>  {% if rec.is_submitted == 0 %}
                        Not Submitted
                    {% else  %}
                        Submitted
                    {% endif %}
                    </td>

                    <td>
                        {% if rec.is_archived == 0 %}
                            Not Archive
                        {% else %}
                            Archived
                        {% endif %}
                    </td>
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

