{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
{#    <!-- BEGIN GLOBAL MANDATORY STYLES -->#}
{##}
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>

    </style>
{% endblock %}
{% block ScriptBlock %}

    <script>

        window.onload = function () {

{#            $(".button_edit").click(function () {#}
                $(document).on("click", ".button_edit", function () {
                 mapping_id1 = $(this).closest('tr').find('td:eq(0)').html();
{#                alert('mapping_id' + mapping_id1);#}
                $("#mapping_id1").val(mapping_id1);
                {#                return false;#}
                subject_id1 = $(this).closest('tr').find('td:eq(1)').html();
{#                alert('subject_id1' + subject_id1);#}
                $("#subject_id1").val(subject_id1);
{#                return false;#}
            $('#form_sample_1').submit();

            });






{#            $(".button_delete").click(function (event) {#}
             $(document).on("click", ".button_delete", function () {
{#                event.preventDefault();#}
                mapping_id = $(this).closest('tr').find('td:eq(0)').html();
                subject_id = $(this).closest('tr').find('td:eq(1)').html();

                var url = '/school/delete_exam_mapping/';
                delete_mapping(url, mapping_id, subject_id)
                //window.location.href="/school/attendanceDetails/";


            });


            function delete_mapping(url, mapp_id, sub_id) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {

                        mapping_id: mapp_id,
                        subject_id: sub_id,


                    },
                })

                    .done(
                        function (data) {

                            {#                            console.log("in reject tc ajax") #}
                            location.reload();

                        });
            }








        }


    </script>

{% endblock %}

{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:view_exam_scheme_mapping' %}">Mapping </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>View Mapping</span>
            </li>
        </ul>
    </div>



    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        {#        <div class="portlet-title">#}
        {#            <div class="caption font-dark">#}
        {#                <i class="icon-settings font-red"></i>#}
        {#                <span class="caption-subject font-red sbold uppercase"> MANAGE STUDENT TC LIST</span>#}
        {#            </div>#}
        {##}
        {#        </div>#}
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Edit Exam</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">

            </div>
            <form action="{% url 'assessment:edit_exam_mapping' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input class="form-control" id="mapping_id1" name="mapping_id1" type="hidden" value="">
                <input class="form-control" id="subject_id1" name="subject_id1" type="hidden" value="">

                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none">ID</th>
                        <th style="display:none">SUBJECT ID</th>
                        {#                        <th>Id</th>#}
                        <th>Exam Code</th>
                        <th>Exam</th>
                        <th>Exam Type</th>
                        <th>Exam Name</th>
                        <th> Frequencies</th>
{#                        <th>Grading Scheme</th>#}
                        <th>Edit</th>
                        <th>Delete</th>
{#                        <th>Archive</th>#}
                    </tr>
                    </thead>
                    <tbody> {% for obj in exam_scheme_rec %}
                        <tr style="cursor: pointer;">

                            <td style="display:none">{{ obj.exam_scheme_obj.id }}</td>
                            <td style="display:none">{{ obj.subject.id }}</td>
                            {#                            <td>{{ forloop.counter }}</td>#}
                            <td>{{ exam_details_recs.exam_code }}</td>
                            <td>{{ obj.exam_scheme_obj.class_obj.class_name }}</td>
                            <td>{{ obj.subject.subject_name }}</td>
                            <td>{{ obj.exam_scheme_obj.exam_name_obj.exam_name }}</td>
                            <td> {{ obj.exam_scheme_obj.exam_scheme.exam_scheme_name }}</td>
{#                            <td> {{ obj.exam_scheme_obj.grade_name.grade_name }}</td>#}
                            <td>
                                <text hidden="">Edit</text>
                                <input type='button' class="button_edit btn green btn-block" value='Edit' readonly>
                            </td>
                            <td>
                                <text hidden="">Delete</text>
                                <input type='button' class="button_delete btn red btn-block" value='Delete' readonly>
                            </td>
{#                            <td>#}
{#                                <text hidden="">Archive</text>#}
{#                                <input type='button' class="button_archive btn yellow btn-block" value='Archive'#}
{#                                       readonly>#}
{#                            </td>#}

                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}


