{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        span {
            font-weight: bold;
        }

        input {
            margin-left: 7%;
        }

        .mrk {
            margin-left: 7%;
            width: 60%;
        }

        .marks span {
            display: none;
        }

    </style>


{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {

            var url = '/school/view_mandatory_optional_subject/';
            viewSubjectDetails(url)


        $(document).on("change", "#id_subject_name", function () {
                var subject_val = $('#id_subject_name').val();
                var url = '/school/check_subject_substrand/';
                check_subject_substrand(url, subject_val)
            });

            function check_subject_substrand(url, subject_val) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        subject_name: subject_val,
                    },
                })
                    .done(
                        function (flag) {
{#                            alert(JSON.stringify(flag))#}
                            if(JSON.stringify(flag) == 'false'){
                                $('#id_subject_name').val('')
                                alert("Subject selection fali. \n The selected subject does not have strands or substrand assigned to it. ")
                            }
                        });
            }


{#        $("#id_class_name").change(function() {#}
{#					class_name = document.getElementById("id_class_name").value#}
{##}
{#					academic_year = document.getElementById("id_academic_year").value#}
{##}
{#					var url1 = '/school/viewSectionDetails/';#}
{#					viewSectionDetails(url1,class_name,academic_year)#}
{##}
{#					var url = '/school/viewMultisectTeacherList/';#}
{#					viewMultisectTeacherList(url,class_name)#}
{#				});#}
            $(document).on("change", ".strand_class", function (e) {

                 var parent_id = $(this).parents('tr:eq(0)').attr('id')
{#                alert('parent_id'+parent_id);#}

                var id_subject_name = $('#id_subject_hidden').val();

                var strand_id = $('#'+parent_id+' .strand_class').val();
{#                var strand_id = $('.strand_class').val();#}
{#                alert('strand_id'+strand_id);#}


{#                alert('parent_id-->'+parent_id);#}

                var url = '/school/view_sub_strands_details/';
                view_sub_strands(url,id_subject_name,strand_id,parent_id)


{#                var clipboardData = e.clipboardData || e.originalEvent.clipboardData || window.clipboardData;#}
{#                var pastedData = clipboardData.getData('text');#}
{##}
{#                if ((pastedData.match(/^[0-9]+$/) != null) == false) {#}
{#                    return false;#}
{#                }#}
{#                if (parseInt(pastedData) > 100) {#}
{#                    alert("Scheme-Max Score Should be 100")#}
{#                    return false;#}
{#                }#}
{##}
{#                var flag_mrk = false;#}
{#                flag_mrk = total_mrk_chk(pastedData);#}
{#                if (flag_mrk === true) {#}
{#                    alert("Max Score Cannot Exceed 100 Marks.")#}
{#                    return false;#}
{#                }#}
{##}
{#                $(this).css('border-color', '');#}
            });

{#            $(document).on("paste", ".mrk", function (e) {#}
{#                var clipboardData = e.clipboardData || e.originalEvent.clipboardData || window.clipboardData;#}
{#                var pastedData = clipboardData.getData('text');#}
{##}
{#                if ((pastedData.match(/^[0-9]+$/) != null) == false) {#}
{#                    return false;#}
{#                }#}
{#                if (parseInt(pastedData) > 100) {#}
{#                    alert("Scheme-Max Score Should be 100")#}
{#                    return false;#}
{#                }#}
{##}
{#                var flag_mrk = false;#}
{#                flag_mrk = total_mrk_chk(pastedData);#}
{#                if (flag_mrk === true) {#}
{#                    alert("Max Score Cannot Exceed 100 Marks.")#}
{#                    return false;#}
{#                }#}
{##}
{#                $(this).css('border-color', '');#}
{#            });#}


            $("#go_button").on('click', function () {
{#                alert('Hi');#}
{#                return false;#}

                var scheme_code = $('#scheme_code').val();
                var scheme_name = $('#scheme_name').val();


                if ($('#scheme_code').val() === '') {
                    $('#scheme_code').css('border-color', 'red');
                    alert("Please Enter the Exam Code ");
                    return false;
                }
                else if ($('#scheme_name').val() === '') {
                    $('#scheme_name').css('border-color', 'red');
                    alert("Please Enter the Exam Name ");
                    return false;
                }
{#                 else if ($('#id_rubrics_catgory').val() === '') {#}
{#                    $('#id_rubrics_catgory').css('border-color', 'red');#}
{#                    alert("Please Enter the Rubrics Category Name ");#}
{#                    return false;#}
{#                }#}

{#                $('.tbl1').find('input,button,textarea,select').prop('disabled', false);#}


             });



            $('.save').on('click', function () {

                var submit = false;
                var Empty_Flag = false;
                $('#scheme_row input').css('border-color', '');
                var all_parent = $('#tb tr');

                var main = [];
                var data = [];  // Main array in which all records will be pushed
                var scheme_code = $('#scheme_code').val();
                var scheme_name = $('#scheme_name').val();
                var id_exam_name = $('#id_exam_name').val();
                var id_exam_type = $('#id_exam_type').val();
                var id_subject_name = $('#id_subject_hidden').val();
{#                alert('id_subject_name'+id_subject_name);#}
{#                return false;#}


                if ($('#scheme_code').val() === '') {
                    $('#scheme_code').css('border-color', 'red');
                    alert("Please Enter the Exam Scheme Code ");
                    return false;
                }
                else if ($('#scheme_name').val() === '') {
                    $('#scheme_name').css('border-color', 'red');
                    alert("Please Enter the Exam Scheme Name ");
                    return false;
                }
                   else if($('#id_exam_name').val() == ''){
                        $('#id_exam_name').css('border-color', 'red');
                     alert("Please Enter the Exam Name ");
                    return false;

                }

                else if($('#id_exam_type').val() == ''){
                        $('#id_exam_type').css('border-color', 'red');
                     alert("Please Enter the Exam Type ");
                    return false;
                }

                $(this).attr('disabled','disabled');

                {#alert("hhh")#}
                {#return false;#}

{#                var total_mark = 0;#}
{#                var all_marks = $('.mrk');#}
{#                for(var i=0;i<all_marks.length;i++){#}
{#                    if(all_marks[i].value != ''){#}
{#                        total_mark = total_mark + parseInt(all_marks[i].value);#}
{#                    }#}
{#                    alert(all_marks[i].value);#}
{#                }#}
{##}
{#                if(parseInt(total_mark) <100){#}
{#                    alert('Scheme Score Should Be 100')#}
{#                    return false;#}
{#                }#}

                {#                Initially Getting All input count and their ids#}
                for (var z = 0; z < all_parent.length; z++) {
                    $('.item input').css('border-color', '');
                    var parent_id = all_parent[z].id;
                    var topic_len = $('#' + parent_id + ' #topic .len').length;
                    var sub_topic_len = $('#' + parent_id + ' #subTopic .len').length;
                    var all_substrand_id = $('#' + parent_id + ' .substrands select');
{#                    alert(JSON.stringify(all_substrand_id));#}

{#                    alert('all_substrand_id'+all_substrand_id);#}
{#                    return false;#}

                    var all_topic_id = $('#' + parent_id + ' #topic input');
                    var all_sub_topic_id = $('#' + parent_id + ' .subTopic input');
                    var all_marks_id = $('#' + parent_id + ' .marks input');
                    var topics = [];

                    for (var i = 0; i < topic_len; i++) {   // Creating a paylod of topic-ids and their values
                        var topic_id = all_topic_id[i].id;

                        var payload = {
                            "id": topic_id,
                            "value": document.getElementById(topic_id).value
                        }
                        topics.push(payload);
                    }

                    var strand_value = $('#' + parent_id + '-strand1').val();
                    var sub_strand_value = $('#' + parent_id + '-strand1-subStrand1').val();
{#                    alert('sub_strand_value'+sub_strand_value);#}


                    var substrand = [];  // Array for pushing substrand
                    var sublen = $('#' + parent_id + ' #ab .len').length;  //Substrand input field count
                    var top_payload

                    for (var i = 0; i < sublen; i++) {  //Loop for substrand
                        var id = all_substrand_id[i].id;
                        var aa = [];

                        var sp_id = id.split("-");  //spliting substrand ids and sp_id[2] is substrand input id like subStrand1, subStrand2 etc.
                        for (var j in topics) {  //Loop to iterating topic elements
                            var sub_data = [];
                            var top_id = topics[j].id;
                            var t_id = top_id.split("-");  //spliting topic - and t_id[2] is topic input id like subStrand1, subStrand1 etc.

                            if (sp_id[2] === t_id[2]) {   // checking ids of subStrand and topic for their relation
                                for (var k = 0; k < sub_topic_len; k++) {   // iterating till the subtopic field count
                                    var sub_topic_id = all_sub_topic_id[k].id;
                                    var s_id = sub_topic_id.split('-');
                                    var mark_id = all_marks_id[k].id;

                                    if (t_id[3] === s_id[3]) {  // if relation found between topic and subtopic through their ids then creating a payload for topic and with their Subtoics
                                        {% comment %}if ((document.getElementById(sub_topic_id).value === '')) {
                                            $('#' + sub_topic_id).css('border-color', 'red');
                                            Empty_Flag = true;

                                        }{% endcomment %}
                                        {% comment %} if (document.getElementById(mark_id).value === '') {
                                             $('#' + mark_id).css('border-color', 'red');
                                             Empty_Flag = true;
                                         }{% endcomment %}

                                        {#                                        else {#}
                                        var sub_payload = {
                                            "subtopic": topics[j].id,  // Its Id of subtopic for further Use
                                            "value": document.getElementById(sub_topic_id).value,  // Value of subtopic
                                            "mark": document.getElementById(mark_id).value,
                                        }
                                        sub_data.push(sub_payload);  // pushing subtopic payload/dictionary to subtopic array
                                        {#                                        }#}
                                    }
                                }

                                if (sub_data.length === 0) {
                                    alert("Please Enter Subtopic and Mark Before Saving The Record");
                                    {#alert("Please Enter Subtopic and Mark For " + topics[j].value + " Before Saving The Record");#}
                                    $(this).attr('disabled',false);
                                    return false;
                                }

                                {#                                if (topics[j].value === '') {#}
                                {#                                    $('#' + topics[j].id).css('border-color', 'red');#}
                                {#                                    Empty_Flag = true;#}
                                {#                                }#}
                                {#                                else {#}
                                var value = topics[j].value;
                                top_payload = {              // dictionary for topic and subtopic
                                    topic_name: value,
                                    subtopic: sub_data,
                                }
                                aa.push(top_payload)
                                {#                                }#}
                            }
                        } // End of topic loop
                        {#                        if ($('#' + id).val() === '') {#}
                        {#                            var $messageDiv = $('#message'); // get the reference of the div#}
                        {#                            $('#' + id).css('border-color', 'red');#}
                        {#                            alert("Please Enter Strand. ")#}
                        {#                            return false;#}
                        {#                            Empty_Flag = true;#}
                        {#                        }#}
                        {#                        else {#}


                        if (aa.length === 0) {
                            alert("Please Enter Topic, Subtopic and Mark Before Saving The Record");
                            {#alert("Please Enter Topic, Subtopic and Mark For " + $('#' + id).val() + " Before Saving The Record");#}
                            $(this).attr('disabled',false);
                            return false;
                        }


                        dic = {
                            substrand_name: $('#' + id).val(),
                            topic: aa
                        }
                        substrand.push(dic)    // pushing dictionary of substrand in substrand array
                        {#                        }#}
                    }  // End of substrand for loop


                    if (substrand.length === 0) {
                        alert("Please Enter Substrand, Topic, Subtopic and Mark Before Saving The Record");
                        {#alert("Please Enter Substrand, Topic, Subtopic and Mark For " + strand_value + " Before Saving The Record");#}
                        $(this).attr('disabled',false);
                        return false;
                    }

                    if (strand_value === '') {
                        var $messageDiv = $('#message'); // get the reference of the div
                        $('#' + parent_id + '-strand1').css('border-color', 'red');
                        alert("Please Enter Strand. ");
                        $(this).attr('disabled','false');
                        return false;
                        {#                        Empty_Flag = true;#}
                    }

                    $('.emp').css('border-color', '');
                        var flag_val = false;
                        var tex = $('.emp');

                        for (var k = 0; k < $('.emp').length; k++) {
                            if (tex[k].value === '') {
                                $('#' + tex[k].id).css('border-color', 'red');
                                flag_val = true;
                            }
                        }
                        if (flag_val === true) {
                            alert("Please Enter The Value Then Save.")
                            $(this).attr('disabled',false);
                            return false;

                        }
{#                    else if(sub_strand_value === ''){#}
{#                        var $messageDiv = $('#message'); // get the reference of the div#}
{#                        $('#' + parent_id + '-strand1-subStrand1').css('border-color', 'red');#}
{#                        alert("Please Enter Sub Strand. ");#}
{#                        $(this).attr('disabled','false');#}
{#                        return false;#}
{##}
{#                    }#}
                    else {
                        var payl = {   // Pushing substrand array to strand dictionary
                            strand: strand_value,
                            substrand: substrand
                        };
                    }
                    main.push(payl)
                } // End of strand

                data.push(main);  // Finally Pushing strand dictionary to final array
{#                                                    alert(JSON.stringify(data));#}
{#                                                    return false;#}

                {#                if (Empty_Flag === true) {#}
                {#                    alert("Please Fill All Proper Data ")#}
                {#                    return false;#}
                {#                }#}
                {#                else {#}

                var url = '/school/save_exam_details/';
                    save_exam_details(url, JSON.stringify(main), scheme_code, scheme_name, id_exam_name, id_exam_type,submit,id_subject_name);  // Passing the final data array to ajax for passing backend
            });   // End of save Button


            {% comment %}$(document).on("click", "#submit_form", function () {

                var scheme_code = $('#scheme_code').val();
                var scheme_name = $('#scheme_name').val();
                var id_exam_name = $('#id_exam_name').val();
                var id_exam_type = $('#id_exam_type').val();


                if($('#scheme_code').val()=='' ){
                        $('#scheme_code').css('border-color', 'red');
                     alert("Please Enter the Exam Scheme Code ");
                    return false;
                }
                else if($('#scheme_name').val() == ''){
                        $('#scheme_name').css('border-color', 'red');
                     alert("Please Enter the Exam Scheme Name ");
                    return false;

                }
                else if($('#id_exam_name').val() == ''){
                        $('#id_exam_name').css('border-color', 'red');
                     alert("Please Enter the Exam Name ");
                    return false;

                }
                else if($('#id_exam_type').val() == ''){
                        $('#id_exam_type').css('border-color', 'red');
                     alert("Please Enter the Exam Type ");
                    return false;
                }




                $('.emp').css('border-color', '');
                var flag_val = false;
                var tex = $('.emp');

                for (var k = 0; k < $('.emp').length; k++) {
                    if (tex[k].value === '') {
                        $('#' + tex[k].id).css('border-color', 'red');
                        flag_val = true;
                    }
                }
                if (flag_val === true) {
                    alert("Please Enter The Value Then Submit.")
                    return false;
                }

                var submit = true;
                var all_parent = $('#tb tr');
                var main = [];
                var data = [];  // Main array in which all records will be pushed
                var scheme_code = $('#scheme_code').val();
                var scheme_name = $('#scheme_name').val();

                for (var z = 0; z < all_parent.length; z++) {
                    var parent_id = all_parent[z].id;
                    var topic_len = $('#' + parent_id + ' #topic .len').length;
                    var sub_topic_len = $('#' + parent_id + ' #subTopic .len').length;
                    var all_substrand_id = $('#' + parent_id + ' .substrands input');
                    var all_topic_id = $('#' + parent_id + ' #topic input');
                    var all_sub_topic_id = $('#' + parent_id + ' .subTopic input');
                    var all_marks_id = $('#' + parent_id + ' .marks input');
                    var topics = []
                    var st_val = null;

                    for (var i = 0; i < topic_len; i++) {   // Creating a paylod of topic-ids and their values
                        var topic_id = all_topic_id[i].id;

                        var payload = {
                            "id": topic_id,
                            "value": document.getElementById(topic_id).value
                        }
                        topics.push(payload);
                    }

                    var strand_value = $('#' + parent_id + '-strand1').val();
                    var substrand = [];  // Array for pushing substrand
                    var sublen = $('#' + parent_id + ' #ab .len').length;  //Substrand input field count
                    var top_payload;

                    for (var i = 0; i < sublen; i++) {  //Loop for substrand
                        var id = all_substrand_id[i].id;
                        var aa = [];
                        var sp_id = id.split("-");  //spliting substrand ids and sp_id[2] is substrand input id like subStrand1, subStrand2 etc.

                        for (var j in topics) {  //Loop to iterating topic elements
                            var sub_data = [];
                            var top_id = topics[j].id;
                            var t_id = top_id.split("-");  //spliting topic - and t_id[2] is topic input id like subStrand1, subStrand1 etc.

                            if (sp_id[2] === t_id[2]) {   // checking ids of subStrand and topic for their relation
                                for (var k = 0; k < sub_topic_len; k++) {   // iterating till the subtopic field count
                                    var sub_topic_id = all_sub_topic_id[k].id;
                                    var s_id = sub_topic_id.split('-');
                                    var mark_id = all_marks_id[k].id;

                                    if (t_id[3] === s_id[3]) {  // if relation found between topic and subtopic through their ids then creating a payload for topic and with their Subtoics
                                        var sub_payload = {
                                            "subtopic": topics[j].id,  // Its Id of subtopic for further Use
                                            "value": document.getElementById(sub_topic_id).value,  // Value of subtopic
                                            "mark": document.getElementById(mark_id).value,
                                        }
                                        sub_data.push(sub_payload);  // pushing subtopic payload/dictionary to subtopic array
                                    }
                                }

                                var value = topics[j].value;
                                st_val = value;

                                if (sub_data.length === 0) {
                                    alert("Please Enter Subtopic and Mark For " + st_val + " Before Submitting The Record")
                                    return false;
                                }

                                top_payload = {              // dictionary for topic and subtopic
                                    topic_name: value,
                                    subtopic: sub_data,
                                }
                                aa.push(top_payload)
                            }
                        } // End of topic loop

                        st_val = $('#' + id).val();
                        if ((aa.length === 0)) {
                            alert("Please Enter Topic, Subtopic and Mark For " + st_val + " Before Submitting The Record..")
                            return false;
                        }
                        dic = {
                            substrand_name: $('#' + id).val(),
                            topic: aa
                        }
                        substrand.push(dic)    // pushing dictionary of substrand in substrand array
                    }  // End of substrand for loop

                    if ((substrand.length === 0)) {
                        alert("Please Enter Substrand, Topic, Subtopic and Mark For " + strand_value + " Before Submitting The Record..")
                        return false;
                    }
                    var payl = {   // Pushing substrand array to strand dictionary
                        strand: strand_value,
                        substrand: substrand
                    };

                    main.push(payl)


                } // End of strand

                data.push(main);  // Finally Pushing strand dictionary to final array

                if (confirm("Once You Will Submit, You Wouldn't Be Able To Edit or Update The Record?"
                        + " Are You Sure Want To Submit It?") === true) {

                     var url = '/school/save_exam_details/';
                    save_exam_details(url, JSON.stringify(main), scheme_code, scheme_name, id_exam_name, id_exam_type,submit);



{#                    var url = '/school/save_skill_tracker/';#}
{#                    save_skill_tracker(url, JSON.stringify(main), scheme_code, scheme_name, submit);#}
                }
                {#                alert(JSON.stringify(data));#}
            });{% endcomment %}

{##}
{#            function mrk_chk(){#}
{#                var total_mark = 0;#}
{#                var all_marks = $('.mrk');#}
{#                for(var i=0;i<all_marks.length;i++){#}
{#                    if(all_marks[i].value !='')#}
{#                    total_mark = total_mark + parseInt(all_marks[i].value);#}
{#                    alert(all_marks[i].value);#}
{#                }#}
{#                if(parseInt(total_mark)<=100){#}
{#                    return false;#}
{#                }#}
{#                alert(total_mark)#}
{#                return true;#}
{#            }#}


{#            function mrk_chk1(){#}
{#                var total_mark = 0;#}
{#                var all_marks = $('.mrk');#}
{#                for(var i=0;i<all_marks.length;i++){#}
{#                    if(all_marks[i].value !='')#}
{#                    total_mark = total_mark + parseInt(all_marks[i].value);#}
{#                    alert(all_marks[i].value);#}
{#                }#}
{#                if(parseInt(total_mark)>=100){#}
{#                    return true;#}
{#                }#}
{#                return false;#}
{#            }#}


            function total_mrk_chk(val){
                var total_mark = 0;
                var all_marks = $('.mrk');
                for(var i=0;i<all_marks.length;i++){
                    if(all_marks[i].value != ''){
                        total_mark = total_mark + parseInt(all_marks[i].value);
                    }
{#                    alert(all_marks[i].value);#}
                }
{#                alert(parseInt(total_mark)+' --> ')#}
                if((parseInt(total_mark)+ parseInt(val))>=100){
                    return true;
                }
                return false;
            }

            var count = 0;
            $(document).on("click", ".add_row", function () {
                ++count;
                return addForm(count);
            });

            function addForm(prefix) {
                $('.emp').css('border-color', '');
                var flag_val = false;
                var tex = $('.emp');
                for (var k = 0; k < $('.emp').length; k++) {
                    if (tex[k].value === '') {
                        $('#' + tex[k].id).css('border-color', 'red');
                        flag_val = true;
                    }
                }


                if (flag_val === true) {
                    alert("Please Enter The Value Then Add New.")
                    return false;
                }

                var id = prefix;
{#                var row = '<tr class="item count" id="item' + id + '"><span id="message" style="display:none;"></span><td><a href="javascript:;" id="add_row" class="form-control btn btn-icon-only green add_row" style="width:40%;"><i class="fa fa-plus"></i></a><a href="javascript:;" class=" remove_row delete btn btn-icon-only purple" style="width:40%;"><i class="fa fa-times"></i></a></td> <td class="strand"><select id="item' + id + '-strand1" class="Strand validate_value emp strand_class" style="width:150px;"><option style="display:none" selected="selected"value="">Please Select </option>{% for obj in subject_list %}<option value="{{ obj.id}}">{{ obj.strand_name }}</option>{% endfor %}</select></td> <td id="ab" class="substrands"><div id="item' + id + '-strand1"><span class="item' + id + '-strand1"></span><br><select  id="item' + id + '-strand1-subStrand1" class="len validate_value emp sub_strand_class" style="width: 150px;"><option style="display:none" selected="selected"value="">Please Select </option></select></div></td> <td id="topic" class="topic"><div id="item' + id + '-strand1-subStrand1" class="item' + id + '-strand1-rem1"><span class="item' + id + '-strand1-subStrand1"></span><a href="javascript:;" id="item' + id + '-strand1-add1" class="ab addTopic" style="width:11%;"><i class="fa fa-plus"></i></a><br><input class="len validate_value emp" title="Only Alphanumeric is allowed with \'-\' and \'_\'" id="item' + id + '-strand1-subStrand1-topic1"><a href="javascript:;" id="item' + id + '-strand1-subStrand1-rem1" class="deleteTopic" style="width:11%;"><i class="fa fa-times"></i></a></div></td>  <div id="all_st1"><td id="subTopic" class="subTopic"><div class="item' + id + '-strand1-subStrand1S item' + id + '-strand1-rem1"><div id="item' + id + '-strand1-subStrand1-topic1" class="item' + id + '-strand1-subStrand1-rem1"><span class="item' + id + '-strand1-subStrand1-topic1"></span><a href="javascript:;" id="subStrand1-add1" class=" addSubTopic" style="position: relative; width:11%;"> <i class="fa fa-plus"></i> </a><br><input id="item' + id + '-strand1-subStrand1-topic1-subtopic1" title="Only Alphanumeric is allowed with \'-\' and \'_\'" class="len validate_value emp"><br></div></div></td> <td id="marks" class="marks"><a hidden class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a><div class="item' + id + '-strand1-subStrand1M item' + id + '-strand1-rem1"><div id="item' + id + '-strand1-subStrand1-topic1" class="item' + id + '-strand1-subStrand1-rem1"><span class="item' + id + '-strand1-subStrand1-topic1"></span><br><input class="marks mrk emp" title="Only Numbers Are Allowed" id="item' + id + '-strand1-subStrand1-topic1-mark1"><a href="javascript:;"  id="item' + id + '-strand1-subStrand1-topic1Trem1" class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a><br></div></div></td></div></tr>'#}
                var row = '<tr class="item count" id="item' + id + '"><span id="message" style="display:none;"></span><td><a href="javascript:;" id="add_row" class="form-control btn btn-icon-only green add_row" style="width:40%;"><i class="fa fa-plus"></i></a><a href="javascript:;" class=" remove_row delete btn btn-icon-only purple" style="width:40%;"><i class="fa fa-times"></i></a></td> <td class="strand"><select id="item' + id + '-strand1" class="Strand validate_value emp strand_class" style="width:150px;"><option style="display:none" selected="selected"value="">Please Select </option>{% for obj in subject_list %}<option value="{{ obj.id}}">{{ obj.strand_name }}</option>{% endfor %}</select></td> <td id="ab" class="substrands"><div id="item' + id + '-strand1"><span class="item' + id + '-strand1"></span><a href="javascript:;" id="addSubStrands" class="addSubStrand" style="width:11%;"><i class="fa fa-plus"></i></a><br><select  id="item' + id + '-strand1-subStrand1" class="len validate_value emp sub_strand_class" style="width: 150px;"><option style="display:none" selected="selected"value="">Please Select </option></select></div></td> <td id="topic" class="topic"><div id="item' + id + '-strand1-subStrand1" class="item' + id + '-strand1-rem1"><span class="item' + id + '-strand1-subStrand1"></span><a href="javascript:;" id="item' + id + '-strand1-add1" class="ab addTopic" style="width:11%;"><i class="fa fa-plus"></i></a><br><input class="len validate_value emp" title="Only Alphanumeric is allowed with \'-\' and \'_\'" id="item' + id + '-strand1-subStrand1-topic1"><a href="javascript:;" id="item' + id + '-strand1-subStrand1-rem1" class="deleteTopic" style="width:11%;"><i class="fa fa-times"></i></a></div></td>  <div id="all_st1"><td id="subTopic" class="subTopic"><div class="item' + id + '-strand1-subStrand1S item' + id + '-strand1-rem1"><div id="item' + id + '-strand1-subStrand1-topic1" class="item' + id + '-strand1-subStrand1-rem1"><span class="item' + id + '-strand1-subStrand1-topic1"></span><a href="javascript:;" id="subStrand1-add1" class=" addSubTopic" style="position: relative; width:11%;"> <i class="fa fa-plus"></i> </a><br><input id="item' + id + '-strand1-subStrand1-topic1-subtopic1" title="Only Alphanumeric is allowed with \'-\' and \'_\'" class="len validate_value emp"><br></div></div></td> <td id="marks" class="marks"><a hidden class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a><div class="item' + id + '-strand1-subStrand1M item' + id + '-strand1-rem1"><div id="item' + id + '-strand1-subStrand1-topic1" class="item' + id + '-strand1-subStrand1-rem1"><span class="item' + id + '-strand1-subStrand1-topic1"></span><br><input class="marks mrk emp" title="Only Numbers Are Allowed" id="item' + id + '-strand1-subStrand1-topic1-mark1"><a href="javascript:;"  id="item' + id + '-strand1-subStrand1-topic1Trem1" class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a><br></div></div></td></div></tr>'
                $(row).hide().insertAfter(".item:last").slideDown(300);
            }

            $(document).on("click", ".remove_row", function () {
                var len = $('.count').length;
                len = parseInt(len);
                if (len > 1) {
                    $(this).parents('tr:eq(0)').remove();
                }
            });

            $(document).ready(function () {

                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable(
                    {
                        "bSort": false
                    });


                $('.sorting_asc').removeClass('sorting_asc');

                $(document).on("change",".validate_value1", function (e) {
                    if(($(this).val().match(/^[\w](?!\d*[-_]+\d*$)[ \w-]*$/) != null) == false){
                        $(this).css('border-color', 'red');
                        $(this).val('')
                        var id = $(this).attr('id');
                        $("." + id).text('');
                        {% comment %}var x = document.getElementById("snackbar")
                        x.className = "show";
                        setTimeout(function () {
                            x.className = x.className.replace("show", "");
                        }, 4000);{% endcomment %}
                        alert("Please Match The Following Format\n Only Alphanumeric is allowed with '-' and '_'")
                        return false;
                    }
                    $(this).css('border-color', '');
                });

                $(document).on("blur",".validate_value_code1", function (e) {
                    if(($(this).val().match(/^(?!\d*[-_]+\d*$)[\w-]*$/) != null) == false){
                        $(this).css('border-color', 'red');
                        $(this).val('')
                        var id = $(this).attr('id');
                        $("." + id).text('');
                        {% comment %}var x = document.getElementById("snackbar")
                        x.className = "show";
                        setTimeout(function () {
                            x.className = x.className.replace("show", "");
                        }, 4000);{% endcomment %}
                        alert("Please Match The Following Format\n Only Numbers or Alphanumeric is allowed with '-' and '_'")
                        return false;
                    }
                    $(this).css('border-color', '');
                });

                $(document).on("change", "input", function () {
                    var id = $(this).attr('id');
                    $("." + id).text($(this).val());
                });
                $(document).on("change", "select", function () {
                    var id = $(this).attr('id');
                    var option_value= $(this).find("option:selected").text()
                    $("." + id).empty()
                    $("." + id).append(option_value)


                });


                $(document).on("keyup", "input", function () {
                    var id = $(this).attr('id');
{#                    alert(id);#}
                    $("." + id).text($(this).val());
                });

                $(document).on("keypress", ".mrk", function (e) {
                    e = (e) ? e : window.event;
                    var charCode = (e.which) ? e.which : e.keyCode;
                    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                        return false;
                    }
                    return true;
                });

                $(document).on("blur", ".mrk", function (e) {
{#                    alert("Hello "+$(this).val())#}
{#                    if (parseInt($(this).val()) > 100) {#}
{#                        alert("Scheme-Max Score Should be 100")#}
{#                        $(this).val('')#}
{#                        return false;#}
{#                    }#}

{#                    var flag_mrk = false;#}
{#                    flag_mrk = mrk_chk();#}
{#                    if (flag_mrk === true) {#}
{#                        alert("Max Score Cannot Exceed 100 Marks.");#}
{#                        $(this).val('');#}
{#                        return false;#}
{#                    }#}
                    return true;
                });

                $(document).on("click", ".addSubStrand", function () {

                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {
                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }
{##}
{#                    var flag_mrk = false;#}
{#                    flag_mrk = mrk_chk1();#}
{#                    if (flag_mrk === true) {#}
{#                        alert("Max Score Cannot Exceed 100 Marks.")#}
{#                        return false;#}
{#                    }#}

                    var count1 = 0;
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var strand = $('#' + parent_id + ' .strand  select:first').attr('id')
                    if ($('#' + parent_id + ' .substrands  select:last').length > 0) {

                        var id = $('#' + parent_id + ' .substrands  select:last').attr('id')
                        var i = id.split('subStrand')[1];
                    }
                    else {
                        {#                        alert("in else")#}
                        i = 0;
                    }

                    var div = document.createElement("div");
                    var divS = document.createElement("div");
                    var divM = document.createElement("div");
                    var textBox = document.createElement("select");
                    var br = document.createElement("br");
                    var br1 = document.createElement("br");
                    var sp = document.createElement("span");

                    count1 = parseInt(i)
                    ++count1;

                    textBox = $('#' + parent_id + ' .substrands  select:last').clone(true).get(0);
                    textBox.style.cssText = 'margin-bottom: 10%; '
                    textBox.style.cssText = 'width:150px; '
                    textBox.id = strand + "-subStrand" + count1;
                    textBox.classList.add('len', 'emp','validate_value');
{#                    textBox.title="Only Numbers or Alphanumeric is allowed with '-' and '_'";#}
                    var foo = document.getElementById(parent_id).getElementsByClassName("substrands")[0];
                    foo.appendChild(br);
                    document.getElementById(parent_id).getElementsByClassName("substrands")[0].appendChild(textBox);

                    var add = $(".item .addTopic").clone(true).get(0);
                    add.hidden = false;
                    {#                    add.hidden = false;#}
                    add.id = strand + '-add' + count1;
                    var del = $(".item .deleteSubStrands").clone(true).get(0);
                    del.hidden = false;
                    del.id = strand + '-rem' + count1;
                    add.style.cssText = 'position:relative; margin-top: 3px; margin-left:3px; cursor: pointer;';
                    del.style.cssText = 'position:relative; margin-top: 3px; margin-left:1%; cursor: pointer;';

                    var m_id = strand + "-subStrand" + count1;
                    sp.classList.add(m_id);
                    div.classList.add(strand + '-rem' + count1);
                    divS.classList.add(strand + "-subStrand" + count1 + "S", strand + '-rem' + count1);
                    divM.classList.add(strand + "-subStrand" + count1 + "M", strand + '-rem' + count1);
                    div.id = m_id
                    div.style.cssText = 'margin-top: 3%; '

                    div.appendChild(sp)
                    div.appendChild(add)
                    div.appendChild(br1)

                    document.getElementById(parent_id).getElementsByClassName("topic")[0].appendChild(div);
                    document.getElementById(parent_id).getElementsByClassName("substrands")[0].append(del);
                    document.getElementById(parent_id).getElementsByClassName("subTopic")[0].append(divS);
                    document.getElementById(parent_id).getElementsByClassName("marks")[0].append(divM);
                });


                $(document).on("click", ".deleteSubStrands", function () {


                    var parent_id = $(this).parents('tr:eq(0)').attr('id')

                    var len = $('#' + parent_id + ' #topic .len').length;
                    var len = $('#' + parent_id + ' #ab .len').length;
                    alert(len);


                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("-");
                    var las = res[2].split("rem")[1];
                    var top_len = '#' + parent_id + '-strand1-subStrand' + las;
                    var top_child = $("#" + parent_id + " .topic " + top_len + " input");

                    {#                    if (len > 1) {#}
                    if (top_child.length > 0) {
                        if (confirm("Related Topic and Subtopic Will Also Be Deleted." +
                                "Are You Sure Want To Delete It?") === true) {

                            $('#' + parent_id + '-strand1-subStrand' + las).remove();
                            $('#' + parent_id + '-strand1-add' + las).remove();
                            $('#' + parent_id + '-strand1-rem' + las).remove();

                            $("#" + parent_id + " .topic ." + id).remove();
                            $("#" + parent_id + " .subTopic ." + id).remove();
                            $("#" + parent_id + " .marks ." + id).remove();
                        }
                    }
                    else {
                        $('#' + parent_id + '-strand1-subStrand' + las).remove();
                        $('#' + parent_id + '-strand1-add' + las).remove();
                        $('#' + parent_id + '-strand1-rem' + las).remove();

                        $("#" + parent_id + " .topic ." + id).remove();
                        $("#" + parent_id + " .subTopic ." + id).remove();
                        $("#" + parent_id + " .marks ." + id).remove();
                    }
                    {#                    }#}
                });

                $(document).on("click", ".addTopic", function () {
                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {

                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }

{#                    var flag_mrk = false;#}
{#                    flag_mrk = mrk_chk1();#}
{#                    if (flag_mrk === true) {#}
{#                        alert("Max Score Cannot Exceed 100 Marks.")#}
{#                        return false;#}
{#                    }#}

                    var count1 = 0;
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var las = $(this).attr('id');

                    var index = las.split('add')[1];

                    var len = $('#' + parent_id + ' .substrands .addTopic').length;
                    var all_input_id = $('#' + parent_id + ' .topic  input')
                    var max = 0;

                    if (all_input_id.length > 0) {
                        var arr = [];
                        for (var z = 0; z < all_input_id.length; z++) {
                            arr.push(parseInt((all_input_id[z].id).split('topic')[1]));
                        }

                        max = arr.reduce(function (a, b) {
                            return Math.max(a, b);
                        });
                    }

                    count1 = parseInt(max);
                    count1 = count1 + 1;

                    var app = parent_id + '-strand1' + '-subStrand' + index;
                    var add = $(".item .addSubTopic").clone(true).get(0);
                    add.id = 'subStrand' + index + '-add' + count1;
                    add.hidden = false;
                    var del = $(".item .deleteTopic").clone(true).get(0);
                    del.id = app + '-rem' + count1;
                    del.hidden = false;

                    var div = document.createElement("div");
                    var divM = document.createElement("div");
                    var textBox = document.createElement("input");
                    var br = document.createElement("br");
                    var br1 = document.createElement("br");
                    var sp = document.createElement("span");
                    var sp1 = document.createElement("span");
                    var m_id = app + "-topic" + count1;

                    sp.classList.add(m_id);
                    sp1.classList.add(m_id);
                    divM.style.cssText = ' margin-top: 3%; '
                    div.style.cssText = 'margin-top: 3%; '
                    textBox.style.cssText = 'margin-top: 3px;'
                    textBox.id = app + "-topic" + count1;
                    textBox.classList.add('len','validate_value', 'emp');
                    textBox.title="Only Numbers or Alphanumeric is allowed with '-' and '_'";
                    $(this).parents('div:eq(0)')[0].appendChild(textBox);
                    $(this).parents('div:eq(0)')[0].append(del);

                    divM.classList.add(app + '-rem' + count1);
                    div.classList.add(app + '-rem' + count1);

                    divM.id = app + "-topic" + count1;
                    div.id = app + "-topic" + count1;
                    div.appendChild(sp)
                    div.appendChild(add)
                    div.appendChild(br)
                    divM.appendChild(sp1)
                    divM.appendChild(br1)

                    $("#" + parent_id + " .subTopic ." + app + "S")[0].append(div);
                    $("#" + parent_id + " .marks ." + app + "M")[0].append(divM);

                    var div_id = app + "-topic" + count1
                    var abx = $('#' + parent_id + ' .subTopic #' + div_id)
                    var sub_str = (((abx).parents('div').eq(0)).attr('class'))

                    var top = ($(this).parents('div').eq(0)).attr('class')
                    var top_id = ($(this).parents('div').eq(0)).attr('id')


                    sub_str = sub_str.split(' ')[0]
                    var sub_str_ht = $('#' + parent_id +' .' + sub_str).height()
                    sub_str = sub_str.substring(0, sub_str.length - 1);
                    $('#' + parent_id + ' .substrands #' + sub_str)[0].style.cssText = 'margin-bottom:' + sub_str_ht + 'px';
{#                    var top_ht = $('.' + top).height()#}

                });


                $(document).on("click", ".deleteTopic", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' #topic .len').length;

                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("rem");
                    var substrnd_id = res[0]
                    var las = res[1];


                    var top = ($(this).parents('div').eq(0)).attr('class')

                    if (confirm("Related Subtopic and Marks Will Also Be Deleted." +
                            "Are You Sure Want To Delete It?") === true) {
                        $('#' + substrnd_id + 'topic' + las).remove();
                        $('#' + substrnd_id.split("-")[2] + '-add' + las).remove();
                        $('#' + id).remove();
                        $("#" + parent_id + " .subTopic ." + id).remove();
                        $("#" + parent_id + " .marks ." + id).remove();

                        var sub_topic_ht = $('#' + parent_id + ' .subTopic .' + top).height()
                        var sub_top_id = $('#' + parent_id + ' .substrands #' + top).prev('input').attr('id')
                        var top_ht = $('#' + parent_id + ' .topic .' + top).height()
                        var max_ht = sub_topic_ht;

                        if (parseInt(top_ht) > parseInt(sub_topic_ht)) {
                            max_ht = top_ht;
                        } else {
                            max_ht = sub_topic_ht;
                        }
                    }
{#                    alert('max_ht--- ' + max_ht + '  top_div_ht- ' + top_ht + '  sub_str_ht-- ' + sub_topic_ht);#}
                    $('#' + parent_id + ' .substrands #' + sub_top_id)[0].style.cssText = 'margin-bottom:' + max_ht + 'px';

                });

                $(document).on("click", ".addSubTopic", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')


                    var cc = $('.' + (($(this).parents('div').eq(1)).attr('class')))
                    var top = ($(this).parents('div').eq(0)).attr('class')
                    var top_id = ($(this).parents('div').eq(0)).attr('id')
                    var top_ht = $('#' + parent_id + ' .' + top).height()


                    var sub_str = (($(this).parents('div').eq(1)).attr('class'))
                    var tov_div_id2 = sub_str.split(' ')[1]
                    sub_str = sub_str.split(' ')[0]
                    var sub_str_ht = $('#' + parent_id + ' .subTopic .' + sub_str).height()
                    var top_div_ht = $('#' + parent_id + ' .topic .' + tov_div_id2).height()

                    var max_ht = top_div_ht;


                    {#                    alert('top_div_ht---> '+top_div_ht+'  -- sub_str_ht--> '+sub_str_ht)#}
                    sub_str = sub_str.substring(0, sub_str.length - 1);

                    $('#' + parent_id + ' .topic #' + top_id)[0].style.cssText = 'margin-bottom:' + top_ht + 'px';
                    $('#' + parent_id + ' .substrands #' + sub_str)[0].style.cssText = 'margin-bottom:' + max_ht + 'px';


                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {

                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }

                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }

{#                    var flag_mrk = false;#}
{#                    flag_mrk = mrk_chk1();#}
{#                    if (flag_mrk === true) {#}
{#                        alert("Max Score Cannot Exceed 100 Marks.")#}
{#                        return false;#}
{#                    }#}

                    var las = $(this).attr('id');
                    var index = las.split('add')[1];
                    var len = $('#' + parent_id + ' .topic .addSubTopic').length;
                    var res = las.split("-");
                    var app = parent_id + '-strand1';
                    var count1 = 0;
                    var max = 0;
                    var all_input_id = $('#' + parent_id + ' .subTopic input');

                    if (all_input_id.length > 0) {
                        var arr = [];
                        for (var z = 0; z < all_input_id.length; z++) {
                            arr.push(parseInt((all_input_id[z].id).split('subtopic')[1]));
                        }

                        max = arr.reduce(function (a, b) {
                            return Math.max(a, b);
                        });
                    }

                    count1 = parseInt(max);
                    count1 = count1 + 1;

                    var textBox = document.createElement("input");
                    var br = document.createElement("br");
                    textBox.style.cssText = ' margin-top: 3px;';
                    textBox.id = app + '-' + res[0] + '-topic' + index + "-subtopic" + count1;
                    textBox.classList.add('len', 'validate_value', 'emp');
                    textBox.title="Only Numbers or Alphanumeric is allowed with '-' and '_'"

                    $(this).parents('div:eq(0)')[0].append(textBox);
                    $(this).parents('div:eq(0)')[0].append(br);

                    var sub_id = res[0] + '-topic' + index;
                    var div_obj = $(this).parents('div:eq(0)').attr('id');
                    addMark(parent_id, count1, sub_id, div_obj);

                    if (parseInt(top_div_ht) > parseInt(sub_str_ht)) {
                        max_ht = top_div_ht;
                    } else {
                        max_ht = sub_str_ht;
                    }
                });

                addMark = function (id, num, subsrt, div_obj) {
                    var parent_id = id;
                    var count1 = num;
                    var subStrand = subsrt;
                    var div_obj1 = div_obj;

                    var add = $(".item .deleteSubTopic").clone(true).get(0);
                    add.hidden = false;
                    add.id = parent_id + "-strand1-" + subStrand + "Trem" + count1;

                    var br = document.createElement("br");
                    var textBox = document.createElement("input");
                    textBox.style.cssText = 'width:60%; margin-top: 3px;';
                    textBox.id = parent_id + "-strand1-" + subStrand + "-mark" + count1;
                    textBox.classList.add('emp', 'mrk');
                    textBox.title="Only Numbers Are Allowed"
                    $("#" + parent_id + " .marks #" + div_obj1)[0].appendChild(textBox);
                    $("#" + parent_id + " .marks #" + div_obj1)[0].append(add);
                    $("#" + parent_id + " .marks #" + div_obj1)[0].appendChild(br);
                }

                $(document).on("click", ".deleteSubTopic", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')


                    var len = $('#' + parent_id + ' #subTopic .len').length;
                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("T");
                    var substrnd_id = res[0]
                    var las = res[1].split("rem")[1];

                    var top = ($(this).parents('div').eq(0)).attr('class')
                    var top_id = ($(this).parents('div').eq(0)).attr('id')
                    var sub_str = (($(this).parents('div').eq(1)).attr('class'))


                    $(this).prev('input').remove()
                    $(this).prev('br').remove()
                    $(this).remove()
                    {#                        $('#' + substrnd_id + '-mark' + las).remove();#}
                    $('#' + substrnd_id + '-subtopic' + las).prev('br').remove();
                    $('#' + substrnd_id + '-subtopic' + las).remove('input');

                    var sub_str1 = sub_str.split(' ')
                    sub_str = sub_str1[0]

                    var top_div_id = sub_str1[1]
                    var sub_str_ht = $('#' + parent_id + ' .' + sub_str).height()

                    var top_ht = $('#' + parent_id + ' .' + top).height()
                    var top_div_ht = $('#' + parent_id + ' .topic .' + top_div_id).height()


                    sub_str = sub_str.substring(0, sub_str.length - 1);

{#                    alert('top_div_ht- ' + top_div_ht + '  sub_str_ht-- ' + sub_str_ht);#}
                    var max_ht = top_div_ht;

                    if (parseInt(top_div_ht) > parseInt(sub_str_ht)) {
                        max_ht = top_div_ht;
                    } else {
                        max_ht = sub_str_ht;
                    }
                    $('#' + parent_id + ' .topic #' + top_id)[0].style.cssText = 'margin-bottom:' + top_ht + 'px';
                    $('#' + parent_id + ' .substrands #' + sub_str)[0].style.cssText = 'margin-bottom:' + max_ht + 'px';

                });


                $("#scheme_code").change(function () {
                    var scheme_code = document.getElementById("scheme_code").value;

{#                    ($(this).val().match(/^[a-zA-Z][a-zA-Z0-9-_\s]{1,100}$/) != null#}
{#                    if (($(this).val().match(/^[a-zA-Z0-9-_]{1,100}$/) != null)==false) {#}
{#                        alert('Please Enter Only Alpha-Numeric Values with "-" and "_" allowed');#}
{#                        $(this).val('')#}
{#                        return false;#}
{#                    }#}

                    var url1 = '/school/validate_exam_code_exist/';
                    validate_exam_code_exist(url1, scheme_code)
                });

                $("#scheme_name").change(function () {


                    var scheme_name = document.getElementById("scheme_name").value
                    var url1 = '/school/validate_exam_scheme_name_exist/';
                    validate_exam_scheme_name_exist(url1, scheme_name)
                });


            });

                    function save_exam_details(url, data, code, name, id_exam_name, id_exam_type,submit,id_subject_name) {

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        data: data,
                        scheme_code: code,
                        scheme_name: name,
                        submit_rec: submit,
                        id_exam_name: id_exam_name,
                        id_exam_type: id_exam_type,
                        subject_name: id_subject_name,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
{#                        alert('Hi...');#}
{#                        console.log(data);#}
{#                        alert(JSON.stringify(data));#}
{#                        window.location.reload();#}
{#                        $("#myElem").show();#}
{#                          setTimeout(function() { $("#myElem").hide(); }, 5000);#}

                        window.location='{% url "assessment:exam_definition_list"%}'

                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }
                function validate_exam_code_exist(url, scheme_code) {

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_code: scheme_code,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        if( data === true){
                            $('#scheme_code').val("")
                            $('#scheme_code').css('border-color', 'red');
                            alert("Exam Scheme Code Alredy Exist.")
                            return false;
                        }
                        $('#scheme_code').css('border-color', '');
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }




      function validate_exam_scheme_name_exist(url, scheme_name) {

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_name: scheme_name,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        if( data === true){
                            $('#scheme_name').val("")
                            $('#scheme_name').css('border-color', 'red');
                            alert("Exam Scheme Name Alredy Exist.")
                            return false;
                        }
                        $('#scheme_name').css('border-color', '');
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }

              function viewSubjectDetails(url) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
{#                        class_name: class_val,#}
{#                        section_name:  JSON.stringify(sec_val),#}
{#                        academic_year: academic_val,#}
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                            }
                        });
            }

                   function view_sub_strands(url, id_subject_name, strand_id,item_id) {
{#                        alert('item_id--> '+item_id);#}
{#                        alert('strand_id__________'+strand_id);#}
{#                        return false;#}

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        subject_name: id_subject_name,
                        strand_name: strand_id
                    },
                })
                    .done(


                        function (data) {
{#                             alert('Success');#}
                            $('#'+item_id+' .sub_strand_class').empty();

{#                            alert('parent_id'+parent_id);#}
                            $('#'+item_id+' .sub_strand_class').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#'+item_id+' .sub_strand_class').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].substrands_name + '</option>')
                            }

                        });
            }

        }

    </script>

{% endblock %}


{% block content %}
   <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

              <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>


             <li>

                <a href="{% url 'assessment:exam_definition_list' %}">View-Edit Exam </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Exam Scheme</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Exam Scheme</span>
            </div>
        </div>

        <div class="portlet-body">
        <form action="{% url 'assessment:exam_definition_filter' %}" id="" class="form-horizontal" method="POST" enctype="multipart/form-data" novalidate>

        {% csrf_token %}



              <div class="row" id="scheme_row">
              <div class="col-md-12">

                 <div class="col-md-2">

                         <div class="">
                            <label style="margin-left: 15px;" class="control-label" > Exam Scheme Code:
                            </label>
                         </div>
                        <div class="">
                            <input id="scheme_code"  name="scheme_code" value="{{ selected_scheme_code }}" class="form-control validate_value_code"
                                    maxlength="32"   title="Only Alphanumeric is allowed with '-' and '_'">
                        </div>

                </div>

                <div class="col-md-3">
                    <label style="margin-left: 20px;" class="control-label" >Exam Scheme Name:

                    </label>
                    <div>
                        <input id="scheme_name" name="scheme_name" value="{{ selected_scheme_name }}" maxlength="32" title="Only Alphanumeric is allowed with '-' and '_'" class="validate_value form-control"></div>
                </div>
                <input type="hidden" value="{{ selected_subject_name.id }}" id ="id_subject_hidden" name="subject_hidden_name">

                  <div class="col-md-2" style="margin-left: 22px;">

                    <label  class="control-label">Subject:

                        </label>
                        <div class="">
                        <select autocomplete="off" class="form-control"  id="id_subject_name" name="subject_name" >
                        <option style="display:none" selected="selected" value="{{ selected_subject_name.id }}">{{ selected_subject_name }}</option>
                        <option  value="">Please Select</option>
                           {% for subject_rec in subject_recs %}
                           <option value="{{ subject_rec.id }}">{{ subject_rec.subject_name }}</option>
                           {% endfor %}
                        </select>

                        </div>

                  </div>

{#                  <div class="col-md-2" >#}
{##}
{#                    <label class="control-label">Subject:#}
{##}
{#                        </label>#}
{#                        <div class="">#}
{#                            <select autocomplete="off" class="form-control"  id="id_subject_name" name="subject_name" required="" >#}
{#                            <input type="hidden" value="{{ selected_subject_name.id }}" id ="id_subject_hidden" name="subject_hidden_name">#}
                           <option style="display:none" selected="selected" value="{{ selected_subject_name.id }}">{{ selected_subject_name }}</option>
{#                            <option  value="">Please Select</option>#}
{#                           {% for subject_rec in subject_recs %}#}
{##}
{#                           <option value="{{ subject_rec.id }}"  >{{ subject_rec.subject_name }}</option>#}
{#                           {% endfor %}#}
{#                        </select>#}
{##}
{#                        </div>#}
{##}
{#                  </div>#}
{#                    <div class="col-md-2" style="margin-left: 22px;" >#}
{##}
{#                         <label  class="control-label">Subject:#}
{##}
{#                        </label>#}
{#                        <div class="">#}
{#                        <select autocomplete="off" class="form-control"  id="id_subject_name" name="subject_name" required="" >#}
{#                            <input type="hidden" value="{{ selected_subject_name.id }}" id ="id_subject_hidden" name="subject_hidden_name">#}
{#                           <option style="display:none" selected="selected" value="{{ selected_subject_name.id }}">{{ selected_subject_name }}</option>#}
{#                            <option  value="">Please Select</option>#}
{#                           {% for subject_rec in subject_recs %}#}
{##}
{#                           <option value="{{ subject_rec.id }}"  >{{ subject_rec.subject_name }}</option>#}
{#                           {% endfor %}#}
{#                        </select>#}
{##}
{#                        </div>#}
{##}
{#                  </div>#}
              <div class="col-md-2">
                    <button type="submit" id="go_button" class="btn blue btn-block" style="margin-top: 26px;">Go</button>
                </div>
{#               <button style="width: 20%; margin-left: 1%;margin-top: 25px;" id="submit_form" class=" btn btn blue">Submit </button>#}
              </div>



{#                 <div class="" >#}
{##}
{#                    <label class="col-md-1 control-label">Exam Type:#}
{##}
{#                        </label>#}
{#                        <div class="col-md-2">#}
{#                        <select autocomplete="off" class="form-control"  id="id_exam_type" name="exam_type" required="" >#}
{#                           <option style="display:none" selected="selected" value="">Please Select---</option>#}
{#                           {% for exam_type in exam_type_recs %}#}
{#                           <option value="{{ exam_type.id }}" {{ value1 }} >{{ exam_type.exam_type_name }}</option>#}
{#                           {% endfor %}#}
{#                        </select>#}
{##}
{#                        </div>#}
{##}
{#                </div>#}



            </div>
        </form>



            <form action="" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <table class="table table-striped table-hover table-bordered" id="sample_1" style="margin-top: 1%">
                    <thead>
                    <tr>
                        <th>New Row</th>
                        <th> Strand</th>
                        <th> Sub-Strand</th>
                        <th> Topic</th>
                        <th> Sub-Topic</th>
                        <th style="width: 76px;"> Marks</th>
                    </tr>
                    </thead>

                    <tbody id="tb">

                    <tr class="item count" id="item">

                        <span id="message" style="display:none;"></span>
                        <td><a href="javascript:;" id="add_row" class="form-control btn btn-icon-only green add_row"
                               style="width:40%;">
                            <i class="fa fa-plus"></i>
                        </a>

                            <a href="javascript:;" class=" remove_row delete btn btn-icon-only purple"
                               style="width:40%;">
                                <i class="fa fa-times"></i>
                            </a></td>
                        <td class="strand">
{#                            <input id="item-strand1" title="Only Alphanumeric is allowed with '-' and '_'" class="Strand validate_value emp">#}



                            <select class="strand_class" id="item-strand1" style="width: 150px;">
                                            <option style="display:none" selected="selected"value="">Please Select </option>
{#                                        <option style="display:none" selected="selected"value="{{ selected_option.id }}">{{ selected_option.rubrics_name }}-{{ selected_option.rubrics_mark }} </option>#}
                                            {% for obj in subject_list %}
                                                <option value='{{ obj.id}}'>{{ obj.strand_name }}</option>
                                            {% endfor %}
                            </select>

                        </td>


                        <td id="ab" class="substrands">
                            <a href="javascript:;" hidden class="delete deleteSubStrands"
                               style=" position: relative; width:11%;">
                                <i class="fa fa-times"></i>
                            </a>
                            <div id="item-strand1"><span class="item-strand1"></span>
                                <a href="javascript:;" id="addSubStrands" class="addSubStrand" style="width:11%;">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <br>

{#                                <input id="item-strand1-subStrand1" class="validate_value len emp" title="Only Alphanumeric is allowed with '-' and '_'"#}
{#                                       style=" margin-bottom: 10%;">#}



                                <select  id="item-strand1-subStrand1" class="sub_strand_class validate_value len emp" style="width: 150px;">
                                            <option style="display:none" selected="selected"value="">Please Select </option>
                                 </select>

{#                                <a href="javascript:;" id="item-strand1-rem1" class="delete deleteSubStrands"#}
{#                                   style=" position: relative; width:11%;">#}
{#                                    <i class="fa fa-times"></i>#}
{#                                </a>#}

                            </div>
                        </td>

                        <td id="topic" class="topic">
                            <a href="javascript:;" hidden class="deleteTopic" style="width:11%;">
                                <i class="fa fa-times"></i>
                            </a>
                            <a href="javascript:;" hidden class="ab addTopic" style="width:11%;">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div id="item-strand1-subStrand1" class="item-strand1-rem1"><span
                                    class="item-strand1-subStrand1"></span>
                                <a href="javascript:;" id="item-strand1-add1" class="ab addTopic" style="width:11%;">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <br>
                                <input class="len validate_value emp" id="item-strand1-subStrand1-topic1"
                                      title="Only Alphanumeric is allowed with '-' and '_'" style="">

                                <a href="javascript:;" id="item-strand1-subStrand1-rem1" class="deleteTopic"
                                   style="width:11%;">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </td>

                        <div id="all_st1">
                            <td id="subTopic" class="subTopic">
                                <a href="javascript:;" hidden class=" addSubTopic"
                                   style="position: relative; width:11%;"> <i class="fa fa-plus"></i> </a>
                                <div class="item-strand1-subStrand1S item-strand1-rem1">
                                    <div id="item-strand1-subStrand1-topic1" class="item-strand1-subStrand1-rem1">
                                        <span class="item-strand1-subStrand1-topic1"></span>
                                        <a href="javascript:;" id="subStrand1-add1" class=" addSubTopic"
                                           style="position: relative; width:11%;"> <i class="fa fa-plus"></i> </a>
                                        <br>
                                        <input id="item-strand1-subStrand1-topic1-subtopic1" class="len validate_value emp"
                                              title="Only Alphanumeric is allowed with '-' and '_'" style="">
                                        <br>
                                    </div>
                                </div>
                            </td>

                            <td id="marks" class="marks">
                                <a hidden class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a>
                                <div class="item-strand1-subStrand1M item-strand1-rem1">
                                    <div id="item-strand1-subStrand1-topic1" class="item-strand1-subStrand1-rem1">
                                        <span class="item-strand1-subStrand1-topic1"></span>
                                        <br>
                                        <input style="width: 60%;"class="mrk emp" id="item-strand1-subStrand1-topic1-mark1" title="Only Numbers Are Allowed">
                                        <a href="javascript:;" id="item-strand1-subStrand1-topic1Trem1"
                                           class="delete deleteSubTopic" style="width:11%;"> <i class="fa fa-times"></i></a>
                                        <br>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </form>

            <div style="margin-left: 35%"><button style="width: 20%"  id="saveSkillTracker" class=" save btn btn green">Save</button>

            </div>
        </div>
        <!-- END FORM-->
    </div>
    </div>
    <!-- END VALIDATION STATES-->
{% endblock %}