{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  {# Used For Color Picker#}

    <style type="text/css">
        .row {
            margin-left: -150px;
            margin-right: 20px;
            margin-top: 0px;
        }

        fieldset {
            font-family: sans-serif;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 20px;
            color: #34495e;
        }

        .emp_chk {
            width: 80px;
        }

        .emp1 {
            width: 150px;
        }

        .label {
            text-shadow: none !important;
            font-size: 14px;
            font-weight: 200;
            padding: 3px 0px;
            color: black;
            font-family: fantasy;
        }


    </style>


    <script>
        window.onload = function () {

            $(document).ready(function () {

            });

        }

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span>TEXT ENTRY </span>
            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">TEXT ENTRY</span>
            </div>

        </div>
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form action="{% url 'assessment:save_multiple_choice_question' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-body">



                    <div class="portlet-body">


                        <div class="tab-content">

                            <div class="tab-pane active" id="portlet_tab2">


                                <div style="height: 70px; width: 600px; margin: 0px;">
                                    <h4>Title :</h4>
                                    <input type="text" placeholder="[Title](max 150 characters)" maxlength="150"class="form-control" id="title_mcq_s" name="title" value=""
                                                aria-required="true" aria-invalid="false"
                                                aria-describedby="title_mcq_s-error title_mcq_s-error title_mcq_s-error title_mcq_s-error">
                                     </div>


                                <div class="">
                                    <h4>Instruction :</h4>
                                    <textarea style="height: 70px; width: 600px; margin: 0px;"
                                              placeholder="instruction" name="instruction"></textarea>
                                </div>

                                <br>
                                <div id="response">
                                    <h4>Question :</h4>
                                    <textarea style="height: 70px; width: 600px; margin: 0px;"
                                              placeholder="Question"name="question" id="question"></textarea>

                                </div>

                                 <div style="height: 70px; width: 600px; margin: 0px;" class="i">
                                    <h4>Correct answer :</h4>

                                    <input type="text" class="form-control" placeholder="answer" id="answer"
                                           name="correct_answer">


                                </div>


                            </div>
                                <br><br>
                            </div>
                        </div>
                    </div>
                <div >
                    <p id="title_preview"></p>
                </div>


                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                                <button id="save" type="submit" class="btn green">Save</button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}

