{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}

    <style type="text/css">
        .row {
            margin-left: 180px;
            margin-right: 20px;
            margin-top: 30px;

        }

        .disabled {

            background: #eef1f5;
            opacity: 1;

        }

        fieldset {
            font-family: sans-serif;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 20px;
            color: #34495e;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {


            {% comment %}{% for rec in grade_colors %}
                var dic = {
                    'mar_less': parseInt("{{ rec.marks_greater }}"),
                    'mar_greater': parseInt("{{ rec.marks_less }}"),
                    'color_code': "{{ rec.color_code }}"
                };
                col_full_arr.push(dic)
            {% endfor %}{% endcomment %}

            {% comment %}var full_arr_recs = []
            {% for obj in month_recs %}
                 var dic = {
                     'id': parseInt("{{ obj.month_rec.id }}"),
                     'value': parseInt("{{ obj.counter }}"),
                }
                full_arr_recs.push(dic)
{#                {{ obj.counter }} {{ obj.month_rec.id }}#}
            {% endfor %}{% endcomment %}

            var full_arr_recs = {}
            {% for obj in month_recs %}
                full_arr_recs["{{ obj.month_rec.id }}"] = "{{ obj.counter }}";

{#                 var dic = {#}
{#                     'id': parseInt("{{ obj.month_rec.id }}"),#}
{#                     'value': parseInt("{{ obj.counter }}"),#}
{#                }#}
{#                full_arr_recs.push(dic)#}
{#                {{ obj.counter }} {{ obj.month_rec.id }}#}
            {% endfor %}

            var to_date = document.getElementById("to_date").value
            if (to_date == '') {
                $('#to_date').val('#to_date');
                $('#to_date').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }

            var from_date = document.getElementById("from_date").value
            if (from_date == '') {
                $('#from_date').val($('#from_date'));
                $('#from_date').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

             var from_value = $("#from_date option:selected").val()
             var to_value = $("#to_date option:selected").val()
{#        alert(JSON.stringify(full_arr_recs))#}
{#             alert(parseInt(JSON.stringify(full_arr_recs[$("#from_date option:selected").val()]['value'])))#}
{#             alert($("#from_date option:selected").val())#}
{#             alert(parseInt(full_arr_recs[$("#to_date option:selected").val()]))#}
{#             alert(parseInt(JSON.stringify(full_arr_recs[$("#to_date option:selected").val()]['value'])))#}

            $(document).ready(function () {
                var from_mon = parseInt(full_arr_recs[$("#from_date option:selected").val()])
                var to_mon = parseInt(full_arr_recs[$("#to_date option:selected").val()])
                $(document).on("change", "#from_date", function () {
                    from_mon = parseInt($(':selected', this).attr('id'));
{#                    alert(from_mon  +'--'+to_mon)#}
                    if (to_mon != 0) {
                        if (from_mon > to_mon) {
                            alert("From-Month Should Not Be Greater Than To-Month")
                            $(this).val(from_value);
                            from_mon=0
                            return false;
                        }
                    }
                });

                $(document).on("change", "#to_date", function (e) {
                    to_mon = parseInt($(':selected', this).attr('id'));
{#                    alert(from_mon  +'--'+to_mon)#}
                    if (from_mon != 0) {
                        if (from_mon > to_mon) {
                            alert("To-Month Should Not Be Greater Than From-Month")
                            $(this).val(to_value);
{#                            alert(parseInt($(':selected', this).attr('id')));#}
                            to_mon=0;
                            return false;
                        }
                    }
                });
                var old_value = $("#id_code").val();
                $("#id_code").change(function () {
                    var TCode = $("#id_code").val();

                    if (/[^a-zA-Z0-9\-]/.test(TCode)) {
                        alert('Input is not alphanumeric');
                        $("#id_code").val(old_value);
                        return false;
                    }

                    return true;
                });


                $("#edit").click(function (event) {
                    var is_mapped = "{{ is_mapped }}"
                    if(is_mapped === 'False'){
                    $("#update").show();
                    $("#edit").hide();

                    $('.dis').prop("disabled", false);
                    $('#id_frequency').prop("disabled", false);
{#                    $('#id_delete').prop("disabled", false);#}

                    }
                    else{
                        alert("This Record Cannot Be Edited As Its Already Mapped With Other Records.")
                    }

                });

            });

        }


    </script>

{% endblock %}


{% block content %}

    <div class="col-md-12">

        <div class="page-bar" style="margin-bottom: 1px;">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{% url 'registration:home' %}">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="{% url 'assessment:frequency_list' %}"> View-Edit Frequency </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li>
                    <span> Edit-Delete Frequency</span>
                </li>
            </ul>
        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Manage Frequency Details</span>
                </div>

            </div>
            <div class="portlet-body">
                <form action="{% url 'assessment:save_edit_frequency' %}" class="form-horizontal" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="col-md-offset-3 col-md-9" style="margin: auto;">

                        <button type="button" class="btn green" id="edit"> Edit</button>
                        <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
                        {% if is_mapped == 0 %}
                            <button type="button" class="btn red" id="id_delete"
                                    onclick="window.location='{% url "assessment:delete_frequency" FrequencyDetail.id %}'">
                                Delete
                            </button>
                        {% endif %}


                    </div>

                    <div class="form-body">
                        <input type="hidden" value="{{ FrequencyDetail.id }}" id="frequency_id" name="frequency_id"/>

                        <div class="row">
                            <div class="">
                                <div class="col-md-3">
                                    <h4>Frequency Name: </h4>
                                    <input name="frequency_name" type="text"
                                           value="{{ FrequencyDetail.frequency_name }}" hidden>
                                    <input autocomplete="off" class="form-control" id="id_frequency" name="frequency_name"
                                           type="text" value="{{ FrequencyDetail.frequency_name }}" required disabled>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-md-3">
                                    <h4>From Month: </h4>
                                    <select id='from_date' name="from_date" class="form-control dis" required=""
                                            disabled>
                                        <option style="display:none" selected="selected" id=""
                                                value="{{ start_month.id }}">{{ start_month.month_name }} </option>

                                        {% for obj in month_recs %}
                                            <option id="{{ obj.counter }}"
                                                    value='{{ obj.month_rec.id }}'>{{ obj.month_rec.month_name }}</option>
                                        {% endfor %}

                                    </select>
                                    <div id='month_id_error' class='validation'
                                         style='color:red;margin-bottom: 20px;display: none'>Please select month
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <div class="col-md-3">
                                    <h4>To Month: </h4>
                                    <select id='to_date' name="to_date" class="form-control dis" required="" disabled>
                                        <option style="display:none" selected="selected" id=""
                                                value="{{ end_month.id }}">{{ end_month.month_name }} </option>

                                        {% for obj in month_recs %}
                                            <option id="{{ obj.counter }}"
                                                    value='{{ obj.month_rec.id }}'>{{ obj.month_rec.month_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div id='month_id_error1' class='validation'
                                         style='color:red;margin-bottom: 20px;display: none'>Please select month
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {#            </fieldset>#}
        </div>
        <!-- END VALIDATION STATES-->

    </div>


{% endblock %}