{% extends "index.html" %}
{% load staticfiles %}



{% block ScriptBlock %}

    <script>

    </script>

{% endblock %}


{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>

                <a href="{% url 'assessment:report_card' %}"> Report Card Data </a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span>report card</span>

            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">report card</span><br><br>
            </div>
             <a class="btn blue btn-block" style="width: 10%;float: right;" href="#">Download </a>
             <!--<a class="btn blue btn-block" style="width: 10%;float: right;" href="{% url 'assessment:generate_report_card'%}">Download </a> -->

            <form role="form" class="form-horizontal">
            <div class="form-body">

                <div>
                    <img src="/static/card/repord_card1.png" style="width:100%;" alt="My image"/>
                     <div style=" position: absolute; top: 280px; left:480px;">
                     <h1><strong>Academic Year :- {{current_academic_year}}</strong></h1>
                </div><br><br>

        <h4 style="margin-left: 150px"> <i class="icon-layers font-red"></i>  <span class="caption-subject font-red sbold uppercase">Student Details</span></h4>
        <div class="form-group form-md-line-input">
            <div class="col-md-12">
            <div class="col-md-8" style="margin-top:15px;left:150px">
               <div class="table-scrollable">
                   <table class="table table-bordered table-hover" style="border: 1px solid gray;
                                                    border-color: gray;">

                                    <tbody>
                                    <tr>
                                        <td><strong>Student Name</strong></td>
                                        <td colspan="3" style="color: darkblue;">{{ student_rec.first_name|default_if_none:" " }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Date of Birth</strong></td>
                                        <td style="color: darkblue;">{{ student_rec.birth_date|default_if_none:" " }}</td>
                                        <td><strong>Roll No</strong></td>
                                        <td style="color: darkblue;">{{ student_rec.roll_no|default_if_none:" " }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Gender</strong></td>
                                        <td style="color: darkblue;"> {{ student_rec.gender|default_if_none:" " }} </td>
                                        <td><strong>Nationality</strong></td>
                                        <td style="color: darkblue;"> {{ student_rec.nationality.nationality_name|default_if_none:" " }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Class</strong></td>
                                        <td style="color: darkblue;">{{ student_rec.academic_class_section.class_name.class_name|default_if_none:" " }} - {{ student_rec.academic_class_section.section_name.section_name|default_if_none:" " }}</td>
                                        <td><strong>Student Code </strong></td>
                                        <td style="color: darkblue;"> {{ student_rec.student_code|default_if_none:" " }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Attendance</strong></td>
                                        <td colspan="3" style="color: darkblue;">{{ student_rec.attendance_percentage|default_if_none:" " }}</td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td><strong>Email</strong></td>
                                        <td style="color: darkblue;">  {{ student_rec.email|default_if_none:" " }}</td>
                                        <td><strong>Contact</strong></td>
                                        <td style="color: darkblue;"> {{ student_rec.emergency_contact_num|default_if_none:" " }}</td>
                                    </tr>
                                    </tbody>
                   </table>
              </div>
              </div>
        </div>
        </div>
        </div>
        </div>
        </form>



        <form role="form" class="form-horizontal">
          <div class="form-body">

                  <div><img src="/static/card/report_card2.png" style="width:100%;" alt="My image"/> </div>

            <div class="form-group form-md-line-input">
              <h4 style="margin-left: 150px"> <i class="icon-layers font-red"></i>  <span class="caption-subject font-red sbold uppercase">Area Of Learning And Development</span></h4>
                                <br>
                 <div class="col-md-8" style="margin-top:8px;left:150px">
                    <div class="table-scrollable">
                    <table class="table table-bordered table-hover" style="border: 1px solid gray; border-color: gray;">
                    <tbody>
                        <tr>
                             <td><strong>Assessment Name</strong></td>
                             <td>{{ selected_assessment_name.title }}</td>
                        </tr>
                        <tr>
                             <td><strong>Subject </strong></td>
                             <td>{{ subject }}</td>
                        </tr>
                        <tr>
                             <td><strong>Topic </strong></td>
                             <td>{{ topic }}</td>
                        </tr>
                        <tr>
                             <td><strong>Total Marks </strong></td>
                             <td>{{ Total_assessment_marks|floatformat}}</td>
                        </tr>
                        <tr>
                             <td><strong>obtained marks </strong></td>
                             <td>{{ student_obtain_marks |floatformat}}</td>
                        </tr>
                        <tr>
                             <td><strong>Percentage</strong></td>
                             <td>{{ percentage }} %</td>
                        </tr>


                    </tbody>
                    </table>
                    </div>
                 </div>
            </div>
          </div>

        </form>

         <div class="col-md-8" style="left:160px">
         <div class="portlet-title">
           <table class="table table-bordered table-hover" style="border: 1px solid gray; border-color:black;">
               <tbody>
                  <tr>
                     <td><strong>Class Teacher</strong></td>
                     <td><strong>Supervisor</strong></td>
                     <td><strong>Principal</strong></td>
                     </tr>
                     <tr>
                     <td>ABC</td>
                     <td>XYZ</td>
                     <td>PQR</td>
                     </tr>
                </tbody>
           </table>
         </div>
         </div>

      </div>



{% endblock %}

