
{% extends "index.html" %}
{% load staticfiles %}
       

 {%block styleBlock%}
<!-- BEGIN GLOBAL MANDATORY STYLES -->
      
        <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
        
       
         </head>
    <!-- END HEAD -->
    
   
    {%endblock%}
{%block ScriptBlock%} 

<script>

window.onload = function () {

             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
}
window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);

</script>

{%endblock%}

 {% block content %}
<div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="{% url 'registration:home' %}">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                             <li>
                                
                                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a> 
                                <i class="fa fa-angle-right"></i>
                            </li>

                            <li>
                                
                                <span class="title">View-Edit Grade</span>
                            </li>
                        </ul>
                        
                    </div>
 

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Grade Scheme Details</span>
                                    </div>
                                    
                                </div>
                                   <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                   <a href="{% url 'assessment:add_grade' %}"> <button id="sample_editable_1_new" class="btn sbold green"> Add New
                                                        <i class="fa fa-plus"></i>
                                                    </button></a>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    
                                
                                   <!-- <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1"> -->
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1" >
                                        <thead>
                                            <tr>
                                            
                                            	   <th style="display:none;">Serial No </th>
                                                 <th> Code </th>
                                                <th> Grade Scheme Name </th>
                                              
                                                
                                               
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for grade in Gradelist  %}
                                          
                                            <tr class="odd gradeX" onclick="window.location='{% url "assessment:edit_grade" grade.id %}'" style="cursor: pointer;">
												 <td style="display:none;">{{ forloop.counter }}</td>
                                                 <td>
                                                    {{ grade.code }} 
                                                </td>
                                                <td>{{ grade.grade_name }}</td>
                                               
                                                 
                                               
                                                
                                               {% endfor %}
                                            </tr>
                                            </tbody>
                                      </table>
                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->
                     
                      
         {% endblock %}              
                        
      