{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}

{% block styleBlock %}
    <style type="text/css">

        body {
            margin: 0;
        }

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        input {
            margin-left: 7%;
            width: 75%;
        }

        .marks input {
            margin-left: 7%;
            width: 60%;
        }

        .marks span {
            display: none;
        }

        .mrk {
            margin-top: 5%;
        }

        . {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }

        #title_preview, #instructions_preview, #question_preview, #option_preview {
            word-break: break-all;
        }

        input {
            margin-left: 7%;
            width: 75%;
            margin-top: 10px;

        }

        .btn.blue:not(.btn-outline) {
            color: white;
            background-color: #0c91e5;
            border-color: #0c91e5;
        }

        .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active
        .card {
            width: 200px;
            height: 200px;
            padding: auto;
            border: 1cm;

        }

        .row.paddingcls {
            padding-bottom: 0px !important;
            margin-top: 10px;
            /*border: 0.5px solid gray;*/
        }

        .paddingcls {
            padding-bottom: 0px !important;

        }

        .divcls {
            padding-bottom: 0px !important;
            margin-top: 10px;
            height: 38px;
            width: 200px;
            border: 0.5px solid #c2cad8;
            margin-left: 30px;
        }

    </style>


{% endblock %}


{% block ScriptBlock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <html xmlns="http://www.w3.org/1999/xhtml"></html>

    <!--<script src="http://code.responsivevoice.org/responsivevoice.js"></script> -->


    {#<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />#}

    <script>
        var add;
        var removediv;
        var loadresponse;
        $(document).ready(function () {

            PortletDraggable.init();

            $(document).on("change", "#id_subject_name", function (e) {


                var id_subject_name = $(this).val();
                // alert(id_subject_name)

                var url = '/school/checkstranddetails/';
                view_subject_details(url, id_subject_name)


            });

            function view_subject_details(url, id_subject_name) {

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        subject_name: id_subject_name,
                    },
                })
                    .done(
                        function (data) {
                            console.log(JSON.stringify(data))
                            // $('#'+strand_list+'#id_strand_name').empty();
                            //alert(data.length)
                            $('#id_strand_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_strand_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].name + '</option>')
                            }

                        });
            }

            $(document).on("change", "#id_strand_name", function (e) {


                var id_strand_name = $(this).val();
                // alert(id_strand_name)

                var url = '/school/checksubstranddetails/';
                view_sub_strands(url, id_strand_name)


            });

            function view_sub_strands(url, id_strand_name) {

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        strand_name: id_strand_name,
                    },
                })
                    .done(
                        function (data) {
                            $('#id_substrand_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_substrand_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                            }

                        });
            }


            $(document).on("change", "#id_substrand_name", function (e) {


                var id_substrand_name = $(this).val();
                //alert(id_substrand_name)

                var url = '/school/checkTopicdetails/';
                view_topic_details(url, id_substrand_name)


            });

            function view_topic_details(url, id_substrand_name) {

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        substrand_name: id_substrand_name,
                    },
                })
                    .done(
                        function (data) {
                            $('#id_topic_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_topic_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                            }

                        });
            }

            var data = "";
            for (var i = 1; i <= 2; i++)

            {
                var boxName = "textBox" + i;
                var boxName_n = "textBox_n" + i;

                data += '<div style="margin-left:3px;"class="row  removediv" id="' + i + '">' +
                    '<div class="col-md-4" style="width:20%;" id="txtid"> <textarea required rows="1"  input class="scrollabletextbox"  placeholder="[Question List]"  type="text" id="' + boxName + '" value="" name="question_list"  onkeyup="loadresponse();" style="border:solid 1px #ccc; margin-left: 30px";></textarea></div>' +
                    '<div class="col-md-5" style="width:15%;padding:0 6px 0 0;"><textarea required rows="1"  input class="scrollabletextbox_n"  placeholder="[Possible Responses]"  type="text" id="' + boxName_n + '" value="" name="answer_response" onkeyup="loadresponse();"  style="border:solid 1px #ccc";></textarea></div>' +
                    '<div class="col-md-1"><span class="input-group-btn" style="padding-left: 15px;"><button  type="button" class="btn danger red removebutton"  id="' + i + '" id="btRemove" onclick="removediv(this.id)"><i class="fa fa-trash-o"></i></button></span></div>' +
                    '</div>';
                $('#responce').html("");
                $('#responce').append(data);
                $("#countchoice").val(i);


            }

            var countBox = 3;

            add = function () {

                var boxName = "textBox" + countBox;
                var boxName_n = "textBox_n" + countBox;
                $('#responce').append('<div style="margin-left:3px;" class="row  removediv" id="' + countBox + '">' +
                    '<div class="col-md-4" style="width: 20%"><textarea required rows="1" input class="scrollabletextbox" placeholder="[Question List]" data-autoresize type="text" id="' + boxName + '" value="" name="question_list" onkeyup="loadresponse();" style="border: solid 1px #ccc;margin-left: 30px"></textarea></div>' +
                    '<div class="col-md-5" style="width: 15%;padding:0 6px 0 0;"><textarea required rows="1"  input class="scrollabletextbox_n" placeholder="[Possible Responses]"  data-autoresize type="text" id="' + boxName_n + '" value="" name="answer_response" onkeyup="loadresponse();"  style="border:solid 1px #ccc";></textarea></div>' +
                    '<div class="col-md-1"><span class="input-group-btn" style="padding-left: 15px;"><button  type="button" class="btn danger red removebutton"  id="' + countBox + '"  onclick="removediv(this.id)"><i class="fa fa-trash-o"></i></button></span></div>' +
                    '</div>');

                countBox += 1;

                $("#countchoice").val(countBox);
                loadresponse();

            }


            removediv = function (id) {
                var id = id;
                console.log('Delete ' + id);

                $("div#" + id).remove();
                $("#dltid").remove();

                loadresponse();

            }


            loadresponse = function (e) {
                // alert('Hiiiii')


                var count = $("#countchoice").val();
                // alert(count)
                var res = "";
                var count_yt = 0;
                var count_n_yt = 0;
                for (var i = 1; i <= count; i++) {
                    var listvalue_n = $("#textBox_n" + i).val();
                    var listvalue = $("#textBox" + i).val();
                    if ((listvalue != "") && (listvalue != undefined)) {
                        count_n_yt++;
                    }

                    if ((listvalue_n != "") && (listvalue_n != undefined)) {
                        count_yt++;
                        // res += '<div style="margin-left:28px" class="divcls paddingcls portlet portlet-sortable colorchange row" draggable=true id="response' + i + '" ><div class="handle col-6 col-md-4"><div id="dltid" class=" dragcls col-md-6 portlet-title" name = "data"><input type="text" style="display: none;height: 35px;width: 600px" class = "span_ans" id="span' + i + '" name="option_field" value="' + listvalue_n + '">' + listvalue_n + '<div class="form-group"><input class="input_change" type="hidden" name="order" id="order' + i + '" value="' + i + '"/></div></div></div></div>';
                        res += '<div style="margin-left:28px;width:200px; height:38px;" class="divcls paddingcls portlet portlet-sortable colorchange row" draggable=true id="response' + i + '" ><div class="handle col-6 col-md-4"><div id="dltid" class=" dragcls col-md-6 portlet-title" name = "data"><input type="text" style="width:150px; height:22px;margin-left: -6px;border: none; margin-top:6px;" class = "span_ans" id="span' + i + '" name="option_field" readonly value="' + listvalue_n + '"><div class="form-group"><input class="input_change" type="hidden" name="order" id="order' + i + '" value="' + i + '"/></div></div></div></div>';
                    }

                }
                $('.sortable').html(res);
                $('#countchoice_new').val(count_yt);
                $('#countchoice_new1').val(count_n_yt);

            }


            var count_new = 0;
            $('.input_change').each(function () {
                count_new++;
                this.id = "order" + count_new;
                this.name = "order" + count_new;
                alert(this.name);
            });

            $("#id_subject_name").change(function (e) {
                    var subject_id = $(this).val()
                    var perodic_scheme_id = $('#id_perodic_scheme').val()

                    var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id, perodic_scheme_id)

                });
                $("#id_strand_name").change(function (e) {
                    var strand_name = $(this).val()
                    var url1 = '/school/subject_realted_substrand_perodic_defination/';
                    subject_realted_substrand_perodic_defination(url1, strand_name)

                });

                $("#id_sub_strand").change(function (e) {
                    var substrand_name = $(this).val()
                    var url1 = '/school/subject_realted_topic_perodic_defination/';
                    subject_realted_topic_perodic_defination(url1, substrand_name)

                });
                $("#id_topic").change(function (e) {
                    var topic_id = $(this).val()
                    var url1 = '/school/subject_based_questions/';
                    subject_based_questions(url1, topic_id)

                });

                $("#id_perodic_scheme").change(function (e) {
                    var perodic_scheme_id = $(this).val()
                    var url1 = '/school/perodic_scheme_related_subjects/';
                    perodic_scheme_related_subjects(url1, perodic_scheme_id)

                });


                function perodic_scheme_related_subjects(url, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_subject_name').empty();
                            $('#id_subject_name').append('<option value="">Please select Subject</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append('<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                                $('#id_subject_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                function subject_realted_strand_perodic_defination(url, subject_id, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            subject_id: subject_id,
                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_strand_name').empty();
                            $('#id_strand_name').append('<option value="">Please select Strand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_strand_name').append('<option value="' + data[i].id + '">'
                                    + data[i].strand_name + '</option>')
                                $('#id_strand_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_substrand_perodic_defination(url, strand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            strand_name: strand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_sub_strand').empty();
                            $('#id_sub_strand').append('<option value="">Please select Substrand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                                $('#id_sub_strand').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_topic_perodic_defination(url, substrand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            substrand_name: substrand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#id_topic').empty();
                            $('#id_topic').append('<option value="">Please select Topic</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_topic').append('<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                                $('#id_topic').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                function subject_based_questions(url, topic_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            topic_id: topic_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_question_name').empty();


                            for (var i = 0; i < data.length; i++) {
                                $('#id_question_name').append('<option value="' + data[i].id + '">'
                                    + data[i].question_name + '</option>')
                                $('#id_question_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

            document.getElementById("upload_question_image").onchange = function () {
                    $('#img_id').show();

     var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : "+fileExtension.join(', '));
            this.value = '';
            return false;

        }


    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("img_id").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};

  $("#btn_id").click(function(){
          $("#demo").toggle();
});




        });


    </script>



{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:create_question_subtile' %}">Create Question</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a> Match Order List</a>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Match Order List</span>
            </div>
        </div>

        <div class="portlet-body">


            <form action="{% url 'assessment:save_match_order_list' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="columns" id="scheme_row">


                    <br>

                    <div class="row">
                        <div class="col-6 col-md-4" style="height: 70px; width: 600px; margin: 0px;">
                            <input id="titleid" name="title_name" placeholder="[Title](max 150 characters)" value=""
                                   class="validate_value form-control" required
                                   maxlength="150" title="Only Alphanumeric is allowed with '-' and '_'">
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-6 col-md-4" style="height: 70px; width: 600px; margin: 0px;">
                            <input id="instructionid" name="instruction_name" placeholder="Instruction" value=""
                                   class="validate_value form-control" required
                                   maxlength="150" title="Only Alphanumeric is allowed with '-' and '_'">
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-6 col-md-4" style="height: 70px; width: 600px; margin: 0px;">
                            <input id="question_id" name="question_name" placeholder="Question" value=""
                                   class="validate_value form-control" required
                                   maxlength="150" title="Only Alphanumeric is allowed with '-' and '_'">
                        </div>
                    </div>

                    <br>
                    <div class="row">
                     <div class="col-6 col-md-4">
                                <div id="image_preview" name="data" style="width:100%; margin-left: 20px">

                                <input style="margin-left: 20px" type="file" id="upload_question_image" name="upload_question_image_name" >
                                <img style="display:none;margin-left: 20px; margin-top: 10px;" id="img_id" name="upload_qstn_img"width="180px" height="180px" />

                               <!-- <img id="qstn_img" /> -->

                              </div>
                       </div>
                    </div>


                    <br>

                    <input type="hidden" id="inputid" name="ans_option">


                    <br>

                    <div class="form-group">
                        <div class="" id="responce"></div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="button" style="width:20%" id="btAdd" onclick="add()" value="Add+"
                                   class="bt save btn btn green"/>


                        </div>
                    </div>

                     <input type="hidden" id="countchoice" name="countchoice" value=""/>
                        <input type="hidden" id="countchoice_new" name="countchoice_new" value=""/>
                        <input type="hidden" id="countchoice_new1" name="countchoice_new1" value=""/>

                    <br>

                    <div class="row" id="correct_event">
                        <div class="col-6 col-md-12 mcq_bottom_align">
                            <label class="control-label" style="margin-left:2.5%">Correct Response (<a
                                     >Note : After any change in options please select the correct
                                order for matching.</a>)</label>
                            <div class="row" id="addresponce" name="addresponce">
                                <div class="sortable col-sm-12" id="sortable_id">
                                </div>
                            </div>
                            </div>
                        </div>

                        <br>
                    <div class="row">
                        <div class="col-6 col-md-4" style="margin-left:2.5%;">
                            <input type="number" id="question_mark" name="question_mark_name" placeholder="[Score]"
                                   value min="0" class="form-control" maxlength="150" style="height:30px; width: 600px; margin: 0px; " pattern="[0-9]" required>
                        </div>
                    </div>


                        <br><br>
                    <div class="">
                        <button type="button" style="height: 35px; width: 600px; margin:15px; margin-left:32px" id="btn_id" class="btn blue btn-block" data-toggle="collapse" data-target="#demo">Meta
                            Data
                        </button>
                    </div>


                    <div id="demo" class="collapse" style="margin-left:32px">

                        <select autocomplete="off" class="form-control" data-live-search="true"
                                id="id_perodic_scheme" title="Select Subject" name="perodic_scheme"
                                style="height: 35px; width: 600px;margin-top: 2%"
                                required>
                            <option value="">Select Perodic Scheme</option>
                            {% for rec in perodic_scheme %}
                                <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                            {% endfor %}
                        </select>


                        <select autocomplete="off" class="form-control" data-live-search="true"
                                id="id_subject_name" title="Select Subject" name="subject_name"
                                style="height: 35px; width: 600px;margin-top: 2%"
                                required>
                            <option value="">Select Subject</option>
                            {% for rec in subject_list %}
                                <option value="{{ rec.id }}">{{ rec.subject_name }}</option>
                            {% endfor %}
                        </select>

                        <select autocomplete="off" class="form-control" data-live-search="true"
                                id="id_strand_name" name="strand_name"
                                style="height: 35px; width: 600px;margin-top: 2%"
                                required>
                            <option value="">Select Strand</option>

                        </select>


                        <select autocomplete="off" class="form-control" data-live-search="true"
                                id="id_sub_strand" name="sub_strand"
                                style="height: 35px; width: 600px;margin-top: 2%"
                                required>
                            <option value="">Select Substrand</option>

                        </select>

                        <select autocomplete="off" class="form-control" data-live-search="true"
                                id="id_topic" name="topic_name"
                                style="height: 35px; width: 600px;margin-top: 2%"
                                required>
                            <option value="">Select Topic</option>

                        </select>


                    </div>


                    <br>
                     <div >
                    <p id="title_preview"></p>
                </div>
                    <div class="row">
                        <div class="col-md-4" style="margin-left: 40%; margin-right: 50%;">
                            <button type="submit" style="width:25%" class="save btn btn blue">Save</button>

                        </div>
                    </div>



                </div>
            </form>
      </div>
        <!-- END FORM-->

    </div>
    <!-- END VALIDATION STATES-->
{% endblock %}