{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}

{% block styleBlock %}
    <style type="text/css">

        body {
            margin: 0;
        }

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        input {
            margin-left: 7%;
            width: 75%;
        }

        .marks input {
            margin-left: 7%;
            width: 60%;
        }

        .marks span {
            display: none;
        }

        .mrk {
            margin-top: 5%;
        }

        . {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }

        #title_preview, #instructions_preview, #question_preview, #option_preview {
            word-break: break-all;
        }

        input {
            margin-left: 7%;
            width: 75%;
            margin-top: 10px;

        }

        .btn.blue:not(.btn-outline) {
            color: white;
            background-color: #0c91e5;
            border-color: #0c91e5;
        }

        .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active
        .card {
           border-style:solid;
           border-width:5px;
           border-color:rgb(0,0,0);


        }

        .row.paddingcls {
            padding-bottom: 0px !important;
            margin-top: 10px;
            /*border: 0.5px solid gray;*/
        }

        .paddingcls {
            padding-bottom: 0px !important;

        }

        .divcls {
            padding-bottom: 0px !important;
            margin-top: 10px;
            height: 30px;
            width: 200px;
            border: 0.5px solid gray;
            margin-left: 30px;
        }
        /*#div_id{*/
        /*color: black;*/
            /*background-color:white;*/
            /*border: 0.5px solid gray;*/
            /**/
        /*}*/

    </style>


{% endblock %}


{% block ScriptBlock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <html xmlns="http://www.w3.org/1999/xhtml"></html>

    <script>
        window.onload = function () {

            $(document).ready(function () {
                $(document).on('click', '#save_assessment', function (e) {
                    var out_of_mark = $('#out_of_mark').val();
                    var obtain_mark = $('#obtain_marks_id').val()
                    if (obtain_mark > out_of_mark) {
                        alert("Please Enter mark less than out of mark !!")
                        return false;
                    }
                    else {

                    }
                    $('#form_sample_1').submit();


                });
            })
        }




    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
              <li>

                <a href="{% url 'assessment:review_assessment_page' %}"> Review Assessment</a>
                <i class="fa fa-angle-right"></i>
            </li>

             <li>

                <a href="{% url 'assessment:view_all_question_subtiles' %}"> Review Question</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a> Match Order List</a>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Match Order List</span>
            </div>
        </div>

        <div class="portlet-body">

            <form action="{% url 'assessment:save_student_mark_per_question' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="columns" id="scheme_row">


                    <div class="row">
                        <div class="col-6 col-md-4">
                         <div style="margin-left:30px">  <h4>Question :</h4> </div>
                            <input id="question_id" name="question_name" disabled placeholder="Question" value="{{  student_answer_obj.particular_question.question_name}}"
                                   class="validate_value form-control dis man" style="width: 600px">
                        </div>
                    </div>
                  <hr>

                    <div class="form-group">
                        <div class="" id="responce">

                        <div style="margin-left:3px;" class="row  removediv" id="">
                            <div class="col-md-4" style="width: 20%">
                            <div style="margin-left: 25px">  <h4>Question :</h4> </div>
                            <br>

                            {% for rec in question_list %}

                                <textarea rows="1" input class="scrollabletextbox txtfield dis questionlist man" placeholder="[Question List ]" data-autoresize type="text" id="textBox-{{rec.id}}" value="" name="question_list_name"  style="border: solid 1px #ccc;margin-left: 30px" required disabled>{{rec.questions}}</textarea>
                            {% endfor %}
                            </div>
                            <div class="col-md-5" style="width: 15%;padding:0 6px 0 0;">
                             <div style="margin-left:5px">  <h4>Possible Responses:</h4> </div>
                            <br>

                            {% for rec in question_list %}
                                <textarea rows="1"  input class="scrollabletextbox_n ansfield anstxt dis man " placeholder="[Possible Responses]"  data-autoresize type="text" id="textBox_n-{{rec.id}}" value="" name="answer_response_name"  style="border:solid 1px #ccc"; required disabled>{{rec.answer_response}}</textarea>
                            {% endfor %}
                            </div>

                        </div>



                        </div>
                    </div>
                <hr>

                    <div class="row dis" id="correct_event">
                        <label class="control-label" style="margin-left:45px">Correct Response
                        </label>
                        <div class="col-6 col-md-12 mcq_bottom_align" style="margin-left:-10px">

                            <div class ="col-sm-4 " id="addresponce" name="addresponce" style="margin-left: -8px" >

                            {% for rec in correct_answer %}
                                <div class="card datatxt" id="div_id" style="width: 600px;">
                                    <input type=text placeholder="[Answer]" style="width:400px" name="answer_option_name" class="cards dis ansclass" id= "data-{{rec.id}}" value="{{rec.answer}}" required disabled>

                                </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                <hr>
                <div class="row dis" id="correct_event">
                        <label class="control-label" style="margin-left:45px">Answer By Student :
                        </label>
                        <div class="col-6 col-md-12 mcq_bottom_align" style="margin-left:-10px">

                            <div class ="col-sm-4 " id="addresponce" name="addresponce" style="margin-left: -8px" >

                            {% for rec in answer_by_student %}
                                <div class="card datatxt" id="div_id" style="width: 600px;">
                                    <input type=text placeholder="[Answer]" style="width:400px" name="answer_option_name" class="cards dis ansclass" value="{{rec.ans_by_student}}" required disabled>

                                </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                <hr>
                    <div style="margin-left: 3%">
                        <h4>Marks :</h4>

                        <div style="height: 70px; width: 100px;">
                            <input type="number" class="form-control" name="mark_obtain" id="obtain_marks_id"
                                    {% if student_answer_obj.mark_obtain %} value="{{ student_answer_obj.mark_obtain }}"{% else %} value="" {% endif %}>

                        </div>
                        <h4>Out Of :</h4>

                        <div style="height: 70px; width: 100px;">
                            <input type="text" disabled class="form-control" id="out_of_mark" value="{{ student_answer_obj.particular_question.mark }}">

                        </div>


                    </div>


                </div>
              <div>
                    <button type="button" id="save_assessment" class=" edit btn blue btn-block" style="width: 10%; margin-left: 50%">Save</button>
                </div>

</form>
    </div>
</div>
{% endblock %}
