{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {

            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 2;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        {#span {#}
        {#    font-weight: bold;#}
        {# }#}

        input {
            margin-left: 2%;
        }

        .mrk {
            margin-left: 7%;
            width: 45px;
        }

        .marks span {
            display: none;
        }

        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #fff722;
            color: #ff1722;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            top: 138px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }
            to {
                top: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }
            to {
                top: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                top: 30px;
                opacity: 1;
            }
            to {
                top: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                top: 30px;
                opacity: 1;
            }
            to {
                top: 0;
                opacity: 0;
            }
        }

        {#span {#}
        {#    font-weight: bold;#}
        {#}#}

        input {
            margin-left: 7%;
            width: 75%;
        }

        .marks input {
            margin-left: 7%;
            width: 60%;
        }

        .marks span {
            display: none;
        }

        .mrk {
            margin-top: 5%;
        }

        . {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }

        #title_preview, #instructions_preview, #question_preview, #option_preview {
            word-break: break-all;
        }

        input {
            margin-left: 7%;
            width: 150px;
            margin-top: 10px;

        }

        .btn.blue:not(.btn-outline) {
            color: white;
            background-color: #0c91e5;
            border-color: #0c91e5;
        }

        .card {
            width: 250px;
            padding: 2px 6px;
            margin: 8px;
            margin-left: -10px;
            border:1px solid #ccc;

        }

        .cards {
            width: 200px;
            margin-left: 1px;
        }

        .input {
            width: 200px;
        }


    </style>


{% endblock %}

{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jquery-ui.js' %}" type="text/javascript"></script>


    <script type="text/javascript">

        window.onload = function () {

            $(document).ready(function () {

                var count = 1;
                // CREATE A "DIV" ELEMENT AND DESIGN IT USING jQuery ".css()" CLASS.
                var container = $(document.createElement('div')).css({
                    padding: 'px', margin: 'px', width: '200px',
                    borderTopColor: '#0c91e5', borderBottomColor: '#0c91e5',
                    borderLeftColor: '#0c91e5', borderRightColor: '#0c91e5', marginTop: '10px'
                });


                $('#addButton').click(function () {

                    if (count <= 4) {

                        count = count + 1;
                        // ADD TEXTBOX.
                        $('#option_ids').append('<div class="option_class" id="option_ids" name="addoption" ><input type=text style="margin-left: 9px;  width:600px; height:35px; border:1px solid #ccc" name="option_field" class="input" id=tb' + count + ' ' +
                            'placeholder="Option ' + count + '"/ required>');

                        $('#addiv_id').append('<div class="card" style="width:600px; margin-left: -18px; height:35px" id=div_id' + count + '><input type=text style="width:500px; height:22px; margin-top:4px; margin-left: -6px; border:none;" placeholder="Answer ' + count + '" name="add_div" class="cards" id=div_ids' + count + ' value="" readonly></div>');

                        // SHOW SUBMIT BUTTON IF ATLEAST "1" ELEMENT HAS BEEN CREATED.

                        if (count == 1) {

                            var divSubmit = $(document.createElement('div'));

                        }
                        // ADD BOTH THE DIV ELEMENTS TO THE "add_bt" CONTAINER.
                        {#$('#addButton').after(option_id, divSubmit);#}
                    }
                    // AFTER REACHING THE SPECIFIED LIMIT, DISABLE THE "ADD" BUTTON.
                    // (20 IS THE LIMIT WE HAVE SET)
                    else {

                        alert("Only 5 options allow");

                    }

                });


                $('#btRemove').click(function () {

                    if (count != 1) {
                        $('#tb' + count).remove();

                        $('#div_id' + count).remove();
                        count = count - 1;
                    }

                    if (count == 1) {

                        $('#tb').remove();
                        $('#div_id').remove();

                    }
                })


                $(document).on("change", ".input", function () {
                    var tb = this.value;
                    var index = $(this).attr("id").split("tb")[1];
                    $("#div_ids" + index).val(tb);

                });


                $("#addiv_id").sortable({
                    placeholder: 'slide-placeholder',
                    axis: "y",
                    revert: 150,
                    start: function (e, ui) {

                        placeholderHeight = ui.item.outerHeight();
                        ui.placeholder.height(placeholderHeight + 15);
                        $('<div class="slide-placeholder-animator" data-height="' + placeholderHeight + '"></div>').insertAfter(ui.placeholder);

                    },
                    change: function (event, ui) {

                        ui.placeholder.stop().height(0).animate({

                            height: ui.item.outerHeight() + 15

                        }, 300);

                        placeholderAnimatorHeight = parseInt($(".slide-placeholder-animator").attr("data-height"));

                        $(".slide-placeholder-animator").stop().height(placeholderAnimatorHeight + 15).animate({
                            height: 0

                        }, 300, function () {

                            $(this).remove();
                            placeholderHeight = ui.item.outerHeight();
                            $('<div class="slide-placeholder-animator" data-height="' + placeholderHeight + '"></div>').insertAfter(ui.placeholder);
                        });
                    },
                    stop: function (e, ui) {

                        $(".slide-placeholder-animator").remove();

                        },

                });


                document.getElementById("upload_question_image").onchange = function () {
                    $('#img_id').show();

                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {

                        alert("Only formats are allowed : "+fileExtension.join(', '));
                        this.value = '';
                        return false;

                    }

                    var reader = new FileReader();
                    reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        document.getElementById("img_id").src = e.target.result;

                    };
                    // read the image file as a data URL.
                    reader.readAsDataURL(this.files[0]);

                };


                $("#id_subject_name").change(function (e) {

                    var subject_id = $(this).val()
                    var perodic_scheme_id = $('#id_perodic_scheme').val()
                    var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id, perodic_scheme_id)

                });

                $("#id_strand_name").change(function (e) {

                    var strand_name = $(this).val()
                    var url1 = '/school/subject_realted_substrand_perodic_defination/';
                    subject_realted_substrand_perodic_defination(url1, strand_name)

                });

                $("#id_sub_strand").change(function (e) {
                    var substrand_name = $(this).val()
                    var url1 = '/school/subject_realted_topic_perodic_defination/';
                    subject_realted_topic_perodic_defination(url1, substrand_name)

                });

                $("#id_topic").change(function (e) {
                    var topic_id = $(this).val()
                    var url1 = '/school/subject_based_questions/';
                    subject_based_questions(url1, topic_id)

                });

                $("#id_perodic_scheme").change(function (e) {
                    var perodic_scheme_id = $(this).val()
                    var url1 = '/school/perodic_scheme_related_subjects/';
                    perodic_scheme_related_subjects(url1, perodic_scheme_id)

                });


                function perodic_scheme_related_subjects(url, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            perodic_scheme_id: perodic_scheme_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',

                        },
                        success: function (data) {

                            $('#id_subject_name').empty();
                            $('#id_subject_name').append('<option value="">Please Select Subject</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append('<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                                $('#id_subject_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);

                        }

                    });

                }


                function subject_realted_strand_perodic_defination(url, subject_id, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            subject_id: subject_id,
                            perodic_scheme_id: perodic_scheme_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',

                        },
                        success: function (data) {

                            $('#id_strand_name').empty();
                            $('#id_strand_name').append('<option value="">Please Select Strand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_strand_name').append('<option value="' + data[i].id + '">'
                                    + data[i].strand_name + '</option>')
                                $('#id_strand_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {

                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_substrand_perodic_defination(url, strand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            strand_name: strand_name,
                            csrfmiddlewaretoken: '{{ csrf_token }}',

                        },
                        success: function (data) {

                            $('#id_sub_strand').empty();
                            $('#id_sub_strand').append('<option value="">Please Select Substrand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                                $('#id_sub_strand').prop("disabled", false);
                            }

                        },
                        error: function (xhr, msg, err) {

                            alert(xhr.responseJSON.error);

                        }
                    });
                }

                function subject_realted_topic_perodic_defination(url, substrand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            substrand_name: substrand_name,
                            csrfmiddlewaretoken: '{{ csrf_token }}',

                        },
                        success: function (data) {

                            $('#id_topic').empty();
                            $('#id_topic').append('<option value="">Please Select Topic</option>');

                            for (var i = 0; i < data.length; i++) {

                                $('#id_topic').append('<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                                $('#id_topic').prop("disabled", false);
                            }

                        },
                        error: function (xhr, msg, err) {

                            alert(xhr.responseJSON.error);

                        }
                    });
                }


                function subject_based_questions(url, topic_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            topic_id: topic_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#id_question_name').empty();

                            for (var i = 0; i < data.length; i++) {

                                $('#id_question_name').append('<option value="' + data[i].id + '">'
                                    + data[i].question_name + '</option>')
                                $('#id_question_name').prop("disabled", false);

                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);

                        }
                    });
                }


                function mark_based_on_question(url, question_data) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            question_data: question_data,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#total_mark_id').empty();
                            $('#total_mark_id').val(data);

                        },
                        error: function (xhr, msg, err) {

                            alert(xhr.responseJSON.error);

                        }

                    });
                }

                $("#meta").click(function () {

                    $("#demo").toggle()

                })

            });

        }

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:create_question_subtile' %}"> Create Question</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Order List Question</span>
            </li>

        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Orderd list Question


</span>
            </div>
        </div>


        <div class="portlet-body">
            <form action="{% url 'assessment:save_order_list_question' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-body">

                    <div class="portlet-body">

                        <div class="tab-content">

                            <div class="tab-pane active" id="portlet_tab2">

                                <div class="columns" id="scheme_row">

                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <input id="title_order" name="title_order_name" placeholder="[Title](max 150 characters)" value="" class="validate_value form-control" maxlength="150" title="Only Alphanumeric is allowed with '-' and '_'" style="width: 600px; margin-left: 10px; height: 35px;" required>
                                        </div>
                                    </div>


                                    <br>
                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <input id="instruction_order" name="instruction_order_name" placeholder="Instruction" value="" class="validate_value form-control" maxlength="150" title="Only Alphanumeric is allowed with '-' and '_'" style="width: 600px; margin-left: 10px; height: 35px;" required>
                                        </div>
                                    </div>


                                    <br>
                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <input id="question_order" name="question_order_name" placeholder="Question" value="" class="validate_value form-control" maxlength="150" title="Only Alphanumeric is allowed with '-' and '_'" style="width: 600px; margin-left: 10px; height: 35px;" required>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-6 col-md-4">
{#                                    <div class="col-md-12 mcq_bottom_align" style="margin:0 1em 0 1em;width: 95%;">#}
                                            <label style=" margin-left: 10px; margin-top: 15px" class="control-label">Options :</label>
                                            <div class="options_class" id="option_ids" name="addoptions" >
                                                <div class="option_class" id="option_id" name="addoption" >
                                                    <input type=text style="margin-left: 10px;  width:600px; height:35px; border:1px solid #ccc" name="option_field" class="input" id="tb1" placeholder="Option1" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div style="margin-left: 90%; margin-top: 20px">
                                        <a href="javascript:;" id="addButton" class="btn btn-icon-only green" style="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a href="javascript:;" id="btRemove" class="btn btn-icon-only purple" style="">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>


                                    <br>
                                    <div class="col-md-12 mcq_bottom_align" style="margin:0 1em 0 1em;width: 95%;">
                                        <label class="control-label" style=" margin-left: -20px;">Correct Response :</label>
                                        <div class="drop" id="addiv_id" name="addresponce">
                                            <div class="card" style="width:600px; margin-left: -18px; height:35px" id=div_id' + count + '>
                                            <input type=text style="width:500px; height:22px; margin-top:4px; margin-left: -6px; border:none;" placeholder="Answer1" name="add_div" class="cards" id="div_ids1" value="" readonly required>
                                        </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <div>
                                                <input type="file"id="upload_question_image"name="upload_question_image" style="width: 350px; margin-top: 20px; margin-left: 10px">
                                                <img id="img_id" name="imgage" style="display:none;height: 180px; width: 180px; border:1px solid #ccc; margin-top:10px; margin-left:10px">
                                            </div>
                                        </div>
                                    </div>


                                    <br>
                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <input type="number" name="mark_name" style="width: 600px; margin-left: 10px; height: 35px;" id="markid" placeholder="Marks" value min="0" class="validate_value form-control" required>
                                        </div>
                                    </div>

                                    <div class="">
                                        <button type="button" style="height: 35px; width: 600px; margin: 25px; margin-left: 10px" class="btn blue btn-block" data-toggle="collapse" data-target="#demo" id="meta">Meta Data</button>
                                    </div>

                                    <div id="demo" class="collapse" style="margin-left: 2%">
                                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_perodic_scheme" title="Select Subject" name="perodic_scheme" style="height: 35px; width: 600px;margin-top: 2%; margin-left: -13px" required>
                                            <option value="">Select Perodic Scheme</option>
                                            {% for rec in perodic_scheme %}
                                                <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_subject_name" title="Select Subject" name="subject_name" style="height: 35px; width: 600px;margin-top: 2%; margin-left: -13px" required>
                                            <option value="">Select Subject</option>
                                            {% for rec in subject_list %}
                                                <option value="{{ rec.id }}">{{ rec.subject_name }}</option>
                                            {% endfor %}
                                        </select>

                                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_strand_name" name="strand_name" style="height: 35px; width: 600px;margin-top: 2%; margin-left: -13px" required>
                                            <option value="">Select Strand</option>
                                        </select>

                                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_sub_strand" name="sub_strand" style="height: 35px; width: 600px;margin-top: 2%; margin-left: -13px" required>
                                            <option value="">Select Substrand</option>
                                        </select>

                                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_topic" name="topic_name" style="height: 35px; width: 600px;margin-top: 2%; margin-left: -13px" required>
                                            <option value="">Select Topic</option>
                                        </select>

                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-13 col-md-11" id="submit_form" class="btn " style="margin-top: 20px"><button type="submit" style="margin-left: 500px; width: 150px;" class="save btn btn green">Save</button></div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

            </form>
        <!-- END FORM-->
        </div>

    </div>

    <!-- END VALIDATION STATES-->
{% endblock %}