{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Periodic Assessment Data</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">


        <div class="portlet-body">

            <div class="tiles">
                {% if 'assessment.can_view_view_skill_categories' and 'assessment.can_view_view_skill_definition_list' in perms %}
                <div class="tile bg-purple-studio" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:perodic_scheme_definition_list' %}">
{#                    <a href="{% url 'assessment:scheme_definition' %}">#}

                        <div class="tile-body">
                            <i class="fa fa-calendar-plus-o"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Scheme Definition</h5></div>

                        </div>
                    </a>
                </div>
                {% endif %}
             {% if 'assessment.can_view_view_skill_categories' and 'assessment.can_view_view_skill_mapping_list' in perms %}

                <div class="tile bg-green-turquoise" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:create_question_subtile' %}">

                        <div class="tile-body">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Create Questions </h5></div>
                        </div>
                    </a>
                </div>
            {% endif %}

             {% if 'assessment.can_view_view_skill_categories' and 'assessment.can_view_view_skill_mapping_list' in perms %}

                <div class="tile bg-blue-steel" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:search_question' %}">

                        <div class="tile-body">
                            <i class="fa fa-search" aria-hidden="true"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Search Questions </h5></div>
                        </div>
                    </a>
                </div>
            {% endif %}
            <div class="tile bg-green" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:all_assessment_list' %}">
                        <div class="tile-body">
                               <i class="fa fa-edit"></i>

                        </div>
                        <div class="tile-object">

                            <div class="name"><h5 style="font-size: 14px;">Assessment</h5></div>

                        </div>
                    </a>
                </div>

                <div class="tile bg-red-sunglo" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:assessment_acdemic_class_section_mapping' %}">
                        <div class="tile-body">
                            <i class="fa icon-user-follow"></i>

                        </div>
                        <div class="tile-object">

                            <div class="name"><h5 style="font-size: 14px;">Assessment Academic Mapping</h5></div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>
             <div class="tile bg-blue-hoki" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:review_assessment_page' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-check"></i>

                        </div>
                        <div class="tile-object">

                            <div class="name"><h5 style="font-size: 14px;">Review Assessment</h5></div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>

                <div class="tile bg-yellow" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:ReportCardSubTile' %}">
                        <div class="tile-body">
                            <i class="icon-book-open"></i>

                        </div>
                        <div class="tile-object">

                            <div class="name"><h5 style="font-size: 14px;">Report Card Data</h5></div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                     </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

