{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

             <li>
                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Report Card Data</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">


        <div class="portlet-body">

            <div class="tiles">


               <div class="tile bg-yellow" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:report_card' %}">
                        <div class="tile-body">
                            <i class="icon-book-open"></i>

                        </div>
                        <div class="tile-object">

                            <div class="name"><h5 style="font-size: 14px;">Report Card</h5></div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                     </div>
                    </a>
                </div>

                <div class="tile bg-grey-silver" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:analytical_report_card' %}">
                        <div class="tile-body">
                            <i class="fa fa-calculator"></i>

                        </div>
                        <div class="tile-object">

                            <div class="name"><h5 style="font-size: 14px;">Analytical Report Card</h5></div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                     </div>
                    </a>
                </div>

                <div class="tile bg-blue" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:assessment_report_card' %}">
                        <div class="tile-body">
                            <i class="fa fa-edit"></i>

                        </div>
                        <div class="tile-object">

                            <div class="name"><h5 style="font-size: 14px;">Assessment Analytical Report Card </h5></div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                     </div>
                    </a>
                </div>







            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

