{% extends "index.html" %}
{% load coustom_tags %}


{% block ScriptBlock %}

    <style>
        {#.tooltip1 {#}
        {#    position: relative;#}
        {#    display: inline-block;#}
        {#    border-bottom: 1px dotted black;#}

        .table-checkable tr > th:first-child {
            max-width: 150px;
        }

        .tooltip1 .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
        {#    position: absolute;#} z-index: 1;
            bottom: 100%;
        {#    left: 50%;#}{#    margin-left: -60px;#} opacity: 0;
            transition: opacity 1s;
        }

        .tooltip1 .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .tooltip1:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        thead input {
            width: 60px;
            margin-left: 4%;
            text-align: center;
            background-color: #f5ffba;
        }

        tr input {
            width: 60px;
            text-align: center;
        }

        tr {
            width: 60px;
            text-align: center;
        }

        .tot input {
            width: 60px;
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-right-width: 0px;
            border-left-width: 0px;
        }

        .stud_name {
            width: 60px;
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-right-width: 0px;
            border-left-width: 0px;
        }



        th.rotate {
            /* Something you can count on */
            height: 250px;
            white-space: nowrap;
        }

        th.rotate > div {
            transform: translate(25px, 51px) rotate(270deg);
            width: 30px;
            word-wrap: break-word;
{#            display: inline;#}
        }

        th.rotate > div > span {
            border-bottom: 1px solid #ccc;
            padding: 5px 10px;
            display: inline-block;
            text-align:left;
            width: 200px;
            margin-bottom: 5px;
            white-space:normal;
            word-wrap: break-word;
        }

        th {
            height: 250px;
            text-align: center;
        }

    </style>

    <script>

        window.onload = function () {

            var class_name = document.getElementById("id_class_name").value
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            var section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            var subject_name = document.getElementById("id_subject_name").value
            if (subject_name == '') {
                $('#id_subject_name').val($('#id_subject_name'));
                $('#id_subject_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            var reported_term = document.getElementById("id_reported_term").value
            if (reported_term == '') {
                $('#id_reported_term').val($('#id_reported_term'));
                $('#id_reported_term').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

{#            var greading_scheme = document.getElementById("id_greading_scheme").value#}
{#            if (greading_scheme == '') {#}
{#                $('#id_greading_scheme').val($('#id_greading_scheme'));#}
{#                $('#id_greading_scheme').prepend($('<option>',#}
{#                    {#}
{#                        value: '',#}
{#                        text: 'Please Select'#}
{#                    }));#}
{#            }#}

            //YOUR JQUERY CODE
            $(document).ready(function () {

{#                $("#id_class_name").change(function () {#}
                $(document).on("change", "#id_class_name", function (e) {
                        var class_name = document.getElementById("id_class_name").value;
                        var academic_year = document.getElementById("id_academic_year").value;
                        {#                    alert(class_name+'  ---- '+academic_year);#}
                        var url = '/school/viewSectionDetails/';
                        ViewSectionDetailStudent(url, academic_year, class_name);

                        var url1 = '/school/view_reported_mapped_subjects/';
                        viewSubjectDetails(url1, academic_year, class_name)
                    });

                $(document).on("change", "#id_subject_name", function (e) {
                        var class_name = document.getElementById("id_class_name").value;
                        var academic_year = document.getElementById("id_academic_year").value;
                        var subject_name = document.getElementById("id_subject_name").value;

                        var url = '/school/view_subject_mapped_reported_score/';
                        ViewSubjectMappedReportedScore(url, academic_year, class_name,subject_name);
                    });

                $(document).on("click", "#export_button", function (e) {
                    $('#id_export').val(true)
                    $('#exportForm').submit();
                });

                $(document).on("click", "#submit_button", function (e) {
                    $('#id_export').val('')
{#                    $('#exportForm').submit();#}
                });

                $(document).on("click", "#submit", function (e) {
                    var is_empty = false;
                    var all_parents = $('.item');
                    var data = []
                    for(var i=0;i<all_parents.length;i++){
                        var recs = $('#'+all_parents[i].id+' .rec');
                        var payload = {};
                        for(var j=0;j<recs.length;j++){
{#                            alert(all_parents[i].id)#}
{#                            alert($(recs[j]).attr('id'))#}
                            payload[recs[j].id] = $('#'+all_parents[i].id+' #'+recs[j].id).val()
                            if($('#'+all_parents[i].id+' #'+recs[j].id).val() == ''){
                                is_empty = true;
                            }
                        }
                        data.push(payload);
                    }
                    if(is_empty == true){
                        alert('Records Cannot Be Submittes As It Contains Empty Fields.')
                        return false;
                    }
                    $('#id_data').val(JSON.stringify(data))
{#                    console.log(JSON.stringify(data))#}
                });

{#                $("#id_reported_term").change(function () {#}
{#                    var academic_year = document.getElementById("id_academic_year").value;#}
{#                    var class_name = document.getElementById("id_class_name").value;#}
{#                    var section_name = document.getElementById("id_section_name").value;#}
{#                    var subject_name = document.getElementById("id_subject_name").value;#}
{#                    var reported_score = document.getElementById("id_reported_term").value;#}
{##}
{#                    if((class_name != '') && (section_name != '') && (subject_name != '') && (reported_score != '')){#}
{#                        var url1 = '/school/view_mapped_garde_scheme/';#}
{#                        viewMappedGradesScheme(url1, academic_year, class_name,section_name, subject_name,reported_score)#}
{#                    }#}
{#                });#}
            });

{#            function viewMappedGradesScheme(url, academic_year, class_name,section_name, subject_name,reported_score) {#}
{#                $.ajax({#}
{#                    url: url,#}
{#                    type: "POST",#}
{#                    data: {#}
{#                        academic_year: academic_year,#}
{#                        class_name: class_name,#}
{#                        section_name: section_name,#}
{#                        subject_name: subject_name,#}
{#                        reported_score: reported_score,#}
{#                        csrfmiddlewaretoken: '{{ csrf_token }}',#}
{#                    },#}
{#                })#}
{#                    .done(#}
{#                        function (data) {#}
{#                            $('#id_greading_scheme').empty();#}
{#                            $('#id_greading_scheme').append(#}
{#                                '<option value="">Please select</option>');#}
{##}
{#                            for (var i = 0; i < data.length; i++) {#}
{#                                $('#id_greading_scheme').append(#}
{#                                    '<option value="' + data[i].id + '">'#}
{#                                    + data[i].grade_name + '</option>')#}
{#                            }#}
{#                        });#}
{#            }#}


            function viewSubjectDetails(url, academic_val, class_val) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_val,
                        class_name: class_val,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })
                    .done(
                        function (data) {
                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                            }
                        });
            }


            function ViewSubjectMappedReportedScore(url, academic_val, class_val, subject) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_val,
                        class_name: class_val,
                        subject: subject,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })
                    .done(
                        function (data) {
                            $('#id_reported_term').empty();
                            $('#id_reported_term').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_reported_term').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].report + '</option>')
                            }
                        });
            }

            function ViewSectionDetailStudent(url, academic_year, class_name) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name
                        },
                })

                    .done(
                        function (data) {
                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                            }
                        });
            }

            $('#sample_1').dataTable().fnDestroy();

         $('#sample_1').dataTable({
             "aoColumnDefs": [
                 {'bSortable': false}
             ]
         });
        }
    </script>

{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    {% csrf_token %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Reported Score Submission </span>
            </li>
        </ul>
    </div>

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Reported Score Submission </span>
                </button>
            </div>

            {% if recs_is_saved == True %}
            <div style="margin-right:2%" class="col-md-3">
                <div class="btn-group">
                    <button id="export_button" class="btn sbold blue"> Reported Score Export</button>
                </div>
            </div>
        {% endif %}
        </div>

        <form method="post" action="{% url 'assessment:reported_score_submission_view' %}" id="exportForm">
            {% csrf_token %}
            <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Academic Year </h4>
                    <div class="">
                        <input hidden type='text' id="id_export" name="export"  />
                        <input value="{{ year_name.id }}" name="year_name" hidden>
                        <select style="width: 60%;" autocomplete="off" class="form-control" data-live-search="true"
                                id="id_academic_year"
                                name="year_name1" disabled>
                            <option style="display : none" selected="selected"
                                    value="{{ year_name.id }}"> {{ year_name.year_name }}</option>
                            {% comment %}{% for Academic_Year in year_list %}
                                <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                            {% endfor %}{% endcomment %}
                        </select>
                    </div>
                </div>

                <div style="margin-left: -85px;" class="col-md-2">
                    <h4>Class </h4>
                    <input value="{{ year_name.id }}" id="id_academic_year" name="year_name" hidden>
                    <input hidden id="class_hidden_id" name="class_name" value="{{ class_rec.id }}">
                    <div class="">
                        <select style="width: 60%;" autocomplete="off" class="form-control" data-live-search="true"
                                id="id_class_name"
                                name="class_name" required="">
                            <option style="display : none" selected="selected"
                                    value="{{ class_rec.id }}"> {{ class_rec.class_name }}</option>
                            {% for class in class_list %}
                                <option value="{{ class.id }}">{{ class.class_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div style="margin-left: -85px;" class="col-md-2">
                    <h4> Section </h4>
                    <div class="">
                        <select style="width: 60%;" autocomplete="off" class="form-control" id="id_section_name"
                                name="section_name"
                                required="">
                            <option style="display : none" selected="selected"
                                    value="{{ section_rec.id }}"> {{ section_rec.section_name }}</option>
                            {% for section in section_list %}
                                <option value="{{ section.id }}">{{ section.section_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div style="margin-left: -85px;" class="col-md-2">
                    <h4>Subject:</h4>
                    <div class="">
                        <select style="width: 80%;" autocomplete="off" class="form-control" id="id_subject_name"
                                name="subject_name"
                                required="">
                            <option style="display:none" selected="selected"
                                    value="{{ subject_rec.id }}">{{ subject_rec.subject_name }}</option>
                             {% for subject in subject_list %}
                                <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div style="margin-left: -60px;" class="col-md-3">
                    <h4>Reported Score Name:</h4>
                    <div class="">
                        <select style="width: 80%;" autocomplete="off" class="form-control" id="id_reported_term"
                                name="reported_score"
                                required="">
                            <option style="display:none" selected="selected"
                                    value="{{ reported_score_obj.id }}">{{ reported_score_obj.report_name }}</option>
                            {% for reported_score in reported_score_recs %}
                                <option value="{{ reported_score.id }}">{{ reported_score.report_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

{#                <div style="margin-left: -75px;" class="col-md-2">#}
{#                    <h4>Grading Scheme:</h4>#}
{#                    <div class="">#}
{#                        <select style="width: 80%;" autocomplete="off" class="form-control" id="id_greading_scheme"#}
{#                                name="greading_scheme"#}
{#                                required="">#}
{#                            <option style="display:none" selected="selected"#}
{#                                    value="{{ grade_rec.id }}">{{ grade_rec.grade_name }}</option>#}
{#                            {% for grade_scheme in grade_scheme_recs %}#}
{#                                <option value="{{ grade_scheme.id }}">{{ grade_scheme.grade_name }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}

                <div style="margin-left: -50px;" class="col-md-1">
                    <div class="">
                        <button style="width: 100px;margin-top: 35px;" type="submit" id="submit_button"
                                class="btn blue btn-block">Go
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <br><br>


        <form id="nameGenderForm" method="post" action="{% url 'assessment:reported_score_submission_save' %}"
              enctype="multipart/form-data">{% csrf_token %}
            <div style="">
                <input hidden type='text' id="id_data" name="data" />
                <input hidden type='text' id="id_acd" name="acd_year" value="{{ year_name.id }}"/>
                <input hidden type='text' id="id_class" name="class" value="{{ class_rec.id }}"/>
                <input hidden type='text' id="id_section" name="section" value="{{ section_rec.id }}"/>
                <input hidden type='text' id="id_sub" name="sub" value="{{ subject_rec.id }}"/>
                <input hidden type='text' id="id_rep_scr" name="rep_scr" value="{{ reported_score_obj.id }}"/>
                <input hidden type='text' id="id_grd" name="grd" value="{{ grade_rec.id }}" />

                <table name="data"
                       class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="" role="grid" aria-describedby="sample_1_info">
                    <thead>
                    <tr role="row">
                        {% comment %}<th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending">Student Code
                        </th>{% endcomment %}
                        <th style="" class="rotate"><div><span style="margin-left: 50px;"> Student Name</span></div></th>

                        <th style="" class="rotate"><div><span style="margin-left: 50px;"> Class </span></div></th>
                        <th style="" class="rotate"><div><span style="margin-left: 50px;"> Section</span></div></th>

                        {% for rec in reported_score_obj.reported_score_id.all %}
                            <th class="rotate" style=""
                                title="{{ rec.term_assessment }}"> <div><span style="margin-left: 50px;"> {{ rec.term_assessment|truncatechars:60 }} ({{ rec.weightage}}%)</span></div>
                            </th>

                            <th style="" class="rotate"><div><span style="margin-left: 50px;"> Max Score </span></div></th>
                        {% endfor %}
                        <th class="rotate" style=""><div><span style="margin-left: 50px;"> Earned Score</span></div></th>
                        <th class="rotate" style=""><div><span style="margin-left: 50px;"> Total Score</span></div></th>
                        <th style="" class="rotate"><div><span style="margin-left: 50px;"> Weightage Score(%)</span></div></th>
                        <th style="" class="rotate"><div><span style="margin-left: 50px;"> Grade</span></div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <span id="message" style="display:none;"></span>
                    {% for obj in list %}
                        <input value="{{ count_init.res }}" hidden>
                        <tr style="cursor: pointer;" name="data" id="item{{ forloop.counter }}" class="tr item abc">
                           {% comment %} <td>{{ obj.stud.student_code }} <input hidden type='text' name="studentId" value='{{ obj.id }}'
                                                              style="width: 80%;" readonly></td>{% endcomment %}
                            <td>{% comment %}{{ obj.stud.first_name }} {{ obj.stud.last_name }}{% endcomment %}
                                <input class="rec" hidden id="student" value="{{ obj.stud.id }}">
                                <input type='text' class="stud_name"  name="studentName" title="{{ obj.stud.get_all_name }}" value='{{ obj.stud.get_all_name|truncatechars:13  }}' style="width: 100%;" readonly></td>
                            <td>{{ obj.stud.academic_class_section.class_name.class_name }}</td>
                            <td>{{ obj.stud.academic_class_section.section_name.section_name }}</td>

                                {% for abc in reported_score_obj.reported_score_id.all %}
                                    {% with obj.data|index:count_init.disp as val %}
                                        {% if val.freq.frequency_name == abc.frequency_name.frequency_name and val.exam.exam_name == abc.exam_name.exam_name %}
                                        <td>
                                            <input class="rec" hidden id="rep_obj_{{ forloop.counter }}" value="{{ val.rep_obj }}">
                                            <input class="rec" hidden id="total_mark_{{ forloop.counter }}" value="{{ val.total_mark }}">
                                                {{ val.total_mark }}
                                        </td>

                                        <td>
                                            <input class="rec" hidden id="max_score_{{ forloop.counter }}" value="{{val.max_score }}">
                                            {{val.max_score }}
                                            <input value="{{ count_init.inc }}" hidden>
                                        </td>
                                        {% else %}
                                            <td>
                                                <input class="rec" hidden id="rep_obj_{{ forloop.counter }}" value="">
                                                <input class="rec" hidden id="total_mark_{{ forloop.counter }}" value="">
                                            </td>
                                            <td><input class="rec" hidden id="max_score_{{ forloop.counter }}" value=""></td>
                                        {% endif %}
                                {% endwith %}
                            {% endfor %}

                            <td><input class="rec" hidden id="total" value="{{ obj.total }}" > {{ obj.total }}</td>
                            <td><input class="rec" hidden id="max" value="{{ obj.max }}">{{ obj.max }}</td>
                            <td><input class="rec" hidden id="weightage" value="{{ obj.weightage }}">{{ obj.weightage }}</td>
                            <td><input class="rec" hidden id="grade" value="{{ obj.grade.id }}">{{ obj.grade.grades }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        {% if recs_is_saved == True %}
            <button type="button" id="submit" class="btn blue btn-block"
                    style=" width: 20%; margin-left: 40%;" disabled> Submitted
            </button>
            {% else %}
            <button type="submit" id="submit" class="btn blue btn-block"
                    style=" width: 20%; margin-left: 40%;"> Submit
            </button>
        {% endif %}
        </form>
    </div>

{% endblock %}