{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">

        .emp {
            width: 200px;
            text-align: center;
        }

        .emp1 {
            width: 150px;
        }

        td {
            text-align: center;
        }

        th {
            text-align: center;
        }

        input {
            text-align: center;
        }

        input:read-only {
            background-color: #e7e7e7;
        }
        .disabled_href {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        window.onload = function () {

            var all_item = $('.item');
            for (var i = 0; i < all_item.length; i++) {
                var exam_id = $('#' + all_item[i].id + ' .exam_name_class').val();
                var url = '/school/view_frequency_details/';
                view_mapped_exam_frequency(url, exam_id, all_item[i].id)
            }

            $(document).on("change", ".exam_name_class", function (e) {
                {#                     alert('Hi....................')#}
                var parent_id = $(this).parents('tr:eq(0)').attr('id')
                                                         {#alert(parent_id)#}
                var exam_id = $('#' + parent_id + ' .exam_name_class').val();
                {#                     alert(exam_id)#}
                var url = '/school/view_frequency_details/';
                view_mapped_exam_frequencyOnChange(url, exam_id, parent_id)
            });

            function view_mapped_exam_frequency(url, exam_id, item_id) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        exam_id: exam_id
                    },
                })
                    .done(
                        function (data) {
                            {#                            $('#' + item_id + ' .frequency_class').empty();#}
                            {#                            $('#' + item_id + ' .frequency_class').append(#}
                            {#                                '<option value="">Please select</option>');#}
                            for (var i = 0; i < data.length; i++) {
                                $('#' + item_id + ' .frequency_class').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].frequency_name + '</option>')
                            }
                        });
            }

            function view_mapped_exam_frequencyOnChange(url, exam_id, item_id) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        exam_id: exam_id
                    },
                })
                    .done(
                        function (data) {
                            $('#' + item_id + ' .frequency_class').empty();
                            $('#' + item_id + ' .frequency_class').append(
                                '<option value="">Please select</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#' + item_id + ' .frequency_class').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].frequency_name + '</option>')
                            }
                        });
            }

            $(document).ready(function () {

                $("#edit").click(function (event) {
                    $('.add_row').attr("disabled", false);
                    $('.delete').attr("disabled", false);
                    $("#update").show();
                    $("#edit").hide();
                    var is_mapped = "{{ is_mapped }}";
                    {#                    alert("is_mapped--> "+is_mapped)#}
                    if (is_mapped == 'True') {
                        alert("You Can't Edit This Record. \n Record of This Reported Score Is Already Submitted.")
                        $("#edit").show();
                        $("#update").hide();

                    }
                    else {
                        $('.emp').prop("disabled", false);
                        $('.add_row').attr("disabled", false);
                        $('.delete').attr("disabled", false);
                    }

                });

                (function ($) {
                    $.extend({
                        toDictionary: function (query) {
                            var parms = {};
                            var items = query.split("&"); // split
                            for (var i = 0; i < items.length; i++) {
                                var values = items[i].split("=");
                                var key = decodeURIComponent(values.shift());
                                var value = values.join("=")
                                parms[key] = decodeURIComponent(value);
                            }
                            //alert(parms)
                            return (parms);
                        }
                    })
                })(jQuery);


                (function ($) {
                    $.fn.serializeFormJSON = function () {
                        var o = [];
                        $(this).find('tr').each(function () {
                            var elements = $(this).find('input, textarea, select,checkbox,button')
                            console.log($(this));
                            if (elements.size() > 0) {
                                var serialized = $(this).find('input, textarea, select,checkbox,button').serialize();
                                var item = $.toDictionary(serialized);
                                o.push(item);
                            }
                        });
                        //alert(o);
                        return o;
                    };
                })(jQuery);


                $(document).on("keypress", ".grd", function (e) {
                    {#                    var regex = new RegExp(/^[A-Z+]+$/);#}
                    var regex = new RegExp(/^[a-zA-Z+]+$/);
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {
                        return true;

                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                });

                function total_mrk_chk(val) {
                    var total_mark = 0;
                    var all_marks = $('.weightage');
                    for (var i = 0; i < all_marks.length; i++) {
                        if (all_marks[i].value != '') {
                            total_mark = total_mark + parseInt(all_marks[i].value);
                        }
                        {#                    alert(all_marks[i].value);#}
                    }
                    {#                alert(parseInt(total_mark)+' --> ')#}
                    {#                    alert((parseInt(total_mark)))#}
                    if ((parseInt(total_mark)) > 100) {
                        {#                        alert((parseInt(total_mark) + parseInt(val)))#}
                        return true;
                    }
                    return false;
                }

                $(document).on("blur", ".weightage", function () {
                    if ((parseInt($(this).val()) != '') && (parseInt($(this).val()) > 100)) {
                        alert("Weightage Cannot Exceed 100%.")
                        $(this).val('');
                        return false;
                    }

                    var flag_chk = false;
                    flag_chk = total_mrk_chk($(this).val())
                    if (flag_chk === true) {
                        alert("Total Weightage Cannot Exceed 100%.")
                        $(this).val('')
                        return false;
                    }
                    {#                    $(this).css('border-color', '');#}
                    {#                    alert("Val---> "+$(this).val())#}
                });


                var count = $('.count').length;
                {#            alert('count-->> '+count);#}
                var addes_row_count = 0;
                $(document).on("click", ".add_row", function () {
                    {
                        addes_row_count++;
                        ++count;
                        return addForm(count);
                    }
                });


                function addForm(prefix) {
                    var id = prefix;
                    var row = '<tr class="form_length item count" id="item' + id + '" style="cursor: pointer;" name="data"> <td style="display:none;"><input type="text" name="id" value="" style="width: 50px; "></td> <td> <input class="form-control emp" id="marks_greater{{ forloop.counter }}" type="text" name="term_assessment"value="" > </td><td> <input class="form-control emp weightage" id="marks_greater{{ forloop.counter }}" type="number" min="0" max="100" name="weightage" onkeypress="return isNumber(event);" value="" ></td><td><select id="" name="exam_type" class="form-control emp exam_name_class" required=""><option style="display:none" selected="selected" value=""> Please Select </option>{% for obj in exam_name_recs %}<option value="{{ obj.id }}">{{ obj.exam_name }}</option>{% endfor %}</select></td><td><select id="to_date{{ forloop.counter }}" name="frequency" class="form-control emp frequency_class" required=""><option style="display:none" selected="selected" value=""> Please Select </option></select></td><td><div><a href="javascript:;" id="add" class="btn btn-icon-only green add_row" style=""><i class="fa fa-plus "></i></a><a href="javascript:;" class="delete btn btn-icon-only purple"style=""><i class="fa fa-times"></i></a></div></td></tr>'
                    $(row).hide().insertAfter(".item:last").slideDown(300);
                }


                function deleteForm(btn, prefix) {

                    var forms = $('.item');
                    if (forms.length > 1) {
                        $(btn).parents('.item').remove();
                    }
                }

                $(document).on("click", ".delete", function () {

                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
{#                      alert(parent_id)#}
                    var obj_del_id = $('#' + parent_id + ' #obj_id').val();
{#                    alert(obj_del_id)#}

                    var total_mark = 0;
                    var all_marks = $(".weightage ");
                    var all_marks1 = $("#" + parent_id + " .weightage ");
                    var rec = all_marks1.val()
                    if(rec=='')
                    {
{#                        alert(all_marks1.val())#}
{#                        $(this).parents(".item").remove();#}
                        return deleteForm(this, 'sub_strands');
                        return false;
                    }
                    else {
                        for (var i = 0; i < all_marks.length; i++) {
{#                            alert(all_marks.length)#}
                            if (all_marks[i].value != '')
                                total_mark = parseInt(total_mark) + parseInt(all_marks[i].value);
                            {#                        alert(all_marks[i].value);#}
                        }
                        {#                    alert(total_mark)#}
                        var mr = all_marks1.val();
                        var total_mark1 = parseInt(total_mark) - parseInt(mr);
{#                        alert(parseInt(total_mark))#}
{#                        alert(parseInt(mr))#}
{#                        alert(total_mark1)#}
                        if (total_mark1 != 100) {

                            alert("You Can't Delete This Record.\n Weightage must be 100%");
                            return false;
                        }

                        var url = '/school/delete_reported_score/';
                        reported_score_delete(url, obj_del_id, parent_id)
                        return deleteForm(this, 'sub_strands');
                        return false;

                    }
                });
                 function reported_score_delete(url, obj_del_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            obj_id: obj_del_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function () {
{#                                                    alert("Success");#}
                            window.location.reload();
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }

                    });
                }


                $("#update").click(function (event) {

                     $('.chk').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');

                    for (var k = 0; k < tex.length; k++) {
                        if (tex[k].value === '') {
                            {#                            $('#' + tex[k].id).css('border-color', 'red');#}
                            flag_val = true;
                            {#                            return false;#}
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Fill All Fields Before Before Saving Record.");
                        return false;
                    }


                    var total_mark = 0;
                    var all_marks = $('.weightage');
                    for (var i = 0; i < all_marks.length; i++) {
                        if (all_marks[i].value != '') {
                            total_mark = total_mark + parseInt(all_marks[i].value);
                        }
                    }

                    if (parseInt(total_mark) != 100) {
                        alert('Weightage Must Be 100%');
                        return false;
                    }


                    event.preventDefault();
                    var rawData = $('#nameGenderForm').serializeFormJSON();
                    {#                                        alert(JSON.stringify(rawData))#}
                    {#                                        console.log(JSON.stringify(rawData));#}
                    {#                                        return false;#}
                    var data = JSON.stringify(rawData);
                    $('#data_value').val(data);
                    $('#nameGenderForm').submit();

                    {#                    var url = '/school/save_edit_grade_sub/';#}
                    {#                    save_edit_grade_sub(url, data)#}

                });
            });
        }


        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

    </script>

{% endblock %}


{% block content %}

    <div class="col-md-12">
        <div class="page-bar" style="margin-bottom: 1px;">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{% url 'registration:home' %}">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li>
                    <a href="{% url 'assessment:reported_score_list' %}"> Reported Score List </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li>
                    <span> Edit-Reported Score </span>
                </li>
            </ul>
        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Manage Reported Score</span>
                    {#                    {% if is_mapped == 1 %}#}
                    {#                        {% if GradeDetail.is_archive == 1 %}#}
                    {#                            <button type="button" class="btn red">Archived</button>#}
                    {#                        {% else %}#}
                    {#                            <button type="button" class="btn blue" id="archive"#}
                    {#                                    onclick="window.location='{% url "assessment:archive_grade" GradeDetail.id %}'">#}
                    {#                                Archive#}
                    {#                            </button>#}
                    {#                        {% endif %}#}
                    {#                    {% endif %}#}
                </div>
            </div>

            {#            <fieldset style="border-radius: 5px; padding: 3px;">#}
            {#                <legend><b> Grade Slab: </b></legend>#}
            <div class="portlet-body">
                <form id="nameGenderForm" action="{% url 'assessment:update_reported_score' %}" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input hidden type="text" id="rep_obj" name="rep_obj" value="{{ reported_score_obj.id }}">
                    <input hidden type="text" id="data_value" name="data_value">
                    <div class="col-md-offset-3 col-md-3" style="margin: auto;">
                        <button type="button" class="btn green" id="edit">Edit</button>
                        <button type="submit" id="update" class="btn green" style="display:none;">Update</button>

                    </div>

                    <div class="form-body">
                        <input type="hidden" value="{{ reported_score_obj.id }}" id="grade_id" name="grade_id"/>
                        <div class="row">
                            <div class="">
                                <div class="col-md-2">
                                    <h5>Code: </h5>
                                    <input autocomplete="off" class="form-control" id="id_code" name="code" type="text"
                                           value="{{ reported_score_obj.code }}" disabled required>
                                </div>
                            </div>

                            <div class="">
                                <div class="col-md-3">
                                    <h5>Reported Score Name: </h5>
                                    <input autocomplete="off" class="form-control" id="id_grade_name"
                                           name="grade_name" type="text" value="{{ reported_score_obj.report_name }}"
                                           disabled required>
                                </div>
                            </div>
                        </div>
                        <br>

                        <table id="nameGenderTable" name="data"
                               class="table table-striped table-bordered table-hover table-checkable order-column"
                               id="sample_1" role="grid" aria-describedby="sample_1_info">
                            <thead>
                            <tr role="row">
                                <th> Term Assessment:</th>
                                <th> Weightage in %:</th>
                                <th> Exam Name:</th>
                                <th> Frequency:</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <div id="message" style="display:none;"></div>
                            {% for obj in reported_score_obj.reported_score_id.all %}
                                <tr class="form_length item count" id="item{{ forloop.counter }}" style="cursor: pointer;"
                                    name="data">
                                    <td style="display:none;"><input id="obj_id" type="text" name="id" value='{{ obj.id }}'
                                                                     style="width: 50px; "></td>
                                    <td>
                                        <input class="form-control emp"
                                               id="marks_greater{{ forloop.counter }}"
                                               type="text" name="term_assessment"
                                               value='{{ obj.term_assessment }}' disabled>
                                    </td>
                                    <td>
                                        <input class="form-control emp weightage"
                                               id="marks_greater{{ forloop.counter }}"
                                               type="number" min="0" max="100" name="weightage"
                                               onkeypress="return isNumber(event);"
                                               value='{{ obj.weightage }}' disabled>
                                    </td>
                                    <td>
                                        <select id='to_date{{ forloop.counter }}' name="exam_type"
                                                class="form-control emp exam_name_class" required="" disabled>
                                            <option style="display:none" selected="selected"
                                                    value="{{ obj.exam_name.id }}"> {{ obj.exam_name.exam_name }} </option>

                                            {% for obj in exam_name_recs %}
                                                <option value='{{ obj.id }}'>{{ obj.exam_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select id='to_date{{ forloop.counter }}' name="frequency"
                                                class="form-control emp frequency_class" required="" disabled>
                                            <option style="display:none" selected="selected"
                                                    value="{{ obj.frequency_name.id }}"> {{ obj.frequency_name.frequency_name }} </option>
                                        </select>
                                    </td>
                                    <td>
                                        <div>
                                            <a href="javascript:;" id="add" class="btn btn-icon-only green add_row"
                                               style="" disabled="">
                                                <i class="fa fa-plus "></i>
                                            </a>
                                            <a href="javascript:;" class="delete permenent btn btn-icon-only purple"
                                               style="" disabled>
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            {#            </fieldset>#}
        </div>
    </div>
{% endblock %}





{#<tr class="form_length item" id="item{{ forloop.counter }}" style="cursor: pointer;" name="data"> <td style="display:none;"><input type="text" name="id" value='{{ obj.id }}' style="width: 50px; "></td> <td> <input class="form-control emp" id="marks_greater{{ forloop.counter }}" type="text" name="term_assessment"value='{{ obj.term_assessment }}' disabled> </td><td> <input class="form-control emp weightage" id="marks_greater{{ forloop.counter }}" type="number" min="0" max="100" name="weightage" onkeypress="return isNumber(event);" value='{{ obj.weightage }}' disabled></td><td><select id='to_date{{ forloop.counter }}' name="exam_type" class="form-control emp exam_name_class" required="" disabled><option style="display:none" selected="selected" value="{{ obj.exam_name.id }}"> {{ obj.exam_name.exam_name }} </option>{% for obj in exam_name_recs %}<option value='{{ obj.id }}'>{{ obj.exam_name }}</option>{% endfor %}</select></td><td><select id='to_date{{ forloop.counter }}' name="frequency" class="form-control emp frequency_class" required="" disabled><option style="display:none" selected="selected" value="{{ obj.frequency_name.id }}"> {{ obj.frequency_name.frequency_name }} </option></select></td><td><div><a href="javascript:;" id="add" class="btn btn-icon-only green add_row" style=""><i class="fa fa-plus "></i></a><a href="javascript:;" class="delete btn btn-icon-only purple"style=""><i class="fa fa-times"></i></a></div></td></tr>#}

{#<tr class="form_length item" id="item{{ forloop.counter }}" style="cursor: pointer;" name="data"> <td style="display:none;"><input type="text" name="id" value='{{ obj.id }}'style="width: 50px; "></td> <td> <input class="form-control emp" id="marks_greater{{ forloop.counter }}" type="text" name="term_assessment" value='{{ obj.term_assessment }}' disabled> </td> <td> <input class="form-control emp weightage" id="marks_greater{{ forloop.counter }}" type="number" min="0" max="100" name="weightage" onkeypress="return isNumber(event);" value='{{ obj.weightage }}' disabled> </td> <td> <select id='to_date{{ forloop.counter }}' name="exam_type" class="form-control emp exam_name_class" required="" disabled> <option style="display:none" selected="selected" value="{{ obj.exam_name.id }}"> {{ obj.exam_name.exam_name }} </option> {% for obj in exam_name_recs %} <option value='{{ obj.id }}'>{{ obj.exam_name }}</option> {% endfor %} </select> </td> <td> <select id='to_date{{ forloop.counter }}' name="frequency" class="form-control emp frequency_class" required="" disabled> <option style="display:none" selected="selected" value="{{ obj.frequency_name.id }}"> {{ obj.frequency_name.frequency_name }} </option> </select> </td><td>#}