{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">
    </style>
{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {

            var academic_year = document.getElementById("year_name").value;
{#            alert(academic_year);#}
                var url1 = '/school/view_report_details/';
                view_report_details(url1, academic_year);

                function view_report_details(url1, academic_year) {
                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })
                    .done(
                        function (data) {
                            $('#id_report_name').empty();
                            $('#id_report_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_report_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].report_name + '</option>')
                            }
                        });
            }



        }
    </script>
{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Reported Score Bulk View</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Reported Score Bulk View</span>
            </div>
        </div>

        <div class="portlet-body">
            <form action="{% url 'assessment:reported_score_calculation_bulk_view_recs' %}" id="" class="form-horizontal" method="POST"
                  enctype="multipart/form-data" novalidate>

                {% csrf_token %}

                <div class="row" id="scheme_row">
                    <div class="col-md-12">

                        <div class="col-md-2">
                            <div class="">
                                <label style="margin-left: 15px;" class="control-label"> Academic Year:</label>
                            </div>
                            <div class="">
                                <input id="" name="" class="form-control" value="{{ current_academic_year.year_name }}" disabled>
                                <input id="year_name" name="year_name" class="" value="{{ current_academic_year.id }}" hidden>
                            </div>
                        </div>

                        <div class="col-md-2" style="margin-left: 22px;">
                            <label class="control-label">Reported Score:
                            </label>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_report_name"
                                        name="reported_score">
                                    <option value="">Please Select</option>
                                    {% for obj in reported_score_recs %}
                                        <option value="{{ obj.id }}">{{ obj.report_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" id="go_button" class="btn blue btn-block" style="margin-top: 26px;">
                                Go
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
    </div>
    <!-- END VALIDATION STATES-->
{% endblock %}