{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>


    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {

                var currentSelect = $("select#id_section_name_mapping option:selected").index();

                $("select#id_class_name option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });

                $("#id_class_name").click(function (e) {
                    {#                    alert('Hii')#}
                    var class_value = $('select#id_class_name').val();
                    var academic_value = document.getElementById("id_academic_year").value
                    {#                    alert('academic_value- '+academic_value+' class_value- '+class_value)#}
                    var url = '/school/view_exam_class_mapped_subjects/';
                    viewSubjectDetails(url, academic_value, class_value)
                });

                function viewSubjectDetails(url, academic_val, class_val) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            class_name: JSON.stringify(class_val),
                            academic_year: academic_val,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {
                                $('#id_subject_name').empty();
                                {#                                $('#id_subject_name').append(#}
                                for (var i = 0; i < data.length; i++) {
                                    $('#id_subject_name').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].subject_name + '</option>')
                                }
                            })
                }
            });

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Reported Score Class-Section Mapping</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Reported Score Class-Section Mapping</span>
            </div>
        </div>
        <div class="portlet-body">
            <form method="post" action="{% url 'assessment:save_reported_score_class_section_mapping' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div style="margin-left: 1%" class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 100%" autocomplete="off" class="form-control"
                                        id="id_academic_year" name="year_name" required="" readonly>
                                    <option style="display:none" selected="selected"
                                            value="{{ current_academic_year.id }}">{{ current_academic_year.year_name }}</option>
                                </select>
                            </div>
                        </div>



                        <div class="col-md-2">
                            <h4>Reported Score Name:</h4>
                            <div class="">
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_grade"
                                        name="repoted_name" required="">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for reported_score_rec in reported_score_recs %}
                                        <option value="{{ reported_score_rec.id }}">{{ reported_score_rec.report_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                <div class="row">
                         <div class="col-md-2">
                            <h4> Class:</h4>
                            <div class="">
                                <select style="width:60%"
                                        data-field-name="ClassDetails"
                                        autocomplete="off" class="form-control ab"
                                        id="id_class_name" name="class_name" required="">
                                    {% for class_rec in class_recs %}
                                        <option value="{{ class_rec.id }}">{{ class_rec.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -2%" class="col-md-2">
                            <h4> Subject:</h4>
                            <div class="">
                                <select style="width:60%"
                                        data-field-name="SubjectDetails"
                                        autocomplete="off"  class="form-control ab"
                                        id="id_subject_name" name="subject_name" required="">
                                </select>
                            </div>
                        </div>
                        <div style="margin-left: -3%" class="col-md-1">
                            <button type="submit" style="margin-top:35px;width: 150px;" id="mapping"
                                    class="btn blue btn-block">
                                Mapping
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </body>
    </html>
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Reported Score Mapping</span>
            </div>
        </div>


        <form action="{% url 'assessment:delete_reported_score_class_section_mapping' %}" id="form_sample_1"
              class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-striped table-bordered table-hover table-checkable order-column"
                   id="sample_1">
                <thead>
                <tr>
                    <th style="display:none;">Id</th>
{#                    <th>Select</th>#}
                    <th>Academic Year</th>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Exam Name</th>
                    <th>Frequency Name</th>
                    <th>Reported Score</th>
                </tr>
                </thead>
                <tbody>
                {% for rec in reported_class_sub_mapping_recs %}
                    <tr>
                        <td style="display:none;">{{ forloop.counter }}</td>
{#                        <td><input type='checkbox' class="checkbox" name='check' value="{{ rec.id }}"></td>#}
                        <td>{{ rec.year.year_name }}</td>
                        <td>{{ rec.class_name.class_name }}</td>
                        <td>{{ rec.subject.subject_name }}</td>
                        <td>{{ rec.exam_name.exam_name }}</td>
                        <td>{{ rec.frequency_name.frequency_name }}</td>
                        <td>{{ rec.reported_exam_mapp.report_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>

                {% comment %}<tfoot>
                <tr>
                    <td colspan="4">
                        <ul class="pagination pull-right"></ul>
                        <input type="submit" id="delete" name="delete" value="Delete"/>
                    </td>
                </tr>
                </tfoot>{% endcomment %}
            </table>
        </form>
    </div>
{% endblock %}
