{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">
    </style>
{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {

            {% comment %}$(document).on("change", ".exam_name", function (e) {
                var parent_id = $(this).parents('tr:eq(0)').attr('id')
                var exam_id = $('#' + parent_id + ' .exam_name').val();
                var url = '/school/view_frequency_details/';
                view_mapped_exam_frequency(url, exam_id, parent_id)
            });

            $(document).on("click", "#save", function (e) {
                {#                alert($('#item1 #weightage0').val())#}
                var all_item = $('.item');
                var data = []
                for (var i = 0; i < all_item.length; i++) {
                    var payload = {
{#                        'exam_type': $('#' + all_item[i].id + ' #exam_type' + i).val(),#}
{#                        'weightage': $('#' + all_item[i].id + ' #weightage' + i).val(),#}
                        'exam': $('#' + all_item[i].id + ' #exam' + i).val(),
                        'frequency': $('#' + all_item[i].id + ' #frequency' + i).val(),
                    }
                    data.push(payload)
                    {#                    alert($('#'+all_item[i].id+' #exam_type'+i).val())#}
                }
                $('#json_data').val(JSON.stringify(data));
{#                alert(document.getElementById('json_data').value)#}
{#                alert(JSON.stringify(data))#}
{#                return false;#}
            });

            function view_mapped_exam_frequency(url, exam_id, item_id) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        exam_id: exam_id
                    },
                })
                    .done(
                        function (data) {
                            $('#' + item_id + ' .frequency_class').empty();
                            $('#' + item_id + ' .frequency_class').append(
                                '<option value="">Please select</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#' + item_id + ' .frequency_class').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].frequency_name + '</option>')
                            }
                        });
            }{% endcomment %}
        }
    </script>
{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_exam_mapping_list' %}"> Reported Score Exam-Mapping List </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Reported Score Exam-Mapping Edit</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Reported Score Exam-Mapping Edit</span>
            </div>
        </div>

        <div class="portlet-body">
            <form action="{% url 'assessment:save_reported_score_exam_mapping' %}"
                  id="report_form" name="report_form" class="form-horizontal" method="POST"
                  enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                <input id="json_data" name="data" hidden>
                <div class="row" id="scheme_row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="">
                                <label style="margin-left: 15px;" class="control-label"> Reported Exam Code:
                                </label>
                            </div>
                            <div class="">
                                <input id="code" name="" class="form-control validate_value_code"
                                       maxlength="32" title="Only Alphanumeric is allowed with '-' and '_'"
                                       value="{{ reported_exam_mapping_obj.code }}" disabled>
                                <input name="code" value="{{ reported_exam_mapping_obj.code}}" hidden>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label style="margin-left: 20px;" class="control-label">Reported Exam Name:
                            </label>
                            <div>
                                <input id="" name="" maxlength="32"
                                       title="Only Alphanumeric is allowed with '-' and '_'"
                                       class="validate_value form-control" value="{{ reported_exam_mapping_obj.report_exam_name }}" disabled>
                            <input name="name" value="{{ exam_name }}" hidden>
                            </div>
                        </div>

                        <div class="col-md-2" style="margin-left: 22px;">
                            <label class="control-label">Reported Score:
                            </label>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_subject_name"
                                        name="" disabled>
                                    <option style="" selected="selected" value="{{ reported_exam_mapping_obj.reported_score.id }}"
                                            > {{ reported_exam_mapping_obj.reported_score.report_name }}
                                    </option>
                                </select>
{#                                <input name="reported_score" value="{{  reported_exam_mapping_obj.reported_score.id  }}" hidden>#}
                            </div>
                        </div>
                        {% comment %}<div class="col-md-2">
                            <button type="submit" id="go_button" class="btn blue btn-block" style="margin-top: 26px;">
                                Go
                            </button>{% endcomment %}
                    </div>
                </div>
                <br>
                <br>
                <table id="nameGenderTable" name="data"
                       class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                    <tr role="row">
                        <th> Exam Type:</th>
                        <th style="width: 20%"> Weightage in %:</th>
                        <th> Exam:</th>
                        <th> Frequency:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div id="message" style="display:none;"></div>
                    {% for obj in reported_exam_mapping_obj.reported_exam_sub_id.all %}
                        <tr class="form_length item" id="item{{ forloop.counter }}" style="cursor: pointer; width:80%;"
                            name="data">
                            <td style="display:none;"><input type="text" name="id" value='{{ obj.id }}'
                                                             style="width: 50px;" disabled></td>
                            <td style="text-align: center">
                                <select id='exam_type{{ forloop.counter0 }}' name="exam_type" class="form-control emp"
                                        required="" disabled>
                                    <option style="" selected="selected" value="{{ obj.exam_type.id }}"
                                    > {{ obj.reported_score_sub.exam_type.exam_type_name }} </option>
                                </select>
                            </td>

                            <td>
                                <input class="form-control" style="width: 100%" id="weightage{{ forloop.counter0 }}"
                                       name="weightage" value='{{ obj.reported_score_sub.weightage }}' disabled>
                            </td>

                            <td style="text-align: center">
                                <select id='exam{{ forloop.counter0 }}' name="exam" style="width: 80%;"
                                        class="form-control exam_name emp" required="">
                                    <option style="" selected="selected" value="{{ obj.exam.id }}">{{ obj.exam.exam_name }}</option>
{#                                    {% for exam_detail_object in obj.exam_type.exam_details_exam_type_relation.all %}#}
{#                                        <option value='{{ exam_detail_object.id }}'>{{ exam_detail_object.exam_name }}</option>#}
{#                                    {% endfor %}#}
                                </select>
                            </td>

                            <td>
                                <select id="frequency{{ forloop.counter0 }}" class="form-control frequency_class"
                                        style="width: 80%;">
                                    <option style="display:none" selected="selected" value="{{ obj.frequency.id }}">{{ obj.frequency.frequency_name }}</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% comment %}<div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                            <button id="save" type="submit" class="btn green">Save</button>

                            <a href="{% url 'assessment:frequency_list' %}">
                            <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                        </a>

                        </div>
                    </div>
                </div>{% endcomment %}
            </form>
        </div>
    </div>
{% endblock %}