{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->


{% endblock %}
{% block ScriptBlock %}

    <script>

        window.onload = function () {

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span class="title">Reported Score List</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Reported Score Details</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-8">
                        <div class="btn-group">
                            <a href="{% url 'assessment:reported_score_creation' %}">
                                <button id="sample_editable_1_new" class="btn sbold green"> Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    </div>

                   {% comment %} <div style="margin-right:2%" class="col-md-3">
                        <div class="btn-group">
                            <a href="{% url 'assessment:reported_score_export' %}">
                                <button id="sample_editable_1_new" class="btn sbold blue"> Export Reported Score Details
                                </button>
                            </a>
                        </div>
                    </div>{% endcomment %}

                </div>
            </div>

        <form method="post" action="{% url 'assessment:save_report_score_details' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">




                        <div class="col-md-4">
                            <h4>Copy Reported Score Name:</h4>
                            <div class="">
                                <select style="width: 70%" autocomplete="off" class="form-control" id="id_copy_report_name"
                                        name="copy_report_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="">Please Select</option>
                                    {% for reported_score in reported_score_recs %}
                                        <option value="{{ reported_score.id }}" {{ value1 }} >{{ reported_score.report_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                     <div style="margin-left: -100px;" class="col-md-3">
                            <h4>New Reported Score Name:</h4>
                            <div class="">
                                <input class="form-control" id="id_report_name" name="report_name"
                                        required></div>
                            </div>
                    <div class="col-md-2">
                            <button type="submit" style="margin-top:35px;margin-left: 50px;" id="copy_mapping"
                                    class="btn blue btn-block">Save

                            </button>
                        </div>
                        </div>







                    </div>
                </div>
            </form>
        <br><br>


            <!-- <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1"> -->
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>

                    <th style="display:none;">Serial No</th>
                    <th> Reported Score Code</th>
                    <th> Reported Score Name</th>
                </tr>
                </thead>
                <tbody>
                {% for reported_score in reported_score_recs %}
                    <tr class="odd gradeX" onclick="window.location='{% url "assessment:edit_reported_score" reported_score.id %}'" style="cursor: pointer;">
                        <td style="display:none;">{{ forloop.counter }}</td>
                        <td>{{ reported_score.code }}</td>
                        <td>{{ reported_score.report_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
      