{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>


    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {

                var currentSelect = $("select#id_section_name_mapping option:selected").index();

                $("select#id_class_name option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });


                $("#id_repoted_score").click(function (e) {
                    var reported_score = $('#id_repoted_score').val();
                    var academic_value = document.getElementById("id_academic_year").value

                    var url = '/school/view_reported_score_mapped_classes/';

                    viewReportedScoreMappedClasses(url, academic_value,reported_score)
                });



                $("#id_subject_name").click(function (e) {
                    var reported_score = $('#id_repoted_score').val();
                    var parent_id = $(this).parents('div:eq(3)').attr('id')
                    var class_value = $('#id_class_name').val();
                    var academic_value = document.getElementById("id_academic_year").value
                    var subject_value = $('#' + parent_id + ' #id_subject_name').val();


{#                                        alert('academic_value- '+academic_value+' class_value- '+class_value +' sec_value- '+subject_value + ' Prrr =='+parent_id)#}
                    var url = '/school/view_reported_score_mapped_grade/';
                    {#var url = '/school/view_exam_class_subjects_mapped_grade/';#}
                    {#viewGradingDetails(url, academic_value, class_value,subject_value,parent_id)#}
                    viewReportedScoreGradingDetails(url, academic_value, class_value,subject_value,parent_id,reported_score)
                });

                {% comment %}$("#id_subject_name").click(function (e) {
                    var reported_score = $('#id_repoted_score').val();
                    var parent_id = $(this).parents('div:eq(3)').attr('id')
                    var class_value = $('#' + parent_id + ' #id_class_name').val();
                    var academic_value = document.getElementById("id_academic_year").value
                    var subject_value = $('#' + parent_id + ' #id_subject_name').val();


{#                                        alert('academic_value- '+academic_value+' class_value- '+class_value +' sec_value- '+subject_value + ' Prrr =='+parent_id)#}
                    var url = '/school/view_reported_score_mapped_grade/';
                    {#var url = '/school/view_exam_class_subjects_mapped_grade/';#}
                    {#viewGradingDetails(url, academic_value, class_value,subject_value,parent_id)#}
                    viewReportedScoreGradingDetails(url, academic_value, class_value,subject_value,parent_id,reported_score)
                });{% endcomment %}


                $("#id_class_name").change(function (e) {

                    {#alert("hello....")#}

                    if($('#id_repoted_score').val() == ''){
                        alert("Please Select Reported Score First");
                        $(this).val('');
                        return false;
                    }
                    var class_value = $('select#id_class_name').val();
                    {#alert(class_value);#}
                    var academic_value = document.getElementById("id_academic_year").value
                    {#var parent_id = $(this).parents('div:eq(3)').attr('id')#}
                    {#var class_value = $('#id_class_name').val();#}
                    {##}
                    {#alert('class_value---> '+$("#id_class_name option:selected").val())#}
                    {##}
                    var reported_score = $('#id_repoted_score').val();
                    {##}
                    {##}
                    var url = '/school/view_reported_score_mapped_subjects/';
                    viewSubjectDetails(url, academic_value, class_value,reported_score)
                });


                {% comment %}$("#id_class_name").change(function (e) {

                    {#alert("hello....")#}

                    if($('#id_repoted_score').val() == ''){
                        alert("Please Select Reported Score First");
                        $(this).val('');
                        return false;
                    }
                    {#var class_value = $('select#id_class_name').val();#}
                    var academic_value = document.getElementById("id_academic_year").value
                    {#var parent_id = $(this).parents('div:eq(3)').attr('id')#}
                    var class_value = $('#' + parent_id + ' #id_class_name').val();

                    alert('class_value---> '+class_value)

                    var reported_score = $('#id_repoted_score').val();


                    var url = '/school/view_reported_score_mapped_subjects/';
                    viewSubjectDetails(url, academic_value, class_value,parent_id,reported_score)
                });{% endcomment %}


                {% comment %}$("#id_subject_name").click(function (e) {
                    var parent_id = $(this).parents('div:eq(3)').attr('id')
                    var class_value = $('#' + parent_id + ' #id_class_name').val();
                    var academic_value = document.getElementById("id_academic_year").value
                    var subject_value = $('#' + parent_id + ' #id_subject_name').val();


{#                                        alert('academic_value- '+academic_value+' class_value- '+class_value +' sec_value- '+subject_value + ' Prrr =='+parent_id)#}
                    var url = '/school/view_exam_class_subjects_mapped_grade/';
                    viewGradingDetails(url, academic_value, class_value,subject_value,parent_id)
                });{% endcomment %}
                $(document).on("click", "#mapping", function () {

                    $('#class_hidden_id').val(JSON.stringify($('select#id_class_name').val()));

                    var all_item = $('.item');
                    var data = []
                    for (var i = 0; i < all_item.length; i++) {
                        var payload = {
                            {#'class_id': $('#' + all_item[i].id + ' #id_class_name').val(),#}
                            'subject_id': $('#' + all_item[i].id + ' #id_subject_name').val(),
                            'grade_id': $('#' + all_item[i].id + ' #id_grade_name').val(),
                        }
                        data.push(payload)
                    }
{#                                        alert(JSON.stringify(data));#}
{#                    return false;#}
                    $('#json_data').val(JSON.stringify(data));
                });

                function viewSubjectDetails(url, academic_val, class_val,reported_score) {
                    {#alert(class_val+'   -> '+JSON.stringify(class_val))#}
                    {#return false;#}
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            class_name: JSON.stringify(class_val),
                            academic_year: academic_val,
                            reported_score: reported_score,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {
                                $('.id_subject_name').empty();
                                    $('.id_subject_name').append(
                                        '<option value="">Please select</option>');
                                    for (var i = 0; i < data.length; i++) {
                                        $('.id_subject_name').append(
                                            '<option value="' + data[i].id + '">'
                                            + data[i].subject_name + '</option>')
                                    }
                            })
                }



                {% comment %}function viewSubjectDetails(url, academic_val, class_val,item_id,reported_score) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            class_name: class_val,
                            academic_year: academic_val,
                            reported_score: reported_score,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {


                                $('#' + item_id + ' #id_subject_name').empty();
                                    $('#' + item_id + ' #id_subject_name').append(
                                        '<option value="">Please select</option>');
                                    for (var i = 0; i < data.length; i++) {
                                        $('#' + item_id + ' #id_subject_name').append(
                                            '<option value="' + data[i].id + '">'
                                            + data[i].subject_name + '</option>')
                                    }
                            })
                }{% endcomment %}


                {% comment %}function viewGradingDetails(url, academic_val, class_val,subj,item_id) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            class_name: class_val,
                            subject_name: subj,
                            academic_year: academic_val,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {


                                $('#' + item_id + ' #id_grade_name').empty();
                                    $('#' + item_id + ' #id_grade_name').append(
                                        '<option value="">Please select</option>');
                                    for (var i = 0; i < data.length; i++) {
                                        $('#' + item_id + ' #id_grade_name').append(
                                            '<option value="' + data[i].id + '">'
                                            + data[i].grade_name + '</option>')
                                    }
                            })
                }{% endcomment %}


                function viewReportedScoreMappedClasses(url, academic_val, reported_score) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            academic_year: academic_val,
                            reported_score: reported_score,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {
                                $('#id_class_name').empty();

                                {#$('.selectpicker').selectpicker('refresh');#}
                                {% comment %}$('#id_class_name').append(
                                    '<option value="">Please select</option>');{% endcomment %}
                                for (var i = 0; i < data.length; i++) {
                                    $('#id_class_name').append(
                                        '<option value="' + data[i].id + '">'+ data[i].class_name + '</option>')
                                }
                                $('.selectpicker').selectpicker('refresh');
                            })
                }



                function viewReportedScoreGradingDetails(url, academic_val, class_val, subj, item_id, reported_score) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            class_name: JSON.stringify(class_val),
                            subject_name: subj,
                            academic_year: academic_val,
                            reported_score: reported_score,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {
                                $('#' + item_id + ' #id_grade_name').empty();
                                $('#' + item_id + ' #id_grade_name').append(
                                    '<option value="">Please select</option>');
                                for (var i = 0; i < data.length; i++) {
                                    $('#' + item_id + ' #id_grade_name').append(
                                        '<option value="' + data[i].id + '">'+ data[i].grade_name + '</option>')
                                }
                            })
                }

                var change_flag = false;
                $('#action_type').val('add');
                var count = 0;
                var last_max = 0;

                $("#add").click(function () {
                    $('.chk').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');

                    for (var k = 0; k < tex.length; k++) {
                        if (tex[k].value === '') {
                            {#                            $('#' + tex[k].id).css('border-color', 'red');#}
                            flag_val = true;
                            {#                            return false;#}
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Fill Curent Row All Fields Before Adding New Row.")
                        return false;
                    }
                    change_flag = false;
                    ++count;
                    return addForm(this, count);
                });

                function addForm(btn, prefix) {

                    var id = prefix;

                    var last_parent_id = $(".item:last").attr('id');
                    var row = $(".item:first").clone(true).get(0);
                    row.id = 'item' + id;
                    $(row).children().find(".emp").val('');
                    $(row).hide().insertAfter(".item:last").slideDown(300);
                }
                $(".delete").click(function () {
                    return deleteForm(this, 'sub_strands');
                });
                function deleteForm(btn, prefix) {

                    var forms = $('.item');
                    if (forms.length > 1) {
                        $(btn).parents('.item').remove();

                    }
                }
            });

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Reported Score Class-Subject Mapping</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Reported Score Class-Subject Mapping</span>
            </div>
        </div>
        <div class="portlet-body">
            <form method="post" action="{% url 'assessment:save_reported_score_class_section_mapping' %}">
                {% csrf_token %}
             <input id="json_data" name="json_data" hidden>
                <div class="form-body">
                    <div class="row">
                        <div style="margin-left: 1%" class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 100%" autocomplete="off" class="form-control"
                                        id="id_academic_year" name="year_name" required="" readonly>
                                    <option style="display:none" selected="selected"
                                            value="{{ current_academic_year.id }}">{{ current_academic_year.year_name }}</option>
                                </select>
                            </div>
                        </div>


                        <div  class="col-md-3">
                            <h4>Reported Score Name:</h4>
                            <div class="">
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_repoted_score"
                                        name="repoted_name" required="">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for reported_score_rec in reported_score_recs %}
                                        <option value="{{ reported_score_rec.id }}">{{ reported_score_rec.report_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="">
                            <input id="class_hidden_id" hidden name="class_name">
                            <div class="col-md-3">
                                <h4>Class: </h4>
                                <select id='id_class_name' name="class_name1"
                                        class="form-control emp id_class_name selectpicker" multiple required="">
{#                                    <option style="display:none" selected="selected" value="">Please Select</option>#}
                                    {% comment %}{% for class_rec in class_recs %}
                                        <option value="{{ class_rec.id }}">{{ class_rec.class_name }}</option>
                                    {% endfor %}{% endcomment %}
                                </select>
                            </div>
                        </div>

                    </div>

                <br><br>

                    <div class="portlet-body">

                        <div class="tab-content">
                            <br>
                            <div class="tab-pane active" id="portlet_tab2">
                                <div class="item container" id="item">
                                            <span id="message" style="display:none;">
                                            </span>
                                    <div class="row" style="margin-left: 10%">
                                        {% comment %}<div class="">
                                            <div class="col-md-2">
                                                <h4>Class: </h4>
                                                <select id='id_class_name' name="class_name"
                                                        class="form-control emp id_class_name"
                                                        required="">
                                                    <option style="display:none" selected="selected" value="">Please
                                                        Select
                                                    </option>
                                                    {% for class_rec in class_recs %}
                                                        <option value="{{ class_rec.id }}">{{ class_rec.class_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>{% endcomment %}
                                        <div class="">
                                            <div class="col-md-2">
                                                <h4>Subject: </h4>
                                                <select id='id_subject_name' name="subject_name"
                                                        class="form-control subject_class emp id_subject_name"
                                                        required="">
                                                    <option style="display:none" selected="selected" value="">Please
                                                        Select
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="">
                                            <div class="col-md-2">
                                                <h4>Grading Scheme: </h4>
                                                <select id='id_grade_name' name="grading_name"
                                                        class="form-control grading_class emp id_grade_name"
                                                        required="">
                                                    <option style="display:none" selected="selected" value="">Please
                                                        Select
                                                    </option>
                                                    {% for grade_rec in grade_recs %}
                                                        <option value="{{ grade_rec.id }}">{{ grade_rec.grade_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <a href="javascript:;" id="add" class="btn btn-icon-only green"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a href="javascript:;" class="delete btn btn-icon-only purple"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>

                     <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                                <button id="mapping" type="submit" class="btn green">Mapping</button>

                                <button onclick="window.location.href='{% url "assessment:reported_score_class_section_mapping" %}'"
                                        type="button" class="btn grey-salsa btn-outline">Cancel
                                </button>
                            </div>
                        </div>
                    </div>



                </div>
            </form>
        </div>
    <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Mapped Repored Score </span>
                </div>
                <form action="{% url 'assessment:view_report_score_details' %}" id="form_sample_1"
                      class="form-horizontal" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-4">
                        <button type="submit" class="btn blue btn-block" id="export">View
                            Reported Score Class-Subject Mapping
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </body>
    </html>
{#    <div class="portlet light portlet-fit ">#}
{#        <div class="portlet-title">#}
{#            <div class="caption">#}
{#                <i class="icon-bubble font-dark"></i>#}
{#                <span class="caption-subject font-dark bold uppercase">Reported Score Mapping</span>#}
{#            </div>#}
{#        </div>#}
{##}
{##}
{#        <form action="{% url 'assessment:delete_reported_score_class_section_mapping' %}" id="form_sample_1"#}
{#              class="form-horizontal" method="POST" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <table class="table table-striped table-bordered table-hover table-checkable order-column"#}
{#                   id="sample_1">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th style="display:none;">Id</th>#}
{#                    <th>Select</th>#}
{#                    <th>Academic Year</th>#}
{#                    <th>Class</th>#}
{#                    <th>Subject</th>#}
{#                    <th>Exam Name</th>#}
{#                    <th>Frequency Name</th>#}
{#                    <th>Reported Score</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for rec in reported_class_sub_mapping_recs %}#}
{#                    <tr>#}
{#                        <td style="display:none;">{{ forloop.counter }}</td>#}
{#                        <td><input type='checkbox' class="checkbox" name='check' value="{{ rec.id }}"></td>#}
{#                        <td>{{ rec.year.year_name }}</td>#}
{#                        <td>{{ rec.class_name.class_name }}</td>#}
{#                        <td>{{ rec.subject.subject_name }}</td>#}
{#                        <td>{{ rec.exam_name.exam_name }}</td>#}
{#                        <td>{{ rec.frequency_name.frequency_name }}</td>#}
{#                        <td>{{ rec.reported_exam_mapp.report_name }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{##}
{#                {% comment %}<tfoot>#}
{#                <tr>#}
{#                    <td colspan="4">#}
{#                        <ul class="pagination pull-right"></ul>#}
{#                        <input type="submit" id="delete" name="delete" value="Delete"/>#}
{#                    </td>#}
{#                </tr>#}
{#                </tfoot>{% endcomment %}#}
{#            </table>#}
{#        </form>#}
{#    </div>#}
{% endblock %}
