{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">
    </style>
{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {

            function total_mrk_chk(val) {
                var total_mark = 0;
                var all_marks = $('.weightage');
                for (var i = 0; i < all_marks.length; i++) {
                    if (all_marks[i].value != '') {
                        total_mark = total_mark + parseInt(all_marks[i].value);
                    }
                }
                if ((parseInt(total_mark)) > 100) {
                    return true;
                }
                return false;
            }

            $(document).ready(function () {

                $(document).on("blur", ".weightage", function () {
                    if ((parseInt($(this).val()) != '') && (parseInt($(this).val()) > 100)) {
                        alert("Weightage Cannot Exceed 100%.")
                        $(this).val('');
                        return false;
                    }

                    var flag_chk = false;
                    flag_chk = total_mrk_chk($(this).val())
                    if (flag_chk === true) {
                        alert("Total Weightage Cannot Exceed 100%.")
                        $(this).val('')
                        return false;
                    }
                    {#                    $(this).css('border-color', '');#}
                    {#                    alert("Val---> "+$(this).val())#}
                });

                $("#edit").click(function (event) {
                    $("#edit").hide();
                    $("#update").show();
{#                    $('.weightage').prop("disabled", false);#}
                    $('.emp').prop("disabled", false);
{#                    $('.weightage').prop("disabled", false);#}

                });

                $(document).on("click", "#update", function () {
                    $('.chk').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');

                    for (var k = 0; k < tex.length; k++) {
                        if (tex[k].value === '') {
                            {#                            $('#' + tex[k].id).css('border-color', 'red');#}
                            flag_val = true;
                            {#                            return false;#}
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Fill All Fields Before Before Saving Record.");
                        return false;
                    }

                    var total_mark = 0;
                    var all_marks = $('.weightage');
                    for (var i = 0; i < all_marks.length; i++) {
                        if (all_marks[i].value != '') {
                            total_mark = total_mark + parseInt(all_marks[i].value);
                            {#                            alert(total_mark + '  ---> ' + all_marks[i].value)#}
                        }
                    }
                    if (parseInt(total_mark) != 100) {
                        alert("Total Weightage Must Be 100%. \n You Have Entered " + total_mark + "%.");
                        return false;
                    }

                    var all_item = $('.item');
                    var data = []
                    for (var i = 0; i < all_item.length; i++) {
                        var payload = {
                            'exam_obj_id': $('#' + all_item[i].id + ' .id').val(),
                            'weightage': $('#' + all_item[i].id + ' .weightage').val(),
                            'term_assessment': $('#' + all_item[i].id + ' .term_assessment').val(),
                            {#                            'frequency': $('#' + all_item[i].id + ' #frequency' + i).val(),#}
                        }
                        data.push(payload)
                    }
                    $('#data').val(JSON.stringify(data));
{#                                        alert(JSON.stringify(data));#}
{#                                        return false;#}
                });
            });
        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Reported Score Bulk View-Edit</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Reported Score Exam-Mapping</span>
            </div>
        </div>

        <div class="portlet-body">
            <form action="{% comment %}{% url 'assessment:reported_score_calculation_bulk_view_recs' %}{% endcomment %}"
                  id=""
                  class="form-horizontal" method="POST"
                  enctype="multipart/form-data" novalidate>

                {% csrf_token %}


                <div class="row" id="scheme_row">
                    <div class="col-md-12">

                        <div class="col-md-2">
                            <div class="">
                                <label style="margin-left: 15px;" class="control-label"> Academic Year:</label>
                            </div>
                            <div class="">
                                <input id="year_name" name="year_name" class="form-control"
                                       value="{{ acd_year.year_name }}"
                                       maxlength="32" title="" disabled>
                            </div>
                        </div>

                        <div class="col-md-2" style="margin-left: 22px;">
                            <label class="control-label">Reported Score:
                            </label>
                            <div class="">
                                <input value="{{ reported_score_obj.report_name }}" class="form-control" disabled>
                                {% comment %}<select autocomplete="off" class="form-control" id="id_report_name"
                                        name="reported_score" disabled>
                                    <option style="display:none" selected="selected" id=""
                                            value="{{ reported_score_obj.id }}">{{ reported_score_obj.report_name }} </option>
                                    {#                                    {% for obj in reported_score_recs %}#}
                                    {#                                        <option value="{{ obj.id }}">{{ obj.report_name }}</option>#}
                                    {#                                    {% endfor %}#}
                                </select>{% endcomment %}
                            </div>
                        </div>
                        {% comment %}<div class="col-md-2">
                            <button type="submit" id="go_button" class="btn blue btn-block" style="margin-top: 26px;">
                                Go
                            </button>
                        </div>{% endcomment %}
                    </div>
                </div>
            </form>
        </div>
        <br>
    </div>

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-dark bold uppercase">Classes-</span>
                {% for rec in class_list %}
                    <b>{{ rec }},</b>
                {% endfor %}
            </div>
            <div class="caption">
                <span style="margin-left: 100px;" class="caption-subject font-dark bold uppercase">Subjects-</span>
                {% for rec in subject_list %}
                    <b>{{ rec }},</b>
                {% endfor %}
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">

            </div>
            <form action="{% url 'assessment:reported_score_calculation_bulk_view_update' %}" id="form_sample_1"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input class="" id="data" name="data" type="hidden" value="">

                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1" >
                    <thead>
                    <tr>
                        <th style="display:none">ID</th>
                        <th style="width: 20%">Term Assessment</th>
                        <th>Exceptions</th>
                        <th>Exam Names</th>
                        <th>Frequencies</th>
                        <th>Weightage%</th>
{#                        <th>Add</th>#}
{#                        <th>Edit</th>#}
{#                        <th>Delete</th>#}
                    </tr>
                    </thead>

                    {% for obj in rec_list %}
                        <tr class="form_length item" id="item{{ forloop.counter }}"
                            style="cursor: pointer; width:80%;text-align: center"
                            name="data">
                            <td style="display:none;"><input class="id" type="text" name="id"
                                                             value='{{ obj.id }}'
                                                             style="width: 50px;"></td>
                            <td style="text-align: center">
                                <input type="text" class="form-control emp term_assessment" value="{{ obj.term_assessment }}" id="term_assessment{{ forloop.counter }}" disabled>

                                {% comment %} <select id='exam_type{{ forloop.counter0 }}' name="exam_type" class="form-control"
                                        required="" disabled>
                                    <option style="" selected="selected" value="{{ obj.exam_type.id }}"
                                    > {{ obj.reported_score_sub.exam_type.exam_type_name }} </option>
                                </select>{% endcomment %}
                            </td>

                            <td>
                                {% if obj.system_exception %}
                                    {% for exception  in obj.system_exception %}
                                        {{ forloop.counter }}) <b>Class-</b> {{ exception.class_name.class_name }};
                                        <b>Subject-</b> {{ exception.subject.subject_name }};
                                        <b>Exam Name-</b> {{ exception.exam_name.exam_name }};  <b>Frequency-</b>
                                        {{ obj.prev_frequency }}<br>
                                    {% endfor %}
                                {% else %}
                                    No Exception Defined
                                {% endif %}

                            </td>

                            <td style="text-align: center">
                                {{ obj.exam_name.exam_name }}
                                {% comment %}<select id='exam{{ forloop.counter0 }}' name="exam" style="width: 80%;"
                                        class="form-control exam_name" required="" disabled>
                                    <option style="" selected="selected"
                                            value="{{ obj.exam.id }}">{{ obj.exam.exam_name }}</option>
                                </select>{% endcomment %}
                            </td>

                            <td>
                                {{ obj.freq.frequency_name }}
                                {% comment %}{% for frequency_name in obj.frequency_name %}
                                    {{ forloop.counter }}) {{ frequency_name }} <br>
                                {% endfor %}{% endcomment %}
                                {#                                <select id="frequency{{ forloop.counter0 }}" class="form-control frequency_class"#}
                                {#                                        style="width: 80%;" disabled>#}
                                {#                                    <option style="display:none" selected="selected"#}
                                {#                                            value="{{ obj.frequency.id }}">{{ obj.frequency_name.frequency_name }}</option>#}
                                {#                                </select>#}
                            </td>

                            <td>
                                <input class="form-control weightage emp" style="width: 60%"
                                       id="weightage{{ forloop.counter0 }}" onkeypress="return isNumber(event);"
                                       name="weightage" value='{{ obj.weightage }}' disabled>
                            </td>

                            {% comment %}<td>
                                <text hidden="">Add</text>
                                <input type='button' class="button_archive btn yellow btn-block" value='Add'
                                       readonly>
                            </td>

                            <td>
                                <text hidden="">Edit</text>
                                <input type='button' class="button_edit btn green btn-block" value='Edit' readonly>
                            </td>
                            <td>
                                <text hidden="">Delete</text>
                                <input type='button' id="delete" class="button_delete btn red btn-block" value='Delete'
                                       readonly>
                            </td>{% endcomment %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    {#                <input type='button' class="button_edit btn green btn-block" value='Edit' readonly>#}
                </table>
                <input type='button' style="width: 200px;margin-left: 40%;" id="edit"
                       class=" btn blue btn-block" value='Edit'>
                <input type='submit' style="display: none;width: 200px;margin-left: 40%;"
                       id="update" class=" btn green btn-block" value='Update'>
            </form>
        </div>
    </div>
    <!-- END VALIDATION STATES-->
{% endblock %}