{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->


{% endblock %}
{% block ScriptBlock %}

    <script>

        window.onload = function () {

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }


        {#$('.dis').css('display', 'none')#}

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span class="title">Reported Score Status</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Reported Score Status</span>
            </div>

        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <th hidden>Serial No</th>
                    <th> Academic Year</th>
                    <th> Class</th>
                    <th> Section</th>
                    <th> Subject</th>
                    <th> Reported Score Name</th>
                    <th> Grade Scheme</th>
                    <th> Status</th>
                    <th> Submitted by</th>
                    <th> Submitted on</th>
                </tr>
                </thead>
                <tbody>
                {% comment %}{% for rec in reported_score_status_recs %}
                    <tr class="odd gradeX" style="cursor: pointer;">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ rec.academic_mapping.year_name.year_name }}</td>
                        <td>{{ rec.academic_mapping.class_name.class_name }}</td>
                        <td>{{ rec.academic_mapping.section_name.section_name }}</td>
                        <td>{{ rec.subject.subject_name }}</td>
                        <td>{{ rec.reported_exam_mapp.report_name }}</td>
                        <td>{{ rec.grade_scheme.grade_name }}</td>
                        <td> Submitted </td>
                        <td>{{ rec.submitted_by }}</td>
                        <td>{{ rec.updated_on}}</td>
                    </tr>
                {% endfor %}{% endcomment %}

                {% for recs in final_list %}
                    <tr class="odd gradeX" style="cursor: pointer;">
                        <td hidden class="dis"></td>
                        {% for rec in recs %}
                            <td>{{ rec }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
                        
      