{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">
    </style>
{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {
        }
    </script>
{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_exam_mapping_list' %}"> Reported Score Exam-Mapping List </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Reported Score Exam-Mapping</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Reported Score Exam-Mapping</span>
            </div>
        </div>

        <div class="portlet-body">
            <form action="{% url 'assessment:reported_score_exam_mapping' %}" id="" class="form-horizontal" method="POST"
                  enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="row" id="scheme_row">
                    <div class="col-md-12">

                        <div class="col-md-2">

                            <div class="">
                                <label style="margin-left: 15px;" class="control-label"> Reported Exam Code:
                                </label>
                            </div>
                            <div class="">
                                <input id="scheme_code" name="code" class="form-control validate_value_code"
                                       maxlength="32" title="Only Alphanumeric is allowed with '-' and '_'" required="True">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label style="margin-left: 20px;" class="control-label">Reported Exam Name:

                            </label>
                            <div>
                                <input id="scheme_name" name="name" maxlength="32"
                                       title="Only Alphanumeric is allowed with '-' and '_'"
                                       class="validate_value form-control" required></div>
                        </div>

                        <div class="col-md-2" style="margin-left: 22px;">
                            <label class="control-label">Reported Score:
                            </label>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_subject_name"
                                        name="reported_score" required>
                                    <option value="">Please Select</option>
                                    {% for obj in reported_score_recs %}
                                        <option value="{{ obj.id }}">{{ obj.report_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" id="go_button" class="btn blue btn-block" style="margin-top: 26px;">
                                Go
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
    </div>
    <!-- END VALIDATION STATES-->
{% endblock %}