{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Reported Score Sub-Tile</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="tiles">
                <div class="tile bg-purple-studio" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:reported_score_list' %}">
                        <div class="tile-body">
                            <i class="fa fa-calendar-plus-o"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Reported Score Creation</h5></div>
                        </div>
                    </a>
                </div>



                {% comment %}<div class="tile bg-green-turquoise" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:reported_score_exam_mapping_list' %}">
                        <div class="tile-body">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Reported Score Exam Seclection </h5></div>
                        </div>
                    </a>
                </div>{% endcomment %}

                <div class="tile double-down bg-yellow-lemon" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:reported_score_class_section_mapping' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-th-large"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Reported Score Class-Subject Mapping </h5></div>
                        </div>
                    </a>
                </div>

                <div class="tile bg-blue" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:reported_score_calculation_bulk_view' %}">
                        <div class="tile-body">
                            <i class="fa fa-calculator"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Reported Score Calculation Bulk View </h5></div>
                        </div>
                    </a>
                </div>

                <div class="tile bg-green-sharp" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:reported_score_submission' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Reported Score Submission </h5></div>
                        </div>
                    </a>
                </div>

                <div class="tile bg-blue" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:reported_score_status' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Reported Score Status </h5></div>
                        </div>
                    </a>
                </div>

                <div class="tile bg-blue" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:reported_score_export_log' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Reported Export Log </h5></div>
                        </div>
                    </a>
                </div>

{#                  <div class="tile double bg-yellow-lemon" style="height: 170px !important;width: 18% !important;">#}
{#                    <a href="{% url 'assessment:target_setting_list' %}">#}
{##}
{#                        <div class="tile-body">#}
{#                            <i class="fa fa-sort-amount-asc"></i>#}
{##}
{#                        </div>#}
{#                        <div class="tile-object">#}
{#                            <div class="name"><h5 style="font-size: 14px;">Target Setting </h5></div>#}
{##}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                 <div class="tile bg-red" style="height: 170px !important;width: 18% !important;">#}
{#                    <a href="{% url 'assessment:set_student_target' %}">#}
{##}
{#                        <div class="tile-body">#}
{#                            <i class="fa fa-sort-amount-asc"></i>#}
{##}
{#                        </div>#}
{#                        <div class="tile-object">#}
{#                            <div class="name"><h5 style="font-size: 14px;">Set Student Target </h5></div>#}
{##}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}

            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
