{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>


    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {

                var currentSelect = $("select#id_section_name_mapping option:selected").index();

                $("select#id_class_name option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });

                $("#id_class_name").click(function (e) {
                    {#                    alert('Hii')#}
                    var class_value = $('select#id_class_name').val();
                    var academic_value = document.getElementById("id_academic_year").value
                    {#                    alert('academic_value- '+academic_value+' class_value- '+class_value)#}
                    var url = '/school/view_subject_details/';
                    viewSubjectDetails(url, academic_value, class_value)
                });


                $("#sys_exp_mapping").click(function (e) {

                    var all_item = $('.item');
{#                    alert(all_item.length);#}
                    var data = []
                    for (var i = 0; i <all_item.length; i++) {
{#                        alert(all_item.length);#}
{#                        return false;#}
{#                        alert($('#' + all_item[i].id + ' .cls').attr('id'))#}
                        var payload = {
                            {#                        'exam_type': $('#' + all_item[i].id + ' #exam_type' + i).val(),#}
                            'obj_id': $('#' + all_item[i].id + ' .obj_id').attr('id'),
                            'cls': $('#' + all_item[i].id + ' .cls').attr('id'),
                            'subj': $('#' + all_item[i].id + ' .subj').attr('id'),
                            'exam': $('#' + all_item[i].id + ' .exam_name_class').val(),
                            'frequency': $('#' + all_item[i].id + ' .frequency_class').val(),
                            'grad': $('#' + all_item[i].id + ' .grad_class').val(),
                        }
                        data.push(payload)
{#                                            alert($('#'+all_item[i].id+' #exam_type'+i).val())#}
                    }


                    $('#json_data').val(JSON.stringify(data));

{#                if (confirm("Do You Want to Define User Defined Exception Also?") === true) {#}
{#                     $("#testForm").submit();#}
{##}
{#                }#}
{#                else{#}
{#                    $("#testForm").submit();#}
{#                    window.location.href="{% url "assessment:reported_score_class_section_mapping" %}";#}
{#                }#}

                });

                function viewSubjectDetails(url, academic_val, class_val) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            class_name: JSON.stringify(class_val),
                            academic_year: academic_val,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {
                                $('#id_subject_name').empty();
                                {#                                $('#id_subject_name').append(#}
                                for (var i = 0; i < data.length; i++) {
                                    $('#id_subject_name').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].subject_name + '</option>')
                                }
                            })
                }

                var all_item = $('.item');
                for (var i = 0; i < all_item.length; i++) {
                    var exam_id = $('#' + all_item[i].id + ' .exam_name_class').val();
                    var report_id = $('#' + all_item[i].id + ' .report_class').val();
{#                    var report_id = $(this).closest('tr').find('td:eq(1)').html();#}
{#                                        alert(report_id);#}
                    var url = '/school/get_system_frequency/';
                    view_mapped_exam_frequency(url, exam_id, all_item[i].id,report_id)
                }

                $(document).on("change", ".exam_name_class", function (e) {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var exam_id = $('#' + parent_id + ' .exam_name_class').val();
                    var report_id = $('#' + parent_id + ' .report_class').val();
{#                    var report_id = $(this).closest('tr').find('td:eq(1)').html();#}
{#                    var report_id = $('#' + parent_id + ' .report_id').val();#}
{#                    alert(report_id);#}
                    var url = '/school/get_system_frequency/';
                    view_mapped_exam_frequency(url, exam_id, parent_id,report_id)
                });


                function view_mapped_exam_frequency(url, exam_id, item_id,report_id) {
                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {
                            exam_id: exam_id,
                            report_id: report_id
                        },
                    })
                        .done(
                            function (data) {
                                $('#' + item_id + ' .frequency_class').empty();
                                $('#' + item_id + ' .frequency_class').append(
                                    '<option value="">Please select</option>');
                                for (var i = 0; i < data.length; i++) {
                                    $('#' + item_id + ' .frequency_class').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].frequency_name + '</option>')
                                }
                            });
                }
            });

            {% comment %}$('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });{% endcomment %}
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Reported Score Class-Section Mapping</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

     <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Reported Score Class-Section Mapping</span>
            </div>
        </div>
        <div class="portlet-body">
            <form method="post" action="{% url 'assessment:save_reported_score_class_section_mapping' %}">
                {% csrf_token %}
{#             <input id="json_data" name="json_data" hidden>#}
                <div class="form-body">
                    <div class="row">
                        <div style="margin-left: 1%" class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 100%" autocomplete="off" class="form-control"
                                        id="id_academic_year" name="year_name" required="" readonly>
                                    <option style="display:none" selected="selected"
                                            value="{{ current_academic_year.id }}">{{ current_academic_year.year_name }}</option>
                                </select>
                            </div>
                        </div>


                        <div  class="col-md-3">
                            <h4>Reported Score Name:</h4>
                            <div class="">
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_grade"
                                        name="repoted_name" required="">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for reported_score_rec in reported_score_recs %}
                                        <option value="{{ reported_score_rec.id }}">{{ reported_score_rec.report_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                <br><br>

                    <div class="portlet-body">

                        <div class="tab-content">
                            <br>
                            <div class="tab-pane active" id="portlet_tab2">
                                <div class="item1 container" id="item1">
                                            <span id="message" style="display:none;">
                                            </span>
                                    <div class="row" style="margin-left: 10%">
                                        <div class="">
                                            <div class="col-md-2">
                                                <h4>Class: </h4>
                                                <select id='id_class_name' name="class_name"
                                                        class="form-control emp"
                                                        required="">
                                                    <option style="display:none" selected="selected" value="">Please
                                                        Select
                                                    </option>
                                                    {% for class_rec in class_recs %}
                                                        <option value="{{ class_rec.id }}">{{ class_rec.class_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="col-md-2">
                                                <h4>Subject: </h4>
                                                <select id='id_subject_name' name="subject_name"
                                                        class="form-control subject_class emp"
                                                        required="">
                                                    <option style="display:none" selected="selected" value="">Please
                                                        Select
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="">
                                            <div class="col-md-2">
                                                <h4>Grading Scheme: </h4>
                                                <select id='id_grade_name' name="grading_name"
                                                        class="form-control grading_class emp"
                                                        required="">
                                                    <option style="display:none" selected="selected" value="">Please
                                                        Select
                                                    </option>
                                                    {% for grade_rec in grade_recs %}
                                                        <option value="{{ grade_rec.id }}">{{ grade_rec.grade_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <a href="javascript:;" id="add" class="btn btn-icon-only green"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a href="javascript:;" class="delete btn btn-icon-only purple"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>

                     <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                                <button id="mapping" type="submit" class="btn green" disabled>Mapping</button>

                                <button onclick="window.location.href='{% url "assessment:reported_score_class_section_mapping" %}'"
                                        type="button" class="btn grey-salsa btn-outline" disabled>Cancel
                                </button>
                            </div>
                        </div>
                    </div>



                </div>
            </form>
        </div>
    <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Mapped Repored Score </span>
                </div>
                <form action="{% url 'assessment:view_report_score_details' %}" id="form_sample_1"
                      class="form-horizontal" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-4">
                        <button type="submit" class="btn blue btn-block" id="export" disabled >View
                            Reported Score Class-Section Mapping
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </body>
    </html>
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">System Required Exceptions</span>
            </div>
        </div>


        <form action="{% url 'assessment:save_system_required_exp' %}" id="testForm"
              class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-striped table-bordered table-hover table-checkable order-column"
                   id="sample_1">
                <thead>
                <input hidden name="reported_score" value="{{ reported_score_rec.id }}">
                <input hidden name="json_data" id="json_data">
                <tr>
                    <th style="display:none;">Id</th>
                    <th style="display:none;">Report Id</th>
{#                    <th>Academic Year</th>#}
                    <th>Class</th>
                    <th>Subject</th>
                    <th style="display:none;">Garding Id</th>
                    <th>Exam Name</th>
                    <th>Frequency</th>
                </tr>
                </thead>
                <tbody>
                {% for rec in system_required_exp %}
                    <tr class="item" id="item{{ forloop.counter }}">
                        <td style="display:none;" class="obj_id" id="{{ rec.id }}"></td>
{#                        <td input="hidden" class="report_class" value="{{ rec.reported_exam_mapp.id }}"></td>#}
                        <td  style="display:none;" ><input class="form-control report_class"  type="hidden" value="{{ rec.reported_exam_mapp.id }}"></td>
{#                        <td style="display:none">{{ rec.reported_exam_mapp.id  }}</td>#}
{#                        <td>{{ rec.year.year_name }}</td>#}
                        <td class="cls" id="{{ rec.class_name.id }}">{{ rec.class_name.class_name }}</td>
                        <td class="subj" id="{{ rec.subject.id }}">{{ rec.subject.subject_name }}</td>
                        <td  style="display:none;" ><input class="form-control grad_class"  type="hidden" value="{{ rec.grade_name.id }}"></td>
                        <td>
                            <select id='id_exam_name' name="exam_name" style="width: 80%"
                                    class="form-control exam_name_class emp"
                                    required="">
                                <option style="display:none" selected="selected"
                                        value="{{ rec.exam_name.id }}">{{ rec.exam_name.exam_name }}</option>

{#                                {% for exam in rec.reported_exam_mapp.reported_score_id.all %}#}
{#                                    <option value="{{ exam.exam_name.id }}">{{ exam.exam_name.exam_name }}</option>#}
{#                                {% endfor %}#}
                            </select>
                        </td>

                        <td>
                            <select id='id_frequency_name' name="frequency_name" style="width: 50%"
                                    class="form-control emp frequency_class"
                                    required="">
                                <option style="display:none" selected="selected" value="">Please
                                    Select
                                </option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="4">
{#                        <ul class="pagination pull-right"></ul>#}
                        <input type="submit" id="sys_exp_mapping" name="delete" value="Mapping"/>
{#                        <input type="button" id="delete" name="delete" value="User Defined Exception"/>#}
                    </td>
{#                    <td colspan="4">#}
{#                        #}
{#                    </td>#}


                </tr>
                </tfoot>
            </table>
        </form>
    </div>
{% endblock %}