{% extends "index.html" %}
{% load staticfiles %}
<link href="{% static 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/docs.css' %}" rel="stylesheet">
<script src="{% static '//code.jquery.com/jquery-2.1.1.js' %}"></script>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static 'assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css' %}" rel="stylesheet"
      type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components"
      type="text/css"/>
<link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="{% static 'assets/layouts/layout2/css/layout.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/layouts/layout2/css/themes/blue.min.css' %}" rel="stylesheet" type="text/css"
      id="style_color"/>
<link href="{% static 'assets/layouts/layout2/css/custom.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" href="favicon.ico"/> </head>

<script src="dist/sweetalert.js"></script>
<link rel="stylesheet" href="dist/sweetalert.css">


{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <Script>

        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")


                $("#update").click(function (event) {

                    {#		    var reason = $("#id_rubrics_mark").val();#}
                    {##}
                    {#		    if( /[^0-9/ ]+/.test( reason ) ) {#}
                    {#		        alert('Only Numbers are allowed for rubrics mark');#}
                    {#		        return false;#}
                    {#		    }#}

                    {#		    if ((reason.trim().length) == 0)#}
                    {#            {#}
                    {#                alert('Input characters only');#}
                    {#		        return false;#}
                    {#            }#}

                });


                $("#id_nationality_name").change(function () {

                    var reason = $("#id_nationality_name").val();

                    if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        alert('Input characters only');
                        return false;
                    }

                    if ((reason.trim().length) == 0) {
                        alert('Input characters only');
                        return false;
                    }

                    return true;
                });


                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();

                    $('.form-control').prop("disabled", false);
                    // $('#id_reason_code').prop("disabled", true);

                });


                $("#id_class_name")
                    .change(
                        function () {

                            class_name = document
                                .getElementById("id_class_name").value

                            var url = '/school/viewAcademic/';
                            viewAcademic(url, class_name)
                        });


            });

        }

        function viewAcademic(url, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        console.log(data);


                        console.log(data[0].academic_year)
                        /* $('#id_apartment_flat_no').empty(); */
                        $('#id_academic_year').empty();
                        $('#id_academic_year').append('<option value="">Please select</option>');

                        $('#id_academic_year').append('<option value="' + data[0].id + '">' + data[0].academic_year + '</option>')

                        /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                         */


                    });
        }


    </Script>

{% endblock %}
{% block content %}

    {#  <form action="{% url 'masters:save_updated_rubrics' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">#}


    {% csrf_token %}

    <div class="col-md-12">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}


        <div class="page-bar" style="margin-bottom: 1px;">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{% url 'registration:home' %}">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="{% url 'assessment:rubrics_sub_tile' %}">Rubrics Sub Tile </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="{% url 'masters:rubrics_category' %}">Rubrics Category</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span> Edit-Delete Rubrics Category</span>
                </li>
            </ul>

        </div>


        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">


                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Rubrics Category Details</span>
                </div>

            </div>
            <div class="portlet-body">


                <!-- BEGIN FORM-->
                <form action="{% url 'masters:save_updated_rubrics_category' %}" id="form_sample_1"
                      class="form-horizontal" method="POST" enctype="multipart/form-data">


                    {% csrf_token %}


                    <div class="col-md-offset-3 col-md-9" style="margin: auto;">
                        <button type="button" class="btn green" id="edit">Edit</button>
                        <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
                        <a data-toggle="modal" href="#static">
                            <button type="button" class="btn red">Delete</button>
                        </a>
                    </div>


                    <div class="form-body">

                        <input type="hidden" value="{{ rubrics_rec.id }}" name="rubrics_category_id"/>
                        <div class="row">
                            <div class="">
                                <label class="col-md-3 control-label">Rubrics Category:

                                </label>
                                <div class="col-md-3">
                                    <input autocomplete="off" class="form-control" id="id_rubrics_category"
                                           pattern="^[\w](?!\d*[-_]+\d*$)[ \w-]+$"
                                           title="Only Alphanumeric is allowed with '-' and '_'"
                                           name="rubrics_category_name" type="text"
                                           value="{{ rubrics_rec.rubric_catgory }}" required disabled/>
                                </div>
                            </div>
                        </div>


                    </div>

            </div>
            </form>

            <br>

        </div>
    </div>

    </form>
    <!-- END FORM-->

    <!-- END VALIDATION STATES-->
    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false "
         style="margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete the Rubrics Category details? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                    <a class=" btn red btn-outline sbold" data-toggle="modal"
                       href="{% url 'masters:delete_rubrics_category' rubrics_rec.id %}"> Delete </a>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery.min.js" type="text/javascript' %}"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-validation/js/additional-methods.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-markdown/lib/markdown.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js' %}"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/pages/scripts/form-validation.min.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{% static 'assets/layouts/layout2/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/layout2/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->


<script>
    document.querySelector('.sweet-3').onclick = function () {
        swal("Good job!", "Your record is added successfully!", "success");
</script>

<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
</script>>
