{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>


            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Rubrics</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">


        <div class="portlet-body">

            <div class="tiles">
                {% if 'assessment.can_view_view_rubric_categories' and 'assessment.can_view_view_rubric_category_list' in perms %}
                <div class="tile bg-red-sunglo" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'masters:rubrics_category' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-th-large"></i>
                        </div>
                        <div class="tile-object">

                            <div class="name">
                                <h5>Rubrics Category</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            {% if 'assessment.can_view_view_rubric_categories' and 'assessment.can_view_view_rubric_score_list' in perms %}

                <div class="tile bg-blue-steel" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'masters:rubrics_masters' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </div>
                        <div class="tile-object">

                            <div class="name">
                                <h5>Rubrics Score Master</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_rubric_categories' and 'assessment.can_view_view_rubric_definition_list' in perms %}



                <div class="tile bg-red" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:rubric_definition_list' %}">

                        <div class="tile-body">
                            <i class="fa fa-calendar-plus-o"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Rubrics Definition</h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_rubric_categories' and 'assessment.can_view_view_rubric_mapping_list' in perms %}

                <div class="tile bg-green-turquoise" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:view_rubric_mapping' %}">

                        <div class="tile-body">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Mapping </h5></div>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_rubric_categories' and 'assessment.can_view_view_rubric_exam_mark' in perms %}

                <div class="tile" style="background-color: #ca7c44;height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:rubric_enter_mark_list' %}">

                        <div class="tile-body">
                            <i class="fa fa-calculator"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Add Scores </h5></div>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'assessment.can_view_view_rubric_categories' and 'assessment.can_view_view_rubric_approval_list' in perms %}

                <div class="tile bg-blue" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:view_rubric_aproval_list' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-check"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Approval </h5></div>
                        </div>
                    </a>

                </div>
            {% endif %}
            {% if 'assessment.can_view_view_rubric_categories' and 'assessment.can_view_view_rubric_status_list' in perms %}

                <div class="tile bg-grey-silver" style="height: 170px !important;width: 18% !important;">
                    <a href="{% url 'assessment:rubric_status' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-th-list"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 14px;">Status </h5></div>

                        </div>
                    </a>
                </div>
            {% endif %}

{#                     <div class="tile bg-purple-studio" style="height: 170px !important;width: 18% !important;">#}
{#                    <a href="{% url 'assessment:rubric_grade_list' %}">#}
{##}
{#                        <div class="tile-body">#}
{#                            <i class="fa fa-line-chart" aria-hidden="true"></i>#}
{##}
{#                        </div>#}
{#                        <div class="tile-object">#}
{#                            <div class="name"><h5 style="font-size: 14px;"> Rubrics Grading Scheme </h5></div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}



            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
