{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>

        window.setTimeout(function () {

            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

        window.onload = function () {
            $(".test").on('click', function (e) {
                window.open($(this).attr("data-href"), '_blank');
            });

            var forms = $('.bod');
            if (forms.length == 0) {
                $('.subm').attr('disabled', true);
            }
            $(document).ready(function () {
                id_subject_name = document.getElementById("id_subject_name").value
                if (id_subject_name == '') {
                    $('#id_subject_name').val($('#id_subject_name'));
                    $('#id_subject_name').prepend($('<option>', {
                        value: '',
                        text: 'All'
                    }));
                }

                id_frequency = document.getElementById("id_frequency").value
                if (id_frequency == '') {
                    $('#id_frequency').val($('#id_frequency'));
                    $('#id_frequency').prepend($('<option>', {
                        value: '',
                        text: 'All'
                    }));
                }

                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });


                $('#reject').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select atleast one record for rejection!');
                        return false;
                    }

                    document.getElementById("task").value = 'reject';

                });

                $('#approve').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select atleast one record for submission!');
                        return false;
                    }

                    document.getElementById("task").value = 'approve';

                });

                $('.approve_data').on('click', function () {
                    {#                    alert("Hello.... "+$(this).val())#}
                    $('#chk' + $(this).val()).prop('checked', 'true');
                    document.getElementById("task").value = 'approve';
                });

                $('.reject_data').on('click', function () {
                    $('#chk' + $(this).val()).prop('checked', 'true');
                    document.getElementById("task").value = 'reject';
                });

                $("#id_academic_year").change(function () {
                    academic_year = document.getElementById("id_academic_year").value
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)
                });

                $("#id_class_name").change(function () {
                    academic_year = document.getElementById("id_academic_year").value
                    class_name = document.getElementById("id_class_name").value

                    var url = '/school/viewSectionDetails/';
                    viewSectionDetails(url, class_name, academic_year)
                });

                $("#id_section_name").change(function () {
                    var academic_value = document.getElementById("id_academic_year").value
                    var class_value = document.getElementById("id_class_name").value
                    var section_value = document.getElementById("id_section_name").value
                    var data = 'rubric_subject'
                    var url = '/school/view_single_subject_details/';
                    viewSubjectDetails(url, academic_value, class_value, section_value,data)
                });

                $("#id_subject_name").change(function () {
                    var academic_value = document.getElementById("id_academic_year").value
                    var class_value = document.getElementById("id_class_name").value
                    var section_value = document.getElementById("id_section_name").value
                    var subject_value = document.getElementById("id_subject_name").value

                    var url = '/school/view_rubric_subject_frequency/';
                    viewSubjectFrequencyDetails(url, academic_value, class_value, section_value, subject_value)
                });

                function viewSubjectFrequencyDetails(url, academic_val, class_val, sec_val, subject_val) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_val,
                        class_name: class_val,
                        section_name: sec_val,
                        subject_name: subject_val,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_frequency').empty();
                            $('#id_frequency').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_frequency').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].value + '</option>')
                            }
                        });
            }

                function viewAcademicDetails(url1, academic_year) {

                    $.ajax({
                        url: url1,
                        type: "GET",
                        data: {
                            academic_year: academic_year
                        },
                    })
                        .done(
                            function (data) {
                                $('#id_class_name').empty();
                                $('#id_class_name').append(
                                    '<option value="">All</option>');

                                for (var i = 0; i < data.length; i++) {
                                    $('#id_class_name').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].class_name + '</option>')
                                }
                            });
                }


                function viewSectionDetails(url, class_name, academic_year) {

                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {
                            class_name: class_name,
                            academic_year: academic_year
                        },
                    })
                    {#                    alert("hhh")#}
                        .done(
                            function (data) {
                                {#                            alert("hhh------>");#}
                                $('#id_section_name').empty();
                                $('#id_section_name').append(
                                    '<option value="">Please select</option>');

                                for (var i = 0; i < data.length; i++) {
                                    $('#id_section_name').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].section_name + '</option>')
                                }
                                $("#id_section_name_mapping option").each(function () {
                                    $(this).siblings("[value='" + this.value + "']").remove();
                                })
                            });
                }

                function viewSubjectDetails(url, academic_val, class_val, sec_val,data) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            academic_year: academic_val,
                            class_name: class_val,
                            section_name: sec_val,
                            data: data,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {
                                $('#id_subject_name').empty();
                                $('#id_subject_name').append(
                                    '<option value="">Please select</option>');

                                for (var i = 0; i < data.length; i++) {
                                    $('#id_subject_name').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].subject_name + '</option>')
                                }
                            });
                }


                $('#sample_1').dataTable().fnDestroy();

                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });


                 $('#button1').click(function () {
                    if((document.getElementById("id_class_name").value=='') && (document.getElementById("id_section_name").value == '') && (document.getElementById("id_subject_name").value == '') && (document.getElementById("id_frequency").value == '')){
                        location.reload(true);
                        return false;
                    }
                })
            });
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:rubrics_sub_tile' %}">Rubrics</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Approve/Reject Rubrics</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Approve/Reject Rubrics</span>
            </div>
        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:rubric_filtered_approval_list' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_academic_year" name="year_name"
                                        required="" readonly="">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Year_Id }}">{{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4>Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required>
                                    {% if class_rec %}
                                        <option style="display: none" value="{{ class_rec.id }}"
                                                selected="selected">{{ class_rec.class_name }}</option>
                                        {#                                        <option value="">Please Select</option>#}
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name"
                                        name="section_name" required>
                                    {% if section_rec %}
                                        <option style="display: none" value="{{ section_rec.id }}"
                                                selected="selected">{{ section_rec.section_name }}</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for section in section_list %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Subject:</h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_subject_name" name="subject_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ subjects_rec.id }}">{{ subjects_rec.subject_name }}</option>
                                    {% for subject_rec in subject_recs %}
                                        <option value="{{ subject_rec.id }}">{{ subject_rec.subject_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Frequency:</h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_frequency" name="frequency_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ frequency_rec.id }}"> {{ frequency_rec.frequency_name }}</option>
                                    {% for frequency_rec in frequency_recs %}
                                        <option value="{{ frequency_rec.id }}">{{ frequency_rec.frequency_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" id="button1" class="btn blue btn-block"
                                    style="margin-top: 38px;width: 200%;">Go
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    </body>
    </html>

    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
        <div class="portlet-body">
            <form action="{% url 'assessment:aprove_reject_rubric' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden type='text' id="task" name="task"/>
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>Submitted By</th>
                        <th>Subject Teacher</th>
                        <th>Supervisor</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Subject</th>
                        <th>Frequency</th>
                        <th>Status</th>
                        <th>Submitted Date</th>
                        <th>Approve</th>
                        <th>Reject</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in scheme_mark_recs %}
                        <tr class="table-row bod">
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td><input type='checkbox' name='check' class="chk" value="{{ obj.scheme_mark_rec.id }}"
                                       id="chk{{ obj.scheme_mark_rec.id }}"></td>
                            <td class="test"
                                data-href='{% url "assessment:rubric_update_entered_mark" obj.scheme_mark_rec.id %}'>{{ obj.scheme_mark_rec.submitted_by.get_pura_name }}</td>
                            <td class="test"
                                data-href='{% url "assessment:rubric_update_entered_mark" obj.scheme_mark_rec.id %}'>
                                {% for teacher_rec in obj.teacher_recs %}
                                    {{ forloop.counter }}) {{ teacher_rec.staff_id.first_name }}
                                    {{ teacher_rec.staff_id.middle_name }} {{ teacher_rec.staff_id.last_name }} <br>
                                {% endfor %}
                            </td>
                            <td class="test"
                                data-href='{% url "assessment:rubric_update_entered_mark" obj.scheme_mark_rec.id %}'>
                                {% for supervisor_rec in obj.supervisor_recs %}
                                    {{ forloop.counter }}) {{ supervisor_rec.supervisor_id.first_name }}
                                    {{ supervisor_rec.supervisor_id.middle_name }}
                                    {{ supervisor_rec.supervisor_id.last_name }} <br>
                                {% endfor %}
                            </td>
                            <td class="test"
                                data-href='{% url "assessment:rubric_update_entered_mark" obj.scheme_mark_rec.id %}'>{{ obj.scheme_mark_rec.academic_mapping.class_name.class_name }}</td>
                            <td class="test"
                                data-href='{% url "assessment:rubric_update_entered_mark" obj.scheme_mark_rec.id %}'>{{ obj.scheme_mark_rec.academic_mapping.section_name.section_name }}</td>
                            <td class="test"
                                data-href='{% url "assessment:rubric_update_entered_mark" obj.scheme_mark_rec.id %}'> {{ obj.scheme_mark_rec.scheme_mapping.subject.subject_name }}</td>
                            {#                            <td> {{ obj.scheme_mapping.scheme_name.scheme_name }}</td>#}
                            <td class="test"
                                data-href='{% url "assessment:rubric_update_entered_mark" obj.scheme_mark_rec.id %}'> {{ obj.scheme_mark_rec.frequency.frequency_name }}</td>
                            <td class="test"
                                data-href='{% url "assessment:rubric_update_entered_mark" obj.scheme_mark_rec.id %}'>
                                {% if obj.scheme_mark_rec.is_submitted == 0 %}
                                    Not Submitted
                                {% else %}
                                    Submitted
                                {% endif %}
                            </td>
                            <td class="test" data-href='{% url "assessment:rubric_update_entered_mark" obj.scheme_mark_rec.id %}'>{{ obj.scheme_mark_rec.updated_on }}</td>

                            <td>
                                <button type="submit" class="approve_data btn blue" id=" approve1" name="id_approve1"
                                        value="{{ obj.scheme_mark_rec.id }}"
                                        style=" width: 100%;  margin-top: 2%"> Approve
                                </button>
                            </td>
                            <td>
                                <button type="submit" id="reject1" class="reject_data btn red" name="id_reject1"
                                        value="{{ obj.scheme_mark_rec.id }}"
                                        style="width:100%;margin-top: 2%"> Reject
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    {% comment %}<tfoot>
                    <tr>
                        <td colspan="6">
                            <button type="submit" class="btn blue subm" id="approve"
                                    style=" width: 20%; margin-left: 25%; margin-top: 2%"> Approve
                            </button>
                            <button type="submit" id="reject" class="subm btn red"
                                    style="width: 20%; margin-left: 25%; margin-top: 2%"> Reject
                            </button>
                        </td>
                    </tr>
                    </tfoot>{% endcomment %}
                </table>
            <button type="submit" class="btn blue subm" id="approve" style=" width: 10%; margin-left: 40%; margin-top: 2%"> Approve </button>
            <button type="submit" id="reject" class="subm btn red" style="width: 10%; margin-top: 2%"> Reject </button>
            </form>
        </div>
    </div>

{% endblock %}