{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>

        window.setTimeout(function () {

            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });


                $('#reject').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select atleast one record for rejection!');
                        return false;
                    }

                    document.getElementById("task").value = 'reject';

                });

                $('#approve').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select atleast one record for submission!');
                        return false;
                    }

                    document.getElementById("task").value = 'approve';

                });

                {#                academic_year = document.getElementById("id_academic_year").value#}
                {#                var url1 = '/school/viewAcademicDetails/';#}
                {#                viewAcademicDetails(url1, academic_year);#}

                $("#id_academic_year").change(function () {
                    academic_year = document.getElementById("id_academic_year").value
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)
                });

                $("#id_class_name").change(function () {
                    academic_year = document.getElementById("id_academic_year").value
                    class_name = document.getElementById("id_class_name").value

                    var url = '/school/viewSectionDetails/';
                    {#                    viewSectionDetails(url, class_name, academic_year)#}
                });


                function viewAcademicDetails(url1, academic_year) {

                    $.ajax({
                        url: url1,
                        type: "GET",
                        data: {
                            academic_year: academic_year
                        },
                    })
                        .done(
                            function (data) {
                                $('#id_class_name').empty();
                                $('#id_class_name').append(
                                    '<option value="">All</option>');

                                for (var i = 0; i < data.length; i++) {
                                    $('#id_class_name').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].class_name + '</option>')
                                }
                            });
                }


                $('#sample_1').dataTable().fnDestroy();

                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });


            });
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:skill_tracker_sub_tile' %}">Skill Tracker </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Scheme Status</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Scheme Status</span>
            </div>
        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:scheme_status_list' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                            <input name="year_name" value="{{ Selected_Year_Id }}" hidden>
                                <select autocomplete="off" class="form-control" id="id_academic_year" name="year_name" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Year_Id }}">{{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4>Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name">
                                    {% if class_rec %}
                                        <option style="display: none" value="{{ class_rec.id }}"
                                                selected="selected">{{ class_rec.class_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Subject Teacher:</h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_subject_name" name="subject_tchr_name">
                                       {% if subject_tchr_rec %}
                                    <option style="display: none" value="{{ subject_tchr_rec.id }}"
                                            selected="selected">{{ subject_tchr_rec.get_pura_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}

                                    {% for teacher_rec in all_teacher_recs %}
                                        <option value="{{ teacher_rec.id}}" >{{ teacher_rec.get_pura_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Status: </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="status_name">

                                    {% if status_id %}
                                    <option style="display: none" value="{{ status_id }}"
                                            selected="selected">{{ status_rec}}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}
{#                                    <option value="1">Not Started</option>#}
                                    <option value="2">Draft</option>
                                    <option value="3">Under Review</option>
                                    <option value="4">Final</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <button type="submit" id="button1" class="btn blue btn-block" style="margin-top: 38px;width: 150px;">Go
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    </body>
    </html>

    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">

        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Scheme Status</span>
            </div>
            <form action="{% url 'assessment:export_scheme_status_records' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-2">
                    <input hidden id="e_id_academic_years" name="e_year_name" value="{{ Selected_Year_Id }}">
                    <input hidden id="e_id_class_name" name="e_class_name" value="{{ class_rec.id }}">
                    <input hidden id="e_id_section_name" name="e_status_name" value="{{ status_id }}">
                    <input hidden id="e_id_subject_name" name="e_subject_tchr_name" value="{{ subject_tchr_rec.id }}">
{#                    <input hidden id="e_id_exam_scheme_name" name="e_exam_scheme_name" value="{{ scheme_rec.id }}">#}

                    <button type="submit" class="btn blue btn-block" id="export">Export</button>
                </div>
            </form>
        </div>

        <div class="portlet-body">
            <form action="{% comment %}{% url 'assessment:scheme_status_list' %}{% endcomment %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden type='text' id="task" name="task"/>
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th>Sr No.</th>
                        <th>Submitted By</th>
                        <th>Subject Teacher</th>
                        <th>Supervisor</th>
                        {#                        <th>Academic Year</th>#}
                        <th>Class</th>
                        <th>Section</th>
                        <th>Subject</th>
                        {#                        <th>Scheme Name</th>#}
{#                        <th>Frequency</th>#}
                        {#                        <th>Submitted Date</th>#}
                        <th>Status</th>
                        <th>Approved By &nbsp;&nbsp;</th>

                    </tr>
                    </thead>
                    <tbody> {% comment %}ab = [rec['Submitted_By'], rec['Subject_Teacher'], rec['Supervisor'], rec['Academic_Year'], rec['Class'],
              rec['Section'], rec['Subject'], rec['Grade_Scheme'], rec['Scheme'], rec['Approved_By'], rec['Status']]{% endcomment %}
                    {% for rec in final_list %}
                        <tr>
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ rec.Submitted_By.get_pura_name }}</td>
                            <td>{{ rec.Subject_Teacher }}</td>
                            <td>{{ rec.Supervisor }}</td>
                            {#                            <td>{{ rec.Academic_Year }}</td>#}
                            <td>{{ rec.Class }}</td>
                            <td>{{ rec.Section }}</td>
                            <td>{{ rec.Subject }}</td>
                            {#                            <td>{{ rec.Grade_Scheme }}</td>#}
                            {#                            <td>{{ rec.Scheme }}</td>#}

                            {% if rec.Status == 'Draft' %}
                                <td>Draft</td>
                            {% else %}
                                 <td>{{ rec.Status }}</td>
                            {% endif %}

                             {% comment %}{% if rec.Status == 'Under Review' %}
                                <td>Under Review</td>
                            {% else %}{% endcomment %}
                        {% if rec.Status == 'Final' %}
                            <td>{{ rec.Approved_By.get_pura_name }}</td>

                        {% else %}
                        <td></td>
                        {% endif %}


{#                            {% endif %}#}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}