{% extends "index.html" %}
{% load staticfiles %}



{% block ScriptBlock %}

    <script>
        window.onload = function () {
            var topic = $('#id_topic').val()
            var sub_strand = $('#id_sub_strand').val()
            var strand = $('#id_strand_name').val()
            var subject = $('#id_subject_name').val()
            var id_perodic_scheme = $('#id_perodic_scheme').val()

            if (topic == "") {
                $('#id_topic').val($('#id_topic'));
                $('#id_topic').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }
             if (topic == "") {
                $('#id_perodic_scheme').val($('#id_perodic_scheme'));
                $('#id_perodic_scheme').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }

            if (sub_strand == "") {
                $('#id_sub_strand').val($('#id_sub_strand'));
                $('#id_sub_strand').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }
            if (strand == "") {
                $('#id_strand_name').val($('#id_strand_name'));
                $('#id_strand_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }
            if (subject == "") {
                $('#id_subject_name').val($('#id_subject_name'));
                $('#id_subject_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }


            $(document).ready(function () {

                $(".emp").change(function (e) {
                    var value = $(this).val();
                    var selectbox = $('#correct_answer')
                    for (var i = 0; i < selectbox.options.length; i++) {
                        if (selectbox.options[i].value == 'D')
                            selectbox.remove(i);
                    }
                    $('#correct_answer').append('<option value="' + value + '">' + value + '</option>')
                });


                $("#id_subject_name").change(function (e) {
                    var subject_id = $(this).val()
                     var perodic_scheme_id = $('#id_perodic_scheme').val()
                    var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id,perodic_scheme_id)

                });
                $("#id_strand_name").change(function (e) {
                    var strand_name = $(this).val()
                    var url1 = '/school/subject_realted_substrand_perodic_defination/';
                    subject_realted_substrand_perodic_defination(url1, strand_name)

                });

                $("#id_sub_strand").change(function (e) {
                    var substrand_name = $(this).val()
                    var url1 = '/school/subject_realted_topic_perodic_defination/';
                    subject_realted_topic_perodic_defination(url1, substrand_name)

                });

                $("#id_perodic_scheme").change(function (e) {
                    var perodic_scheme_id = $(this).val()
                    var url1 = '/school/perodic_scheme_related_subjects/';
                    perodic_scheme_related_subjects(url1, perodic_scheme_id)

                });



                var count = 0;
                var last_max = 0;

                $("#add").click(function () {
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {
                        if (tex[k].value === '') {
                            flag_val = true;
                        }
                    }
                    ++count;
                    return addForm(this, count);
                });


                $(".delete").click(function () {

                    return deleteForm(this, 'sub_strands');
                });

                function subject_realted_strand_perodic_defination(url, subject_id,perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            subject_id: subject_id,
                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_strand_name').empty();
                            $('#id_strand_name').append('<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_strand_name').append('<option value="' + data[i].id + '">'
                                    + data[i].strand_name + '</option>')
                                $('#id_strand_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_substrand_perodic_defination(url, strand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            strand_name: strand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_sub_strand').empty();
                            $('#id_sub_strand').append('<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                                $('#id_sub_strand').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }
                 function perodic_scheme_related_subjects(url, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_subject_name').empty();
                            $('#id_subject_name').append('<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append('<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                                $('#id_subject_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_topic_perodic_defination(url, substrand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            substrand_name: substrand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_topic').empty();
                            $('#id_topic').append('<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_topic').append('<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                                $('#id_topic').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }
            })
        }


    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>



            <li>
                <span>Search Question</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red"></i>
            <span class="caption-subject font-red sbold uppercase">Search Question</span><br><br>
        </div>
        <a href="/school/export_all_questions/" class="btn solid green">Export All Questions</a>
    </div>

    <div class="portlet-body">
        <div class="form-body">
            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:filter_search_question' %}" id="form_sample_1">
                {% csrf_token %}
                <div class="row">

                    <div class="col-md-2">
                        <h4>Periodic Scheme </h4>
                        <div class="">

                            <select autocomplete="off" class="form-control" data-live-search="true"
                                    id="id_perodic_scheme" title="Select Subject" name="perodic_scheme" required>
                                <option style="display : none" selected="selected"
                                        value="{{ perodic_assesment_recs.id }}"> {{ perodic_assesment_recs.perodic_scheme_name }}</option>
                                {% for rec in perodic_scheme %}
                                    <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>



                    <div class="col-md-2">
                        <h4>Subject </h4>
                        <div class="">
                            <select autocomplete="off" class="form-control" data-live-search="true"
                                    id="id_subject_name" name="subject_name" required>
                                <option style="display : none" selected="selected"
                                        value="{{ selected_subject.id }}"> {{ selected_subject.subject_name }}</option>

                            </select>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <h4>Strand </h4>

                        <div class="">
                            <select autocomplete="off" class="form-control" data-live-search="true"
                                    id="id_strand_name" name="strand_name" required>
                                <option style="display : none" selected="selected"
                                        value="{{ perodic_strand_id }}"> {{ selected_strand.strand_name }}</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-2">
                        <h4>Sub Strand </h4>

                        <div class="">
                            <select autocomplete="off" class="form-control" data-live-search="true"
                                    id="id_sub_strand" name="sub_strand" required>
                                <option style="display : none" selected="selected"
                                        value="{{ sub_strand }}"> {{ selected_substrand.substrands_name }}</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-2">
                        <h4>Topic </h4>

                        <div class="">
                            <select autocomplete="off" class="form-control" data-live-search="true"
                                    id="id_topic" name="topic_name" required>
                                <option style="display : none" selected="selected"
                                        value="{{ selected_topic.id }}"> {{ selected_topic.topic }}</option>
                            </select>


                        </div>
                    </div>


                    <div class="col-md-2">
                        <button type="submit" class="btn blue btn-block" id="go" style="margin-top: 38px;">GO
                        </button>
                    </div>
                </div>
            </form>

            <br>

            <table class="table table-striped table-bordered table-hover table-checkable order-column"
                   id="sample_1">
                <thead>
                <tr>
                    <th style="display:none;">Sr No</th>
                    <th>Question Type</th>
                    <th>Question Title</th>
                    <th>Question</th>
                    <th>Mark</th>
                    <th>View Question</th>

                </tr>
                </thead>
                <tbody>

                {% for obj in question_obj %}

                    <tr style="cursor: pointer;" name="data" id="body{{ obj.student_id }}" class="body">
                        <td style="display:none;">{{ forloop.counter }}</td>
                        <td>{{ obj.question_type }}</td>
                        <td>{{ obj.title }}</td>
                        <td>{{ obj.question_name|safe}}</td>
                        <td>{{ obj.mark }}</td>
                        <td>
                            <button type="button" id="view{{ obj.id }}" class="btn blue btn-block"
                                    {% if obj.question_type == "MCQ"  %}
                                    onclick="window.location='{% url 'assessment:view_question' obj.id %}'">View
                                    {% elif obj.question_type == "Short Text" %}
                                    onclick="window.location='{% url 'assessment:view_short_text_question' obj.id  %}'">View
                                    {% elif obj.question_type == "MCQ multiple response" %}
                                    onclick="window.location='{% url 'assessment:view_mcq_multiple_response' obj.id  %}'">View
                                    {% elif obj.question_type == "Fill In The Blank" %}
                                    onclick="window.location='{% url 'assessment:edit_fill_in_the_blank' obj.id  %}'">View
                                    {% elif obj.question_type == "Match Order List" %}
                                    onclick="window.location='{% url 'assessment:edit_match_the_pair' obj.id  %}'">View
                                     {% elif obj.question_type == "Order List Question" %}
                                    onclick="window.location='{% url 'assessment:edit_order_list_question' obj.id   %}'">View



                                {% endif %}

                            </button>
                        </td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
    </div>
{% endblock %}

