{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->
{% endblock %}
{% block ScriptBlock %}

    <script>

        window.onload = function () {

            $('#submit1').attr('disabled', true);

	     var tb_count = $('.table_count')
            if (tb_count.length > 0) {
                $('#submit1').attr('disabled', false);
            }

            var sec_url = '/school/view_selected_target_freq/';
            viewSelectedFreq(sec_url, "{{ section_id_list }}")

            function viewSelectedFreq(url, selected_list) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        selected_list: selected_list,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_section_name').empty();
{#                            alert(JSON.stringify(data));#}
{#                            return false;#}
                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                            }
                            $('#id_section_name').val(data[0].selected_list);
                        });
            }




            $(document).on("click", "#submit1", function (e) {

                var is_empty = false;
                var all_parents = $('.item');
                var grade_flag=false;


                var data = []
                var all_exam_scheme_rec = []
                for (var i = 0; i < all_parents.length; i++) {
                    var recs = $('#' + all_parents[i].id + ' .rec');
                    var payload = {};
                    var count = 0;
                    for (var j = 0; j < recs.length; j++) {

{#                        if($('#grade-' + j).val()=='')#}
{#                            {#}
{#                                $('#grade-' + j).css('border-color', 'red');#}
{#                                grade_flag=true;#}
{#                            }#}

                        payload[recs[j].id] = $('#' + all_parents[i].id + ' #' + recs[j].id).val();

                        if($('#' + all_parents[i].id + ' #' + recs[j].id).val()==''){
                            $('#' + all_parents[i].id + ' #' + recs[j].id).css('border-color', 'red');
                            grade_flag=true;

                        }
                        else{
                            $('#' + all_parents[i].id + ' #' + recs[j].id).css('border-color', 'black');
                        }

                        if (j > 0) {
                            payload['frequency-' + j] = $('#frequency-' + j).val();
                            payload['exam_name-' + j] = $('#exam_name-' + j).val();


                            count++;
                        }

                    }
                    payload['count'] = count;
                    data.push(payload);
                }

{##}
                if (grade_flag === true) {
                    alert("Please Enter The Grade Then Save.")
                    $(this).attr('disabled',false);
                    return false;

                }
{#                console.log(JSON.stringify(data))#}
{#                alert(JSON.stringify(data));#}
{#                return false;#}

                $('#id_data').val(JSON.stringify(data))
{#                console.log(JSON.stringify(data))#}

                $('#id_subject_name1').val(JSON.stringify(data))
                $('#set_student_target_save_id').submit();

                {#return false;#}
            });


            $(".frequency_change").change(function () {

                if (confirm("Do you want to override set targets?") == true) {
                     var frequency_value = $(this).val();
                     var index = $(this).attr('id').split('-')[1]
                     var all_freq = $('.grade-' + index);
                     all_freq.each(function () {
                        $(this).val(frequency_value);
                        })

                    }
                    else {
                    return false;
                    }

            });




            $("#id_academic_year").change(function () {
                var academic_year = document.getElementById("id_academic_year").value;


            });

            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;


                {#                    alert('class_name ---> '+class_name+' academic_year---> '+academic_year);#}

                {#var url1 = '/school/StudentTargetViewSectionDetail/';#}
                {#var url1 = '/school/viewSectionDetails/';#}
                var url1 = '/school/StudentTargetViewSectionDetail/';
                ViewSectionDetailStudent(url1, academic_year, class_name);

                {#var url = '/school/view_mapped_subject_list/';#}
                {#ViewMappedSubjectList(url, academic_year, class_name)#}
            });

            $("#id_section_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                {#                    alert(class_name);#}
                var academic_year = document.getElementById("id_academic_year").value;
{#                var section_name = document.getElementById("id_section_name").value;#}
                var section_name = $('select#id_section_name').val();

                var url = '/school/Student_Target_MappedSubjectList/';
                ViewMappedSubjectList(url, academic_year, class_name, section_name)


            });

            $(document).on("click", "#button1", function () {

                var section_name = $('#id_section_name').val();
                if ($('#id_class_name').val() === '') {
                    $('#id_class_name').css('border-color', 'red');
                    alert("Please Select Class ");
                    return false;
                }
                else if (section_name==null) {
                    $('#id_section_name').css('border-color', 'red');
                    alert("Please Select Section ");
                    return false;
                }

                else if ($('#id_subject_name').val() === ''){
                    $('#id_subject_name').css('border-color', 'red');
                    alert("Please Select Subject ");
                    return false;
                }

                $('#section_hidden_id').val(JSON.stringify($('select#id_section_name').val()));
                $('#exportForm').submit();

            });

            {% comment %}$("#id_subject_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                {#                    alert(class_name);#}
                var academic_year = document.getElementById("id_academic_year").value;
                var subject_name = document.getElementById("id_subject_name").value;
                //alert('class_name ---> '+class_name+' academic_year---> '+academic_year);
                {#var url1 = '/school/get_target_name/';#}


            });{% endcomment %}


            function ViewMappedSubjectList(url, academic_val, class_val, section_name) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_val,
                        class_name: class_val,
                        section_name: JSON.stringify(section_name),

                        {#                        section_name: sec_val,#}
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            {#                            alert(JSON.stringify(data));#}

                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].sub_id + '">'
                                    + data[i].sub_value + '</option>')
                            }
                        });
            }

            function ViewSectionDetailStudent(url, academic_year, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name

                        },
                })

                    .done(
                        function (data) {
                            $('#id_section_name').empty();
{#                            $('#id_section_name').append(#}
{#                                '<option value="">Please select</option>');#}

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                            }
                        });
            }

            var academic_years = document.getElementById("id_academic_year").value;
            if (academic_years == '') {
                $('#id_academic_years').val($('#id_academic_years'));
                $('#id_academic_years').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'

                }));
            }

            var class_name = document.getElementById("id_class_name").value;
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }
            var section_name = document.getElementById("id_section_name").value;
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            var subject_name = document.getElementById("id_subject_name").value;
            if (subject_name == '') {
                $('#id_subject_name').val($('#id_section_name'));
                $('#id_subject_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }





        }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:target_setting_sub_tile' %}">Target Setting Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>

                <a href="{% url 'assessment:all_set_student_target_list' %}">View Student Target List </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span class="title">Student Target Details</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->

    <div class="portlet light portlet-fit portlet-form ">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Student Target Details</span>
            </div>

        </div>
        <div class="portlet-body">



            <form method="post" action="{% url 'assessment:set_student_targert_post_page' %}" id="exportForm">
                {% csrf_token %}
                <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>
                <div class="row">


                    <div class="col-md-2">
                        <h4>Academic Year: </h4>

                        <div class="">

                            <input type="hidden" value="{{ Selected_Year_Id }}" id="id_academic_year" name="year_name">

                            <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                            <select style="width: 100%;" autocomplete="off" class="form-control" data-live-search="true"
                                    id="id_academic_year"
                                    name="year_name" readonly>

                                <option style="display : none" selected="selected"
                                        value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <h4> Class </h4>
                        <div class="">

                            <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                    name="class_name" required="">
                                <option style="display:none" selected="selected"
                                        value="{{ selected_class_id }}"> {{ selected_class_name }}</option>
                                {% for cls in class_list %}
                                    <option value="{{ cls.id }}">{{ cls.class_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


{#                    <div class="col-md-2">#}
{#                        <h4> Section </h4>#}
{#                        <div class="">#}
{#                            <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"#}
{#                                    required="">#}
{##}
{#                                <option style="display:none" selected="selected"value="{{ selected_section_id }}"> {{ selected_section_name }}</option>#}
{##}
{##}
{#                                {% for section in section_list %}#}
{#                                    <option value="{{ section.id }}">{{ section.section_name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
                     <div class="col-md-2">
                        <h4> Section </h4>
                        <div class="">
                        <input id="section_hidden_id" hidden name="section_hidden_data">
                            <select autocomplete="off" class="form-control " multiple id="id_section_name" name="section_name"required="">

{#                                <option style="display:none" selected="selected"value="{{ selected_section_id }}"> {{ selected_section_name }}</option>#}
{##}
{##}
{#                                {% for section in section_list %}#}
{#                                    <option value="{{ section.id }}">{{ section.section_name }}</option>#}
{#                                {% endfor %}#}
                            </select>
                        </div>
                    </div>



                    <div class="col-md-2">
                        <h4>Subject:</h4>
                        <div class="">
                            <select style="width: 100%;" autocomplete="off" class="form-control" id="id_subject_name"
                                    name="subject_name"
                                    required="">
                                <option style="display :none" selected="selected"
                                        value="{{ selected_subject_id }}"> {{ selected_subject_name }}</option>
                                {% for subject_rec in subject_list %}
                                    <option value="{{ selected_subject_id }}">{{ selected_subject_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button type="button" id="button1" class="btn blue btn-block" style="margin-top: 38px;">Go
                        </button>
                    </div>


                </div>
            </form>

            <div class="form-body">
                <form method="post" action="{% url 'assessment:set_student_target_save' %}" id="set_student_target_save_id">
                {% csrf_token %}

                    <input hidden type='text' id="id_subject_name1" name="data">
                    <input hidden type='text' id="id_class" name="year_name" value="{{ Selected_Year_Id }}">
                    <input hidden type='text' id="id_sec" name="class_name" value="{{ selected_class_id }}">
                    <input hidden type='text' id="id_acd" name="section_name" value="{{ selected_section_id }}">
                    <input hidden type='text' id="subject_name_id" name="subject_name"
                           value="{{ selected_subject_id }}">
                    <input hidden type='text' id="id_exam_scheme_rec" name="all_exam_scheme_rec"
                           value="{{ exam_scheme_rec }}">
                    <input  hidden type='text' id="id_frequency_name" name="frequency_list" value="{{ frequency_list }}">

                    <div style="overflow: auto ;white-space: nowrap">
                        <table name="data"class="table table-striped table-bordered table-hover table-checkable order-column" id=""
                       role="grid" aria-describedby="sample_1_info">
                    <thead>


                    <tr>

                        <th style="display: none">ID</th>
                        <th> Student Name</th>
                        <th> Student Code</th>
                        <th> Scodoo Id</th>
                        <th> Class</th>
                        <th> Section</th>
                        {% for obj in modelDict %}

                            <th> {{ obj.exam_name.exam_name }}
                                    <br>
                                {{ obj.frequency_list.frequency_name }}
                                <input hidden id="frequency-{{ forloop.counter }}" value="{{ obj.frequency_list.id }}">
                                <input hidden id="exam_name-{{ forloop.counter }}" value="{{ obj.exam_name.id }}">

                                <select autocomplete="off" class="form-control frequency_change"
                                        id="parent_garde-{{ forloop.counter }}"
                                        name="sub_strand_filter" style="width: max-content">


                                    <option selected="Please Select">Please Select</option>

                                    {% for grade in obj.garde_obj %}
                                        <option value="{{ grade.id }}"> {{ grade.grades }}</option>
                                    {% endfor %}

                                </select>
                            </th>

                        {% endfor %}
                    </tr>

                    </thead>

                    <tbody>
                    {% for obj in final_dict %}
                        <tr id="item{{ forloop.counter }}" class="item table_count" >

                            <td hidden></td>
                            <td >{{ obj.get_all_name }}<input type="hidden" class="rec" id="studentid"
                                                                          value="{{ obj.id }}"></td>


                            <td>{{ obj.student_code }}</td>
                            <td>{{ obj.odoo_id }}</td>
                            <td>{{ obj.academic_class_section.class_name.class_name }}</td>
                            <td>{{ obj.academic_class_section.section_name.section_name }}</td>


                            {% with final_dict|index_returner:obj as val %}
                                {% for grade_rec in val %}
                                    <td>
                                        <select autocomplete="off" id="grade-{{ forloop.counter }}"class="form-control grd_class rec grade-{{ forloop.counter }}"style="width: max-content">
{#                                            <option style="display : none" selected="selected"#}
{#                                                    value="{{ grade_rec.grade.id }}">{{ grade_rec.grade.grades }}</option>#}
{#                                        <option selected="">Please Select</option>#}
                                        <option style="display:none" selected="selected" value="">Please Select
                                                    </option>

                                            {% for grade_obj in grade_rec.grade_detail %}
                                                <option value="{{ grade_obj.id }}"> {{ grade_obj.grades }} </option>
                                            {% endfor %}
                                        </select>

                                    </td>
                                {% endfor %}
                            {% endwith %}
                        </tr>
                    {% endfor %}

                    </tr>

                    </tbody>
                </table>
                    </div>

                    <div class="col-md-3">
                        <button type="button" value="Submit" id="submit1" class="btn blue btn-block"
                                style="margin-left:165% ";>Save
                        </button>
                    </div>

            </form>

            </div>
        </div>
        <!-- END FORM-->
    </div>
    </div>

{% endblock %}
                        
      
