{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->


{% endblock %}
{% block ScriptBlock %}

    <script>
        window.setTimeout(function () {

            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);




        window.onload = function () {

            {% comment %}$(document).ready(function () {

                $(document).on("click",".list",function (e) {
                    var x = ($(this).attr('id'));
{#                    alert(x);#}

{#                     var parent_id = $(this).parents('tr:eq(0)').attr('id')#}

                });
            });{% endcomment %}

             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }

    </script>

{% endblock %}

{% block content %}
 <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

              <li>

                <a href="{% url 'assessment:target_setting_sub_tile' %}">Target Setting Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>View Student Target List</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">View Student Target List</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{% url 'assessment:set_student_targert_filter_page' %}">
                                <button id="sample_editable_1_new" class="btn sbold green"> Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1"> -->
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <td hidden></td>
                    <th> Academic Year</th>
                    <th> Class</th>
                    <th> Section</th>
{#                    <th> Exam Name</th>#}
                    <th> Subject</th>
{#                    <th> Frequency</th>#}
                </tr>
                </thead>
                <tbody>
                {% for rec in mapping_rec %}
                    <tr class="odd gradeX list" id ="{{ rec.id }}" onclick="window.location='{% url "assessment:view_set_target_setting" rec.id %}'" style="cursor: pointer;">
                    <td hidden>{{ forloop.counter }}</td>
                    <td> {{ rec.academic_mapping.year_name.year_name }} </td>
                    <td> {{ rec.academic_mapping.class_name.class_name}} </td>
                    <td> {{ rec.academic_mapping.section_name.section_name}} </td>
                    <td> {{ rec.subject_name.subject_name }} </td>
                   {% comment %} <td> {{ rec.scheme_mapping.exam_name.exam_name}} </td>
                    <td> {{ rec.scheme_mapping.exam_scheme_mapp_exam_name_relation.all.0.subject.subject_name}} </td>
                    <td> {{ rec.frequency.frequency_name}} </td>{% endcomment %}
                    {% comment %}<td>  {% if rec.is_submitted == 0 %}
                        Not Submitted
                    {% else  %}
                        Submitted
                    {% endif %}
                    </td>

                    <td>
                        {% if rec.is_archived == 0 %}
                            Not Archive
                        {% else %}
                            Archived
                        {% endif %}
                    </td>{% endcomment %}
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}


