{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  {# Used For Color Picker#}

    <style type="text/css">
        .row {
            margin-left: -150px;
            margin-right: 20px;
            margin-top: 0px;
        }

        fieldset {
            font-family: sans-serif;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 20px;
            color: #34495e;
        }

        .emp_chk {
            width: 80px;
        }

        .emp1 {
            width: 150px;
        }

        .label {
            text-shadow: none !important;
            font-size: 14px;
            font-weight: 200;
            padding: 3px 0px;
            color: black;
            font-family: fantasy;
        }


    </style>


    <script>
        window.onload = function () {

            $(document).ready(function () {
                $("#id_subject_name").change(function (e) {
                    var subject_id = $(this).val()
                    var perodic_scheme_id = $('#id_perodic_scheme').val()
                    var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id,perodic_scheme_id)

                });
                $("#id_strand_name").change(function (e) {
                    var strand_name = $(this).val()
                    var perodic_scheme_id = $('#id_perodic_scheme').val()
                    var url1 = '/school/subject_realted_substrand_perodic_defination/';
                    subject_realted_substrand_perodic_defination(url1, strand_name)

                });

                $("#id_sub_strand").change(function (e) {
                    var substrand_name = $(this).val()
                    var url1 = '/school/subject_realted_topic_perodic_defination/';
                    subject_realted_topic_perodic_defination(url1, substrand_name)

                });

                $("#id_perodic_scheme").change(function (e) {
                    var perodic_scheme_id = $(this).val()
                    var url1 = '/school/perodic_scheme_related_subjects/';
                    perodic_scheme_related_subjects(url1, perodic_scheme_id)

                });

                 function subject_realted_strand_perodic_defination(url, subject_id,perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            subject_id: subject_id,
                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_strand_name').empty();
                            $('#id_strand_name').append('<option value="">Please select strand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_strand_name').append('<option value="' + data[i].id + '">'
                                    + data[i].strand_name + '</option>')
                                $('#id_strand_name').prop("disabled", false);
                                }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }
                function subject_realted_substrand_perodic_defination(url, strand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            strand_name: strand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_sub_strand').empty();
                            $('#id_sub_strand').append('<option value="">Please select substrand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                                $('#id_sub_strand').prop("disabled", false);
                                }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_topic_perodic_defination(url, substrand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            substrand_name: substrand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_topic').empty();
                            $('#id_topic').append('<option value="">Please select topic</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_topic').append('<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                                $('#id_topic').prop("disabled", false);
                                }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function perodic_scheme_related_subjects(url, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_subject_name').empty();
                            $('#id_subject_name').append('<option value="">Please select subject</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append('<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                                $('#id_subject_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


    document.getElementById("upload_question_image").onchange = function () {
                     $('#img_id').show()

var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : "+fileExtension.join(', '));
            this.value = '';
            return false;

        }

    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("img_id").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);

};



    // $("#upload_question_image").change(function () {
    //     var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
    //     if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
    //         alert("Only formats are allowed : "+fileExtension.join(', '));
    //         this.value = '';
    //         return false;
    //
    //     }
    //
    // });
    //





            });

        }

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:create_question_subtile' %}"> Create Question</a>
                <i class="fa fa-angle-right"></i>
            </li>



            <li>
                <span>Short Text </span>
            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Short TEXT</span>
            </div>

        </div>
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form action="{% url 'assessment:save_short_text' %}" id="form_sample_1"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-body">


                    <div class="portlet-body">


                        <div class="tab-content">

                            <div class="tab-pane active" id="portlet_tab2">


                                <div style="height: 70px; width: 600px; margin: 0px;">
{#                                    <h4>Title :</h4>#}
                                    <input type="text" placeholder="[Title](max 150 characters)" maxlength="150"
                                           class="form-control" id="title_mcq_s" name="title" value=""
                                           aria-required="true" aria-invalid="false"
                                           aria-describedby="title_mcq_s-error title_mcq_s-error title_mcq_s-error title_mcq_s-error" required>
                                </div>


                                <div class="">
{#                                    <h4>Instruction :</h4>#}
                                    <textarea style="height: 70px; width: 600px; margin: 0px;"
                                              placeholder="instruction" name="instruction" required></textarea>
                                </div>

                                <br>
                                <div id="response">
{#                                    <h4>Question :</h4>#}
                                    <textarea style="height: 70px; width: 600px; margin: 0px;"
                                              placeholder="Question" name="question" id="question" required></textarea>

                                </div>
                                <br>

                                <div >
                                <div id="image_preview" name="data" style="width:100%;">

                                <input type="file" id="upload_question_image" name="upload_question_image_name" accept="image/png, image/jpg, image/jpeg">
                                <img id="img_id" style="margin-top: 10px;display:none" name="upload_qstn_img"width="180px" height="180px" />


                               <!-- <img id="qstn_img" /> -->

                                </div>
                                </div>
                            <br>

                                <div style="height: 70px; width: 600px; margin: 0px;" class="i">
{#                                    <h4>Correct answer :</h4>#}
                                    <input type="text" class="form-control" placeholder="Correct answer" id="answer" name="correct_answer" required>

                                </div>

                                <div style="height: 70px; width: 600px; margin: 0px;" class="i">
{#                                    <h4>Mark :</h4>#}
                                    <input type="number" class="form-control" placeholder="Maximum Score" id="max_score" name="max_score" required>

                                </div>
                                <div class="">
                                    <button type="button"style="height: 35px; width: 600px; margin: 0px;"class="btn blue btn-block" data-toggle="collapse" data-target="#demo">Meta Data</button>
                                 </div>


                                <div id="demo" class="collapse">


                                    <select autocomplete="off" class="form-control" data-live-search="true"
                                            id="id_perodic_scheme" title="Select Subject" name="perodic_scheme" style="height: 35px; width: 600px;margin-top: 2%"
                                            required>
                                        <option value="">Select Perodic Scheme</option>
                                        {% for rec in perodic_scheme %}
                                            <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                                        {% endfor %}
                                    </select>



                                    <select autocomplete="off" class="form-control" data-live-search="true"
                                            id="id_subject_name" title="Select Subject" name="subject_name" style="height: 35px; width: 600px;margin-top: 2%"
                                            required>
                                        <option value="">Select Subject</option>
                                        {% for rec in subject_list %}
                                            <option value="{{ rec.id }}">{{ rec.subject_name }}</option>
                                        {% endfor %}
                                    </select>

                                    <select autocomplete="off" class="form-control" data-live-search="true"
                                            id="id_strand_name" name="strand_name" style="height: 35px; width: 600px;margin-top: 2%"
                                            required>
                                          <option value="">Select Strand</option>

                                    </select>


                                    <select autocomplete="off" class="form-control" data-live-search="true"
                                            id="id_sub_strand" name="sub_strand" style="height: 35px; width: 600px;margin-top: 2%"
                                            required>
                                          <option value="">Select Substrand</option>

                                    </select>

                                    <select autocomplete="off" class="form-control" data-live-search="true"
                                            id="id_topic" name="topic_name" style="height: 35px; width: 600px;margin-top: 2%"
                                            required>
                                          <option value="">Select Topic</option>

                                    </select>


                                </div>

                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div>
                    <p id="title_preview"></p>
                </div>


                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-9" style="margin-left: 40%; margin-right: 50%;">
                            <button id="save" type="submit" class="btn green">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

