{% extends "index.html" %}
{% block ScriptBlock %}

    <style>

    </style>



    <script>


        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {



            var class_name = document.getElementById("id_class_name").value
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'

                    }));
            }
            var section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            var subject_name = document.getElementById("id_subject_name").value
            if (subject_name == '') {
                $('#id_subject_name').val($('#id_subject_name'));
                $('#id_subject_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }
            var data_type = document.getElementById("id_data_type").value
            if (data_type == '') {
                $('#id_data_type').val($('#id_data_type'));
                $('#id_data_type').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

             var select_type = document.getElementById("id_select_type").value
            if (select_type == '') {
                $('#id_select_type').val($('#id_select_type'));
                $('#id_select_type').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)

                 $("#id_academic_year").change(function () {

                    var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });

                 $("#id_class_name").change(function () {
                    var class_name = document.getElementById("id_class_name").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url1, academic_year, class_name);
                });


                $("#id_section_name").change(function () {
                    var academic_year = document.getElementById("id_academic_year").value;
                    var class_name = document.getElementById("id_class_name").value;
                    var section_name = $('#id_section_name').val();

                        $("#id_select_type option[value='0']").remove();
                        $("#id_select_type option[value='1']").remove();
                        $("#id_select_type").append('<option value="0">Skill</option>');
                        $("#id_select_type").append('<option value="1">Exam</option>');



                });

                $("#id_select_type").change(function () {
                    var academic_year = document.getElementById("id_academic_year").value;
                    var class_name = document.getElementById("id_class_name").value;
                    var section_name = $('#id_section_name').val();
                    var select_name = $('#id_select_type').val();

                    var url = '/school/get_mapped_subject/';
                    view_mapped_subject_details(url, academic_year, class_name, section_name,select_name)


                    if (select_name==0){
                        $("#id_data_type").append('<option value="0">Raw Skill Data</option>');
                        $("#id_data_type").append('<option value="1">Grade Skill Data</option>');
                        $("#id_data_type option[value='2']").remove();
                        $("#id_data_type option[value='3']").remove();

                    }
                    else{
                        $("#id_data_type").append('<option value="2">Raw Exam Data</option>');
                        $("#id_data_type").append('<option value="3">Grade Exam Data</option>');
                        $("#id_data_type option[value='0']").remove();
                        $("#id_data_type option[value='1']").remove();


                    }







                });




            });


            function viewAcademicDetails(url1, academic_year) {
                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })
                    .done(
                        function (data) {
                            $('#id_class_name').empty();
                            $('#id_class_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }
                        });
            }

            function ViewSectionDetailStudent(url, academic_year, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name
                        },
                })

                    .done(
                        function (data) {
                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                            }
                        });
            }

            function view_mapped_subject_details(url, academic_year, class_name,section_name,select_name) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_year,
                        class_name: class_name,
                        section_name: section_name,
                        select_name: select_name,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
{#                            alert(data)#}
                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                            }
                        });
            }


        }
    </script>
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    {% csrf_token %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Bulk Download Assessment Data</span>
            </li>
        </ul>
    </div>


    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Bulk Download Assessment Data</span>
            </div>


        </div>
        <form method="post" action="{% url 'assessment:export_all_report' %}" id="exportForm">
            {% csrf_token %}
            <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>
            <div class="row">


                <div class="col-md-2">
                    <h4>Academic Year: </h4>

                    <div class="">
                        <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                        <select style="width: 80%;" autocomplete="off" class="form-control" data-live-search="true"
                                id="id_academic_year"
                                name="year_name" readonly>
                            <option style="display : none" selected="selected"
                                    value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                            {% for Academic_Year in year_list %}
                                <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div style="margin-left: -50px;" class="col-md-2">
                    <h4>Class: </h4>

                    <input value="{{ Selected_Year_Id }}" id="id_academic_year" name="year_name" hidden>
                    <input hidden id="class_hidden_id" name="class_name" value="{{ Selected_Class_Id }}">
                    <div class="">
                        <select style="width: 80%;" autocomplete="off" class="form-control" data-live-search="true"
                                id="id_class_name"
                                name="class_name" required="">
                            <option style="display : none" selected="selected"
                                    value="{{ Selected_Class_Id }}"> {{ selected_class_name }}</option>
                            {% for class in class_list %}
                                <option value="{{ class.id }}">{{ class.class_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div style="margin-left: -50px;" class="col-md-2">
                    <h4> Section: </h4>
                    <div class="">
                        <select style="width: 80%;" autocomplete="off" class="form-control" id="id_section_name"
                                name="section_name"
                                required="">
                            <option style="display : none" selected="selected"
                                    value="{{ Selected_Section_Id }}"> {{ selected_section_name }}</option>
{#                            {% for section in section_list %}#}
{#                                <option value="{{ section.id }}">{{ section.section_name }}</option>#}
{#                            {% endfor %}#}
                        </select>
                    </div>
                </div>

                <div style="margin-left: -50px;" class="col-md-2">
                    <h4>Select Type:</h4>
                    <div class="">
                        <select style="width: 80%;" autocomplete="off" class="form-control" id="id_select_type"
                                name="select_type"
                                required="">
{#                            <option style="display:none" selected="selected"#}
{#                                    value="{{ selected_select_type_id }}">{{ selected_select_name }}</option>#}
{#                            <option value="0">Skill</option>#}
{#                            <option value="1">Exam</option>#}
{#                            <option value="2">Rubrics</option>#}
                        </select>
                    </div>
                </div>




                <div style="margin-left: -50px;" class="col-md-2">
                    <h4>Subject:</h4>
                    <div class="">
                        <select style="width: 80%;" autocomplete="off" class="form-control" id="id_subject_name"
                                name="subject_name"
                                required="">
{#                            <option style="display:none" selected="selected"#}
{#                                    value="">Please Select</option>#}
{#                            {% for subject_rec in subject_recs %}#}
{#                            <option value="{{ subject_rec.id }}">{{ subject_rec.subject_name }}</option>#}
{#                        {% endfor %}#}
                        </select>
                    </div>
                </div>


                    <div style="margin-left: -50px;" class="col-md-2">
                            <h4> Data Type: </h4>
                            <div class="">
                                <select style="width: 80%;" autocomplete="off" class="form-control" id="id_data_type"
                                        name="data_type" required>
                                     <option style="display:none" selected="selected"
                                            value="{{ selected_select_type_id }}"> {{ selected_select_name }}</option>
{#                                    <option value="0">Raw Skill Data</option>#}
{#                                    <option value="1">Grade Skill Data</option>#}
{#                                    <option value="2">Raw Exam Data</option>#}
{#                                    <option value="3">Grade Exam Data</option>#}
                                </select>
                            </div>
                    </div>



                <div class="col-md-2">
                    <button type="submit" id="button1" class="btn blue btn-block" style="margin-top: 38px;">DownloadCsv</button>
                </div>
            </div>
        </form>

<br><br>

    </div>

{% endblock %}