{% extends "index.html" %}
{% load staticfiles %}



{% block ScriptBlock %}

    <script>
        window.onload = function () {

            $(document).ready(function () {

            $(document).on('click','.question_name',function (e) {

                var id = $(this).attr("id")

                if(id === "mcq"){
                    $("#question_type").val("MCQ")
                }

                else if(id === "mcq_multiresponse"){
                    $("#question_type").val("MCQ multiple response")
                }

                else if(id === "order_list_question"){
                    $("#question_type").val("Order List Question")
                }

                else if(id === "match_order_list"){
                    $("#question_type").val("Match Order List")
                }

                else if(id === "short_text"){
                    $("#question_type").val("Short Text")
                }

                else if (id === "fill_in_blank") {
                    $("#question_type").val("Fill In The Blank")
                }



                $("#submit_form").submit()

            })
        })

                };




    </script>

{% endblock %}


{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>

                <a href="{% url 'assessment:review_assessment_page' %}"> Review Assessment </a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span>summary dashboard</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="tiles">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue question_name" id="mcq">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                      <span class="desc">Marks :</span>

                                    <span class="desc" data-counter="counterup"
                                          data-value="{{ mark_in_mcq|floatformat }}"></span>
                                    <span class="desc">Out Of {{ total_mcq_mark|floatformat }}</span>
                                </div>
                                <div class="desc">Multiple Choice Question</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 red question_name" id="mcq_multiresponse">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                      <span class="desc">Marks :</span>
                                    <span class="desc" data-counter="counterup"
                                          data-value="{{ multiresponse_obtain_marks|floatformat }}"></span>
                                    <span class="desc">Out Of {{ total_multiresponse_mark|floatformat }}</span>
                                </div>
                                <div class="desc"> MCQ multiple response</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 green question_name" id="order_list_question">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                      <span class="desc">Marks :</span>
                                    <span class="desc" data-counter="counterup"
                                          data-value="{{ order_list_obtain_marks|floatformat }}">0</span>
                                    <span class="desc">Out Of {{ order_list_total_marks|floatformat }}</span>
                                </div>
                                <div> Order List Question</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 yellow question_name" id="match_order_list">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                      <span class="desc">Marks :</span>
                                    <span class="desc" data-counter="counterup"
                                          data-value="{{ match_order_list_obtain_marks|floatformat }}">0</span>
                                    <span class="desc">Out Of {{ match__order_list_total_marks|floatformat }}</span>
                                </div>
                                <div> Match Order List</div>
                            </div>
                        </a>
                    </div>


                    <div style="margin-top: 15%;">

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 purple question_name" id="fill_in_blank">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                     <span class="desc">Marks :</span>
                                    <span class="desc" data-counter="counterup"
                                          data-value="{{ fill_in_blank_obtain_marks|floatformat }}">0</span>
                                    <span class="desc">Out Of {{ fill_in_blank_total_marks|floatformat }}</span>
                                </div>

                                <div class="desc"> Fill In The Blank</div>

                                {% if question_uncheck_fill %}
                                <div style="color: yellowgreen"> Some Questions are not checked yet </div>
                                {% endif %}
                            </div>
                        </a>
                    </div>


                     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 yellow question_name" id="short_text">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span class="desc">Marks :</span>
                                    <span class="desc" data-counter="counterup" data-value="{{ short_text_obtain_marks|floatformat }}">0</span>
                                   <span class="desc"></span> <span class="desc">Out Of {{ short_text_total_marks|floatformat }}</span>
                                </div>
                                <div class="desc"> Short Text </div>
                                {% if question_uncheck_short %}
                                <div style="color: #dd4b39"> Some Questions are not checked yet </div>
                                {% endif %}
                            </div>
                        </a>
                    </div>

                        </div>

                </div>
            </div>

        </div>
    </div>


    <form method="post" action="{% url 'assessment:view_all_question_subtiles' %}" id="submit_form">
      {% csrf_token %}
    <input type="hidden" name="assessment_id" value="{{ assessment_id }}">
    <input type="hidden" name="student_id" value="{{ student_id }}">
    <input type="hidden" name="student_id" value="{{ student_id }}">
    <input type="hidden" name="question_type" id="question_type">





    </form>

     <form method="post" action="{% url 'assessment:submit_student_assessment' %}" id="submit_form">
            {% csrf_token %}
            <!--<form method="post" action="" id="submit_form"> -->
            <input type="hidden" name="assessment_id" value="{{ assessment_id }}">
            <input type="hidden" name="student_id" value="{{ student_id }}">
            <button type="submit" class="btn blue btn-block" id="submit_id" style="right:10%;margin-top: 38px; width:20%"> Submit </button>

            </form>





{% endblock %}

