{% extends "index.html" %}




{% block styleBlock %}
<style>
table, th, td {
            border: 1px solid rgb(169, 169, 169);
        }
</style>

{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {


            $(document).ready(function () {

                $("#id_subject_name").change(function (e) {
                    var subject_id = $(this).val()
                    var perodic_scheme_id = $('#id_perodic_scheme').val()

                    var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id,perodic_scheme_id)

                });
                $("#id_strand_name").change(function (e) {
                    var strand_name = $(this).val()
                    var url1 = '/school/subject_realted_substrand_perodic_defination/';
                    subject_realted_substrand_perodic_defination(url1, strand_name)

                });

                $("#id_sub_strand").change(function (e) {
                    var substrand_name = $(this).val()
                    var url1 = '/school/subject_realted_topic_perodic_defination/';
                    subject_realted_topic_perodic_defination(url1, substrand_name)

                });
                 $("#id_topic").change(function (e) {
                    var topic_id = $(this).val()
                    var url1 = '/school/subject_based_questions/';
                    subject_based_questions(url1, topic_id)

                });

                   $("#id_perodic_scheme").change(function (e) {
                    var perodic_scheme_id = $(this).val()
                    var url1 = '/school/perodic_scheme_related_subjects/';
                    perodic_scheme_related_subjects(url1, perodic_scheme_id)

                });

                  $(document).on("click", ".edit", function (e) {
                    $("#update").show();
                    $("#edit").hide();
                    $('.dis').prop("disabled", false);

                })


         // $(".question_id").change(function (e) {
         $(document).on("change",".question_id",function() {
             var arr = [];

        $(".question_id").each(function() {

            var id = ($(this).attr("id").split("-")[1])
            if($(this).is(':checked')){

                 arr.push(id);

                 }
            })

            $("#question_mark_hidden_id").val(JSON.stringify(arr))
             var question_data = $("#question_mark_hidden_id").val()
             var url1 = '/school/mark_based_on_question/';
             mark_based_on_question(url1, question_data)

            })



                $(document).on("click", "#update", function () {
                    $('.man').css('border-color', '');
                    var flag = false;

                    $('.man').each(function () {
                        if ($(this).val() == ""||$(this).val()==null) {
                            flag = true;
                        }
                        if (flag == true) {
                            $(this).css('border-color', 'red');
                            return false;
                        }
                    })
                     var count_data = $('input[type="checkbox"]:checked').length;
                        // alert(count_data)

                        if(count_data == 0){
                            alert("Select atleast one question for assessment");
                            return false

                        }

                    if (flag == false) {
                        var total_mark = $("#total_mark_id").val()
                        $("#hidden_total_mark_id").val(total_mark)
                        $("#update").hide();
                        $("#edit").show();



                        $("#update_assessment_form").submit()

                    }
           })

                function perodic_scheme_related_subjects(url, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_subject_name').empty();
                            $('#id_subject_name').append('<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append('<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                                $('#id_subject_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }



                 function subject_realted_strand_perodic_defination(url, subject_id,perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            subject_id: subject_id,
                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_strand_name').empty();
                            $('#id_strand_name').append('<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_strand_name').append('<option value="' + data[i].id + '">'
                                    + data[i].strand_name + '</option>')
                                $('#id_strand_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_substrand_perodic_defination(url, strand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            strand_name: strand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_sub_strand').empty();
                            $('#id_sub_strand').append('<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                                $('#id_sub_strand').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }
                function subject_realted_topic_perodic_defination(url, substrand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            substrand_name: substrand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#id_topic').empty();
                            $('#id_topic').append('<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_topic').append('<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                                $('#id_topic').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                 function subject_based_questions(url, topic_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            topic_id: topic_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                             $('#question_table td').remove();


                            // alert(JSON.stringify(data))
                            var counter = 1

                            for (var i = 0; i < data.length; i++) {
                               var count = counter + i

                               $('#question_table').append('<tbody><tr><td>'+count+'</td><td> <input type="checkbox" name="question_name" data-live-search="true"  class="question_id newid dis man"  data-live-search="true"id="id_question_name-'+data[i].id+'" value="'+data[i].id+'"></td><td>'+ data[i].question_name + '</td></tbody>')

                                 $('#total_mark_id').val("00");

                                $('#question_table').prop("disabled", false);

                                 }

                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }
              function mark_based_on_question(url, question_data) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            question_data: question_data,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            // alert(JSON.stringify(data))

                            $('#total_mark_id').empty();
                            $('#total_mark_id').val(data);


                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


            });
        }


    </script>
{% endblock %}
{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'assessment:all_assessment_list' %}">All Assessment List </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>View Assessment</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red"></i>
            <span class="caption-subject font-red sbold uppercase">View Assessment</span>
        </div>
        <button type="submit" id="edit" class="btn blue btn-block edit" style="float: right; width: 10%;">Edit</button>
        <button type="submit" id="update" class="btn blue btn-block" style="float: right; width: 10%;display: none">Update
        </button>

    </div>
    <div class="portlet-body">


        <!-- BEGIN FORM-->
        <form method="post" id="update_assessment_form"action="{% url 'assessment:update_assessment' %}">
        <!--<form method="post" id="update_assessment_form"action="#"> -->
            {% csrf_token %}

            <div class="row">
                  <input id="question_mark_hidden_id" hidden name="question_data">
                  <input  hidden name="rec_id"value="{{ rec_id }}">

                <div class="col-md-5" style="margin-left: 05%">
                    <h4> Assessment  Title:</h4>
                    <div>
                        <input type="text"class="form-control dis  man"disabled required name="title"id="assessment_title"value="{{ assesment_obj.title }}">
                    </div>
                </div>
                 <div class="col-md-3" style="margin-left: 0%">
                    <h4> Duration:</h4>
                    <div>
                        <input  style="width:73%" type="time"class="form-control dis man" disabled required name="duration"id="duration"value="{{ assesment_obj.duration |time:"H:i"}}">
                    </div>
                </div>

                 <div class="col-md-2">
                    <h4> Assessment Code:</h4>
                    <div>
                        <input  style="width:73%;" type="text" required class="form-control"disabled name="assessmet_code"id="assessmet_code_id"value="{{ assesment_obj.assessment_code|default_if_none:""}}">
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-5" style="margin-left: 05%">
                    <h4> Assessment Description:</h4>
                    <div>
                        <textarea style="width: 100%;height: 90px"required class="dis man" disabled name="description"
                                  id="description">{{ assesment_obj.description }}</textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 style=""> schedule Assessment:</h4>
                    <div>

                        <input style="width:73%"required type="datetime-local" value="{{ schedule_time }}" class="form-control dis man" disabled name="schedule_assessment" id="schedule_assessment_id"
                               >
                    </div>
                </div>


            </div>
        <div class="row">

                 <div class="col-md-5"style="margin-left: 05%">
                     <select autocomplete="off" class="form-control dis man" data-live-search="true"
                             id="id_perodic_scheme" disabled title="Select Subject" name="perodic_scheme"
                             style="height: 35px; width: 100%;margin-top: 2%"
                             required>
                         <option style="display:none" selected="selected"
                                 value="{{ perodic_scheme.0.id }}"> {{ perodic_scheme.0.perodic_scheme_name }}</option>
                         {% for rec in all_perodic_scheme %}
                             <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                         {% endfor %}
                     </select>


                     <select autocomplete="off" class="form-control dis man" data-live-search="true"
                             id="id_subject_name" name="subject_name" disabled
                             style="height: 35px; width: 100%;margin-top: 2%">
                         <option style="display:none" selected="selected"
                                 value="{{ selected_subject.id }}"> {{ selected_subject.subject_name }}</option>
                         {% for rec in subject_list %}
                             <option value="{{ rec.id }}">{{ rec.subject_name }}</option>
                         {% endfor %}
                     </select>

                     <select autocomplete="off" class="form-control dis man" data-live-search="true"
                             id="id_strand_name" name="strand_name"
                             style="height: 35px; width: 100%;margin-top: 2%"
                             required disabled>
                         <option selected="selected"
                                 value="{{ selected_strand.id }}">{{ selected_strand.strand_name }}</option>

                     </select>


                     <select autocomplete="off" class="form-control dis man" data-live-search="true"
                             id="id_sub_strand" name="sub_strand"
                             style="height: 35px; width: 100%;margin-top: 2%"
                             required disabled>
                         <option selected="selected"
                                 value="{{ substrand_obj.id }}">{{ selected_substrand.substrands_name }}</option>

                     </select>

                     <select autocomplete="off" class="form-control dis man" data-live-search="true"
                             id="id_topic" name="topic_name"
                             style="height: 35px;width: 100%;margin-top: 2%"
                             required disabled>
                         <option selected="selected"
                                 value="{{ selected_topic.id }}">{{ selected_topic.topic }}</option>

                     </select>


                 </div>
                </div>

              <div class="row">
              <div class="col-md-5"style="margin-left: 05%" >
              <h4> Questions:</h4>

               <table style="width:110%;text-align:left" class="table" id="question_table">
               <thead id="tbl_id">
                <tr>
                    <th>Index</th>
                    <th>Select</th>

                    <th>Question</th>
                </tr>
                </thead>
                <tbody id="tbody_id">
                {% for obj in all_question %}

                <tr>
                     <td>{{forloop.counter}}</td>
                    <td>
                        {% if obj in question_rec %}
                            <input type="checkbox" name="question_name" checked="checked" class="question_id dis man" disabled data-live-search="true"id="id_question_name-{{ obj.id }}" value="{{ obj.id }}">
                        {% else %}
                            <input type="checkbox" name="question_name" disabled class="question_id dis man" data-live-search="true"id="id_question_name-{{ obj.id }}" value="{{ obj.id }}">
                        {% endif %}
                    </td>

                    <td>{% if obj in question_rec %}{{ obj.question_name|safe }}{% else %}{{ obj.question_name|safe }}{% endif %}</td>
                </tr>

                 {% endfor %}
                </tbody>
                </table>

                    </div>


         <div class="col-md-2" style="margin-left: 0%">
                    <h4> Total Mark:</h4>
                    <div>
                        <input style="width:100%" type="number" value="{{ assesment_obj.total_mark }}" disabled class="form-control man" name="mark"id="total_mark_id" required>
                    </div>
                </div>

                </div>
        <input type="hidden"name="total_mark"id="hidden_total_mark_id" required>


        </form>
        <!-- END FORM-->
    </div>
    <br>

{% endblock %}
</div>
