{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
    .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* The actual popup */
        .popup .popuptext {
            visibility: hidden;
            width: 160px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -100px;
            margin-bottom: -50px;
        }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Toggle this class - hide and show the popup */
        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }

        /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                $('#id_frequency_mapping').prepend(
                    '<option value="c">Select All </option>')
{#                console.log("hiiii")#}

{#            alert("id_academic_year_value2 ");#}
                id_academic_year_value = document.getElementById("id_academic_year").value
                if (id_academic_year_value == '') {
                    $('#id_academic_year').val($('#id_academic_year'));
                    $('#id_academic_year').prepend($('<option>', {

                        value: '',
                        text: 'Please Select'

                    }));
                }

                id_subject_name = document.getElementById("id_subject_name").value
                if (id_subject_name == '') {
                    $('#id_subject_name').val($('#id_subject_name'));
                    $('#id_subject_name').prepend($('<option>', {
                        value: '',
                        text: 'Please Select'
                    }));
                }

                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });


                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked){
                        alert('Please select atleast one record to delete mapping!');
                        return false;
                    }

                });

                academic_year = document.getElementById("id_academic_year").value
{#                alert("{{ Selected_Year_Id }} --> "+'academic_year--> ');#}
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year);

                $("#id_academic_year").change(function () {
                    academic_year = document.getElementById("id_academic_year").value
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)
                });
                $("#id_frequency_mapping").change(function () {
                    var value = $(this).val();
                    if (value == 'c') {
                        $('#id_frequency_mapping option').prop('selected', true);
                        $("select option[value='c']").prop("selected", false);
                    }
                });

                $("#id_class_name").change(function () {
                    var academic_year = document.getElementById("id_academic_year").value
{#                    var class_name = document.getElementById("id_class_name").value#}
                    var class_name = $('select#id_class_name').val();

{#                    var url = '/school/viewSectionDetails/';#}
{#                    viewSectionDetails(url, class_name, academic_year)#}

                    var url1 = '/school/view_subject_details/';
                    viewSubjectDetails(url1, academic_year, class_name)
                });

                {% comment %}$("#id_section_name").click(function(e){
                    var section_value = $('select#id_section_name').val();
                    var academic_value = document.getElementById("id_academic_year").value
                    var class_value = document.getElementById("id_class_name").value
                    section_value= document.getElementById("id_section_name").value
                    var url = '/school/view_subject_details/';
                    viewSubjectDetails(url, academic_value, class_value, section_value)
                });{% endcomment %}
            });




            function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })
                    .done(
                        function (data) {
                            $('#id_class_name').empty();
                            {% comment %}$('#id_class_name').append(
                                '<option value="">Please select</option>');{% endcomment %}

                            for (var i = 0; i < data.length; i++) {
                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }
                        });
            }



            {% comment %}function viewSectionDetails(url, class_name, academic_year) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name,
                        academic_year: academic_year
                    },
                })
                    .done(
                        function (data) {
{#                            alert("hhh------>");#}
                            $('#id_section_name').empty();
{#                            $('#id_section_name').append(#}
{#                                '<option value="">Please select</option>');#}

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                            }
                            $("#id_section_name_mapping option").each(function () {
                                $(this).siblings("[value='" + this.value + "']").remove();
                            })
                        });
            }{% endcomment %}

            function viewSubjectDetails(url, academic_val, class_val ) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        class_name: JSON.stringify(class_val),
{#                        section_name:  JSON.stringify(sec_val),#}
                        academic_year: academic_val,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                            }
                        });
            }

             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }
    </script>
{% endblock %}
{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:rubrics_sub_tile' %}">Rubrics </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Rubrics Scheme Mapping</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Rubrics Scheme Mapping</span>
            </div>
        </div>
        <div class="portlet-body">




            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:save_rubric_mapping' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div style="margin-left: 1%" class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 70%" autocomplete="off" class="form-control" id="id_academic_year" name="year_name"
                                        required="" readonly>
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Year_Id }}">{{ selected_year_name }}</option>
{#                                    {% for Academic_Year in year_list %}#}
{#                                        <option value="{{ Academic_Year.id }}" >{{ Academic_Year.year_name }}</option>#}
{#                                    {% endfor %}#}
                                </select>
                            </div>
                        </div>


                        <div style="margin-left: -4%" class="col-md-2">
                            <h4> Class:</h4>
                            <div class="">
                                <select style="width: 80%"  multiple="multiple" multiple="multiple" autocomplete="off" class="selectfilter form-control" id="id_class_name" name="class_name"
                                        required="">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for class_rec in class_recs %}
                                        <option value="{{ class_rec.id }}">{{ class_rec.year_name.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
{##}
                        {% comment %}<div style="margin-left: -2%" class="col-md-2">
                            <h4> Section:</h4>
                            <div class="">
{#                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name" required="">#}
                                <select  style="width:50%" multiple="multiple" multiple="multiple" data-field-name="SectionDetails"
                                        autocomplete="off" class="selectfilter " class="form-control ab" id="id_section_name" name="section_name" required="">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for section_rec in section_recs %}
                                        <option value="{{ section_rec.id }}" >{{ section_rec.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>{% endcomment %}
{##}
                        <div  class="col-md-2">
                            <h4>Subject:</h4>
                            <div class="">
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_subject_name" name="subject_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_strand.id }}"> {{ selected_strand.strand_name }}</option>
                                    {% for subject_rec in subject_recs %}
                                        <option value="{{ subject_rec.id }}">{{ subject_rec.strand_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
{##}
                        <div style="margin-left: -3%" class="col-md-2">
                            <h4>Rubrics Name:</h4>
                            <div class="">
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_scheme" name="scheme"
                                        required="">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for scheme_rec in scheme_recs %}
                                        <option value="{{ scheme_rec.id }}" >{{ scheme_rec.scheme_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    <div class="col-md-2" style="margin-left: -3px;" >
                    <h4>Frequencies:</h4>
                        <div class="">
                        <select style="width: 150px;" multiple="multiple" class="selectfilter" data-field-name="frequency"
                                    data-is-stacked="0"   id ="id_frequency_mapping" name="frequency_mapping" required="">
{#                           <option style="display:none" selected="selected" value="">Please Select</option>#}
{#                        <option  value="">Please Select</option>#}
                           {% for obj in frequency_recs %}
                                <option value="{{ obj.id }} "> {{ obj.frequency_name }}</option>
                            {% endfor %}
                        </select>

                        </div>

                  </div>
{##}
{##}
                        <div style="margin-left: -2%" class="col-md-2">
                            <h4>Grading Scheme:</h4>
                            <div class="">
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_grade_scheme" name="grade_name"
                                        required="">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for grade_rec in grade_recs %}
                                        <option value="{{ grade_rec.id }}" >{{ grade_rec.grade_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3">
                            <br><br>
                            <button type="submit" id="mapping" style="margin-left: 150%;" class="btn blue btn-block">
                                Mapping
                            </button>
                        </div>


                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Mapped Scheme</span>
            </div>
            <form action="{% url 'assessment:view_rubric_mapping_filter' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-4">
                    <button type="submit" class="btn blue btn-block" id="export">View Rubric Mapping</button>
                </div>
            </form>


 <div class="col-md-3">
     <button style="margin-left: 150px;" onclick="window.location.href='{% url "assessment:copy_ruburic_scheme_mapping" %}'"
             type="button" class="btn blue btn-block">Copy Mapping
     </button>
 </div>

        </div>




        {% comment %}<div class="portlet-body">
            <form action="{% url 'assessment:delete_rubric_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>Id</th>
                        <th>Academic Year</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th> Rubrics Name</th>
                        <th>Grades Scheme</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in scheme_mapping_recs %}
                        <tr>
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td><input type='checkbox' name='check' value="{{obj.id}}"></td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ obj.year.year_name }}</td>
                            <td>{{ obj.class_obj.class_name }}</td>
                            <td> {{ obj.subject.subject_name }}</td>
                            <td> {{ obj.rubric_name.scheme_name }}</td>
                            <td> {{ obj.grade_name.grade_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="delete" name="delete" value="Delete Items"/>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>{% endcomment %}
    </div>
{% endblock %}
