{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>


    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")


                id_academic_year_value = document.getElementById("id_academic_year").value
                if (id_academic_year_value == '') {
                    $('#id_academic_year').val($('#id_academic_year'));
                    $('#id_academic_year').prepend($('<option>', {

                        value: '',
                        text: 'Please Select'

                    }));
                }


                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });


                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked)
                        alert('Please select atleast one record to delete exam scheme!');


                });

                var currentSelect = $("select#id_academic_year_mapping option:selected").index();

                $("select#id_academic_year_mapping option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });

                var currentSelect = $("select#id_class_name_mapping option:selected").index();

                $("select#id_class_name_mapping option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });


                var currentSelect = $("select#id_section_name_mapping option:selected").index();

                $("select#id_class_name option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });


                /*$('#deselectall').click(function() {
                    $('select#id_academic_year option').removeAttr("selected");
                });*/

                academic_year = document.getElementById("id_academic_year").value
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year);

                $("#id_academic_year").change(function () {

                    academic_year = document.getElementById("id_academic_year").value
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });


                $("#id_section_name").click(function (e) {

                    var section_value = $('select#id_section_name').val();
                    var academic_value = document.getElementById("id_academic_year").value
                    var class_value = document.getElementById("id_class_name").value
                    {#                    section_value= document.getElementById("id_section_name").value#}
                    var url = '/school/view_subject_details/';
                    viewSubjectDetails(url, academic_value, class_value, section_value)
                });


                $("#id_class_name").change(function () {
                    class_name = document.getElementById("id_class_name").value
                    academic_year = document.getElementById("id_academic_year").value

                    var url1 = '/school/viewSectionDetails/';
                    viewSectionDetails(url1, class_name, academic_year)

                    var url = '/school/viewMultisectTeacherList/';
                    viewMultisectTeacherList(url, class_name)
                });


                $("#id_exam_scheme").change(function () {
                    var id_exam_scheme = $('#id_exam_scheme').val();
                    {#					class_name = document.getElementById("id_class_name").value#}
                    {#					academic_year = document.getElementById("id_academic_year").value#}
                    {##}
                    {#					var url1 = '/school/viewSectionDetails/';#}
                    {#					viewSectionDetails(url1,class_name,academic_year)#}
                    {##}
                    {#					var url = '/school/viewMultisectTeacherList/';#}
                    {#					viewMultisectTeacherList(url,class_name)#}

                    {#                 var url = '/school/view_exam_scheme_subject/';#}
                    {#                 view_exam_scheme_subject(url,id_exam_scheme)#}

                });


                $('#id_teacher_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });


                //getCurrentAcademicYear();
            });

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });


            function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })

                    .done(
                        function (data) {

                            console.log("print you are in section ajax")
                            console.log(data);

                            $('#id_class_name').empty();
                            $('#id_class_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }


                        });


            }

            function viewSectionDetails(url, class_name, academic_year) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name,
                        academic_year: academic_year
                    },
                })
                {#                    alert("hhh")#}
                    .done(
                        function (data) {
                            {#                            alert("hhh------>");#}
                            $('#id_section_name').empty();
                            {#                            $('#id_section_name').append(#}
                            {#                                '<option value="">Please select</option>');#}

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                            }
                            $("#id_section_name_mapping option").each(function () {
                                $(this).siblings("[value='" + this.value + "']").remove();
                            })
                        });
            }


            function viewMultisectTeacherList(url, class_name) {


                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name
                    },
                })


                    .done(
                        function (data) {
                            console.log(data)
                            $('.teacher').empty();
                            $('.ms-selectable .ms-list li').show();
                            $('.ms-list li').each(function (i) {
                                value2 = $(this).text();

                                for (var i = 0; i < data.length; i++) {


                                    if (data[i].email == value2) {

                                        if ($(this).text(value2)) {
                                            $(this).hide();
                                        }


                                    }

                                }


                            });

                            for (var i = 0; i < data.length; i++) {

                                /*$(".teacher").append('<tr><td>'+ $("#id_class_name").val() +'</td>' + '<td>' + data[i].email + '</td></tr>');	*/
                                $(".teacher").append('<tr><td>' + academic_year + '</td><td>' + class_name + '</td><td>' + data[i].email + '</td></tr>');


                            }


                        });
            }

            function getCurrentAcademicYear() {
                $.ajax({
                    url: '/school/getCurrentAcademicYear/',
                    type: "GET",
                })
                    .done(function (data) {
                        $('#id_academic_year').empty();
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].current_academic_year == true) {
                                $('#id_academic_year').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>');
                                var academic_year = document.getElementById("id_academic_year").value;
                                var url1 = '/school/viewAcademicDetails/';
                                viewAcademicDetails(url1, academic_year);
                            }
                            if (data[i].current_academic_year == false) {
                                $('#id_academic_year').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>')
                            }
                        }
                    });
            }


            function view_exam_scheme_subject(url, id_exam_scheme) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        id_exam_scheme: id_exam_scheme

                    },
                })

                    .done(
                        function (data) {
                            {#                            alert(data);#}
                            {#                           var a = $('#id_exam_name').val(data);#}

                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                {#			                  alert(data[i].id)#}

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].value + '</option>')

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }


                        });
            }

            function viewSubjectDetails(url, academic_val, class_val, sec_val) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        class_name: class_val,
                        section_name: JSON.stringify(sec_val),
                        academic_year: academic_val,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                            }
                            {#                            $("#id_section_name_mapping option").each(function () {#}
                            {#                                $(this).siblings("[value='" + this.value + "']").remove();#}
                            {#                            })#}
                        });
            }


        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Mapping</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> EXAM MAPPING</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:save_exam_mapping' %}">
                {% csrf_token %}
                <div class="form-body">

                    <div class="row">


                        <div style="margin-left: 1%" class="col-md-2">

                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 70%" autocomplete="off" class="form-control" id="id_academic_year"
                                        name="year_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Year_Id }}">{{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}" {{ value1 }} >{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                        </div>


                        <div style="margin-left: -4%" class="col-md-2">

                            <h4> Class:</h4>
                            <div class="">
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_class_name"
                                        name="class_name" required="">
                                    <option style="display:none" selected="selected" value="">Please Select---</option>
                                    {#                                                       {% for class_rec in class_recs %}#}
                                    {#                                                       <option value="{{ class_rec.id }}" {{ value1 }} >{{ class_rec.year_name.class_name }}</option>#}
                                    {#                                                       {% endfor %}#}
                                </select>

                            </div>

                        </div>


                        <div style="margin-left: -2%" class="col-md-2">
                            <h4> Section:</h4>
                            <div class="">
                                {#                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name" required="">#}
                                <select style="width:50%" multiple="multiple" multiple="multiple"
                                        data-field-name="SectionDetails"
                                        autocomplete="off" class="selectfilter " class="form-control ab"
                                        id="id_section_name" name="section_name" required="">
                                    {#                                                        <option style="display:none" selected="selected" value="">Please Select</option>#}
                                    {#                                                        {% for section_rec in section_recs %}#}
                                    {#                                                            <option value="{{ section_rec.id }}" >{{ section_rec.section_name }}</option>#}
                                    {#                                                        {% endfor %}#}
                                </select>
                            </div>
                        </div>


                        <div style="margin-left: -7%" class="col-md-2">
                            <h4>Subject:</h4>
                            <div class="">
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_subject_name"
                                        name="subject_name" required="">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for subject_rec in subject_recs %}
                                        <option value="{{ subject_rec.id }}" {{ value1 }} >{{ subject_rec.strand_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>


                        <div style="margin-left: -3%" class="col-md-2">
                            <h4>Exam Scheme:</h4>
                            <div class="">
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_exam_scheme"
                                        name="exam_scheme" required="">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for exam_scheme_rec in exam_scheme_recs %}
                                        <option value="{{ exam_scheme_rec.id }}" {{ value1 }} >{{ exam_scheme_rec.exam_scheme_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>


                        <div style="margin-left: -2%" class="col-md-2">
                            <h4>Grading Scheme:</h4>
                            <div class="">
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_grade"
                                        name="grade_name" required="">
                                    <option style="display:none" selected="selected" value="">Please Select</option>
                                    {% for grade_rec in grade_recs %}
                                        <option value="{{ grade_rec.id }}" {{ value1 }} >{{ grade_rec.grade_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                        {#                                             <div style="margin-left: -1%" class="col-md-2">#}
                        {#                                                <h4>Frequency:</h4>#}
                        {#                                                <div class="">#}
                        {#                                                    <select  style="width: 80%" autocomplete="off" class="form-control" id="id_frequency" name="frequency_name"#}
                        {#                                                            required="">#}
                        {#                                                    <option style="display:none" selected="selected" value="">Please Select</option>#}
                        {#                                                        {% for frequency_rec in frequency_recs %}#}
                        {#                                                            <option value="{{ frequency_rec.id }}">{{ frequency_rec.frequency_name }}</option>#}
                        {#                                                        {% endfor %}#}
                        {#                                                    </select>#}
                        {#                                                </div>#}
                        {#                                            </div>#}

                        <div class="col-md-3">

                            <button type="submit" id="mapping" style="margin-left: 160%;width:70%;margin-top: -14%;"
                                    class="btn blue btn-block">
                                Mapping
                            </button>

                        </div>


                    </div>

                </div>

            </form>
            <!-- END FORM-->
        </div>
    </div>
    </body>

    </html>

    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Mapped EXAM</span>
            </div>
            <form action="{% url 'assessment:export_exam_scheme_records' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="col-md-2">


                    <button type="submit" class="btn blue btn-block" id="export">Export</button>

                </div>
            </form>
        </div>
        </body></html>


        <div class="portlet-body">

            <form action="{% url 'assessment:delete_exam_scheme_mapping' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>Id</th>
                        <th>Academic Year</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Subject</th>
                        <th> Exam Scheme Name</th>
                        <th>Grading Scheme</th>
                        {#                                            <th>Frequency</th>#}

                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in exam_mapping_recs %}
                        <tr>
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td><input type='checkbox' name='check' value="{{ obj.id }}"></td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ obj.academic_class_section_mapping.year_name }}</td>
                            <td>{{ obj.academic_class_section_mapping.class_name }}</td>
                            <td>{{ obj.academic_class_section_mapping.section_name }}</td>
                            <td> {{ obj.subject }}</td>
                            <td> {{ obj.exam_scheme }}</td>
                            <td> {{ obj.grade_name }}</td>
                            {#                                                <td> {{ obj.frequency}}</td>#}

                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="delete" name="delete" value="Delete Items"/>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>

{% endblock %}
