{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
        table, tr td {
            border: 1px solid red
        }

        tbody {
            display: block;
            height: 184px;
            overflow: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

        thead {
            width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
        }

        table {
            width: 400px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {

                var select_all = document.getElementById("select_all"); //select all checkbox
                var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

                select_all.addEventListener("change", function (e) {
                    for (i = 0; i < checkboxes.length; i++) {
                        checkboxes[i].checked = select_all.checked;
                    }
                });

                var id_academic_year_value = document.getElementById("id_academic_year").value
                if (id_academic_year_value == '') {
                    $('#id_academic_year').val($('#id_academic_year'));
                    $('#id_academic_year').prepend($('<option>', {

                        value: '',
                        text: 'Please Select'
                    }));
                }


                var id_section_name_mapping = document.getElementById("id_section_name_mapping").value
                if (id_section_name_mapping == '') {
                    $('#id_section_name_mapping').val($('#id_section_name_mapping'));
                    $('#id_section_name_mapping').prepend($('<option>', {

                        value: '',
                        text: 'Please Select'
                    }));
                }


                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select atleast one record to delete !');
                        return false;
                    }
                });

                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)

                $("#id_class_name_mapping").change(function () {
                    var class_name = document.getElementById("id_class_name_mapping").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });

            });

         $('#sample_1').dataTable().fnDestroy();

         $('#sample_1').dataTable({
             "aoColumnDefs": [
                 {'bSortable': false}
             ]
         });
        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        $('#id_section_name_mapping').empty();
                        $('#id_section_name_mapping').append(
                            '<option value="">Please Select</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name_mapping').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(
                    function (data) {

                        $('#id_class_name_mapping').empty();
                        $('#id_class_name_mapping').append(
                            '<option value="">Please Select</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name_mapping').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }
                    });
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:assessment_acdemic_class_section_mapping' %}"> Assessment-Academic-Class-Section Mapping</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span> Mapped Assessment-Academic-Class-Section</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red"></i>
            <span class="caption-subject font-red sbold uppercase">Mapped Assessment-Academic-Class-Section</span>
        </div>

    </div>
    <div class="portlet-body">


        <!-- BEGIN FORM-->
        <form method="post" action="{% url 'assessment:filter_view_assessment_acdemic_class_section_mapping' %}">
            {% csrf_token %}

            <div class="row">

                <div class="col-md-2" style="margin-left: 10%">
                    <h4> Academic Year:</h4>


                    <div>
                        <input hidden name="year_name" value="{{ Selected_Year_Id }}">
                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_academic_year"
                                name="year_name" disabled>
                            <option style="display : none" selected="selected"
                                    value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                            {% for Academic_Year in year_list %}
                                <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="col-md-2">
                    <h4>Class </h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" data-live-search="true"
                                id="id_class_name_mapping" name="class_name">
                        <option style="display : none" selected="selected"
                                    value="{{ selected_class.id }}"> {{ selected_class.class_name }}</option>

                            {% for class in class_list %}
                                <option value="{{ class.id }}">{{ class.class_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="col-md-2">
                    <h4> Section </h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" id="id_section_name_mapping"
                                name="section_name">
                        <option style="display : none" selected="selected"
                                    value="{{ selected_section.id }}"> {{ selected_section.section_name }}</option>

                            {% for section in section_list %}
                                <option value="{{ section.id }}">{{ section.section_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="col-md-2">
                    <button type="submit" id="sub" class="btn blue btn-block" style="margin-top : 38px;"> Go</button>
                </div>
            </div>

        </form>
        <!-- END FORM-->
    </div>
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
    <div class="portlet-title">

    <div class="">
        <div class="row">


        </div>
        <div class="portlet-body">
            <form action="{% url 'assessment:delete_assessment_acdemic_class_section_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th><input type="checkbox" id="select_all"/></th>
                        <th>Academic Year</th>
                        <th>Class Name</th>
                        <th>Sections</th>
                        <th>Assessment Name</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for rec in mapping_obj %}
                        <tr class="len">
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td><input type='checkbox' class="checkbox" name='check' value="{{ rec.id }}"></td>
                            <td>{{ rec.academic_class_section_mapping.year_name.year_name }}</td>
                            <td> {{ rec.academic_class_section_mapping.class_name.class_name }}</td>
                            <td> {{ rec.academic_class_section_mapping.section_name.section_name }}</td>
                            <td >{{ rec.assesment.title }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
             <input type="submit"style="margin-left: 50%" id="delete" class="btn blue" name="delete" value="Unamap"/>

            </form>
        </div>
    </div>
    <!-- END BORDERED TABLE PORTLET-->


{% endblock %}
</div>
