{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    {#    <!-- BEGIN GLOBAL MANDATORY STYLES -->#}
    {##}
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>

    </style>
{% endblock %}
{% block ScriptBlock %}

    <script>

        window.onload = function () {

            {#            $(".button_edit").click(function () {#}
            $(document).on("click", ".button_edit", function () {

                exam_name_id = $(this).closest('tr').find('td:eq(0)').html();
                acd_id = $(this).closest('tr').find('td:eq(1)').html();
                $("#exam_name_id").val(exam_name_id);
                $("#acd_id").val(acd_id);
                $('#form_sample_1').submit();

            });


            {% comment %}$(document).on("click", ".button_archive", function () {

                exam_name_id = $(this).closest('tr').find('td:eq(0)').html();
                acd_id = $(this).closest('tr').find('td:eq(1)').html();
                $("#exam_name_id").val(exam_name_id);
                $("#acd_id").val(acd_id);
                $('#form_sample_1').submit();

            });{% endcomment %}


            {#            $(".button_delete").click(function (event) {#}
            $(document).on("click", ".button_delete", function () {

                 if (confirm("Are You Sure Want To Delete  It?") === true) {
                     {#                event.preventDefault();#}
                     mapping_id = $(this).closest('tr').find('td:eq(0)').html();
                     acd_id = $(this).closest('tr').find('td:eq(1)').html();

{#                     alert('mapping_id' + mapping_id);#}
                     {#                return false;#}

                     var url = '/school/delete_exam_mapping/';
                     delete_mapping(url, mapping_id, acd_id)
                 }
                //window.location.href="/school/attendanceDetails/";


            });


            function delete_mapping(url, mapp_id,acd_id) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {

                        mapping_id: mapp_id,
                        acd_id: acd_id,


                    },
                })

                    .done(
                        function (data) {

                            {#                            console.log("in reject tc ajax") #}
                            location.reload();

                        });
            }
        }


    </script>

{% endblock %}

{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'assessment:exam_sub_tile' %}">Exam Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:view_exam_scheme_subject_mapping' %}">Mapping </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>View Mapping</span>
            </li>
        </ul>
    </div>

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> VIEW MAPPING</span>
            </div>

        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}

        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:view_mapping_details' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 70%" autocomplete="off" class="form-control" id="id_academic_year"
                                        name="year_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Year_Id }}">{{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}" {{ value1 }} >{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">

                            <button type="submit" style="margin-top:35px;margin-left: -80px;" id="mapping"
                                    class="btn blue btn-block">
                                Go
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Mapped EXAM</span>
            </div>
            <form action="{% url 'assessment:export_exam_scheme_records' %}" id="form_sample_2" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input value="{{ Selected_Year_Id }}" name="year_name_hidden" hidden>
                <div class="col-md-2">
                    <button type="submit" class="btn blue btn-block" id="export">Export</button>
                </div>
            </form>
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">

            </div>
            <form action="{% url 'assessment:edit_exam_mapping' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input class="form-control" id="acd_id" name="acd_id" type="hidden" value="">
                <input class="form-control" id="exam_name_id" name="exam_name_id" type="hidden" value="">

                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none">ID</th>
                        <th style="display:none">ACD ID</th>
                        {#                        <th>Id</th>#}
                        <th>Academic Year</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Exam Name</th>
                        <th> Exam Scheme Name</th>
                        <th>Grading Scheme</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Archive</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exam_mapping_rec in exam_mapping_recs %}
                        {% for obj in exam_mapping_rec.exam_name_mapping_ids.all %}
                            <tr style="cursor: pointer;">

                                <td style="display:none">{{ obj.id }}</td>
                                <td style="display:none">{{ exam_mapping_rec.id }}</td>

                                <td>{{ exam_mapping_rec.year.year_name }}</td>
                                <td>{{ exam_mapping_rec.class_obj.class_name }}</td>
                                <td>{{ exam_mapping_rec.subject.subject_name }}</td>
                                <td>{{ obj.exam_name.exam_name }}</td>
                                <td> {{ obj.exam_scheme.exam_scheme_name }}</td>
                                <td> {{ obj.grade_name.grade_name }}</td>
                                <td>
                                    {% if obj.is_archived == True %}
                                        <text hidden="">Edit</text>
                                        <input type='button' class="button_edit btn green btn-block" value='Edit'
                                               disabled>
                                    {% else %}
                                        <text hidden="">Edit</text>
                                        <input type='button' class="button_edit btn green btn-block" value='Edit'>
                                    {% endif %}

                                </td>
                                <td>
                                    {% if obj.is_archived == True %}
                                        <text hidden="">Delete</text>
                                        <input type='button' class="button_delete btn red btn-block" value='Delete'
                                               disabled>
                                    {% else %}
                                        <text hidden="">Delete</text>
                                        <input type='button' class="button_delete btn red btn-block" value='Delete'
                                               readonly>
                                    {% endif %}


                                </td>
                                <td>
                                    {% if obj.is_archived == True %}
                                        <text hidden="">Archived</text>
                                        <input type='button' class="button_archive btn green btn-block" value='Archived'
                                               onclick="window.location='{% url "assessment:exam_mapping_archive" obj.id %}'">
                                    {% else %}
                                        <text hidden="">Archive</text>
                                        <input type='button' class="button_archive btn yellow btn-block" value='Archive'
                                               onclick="window.location='{% url "assessment:exam_mapping_archive" obj.id %}'">
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}

                       
