{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  {# Used For Color Picker#}

    <style type="text/css">
        {#        .row {#}
        {#            margin-left: -150px;#}
        {#            margin-right: 20px;#}
        {#            margin-top: 0px;#}
        {#        }#}

        fieldset {
            font-family: sans-serif;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 20px;
            color: #34495e;
        }

        .emp_chk {
            width: 80px;
        }

        .emp1 {
            width: 150px;
        }

        .label {
            text-shadow: none !important;
            font-size: 14px;
            font-weight: 200;
            padding: 3px 0px;
            color: black;
            font-family: fantasy;
        }


    </style>


    <script>
        window.onload = function () {


            var over_flag_status = "{{ over_flag }}"
            var str ='';
            var exam ='';
            var exam_name_rec = '';


            if (over_flag_status == 'True') {
                {% for rec in override_list %}
                    str = str+'class_name= ' + "{{ rec.class_name }}"+"\n"
                    exam_name_rec = "{{ rec.exam_name }}"

{#                    exam = exam+'exam_name= ' + "{{ rec.exam_name }}"#}
{#                    str = str+'year_name= ' + "{{ rec.year_name }}"+str+'class_name= ' + "{{ rec.class_name }}"+str+'subject_name= ' + "{{ rec.subject_name }}"+str+'exam_name= ' + "{{ rec.exam_name }}"#}
                {% endfor %}

                if (confirm(str+exam_name_rec+' '+"Exam has already been mapped to above classes Do You want to Override It?")) {
                }
            }


            var academic_year = document.getElementById("id_academic_year").value;
            var url1 = '/school/viewAcademicDetails/';
            viewAcademicDetails(url1, academic_year)

            //YOUR JQUERY CODE
            $(document).ready(function () {

                $(document).on("change", "#id_class_name", function () {
                    var class_value = $('select#id_class_name').val();
                    var academic_value = document.getElementById("id_academic_year").value
                    var url = '/school/view_subject_details/';
                    viewSubjectDetails(url, academic_value, class_value)
                });

                $(document).on("click", "#id_subject_name", function () {
                    var subject_value = $('select#id_subject_name').val();
                    var class_value = $('select#id_class_name').val();
{#                                        alert(subject_value);#}
                    var academic_value = document.getElementById("id_academic_year").value
                    var url = '/school/view_get_skill_scheme/';
                    getScheme(url, academic_value, class_value, subject_value)
                });

                $(document).on("change", ".exam_name_class", function (e) {
                    {#                     alert('Hi....................')#}
                    var parent_id = $(this).parents('div:eq(3)').attr('id')
                    {#                     alert(parent_id)#}
                    var exam_id = $('#' + parent_id + ' .exam_name_class').val();
                    {#                     alert(exam_id)#}
                    var url = '/school/view_frequency_details/';
                    view_mapped_exam_frequency(url, exam_id, parent_id)
                });

{#                 $(document).on("change", ".exam_scheme_class", function (e) {#}
{#                     alert('exam_scheme_class');#}
                    {#                     alert('Hi....................')#}
{#                    var parent_id = $(this).parents('div:eq(3)').attr('id')#}
{#                                         alert(parent_id)#}
{#                    var exam_scheme_id = $('#' + parent_id + ' .exam_scheme_class').val();#}
{#                                         alert('exam_scheme_id'+exam_scheme_id)#}
{#                     var class_value = $('select#id_class_name').val();#}
{#                                         alert('class_value'+class_value)#}
{#                    var academic_value = document.getElementById("id_academic_year").value#}
{#                     alert('academic_value'+academic_value)#}
{#                    var url = '/school/get_subject_scheme/';#}
{#                    getSubject(url, exam_scheme_id, parent_id,class_value,academic_value)#}
{#                });#}




                var change_flag = false;

                $('#action_type').val('add');

                var count = 0;
                var last_max = 0;

                $("#add").click(function () {
                    $('.chk').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');

                    for (var k = 0; k < tex.length; k++) {
                        if (tex[k].value === '') {
                            {#                            $('#' + tex[k].id).css('border-color', 'red');#}
                            flag_val = true;
                            {#                            return false;#}
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Fill Curent Row All Fields Before Adding New Row.")
                        return false;
                    }
                    change_flag = false;
                    ++count;
                    return addForm(this, count);
                });


                $(".delete").click(function () {
                    return deleteForm(this, 'sub_strands');
                });


                function addForm(btn, prefix) {

                    var id = prefix;

                    var last_parent_id = $(".item:last").attr('id');
                    var row = $(".item:first").clone(true).get(0);
                    row.id = 'item' + id;
                    $(row).children().find(".emp").val('');
                    $(row).hide().insertAfter(".item:last").slideDown(300);
                }

                {% comment %}function addForm(btn, prefix) {

                    var id = prefix;

                    var first_parent_id = $(".item:first").attr('id');
{#                    alert($('#'+first_parent_id+' #id_grade_name').val())#}
                    var first_val = $('#'+first_parent_id+' #id_grade_name').val()

                    var row = $(".item:first").clone(true).get(0);
                    row.id = 'item' + id;
                    $('#'+row.id+' #id_grade_name').val(first_val)
{#                    $(row).children().find(".emp").val('');#}
                    $(row).hide().insertAfter(".item:last").slideDown(300);

                }{% endcomment %}


                function deleteForm(btn, prefix) {

                    var forms = $('.item');
                    if (forms.length > 1) {
                        $(btn).parents('.item').remove();

                    }
                }


                $(document).on("click", "#save", function () {
                    var all_item = $('.item');
                    var data = []
                    for (var i = 0; i < all_item.length; i++) {
                        var payload = {
{#                            'exam': $('#' + all_item[i].id + ' #id_exam_name').val(),#}
                            'scheme': $('#' + all_item[i].id + ' #id_scheme_name').val(),
                            'grade': $('#' + all_item[i].id + ' #id_grade_name').val(),
                        }
                        data.push(payload)
                    }
{#                                        alert(JSON.stringify(data));#}
{#                    return false;#}
                    $('#json_data').val(JSON.stringify(data));
                });


            });


        }

        function viewAcademicDetails(url1, academic_year) {
            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(
                    function (data) {
                        $('#id_class_name').empty();
                        {% comment %}$('#id_class_name').append(
                            '<option value="">Please select</option>');{% endcomment %}

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }
                    });
        }

        function getScheme(url, academic_year, cls, subject) {
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    academic_year: academic_year,
                    class_name: JSON.stringify(cls),
                    subject_name: JSON.stringify(subject),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
            })
                .done(
                    {#                    alert("Hii")#}
                    function (data) {
                        $('#id_scheme_name').empty();
                        $('#id_scheme_name').append(
                            '<option value="">Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#id_scheme_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].scheme + '</option>')
                        }

                    });
        }

        function viewSubjectDetails(url, academic_val, class_val) {
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    class_name: JSON.stringify(class_val),
                    academic_year: academic_val,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
            })

                .done(
                    function (data) {
                        $('#id_subject_name').empty();
                        {% comment %}$('#id_subject_name').append(
                            '<option value="">Please select</option>');{% endcomment %}
                        for (var i = 0; i < data.length; i++) {
                            $('#id_subject_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].subject_name + '</option>')
                        }
                    })
        }

        function view_mapped_exam_frequency(url, exam_id, item_id) {
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    exam_id: exam_id
                },
            })
                .done(
                    function (data) {
                        $('#' + item_id + ' .frequency_class').empty();
                        $('#' + item_id + ' .frequency_class').append(
                            '<option value="">Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#' + item_id + ' .frequency_class').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].frequency_name + '</option>')
                        }
                    });
        }
{#                function getSubject(url, exam_scheme_id, item_id,class_val,academic_value) {#}
{#            $.ajax({#}
{#                url: url,#}
{#                type: "POST",#}
{#                data: {#}
{#                    exam_scheme_id: exam_scheme_id,#}
{#                    class_id: JSON.stringify(class_val),#}
{#                    academic_id: academic_value#}
{#                },#}
{#            })#}
{#                .done(#}
{#                    function (data) {#}
{#                        $('#' + item_id + ' .frequency_class').empty();#}
{#                        $('#' + item_id + ' .frequency_class').append(#}
{#                            '<option value="">Please select</option>');#}
{#                        for (var i = 0; i < data.length; i++) {#}
{#                            $('#' + item_id + ' .frequency_class').append(#}
{#                                '<option value="' + data[i].id + '">'#}
{#                                + data[i].frequency_name + '</option>')#}
{#                        }#}
{#                    });#}
{#        }#}


    </script>

{% endblock %}

{% block content %}
       <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:skill_tracker_sub_tile' %}">Skil Tracker </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Skill Scheme Mapping</span>
            </li>
        </ul>
    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Skill Scheme Mapping</span>
            </div>

        </div>
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form action="{% url 'assessment:save_skill_scheme_mapping' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input id="json_data" name="json_data" hidden>

                <div class="form-body">
                    <div class="row">
                        <div style="margin-left: 1%" class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 120%" autocomplete="off" class="form-control"
                                        id="id_academic_year" name="year_name" required="" readonly>
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Year_Id }}">{{ selected_year_name }}</option>
                                </select>
                            </div>

                        </div>
                        <div style="margin-left: 3%" class="col-md-2">
                            <h4> Class:</h4>
                            <div class="">
                                <select style="width:70%" multiple="multiple" multiple="multiple"
                                        data-field-name="ClassDetails"
                                        autocomplete="off" class="selectfilter " class="form-control ab"
                                        id="id_class_name" name="class_name" required="">
                                </select>
                            </div>
                        </div>
                        <div style="margin-left: -3%" class="col-md-2">
                            <h4> Subject:</h4>
                            <div class="">
                                <select style="width:70%" multiple="multiple" multiple="multiple"
                                        data-field-name="SubjectDetails"
                                        autocomplete="off" class="selectfilter " class="form-control ab"
                                        id="id_subject_name" name="subject_name" required="">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">

                                <button style="margin-top: 40px;margin-left: 150px;" onclick="window.location.href='{% url "assessment:copy_scheme_mapping" %}'"
                                        type="button" class="btn blue btn-block">Copy Mapping
                                </button>
                            </div>

                    </div>

                    <br><br>

                    <div class="portlet-body">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#portlet_tab2" data-toggle="tab">Skill Scheme Details</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <br>
                            <div class="tab-pane active" id="portlet_tab2">
                                <div class="item container" id="item">
                                            <span id="message" style="display:none;">
                                            </span>
                                    <div class="row" style="margin-left: 10%">
{#                                        <div class="">#}
{#                                            <div class="col-md-2">#}
{#                                                <h4>Exam Name: </h4>#}
{#                                                <select id='id_exam_name' name="exam_name"#}
{#                                                        class="form-control exam_name_class emp"#}
{#                                                        required="">#}
{#                                                    <option style="display:none" selected="selected" value="">Please#}
{#                                                        Select#}
{#                                                    </option>#}
{#                                                    {% for exam_name_rec in exam_name_list %}#}
{#                                                        <option value="{{ exam_name_rec.id }}">{{ exam_name_rec.exam_name }}</option>#}
{#                                                    {% endfor %}#}
{#                                                </select>#}
{#                                            </div>#}
{#                                        </div>#}
                                        <div class="">
                                            <div class="col-md-3">
                                                <h4>Scheme Name: </h4>
                                                <select id='id_scheme_name' name="scheme_name"
                                                        class="form-control exam_scheme_class emp"
                                                        required="">
                                                    <option style="display:none" selected="selected" value="">Please
                                                        Select
                                                    </option>
                                                    {% for scheme_rec in scheme_recs %}
                                                        <option value="{{ scheme_rec.id }}">{{ scheme_rec.scheme_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="">
                                            <div class="col-md-2">
                                                <h4>Grading Scheme: </h4>
                                                <select id='id_grade_name' name="grading_name"
                                                        class="form-control exam_name_class emp"
                                                        required="">
                                                    <option style="display:none" selected="selected" value="">Please
                                                        Select
                                                    </option>
                                                    {% for grade_rec in grade_recs %}
                                                        <option value="{{ grade_rec.id }}">{{ grade_rec.grade_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <a href="javascript:;" id="add" class="btn btn-icon-only green"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a href="javascript:;" class="delete btn btn-icon-only purple"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">
                                <button id="save" type="submit" class="btn green">Mapping</button>

                                <button onclick="window.location.href='{% url "assessment:skill_tracker_sub_tile" %}'"
                                        type="button" class="btn grey-salsa btn-outline">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Mapped Exam Scheme</span>
                </div>
                <form action="{% url 'assessment:view_scheme_mapping_filter' %}" id="form_sample_1"
                      class="form-horizontal" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-4">
                        <button type="submit" class="btn blue btn-block" id="export">View Mapped
                             Scheme Mapping
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}

