{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->


{% endblock %}
{% block ScriptBlock %}

    <script>

        window.onload = function () {
            $("#excel_button_id").click(function () {
                $("#form_sample_1").submit();
            });
            $("#edit").click(function (event) {
                $("#update").show();
                $("#edit").hide();
                $('.rec_grd').prop("disabled", false);

            });

            $(document).on("click", "#update", function (e) {
                var is_empty = false;
                var all_parents = $('.item');
                var all_frequency = $('.freq');

                count = all_frequency.length


                var data = []
                for (var i = 0; i < all_parents.length; i++) {
                    var recs = $('#' + all_parents[i].id + ' .rec_grd');
                    var payload = {};
{#                    var count = 0;#}
                    for (var j = 0; j < recs.length; j++) {

                        payload[recs[j].id] = $('#' + all_parents[i].id + ' #' + recs[j].id).val();
{#                        if (j > 0) {#}
{#                            payload['target_sub_rec_id-' + j] = $('#target_sub_rec_id-' + j).val();#}
{#                            count++;#}

{#                        }#}


                    }

                    payload['count'] = count;
                    data.push(payload);
                }
{#                alert(JSON.stringify(data))#}
{#                return false;#}

                $('#id_data').val(JSON.stringify(data))
                $('#id_subject_name1').val(JSON.stringify(data))
                $('#set_student_target_save_id').submit();

            });



            $(".frequency_change").change(function () {
                {#alert($(this).val());#}
                var frequency_value = $(this).val();
                var index = $(this).attr('id').split('-')[1]

                var all_freq = $('.grade-' + index);

                all_freq.each(function () {
                    {#alert($(this).attr('id'));#}
                    $(this).val(frequency_value);
                })


            });


            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });

            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
            $("#id_academic_year").change(function () {
                var academic_year = document.getElementById("id_academic_year").value;


            });

            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;


                {#                    alert('class_name ---> '+class_name+' academic_year---> '+academic_year);#}
                var url1 = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url1, academic_year, class_name);

                {#var url = '/school/view_mapped_subject_list/';#}
                {#ViewMappedSubjectList(url, academic_year, class_name)#}
            });

            $("#id_section_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                {#                    alert(class_name);#}
                var academic_year = document.getElementById("id_academic_year").value;
                var section_name = document.getElementById("id_section_name").value;

                var url = '/school/view_mapped_subject_list/';
                ViewMappedSubjectList(url, academic_year, class_name, section_name)


            });
            $("#id_subject_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                {#                    alert(class_name);#}
                var academic_year = document.getElementById("id_academic_year").value;
                var subject_name = document.getElementById("id_subject_name").value;
                //alert('class_name ---> '+class_name+' academic_year---> '+academic_year);
                var url1 = '/school/get_target_name/';


            });


            function ViewMappedSubjectList(url, academic_val, class_val, section_name) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        academic_year: academic_val,
                        class_name: class_val,
                        section_name: section_name,

                        {#                        section_name: sec_val,#}
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            {#                            alert(JSON.stringify(data));#}

                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].sub_id + '">'
                                    + data[i].sub_value + '</option>')
                            }
                        });
            }

            function ViewSectionDetailStudent(url, academic_year, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name

                        },
                })

                    .done(
                        function (data) {
                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                            }
                        });
            }

            var academic_years = document.getElementById("id_academic_years").value;
            if (academic_years == '') {
                $('#id_academic_years').val($('#id_academic_years'));
                $('#id_academic_years').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'

                }));
            }

            var class_name = document.getElementById("id_class_name").value;
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'
                }));
            }
            var section_name = document.getElementById("id_section_name").value;
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'
                }));
            }


        }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:target_setting_sub_tile' %}"> Target Setting </a>
                <i class="fa fa-angle-right"></i>

            </li>


            <li>
                <a href="{% url 'assessment:all_set_student_target_list' %}"> View Student Target List </a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span class="title">View Edit Student Target</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">View Edit Student Target</span>
                </div>

            </div>

            <div class="portlet-body">

                <form method="post" action="{% url 'assessment:ExportStudentTargetList' %}" id="form_sample_1"
                      class="form-horizontal">
                    {% csrf_token %}
                    <input hidden type='text' id="all_id_target_rec" name="all_target_rec"
                           value="{{ target_setting_rec.id }}">


                </form>


                <form method="post" action="{% url 'assessment:set_student_targert_post_page' %}" id="exportForm">
                    {% csrf_token %}
                    <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>
                    <div class="row">

                        <div class="col-md-2">
                            <h4>Academic Year: </h4>

                            <div class="">

                                <input type="hidden" value="{{ target_setting_rec.academic_mapping.year_name.id }}"
                                       id="id_academic_year" name="year_name">

                                <input value="{{ target_setting_rec.academic_mapping.year_name.id }}" name="year_name"
                                       hidden>
                                <select style="width: 100%;" autocomplete="off" class="form-control"
                                        data-live-search="true"
                                        id="id_academic_year"
                                        name="year_name" readonly disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ target_setting_rec.academic_mapping.year_name.id }}"> {{ target_setting_rec.academic_mapping.year_name.year_name }}</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Class </h4>
                            <div class="">


                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name"
                                        name="class_name" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ target_setting_rec.academic_mapping.class_name.id }}"> {{ target_setting_rec.academic_mapping.class_name.class_name }}</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">

                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ target_setting_rec.academic_mapping.section_name.id }}"> {{ target_setting_rec.academic_mapping.section_name.section_name }}</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4>Subject:</h4>
                            <div class="">
                                <select style="width: 100%;" autocomplete="off" class="form-control"
                                        id="id_subject_name"
                                        name="subject_name"
                                        required="" disabled>


                                    <option style="display :none" selected="selected"

                                            value="{{ target_setting_rec.subject_name.id }}"> {{ target_setting_rec.subject_name.subject_name }}</option>

                                    {% comment %}{% for subject_rec in subject_list %}
                            <option value="{{ selected_subject_id }}">{{ selected_subject_name }}</option>
                        {% endfor %}{% endcomment %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" id="button1" class="btn blue btn-block" style="margin-top: 38px;"
                                    disabled>Go
                            </button>
                        </div>
                        <div class="col-md-2">
                            <span id="excel_button_id" class="fa fa-file-excel-o"
                                  style="font-size:40px;color:green;margin-top: 45px;"></span>
                        </div>
                    </div>
                </form>


                <div class="form-body">
                    <form method="post" action="{% url 'assessment:SaveEditSetTargetSetting' %}"
                          id="set_student_target_save_id">
                        {% csrf_token %}
                    <input hidden type='text' id="id_subject_name1" name="data">
                        <input hidden type='text' id="selected_target_setting_rec_id" name="selected_target_setting_rec"
                               value="{{ target_setting_rec.id }}">
                    <div style="overflow: auto ;white-space: nowrap">

                        <table name="data" class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                               id="" role="grid" aria-describedby="sample_1_info">

                            {% comment %}<input hidden type='text' id="id_subject_name1" name="data">
            <input hidden type='text' id="id_class" name="year_name" value="{{ Selected_Year_Id }}">
            <input hidden type='text' id="id_sec" name="class_name" value="{{ selected_class_id }}">
            <input hidden type='text' id="id_acd" name="section_name" value="{{ selected_section_id }}">
            <input hidden type='text' id="subject_name_id" name="subject_name" value="{{ selected_subject_id }}">{% endcomment %}

                            <thead>


                            <tr role="row">
                                <th style="display: none">ID</th>
                                <th> Student Name</th>
                                <th>Student Code</th>
                                <th>Scodoo Id</th>
                                <th> Class</th>
                                <th> Section</th>
{#                                {% for obj in frequency_list %}#}
                                    {#                                                                       <th>{{ obj.exam_name }}</th>#}
{#                                    <th style="width: max-content">{{ obj.frequency_name }}#}
{#                                        <input hidden id="frequency-{{ forloop.counter }}"#}
{#                                               value="{{ obj.frequency_list.id }}">#}
{##}
{#                                        {% comment %}<select autocomplete="off" class="form-control frequency_change"#}
{#                                id="parent_garde-{{ forloop.counter }}"#}
{#                                name="sub_strand_filter">#}
{#                            <option style="display:none" selected="selected"></option>#}
{##}
{#                            {% for grade in obj.garde_obj %}#}
{#                                <option value="{{ grade.id }}"> {{ grade.grades }}</option>#}
{#                            {% endfor %}#}
{##}
{#                        </select>{% endcomment %}#}
{#                                    </th>#}
{#                                {% endfor %}#}

                            {% for obj in modelDict %}

                                        <th> {{ obj.exam_name }}
                                             <br>
                                            {{ obj.frequency_list.frequency_name }}
                                            <input hidden class="freq" id="frequency-{{ forloop.counter }}"
                                                   value="{{ obj.frequency_list.id }}">

                                            <select autocomplete="off" class="form-control rec_grd frequency_change "
                                                    id="parent_garde-{{ forloop.counter }}"
                                                    name="sub_strand_filter" style="width: max-content" disabled>


                                                <option selected="Please Select">Please Select</option>

                                                {% for grade in obj.garde_obj %}
                                                    <option value="{{ grade.id }}"> {{ grade.grades }}</option>
                                                {% endfor %}

                                            </select>
                                        </th>

                                    {% endfor %}
                            </tr>
                            </thead>

                            <tbody>
                            {% for target_rec in target_setting_rec.students.all %}
                                <tr style="cursor: pointer;" id="item{{ forloop.counter }}" class="item">
                                    <td hidden></td>
                                    <td class="len">{{ target_rec.student }} <input type="hidden" class="rec" id="studentid" value="{{ target_rec.student.id }}"></td>


                                    <td class="len">{{ target_rec.student.student_code }}</td>
                                    <td class="len">{{ target_rec.student.odoo_id }}</td>
                                    <td class="len">{{ target_rec.student.academic_class_section.class_name.class_name }}</td>
                                    <td class="len">{{ target_rec.student.academic_class_section.section_name.section_name }}</td>

                                    {#                    {% with final_dict|index_returner:obj as val %}#}
                                    {% for target_sub_details_rec in target_rec.target_sub_details.all %}
                                        <td>
                                            <select style="width: max-content" autocomplete="off"
                                                    id="grade-{{ forloop.counter }}"
                                                    class="form-control rec_grd grade-{{ forloop.counter }}"disabled>
                                                <option style="display : none" selected="selected"
                                                        value="{{ target_sub_details_rec.grade_name.id }}">{{ target_sub_details_rec.grade_name.grades }}</option>

{#                                                <input hidden type='text' name="studentId"#}
{#                                                                  value='{{ target_sub_details_rec.id }}'>#}


{#                                            {% with target_sub_details_rec.grade_name|get_grade_details as val %}#}

                                                {% for grade_obj in target_sub_details_rec.grade_name|get_grade_details %}
                                                    <option value="{{ grade_obj.id }}"> {{ grade_obj.grades }} </option>
                                                {% endfor %}
{#                                            {% endwith %}#}
                                            </select>

                                            <input type="hidden" class="rec_grd" id="target_sub_rec_id-{{ forloop.counter }}" value="{{ target_sub_details_rec.id }}">
                                            {% comment %}{% for obj in modelDict %}
                                    <input type="hidden" class="rec" id="frequencyid-{{ forloop.counter }}"
                                           value="{{ obj.frequency_list.id }}">
                                {% endfor %}{% endcomment %}
                                        </td>
                                    {% endfor %}
                                    {#                    {% endwith %}#}
                                </tr>
                            {% endfor %}

                            </tr>

                            </tbody>
                        </table>
                     </div>
                    <div style="margin-left: 50% ;" class="col-md-4">
                            <button  type="button" class="btn green" id="edit">Edit</button>
                            <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
                        </div>



                        {#        <div class="col-md-3">#}
                        {#            <button type="button" value="Submit" id="submit1" class="btn blue btn-block"#}
                        {#                    style="margin-left: 200px;" disabled>Edit#}
                        {#            </button>#}
                        {#        </div>#}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END FORM-->



{% endblock %}




{#{% extends "index.html" %}#}
{#{% load staticfiles %}#}
{#{% load coustom_tags %}#}
{##}
{#{% block styleBlock %}#}
{#    <!-- BEGIN GLOBAL MANDATORY STYLES -->#}
{##}
{#    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>#}
{#    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"#}
{#          rel="stylesheet" type="text/css"/>#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{##}
{#    </head>#}
{#    <!-- END HEAD -->#}
{#    <style>#}
{#        .fabutton {#}
{#            background: none;#}
{#            padding: 0px;#}
{#            border: none;#}
{#        }#}
{##}
{##}
{#    </style>#}
{##}
{#{% endblock %}#}
{#{% block ScriptBlock %}#}
{##}
{#    <script>#}
{##}
{#        window.onload = function () {#}
{##}
{#            $("#excel_button_id").click(function () {#}
{#                $("#form_sample_1").submit();#}
{#            });#}
{##}
{#            $("#edit").click(function (event) {#}
{#                $("#update").show();#}
{#                $("#edit").hide();#}
{#                $('.rec').prop("disabled", false);#}
{##}
{#            });#}
{##}
{#            $(document).on("click", "#update", function (e) {#}
{##}
{#                var is_empty = false;#}
{#                var all_parents = $('.item');#}
{##}
{#                var data = []#}
{#                for (var i = 0; i < all_parents.length; i++) {#}
{#                    var recs = $('#' + all_parents[i].id + ' .rec');#}
{##}
{##}
{#                    var payload = {};#}
{##}
{#                    var count = 0;#}
                    {#alert(recs.length)#}
                    {#return false;#}
{##}
{#                    for (var j = 0; j < recs.length; j++) {#}
{#                        payload[recs[j].id] = $('#' + all_parents[i].id + ' #' + recs[j].id).val();#}
{#                        if (j > 0) {#}
{#                            payload['frequency-' + j] = $('#frequency-' + j).val();#}
{#                            count++;#}
{#                        }#}
{##}
{#                    }#}
{#                    payload['count'] = count;#}
{#                    data.push(payload);#}
{#                }#}
                {#console.log(JSON.stringify(data))#}
                {#return false;#}
{##}
{#                $('#id_data').val(JSON.stringify(data))#}
{#                console.log(JSON.stringify(data))#}
{#                $('#id_subject_name1').val(JSON.stringify(data))#}
{#                $('#set_student_target_save_id').submit();#}
{##}
{#                {% comment %}return false;{% endcomment %}#}
{#            });#}
{##}
{##}
{#            $(".frequency_change").change(function () {#}
                {#alert($(this).val());#}
{#                var frequency_value = $(this).val();#}
{#                var index = $(this).attr('id').split('-')[1]#}
{#                var all_freq = $('.grade-' + index);#}
{#                all_freq.each(function () {#}
                    {#alert($(this).attr('id'));#}
{#                    $(this).val(frequency_value);#}
{#                })#}
{##}
{##}
{#            });#}
{##}
{##}
{#            $('#sample_1').dataTable().fnDestroy();#}
{##}
{#            $('#sample_1').dataTable({#}
{#                "aoColumnDefs": [#}
{#                    {'bSortable': false}#}
{#                ]#}
{#            });#}
{##}
{#            window.setTimeout(function () {#}
{#                $(".alert").fadeTo(500, 0).slideUp(500, function () {#}
{#                    $(this).remove();#}
{#                });#}
{#            }, 4000);#}
{#            $("#id_academic_year").change(function () {#}
{#                var academic_year = document.getElementById("id_academic_year").value;#}
{##}
{##}
{#            });#}
{##}
{#            $("#id_class_name").change(function () {#}
{#                var class_name = document.getElementById("id_class_name").value;#}
{#                var academic_year = document.getElementById("id_academic_year").value;#}
{##}
{##}
                {#                    alert('class_name ---> '+class_name+' academic_year---> '+academic_year);#}
{#                var url1 = '/school/viewSectionDetails/';#}
{#                ViewSectionDetailStudent(url1, academic_year, class_name);#}
{##}
                {#var url = '/school/view_mapped_subject_list/';#}
                {#ViewMappedSubjectList(url, academic_year, class_name)#}
{#            });#}
{##}
{#            $("#id_section_name").change(function () {#}
{#                var class_name = document.getElementById("id_class_name").value;#}
                {#                    alert(class_name);#}
{#                var academic_year = document.getElementById("id_academic_year").value;#}
{#                var section_name = document.getElementById("id_section_name").value;#}
{##}
{#                var url = '/school/view_mapped_subject_list/';#}
{#                ViewMappedSubjectList(url, academic_year, class_name, section_name)#}
{##}
{##}
{#            });#}
{#            $("#id_subject_name").change(function () {#}
{#                var class_name = document.getElementById("id_class_name").value;#}
                {#                    alert(class_name);#}
{#                var academic_year = document.getElementById("id_academic_year").value;#}
{#                var subject_name = document.getElementById("id_subject_name").value;#}
{#                //alert('class_name ---> '+class_name+' academic_year---> '+academic_year);#}
{#                var url1 = '/school/get_target_name/';#}
{##}
{##}
{#            });#}
{##}
{##}
{#            function ViewMappedSubjectList(url, academic_val, class_val, section_name) {#}
{#                $.ajax({#}
{#                    url: url,#}
{#                    type: "POST",#}
{#                    data: {#}
{#                        academic_year: academic_val,#}
{#                        class_name: class_val,#}
{#                        section_name: section_name,#}
{##}
                        {#                        section_name: sec_val,#}
{#                        csrfmiddlewaretoken: '{{ csrf_token }}',#}
{#                    },#}
{#                })#}
{##}
{#                    .done(#}
{#                        function (data) {#}
                            {#                            alert(JSON.stringify(data));#}
{##}
{#                            $('#id_subject_name').empty();#}
{#                            $('#id_subject_name').append(#}
{#                                '<option value="">Please select</option>');#}
{##}
{#                            for (var i = 0; i < data.length; i++) {#}
{#                                $('#id_subject_name').append(#}
{#                                    '<option value="' + data[i].sub_id + '">'#}
{#                                    + data[i].sub_value + '</option>')#}
{#                            }#}
{#                        });#}
{#            }#}
{##}
{#            function ViewSectionDetailStudent(url, academic_year, class_name) {#}
{##}
{#                $.ajax({#}
{#                    url: url,#}
{#                    type: "GET",#}
{#                    data:#}
{#                        {#}
{#                            academic_year: academic_year,#}
{#                            class_name: class_name#}
{##}
{#                        },#}
{#                })#}
{##}
{#                    .done(#}
{#                        function (data) {#}
{#                            $('#id_section_name').empty();#}
{#                            $('#id_section_name').append(#}
{#                                '<option value="">Please select</option>');#}
{##}
{#                            for (var i = 0; i < data.length; i++) {#}
{#                                $('#id_section_name').append(#}
{#                                    '<option value="' + data[i].id + '">'#}
{#                                    + data[i].section_name + '</option>')#}
{#                            }#}
{#                        });#}
{#            }#}
{##}
{#            var academic_years = document.getElementById("id_academic_years").value;#}
{#            if (academic_years == '') {#}
{#                $('#id_academic_years').val($('#id_academic_years'));#}
{#                $('#id_academic_years').prepend($('<option>', {#}
{#                    value: 'Please Select',#}
{#                    text: 'Please Select'#}
{##}
{#                }));#}
{#            }#}
{##}
{#            var class_name = document.getElementById("id_class_name").value;#}
{#            if (class_name == '') {#}
{#                $('#id_class_name').val($('#id_class_name'));#}
{#                $('#id_class_name').prepend($('<option>', {#}
{#                    value: 'Please Select',#}
{#                    text: 'Please Select'#}
{#                }));#}
{#            }#}
{#            var section_name = document.getElementById("id_section_name").value;#}
{#            if (section_name == '') {#}
{#                $('#id_section_name').val($('#id_section_name'));#}
{#                $('#id_section_name').prepend($('<option>', {#}
{#                    value: 'Please Select',#}
{#                    text: 'Please Select'#}
{#                }));#}
{#            }#}
{##}
{##}
{#        }#}
{#    </script>#}
{##}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="page-bar" style="margin-bottom: 1px;">#}
{#        <ul class="page-breadcrumb">#}
{#            <li>#}
{#                <i class="icon-home"></i>#}
{#                <a href="{% url 'registration:home' %}">Home</a>#}
{#                <i class="fa fa-angle-right"></i>#}
{#            </li>#}
{#            <li>#}
{#                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>#}
{#                <i class="fa fa-angle-right"></i>#}
{#            </li>#}
{##}
{#            <li>#}
{#                <a href="{% url 'assessment:target_setting_sub_tile' %}"> Target Setting </a>#}
{#                <i class="fa fa-angle-right"></i>#}
{##}
{#            </li>#}
{##}
{##}
{#            <li>#}
{#                <a href="{% url 'assessment:all_set_student_target_list' %}"> View Student Target List </a>#}
{#                <i class="fa fa-angle-right"></i>#}
{#            </li>#}
{##}
{##}
{#            <li>#}
{#                <span class="title">View Edit Student Target</span>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{##}
{##}
{##}
{##}
{##}
{#    {% for message in messages %}#}
{#        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}#}
{#            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>#}
{#        </div>#}
{#    {% endfor %}#}
{#    <!-- BEGIN VALIDATION STATES-->#}
{##}
{#    <div class="portlet light portlet-fit portlet-form ">#}
{#        <div class="portlet light">#}
{#            <div class="portlet-title">#}
{#                <div class="caption font-dark">#}
{#                    <i class="icon-settings font-red"></i>#}
{#                    <span class="caption-subject font-red sbold uppercase">View Edit Student Target</span>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{##}
{#            <div class="portlet-body">#}
{##}
{#                <form method="post" action="{% url 'assessment:ExportStudentTargetList' %}" id="form_sample_1"#}
{#                      class="form-horizontal">#}
{#                    {% csrf_token %}#}
{#                    <input hidden type='text' id="all_id_target_rec" name="all_target_rec"#}
{#                           value="{{ target_setting_rec.id }}">#}
{##}
{##}
{#                </form>#}
{##}
{##}
{#                <form method="post" action="{% url 'assessment:set_student_targert_post_page' %}" id="exportForm">#}
{#                    {% csrf_token %}#}
{#                    <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>#}
{#                    <div class="row">#}
{##}
{#                        <div class="col-md-2">#}
{#                            <h4>Academic Year: </h4>#}
{##}
{#                            <div class="">#}
{##}
{#                                <input type="hidden" value="{{ target_setting_rec.academic_mapping.year_name.id }}"#}
{#                                       id="id_academic_year" name="year_name">#}
{##}
{#                                <input value="{{ target_setting_rec.academic_mapping.year_name.id }}" name="year_name"#}
{#                                       hidden>#}
{#                                <select style="width: 100%;" autocomplete="off" class="form-control"#}
{#                                        data-live-search="true"#}
{#                                        id="id_academic_year"#}
{#                                        name="year_name" readonly disabled>#}
{#                                    <option style="display : none" selected="selected"#}
{#                                            value="{{ target_setting_rec.academic_mapping.year_name.id }}"> {{ target_setting_rec.academic_mapping.year_name.year_name }}</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                        <div class="col-md-2">#}
{#                            <h4> Class </h4>#}
{#                            <div class="">#}
{##}
{##}
{#                                <select autocomplete="off" class="form-control" data-live-search="true"#}
{#                                        id="id_class_name"#}
{#                                        name="class_name" required="" disabled>#}
{#                                    <option style="display:none" selected="selected"#}
{#                                            value="{{ target_setting_rec.academic_mapping.class_name.id }}"> {{ target_setting_rec.academic_mapping.class_name.class_name }}</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                        <div class="col-md-2">#}
{#                            <h4> Section </h4>#}
{#                            <div class="">#}
{##}
{#                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"#}
{#                                        required="" disabled>#}
{#                                    <option style="display:none" selected="selected"#}
{#                                            value="{{ target_setting_rec.academic_mapping.section_name.id }}"> {{ target_setting_rec.academic_mapping.section_name.section_name }}</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                        <div class="col-md-2">#}
{#                            <h4>Subject:</h4>#}
{#                            <div class="">#}
{#                                <select style="width: 100%;" autocomplete="off" class="form-control"#}
{#                                        id="id_subject_name"#}
{#                                        name="subject_name"#}
{#                                        required="" disabled>#}
{##}
{##}
{#                                    <option style="display :none" selected="selected"#}
{##}
{#                                            value="{{ target_setting_rec.subject_name.id }}"> {{ target_setting_rec.subject_name.subject_name }}</option>#}
{##}
{#                                    {% comment %}{% for subject_rec in subject_list %}#}
{#                            <option value="{{ selected_subject_id }}">{{ selected_subject_name }}</option>#}
{#                        {% endfor %}{% endcomment %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-2">#}
{#                            <button type="submit" id="button1" class="btn blue btn-block" style="margin-top: 38px;"#}
{#                                    disabled>Go#}
{#                            </button>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-2">#}
{#                            <span id="excel_button_id" class="fa fa-file-excel-o"#}
{#                                  style="font-size:40px;color:green;margin-top: 45px;"></span>#}
{#                        </div>#}
{##}
{##}
{#                    </div>#}
{##}
{##}
{#                </form>#}
{##}
{##}
{#                <div class="form-body">#}
{#                    <form method="post" action="{% url 'assessment:SaveEditSetTargetSetting' %}"#}
{#                          id="set_student_target_save_id">#}
{#                        {% csrf_token %}#}
{#                        <input hidden type='text' id="id_subject_name1" name="data">#}
{#                        <input hidden type='text' id="selected_target_setting_rec_id" name="selected_target_setting_rec"#}
{#                               value="{{ target_setting_rec.id }}">#}
{#                        <div style="overflow: auto ;white-space: nowrap">#}
{#                            <input hidden type='text' id="all_id_target_rec" name="all_target_rec"#}
{#                                   value="{{ target_setting_rec }}">#}
{##}
{##}
{#                            <table name="data"#}
{#                                   class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"#}
{#                                   id="sample_1" role="grid" aria-describedby="sample_1_info">#}
{##}
                                {#                                <input hidden type='text' id="id_subject_name1" name="data">#}
{#                                <thead>#}
{##}
{##}
{#                                <tr role="row">#}
{#                                    <th style="display: none">ID</th>#}
{#                                    <th> Student Name</th>#}
{#                                    <th>Student Code</th>#}
{#                                    <th>Scodoo Id</th>#}
{#                                    <th> Class</th>#}
{#                                    <th> Section</th>#}
{#                                    {% for obj in modelDict %}#}
{##}
{#                                        <th> {{ obj.exam_name }} - {{ obj.frequency_list.frequency_name }}#}
{#                                            <input hidden id="frequency-{{ forloop.counter }}"#}
{#                                                   value="{{ obj.frequency_list.id }}">#}
{##}
{#                                            <select autocomplete="off" class="form-control frequency_change rec"#}
{#                                                    id="parent_garde-{{ forloop.counter }}"#}
{#                                                    name="sub_strand_filter" style="width: max-content" disabled>#}
{##}
{##}
{#                                                <option selected="Please Select">Please Select</option>#}
{##}
{#                                                {% for grade in obj.garde_obj %}#}
{#                                                    <option value="{{ grade.id }}"> {{ grade.grades }}</option>#}
{#                                                {% endfor %}#}
{##}
{#                                            </select>#}
{#                                        </th>#}
{##}
{#                                    {% endfor %}#}
{#                                </tr>#}
{##}
{#                                </thead>#}
{#                                <tbody>#}
{#                                {% for obj in final_dict %}#}
{#                                    <tr id="item{{ forloop.counter }}" class="item">#}
{##}
{#                                        <td hidden></td>#}
{#                                        <td>{{ obj.get_all_name }}<input type="hidden" class="rec" id="studentid"#}
{#                                                                         value="{{ obj.id }}"></td>#}
{#                                        <td>{{ obj.student_code }}</td>#}
{#                                        <td>{{ obj.odoo_id }}</td>#}
{#                                        <td>{{ obj.academic_class_section.class_name.class_name }}</td>#}
{#                                        <td>{{ obj.academic_class_section.section_name.section_name }}</td>#}
{##}
{#                                        {% with final_dict|index_returner:obj as val %}#}
{#                                            {% for grade_rec in val %}#}
{#                                                <td>#}
{#                                                    <select autocomplete="off" id="grade-{{ forloop.counter }}"#}
{#                                                            class="form-control rec grade-{{ forloop.counter }}"#}
{#                                                            style="width: max-content" disabled>#}
{#                                                     {% for target_rec in target_setting_rec.students.all %}#}
{#                                                          {% for target_sub_details_rec in target_rec.target_sub_details.all %}#}
{#                                                               <option style="display : none" selected="selected"#}
{#                                                        value="{{ target_sub_details_rec.grade_name.id }}">{{ target_sub_details_rec.grade_name.grades }}</option>#}
{#                                                              {% endfor %}#}
{#                                                         {% endfor %}#}
{##}
{#                                                        {% for grade_obj in grade_rec.grade_detail %}#}
{#                                                            <option value="{{ grade_obj.id }}"> {{ grade_obj.grades }} </option>#}
{#                                                        {% endfor %}#}
{#                                                    </select>#}
{#                                                </td>#}
{#                                            {% endfor %}#}
{#                                        {% endwith %}#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{##}
{#                                </tr>#}
{##}
{#                                </tbody>#}
{#                            </table>#}
{##}
{#                        </div>#}
{##}
{#                        <div class="col-md-4">#}
{#                            <button type="button" class="btn green" id="edit">Edit</button>#}
{#                            <button type="submit" id="update" class="btn green" style="display:none;">Update</button>#}
{#                        </div>#}
{##}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- END FORM-->#}
{##}
{##}
{##}
{#{% endblock %}#}
{##}
{##}
