{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  {# Used For Color Picker#}

    <style type="text/css">
        .row {
            margin-left: -150px;
            margin-right: 20px;
            margin-top: 0px;
        }

        fieldset {
            font-family: sans-serif;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 20px;
            color: #34495e;
        }

        .emp_chk {
            width: 80px;
        }

        .emp1 {
            width: 150px;
        }

        .label {
            text-shadow: none !important;
            font-size: 14px;
            font-weight: 200;
            padding: 3px 0px;
            color: black;
            font-family: fantasy;
        }


    </style>


    <script>
        window.onload = function () {

            $(document).ready(function () {

            });
        }

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
              <li>

                <a href="{% url 'assessment:review_assessment_page' %}"> Review Assessment</a>
                <i class="fa fa-angle-right"></i>
            </li>

             <li>

                <a href="{% url 'assessment:view_all_question_subtiles' %}"> Review Question</a>
                <i class="fa fa-angle-right"></i>
            </li>

        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-red  ">{{ student_answer_obj.particular_question.question_name }}   </span>
            </div>
         <div  style="margin-left: 85%">
            <span class="caption-subject font-red sbold uppercase">Mark :  {{ student_answer_obj.particular_question.mark }}</span>

        </div>

        </div>
        <div class="portlet-body">

            <form action="{% url 'assessment:save_student_mark_per_question' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="form-body">
                <input type="hidden"value="{{ student_answer_obj.id }}" name="student_answer_id">

                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="portlet_tab2">

           {% if question_obj.question_photo == "" %}
                                <div >
                                <input type="file"id="upload_question_image" class="dis" name="upload_question_image_name" disabled>
                                <img id="img_id" style="display: none; margin-top: 10px;" height="180px" width="180px" src="" />
                                </div>
                                {% else%}

                                {% endif%}



                                <div class="">
                                    <h4>Correct Answer :</h4>

                                    <div style="height: 70px; width: 600px;">
                                        <input type="text" readonly class="form-control" value="{{ correct_response.answer }}">

                                    </div>
                                </div>
                            <hr>

                                <div>
                                    <h4>Answer By Student:</h4>

                                    <div style="height: 70px; width: 600px;">
                                        <input type="text" class="form-control"  readonly value="{{ answer_by_student.ans_by_student }}" >

                                    </div>
                                </div>
                            <div>
                            <hr>
                                    <h4>Obtain Marks :</h4>

                                   <div style="height: 70px; width: 100px;" >
                                    <input type="number" class="form-control" name="mark_obtain" {% if student_answer_obj.mark_obtain %} value="{{ student_answer_obj.mark_obtain }}"{% else %} value="" {% endif %}>

                                </div>
{#                                      <h4>Out Of :</h4>#}
{##}
{#                                     <div style="height: 70px; width: 100px;">#}
{#<input type="text" disabled class="form-control" value="{{ student_answer_obj.particular_question.mark }}">#}
{##}
{#                                </div>#}


                                </div>
                              <input type="submit" name="edit" id="edit" class=" edit btn blue btn-block" style="width: 10%; margin-left: 50%" value="Save">





                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

