{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).on("click", ".button_edit", function () {
                var mapping_id1 = $(this).closest('tr').find('td:eq(0)').html();
                $("#mapping_id1").val(mapping_id1);
                $('#form_sample_1').submit();
            });

            $(document).on("click", ".button_delete", function () {

                 if (confirm("Are You Sure Want To Delete  It?") === true) {
                     var mapping_id = $(this).closest('tr').find('td:eq(0)').html();
                var url = '/school/delete_rubric_mapping/';
                delete_mapping(url, mapping_id)

                 }


            });


            function delete_mapping(url, mapp_id) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        mapping_id: mapp_id,
                    },
                })
                    .done(
                        function (data) {
                            location.reload();
                        });
            }
        }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:rubrics_sub_tile' %}">Rubric Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:view_rubric_mapping' %}">Rubric Mapping </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>View Mapping</span>
            </li>
        </ul>
    </div>
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> VIEW MAPPING</span>
            </div>
        </div>
    {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:view_rubric_mapping_filter' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <select style="width: 70%" autocomplete="off" class="form-control" id="id_academic_year"
                                        name="year_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Year_Id }}">{{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}" {{ value1 }} >{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" style="margin-top:35px;margin-left: -80px;" id="mapping"
                                    class="btn blue btn-block">
                                Go
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Mapped Rubric Scheme</span>
            </div>
            <form action="{% url 'assessment:export_rubric_records' %}" id="form_sample_2" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-2">
                    <button type="submit" class="btn blue btn-block" id="export">Export</button>
                </div>
            </form>
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">

            </div>
            <form action="{% url 'assessment:edit_rubric_mapping' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input class="form-control" id="mapping_id1" name="mapping_id1" type="hidden" value="">

                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none">ID</th>
                        <th style="display:none">SUBJECT ID</th>
                        <th>Academic Year</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Rubric Scheme Name</th>
                        <th>Grading Scheme</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Archive</th>
                    </tr>
                    </thead>
                    <tbody> {% for obj in mapping_list %}
                        <tr style="cursor: pointer;">

                            <td style="display:none">{{ obj.id }}</td>
                            <td style="display:none">{{ obj.subject.id }}</td>
                            <td>{{ obj.year.year_name }}</td>
                            <td>{{ obj.class_obj.class_name }}</td>
                            <td>{{ obj.subject.subject_name }}</td>
                            <td> {{ obj.rubric_name.scheme_name }}</td>
                            <td> {{ obj.grade_name.grade_name }}</td>
                            <td>
                                <text hidden="">Edit</text>
                                <input type='button' class="button_edit btn green btn-block" value='Edit' readonly>
                            </td>
                            <td>
                                <text hidden="">Delete</text>
                                <input type='button' class="button_delete btn red btn-block" value='Delete' readonly>
                            </td>
                            <td>
                                {% if obj.is_archived == True %}
                                    <text hidden="">Archived</text>
                                    <input type='button' class="button_archive btn green btn-block" value='Archived' onclick="window.location='{% url "assessment:rubric_mapping_archive" obj.id %}'">
                                {% else %}
                                    <text hidden="">Archive</text>
                                    <input type='button' class="button_archive btn yellow btn-block" value='Archive' onclick="window.location='{% url "assessment:rubric_mapping_archive" obj.id %}'">
                                {% endif%}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
{% endblock %}

                       
