{% extends "index.html" %}

<html lang="">


{% block styleBlock %}

{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {

            $(document).ready(function () {

            });
                {% comment %}$("#id_subject_name").change(function () {
                    var value = $(this).val();
                    if (value == 'c') {
                        $('#id_subject_name option').prop('selected', true);
                        $("select option[value='c']").prop("selected", false);
                    }
                });
                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });

                var currentSelect = $("select#id_academic_year_mapping option:selected").index();

                $("select#id_academic_year_mapping option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });


                $("#id_exam_scheme").change(function () {
                    var id_exam_scheme = $('#id_exam_scheme').val();
                    var url = '/school/view_exam_scheme_subject/';
                    view_exam_scheme_subject(url, id_exam_scheme)
                });


                $('#sample_1').dataTable().fnDestroy();

                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });


                function view_exam_scheme_subject(url, id_exam_scheme) {

                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {
                            id_exam_scheme: id_exam_scheme

                        },
                    })
                        .done(
                            function (data) {
                                $('#id_subject_name').empty();
                                $('#id_subject_name').append(
                                    '<option value="c">Select All</option>');

                                for (var i = 0; i < (data.length) - 1; i++) {
                                    $('#id_subject_name').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].value + '</option>')
                                }
                                if (data[data.length - 1] == true) {
                                }
                                else {
                                }
                            });
                }
            });{% endcomment %}

             $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();
                    $("#id_grade").prop('disabled',false);
                });
        }

    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:rubrics_sub_tile' %}">Rubric Sub Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:view_rubric_mapping' %}">Rubric Mapping </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:view_rubric_mapping_filter' %}">View Rubric Mapping List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>View Rubric Edit Mapping</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Scheme MAPPING</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'assessment:rubric_mapping_update' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div style="margin-left: 1%" class="col-md-3">
                            <h4> Academic Year:</h4>
                            <div class="">
                                <input name="year_name" value="{{ scheme_mapping_rec.year.id }}" hidden>
                                <input name="exist_rubric_mapping_rec" value="{{ scheme_mapping_rec.id }}" hidden>
                                <select style="width: 70%" autocomplete="off" class="form-control" id="id_academic_year"
                                        name="year_name" required="" disabled>
                                    {#                                    {% for obj in scheme_mapping_rec %}#}
                                    <option value="{{ scheme_mapping_rec.year.id }}" {{ value1 }} >{{ scheme_mapping_rec.year.year_name }}</option>
                                    {#                                    {% endfor %}#}
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -4%" class="col-md-2">
                            <h4> Class:</h4>
                            <div class="">
                                <input  name="class_name" value="{{ scheme_mapping_rec.class_obj.id }}" hidden>
                                <select style="width:60%" data-field-name="ClassDetails"
                                        autocomplete="off" class="form-control ab"
                                        id="id_class_name" name="" required="" disabled>
                                    {#                                    {% for obj in scheme_mapping_rec %}#}
                                    <option value="{{ scheme_mapping_rec.class_obj.id }}">{{ scheme_mapping_rec.class_obj.class_name }}</option>
                                    {#                                    {% endfor %}#}
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -4%" class="col-md-3">
                            <h4>Skill Scheme:</h4>
                            <div class="">
                                <input  name="rubric_scheme_name" value="{{ scheme_mapping_rec.rubric_name.id }}" hidden>
                                <select style="width: 80%" autocomplete="off" class="form-control" id="id_exam_scheme"
                                        name="exam_scheme" required="" disabled>
                                    {#                                    {% for obj in scheme_mapping_rec %}#}
                                    <option value="{{ scheme_mapping_rec.rubric_name.id }}" {{ value1 }} >{{ scheme_mapping_rec.rubric_name.scheme_name }}</option>
                                    {#                                    {% endfor %}#}
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -3%" class="col-md-2">
                            <h4> Subject:</h4>
                            <div class="">
                                <input  name="subject_name" value="{{ scheme_mapping_rec.subject.id }}" hidden>
                                <select style="width:60%" data-field-name="SubjectDetails"
                                        autocomplete="off" class="form-control ab"
                                        id="id_subject_name" name="" required="" disabled>
                                    {#                                    {% for obj in scheme_mapping_rec %}#}
                                    <option value="{{ scheme_mapping_rec.subject.id }}">{{ scheme_mapping_rec.subject.subject_name }}</option>
                                    {#                                    {% endfor %}#}
                                </select>
                            </div>
                        </div>

                        <div style="margin-left: -5%" class="col-md-3">
                            <h4>Grading Scheme:</h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_grade"
                                        name="grade_name" required="" disabled>
                                    <option style="display:none" selected="selected" value="{{ scheme_mapping_rec.grade_name.id }}">{{ scheme_mapping_rec.grade_name.grade_name }}</option>
{#                                    <option value="{{ scheme_mapping_rec.grade_name.id }}">{{ scheme_mapping_rec.grade_name.grade_name }}</option>#}
                                    {% for grade in grading_recs %}
                                        <option value="{{ grade.id  }}">{{ grade.grade_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                 <div>
                <button type="button" class="btn blue" id="edit"
                        style=" width: 100px; margin-left: 45%; margin-top: 2%;">
                    Edit
                </button>
                <button type="submit" id="update" class="btn green"
                        style=" width: 100px; margin-left: 45%; margin-top: 2%; display: none">
                    Update
                </button>
            </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
{% endblock %}
