{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  {# Used For Color Picker#}

    <style type="text/css">
        .row {
            margin-left: -150px;
            margin-right: 20px;
            margin-top: 0px;
        }

        fieldset {
            font-family: sans-serif;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 20px;
            color: #34495e;
        }

        .emp_chk {
            width: 80px;
        }

        .emp1 {
            width: 150px;
        }

        .label {
            text-shadow: none !important;
            font-size: 14px;
            font-weight: 200;
            padding: 3px 0px;
            color: black;
            font-family: fantasy;
        }


    </style>


    <script>
        window.onload = function () {


            $(document).ready(function () {
                $("#id_subject_name").change(function (e) {
                    var subject_id = $(this).val()
                    var perodic_scheme_id = $('#id_perodic_scheme').val()
                    var url1 = '/school/subject_realted_strand_perodic_defination/';
                    subject_realted_strand_perodic_defination(url1, subject_id,perodic_scheme_id)

                });
                $("#id_strand_name").change(function (e) {
                    var strand_name = $(this).val()
                    var url1 = '/school/subject_realted_substrand_perodic_defination/';
                    subject_realted_substrand_perodic_defination(url1, strand_name)

                });

                $("#id_sub_strand").change(function (e) {
                    var substrand_name = $(this).val()
                    var url1 = '/school/subject_realted_topic_perodic_defination/';
                    subject_realted_topic_perodic_defination(url1, substrand_name)

                });

                 $("#id_perodic_scheme").change(function (e) {
                    var perodic_scheme_id = $(this).val()
                    var url1 = '/school/perodic_scheme_related_subjects/';
                    perodic_scheme_related_subjects(url1, perodic_scheme_id)

                });



                 $(".emp").change(function (e) {
                    var id = $(this).attr('id');
                    var value = $(this).val()
                    var value_id = value + "-" + id
                    var select = $('#correct_answer')
                    for (var i = 0, opts = document.getElementById('correct_answer').options; i < opts.length; ++i) {
                        if (opts[i].value.split("-")[1] === id) {
                            opts[i].remove()
                        }
                    }
                    if (value != "") {
                        $('#correct_answer').append('<option value="' + value_id + '">' + value + '</option>')
                    }
                });


                var count = 0;
                var last_max = 0;
                $("#add").click(function () {
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {
                        if (tex[k].value === '') {
                            flag_val = true;
                        }
                    }
                    ++count;
                    return addForm(this, count);
                });
                $("#update").click(function () {
                    $('.man').css('border-color', '');
                    var flag = false;

                    $('.man').each(function () {
                        if ($(this).val() == ""||$(this).val()==null) {
                            flag = true;
                        }
                        if (flag == true) {
                            $(this).css('border-color', 'red');
                            return false;
                        }
                    })
                         if (flag == false) {
                             var main_list = []
                            $('.option_val').each(function () {

                                var raw_dict={
                                    id:$(this).attr('id'),
                                    value:$(this).val()
                                };
                                main_list.push(raw_dict)
                            })
                             $('#hidden_option_id').val(JSON.stringify(main_list))
                             $('#correct_response_hidden_id').val(JSON.stringify($('select#correct_answer').val()));
                             $('#form_sample_1').submit();
                         }
                })


                $(".delete").click(function () {

                    return deleteForm(this, 'sub_strands');
                });

                 $(document).on("click", ".edit", function (e) {
                    $("#update").show();
                    $("#edit").hide();
                    $('.dis').prop("disabled", false);
                    $("#add").prop("disabled", false);
                })


                function subject_realted_strand_perodic_defination(url, subject_id,perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            subject_id: subject_id,
                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_strand_name').empty();
                            $('#id_strand_name').append('<option value="">Please select strand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_strand_name').append('<option value="' + data[i].id + '">'
                                    + data[i].strand_name + '</option>')
                                $('#id_strand_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_substrand_perodic_defination(url, strand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            strand_name: strand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_sub_strand').empty();
                            $('#id_sub_strand').append('<option value="">Please select substrand</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_sub_strand').append('<option value="' + data[i].id + '">'
                                    + data[i].substrand_name + '</option>')
                                $('#id_sub_strand').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function addForm(btn, prefix) {

                    var id = prefix;
                    var row = $(".item:first").clone(true).get(0);
                    var correct_response = $(".correct_response:first").clone(true).get(0);
                    row.id = 'item' + id;
                    $(row).children().attr("id", 'option' + id)
                    $(row).children().val('');
                    $(row).hide().insertAfter(".item:last").slideDown(300);


                }

                function deleteForm(btn, prefix) {
                    var forms = $('.item');

                    if (forms.length > 1) {
                        var div_id = ($('.item:last').attr('id'))
                        var i = div_id.split('item')[1]
                        var value = $("#item" + i).children().val()
                        $("#item" + i).remove()
                        var id = parseInt(i)

                        for (var i = 1, opts = document.getElementById('correct_answer').options; i < opts.length; ++i) {
                            if (opts[i].value.split("-")[1] === 'option'+id) {
                                opts[i].remove()
                        }
                    }

                    }


                }

                function perodic_scheme_related_subjects(url, perodic_scheme_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            perodic_scheme_id: perodic_scheme_id,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_subject_name').empty();
                            $('#id_subject_name').append('<option value="">Please select subject</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append('<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                                $('#id_subject_name').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function subject_realted_topic_perodic_defination(url, substrand_name) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {

                            substrand_name: substrand_name,

                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            $('#id_topic').empty();
                            $('#id_topic').append('<option value="">Please select topic</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_topic').append('<option value="' + data[i].id + '">'
                                    + data[i].topic_name + '</option>')
                                $('#id_topic').prop("disabled", false);
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

    document.getElementById("upload_question_image").onchange = function () {
                     $('#img_id').show();

     var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : "+fileExtension.join(', '));
            this.value = '';
            return false;

        }

    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("img_id").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};


            });

        }

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting </a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>
              <li>

                <a href="{% url 'assessment:search_question' %}"> Search Question</a>
                <i class="fa fa-angle-right"></i>
            </li>



            <li>
                <span>View mcq multiple response</span>
            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">MCQ MULTIPLE RESPONSE</span>
            </div>
             <button type="submit" name="updt" id="update"
                    class=" update btn red btn-block" style="display:none;width: 10%;float: right">Update
            </button>
            <button type="button" name="edit" id="edit"
                    class=" edit btn blue btn-block" style="width: 10%;float: right;">Edit
            </button>

        </div>
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form action="{% url 'assessment:update_mcq_multiple_response' %}" id="form_sample_1"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-body">


                    <div class="portlet-body">


                        <div class="tab-content">

                            <div class="tab-pane active" id="portlet_tab2">
                                <input type="hidden"id="hidden_option_id"name="options_data">
                                <input id="correct_response_hidden_id" hidden name="correct_response_data">
                                <input hidden name="rec_id"value="{{ rec_id }}">


                                <div style="height: 70px; width: 600px; margin: 0px;">
                                    <input type="hidden" id="countchoice" name="countchoice" value=""/> <h4>Title :</h4>
                                    <input type="text" disabled placeholder="[Title](max 150 characters)" maxlength="150" class="form-control dis man" id="title_mcq_s" name="title" value="{{ question_obj.title }}" aria-required="true" aria-invalid="false" aria-describedby="title_mcq_s-error title_mcq_s-error title_mcq_s-error title_mcq_s-error">
                                </div>


                                <div class="">
                                                                        <h4>Instruction :</h4>
                                    <textarea style="height: 70px; width: 600px; margin: 0px;"disabled class="dis man" placeholder="instruction" name="instruction">{{ question_obj.instruction }}</textarea>
                                </div>

                                <br>
                                <div id="response">
                                                                        <h4>Question :</h4>
                                    <textarea style="height: 70px; width: 600px; margin: 0px;" placeholder="Question"disabled class="dis man" name="question" id="question">{{question_obj.question_name }}</textarea>

                                </div>
                                <br>

                                {% if question_obj.question_photo == "" %}

                                <div >
                                <input type="file"id="upload_question_image"class="dis" name="upload_question_image_name" disabled>
                                <img style="display: none; margin-top: 10px" id="img_id" height="180px" width="180px" src=" " />
                                <!--<img id="img_qstn_id" />-->
                                </div>
                                {% else %}

                                <div >
                                <input type="file"id="upload_question_image"class="dis" name="upload_question_image_name" disabled>
                                <img id="img_id" style="margin-top: 10px;" height="180px" width="180px" src="{{question_obj.question_photo.url}}" />
                                <!--<img id="img_qstn_id" />-->
                                </div>
                                {% endif %}

                                <div style="margin-left: 90%">
                                    <a href="javascript:;" id="add" class="btn btn-icon-only green" style="">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <a href="javascript:;" class="delete btn btn-icon-only purple"
                                       style="">
                                        <i class="fa fa-times"></i>
                                    </a>

                                </div>
                              <h4>Options :</h4>


                               {% for rec in question_obj.ans.all %}

                                <div style="height: 70px; width: 600px; margin: 0px;" class="item">

                                    <input type="text"id="{{ rec.id }}" disabled class="form-control emp dis man option_val" value ="{{ rec.answer }}" name="options">

                                </div>
                            {% endfor %}

                                <div style="height: 70px; width: 600px; margin: 0px;" class="correct_response">
                                    <h4>Correct response :</h4>
                                    <select autocomplete="off" class="form-control dis man" disabled multiple id="correct_answer"
                                            name="correct_response">

                                         {% for rec in options %}
                                             {% if rec.answer in multiple_answers_list  %}
                                              <option selected="selected" value="{{ rec.answer }}-{{ rec.id }}">{{ rec.answer }}</option>
                                             {% else %}
                                             <option value="{{ rec.answer }}-{{ rec.id }}">{{ rec.answer }}</option>
                                             {% endif %}
                                         {% endfor %}

                                    </select>


                                </div>
                                <br>
                                <br>
                                <br>

                                <div style="height: 70px; width: 600px; margin: 0px;" class="i">
                                    <h4>Mark :</h4>
                                    <input type="number" class="form-control dis man" disabled placeholder="Maximum Score" id="max_score"
                                           name="max_score" value="{{ question_obj.mark }}">

                                </div>
                                <br>
                                <div class="">
                                    <button type="button" style="height: 35px; width: 600px; margin: 0px;" class="btn blue btn-block" data-toggle="collapse" data-target="#demo">Meta Data
                                    </button>
                                </div>

                                <div id="demo" class="collapse">
                                 <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_perodic_scheme" disabled title="Select Subject" name="perodic_scheme"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required>
                                         <option style="display:none" selected="selected"
                                                value="{{ perodic_scheme.0.id }}"> {{ perodic_scheme.0.perodic_scheme_name }}</option>
                                        {% for rec in all_perodic_scheme %}
                                            <option value="{{ rec.id }}">{{ rec.perodic_scheme_name }}</option>
                                        {% endfor %}
                                    </select>

                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_subject_name" name="subject_name" disabled
                                            style="height: 35px; width: 600px;margin-top: 2%">
                                        <option style="display:none" selected="selected"
                                                value="{{ selected_subject.id }}"> {{ selected_subject.subject_name }}</option>

                                    </select>

                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_strand_name" name="strand_name"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required disabled>
                                        <option selected="selected"
                                                value="{{ perodic_strand_obj.id }}">{{ selected_strand.strand_name }}</option>

                                    </select>


                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_sub_strand" name="sub_strand"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required disabled>
                                        <option selected="selected"
                                                value="{{ substrand_obj.id }}">{{ selected_substrand.substrands_name }}</option>

                                    </select>

                                    <select autocomplete="off" class="form-control dis man" data-live-search="true"
                                            id="id_topic" name="topic_name"
                                            style="height: 35px; width: 600px;margin-top: 2%"
                                            required disabled>
                                        <option selected="selected"
                                                value="{{ selected_topic.id }}">{{ selected_topic.topic }}</option>

                                    </select>


                                </div>


                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div>
                    <p id="title_preview"></p>
                </div>


                <div class="form-actions">
                    <div class="row">
{#                        <div class="col-md-9" style="margin-left: 40%; margin-right: 50%;">#}
{#                            <button id="save" disabled type="button" class="btn green dis">Save</button>#}
{#                        </div>#}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

