{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}


{% block styleBlock %}
    {#    <!-- BEGIN GLOBAL MANDATORY STYLES -->#}
    {##}
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>
    table{
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

    </style>
{% endblock %}
{% block ScriptBlock %}

    <script>

        window.onload = function () {

            $(document).on("click", ".button_edit", function () {
                exam_name_id = $(this).closest('tr').find('td:eq(0)').html();
                acd_id = $(this).closest('tr').find('td:eq(1)').html();
                $("#exam_name_id").val(exam_name_id);
                $("#acd_id").val(acd_id);
                $('#form_sample_1').submit();

            });


            $(document).on("click", ".button_delete", function () {

                if (confirm("Are You Sure Want To Delete  It?") === true) {
                    mapping_id = $(this).closest('tr').find('td:eq(0)').html();
                    acd_id = $(this).closest('tr').find('td:eq(1)').html();
                    var url = '/school/delete_exam_mapping/';
                    delete_mapping(url, mapping_id, acd_id)
                }
            });


            function delete_mapping(url, mapp_id, acd_id) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        mapping_id: mapp_id,
                        acd_id: acd_id,
                    },
                })
                    .done(
                        function (data) {
                            location.reload();
                        });
            }
        }


    </script>

{% endblock %}

{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:reported_score_sub_tile' %}"> Reported Score Sub-Tile </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:reported_score_class_section_mapping' %}"> Reported Score Mapping </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Reported Score Class-Subject Mapping List</span>
            </li>

        </ul>
    </div>



    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Reported Score Mapping</span>
                </div>
            </div>

            <br><br>


            <form action="{% url 'assessment:delete_reported_score_class_section_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th hidden>Id</th>
                        {#                    <th>Select</th>#}
                        <th class="center">Academic Year</th>
                        <th class="center">Class</th>
                        <th class="center">Section</th>
                        <th class="center">Subject</th>
{#                        <th class="center">Reported Score Code</th>#}
                        <th class="center">Reported Score</th>
                        <th hidden></th>
{#                        <th hidden></th>#}
{#                        <th hidden></th>#}
                        {#                    <th>Frequency Name</th>#}
                        {#                    <th>Weightage(%)</th>#}

                    </tr>
                    </thead>
                    <tbody>
                    {% for rec in report_class_list %}
                        <tr>
                            <td hidden>{{ forloop.counter }}</td>
                            <td style="text-align: center;"><label
                                    style="margin-top: 40px;">{{ rec.rec.year.year_name }}</label></td>
                            <td style="text-align: center"><label
                                    style="margin-top: 40px;">{{ rec.rec.class_name.class_name }}</label></td>
                            <td style="text-align: center">
                                <label style="margin-top: 40px;">
                                    {% for section in rec.section_list %}
                                        <b>{{ section.section_name }},</b>
                                    {% endfor %}
                                </label>


                            </td>
                            <td style="text-align: center">
                                <label style="margin-top: 40px;">{{ rec.rec.subject.subject_name }}</label>
                            </td>
                           {% comment %} <td style="text-align: center">
                                <label style="margin-top: 40px;">{{ rec.rec.reported_exam_mapp.code }}</label>
                            </td>{% endcomment %}
                            <td style="text-align: center">
                                <label style="margin-top: 40px;">{{ rec.rec.reported_exam_mapp.report_name }}</label>
                            </td>

                            <td style="margin:0px;padding:0px;height:100%;">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                       style="width: 100%; height: 100%; margin:0px;padding:0px;">
                                    <tr>
                                        <th hidden></th>
                                        <th width="33%">Exam Name</th>
                                        <th width="33%">Frequency Name</th>
                                        <th width="33%">Weightage</th>
                                    </tr>
                                    <input value="{{ count_init.res }}" hidden>
                                    {% for report_rec in rec.rec.reported_exam_mapp.reported_score_id.all %}
                                        <tr>
                                            <td hidden></td>
                                            <td>{{ rec.rec.reported_exam_mapp.reported_score_id.all|exam_index:count_init.disp }}</td>
                                            <td>{{ rec.rec.reported_exam_mapp.reported_score_id.all|frequency_index:count_init.disp }}</td>
                                            <td>{{ rec.rec.reported_exam_mapp.reported_score_id.all|weightage_index:count_init.disp }}</td>
                                            <input value="{{ count_init.inc }}" hidden>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>

                            {% comment %}<td><b>Exam Name</b><br>
                                {% for report_rec in rec.rec.reported_exam_mapp.reported_score_id.all %}
                                    {{ report_rec.exam_name.exam_name }}<br>
                                {% endfor %}
                            </td>
                            <td style="width: 200px;"><b>Frequency Name</b><br>
                                {% for report_rec in rec.rec.reported_exam_mapp.reported_score_id.all %}
                                    {{ report_rec.frequency_name.frequency_name }}<br>
                                {% endfor %}
                            </td>
                            <td><b>Weightage(%)</b><br>
                                {% for report_rec in rec.rec.reported_exam_mapp.reported_score_id.all %}
                                    {{ report_rec.weightage }}<br>
                                {% endfor %}
                            </td>{% endcomment %}
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </form>

        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}


