{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}

{% block styleBlock %}
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 75px;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_length {
            float: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right;
            display: none;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 8px;
            white-space: nowrap;
            display: none;
        }

        span {
            font-weight: bold;
        }

        input {
            margin-left: 7%;
            width: 75%;
        }

        .marks input {
            margin-left: 7%;
            width: 60%;
        }

        .marks span {
            display: none;
        }

        .mrk {
            margin-top: 5%;
        }

        .disabled_href {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }

    </style>


{% endblock %}


{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {#<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />#}

    <script>
        window.onload = function () {

            if ("{{ name_edit_flag }}" == "True") {
                $('.edit').prop("disabled", True);
                $('.delete').prop("disabled", True);
                $('.delete_scheme').prop("disabled", True);

            }

            var scheme_id = $('#scheme_id').val();
            {#    alert(exam_id);#}
            var url = '/school/ViewGetPerodicSchemeFreq/';

            getMappedFrequencies(url, scheme_id)

            function getMappedFrequencies(url, scheme_id) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {

                        scheme_id: scheme_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })
                    .done(
                        function (data) {
                            $('#id_frequency_mapping').empty();
                            {% comment %} $('#id_subject_name').append(
                                 '<option value="">Please select</option>');{% endcomment %}
                            for (var i = 0; i < data.length; i++) {
                                $('#id_frequency_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].freq_name + '</option>')
                            }

                            $('#id_frequency_mapping').val(data[0].fre_list);

                        });
            }

            $(document).on("change", ".strand_class", function (e) {

                var parent_id = $(this).parents('tr:eq(0)').attr('id')
                var id_subject_name = $('#id_subject_name').val();
                var strand_id = $('#' + parent_id + ' .strand_class').val();
                var url = '/school/view_sub_strands_details/';
                view_sub_strands(url, id_subject_name, strand_id, parent_id)


            });
            $(document).on("change", ".validate_value1", function (e) {
                if (($(this).val().match(/^[\w](?!\d*[-_]+\d*$)[ \w-]*$/) != null) == false) {
                    $(this).css('border-color', 'red');
                    $(this).val('')
                    var id = $(this).attr('id');
                    $("." + id).text('');
                    alert("Please Match The Following Format\n Only Alphanumeric is allowed with '-' and '_'")
                    return false;
                }
                $(this).css('border-color', '');
            });



            $(document).on("click", "#submit_form", function () {


                $('.emp').css('border-color', '');
                var flag_val = false;
                var tex = $('.emp');

                for (var k = 0; k < $('.emp').length; k++) {
                    if (tex[k].value === '') {
                        $('#' + tex[k].id).css('border-color', 'red');
                        flag_val = true;
                    }
                }
                if (flag_val === true) {
                    alert("Please Enter Proper Values Then Submit.")
                    return false;
                }


                var all_parent = $('#tb tr');
                var main = [];
                var submit = true;
                var scheme_code = $('#scheme_code').val();
                var scheme_name = $('#scheme_name').val();

                for (var p = 0; p < all_parent.length; p++) {
                    var parent_id = all_parent[p].id;
                    var scheme_id = document.getElementById('scheme_id').value;
                    var stand_id = $('#' + parent_id + ' .save_rec #stand').val()
                    var topic_len = $('#' + parent_id + ' #topic .len').length;
                    // var sub_topic_len = $('#' + parent_id + ' #subTopic .len').length;
                    var all_substrand_id = $('#' + parent_id + ' .substrands select');
                    var all_substrand_option_id = $('#' + parent_id + ' .substrands option');
                    var all_topic_id = $('#' + parent_id + ' #topic input');
                    var all_topic_option_id = $('#' + parent_id + ' #topic option');
                    // var all_sub_topic_id = $('#' + parent_id + ' .subTopic input');
                    // var all_sub_topic_option_id = $('#' + parent_id + ' .subTopic option');
                    var all_topic_option_id = $('#' + parent_id + ' .topic option');
                    var all_substrand_option_id = $('#' + parent_id + ' .substrands option');
                    // var all_marks_id = $('#' + parent_id + ' .marks input');
                    var topics = [];

                    var st_val = null;

                    var data = [];  // Main array in which all records will be pushed

                    for (var i = 0; i < topic_len; i++) {   // Creating a paylod of topic-ids and their values
                        var topic_id = all_topic_id[i].id;

                        var payload = {
                            "id": topic_id,
                            "value": document.getElementById(topic_id).value
                        }
                        topics.push(payload);
                    }

                    var strand_value = $('#' + parent_id + '-strand1').val();
                    var substrand = [];  // Array for pushing substrand
                    var sublen = $('#' + parent_id + ' #ab .len').length;  //Substrand input field count


                    var top_payload

                    for (var i = 0; i < sublen; i++) {  //Loop for substrand
                        var id = all_substrand_id[i].id;
                        var aa = [];




                        var sp_id = id.split("-");  //spliting substrand ids and sp_id[2] is substrand input id like subStrand1, subStrand2 etc.
                        for (var j in topics) {  //Loop to iterating topic elements


                            var top_id = topics[j].id;
                            var t_id = top_id.split("-");  //spliting topic - and t_id[2] is topic input id like subStrand1, subStrand1 etc.



                            if (sp_id[2] == t_id[2]) {   // checking ids of subStrand and topic for their relation

                            // alert("option : "+(($('#' + topics[j].id).next()).is('OPTION')));

                                var value = topics[j].value;
                                st_val = value;
                                if (($("#" + topics[j].id).next()).is('OPTION') === true) {

                                    top_payload = {              // dictionary for topic and subtopic
                                        topic_id: ($("#" + topics[j].id).next()).val(),
                                        topic:value,
                                        //subtopic: sub_data,
                                    }
                                }
                                else {

                                    top_payload = {              // dictionary for topic and subtopic
                                        topic_id: '',
                                        topic: value,

                                    }
                                }
                                aa.push(top_payload)

                        }
                        }//End of topic loop

                        // alert( document.getElementById(id).value)
                        // alert("hii")
                        //
                        // var substrand_data = [];
                        //
                        // var subpayload = {
                        //     "id": id,
                        //     "value": document.getElementById(id).value
                        //     }
                        //
                        //     substrand_data.push(subpayload);



                        // alert(($('#' + id).next()).val());



                        // alert("option : "+(($('#' + id).next()).is('OPTION')));

                        st_val = $('#' + id).val();



                        if (($('#' + id).next()).is('OPTION') === true) {


                            if ((aa.length === 0)) {
                                alert("Please Enter Topic Saving The Record..")
                                return false;
                            }

                            dic = {
                                substrand_id: ($('#' + id).next()).val(),
                                substrand_name: $('#' + id).val(),
                                topic: aa
                            }
                        }
                        else {

                            if ((aa.length === 0)) {
                                alert("Please Enter Topic Before Saving The Record..")
                                return false;
                            }

                            dic = {
                                substrand_id: '',
                                substrand_name: $('#' + id).val(),
                                topic: aa
                            }
                        }
                        substrand.push(dic)    // pushing dictionary of substrand in substrand array
                    }  // End of substrand for loop



                    if ((substrand.length === 0)) {
                        alert("Please Enter Substrand, Topic Before Saving The Record..")
                        return false;
                    }

                    if (stand_id == null) {
                        var payl = {   // Pushing substrand array to strand dictionary
                            stand_id: '',
                            strand: strand_value,
                            substrand: substrand
                        };
                    }
                    else {
                        var payl = {   // Pushing substrand array to strand dictionary
                            stand_id: stand_id,
                            strand: strand_value,
                            substrand: substrand
                        };
                    }


                    main.push(payl); // Finally Pushing strand dictionary to final array
                }
                data.push(main);
                // alert(JSON.stringify(data))
                // return false

                var frequency_mapping_data = $('select#id_frequency_mapping').val();

                if (confirm("Are You Sure Want To Save It?") === true) {
                    var url = '/school/update_perodic_defination_scheme/';
                    update_skill_tracker(url, JSON.stringify(data), scheme_id, stand_id, submit,frequency_mapping_data);   // Passing the final data array to ajax for passing backend
                }
           });


            $(document).on("click", ".delete", function () {
                var len = $('.main').length;
                var parent_id = $(this).parents('tr:eq(0)').attr('id')
                var stand_id = $('#' + parent_id + ' .save_rec #stand').val()
                var scheme_id = document.getElementById('scheme_id').value;

                if (len > 1) {
                    var url = '/school/DeletePerodicStrand/';
                    delete_strand(url, scheme_id, stand_id);
                }
                else {
                    alert("A Single Record Cannot Be Deleted.")
                }
            });


            var count = $('.count').length;
            var addes_row_count = 0;
            $(document).on("click", ".add_row", function () {
                {
                    addes_row_count++;
                    ++count;
                    return addForm(count);
                }
            });


            function addForm(prefix) {
                var id = prefix;

               var row = '<tr class="item count" id="item' + id + '"><span id="message" style="display:none;"></span><td><a href="javascript:;" id="add_row" class="form-control btn btn-icon-only green add_row" style="width:40%;"><i class="fa fa-plus"></i></a><a href="javascript:;" class=" remove_row delete btn btn-icon-only purple" style="width:40%;"><i class="fa fa-times"></i></a></td> <td class="strand"><select id="item' + id + '-strand1" class="Strand validate_value emp strand_class" style="width:150px;"><option style="display:none" selected="selected"value="">Please Select </option>{% for obj in subject_list %}<option value="{{ obj.id}}">{{ obj.strand_name }}</option>{% endfor %}</select></td> <td id="ab" class="substrands"><div id="item' + id + '-strand1"><span class="item' + id + '-strand1"></span><a href="javascript:;" id="addSubStrands" class="addSubStrand" style="width:11%;"><i class="fa fa-plus"></i><br></a><select  id="item' + id + '-strand1-subStrand1" class="len validate_value emp sub_strand_class" style="width: 150px;"><option style="display:none" selected="selected"value="">Please Select </option></select></div></td> <td id="topic" class="topic"><div id="item' + id + '-strand1-subStrand1" class="item' + id + '-strand1-rem1"><span class="item' + id + '-strand1-subStrand1"></span><a href="javascript:;" id="item' + id + '-strand1-add1" class="ab addTopic" style="width:11%;"><i class="fa fa-plus"></i></a><br><input class="len validate_value emp" title="Only Alphanumeric is allowed with \'-\' and \'_\'" id="item' + id + '-strand1-subStrand1-topic1"><a href="javascript:;" id="item' + id + '-strand1-subStrand1-rem1" class="deleteTopic" style="width:11%;"><i class="fa fa-times"></i></a></div></td>  </tr>'

                $(row).hide().insertAfter(".item:last").slideDown(300);
            }

            $(document).on("click", ".remove_row", function () {
                var len = $('.count').length;
                len = parseInt(len);
                if (len > 1) {
                    addes_row_count--;
                    $(this).parents('tr:eq(0)').remove();
                }
                else {
                    alert("A Single Record Cannot Be Deleted.")
                }
            });

            $(document).ready(function () {

                $('#example').dataTable().fnDestroy();
                $('#example').dataTable(
                    {
                        "bSort": false,
                        "paging": false,
                        "ordering": false,
                        "info": false
                    });

                $('sorting_desc').removeClass('sorting_desc');
                $('.sorting_asc').removeClass('sorting_asc');




                $(document).on("change", "input", function () {
                    var id = $(this).attr('id');
                    $("." + id).text($(this).val());
                });

                $(document).on("keyup", "input", function () {
                    var id = $(this).attr('id');
                    $("." + id).text($(this).val());
                });
                $(document).on("change", "select", function () {
                    var id = $(this).attr('id');
                    var option_value = $(this).find("option:selected").text()
                    $("." + id).empty()
                    $("." + id).append(option_value)


                });

                $(document).on("click", ".addSubStrand", function () {

                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {
                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }
                    var count1 = 0;
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var strand = $('#' + parent_id + ' .strand  select:first').attr('id')
                    if ($('#' + parent_id + ' .substrands  select:last').length > 0) {

                        var id = $('#' + parent_id + ' .substrands  select:last').attr('id')
                        var i = id.split('subStrand')[1];
                    }
                    else {
                        i = 0;
                    }

                    var div = document.createElement("div");
                    var divS = document.createElement("div");
                    var divM = document.createElement("div");
                    var textBox = document.createElement("select");
                    var br = document.createElement("br");
                    var br1 = document.createElement("br");
                    var sp = document.createElement("span");
                    count1 = parseInt(i)
                    ++count1;
                    textBox = $('#' + parent_id + ' .substrands  select:last').clone(true).get(0);
                    textBox.style.cssText = 'margin-bottom: 10%; '
                    textBox.style.cssText = 'width:150px; '
                    textBox.id = strand + "-subStrand" + count1;
                    textBox.classList.add('len', 'emp','validate_value');
                    var foo = document.getElementById(parent_id).getElementsByClassName("substrands")[0];
                    foo.appendChild(br);
                    document.getElementById(parent_id).getElementsByClassName("substrands")[0].appendChild(textBox);
                    var add = $(".item .addTopic").clone(true).get(0);
                    add.hidden = false;
                    add.id = strand + '-add' + count1;
                    var del = $(".item .deleteSubStrands").clone(true).get(0);
                    del.hidden = false;
                    del.id = strand + '-rem' + count1;
                    add.style.cssText = 'position:relative; margin-top: 3px; margin-left:3px; cursor: pointer;';
                    del.style.cssText = 'position:relative; margin-top: 3px; margin-left:1%; cursor: pointer;';
                    var m_id = strand + "-subStrand" + count1;
                    sp.classList.add(m_id);
                    div.classList.add(strand + '-rem' + count1);
                    divS.classList.add(strand + "-subStrand" + count1 + "S", strand + '-rem' + count1);
                    divM.classList.add(strand + "-subStrand" + count1 + "M", strand + '-rem' + count1);
                    div.id = m_id
                    div.style.cssText = 'margin-top: 3%; '
                    div.appendChild(sp)
                    div.appendChild(add)
                    div.appendChild(br1)
                    document.getElementById(parent_id).getElementsByClassName("topic")[0].appendChild(div);
                    document.getElementById(parent_id).getElementsByClassName("substrands")[0].append(del);

                });



                $(document).on("click", ".deleteSS", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' #topic .len').length;
                    var len = $('#' + parent_id + ' #ab .len').length;

                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("-");
                    var las = res[2].split("rem")[1];
                    var top_len = '#' + parent_id + '-strand1-subStrand' + las;
                    var top_child = $("#" + parent_id + " .topic " + top_len + " input");

                    if (len > 1) {
                        if (top_child.length > 0) {

                            if (confirm("Related Topic and Subtopic Will Also Be Deleted." +
                                    "Are You Sure Want To Delete It?") === true) {

                                $('#' + parent_id + '-strand1-subStrand' + las).remove();
                                $('#' + parent_id + '-strand1-add' + las).remove();
                                $('#' + parent_id + '-strand1-rem' + las).remove();

                                $("#" + parent_id + " .topic ." + id).remove();
                                $("#" + parent_id + " .subTopic ." + id).remove();
                                $("#" + parent_id + " .marks ." + id).remove();
                            }
                        }
                        else {
                            $('#' + parent_id + '-strand1-subStrand' + las).remove();
                            $('#' + parent_id + '-strand1-add' + las).remove();
                            $('#' + parent_id + '-strand1-rem' + las).remove();

                            $("#" + parent_id + " .topic ." + id).remove();
                            $("#" + parent_id + " .subTopic ." + id).remove();
                            $("#" + parent_id + " .marks ." + id).remove();
                        }
                    }
                });

                $(document).on("click", ".deleteTopic", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' #topic .len').length;

                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("rem");
                    var substrnd_id = res[0]
                    var las = res[1];


                    var top = ($(this).parents('div').eq(0)).attr('class')

                    if (confirm("Are You Sure Want To Delete It?") === true) {
                        $('#' + substrnd_id + 'topic' + las).remove();
                        $('#' + substrnd_id.split("-")[2] + '-add' + las).remove();
                        $('#' + id).remove();

                    }


                });



                $(document).on("click", ".addTopic", function () {
                    $('.emp').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');
                    for (var k = 0; k < $('.emp').length; k++) {

                        if (tex[k].value === '') {
                            $('#' + tex[k].id).css('border-color', 'red');
                            flag_val = true;
                        }
                    }

                    if (flag_val === true) {
                        alert("Please Enter The Value Then Add New.")
                        return false;
                    }
                    var count1 = 0;
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var las = $(this).attr('id');

                    var index = las.split('add')[1];

                    var len = $('#' + parent_id + ' .substrands .addTopic').length;
                    var all_input_id = $('#' + parent_id + ' .topic  input')
                    var max = 0;

                    if (all_input_id.length > 0) {
                        var arr = [];
                        for (var z = 0; z < all_input_id.length; z++) {
                            arr.push(parseInt((all_input_id[z].id).split('topic')[1]));
                        }

                        max = arr.reduce(function (a, b) {
                            return Math.max(a, b);
                        });
                    }

                    count1 = parseInt(max);
                    count1 = count1 + 1;

                    var app = parent_id + '-strand1' + '-subStrand' + index;
                    var add = $(".item ").clone(true).get(0);
                    add.id = 'subStrand' + index + '-add' + count1;
                    add.hidden = false;
                    var del = $(".r1 .deleteTOP").clone(true).get(0);
                    del.id = app + '-rem' + count1;
                    del.hidden = false;
                    var div = document.createElement("div");
                    var divM = document.createElement("div");
                    var textBox = document.createElement("input");
                    var br = document.createElement("br");
                    var br1 = document.createElement("br");
                    var sp = document.createElement("span");
                    var sp1 = document.createElement("span");
                    var m_id = app + "-topic" + count1;
                    sp.classList.add(m_id);
                    sp1.classList.add(m_id);
                    divM.style.cssText = ' margin-top: 3%; '
                    div.style.cssText = 'margin-top: 3%; '
                    textBox.style.cssText = 'margin-top: 2%;'
                    textBox.id = app + "-topic" + count1;
                    textBox.classList.add('len', 'validate_value', 'emp');
                    textBox.title = "Only Numbers or Alphanumeric is allowed with '-' and '_'"
                    $(this).parents('div:eq(0)')[0].appendChild(textBox);
                    $(this).parents('div:eq(0)')[0].append(del);
                    divM.classList.add(app + '-rem' + count1);
                    div.classList.add(app + '-rem' + count1);
                    divM.id = app + "-topic" + count1;
                    div.id = app + "-topic" + count1;
                    div.appendChild(sp)
                    div.appendChild(add)
                    div.appendChild(br)
                    divM.appendChild(sp1)
                    divM.appendChild(br1)
                    var div_id = app + "-topic" + count1
                    var top = ($(this).parents('div').eq(0)).attr('class')
                    var top_id = ($(this).parents('div').eq(0)).attr('id')

                });


                $(document).on("click", ".deleteTOP", function () {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' #topic .len').length;

                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("rem");
                    var substrnd_id = res[0]
                    var las = res[1];

                    var top = ($(this).parents('div').eq(0)).attr('class')

                    if (len > 1) {
                        $('#' + substrnd_id + 'topic' + las).remove();
                        $('#' + substrnd_id.split("-")[2] + '-add' + las).remove();
                        $('#' + id).remove();
                        $("#" + parent_id + " .subTopic ." + id).remove();
                        $("#" + parent_id + " .marks ." + id).remove();
                        var sub_topic_ht = $('#' + parent_id + ' .subTopic .' + top).height()

                        var sub_top_id = $('#' + parent_id + ' .substrands #' + top).prev('input').attr('id')
                        var top_ht = $('#' + parent_id + ' .topic .' + top).height()
                        var max_ht = sub_topic_ht;

                        if (parseInt(top_ht) > parseInt(sub_topic_ht)) {
                            max_ht = top_ht;
                        } else {
                            max_ht = sub_topic_ht;
                        }
                    }
                    {#$('#' + parent_id + ' .substrands #' + sub_top_id)[0].style.cssText = 'margin-bottom:' + max_ht + 'px';#}
                });

                addMark = function (id, num, subsrt, div_obj) {
                    var parent_id = id;
                    var count1 = num;
                    var subStrand = subsrt;
                    var div_obj1 = div_obj;

                    var add = $(".item .deleteSubTopic").clone(true).get(0);
                    add.hidden = false;
                    add.id = parent_id + "-strand1-" + subStrand + "Trem" + count1;

                    var br = document.createElement("br");
                    var textBox = document.createElement("input");
                    textBox.style.cssText = 'margin-top: 2%;';
                    textBox.id = parent_id + "-strand1-" + subStrand + "-mark" + count1;
                    textBox.classList.add('emp', 'mrk');
                    textBox.title = "Only Numbers Are Allowed"
                    $("#" + parent_id + " .marks #" + div_obj1)[0].appendChild(textBox);
                    $("#" + parent_id + " .marks #" + div_obj1)[0].append(add);
                    $("#" + parent_id + " .marks #" + div_obj1)[0].appendChild(br);
                }





                $(document).on("click", ".delete_Substrand", function () {
                    var scheme_id = document.getElementById('scheme_id').value;
                    var ids = $(this).attr('id');
                    var res = ids.split("-");
                    var strand = res[0];
                    var substrand = res[1];
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' .delete_Substrand').length;

                    if (confirm("Related Topic and Subtopic Will Also Be Deleted." +
                            "Are You Sure Want To Delete It?") === true) {
                        var url = '/school/substrand_delete/';
                        delete_substrand(url, scheme_id, strand, substrand);
                    }

                });

                 $(document).on("click", ".deleteSubStrands", function () {


                    var parent_id = $(this).parents('tr:eq(0)').attr('id')

                    var len = $('#' + parent_id + ' #topic .len').length;
                    var len = $('#' + parent_id + ' #ab .len').length;

                    len = parseInt(len)

                    var id = $(this).attr('id');
                    var res = id.split("-");
                    var las = res[2].split("rem")[1];
                    var top_len = '#' + parent_id + '-strand1-subStrand' + las;
                    var top_child = $("#" + parent_id + " .topic " + top_len + " input");

                    {#                    if (len > 1) {#}
                    if (top_child.length > 0) {
                        if (confirm("Related Topic and Subtopic Will Also Be Deleted." +
                                "Are You Sure Want To Delete It?") === true) {

                            $('#' + parent_id + '-strand1-subStrand' + las).remove();
                            $('#' + parent_id + '-strand1-add' + las).remove();
                            $('#' + parent_id + '-strand1-rem' + las).remove();

                            $("#" + parent_id + " .topic ." + id).remove();
                            $("#" + parent_id + " .subTopic ." + id).remove();
                            $("#" + parent_id + " .marks ." + id).remove();
                        }
                    }
                    else {
                        $('#' + parent_id + '-strand1-subStrand' + las).remove();
                        $('#' + parent_id + '-strand1-add' + las).remove();
                        $('#' + parent_id + '-strand1-rem' + las).remove();

                        $("#" + parent_id + " .topic ." + id).remove();
                        $("#" + parent_id + " .subTopic ." + id).remove();
                        $("#" + parent_id + " .marks ." + id).remove();
                    }

                });



                $(document).on("click", ".delete_topic", function () {

                    var scheme_id = document.getElementById('scheme_id').value;
                    var parent_id = $(this).parents('tr:eq(0)').attr('id')
                    var len = $('#' + parent_id + ' .delete_topic').length;

                    var ids = $(this).attr('id');
                    var res = ids.split("-");
                    var substrand = res[0];
                    var topic_id = res[1];

                    if (confirm("Are You Sure Want To Delete It?") === true) {
                        var url = '/school/DeletePerodicTopic/';
                        delete_topic(url, scheme_id, substrand, topic_id);
                    }
                });




                $(".edit").click(function () {
                    $(".edit").hide();
                    $(".save").show();
                    $('#id_frequency').prop("disabled", false);
                    $('#id_frequency_mapping').prop("disabled", false);
                    $('.dis').prop("disabled", false);
                    $('.disabled_href').removeClass('disabled_href');
                })

            });

            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);


            function update_skill_tracker(url, data, schm_id, stnd_id, submit_rec, frequency_mapping_data) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        data: data,
                        scheme_id: schm_id,
                        stand_id: stnd_id,
                        submit: submit_rec,
                        frequency_data: JSON.stringify(frequency_mapping_data),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        {#                        console.log("Hello Success....");#}
                        {#                        alert(JSON.stringify(data));#}
                        window.location.reload();
                    },
                    error: function (xhr, msg, err) {
                        alert("Record Not Saved. Some Error Occoured");
                        {#                        alert(xhr.responseJSON.error);#}
                    }

                });
            }

            function delete_strand(url, schm_id, stnd_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_id: schm_id,
                        stand_id: stnd_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function () {
                        {#                        alert("Success");#}
                        window.location.reload();
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }


            function delete_substrand(url, schm_id, strnd, sub_strnd) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_id: schm_id,
                        strand_id: strnd,
                        substrand_id: sub_strnd,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function () {

                        window.location.reload();

                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }


            function delete_topic(url, schm_id, sub_strnd, top_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_id: schm_id,
                        substrand_id: sub_strnd,
                        topic_id: top_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function () {
                        window.location.reload();
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }


            function delete_subtopic(url, schm_id, top_id, sub_top_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scheme_id: schm_id,
                        topic_id: top_id,
                        subtopic_id: sub_top_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function () {
                        {#                        console.log("Hello Success....");#}
                        //alert("Success Subtopic");
                        window.location.reload();
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }

            function viewSubjectDetails(url) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                })

                    .done(
                        function (data) {
                            $('#id_subject_name').empty();
                            $('#id_subject_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_subject_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].subject_name + '</option>')
                            }
                        });
            }

            function view_sub_strands(url, id_subject_name, strand_id, item_id) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        subject_name: id_subject_name,
                        strand_name: strand_id
                    },
                })
                    .done(
                        function (data) {
                            {#                             alert('Success');#}
                            $('#' + item_id + ' .sub_strand_class').empty();

                            {#                            alert('parent_id'+parent_id);#}
                            $('#' + item_id + ' .sub_strand_class').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#' + item_id + ' .sub_strand_class').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].substrands_name + '</option>')
                            }

                        });
            }

        }

    </script>



{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
       <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Data & Reporting</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:perodic_data_subtile' %}"> Periodic Assessment Data</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'assessment:perodic_scheme_definition_list' %}"> Periodic Scheme Definition List</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a>Edit Periodic Scheme Definition</a>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Scheme Defination</span>
            </div>
        </div>

        <div class="portlet-body">

            <div class="row r1">
                <a hidden href="javascript:;" id="deleteSubStrands" class="deleteSS"
                   style="width:11%;">
                    <i class="fa fa-times"></i>
                </a>

                <a hidden href="javascript:;" class="deleteTOP" style="width:11%;">
                    <i class="fa fa-times"></i>
                </a>

                <a hidden href="javascript:;" class="deleteSubTop" style="width:11%;"><i class="fa fa-times"></i> </a>

                <div class="col-md-12">
                    <div class="col-md-2">
                        <label style="margin-left: 15px;" class="control-label"> Scheme Code:


                        </label>
                        <div class="">
                            <input id="scheme_code" name="scheme_code" class="form-control" title="Only Alphanumeric is allowed with '-' and '_'" value="{{ selected_scheme_code}}" disabled>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label style="margin-left: 20px;" class="control-label">Scheme Name:

                        </label>
                        <div class="">
                            <input id="scheme_name" name="scheme_name" class="form-control" title="Only Alphanumeric is allowed with '-' and '_'" value="{{ selected_scheme_name}}" disabled></div>
                    </div>

                    <div class="col-md-2" style="margin-left: 22px;">

                        <label class="control-label">Frequencies:

                        </label>
                        <div class="">
                            <select style="width: 150px;" multiple="multiple" class="selectfilter" data-field-name="frequency" data-is-stacked="0" id="id_frequency_mapping" name="frequency_mapping" disabled>
                                {% for obj in frequecy_recs %}
                                    <option value="{{ obj.frequency_name.id }} "> {{ obj.frequency_name.frequency_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" style="margin-left: 1px;">
                        <label class="control-label">Subject:
                        </label>
                        <div class="">
                            <select style="width: 200px;" autocomplete="off" class="form-control" id="id_subject_name"
                                    name="subject_name" required="" disabled>
                                <option style="display:none" selected="selected" value="{{ subject_rec.id }}"> {{ subject_rec.subject_name }}</option>
                            </select>
                        </div>
                    </div>



                    {% if name_edit_flag %}
                        <div class="">
                            <button style="margin-left: 5%;margin-top: 20px; width: 10%;" id="" class="edit btn btn blue">Edit</button>
                            <button style="margin-left: 5%; margin-top:20px;width: 10%; display: none" id="submit_form" class="save btn btn green">Update</button>
                            <button disabled class="btn btn delete_scheme">Delete Scheme</button>
                        </div>
                    {% else %}
                        <div class="">

                            <button style="margin-left: 5%;margin-top: 20px; width: 10%;" id="" class="edit btn btn blue">Edit</button>
                            <button style="margin-left: 5%; margin-top:20px;width: 10%; display: none" id="submit_form" class="save btn btn green">Update</button>
                            <button onclick="window.location='{% url "assessment:Delete_perodic_assesment_Scheme" scheme_recs.id %}'" style="margin-left: 8%;margin-top: 20px; width: 10%; background-color: #ee6a54; color:white" id="" class="btn btn delete_scheme">Delete Scheme</button>
                        </div>
                    {% endif %}


                </div>
            </div>
        </div>

        <form action="" id="form_sample_1" class="form-horizontal"
              method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-striped table-hover table-bordered" id="example" style="margin-top: 2%">
                <thead>
                <tr>
                    <th style="width:90px;"></th>
                    <th> Strand</th>
                    <th> Sub-Strand</th>
                    <th> Topic</th>
                    <th></th>
                </tr>
                </thead>

                <tbody id="tb" class="">
                <input hidden id="scheme_id" name="scheme_id" value="{{ scheme_recs.id }}">

                {% for strand in scheme_recs.perodic_strand.all %}
                    {% with forloop.counter as strand_count %}
                        <tr class="item count main" id="item{{ strand_count }}">
                            <td>
                                <button type="button" id="add_row"
                                        class="dis add_row form-control btn btn-icon-only green" style="width:40%;"
                                        disabled="disabled">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                            <td class="strand">
                                <select style="width: 150px;" id="item{{ strand_count }}-strand1"
                                        title="Only Alphanumeric is allowed with '-' and '_'"
                                        class="Strand dis validate_value emp strand_class" disabled="disabled">
                                    {% for obj in subject_list %}
                                        {% if  obj.id == strand.strand_name|add:"0" %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ obj.id }}">{{ obj.strand_name }}</option>
                                        {% endif %}
                                        <option value='{{ obj.id }}'>{{ obj.strand_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>

                            <td id="ab" class="substrands">

                                <a href="javascript:;" hidden class="delete deleteSubStrands" style=" position: relative; width:11%;"><i class="fa fa-times"></i></a>
                                <div id="item-strand1"><span class="item-strand1"></span>
                                    <a href="javascript:;" id="addSubStrands" class="addSubStrand dis disabled_href" style="width:11%;">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <p hidden value="{{ iterator_substrand.res }}"></p>
                                    <div style="margin-top: 3%" id="item{{ forloop.counter }}-strand1">
{#                                    <span class="item{{ forloop.counter }}-strand1"></span>#}
                                        {% for obj in subject_list %}
                                            {% if  obj.id == strand.strand_name|add:"0"%}
                                                <span class="item{{ forloop.counter }}-strand1">{{ obj.strand_name }}</span>
                                            {% endif %}
                                        {% endfor %}
                                        <br>
                                        {% for sub_strand in  strand.sub_strand_ids.all %}

                                            <select style="width: 150px;" id="item{{ forloop.parentloop.counter }}-strand1-subStrand{{ iterator_substrand.inc }}"
                                                    class="len validate_value dis emp sub_strand_class" disabled="disabled">

                                                {% for obj in  substrand_list %}
                                                    {% if  obj.id == sub_strand.sub_strand_name|add:"0" %}
                                                        <option style="display:none" selected="selected" value="{{ obj.id }}">{{ obj.substrands_name }}</option>
                                                    {% endif %}

                                                {% endfor %}

                                                {% for sub_strand_rec in strand.strand_name|get_sub_strand_details %}
                                                    <option value="{{ sub_strand_rec.id }}"> {{ sub_strand_rec.substrands_name }} </option>
                                                {% endfor %}

                                            </select>
                                            <option hidden id="sub_strand_id-{{ option_count.next }}" value="{{ sub_strand.id }}"></option><br>

                                        {% endfor %}
                                    </div>
                                </div>
                            </td>

                            <td id="topic" class="topic">
                                <a href="javascript:;" hidden class="ab addTopic disabled_href" style="width:11%;">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <a href="javascript:;" hidden class="deleteTopic" style="width:11%;">
                                    <i class="fa fa-times"></i>
                                </a>
                                <p hidden value="{{ iterator_topic.res }}" {{ st_top_count.res }} {{ iterator_substrand_add.res }} ></p>
                                {% for sub_strand in  strand.sub_strand_ids.all %}
                                    {% with forloop.counter as sub_strand_id %}
                                        <div style="margin-top: 3%" id="item{{ forloop.parentloop.counter }}-strand1-subStrand{{ forloop.counter }}" class="item{{ forloop.parentloop.counter }}-strand1-rem{{ st_top_count.inc }}">

                                            {% for obj in substrand_list %}

                                                {% if  obj.id == sub_strand.sub_strand_name|add:"0" %}
                                                    <span class="item{{ strand_count }}-strand1-subStrand{{ forloop.parentloop.counter }}">{{ obj.substrands_name }}</span>
                                                {% endif %}
                                            {% endfor %}
                                            <a href="javascript:;" id="item{{ forloop.parentloop.counter }}-strand1-add{{ iterator_substrand_add.inc }}" class="ab addTopic dis disabled_href" style="width:11%;"><i class="fa fa-plus"></i></a>
                                            <br>

                                            {% for topic in  sub_strand.topic_ids.all %}
                                                <input class="len dis validate_value emp" title="Only Alphanumeric is allowed with '-' and '_'" id="item{{ strand_count }}-strand1-subStrand{{ sub_strand_id }}-topic{{ iterator_topic.inc }}" style="margin-top: 2%;" value="{{ topic.topic }}" disabled="disabled">
                                                <option hidden id="topic_id-{{ option_count.next }}" value="{{ topic.id }}"></option>
                                                <a href="javascript:;" id="{{ sub_strand.id }}-{{ topic.id }}" class="delete_topic dis disabled_href" style="width:11%;">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                                <br>
                                                <p style="height: {{ topic.sub_topic_ids.all|length|mul:29 }}px; margin-bottom: 7px;"></p>
                                            {% endfor %}
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </td>

                            <td class="save_rec">
                                <br><br>
                                <button type="button" id="deleteStrand" style="width: 70px" class="delete btn btn red">Delete
                                </button>
                                <input hidden id="stand" name="stand" value="{{ strand.id }}">
                                <br>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

{% endblock %}