{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
        table, tr td {
            border: 1px solid red
        }

        tbody {
            display: block;
            height: 184px;
            overflow: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

        thead {
            width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
        }

        table {
            width: 400px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {


                {% comment %} var select_all = document.getElementById("select_all"); //select all checkbox
                 var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

                 //select all checkboxes
                 select_all.addEventListener("change", function (e) {
                     for (i = 0; i < checkboxes.length; i++) {
                         checkboxes[i].checked = select_all.checked;
                     }
                 });

                 for (var i = 0; i < checkboxes.length; i++) {
                     checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                         //uncheck "select all", if one of the listed checkbox item is unchecked
                         if (this.checked == false) {
                             select_all.checked = false;
                         }
                         //check "select all" if all checkbox items are checked
                         if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                             select_all.checked = true;
                         }
                     });
                 }{% endcomment %}

                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked)
                        alert('Please select atleast one record to delete academic class section!');

                    // alert(checked)


                });


                $("#go").click(function (event) {
                    $("#tab1").show();
                    $('.form-control').prop("disabled", false);

                });
                $("#id_academic_year").change(function (event) {


                });


                $("#id_academic_year").change(function () {


                    $("#academic").show();

                    console.log("in acedemic year ajax")
                    academic_year = document.getElementById("id_academic_year").value
                    console.log(academic_year)

                    var url = '/school/viewMultisectClassList/';
                    viewMultisectClassList(url, academic_year)

                    var url1 = '/school/viewMultiSectionList/';
                    viewMultiSectionList(url1, academic_year)
                });

                $('#id_section_name').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });

                $('#id_class_name').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });
            });

        }
    </script>
{% endblock %}
{% block content %}
    <body>


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Academic Year-Class-Section Mapping</span>
            </li>
        </ul>

    </div>



    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Academic Year & Class-Section Mapping</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'registration:save_academicr_class_section_mapping' %}">
                {% csrf_token %}
                <div class="form-body">

                    <div class="row">
                        <div style="width: 30%; margin-left:20%;" class="page-bar">
                            <h4> Academic Year:</h4>
                            <div>
                                <select autocomplete="off" class="form-control" id="id_year_name" name="year_name" required>
                                    <option style="display : none" selected="selected"
                                            value="{{ current_academic_year.id }}"> {{ current_academic_year.year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
{#                        <div class="page-bar">#}
{##}
{#                            <label class="col-md-2 control-label" style="width: 130px; margin-left:220px">Academic Year:#}
{##}
{#                            </label>#}
{##}
{#                            <div class="col-md-4">#}
{#                                {{ AcademicyearClassRelationForm.year_name }} </div>#}
{#                        </div>#}

                    </div>


                    <div class="col-md-6" style="margin-top: 5%;">
                        <b>Class:</b>


                        <div class="row " id="academic" style=" margin-top: 4%;">
                            {{ AcademicyearClassRelationForm.class_name }}


                        </div>

                    </div>
                    <div class="col-md-6" style="margin-top: 5%;">
                        <b> Section:</b>
                        <div class="row " id="academic" style=" margin-top: 4%;">
                            {{ AcademicyearClassRelationForm.section_name }}

                        </div>

                    </div>

                    <div class="">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9 center-block">

                                <br>

                                <button type="submit" id="mapping" class="btn blue btn-block"
                                        style="margin-left: 50%; margin-right: 50%; width: 30%;">
                                    Mapping
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>




    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Mapped Class and Sections</span>
            </div>
            <form action="{% url 'registration:export_acd_class_sec_mapping_list' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="col-md-4">


                    <button type="submit" class="btn blue btn-block" id="export">View Mapped
                        Academic-Class-Section-Mapping
                    </button>

                </div>
            </form>
        </div>
        {% comment %}<div class="portlet-body">
            <form action="{% url 'registration:delete_academicr_class_section_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none">Id</th>
                        <th>Id</th>

                        <th>Academic Year</th>
                        <th>Class Name</th>
                        <th> Section</th>
                        <th><input type="checkbox" id="select_all"/>Select All</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for mapped_data in AcademicyearRecords %}

                        <tr>
                            <td style="display:none">{{ forloop.counter }}</td>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ mapped_data.year_name }}</td>
                            <td> {{ mapped_data.class_name }}</td>
                            <td>{{ mapped_data.section_name }}</td>
                            <td><input class="checkbox" type='checkbox' name='check'
                                       value="{{ mapped_data.year_name.id }},{{ mapped_data.class_name.id }},{{ mapped_data.section_name.id }}">
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="delete" name="delete" value="Delete Items"/>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>{% endcomment %}
    </div>



{% endblock %}
