{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}



{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE

            {#            var academic_year = document.getElementById("id_academic_year").value;#}
            {#            var url1 = '/school/viewAcademicDetails/';#}
            {#            viewAcademicDetails(url1, academic_year)#}
            //viewAcademicDetails1(url1,academic_year)
            $(document).on("click", "#preview", function () {

             $('#preview_value').val('1');

            });$(document).on("click", "#upload_import", function () {

             $('#upload_value').val('upload');
            });



            class_name = document.getElementById("id_class_name").value
            year_name = document.getElementById("id_academic_year").value
            id_transport_type = document.getElementById("id_transport_type").value


            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }


            if (id_transport_type == '') {
                $('#id_transport_type').val($('#id_transport_type'));
                $('#id_transport_type').prepend($('<option>', {
                    value: '',
                    text: 'All'

                }));
            }
            else{
                $("#id_transport_type").append('<option value="">All</option>');
            }


            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }



            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            $(document).ready(function () {


                $('#submit1').attr('disabled', true);
                $('#detain').attr('disabled', true);

                var forms = $('.len')
                if (forms.length > 0) {

                    $('#export_button').attr('disabled', false);
                }


                $(document).on("click", ".edit", function (e) {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id');
                    {#alert('parent_id--> '+parent_id)#}
                    var id = $(this).attr('id');
                    var i = id.split("edit")[1];

                    $(".rec").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();

                    $("#update" + i).show();
                    $("#edit" + i).hide();

                    $('#' + parent_id + ' .rec').prop("disabled", false);

                })

                $(document).on("click", ".update", function (e) {





{#                    pick_b_no = $(this).closest('tr').find('td:eq(7)').find('input[name="pick_b_no"]').val();#}
                    pick_point = $(this).closest('tr').find('td:eq(8)').find('input[name="pick_point"]').val();
                    pick_up_time_name = $(this).closest('tr').find('td:eq(9)').find('input[name="pick_up_time_name"]').val();

{#                    drop_b_no = $(this).closest('tr').find('td:eq(10)').find('input[name="drop_b_no"]').val();#}
                    drop_of_point = $(this).closest('tr').find('td:eq(11)').find('input[name="drop_of_point"]').val();
                    drop_off_time = $(this).closest('tr').find('td:eq(12)').find('input[name="drop_off_time"]').val();
                    if (pick_point == '' || pick_up_time_name == '' ||  drop_of_point == '' || drop_off_time == '') {
                        alert("Pick up point,time,Drop off point,time are  Mandatory.")
                        return false;
                    }


                    var parent_id = $(this).parents('tr:eq(0)').attr('id');
                    var all_recs = $('#' + parent_id + ' .rec');
                    var id = $(this).attr('id');
                    var i = id.split("edit")[1];

                    $(".rec").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();

                    $("#update" + i).show();
                    $("#edit" + i).hide();

                    $('#' + parent_id + ' .rec').prop("disabled", false);

                    var payload = {}
                    all_recs.each(function () {
                        payload[$(this).attr('id')] = $(this).val();
                        {#alert($(this).attr('id')+'  ----  '+ $(this).val())#}
                    })



{#                    bg = $(this).closest('tr').find('td:eq(9)').find('input[name="pick_up_time_name"]').val();#}
{#                    bg = $(this).parents('tr:eq(9)').find('input[name="pick_up_time_name"]').val();#}
{#                    if (bg == '') {#}
{#                        alert("pick_up_time_name is Mandatory.")#}
{#                        return false;#}
{#                    }#}
{##}
{#                    return false;#}

                    $('#transport_data').val(JSON.stringify(payload))
                    {#alert(JSON.stringify(payload));#}
                    $('#transport_info').submit();

                })


            });

            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(this).remove();
            });

            {#            $("#id_academic_year").change(function () {#}
            {#                var academic_year = document.getElementById("id_academic_year").value;#}
            {#                var url1 = '/school/viewAcademicDetails/';#}
            {#                viewAcademicDetails(url1, academic_year)#}
            {#            });#}


            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });

{#            $(document).on("click", ".update", function (e) {#}
{##}
{#                id = $(this).closest('tr').find('td:eq(0)').html();#}
{#                alert(id);#}
{#                return false;#}
{##}
{#                $('#studentid').val(id);#}
{##}
{#                bg = $(this).closest('tr').find('td:eq(8)').find('input[name="pick_up_time_name"]').val();#}
{#                if (bg == '') {#}
{#                    alert("pick_up_time_name is Mandatory.")#}
{#                    return false;#}
{#                }#}
{#                $("#bloodgrp").val(bg);#}
{##}
{#                ht = $(this).closest('tr').find('td:eq(3)').find('input[name="hgt"]').val();#}
{#                $("#height").val(ht);#}
{##}
{#                wt = $(this).closest('tr').find('td:eq(4)').find('input[name="wgt"]').val();#}
{#                $("#weight").val(wt);#}
{##}
{#                bmi = $(this).closest('tr').find('td:eq(5)').find('input[name="bmi"]').val();#}
{#                $("#calculate_bmi").val(bmi);#}
{##}
{##}
{#                mt = $(this).closest('tr').find('td:eq(6)').find('input[name="medt"]').val();#}
{#                $("#medication").val(mt);#}
{##}
{#                al = $(this).closest('tr').find('td:eq(7)').find('input[name="alrgc"]').val();#}
{#                $("#allergic").val(al);#}
{##}
{#                 if(ht!= "" && wt == ""){#}
{#                    alert("Please enter the weight")#}
{#                    return false;#}
{##}
{#                }#}
{##}
{#                if(ht== "" && wt != ""){#}
{#                    alert("Please enter the height")#}
{#                    return false;#}
{##}
{#                }#}
{##}
{#                var url = '/school/upated_medical_info/';#}
{#                upated_medical_info(url, id, bg, ht, wt,bmi, mt, al)#}
{##}
{#                });#}

        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                            $('#id_section_name').prop("disabled", false);
                        }
                    });
        }

    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Academic Transport Info</span>
            </li>

        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Academic Transport Info</span><br><br>
            </div>

            <div class="col-md-2" style="margin-left: 30%">
                <form method="post" action="{% url 'registration:export_academic_transport_info' %}" id="">
                    {% csrf_token %}
                    <input value="{{ Selected_Year_Id }}" name="export_year_name" hidden>
                    <input value="{{ Selected_Class_Id }}" name="export_class_name" hidden>
                    <input value="{{ Selected_Section_Id }}" name="export_section_name" hidden>
                    <input value="{{ transport_no }}" name="export_transport_no" hidden>
                    <button style="width: 100%" type="submit" value="Submit" id="export_button" class="btn blue"
                            disabled>Export
                    </button>
                </form>

                <form method="post" action="{% url 'registration:update_transport_info' %}" id="transport_info">
                    {% csrf_token %}
                    <input id="transport_data" name="transport_data" hidden>
                </form>
            </div>

            <div class="col-md-2" style="margin-left: 60%;margin-top:-35px;">
                <button style="width: 100%" data-toggle="modal" id="import_house" data-target="#myModal" type="button"
                        class="btn green">Import
                </button>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'registration:filter_academic_transport_info' %}" id="form_sample_1">
                    {% csrf_token %}
                    <div class="row" style="margin-left: 3%">

                        <div class="col-md-2">
                            <h4>Academic Year </h4>

                            <div class="">
                                <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Class </h4>

                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Class_Id }}"> {{ ClassName }}</option>

                                    {% for ClassDetails in ClassDetails %}
                                        <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Section_Id }}"> {{ section_name }}</option>
                                    {% for Section in Section %}
                                        <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Transport Type </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_transport_type"
                                        name="transport_type" >
                                    <option style="display:none" selected="selected"
                                            value="{{ transport_no }}"> {{ transport_name }}</option>
                                    <option value="1">Own</option>
                                    <option value="2">School</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top: 38px;">GO
                            </button>
                        </div>
                    </div>
                </form>
                <br>

                <table name="data"
                       class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                       id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label=" Actions : activate to sort column ascending"
                            style="display: none">ID
                        </th>
                        <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label=" Actions : activate to sort column ascending">Student
                            Code
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Academic Year
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Student Name
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Class
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Section
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Transport Type
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Pick-up Bus No
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Pick-up Point
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Pickup Time
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Drop-off Bus No
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Drop-off Point
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Drop-off Time
                        </th>

                        {% if transport_no != 1 %}
                            <th>Edit/Update</th>
                        {% endif %}

                    </tr>
                    </thead>

                    {% if transport_no == 1 %}
                        <tbody>
                        {% for obj in StudentList %}
                            <tr style="cursor: pointer;" name="data" id="body">
                                <td class="len" style="display: none">{{ obj.id }}</td>
                                <td class="len">{{ obj.student_code }}</td>
                                <td class="len">{{ obj.academic_class_section.year_name.year_name }}</td>
                                <td class="len" title="{{ obj.get_all_name }}">{{ obj.get_all_name }}</td>
                                <td class="len">{{ obj.academic_class_section.class_name.class_name }}</td>
                                <td class="len">{{ obj.academic_class_section.section_name.section_name }}</td>
                                <td class="len">{{ obj.transport }}</td>
                                {% if obj.bus_no == 'None' %}
                                    <td class="len">
                                    </td>
                                {% else %}
                                    <td class="len">{{ obj.bus_no|default_if_none:" " }}
                                    </td>
                                {% endif %}
                                {% if obj.bus_no == 'None' %}
                                    <td class="len"></td>
                                {% else %}
                                    <td class="len">{{ obj.pick_up_point|default_if_none:" " }}</td>
                                {% endif %}
                                <td class="len">{{ obj.pick_up_time|default_if_none:" " }}</td>
                                {% if obj.bus_no == 'None' %}
                                    <td class="len"></td>
                                {% else %}
                                    <td class="len">{{ obj.drop_bus_no|default_if_none:" " }}</td>
                                {% endif %}
                                {% if obj.bus_no == 'None' %}
                                    <td class="len"></td>
                                {% else %}
                                    <td class="len">{{ obj.drop_off_point|default_if_none:" " }}</td>
                                {% endif %}
                                <td class="len">{{ obj.drop_off_time|default_if_none:" " }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody>
                        {% for obj in StudentList %}
                            <tr style="cursor: pointer;" name="data" id="item{{ forloop.counter }}" class="item">
                                <td class="len" style="display: none">{{ obj.id }}</td>
                                <td class="len">{{ obj.student_code }}</td>
                                <td class="len">{{ obj.academic_class_section.year_name.year_name }}</td>
                                <td class="len" title="{{ obj.get_all_name }}">{{ obj.get_all_name }} <input hidden
                                                                                                             class="rec"
                                                                                                             id="student_id"
                                                                                                             value="{{ obj.id }}">
                                </td>
                                <td class="len">{{ obj.academic_class_section.class_name.class_name }}</td>
                                <td class="len">{{ obj.academic_class_section.section_name.section_name }}</td>
                                <td class="len">{{ obj.transport }}</td>

                                <td><input class="rec form-control" id="pick_up_bus_no" name="pick_b_no" value="{{ obj.bus_no|default_if_none:" " }}"
                                           disabled></td>
                                <td><input class="rec form-control" id="pick_up_point" name="pick_point"
                                           value="{{ obj.pick_up_point|default_if_none:" " }}" disabled>
                                </td>
                                <td><input class="rec form-control" id="pick_up_time" name="pick_up_time_name" type="time"
                                           value="{{ obj.pick_up_time|get_pick_pick_up_time }}" disabled></td>
                                <td><input class="rec form-control" id='drop_bus_no' name="drop_b_no"
                                           value="{{ obj.drop_bus_no|default_if_none:" " }}" disabled></td>
                                <td><input class="rec form-control" id="drop_off_point" name="drop_of_point"
                                           value="{{ obj.drop_off_point|default_if_none:" " }} " disabled></td>
                                <td><input class="rec form-control" id="drop_off_time" name="drop_off_time" type="time"
                                           value="{{ obj.drop_off_time|get_pick_pick_up_time }}" disabled></td>
                                {% if obj.transport == 'school' %}
                                <td>
                                    <button type="button" name="updt" id="update{{ forloop.counter }}"
                                            class=" update btn green btn-block" style="display:none;">Update
                                    </button>
                                    <button type="button" name="edit" id="edit{{ forloop.counter }}"
                                            class=" edit btn blue btn-block">Edit
                                    </button>
                                </td>
                                    {% else %}
                                    <td></td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}


                </table>
            </div>
            <!-- END FORM-->
        </div>

        <!-- 	BEGIN VALIDATION STATES-->


        <div class="modal fade" id="myModalDetain" role="dialog">
            <div class="modal-dialog modal-sm">
                <form method="post" action="{% url 'registration:shuffle_students' %}" id="formfield3">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="hidden" name="strikeId1" id="strikeId1">
                            <input type="hidden" name="detain_year" id="detain_year" value="{{ NextAcdYear.id }}">
                            <input type="hidden" name="detain_class" id="detain_class" value="{{ Selected_Class_Id }}">
                            <h4 class="modal-title">Select New Section for Selected Students. </h4>
                        </div>

                        <div class="modal-body">
                            <label>Academic Year: </label><br>

                            <select autocomplete="off" class="form-control" id="id_academic_year"
                                    name="detain_year_name" disabled>
                                <option selected="selected"
                                        value="{{ Selected_Year_Id }}">{{ selected_year_name }}</option>
                            </select>

                            <label>Class: </label><br>
                            <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                    name="detain_class_name" disabled>
                                <option style="display:none" selected="selected"
                                        value="{{ Selected_Class_Id }}"> {{ ClassName }}</option>
                            </select>

                            <label>Section:</label><br>
                            <select autocomplete="off" class="form-control" id="id_section_name1"
                                    name="detain_section_name" required="True">
                                {% for Section in SectionList %}
                                    <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">


                            <button id="close2" type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <a data-toggle="modal" href="#static">
                                <button type="button" class="btn green">Change Section</button>
                            </a>
                            {#           <button type="submit" value="Submit" class="btn btn-default" id="submit3">Detain</button>#}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="{% url 'registration:import_academic_transport_info' %}" id="form_sample_1"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Choose File</h4>
                    </div>
                    <div class="modal-body">
                        {{ import_transport_form.excel }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="upload_import"class="btn btn-default">Upload</button>
                        <button type="submit" id="preview" class="btn btn-default">Preview</button>
                    </div>
                     <input hidden name="preview" id="preview_value" value="">
                     <input hidden name="upload_data" id="upload_value" value="">
                </div>
            </form>
        </div>
    </div>


{% endblock %}

