{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

{% endblock %}
{% block ScriptBlock %}

    <script>
     window.onload = function () {
         $('#sample_1').dataTable().fnDestroy();

         $('#sample_1').dataTable({
             "aoColumnDefs": [
                 {'bSortable': false}
             ]
         });

         $('.current_ac_year').on('change', function () {
             $('.current_ac_year').not(this).prop('checked', false);
{#             var mode = $(this).prop('checked');#}
{#             var url = '/school/update_current_academic_year/';#}
{#            change_current_academic_year(url, $(this).attr("id"), mode);#}


         });


     }
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

//        $('.current_ac_year').on('change', function () {
//            alert('hello');
//             var selected_value = [];
//             $(".current_ac_year:checked").each(function () {
//                 selected_value.push($(this).val());
//             });
//             console.log(selected_value);
//         });


{#        function change_current_academic_year(url, year_id, flag) {#}
{##}
{#            $.ajax({#}
{#                type: 'POST',#}
{#                url: url,#}
{#                data: {#}
{#                    year_id: year_id,#}
{#                    flag: flag,#}
{#                    csrfmiddlewaretoken: '{{ csrf_token }}',#}
{#                },#}
{#                success: function (data) {#}
{#                    alert(JSON.stringify(data['sucess']));#}
{##}
{#                    $('#'+data['id']).prop( "checked", true );#}
{#                },#}
{#                error: function (xhr, msg, err) {#}
{#                    alert(xhr.responseJSON.error);#}
{#                }#}
{##}
{#            });#}
{#        }#}

    </script>

{% endblock %}
{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}">Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>View Academic Year Info</span>
            </li>

        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Manage Academic Year</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{% url 'registration:add_academicyr' %}">
                                <button id="sample_editable_1_new" class="btn sbold green"> Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <th style="display:none;">Serial No</th>
                    <th> Code</th>
                    <th> Name</th>
                    <th> Start Date</th>
                    <th> End Date</th>
                    <th> Current Academic Year</th>
                </tr>
                </thead>
                <tbody>

                {% for academic_year in academic_year_list %}

                    <tr>

                        <td style="display:none;">{{ forloop.counter }}</td>
                        <td  onclick="window.location='{% url "registration:update_academicyr" academic_year.id %}'"
                        style="cursor: pointer;">{{ academic_year.year_code }}</td>
                        <td onclick="window.location='{% url "registration:update_academicyr" academic_year.id %}'"
                        style="cursor: pointer;">{{ academic_year.year_name }}</td>
                        <td onclick="window.location='{% url "registration:update_academicyr" academic_year.id %}'"
                        style="cursor: pointer;">{{ academic_year.start_date }}</td>
                        <td onclick="window.location='{% url "registration:update_academicyr" academic_year.id %}'"
                        style="cursor: pointer;">{{ academic_year.end_date }}</td>
                        <td> <input type="checkbox" id="{{ academic_year.id }}" disabled
                        {% if academic_year.current_academic_year == True %}
                        checked
                        {% endif %}
                        name="current_academic_year" class="current_ac_year" >
                        </td>
                        <!--<td>{{ academic_year.current_academic_year }}</td>-->
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->




{% endblock %}
  