{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}



{% block ScriptBlock %}
    <script>
     window.onload = function () {

         $(document).on("click", "#preview", function () {

             $("#form_preview").submit();

         });
     }

    </script>


{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:academic_transport' %}">Academic Transport Info </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Preview</span>
            </li>

        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Academic Transport Info</span><br><br>
            </div>

        </div>
        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->



                <table name="data"
                       class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1" role="grid" >
                    <thead>
                    <tr>

                        <th style="display:none;">Sr No</th>

                        <th> Student Name</th>
                        <th> Student code</th>

                        <th>Scodoo Id</th>
                        <th> Academic Year</th>
                        <th> Class</th>
                        <th> Section</th>
                        <th> Transport Type</th>
                        <th> Pick-up Bus No</th>
                        <th>Pick-up Point</th>
                        <th> Pickup Time</th>
                        <th> Drop-off Bus No</th>
                        <th> Drop-off Point</th>
                        <th>Drop-off Time</th>
                </tr>

                    </thead>

                   <tbody>



                 {% for row in excel_data %}
                    <tr>
                     <td style="display:none;">{{ forloop.counter }}</td>
                    {% for cell in row %}
                        <td> {{ cell }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}


                </tbody>

            </table>
              <form action="{% url 'registration:import_academic_transport_info' %}" id="form_preview"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <input hidden name="preview" id="preview_value" value="">
                  <input type="hidden"value="">
                  <button type="button" id="preview" class="btn green" style="margin-left: 500px">Upload</button>

     </form>
        </div>
        </div>


    </div>






{% endblock %}

