{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }


    </style>


{% endblock %}

{% block ScriptBlock %}

    <script>


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>

                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Academic & School</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <!-- <div class="portlet-title">
        <div class="caption">
        <i class="icon-bubble font-green-sharp"></i>
        <span class="caption-subject font-green-sharp sbold">Academic & School</span>
        </div>

        </div>-->


        <div class="portlet-body">

            <div class="tiles">

                {% if 'registration.can_view_academic_school' and 'registration.can_view_academic_year_info' in perms %}
                    <div class="tile double-down bg-yellow-gold">
                        <a href="{% url 'registration:view_academicyr' %}">
                            <div class="tile-body">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4 align="center">Academic Year-Info</h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_academic_school' and 'registration.can_view_school_info' in perms %}
                    <div class="tile double bg-green-turquoise">
                        <a href="{% url 'registration:view_school' %}">
                            <div class="tile-body">
                                <i class="fa fa-university"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>School-Info</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_class_section' in perms %}
                    <div class="tile double-down bg-purple-studio"
                         style="height: 135px !important;width: 570px !important;">
                        <a href="{% url 'registration:classes_sections' %}">
                            <div class="tile-body">
                                <i class="fa fa-calendar-o"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Classes & Sections</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_subject' in perms %}
                    <div class="tile double-down bg-green-sharp"
                         style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:view_subject' %}">
                            <div class="tile-body">
                                <i class="fa icon-book-open"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Subjects</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_academic_school' and 'registration.can_view_acadenic_class_section_mapping' in perms %}
                    <div class="tile bg-red-sunglo" style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:academicyr_class_section_mapping' %}">

                            <div class="tile-body">
                                <i class="glyphicon glyphicon-th-list"></i>

                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 16px;">Academic-Class-Section Mapping</h5></div>

                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_mandatory_subject_mapping' in perms %}
                    <div class="tile bg-blue-madison" style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:mandatory_subject_mapping' %}">
                            <div class="tile-body">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 16px;">Class-Subject Mapping</h5></div>

                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_optional_subject_mapping' in perms %}
                    <div class="tile double-down bg-yellow-mint"
                         style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:optional_subject_mapping' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-list-alt"></i>

                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 15px;">Optional Subject-Student Mapping</h5>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_academic_school' and 'registration.can_view_supervisor_class_mapping' in perms %}
                    <div class="tile bg-grey-silver">
                        <a href="{% url 'registration:supervisor_class_mapping' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"> Supervisor-Class Mapping</div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_teacher_subject_mapping' in perms %}
                    <div class="tile double-down bg-green-sharp"
                         style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:teacher_subject_mapping' %}">
                            <div class="tile-body">
                                <i class="fa icon-screen-tablet "></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Teacher-Subject Mapping</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_class_teacher_mapping' in perms %}
                    <div class="tile double-down bg-yellow-lemon"
                         style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:teacher_class_mapping' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-th-large"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Class-Teacher Mapping</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                            {% if 'registration.can_view_academic_school' and 'registration.can_view_student_subject' in perms %}
                    <div class="tile" style="background-color: #f9996d; height: 135px!important;width: 570px !important;">
{#                         style="height: 135px !important;width: 280px !important;">#}
                        <a href="{% url 'registration:view_students_subjects' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-th-large"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>View/Download Student-Subject List </h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}





{% comment %}
{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }


    </style>


{% endblock %}

{% block ScriptBlock %}

    <script>


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>

                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Academic & School</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <!-- <div class="portlet-title">
             <div class="caption">
                 <i class="icon-bubble font-green-sharp"></i>
                 <span class="caption-subject font-green-sharp sbold">Academic & School</span>
             </div>

         </div>-->


        <div class="portlet-body">

            <div class="tiles">

                {% if 'registration.can_view_academic_school' and 'registration.can_view_academic_year_info' in perms %}
                    <div class="tile double-down bg-yellow-gold">
                        <a href="{% url 'registration:view_academicyr' %}">
                            <div class="tile-body">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4 align="center">Academic Year-Info</h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}




                {% if 'registration.can_view_academic_school' and 'registration.can_view_school_info' in perms %}
                    <div class="tile double bg-green-turquoise">
                        <a href="{% url 'registration:view_school' %}">
                            <div class="tile-body">
                                <i class="fa fa-university"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>School-Info</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_class_section' in perms %}
                    <div class="tile double-down bg-purple-studio"
                         style="height: 135px !important;width: 570px !important;">
                        <a href="{% url 'registration:classes_sections' %}">
                            <div class="tile-body">
                                <i class="fa fa-calendar-o"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Classes & Sections</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_subject' in perms %}
                    <div class="tile double-down bg-green-sharp"
                         style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:view_subject' %}">
                            <div class="tile-body">
                                <i class="fa icon-book-open"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Subjects</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_academic_school' and 'registration.can_view_acadenic_class_section_mapping' in perms %}
                    <div class="tile bg-red-sunglo" style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:academicyr_class_section_mapping' %}">

                            <div class="tile-body">
                                <i class="glyphicon glyphicon-th-list"></i>

                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 16px;">Academic-Class-Section Mapping</h5></div>

                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_mandatory_subject_mapping' in perms %}
                    <div class="tile bg-blue-madison" style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:mandatory_subject_mapping' %}">
                            <div class="tile-body">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 16px;">Mandatory-Subject Mapping</h5></div>

                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_optional_subject_mapping' in perms %}
                    <div class="tile double-down  bg-yellow-mint"
                         style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:optional_subject_mapping' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-list-alt"></i>

                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 15px;">Optional Subject-Student Mapping</h5>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_academic_school' and 'registration.can_view_supervisor_class_mapping' in perms %}
                    <div class="tile bg-grey-silver">
                        <a href="{% url 'registration:supervisor_class_mapping' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"> Supervisor-Class Mapping</div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_teacher_subject_mapping' in perms %}
                    <div class="tile double-down bg-green-sharp"
                         style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:teacher_subject_mapping' %}">
                            <div class="tile-body">
                                <i class="fa icon-screen-tablet  "></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Teacher-Subject Mapping</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_class_teacher_mapping' in perms %}
                    <div class="tile double-down bg-yellow-lemon"
                         style="height: 135px !important;width: 280px !important;">
                        <a href="{% url 'registration:teacher_class_mapping' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-th-large"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Class-Teacher Mapping</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

{#            {% if 'registration.can_view_academic_school' and 'registration.can_view_class_teacher_mapping' in perms %}#}
                    <div class="tile" style="background-color: #f9996d; height: 135px!important;width: 570px !important;">
{#                         style="height: 135px !important;width: 280px !important;">#}
                        <a href="{% url 'registration:view_students_subjects' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-th-large"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>View Student's Subjects </h4></div>
                            </div>
                        </a>
                    </div>
{#                {% endif %}#}
            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
{% endcomment %}
