{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>

    </style>
{% endblock %}
{% block ScriptBlock %}

    <script>

        window.onload = function () {




             $(document).on("click", ".button_remove", function () {
                 var assign_group_id = $(this).closest('tr').find('td:eq(0)').html();

                 var url = '/school/remove_group_sub_group/';
                remove_group_sub_group(url, assign_group_id)
            });

             $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });

             $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked)
                        alert('Please select atleast one record to delete Custom Group!');


                });


            function remove_group_sub_group(url, assign_group_id) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {

                        assign_group_id: assign_group_id,


                    },
                })

                    .done(
                        function (data) {

                            location.reload();

                        });
            }


            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });


             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });


        }


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:custom_group_sub_details' %}">  Custom Groups & Sub-groups </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <span>Assign Student List</span>
            </li>
        </ul>

    </div>


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> MANAGE ASSIGN STUDENT LIST</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">

            </div>


        <form method="post" action="{% url 'registration:get_custom_group_list' %}" id=" form_sample_1 ">
                    {% csrf_token %}


                    <div class="row">
                        <div class="">
                            <label style="margin-left: 200px;" class="col-md-3 control-label">Select Custom Group Name:

                            </label>
                            <div class="col-md-3">
                                <select style="margin-left: -100px;" autocomplete="off" class="form-control" data-live-search="true" id="id_custom_group" name="custom_group" >

                                {% if selected_custom_group_name %}
                                   <option style="display : none" width="5px" selected="selected"value="{{ selected_custom_group_id }}"> {{ selected_custom_group_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}

                                {% for custom_group_rec in custom_group_recs %}
                                        <option value="{{ custom_group_rec.id }}">{{ custom_group_rec.group_name }}</option>
                                    {% endfor %}
                                </select>
                                 </div>
                        </div>
                         <div class="col-md-3">
                            <button style="margin-left: -100px;" type="submit" class="btn blue btn-block" id="go" > GO
                            </button>
                        </div>
                    </div>

                </form><br>

            <form action="{% url 'registration:bulk_delete_custom_group' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" id="studentid" name="studentid" type="hidden" value="">
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none">ASSIGN ID</th>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>Id</th>

                        <th>Name</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Custom Group Name</th>
                        <th>Custom Sub Group Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody> {% for assign_group_student_rec in assign_group_student_list %}

                        {% if assign_group_student_rec.custom_group_id.is_group_active  %}
                        <tr style="cursor: pointer;">

                            <td style="display:none">{{ assign_group_student_rec.id }}</td>
                            <td><input type='checkbox' name='check'value="{{ assign_group_student_rec.id }}">
                            </td>
                            <td >{{ forloop.counter }}</td>
                            <td >{{ assign_group_student_rec.student_id.get_all_name }}</td>
                            <td >{{ assign_group_student_rec.student_id.academic_class_section.class_name }}</td>
                            <td >{{ assign_group_student_rec.student_id.academic_class_section.section_name }}</td>
                            <td >{{ assign_group_student_rec.custom_group_id.group_name }}</td>
                            <td >{{ assign_group_student_rec.custom_sub_group_id.sub_group_name }}</td>


                            <td>
                                    <text hidden="">Remove</text>
                                    <input type='button' class="button_remove btn red btn-block" value='Remove'readonly>
                            </td>

                        </tr>
                        {% endif %}
                    {% endfor %}


                    </tbody>

                <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" class="btn red" id="delete" name="delete" value="Bulk Remove"/>

                        </td>
                    </tr>
                    </tfoot>





                </table>
            </form>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}

                       
