{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>

    </style>
{% endblock %}


{% block ScriptBlock %}

    <script>

        window.onload = function () {


            roleId = $('#roleid').val();
            console.log("roleId", roleId)

            if (roleId == 2) {
                console.log("in if condtnt")

                $('.green').css("display", "none");

                $('#idCards').css("display", "none");

                $('#manageUsers').css("display", "none");
            }

            if (roleId == 3) {
                console.log("in if condtnt")

                $('.green').css("display", "none");

                $('#idCards').css("display", "none");

                $('#manageUsers').css("display", "none");
                $('#academicSchool').css("display", "none");
            }


            if (roleId == 4) {
                console.log("in if condtnt")

                $('.green').css("display", "none");

                $('#idCards').css("display", "none");

                $('#manageUsers').css("display", "none");
            }


            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });


            var academic_year = document.getElementById("id_academic_year").value;
            var url1 = '/school/viewAcademicDetails/';
            viewAcademicDetails(url1, academic_year)

            year_name = document.getElementById("id_academic_year").value
            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }

            class_name = document.getElementById("id_class_name").value
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }

            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }


            $("#id_academic_year").change(function () {
                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)
            });

            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });
        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(
                    function (data) {
                        console.log("Hello.. !");
                        console.log(data);
                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }

                        $('#id_class_name').prop("disabled", false);
                        $('#id_section_name').prop("disabled", false);
                    });
        }


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>Bulk-Export Student</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Bulk-Export Student</span>
            </div>




        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'registration:bulk_export_student_list' %}" id=" form_sample_1 ">
                    {% csrf_token %}

                    <div class="row">


                        <div class="col-md-3">
                            <h4>Academic Year </h4>

                            <div class="">
                                <input value="{{ selected_year_name.id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ selected_year_name.id }}"> {{ selected_year_name.year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <h4>Class </h4>

                            <div class="">
                            <input value="{{  class_rec.id }}" name="cls_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="">
                                    <option style="display : none" selected="selected"
                                            value="{{ class_rec.id }}"> {{ class_rec.class_name }}</option>
                                    {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <h4> Section </h4>

                            <div class="">
                            <input value="{{  section_rec.id }}" name="sec_name" hidden>
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="">
                                    <option style="display : none" selected="selected"
                                            value="{{ section_rec.id }}"> {{ section_rec.section_name }}</option>
                                    {% for section in section_list %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top : 38px;"> GO
                            </button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="table-toolbar">

            </div>

            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <th style="display:none;">Sr No</th>
                    <th>Student Code</th>
                    <th>Name</th>
                    <th>Academic Year</th>
                    <th>Class</th>
                    <th>Section</th>
                    <th>Parent Code</th>
                    <th>Parent Name</th>
                </tr>
                </thead>
                <tbody>

                {% for student in student_list %}

                    <tr onclick="window.location='{% url "registration:update_student" student.id %}'"
                        style="cursor: pointer;">
                        <td style="display:none;">{{ forloop.counter }}</td>
                        <td>{{ student.student_code }}</td>
                        <td>{{ student.get_all_name }}</td>
                        <td>{{ student.academic_class_section.year_name }}</td>
                        <td>{{ student.academic_class_section.class_name }}</td>
                        <td>{{ student.academic_class_section.section_name }}</td>
                        <td>{{ student.parent.code }}</td>
                        <td>{{ student.parent.user.first_name }} &nbsp; {{ student.parent.user.last_name }}</td>


                    </tr>
                {% endfor %}


                </tbody>
            </table>

            <form action="{% url 'registration:export_student_list' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% if not user.role.name == 'Parent' %}

                    <div class="col-md-2">
                        <input value="{{ selected_year_name.id }}" name="yr_name" hidden>
                        <input value="{{ class_rec.id }}" name="cls_name" hidden>
                        <input value="{{ section_rec.id }}" name="sec_name" hidden>

                        <button type="submit" class="btn blue btn-block" id="export" style="margin-left: 750px;">
                            Export
                        </button>
                    </div>
                {% endif %}
            </form>

        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}


