{% extends "index.html" %}
{% load staticfiles %}



{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE

            {#var academic_year = document.getElementById("id_academic_year").value;#}
            {#var url1 = '/school/viewAcademicDetails/';#}
            {#viewAcademicDetails(url1, academic_year)#}
            //viewAcademicDetails1(url1,academic_year)


            class_name = document.getElementById("id_class_name").value
            year_name = document.getElementById("id_academic_year").value


            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }


            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }

            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }


            gender_name = document.getElementById("id_gender_name").value
            if (gender_name == '') {
                $('#id_gender_name').val($('#id_gender_name'));
                $('#id_gender_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            relegion_name = document.getElementById("id_religion_name").value
            if (relegion_name == '') {
                $('#id_religion_name').val($('#id_religion_name'));
                $('#id_religion_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            sen_name = document.getElementById("id_sen_name").value
            if (sen_name == '') {
                $('#id_sen_name').val($('#id_sen_name'));
                $('#id_sen_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            nationality_name = document.getElementById("id_nationality_name").value
            if (nationality_name == '') {
                $('#id_nationality_name').val($('#id_nationality_name'));
                $('#id_nationality_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            emirati_name = document.getElementById("id_emirati_name").value
            if (emirati_name == '') {
                $('#id_emirati_name').val($('#id_emirati_name'));
                $('#id_emirati_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            {% comment %}optional_lang = document.getElementById("id_optional_lang").value
            if (optional_lang == '') {
                $('#id_optional_lang').val($('#id_optional_lang'));
                $('#id_optional_lang').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }{% endcomment %}



            {% comment %}var select_all = document.getElementById("select_all"); //select all checkbox
            var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

            //select all checkboxes
            select_all.addEventListener("change", function (e) {
                for (i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = select_all.checked;
                }
            });

            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                    //uncheck "select all", if one of the listed checkbox item is unchecked
                    if (this.checked == false) {
                        select_all.checked = false;
                    }
                    //check "select all" if all checkbox items are checked
                    if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                        select_all.checked = true;
                    }
                });
            }{% endcomment %}

            $(document).ready(function () {

                {% comment %}$('#sample_1').dataTable().fnDestroy();

                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });


                $('#example').dataTable().fnDestroy();

                $('#example').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });{% endcomment %}



                function updateDataTableSelectAllCtrl(table) {
                    var $table = table.table().node();
                    var $chkbox_all = $('tbody input[type="checkbox"]', $table);
                    var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
                    var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

                    // If none of the checkboxes are checked
                    if ($chkbox_checked.length === 0) {
                        chkbox_select_all.checked = false;
                        if ('indeterminate' in chkbox_select_all) {
                            chkbox_select_all.indeterminate = false;
                        }

                        // If all of the checkboxes are checked
                    } else if ($chkbox_checked.length === $chkbox_all.length) {
                        chkbox_select_all.checked = true;
                        if ('indeterminate' in chkbox_select_all) {
                            chkbox_select_all.indeterminate = false;
                        }

                        // If some of the checkboxes are checked
                    } else {
                        chkbox_select_all.checked = true;
                        if ('indeterminate' in chkbox_select_all) {
                            chkbox_select_all.indeterminate = true;
                        }
                    }
                }

                {% comment %}$(document).ready(function () {{% endcomment %}
                    // Array holding selected row IDs
                    var rows_selected = [];
                    var table = $('#example').DataTable({
                        {#      'ajax': 'https://api.myjson.com/bins/1us28',#}
                        'columnDefs': [{
                            'targets': 0,
                            'searchable': false,
                            'orderable': false,
                            'width': '1%',
                            'className': 'dt-body-center',
                            'render': function (data, type, full, meta) {
                                return '<input type="checkbox">';
                            }
                        }],
                        'order': [1, 'asc'],
                        'rowCallback': function (row, data, dataIndex) {
                            // Get row ID
                            var rowId = data[0];

                            // If row ID is in the list of selected row IDs
                            if ($.inArray(rowId, rows_selected) !== -1) {
                                $(row).find('input[type="checkbox"]').prop('checked', true);
                                $(row).addClass('selected');
                            }
                        }
                    });

                    // Handle click on checkbox
                    $('#example tbody').on('click', 'input[type="checkbox"]', function (e) {
                        var $row = $(this).closest('tr');

                        // Get row data
                        var data = table.row($row).data();

                        // Get row ID
                        var rowId = data[0];

                        // Determine whether row ID is in the list of selected row IDs
                        var index = $.inArray(rowId, rows_selected);

                        // If checkbox is checked and row ID is not in list of selected row IDs
                        if (this.checked && index === -1) {
                            rows_selected.push(rowId);

                            // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                        } else if (!this.checked && index !== -1) {
                            rows_selected.splice(index, 1);
                        }

                        if (this.checked) {
                            $row.addClass('selected');
                        } else {
                            $row.removeClass('selected');
                        }

                        // Update state of "Select all" control
                        updateDataTableSelectAllCtrl(table);

                        // Prevent click event from propagating to parent
                        e.stopPropagation();
                    });

                    // Handle click on table cells with checkboxes
                    $('#example').on('click', 'tbody td, thead th:first-child', function (e) {
                        $(this).parent().find('input[type="checkbox"]').trigger('click');
                    });

                    // Handle click on "Select all" control
                    $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                        if (this.checked) {
                            $('#example tbody input[type="checkbox"]:not(:checked)').trigger('click');
                        } else {
                            $('#example tbody input[type="checkbox"]:checked').trigger('click');
                        }

                        // Prevent click event from propagating to parent
                        e.stopPropagation();
                    });

                    // Handle table draw event
                    table.on('draw', function () {
                        // Update state of "Select all" control
                        updateDataTableSelectAllCtrl(table);
                    });

                {#$('#sample_1').DataTable().distroy()#}
                {% comment %}$('#sample_1').DataTable({
                    "paging": true,
                    "ordering": false,
                    "info": true
                });{% endcomment %}


                $('#submit1').attr('disabled', true);
                $('#detain').attr('disabled', true);

                var forms = $('#body')
                if (forms.length > 0) {

                    $('#submit1').attr('disabled', false);
                    $('#detain').attr('disabled', false);
                }

                $('#close1').click(function () {
                    window.location.reload();
                });

                $('#close2').click(function () {
                    window.location.reload();
                });

                $('#cancle_confirm').click(function () {
                    window.location.reload();
                })

                $("#submit1").click(function () {
                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());

                    });
                    strID = favorite.join(", ")
                    if (strID.length == 0) {
                        alert("PLease Select a Record to Proceed")

                    }

                    else {
                        var promote_flag = "{{PromoteFlag}}";
                        if (promote_flag == 'False') {
                            alert("Promotion Not Possible. Mapping Not Exist For Next Academic Year and Class.")
                            return false;
                        }
                        $("#strikeId").val(strID);
                        $('#myModal').modal('toggle');
                        $('#myModal').modal('show');
                    }
                });

                $('#submit2').click(function () {

                    $('#formfield2').submit();
                });


                $('#Shuffle').click(function () {

                    var detain_flag = "{{DetainFlag}}";
                    if (detain_flag == 'False') {
                        alert("Shuffle Not Possible. Mapping Not Exist For Next Academic Year and Same Class.")
                        return false;
                    }
                    //DetainFlag

                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());

                    });
                    strID = favorite.join(", ")
                    if (strID.length == 0) {
                        alert("PLease Select a Record to Proceed")

                    }
                    else {
                        {#                        var year_val = "{{ Selected_Year_Id }}"#}
                        {#                        var class_val = "{{ Selected_Class_Id }}"#}

                        {#                        $("#detain_year").val(year_val)#}
                        {#                        $("#detain_class").val(class_val)#}
                        $("#strikeId1").val(strID);


                        $('#myModalDetain').modal('toggle');
                        $('#myModalDetain').modal('show');
                    }

                    //alert("Hello")
                });

                $('#submit3').click(function () {

                    $('#formfield3').submit();
                });
            });

            $(".alert").fadeTo(4000, 0).slideUp(500, function () {
                $(this).remove();
            });

            $("#id_academic_year").change(function () {
                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)
            });


            $("#id_class_name").blur(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });

        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                            $('#id_section_name').prop("disabled", false);
                        }
                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            {#            alert(academic_year);#}
            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(
                    function (data) {
                        class_name=$('#id_class_name').val();
                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');
                        for (var i = 0; i < data.length; i++)
                        {
                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>');
                             if($('#id_class_name option[value='+data[i].id+']').val()==class_name)
			                    {
				                    $('#id_class_name option[value='+data[i].id+']').prop('selected','selected')
			                    }

                        }
                        $('#id_class_name').prop("disabled", false);
                    });
        }


    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Change Students Section </span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Students Section Change</span><br><br>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'registration:change_section_student_list' %}" id="form_sample_1">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-2">
                            <h4>Academic Year </h4>

                            <div class="">
                                <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Class </h4>

                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Class_Id }}"> {{ ClassName }}</option>

                                    {% for ClassDetails in ClassDetails %}
                                        <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Section_Id }}"> {{ section_name }}</option>
                                    {% for Section in Section %}
                                        <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>






                        <div class="col-md-2">
                            <h4>Nationality </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_nationality_name" name="nationality_name"
                                        required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ nationality_obj.id }}"> {{ nationality_obj.nationality_name }}</option>
                                    {% for net in nationality_list %}
                                        <option value="{{ net.id }}">{{ net.nationality_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>SEN </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_sen_name" name="sen_name"
                                        required="True">
                                    <option style="display:none" selected="selected" value="{{ sen }}"> {{ sen|title }}</option>
                                    <option  value="yes"> Yes</option>
                                    <option  value="no"> No</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Emirati </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_emirati_name" name="emirati_name"
                                        required="True">
                                    <option style="display:none" selected="selected" value="{{ emirati }}"> {{ emirati|title }}</option>
                                    <option  value="yes"> Yes</option>
                                    <option  value="no"> No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Gender </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_gender_name" name="gender_name"
                                        required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ gender }}"> {{ gender }}</option>
                                    <option  value="Male"> Male</option>
                                    <option  value="Female"> Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Religion </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_religion_name" name="religion_name"
                                        required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ religion_obj.id }}"> {{ religion_obj.religion_name }}</option>
                                    {% for rel in religion_list %}
                                        <option value="{{ rel.id }}">{{ rel.religion_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        {% comment %}<div class="col-md-2" hidden>
                            <h4>Optional Lang. </h4>
                            <div class="">
                                <select  autocomplete="off" class="form-control" id="id_optional_lang" name="optional_lang"
                                        required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Section_Id }}"> {{ section_name }}</option>
                                    {% for Section in Section %}
                                        <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>{% endcomment %}


                        {% comment %}<div class="col-md-2">
                            <h4>Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="True">
                                    {% if class_name %}
                                        {% if class_name == 'All' %}
                                            <option selected="selected" value="All">All</option>
                                        {% else %}
                                            <option style="display: none" value="{{ class_name.id }}"
                                                    selected="selected">{{ class_name.class_name }}</option>
                                            <option value="All">All</option>
                                        {% endif %}

                                    {% else %}
                                        <option value="" selected="selected">Please Select</option>
                                        <option value="All">All</option>
                                    {% endif %}

                                    {% for class in ClassDetails %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name" required>
                                    {% if section_name %}
                                        {% if section_name == 'All' %}
                                            <option selected="selected" value="All">All</option>
                                        {% else %}
                                            <option style="display: none" value="{{ section_name.id }}"
                                                    selected="selected">{{ section_name.section_name }}</option>
                                            <option value="All">All</option>
                                        {% endif %}
                                    {% else %}
                                        <option value="" selected="selected">Please Select</option>
                                        <option value="All">All</option>
                                    {% endif %}

                                    {% for section in Section %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>{% endcomment %}

                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top: 38px;">GO
                            </button>
                        </div>
                    </div>
                </form>
                <br>

                <form method="post" action="{% url 'strike_off:save_strikeOff_student' %}" id="formfield1">
                    {% csrf_token %}
                    <table name="data"
                           class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                           id="example" role="grid" aria-describedby="sample_1_info">
                        <thead>
                        <tr role="row">
                            <th style="display: none">ID
                            </th>
                            <th><input name="select_all" value="1" type="checkbox"></th>
                            <th> Academic Year </th>
                            <th> Student Code </th>
                            <th> Student Name </th>
                            <th> Class </th>
                            <th> Section </th>
                            <th> Nationality </th>
                            <th> SEN </th>
                            <th> Emirati </th>
                            <th> Gender </th>
                            <th> Religion </th>
{#                            <th> Optional Lang. </th>#}
                            <th> Parent Name</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for obj in StudentList %}
                            <tr style="cursor: pointer;" name="data" id="body">
                                <td style="display: none">{{ obj.id }}</td>
                                <td><input class="checkbox" type='checkbox' name='check' value="{{ obj.id }}"></td>
                                <td>{{ obj.academic_class_section.year_name.year_name }}</td>
                                <td>{{ obj.student_code }}</td>
                                <td>{{ obj.get_all_name }}</td>
                                <td>{{ obj.academic_class_section.class_name.class_name }}</td>
                                <td>{{ obj.academic_class_section.section_name.section_name }}</td>
                                <td>{{ obj.nationality.nationality_name}}</td>
                                <td>{{ obj.sen}}</td>
                                <td>{{ obj.emirati}}</td>
                                <td>{{ obj.gender}}</td>
                                <td>{{ obj.religion.religion_name}}</td>
{#                                <td>{{ obj.}}</td>#}

                                <td>{{ obj.parent.user.get_pura_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <br>
                <br>

                    <div class="col-md-3" style="margin-left: 40%;margin-top:-15px">
                        <button type="button" value="Submit" id="Shuffle" class="btn blue">Change Section</button>
                    </div>
                </form>
            </div>
            <!-- END FORM-->
        </div>

        <!-- 	BEGIN VALIDATION STATES-->


        <div class="modal fade" id="myModalDetain" role="dialog">
            <div class="modal-dialog modal-sm">
                <form method="post" action="{% url 'registration:shuffle_students' %}" id="formfield3">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="hidden" name="strikeId1" id="strikeId1">
                            <input type="hidden" name="detain_year" id="detain_year" value="{{ NextAcdYear.id }}">
                            <input type="hidden" name="detain_class" id="detain_class" value="{{ Selected_Class_Id }}">
                            <h4 class="modal-title">Select New Section for Selected Students. </h4>
                        </div>

                        <div class="modal-body">
                            <label>Academic Year: </label><br>

                            <select autocomplete="off" class="form-control" id="id_academic_year"
                                    name="detain_year_name" disabled>
                                <option selected="selected"
                                        value="{{ Selected_Year_Id }}">{{ selected_year_name}}</option>
                            </select>

                            <label>Class: </label><br>
                            <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                    name="detain_class_name" disabled>
                                <option style="display:none" selected="selected"
                                        value="{{ Selected_Class_Id }}"> {{ ClassName }}</option>
                            </select>

                            <label>Section:</label><br>
                            <select autocomplete="off" class="form-control" id="id_section_name1"
                                    name="detain_section_name" required="True">
                                {% for Section in SectionList %}
                                    <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">


                            <button id="close2" type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <a data-toggle="modal" href="#static">
                                <button type="button" class="btn green">Change Section</button>
                            </a>
                            {#           <button type="submit" value="Submit" class="btn btn-default" id="submit3">Detain</button>#}
                        </div>
                    </div>
            </div>
            </form>
        </div>


    </div>

    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false "
         style="margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title " style="text-align: center; color: red"><b>Confirmation</b></h4>
                </div>
                <div class="modal-body">
                    <p> Are You Sure You Want To Change Section of The Selected Students? </p>
                </div>
                <div class="modal-footer">
                    <button id="cancle_confirm" type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel
                    </button>
                    <button id="submit3" type="button" class=" btn red btn-outline sbold" data-toggle="modal">Change Section
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
                        
