{% extends "index.html" %}
(% load pygmentize %}
{% load staticfiles %}


</head>

{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }

        #id_gender {
            list-style: none;
        }

        .disabled {

            background: #eef1f5;
            opacity: 1;

        }

        .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
            position: absolute;
            display: inline-block;
            left: 270px;
            margin-top: 5px;
        }

        li {
            display: inline;

        }

        input[type=file] {
            color: transparent;
        }

        .loginbox-textbox {
            width: 300px;
            border: 0;
            margin-top: 2px;
            margin-left: 40%;
        }


    </style>
{% endblock %}

{% block content %}

    <div class="col-md-12">


        <div class="page-bar" style="margin-bottom: 1px;">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{% url 'registration:home' %}">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span> Change Password</span>
                </li>
            </ul>

        </div>

        {% if message %}
            <div class="alert alert-danger" role="alert" style="color: black;" >{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endif %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert" style="color: black;" >{{ form.non_field_errors }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endif %}

        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Change User Password</span>
                </div>

            </div>


            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form method="post">
                    {% csrf_token %}
                    <div class="loginbox-textbox">
                        {{ form.current_password }}
                    </div>
                    <div class="loginbox-textbox">
                        {{ form.password }}
                    </div>
                    <div class="loginbox-textbox">
                        {{ form.password1 }}
                    </div>

                    <div class="loginbox-submit loginbox-textbox">
                        <input type="submit" class="btn btn-primary btn-block" value="Set Password">
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->


    </div>



{% endblock %}

