{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }

        .col-md-offset-3 {
            margin-left: 1%;
        }

        .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: #eef1f5;
        }

        .portlet.box.blue {
            border: 1px solid #eef1f5;
            border-top: 0;
        }

        .portlet > .portlet-title > .nav-tabs {
            background: 0 0;
            margin: 1px 0 0;
            float: left;
            display: inline-block;
            border: 0;
        }

        .portlet > .portlet-title > .nav-tabs > li > a {
            background: 0 0;
            margin: 5px 0 0 1px;
            border: 0;
            padding: 8px 10px;
            color: #17C4BB;
        }

        .portlet.box > .portlet-body {
            background-color: #fff;
            padding: 15px;
            margin-left: 1%;
            width: 98%;
        }

        .portlet.blue, .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: blueviolet;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")

                {% comment %}$("#update").click(function (event) {
                    var code = $("#id_class_code").val();

                    if (/[^a-zA-Z0-9\-\/]/.test(code)) {
                        alert('Code is not alphanumeric');
                        return false;
                    }

                    var class_name = $("#id_class_name").val();

                    if (/[^a-zA-Z\-\/]+/.test(class_name)) {
                        alert('Class Name is not characters');
                        return false;
                    }
                });{% endcomment %}


                roleId = $('#roleid').val();
                console.log("roleId", roleId)

                if (roleId == 2) {
                    console.log("in if condtnt")

                    $('.red').css("display", "none");
                    $("#edit").hide();

                    $('#idCards').css("display", "none");

                    $('#manageUsers').css("display", "none");
                }
                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();

                    $('.dis').prop("disabled", false);

                });


            });


            class_name = document.getElementById("id_class_name1").value
            if (class_name == '') {
                $('#id_class_name1').val($('#id_class_name1'));
                $('#id_class_name1').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }

        }


    </script>

{% endblock %}



{% block content %}
    <form action="{% url 'registration:save_updated_class' %}" id="form_sample_1" class="form-horizontal" method="POST"
          enctype="multipart/form-data">


        {% csrf_token %}
        <div class="col-md-12">


            <div class="page-bar" style="margin-bottom: 1px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'registration:home' %}">Home</a>
                        <input id="roleid" type="hidden" value="{{ roleId }}">
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>

                        <a href="{% url 'registration:academic_school' %}"> Academic & School </a>
                        <i class="fa fa-angle-right"></i>
                    </li>


                    <li>

                        <a href="{% url 'registration:classes_sections' %}"> Classes & Sections</a>
                        <i class="fa fa-angle-right"></i>
                    </li>

                    <li>

                        <a href="{% url 'registration:view_class' %}">View Class Info</a>
                        <i class="fa fa-angle-right"></i>
                    </li>


                    <li>
                        <span> Edit-Delete Class </span>
                    </li>
                </ul>

            </div>




            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endfor %}

            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-title">

                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Class Details</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="col-md-offset-3 col-md-9">

                        <button type="button" class="btn green" id="edit">Edit</button>
                        <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
                        <a data-toggle="modal" href="#static">
                            <button type="button" class="btn red">Delete</button>
                        </a>


                    </div>

                    <!-- BEGIN FORM-->


                    <div class="form-body">

                        <input type="hidden" value="{{ class_name_rec.id }}" name="class_id"/>
                        <div class="row">
                            <div style="margin-left: -5%" class="">
                                <label class="col-md-1 control-label">Code:

                                </label>
                                <div class="col-md-2">
                                    <input  name="class_code" type="text" value="{{ class_name_rec.class_code }}" required hidden/>
                                    <input autocomplete="off"  id="id_class_code" name="class_code" class="form-control"
                                           type="text" value="{{ class_name_rec.class_code }}" required disabled/>
                                </div>
                            </div>
                            <div style="margin-left: -5%" class="">
                                <label class="col-md-2 control-label">Class Name:

                                </label>
                                <div  class="col-md-2">
                                    <input autocomplete="off" class="form-control dis" id="id_class_name" name="class_name" maxlength="32"
                                           type="text" value="{{ class_name_rec.class_name }}" title = 'Only Alpha-Numbric is Allowed.' pattern='^[a-zA-Z0-9 ]{1,32}$' required disabled/>
                                </div>
                            </div>

                            <div style="margin-left: -5%" class="">
                            <label class="col-md-2 control-label">Next Class:

                            </label>
                            <div class="col-md-2">
                                <select class="form-control dis" id="id_class_name1" name="next_class_name" disabled>
                                    <option style="display : none" selected="selected" value="{{ class_name_rec.next_class.id }}"> {{ class_name_rec.next_class.class_name }}</option>
                                    {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        </div>


                    </div>

                </div>
                <br>
            </div>
        </div>

    </form>
    <!-- END FORM-->


    <!-- END VALIDATION STATES-->








    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false "
         style="margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete class details? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                    <a class=" btn red btn-outline sbold" data-toggle="modal"
                       href="{% url 'registration:delete_class' class_name_rec.id %}"> Delete </a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
