{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }


    </style>


{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {


            roleId = $('#roleid').val();
            console.log("roleId", roleId)

            if (roleId == 2) {
                console.log("in if condtnt")
                $('.bg-yellow-gold').css("display", "none");

                $('.bg-green-turquoise').css("display", "none");
                $('.bg-purple-intense').css("display", "none");
                $('.bg-green-sharp').css("display", "none");

                $('.bg-red-sunglo').css("display", "none");
                $('.bg-yellow-mint').css("display", "none");
                $('.bg-blue-madison').css("display", "none");

                $('.bg-blue-steel').css("display", "none");

                $('.bg-green-sharp').css("display", "none");


                $('.bg-yellow-lemon').css("display", "none");

                $('.bg-grey-silver').css("display", "none");


                $('#idCards').css("display", "none");

                $('#manageUsers').css("display", "none");
            }

            if (roleId == 4) {
                console.log("in if condtnt")
                $('.bg-yellow-gold').css("display", "none");

                $('.bg-green-turquoise').css("display", "none");

                $('.bg-green-sharp').css("display", "none");

                $('.bg-red-sunglo').css("display", "none");
                $('.bg-yellow-mint').css("display", "none");
                $('.bg-blue-madison').css("display", "none");

                $('.bg-blue-steel').css("display", "none");

                $('.bg-green-sharp').css("display", "none");

                $('.bg-purple-intense').css("display", "none");

                $('.bg-yellow-lemon').css("display", "none");

                $('.bg-grey-silver').css("display", "none");


                $('#idCards').css("display", "none");

                $('#manageUsers').css("display", "none");
            }


            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>

                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:academic_school' %}"><span> Academic & School </span></a>
                <input id="roleid" type="hidden" value="{{ roleId }}">

                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Classes & Sections</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <!-- <div class="portlet-title">
             <div class="caption">
                 <i class="icon-bubble font-green-sharp"></i>
                 <span class="caption-subject font-green-sharp sbold">Academic & School</span>
             </div>

         </div>-->


        <div class="portlet-body">

            <div class="tiles">
                {% if 'registration.can_view_academic_school' and 'registration.can_view_class_teacher_mapping' and 'registration.can_view_class' in perms %}
                    <div class="tile bg-blue-steel" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'registration:view_class' %}">

                            <div class="tile-body">
                                <i class="glyphicon glyphicon-list-alt"></i>

                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 14px;">Classes</h5></div>

                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_academic_school' and 'registration.can_view_class_teacher_mapping' and 'registration.can_view_section' in perms %}
                    <div class="tile bg-green-sharp" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'registration:view_section' %}">

                            <div class="tile-body">
                                <i class="glyphicon glyphicon-tasks"></i>

                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 14px;">Sections </h5></div>

                            </div>
                        </a>
                    </div>
                {% endif %}

                <div class="tile bg-red-sunglo" style="height: 135px !important;width: 280px !important;">
                    <a href="{% url 'registration:class_structure' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-th-list"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 16px;">Class Info</h5></div>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
