{% extends "index.html" %}
{% load staticfiles %}



{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE

            $('#export').attr('disabled', true);

	     var tb_count = $('.table_count')
            if (tb_count.length > 0) {
                $('#export').attr('disabled', false);
            }

            $(document).ready(function () {
                $("#id_class_name").change(function () {
                    {#                    alert("Hii")#}
                    var class_name = document.getElementById("id_class_name").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    {#                    alert(url + academic_year + class_name);#}
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });

            });

            $(".alert").fadeTo(4000, 0).slideUp(500, function () {
                $(this).remove();
            });
        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);
{#                        alert(data);#}

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                            $('#id_section_name').prop("disabled", false);
                        }
                    });
        }

    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'registration:classes_sections' %}"> Classes & Section</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Class Info</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Class Info</span><br><br>
            </div>

        </div>

        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->
             <div class="row" >

                <form method="post" action="{% url 'registration:class_structure_details' %}" id="form_sample_1">
                    {% csrf_token %}
                    <div  style="width: 90%">

                        <div class="col-md-2" style="margin-left: 3%;">
                            <h4>Academic Year </h4>

                            <div class="">
                                <input value="{{ current_academic_year.id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true" id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected" value="{{ current_academic_year.id }}"> {{ current_academic_year.year_name }}</option>
                                    {% comment %}{% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}{% endcomment %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="required">
                                {% if class_list %}
                                    {% if class_rec_class_name %}
                                        <option style="display: none" value="{{ class_rec_id }}" selected="selected">{{ class_rec_class_name }}</option>
{#                                        <option value="">Please Select</option>#}
                                        <option value="All">All</option>
                                    {% else %}
                                        <option value="All" selected="selected">All</option>
                                    {% endif %}

                                    {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="" selected="selected">Please Select</option>
                                {% endif %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name"
                                        name="section_name" required="required">
                                {% if class_list %}
                                    {% if section_rec_section_name %}
                                        <option style="display: none" value="{{ section_rec_id}}" selected="selected">{{ section_rec_section_name }}</option>
{#                                        <option value="">Please Select</option>#}
                                        <option value="All">All</option>
                                    {% else %}
{#                                        <option value="All" selected="selected">All</option>#}
                                        <option value="All" selected="selected">All</option>
                                    {% endif %}
                                {% else %}
                                    <option value="" selected="selected">Please Select</option>
                                {% endif %}

                                    {% for section in section_list %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top: 38px;">GO
                            </button>
                        </div>

                    </div>
                </form>

                 <form action="{% url 'registration:export_class_structure_details' %}" id="form_sample_2"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden name="year_name1" value="{{ current_academic_year.id }}">
                <input hidden name="class_name1" value="{{ class_rec_id }}">
                <input hidden name="section_name1" value="{{ section_rec_id }}">
                <div class="col-md-2" style="margin-top: 38px;">
                    <button type="submit"  class="btn blue btn-block" id="export">Export</button>
                </div>

            </form>

             </div>
                <br>

                <form method="post" action="{% url 'strike_off:save_strikeOff_student' %}" id="formfield1">
                    {% csrf_token %}
                    <table name="data"
                           class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                           id="sample_1" role="grid" aria-describedby="sample_1_info">
                        <thead>
                        <tr role="row">
                            <th hidden>Sr. No.</th>
                            <th>Academic Year</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Class Strength</th>
                            <th>Boys</th>
                            <th>Girls</th>
                            <th width="300px"> Class Teacher</th>
                            <th width="300px"> Asst. Teacher</th>
                            <th width="300px"> Supervisor(s)</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for obj in all_recs %}
                            <tr style="cursor: pointer;" name="data" id="body" class="table_count">
                                <td hidden>{{ forloop.counter }}</td>
                                <td>{{ obj.acd_rec.year_name.year_name }}</td>
                                <td>{{ obj.acd_rec.class_name.class_name }}</td>
                                <td>{{ obj.acd_rec.section_name.section_name }}</td>
                                <td>{{ obj.student_count }}</td>
                                <td>{{ obj.boys_count }}</td>
                                <td>{{ obj.girls_count }}</td>
                                <td>{{ obj.class_teacher }}</td>
                                <td>{{ obj.assistant_teacher }}</td>
                                <td>{% for supervisor_rec in obj.supervisor_list %}
{#                                    {% for supervisor in supervisor_rec %}#}
                                        {{ supervisor_rec }} <br>
{#                                    {% endfor %}#}
                                {% endfor %}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>

            </div>
            <!-- END FORM-->
        </div>
    </div>
{% endblock %}
                        
