{% extends "index.html" %}
{% load staticfiles %}
<link href="{% static 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet"
      type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static 'assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css' %}"
      rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components"
      type="text/css"/>
<link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="{% static 'assets/layouts/layout2/css/layout.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/layouts/layout2/css/themes/blue.min.css' %}" rel="stylesheet" type="text/css"
      id="style_color"/>
<link href="{% static 'assets/layouts/layout2/css/custom.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" href="favicon.ico"/> </head>

{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 0px;
        }

        .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: #eef1f5;
        }

        .portlet.box.blue {
            border: 1px solid #eef1f5;
            border-top: 0;
        }

        .portlet > .portlet-title > .nav-tabs {
            background: 0 0;
            margin: 1px 0 0;
            float: left;
            display: inline-block;
            border: 0;
        }

        .portlet > .portlet-title > .nav-tabs > li > a {
            background: 0 0;
            margin: 5px 0 0 1px;
            border: 0;
            padding: 8px 10px;
            color: #17C4BB;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <Script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {

                {% comment %}$('#id_class_name').change(function () {

                   var class_name = $("#id_class_name").val();

                    if (/[^a-zA-Z0-9\-\/]+/.test(class_name)) {
                        alert('Class name is not alphanumeric');
{#                        $("#id_class_name").val('')#}
                        return false;
                    }

                })

                $('#id_class_code').change(function () {

                   var code = $("#id_class_code").val();

                    if (/[^a-zA-Z0-9\-\/]/.test(code)) {
                        alert('Code is not alphanumeric');
{#                        $("#id_class_code").val('')#}
                        return false;
                    }

                })


                $("#save1").click(function (event) {
                    var code = $("#id_class_code").val();

                    if (/[^a-zA-Z0-9\-\/]/.test(code)) {
                        alert('Code is not alphanumeric');
                        return false;
                    }

                    var class_name = $("#id_class_name").val();

                    if (/[^a-zA-Z0-9\-\/]+/.test(class_name)) {
                        alert('Class name is not alphanumeric');
                        return false;
                    }
                });{% endcomment %}

            });
        }

    </Script>

{% endblock %}

{% block content %}




    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'registration:classes_sections' %}"> Classes & Section</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'registration:view_class' %}">View Class Info</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Add Class</span>
            </li>
        </ul>

    </div>



    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Class Details</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form action="{% url 'registration:save_class' %}" id="form_sample_1" class="form-horizontal" method="POST">


                {% csrf_token %}

                <div class="form-body">

                    <div class="row">
                        <div style="margin-left: -5%" class="">
                            <label class="col-md-1 control-label">Code:

                            </label>
                            <div class="col-md-2">
                                {{ class_details_form.class_code }} </div>
                        </div>
                        <div style="margin-left: -5%" class="">
                            <label class="col-md-1 control-label">Class:

                            </label>
                            <div class="col-md-2">
                                {{ class_details_form.class_name }} </div>
                        </div>

{#                        <div class="col-md-2">#}
                            <div style="margin-left: -5%"class="">
                            <label class="col-md-2 control-label">Next Class:

                            </label>
                            <div class="col-md-2">
                                <select class="form-control" id="id_class_name1" name="next_class_name">
                                    <option  selected="selected" value=""> Please Select</option>
                                    {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>
                    </br>


                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" id="save1" class="btn green">Save</button>
                                <button onclick="window.location.href='{% url "registration:view_class" %}'"
                                        type="button" class="btn green">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery.min.js" type="text/javascript' %}"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-validation/js/additional-methods.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-markdown/lib/markdown.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js' %}"
        type="text/javascript"></script>
<!-- <script src="{% static 'assets/global/scripts/datatable.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/datatables/datatables.min.js'%}" type="text/javascript"></script>
       <script src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js'%}" type="text/javascript"></script>-->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/pages/scripts/form-validation.min.js' %}" type="text/javascript"></script>
<!-- <script src="{% static 'assets/pages/scripts/table-datatables-managed.min.js'%}" type="text/javascript"></script>-->
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{% static 'assets/layouts/layout2/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/layout2/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
