{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }


    </style>


{% endblock %}

{% block ScriptBlock %}

    <script>


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>

                <a href="{% url 'registration:home' %}">Home</a>


                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:parents_students' %}"><span>  Parents & Students </span></a>

                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Custom Groups & Sub-groups</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <!-- <div class="portlet-title">
             <div class="caption">
                     <i class="icon-bubble font-green-sharp"></i>
                 <span class="caption-subject font-green-sharp sbold">Academic & School</span>
             </div>

         </div>-->


        <div class="portlet-body">

            <div class="tiles">


                {% if 'registration.can_view_custom_groups' and 'registration.can_view_custom_sub_groups' in perms %}
                    <div class="tile double"
                         style="background-color:#147772;height: 150px !important;width: 270px !important;">
                        <a href="{% url 'registration:view_custom_groups' %}">
                            <div class="tile-body">
                                <i class="fa fa-group"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4> Create Custom Groups and Sub-groups </h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_custom_groups' and 'registration.can_view_assign_groups_students' in perms %}
                    <div class="tile double"
                         style="background-color:maroon;height: 150px !important;width: 270px !important;">
                        <a href="{% url 'registration:assign_group' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-check"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4> Select & Assign Students </h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_custom_groups' and 'registration.can_view_edit_custom_groups' in perms %}
                    <div class="tile double"
                         style="background-color:#e5baf7;height: 150px !important;width: 270px !important;">
                        <a href="{% url 'registration:assign_student_list' %}">
                            <div class="tile-body">
                                <i class="fa icon-magnifier-add"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4> View/Edit Active Groups </h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
