{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->


{% endblock %}
{% block ScriptBlock %}

    <script>
        window.onload = function () {
            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });


            $(document).on("click", ".primary_group", function () {
                    var custom_group_id = $(this).closest('tr').find('td:eq(0)').html();

                     var val = this.checked ? this.value : '';

                     var url = '/school/update_primary_group/';
                     update_primary_group(url, custom_group_id,val)
            });

            $(document).on("click", ".active_group", function () {
                    var custom_group_id = $(this).closest('tr').find('td:eq(0)').html();

                     var val = this.checked ? this.value : '';

                     var url = '/school/update_active_group/';
                     update_active_group(url, custom_group_id,val)
            });

        }
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
        function update_primary_group(url, custom_group_id,val) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        custom_group_id: custom_group_id,
                        val: val,
                    },
                })
                    .done(
                        function (data) {
                            location.reload();
                        });
            }
            function update_active_group(url, custom_group_id,val) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        custom_group_id: custom_group_id,
                        val: val,
                    },
                })
                    .done(
                        function (data) {
                            location.reload();
                        });
            }

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'registration:parents_students' %}"> Parents & Students </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:custom_group_sub_details' %}"> Custom Groups & Sub-groups </a>
                <i class="fa fa-angle-right"></i>
            </li>



            <li>

                <span class="title">View Custom Groups and Sub-groups</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Custom Groups and Sub-groups Details</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{% url 'registration:add_custom_group_sub' %}">
                                <button id="sample_editable_1_new" class="btn sbold green"> Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>


            <!-- <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1"> -->
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <th style="display:none;">Serial No</th>
{#                    <th> Code</th>#}
                    <th> Custom Group</th>
                    <th> Sub-group</th>
                    <th width="100px;"> Primary Group</th>
                    <th width="100px;"> Active Group</th>
{#                    <th> Type</th>#}


                </tr>
                </thead>
                <tbody>
                {% for rec in custom_group_recs %}

                    <tr class="odd gradeX" style="cursor: pointer;">
                    <td style="display:none;">{{ rec.id }}</td>
                    <td onclick="window.location='{% url "registration:update_custom_group_sub_group" rec.id %}'">
                        {{ rec.group_name }} {{ rec.group_code }}
                    </td>


                    <td onclick="window.location='{% url "registration:update_custom_group_sub_group" rec.id %}'">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column">
                            {% for sub_rec in rec.custom_sub_group_ids.all %}
                                <tr>
                                    <td>  {{ sub_rec.sub_group_name }} {{ sub_rec.sub_group_code }}</td>
                                </tr>
                        {% endfor %}
                        </table>

                    </td>

                    <td> <input type="checkbox" {% if rec.is_primary == True %}checked{% endif %}
                        name="is_primary_group" class="primary_group" >
                    </td>
                    <td> <input type="checkbox" {% if rec.is_group_active == True %}checked{% endif %}
                        name="is_active_group" class="active_group" >
                    </td>

                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
      