{% extends "index.html" %}
{% block ScriptBlock %}
    <script>

        window.onload = function () {


            //$('#id_class_name').prop("disabled", true);
            //$('#id_section_name').prop("disabled", true);
            academic_year = document.getElementById("id_academic_year").value
            if (academic_year == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            class_name = document.getElementById("id_class_name").value
            /*if(class_name == '')

                {
               $('#id_class_name').prepend(
               '<option value="">Please select</option>');

                }*/

            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'

                    }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }


            subject_name = document.getElementById("id_subject_name").value
            if (subject_name == '') {
                $('#id_subject_name').val($('#id_subject_name'));
                $('#id_subject_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }



            //YOUR JQUERY CODE
            $(document).ready(function () {


                $(".buttonreverse").click(function (event) {
                    event.preventDefault();

                    id = $(this).closest('tr').find('td:eq(0)').html();
                    console.log(id)

                    var url = '/school/reverse_tc/';
                    reverse_tc(url, id)
                    //window.location.href="/school/attendanceDetails/";


                });

                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)


                $("#id_academic_year").change(function () {

                    var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });

                $("#id_class_name").change(function () {
                    var class_name = document.getElementById("id_class_name").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });


            });


            function reverse_tc(url, id) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {

                        studentid: id,


                    },
                })

                    .done(
                        function (data) {

                            console.log("in reverse tc ajax")
                            location.reload();

                        });
            }


            function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })

                    .done(
                        function (data) {
                            console.log(data);

                            $('#id_class_name').empty();
                            $('#id_class_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {

                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }

                            //$('#id_class_name').prop("disabled", false);


                        });


            }

            function ViewSectionDetailStudent(url, academic_year, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name
                        },
                })

                    .done(
                        function (data) {

                            console.log("print you are in section ajax")
                            console.log(data);

                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }
                            //$('#id_section_name').prop("disabled", false);


                        });


            }


        }


    </script>
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    {% csrf_token %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
{#            <li>#}
{##}
{#                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>#}
{#                <i class="fa fa-angle-right"></i>#}
{#            </li>#}
            <li>

                <a href="{% url 'registration:optional_subject_mapping' %}"> Optional Subject Mapping</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>Export Optional Subject</span>
            </li>
        </ul>

    </div>


    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Export Optional Subject</span>


            </div>

        </div>
        <form method="post" action="{% url 'registration:view_export_optional_subject' %}" id="exportForm">
            {% csrf_token %}
            <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>
            <div class="row">


                <div class="col-md-2">

                    <h4>Academic Year</h4>

                    <div class="">
                        <input value="{{ Selected_Year_Id.id }}" name="year_name" hidden>
                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_academic_year"
                                name="academic_year" >
                            <option style="display:none" selected="selected"
                                    value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                            {% for academic_year in year_list %}
                                <option value="{{ academic_year.id }}">{{ academic_year.year_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="col-md-2">

                    <h4>Class</h4>


                    <div class="">
                    <input value="{{  class_name.id }}" name="cls_name" hidden>
                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                name="class_name" required="">
                            <option style="display:none" selected="selected"
                                    value="{{ class_name }}"> {{ ClassName }}</option>
                            {% for ClassDetails in ClassDetails %}
                                <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <h4>Section </h4>

                    <div class="">
                    <input value="{{  section_name.id }}" name="sec_name" hidden>
                        <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                required="">
                            <option style="display:none" selected="selected"
                                    value="{{ section_name }}"> {{ SectName }}</option>
                            {% for Section in Section %}
                                <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                            {% endfor %}
                        </select>


                    </div>
                </div>

                 <div class="col-md-2">
                    <h4>Subject </h4>

                    <div class="">
                     <input value="{{  subject_id.id }}" name="sub_name" hidden>
                        <select autocomplete="off" class="form-control" id="id_subject_name" name="subject_name"
                                required="">
                            <option style="display:none" selected="selected"
                                    value="{{SubjectName}}"> {{ subject_name }}</option>
                            {% for optional_subjects_rec in optional_subjects %}
                                <option value="{{ optional_subjects_rec.id }}">{{ optional_subjects_rec.subject_name }}</option>
                            {% endfor %}
                        </select>


                    </div>
                </div>

                <div class="col-md-2">
                    <button type="submit" id="button1" class="btn blue btn-block" style="margin-top: 38px;">Go</button>

                </div>

            </div>


        </form>

        <br><br>

            <table name="data"
                   class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                   id="sample_1" role="grid" aria-describedby="sample_1_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label=" Actions : activate to sort column ascending"
                        style="display: none">ID
                    </th>
                    <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label=" Actions : activate to sort column ascending"> Academic Year
                    </th>

                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" Actions : activate to sort column ascending"> Class
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" Actions : activate to sort column ascending"> Section
                    </th>
                     <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" Actions : activate to sort column ascending"> Student Name
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" Actions : activate to sort column ascending"> Religion
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" Actions : activate to sort column ascending"> Nationality
                    </th>

                     <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" Actions : activate to sort column ascending"> Subject Name
                    </th>

                </tr>
                </thead>

                <tbody>
                {% for obj in filtered_students %}
                    <tr style="cursor: pointer;" name="data" id="body">
                        <td style="display: none">{{ obj.id }}</td>
                        <td>{{ obj.academic_class_section.year_name }}</td>
                        <td>{{ obj.academic_class_section.class_name }}</td>
                        <td>{{ obj.academic_class_section.section_name }}</td>
                        <td>{{ obj.get_all_name }}</td>
                        <td>{{ obj.religion }}</td>
                        <td>{{ obj.nationality }}</td>
                        <td>{{ subject_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

                  <form action="{% url 'registration:export_optional_subject_student_list' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="col-md-2">
                        <input value="{{ Selected_Year_Id }}" name="yr_name" hidden>
                        <input value="{{ class_name}}" name="cls_name" hidden>
                        <input value="{{ section_name }}" name="sec_name" hidden>
                        <input value="{{ SubjectName }}" name="sub_name" hidden>

                        <button type="submit" class="btn blue btn-block" id="export" style="margin-left: 750px;">
                            Export
                        </button>
                    </div>
            </form>





    </div>



{% endblock %}