{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>
        table.dataTable.select tbody tr,
        table.dataTable thead th:first-child {
            cursor: pointer;
        }

    </style>
{% endblock %}


{% block ScriptBlock %}

    <script>

        window.onload = function () {

            $(document).ready(function () {

                function updateDataTableSelectAllCtrl(table) {
                    var $table = table.table().node();
                    var $chkbox_all = $('tbody input[type="checkbox"]', $table);
                    var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
                    var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

                    // If none of the checkboxes are checked
                    if ($chkbox_checked.length === 0) {
                        chkbox_select_all.checked = false;
                        if ('indeterminate' in chkbox_select_all) {
                            chkbox_select_all.indeterminate = false;
                        }

                        // If all of the checkboxes are checked
                    } else if ($chkbox_checked.length === $chkbox_all.length) {
                        chkbox_select_all.checked = true;
                        if ('indeterminate' in chkbox_select_all) {
                            chkbox_select_all.indeterminate = false;
                        }

                        // If some of the checkboxes are checked
                    } else {
                        chkbox_select_all.checked = true;
                        if ('indeterminate' in chkbox_select_all) {
                            chkbox_select_all.indeterminate = true;
                        }
                    }
                }

                {% comment %}$(document).ready(function () {{% endcomment %}
                    // Array holding selected row IDs
                    var rows_selected = [];
                    var table = $('#example').DataTable({
                        {#      'ajax': 'https://api.myjson.com/bins/1us28',#}
                        'columnDefs': [{
                            'targets': 0,
                            'searchable': false,
                            'orderable': false,
                            'width': '1%',
                            'className': 'dt-body-center',
                            'render': function (data, type, full, meta) {
                                return '<input type="checkbox">';
                            }
                        }],
                        'order': [1, 'asc'],
                        'rowCallback': function (row, data, dataIndex) {
                            // Get row ID
                            var rowId = data[0];

                            // If row ID is in the list of selected row IDs
                            if ($.inArray(rowId, rows_selected) !== -1) {
                                $(row).find('input[type="checkbox"]').prop('checked', true);
                                $(row).addClass('selected');
                            }
                        }
                    });

                    // Handle click on checkbox
                    $('#example tbody').on('click', 'input[type="checkbox"]', function (e) {
                        var $row = $(this).closest('tr');

                        // Get row data
                        var data = table.row($row).data();

                        // Get row ID
                        var rowId = data[0];

                        // Determine whether row ID is in the list of selected row IDs
                        var index = $.inArray(rowId, rows_selected);

                        // If checkbox is checked and row ID is not in list of selected row IDs
                        if (this.checked && index === -1) {
                            rows_selected.push(rowId);

                            // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                        } else if (!this.checked && index !== -1) {
                            rows_selected.splice(index, 1);
                        }

                        if (this.checked) {
                            $row.addClass('selected');
                        } else {
                            $row.removeClass('selected');
                        }

                        // Update state of "Select all" control
                        updateDataTableSelectAllCtrl(table);

                        // Prevent click event from propagating to parent
                        e.stopPropagation();
                    });

                    // Handle click on table cells with checkboxes
                    $('#example').on('click', 'tbody td, thead th:first-child', function (e) {
                        $(this).parent().find('input[type="checkbox"]').trigger('click');
                    });

                    // Handle click on "Select all" control
                    $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                        if (this.checked) {
                            $('#example tbody input[type="checkbox"]:not(:checked)').trigger('click');
                        } else {
                            $('#example tbody input[type="checkbox"]:checked').trigger('click');
                        }

                        // Prevent click event from propagating to parent
                        e.stopPropagation();
                    });

                    // Handle table draw event
                    table.on('draw', function () {
                        // Update state of "Select all" control
                        updateDataTableSelectAllCtrl(table);
                    });


                    var academic_year = document.getElementById("id_academic_years").value;
                    {#                alert('academic_year '+academic_year);#}
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year);
                    {#            });#}


                    $("#id_class_name").change(function () {
                        var academic_year = document.getElementById("id_academic_years").value;
                        var class_name = document.getElementById("id_class_name").value;
                        var url = '/school/viewSectionDetails/';
                        ViewSectionDetail(url, academic_year, class_name);
                        {#                document.getElementById("attendanceYear").value = academic_year;#}
                    });


                    $("#go1").click(function (event) {


                        $('#form_sample_2').submit();
                    });


                    $(".alert").fadeTo(500, 0).slideUp(500, function () {
                        $(this).remove();
                    });

                    if ($('.table_body').length > 0) {
                        $('#go1').attr('disabled', false);
                    }

            });

        }

        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {
                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="All">All</option>');
                    for (var i = 0; i < data.length; i++) {

                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }
                });
        }

        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }

        function ViewSectionDetail(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                        }


                    });


        }

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:academicyr_class_section_mapping' %}"> Academic Year Class Section
                    Mapping</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Academic Year Class Section Mapping Filtered List</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Academic Year Class Section Mapping Export Filter </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'registration:view_filter_acd_class_sec_list' %}"
                      id=" form_sample_1 ">
                    {% csrf_token %}

                    <div class="row">


                        <div class="col-md-2">
                            <h4> Academic Years </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_years" name="year_name" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for year in year_list %}
                                        <option value="{{ year.id }}">{{ year.year_name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="year_name" value="{{ Selected_Year_Id }}">
                                <div id='id_academic_years_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select academic year
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="">

                                    {% if selected_class_name %}
                                        <option style="display: none" value="{{ selected_class_id }}"
                                                selected="selected">{{ selected_class_name }}</option>
                                        <option value="All">All</option>
                                    {% else %}
                                        <option value="All" selected="selected">All</option>
                                    {% endif %}

                                    {% comment %}<option style="display:none" selected="selected"
                                            value="{{ selected_class_id }}"> {{ selected_class_name }}</option>{% endcomment %}
                                    {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                                        {{ ClassSection.class_name }}#}
                                <div id='id_class_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select class
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="">
                                    {% if selected_section_name %}
                                        <option style="display: none" value="{{ selected_section_id }}"
                                                selected="selected">{{ selected_section_name }}</option>
                                        <option value="All">All</option>
                                    {% else %}
                                        <option value="All" selected="selected">All</option>
                                    {% endif %}

                                    {% for section in section_list %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                                        {{ ClassSection.section_name }}#}
                                <div id='id_section_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select section
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top : 38px;"> GO
                            </button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn blue btn-block" id="go1" style="margin-top : 38px;"
                                    disabled> Export
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'registration:export_academicr_class_section_mapping' %}"
                      id="form_sample_2">
                    {% csrf_token %}
                    <input value="{{ Selected_Year_Id }}" name="yr_name" hidden>
                    <input value="{{ selected_class_id }}" name="cls_name" hidden>
                    <input value="{{ selected_section_id }}" name="sec_name" hidden>
                </form>
            </div>
        </div>


        <div class="portlet-body">
            <form action="{% url 'registration:delete_academicr_class_section_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="example table table-striped table-bordered table-hover table-checkable order-column display select"
                       cellspacing="0" width="100%" id="example">
                    {#                id="example" class="display select" cellspacing="0" width="100%"#}
                    <thead>
                    <tr>
                        <th style="display:none">Id</th>
                        <th><input name="select_all" value="1" type="checkbox"></th>
                        <th>Id</th>

                        <th>Academic Year</th>
                        <th>Class Name</th>
                        <th> Section</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for mapped_data in AcademicyearRecords %}

                        <tr class="table_body">
                            <td style="display:none">{{ forloop.counter }}</td>
                            <td><input class="checkbox" type='checkbox' name='check'
                                       value="{{ mapped_data.year_name.id }},{{ mapped_data.class_name.id }},{{ mapped_data.section_name.id }}">
                            </td>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ mapped_data.year_name }}</td>
                            <td> {{ mapped_data.class_name }}</td>
                            <td>{{ mapped_data.section_name }}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="delete" class="btn blue" name="delete" value="Unmap"/>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}
