{% extends "index.html" %}

{% block styleBlock %}
    <style>


    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE


{#            var academic_year = document.getElementById("id_academic_year").value;#}
{#            var url1 = '/school/viewAcademicDetails/';#}
{#            viewAcademicDetails(url1, academic_year)#}

            {% comment %}year_name = document.getElementById("id_academic_year").value
            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }

            class_name = document.getElementById("id_class_name").value
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }


            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            subject_name = document.getElementById("id_subject_name").value
            if (subject_name == '') {
                $('#id_subject_name').val($('#id_subject_name'));
                $('#id_subject_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }


            teacher_name = document.getElementById("id_teacher_name_mapping").value
            if (teacher_name == '') {
                $('#id_teacher_name_mapping').val($('#id_teacher_name_mapping'));
                $('#id_teacher_name_mapping').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }{% endcomment %}

            $("#id_academic_year").change(function () {
                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)
            });

            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                var url1='/school/viewTeacherDetails/';
                ViewTeacherDetailStudent(url1, academic_year, class_name);
                ViewSectionDetailStudent(url, academic_year, class_name);
            });


            $(document).ready(function () {

{#                alert($(".abc").length)#}
                var forms = $('.abc')
                if (forms.length === 0) {
                    $('#export').attr('disabled', true);
                    $('#selectAll').attr('disabled', true);
                }

                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });

                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked)
                        alert('Please select atleast one record to delete teacher subject!');


                });

                var currentSelect = $("select#id_teacher_name option:selected").index();

                $("select#id_teacher_name_mapping option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });


                {% comment %}$("#id_teacher_name_mapping").change(function () {


                    console.log("in acedemic year ajax")
                    teacher_name = document.getElementById("id_teacher_name_mapping").value
                    console.log(teacher_name)

                    var url = '/school/viewMultiselectTeacherSubjectList/';
                    viewMultiselectTeacherSubjectList(url, teacher_name)

                    var url1 = '/school/viewClassDetails/';
                    viewClassDetails(url1, teacher_name)
                });{% endcomment %}

                $("#id_class_name_mapping").change(function () {
                    class_name = document.getElementById("id_class_name_mapping").value

                    console.log(class_name)

                    var url = '/school/viewSectionMapping/';
                    viewSectionMapping(url, class_name)


                    /*var url1 = '/school/viewClassDetails/';
                     viewClassDetails(url1,teacher_name)	*/

                });


                $('#id_class_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });

                $('#id_section_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });


                $('#id_subject_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });

                getCurrentAcademicYear();

            });

         $('#sample_1').dataTable().fnDestroy();

         $('#sample_1').dataTable({
             "aoColumnDefs": [
                 {'bSortable': false}
             ]
         });


            function ViewSectionDetailStudent(url, academic_year, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name
                        },
                })

                    .done(
                        function (data) {

                            console.log("print you are in section ajax")
                            console.log(data);

                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">All</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')

                            }
                        });
            }
            function ViewTeacherDetailStudent(url, academic_year, class_name) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name
                        },
                    })
                    .done(
                        function (data) {
                              $('#id_teacher_name_mapping').empty();
                            $('#id_teacher_name_mapping').append(
                                '<option value="">All</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#id_teacher_name_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].first_name +' '+data[i].last_name+ ' </option>')
                            }
                        });
                }

            function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })
                    .done(
                        function (data) {
                            console.log("Hello.. !");
                            console.log(data);
                            $('#id_class_name').empty();
                            $('#id_class_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }

                            $('#id_class_name').prop("disabled", false);
                            $('#id_section_name').prop("disabled", false);
                        });
            }

            function getCurrentAcademicYear() {
                $.ajax({
                    url: '/school/getCurrentAcademicYear/',
                    type: "GET",
                })
                    .done(function (data) {
                        $('#id_academic_year_mapping').empty();
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].current_academic_year == true) {
                                $('#id_academic_year_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>');
                                {#                            var academic_year = document.getElementById("id_academic_year_mapping").value;#}
                                {#                            var url1 = '/school/viewAcademicDetails/';#}
                                {#                            viewAcademicDetails(url1,academic_year);#}
                            }
                            if (data[i].current_academic_year == false) {
                                $('#id_academic_year_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>')
                            }
                        }
                    });
            }

        }


    </script>
{% endblock %}
{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:teacher_subject_mapping' %}"> Teacher-Subject Mapping</a>

                <i class="fa fa-angle-right"></i>

            </li>
            <li>
                <span>Teacher & Subject Mapping Filtered List</span>
            </li>
        </ul>
    </div>


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Teacher & Subject Mapping Export Filter</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'registration:export_teacher_subject_mapping' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h4>Academic Year </h4>
                            <div class="">
                                <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Class </h4>

                            <div class="">
                                <select class="form-control" id="id_class_name" name="class_name">
                                    {% if selected_class_name %}
                                        <option style="display: none" value="{{ selected_class_name.id }}"
                                                selected="selected">{{ selected_class_name.class_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}


                                    {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name"
                                        name="section_name">
                                    {% if selected_section_name %}
                                        <option style="display: none" value="{{ selected_section_name.id }}"
                                                selected="selected">{{ selected_section_name.section_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for section in section_list %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Subjects </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_subject_name"
                                        name="subject_name">
                                    {% if subject_rec %}
                                        <option style="display: none" value="{{ subject_rec.id }}"
                                                selected="selected">{{ subject_rec.subject_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for subject in all_subjects %}
                                        <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Teacher Name:</h4>
                            <select autocomplete="off" class="form-control" id="id_teacher_name_mapping"
                                    name="teacher_name_mapping">
                                {% if teacher_rec %}
                                    <option style="display: none" value="{{ teacher_rec.id }}"
                                            selected="selected">{{ teacher_rec.first_name }} {{ teacher_rec.last_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}
                                {% for name in name_list %}
                                    <option value="{{ name.id }}">{{ name.get_pura_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top:23%"> GO</button>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9 center-block">

                            <br>

                            {% comment %}<button type="submit" id="mapping" id="go" class="btn blue btn-block"
                                    style="margin-right: 50%; margin-left: 50%; width: 30%;">
                                Export
                            </button>{% endcomment %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- END FORM-->
    </div>

    <!-- BEGIN BORDERED TABLE PORTLET-->

    <div class="portlet light portlet-fit">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">MAPPED TEACHER & SUBJECTS</span>
            </div>
            <form action="{% url 'registration:export_teacher_subject_filtered_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input hidden value="{{ subject_rec.id }}" name="subject_name1">
                <input hidden value="{{ teacher_rec.id }}" name="teacher_name_mapping1">
                <input hidden value="{{ selected_section_name.id }}" name="section_name1">
                <input hidden value="{{ selected_class_name.id }}" name="class_name1">
                <input hidden value="{{ Selected_Year_Id }}" name="year_name1">

                <div class="col-md-2">

                    <button type="submit" class="btn blue btn-block" id="export">Export</button>

                </div>
            </form>
        </div>

        <div class="portlet light">
            <form action="{% url 'registration:delete_teacher_subject_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>Id</th>
                        <th>Academic Year</th>
                        <th>Teacher Name</th>
                        <th>Class Name</th>
                        <th>Sections</th>
                        <th> Subject Name</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for obj in teacher_subject_mapping_rec %}
                        <tr class="abc">
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td><input type='checkbox' name='check' value="{{ obj.id }}"></td>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ obj.academic_class_section_mapping.year_name }}</td>
                            <td width="20%"> {{ obj.staff_id.first_name }} {{ obj.staff_id.middle_name }} {{ obj.staff_id.last_name }}</td>
                            <td> {{ obj.academic_class_section_mapping.class_name }}</td>
                            <td>{{ obj.academic_class_section_mapping.section_name }}</td>
                            <td>{{ obj.subject }}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="delete" class="btn blue" name="delete" value="Unmap"/>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>

    <!-- END BORDERED TABLE PORTLET-->


{% endblock %}

