{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}

    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }


    </style>


{% endblock %}

{% block ScriptBlock %}

    <script>


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>

        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light">

        <div class="portlet-body">


            <div class="tiles">


                {% if 'registration.can_view_manage_user' in perms %}
                    <div class="tile double-down bg-purple-studio"
                         style="height: 310px !important;width: 170px !important;">
                        <a href="{% url 'registration:manage_users' %}">

                            <div class="tile-body">
                                <i class="icon-users"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name">
                                    <h4>Manage Users</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}



                {% if 'registration.can_view_academic_school' in perms %}
                    <div class="tile bg-green-turquoise" style="height: 150px !important;width: 410px !important;">
                        <a href="{% url 'registration:academic_school' %}">
                            <div class="tile-body">
                                <i class="fa fa-university"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name">
                                    <h4>Academic & School</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_parent_student' in perms %}
                    <div class="tile bg-grey-silver" style="height: 150px !important;width: 410px !important;">
                        <a href="{% url 'registration:parents_students' %}">
                            <div class="tile-body">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name">
                                    <h4>Parents & Students </h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'transfer_certificate.can_view_transfer_certificate' in perms %}
                    <div class="tile double selected bg-blue" style="height: 150px !important;width: 410px !important;">
                        <a href="{% url 'transfer_certificate:tc_detail' %}" class="nav-link nav-toggle">
                            <div class="tile-body">
                                <i class="fa glyphicon glyphicon-education"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name">
                                    <h4>Transfer Certificate</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_id_cards' in perms %}
                    <div class="tile bg-yellow-lemon" style="height: 150px !important;width: 410px !important;">
                        <a href="{% url 'id_generation:id_menu' %}" class="nav-link nav-toggle">
                            <div class="tile-body">
                                <i class="icon-credit-card"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>ID Cards</h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'attendance.can_view_attendance' in perms %}
                    <div class="tile bg-blue-steel" style="height: 150px !important;width: 415px !important;">
                        <a href="{% url 'attendance:attendance_view' %}">
                            <div class="tile-body">
                                <i class="icon-calendar"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Attendance</h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'assessment.can_view_view_assessment' in perms %}
                    <div class="tile bg-red" style="height: 150px !important;width: 50% !important;">
                        <a href="{% url 'assessment:assessment_sub_tile' %}">
                            <div class="tile-body">
                                <i class="icon-book-open"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name">
                                    <h4>Assessment Data & Reporting</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                {#                <div class="tile bg-green-turquoise" style="height: 150px !important;width: 410px !important;">#}
                {#                    <a href="{% url 'parent_portal:parent_portal_home' %}">#}
                {#                        <div class="tile-body">#}
                {#                            <i class="fa fa-user"></i>#}
                {#                        </div>#}
                {#                        <div class="tile-object">#}
                {#                            <div class="name">#}
                {#                                <h4>Parent Portal</h4>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </a>#}
                {#                </div>#}

                {% if 'registration.can_view_parent_approve_reject_request' in perms %}

                    <div class="tile bg-red-sunglo" style="height: 150px !important;width: 415px !important;">
                        <a href="{% url 'registration:approve_request_tile' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-refresh"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name">
                                    <h4>Approve Student/Parent Update Request</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}



                {#                <div class="tile double-down bg-yellow" style="height: 150px !important;width: 415px !important;">#}
                {#                    <a href="{% url 'registration:view_student_profile_filter' %}">#}
                {#                        <div class="tile-body">#}
                {#                            <i class="icon-book-open"></i>#}
                {#                        </div>#}
                {#                        <div class="tile-object">#}
                {#                            <div class="name">#}
                {#                                <h4>Student Profile Filter</h4>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </a>#}
                {#                </div>#}


            {% comment %}{% if 'registration.can_view_report_card' in perms %}
                <div class="tile" style="height: 150px !important;width: 415px !important;">
                    <a href="{{ jwt }}">
                        <div class="tile-body" style="background-color: #1f2b3d">
                            <i class="icon-book-open"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name">
                                <h4>Report Card</h4>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}{% endcomment %}


            </div>

        </div>

    </div>

    <!-- END VALIDATION STATES-->


{% endblock %}
