<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.6
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>edsys Assesment | Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    {% load staticfiles %}
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{% static 'assets/global/plugins/jstree/dist/themes/default/style.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/jqvmap/jqvmap/jqvmap.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->


    <link href="{% static 'assets/layouts/layout2/css/layout.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/layouts/layout2/css/themes/blue.min.css' %}" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="{% static 'assets/layouts/layout2/css/custom.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/multi-select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/editor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/django-admin-widgets.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tree/jqwidgets/styles/jqx.base.css' %}">
    {#        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">#}
    <link href="{% static 'bootstrap_select/dist/css/bootstrap-select.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="{% static 'bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css' %}" rel="stylesheet" type="text/css"/>

    {% block styleBlock %}
    {% endblock %}
</head>

{% block ScriptBlock %}
{% endblock %}
{% block head %}

{% endblock %}
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">

            <img src="{% static '/images/logo.png' %}" alt="logo" class="logo-default" width="120px;" height="30px;"/>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>


        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN PAGE ACTIONS -->
        <!-- DOC: Remove "hide" class to enable the page header actions -->

        <!-- END PAGE ACTIONS -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN HEADER SEARCH BOX -->
            <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->

            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN INBOX DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                    <!-- END INBOX DROPDOWN -->
                    <!-- BEGIN TODO DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                    <!-- END TODO DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            {#                                    <img alt="" class="img-circle" src="{{ profile_pic }}" />#}
                            {% if user.staff_relation.all  and user.staff_relation.all.0.photo %}
                                <img alt="" class="img-circle"
                                     src="{{ MEDIA_URL }}{{ user.staff_relation.all.0.photo.url }}"/>
                            {% elif user.parent_relation.all and user.parent_relation.all.0.photo %}
                                <img alt="" class="img-circle"
                                     src="{{ MEDIA_URL }}{{ user.parent_relation.all.0.photo.url }}"/>
                            {% else %}
                                <img alt="" class="img-circle" src="{% static 'images/user.png' %}"/>
                            {% endif %}
                            <span class="username username-hide-on-mobile"> {% if user.first_name %}
                                {{ user.get_full_name }}{% else %}{{ user.username }}{% endif %} </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/school/my_profile/">
                                    <i class="fa fa-book" aria-hidden="true"></i> Profile </a>
                            </li>
                            <li>
                                <a href="/school/change_password/">
                                    <i class="icon-key" aria-hidden="true"></i> Change Password </a>
                            </li>
                            <li>
                                <a href="/school/logout/">
                                    <i class="fa fa-sign-out"></i> Log Out</a>
                            </li>
                            {% if user.role.all.count != 1 and user.is_parent %}


                                {% if is_default_role == 'Parent' %}
                                    <li>
                                        <a href="/school/staff_login/">
                                            <i class="fa fa-user"></i> Login As Staff </a>
                                    </li>
                                {% elif is_default_role == 'Staff' %}
                                    <li>
                                        <a href="/school/parent_login/">
                                            <i class="fa fa-user"></i> Login As Parent </a>
                                    </li>
                                {% endif %}


                            {% endif %}

                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <!--  <li class="dropdown dropdown-extended quick-sidebar-toggler">
                             <span class="sr-only">Toggle Quick Sidebar</span>

                             <i class="icon-logout"></i>


                         </li> -->
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
{% with user.get_user_permissions as perms %}
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- END SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-closed"
                    data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">


                    <li class="nav-item " id="dashboard">
                        <a href="/school/home/" class="nav-link nav-toggle">

                            <i class="glyphicon glyphicon-stats"></i>

                            <span class="title">Dashboard</span>
                            <span class="selected"></span>

                        </a>

                    </li>


                    {% if 'registration.can_view_manage_user' in perms %}
                        <li class="nav-item " id="manageUsers">
                            <a href="{% url 'registration:manage_users' %}" class="nav-link nav-toggle">
                                <i class="icon-users"></i>
                                <span class="title">Manage Users</span>
                            </a>

                        <ul class="sub-menu">
                                {% if 'registration.can_view_add_user' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:add_user' %}" class="nav-link ">Add Users</a>
                                        </li>
                                 {% endif %}
                                {% if 'registration.can_view_view_edit_user' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_user' %}" class="nav-link ">View-Edit Users</a>
                                        </li>
                                {% endif %}

                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_role' %}" class="nav-link ">Manage Roles</a>
                                        </li>

                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_role_user_mapping' %}" class="nav-link ">Role-User Mapping</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_user_permission_mapping' %}" class="nav-link ">Role-Permission Mapping</a>
                                        </li>
                                    {% if 'auth.add_group' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_user_permission_unmapping' %}"class="nav-link ">Role-Permission Un-Mapping</a>
                                        </li>
                                    {% endif %}

                                        <li class="nav-item ">
                                            <a href="{% url 'registration:user_import_log' %}"class="nav-link ">User Import Log</a>
                                        </li>
                        </ul>
                                </li>
                    {% endif %}

                    {% if 'registration.can_view_academic_school' in perms %}
                        <li class="nav-item  " id="academicSchool">
                            <a href="{% url 'registration:academic_school' %}" class="nav-link nav-toggle">
                                <i class="fa fa-university"></i>
                                <span class="title">Academic & School</span>
                            </a>
                         <ul class="sub-menu">
                                {% if 'registration.can_view_academic_year_info' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_academicyr' %}" class="nav-link ">Academic Year-info</a>
                                        </li>
                                {% endif %}
                          {% if 'registration.can_view_school_info' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_school' %}" class="nav-link ">School-Info</a>
                                        </li>
                          {% endif %}
                          {% if 'registration.can_view_class_section' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:classes_sections' %}" class="nav-link ">Classes & Sections</a>
                                        </li>
                              {% endif %}
                         {% if 'registration.can_view_subject' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_subject' %}" class="nav-link ">Subjects</a>
                                        </li>
                              {% endif %}
                         {% if 'registration.can_view_acadenic_class_section_mapping' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:academicyr_class_section_mapping' %}" class="nav-link ">Academic Year-Class-Section Mapping</a>
                                        </li>
                             {% endif %}
                         {% if 'registration.can_view_mandatory_subject_mapping' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:mandatory_subject_mapping' %}" class="nav-link ">Class-Subject Mapping</a>
                                        </li>
                         {% endif %}
                         {% if 'registration.can_view_optional_subject_mapping' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:optional_subject_mapping' %}"class="nav-link ">Optional Subject-Student Mapping</a>
                                        </li>
                         {% endif %}
                         {% if 'registration.can_view_supervisor_class_mapping' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:supervisor_class_mapping' %}"class="nav-link "> Supervisor & Class Mapping</a>
                                        </li>
                         {% endif %}
                         {% if 'registration.can_view_teacher_subject_mapping' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:teacher_subject_mapping' %}"class="nav-link ">Teacher-Subject Mapping</a>
                                        </li>
                         {% endif %}
                         {% if 'registration.can_view_class_teacher_mapping' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:teacher_class_mapping' %}"class="nav-link ">Class-Teacher Mapping</a>
                                        </li>
                         {% endif %}
                         {% if 'registration.can_view_student_subject' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_students_subjects' %}"class="nav-link "> View/Download Student-Subject List</a>
                                        </li>
                         {% endif %}
                        </ul>
                                </li>
                    {% endif %}

                    {% if 'registration.can_view_parent_student' in perms %}
                        <li class="nav-item  " id="parentStudent">
                            <a href="{% url 'registration:parents_students' %}" class="nav-link nav-toggle">
                                <i class="fa fa-users"></i>
                                <span class="title"> Parents & Students</span>
                            </a>
                        <ul class="sub-menu">
                            {% if 'registration.can_view_add_student' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:add_student' %}" class="nav-link "> Add Student</a>
                                        </li>
                             {% endif %}
                         {% if 'registration.can_view_view_edit_student' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_student' %}" class="nav-link ">View-Edit Student</a>
                                        </li>
                        {% endif %}
                        {% if 'registration.can_view_student_import_log' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:student_import_log' %}" class="nav-link ">Student Import Log</a>
                                        </li>
                        {% endif %}
                         {% if 'registration.can_view_house_export' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:academic_house' %}" class="nav-link "> Academic House Info</a>
                                        </li>
                        {% endif %}
                        {% if 'registration.can_view_transport_export' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:academic_transport' %}" class="nav-link ">Academic Transport Info</a>
                                        </li>
                        {% endif %}
                        {% if 'registration.can_view_student_photos' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_students_photo' %}" class="nav-link ">View Student Photos</a>
                                        </li>
                        {% endif %}
                        {% if 'registration.can_view_shuffle_student_section' in perms %}

                                        <li class="nav-item ">
                                            <a href="{% url 'registration:change_section' %}"class="nav-link ">Change Students Section</a>
                                        </li>
                        {% endif %}
                        {% if 'registration.can_view_add_parent' in perms %}

                                        <li class="nav-item ">
                                            <a href="{% url 'registration:add_parent' %}"class="nav-link "> Add Parent</a>
                                        </li>
                        {% endif %}
                        {% if 'registration.can_view_view_edit_parent' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:view_parent' %}"class="nav-link ">View-Edit Parent</a>
                                        </li>
                         {% endif %}
                        {% if 'registration.can_view_parent_import_log' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:parent_import_log' %}"class="nav-link "> Parent Import Log</a>
                                        </li>
                         {% endif %}
                        {% if 'registration.can_view_parent_contact_update' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:update_parent_contact' %}"class="nav-link ">Parent's Contact Update</a>
                                        </li>
                        {% endif %}
                        {% if 'medical.can_view_medical_info' in perms %}
                                         <li class="nav-item ">
                                            <a href="{% url 'medical:medical_menu' %}"class="nav-link ">Medical-Info</a>
                                        </li>
                        {% endif %}
                        {% if 'strike_off.can_view_strike_off' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'strike_off:strikeoff' %}"class="nav-link ">Strike-Off </a>
                                        </li>
                        {% endif %}

                                        <li class="nav-item ">
                                            <a href="{% url 'promotions:promotions_menu' %}"class="nav-link ">Promotion</a>
                                        </li>
                       {% if 'registration.can_view_missing_student_profile' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:missing_profile_student' %}"class="nav-link ">Missing Profile Students</a>
                                        </li>
                            {% endif %}
                         {% if 'registration.can_view_custom_groups' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'registration:custom_group_sub_details' %}"class="nav-link "> Custom Groups & Sub-groups</a>
                                        </li>
                         {% endif %}


                        </ul>
                                </li>

                    {% endif %}

                    {% if 'transfer_certificate.can_view_transfer_certificate' in perms %}
                        <li class="nav-item  " id="transfer_certificate">
                            <a href="{% url 'transfer_certificate:tc_detail' %}" class="nav-link nav-toggle">
                                <i class="glyphicon glyphicon-education"></i>
                                <span class="title">Transfer Certificate</span>
                            </a>
                        <ul class="sub-menu">
                            {% if 'transfer_certificate.can_view_transfer_certificate_apply' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'transfer_certificate:apply_tc' %}" class="nav-link ">Apply</a>
                                        </li>
                            {% endif %}
                        {% if 'transfer_certificate.can_view_transfer_certificate_view_confirm' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'transfer_certificate:requested_tc_list' %}" class="nav-link ">View-Confirm </a>
                                        </li>
                        {% endif %}
                        {% if 'transfer_certificate.can_view_transfer_certificate_view_alumni' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'transfer_certificate:view_alumni' %}" class="nav-link ">View Alumni</a>
                                        </li>
                        {% endif %}
                        {% if 'transfer_certificate.can_view_transfer_certificate_export_tc' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'transfer_certificate:export_tc' %}" class="nav-link ">View TC</a>
                                        </li>
                        {% endif %}

                        </ul>
                        </li>
                    {% endif %}


                    {% if 'registration.can_view_id_cards' in perms %}
                        <li class="nav-item  " id="idCards">
                            <a href="{% url 'id_generation:id_menu' %}" class="nav-link nav-toggle">
                                <i class="icon-credit-card"></i>
                                <span class="title">ID Cards</span>
                            </a>
                         <ul class="sub-menu">

                                        <li class="nav-item ">
                                            <a href="{% url 'id_generation:id_generator' %}" class="nav-link ">Student ID Cards</a>
                                        </li>

                                        <li class="nav-item ">
                                            <a href="{% url 'id_generation:view_student_template' %}" class="nav-link ">View/Select Student ID Cards Template</a>
                                        </li>

                         </ul>

                        </li>
                    {% endif %}



                    {% if 'attendance.can_view_attendance' in perms %}
                        <li class="nav-item  " id="atendance">
                            <a href="{% url 'attendance:attendance_view' %}" class="nav-link nav-toggle">
                                <i class="icon-calendar"></i>
                                <span class="title">Attendance</span>
                            </a>
                         <ul class="sub-menu">
                             {% if 'attendance.can_view_view_absent_categories' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'attendance:category_detail' %}" class="nav-link ">View Absent Categories</a>
                                        </li>
                             {% endif %}
                         {% if 'attendance.can_view_view_present_categories' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'attendance:present_category_detail' %}" class="nav-link ">View Present Categories</a>
                                        </li>
                         {% endif %}
                         {% if 'attendance.can_view_manage_attendance' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'attendance:manage_attendance' %}" class="nav-link ">Attendance</a>
                                        </li>
                         {% endif %}
                         {% if 'attendance.can_view_attendance_dashboard' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'attendance:attendanceDashboard' %}" class="nav-link ">Dashboard</a>
                                        </li>
                         {% endif %}
                         {% if 'attendance.can_view_attendance_import_export' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'attendance:importStudentAttendance' %}" class="nav-link ">Import/Export</a>
                                        </li>
                          {% endif %}
                             {% if 'attendance.can_view_bulk_attendance' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'attendance:manageBulkAttendance' %}" class="nav-link ">Bulk Attendance</a>
                                        </li>
                             {% endif %}
                         {% if 'attendance.can_view_daily_attendance' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'attendance:dailyAttendanceReport' %}"class="nav-link ">Daily Attendance Report</a>
                                        </li>
                             {% endif %}
                        {% if 'attendance.can_view_daily_attendance_report_log' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'attendance:daily_attendance_report_log' %}"class="nav-link ">Daily Attendance Report Log</a>
                                        </li>
                         {% endif %}
                        </ul>

                        </li>
                    {% endif %}

                    {% if 'assessment.can_view_view_assessment' in perms %}
                        <li class="nav-item  " id="idCards">
                            {#                                     <a href="" class="nav-link nav-toggle">#}
                            <a href="{% url 'assessment:assessment_sub_tile' %}" class="nav-link nav-toggle">
                                <i class="icon-book-open"></i>
                                <span class="title">Assessment Data & Reporting</span>
                            </a>
                         <ul class="sub-menu">
                             {% if 'assessment.can_view_view_grade_categories' in perms %}

                                        <li class="nav-item ">
                                            <a href="{% url 'assessment:grade_list' %}" class="nav-link ">Grading Scheme</a>
                                        </li>
                             {% endif %}
                         {% if 'assessment.can_view_view_cycle_categories' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'assessment:frequency_list' %}" class="nav-link ">Cycles</a>
                                        </li>
                         {% endif %}
                         {% if 'assessment.can_view_view_skill_categories' in perms %}

                                        <li class="nav-item ">
                                            <a href="{% url 'assessment:skill_tracker_sub_tile' %}" class="nav-link ">Skill Tracker</a>
                                        </li>
                         {% endif %}
                         {% if 'assessment.can_view_view_exam_categories' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'assessment:exam_sub_tile' %}" class="nav-link ">Exam</a>
                                        </li>
                         {% endif %}
                         {% if 'assessment.can_view_view_rubric_categories' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'assessment:rubrics_sub_tile' %}" class="nav-link "> Rubrics</a>
                                        </li>
                         {% endif %}
                         {% if 'masters.can_view_view_configration_categories' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:assessment_configrtion_roundoff' %}" class="nav-link ">Assessment Configration Setting</a>
                                        </li>
                         {% endif %}

                         {% if 'assessment.can_view_view_reported_categories' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'assessment:reported_score_sub_tile' %}"class="nav-link ">Reported Score</a>
                                        </li>
                         {% endif %}

                                        <li class="nav-item ">
                                            <a href="{% url 'assessment:target_setting_sub_tile' %}"class="nav-link ">Target Setting</a>
                                        </li>
                         {% if 'assessment.can_view_view_analysis' in perms %}
                                        <li class="nav-item ">
                                            <a href="{% url 'assessment:show_all_report' %}"class="nav-link ">Bulk Download Assessment Data</a>
                                        </li>
                         {% endif %}
                        </ul>

                        </li>
                    {% endif %}

                    {% if 'registration.can_view_parent_approve_reject_request' in perms %}
                        <li class="nav-item  " id="approve_update_request">
                            {#                                     <a href="" class="nav-link nav-toggle">#}
                            <a href="{% url 'registration:approve_request_tile' %}" class="nav-link nav-toggle">
                                <i class="glyphicon glyphicon-refresh"></i>
                                <span class="title">Approve Student/Parent Update Request</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item ">
                                    <a href="{% url 'registration:approve_student_list' %}" class="nav-link ">Student</a>
                                </li>
                                <li class="nav-item ">
                                            <a href="{% url 'registration:approve_parent_list' %}" class="nav-link ">Parent</a>
                                </li>

                         </ul>

                        </li>
                    {% endif %}


                    {% if 'registration.can_view_settings' in perms %}
                        <li class="nav-item  " id="settings">
                            <a href="{% url 'masters:masters_home' %}" class="nav-link nav-toggle">
                                <i class="icon-wrench"></i>
                                <span class="title">Settings</span>
                            </a>
                        <ul class="sub-menu">
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:nationality_masters' %}" class="nav-link ">Nationality</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:nationality_group' %}" class="nav-link ">Nationality Group</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:religion_masters' %}" class="nav-link ">Religon</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:department_master' %}" class="nav-link ">Department Master</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:house_master_list' %}" class="nav-link "> House Master</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:month_masters' %}" class="nav-link ">Month Master</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:exam_masters' %}"class="nav-link ">Exam Type</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:tc_type_master' %}"class="nav-link ">TC Type</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:section_type_master' %}"class="nav-link "> Section Type</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{% url 'masters:report_card_term_master' %}"class="nav-link ">Define Report Card Term Names</a>
                                        </li>

                               </ul>
                        </li>
                    {% endif %}

                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">

                <div class="row">

                </div>
                <div class="clearfix">
                    {% block content %}
                    {% endblock %}

                </div>
                <!-- END DASHBOARD STATS 1-->
                <div class="row">


                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">

                    </div>
                    <div class="col-md-6 col-sm-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">

                    </div>
                    <div class="col-md-6 col-sm-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">

                    </div>
                    <div class="col-md-6 col-sm-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">

                    </div>
                    <div class="col-md-6 col-sm-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN REGIONAL STATS PORTLET-->

                        <!-- END REGIONAL STATS PORTLET-->
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN PORTLET-->

                        <!-- END PORTLET-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN PORTLET-->

                        <!-- END PORTLET-->
                    </div>

                </div>

            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>
        <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
            <div class="page-quick-sidebar">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab"> Users
                            <span class="badge badge-danger">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab"> Alerts
                            <span class="badge badge-success">7</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> More
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-bell"></i> Alerts </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-info"></i> Notifications </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-speech"></i> Activities </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-settings"></i> Settings </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                        <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd"
                             data-wrapper-class="page-quick-sidebar-list">
                            <h3 class="list-heading">Staff</h3>
                            <ul class="media-list list-items">
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-success">8</span>
                                    </div>
                                    <img class="media-object"
                                         src="{% static 'assets/layouts/layout/img/avatar3.jpg' %}" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Bob Nilson</h4>
                                        <div class="media-heading-sub"> Project Manager</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object"
                                         src="{% static 'assets/layouts/layout/img/avatar1.jpg' %}" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Nick Larson</h4>
                                        <div class="media-heading-sub"> Art Director</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-danger">3</span>
                                    </div>
                                    <img class="media-object"
                                         src="{% static 'assets/layouts/layout/img/avatar4.jpg' %}" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Deon Hubert</h4>
                                        <div class="media-heading-sub"> CTO</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object"
                                         src="{% static 'assets/layouts/layout/img/avatar2.jpg' %}" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ella Wong</h4>
                                        <div class="media-heading-sub"> CEO</div>
                                    </div>
                                </li>
                            </ul>
                            <h3 class="list-heading">Customers</h3>
                            <ul class="media-list list-items">
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-warning">2</span>
                                    </div>
                                    <img class="media-object"
                                         src="{% static 'assets/layouts/layout/img/avatar6.jpg' %}" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Lara Kunis</h4>
                                        <div class="media-heading-sub"> CEO, Loop Inc</div>
                                        <div class="media-heading-small"> Last seen 03:10 AM</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="label label-sm label-success">new</span>
                                    </div>
                                    <img class="media-object"
                                         src="{% static 'assets/layouts/layout/img/avatar7.jpg' %}" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ernie Kyllonen</h4>
                                        <div class="media-heading-sub"> Project Manager,
                                            <br> SmartBizz PTL
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object"
                                         src="{% static 'assets/layouts/layout/img/avatar8.jpg' %}" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Lisa Stone</h4>
                                        <div class="media-heading-sub"> CTO, Keort Inc</div>
                                        <div class="media-heading-small"> Last seen 13:10 PM</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-success">7</span>
                                    </div>
                                    <img class="media-object"
                                         src="{% static 'assets/layouts/layout/img/avatar9.jpg' %}" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Deon Portalatin</h4>
                                        <div class="media-heading-sub"> CFO, H&D LTD</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object"
                                         src="{% static 'assets/layouts/layout/img/avatar10.jpg' %}" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Irina Savikova</h4>
                                        <div class="media-heading-sub"> CEO, Tizda Motors Inc</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-danger">4</span>
                                    </div>
                                    <img class="media-object"
                                         src="{% static 'assets/layouts/layout/img/avatar11.jpg' %}" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Maria Gomez</h4>
                                        <div class="media-heading-sub"> Manager, Infomatic Inc</div>
                                        <div class="media-heading-small"> Last seen 03:10 AM</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="page-quick-sidebar-item">
                            <div class="page-quick-sidebar-chat-user">
                                <div class="page-quick-sidebar-nav">
                                    <a href="javascript:;" class="page-quick-sidebar-back-to-list">
                                        <i class="icon-arrow-left"></i>Back</a>
                                </div>
                                <div class="page-quick-sidebar-chat-user-messages">
                                    <div class="post out">
                                        <img class="avatar" alt=""
                                             src="{% static 'assets/layouts/layout/img/avatar3.jpg' %}"/>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Bob Nilson</a>
                                            <span class="datetime">20:15</span>
                                            <span class="body"> When could you send me the report ? </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt=""
                                             src="{% static 'assets/layouts/layout/img/avatar2.jpg' %}"/>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ella Wong</a>
                                            <span class="datetime">20:15</span>
                                            <span class="body"> Its almost done. I will be sending it shortly </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt=""
                                             src="{% static 'assets/layouts/layout/img/avatar3.jpg' %}"/>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Bob Nilson</a>
                                            <span class="datetime">20:15</span>
                                            <span class="body"> Alright. Thanks! :) </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt=""
                                             src="{% static 'assets/layouts/layout/img/avatar2.jpg' %}"/>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ella Wong</a>
                                            <span class="datetime">20:16</span>
                                            <span class="body"> You are most welcome. Sorry for the delay. </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt=""
                                             src="{% static 'assets/layouts/layout/img/avatar3.jpg' %}"/>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Bob Nilson</a>
                                            <span class="datetime">20:17</span>
                                            <span class="body"> No probs. Just take your time :) </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt=""
                                             src="{% static 'assets/layouts/layout/img/avatar2.jpg' %}"/>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ella Wong</a>
                                            <span class="datetime">20:40</span>
                                            <span class="body"> Alright. I just emailed it to you. </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt=""
                                             src="{% static 'assets/layouts/layout/img/avatar3.jpg' %}"/>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Bob Nilson</a>
                                            <span class="datetime">20:17</span>
                                            <span class="body"> Great! Thanks. Will check it right away. </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt=""
                                             src="{% static 'assets/layouts/layout/img/avatar2.jpg' %}"/>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ella Wong</a>
                                            <span class="datetime">20:40</span>
                                            <span class="body"> Please let me know if you have any comment. </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt=""
                                             src="{% static 'assets/layouts/layout/img/avatar3.jpg' %}"/>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Bob Nilson</a>
                                            <span class="datetime">20:17</span>
                                            <span class="body"> Sure. I will check and buzz you if anything needs to be corrected. </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-quick-sidebar-chat-user-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               placeholder="Type a message here...">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn green">
                                                <i class="icon-paper-clip"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- END QUICK SIDEBAR -->
    </div>
{% endwith %}
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">Copyright &copy; edsys 2018

    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="{% static 'assets/global/plugins/respond.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/excanvas.min.js' %}"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.j' %}s"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/plugins/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/morris/morris.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/morris/raphael-min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/amcharts/amcharts/amcharts.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/amcharts/amcharts/serial.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/amcharts/amcharts/pie.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/amcharts/amcharts/radar.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/amcharts/amcharts/themes/light.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/amcharts/amcharts/themes/patterns.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/amcharts/amcharts/themes/chalk.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/amcharts/ammap/ammap.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/amcharts/ammap/maps/js/worldLow.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/amcharts/amstockcharts/amstock.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/fullcalendar/fullcalendar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/flot/jquery.flot.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/flot/jquery.flot.resize.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/flot/jquery.flot.categories.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.sparkline.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jstree/dist/jstree.min.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
{#        <script src="{% static 'assets/pages/scripts/ui-tree.js' %}" type="text/javascript"></script>#}
<script src="{% static 'assets/pages/scripts/dashboard.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/checktree.js' %}" type="text/javascript"></script>
<script src="{% static 'js/logger.js' %}" type="text/javascript"></script>
<script src="{% static 'js/treeview.js' %}" type="text/javascript"></script>
{#        <script type="text/javascript" src="{% static 'tree/scripts/jquery-1.12.4.min.js'%}"></script>#}
<script type="text/javascript" src="{% static 'tree/scripts/demos.js' %}"></script>
<script type="text/javascript" src="{% static 'tree/jqwidgets/jqxcore.js' %}"></script>
<script type="text/javascript" src="{% static 'tree/jqwidgets/jqxbuttons.js' %}"></script>
<script type="text/javascript" src="{% static 'tree/jqwidgets/jqxscrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'tree/jqwidgets/jqxpanel.js' %}"></script>
<script type="text/javascript" src="{% static 'tree/jqwidgets/jqxtree.js' %}"></script>
<script type="text/javascript" src="{% static 'tree/jqwidgets/jqxcheckbox.js' %}"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{#<script src="{% static 'js/clockface.js' %}" type="text/javascript"></script>#}


{#        <script src="{% static 'DataTables/datatables.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'DataTables/DataTables-1.10.16/js/datatables.bootstrap.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'DataTables/DataTables-1.10.16/js/jquery.dataTables.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'DataTables/DataTables-1.10.16/js/dataTables.foundation.js' %}" type="text/javascript"></script>#}

<script src="{% static 'assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/pages/scripts/table-datatables-managed.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}"
        type="text/javascript"></script>
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{% static 'assets/layouts/layout2/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/layout2/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery.multi-select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tabletojson.js' %}"></script>
<script type="text/javascript" src="{% static 'js/django-admin.multiselect.js' %}"></script>
<script src="{% static 'bootstrap_select/dist/js/bootstrap-select.js' %}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.min.js"></script>
<script src="http://www.amcharts.com/lib/amcharts.js" type="text/javascript"></script>
<script src="{% static 'bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js' %}" type="text/javascript"></script>

<script src="{% static 'js/jquery.toaster.js' %}"></script>
<script src="{% static 'js/editor (1).js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/portlet-draggable.js' %}"></script>


<script type="text/javascript">

    $(document).ready(function () {

    });

</script>
<script type="text/javascript">
    // run callbacks
    $('#id_class_id').multiSelect({
        afterSelect: function (values) {
            //alert("Select value: "+values);
        },
        afterDeselect: function (values) {
            //alert("Deselect value: "+values);
        }
    });
</script>

<script>
    $('a.yourlink').click(function (e) {
        e.preventDefault();
        {#            window.href='/school/logout/';#}
        alert("hello");
        {#            window.location.href="{% url 'social:disconnect' 'azuread-oauth2' %}";#}
        window.location.href = '/school/logout/'
    });
</script>

</body>

</html>
