{% block content %}
    {% load staticfiles %}
    <!DOCTYPE html>

    <html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <!-- *******  To remove underline from login ********* -->
        <style>
            #log {
                clear: both;
                border: 0;
                /* border-bottom: 1px solid #eee; */
                padding: 25px 30px;
                margin-left: -30px;
                margin-right: -30px;
            }
        </style>
        <meta charset="utf-8"/>
        <title> SchoolZen | User Login 1</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components"
              type="text/css"/>
        <link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{% static 'assets/pages/css/login.min.css' %}" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <!-- END HEAD -->

    <body class=" login">
    <!-- BEGIN LOGO -->
    <div class="logo" style="margin: 0px; padding: 0px;">

        <img src="{% static 'assets/pages/img/logo.png' %}" alt=""/>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" method="post" action="{% url 'registration:login_succes' %}">
            {% csrf_token %}
            <h3 class="form-title font-green">Sign In As</h3>

            {% if context1 %}
                {#   <center> <h5 class="alert alert-danger" style="width:70%">{{context1}}</h5></center>#}
                <div class="alert alert-danger" role="alert">{{ context1 }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endif %}

            {% for message in messages %}
                <div class="alert alert-danger" role="alert" style="color: red;">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endfor %}

            <div class="form-group">
                <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"><h1>
                                <a href="{% url 'registration:staff_login' %}">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </h1> <h4>Staff</h4>
                            </div>

                            <div class="col-md-2"><h1>
                                <a href="{% url 'registration:parent_login' %}">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </h1>
                                <h4>Parent</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->

        <!-- BEGIN REGISTRATION FORM -->

    </div>
    <div class="copyright"> 2017 © Edsys Assesment.</div>
    <!--[if lt IE 9]>
<script src="{% static 'assets/global/plugins/respond.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/excanvas.min.js' %}"></script> 
<![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
            type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-validation/js/additional-methods.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/pages/scripts/login.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    </body>

    </html>
{% endblock %}

