{% extends "index.html" %}
(% load pygmentize %}
{% load staticfiles %}


</head>

{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }

        #id_gender {
            list-style: none;
        }

        .disabled {

            background: #eef1f5;
            opacity: 1;

        }

        .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
            position: absolute;
            display: inline-block;
            left: 270px;
            margin-top: 5px;
        }

        li {
            display: inline;

        }

        input[type=file] {
            color: transparent;
        }

        #PreviewPicture {
            width: 150px;
            height: 150px;
            background-repeat: no-repeat;
            border: 0;
            margin-top: 30px;
            background-size: 100%;
        }


    </style>
{% endblock %}


{% block ScriptBlock %}
    <script>


        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                $('#id_contact_num')
                    .on('keypress', function (e) {
                        {#                        alert("dd")#}
                        var key = e.charCode || e.keyCode || 0;
                        var phone = $(this);
                        if (phone.val().length === 0) {
                            phone.val(phone.val() + '+');
                        }
                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9) {
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + '');
                            }
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + ' ');
                            }

                            if (phone.val().length >= 16) {
                                phone.val(phone.val().slice(0, 16));
                            }
                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                            key == 9 ||
                            key == 46 ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    })

                    .on('focus', function () {
                        phone = $(this);

                        if (phone.val().length === 0) {
                            phone.val('+');
                        } else {
                            var val = phone.val();
                            phone.val('').val(val); // Ensure cursor remains at the end
                        }
                    })

                    .on('blur', function () {
                        $phone = $(this);

                        if ($phone.val() === '+') {
                            $phone.val('');
                        }
                    });

                $("#edit").click(function (event) {

                    $("#update").show();
                    $("#edit").hide();
                    $('#id_gender_1').prop("disabled", false);
                    $('#id_gender_0').prop("disabled", false);
                    $('#id_photo').prop("disabled", false);
                    $('.dis').prop("disabled", false);
                    $('button').removeClass('disabled');
                    if("{{ request.user.is_system_admin }}" == "True"){
{#                        alert("Hiii")#}
                        $('#id_email').prop("disabled", false);
                    }

                });

                $('#update').click(function () {


                    var id_contact_num = jQuery.trim($("#id_contact_num").val());
                    if ((id_contact_num.length !== 0) && (id_contact_num.length < 10)) {
                        alert('Please put 10 digit mobile number');
                        // focuses the current field.
                        return false; // stops the execution.
                    }

                    var sEmail = $('#id_email').val();
                    console.log('sEmail', sEmail);
                    if (!validateEmail(sEmail) && (!sEmail == 0)) {
                        alert('Invalid Email Address');
                        return false;

                    }


                    function validateEmail(sEmail) {
                        var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

                        if (filter.test(sEmail)) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }


                });


                var dateControler =
                    {
                        currentDate: null
                    }

                $(document).on("change", "#id_birth_date", function (event, ui) {
                    var now = new Date();
                    now.setDate(now.getDate() - 1)
                    var selectedDate = new Date($(this).val());

                    if (selectedDate > now) {
                        $(this).val(dateControler.currentDate)
                        alert("Invalid Date..!")
                    } else {
                        dateControler.currentDate = $(this).val();
                    }
                });

                var image = $("#id_photo").attr('value');
                console.log(image)
                var Val = ("../media/".concat(image))

                console.log("path", Val)

                $("#PreviewPicture").css("background-image", "url(" + Val + ")")

                $("#id_photo").on("change", function () {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];// Check if File is selected, or no FileReader support
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) !== -1) {
                        console.log('if part');   //  Allow only image upload
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () { // set uploaded image data as background of div

                            $("#PreviewPicture").css("background-image", "url(" + this.result + ")");
                            $("#id_photo").css("margin-left","25px");
                            $("#update").css("margin-left","7px");

                            $("#setPic").val(this.result);
                        }
                    }
                    else {
                        console.log('esle part');
                        $('#id_photo').val('');
                        alert("Only formats are allowed : " + fileExtension.join(', '));

                    }
                });


            });

        }


        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }


    </script>

{% endblock %}
{% block content %}

    <div class="col-md-12">


        <div class="page-bar" style="margin-bottom: 1px;">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{% url 'registration:home' %}">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span> User Profile</span>
                </li>
            </ul>

        </div>


        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}

        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Manage User Profile</span>
                </div>

            </div>


            <div class="portlet-body">


                <!-- BEGIN FORM-->
                <form action="{% url 'registration:updated_user_profile' %}" id="form_sample_1" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">


                    {% csrf_token %}
                    <div class="col-md-offset-3 col-md-9" style="margin: auto;">
                        <!--  <button type="button" class="btn green" name="update" onclick="document.getElementById('form_sample_1').submit()">Update</button></a> -->
                        <button type="button" class="btn green" id="edit">Edit</button>
                        <button type="submit" id="update" class="btn green" style="display:none;">Update</button>


                    </div>
                    <div class="form-body">
                        <div height="142" width="142"  id="PreviewPicture"></div>
                        <input type="hidden" name="profile_pic" id="setPic">
                        {% if staff_detail.staff_relation.all %}
                            <input id="id_photo" name="photo" type="file"
                                   value="{{ staff_detail.staff_relation.all.0.photo }}" disabled>
                        {% else %}
                            <input id="id_photo" name="photo" type="file"
                               value="{{ staff_detail.parent_relation.all.0.photo }}" disabled>
                        {% endif %}

                        <input type="hidden" value="{{ staff_detail.id }}" name="user_id"/>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">First Name:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           class="form-control dis" id="id_first_name" name="first_name" type="text"
                                           value="{{ staff_detail.first_name }}" required disabled></div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">Middle Name:

                                </label>
                                <div class="col-md-4">
                                    {% if staff_detail.middle_name %}
                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                               class="form-control dis" id="id_middle_name" name="middle_name" type="text"
                                               value="{{ staff_detail.middle_name }}" disabled>
                                    {% else %}
                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                               class="form-control dis" id="id_middle_name" name="middle_name" type="text"
                                               value="" disabled>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Last Name:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           class="form-control dis" id="id_last_name" name="last_name"
                                           value="{{ staff_detail.last_name }}" type="text" disabled>
                                </div>
                            </div>
                            <div class="">


                                <label class="col-md-2 control-label">Email :

                                </label>
                                <div class="col-md-4">
                                    {% if request.user.is_system_admin == True %}
                                        <input autocomplete="off" class="form-control" id="id_email" name="email"
                                           type="email" value="{{ staff_detail.email }}" required="" disabled>
                                        {% else %}
                                        <input autocomplete="off" class="form-control" id="" name=""
                                           type="email" value="{{ staff_detail.email }}" required="" disabled>

                                        <input hidden autocomplete="off" class="" id="id_email" name="email"
                                           type="email" value="{{ staff_detail.email }}" required="">
                                    {% endif %}

{#                                    <input hidden name="email"#}
{#                                           type="email" value="{{ staff_detail.email }}">#}
                                </div>
                            </div>

{#                            <div class="">#}
{#                                <label class="col-md-2 control-label">Role:#}
{##}
{#                                </label>#}
{#                                <div class="col-md-4">#}
{##}
{#                                    <select  style="width: 200px;" multiple="multiple" class="selectfilter" data-field-name="frequency" data-is-stacked="0"   id ="id_role" name="role" disabled>#}
{#                                        {% for obj in staff_detail.role.all %}#}
{#                                            <option value="{{ obj.name }}"> {{ obj.name }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{##}
{#                                    {% comment %}<input style="color:green;" autocomplete="off" class="form-control dis" id="id_role"#}
{#                                           name="role" value="{{ staff_detail.role.name }}" type="text" required=""#}
{#                                           readonly="readonly">{% endcomment %}#}
{#                                </div>#}
{#                            </div>#}

                        </div>

                        <div class="row">



                            <div class="">

                                <label class="col-md-2 control-label">Birth Date:

                                </label>
                                <div class="col-md-4">
                                    {% if staff_detail.staff_relation.all %}
                                        <input autocomplete="off" class="form-control dis" id="id_birth_date" name="birth_date"
                                               type="date"
                                               value="{{ staff_detail.staff_relation.all.0.birth_date|date:"Y-m-d" }}"
                                               disabled>
                                    {% else %}
                                        <input autocomplete="off" class="form-control dis" id="id_birth_date" name="birth_date"
                                               type="date"
                                               value="{{ staff_detail.parent_relation.all.0.birth_date|date:"Y-m-d" }}"
                                               disabled>
                                    {% endif %}
                                </div>
                            </div>
                         <div class="">
                                <label class="col-md-2 control-label">Gender:

                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 7px;">
                                    <ul id="id_gender">
                                        <li><label for="id_gender_0"><input id="id_gender_0" name="gender" type="radio"
                                                                            value="Male" {{ male }} required disabled>
                                            Male</label>
                                        </li>
                                        <li><label for="id_gender_1"><input id="id_gender_1" name="gender" type="radio"
                                                                            value="Female" {{ female }} required
                                                                            disabled> Female</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="row">



                            <div class="">
                                <label class="col-md-2 control-label">Contact Number:

                                </label>
                                <div class="col-md-4">
                                    {% if staff_detail.staff_relation.all %}
                                        <input autocomplete="off" onkeypress="return isNumber(event);" placeholder="+XXX XXXXXXXXX"
                                           onkeypress="return isNumber(event);" maxlength="16"
                                           class="form-control dis" id="id_contact_num" name="contact_num" type="text"
                                           value="{{ staff_detail.staff_relation.all.0.contact_num }}" disabled>
                                    {% else %}
                                        <input autocomplete="off" onkeypress="return isNumber(event);" placeholder="+XXX XXXXXXXXX"
                                           onkeypress="return isNumber(event);" maxlength="16"
                                           class="form-control dis" id="id_contact_num" name="contact_num" type="text"
                                           value="{{ staff_detail.parent_relation.all.0.contact_num }}" disabled>
                                    {% endif %}
                                </div>
                            </div>
                        <div class="">
                                <label class="col-md-2 control-label">Street:

                                </label>
                                <div class="col-md-4">
                                    {% if staff_detail.staff_relation.all %}
                                        <textarea autocomplete="off" class="form-control dis" cols="40" id="id_street"
                                              name="street" rows="2"
                                              disabled>{{ staff_detail.staff_relation.all.0.street }}</textarea>
                                    {% else %}
                                        <textarea autocomplete="off" class="form-control dis" cols="40" id="id_street"
                                              name="street" rows="2"
                                              disabled>{{ staff_detail.parent_relation.all.0.street|default_if_none:" " }}</textarea>
                                    {% endif %}


                                </div>
                            </div>

                        </div>
                        <br>

                        <div class="row" style="margin-top: 2px;">


{#                            <div class="">#}
{##}
{#                                <label class="col-md-2 control-label">Department name:#}
{##}
{#                                </label>#}
{#                                <div class="col-md-4">#}
{#                                    <select autocomplete="off" class="selectpicker  form-control dis"#}
{#                                            data-live-search="true" id="id_department" name="department" required#}
{#                                            disabled>#}
{#                                    {% if staff_detail.staff_relation.all %}#}
{#                                        <option style="display:none" selected="selected"#}
{#                                                value="{{ staff_detail.staff_relation.all.0.department.id }}">{{ staff_detail.staff_relation.all.0.department }}</option>#}
{#                                        {% for department in department_list %}#}
{##}
{#                                            <option value="{{ department.id }}" {{ value1 }}  >{{ department.depatment_name }}</option>#}
{#                                        {% endfor %}#}
{#                                    {% else %}#}
{#                                         <option style="display:none" selected="selected"#}
{#                                                value="{{ staff_detail.parent_relation.all.0.department.id }}">{{ staff_detail.parent_relation.all.0.department }}</option>#}
{#                                        {% for department in department_list %}#}
{##}
{#                                            <option value="{{ department.id }}" {{ value1 }}  >{{ department.depatment_name }}</option>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                    </select>#}
{#                                </div>#}
{##}
{##}
{#                            </div>#}


                         <div class="">
                                <label class="col-md-2 control-label">City:

                                </label>
                                <div class="col-md-4">
                                    {% if staff_detail.staff_relation.all %}
                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           class="form-control dis" id="id_city" name="city" type="text"
                                           value="{{ staff_detail.staff_relation.all.0.city }}" disabled>
                                    {% else %}
                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           class="form-control dis" id="id_city" name="city" type="text"
                                           value="{{ staff_detail.parent_relation.all.0.city|default_if_none:" " }}" disabled>
                                    {% endif %}
                                </div>
                            </div>
                        <div class="">
                                <label class="col-md-2 control-label">State:

                                </label>
                                <div class="col-md-4">
                                    {% if staff_detail.staff_relation.all %}
                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                               class="form-control dis" id="id_state" name="state" type="text"
                                               value="{{ staff_detail.staff_relation.all.0.state }}" disabled>
                                    {% else %}
                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           class="form-control dis" id="id_state" name="state" type="text"
                                           value="{{ staff_detail.parent_relation.all.0.state|default_if_none:" " }}" disabled>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="row" style="margin-top: 2px;">






                        </div>


                        <div class="row" style="margin-top: 15px;">


                            <div class="">
                                <label class="col-md-2 control-label">Post Code:

                                </label>
                                <div class="col-md-4">
                                    {% if staff_detail.staff_relation.all %}
                                        <input autocomplete="off" pattern='[0-9 ]+' title='Enter Numbers Only '
                                               class="form-control dis" id="id_postcode" name="postcode" type="text"
                                               value="{{ staff_detail.staff_relation.all.0.postcode }}" disabled>
                                    {% else %}
                                        <input autocomplete="off" pattern='[0-9 ]+' title='Enter Numbers Only '
                                           class="form-control dis" id="id_postcode" name="postcode" type="text"
                                           value="{{ staff_detail.parent_relation.all.0.postcode|default_if_none:" " }}" disabled>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Status:

                                </label>
                                <div class="col-md-4">
                                    <input style="color:green;" autocomplete="off" class="form-control dis"
                                           id="id_is_active" name="is_active" type="text"
                                           value="{{ staff_detail.is_active }}" disabled readonly>
                                </div>
                            </div>


                        </div>


                        <br>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->


    </div>



{% endblock %}
