{% extends "index.html" %}

<html lang="">

         {%block styleBlock%}
     <style>

     </style>
        {%endblock%}
 {%block ScriptBlock%}
<script>
window.onload = function() 
{
	  //YOUR JQUERY CODE
	$(document).ready(function() 
	{
        var selchbox = [];

		 $('#my-select').multiSelect
		 ({
		      afterSelect: function(values) {
		        selchbox.push(values);
		      },
		      afterDeselect: function(values) {
		        selchbox.pop(values);
		      }
		 }); 
		 
		$('#selectAll').click(function(e){
            var table= $(e.target).closest('table');
            $('td input:checkbox',table).prop('checked',this.checked);
        });

		$("#button1").click(function(){
			var favorite = [];
		      $.each($("input[name='check']:checked"), function(){            
		          favorite.push($(this).val());
		      });
		      console.log('fav---> '+favorite);
		      strID = favorite.join(", ")
		      console.log("favoritefavorite",favorite.join(", "));
		      
		      if (strID == '')
	    	  {
	    	  alert('Please select atleast one record to delete Users role!');
			  return false;
	    	  
      		  }
			});

          $("#id_username").change(function() {
			    var username = document.getElementById("id_username").value;
                var url = '/school/get_user_excluded_permission/';
                ViewPermissionDetails(url, username);

          });

          $('#my-select').multiSelect();

            document.getElementById('mapping').onclick = function(){
                if(selchbox.length == 0){
                    alert('Please select atleast one record');
                    return false;
                }

                document.getElementById('checkList').value = selchbox;
                $('#permission_mapping_form').submit();
            };
	});

    function ViewPermissionDetails(url ,username) {

        $.ajax({
            url : url,
            type : "GET",
            data : {
                username : username
            },
        })
        .done(function(data){

            $('#my-select').empty();
             for (var i = 0; i < data.length; i++){
                  var payload =    { value: data[i].id, text: data[i].name, index: i, nested: 'optgroup_label' };
                  $('#my-select').multiSelect('addOption', payload);
             }

        });
    }
	  
}
	
	
</script>
{%endblock%}  
{% block content %}
<body>
 
 <div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="{% url 'registration:home' %}">Home</a> 
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                
                                <a href="{% url 'registration:manage_users' %}">Manage Users</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            
                            <li>
                                <span>User-Permissions Mapping</span>
                            </li>
                        </ul>
                        
                    </div> 
                    
                      {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}
      

    <div class="portlet light portlet-fit portlet-form ">
                               <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">User & Permissions Mapping</span>
                                    </div>
                                   
                                </div>
                                <div class="portlet-body">
                                
                                
                                    <!-- BEGIN FORM-->
                                      <form id="permission_mapping_form" method="post" action="{% url 'registration:user_permission_mapping' %}" >
				{% csrf_token %}
                                        <div class="form-body">
                                            
                                            <div class="row">
                                            
                                             <div class="row" style="margin-left: 15%">
                                          
                                                <label class="col-md-2 control-label"><h4><span style="margin-left: 60%;">User:</span></h4>
                                                   
                                                </label>
                                                <div class="col-md-5">
                                                    
                                                   
{#                                                   <select autocomplete="off" class="selectpicker form-control" data-live-search="true" value = "{{ user_permission_mapping_form.username }}">#}
{#                                                        users_list#}
{#                                                   </select>#}

                                                    <select autocomplete="off" class="form-control" data-live-search="true" id="id_username" name="username" required="" >

                                                       <option style="display:none" selected="selected" value=""> {{ "<--- User --->" }}</option>

                                                       {% for user in users_list  %}
                                                            <option value="{{ user.id }}"  >{{ user.username }}</option>
                                                       {% endfor %}
                                                    </select>


                                                   </div>
                                           
                                           </div>
                                            
                                           </div>
                                         
                                           
                                            
                                          
                                            </div>
                                            
                                             <div class="col-md-6" style="margin-left: 28%;">
                               <div class="portlet-title"><h4> <span style="margin-left: 3%; " > Available Permissions</span><span style="margin-left: 22%;" > Selected Permissions</span></h4></div>
{#	                                            <div class="row "  style=" margin-top: 4%;">#}
{#	                                              {{ user_permission_mapping_form.name }}#}
{##}
{##}
{#	                                            </div>#}


                                                <select multiple class="form-control" id="my-select" name="my-select[]">
{#                                                  {{ user_permission_mapping_form.name }}#}
                                                </select>

                                                 <input type="hidden" name="perms_list" class="source" id="checkList">

                               </div>
                                            
                                       
               					<div class="">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9 center-block">
                                                    
                                               <br>

                                                <button type="button"  id="mapping" class="btn blue btn-block" style="margin-left: 50%; margin-right: 50%; width: 35%;">
                                               Mapping </button>
                                              
                                         


                                                </div>


                                            </div>
                                        </div>                         
                                            
                               
                               </form>
                                </div>
                            </div>
                                    
                                    <!-- END FORM-->
                                </div>
                                </html>
 
  <!-- BEGIN BORDERED TABLE PORTLET-->
                            
       <div class="portlet light portlet-fit ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bubble font-dark"></i>
                                        <span class="caption-subject font-dark bold uppercase">MAPPED USER & PERMISSIONS</span>
                                    </div>
                                    <form  action="{% url 'registration:export_role_user_mapping' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                                                 {% csrf_token %}
                                                
                                                 
{#                                                  #}
{#                                                 <div class="col-md-2">#}
{#                            #}
{#                       #}
{#                                                <button type="submit" class="btn blue btn-block" id ="export">Export</button>#}
{#                                                 #}
{#                                               </div>#}
                                                  </form>
                                </div>
                             
                                     <div class="portlet-body" style="padding: 25px;">
                               <form  action="{% url 'registration:delete_role_user_mapping' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                                       {% csrf_token %}
                                         <table class="table table-striped table-bordered  table-checkable order-column" id="sample_1" >
                                            <thead>
                                            <tr >
                                             <th style="display:none;">Id</th>
                                            <th>Id</th>
                                            <th> User Name </th>
                                            <th > Permission  </th>
                                            
                                            <th><input type="checkbox" id="selectAll" />Select All </th>

                                           </tr>
                                           
                                        </thead>
                                            <tbody>
                                            {% for user in users_list%}
                                            
                                            <tr>
                                            <td style="display:none;">{{ forloop.counter }}</td>
                                             <td>{{ forloop.counter }}</td>
                                             <td> {{ user.username }}</td>
                                             <td>{{ user.email}} </td>
                                              <td><input type='checkbox'  name='check' value="{{ user.id }}"></td>
                                                 
                                                </tr>
                                                
                                                {% endfor %}
                                             </tbody>

                                             <tfoot>
                                            <tr>
                                              <td colspan="4">
                                                <ul class="pagination pull-right"></ul>
                                                
                                                <input type="submit" id ="button1" name="delete" value="Delete Items" />
                                                
                                              </td>
                                             
                                            </tr>
                                          </tfoot>
                                        </table></form>
                                   </div>
                                   </div>
                          
                            <!-- END BORDERED TABLE PORTLET-->
  
                                
                                {% endblock %}    
                          
