{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->






    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }


    </style>
{% endblock %}



<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);

</script>



{% block content %}


    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Manage Users</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">


        <div class="portlet-body">


            <div class="tiles">


                <div class="tile bg-red-sunglo" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'registration:add_user' %}">
                        <div class="tile-body">
                            <i class="fa icon-user-follow"></i>

                        </div>
                        <div class="tile-object">

                            <div class="name"><h4>Add User</h4></div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>


                <div class="tile bg-blue-steel" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'registration:view_user' %}">
                        <div class="tile-body">
                            <i class="icon-magnifier"></i>

                        </div>
                        <div class="tile-object">

                            <div class="name"><h4>View-Edit Users</h4></div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>


                <div class="tile bg-purple-studio" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'registration:view_role' %}">
                        <div class="tile-body">
                            <i class="fa fa-tasks"></i>
                            <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                            <!-- <h4>Announcements</h4>
                             <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                        </div>
                        <div class="tile-object">

                            <div class="name"><h4>Manage Roles</h4></div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>


                <div class="tile bg-green-turquoise" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'registration:view_role_user_mapping' %}">
                        <div class="tile-body">
                            <i class="fa icon-plus triple_down_box_li_style"></i>
                            <!-- <img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                            <!-- <h4>Announcements</h4>
                             <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                        </div>
                        <div class="tile-object">
                            <div class="name"><h4>Role-User Mapping</h4></div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>

                {% if 'registration.can_view_manage_user' in perms %}
                    <div class="tile bg-green" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'registration:view_user_permission_mapping' %}">
                            <div class="tile-body">
                                <i class="fa fa-plus-circle"></i>
                                <!-- <img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4> Role-Permission Mapping</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_manage_user' in perms %}
                    <div class="tile bg-red-sunglo" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'registration:view_user_permission_unmapping' %}">
                            <div class="tile-body">
                                <i class="fa fa-minus-circle"></i>
                                <!-- <img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Role-Permission Un-Mapping </h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                <div class="tile bg-blue-steel" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'registration:user_import_log' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 14px;">User Import Log</h5></div>
                            </div>
                        </a>
                </div>
            <div class="tile bg-blue-steel" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'registration:updated_user_permission' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 14px;">Updated User Permission Mapping Un-Mapping</h5></div>
                            </div>
                        </a>
                </div>
            </div>
        </div>
    </div>



    <!-- END VALIDATION STATES-->


{% endblock %}
                        
