{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
        table, tr td {
            border: 1px solid red
        }

        tbody {
            display: block;
            height: 184px;
            overflow: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

        thead {
            width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
        }

        table {
            width: 400px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {

                var select_all = document.getElementById("select_all"); //select all checkbox
                var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

                select_all.addEventListener("change", function (e) {
                    for (i = 0; i < checkboxes.length; i++) {
                        checkboxes[i].checked = select_all.checked;
                    }
                });

                id_academic_year_value = document.getElementById("id_academic_year").value
                if (id_academic_year_value == '') {
                    $('#id_academic_year').val($('#id_academic_year'));
                    $('#id_academic_year').prepend($('<option>', {

                        value: '',
                        text: 'Please Select'
                    }));
                }

                var forms = $('.len')
                if (forms.length > 0) {
                    $('#export').attr('disabled', false);
                    $('#select_all').attr('disabled', false);
                }

                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select atleast one record to delete Mandatory subject!');
                        return false;
                    }
                });

                {#                $("#id_academic_year").change(function () {#}
                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)
                {#            });#}

                $("#id_class_name_mapping").change(function () {
                    var class_name = document.getElementById("id_class_name_mapping").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });

            });

         $('#sample_1').dataTable().fnDestroy();

         $('#sample_1').dataTable({
             "aoColumnDefs": [
                 {'bSortable': false}
             ]
         });
        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        {#                        console.log("print you are in section ajax")#}
                        {#                        console.log(data);#}

                        $('#id_section_name_mapping').empty();
                        $('#id_section_name_mapping').append(
                            '<option value="">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name_mapping').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(
                    function (data) {
                        {#                        console.log("Hello.. !");#}
                        {#                        console.log(data);#}
                        $('#id_class_name_mapping').empty();
                        $('#id_class_name_mapping').append(
                            '<option value="">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name_mapping').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }
                    });
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:mandatory_subject_mapping' %}"> Class-Subject Mapping</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Class-Subject Mapping Filter List</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red"></i>
            <span class="caption-subject font-red sbold uppercase">Class Subjects Mapping Filter-List & Export</span>
        </div>

    </div>
    <div class="portlet-body">


        <!-- BEGIN FORM-->
        <form method="post" action="{% url 'registration:mandatory_subject_mapping_filtered_list' %}">
            {% csrf_token %}

            <div class="row">

                <div class="col-md-2" style="margin-left: 10%">
                    <h4> Academic Year:</h4>


                    <div>
                        <input hidden name="year_name" value="{{ Selected_Year_Id }}">
                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_academic_year"
                                name="year_name" disabled>
                            <option style="display : none" selected="selected"
                                    value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                            {% for Academic_Year in year_list %}
                                <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="col-md-2">
                    <h4>Class </h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" data-live-search="true"
                                id="id_class_name_mapping" name="class_name_mapping">
                            {% if class_rec %}
                                <option style="display: none" value="{{ class_rec.id }}"
                                        selected="selected">{{ class_rec.class_name }}</option>
                                <option value="">All</option>
                            {% else %}
                                <option value="" selected="selected">All</option>
                            {% endif %}

                            {% for class in class_list %}
                                <option value="{{ class.id }}">{{ class.class_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="col-md-2">
                    <h4> Section </h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" id="id_section_name_mapping"
                                name="section_name_mapping">
                            {% if section_rec %}
                                <option style="display: none" value="{{ section_rec.id }}"
                                        selected="selected">{{ section_rec.section_name }}</option>
                                <option value="">All</option>
                            {% else %}
                                <option value="" selected="selected">All</option>
                            {% endif %}

                            {% for section in section_list %}
                                <option value="{{ section.id }}">{{ section.section_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <h4>Subject:</h4>
                    <select autocomplete="off" class="form-control" id="id_subject_name_mapping"
                            name="subject_name_mapping">

                        {% if subject_rec %}

                            <option style="display: none" value="{{ subject_rec.id }}"
                                    selected="selected">{{ subject_rec.subject_name }}</option>
                            <option value="">All</option>
                        {% else %}
                            <option value="" selected="selected">All</option>
                        {% endif %}
                        {% for subject in subject_list %}
                            <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" id="sub" class="btn blue btn-block" style="margin-top : 38px;"> Go</button>
                </div>
            </div>

        </form>
        <!-- END FORM-->
    </div>
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
    <div class="portlet-title">
    <div class="caption">
        <i class="icon-bubble font-dark"></i>
        <span class="caption-subject font-dark bold uppercase">MAPPED CLASS SUBJECTS Export</span>
    </div>
    <div class="">
        <div class="row">

            <form action="{% url 'registration:export_mandatory_subject_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-2">
                    <input hidden name="year_name1" value="{{ Selected_Year_Id }}">
                    <input hidden name="class_name1" value="{{ class_rec.id }}">
                    <input hidden name="section_name1" value="{{ section_rec.id }}">
                    <input hidden name="subject_name1" value="{{ subject_rec.id }}">
                    <button type="submit" class="btn blue btn-block" id="export" disabled>Export</button>
                </div>
            </form>

        </div>
        <div class="portlet-body">
            <form action="{% url 'registration:delete_mandatory_subject_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th><input type="checkbox" id="select_all" disabled/></th>
                        <th>Academic Year</th>
                        <th>Class Name</th>
                        <th>Sections</th>
                        <th> Subject Name</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for MandatorySubjectMappingRec in MandatorySubjectMappingRecs %}
                        <tr class="len">
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td><input type='checkbox' class="checkbox" name='check'
                                       value="{{ MandatorySubjectMappingRec.id }}"></td>
                            <td>{{ MandatorySubjectMappingRec.academic_class_section_mapping.year_name.year_name }}</td>
                            <td> {{ MandatorySubjectMappingRec.academic_class_section_mapping.class_name.class_name }}</td>
                            <td> {{ MandatorySubjectMappingRec.academic_class_section_mapping.section_name.section_name }}</td>
                            <td >{{ MandatorySubjectMappingRec.subject.subject_name }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul class="pagination pull-right"></ul>
                            <input type="submit" id="delete" class="btn blue" name="delete" value="Unamap"/>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
    <!-- END BORDERED TABLE PORTLET-->


{% endblock %}
</div>
