{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
        table, tr td {
            border: 1px solid red
        }

        tbody {
            display: block;
            height: 184px;
            overflow: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

        thead {
            width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
        }

        table {
            width: 400px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {

                $('#id_class_name_mapping').width(200);
                $('#id_class_name_mapping').height(250);
                $('#id_subject_name_mapping').height(260);
                $('#id_subject_name_mapping').width(200);

{#                var select_all = document.getElementById("select_all"); //select all checkbox#}
{#                var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items#}
{##}
{#                select_all.addEventListener("change", function (e) {#}
{#                for (i = 0; i < checkboxes.length; i++) {#}
{#                    checkboxes[i].checked = select_all.checked;#}
{#                    }#}
{#                });#}
            	
            	 var id_academic_year_value = document.getElementById("id_academic_year").value
                 if (id_academic_year_value == '') {
                     $('#id_academic_year').val($('#id_academic_year'));
                     $('#id_academic_year').prepend($('<option>', {

                         value: '',
                         text: 'Please Select'
                     }));
                 }

                 var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, id_academic_year_value)

                function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })

                    .done(
                        function (data) {

                            $('#id_class_name_mapping').empty();

                            for (var i = 0; i < data.length; i++) {

                                $('#id_class_name_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }
                        });

            }

                $("#sub").click(function () {

                	var academic_year_val = $('#id_academic_year').val();
                    var class_val = $('#id_class_name_mapping').val();
{#                    var sec_val = $('#id_section_name_mapping').val();#}
                    var sub_val = $('#id_subject_name_mapping').val();

                    if (academic_year_val == '') {
                        alert("Please Select Academic Year.");
                        return false;
                    }

                    else if (class_val == null) {
                        alert("Please Select Class.");
                        return false;
                    }
                    else if (sub_val == null) {
                        alert("Please Select Subjects.");
                        return false;
                    }
                });

                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select atleast one record to delete Mandatory subject!');
                        return false;
                    }
                });

                $("#id_section_name").change(function () {
                    var value = $(this).val();
                    if (value == '1') {
                        $('#id_section_name option').prop('selected', true);
                        $("select option[value='1']").prop("selected", false);
                    }
                });

                var currentSelect = $("select#id_class_name option:selected").index();

                $("select#id_class_name option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });

                {% comment %}$("#id_class_name").change(function () {

                    class_name = document.getElementById("id_class_name").value
                    var url = '/school/viewMultisectSubjectList/';
                    viewMultisectSubjectList(url, class_name)

                    var url = '/school/viewSectionMapping/';
                    viewSectionMapping(url, class_name)
                });{% endcomment %}

                {% comment %}$('#id_subject_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });{% endcomment %}

                {% comment %}$('#id_class_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });{% endcomment %}
            });

        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Class-Subject Mapping</span>
            </li>
        </ul>

    </div>

  {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                        </div>
                    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red"></i>
            <span class="caption-subject font-red sbold uppercase">Class Subjects Mapping</span>
        </div>

    </div>
    <div class="portlet-body">


        <!-- BEGIN FORM-->
        <form method="post" action="{% url 'registration:save_mandatory_subject_mapping' %}">
            {% csrf_token %}

            <div class="row">

                <div class="col-md-2" style="margin-left: 40%">
                    <h4> Academic Year:</h4>
                    <div>
                        <select autocomplete="off" class="form-control" data-live-search = "true" id = "id_academic_year" name = "year_name" required = "True">
                            <option style = "display : none" selected = "selected" value = "{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                            {% for Academic_Year in year_list  %}
                                <option value="{{ Academic_Year.id }}"  >{{ Academic_Year.year_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

                {% comment %}<div class="col-md-6" style="margin-left: 10%">
                    <h4> Class:</h4>
                    <div> {{ ClassSubjectMappingForm.class_name_mapping }} </div>
                </div>{% endcomment %}

            <div class="row" style=" margin-top: 4%;">
                <div class="col-md-3" style="margin-left: 25%;">

                    <div class="portlet-title">
                        <h4><span style="margin-left: 3%; "> Class</span>
{#                            <span style="margin-left: 25%;"> Selected Class</span>#}
                        </h4>
                    </div>

                    <div class="row " id="academic" style=" margin-top: 4%;">
                        {{ ClassSubjectMappingForm.class_name_mapping }}
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="portlet-title">
                        <h4><span style="margin-left: 3%; "> Subjects</span>
{#                            <span style="margin-left: 15%;"> Selected Subjects</span>#}
                        </h4>
                    </div>

                    <div class="row " id="academic" style=" margin-top: 4%;">
                        {{ ClassSubjectMappingForm.subject_name_mapping }}
                    </div>
                </div>

                {#                <div class="col-md-2" style="margin-left: 10%">#}
                {#                    <h4> Sections: </h4>#}
                {#                    <div> {{ ClassSubjectMappingForm.section_name_mapping }} </div>#}
                {#                </div>#}
            </div>



            <div class="">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9 center-block">
                        <br>
                        <button type="submit" id="sub" class="btn blue btn-block"
                                style="margin-left: 50%; margin-right: 50%; width: 30%;">
                            Map
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">MAPPED CLASS SUBJECTS</span>
            </div>

            <form action="{% url 'registration:mandatory_subject_mapping_filter' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-4">
                    <button type="submit" class="btn blue btn-block" id="export">View Mapped Class-Subject List</button>
                </div>
            </form>

        </div>

    </div>
{% endblock %}
</div>
