{% extends "index.html" %}

<html lang="">
{% block styleBlock %}
    <style>
        table, tr td {
            border: 1px solid red
        }

        tbody {
            display: block;
            height: 184px;
            overflow: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

        thead {
            width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
        }

        table {
            width: 400px;
        }
    </style>
{% endblock %}


{% block ScriptBlock %}
    <script>


        window.onload = function () {
            //YOUR JQUERY CODE


            $(document).ready(function () {

                var forms = $('.len')
                if (forms.length > 0) {
                    $('#export').attr('disabled', false);
                }

                $("#id_nationality_group_mapping").change(function () {
                    var value = $(this).val();
                    var url = '/school/mapped_nationalities/';
                    mapped_nationalities(url, value);
                });

                var select_all = document.getElementById("select_all"); //select all checkbox
                var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

                select_all.addEventListener("change", function (e) {
                    for (i = 0; i < checkboxes.length; i++) {
                        checkboxes[i].checked = select_all.checked;
                    }
                });

                id_academic_year_value = document.getElementById("id_academic_year").value
                if (id_academic_year_value == '') {
                    $('#id_academic_year').val($('#id_academic_year'));
                    $('#id_academic_year').prepend($('<option>', {

                        value: '',
                        text: 'Please Select'

                    }));
                }

                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select atleast one record to delete optional subject!');
                        return false;
                    }
                });
                 $("#filter").click(function () {


{#                     var nat_val = $('#id_nationality_mapping').val();#}
{#                     var nal_group_val = $('#id_nationality_group_mapping').val();#}
{##}


{#                    if ((nat_val != null) && (nal_group_val != null))#}
{#                    {#}
{#                        alert("Please Select Either Nationality Group Or Nationality.");#}
{#                        return false;#}
{##}
{#                    }#}

                 });

                {#                $("#id_academic_year").change(function () {#}
{#                var academic_year = document.getElementById("id_academic_year").value;#}
{#                var url1 = '/school/viewAcademicDetails/';#}
{#                viewAcademicDetails(url1, academic_year)#}
                {#            });#}

                $("#id_class_name_mapping").change(function () {
                    var class_name = document.getElementById("id_class_name_mapping").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });
            });

         $('#sample_1').dataTable().fnDestroy();

         $('#sample_1').dataTable({
             "aoColumnDefs": [
                 {'bSortable': false}
             ]
         });
        }

        function mapped_nationalities(url, ids) {
{#                alert('ids---> '+ids)#}
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        nationality_group_ids: JSON.stringify(ids),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
{#                        alert('Success..'+JSON.stringify(data));#}
                        $('#id_nationality_mapping').empty();

                            $('#id_nationality_mapping').append('<option value="">All</option>')
                            for (var i = 0; i < data.length; i++) {
                                $('#id_nationality_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].nationality_name + '</option>')
                            }
                            $("#id_nationality_mapping option").each(function () {
                                $(this).siblings("[value='" + this.value + "']").remove();
                            })

{#                        alert("Bye")#}

                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        {#                        console.log("print you are in section ajax")#}
                        {#                        console.log(data);#}

                        $('#id_section_name_mapping').empty();
                        $('#id_section_name_mapping').append(
                            '<option value="">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name_mapping').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(
                    function (data) {
                        {#                        console.log("Hello.. !");#}
                        {#                        console.log(data);#}
                        $('#id_class_name_mapping').empty();
                        $('#id_class_name_mapping').append(
                            '<option value="">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name_mapping').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }
                    });
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:optional_subject_mapping' %}"> Optional Subject Mapping</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Optional Subject-Student Mapping Filter List</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Optional Subject-Student Mapping Filter List</span>
            </div>

        </div>
        <div class="portlet-body">

            <div id="firsthalf" class="row" style="margin-left: 14px;">

                <form method="post" action="{% url 'registration:optional_subject_mapping_filter_list' %}">
                    {% csrf_token %}
                    <div class="form-body">


                        <div class="col-md-2" style="margin-left:-40px;">
                            <h4> Academic Year:</h4>


                            <div>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" required="True" readonly="True">
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>
                                Class </h4> {% comment %}id_religion_mapping religion_mapping id_nationality_mapping nationality_mapping{% endcomment %}
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name_mapping" name="class_name_mapping">
                                    {% if class_obj %}
                                        <option style="display: none" value="{{ class_obj.0.id }}"
                                                selected="selected">{{ class_obj.0.class_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name_mapping"
                                        name="section_name_mapping">
                                    {% if section_obj %}
                                        <option style="display: none" value="{{ section_obj.0.id }}"
                                                selected="selected">{{ section_obj.0.section_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for section in section_list %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">  {% comment %}id_religion_mapping religion_mapping id_nationality_mapping nationality_mapping{% endcomment %}
                            <h4> Religion </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_religion_mapping" name="religion_mapping">
                                    {% if religion_obj %}
                                        <option style="display: none" value="{{ religion_obj.0.id }}"
                                                selected="selected">{{ religion_obj.0.religion_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for religion in religion_list %}
                                        <option value="{{ religion.id }}">{{ religion.religion_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Nationality </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_nationality_mapping"
                                        name="nationality_mapping">
                                    {% if nationality_obj %}
                                        <option style="display: none" value="{{ nationality_obj.0.id }}"
                                                selected="selected">{{ nationality_obj.0.nationality_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for nationality in nationality_list %}
                                        <option value="{{ nationality.id }}">{{ nationality.nationality_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                      <div class="col-md-2">
                            <h4> Gender </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_gender_mapping"
                                        name="gender_mapping">
                                    {% if gender_obj %}
                                        <option style="display: none" value="{{ gender_obj }}"
                                                selected="selected">{{ gender_obj }}</option>
                                        <option value="">All</option>
                                        <option value="Male">Male</option>
                                         <option value="Female">Female</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                         <option value="Male">Male</option>
                                         <option value="Female">Female</option>
                                    {% endif %}

{#                                    {% for nationality_group_rec in nationality_group_list %}#}
{#                                        <option value="{{ nationality_group_rec.id }}">{{ nationality_group_rec.nationatity_group_name }}</option>#}
{#                                    {% endfor %}#}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2" style="margin-left:-40px;">
                            <h4> Nationality Group</h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_nationality_group_mapping"
                                        name="nationality_group_mapping">
                                    {% if nationality_recs %}
                                        <option style="display: none" value="{{ nationality_recs.id }}"
                                                selected="selected">{{ nationality_recs.nationatity_group_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for nationality_group_rec in nationality_group_list %}
                                        <option value="{{ nationality_group_rec.id }}">{{ nationality_group_rec.nationatity_group_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button id="filter" type="submit" style="margin-top: 38px; width: 150px;" class="btn blue">
                            GO
                        </button>

                    </div>
                </form>
            </div>


            <br><br>
            <!-- BEGIN FORM-->

        </div>
    </div>
    </body>
    </html>

    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Export Optional Subject-Student Mapped List</span>
            </div>
            <form action="{% url 'registration:export_optional_subject_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-2">
                    <input hidden name="year_name1" value="{{ Selected_Year_Id }}">
                    <input hidden name="class_name_mapping1" value="{{ class_obj.0.id }}">
                    <input hidden name="section_name_mapping1" value="{{ section_obj.0.id }}">
                    <input hidden name="nationality_mapping1" value="{{ nationality_obj.0.id }}">
                    <input hidden name="religion_mapping1" value="{{ religion_obj.0.id }}">
                    <input hidden name="gender_mapping1" value="{{ gender_obj }}">
                    <input hidden name="nationality_group_mapping1" value="{{ nationality_recs.id }}">
                    <button type="submit" class="btn blue btn-block" id="export" disabled>Export</button>

                </div>
            </form>
        </div>
        <div class="portlet-body">

            <form action="{% url 'registration:delete_optional_subject_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">

                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th><input type="checkbox" id="select_all"/></th>
                        <th> Academic Year</th>
                        <th>Student Name</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Religion</th>
                        <th>Nationality</th>
                        <th>Gender</th>
{#                        <th style="width: 100px;">Nationality Group</th>#}
                        <th>Subject Name</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for obj in StudentDetails %}

                        <tr class="len">
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td><input type='checkbox' class="checkbox" name='check'
                                       value="{{ obj.student_id }}, {{ obj.subject_id }}"></td>

                            <td>{{ obj.academic_year }}</td>
                            <td> {{ obj.student_rec.get_all_name }}</td>
                            <td> {{ obj.class_name }}</td>
                            <td> {{ obj.section_name }}</td>
                            <td> {{ obj.religion }}</td>
                            <td> {{ obj.nationality }}</td>
                            <td> {{ obj.gender }}</td>
{#                            <td> {{ obj.nationality_group }}</td>#}
                            <td> {{ obj.subject_name }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8">
                            <ul class="pagination pull-right"></ul>
                            <input type="submit" id="delete" class="btn blue" name="delete" value="Unmap"/>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>

        </div>

    </div>

    <!-- END BORDERED TABLE PORTLET-->


{% endblock %}

