{% extends "index.html" %}

<html lang="">
{%block styleBlock%}
     <style>
     table ,tr td{
    border:1px solid red
}
tbody {
    display:block;
    height:184px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
    width:400px;
}
     </style>
        {%endblock%}

{% block ScriptBlock %}
    <script>


        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                $('#back').click(function () {
                    window.history.back();
                });

            var select_all = document.getElementById("select_all"); //select all checkbox
                var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

                select_all.addEventListener("change", function (e) {
                for (i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = select_all.checked;
                    }
                });

            $("#mapping").click(function() {
                var stud_val = $('#id_student_name').val();
                var stub_val = $('#id_subject_name_mapping').val();

                if (stub_val == null) {
                    alert("Please Select a Subject.");
                    return false;
                }

                if (stud_val == null) {
                    alert("Please Select a Student.");
                    return false;
                }
            });
                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked){
                        alert('Please select atleast one record to delete optional subject!');
                        return false;
                    }
                });


                $('#id_subject_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });



                $('#id_student_name').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });

            });
        }

    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Optional Subject Mapping</span>
            </li>
        </ul>

    </div>

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">OPTIONAL SUBJECT MAPPING</span>
            </div>

        </div>
        <div class="portlet-body">
        <button id="back" style="margin-left: 52px;width: 124px;"  type="button" class="btn green">Back </button>

            <br>
            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'registration:save_optional_subject_mapping' %}">
                {% csrf_token %}
                <div class="form-body" id="formbody">

                    <div class="row">

                        <div class="" style="margin-left: 0px;">
                            <div class="col-md-6">
                                <h4 style="margin-left: 10px;"> Subject:</h4>
                                <tr>
                                    <td><select multiple="multiple" class="selectfilter" data-field-name="Subject"
                                                data-is-stacked="0" id="id_subject_name_mapping"
                                                name="subject_name_mapping" required="True">
                                        {% for obj in OptionalSubject %}
                                            <option value="{{ obj.id }} "> {{ obj.subject_name }}</option>

                                        {% endfor %}
                                    </select></td>
                                </tr>
                            </div>
                        </div>

                        <div class="">

                            <div class="col-md-6">
                         <h4 style="margin-left: 10px;"> Students:</h4>
                                <select multiple="multiple" multiple="multiple" data-field-name="StudentDetails"
                                        autocomplete="off" class="selectfilter "
                                        id="id_student_name" name="student_name_mapping">

                                    {% for obj in StudentDetails %}
                                        <option value="{{ obj.id }}"> {{ obj.get_all_name }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>
                    <div align="center" style="padding: 20px">
                        <button type="submit" style="margin-left: -52px;width: 124px;" class="btn green" id="mapping">
                            Mapping
                        </button>
                    </div>
                </div>


            </form>
        </div>
    </div>
    </body>
    </html>

    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Mapped Student & Optional Subjects</span>
            </div>
            <form action="{% url 'registration:export_optional_subject_mapping' %}"  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="col-md-2">


                    <button type="submit" class="btn blue btn-block">Export</button>

                </div>
            </form>
        </div>
        <div class="portlet light">

            <form action="{% url 'registration:delete_optional_subject_mapping' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"  id="sample_1">

                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th> Academic Year</th>
                        <th>Student Name</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Religion</th>
                        <th>Nationality</th>
                        <th> Subject Name</th>
                        <th><input type="checkbox" id="select_all"  />Select All</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for obj in StudentMappedDetails %}

                        <tr>
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td>{{ obj.academic_year }}</td>
                            <td> {{ obj.student_rec.get_all_name }}</td>
                            <td> {{ obj.class_name }}</td>
                            <td> {{ obj.section_name }}</td>
                            <td> {{ obj.religion }}</td>
                            <td> {{ obj.nationality }}</td>
                            <td>{{ obj.subject_name }}</td>
                            <td><input type='checkbox' class="checkbox"  name='check' value="{{ obj.student_id }}, {{ obj.subject_id }}"></td>

                        </tr>

                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="delete" name="delete" value="Delete Items"/>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>

        </div>

    </div>
    <!-- END BORDERED TABLE PORTLET-->
{% endblock %}
