{% extends "index.html" %}

<html lang="">
{% block styleBlock %}
    <style>
        table, tr td {
            border: 1px solid red
        }

        tbody {
            display: block;
            height: 184px;
            overflow: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

        thead {
            width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
        }

        table {
            width: 400px;
        }
    </style>
{% endblock %}


{% block ScriptBlock %}
    <script>


        window.onload = function () {
            //YOUR JQUERY CODE


            $(document).ready(function () {

                {#                var select_all = document.getElementById("select_all"); //select all checkbox#}
                {#                var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items#}
                {##}
                {#                select_all.addEventListener("change", function (e) {#}
                {#                for (i = 0; i < checkboxes.length; i++) {#}
                {#                    checkboxes[i].checked = select_all.checked;#}
                {#                    }#}
                {#                });#}

                var id_academic_year_value = document.getElementById("id_academic_year").value
                if (id_academic_year_value == '') {
                    $('#id_academic_year').val($('#id_academic_year'));
                    $('#id_academic_year').prepend($('<option>', {

                        value: '',
                        text: 'Please Select'

                    }));
                }

                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, id_academic_year_value)

                function viewAcademicDetails(url1, academic_year) {

                    $.ajax({
                        url: url1,
                        type: "GET",
                        data: {
                            academic_year: academic_year
                        },
                    })
                        .done(
                            function (data) {
                                $('#id_class_name_mapping').empty();
                                for (var i = 0; i < data.length; i++) {
                                    $('#id_class_name_mapping').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].class_name + '</option>')
                                }
                            });
                }


                $("#filter").click(function () {
                    var class_val = $('#id_class_name_mapping').val();
                    {#                    var sec_val = $('#id_section_name_mapping').val();#}
                    var rel_val = $('#id_religion_mapping').val();
                    var nat_val = $('#id_nationality_mapping').val();

                    var gen_val = $('#id_gender').val();
                    var nal_group_val = $('#id_nationality_group_mapping').val();
                    {#                    alert('nal_group_val'+nal_group_val);#}
                    {#                    return false;#}
                    if ((sec_val == null) && (class_val == null) && (rel_val == null) && (nat_val == null) && (gen_val == null) && (nal_group_val == null)) {
                        alert("Please Select Any Other Tab Also To Filter Students.");
                        return false;
                    }

                    if ((sec_val != null) && (class_val == null)) {
                        alert("Please Select Class Also.");
                        return false;
                    }

                    {% comment %}if ((nat_val != null) && (nal_group_val != null)) {
                       alert("Please Select Either Nationality Group Or Nationality.");
                       return false;
                   }{% endcomment %}

                });


                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked) {
                        alert('Please select atleast one record to delete optional subject!');
                        return false;
                    }
                });


                jQuery.each($("#id_student_name_mapping"), function () {
                    // "Locations" can be any label you want
                    SelectFilter.init(this.id, "Students", 0, "/media/");
                });

                $('#id_section_name_mapping').prepend(
                    '<option value="a">Select All </option>');

                $('#id_class_name_mapping').prepend(
                    '<option value="b">Select All </option>');

                $('#id_religion_mapping	').prepend(
                    '<option value="c">Select All </option>');
                $('#id_nationality_mapping').prepend(
                    '<option value="d">Select All </option>');
                $('#id_nationality_group_mapping').prepend(
                    '<option value="e">Select All </option>');


                $("#id_class_name_mapping").change(function () {

                    var value = $(this).val();
                    if (value == 'b') {
                        $('#id_class_name_mapping option').prop('selected', true);
                        $("select option[value='b']").prop("selected", false);
                    }


                    var class_name = $('select#id_class_name_mapping').val();
                    var acd_year = document.getElementById("id_academic_year").value;
                    $('#id_subject_name_mapping').empty();

                    var url = '/school/view_maped_section/';
                    viewMapedSection(url, acd_year, class_name)
                });

                $("#id_religion_mapping").change(function () {
                    var value = $(this).val();
                    if (value == 'c') {
                        $('#id_religion_mapping option').prop('selected', true);
                        $("select option[value='c']").prop("selected", false);
                    }
                });

                $("#id_nationality_group_mapping").change(function () {
                    var value = $(this).val();
                    {#                    alert('value--> '+value);#}
                    if (value == 'e') {
                        $('#id_nationality_group_mapping option').prop('selected', true);
                        $("select option[value='e']").prop("selected", false);
                        {#                        alert($("#id_nationality_group_mapping").val())#}
                        value = $("#id_nationality_group_mapping").val();
                    }

                    var url = '/school/mapped_nationalities/';
                    mapped_nationalities(url, value);

                });


                $("#id_nationality_mapping").change(function () {
                    var value = $(this).val();
                    if (value == 'd') {
                        $('#id_nationality_mapping option').prop('selected', true);
                        $("select option[value='d']").prop("selected", false);
                    }
                });


                $("#id_section_name_mapping").change(function () {

                    var value = $(this).val();
                    if (value == 'a') {
                        $('#id_section_name_mapping option').prop('selected', true);
                        $("select option[value='a']").prop("selected", false);
                    }
                });


                var currentSelect = $("select option:selected").index();

                $("select option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });
            });

            function viewMapedSection(url, acd_year, class_name) {
                {#                alert(acd_year+'  ---------  '+JSON.stringify(class_name));#}

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        acd_year: acd_year,
                        class_name: JSON.stringify(class_name)
                    },
                })

                    .done(
                        function (data) {
                            $('#id_section_name_mapping').empty();
                            $('#id_section_name_mapping').prepend(
                                '<option value="a">Select All </option>')

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section + '</option>')
                            }

                        });
            }

            function mapped_nationalities(url, ids) {
                {#                alert('ids---> '+ids)#}
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        nationality_group_ids: JSON.stringify(ids),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        {#                        alert('Success..'+JSON.stringify(data));#}
                        $('#id_nationality_mapping').empty();

                        $('#id_nationality_mapping').append('<option value="d"> Select All </option>')
                        for (var i = 0; i < data.length; i++) {
                            $('#id_nationality_mapping').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].nationality_name + '</option>')
                        }
                        $("#id_nationality_mapping option").each(function () {
                            $(this).siblings("[value='" + this.value + "']").remove();
                        })

                        {#                        alert("Bye")#}

                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Optional Subject-Student Mapping</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Optional Subject-Student Mapping</span>
            </div>

        </div>
        <div class="portlet-body">

            <div id="firsthalf" class="row" style="margin-left: 14px;">

                <form method="post" action="{% url 'registration:optional_subject_student_mapping' %}">
                    {% csrf_token %}
                    <div class="form-body">


                        <div class="col-md-2" style="margin-left: -40px;">
                            <h4> Academic Year:</h4>
                            <div>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" required="True">
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Class </h4>
                            <div>
                                {{ StudentOptionalSubjectMappingForm.class_name_mapping }}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div>
                                {{ StudentOptionalSubjectMappingForm.section_name_mapping }}
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Religion </h4>

                            <div>
                                {{ StudentOptionalSubjectMappingForm.religion_mapping }}
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Nationality Group </h4>

                            <div>
                                {{ StudentOptionalSubjectMappingForm.nationality_group_mapping }}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Nationality </h4>

                            <div>
                                {{ StudentOptionalSubjectMappingForm.nationality_mapping }}
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Gender </h4>


                            <div>
                                <select id="id_gender" name="gender_name" class="form-control" data-live-search="true"
                                        autocomplete="off"
                                        class="form-control" id="id_type" name="type">
                                    <option value="" selected="selected" disabled>Please Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>


                        <div id="message" style="display:none;">
                        </div>

                        <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                            <button id="filter" type="submit" style="margin-top: 5%; width: 150px;" class="btn green">
                                GO
                            </button>
                        </div>

                    </div>
                </form>
            </div>


            <br><br>
            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'registration:save_optional_subject_mapping' %}">
                {% csrf_token %}
                <div class="form-body" id="formbody" style="display: none;">

                    <div class="row">


                        <div class="" style="margin-left: 0px;">


                            <div class="col-md-6">
                                <h4 style="margin-left: 10px;"> Subject:</h4>
                                {{ StudentOptionalSubjectMappingForm.subject_name_mapping }} </div>
                        </div>

                        <div class="">

                            <div class="col-md-6">

                                {{ StudentOptionalSubjectMappingForm.student_name_mapping }} </div>
                        </div>

                    </div>
                    <div align="center" style="padding: 20px">
                        <button type="submit" style="margin-left: -52px;width: 124px;" class="btn green" id="mapping">
                            Mapping
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </body>
    </html>

    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Optional Subject-Student Mapping</span>
            </div>
            <form action="{% url 'registration:optional_subject_mapping_filter' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-4">
                    <button type="submit" class="btn blue btn-block" id="export">View Optional Subject-Student Mapping
                    </button>
                </div>
            </form>
        </div>
        {% comment %}<div class="portlet-body">

            <form action="{% url 'registration:delete_optional_subject_mapping' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">

                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th> Academic Year</th>
                        <th>Student Name</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Religion</th>
                        <th>Nationality</th>
                        <th>Subject Name</th>
                        <th><input type="checkbox" id="select_all"  />Select All</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for obj in StudentDetails %}

                        <tr>
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td>{{ obj.academic_year }}</td>
                            <td> {{ obj.student_first_name }} {{ obj.student_last_name }}</td>
                            <td> {{ obj.class_name }}</td>
                            <td> {{ obj.section_name  }}</td>
                            <td> {{ obj.religion }}</td>
                            <td> {{ obj.nationality }}</td>
                            <td> {{ obj.subject_name }}</td>
                            <td><input type='checkbox' class="checkbox"  name='check' value="{{ obj.student_id }}, {{ obj.subject_id }}"></td>

                        </tr>

                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="delete" name="delete" value="Delete Items"/>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>

        </div>{% endcomment %}

    </div>

    <!-- END BORDERED TABLE PORTLET-->


{% endblock %}

