{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>

    <style>

    </style>

{% endblock %}


{% block ScriptBlock %}
    <script>

        window.onload = function () {

            $(document).on("click", "#preview", function () {
                this.form.action = "{% url 'registration:preview_view_edit_parent' %}";
                $("#form_sample_1_import").submit();

            });



            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });


        }


        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

    </script>


{% endblock %}

{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:parents_students' %}"> Parents & Students </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <span>View-Edit Parent</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Manage Parents</span>
            </div>

            <form action="{% url 'registration:export_parent_template' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-2">
                    <button type="submit" class="btn blue btn-block" id="export">Export
                        Template
                    </button>
                </div>
            </form>
{#            <div class="">#}
                <button type="button" class=" col-md-2 btn blue btn-green"
                        data-toggle="modal"
                        data-target="#myModal">Import Parents Records
                </button>
{#            </div>#}
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <th style="display:none;">ID</th>
                    <th>Parent Code</th>
                    <th>Name</th>
                    <th>Email ID</th>
                    <th>Contact No</th>
{#                    {% if user.role.all.0.name == 'System Admin' %}#}
{#                        <th>Is Approved</th>#}
{#                    {% endif %}#}

                </tr>
                </thead>
                <tbody>

                {% for parent in parent_list %}
                    <tr>
                        <td style="display:none;"onclick="window.location= '{% url "registration:update_parent" parent.id %}'"
                            style="cursor: pointer;">{{ parent.user.id }}</td>
                        <td onclick="window.location= '{% url "registration:update_parent" parent.id %}'"
                            style="cursor: pointer;">{{ parent.user.parent_relation.all.0.code }}</td>
                        <td onclick="window.location= '{% url "registration:update_parent" parent.id %}'"
                            style="cursor: pointer;">{{ parent.user.get_pura_name }} {% comment %}{% if parent.middle_name %}
                            {{ parent.middle_name }} {% endif %} {{ parent.user.last_name }}{% endcomment %}</td>
                        <td onclick="window.location= '{% url "registration:update_parent" parent.id %}'"
                            style="cursor: pointer;">{{ parent.user.email }}</td>
                        <td onclick="window.location= '{% url "registration:update_parent" parent.id %}'"
                            style="cursor: pointer;">{{ parent.user.parent_relation.all.0.contact_num|default_if_none:" "   }}</td>
{#                        {% if user.role.all.0.name == 'System Admin' %}#}
{#                            {% if parent.user.is_active == 0 %}#}
{#                                <td  onclick="window.location= '{% url "registration:update_parent" parent.id %}'">#}
{#                                    <input type='button' class="approve btn blue btn-block" value='Review' readonly>#}
{#                                </td>#}
{#                            {% else %}#}
{#                                <td onclick="window.location= '{% url "registration:update_parent" parent.id %}'">#}
{#                                    <input type='button' class="approve btn green btn-block" value='Approved' readonly>#}
{#                                </td>#}
{#                            {% endif %}#}
{#                        {% endif %}#}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="{% url 'registration:import_parent_records' %}" id="form_sample_1_import"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Choose File</h4>
                    </div>
                    <div class="modal-body">
                        {{ parent_exel.excel }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default">Upload</button>
                        <button type="button" id="preview" class="btn btn-default">Preview</button>
                    </div>
                </div>
            </form>

        </div>
    <form action="{% url 'registration:preview_view_edit_parent' %}" id="form_preview"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        <input hidden name="preview_name" id="preview_value" value="">
    </form>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->



{% endblock %}
