{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }


    </style>


{% endblock %}

{% block ScriptBlock %}

    <script>


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Parents & Students</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="tiles">
                {% if 'registration.can_view_parent_student' and 'registration.can_view_add_student' in perms %}
                    <div class="tile double-down bg-yellow-gold"
                         style="height: 310px !important;width: 170px !important;">
                        <a href="{% url 'registration:add_student' %}">
                            <div class="tile-body">
                                <i class="fa icon-user-follow"></i>
{#                                <i class="fa fa-users"></i>#}
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Add Student</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_parent_student' and 'registration.can_view_view_edit_student' in perms %}
                    <div class="tile" style="height: 150px !important;width: 410px !important; background-color: #be4063">
                        <a href="{% url 'registration:view_student' %}">
                            <div class="tile-body">
                                <i class="fa icon-magnifier-add"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>View-Edit Student</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% if 'registration.can_view_parent_student' and 'registration.can_view_student_import_log' in perms %}
                <div class="tile bg-purple-studio" style="height: 150px !important;width: 270px !important;">
                    <a href="{% url 'registration:student_import_log' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h4>Student Import Log</h4></div>
                        </div>
                    </a>
                </div>
            {% endif %}

            {% if 'registration.can_view_parent_student' and 'registration.can_view_house_export' in perms %}
                <div class="tile" style="background-color:#cc4192;height: 150px !important;width: 410px !important;">
                    <a href="{% url 'registration:academic_house' %}">
                        <div class="tile-body">
                            <i class="fa fa-building" style="font-size:48px;"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h4>Academic House Info</h4></div>
                        </div>
                    </a>
                </div>
            {% endif %}

             {% if 'registration.can_view_parent_student' and 'registration.can_view_transport_export' in perms %}
                <div class="tile triple_35 bg-blue-hoki" style="background-color:#cc4192;height: 150px !important;width: 270px !important;">
                    <a href="{% url 'registration:academic_transport' %}">
                        <div class="tile-body">
                            <i class="fa fa-bus" style="font-size:48px;"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h4>Academic Transport Info</h4></div>
                        </div>
                    </a>
                </div>
            {% endif %}

            {% if 'registration.can_view_parent_student' and 'registration.can_view_student_photos' in perms %}

                <div class="tile bg-green" style="height: 150px !important;width: 410px !important;">
                    <a href="{% url 'registration:view_students_photo' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name "><h4>View Student Photos</h4></div>

                        </div>
                    </a>
                </div>
            {% endif %}

            {% if 'registration.can_view_parent_student' and 'registration.can_view_shuffle_student_section' in perms %}

                <div class="tile bg-blue-steel" style="height: 150px !important;width: 270px !important;">
                    <a href="{% url 'registration:change_section' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-upload"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h4>Change Students Section</h4></div>
                        </div>
                    </a>
                </div>
            {% endif %}


                {% if 'registration.can_view_parent_student' and 'registration.can_view_add_parent' in perms %}
                    <div class="tile bg-yellow-lemon" style="height: 150px !important;width: 410px !important;">
                        <a href="{% url 'registration:add_parent' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-user"></i>

                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Add Parent</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_parent_student' and 'registration.can_view_view_edit_parent' in perms %}
                    <div class="tile bg-green-turquoise" style="height: 150px !important;width: 270px !important;">
                        <a href="{% url 'registration:view_parent' %}">
                            <div class="tile-body">
                                <i class="fa icon-magnifier-add"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>View-Edit Parent</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}



             {% if 'registration.can_view_parent_student' and 'registration.can_view_parent_import_log' in perms %}

                <div class="tile" style="background-color:#4c245c;height: 150px !important;width: 270px !important;">
                    <a href="{% url 'registration:parent_import_log' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h4>Parent Import Log</h4></div>
                        </div>
                    </a>
                </div>
            {% endif %}

            {% if 'registration.can_view_parent_student' and 'registration.can_view_parent_contact_update' in perms %}

                <div class="tile double-down bg-yellow" style="height: 150px !important;width: 270px !important;">
                    <a href="{% url 'registration:update_parent_contact' %}">
                        <div class="tile-body">
                            <i class="fa fa-upload"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h4>Parent's Contact Update </h4></div>
                        </div>
                    </a>
                </div>
            {% endif %}

                {% if 'registration.can_view_parent_student' and 'medical.can_view_medical_info' in perms %}
                    <div class="tile" style="height: 150px !important;width: 270px !important; background-color:#4d9200;">

                        <a href="{% url 'medical:medical_menu' %}">
                            <div class="tile-body" >
                                <i class="fa fa-medkit"></i>
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Medical-Info</h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_parent_student' and 'strike_off.can_view_strike_off' in perms %}
                    <div class="tile" style="background-color:#8b7e92;height: 150px !important;width: 270px !important;">
                        <a href="{% url 'strike_off:strikeoff' %}">
                            <div class="tile-body">
                                <i class="fa fa-ban" style="font-size:48px;"></i>
{#                                <i class="fa fa-trash-o"></i>#}
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Strike-Off</h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'registration.can_view_parent_student' and  'registration.can_view_promotion' in perms %}
                    <div class="tile bg-green" style="height: 150px !important;width: 410px !important;">
                        <a href="{% url 'promotions:promotions_menu' %}" class="nav-link nav-toggle">
                            <div class="tile-body">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4> Promotion</h4></div>
                            </div>
                        </a>
                    </div>
                {% endif %}


                 {% if 'registration.can_view_parent_student' and 'registration.can_view_missing_student_profile' in perms %}
                <div class="tile double bg-blue" style="height: 150px !important;width: 270px !important;">
                    <a href="{% url 'registration:missing_profile_student' %}">
                        <div class="tile-body">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h4> Missing Profile Students </h4></div>
                        </div>
                    </a>
                </div>
            {% endif %}


            {% if 'registration.can_view_parent_student' and 'registration.can_view_custom_groups' in perms %}
                <div class="tile double" style="background-color:#2b3f72;height: 150px !important;width: 270px !important;">
                    <a href="{% url 'registration:custom_group_sub_details' %}">
                        <div class="tile-body">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h4> Custom Groups & Sub-groups </h4></div>
                        </div>
                    </a>
                </div>
            {% endif %}







            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
