{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
        table, tr td {
            border: 1px solid red
        }

        tbody {
            display: block;
            height: 184px;
            overflow: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

        thead {
            width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
        }

        table {
            width: 400px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {

            $(document).ready(function () {

                     $(document).on("keypress", ".rec", function (e) {
                        {#                        alert("dd")#}
                        var key = e.charCode || e.keyCode || 0;
                        var phone = $(this);
                        if (phone.val().length === 0) {
                            phone.val(phone.val() + '+');
                        }
                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9) {
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + '');
                            }
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + ' ');
                            }

                            if (phone.val().length >= 16) {
                                phone.val(phone.val().slice(0, 16));
                            }
                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                            key == 9 ||
                            key == 46 ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    })

                    .on('focus', function () {
                        phone = $(this);

                        if (phone.val().length === 0) {
                            phone.val('+');
                        } else {
                            var val = phone.val();
                            phone.val('').val(val); // Ensure cursor remains at the end
                        }
                    })

                    .on('blur', function () {
                        $phone = $(this);

                        if ($phone.val() === '+') {
                            $phone.val('');
                        }
                    });


                $(document).on("click", ".edit", function (e) {

                    var parent_id = $(this).parents('tr:eq(0)').attr('id');
                    var id = $(this).attr('id');
                    var i = id.split("edit")[1];
                    $(".rec").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();
                    $("#update" + i).show();
                    $("#edit" + i).hide();
                    $('#' + parent_id + ' .rec').prop("disabled", false);
                })
                $(document).on("click", ".update", function (e) {
                    var all_rec = [];
                    var id = $(this).attr('id');
                    var parent_id_update = id.split("update")[1];
                    var mobile_number =($("#parent_contact"+parent_id_update).val());
                    var stud_reec = {"parent_id":parent_id_update,"mobile_number":mobile_number}
                    all_rec.push(stud_reec);
                    var parent_id = $(this).parents('tr:eq(0)').attr('id');
                    var all_recs = $('#' + parent_id + ' .rec');
                    var id = $(this).attr('id');
                    var i = id.split("edit")[1];
                    $(".rec").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();
                    $("#update" + i).show();
                    $("#edit" + i).hide();
                    $('#' + parent_id + ' .rec').prop("disabled", false);
                    strID = (JSON.stringify(all_rec))
                    $("#mobile_data").val(strID);
                    $('#updatemobile_info').submit();

                })



                var forms = $('.len')
                if (forms.length > 0) {
                    $('#export').attr('disabled', false);
                }

                $("#id_class_name_mapping").change(function () {
                    var class_name = document.getElementById("id_class_name_mapping").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });

                {#var academic_year = document.getElementById("id_academic_year").value;#}
                {#var url1 = '/school/viewAcademicDetails/';#}
                {#viewAcademicDetails(url1, academic_year)#}

                $("#id_academic_year").change(function () {
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)
                });

            });

             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });

        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        {#                        console.log("print you are in section ajax")#}
                        {#                        console.log(data);#}

                        $('#id_section_name_mapping').empty();
                        $('#id_section_name_mapping').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name_mapping').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(
                    function (data) {
                        {#                        console.log("Hello.. !");#}
                        {#                        console.log(data);#}
                        $('#id_class_name_mapping').empty();
                        $('#id_class_name_mapping').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name_mapping').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }
                    });
        }



         function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:parents_students' %}"> Parents & Students </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Export/Import Parent-Contact List</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red"></i>
            <span class="caption-subject font-red sbold uppercase">Export/Import Parent Contact Details</span>
        </div>

    </div>
    <div class="portlet-body">

        <!-- BEGIN FORM-->
        <form method="post" action="{% url 'registration:parent_filter' %}">
            {% csrf_token %}

            <div class="row">

                <div class="col-md-2" style="margin-left: 10%">
                    <h4> Academic Year:</h4>


                    <div>
                        {#                        <input hidden name="year_name" value="{{ Selected_Year_Id }}">#}
                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_academic_year"
                                name="year_name" readonly="">
{#                            {% if current_academic_year %}#}
                                <option style="display: none" value="{{ current_academic_year.id }}" selected="selected">{{ current_academic_year.year_name }}</option>
{#                                <option value="">All</option>#}
{#                            {% else %}#}
{#                                <option value="" selected="selected">All</option>#}
{#                            {% endif %}#}

                            {% comment %}{% for Academic_Year in year_list %}
                                <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                            {% endfor %}{% endcomment %}
                        </select>
                    </div>
                </div>


                <div class="col-md-2">
                    <h4>Class </h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" data-live-search="true"
                                id="id_class_name_mapping" name="class_name_mapping" required="">
                        {% if class_list %}
                            {% if class_rec %}
                                <option style="display: none" value="{{ class_rec.id }}"
                                        selected="selected">{{ class_rec.class_name }}</option>
                                <option value="All">All</option>
                            {% else %}
                                <option value="All" selected="selected">All</option>
                            {% endif %}

                            {% for class in class_list %}
                                <option value="{{ class.id }}">{{ class.class_name }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="" selected="selected">Please Select</option>
                        {% endif %}
                        </select>
                    </div>
                </div>


                <div class="col-md-2">
                    <h4> Section </h4>
                    <div class="">
                        <select autocomplete="off" class="form-control" id="id_section_name_mapping"
                                name="section_name_mapping" required>
                        {% if class_list %}
                            {% if section_rec %}
                                <option style="display: none" value="{{ section_rec.id }}"
                                        selected="selected">{{ section_rec.section_name }}</option>
                                <option value="All">All</option>
                            {% else %}
                                <option value="All" selected="selected">All</option>
                            {% endif %}

                            {% for section in section_list %}
                                <option value="{{ section.id }}">{{ section.section_name }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="" selected="selected">Please Select</option>

                        {% endif %}
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <button type="submit" id="sub" class="btn blue btn-block" style="margin-top : 38px;"> Go</button>
                </div>
            </div>

        </form>
        <!-- END FORM-->
    </div>
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
    <div class="portlet-title">
    <div class="caption">
        <i class="icon-bubble font-dark"></i>
        <span class="caption-subject font-dark bold uppercase">Export/Import Parent Contact Details</span>
    </div>
    <div class="">
        <div class="row">

            <form action="{% url 'registration:parent_filter_export' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-2">
                    <input hidden name="year_name1" value="{{ current_academic_year.id }}">
                    <input hidden name="class_name1" value="{{ class_rec.id }}">
                    <input hidden name="section_name1" value="{{ section_rec.id }}">
                    <button type="submit" class="btn blue btn-block" id="export" disabled>Export</button>
                </div>
            </form>

            <div class="col-md-2">
                    <button type="button" class="btn blue btn-green" data-toggle="modal" style="width: 200px;"
                            data-target="#myModal">Import
                    </button>
                </div>

             <form method="post" action="{% url 'registration:updating_parent_contact_number' %}" id="updatemobile_info">
                    {% csrf_token %}
                    <input id="mobile_data" name="mobile_data" hidden>

            </form>

{#            <div class="col-md-2">#}
{#                <button type="submit" class="btn blue btn-green" id="export" disabled>Import</button>#}
{#            </div>#}
        </div>
        <div class="portlet-body">
            <form action="{% comment %}{% url 'registration:parent_filter' %}{% endcomment %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Parent Code</th>
                        <th>Name</th>
                        <th>Email ID</th>
                        <th>Contact No</th>
                        <th>Edit/Update</th>
                        {% comment %}{% if user.role.name == 'System Admin' %}
                            <th>Is Approved</th>
                        {% endif %}{% endcomment %}
                    </tr>
                    </thead>
                    <tbody>

                    {% for parent in parent_list %}
                        <tr class="len" id="body{{ parent.id  }}">
                            <td style="display:none;"
                                onclick="window.location= '{% url "registration:update_parent_contact_view" parent.id %}'"
                                style="cursor: pointer;">{{ parent.user.id }}</td>
                            <td onclick="window.location= '{% url "registration:update_parent_contact_view" parent.id %}'"
                                style="cursor: pointer;">{{ parent.user.parent_relation.all.0.code }}</td>
                            <td onclick="window.location= '{% url "registration:update_parent_contact_view" parent.id %}'"
                                style="cursor: pointer;">{{ parent.user.get_pura_name }}</td>
                            <td onclick="window.location= '{% url "registration:update_parent_contact_view" parent.id %}'"
                                style="cursor: pointer;">{{ parent.user.email }}</td>
{#                            <td onclick="window.location= '{% url "registration:update_parent_contact_view" parent.id %}'"#}
{#                                style="cursor: pointer;">{{ parent.user.parent_relation.all.0.contact_num|default_if_none:" "  }}</td>#}
{#                            #}
                            <td><input class="rec id_contact_num" id="parent_contact{{ parent.id }}"value="{{ parent.user.parent_relation.all.0.contact_num }}"
                                           disabled onkeypress="return isNumber(event);" on maxlength="16"></td>

                            {% comment %}{% if user.role.name == 'System Admin' %}
                                {% if parent.user.is_active == 0 %}
                                    <td><input type='submit' class="approve btn blue btn-block" value='Approve'
                                               readonly></td>
                                {% else %}

                                    <td><input type='submit' class="approve btn green btn-block" value='Approved'
                                               readonly></td>
                                {% endif %}
                            {% endif %}{% endcomment %}

                             <td>
                                    <button type="button" name="updt" id="update{{  parent.id }}"
                                            class=" update btn green btn-block" style="display:none;">Update
                                    </button>
                                    <button type="button" name="edit" id="edit{{ parent.id  }}"
                                            class=" edit btn blue btn-block">Edit
                                    </button>
                                </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="{% url 'registration:import_parents_contact' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                     <input hidden name="year_name_name" value="{{ current_academic_year.id }}">
                    <input hidden name="class_name_mapping" value="{{ class_rec.id }}">
                    <input hidden name="section_name_mapping" value="{{ section_rec.id }}">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Choose File</h4>
                    </div>
                    <div class="modal-body">
                        {{ parent_form.excel }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <!-- END BORDERED TABLE PORTLET-->


{% endblock %}
</div>
