{% extends "index.html" %}
{% load staticfiles %}

         {%block styleBlock%}
      <style type="text/css">  
        .row {
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 0px;
}
li
{ 
display:inline; 

} 
#id_inside_dubai{
    list-style: none;
}

#id_inside_uae{
    list-style: none;
}
      </style> 
        {%endblock%}
        
        {%block ScriptBlock%}
<script>
window.onload = function() 
{
	  //YOUR JQUERY CODE
	$(document).ready(function()
	  {

	      $('#id_custom_sub_group_id').empty();

	      $("#id_custom_group_id").change(function () {
                var id_custom_group_id = document.getElementById("id_custom_group_id").value;
                var url = '/school/get_custom_sub_group_name/';
                get_custom_sub_group_name(url, id_custom_group_id);
            });

	  });
	
	
	
}
function get_custom_sub_group_name(url, id_custom_group_id) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        id_custom_group_id: id_custom_group_id
                    },
            })

                .done(
                    function (data) {
                        $('#id_custom_sub_group_id').empty();
                        $('#id_custom_sub_group_id').append(
                            '<option value="">Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#id_custom_sub_group_id').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].sub_group_name + '</option>')
                        }
                    });
        }
</script>

{%endblock%}       
       
        {% block content %}
        

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}
<div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                               <a href="{% url 'registration:home' %}">Home</a> 
                                <i class="fa fa-angle-right"></i>
                            </li>
                             <li>
                                 <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                                 <i class="fa fa-angle-right"></i>
                             </li>
                              <li>

                            <a href="{% url 'registration:custom_group_sub_details' %}"> Custom Groups & Sub-groups </a>
                            <i class="fa fa-angle-right"></i>
                            </li>
                            <li>

                            <a href="{% url 'registration:assign_group' %}">Select & Assign Students </a>
                            <i class="fa fa-angle-right"></i>
                            </li>

                             <li>

                <span> Request Assign Student</span>

                    </li>


{#                            <li>#}
{#                                #}
{#                                <a href="{% url 'registration:assign_group' %}"> Request Assign Student</a>#}
{#                                #}
{#                            </li>#}


                            
                        </ul>
                        
                    </div>
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Request Assign Student</span>
                                    </div>
                                    
                                </div>
                                <div class="portlet-body">
                                
                               
                                   
										
										
										
										<form action="{% url 'registration:save_assign_student' %}" id="form_sample_1" class="form-horizontal" method="POST">
                                    
                                    
                                   
										{% csrf_token %}
                                   
                                        <div class="form-body">
                                              
                                              
                                            
                                            <br>
                                            <div class="row">
                                            <div class="">
                                            <input id="check" name="check" type="hidden" value="{{ check }}">
                                                <label class="col-md-3 control-label">Custom Group Name:
                                                   
                                                </label>
                                                <div class="col-md-4">
                                                    {{ assign_student_form.custom_group_id }} </div>
                                            </div>
                                            </div>
                                            <br>
                                           
                                           
                                            <br>

                                            
                                            <div class="row" id="div2">
                                            <div class="">
                                            <label class="col-md-3 control-label" value="">Custom Sub Group Name:
                                                   
                                                </label>
                                                 <div class="col-md-4">
                                                    {{ assign_student_form.custom_sub_group_id }} </div>
                                            </div>
                                            
                                              
                                            </div>
                                            
                                            <br><br>
                                        
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button id="save1" type="submit" class="btn green">Submit</button>
                                                   	<button onclick="window.location.href='{% url "registration:assign_group" %}'" type="button" class="btn green">Cancel</button>
                                                </div>
                                            </div>
                                        
                                      </div>   
                                       <br>
                                          
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->
                       
                       
           {% endblock %}  
