{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->


    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->

    <style>
        .table-scrollable {
            width: 100%;

            border: none;
            margin: 50px 0 !important;
        }

    </style>
{% endblock %}
{% block ScriptBlock %}

    <script type='text/javascript'>

    window.onload = function () {
        $('#sample_1').dataTable().fnDestroy();

        $('#sample_1').dataTable({
            "aoColumnDefs": [
                {'bSortable': false}
            ]
        });
    }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

    </script>

{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-12">

            <div class="page-bar" style="margin-bottom: 1px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'registration:home' %}">Home</a>

                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="{% url 'registration:manage_users' %}">Manage Users</a>

                    </li>
                    <li>
                        <i class="fa fa-angle-right"></i>
                        <span>View Roles</span>
                    </li>
                </ul>

            </div>





            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endfor %}

            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Manage Role</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="{% url 'registration:add_role' %}">
                                        <button id="sample_editable_1_new" class="btn sbold green"> Add New
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="dataTables_wrapper no-footer" id="sample_1_wrapper">

                        <div>
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                                   id="sample_1" role="grid" aria-describedby="sample_1_info">


                                <thead>
                                <tr role="row">
                                    <th style="display:none;" class="sorting" tabindex="0" aria-controls="sample_1"
                                        rowspan="1" colspan="1" aria-sort="ascending"
                                        aria-label=" Serialno : activate to sort column ascending">Serial No
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                        aria-label=" SchoolName : activate to sort column ascending"
                                        style="width: 114px;"> Code
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                        aria-label=" ClassName : activate to sort column ascending"
                                        style="width: 114px;"> Role Name
                                    </th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for role in role_list %}

                                    <tr onclick="window.location.href='{% url "registration:update_role" role.id %}'"
                                        style="cursor: pointer;">

                                        <td style="display:none;">{{ forloop.counter }}</td>
                                        <td>{{ role.id }}</td>
                                        <td>{{ role.name }}</td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>

    <div class="page-footer">

        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>

{% endblock %}
