{% extends "index.html" %}
{% load staticfiles %}
        <link href="{% static 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/docs.css'%}" rel="stylesheet">
        <script src="{% static '//code.jquery.com/jquery-2.1.1.js'%}"></script>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'assets/global/plugins/select2/css/select2.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'assets/global/css/components.min.css'%}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'assets/global/css/plugins.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static 'assets/layouts/layout2/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/layouts/layout2/css/themes/blue.min.css'%}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static 'assets/layouts/layout2/css/custom.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
          
        <script src="dist/sweetalert.js"></script>
        <link rel="stylesheet" href="dist/sweetalert.css">
        
           
         {%block styleBlock%}
      <style type="text/css">  
        .row {
    margin-right: 20px;
    margin-top: 30px;
}



.col-md-offset-3 {
    margin-left: 1%;
}
.portlet.box.blue>.portlet-title, .portlet>.portlet-body.blue {
    background-color: #eef1f5;
}

.portlet.box.blue {
    border: 1px solid #eef1f5;
    border-top: 0;
}

.portlet>.portlet-title>.nav-tabs {
    background: 0 0;
    margin: 1px 0 0;
    float: left;
    display: inline-block;
    border: 0;
}


.portlet>.portlet-title>.nav-tabs>li>a {
    background: 0 0;
    margin: 5px 0 0 1px;
    border: 0;
    padding: 8px 10px;
    color: #17C4BB;
}
.portlet.box>.portlet-body {
    background-color: #fff;
    padding: 15px;
    margin-left: 1%;
    width: 98%;
}

.portlet.blue, .portlet.box.blue>.portlet-title, .portlet>.portlet-body.blue {
    background-color: eef1f5;
}


      </style> 
        {%endblock%}


    {%block ScriptBlock%}
<script>
window.onload = function() 
{
      //YOUR JQUERY CODE
    $(document).ready(function() 
    {
         $("#edit").click(function(event)
        {
            $("#update").show();
            $("#edit").hide();
            
            $('.form-control').prop("disabled", false);
           
        });
        
    });

    $('#selectAll').click(function(e){
        var table= $(e.target).closest('table');
        $('td input:checkbox',table).prop('checked',this.checked);
    });
      
}


</script>
        
 {%endblock%}      
        

        {% block content %}
  
  <form action="{% url 'registration:save_updated_role' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                                    
                                
                    {% csrf_token %}      
<div class="col-md-12">


<div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                 <a href="{% url 'registration:home' %}">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                
                                <a href="{% url 'registration:manage_users' %}">Manage Users</a>
                                <i class="fa fa-angle-right"></i>
                                
                            </li>
                           <li>
                                <a href="{% url 'registration:view_role' %}">View Roles</a>
                                <i class="fa fa-angle-right"></i>
                                
                            </li>

                              <li>
                                <span>Edit-Delete Role</span>
                                
                            </li>

                        </ul>
                        
                    </div>






{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">MANAGE ROLE DETAILS</span>
                                    </div>  
                                        
                                        
                                    
                                </div>
                                <div class="portlet-body">

                                  {% if role_detail.id == 1 or role_detail.id == 7%}
                                      <div class="col-md-offset-3 col-md-9">
                                         <button type="button" class="btn green" id="edit">Edit</button>
                                         <button type="submit" id ="update" class="btn green"  style="display:none;">Update</button>
                                     </div>

                                       {% else %}
                                       <div class="col-md-offset-3 col-md-9">
                                         <button type="button" class="btn green" id="edit">Edit</button>
                                         <button type="submit" id ="update" class="btn green"  style="display:none;">Update</button>
                                         <a  data-toggle="modal" href="#static"> <button type="button" class="btn red">Delete</button></a>
                                     </div>


                                    {% endif %}


                                
                                    <!-- BEGIN FORM-->
                                    <form action="{% url 'registration:save_updated_role' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <input type="hidden" value= "{{ role_detail.id }}" name ="role_id"/>
                                            <div class="row">
                                                <div class="">
                                                    <label class="col-md-2 control-label">Role Name:</label>
                                                    <div class="col-md-4">
                                                        <input autocomplete="off" class="form-control" id="id_name" name="name" pattern="[A-Za-z ]+" title="Enter characters only" type="text" value="{{ role_detail.name }}" maxlength='80' required disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end-->
                            {% if not role_detail.name == 'Parent' %}
                                <div class="portlet light portlet-fit ">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-bubble font-dark"></i>
                                            <span class="caption-subject font-dark bold uppercase">MAPPED ROLE & USER</span>
                                        </div>
{#                                        <form  action="{% url 'registration:export_role_user_mapping' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">#}
{#                                            {% csrf_token %}#}
{#                                            <div class="col-md-2">#}
{#                                                <button type="submit" class="btn blue btn-block" id ="export">Export</button>#}
{#                                            </div>#}
{#                                        </form>#}
                                    </div>
                                    <div class="portlet-body" style="padding: 25px;">
{#                                         <div >#}
{#                                             <a type="button" class="btn green" href="/school/get_assign_role/{{ role_detail.id }}">Add</a>#}
{#                                        </div>#}
{#                                        <form  action="{% url 'registration:delete_role_user_mapping_from_edit' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">#}
                                        <form  action="{% url 'registration:delete_role_user_mapping_from_edit' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <table class="table table-striped table-bordered  table-checkable order-column" id="sample_1" >
                                                <thead>
                                                    <tr>
                                                        <th style="display:none;">Id</th>
                                                        <th>Id</th>
                                                        <th> Role Name </th>
                                                        <th > User Name  </th>
                                                        <th><input type="checkbox" id="selectAll" />Select All </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for user_rec in role_users%}
                                                        <tr>
                                                            <input type="hidden" name="role_id" value="{{ role_detail.id }}">
                                                            <td style="display:none;">{{ forloop.counter }}</td>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>
                                                                {{ role_detail.name }}
                                                            </td>
                                                            <td>{{ user_rec.get_pura_name}} </td>
                                                            <td><input type='checkbox'  name='check' value="{{ user_rec.id }}"></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="4">
                                                            <ul class="pagination pull-right"></ul>
{#                                                            <input type="submit" id ="button1" name="delete" value="Delete Items" />#}
                                                            <input type="submit" id ="button1" name="delete" value="Remove" />
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </form>
                                    </div>
                            </div>
                                    <!-- END FORM-->
                            {% endif %}
                            <!-- END VALIDATION STATES-->
                            <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false "style="margin-top: 10%;" >
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                               <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                                              <h4 class="modal-title">Confirmation</h4>
                                                                        </div>
                                                                    <div class="modal-body">
                                                                  <p> Are you sure you want to delete Role details? </p>
                                                              </div>
                                                          <div class="modal-footer">
                                                    <button type="button" data-dismiss="modal" class="btn dark btn-outline" >Cancel</button>
                                              <a class=" btn red btn-outline sbold" data-toggle="modal" href="{% url 'registration:delete_role' role_detail.id %}"> Delete </a>
                                                                             
                                         </div>
                                   </div>
                               </div>
                         </div>      
                        
                        
           {% endblock %}              
                        
                        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'assets/global/plugins/jquery.min.js" type="text/javascript'%}"></script>
        <script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/js.cookie.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery.blockui.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'%}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'assets/global/plugins/select2/js/select2.full.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery-validation/js/additional-methods.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/ckeditor/ckeditor.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-markdown/lib/markdown.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js'%}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'assets/global/scripts/app.min.js'%}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'assets/pages/scripts/form-validation.min.js'%}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static 'assets/layouts/layout2/scripts/layout.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/layouts/layout2/scripts/demo.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js'%}" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        
        
        <script>
                         document.querySelector('.sweet-3').onclick = function(){
                            swal("Good job!", "Your record is added successfully!", "success");
                            </script>
                            
                         <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>>
