{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 0px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:manage_users' %}">Manage Users</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:view_role' %}">View Roles</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Add Role</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Role Details</span>
            </div>

        </div>
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form action="{% url 'registration:save_role' %}" id="form_sample_1" class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="">
                            <label class="col-md-2 control-label">Role Name:
                            </label>
                            <div class="col-md-4">
                                {{ role_detail_form.name }} </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Save</button>
                                <button onclick="window.location.href='{% url "registration:view_role" %}'"
                                        type="button" class="btn green">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END VALIDATION STATES-->
{% endblock %}
<!-- END THEME LAYOUT SCRIPTS -->
