{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

{% endblock %}
{% block ScriptBlock %}

    <script type='text/javascript'>

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}
{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:academic_school' %}">Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>View School Info</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Manage School</span>
            </div>

        </div>
        <div class="portlet-body">

            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr role="row">
                    <th hidden style="width: 145px;">Serial No</th>
                    <th style="width: 221px;"> School Name</th>
                    <th style="width: 114px;"> Contact No</th>
                    <th style="width: 114px;"> Email Id</th>
                    <th style="width: 114px;"> Website</th>
                    <th style="width: 114px;"> Street</th>
                    <th style="width: 114px;"> City</th>
                    <th style="width: 114px;"> State</th>
                </tr>
                </thead>
                <tbody>

                {% for school in school_list %}
                    <tr onclick="window.location='{% url "registration:update_school" school.id %}'"
                        style="cursor: pointer;">
                        <td style="display:none;">{{ forloop.counter }}</td>
                        <td>{{ school.school_name }}</td>
                        {#            <td>{{ school.school_address }}</td>  #}
                        <td>{{ school.contact_num }}</td>
                        <td>{{ school.email }}</td>
                        <td>{{ school.website }}</td>
                        <td>{{ school.street }}</td>
                        <td>{{ school.city }}</td>
                        <td>{{ school.state }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->

{% endblock %}
