{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <Script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                {#		$("#save1").click(function(event){#}
                {#			var code = $("#id_section_code").val();#}
                {##}
                {#		    if( /[^a-zA-Z0-9\-\/]/.test( code ) ) {#}
                {#		        alert('Code is not alphanumeric');#}
                {#		        return false;#}
                {#		    }#}
                {#		    #}
                {#		    var section_name = $("#id_section_name").val();#}
                {##}
                {#		    if( /[^a-zA-Z\-\/]+/.test( section_name ) ) {#}
                {#		        alert('Section Name is not characters');#}
                {#		        return false;#}
                {#		    }#}
                {#		});#}

            });
        }


    </Script>

{% endblock %}

{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>

                <a href="{% url 'registration:classes_sections' %}"> Classes & Sections</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'registration:view_section' %}"> View Section</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Add Section</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}



    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Section Details</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form action="{% url 'registration:save_section' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">


                {% csrf_token %}

                <div class="form-body">

                    <div class="row">

                        <div class="">
                            <label class="col-md-2 control-label">Section Code:

                            </label>
                            <div class="col-md-2">
                                {{ section_details_form.section_code }}
                            </div>
                        </div>
                        <div class="">
                            <label class="col-md-1 control-label">Section:

                            </label>
                            <div class="col-md-2">
                                {{ section_details_form.section_name }}
                            </div>
                        </div>
                        <div class="">
                             <label class="col-md-2 control-label">Section Type:</label>
                        <div class="col-md-2">
                            {{ section_details_form.section_type }}
                        </div>
                        </div>

                        {% comment %}<div class="">
                            <label class="col-md-2 control-label">Section Type:</label>
                            <div class="col-md-2">
                                {{ section_details_form.section_type }}
                            </div>
                        </div>{% endcomment %}
                    </div>



                                  <br><br>


                </div>
                <br>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-7">
                            <button type="submit" id="save1" class="btn green">Save</button>
                            <a href="{% url 'registration:view_section' %}">
                                <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

<!-- BEGIN CORE PLUGINS -->
       
