{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <Script>

        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {

                {% comment %}$("#update").click(function (event) {
                    var code = $("#id_section_code").val();

                    if (/[^a-zA-Z0-9\-\/]/.test(code)) {
                        alert('Code is not alphanumeric');
                        return false;
                    }

                    var section_name = $("#id_section").val();

                    if (/[^a-zA-Z\-\/]+/.test(section_name)) {
                        alert('Section Name is not characters');
                        return false;
                    }
                });{% endcomment %}

                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();

                    $('#id_section').prop("disabled", false);
                    $('#id_section_type_name').prop("disabled", false);

                });
                $("#id_class_name")
                    .change(
                        function () {

                            class_name = document
                                .getElementById("id_class_name").value

                            var url = '/school/viewAcademic/';
                            viewAcademic(url, class_name)
                        });


            });

        }

        function viewAcademic(url, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        console.log(data);


                        console.log(data[0].academic_year)
                        /* $('#id_apartment_flat_no').empty(); */
                        $('#id_academic_year').empty();
                        $('#id_academic_year').append('<option value="">Please select</option>');

                        $('#id_academic_year').append('<option value="' + data[0].id + '">' + data[0].academic_year + '</option>')

                        /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                         */


                    });
        }


    </Script>

{% endblock %}
{% block content %}

    <form action="{% url 'registration:save_updated_section' %}" id="form_sample_1" class="form-horizontal"
          method="POST" enctype="multipart/form-data">


        {% csrf_token %}

        <div class="col-md-12">


            <div class="page-bar" style="margin-bottom: 1px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'registration:home' %}">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>

                        <a href="{% url 'registration:academic_school' %}">Academic & School </a>
                        <i class="fa fa-angle-right"></i>
                    </li>


                    <li>

                        <a href="{% url 'registration:classes_sections' %}"> Classes & Sections</a>
                        <i class="fa fa-angle-right"></i>
                    </li>

                    <li>

                        <a href="{% url 'registration:view_section' %}">View Section</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <span> Edit-Delete Section </span>
                    </li>
                </ul>

            </div>

            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endfor %}


            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-title">


                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Section Details</span>
                    </div>

                </div>
                <div class="portlet-body">

                    <!-- BEGIN FORM-->
                    <form action="{% url 'registration:save_updated_section' %}" id="form_sample_1"
                          class="form-horizontal" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="col-md-offset-3 col-md-9" style="margin: auto;">
                            <button type="button" class="btn green" id="edit">Edit</button>
                            <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
                            <a data-toggle="modal" href="#static">
                                <button type="button" class="btn red">Delete</button>
                            </a>
                        </div>

                        <div class="form-body">

                            <input type="hidden" value="{{ section_rec.id }}" name="section_id"/>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-1 control-label">Code:

                                    </label>
                                    <div class="col-md-2">
                                        <input name="section_code" type="text" value="{{ section_rec.section_code }}"
                                               hidden/>

                                        <input autocomplete="off" id="id_section_code" class="form-control"
                                               maxlength="10"
                                               name="section_code" type="text" value="{{ section_rec.section_code }}"
                                               required disabled/>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="col-md-1 control-label">Section:

                                    </label>
                                    <div class="col-md-2">
                                        <input autocomplete="off" class="form-control" id="id_section" maxlength="32"
                                               name="section_name" type="text" value="{{ section_rec.section_name }}"
                                               title='Only Alphabets is Allowed.' pattern='^[a-zA-Z ]{1,32}$' required
                                               disabled/>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Section Type:

                                    </label>
                                    <div class="col-md-2">
                                        <select autocomplete="off" class="form-control" id="id_section_type_name"
                                            name="section_type"
                                            required="" disabled>
                                        <option style="display : none" selected="selected"
                                                value="{{ section_rec.section_type.id }}"> {{ section_rec.section_type.section_type_name }}</option>
                                        {% for section_type_rec in section_type_recs %}
                                            <option value="{{ section_type_rec.id }}">{{ section_type_rec.section_type_name }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>

                            </div>




                        </div>

                </div>
    </form>

    <br>

    </div>
    </div>

    </form>
    <!-- END FORM-->

    <!-- END VALIDATION STATES-->
    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false "
         style="margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete the section details? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                    <a class=" btn red btn-outline sbold" data-toggle="modal"
                       href="{% url 'registration:delete_section' section_rec.id %}"> Delete </a>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
