{% extends "index.html" %}
{% load staticfiles %}
<link href="{% static 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet"
      type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static 'assets/global/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css' %}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css' %}" rel="stylesheet"
      type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components"
      type="text/css"/>
<link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="{% static 'assets/layouts/layout2/css/layout.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/layouts/layout2/css/themes/blue.min.css' %}" rel="stylesheet" type="text/css"
      id="style_color"/>
<link href="{% static 'assets/layouts/layout2/css/custom.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>


{% block styleBlock %}
    <script src="{% static 'js/webcam.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/cropper.js' %}" type="text/javascript"></script>
    {#             <script src="{% static 'js/address_val.js'%}" type="text/javascript"></script>#}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 0px;
        }

        #id_gender {
            list-style: none;
        }

        input[type=file] {
            color: transparent;
        }

        input[type="file"]::-webkit-file-upload-button {

        }

        #PreviewPicture {
            background-image: url("/../static/images/user.png");
            width: 180px;
            height: 190px;
            background-repeat: no-repeat;
            background-size: 65%;

        }
         #PreviewPicture1 {

            width: 180px;
            height: 180px;
            background-repeat: no-repeat;
            background-size: 70%;

        }


        li {
            display: inline;

        }

        .validation {
            color: red;
            position: absolute;
            left: 370px;
            width: 100%;
            margin-top: 223px;
        }

        .validation1 {
            color: red;
            position: absolute;
            left: 900px;
            width: 100%;
            margin-top: 223px;
        }

    </style>
{% endblock %}





{% block ScriptBlock %}
    <script language="JavaScript">
    function setup() {
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {

                navigator.mediaDevices.getUserMedia({video: true}).then(function (stream) {
                    if (stream.getVideoTracks().length > 0) {

                        $("#PreviewPicture1").css("background-image", '');
                        $("#PreviewPicture1").css("background-image", "url()");
                        $("#id_photo").val('');
                        $("#mydata").val('');

                        $("#clear").hide();
                        Webcam.reset();
                        $("#PreviewPicture").css("background-image", "url()");
                        $("#PreviewPicture").hide();

                        $("#PreviewPicture1").show();
                        $("#id_photo").val('');
                        Webcam.attach('#PreviewPicture1');
                        $("#take_snapshot_button").show();

                        $('#take_snapshot_button').css({
                            'position': 'absolute',
                            'margin-top': '-41px',
                            'margin-left': '100px',
                        });


                        $("#access_camera").hide();

                        $("#id_start_cropping").hide();
                        $("#id_crop").hide();
                        $("#id_restore").hide();


                        $('#take_snapshot_button').attr('class', 'btn green')
                        $('#take_snapshot_button').css({
                            'position': 'absolute',
                            'margin-top': '-53px',
                            'margin-left': '230px',
                        });
                        //code for when none of the devices are available
                    } else {
                        alert("Camera Permission Denied.")// code for when both devices are available
                    }

                });
            }
        }


        function take_snapshot() {

            Webcam.snap(function (data_uri) {
                raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
                document.getElementById('mydata').value = raw_image_data;

                $("#PreviewPicture1").css("background-image", "url(" + data_uri + ")");

                Webcam.reset();
                $("#take_snapshot_button").hide();
                $('#access_camera').css({
                    'position': 'absolute',
                    'margin-top': '-0px',
                    'margin-left': '70px',


                });
                $("#access_camera").show();
                $('#take_snapshot_button').css({
                    'position': 'absolute',
                    'margin-top': '-53px',
                    'margin-left': '100px',
                });

                $("#clear").show();
            });

        }

        window.onload = function () {
            $("#id_start_cropping").click(function (event) {
                        cropper.start(document.getElementById("PreviewPicture"), 1);
                        var file = document.getElementById("PreviewPicture1").files;
                        // get a reference to the selected file

                        var reader = new FileReader(); // create a file reader
                        // set an onload function to show the image in cropper once it has been loaded
                        reader.onload = function (event) {
                            var data = event.target.result;
                            {#					alert(data);// the "data url" of the image#}
                            cropper.showImage(data); // hand this to cropper, it will be displayed
                        };
                        {#                var abcde = cropper.getCroppedImageSrc()#}
                        {#                  alert("abcde--"+abcde);#}
                        reader.readAsDataURL(file);
            });


            //YOUR JQUERY CODE
            $(document).ready(function () {


                {#        console.log("hiiii")#}

                $(".con_num")

                    .on('keypress', function (e) {
                        {#                        alert("dd")#}
                        var key = e.charCode || e.keyCode || 0;
                        var phone = $(this);
                        if (phone.val().length === 0) {
                            phone.val(phone.val() + '+');
                        }
                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9) {
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + '');
                            }
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + ' ');
                            }

                            if (phone.val().length >= 16) {
                                phone.val(phone.val().slice(0, 16));
                            }
                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                            key == 9 ||
                            key == 46 ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    })

                    .on('focus', function () {
                        phone = $(this);

                        if (phone.val().length === 0) {
                            phone.val('+');
                        } else {
                            var val = phone.val();
                            phone.val('').val(val); // Ensure cursor remains at the end
                        }
                    })

                    .on('blur', function () {
                        $phone = $(this);

                        if ($phone.val() === '+') {
                            $phone.val('');
                        }
                    });
                $('#clear').click(function () {
                    //$('#PreviewPicture').attr('src', '');
                    $("#PreviewPicture1").hide();
                    setup();
                    $('#take_snapshot_button').css({
                        'position': 'absolute',
                        'margin-top': '-53px',
                        'margin-left': '230px',
                    });


                    $("#PreviewPicture").css("background-image", '');
                    $("#PreviewPicture").css("background-image", "url()");
                    $("#id_photo").val('');
                    $("#mydata").val('');
                    $("#clear").hide();

                    // clear the src or remove the img tag and regenerate it.
                });

{#                $("#id_photo").on("change", function () {#}
{#                    var files = !!this.files ? this.files : [];#}
{#                    if (!files.length || !window.FileReader) return; // Check if File is selected, or no FileReader support#}
{#                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];#}
{#                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) !== -1) { //  Allow only image upload#}
{#                        var ReaderObj = new FileReader(); // Create instance of the FileReader#}
{#                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded#}
{#                        ReaderObj.onloadend = function () { // set uploaded image data as background of div#}
{#                            $("#PreviewPicture").css("background-image", "url(" + this.result + ")");#}
{#                            $("#setPic").val(this.result);#}
{#                        }#}
{#                    }#}
{#                    else {#}
{#                        this.value = null;#}
{#                        alert("Only formats are allowed : " + fileExtension.join(', '));#}
{#                    }#}
{#                });#}
                $("#id_crop").click(function () {
{#                    alert('aaa')#}
                    var crop_data = cropper.getCroppedImageSrc();
{#                    alert(crop_data)#}
                    $('#photo_val').val(crop_data);
                });

                $("#id_photo").on("change", function () {
                    $("#PreviewPicture").show();
                    $("#PreviewPicture1").css("background-image", '');
                    $("#PreviewPicture1").hide();
                    $("#PreviewPicture1").css("background-image", "url()");
                    $("#clear").hide();
                    $('#access_camera').css({
                        'position': 'absolute',
                        'margin-top': '0px',
                        'margin-left': '70px',


                    });

                    cropper.start(document.getElementById("PreviewPicture"), 1);
                    var file = document.getElementById("id_photo").files[0];
                    // get a reference to the selected file
                    var reader = new FileReader(); // create a file reader
                    // set an onload function to show the image in cropper once it has been loaded
                    reader.onload = function (event) {
                        var data = event.target.result;
                        {#					alert(data);// the "data url" of the image#}
                        cropper.showImage(data); // hand this to cropper, it will be displayed
                    };
                    {#                var abcde = cropper.getCroppedImageSrc()#}
                    {#                  alert("abcde--"+abcde);#}
                    reader.readAsDataURL(file);

                    Webcam.reset();
                    {#                    if (count > 0) {#}
                    {#                        $('#access_camera').css({#}
                    {#                            'position': 'absolute',#}
                    {#                            'margin-top': '-66px',#}
                    {#                            'margin-left': '100px',#}
                    {#                        });#}
                    {#                    }#}
                    {#                    else {#}
                    {#                        $('#access_camera').css({#}
                    {#                            'position': 'absolute',#}
                    {#                            'margin-top': '-41px',#}
                    {#                            'margin-left': '-120px',#}
                    {#                        });#}
                    {#                    }#}
                    $("#access_camera").show();
                    $('#id_start_cropping').attr('class', 'btn green')
                    $('#id_crop').attr('class', 'btn green')
                    $('#id_restore').attr('class', 'btn green')
                    $("#id_start_cropping").css({
                        'margin-left': '90px'
                    })


                    $("#take_snapshot_button").hide();
                    var files = !!this.files ? this.files : [];

                    if (!files.length || !window.FileReader) return; // Check if File is selected, or no FileReader support
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) !== -1) { //  Allow only image upload
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () { // set uploaded image data as background of div
                            $("#PreviewPicture").css("background-image", "url(" + this.result + ")");
                            $("#setPic").val(this.result);
                        }
                    } else {
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                    }
                    $("#id_start_cropping").show();
                    $("#id_crop").show();
                    $("#id_restore").show();
                });



                var flag = false;
                var flag1 = false;
                var flag2 = false;
                var flag3 = false;

                $("#id_street").on("change", function () {
                    var str = $("#id_street").val().length;
                    if (parseInt(str) > 255) {
                        alert("Street Length Should Not Be More Than 255 Char.")
                        $("#id_street").css('border-color', 'red');
                        flag = true;
                        return false;
                    }
                    $("#id_street").css('border-color', '');
                    flag = false;
                });

                $("#id_state").on("change", function () {
                    var str = $("#id_state").val().length;
                    if (parseInt(str) > 80) {
                        alert("State Length Should Not Be More Than 80 Char.")
                        flag1 = true;
                        $("#id_state").css('border-color', 'red');
                        return false;
                    }
                    $("#id_state").css('border-color', '');
                    flag1 = false;
                });

                $("#id_city").on("change", function () {
                    var str = $("#id_city").val().length;
                    if (parseInt(str) > 80) {
                        alert("City Length Should Not Be More Than 80 Char.")
                        flag2 = true;
                        $("#id_city").css('border-color', 'red');
                        return false;
                    }
                    $("#id_city").css('border-color', '');
                    flag2 = false;
                });

{#                $("#id_birth_date").on("change", function () {#}
                    {#              alert($("#id_birth_date").val())#}
{#                    var str = $("#id_birth_date").val();#}
{#                    var sp_id = str.split("-")[0];#}
{#                    if (parseInt(sp_id) < 1900) {#}
{#                        alert("Birth Year Must Be Greater or Equal Than 1900")#}
{#                        $("#id_birth_date").val('')#}
{#                        return false;#}
{#                    }#}
{#                });#}

                $("#id_postcode").on("change", function () {
                    var str = $("#id_postcode").val().length;
                    if (parseInt(str) > 8) {
                        alert("Postcode Length Should Not Be More Than 8 Char.")
                        flag3 = true;
                        $("#id_postcode").css('border-color', 'red');
                        return false;
                    }
                    $("#id_postcode").css('border-color', '');
                    flag3 = false;
                });


                $("#btn_save").click(function (event) {

                    var sEmail = $('#id_email').val();
                    console.log('sEmail', sEmail);
                    if (!validateEmail(sEmail) && (!sEmail == 0)) {
                        alert('Invalid Email Address');
                        return false;
                    }

                    if ((flag == true) || (flag1 == true) || (flag2 == true) || (flag3 == true)) {
                        alert("Validation Error. Please Fill Proper Data.")
                        return false;
                    }

                    {#            var id_password = jQuery.trim($("#id_password").val());	#}
                    {#            var id_email = jQuery.trim($("#id_email").val());#}
                    {#	        if ((id_password.length == 0) && (id_email != 0))	#}
                    {#			{#}
                    {#	        	#}
                    {#				alert('Please Enter the password.')#}
                    {#				return false;#}
                    {#			}#}
                    {#	        #}
                    {#	        if ((id_password.length !== 0) && (id_password.length < 8))  #}
                    {#			{ #}
                    {#			    alert('Password should be atleast  8 characters long');#}
                    {#			    return false; #}
                    {#			}#}
                    {#	        #}
                    {#	        if ((id_password.length !== 0) && (id_password.length > 8)) #}
                    {#	        { #}
                    {#	 		    alert('Password should not be more than 8 characters long');#}
                    {#	 		    return false; #}
                    {#	 		}#}
                    var id_contact = jQuery.trim($("#id_contact_num").val());
                    if ((id_contact.length !== 0) && (id_contact.length < 10)) {
                        alert('Please put 10 digit mobile number');
                        return false;
                    }


                });


                function validateEmail(sEmail) {
                    var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

                    if (filter.test(sEmail)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }


                var dateControler =
                    {
                        currentDate: null
                    }

                $(document).on("blur", "#id_birth_date", function (event, ui) {
                    var now = new Date();
                    now.setDate(now.getDate() - 1)
                    var selectedDate = new Date($(this).val());

                    if (selectedDate > now) {
                        $(this).val(dateControler.currentDate)
                        alert("Invalid Date..!")
                    } else {
                        dateControler.currentDate = $(this).val();
                    }

                    var str = $("#id_birth_date").val();
                    var sp_id = str.split("-")[0];
                    if (parseInt(sp_id) < 1900) {
                        alert("Birth Year Must Be Greater or Equal Than 1900")
                        $("#id_birth_date").val('')
{#                        return false;#}
                    }
                });


            });
        }
    </script>

{% endblock %}
{% block content %}





    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:manage_users' %}">Manage Users</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Add User</span>
            </li>
        </ul>

    </div>



    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;"> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">

        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">User Profile</span>
            </div>

        </div>

        <div id="message" style="display:none;">
            <!-- Here I want to place a message. It should be visible for 3 seconds.Then clear the      div to get ready for the next message. -->
        </div>


        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form action="{% url 'registration:save_user' %}" id="form_sample_1" class="form-horizontal" method="POST"
                  enctype="multipart/form-data">


                {% csrf_token %}

                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12" style="margin-left:-100px">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a hidden href="javascript:void(0);" id="clear"><span
                                                class="glyphicon glyphicon-remove"></span></a>

                                        <canvas id="PreviewPicture" width="180" height="180"></canvas>
                                        <div id="PreviewPicture1" hidden></div>
                                        <input id="photo_val" type="hidden" name="photo_val1" value=""/>
                                        <input type="hidden" name="profile_pic" id="setPic">
                                            {{ staff_detail_form.photo }}

                                    </div>
                                </div>

                                <br>
                                <input type="button" hidden id="id_start_cropping" onclick="cropper.startCropping()"
                                       value="Start cropping"/>
                                <input type="button" hidden id="id_crop" value="Crop"/>
                                <input type="button" hidden id="id_restore" onclick="cropper.restore()"
                                       value="Restore"/>


                            </div>
                        </div>


                    </div>
                </div>
{#                    <div height="142" width="142" id="PreviewPicture"></div>#}
{#                    <input type="hidden" name="profile_pic" id="setPic">#}
{#                    {{ staff_detail_form.photo }}#}
                    <div class="row">
                        <div class="">

                            <label class="col-md-2 control-label">Email ID:
                                <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                            </label>
                            <div class="col-md-4">
                                {{ staff_detail_form.email }}  </div>
                        </div>
                        {#                                            <div class="">#}
                        {#                                            #}
                        {#                                                <label class="col-md-2 control-label">Password:#}
                        {#                                                    #}
                        {#                                                </label>#}
                        {#                                               #}
                        {#                                                <div class="col-md-4">#}
                        {#                                                    {{ staff_detail_form.password }}  </div>#}
                        {#                                            </div>#}

                        <div class="">
                            <label class="col-md-2 control-label">First Name:
                                <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                            </label>

                            </label>
                            <div class="col-md-4">
                                {{ staff_detail_form.first_name }} </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="">
                            <label class="col-md-2 control-label">Middle Name:

                            </label>
                            <div class="col-md-4">
                                {{ staff_detail_form.middle_name }}  </div>
                        </div>
                        <div class="">
                            <label class="col-md-2 control-label">Last Name:

                            </label>
                            <div class="col-md-4">
                                {{ staff_detail_form.last_name }} </div>
                        </div>

                    </div>
                    <br>

                    <div class="row">


                        <div class="">
                            <label class="col-md-2 control-label">Birth Date:

                            </label>
                            <div class="col-md-4">
                                {{ staff_detail_form.birth_date }}  </div>
                        </div>
                        <div class="">
                            <label class="col-md-2 control-label">Gender:
                                <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                            </label>
                            </label>
                            <div class="col-md-4" style="margin-left:-40px; margin-top: 7px;">
                                {{ staff_detail_form.gender }}  </div>
                        </div>
{#                        <div class="">#}
{#                            <label for="basic" class="col-md-2 control-label">Department Name:#}
{##}
{#                            </label>#}
{##}
{#                            <div class="col-md-4">#}
{#                                {{ staff_detail_form.department }}#}
{#                            </div>#}
{#                        </div>#}


                    </div>
                    <br>

                    <div class="row">

{#                        <div class="">#}
{#                            <label class="col-md-2 control-label">Contact Number:#}
{##}
{#                            </label>#}
{#                            <div class="col-md-4">#}
{#                                {{ staff_detail_form.contact_num }} </div>#}
{#                        </div>#}
                         <div class="">
                            <label class="col-md-2 control-label">Contact Number:
                            <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                            </label>
                            <div class="col-md-4">
                                {{ staff_detail_form.contact_num }} </div>
                        </div>
                        <div class="">
                            <label class="col-md-2 control-label">Street:

                            </label>
                            <div class="col-md-4">
                                {{ staff_detail_form.street }}  </div>
                        </div>




                    </div>

                    <br>


                    <div class="row">





                        <div class="">
                            <label class="col-md-2 control-label">City:

                            </label>
                            <div class="col-md-4">
                                {{ staff_detail_form.city }}  </div>
                        </div>
                        <div class="">
                            <label class="col-md-2 control-label">State:

                            </label>
                            <div class="col-md-4">
                                {{ staff_detail_form.state }}  </div>
                        </div>

                    </div>
                    <br>

                    <div class="row" style="margin-top: 2px;">



                        <div class="">
                            <label class="col-md-2 control-label">Post Code:

                            </label>
                            <div class="col-md-4">
                                {{ staff_detail_form.postcode }}  </div>
                        </div>


                        <div class="">
                            <label class="col-md-2 control-label">Status:
                            </label>
                            <div class="col-md-4">
                                <input style="color:green" class="form-control" name="code" value="Active" disabled></div>
                        </div>


                    </div>


                    <br>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn_save" type="submit" class="btn green">Save</button>
                                <a href="{% url 'registration:manage_users' %}">
                                    <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                                </a>
                            </div>
                        </div>
                    </div>
            </form>
            <!-- END FORM-->


        </div>
    </div>
    <!-- END VALIDATION STATES-->




    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57 )) {
{#                alert("hh")#}
                return false;
            }
            return true;
        }

    </script>

{% endblock %}



<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery.min.js" type="text/javascript' %}"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/plugins/fancybox/source/jquery.fancybox.pack.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-validation/js/additional-methods.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-markdown/lib/markdown.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js' %}"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/pages/scripts/form-validation.min.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{% static 'assets/layouts/layout2/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/layout2/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>

<!-- END THEME LAYOUT SCRIPTS -->
