{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

{% endblock %}
{% block ScriptBlock %}
    <script>

        window.onload = function () {

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });


            $(document).on("click", ".inactive", function () {
                var id = $(this).attr('id');
                var url = '/school/inactive_user/';
                inactive_user(url, id);
            });



            function inactive_user(url, id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        user_id: id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
{#                        alert('Success..'+id)#}
                        $('#td'+id+' .inactive').hide()
                        $('#td'+id+' .active').show()
                        $('#td'+id+' .act').text(0);
{#                        alert("Bye")#}

                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }


            $(document).on("click", ".active", function () {

                var id = $(this).attr('id');
                var url = '/school/active_user/';
                active_user(url, id);
            });

            $(document).on("click", "#preview", function () {

{#                alert("Hello....")#}
                $('#preview_value').val('1');
{#                alert($('#preview_value').val());#}
            });


            function active_user(url, id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        user_id: id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
{#                        alert('Success..'+id)#}
                        $('#td'+id+' .active').hide()
                        $('#td'+id+' .inactive').show()
                        $('#td'+id+' .act').text(1);
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }


{#            var table = $('#sample_1').DataTable();#}
{#            table.rows({search: 'applied'}).nodes();#}
{#            table.rows({search: 'removed'}).nodes();#}

            {% comment %}$('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });{% endcomment %}

{#            $('#sample_1').page().draw( 'page' );#}
{#            $('#sample_1').dataTable().ajax.reload();#}
{#            $('#sample_1').dataTable().draw(false);#}


{#            var oTable1 = $('#sample_1').dataTable();#}
{#            oTable1.fnStandingRedraw();#}



{#            $('#sample_1').dataTable().fnDestroy();#}
{#            $(document).ready(function () {#}
{#                $('#sample_1').DataTable({#}
{#                    stateSave: true#}
{#                });#}
{#            });#}

        }



        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>

                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:manage_users' %}">Manage Users</a>
                <i class="fa fa-angle-right"></i>

            </li>
            <li>
                <span>View-Edit User</span>
            </li>

        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->

    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Manage User Profile</span>
            </div>

            <form action="{% url 'registration:export_user_template' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-2">
                    <button type="submit" class="btn blue btn-block" id="export">Export
                        Template
                    </button>
                </div>
            </form>
            <div class="col-md-3">
                <button type="button" class="btn blue btn-green"
                        data-toggle="modal"
                        data-target="#myModal">Import User Records
                </button>
            </div>

        </div>
        <div class="portlet-body">


            <!-- <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1"> -->
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>


                    <th style="display:none;" class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1"
                        colspan="1" aria-sort="ascending" aria-label=" Serialno : activate to sort column ascending"
                        style="width: 145px;">Serial No
                    </th>
                    <th class="sorting"> First Name</th>
                    <th> Middle Name</th>
                    <th> Last Name</th>
                    <th> Role</th>
                    <th> Email</th>
                    <th> Contact</th>
                    <th> Status</th>

                </tr>
                </thead>
                <tbody>
                {% for staff in staff_list %}
                    <tr class="odd gradeX">
                    <td style="display:none">{{ staff.id }}</td>

                    <td onclick="window.location='{% url "registration:update_user" staff.id %}'"
                        style="cursor: pointer;">{{ staff.first_name }}</td>
                    <td onclick="window.location='{% url "registration:update_user" staff.id %}'"
                        style="cursor: pointer;">
                        {% if staff.middle_name %}{{ staff.middle_name }} {% else %} {{ '' }} {% endif %}
                    </td>
                    <td onclick="window.location='{% url "registration:update_user" staff.id %}'"
                        style="cursor: pointer;" class="center"> {{ staff.last_name }} </td>
                    <td onclick="window.location='{% url "registration:update_user" staff.id %}'"
                        style="cursor: pointer;" class="center">
                        {% for role in staff.role.all %}
                            {% if role.name != 'Parent' %}
                                {{ role.name }}<br>
                            {% endif %}
                        {% endfor %}
{#                        {{ staff.role.name }}#}
                    </td>
                    <td onclick="window.location='{% url "registration:update_user" staff.id %}'"
                        style="cursor: pointer;" class="center"> {{ staff.email }}  </td>

                    <td onclick="window.location='{% url "registration:update_user" staff.id %}'"
                        style="cursor: pointer;" class="center"> {{ staff.staff_relation.all.0.contact_num }} </td>


                    {% if staff.is_active == 1 %}
                        <td id="td{{  staff.id }}">
                            <span class="act" hidden>0</span>
                            <input type='button' id="{{ staff.id }}" class="active btn blue btn-block" value='Active'>
                            <input type='button' style="display: none"  id="{{ staff.id }}" class="inactive btn red btn-block"
                                   value='Inactive'>
                        </td>
                    {% else %}

                        <td id="td{{  staff.id }}">
                            <span class="act" hidden>1</span>
                            <input type='button' style="display: none" id="{{ staff.id }}" class="active btn blue btn-block" value='Active'>
                            <input type='button' id="{{ staff.id }}" class="inactive btn red btn-block" value='Inactive'>
                        </td>

                    {% endif %}
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="{% url 'registration:import_user_records' %}" id="form_sample_1"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Choose File</h4>
                    </div>
                    <div class="modal-body">
                        {{ user_details_excel.excel }}
                    </div>

                    <div class="modal-footer">
                        <input hidden name="preview" id="preview_value" value="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default">Upload</button>
                        <button type="submit" id="preview" class="btn btn-default">Preview</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
     