{% extends "index.html" %}
{% load staticfiles %}
(% load pygmentize %}
{% load staticfiles %}


</head>

{% block styleBlock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="js/emailvalidation.js"></script>
    <script src="{% static 'js/webcam.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/cropper.js' %}" type="text/javascript"></script>
    <style type="text/css">
        .wrapper {
            position: absolute;
        }
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }

        #id_gender {
            list-style: none;
        }

        .disabled {

            background: #eef1f5;
            opacity: 1;

        }

        .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
            position: absolute;
            display: inline-block;
            left: 270px;
            margin-top: 5px;
        }

        li {
            display: inline;

        }

        input[type=file] {
            color: transparent;
        }

        #PreviewPicture {
            background-image: url("/../static/images/user.png");
            width: 180px;
            height: 190px;
            background-repeat: no-repeat;
            border: 0;
            margin-top: 30px;
            background-size: 70%;
        }
     #PreviewPicture1 {
            width: 180px;
            height: 190px;
            background-repeat: no-repeat;
            border: 0;
            margin-top: 30px;
            background-size: 70%;
        }


    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
    function myover() {
{#                    alert("vv");#}
                    $('#pwd').attr('type','text');

{#                    document.getElementById("myCheck").click();#}
                }

                function myout() {
                    $('#pwd').attr('type','password');
{#                    alert("vvssss");#}
                }

        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {

                $(".con_num")

                    .on('keypress', function (e) {
                        {#                        alert("dd")#}
                        var key = e.charCode || e.keyCode || 0;
                        var phone = $(this);
                        if (phone.val().length === 0) {
                            phone.val(phone.val() + '+');
                        }
                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9&& key !== 46) {
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + '');
                            }
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + ' ');
                            }

                            if (phone.val().length >= 16) {
                                phone.val(phone.val().slice(0, 16));
                            }
                        }
                        if (e.ctrlKey == true) {
                            if ($phone.val() === '+') {
                                $phone.val('');
                            }
                            if (key == 67 || key == 86 || key == 88 || key == 118 ) {
                                return true;
                            }

                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                            key == 9 ||
                            key == 46 ||key == 37 ||key == 39 ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    })

                    .on('focus', function () {
                        phone = $(this);

                        if (phone.val().length === 0) {
                            phone.val('+');
                        } else {
                            var val = phone.val();
                            phone.val('').val(val); // Ensure cursor remains at the end
                        }
                    })

                    .on('blur', function () {
                        $phone = $(this);

                        if ($phone.val() === '+') {
                            $phone.val('');
                        }
                    });
                {#                console.log("hiiii")#}
                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();
                    $('#id_gender_1').prop("disabled", false);
                    $('#id_gender_0').prop("disabled", false);
                    $('#id_photo').prop("disabled", false);
                    $('#id_photo1').prop("disabled", false);
                    $('.form-control').prop("disabled", false);
                    $('#id_email').prop("disabled", true);
                    $('button').removeClass('disabled');
{#                    $('#clear').prop("disabled", false);#}

                });
                $('#clear').click(function () {
                    $("#PreviewPicture1").hide();
                    setup();
                    //$('#PreviewPicture').attr('src', '');
                    $("#PreviewPicture").css("background-image", '');
                    $("#id_photo").val('');
                    $("#mydata").val('');
                    $("#clear").hide();
                });

                var flag = false;
                var flag1 = false;
                var flag2 = false;
                var flag3 = false;
{#                var flag4 = false;#}
                $("#id_street").on("change", function () {
                    var str = $("#id_street").val().length;
                    if (parseInt(str) > 255) {
                        alert("Street Length Should Not Be More Than 255 Char.")
                        $("#id_street").css('border-color', 'red');
                        flag = true;
                        return false;
                    }
                    $("#id_street").css('border-color', '');
                    flag = false;
                });

                $("#id_state").on("change", function () {
                    var str = $("#id_state").val().length;
                    if (parseInt(str) > 80) {
                        alert("State Length Should Not Be More Than 80 Char.")
                        flag1 = true;
                        $("#id_state").css('border-color', 'red');
                        return false;
                    }
                    $("#id_state").css('border-color', '');
                    flag1 = false;
                });

                $("#id_city").on("change", function () {
                    var str = $("#id_city").val().length;
                    if (parseInt(str) > 80) {
                        alert("City Length Should Not Be More Than 80 Char.")
                        flag2 = true;
                        $("#id_city").css('border-color', 'red');
                        return false;
                    }
                    $("#id_city").css('border-color', '');
                    flag2 = false;
                });

                $("#id_birth_date").on("focusout", function () {
                    {#              alert($("#id_birth_date").val())#}
                    var str = $("#id_birth_date").val();
                    var sp_id = str.split("-")[0];
                    if (parseInt(sp_id) < 1900) {
                        alert("Birth Year Must Be Greater or Equal Than 1900")
                        $("#id_birth_date").val('')
                        return false;
                    }
                });

                $("#id_postcode").on("change", function () {
                    var str = $("#id_postcode").val().length;
                    if (parseInt(str) > 8) {
                        alert("Postcode Length Should Not Be More Than 8 Char.")
                        flag3 = true;
                        $("#id_postcode").css('border-color', 'red');
                        return false;
                    }
                    $("#id_postcode").css('border-color', '');
                    flag3 = false;
                });

                $('#update').click(function () {
                    if ((flag == true) || (flag1 == true) || (flag2 == true) || (flag3 == true)) {
                        alert("Validation Error. Please Fill Proper Data.")
                        return false;
                    }
                    var id_contact_num = jQuery.trim($("#id_contact_num").val());
                    if ((id_contact_num.length !== 0) && (id_contact_num.length < 10)) {
                        alert('Please put 10 digit mobile number');
                        // focuses the current field.
                        return false; // stops the execution.
                    }

                    var sEmail = $('#id_email').val();
                    console.log('sEmail', sEmail);
                    if (!validateEmail(sEmail) && (!sEmail == 0)) {
                        alert('Invalid Email Address');
                        return false;

                    }


                    function validateEmail(sEmail) {
                        var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

                        if (filter.test(sEmail)) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }


                });


                var dateControler =
                    {
                        currentDate: null
                    }

                $(document).on("focusout", "#id_birth_date", function (event, ui) {
                    var now = new Date();
                    now.setDate(now.getDate() - 1)
                    var selectedDate = new Date($(this).val());

                    if (selectedDate > now) {
                        $(this).val(dateControler.currentDate)
                        alert("Invalid Date..!")
                        $("#id_birth_date").val('')
                    } else {
                        dateControler.currentDate = $(this).val();
                    }
                });

                var image = $("#id_photo").attr('value');
                console.log(image)
                var Val = ("../media/".concat(image))

                console.log("path", Val)

                $("#PreviewPicture1").css("background-image", "url(" + Val + ")")

                $("#id_photo").on("change", function () {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];// Check if File is selected, or no FileReader support
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) !== -1) {
                        console.log('if part');   //  Allow only image upload
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () { // set uploaded image data as background of div
                            $("#PreviewPicture1").css("background-image", "url(" + this.result + ")");
                            $("#setPic").val(this.result);
                        }
                    }
                    else {
                        console.log('else part');
                        $('#id_photo').val('');
                        alert("Only formats are allowed : " + fileExtension.join(', '));

                    }
                });
                $("#id_photo").on("change", function () {
                    cropper.start(document.getElementById("PreviewPicture"), 1);
                    var file = document.getElementById("id_photo").files[0];
                    // get a reference to the selected file
                    var reader = new FileReader(); // create a file reader
                    // set an onload function to show the image in cropper once it has been loaded
                    reader.onload = function (event) {
                        var data = event.target.result;
                        cropper.showImage(data); // hand this to cropper, it will be displayed
                    };
                    url = reader.readAsDataURL(file);
                    $("#id_start_cropping").show();
                    $("#id_crop").show();
                    $("#id_restore").show();

                    Webcam.reset();
                    $("#PreviewPicture").show();
                    $("#PreviewPicture1").css("background-image", '');
                    $("#PreviewPicture1").hide();
                    $("#PreviewPicture1").css("background-image", "url()");
                    $("#clear").hide();


                    $("#setup_button").show();
                    $("#take_snapshot_button").hide();
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];// Check if File is selected, or no FileReader support
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        console.log('if part');
                        //$("#id_photo").val('');
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $("#PreviewPicture").css("background-image", '');
                        $("#id_photo").val('');
                        $("#mydata").val('');
                         $("#setPic").val(this.result);


                        return false;

                    }

                    else {

                        console.log('else part');   //  Allow only image upload
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () { // set uploaded image data as background of div
                            $("#PreviewPicture").css("background-image", "url(" + this.result + ")");
                        }

                    }
                });
                $("#id_photo1").on("change", function () {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];// Check if File is selected, or no FileReader support
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) !== -1) {
                        console.log('if part');   //  Allow only image upload
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () { // set uploaded image data as background of div
                            $("#PreviewPicture").css("background-image", "url(" + this.result + ")");
                            $("#setPic").val(this.result);
                        }
                    }
                    else {
                        console.log('else part');
                        $('#id_photo1').val('');
                        alert("Only formats are allowed : " + fileExtension.join(', '));

                    }
                });
                 $("#id_crop").click(function () {
{#                     alert('aaa');#}
                    var crop_data = cropper.getCroppedImageSrc();
{#                      alert(crop_data);#}
                    {#              var xyz = document.getElementById("id_photo").value("uuu");#}
                    {#              alert("----"+xyz);#}

                    {#              var aa = $('#id_photo').attr('value',crop_data);#}
                    {#             alert("aa--"+$('#id_photo').val());#}

                    $('#crop_photo_val').val(crop_data);
                    {#             alert("aa--"+$('#id_photo_val').val());#}
                    {#                  alert("-------"+$('#id_crop').val());#}

                });


            });

        }


{#        function isNumber(evt) {#}
{#            evt = (evt) ? evt : window.event;#}
{#            var charCode = (evt.which) ? evt.which : evt.keyCode;#}
{#            if (charCode > 31 && (charCode < 48 || charCode > 57)) {#}
{#                return false;#}
{#            }#}
{#            return true;#}
{#        }#}
        function isNumber(evt) {
               var key = window.event ? event.keyCode : event.which;

                if (event.keyCode == 8 || event.keyCode == 46
                 || event.keyCode == 37 || event.keyCode == 39) {
                    return true;
                }
                else  if (key > 31 && (key < 48 || key > 57))  {
                    return false;
                }
                else return true;
            };


    </script>

{% endblock %}
{% block content %}

    <div class="col-md-12">


        <div class="page-bar" style="margin-bottom: 1px;">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{% url 'registration:home' %}">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="{% url 'registration:manage_users' %}">Manage Users</a>
                    <i class="fa fa-angle-right"></i>

                </li>
                <li>

                    <a href="{% url 'registration:view_user' %}">View-Edit Users</a>
                    <i class="fa fa-angle-right"></i>

                </li>
                <li>
                    <span> Edit-Delete User</span>
                </li>
            </ul>

        </div>


        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}

        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Manage User Profile</span>
                </div>

            </div>


            <div class="portlet-body">


                <!-- BEGIN FORM-->
                <form action="{% url 'registration:save_updated_user' %}" id="form_sample_1" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">


                    {% csrf_token %}
                    <div class="col-md-offset-3 col-md-9" style="margin: auto;">
                        <!--  <button type="button" class="btn green" name="update" onclick="document.getElementById('form_sample_1').submit()">Update</button></a> -->
                        <button type="button" class="btn green" id="edit">Edit</button>
                        <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
{#                        <a data-toggle="modal" href="#static">#}
{#                            <button type="button" class="btn red">Delete</button>#}
{#                        </a>#}


                    </div>
                    <div class="form-body">
                        <br class="row">
                                    <a hidden href="javascript:void(0);" id="clear"><span
                                                class="glyphicon glyphicon-remove"></span></a>
                                 {% if not staff_detail.staff_relation.all.0.photo.name == '' %}
                                     <canvas height="190" width="180" id="PreviewPicture" name="PreviewPicture"hidden></canvas>
{#                                     <div id="PreviewPicture" hidden></div>#}
                                    <div  id="PreviewPicture1" ></div>
                                    <input type="hidden" name="profile_pic" id="setPic">
                                    <input id="id_photo" name="photo" type="file"value="{{ staff_detail.staff_relation.all.0.photo }}" disabled>

                                     <input id="mydata" type="hidden" name="mydata" value=""/>
                                     <input id="crop_photo_val" type="hidden" name="crop_photo_val1" value=""/>
                                     <input type="hidden" value="{{ staff_detail.id }}" name="staff_id"/>
                                    <input type="hidden" value="{{ staff_detail.user_id }}" name="user_id"/></br>
                                     <input type="button" hidden id="id_start_cropping" onclick="cropper.startCropping()"
                                                       value="Start cropping"/>
                                     <input type="button" hidden id="id_crop" value="Crop"/>
                                     <input type="button" hidden id="id_restore" onclick="cropper.restore()"
                                                       value="Restore"/>
                                    {% else %}
                                     <canvas height="190" width="180" id="PreviewPicture1" name="PreviewPicture1"  hidden></canvas>
{#                                     <div id="PreviewPicture1"></div>#}
                                     <div id="PreviewPicture"  ></div>
                                     <input type="hidden" name="profile_pic" id="setPic">
                                     <input id="id_photo1" name="photo" type="file"disabled>
                                     <input id="crop_photo_val" type="hidden" name="crop_photo_val1" value=""/>
                                      <input id="mydata" type="hidden" name="mydata" value=""/>
                                     <input type="hidden" value="{{ staff_detail.id }}" name="staff_id"/>
                                     <input type="hidden" value="{{ staff_detail.user_id }}" name="user_id"/></br>
                                     <input type="button" hidden id="id_start_cropping" onclick="cropper.startCropping()"
                                                       value="Start cropping"/>
                                     <input type="button" hidden id="id_crop" value="Crop"/>
                                     <input type="button" hidden id="id_restore" onclick="cropper.restore()"
                                                       value="Restore"/>

                                {% endif %}
                        </div>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">First Name:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only ' maxlength='255'
                                           class="form-control" id="id_first_name" name="first_name" type="text"
                                           value="{{ staff_detail.first_name }}" required disabled></div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">Middle Name:

                                </label>
                                <div class="col-md-4">
                                    {% if staff_detail.middle_name %}
                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only ' maxlength='255'
                                               class="form-control" id="id_middle_name" name="middle_name" type="text"
                                               value="{{ staff_detail.middle_name }}" disabled>
                                    {% else %}
                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only ' maxlength='255'
                                               class="form-control" id="id_middle_name" name="middle_name" type="text"
                                               value="" disabled>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Last Name:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only' maxlength='255'
                                           class="form-control" id="id_last_name" name="last_name"
                                           value="{{ staff_detail.last_name }}" type="text" disabled>


                                    {#                                    {% if staff_detail.last_name %}#}
                                    {#                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '#}
                                    {#                                               class="form-control" id="id_last_name" name="last_name" type="text"#}
                                    {#                                               value="{{ staff_detail.last_name }}" disabled>#}
                                    {#                                    {% else %}#}
                                    {#                                        <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '#}
                                    {#                                               class="form-control" id="id_last_name" name="last_name" type="text"#}
                                    {#                                               value="" disabled>#}
                                    {#                                    {% endif %}#}


                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Role:

                                </label>
                                <div class="col-md-4">
                                    <select  style="width: 200px;" multiple="multiple" class="selectfilter" data-field-name="frequency" data-is-stacked="0"   id ="id_role" name="role" disabled>
                                        {% for obj in staff_detail.role.all %}
                                            <option value="{{ obj.name }}"> {{ obj.name }}</option>
                                        {% endfor %}
                                    </select>


                                    {% comment %}<input style="color:green;" multiple="multiple" class="selectfilter" autocomplete="off" class="form-control" id="id_role"
                                           name="role" value="{{ staff_detail.role.all.0.name }}" type="text" required=""
                                           readonly="readonly">{% endcomment %}
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="">


                                <label class="col-md-2 control-label">Email :

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" class="form-control" id="id_email" name="email" maxlength='250'
                                           type="email" value="{{ staff_detail.email }}" required="" disabled>
                                    <input hidden name="email"
                                           type="email" value="{{ staff_detail.email }}">
                                </div>
                            </div>

                            <div class="">


                                <label class="col-md-2 control-label">Password:

                                </label>
                                <div class="col-md-2">
                                    <div class="wrapper">
                                    <input autocomplete="off" class="form-control" id="pwd" name="pwd" maxlength='100'
                                           type="password" value="{{ pwd }}" required="" readonly> <i class="fa fa-eye pull-right" onmouseover="myover()" onmouseout="myout()" id="view_pwd" title="View Password" style="margin-top: -25px; cursor: pointer;"></i>
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>

                        <div class="row">
                            <div class="">

                                <label class="col-md-2 control-label">Birth Date:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" class="form-control" id="id_birth_date" name="birth_date" max="9999-12-31"
                                           type="date"
                                           value="{{ staff_detail.staff_relation.all.0.birth_date|date:"Y-m-d" }}"
                                           disabled></div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">Gender:

                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 7px;">
                                    <ul id="id_gender">
                                        <li><label for="id_gender_0"><input id="id_gender_0" name="gender" type="radio"
                                                                            value="Male" {{ male }} required disabled>
                                            Male</label>
                                        </li>
                                        <li><label for="id_gender_1"><input id="id_gender_1" name="gender" type="radio"
                                                                            value="Female" {{ female }} required
                                                                            disabled> Female</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <div class="row">



                            <div class="">
                                <label class="col-md-2 control-label">Contact Number:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" onkeypress="return isNumber(event);" maxlength="16" placeholder="+XXX XXXXXXXXX"
                                           class="form-control con_num" id="id_contact_num" name="contact_num" type="text"
                                           value="{{ staff_detail.staff_relation.all.0.contact_num }}" disabled>
                                </div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">Street:

                                </label>
                                <div class="col-md-4">
                                    <textarea autocomplete="off" class="form-control" cols="40" id="id_street" maxlength="255"
                                              name="street" rows="2" title='No Format'
                                              disabled>{{ staff_detail.staff_relation.all.0.street }}</textarea>


                                </div>
                            </div>

                        </div>
                        <br>

                        <div class="row" style="margin-top: 2px;">


    {#                            <div class="">#}
    {##}
    {#                                <label class="col-md-2 control-label">Department name:#}
    {##}
    {#                                </label>#}
    {#                                <div class="col-md-4">#}
    {#                                    <select autocomplete="off" class="selectpicker  form-control"#}
    {#                                            data-live-search="true" id="id_department" name="department"#}
    {#                                            disabled>#}
    {#                                        <option style="display:none" selected="selected"#}
    {#                                                value="{{ staff_detail.staff_relation.all.0.department.id }}">{{ staff_detail.staff_relation.all.0.department }}</option>#}
    {#                                        {% for department in department_list %}#}
    {##}
    {#                                            <option value="{{ department.id }}" {{ value1 }}  >{{ department.depatment_name }}</option>#}
    {#                                        {% endfor %}#}
    {#                                    </select>#}
    {#                                </div>#}
    {##}
    {##}
    {#                            </div>#}


                            <div class="">
                                <label class="col-md-2 control-label">City:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only ' maxlength="80"
                                           class="form-control" id="id_city" name="city" type="text"
                                           value="{{ staff_detail.staff_relation.all.0.city }}" disabled>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">State:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only ' maxlength="80"
                                           class="form-control" id="id_state" name="state" type="text"
                                           value="{{ staff_detail.staff_relation.all.0.state }}" disabled>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="row" style="margin-top: 2px;">






                        </div>


                        <div class="row" style="margin-top: 15px;">


                            <div class="">
                                <label class="col-md-2 control-label">Post Code:

                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[0-9 ]+' title='Enter Numbers Only ' maxlength="8"
                                           class="form-control" id="id_postcode" name="postcode" type="text" onkeypress="return isNumber(event);"
                                           value="{{ staff_detail.staff_relation.all.0.postcode }}" disabled>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Status:

                                </label>
                                <div class="col-md-4">
                                    <input style="color:green;" autocomplete="off" class="form-control"
                                           id="id_is_active" name="is_active" type="text"
                                           value="{{ staff_detail.is_active }}" disabled readonly>
                                </div>
                            </div>


                        </div>


                        <br>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->


    </div>


    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false "
         style="margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete user details? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                    <a class=" btn red btn-outline sbold" data-toggle="modal"
                       href="{% url 'registration:delete_user' staff_detail.id %}"> Delete </a>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
