{% extends "index.html" %}
{% load staticfiles %}
{% block styleBlock %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/emailvalidation.js"></script>
    <script src="{% static 'js/webcam.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/cropper.js' %}" type="text/javascript"></script>

    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }

        input[type=file] {
            color: transparent;
        }

        li {
            display: inline;

        }

        #PreviewPicture {

            background-repeat: no-repeat;
            border: 0;
            display: inline-block;
            background-size: 70%;
        }

        #PreviewPicture1 {

            width: 180px;
            height: 180px;
            background-repeat: no-repeat;
            background-size: 70%;

        }

        .col-md-offset-3 {
            margin-left: 1%;
        }

        #gender {
            margin-top: -80px;
            margin-left: 200px
        }

        .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: #eef1f5;
        }

        .portlet.box.blue {
            border: 1px solid #eef1f5;
            border-top: 0;
        }

        .portlet > .portlet-title > .nav-tabs {
            background: 0 0;
            margin: 1px 0 0;
            float: left;
            display: inline-block;
            border: 0;
        }

        .portlet > .portlet-title > .nav-tabs > li > a {
            background: 0 0;
            margin: 5px 0 0 1px;
            border: 0;
            padding: 8px 10px;
            color: #17C4BB;
        }

        .portlet.box > .portlet-body {
            background-color: #fff;
            padding: 15px;
            margin-left: 1%;
            width: 98%;
        }

        .portlet.blue, .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: eef1f5;
        }

        #id_gender {
            list-style: none;
        }

        .disabled {

            background: #eef1f5;
            opacity: 1;

        }

        .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
            position: absolute;
            display: inline-block;
            left: 270px;
            margin-top: 5px;
        }

        body {
            font-family: Helvetica, sans-serif;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

        form > input {
            margin-right: 15px;
        }

        #results {
            float: right;
            margin: 20px;
            padding: 20px;
            border: 1px solid;
            background: #ccc;
        }


    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>


        function setup() {

            navigator.mediaDevices.getUserMedia({video: true}).then(function (stream) {
                if (stream.getVideoTracks().length > 0) {
                    $("#PreviewPicture1").css("background-image", '');
                    $("#PreviewPicture1").css("background-image", "url()");
                    $("#id_photo").val('');
                    $("#mydata").val('');

                    $("#clear").hide();
                    Webcam.reset();
                    $("#PreviewPicture").css("background-image", "url()");
                    $("#id_photo").val('');
                    $("#PreviewPicture").hide();
                    $("#PreviewPicture1").show();
                    Webcam.attach('#PreviewPicture1');
                    $("#take_snapshot_button").show();
                    $("#setup_button").hide();


                    $("#id_start_cropping").hide();
                    $("#id_crop").hide();
                    $("#id_restore").hide();

                    //code for when none of the devices are available
                } else {
                    alert("Camera Permission Denied.")// code for when both devices are available
                }

            });


        }

        function take_snapshot() {
            Webcam.snap(function (data_uri) {
                var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
                document.getElementById('mydata').value = raw_image_data;
                $("#PreviewPicture1").css("background-image", "url(" + data_uri + ")");
                Webcam.reset();
                $("#take_snapshot_button").hide();
                $("#setup_button").show();
                $("#clear").show();

            });
        }

        window.onload = function () {


            parent_name = document.getElementById("id_parent_name").value
            var url = '/school/viewParentEmail/';
            viewParentEmail(url, parent_name)


            var regex = /^[a-zA-Z ]*$/;
        $("#id_pick_up_point").focusout(function() {
              if (!(regex.test($("#id_pick_up_point").val()))) {
            alert("Please enter only charactes");
            $("#id_pick_up_point").val('')
            }
        });
        $("#id_drop_off_point").focusout(function() {
              if (!(regex.test($("#id_drop_off_point").val()))) {
            alert("Please enter only charactes");
            $("#id_drop_off_point").val('')
            }
        });

           $('input[name="transport"]').change(function(){
                if($('#id_transport_0').prop('checked')){
                     $('.transport_class').prop("disabled", true);
                }else{
                    $('.transport_class').prop("disabled", false);
                }
            });

            function validateEmail(sEmail) {
                var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

                if (filter.test(sEmail)) {
                    return true;
                }
                else {
                    return false;
                }
            }


            var dateControler = {
                currentDate: null
            }

            $(document).on("blur", "#id_birth_date", function (event, ui) {
                var now = new Date();
                now.setDate(now.getDate() - 1)
                var selectedDate = new Date($(this).val());

                if (selectedDate > now) {
                    $(this).val(dateControler.currentDate)
                    alert("Invalid Date..!")
                } else {
                    dateControler.currentDate = $(this).val();
                }


                var str = $("#id_birth_date").val();
                var sp_id = str.split("-")[0];
                if (parseInt(sp_id) < 1900) {
                    alert("Birth Year Must Be Greater or Equal Than 1900")
                    $("#id_birth_date").val('')
                    {#                    return false;#}
                }
            });


            var joiningDateControler = {
                currentDate: null
            }

            $(document).on("blur", "#id_joining_date", function (event, ui) {
                var now = new Date();
                now.setDate(now.getDate() - 1)
                var selectedDate = new Date($(this).val());


                if (selectedDate < now) {
                    $(this).val(joiningDateControler.currentDate)
                    alert("Invalid Date..!")
                } else {
                    joiningDateControler.currentDate = $(this).val();
                }

                var str = $("#id_joining_date").val();
                var sp_id = str.split("-")[0];
                if (parseInt(sp_id) < 1900) {
                    alert("Invalid Joining Date..!.")
                    $("#id_joining_date").val('')
                    {#                    return false;#}
                }
            });

            //YOUR JQUERY CODE
            $(document).ready(function () {

                var flag = false;
                var flag1 = false;
                var flag2 = false;
                var flag3 = false;
                var flag4 = false;
                $("#id_street").on("change", function () {
                    var str = $("#id_street").val().length;
                    if (parseInt(str) > 255) {
                        alert("Street Length Should Not Be More Than 255 Char.")
                        $("#id_street").css('border-color', 'red');
                        flag = true;
                        return false;
                    }
                    $("#id_street").css('border-color', '');
                    flag = false;
                });

                $("#id_state").on("change", function () {
                    var str = $("#id_state").val().length;
                    if (parseInt(str) > 80) {
                        alert("State Length Should Not Be More Than 80 Char.")
                        flag1 = true;
                        $("#id_state").css('border-color', 'red');
                        return false;
                    }
                    $("#id_state").css('border-color', '');
                    flag1 = false;
                });

                $("#id_city").on("change", function () {
                    var str = $("#id_city").val().length;
                    if (parseInt(str) > 80) {
                        alert("City Length Should Not Be More Than 80 Char.")
                        flag2 = true;
                        $("#id_city").css('border-color', 'red');
                        return false;
                    }
                    $("#id_city").css('border-color', '');
                    flag2 = false;
                });

                {#                $("#id_birth_date").on("change", function () {#}
                {#                    var TodayDate = new Date();#}
                {#                    var id_birth_date = jQuery.trim($("#id_birth_date").val());#}
                {#                    var str = $("#id_birth_date").val();#}
                {#                    var sp_id = str.split("-")[0];#}
                {#                    if (parseInt(sp_id) < 1990) {#}
                {#                        alert("Birth Year Must Be Greater or Equal Than 1900")#}
                {#                        $("#id_birth_date").val('')#}
                {#                        return false;#}
                {#                    }#}
                {#                });#}

                $("#id_postcode").on("change", function () {
                    var str = $("#id_postcode").val().length;
                    if (parseInt(str) > 8) {
                        alert("Postcode Length Should Not Be More Than 8 Char.")
                        flag3 = true;
                        $("#id_postcode").css('border-color', 'red');
                        return false;
                    }
                    $("#id_postcode").css('border-color', '');
                    flag3 = false;
                });
                {#                console.log("hiiii")#}
                $('#clear').click(function () {
                    $("#PreviewPicture1").hide();
                    setup();
                    //$('#PreviewPicture').attr('src', '');
                    $("#PreviewPicture").css("background-image", '');
                    $("#id_photo").val('');
                    $("#mydata").val('');
                    $("#clear").hide();
                });

                $("#id_parent_name").change(function () {

                    parent_name = document.getElementById("id_parent_name").value

                    console.log(parent_name)
                    var url = '/school/viewParentEmail/';
                    viewParentEmail(url, parent_name)

                });
            $("#id_drop_off_time" ).focusout(function() {
                st = minFromMidnight($('#id_pick_up_time').val());
                et = minFromMidnight($('#id_drop_off_time').val());
                if(st>et){
                alert("End time must be greater than start time");
                $('#id_drop_off_time').val('');
                }
            });
        $("#id_pick_up_time" ).focusout(function() {
            st = minFromMidnight($('#id_pick_up_time').val());
            et = minFromMidnight($('#id_drop_off_time').val());
            if(st>et){
                alert("End time must be greater than start time");
                $('#id_drop_off_time').val('');
            }
        });

        function minFromMidnight(tm){
 var ampm= tm.substr(-2)
 var clk = tm.substr(0, 5);
 var m  = parseInt(clk.match(/\d+$/)[0], 10);
 var h  = parseInt(clk.match(/^\d+/)[0], 10);
 h += (ampm.match(/pm/i))? 12: 0;
 return h*60+m;
}

                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();

                    $('#id_photo').prop("disabled", false);
                    $('#id_gender_1').prop("disabled", false);
                    $('#id_gender_0').prop("disabled", false);
                    $('#id_emirati_0').prop("disabled", false);
                    $('#id_emirati_1').prop("disabled", false);
                    $('#id_select_0').prop("disabled", false);
                    $('#id_select_1').prop("disabled", false);
                    $('#id_sen_0').prop("disabled", false);
                    $('#id_sen_1').prop("disabled", false);
                    $('#id_transport_0').prop("disabled", false);
                    $('#id_transport_1').prop("disabled", false);
                    $('.form-control').prop("disabled", false);
                    $('#id_email').prop("disabled", false);
                    $('button').removeClass('disabled');
                    $('#id_student_code').prop("disabled", true);
                    $('#id_class_name').prop("disabled", false);
                    $('#id_section_name').prop("disabled", false);
                    $('#setup_button').prop("disabled", false);
                    $('#take_snapshot_button').prop("disabled", false)
                    $('.medical').prop("disabled", true);
                    $('#clear').prop("disabled", false);
                     $('.control').prop("disabled", true);

                    var selected_radio = $('input[name=transport]:checked').val();
                    if(selected_radio=='own')
                     {
                          $('.transport_class').prop("disabled", true);

                     }

                });
                class_name = document.getElementById("id_class_name").value
                var url = '/school/viewSubject/';


                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name
                    },
                })

                    .done(
                        function (data) {
                            console.log(data);

                            for (var i = 0; i < data.length; i++) {

                                //form-0-amenities_quantity


                                $(".sub").append('<tr><td>' + "<input type='checkbox' name = 'check' value =" + data[i].id + ">" + '</td><td>' + data[i].subject + '</td><td>' + data[i].code + '</td></tr>');
                            }


                        });


                var image = $("#id_photo").attr('value');
                console.log(image)
                var Val = ("../media/".concat(image))

                console.log(Val);

                $("#PreviewPicture").css("background-image", "url(" + Val + ")");
                $("#id_photo").on("change", function () {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];// Check if File is selected, or no FileReader support
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) !== -1) {
                        console.log('if part');   //  Allow only image upload
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () { // set uploaded image data as background of div
                            $("#PreviewPicture").css("background-image", "url(" + this.result + ")");
                            $("#mydata").val(this.result);
                        }
                    }
                    else {
                        console.log('else part');
                        $('#id_photo').val('');
                        alert("Only formats are allowed : " + fileExtension.join(', '));

                    }
                });


                $("#id_class_name").click(function () {
                    $('select:first-child').css({display: none})

                });
                $("#id_photo").on("change", function () {
                    cropper.start(document.getElementById("PreviewPicture"), 1);
                    var file = document.getElementById("id_photo").files[0];
                    // get a reference to the selected file
                    var reader = new FileReader(); // create a file reader
                    // set an onload function to show the image in cropper once it has been loaded
                    reader.onload = function (event) {
                        var data = event.target.result;
                        cropper.showImage(data); // hand this to cropper, it will be displayed
                    };
                    url = reader.readAsDataURL(file);
                    $("#id_start_cropping").show();
                    $("#id_crop").show();
                    $("#id_restore").show();

                    Webcam.reset();
                    $("#PreviewPicture").show();
                    $("#PreviewPicture1").css("background-image", '');
                    $("#PreviewPicture1").hide();
                    $("#PreviewPicture1").css("background-image", "url()");
                    $("#clear").hide();


                    $("#setup_button").show();
                    $("#take_snapshot_button").hide();
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];// Check if File is selected, or no FileReader support
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        console.log('if part');
                        //$("#id_photo").val('');
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $("#PreviewPicture").css("background-image", '');
                        $("#id_photo").val('');
                        $("#mydata").val('');


                        return false;

                    }

                    else {

                        console.log('else part');   //  Allow only image upload
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () { // set uploaded image data as background of div
                            $("#PreviewPicture").css("background-image", "url(" + this.result + ")");
                        }

                    }
                });


                $("#id_academic_year").change(function () {

                    var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });

                $("#id_odoo_id").blur(function () {
                    var stud_id = document.getElementById("student_id").value;
                    var scoodo_id = jQuery.trim($(this).val())

                    var url1 = '/school/validate_update_scoodo_id/';
                    validate_update_scoodo_id(url1, scoodo_id,stud_id)
                });

                $('#id_emergency_contact_num')
                    .on('keypress', function (e) {
                        {#                        alert("dd")#}
                        var key = e.charCode || e.keyCode || 0;
                        var phone = $(this);
                        if (phone.val().length === 0) {
                            phone.val(phone.val() + '+');
                        }
                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9&& key !== 46) {
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + '');
                            }
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + ' ');
                            }

                            if (phone.val().length >= 16) {
                                phone.val(phone.val().slice(0, 16));
                            }
                        }
                        if (e.ctrlKey == true) {
                            if ($phone.val() === '+') {
                                $phone.val('');
                            }
                            if (key == 67 || key == 86 || key == 88 || key == 118 ) {
                                return true;
                            }

                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                            key == 9 ||
                            key == 46 ||key == 37 ||key == 39 ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    })


                    .on('blur', function () {
                        $phone = $(this);

                        if ($phone.val() === '+') {
                            $phone.val('');
                        }
                    });

                $("#id_class_name").change(function () {
                    var class_name = document.getElementById("id_class_name").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });

                $("#id_crop").click(function () {
                    var crop_data = cropper.getCroppedImageSrc();
                    {#             alert(crop_data);#}
                    {#              var xyz = document.getElementById("id_photo").value("uuu");#}
                    {#              alert("----"+xyz);#}

                    {#              var aa = $('#id_photo').attr('value',crop_data);#}
                    {#             alert("aa--"+$('#id_photo').val());#}

                    $('#id_photo_val').val(crop_data);
                    {#             alert("aa--"+$('#id_photo_val').val());#}
                    {#                  alert("-------"+$('#id_crop').val());#}

                });

                {% comment %}$("#setup_button").click(function () {

                    $("#id_start_cropping").hide();
                    $("#id_crop").hide();
                    $("#id_restore").hide();

                });{% endcomment %}

                $('#id_parent_mail').attr('readonly', true);
                $(document).ready(function (e) {

                    $('#update').click(function () {
                        if ((flag == true) || (flag1 == true) || (flag2 == true) || (flag3 == true)) {
                            alert("Validation Error. Please Fill Proper Data.")
                            return false;
                        }
                         var id_contact_num = jQuery.trim($("#id_emergency_contact_num").val());

                            if ((id_contact_num.length != 0) && (id_contact_num.length < 10)) {
                                alert('Please Enter 10 digit mobile number');
                                // focuses the current field.
                                return false; // stops the execution.
                            }
{#                            var selected_radio = $('input[name=transport]:checked').val();#}
{#                            if(selected_radio=='school'){#}
{#                             $('.transport_class').prop('required',true);#}
{#                    }#}
{#                        var sEmail = $('#id_email').val();#}
{#                        if (!validateEmail(sEmail)) {#}
{#                            alert('Invalid Email Address');#}
{#                            return false;#}
{#                        }#}
                    });
                });


            });
        }


        function ViewSectionDetailStudent(url, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        $('#id_section').empty();
                        $('#id_section').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                        }


                    });


        }

        function viewParentEmail(url, parent_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    parent_name: parent_name
                },
            })

                .done(
                    function (data) {

{#                        $('#id_parent_mail').val(data);#}
                        var a = $('#id_father_name').val(data[0]['parent_name']);
                        var b = $('#id_mother_name').val(data[0]['mother_name']);
                        var c = $('#id_street').val(data[0]['street']);
                        var d = $('#id_city').val(data[0]['city']);
                        var e = $('#id_postcode').val(data[0]['postcode']);
                        var f = $('#id_state').val(data[0]['state']);

                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })

                .done(
                    function (data) {
                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }

                        $('#id_class_name').prop("disabled", false);
                        $('#id_section_name').prop("disabled", false);


                    });


        }

              function validate_update_scoodo_id(url, scoodo_id,stud_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scoodo_id: scoodo_id,
                        stud_id: stud_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        if (data === true) {
                            $('#id_odoo_id').val("")
                            $('#id_odoo_id').css('border-color', 'red');
                            alert("SCODOO Id  Alredy Exist.")
                            return false;
                        }
                        $('#id_odoo_id').css('border-color', '');
                    },
                    error: function (xhr, msg, err) {
                        alert('error')
                        alert(xhr.responseJSON.error);
                    }

                });
            }

        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                        }


                    });
        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

    </script>
{% endblock %}
{% block content %}




    <form action="{% url 'registration:save_updated_student' %}" id="form_sample_1" class="form-horizontal"
          method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">
            <div class="page-bar" style="margin-bottom: 1px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'registration:home' %}">Home</a>
                        <input id="roleid" type="hidden" value="{{ roleId }}">
                        <i class="fa fa-angle-right"></i>
                    </li>

                    {% if flag_view_studenst_photo == True %}
                    <li>
                        <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                         <li>
                            <a href="{% url 'registration:view_students_photo' %}"> View Student Photos</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span> Edit-Delete Student</span>
                        </li>

                    {% elif view_missing == True %}
                    <li>
                        <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                        <li>
                            <a href="{% url 'registration:missing_profile_student' %}"> Missing Profile Students</a>
                            <i class="fa fa-angle-right"></i>
                        </li>

                        <li>
                            <span> Edit-Delete Student</span>
                        </li>
                    {% elif from_tc == True %}
                    <li>
                        <a href="{% url 'transfer_certificate:tc_detail' %}"> Transfer Certificate</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                        <li>
                            <a href="{% url 'transfer_certificate:apply_tc' %}">Request TC</a>
                            <i class="fa fa-angle-right"></i>
                        </li>

                        <li>
                            <span> Edit-Delete Student</span>
                        </li>

                    {% elif confirm_tc == True %}
                    <li>
                        <a href="{% url 'transfer_certificate:tc_detail' %}">Transfer Certificate</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                        <li>
                            <a href="{% url 'transfer_certificate:requested_tc_list' %}"> View-Confirm Student TC List</a>
                            <i class="fa fa-angle-right"></i>
                        </li>

                        <li>
                            <span> Edit-Delete Student</span>
                        </li>

                    {% else %}
                    <li>
                        <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                        <li>
                            <a href="{% url 'registration:view_student' %}"> View-Edit Student</a>
                            <i class="fa fa-angle-right"></i>
                        </li>

                        <li>
                            <span> Edit-Delete Student</span>
                        </li>
                    {% endif %}
                </ul>
            </div>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Student Details</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="button" class="btn green" id="edit">Edit</button>
                        <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
{#                    <button type="button" class="btn red" data-toggle="modal" data-target="#myModal1">Delete#}
{#                        </button>#}
                    </div>
                    <br><br>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <input type="hidden" value="{{ student_detail.id }}" id="student_id"name="student_id"/>
                        <div class="row">
                            <!--                                             <button type="button" id="clear" disabled><i class="glyphicon glyphicon-remove"></i></button>
                             --> <a hidden href="javascript:void(0);" id="clear"><span
                                class="glyphicon glyphicon-remove"></span></a>

                            <br>
                            <div class="">
                                <div class="col-md-4">
                                    <canvas height="190" width="180" id="PreviewPicture" name="PreviewPicture"></canvas>
                                    <div id="PreviewPicture1" hidden></div>
                                    <input id="id_photo_val" type="hidden" name="id_photo_val" value=""/>
                                    <br>
                                    <input id="id_photo" name="photo" type="file" value="{{ student_detail.photo }}"
                                           disabled>
                                    <input id="mydata" type="hidden" name="mydata" value=""/>
                                    <br>
                                    <input id="setup_button" type="button" value="Access Camera" onClick="setup(); "
                                           disabled style="position: absolute; margin-top: -43px; margin-left: 100px;  ">
                                    <input id="take_snapshot_button" hidden type="button" value="Take Snapshot"
                                           onClick="take_snapshot(); " disabled
                                           style="position: absolute; margin-top: -41px; margin-left: 90px;">

                                    <input type="button" hidden id="id_start_cropping" onclick="cropper.startCropping()"
                                           value="Start cropping"/>
                                    <input type="button" hidden id="id_crop" value="Crop"/>
                                    <input type="button" hidden id="id_restore" onclick="cropper.restore()"
                                           value="Restore"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">First Name:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4">
                                   <input autocomplete="off"
                                           maxlength='255'
                                           value="{{ student_detail.first_name }}" class="form-control"
                                           id="id_first_name" name="first_name" type="text" required="" disabled>
                                </div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">Middle Name:
                                </label>
                                <div class="col-md-4">
                                   <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_detail.middle_name }}" class="form-control"
                                           id="id_middle_name" name="middle_name" type="text"  disabled>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                             <div class="">
                                <label class="col-md-2 control-label">Last Name:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_detail.last_name }}" class="form-control" id="id_last_name"
                                           name="last_name" type="text"  disabled>
                                </div>
                            </div>

                                                    {% if not user.role.name == 'Parent' %}
                                <div class="">
                                    <label class="col-md-2 control-label">Parent Code:
                                    </label>
                                    <div class="col-md-4">
                                        <select autocomplete="off" class="selectpicker  form-control"
                                                data-live-search="true" id="id_parent_name" name="parent"  disabled>
                                            <option style="display:none" selected="selected"
                                                    value="{{ student_detail.parent.id }}"> {{ student_detail.parent|default_if_none:" " }}</option>
                                            {% for parent in parent_list %}
                                                <option value="{{ parent.id }}" {{ value1 }} >{{ parent.code }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% else %}
                                <div class="">
                                    <label class="col-md-2 control-label">Parent Code:
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"
                                               value="{{ student_detail.parent }}"  readonly>
                                        <input type="hidden" name="parent_name"
                                               value="{{ student_detail.parent.id }}">
                                    </div>
                                </div>
                            {% endif %}



                        </div>
                        <div class="row">
                             <div class="">
                                <label class="col-md-2 control-label">Father Name:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_detail.parent.user.first_name|default_if_none:" "  }} {{ student_detail.parent.user.middle_name|default_if_none:" "  }} {{ student_detail.parent.user.last_name|default_if_none:" "  }}" class="form-control"
                                           id="id_father_name" name="father_name" type="text"  disabled readonly>
                                </div>
                            </div>
                              <div class="">
                                <label class="col-md-2 control-label">Mother Name:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_detail.parent.mother_name|default_if_none:" " }}" class="form-control"
                                           id="id_mother_name" name="mother_name" type="text"  disabled readonly>
                                </div>
                            </div>






                        </div>
                    <div class="row">

                         <div class="">
                                <label class="col-md-2 control-label">Student Email :
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" type="email" value=" {{ student_detail.email }}"
                                           maxlength='250'
                                           class="form-control" id="id_email" name="email" type="text"
                                           disabled>
{#                                    <input autocomplete="off" type="hidden" value=" {{ student_detail.email }}"#}
{#                                           name="email">#}
                                </div>
                            </div>

                        <div class="">
                                <label class="col-md-2 control-label">Birth Date:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" value="{{ student_detail.birth_date }}" max="9999-12-31"
                                           class="form-control" id="id_birth_date" name="birth_date" type="date"
                                           required="" disabled>
                                </div>
                            </div>


                    </div>

                    <div class="row">
                         <div class="">
                                <label class="col-md-2 control-label">SCODOO Id:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4">

                                    <input autocomplete="off" class="form-control " id="id_odoo_id" maxlength="32" value="{{student_detail.odoo_id}}" name="odoo_id" type="text" disabled required readonly/>
                                </div>
                            </div>
                    </div>
                    <br>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Gender:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                                    <ul id="id_gender">
                                        <li><label for="id_gender_0"><input id="id_gender_0" name="gender" type="radio"
                                                                            value="Male" {{ male }} required disabled>
                                            Male</label>
                                        </li>
                                        <li><label for="id_gender_1"><input id="id_gender_1" name="gender" type="radio"
                                                                            value="Female" {{ female }} required
                                                                            disabled> Female</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                             <div class="">
                                <label class="col-md-2 control-label" style="margin-left:39px;">Emirati:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                                    <ul id="id_emirati">
                                        <li><label for="id_emirati_0"><input id="id_emirati_0" name="emirati" type="radio"
                                                                            value="yes" {{ emirati_yes }} required disabled>
                                            Yes</label>
                                        </li>
                                        <li><label for="id_emirati_1"><input id="id_emirati_1" name="emirati" type="radio"
                                                                            value="no" {{ emirati_no }} required
                                                                            disabled> No</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                             <div class="">
                                <label class="col-md-2 control-label">Arab:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;" >
                                    <ul id="id_select">
                                        <li><label for="id_select_0"><input id="id_select_0" name="select" type="radio"
                                                                            value="yes" {{ select_arab }} required disabled>
                                            Yes</label>
                                        </li>
                                        <li><label for="id_select_1"><input id="id_select_1" name="select" type="radio"
                                                                            value="no" {{ select_nonarab }} required
                                                                            disabled>No</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                             <div class="">
                                <label class="col-md-2 control-label" style="margin-left:39px;">SEN Child:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                                    <ul id="id_sen">
                                        <li><label for="id_sen_0"><input id="id_sen_0" name="sen" type="radio"
                                                                            value="yes" {{ sen_yes }} required disabled>
                                            Yes</label>
                                        </li>
                                        <li><label for="id_sen_1"><input id="id_sen_1" name="sen" type="radio"
                                                                            value="no" {{ sen_no }} required
                                                                            disabled> No</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            {% if not user.role.name == 'Parent' %}
                                <div class="">
                                    <label class="col-md-2 control-label">Academic Year:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup></label>
                                    <div class="col-md-4">
                                        {% comment %}<select class="selectpicker show-tick form-control" data-live-search="true"
                                                autocomplete="off" class="form-control" id="id_academic_year"
                                                name="year_name" required="" disabled>
                                            <option style="display:none" selected="selected"
                                                    value="{{ student_detail.academic_class_section.year_name.id }}">  {{ student_detail.academic_class_section.year_name }}</option>
                                            {% for academicyear in academicyr_list %}
                                                <option value="{{ academicyear.id }}" {{ value1 }} >{{ academicyear.year_name }}</option>
                                            {% endfor %}
                                        </select>{% endcomment %}

                                        <input type="text" class="form-control"
                                               value="{{ student_detail.academic_class_section.year_name }}" readonly>
                                        <input type="hidden" name="year_name"
                                               value="{{ student_detail.academic_class_section.year_name.id }}">
                                    </div>
                                </div>
                            {% else %}
                                <div class="">
                                    <label class="col-md-2 control-label">Academic Year:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"
                                               value="{{ student_detail.academic_class_section.year_name }}" readonly>
                                        <input type="hidden" name="year_name"
                                               value="{{ student_detail.academic_class_section.year_name.id }}">
                                    </div>
                                </div>
                            {% endif %}

                            <div class="">
                                <label class="col-md-2 control-label">Religion:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4">
                                    <select autocomplete="off" class="selectpicker  form-control"
                                            data-live-search="true" id="id_religion" name="religion" required=""
                                            disabled>
                                        <option style="display:none" selected="selected"
                                                value="{{ student_detail.religion.id }}"> {{ student_detail.religion }}</option>
                                        {% for religion in religion_list %}
                                            <option value="{{ religion.id }}" {{ value1 }} >{{ religion.religion_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                             </div>
{#                        {% if not user.role.name == 'Parent' %}#}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Parent Code:#}
{#                                    </label>#}
{#                                    <div class="col-md-4">#}
{#                                        <select autocomplete="off" class="selectpicker  form-control"#}
{#                                                data-live-search="true" id="id_parent_name" name="parent"  disabled>#}
{#                                            <option style="display:none" selected="selected"#}
{#                                                    value="{{ student_detail.parent.id }}"> {{ student_detail.parent|default_if_none:" " }}</option>#}
{#                                            {% for parent in parent_list %}#}
{#                                                <option value="{{ parent.id }}" {{ value1 }} >{{ parent.code }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% else %}#}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Parent Code:#}
{#                                    </label>#}
{#                                    <div class="col-md-4">#}
{#                                        <input type="text" class="form-control"#}
{#                                               value="{{ student_detail.parent }}"  readonly>#}
{#                                        <input type="hidden" name="parent_name"#}
{#                                               value="{{ student_detail.parent.id }}">#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endif %}#}
                        </div>
{#                        <div class="row">#}
{#                            <div class="">#}
{#                                <label class="col-md-2 control-label">Parent Name:#}
{#                                </label>#}
{#                                <div class="col-md-4">#}
{#                                    <input autocomplete="off" class="form-control"#}
{#                                           value="{{ student_detail.parent.user.first_name }} {{ student_detail.parent.user.last_name }}" id="id_parent_mail"#}
{#                                           name="parent_mail" type="text" disabled>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </div>#}
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Nationality:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4">
                                    <select autocomplete="off" class="selectpicker  form-control"
                                            data-live-search="true" id="id_nationality" name="nationality" required=""
                                            disabled>
                                        <option style="display:none" selected="selected"
                                                value="{{ student_detail.nationality.id }}"> {{ student_detail.nationality }}</option>
                                        {% for nationality in nationality_list %}
                                            <option value="{{ nationality.id }}" {{ value1 }} >{{ nationality.nationality_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">Street:
                                </label>
                                <div class="col-md-4">
                                    <textarea autocomplete="off" pattern='[A-Za-z0-9 ]+' title='No Format Required'
                                              maxlength="255"
                                              class="form-control" cols="40" id="id_street" name="street" rows="2"
                                               disabled> {{ student_detail.street|default_if_none:" " }} </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">City:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           value="{{ student_detail.city|default_if_none:" "}}" class="form-control" id="id_city"
                                           name="city" type="text"  disabled>
                                </div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">State:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z ]+' title='Enter Characters Only '
                                           maxlength="80"
                                           value="{{ student_detail.state|default_if_none:" "}}" class="form-control" id="id_state"
                                           name="state" type="text"  disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Postal Code:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off"  maxlength="8"

                                           value="{{ student_detail.postcode|default_if_none:" " }}" class="form-control" id="id_postcode"
                                           name="postcode" type="text"  disabled>
                                </div>
                            </div>
                            <div class="">
                                 <label class="col-md-2 control-label">Joining Date:
                                     <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                        </label>
                                        <div class="col-md-4">
                                            <input autocomplete="off" value="{{ student_detail.joining_date }}"
                                                   class="form-control" id="id_joining_date" name="joining_date"
                                                   type="date"
                                                   disabled>
                                        </div>
                            </div>
                        </div>
                    <div class="row">
                         <div class="">
                                <label class="col-md-2 control-label">House:
                                </label>
                                <div class="col-md-4">
                                    <select autocomplete="off" class="selectpicker  form-control"
                                            data-live-search="true" id="id_house_name" name="house_name"
                                            disabled>
                                        <option style="display:none" selected="selected"
                                                value="{{ student_detail.house_name.id }}"> {{ student_detail.house_name|default_if_none:" "  }}</option>
                                        {% for house_rec in house_list %}
                                            <option value="{{ house_rec.id }}" {{ value1 }} >{{ house_rec.house_name }}</option>
                                        {% endfor %}
                                    </select>
{#                                    <input type="hidden" name="house_name" value="{{ student_detail.house_name.id }}">#}
                                </div>
                            </div>
                             <div class="">
                                 <label class="col-md-2 control-label">Status:
                                        </label>
                                 {% if student_detail.is_active == True %}
                                     <div class="col-md-4">
                                         {% if status %}
                                             <input autocomplete="off" value="Active"
                                                    class="form-control control" id="id_is_active" name="is_active"
                                                    type="text"
                                                    disabled readonly>
                                         {% else %}
                                             <input autocomplete="off" value="InActive"
                                                    class="form-control control" id="id_is_active" name="is_active"
                                                    type="text"
                                                    disabled readonly>
                                         {% endif %}
                                        {% comment %} <input autocomplete="off" value="Active"
                                                class="form-control control" id="id_is_active" name="is_active"
                                                type="text"
                                                disabled readonly>{% endcomment %}
                                     </div>
                                 {% else %}
                                     <div class="col-md-4">
                                            <input autocomplete="off" value="InActive"
                                                   class="form-control control" id="id_is_active" name="is_active"
                                                   type="text"
                                                   disabled readonly>
                                        </div>
                                 {% endif %}

                            </div>

                    </div>
                    <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Emergency Contact No:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off"  title='Enter Numbers Only ' maxlength="16"

                                           value="{{ student_detail.emergency_contact_num }}" class="form-control" id="id_emergency_contact_num"
                                           name="emergency_contact_num" type="text" required="" disabled>
                                </div>
                            </div>

                        <div class="">
                                <label class="col-md-2 control-label">Roll No :
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off"  value=" {{ student_detail.roll_no }}"
                                           maxlength='250'
                                           class="form-control" id="id_roll_no" name="roll_no" type="text"
                                           disabled>
{#                                    <input autocomplete="off" type="hidden" value=" {{ student_detail.email }}"#}
{#                                           name="email">#}
                                </div>
                            </div>

                        </div>


                        <br>
                        <!-- END FORM-->

                    </div>
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>

 {# student tabs are started from here #}
        <div class="portlet box blue">
            <div class="portlet-title">
                <ul class="nav nav-tabs" style="margin-top: -30px;">

                    <li class="active">
                        <a href="#portlet_tab3" data-toggle="tab" aria-expanded="true"> Academic Details </a>
                    </li>
                    <li class="">
                        <a href="#portlet_tab1" data-toggle="tab" aria-expanded="true"> Subject Details </a>
                    </li>

                    <li class="">
                        <a href="#portlet_tab2" data-toggle="tab" aria-expanded="false"> Medical Information </a>
                    </li>

                    <li class="">
                        <a href="#portlet_tab4" data-toggle="tab" aria-expanded="false"> Student Roll No & Transport Details</a>
                    </li>

                </ul>
            </div>



            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane" id="portlet_tab1">
                        <div class="form-body">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                   id="sample_1">
                                <thead>
                                <tr>
                                    <th style="display:none;">Serial No</th>
                                    <th> Code</th>
                                    <th> Subject</th>
                                    <th> Type</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for obj in mandatory_sub %}
                                    <tr style="cursor: pointer;">
                                        <td style="display:none;">{{ forloop.counter }}</td>
                                        <td>{{ obj.subject_code }}</td>
                                        <td>{{ obj.subject_name }}</td>
                                        <td>{{ obj.type }}</td>
                                    </tr>
                                {% endfor %}

                                {% for obj in subject_details %}

                                    <tr style="cursor: pointer;">

                                        <td style="display:none;">{{ forloop.counter }}</td>
                                        <td>{{ obj.subject_code }}</td>
                                        <td>{{ obj.subject_name }}</td>
                                        <td>{{ obj.type }}</td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="tab-pane" id="portlet_tab2">
                        <div class="form-body">
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Blood Group:

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical"
                                               value="{{ medical_rec.blood_group }}" id="id_blood_group"
                                               name="blood_group"
                                               type="text" disabled></div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Height(cm.):

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical" id="id_height"
                                               value="{{ medical_rec.height }}" name="height" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Weight(kg.):

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical" id="id_weight"
                                               value=" {{ medical_rec.weight }}" name="weight" type="text" disabled>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Under Medication<br>(yes/no):

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical" id="id_under_medication"
                                               value=" {{ medical_rec.under_medication }} " name="under_medication"
                                               type="text"
                                               disabled></div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 17px;">
                                <div class="">
                                    <label class="col-md-2 control-label">Allergic for anything:

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical" id="id_allergic"
                                               value=" {{ medical_rec.allergic }}" name="allergic" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="portlet_tab4">
                        <div class="form-body">
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Student Code:

                                    </label>
                                    <div class="col-md-4">
                                        <input autocomplete="off" class="form-control medical"
                                               value="{{ student_detail.student_code }}" id="id_blood_group"
                                               name="blood_group"
                                               type="text" disabled></div>
                                </div>


                                 <div class="">
                                <label class="col-md-2 control-label" >Transport:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                </label>
                                <div class="col-md-4" >
                                    <ul id="id_transport">
                                        <li><label for="id_transport_0"><input id="id_transport_0" name="transport" type="radio"
                                                                            value="own" {{ transport_own }} required disabled>
                                            Own</label>
                                        </li>
                                        <li><label for="id_transport_1"><input id="id_transport_1" name="transport" type="radio"
                                                                            value="school" {{ transport_school }} required
                                                                            disabled> School</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

{#                                <div class="">#}
{#                                <label class="col-md-2 control-label">Transport:#}
{#                                </label>#}
{#                                <div class="col-md-4" >#}
{#                                    <ul id="id_transport1">#}
{#                                        <li><label for="id_transport_01"><input id="id_transport_01" name="transport1" type="radio"#}
{#                                                                            value="own" {{ transport_own }} required disabled>#}
{#                                            Own</label>#}
{#                                        </li>#}
{#                                        <li><label for="id_transport_11"><input id="id_transport_11" name="transport1" type="radio"#}
{#                                                                            value="school" {{ transport_school }} required#}
{#                                                                            disabled> School</label>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}

                            </div>

                            <div class="row">

                                 <div class="">
                                <label class="col-md-2 control-label">Pickup Bus No:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_detail.bus_no|default_if_none:"" }}" class="form-control transport_class"
                                           id="id_bus_no" name="bus_no" type="text"  disabled>
                                </div>
                            </div>


                                <div class="">
                                <label class="col-md-2 control-label">Pickup Time:
                                </label>
                                <div class="col-md-4">
                                    <input  autocomplete="off"
                                           maxlength='255'
                                           value="{{ student_detail.pick_up_time }}" class="form-control transport_class"
                                           id="id_pick_up_time" name="pick_up_time" type="time"  disabled>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                 <div class="">
                                <label class="col-md-2 control-label">Pick up point:
                                </label>
                                <div class="col-md-4">
                                    <textarea autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                              maxlength="255"
                                              class="form-control transport_class" cols="40" id="id_pick_up_point" name="pick_up_point" rows="2"
                                               disabled> {{ student_detail.pick_up_point|default_if_none:""  }} </textarea>
                                </div>
                            </div>

                                  <div class="">
                                <label class="col-md-2 control-label">Drop Off Bus No:
                                </label>
                                <div class="col-md-4">
                                    <input autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                           maxlength='255'
                                           value="{{ student_detail.drop_bus_no|default_if_none:""  }}" class="form-control transport_class"
                                           id="id_drop_bus_no" name="drop_bus_no" type="text" disabled>
                                </div>
                            </div>

                            </div>
                             <div class="row">
                                  <div class="">
                                <label class="col-md-2 control-label">Drop Off point:
                                </label>
                                <div class="col-md-4">
                                    <textarea autocomplete="off" pattern='[A-Za-z0-9 ]+' title='Enter Characters Only '
                                              maxlength="255"
                                              class="form-control transport_class" cols="40" id="id_drop_off_point" name="drop_off_point" rows="2"
                                               disabled> {{ student_detail.drop_off_point|default_if_none:""  }} </textarea>
                                </div>
                            </div>


                                <div class="">
                                <label class="col-md-2 control-label">Drop Off Time:
                                </label>
                                <div class="col-md-4">
                                    <input  autocomplete="off"
                                           maxlength='255'
                                           value="{{ student_detail.drop_off_time }}" class="form-control transport_class"
                                           id="id_drop_off_time" name="drop_off_time" type="time" disabled>
                                </div>
                            </div>
                             </div>




                        </div>
                    </div>



                    <div class="tab-pane active" id="portlet_tab3">
                        <div class="form-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row" style="margin-left: 0px;">
                                    <div class="row">
                            {% if not user.role.name == 'Parent' %}
                                <div class="">
                                    <label class="col-md-2 control-label">Class Name:
                                        <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="id_class_name"
                                               value="{{ student_detail.academic_class_section.class_name }}" readonly>
                                        <input type="hidden" name="class_name"
                                               value="{{ student_detail.academic_class_section.class_name.id }}">
                                        {% comment %}<select autocomplete="off" class="form-control" data-live-search="true"
                                                id="id_class_name" name="class_name" required="" disabled>
                                            <option style="display:none" selected="selected"
                                                    value="{{ student_detail.academic_class_section.class_name.id }}">{{ student_detail.academic_class_section.class_name }}</option>

                                            {% for class in class_list %}
                                                <option value="{{ class.id }}" {{ value1 }} >{{ class.class_name }}</option>
                                            {% endfor %}

                                        </select>{% endcomment %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="">
                                    <label class="col-md-2 control-label">Class Name:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="id_class_name"
                                               value="{{ student_detail.academic_class_section.class_name }}" readonly>
                                        <input type="hidden" name="class_name"
                                               value="{{ student_detail.academic_class_section.class_name.id }}">
                                    </div>
                                </div>
                            {% endif %}
                            {% if not user.role.name == 'Parent' %}
                                <div class="">
                                    <label class="col-md-2 control-label">Section:
                                        <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>

                                    </label>
                                    <div class="col-md-4">

                                        {% comment %}<select autocomplete="off" class="form-control" data-live-search="true"
                                                id="id_section_name" name="section_name" required="" disabled>
                                            <option style="display:none" selected="selected"
                                                    value="{{ student_detail.academic_class_section.section_name.id }}">{{ student_detail.academic_class_section.section_name }}</option>

                                            {% for section in section_list %}
                                                <option value="{{ section.id }}" {{ value1 }} >{{ section.section_name }}</option>
                                            {% endfor %}

                                        </select>{% endcomment %}
                                        <input type="text" class="form-control"
                                               value="{{ student_detail.academic_class_section.section_name }}"
                                               readonly>
                                        <input type="hidden" name="section_name"
                                               value="{{ student_detail.academic_class_section.section_name.id }}">
                                    </div>
                                </div>
                            {% else %}
                                <div class="">
                                    <label class="col-md-2 control-label">Section Name:
                                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"
                                               value="{{ student_detail.academic_class_section.section_name }}"
                                               readonly>
                                        <input type="hidden" name="section_name"
                                               value="{{ student_detail.academic_class_section.section_name.id }}">
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form action="{% url 'registration:viewstudent_subjectdetails' %}" method="post"
                  id="save">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select Subject</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="{{ StudentDetailsForm.id }}" name="student_id1"/>
                        <input type="hidden" value="{{ StudentDetailsForm.class_name.id }}" name="class_id"/>
                        <table class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                               id="sample_1" role="grid" aria-describedby="sample_1_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label=" Classname : activate to sort column descending"
                                    style="width: 145px;"></th>
                                <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label=" Classname : activate to sort column descending"
                                    style="width: 145px;">Code
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Actions : activate to sort column ascending" style="width: 114px;">
                                    Subject Name
                                </th>
                            </tr>
                            </thead>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn green">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% comment %}<div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form action="{% url 'registration:delete_student' %}" method="post" id="save">

                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you sure you want to delete student details?</h4>
                        <input type="hidden" value="{{ student_detail.id }}" name="student_id"/>


                    </div>
                    <div class="modal-body">


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn green">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </form>
        </div>
    </div>{% endcomment %}

{% endblock %}
<!-- BEGIN CORE PLUGINS -->


