{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <script src="{% static 'js/webcam.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/cropper.js' %}" type="text/javascript"></script>

    <style type="text/css">

        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 0px;
        }

        body {
            font-family: Helvetica, sans-serif;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

        form > input {
            margin-right: 15px;
        }

        #results {
            float: right;
            margin: 20px;
            padding: 20px;
            border: 1px solid;
            background: #ccc;
        }

        li {
            display: inline;

        }

        input[type=file] {
            color: transparent;

        }

        input[type="file"]::-webkit-file-upload-button {

        }

        #PreviewPicture {
            background-image: url("/../static/images/user.png");

            background-repeat: no-repeat;
            background-size: 70%;

        }

        #PreviewPicture1 {

            width: 180px;
            height: 190px;
            background-repeat: no-repeat;
            background-size: 70%;

        }

        .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
            background-color: #eef1f5;
        }

        .portlet.box.blue {
            border: 1px solid #eef1f5;
            border-top: 0;
        }

        .portlet > .portlet-title > .nav-tabs {
            background: 0 0;
            margin: 1px 0 0;
            float: left;
            display: inline-block;
            border: 0;
        }

        .portlet > .portlet-title > .nav-tabs > li > a {
            background: 0 0;
            margin: 5px 0 0 1px;
            border: 0;
            padding: 8px 10px;
            color: #17C4BB;
        }

        #id_gender {
            list-style: none;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}
    <script language="JavaScript">

        function setup() {
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {

                navigator.mediaDevices.getUserMedia({video: true}).then(function (stream) {
                    if (stream.getVideoTracks().length > 0) {

                        $("#PreviewPicture1").css("background-image", '');
                        $("#PreviewPicture1").css("background-image", "url()");
                        $("#id_photo").val('');
                        $("#mydata").val('');

                        $("#clear").hide();
                        Webcam.reset();
                        $("#PreviewPicture").css("background-image", "url()");
                        $("#PreviewPicture").hide();

                        $("#PreviewPicture1").show();
                        $("#id_photo").val('');
                        Webcam.attach('#PreviewPicture1');
                        $("#take_snapshot_button").show();

                        $('#take_snapshot_button').css({
                            'position': 'absolute',
                            'margin-top': '-41px',
                            'margin-left': '100px',
                        });


                        $("#access_camera").hide();

                        $("#id_start_cropping").hide();
                        $("#id_crop").hide();
                        $("#id_restore").hide();


                        $('#take_snapshot_button').attr('class', 'btn green')
                        $('#take_snapshot_button').css({
                            'position': 'absolute',
                            'margin-top': '-53px',
                            'margin-left': '230px',
                        });
                        //code for when none of the devices are available
                    } else {
                        alert("Camera Permission Denied.")// code for when both devices are available
                    }

                });
            }
        }


        function take_snapshot() {

            Webcam.snap(function (data_uri) {
                raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
                document.getElementById('mydata').value = raw_image_data;

                $("#PreviewPicture1").css("background-image", "url(" + data_uri + ")");

                Webcam.reset();
                $("#take_snapshot_button").hide();
                $('#access_camera').css({
                    'position': 'absolute',
                    'margin-top': '-0px',
                    'margin-left': '70px',


                });
                $("#access_camera").show();
                $('#take_snapshot_button').css({
                    'position': 'absolute',
                    'margin-top': '-53px',
                    'margin-left': '100px',
                });

                $("#clear").show();
            });

        }


        window.onload = function () {

            if ($('#id_transport_0').prop('checked')) {
                    $('.transport_class').prop("disabled", true);
                    {#            alert('Option 1 is checked!');#}
                } else {
                    $('.transport_class').prop("disabled", false);


                    {#            alert('Option 1 is unchecked!');#}
                }
            {#             $("#id_drop_off_time").timepicker();#}
            {#             $('#id_drop_off_time').clockface();#}


            {#            $('#id_drop_off_time').timepicker();#}
            {#            $('#id_drop_off_time').click(function(){#}
            {#                $('#id_drop_off_time').timepicker();#}
            {#            });#}

            $('input[name="transport"]').change(function () {
                if ($('#id_transport_0').prop('checked')) {
                    $('.transport_class').prop("disabled", true);
                    {#            alert('Option 1 is checked!');#}
                } else {
                    $('.transport_class').prop("disabled", false);
                    {#            alert('Option 1 is unchecked!');#}
                }
            });

            var class_name = document.getElementById("id_class_name").value;
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }
            var section_name = document.getElementById("id_section_name").value;
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            $("#id_start_cropping").click(function (event) {
                cropper.start(document.getElementById("PreviewPicture"), 1);
                var file = document.getElementById("PreviewPicture1").files;
                // get a reference to the selected file

                var reader = new FileReader(); // create a file reader
                // set an onload function to show the image in cropper once it has been loaded
                reader.onload = function (event) {
                    var data = event.target.result;
                    {#					alert(data);// the "data url" of the image#}
                    cropper.showImage(data); // hand this to cropper, it will be displayed
                };
                {#                var abcde = cropper.getCroppedImageSrc()#}
                {#                  alert("abcde--"+abcde);#}
                reader.readAsDataURL(file);
            });
            $("#id_drop_off_time" ).focusout(function() {
                st = minFromMidnight($('#id_pick_up_time').val());
                et = minFromMidnight($('#id_drop_off_time').val());
                if(st>et){
                alert("End time must be greater than start time");
                $('#id_drop_off_time').val('');
                }
            });
        $("#id_pick_up_time" ).focusout(function() {
            st = minFromMidnight($('#id_pick_up_time').val());
            et = minFromMidnight($('#id_drop_off_time').val());
            if(st>et){
                alert("End time must be greater than start time");
                $('#id_drop_off_time').val('');
            }
        });

        function minFromMidnight(tm){
 var ampm= tm.substr(-2)
 var clk = tm.substr(0, 5);
 var m  = parseInt(clk.match(/\d+$/)[0], 10);
 var h  = parseInt(clk.match(/^\d+/)[0], 10);
 h += (ampm.match(/pm/i))? 12: 0;
 return h*60+m;
}

        var regex = /^[a-zA-Z ]*$/;
        $("#id_pick_up_point").focusout(function() {
              if (!(regex.test($("#id_pick_up_point").val()))) {
            alert("Please enter only charactes");
            $("#id_pick_up_point").val('');
            }
        });
        $("#id_drop_off_point").focusout(function() {
              if (!(regex.test($("#id_drop_off_point").val()))) {
            alert("Please enter only charactes");
            $("#id_drop_off_point").val('');
            }
        });

            $('#id_student_code').attr('readonly', true);
            $('#id_parent_mail').attr('readonly', true);
            $('#id_father_name').attr('readonly', true);
            $('#id_mother_name').attr('readonly', true);
            var dateControler = {
                currentDate: null
            }

            $(document).on("blur", "#id_birth_date", function (event, ui) {
                {#             number_of_words_counter = function () {#}
                var now = new Date();
                now.setDate(now.getDate() - 1)
                var selectedDate = new Date($(this).val());

                if (selectedDate > now) {
                    $(this).val(dateControler.currentDate)
                    alert("Invalid Date..!")
                } else {
                    dateControler.currentDate = $(this).val();
                }

                function reverse(s) {
                    {#                    alert(s.split("").reverse().join(""));#}
                    console.log(s.split("").reverse().join(""));
                    return s.split("").reverse().join("");
                }

                var str = $("#id_birth_date").val();
                var sp_id = str.split("-")[0];
                console.log(sp_id);
                if (parseInt(sp_id) < 1900) {
                    alert("Birth Year Must Be Greater or Equal Than 1900")
                    $("#id_birth_date").val('')
                    {#                    return false;#}
                }
            });

            var joiningDateControler = {
                currentDate: null
            }


            $(document).on("blur", "#id_joining_date", function (event, ui) {
                var now = new Date();
                now.setDate(now.getDate() - 1)
                var selectedDate = new Date($(this).val());

                if (selectedDate < now) {
                    $(this).val(joiningDateControler.currentDate)
                    alert("Invalid Joining Date..!.")
                } else {
                    joiningDateControler.currentDate = $(this).val();
                }

                var str = $("#id_joining_date").val();
                var sp_id = str.split("-")[0];
                if (parseInt(sp_id) < 1900) {
                    alert("Invalid Joining Date..!.")
                    $("#id_joining_date").val('')
                    {#                    return false;#}
                }
            });


            //YOUR JQUERY CODE
            $(document).ready(function () {
                {#                console.log("hiiii")#}


                function validateEmail(sEmail) {
                    var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

                    if (filter.test(sEmail)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }


                $("#id_academic_year").change(function () {

                    console.log("in ajax")
                    academic_year = document.getElementById("id_academic_year").value;
                    console.log(academic_year)


                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });


                $('.viewOnlyAccess').prop("disabled", true);
                $("#id_parent").change(function () {

                    parent_name = document.getElementById("id_parent").value;

                    console.log(parent_name)
                    var url = '/school/viewParentEmail/';
                    viewParentEmail(url, parent_name)

                });

                {% comment %}
                        $('#id_birth_date').on("change",function(){
                            var TodayDate = new Date();
                            var id_birth_date = jQuery.trim($("#id_birth_date").val());
                            {#        	console.log("TodayDate",TodayDate)#}
                {#			 console.log("id_birth_date",id_birth_date)#}

                        });{% endcomment %}


                var flag = false;
                var flag1 = false;
                var flag2 = false;
                var flag3 = false;
                var flag4 = false;
                $("#id_street").on("change", function () {
                    var str = $("#id_street").val().length;
                    if (parseInt(str) > 255) {
                        alert("Street Length Should Not Be More Than 255 Char.")
                        $("#id_street").css('border-color', 'red');
                        flag = true;
                        return false;
                    }
                    $("#id_street").css('border-color', '');
                    flag = false;
                });

                $("#id_state").on("change", function () {
                    var str = $("#id_state").val().length;
                    if (parseInt(str) > 80) {
                        alert("State Length Should Not Be More Than 80 Char.")
                        flag1 = true;
                        $("#id_state").css('border-color', 'red');
                        return false;
                    }
                    $("#id_state").css('border-color', '');
                    flag1 = false;
                });

                $("#id_city").on("change", function () {
                    var str = $("#id_city").val().length;
                    if (parseInt(str) > 80) {
                        alert("City Length Should Not Be More Than 80 Char.")
                        flag2 = true;
                        $("#id_city").css('border-color', 'red');
                        return false;
                    }
                    $("#id_city").css('border-color', '');
                    flag2 = false;
                });

                {#                $("#id_birth_date").on("change", function () {#}
                {#                    var TodayDate = new Date();#}
                {#                    var id_birth_date = jQuery.trim($("#id_birth_date").val());#}
                {#              alert($("#id_birth_date").val())#}
                {#                    var str = $("#id_birth_date").val();#}
                {#                    var sp_id = str.split("-")[0];#}
                {#                    if (parseInt(sp_id) < 1990) {#}
                {#                        alert("Birth Year Must Be Greater or Equal Than 1900")#}
                {#                        $("#id_birth_date").val('')#}
                {#                        return false;#}
                {#                    }#}
                {#                });#}

                $("#id_postcode").on("change", function () {
                    var str = $("#id_postcode").val().length;
                    if (parseInt(str) > 8) {
                        alert("Postcode Length Should Not Be More Than 8 Char.")
                        flag3 = true;
                        $("#id_postcode").css('border-color', 'red');
                        return false;
                    }
                    $("#id_postcode").css('border-color', '');
                    flag3 = false;
                });
                
                $('#id_email').blur(function (e) {
                    $(this).val(jQuery.trim($(this).val()));
                })


                $("#id_odoo_id").blur(function () {
                    var scoodo_id = jQuery.trim($(this).val())

                    var url1 = '/school/validate_scoodo_id/';
                    validate_scoodo_id(url1, scoodo_id)
                });

                $('#id_emergency_contact_num')
                    .on('keypress', function (e) {
                        {#                        alert("dd")#}
                        var key = e.charCode || e.keyCode || 0;
                        var phone = $(this);
                        if (phone.val().length === 0) {
                            phone.val(phone.val() + '+');
                        }
                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9) {
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + '');
                            }
                            if (phone.val().length === 4) {
                                phone.val(phone.val() + ' ');
                            }

                            if (phone.val().length >= 16) {
                                phone.val(phone.val().slice(0, 16));
                            }
                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                            key == 9 ||
                            key == 46 ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    })


                    .on('blur', function () {
                        $phone = $(this);

                        if ($phone.val() === '+') {
                            $phone.val('');
                        }
                    });
                $("#btn_save").click(function (event) {

                    var sEmail = $('#id_email').val();
                    {#                    console.log('sEmail', sEmail);#}
                    if (!validateEmail(sEmail) && (!sEmail == 0)) {
                        alert('Invalid Email Address');
                        return false;
                    }

                    if ((flag == true) || (flag1 == true) || (flag2 == true) || (flag3 == true)) {
                        alert("Validation Error. Please Fill Proper Data.")
                        return false;
                    }
                    var id_contact_num = jQuery.trim($("#id_emergency_contact_num").val());

                            if ((id_contact_num.length != 0) && (id_contact_num.length < 10)) {
                                alert('Please Enter 10 digit mobile number');
                                // focuses the current field.
                                return false; // stops the execution.
                            }


                    var scoodo_id = jQuery.trim($(this).val())
                    if(scoodo_id!='')
                    {
{#                        alert()#}

                    var url1 = '/school/validate_scoodo_id/';
                    validate_scoodo_id(url1, scoodo_id)
                    }

                });
{#                    var scoodo_id = jQuery.trim($(this).val())#}
{##}
{#                    var url1 = '/school/validate_scoodo_id/';#}
{#                    validate_scoodo_id(url1, scoodo_id)#}
{#                 $('.transport_class').prop('required',true);#}

                $('#clear').click(function () {
                    //$('#PreviewPicture').attr('src', '');
                    $("#PreviewPicture1").hide();
                    setup();
                    $('#take_snapshot_button').css({
                        'position': 'absolute',
                        'margin-top': '-53px',
                        'margin-left': '230px',
                    });


                    $("#PreviewPicture").css("background-image", '');
                    $("#PreviewPicture").css("background-image", "url()");
                    $("#id_photo").val('');
                    $("#mydata").val('');
                    $("#clear").hide();

                    // clear the src or remove the img tag and regenerate it.
                });


                var count = 0;

                {#                $('#access_camera').click(function () {#}
                {#                    alert("ass")#}
                {#                    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {#}
                {##}
                {#                        navigator.mediaDevices.getUserMedia({video: true}).then(function (stream) {#}
                {#                            if (stream.getVideoTracks().length > 0) {#}
                {#                                alert("chk1")#}
                {##}
                {#                                count++;#}
                {#                    $("#id_start_cropping").hide();#}
                {#                    $("#id_crop").hide();#}
                {#                    $("#id_restore").hide();#}
                {##}
                {##}
                {#                    $('#take_snapshot_button').attr('class', 'btn green')#}
                {#                    $('#take_snapshot_button').css({#}
                {#                        'position': 'absolute',#}
                {#                        'margin-top': '-53px',#}
                {#                        'margin-left': '230px',#}
                {#                    });#}
                {#                                //code for when none of the devices are available#}
                {#                            } else {#}
                {#                                alert("Camera Permission Denied.")// code for when both devices are available#}
                {#                            }#}
                {##}
                {#                        });#}
                {#                    }#}
                {#                });#}

                $("#id_crop").click(function () {
                    var crop_data = cropper.getCroppedImageSrc();
                    $('#id_photo_val').val(crop_data);
                });

                $("#id_photo").on("change", function () {
                    $("#PreviewPicture").show();
                    $("#PreviewPicture1").css("background-image", '');
                    $("#PreviewPicture1").hide();
                    $("#PreviewPicture1").css("background-image", "url()");
                    $("#clear").hide();
                    $('#access_camera').css({
                        'position': 'absolute',
                        'margin-top': '0px',
                        'margin-left': '70px',


                    });

                    cropper.start(document.getElementById("PreviewPicture"), 1);
                    var file = document.getElementById("id_photo").files[0];
                    // get a reference to the selected file
                    var reader = new FileReader(); // create a file reader
                    // set an onload function to show the image in cropper once it has been loaded
                    reader.onload = function (event) {
                        var data = event.target.result;
                        {#					alert(data);// the "data url" of the image#}
                        cropper.showImage(data); // hand this to cropper, it will be displayed
                    };
                    {#                var abcde = cropper.getCroppedImageSrc()#}
                    {#                  alert("abcde--"+abcde);#}
                    reader.readAsDataURL(file);

                    Webcam.reset();
                    {#                    if (count > 0) {#}
                    {#                        $('#access_camera').css({#}
                    {#                            'position': 'absolute',#}
                    {#                            'margin-top': '-66px',#}
                    {#                            'margin-left': '100px',#}
                    {#                        });#}
                    {#                    }#}
                    {#                    else {#}
                    {#                        $('#access_camera').css({#}
                    {#                            'position': 'absolute',#}
                    {#                            'margin-top': '-41px',#}
                    {#                            'margin-left': '-120px',#}
                    {#                        });#}
                    {#                    }#}
                    $("#access_camera").show();
                    $('#id_start_cropping').attr('class', 'btn green')
                    $('#id_crop').attr('class', 'btn green')
                    $('#id_restore').attr('class', 'btn green')
                    $("#id_start_cropping").css({
                        'margin-left': '90px'
                    })


                    $("#take_snapshot_button").hide();
                    var files = !!this.files ? this.files : [];

                    if (!files.length || !window.FileReader) return; // Check if File is selected, or no FileReader support
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) !== -1) { //  Allow only image upload
                        var ReaderObj = new FileReader(); // Create instance of the FileReader
                        ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                        ReaderObj.onloadend = function () { // set uploaded image data as background of div
                            $("#PreviewPicture").css("background-image", "url(" + this.result + ")");
                        }
                    } else {
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                    }
                    $("#id_start_cropping").show();
                    $("#id_crop").show();
                    $("#id_restore").show();
                });
            });

            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });
        }

        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })

                .done(
                    function (data) {
                        console.log(data);

                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }
                    });
        }

        function viewParentEmail(url, parent_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    parent_name: parent_name

                },
            })

                .done(
                    function (data) {
{#                        alert(data[0])#}
                        var a = $('#id_father_name').val(data[0]['parent_name']);
                        var b = $('#id_mother_name').val(data[0]['mother_name']);
                        var c = $('#id_street').val(data[0]['street']);
                        var d = $('#id_city').val(data[0]['city']);
                        var e = $('#id_postcode').val(data[0]['postcode']);
                        var f = $('#id_state').val(data[0]['state']);
                    });
        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {
                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                        }
                    });
        }

        function validate_scoodo_id(url, scoodo_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        scoodo_id: scoodo_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        if (data === true) {
{#                            alert('True');#}

                            $('#id_odoo_id').val("")
                            $('#id_odoo_id').css('border-color', 'red');
                            alert("SCODOO Id  Alredy Exist.")
                            return false;

{#                            $("#btn_save").attr("disabled", false);#}
                        }
                        else{
{#                            alert('False');#}
{#                            $('#id_odoo_id').val("")#}
                             $('#id_odoo_id').css('border-color', '');
                        }



{#                        $("#btn_save").attr("disabled", true);#}
                    },
                    error: function (xhr, msg, err) {
                        alert('error')
                        alert(xhr.responseJSON.error);
                    }

                });
            }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

    </script>



{% endblock %}


{% block content %}



    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:parents_students' %}"> Parents & Students </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>


            <li>

                <span>Add Student</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Student Details</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form action="{% url 'registration:save_student' %}" id="form_sample_1" onsubmit="btn_save.disabled = true; return true;"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">


                {% csrf_token %}

                <div class="form-body">

                    <div class="row">
                        <div class="col-md-12" style="margin-left:-100px">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a hidden href="javascript:void(0);" id="clear"><span
                                                class="glyphicon glyphicon-remove"></span></a>

                                        <canvas id="PreviewPicture" width="180" height="190"
                                                style="margin-left: 50px;"></canvas>
                                        <div id="PreviewPicture1" hidden></div>
                                        <br>

                                        <input id="mydata" type="hidden" name="mydata" value=""/>
                                        <input id="id_photo_val" type="hidden" name="id_photo_val" value=""/>
                                        {{ student_detail_form.id }}
                                    </div>
                                </div>


                                {#                                                    <input id="id_photo" class='btn btn-primary'  size="100px" name="photo" type="file" />#}
                                <div class="row">
                                    <div class="col-md-2" style="position:relative;">
                                        <a class='btn green' href='javascript:;'>
                                            Choose File...
                                            <input id="id_photo" type="file"
                                                   style='width: 100px; position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;'
                                                   name="photo" size="40">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" class="btn green" id="access_camera" value="Access Camera"
                                               onClick="setup();" style='position:absolute;margin-left: 70px; '>
                                    </div>
                                </div>
                                <br>
                                <input type="button" hidden id="id_start_cropping" onclick="cropper.startCropping()"
                                       value="Start cropping"/>
                                <input type="button" hidden id="id_crop" value="Crop"/>
                                <input type="button" hidden id="id_restore" onclick="cropper.restore()"
                                       value="Restore"/>

                                <input type="button" hidden id="take_snapshot_button" value="Take Snapshot" onClick="take_snapshot();" style="position: absolute; margin-top: -41px; margin-left: -130px;  ">

                            </div>
                        </div>


                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-2 control-label">First Name:
                            <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>

                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.first_name }} </div>
                    </div>
                     <div class="">
                        <label class="col-md-2 control-label">Middle Name:

                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.middle_name }} </div>
                    </div>


                </div>
                <br>

                <div class="row">

                      <div class="">
                        <label class="col-md-2 control-label">Last Name:

                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.last_name }} </div>
                    </div>

                    <div class="">
                        <label for="basic" class="col-md-2 control-label">Parent
                            Code:</label>
                        <div class="col-md-4">
                            {{ student_detail_form.parent }}
                        </div>
                    </div>




                </div>
                <br>
            <div class="row">

                <div class="">
                        <label class="col-md-2 control-label">Father Name:

                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.father_name }}  </div>
                    </div>

                 <div class="">
                        <label class="col-md-2 control-label">Mother Name:

                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.mother_name }}  </div>
                    </div>


            </div>
            <br>

                <div class="row">




                    <div class="">
                        <label class="col-md-2 control-label">Student Email :
                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.email }}  </div>
                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Joining Date:
                            <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.joining_date }}  </div>
                    </div>

                </div>
            <br>

                <div class="row">

                     <div class="">
                        <label class="col-md-2 control-label">SCODOO Id:
                            <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>

                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.odoo_id }} </div>
                    </div>

                </div>


                <hr>

                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-2 control-label">Emirati:
                            <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>

                        </label>
                        <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                            {{ student_detail_form.emirati }}  </div>
                    </div>

                    <div class="">
                        <label  class="col-md-2 control-label">Arab:<sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>

                        </label>
                        <div class="col-md-4" style="margin-top: 6px;" >
                            {{ student_detail_form.select }}  </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-2 control-label">SEN Child:
                            <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                        </label>
                        <div class="col-md-4" style="margin-left:-39px;margin-top: 6px;">
                            {{ student_detail_form.sen }}  </div>
                    </div>

                    <div class="">
                        <label  class="col-md-2 control-label">Gender:<sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>

                        </label>
                        <div class="col-md-4" style="margin-top: 6px;">
                            {{ student_detail_form.gender }}  </div>
                    </div>
                </div>
                <hr>

                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-2 control-label">Birth Date:
                            <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.birth_date }}  </div>
                    </div>
                    <div class="">
                        <label class="col-md-2 control-label">Student Code:
                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.student_code }} </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label for="basic" class="col-md-2 control-label">Academic Year:
                        <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup></label>
                        <div class="col-md-4">
                            <select autocomplete="off" class="form-control"
                                    data-live-search="true" id="id_academic_year"
                                    name="year_name" required>
                                <option style="display:none" selected="selected"
                                        value="{{ selected_year_id }}"> {{ selected_year_name }}</option>
                                {% for year in academic_year %}
                                    <option value="{{ year.id }}">{{ year.year_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="">
                        <label for="basic" class="col-md-2 control-label">Class
                            Name:
                        <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup></label>

                        <div class="col-md-4">
                            <select autocomplete="off" class="form-control"
                                    data-live-search="true" id="id_class_name"
                                    name="class_name" required="">
                                <option style="display:none" selected="selected"
                                        value="{{ selected_class.id }}"> {{ selected_class.class_name }}</option>
                                {% for class in ClassDetails %}
                                    <option value="{{ class.id }}">{{ class.class_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-2 control-label">Section:
                            <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                        </label>
                        <div class="col-md-4">
                            <select autocomplete="off" class="form-control"
                                    id="id_section_name" name="section_name" required="">
                                <option style="display:none" selected="selected"
                                        value="{{ selected_section.id }}"> {{ selected_section.section_name }}</option>
                                {% for section in SectionDetails %}
                                    <option value="{{ section.id }}">{{ section.section_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="">
                        <label for="basic"
                               class="col-md-2 control-label">House:</label>
                        <div class="col-md-4">
                            {{ student_detail_form.house_name }}
                        </div>
                    </div>
                </div>
{#                <br>#}
{##}
{#                <div class="row">#}
{#                    <div class="">#}
{#                        <label for="basic" class="col-md-2 control-label">Parent#}
{#                            Code:</label>#}
{#                        <div class="col-md-4">#}
{#                            {{ student_detail_form.parent }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="">#}
{#                        <label class="col-md-2 control-label">Parent Name:#}
{#                        </label>#}
{#                        <div class="col-md-4">#}
{#                            {{ student_detail_form.parent_mail }}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <br>

                <div class="row">
                    <div class="">
                        <label for="basic"
                               class="col-md-2 control-label">Nationality:
                        <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup></label>
                        <div class="col-md-4">
                            {{ student_detail_form.nationality }}
                        </div>
                    </div>
                    <div class="">
                        <label for="basic"
                               class="col-md-2 control-label">Religion:
                        <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup></label>
                        <div class="col-md-4">
                            {{ student_detail_form.religion }}
                        </div>
                    </div>
                </div>
        <br>
        <div class="row">
            <div class="">
                <label class="col-md-2 control-label">Street:
                </label>
                <div class="col-md-4">
                    {{ student_detail_form.street }}  </div>
            </div>
            <div class="">
                <label class="col-md-2 control-label">City:
                </label>
                <div class="col-md-4">
                    {{ student_detail_form.city }}  </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="">
                <label class="col-md-2 control-label">Postal Code:
                </label>
                <div class="col-md-4">
                    {{ student_detail_form.postcode }}  </div>
            </div>

            <div class="">
                <label class="col-md-2 control-label">State:
                </label>
                <div class="col-md-4">
                    {{ student_detail_form.state }}  </div>
            </div>
        </div>
            <div class="row" style="margin-top: 15px;">
            <div class="">
                <label class="col-md-2 control-label">Emergency Contact No:
                    <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>
                </label>
                <div class="col-md-4">
                    {{ student_detail_form.emergency_contact_num }}  </div>
            </div>

                <div class="">
                        <label class="col-md-2 control-label">Roll No:

                        </label>
                        <div class="col-md-4">
                            {{ student_detail_form.roll_no }} </div>
                    </div>


        </div>

        <br>

        <div class="portlet box blue">
            <div class="portlet-title">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#portlet_tab3" data-toggle="tab" aria-expanded="true"> Transport Details </a>
                    </li>


                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">

                    <div class="tab-pane active" id="portlet_tab3">

                        <div class="form-body">
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Select Transport:
                                        <sup><i class="fa fa-asterisk" style="font-size:70%;color:red"></i></sup>

                                    </label>
                                    <div class="col-md-4" style="margin-left:-39px;margin-top: 3px;">
                                        {{ student_detail_form.transport }}  </div>
                                </div>

                            </div>
                            <br>
                            <div class=" row">
                                <div class="">
                                    <label class="col-md-2 control-label">Pickup Bus No:

                                    </label>

                                    <div class=" col-md-4" title='Select pick up bus no'>
                                        {{ student_detail_form.bus_no }}  </div>


                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Pickup Time:

                                    </label>


                                    <div class="col-md-4" title='Select pick up time'>
                                        {{ student_detail_form.pick_up_time }}  </div>
                                </div>

                            </div>
                            <br>
                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">Pick up point:
                                    </label>
                                    <div class="col-md-4" title='Enter pick up point'>
                                        {{ student_detail_form.pick_up_point }}  </div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Drop Off Bus No:

                                    </label>


                                    <div class="col-md-4" title='Enter drop off bus no.'>
                                        {{ student_detail_form.drop_bus_no }}  </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Drop Off point:
                                    </label>
                                    <div class="col-md-4" title='Enter drop off point'>
                                        {{ student_detail_form.drop_off_point }}  </div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Drop Off Time:
                                    </label>
                                    <div class="col-md-4" title='Enter drop off time'>
                                        {{ student_detail_form.drop_off_time }}  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-5 col-md-7">
                    <button id="btn_save" name="btn_save" type="submit" class="btn green">Save</button>
                    <a href="{% url 'registration:parents_students' %}">
                        <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                    </a>
                </div>
            </div>

        </div>
        </form>
        <!-- END FORM-->
    </div>
    </div>
    <!-- END VALIDATION STATES-->

{% endblock %}

<!-- BEGIN CORE PLUGINS -->
       
