{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>

    </style>
{% endblock %}


{% block ScriptBlock %}

    <script>

        window.onload = function () {


            {#            var academic_year = document.getElementById("id_academic_year").value;#}
            {#            var url1 = '/school/viewAcademicDetails/';#}
            {#            viewAcademicDetails(url1, academic_year)#}

            var class_name = document.getElementById("id_class_name").value;
            var section_name = document.getElementById("id_section_name").value;
            var id_gender = document.getElementById("id_gender").value;

            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
            }
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
            }
             if (id_gender == '') {
                $('#id_gender').val($('#id_gender'));
                $('#id_gender').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
            }


            $("#id_academic_years").change(function () {
                var academic_year = document.getElementById("id_academic_years").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year);
            });


            $("#id_class_name").change(function () {
                var academic_year = document.getElementById("id_academic_years").value;
                var class_name = document.getElementById("id_class_name").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailAttendance(url, academic_year, class_name);
                {#                document.getElementById("attendanceYear").value = academic_year;#}
            });

            $("#go1").click(function (event) {

                var id_house_name = $('#id_house_name').val();
{#                alert('id_house_name'+id_house_name);#}
{#                return false;#}
                yy = document.getElementById("id_hos").value = id_house_name;



                $('#form_sample_2').submit();
            });


            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }

        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {
                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="All">All</option>');
                    for (var i = 0; i < data.length; i++) {

                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }
                });
        }

        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }

        function ViewSectionDetailAttendance(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                        }


                    });


        }


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>View-Edit Student</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> MANAGE STUDENT DETAILS</span>
            </div>

{#            <form action="{% url 'registration:export_bulk_student' %}" id="form_sample_1" class="form-horizontal"#}
{#                  method="POST" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{##}
{##}
{##}
{#                {% if not user.role.name == 'Parent' %}#}
{#                    <div class="col-md-2">#}
{##}
{##}
{#                        <button type="submit" class="btn blue btn-block" id="export" style="margin-left: 750px;">Bulk#}
{#                            Export#}
{#                        </button>#}
{##}
{#                    </div>#}
{#                {% endif %}#}
{#            </form>#}
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'registration:view_filter_student_profile_list' %}" id=" form_sample_1 ">
                    {% csrf_token %}

                    <div class="row">


                        <div class="col-md-2">
                            <h4> Academic Years </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_years" name="year_name" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_year_id }}"> {{ selected_year_name }}</option>
                                    {% for year in academic_year %}
                                        <option value="{{ year.id }}">{{ year.year_name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="year_name" value="{{ selected_year_id }}">
                                <div id='id_academic_years_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select academic year
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_class_id }}"> {{ selected_class_name }}</option>
                                    {% for class in ClassDetails %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                                        {{ ClassSection.class_name }}#}
                                <div id='id_class_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select class
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_section_id }}"> {{ selected_section_name }}</option>
                                    {% for section in SectionDetails %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                                        {{ ClassSection.section_name }}#}
                                <div id='id_section_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select section
                                </div>
                            </div>
                        </div>

{#                     <div class="col-md-2">#}
{#                            <h4> House </h4>#}
{#                            <div class="">#}
{#                                <select autocomplete="off" class="form-control" id="id_house_name"#}
{#                                        name="house_name">#}
{#                                    {% if selected_house_id %}#}
{#                                        <option style="display: none" value="{{ selected_house_id }}"#}
{#                                                selected="selected">{{ selected_house_name }}</option>#}
{#                                        <option value="All">All</option>#}
{#                                    {% else %}#}
{#                                        <option style="display: none" value="{{ selected_house_id }}"#}
{#                                                selected="selected">{{ selected_house_name }}</option>#}
{#                                        <option value="All" selected="selected">All</option>#}
{#                                    {% endif %}#}
{##}
{#                                    {% for house_rec in house_list %}#}
{#                                        <option value="{{ house_rec.id }}">{{ house_rec.house_name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
                      <div class="col-md-2" >
                            <h4> Gender </h4>


                            <div>
                                <select id="id_gender" name="gender_name" class="form-control" data-live-search="true" autocomplete="off"
                                        class="form-control" id="id_type" name="type" >
                                    {% if selected_gender_name_id %}
                                     <option style="display:none" selected="selected"
                                            value="{{ selected_gender_name_id }}"> {{ selected_gender_name }}</option>
                                    <option value="All">All</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    {% else %}
                                        <option value="All">All</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>



                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top : 38px;"> GO
                            </button>
                        </div>


                        <div class="col-md-2">
                            <button type="button" class="btn blue btn-block" id="go1" style="margin-top : 38px;"> Export
                            </button>
                        </div>


                    </div>
                </form>

            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'registration:export_student' %}" id="form_sample_2">
                    {% csrf_token %}
                    <input value="{{ selected_year_id }}" name="yr_name" hidden>
                    <input value="{{ selected_class_id }}" name="cls_name" hidden>
                    <input value="{{ selected_section_id }}" name="sec_name" hidden>
                    <input id="id_hos" name="hos" hidden>
                </form>
            </div>
        </div>


        <div class="portlet-body">
            <div class="table-toolbar">

            </div>

            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <th style="display:none;">Sr No</th>
                    <th>Student Code</th>
                    <th>Name</th>
                    <th>Academic Year</th>
                    <th>Class</th>
                    <th>Section</th>
                    <th>Parent Code</th>
                    <th>Parent Name</th>
                    <th>Gender</th>
                    <th>House</th>
                    <th>Transport Details</th>
                </tr>
                </thead>
                <tbody>

                {% for student in student_list %}

                    <tr onclick="window.location='{% url "registration:update_student" student.id %}'"
                        style="cursor: pointer;">
                        <td style="display:none;">{{ forloop.counter }}</td>
                        <td>{{ student.student_code }}</td>
                        <td>{{ student.get_all_name }}</td>
                        <td>{{ student.academic_class_section.year_name }}</td>
                        <td>{{ student.academic_class_section.class_name }}</td>
                        <td>{{ student.academic_class_section.section_name }}</td>
                        <td>{{ student.parent.code }}</td>
                        <td>{{ student.parent.user.first_name }} &nbsp; {{ student.parent.user.last_name }}</td>

                        <td>{{ student.gender }}</td>
                        <td>{{ student.house_name }}</td>
                        <td>{{ student.transport }}</td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}
