{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/student.js' %}" type="text/javascript"></script>

    </head>
    <!-- END HEAD -->
{# {% if status == 'false'%}#}
    <style>


       div.dataTables_length select{
{#           float: right;#}
           margin-left: 10px;
       }
        div.dataTables_filter {
            text-align: left;
            float: left;
            margin-left: 210px;
        }
        .onoffswitch {
            position: relative;
            width: 120%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        .onoffswitch-checkbox {
            display: none;
        }

        .onoffswitch-label {
            z-index: 1;
            position: relative;
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 2px solid #3598dc;
            border-radius: 20px;
        }

        .onoffswitch-inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }

        .onoffswitch-inner:before, .onoffswitch-inner:after {
            display: block;
            float: left;
            width: 50%;
            height: 30px;
            padding: 0;
            line-height: 30px;
            font-size: 14px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
        }

        .onoffswitch-inner:before {
            content: "Active";
            padding-left: 10px;
            background-color: #3598dc;
            color: #FFFFFF;
        }

        .onoffswitch-inner:after {
            content: "All";
            padding-right: 10px;
            background-color: #EEEEEE;
            color: #999999;
            text-align: right;
        }
        {% if status == 'true'%}

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
            margin-left: 50%;
        }
        {% else %}

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
            right: 50%;
        }
     {% endif %}

    </style>
{#    {% endif %}#}
{% endblock %}


{% block ScriptBlock %}

    <script>


        window.onload = function () {


            $(document).ready(function ()    {
                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').DataTable({
{#                    "paging": true,#}
                    {#"ordering": false,#}
{#                    "info": false,#}
                    oLanguage: {
                       sLengthMenu: "Show_MENU_",
                    }
                });
                var oTable = $("#sample_1").dataTable();
{#                $(oTable.fnGetNodes()).each(function () {#}
                    {#alert($(this).attr('id'));#}
{#                    if ($(this).attr('id') == 'in_active_student') {#}
{#                        $(this).hide()#}
{#                    }#}
{#                });#}

{#                 {% if status == 'false'%}#}
{#                    $(oTable.fnGetNodes()).each(function () {#}
{#                            $(this).show()#}
{#                        })#}


{##}
{#                {% endif %}#}




                $("#myonoffswitch").click(function () {
                    var status = $('#myonoffswitch').is(':checked');
{#                    alert(status);#}
                    $("#id_status").val(status);
                     var id_house = $("#id_house_name").val();
                     $("#house_id").val(id_house);
                    $('#form_sample_3').submit();

{#                    if (status == true) {#}
{#                        $(oTable.fnGetNodes()).each(function () {#}
{#                            if ($(this).attr('id') == 'in_active_student') {#}
{#                                $(this).hide()#}
{#                            }#}
{#                        })#}
{#                    }#}
{#                    else {#}
{#                        $(oTable.fnGetNodes()).each(function () {#}
{#                            $(this).show()#}
{#                        })#}
{#                    }#}
                })
            });


            {% comment %}$(document).ready(function () {
                {#$('#sample_1').dataTable().fnDestroy();#}
                $('#sample_1').DataTable({
                    "pagingType": "full_numbers",
                });
                var oTable = $("#sample_1").dataTable();

                {#$('.in_active_student', oTable.fnGetNodes()).hide();#}
                $(document).on("click", '.myonoffswitch', function () {
                {#$('.in_active_student', oTable.fnGetNodes()).click(function (event) {#}
                    {#alert($('#myonoffswitch').is(':checked'))#}
                    var ststus = $('#myonoffswitch').is(':checked');
                    if (ststus == true) {
                        {#alert("Show");#}
                        $('.in_active_student', oTable.fnGetNodes()).each(function () {
                            alert("111")
                          $(this).show();
                        })
                    }
                    else {
                        {#alert("hide");#}
                        $('.in_active_student', oTable.fnGetNodes()).each(function () {
                          $(this).hide();
                        })
                        {#$('.in_active_student', oTable.fnGetNodes()).hide();#}
                    }
                });
            });{% endcomment %}


            {#            var academic_year = document.getElementById("id_academic_year").value;#}
            {#            var url1 = '/school/viewAcademicDetails/';#}
            {#            viewAcademicDetails(url1, academic_year)#}
            var class_name = document.getElementById("id_class_name").value;
            var section_name = document.getElementById("id_section_name").value;
             {% if class_mapped_rec %}

                if (class_name == '') {
                    $('#id_class_name').val($('#id_class_name'));
                    $('#id_class_name').prepend($('<option>', {
                        value: 'All',
                        text: 'All'
                    }));
                }
                if (section_name == '') {
                    $('#id_section_name').val($('#id_section_name'));
                    $('#id_section_name').prepend($('<option>', {
                        value: 'All',
                        text: 'All'
                    }));
                }
            {% else %}
            if (class_name == '') {
                    $('#id_class_name').val($('#id_class_name'));
                    $('#id_class_name').prepend($('<option>', {
                        value: '',
                        text: 'Please Select'
                    }));
                }

            if (section_name == '') {
                    $('#id_section_name').val($('#id_section_name'));
                    $('#id_section_name').prepend($('<option>', {
                        value: '',
                        text: 'Please Select'
                    }));
                }

            {% endif %}
            {% if class_mapped_rec %}
                var academic_year = document.getElementById("id_academic_years").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year);
            {% endif %}

            $("#id_section_name").change(function () {
                $('.export_class').attr('disabled', 'true');
                $('.import_class').attr('disabled', 'true');
                {#$('.export_class').attr('style','background-color: #ACACA8;margin-top : 38px;');#}
                {#$('.import_class').attr('style','background-color: #ACACA8;margin-top : 38px;');#}
            });

            $("#id_house_name").change(function () {
                $('.export_class').attr('disabled', 'true');
                $('.import_class').attr('disabled', 'true');
            });

            $("#id_academic_years").change(function () {
                var academic_year = document.getElementById("id_academic_years").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year);
            });


            $("#id_class_name").change(function () {
                $('.export_class').attr('disabled', 'true');
                $('.import_class').attr('disabled', 'true');
                var academic_year = document.getElementById("id_academic_years").value;
                var class_name = document.getElementById("id_class_name").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailAttendance(url, academic_year, class_name);
                {#                document.getElementById("attendanceYear").value = academic_year;#}
            });

            $("#go1").click(function (event) {

                var id_house_name = $('#id_house_name').val();
                {#                alert('id_house_name'+id_house_name);#}
                {#                return false;#}
                yy = document.getElementById("id_hos").value = id_house_name;
                $('#form_sample_2').submit();
            });


            $(".alert").fadeTo(1000, 0).slideUp(500, function () {
                $(this).remove();
            });

            {#            $('#sample_1').dataTable().fnDestroy();#}
            {#            $('#sample_1').dataTable({#}
            {#                "aoColumnDefs": [#}
            {#                    {'bSortable': false}#}
            {#                ]#}
            {#            });#}
        }

        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {

                    class_val = $('#id_class_name').val();
                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="All">All</option>');
                    for (var i = 0; i < data.length; i++) {

                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>');
                        if ($('#id_class_name option[value=' + data[i].id + ']').val() == class_val) {
                            console.log('inside loop');
                            $('#id_class_name option[value=' + data[i].id + ']').prop('selected', 'selected')
                        }

                    }
                });
        }

        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }

        function ViewSectionDetailAttendance(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                        }
                    });
        }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>View-Edit Student</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> MANAGE STUDENT DETAILS</span>
            </div>

            <form action="{% url 'registration:export_student_template' %}" id="" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-2">
                    <button style="" type="submit" class="btn blue btn-block" id="">Export
                        Template
                    </button>
                </div>
            </form>

            <div class="col-md-2">
                <button type="button" class="btn blue btn-green" data-toggle="modal"
                        data-target="#myModal1">Import Template Data
                </button>
            </div>

            <form action="{% url 'registration:export_bulk_student' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if not user.role.name == 'Parent' %}
                    <div class="col-md-2">
                        <button type="submit" class="btn blue btn-block" id="export">Bulk
                            Export
                        </button>
                    </div>
                {% endif %}
            </form>


        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'registration:view_filter_student_list' %}" id=" form_sample_1 ">
                    {% csrf_token %}

                    <div class="row">



                        <div class="col-md-2">
                            <h4> Academic Years </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_years" name="year_name" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_year_id }}"> {{ selected_year_name }}</option>
                                    {% for year in academic_year %}
                                        <option value="{{ year.id }}">{{ year.year_name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="year_name" value="{{ selected_year_id }}">
                                <div id='id_academic_years_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select academic year
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_class_id }}"> {{ selected_class_name }}</option>
                                    {% for class in ClassDetails %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                                        {{ ClassSection.class_name }}#}
                                <div id='id_class_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select class
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_section_id }}"> {{ selected_section_name }}</option>
                                    {% for section in SectionDetails %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                                        {{ ClassSection.section_name }}#}
                                <div id='id_section_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select section
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> House </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_house_name"
                                        name="house_name">
                                    {% if selected_house_id %}
                                        <option style="display: none" value="{{ selected_house_id }}"
                                                selected="selected">{{ selected_house_name }}</option>
                                        <option value="All">All</option>
                                    {% else %}
                                        {#                                        <option style="display: none" value="{{ selected_house_id }}"#}
                                        {#                                                selected="selected">{{ selected_house_name }}</option>#}
                                        <option value="All" selected="selected">All</option>
                                    {% endif %}

                                    {% for house_rec in house_list %}
                                        <option value="{{ house_rec.id }}">{{ house_rec.house_name }}</option>
                                    {% endfor %}
                                </select>
{#                            <input type="hidden" name="house_name" value="{{ selected_house_id }}">#}
                            </div>
                        </div>


                        <div class="col-md-1">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top : 38px;"> GO
                            </button>
                        </div>

                        <div class="col-md-1">
                            <button type="button"
                                    style="border: none; background-color: white; color: #339bb9;margin-top : 38px;"
                                    class="export_class glyphicon glyphicon-export btn-lg" id="go1">Export
                            </button>
                            {#                            <button type="button" class="btn blue btn-block" id="go1" style="margin-top : 38px;"> Export </button>#}
                        </div>
                        <div class="col-md-1">
                            <button style="border: none; background-color: white; color: #339bb9;margin-top : 38px;"
                                    class="import_class  glyphicon glyphicon-import btn-lg" type="button"
                                    data-toggle="modal" data-target="#myModal">Import
                            </button>
                            {#                <button style="margin-top : 38px;" type="button" class="btn blue btn-green" data-toggle="modal" data-target="#myModal">Import </button>#}
                        </div>


                    </div>
                </form>

            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'registration:export_student' %}" id="form_sample_2">
                    {% csrf_token %}
                    <input value="{{ selected_year_id }}" name="yr_name" hidden>
                    <input value="{{ selected_class_id }}" name="cls_name" hidden>
                    <input value="{{ selected_section_id }}" name="sec_name" hidden>
                    <input id="id_hos" name="hos" hidden>
                </form>
            </div>
        </div>


        <div class="portlet-body">
            <div class="table-toolbar">

                 <form method="post" action="{% url 'registration:view_status_list' %}" id="form_sample_3">
                    {% csrf_token %}
                    <input id="id_status" name="status" hidden>
                     <input value="{{ selected_year_id }}" name="year_name" hidden>
                    <input value="{{ selected_class_id }}" name="class_name" hidden>
                    <input value="{{ selected_section_id }}" name="section_name" hidden>
                    <input  name="hos_name" id="house_id" hidden>
                </form>

            </div>

            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <div class="myonoffswitch">
                     {% if status == 'true'%}
                         <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                         {% else %}
                         <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                        {% endif %}


                    <label style="width: 200px;margin-bottom: -30px;" class="onoffswitch-label" for="myonoffswitch">

                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
                <thead>
                <tr>
                    <th style="display:none;">Sr No</th>
                    <th>Student Code</th>
                    <th>Name</th>
                    <th>Academic Year</th>
                    <th>Class</th>
                    <th>Section</th>
                    <th>Parent Code</th>
                    <th>Father's Name</th>
                    <th>Gender</th>
                    <th>House</th>
                    <th>Transport Details</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>

                {% for student in student_list %}

                    <tr onclick="window.location='{% url "registration:update_student" student.id %}'"
                        style="cursor: pointer;" {% if student.is_active == True %}
                        {% if student.is_past_date %}
                        class="active_student" id="active"
                        {% else %}
                        class="in_active_student"
                        id="in_active_student"
                        {% endif %}
                        {% else %}id="in_active_student"
                        class="in_active_student"
                    {% endif %}>
                        <td style="display:none;">{{ forloop.counter }}</td>
                        <td>{{ student.student_code }}</td>
                        <td>{{ student.get_all_name }} </td>
                        <td>{{ student.academic_class_section.year_name }}</td>
                        <td>{{ student.academic_class_section.class_name }}</td>
                        <td>{{ student.academic_class_section.section_name }}</td>
                        <td>{{ student.parent.code }}</td>
                        <td>{{ student.parent.user.get_pura_name }}</td>

                        <td>{{ student.gender }}</td>
                        <td>{{ student.house_name|default_if_none:" " }}</td>
                        <td>{{ student.transport }}</td>
                        <td>
                            {% if student.is_active == True %}
                                {% if student.is_past_date %}
                                    <p style="color: green">Active</p>
                                {% else %}
                                    <p style="color: red">In-Active</p>
                                {% endif %}
                            {% else %}
                                <p style="color: red">In-Active</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="{% url 'registration:import_students_bulk_details' %}" id="form_sample_1"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onClick="this.form.reset()">&times;</button>
                        <h4 class="modal-title">Choose File</h4>
                    </div>
                    <div class="modal-body">
                        {{ students_form.excel }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="this.form.reset()">Close</button>
                        <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="{% url 'registration:import_students_template_records' %}" id="form_sample_1"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onClick="this.form.reset()">&times;</button>
                        <h4 class="modal-title">Choose File</h4>
                    </div>
                    <div class="modal-body excel_id">
                        {{ students_form.excel }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="this.form.reset()">Close</button>
                        <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}
