{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>

    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE


            $(document).ready(function () {

                var over_flag_status = "{{ over_lead_supervisor_flag }}"
                if (over_flag_status == 'True'){

                    if (confirm("Lead Supervisor has already been selected for this class-section do you want to overwrite?")== true) {

{#                    alert("Yes..\n"+JSON.stringify(override_array));#}
                    var url = '/school/override_lead_supervisor/';
                    override_lead_supervisor(url)
                }
                else{
                    var url = '/school/override_lead_supervisor_cancel/';
                    override_lead_supervisor_cancel(url)
                }

                }






                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)

                function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })

                    .done(
                        function (data) {
                            {#                            console.log(data);#}

                            $('#id_class_name_mapping').empty();

                            for (var i = 0; i < data.length; i++) {

                                $('#id_class_name_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }
                        });

            }

            function override_lead_supervisor(url) {
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
            })

                .done(
                    function (data) {
{#                     location.reload();#}
                        window.location.href = '/school/supervisor_class_mapping/';

{#                     window.href('/school/view_mapping_details/');#}

                    })
        }
        function override_lead_supervisor_cancel(url) {
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
            })

                .done(
                    function (data) {
                        window.location.href = '/school/supervisor_class_mapping/';
                    })
        }

                $(document).on("change", "#id_section_name_mapping", function (e) {

                    var class_name = $('select#id_class_name_mapping').val();
                    var section_name = $('select#id_section_name_mapping').val();

{#                    alert(section_name);#}
{#                    return false;#}
                    var acd_year = document.getElementById("id_academic_year").value;
                    var url = '/school/view_mapped_subjects/';
                    viewMapedSubjects(url, acd_year, class_name, section_name)
                });

                function viewMapedSubjects(url, acd_year, class_name, sections) {

                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {
                            acd_year: acd_year,
                            class_name: JSON.stringify(class_name),
                            section_name: JSON.stringify(sections)
                        },
                    })

                        .done(
                            function (data) {
                                $('#id_subject_name_mapping').empty();
                                {#                            alert(data + ' ---6666- ' + JSON.stringify(data))#}

                                for (var i = 0; i < data.length; i++) {
                                    $('#id_subject_name_mapping').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].subject_name + '</option>')
                                }

                            });
                }


                $('#id_class_name_mapping').width(200);
                $('#id_class_name_mapping').height(250);
                $('#id_section_name_mapping').height(250);
                $('#id_section_name_mapping').width(200);
                $('#id_subject_name_mapping').height(250);
                $('#id_subject_name_mapping').width(200);

                $("#mapping").click(function () {

                    var selected_value = $('#id_section_name option:selected').val();
                    console.log("selected_value", selected_value)

                    if (selected_value == 1) {
                        alert("Please Select Section");
                        //do something
                    }
                    /*else{
                     alert("Please Select Section");

                     }*/
                });

                $("#go").click(function () {
                    {#                   alert("Hii")#}
                    var class_name = document.getElementById("id_class_name").value;
                    var sec_name = document.getElementById("id_section_name").value

                    if (class_name != '') {
                        if (sec_name === '') {
                            alert("Please Select Section Along With Class.")
                            return false;
                        }
                    }

                    if (sec_name != '') {
                        if (class_name === '') {
                            alert("Please Select Class Along With Section.")
                            return false;
                        }
                    }
                    {#                    alert(class_name+" <-----> "+sec_name)#}
                });


                $('#button1').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked)
                        alert('Please select atleast one record to delete Supervisor!');
                });

                var currentSelect = $("select#id_academic_year option:selected").index();
                $("select#id_supervisor_name option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });

                $("#id_supervisor_name").change(function () {
                    {#                    console.log("in acedemic year ajax")#}
                    supervisor_name = document.getElementById("id_supervisor_name").value
                    {#                    console.log(supervisor_name)#}

                    var url = '/school/viewMultiselectSupervisorClassList/';
                    viewMultiselectSupervisorClassList(url, supervisor_name)
                });

                $(document).on("click", "#id_class_name_mapping", function (e) {

                    var class_name = $('select#id_class_name_mapping').val();
                    var acd_year = document.getElementById("id_academic_year").value;
                    $('#id_subject_name_mapping').empty();

                    var url = '/school/view_maped_section/';
                    viewMapedSection(url, acd_year, class_name)
                });

                $('#id_class_name_mapping').multiSelect
                {% comment %}({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });{% endcomment %}


                {% comment %}$('#id_section_name_mapping').multiSelect
                ({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });{% endcomment %}


                {% comment %}$('#id_subject_name_mapping').multiSelect
                ({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });{% endcomment %}

                getCurrentAcademicYear();
            });


            function viewMapedSection(url, acd_year, class_name) {
                {#                alert(acd_year+'  ---------  '+JSON.stringify(class_name));#}

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        acd_year: acd_year,
                        class_name: JSON.stringify(class_name)
                    },
                })

                    .done(
                        function (data) {
                            $('#id_section_name_mapping').empty();
{#                            alert(data + ' ---6666- ' + JSON.stringify(data))#}

                            for (var i = 0; i < data.length; i++) {
                                $('#id_section_name_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section + '</option>')
                            }

                            $('.selectpicker').selectpicker('refresh');

                        });
            }

            function viewMultiselectSupervisorClassList(url, supervisor_name) {


                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        supervisor_name: supervisor_name
                    },
                })


                    .done(
                        function (data) {
                            console.log(data)
                            $('.class').empty();
                            $('.ms-selectable .ms-list li').show();
                            $('.ms-list li').each(function (i) {
                                value2 = $(this).text();

                                for (var i = 0; i < data.length; i++) {


                                    if (data[i].class_name == value2) {

                                        if ($(this).text(value2)) {
                                            $(this).hide();
                                        }
                                    }
                                }
                            });

                            for (var i = 0; i < data.length; i++) {
                                $(".class").append('<tr><td>' + supervisor_name + '</td>' + '<td>' + data[i].class_name + '</td></tr>');
                            }
                        });
            }


            function getCurrentAcademicYear() {
                $.ajax({
                    url: '/school/getCurrentAcademicYear/',
                    type: "GET",
                })
                    .done(function (data) {
                        $('#id_academic_year_mapping').empty();
                        count = 0;
                        //alert(data.length);

                        for (var i = 0; i < data.length; i++) {

                            if (data[i].current_academic_year == true) {
                                $('#id_academic_year_mapping').append(
                                    '<option value="' + data[0].id + '">'
                                    + data[0].year_name + '</option>');
                                ++count;

                            }
                            if (data[i].current_academic_year == false) {
                                $('#id_academic_year_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>');
                            }
                        }
                    });
            }
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Supervisor & Class Mapping</span>
            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Supervisor & Class Mapping</span>
            </div>
        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'registration:save_supervisor_class_mapping' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Academic Year:</h4><br>
                            <div>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" required="True">
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <h4>Supervisor:</h4><br>
                            <select autocomplete="off" class="form-control" id="id_supervisor_name"
                                    name="supervisor_name" required>
                                <option value="" selected="selected">Please Select</option>
                                {% for name in name_list %}
                                    <option value="{{ name.id }}">{{ name.val }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    <br><br><br>


                    <div class="col-md-4">
                        <label class="col-md-6 control-label">Lead Supervisor:

                        </label>
                        <div class="col-md-2">

                            <input autocomplete="off" id="id_lead_supervisor"name="lead_supervisor" type="checkbox" >
                        </div>
                    </div>



                    </div>

                    <br><br>

                    <div class="row">
                        <div class="col-md-3" style="margin-left:20%;">
                            <div class="portlet-title"><h4><span
                                    style="">Classes</span></h4></div>
                            <div class="row " id="academic">
                                {{ SupervisorClassRelationForm.class_name_mapping }}
                            </div>
                        </div>
{#                        <div class="col-md-3">#}
{#                            <div class="portlet-title"><h4><span style=""> Sections</span></h4></div>#}
{#                            <div class="row " id="academic" required>#}
{#                                {{ SupervisorClassRelationForm.section_name_mapping }}#}
{#                            </div>#}
{#                        </div>#}

                        <div class="">
                            <div class="col-md-3">
                                <h4>Sections: </h4>
                                <select id='id_section_name_mapping' name="section_name_mapping"
                                        class="form-control emp id_section_name_mapping selectpicker" multiple required="">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6" style="margin-left: 28%;">
                    <div class="portlet-title"><h4><span style="margin-left: 3%; ">Subjects</span></h4></div>
                    <div class="row " id="academic" style=" margin-top: 4%;">
                        {{ SupervisorClassRelationForm.subject_name_mapping }}
                    </div>
                </div>


                <div class="">
                    <div class="row" style="padding: 30px;">
                        <div class="col-md-offset-3 col-md-9 center-block">
                            <br>
                            <button type="submit" id="mapping" class="btn blue btn-block"
                                    style="margin-left: 50%; margin-right: 50%; width: 30%;">
                                Mapping
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- END FORM-->



    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubble font-dark"></i>
            <span class="caption-subject font-dark bold uppercase">Mapped Supervisor & Class</span>
        </div>
        <form action="{% url 'registration:supervisor_class_mapping_filter_list' %}" id="form_sample_1"
              class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}


            <input hidden value="{{ subject_rec.id }}" name="subject_name1">
            <input hidden value="{{ supervisor_rec.id }}" name="supervisor_id1">
            <input hidden value="{{ selected_section_name.id }}" name="section_name1">
            <input hidden value="{{ selected_class_name.id }}" name="class_name1">
            <input hidden value="{{ Selected_Year_Id }}" name="year_name1">


            <div class="col-md-4">


                <button type="submit" class="btn blue btn-block" id="export">Mapped Supervisor & Class Filtered List
                </button>

            </div>
        </form>

    </div>

    {% comment %} <div class="portlet-body">
        <form method="post" action="{% url 'registration:view_supervisor_export_filtered_list' %}" id="exportForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2">

                <h4>Academic Year</h4>

                <div class="">
                    <input value="{{ Selected_Year_Id }}" name="academic_year_name" hidden>
                    <select autocomplete="off" class="form-control" data-live-search="true" id="id_academic_year_name"
                            name="academic_year_name1" disabled>
                       <option style = "display : none" selected = "selected" value = "{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                            {% for Academic_Year in year_list  %}
                               <option value="{{ Academic_Year.id }}"  >{{ Academic_Year.year_name }}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>


            <div class="col-md-2">

                <h4>Class</h4>


                <div class="">
                    <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                            name="class_name">
                        <option style="display:none" selected="selected"
                                value="{{ selected_class_name.id }}"> {{ selected_class_name.class_name }}</option>
                        {% for ClassDetails in ClassDetails %}
                            <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <h4>Section </h4>

                <div class="">
                    <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                            >
                        <option style="display:none" selected="selected"
                                value="{{ selected_section_name.id }}"> {{ selected_section_name.section_name }}</option>
                        {% for Section in Section %}
                            <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                        {% endfor %}
                    </select>


                </div>
            </div>

            <div class="col-md-2">
                <h4>Subject </h4>

                <div class="">
                    <select autocomplete="off" class="form-control" id="id_subject_name" name="subject_name"
                           >
                        <option style="display:none" selected="selected"
                                value="{{ subject_rec.id }}"> {{ subject_rec.subject_name }}</option>
                        {% for subject_rec_data in subject_list %}
                            <option value="{{ subject_rec_data.id }}">{{ subject_rec_data.subject_name }}</option>
                        {% endfor %}
                    </select>


                </div>
            </div>

         <div class="col-md-2">
            <h4>Supervisor:</h4>

{#                            <div> {{ SupervisorClassRelationForm.supervisor_name }} </div>#}
{#                            <label for="id_supervisor_name">Supervisor name:</label></th>#}
            <select autocomplete="off" class="form-control" id="id_supervisor_rec"
                        name="supervisor_name_rec">
{#                <option value="" selected="selected">Please Select</option>#}
            <option style="display:none" selected="selected"
                                value="{{ supervisor_rec.id }}"> {{ supervisor_rec.get_pura_name }}</option>




                {% for name in name_list %}
                    <option value="{{ name.id }}">{{ name.val }}</option>
                {% endfor %}
            </select>


         </div>

            <div class="col-md-2">
                <button type="submit" id="go" class="btn blue btn-block" style="margin-top: 38px;">Go</button>

            </div>

        </div>


    </form>
 </div>


        <div class="portlet-body">
            <form action="{% url 'registration:delete_academicr_supervisor_class_section_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th>Id</th>
                        <th>Academic Year</th>
                        <th>Supervisor Name</th>
                        <th> Class Name</th>
                        <th> Sections</th>
                        <th> Subject</th>
                        <th><input type="checkbox" id="selectAll"/>Select All</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for obj in academic_supervisor_class_section_recs %}
                        <tr>
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ obj.academic_class_section_mapping.year_name }}</td>
                            <td> {{ obj.supervisor_id.first_name }} {{ obj.supervisor_id.middle_name }} {{ obj.supervisor_id.last_name }}</td>
                            <td>{{ obj.academic_class_section_mapping.class_name }}</td>
                            <td>{{ obj.academic_class_section_mapping.section_name }}</td>
                            <td>{{ obj.subject.subject_name }}</td>
                            <td><input type='checkbox' name='check' value="{{ obj.id }}"></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="button1" name="delete" value="Delete Items"/>

                        </td>

                    </tr>
                    </tfoot>

                </table>
            </form>

        </div>
    </div>{% endcomment %}
    <!-- END BORDERED TABLE PORTLET-->


{% endblock %}
</div>
<!-- END BORDERED TABLE PORTLET-->
