{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>

    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE


            $(document).ready(function () {

                var over_flag_status = "{{ over_lead_supervisor_flag }}"
                if (over_flag_status == 'True') {

                    if (confirm("Lead Supervisor has already been selected for this class-section do you want to overwrite?") == true) {
                        var url = '/school/override_lead_supervisor/';
                        override_lead_supervisor(url)
                    }
                    else {
                        var url = '/school/override_lead_supervisor_cancel/';
                        override_lead_supervisor_cancel(url)
                    }

                }

                $(document).on("click", ".edit", function () {

                    var stud_id = ($(this).attr('id')).split("-")[1];
                    $("#check-" + stud_id).prop("disabled", false);
                    $("#edit-" + stud_id).hide();
                    $("#update-" + stud_id).show();


                });

                $(document).on('change', '.daily_attendance_report', function () {
                    var check_value;

                    if (this.checked) {
                        check_value = "check"

                    }
                    else {
                        check_value = "uncheck"

                    }
                    $(document).on("click", ".update", function () {
                        var rec_id = ($(this).attr('id')).split("-")[1];


                        $("#strikeId").val(rec_id);
                        $("#checkId").val(check_value)
                        $("#Update_Lead_Form").submit();


                        {# alert(check_value)#}
                        {#var url = '/school/updating_lead_supervisor/';#}
                        {#updating_lead_supervisor(url, rec_id, check_value);#}
                        {##}

                    });

                });

                function override_lead_supervisor(url) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })
                        .done(
                            function (data) {

                                window.location.href = '/school/supervisor_class_mapping/';


                            })
                }

                function override_lead_supervisor_cancel(url) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {
                                window.location.href = '/school/supervisor_class_mapping/';
                            })
                }


                var academic_year = document.getElementById("id_academic_year_name").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)

                $("#id_academic_year_name").change(function () {
                    var academic_year = document.getElementById("id_academic_year_name").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });

                $("#id_class_name").change(function () {
                    var class_name = document.getElementById("id_class_name").value;
                    var academic_year = document.getElementById("id_academic_year_name").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });


                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                    {#                     $( "#check_bx").prop('checked', true);#}
                });


                $('#button1').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked)
                        alert('Please select atleast one record to delete Supervisor!');


                });


                var currentSelect = $("select#id_academic_year option:selected").index();
                $("select#id_supervisor_name option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });

                $("#id_supervisor_name").change(function () {


                    {#                    console.log("in acedemic year ajax")#}
                    supervisor_name = document.getElementById("id_supervisor_name").value
                    {#                    console.log(supervisor_name)#}

                    var url = '/school/viewMultiselectSupervisorClassList/';
                    viewMultiselectSupervisorClassList(url, supervisor_name)
                });

                $('#id_class_name_mapping').multiSelect
                ({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });


                $('#id_section_name_mapping').multiSelect
                ({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });


                $('#id_subject_name_mapping').multiSelect
                ({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });

                getCurrentAcademicYear();
            });

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
            {#        }#}


            function viewSectionMapping(url, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name
                    },
                })

                    .done(
                        function (data) {
                            {#                            console.log(data);#}
                            {##}
                            {#                            console.log("in done..............")#}
                            $('#id_section_name').empty();
                            /*$('#id_section_name').empty();
                             $('#id_section_name').append(
                             '<option value="">All</option>');*/
                            $('#id_section_name').append('<option value="1">Select All </option>')

                            for (var i = 0; i < data.length; i++) {

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section + '</option>')


                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }
                            $("#id_section_name option").each(function () {
                                $(this).siblings("[value='" + this.value + "']").remove();
                            })


                        });


            }

            function viewMultiselectSupervisorClassList(url, supervisor_name) {


                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        supervisor_name: supervisor_name
                    },
                })


                    .done(
                        function (data) {
                            {#                            console.log(data)#}
                            $('.class').empty();
                            $('.ms-selectable .ms-list li').show();
                            $('.ms-list li').each(function (i) {
                                value2 = $(this).text();

                                for (var i = 0; i < data.length; i++) {


                                    if (data[i].class_name == value2) {

                                        if ($(this).text(value2)) {
                                            $(this).hide();
                                        }


                                    }

                                }


                            });

                            for (var i = 0; i < data.length; i++) {

                                /*$(".class").append('<tr><th>'+ Supervisor Name + '</th>' + '<th>' + Class Name + '</th></tr>')*/
                                $(".class").append('<tr><td>' + supervisor_name + '</td>' + '<td>' + data[i].class_name + '</td></tr>');

                            }


                        });
            }


            function getCurrentAcademicYear() {
                $.ajax({
                    url: '/school/getCurrentAcademicYear/',
                    type: "GET",
                })
                    .done(function (data) {
                        $('#id_academic_year_mapping').empty();
                        count = 0;
                        //alert(data.length);

                        for (var i = 0; i < data.length; i++) {

                            if (data[i].current_academic_year == true) {
                                $('#id_academic_year_mapping').append(
                                    '<option value="' + data[0].id + '">'
                                    + data[0].year_name + '</option>');
                                ++count;

                            }
                            if (data[i].current_academic_year == false) {

                                /* if(count==0){
                                     $('#id_academic_year_mapping').append('<option value="">---------- </option>')
                                 } */
                                $('#id_academic_year_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>');

                            }
                        }
                    });
            }

            function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })

                    .done(
                        function (data) {
                            {#                            console.log(data);#}

                            $('#id_class_name').empty();
                            $('#id_class_name').append(
                                '<option value="">All</option>');

                            for (var i = 0; i < data.length; i++) {

                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }

                            //$('#id_class_name').prop("disabled", false);


                        });

            }

            function ViewSectionDetailStudent(url, academic_year, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name
                        },
                })

                    .done(
                        function (data) {
                            {##}
                            {#                            console.log("print you are in section ajax")#}
                            {#                            console.log(data);#}

                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">All</option>');

                            for (var i = 0; i < data.length; i++) {

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }
                            //$('#id_section_name').prop("disabled", false);


                        });


            }
        }

        function updating_lead_supervisor(url, rec_id, check_value) {
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    rec_id: rec_id,
                    check_value: check_value,
                },
            })
                .done(
                    function (data) {
                        location.reload();
                    });
        }


    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'registration:supervisor_class_mapping' %}"> Supervisor & Class Mapping</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Supervisor & Class Mapping Filtered List</span>
            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Supervisor & Class Mapping Filtered List</span>
            </div>

        </div>

    </div>

    <!-- END FORM-->

    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Mapped Supervisor & Class Filtered List</span>
            </div>

            <form action="{% url 'registration:updating_lead_supervisor' %}" id="Update_Lead_Form"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">{% csrf_token %}

                <input hidden type='text'name="recId"id="strikeId">
                <input hidden type='text'name="checkId"id="checkId">
                <input hidden type='text'name="testing"id="test"value="1">

            </form>


            <form action="{% url 'registration:export_supervisor_class' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}


                <input hidden value="{{ subject_rec.id }}" name="subject_name1">
                <input hidden value="{{ supervisor_rec.id }}" name="supervisor_id1">
                <input hidden value="{{ selected_section_name.id }}" name="section_name1">
                <input hidden value="{{ selected_class_name.id }}" name="class_name1">
                <input hidden value="{{ Selected_Year_Id }}" name="year_name1">


                <div class="col-md-2">


                    <button type="submit" class="btn blue btn-block" id="export">Export</button>

                </div>
            </form>

        </div>

        <div class="portlet-body">
            <form method="post" action="{% url 'registration:view_supervisor_export_filtered_list' %}" id="exportForm">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-2">

                        <h4>Academic Year</h4>

                        <div class="">
                            <input value="{{ Selected_Year_Id }}" name="academic_year_name" hidden>
                            <select autocomplete="off" class="form-control" data-live-search="true"
                                    id="id_academic_year_name"
                                    name="academic_year_name1" disabled>
                                <option style="display : none" selected="selected"
                                        value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                {% for Academic_Year in year_list %}
                                    <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="col-md-2">

                        <h4>Class</h4>


                        <div class="">
                            <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                    name="class_name">
                                {% if selected_class_name %}
                                    <option style="display: none" value="{{ selected_class_name.id }}"
                                            selected="selected">{{ selected_class_name.class_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}

                                {#                        <option style="display:none" selected="selected" value="{{ selected_class_name.id }}"> {{ selected_class_name.class_name }}</option>#}
                                {% for ClassDetails in ClassDetails %}
                                    <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <h4>Section </h4>

                        <div class="">
                            <select autocomplete="off" class="form-control" id="id_section_name" name="section_name">
                                {% if selected_section_name %}
                                    <option style="display: none" value="{{ selected_section_name.id }}"
                                            selected="selected">{{ selected_section_name.section_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}

                                {% for Section in section_list %}
                                    <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                {% endfor %}
                            </select>


                        </div>
                    </div>

                    <div class="col-md-2">
                        <h4>Subject </h4>

                        <div class="">
                            <select autocomplete="off" class="form-control" id="id_subject_name" name="subject_name">
                                {% if subject_rec %}
                                    <option style="display: none" value="{{ subject_rec.id }}"
                                            selected="selected">{{ subject_rec.subject_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}
                                {#                                <option style="display:none" selected="selected"#}
                                {#                                        value="{{ subject_rec.id }}"> {{ subject_rec.subject_name }}</option>#}
                                {% for subject_rec_data in subject_list %}
                                    <option value="{{ subject_rec_data.id }}">{{ subject_rec_data.subject_name }}</option>
                                {% endfor %}
                            </select>


                        </div>
                    </div>

                    <div class="col-md-2">
                        <h4>Supervisor:</h4>
                        <select autocomplete="off" class="form-control" id="id_supervisor_rec"
                                name="supervisor_name_rec">
                            <option style="display:none" selected="selected"
                                    value="{{ supervisor_rec.id }}"> {{ supervisor_rec.get_pura_name }}</option>

                            {% if supervisor_rec %}
                                {#                                        <option style="display: none" value="{{ supervisor_rec.id }}"#}
                                {#                                                selected="selected">{{ supervisor_rec.get_pura_name }}</option>#}
                                <option value="">All</option>
                            {% else %}
                                <option value="" selected="selected">All</option>
                            {% endif %}



                            {% for name in name_list %}
                                <option value="{{ name.id }}">{{ name.val }}</option>
                            {% endfor %}
                        </select>


                    </div>

                    <div class="col-md-2">
                        <button type="submit" id="go" class="btn blue btn-block" style="margin-top: 38px;">Go</button>

                    </div>

                </div>


            </form>
        </div>


        <div class="portlet-body">
            <form action="{% url 'registration:delete_academicr_supervisor_class_section_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>Id</th>
                        <th>Academic Year</th>
                        <th>Supervisor Name</th>
                        <th> Class Name</th>
                        <th> Sections</th>
                        <th>Lead Supervisor</th>
                        <th> Subject</th>
                        <th style="display:none;">a</th>


                    </tr>

                    </thead>
                    <tbody>
                    {% for obj in academic_supervisor_class_section_recs %}
                        <tr id="rec{{ obj.id }}">
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td><input type='checkbox' name='check' class="check_bx" value="{{ obj.id }}"></td>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ obj.academic_class_section_mapping.year_name }}</td>
                            <td> {{ obj.supervisor_id.first_name }} {{ obj.supervisor_id.middle_name }} {{ obj.supervisor_id.last_name }}</td>
                            <td>{{ obj.academic_class_section_mapping.class_name }}</td>
                            <td>{{ obj.academic_class_section_mapping.section_name }}</td>
                            <input type="hidden" value="{{ obj.id }}" id="id_nationality_mapping">
                            <td><input class="daily_attendance_report" type="checkbox" id="check-{{ obj.id }}" value=""
                                       disabled
                                    {% if obj.is_lead_supervisor == True %}
                                       checked
                                    {% endif %}
                                       name="lead_supervisor">

                            </td>
                            <td>{{ obj.subject.subject_name }}</td>


                            <td>
                                <div class="col-md-2">
                                    <button type="button" id="edit-{{ obj.id }}" style="width: 100px"
                                            class="btn blue btn-block edit">Edit
                                    </button>
                                    <a class="btn green update" style="display:none;width: 100px"
                                       id="update-{{ obj.id }}">Update </a>
{#                                    href="{% url 'registration:updating_lead_supervisor' %}"#}

                                </div>

                            </td>


                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="button1" class="btn blue" name="delete" value="Unmap"/>

                        </td>

                    </tr>
                    </tfoot>

                </table>
            </form>


        </div>
    </div>





{% endblock %}
</div>

                            
