{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>


    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")


                var id_academic_year_value = document.getElementById("id_academic_year").value
                if (id_academic_year_value == '') {
                    $('#id_academic_year').val($('#id_academic_year'));
                    $('#id_academic_year').prepend($('<option>', {

                        value: '',
                        text: 'Please Select'

                    }));
                }

                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, id_academic_year_value)

                $('#id_class_name_mapping').width(200);
                $('#id_class_name_mapping').height(250);
                $('#id_section_name_mapping').height(250);
                $('#id_section_name_mapping').width(200);
                $('#id_subject_name_mapping').height(250);
                $('#id_subject_name_mapping').width(200);

                $(document).on("click", "#id_class_name_mapping", function (e) {

                    var class_name = $('select#id_class_name_mapping').val();
                    var acd_year = document.getElementById("id_academic_year").value;
                    $('#id_subject_name_mapping').empty();

                    {#                    alert(acd_year +' ---- '+class_name)#}
                    var url = '/school/view_maped_section/';
                    viewMapedSection(url, acd_year, class_name)
                });

                $(document).on("click", "#id_section_name_mapping", function (e) {

                    var class_name = $('select#id_class_name_mapping').val();
                    var section_name = $('select#id_section_name_mapping').val();
                    var acd_year = document.getElementById("id_academic_year").value;

{#                    alert(class_name+'  -   '+section_name+'  --  '+acd_year)#}

                    {#                    alert(acd_year +' ---- '+class_name)#}
                    var url = '/school/view_mapped_subjects/';
                    viewMapedSubjects(url, acd_year, class_name,section_name)
                });

                function viewMapedSection(url, acd_year, class_name) {
                    {#                alert(acd_year+'  ---------  '+JSON.stringify(class_name));#}

                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {
                            acd_year: acd_year,
                            class_name: JSON.stringify(class_name)
                        },
                    })

                        .done(
                            function (data) {
                                $('#id_section_name_mapping').empty();
                                {#                            alert(data + ' ---6666- ' + JSON.stringify(data))#}

                                for (var i = 0; i < data.length; i++) {
                                    $('#id_section_name_mapping').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].section + '</option>')
                                }

                            });
                }

                function viewMapedSubjects(url, acd_year, class_name, sections) {
                    {#                alert(acd_year+'  ---------  '+JSON.stringify(class_name));#}

                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {
                            acd_year: acd_year,
                            class_name: JSON.stringify(class_name),
                            section_name: JSON.stringify(sections)
                        },
                    })

                        .done(
                            function (data) {
                                $('#id_subject_name_mapping').empty();
                                {#                            alert(data + ' ---6666- ' + JSON.stringify(data))#}

                                for (var i = 0; i < data.length; i++) {
                                    $('#id_subject_name_mapping').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].subject_name + '</option>')
                                }

                            });
                }



                {% comment %}$("#id_academic_year").change(function () {
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)
                });{% endcomment %}

                function viewAcademicDetails(url1, academic_year) {

                    $.ajax({
                        url: url1,
                        type: "GET",
                        data: {
                            academic_year: academic_year
                        },
                    })
                    // alert ("Hello..");
                        .done(
                            function (data) {
                                $('#id_class_name_mapping').empty();
                                for (var i = 0; i < data.length; i++) {
                                    $('#id_class_name_mapping').append(
                                        '<option value="' + data[i].id + '">'
                                        + data[i].class_name + '</option>')
                                }
                            });
                }


                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });

                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked)
                        alert('Please select atleast one record to delete teacher subject!');


                });

                var currentSelect = $("select#id_teacher_name option:selected").index();

                $("select#id_teacher_name_mapping option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });


                $("#id_teacher_name_mapping").change(function () {

{#                    console.log("in acedemic year ajax")#}
                    teacher_name = document.getElementById("id_teacher_name_mapping").value
{#                    console.log(teacher_name)#}

                    var url = '/school/viewMultiselectTeacherSubjectList/';
                    viewMultiselectTeacherSubjectList(url, teacher_name)

                    var url1 = '/school/viewClassDetails/';
                    viewClassDetails(url1, teacher_name)
                });

                {% comment %} $("#id_class_name_mapping").change(function () {
                     class_name = document.getElementById("id_class_name_mapping").value

                     console.log(class_name)

                     var url = '/school/viewSectionMapping/';
                     viewSectionMapping(url, class_name)


                     /*var url1 = '/school/viewClassDetails/';
                      viewClassDetails(url1,teacher_name)	*/

                 });{% endcomment %}


                {% comment %}$('#id_class_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });

                $('#id_section_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });{% endcomment %}


                {% comment %}$('#id_subject_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });{% endcomment %}

                getCurrentAcademicYear();

            });

            {% comment %}function viewSectionMapping(url, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name
                    },
                })

                    .done(
                        function (data) {
                            console.log(data);

                            console.log("in done..............")
                            $('#id_section_name_mapping').empty();
                            /*$('#id_section_name').empty();
                             $('#id_section_name').append(
                             '<option value="">Please select</option>');*/


                            for (var i = 0; i < data.length; i++) {

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_section_name_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section + '</option>')

                                $('#id_section_name_mapping option').prop('selected', true);

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }
                            $("#id_section_name_mapping option").each(function () {
                                $(this).siblings("[value='" + this.value + "']").remove();
                            })


                        });


            }{% endcomment %}

            {% comment %}function viewClassDetails(url1, teacher_name) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        teacher_name: teacher_name
                    },
                })

                    .done(
                        function (data) {
                            console.log(data);

                            console.log("in done..............")

                            /*$('#id_section_name').empty();
                             $('#id_section_name').append(
                             '<option value="">Please select</option>');*/


                            for (var i = 0; i < data.length; i++) {

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_class_name_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }
                            $("#id_class_name_mapping option").each(function () {
                                $(this).siblings("[value='" + this.value + "']").remove();
                            })


                        });


            }{% endcomment %}

            function viewMultiselectTeacherSubjectList(url, teacher_name) {


                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        teacher_name: teacher_name
                    },
                })
                    .done(
                        function (data) {

                            console.log(data)

                            $('.subject').empty();
                            $('.ms-selectable .ms-list li').show();
                            $('.ms-list li').each(function (i) {
                                value2 = $(this).text();

                                for (var i = 0; i < data.length; i++) {


                                    if (data[i].subject == value2) {

                                        if ($(this).text(value2)) {
                                            $(this).hide();
                                        }


                                    }

                                }


                            });

                            for (var i = 0; i < data.length; i++) {

                                $(".subject").append('<tr><td>' + teacher_name + '</td>' + '<td>' + data[i].subject + '</td></tr>');


                            }


                        });


            }

            function getCurrentAcademicYear() {
                $.ajax({
                    url: '/school/getCurrentAcademicYear/',
                    type: "GET",
                })
                    .done(function (data) {
                        $('#id_academic_year_mapping').empty();
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].current_academic_year == true) {
                                $('#id_academic_year_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>');
                                {#                            var academic_year = document.getElementById("id_academic_year_mapping").value;#}
                                {#                            var url1 = '/school/viewAcademicDetails/';#}
                                {#                            viewAcademicDetails(url1,academic_year);#}
                            }
                            if (data[i].current_academic_year == false) {
                                $('#id_academic_year_mapping').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>')
                            }
                        }
                    });
            }

        }


    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Teacher-Subject Mapping</span>
            </li>

        </ul>
    </div>


    <div class="portlet light portlet-fit portlet-form ">

        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'registration:save_teacher_subject_mapping' %}">
                {% csrf_token %}
                <div class="form-body">

                    <div class="row">


                        <div class="col-md-4">
                            <h4> Academic Year:</h4>
                            <div>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" required="True">
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>


                        <div class="col-md-4">
                            <h4> Teacher Name:</h4>
                            {#                            <div>{{ TeacherSubjectRelationForm.teacher_name_mapping  }} </div>#}

                            {#                            <label for="id_teacher_name_mapping">Teacher name mapping:</label></th>#}
                            <select autocomplete="off" class="form-control" id="id_teacher_name_mapping"
                                    name="teacher_name_mapping" required>
                                <option value="" selected="selected">Please Select</option>
                                {% for name in name_list %}
                                    <option value="{{ name.id }}">{{ name.val }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3" style="margin-left:20%;">
                            <h4>Class:</h4>
                            {{ TeacherSubjectRelationForm.class_name_mapping }} </div>

                        <div class="col-md-3">
                            <h4>Section:</h4>
                            <div>{{ TeacherSubjectRelationForm.section_name_mapping }} </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-6" style="margin-left: 35%;">
                    <div class="portlet-title"><h4><span style="margin-left: 3%; "> Subjects</span></h4></div>
                    <div class="row " id="academic" style=" margin-top: 4%;">
                        {{ TeacherSubjectRelationForm.subject_name_mapping }}
                    </div>
                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9 center-block">

                            <br>

                            <button type="submit" id="mapping" class="btn blue btn-block"
                                    style="margin-left: 40%; margin-right: 50%; width: 30%;">
                                Mapping
                            </button>


                        </div>


                    </div>
                </div>


            </form>
        </div>
    </div>

    <!-- END FORM-->
    </div>
    {#    </html>#}

    <!-- BEGIN BORDERED TABLE PORTLET-->

    <div class="portlet light portlet-fit">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">MAPPED TEACHER & SUBJECTS</span>
            </div>
            <form action="{% url 'registration:export_teacher_subject_mapping_list' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="col-md-4">


                    <button type="submit" class="btn blue btn-block" id="export">View Mapped Teacher-Subject</button>

                </div>
            </form>
        </div>

        {% comment %}<div class="portlet light">
            <form action="{% url 'registration:delete_teacher_subject_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th>Id</th>
                        <th>Academic Year</th>
                        <th>Teacher Name</th>
                        <th>Class Name</th>
                        <th>Sections</th>
                        <th> Subject Name</th>
                        <th><input type="checkbox" id="selectAll"/>Select All</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for obj in teacher_subject_mapping_rec %}
                        <tr>
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ obj.academic_class_section_mapping.year_name }}</td>
                            <td width="20%"> {{ obj.staff_id.first_name }} {{ obj.staff_id.middle_name }} {{ obj.staff_id.last_name }}</td>
                            <td> {{ obj.academic_class_section_mapping.class_name }}</td>
                            <td>{{ obj.academic_class_section_mapping.section_name }}</td>
                            <td>{{ obj.subject }}</td>
                            <td><input type='checkbox' name='check' value="{{ obj.id }}"></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="delete" name="delete" value="Delete Items"/>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>{% endcomment %}
    </div>

    <!-- END BORDERED TABLE PORTLET-->


{% endblock %}
                          
