{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {

                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });


                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked)
                        alert('Please select atleast one record to delete Class-Teacher!');


                });

                var currentSelect = $("select#id_academic_year_mapping option:selected").index();

                $("select#id_academic_year_mapping option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });

                var currentSelect = $("select#id_class_name_mapping option:selected").index();

                $("select#id_class_name_mapping option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });


                var currentSelect = $("select#id_section_name_mapping option:selected").index();

                $("select#id_class_name option").click(function () {
                    if ($(this).index() == currentSelect) {
                        $(this).prop("selected", false);
                        currentSelect = -1;
                    } else {
                        currentSelect = $(this).index();
                    }
                });


                /*$('#deselectall').click(function() {
                    $('select#id_academic_year option').removeAttr("selected");
                });*/

{#                academic_year = document.getElementById("id_academic_year").value#}
{#                var url1 = '/school/viewAcademicDetails/';#}
{#                viewAcademicDetails(url1, academic_year);#}

                $("#id_academic_year").change(function () {

                    academic_year = document.getElementById("id_academic_year").value
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });

                $("#id_class_name").change(function () {
                    class_name = document.getElementById("id_class_name").value
                    academic_year = document.getElementById("id_academic_year").value

                    var url1 = '/school/viewSectionDetails/';
                    viewSectionDetails(url1, class_name, academic_year)

                    var url = '/school/viewMultisectTeacherList/';
                    viewMultisectTeacherList(url, class_name)
                });

                $('#id_teacher_name_mapping').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });


                //getCurrentAcademicYear();
            });


            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });


            function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })

                    .done(
                        function (data) {

                            {#                            console.log("print you are in section ajax")#}
                            {#                            console.log(data);#}

                            $('#id_class_name').empty();
                            $('#id_class_name').append(
                                '<option value="">All</option>');

                            for (var i = 0; i < data.length; i++) {

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }


                        });


            }

            function viewSectionDetails(url, class_name, academic_year) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name,
                        academic_year: academic_year
                    },
                })

                    .done(
                        function (data) {
                            {#                            console.log(data);#}

                            {#                            console.log("in done..............")#}
                            $('#id_section_name').empty();
                            /*$('#id_section_name').empty();*/
                            $('#id_section_name').append(
                                '<option value="">All</option>');


                            for (var i = 0; i < data.length; i++) {

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')
                                //$('#id_section_name_mapping option').prop('selected', true);

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }
                            $("#id_section_name_mapping option").each(function () {
                                $(this).siblings("[value='" + this.value + "']").remove();
                            })
                        });
            }


            function viewMultisectTeacherList(url, class_name) {


                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name
                    },
                })


                    .done(
                        function (data) {
                            {#                            console.log(data)#}
                            $('.teacher').empty();
                            $('.ms-selectable .ms-list li').show();
                            $('.ms-list li').each(function (i) {
                                value2 = $(this).text();
                                for (var i = 0; i < data.length; i++) {
                                    if (data[i].email == value2) {
                                        if ($(this).text(value2)) {
                                            $(this).hide();
                                        }
                                    }
                                }
                            });

                            for (var i = 0; i < data.length; i++) {

                                /*$(".teacher").append('<tr><td>'+ $("#id_class_name").val() +'</td>' + '<td>' + data[i].email + '</td></tr>');	*/
                                $(".teacher").append('<tr><td>' + academic_year + '</td><td>' + class_name + '</td><td>' + data[i].email + '</td></tr>');
                            }
                        });
            }

            function getCurrentAcademicYear() {
                $.ajax({
                    url: '/school/getCurrentAcademicYear/',
                    type: "GET",
                })
                    .done(function (data) {
                        $('#id_academic_year').empty();
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].current_academic_year == true) {
                                $('#id_academic_year').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>');
                                var academic_year = document.getElementById("id_academic_year").value;
                                var url1 = '/school/viewAcademicDetails/';
                                viewAcademicDetails(url1, academic_year);
                            }
                            if (data[i].current_academic_year == false) {
                                $('#id_academic_year').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].year_name + '</option>')
                            }
                        }
                    });
            }
        }
    </script>
{% endblock %}
{% block content %}
    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:teacher_class_mapping' %}"> Class-Teacher Mapping</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Class-Teacher Mapping Filtered List</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> CLASS & TEACHER MAPPING Filtered List</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'registration:teacher_class_mapping_filteration_list' %}">
                {% csrf_token %}
                <div class="form-body">

                    <div class="row">

                        <div class="col-md-2">
                            <h4> Academic Year:</h4>
                            <div>
                                <input hidden name='year_name' value="{{ Selected_Year_Id }}">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" required="False" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name">
                                    {% if class_rec %}
                                        <option style="display: none" value="{{ class_rec.id }}"
                                                selected="selected">{{ class_rec.class_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name"
                                        name="section_name">
                                    {% if section_rec %}
                                        <option style="display: none" value="{{ section_rec.id }}"
                                                selected="selected">{{ section_rec.section_name }}</option>
                                        <option value="">All</option>
                                    {% else %}
                                        <option value="" selected="selected">All</option>
                                    {% endif %}

                                    {% for section in section_list %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Class Teacher:</h4>
                            <select autocomplete="off" class="form-control" id="id_teacher_name" name="teacher_name">

                                {% if tchr_rec %}

                                    <option style="display: none" value="{{ tchr_rec.id }}"
                                            selected="selected">{{ tchr_rec.get_pura_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}
                                {% for name in name_list %}
                                    <option value="{{ name.id }}">{{ name.val }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3">
                            <h4>Assistant Teacher:</h4>
                            {#                            <div>{{ class_teacher_mapping_form.assistant_teacher_name }} </div>#}
                            <select autocomplete="off" class="form-control" id="id_assistant_teacher_name"
                                    name="assistant_teacher_name">
                                {% if ass_tchr_rec %}
                                    <option style="display: none" value="{{ ass_tchr_rec.id }}"
                                            selected="selected">{{ ass_tchr_rec.get_pura_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}

                                {#                                <option value="" selected="selected">All</option>#}
                                {#                                <option style="display: none" value="{{ ass_tchr_rec.id }}"#}
                                {#                                        selected="selected">{{ ass_tchr_rec.get_pura_name }}</option>#}
                                {% for name in name_list1 %}
                                    <option value="{{ name.id }}">{{ name.val }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3">
                            <br><br>
                            <button type="submit" id="mapping" style="margin-left: 150%;" class="btn blue btn-block">
                                Go
                            </button>

                        </div>
                    </div>


                </div>

            </form>
            <!-- END FORM-->
        </div>
    </div>
    </body></html>

    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Mapped Class & Teacher</span>
            </div>
            <form action="{% url 'registration:export_teacher_class_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden name="year_name1" value="{{ Selected_Year_Id }}">
                <input hidden name="class_name1" value="{{ class_rec.id }}">
                <input hidden name="section_name1" value="{{ section_rec.id }}">
                <input hidden name="teacher_name1" value="{{ tchr_rec.id }}">
                <input hidden name="assistant_teacher_name1" value="{{ ass_tchr_rec.id }}">


                <div class="col-md-2">


                    <button type="submit" class="btn blue btn-block" id="export">Export</button>

                </div>
            </form>
        </div>
        </body></html>


        <div class="portlet-body">

            <form action="{% url 'registration:delete_class_teacher_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>Id</th>
                        <th>Academic Year</th>
                        <th> Class Name</th>
                        <th>Sections</th>
                        <th>Class Teacher Name</th>
                        <th>Assistant Teacher Name</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in class_teacher_mapping_recs %}
                        <tr>
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td><input type='checkbox' name='check'
                                       value="{{ obj.year_name.id }},{{ obj.staff.id }},{{ obj.class_name.id }},{{ obj.section_name.id }}">
                            </td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ obj.year_name }}</td>
                            <td>{{ obj.class_name.class_name }}</td>
                            <td>{{ obj.section_name.section_name }}</td>
                            <td>{{ obj.staff.first_name }} {{ obj.staff.middle_name }} {{ obj.staff.last_name }}</td>
                            <td>{{ obj.assistant_teacher.first_name }} {{ obj.assistant_teacher.middle_name }} {{ obj.assistant_teacher.last_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" class="btn blue" id="delete" name="delete" value="Unmap"/>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>

{% endblock %}
