{% extends "index.html" %}

{% block styleBlock %}
    <style>
        .dataTables_filter {
            display: block;
        }

        .dataTables_length {
            display: block;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                var selchbox = [];

                $('#my-select').multiSelect
                ({
                    afterSelect: function (values) {
                        selchbox.push(values);
                    },
                    afterDeselect: function (values) {
                        selchbox.pop(values);
                    }
                });

                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });

                $("#button1").click(function () {
                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());
                    });
                    {#                    console.log('fav---> ' + favorite);#}
                    strID = favorite.join(", ")
                    {#                    console.log("favoritefavorite", favorite.join(", "));#}

                    if (strID == '') {
                        alert('Please select atleast one record to delete Users role!');
                        return false;

                    }
                });

                $("#id_name").change(function () {
                    {#                    alert("hh")#}
                    var name = document.getElementById("id_name").value;
                    var url = '/school/get_user_include_permission/';
                    ViewPermissionDetails(url, name);

                });

                $('#my-select').multiSelect();

                document.getElementById('mapping').onclick = function () {
                    if (selchbox.length == 0) {
                        alert('Please select atleast one record');
                        return false;
                    }

                    document.getElementById('checkList').value = selchbox;
                    $('#permission_mapping_form').submit();
                };
            });

            var myTable;
            var payload_array_data_set = [];
            var destroy_flag = false;

            function ViewPermissionDetails(url, name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        name: name
                    },
                })
                    .done(function (data) {

                        $('#my-select').multiSelect('refresh');

                        console.log(data);
                        var html = '';

                        for (var i = 0; i < data.length; i++) {
                            if (data[i]['role_include_perms']) {
                                var payload = {
                                    value: data[i]['role_include_perms'].id,
                                    text: data[i]['role_include_perms'].name,
                                    index: i,
                                    nested: 'optgroup_label'
                                };
                                $('#my-select').multiSelect('addOption', payload);
                            }
                        }

                        payload_array_data_set = [];
                        var count = 1;
                        for (var i = 0; i < data.length; i++) {
                            if (data[i]['group_include_perms']) {
                                var new_payload = [count, data[i]['group_include_perms'].name];
                                payload_array_data_set.push(new_payload);
                                count++;
                            }
                        }
                        {#                        alert(JSON.stringify(payload_array_data_set));#}
                        if (destroy_flag == true) {
                            destroy_flag = false;
                            $('#example').dataTable().fnDestroy();
                        }
                        load_datatable(payload_array_data_set);
                    });
            }

            function load_datatable(data) {
                destroy_flag = true;
                var columnDefs = [{
                    title: "Serial No"
                }, {
                    title: "Permission"
                }];

                myTable = $('#example').DataTable({
                    data: data,
                    columns: columnDefs,
                });
            }
        }


    </script>
{% endblock %}
{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:manage_users' %}">Manage Users</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Role-Permission Un-mapping </span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Role-Permission Un-mapping</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form id="permission_mapping_form" method="post"
                  action="{% url 'registration:user_permission_unmapping' %}">
                {% csrf_token %}
                <div class="form-body">

                    <div class="row">

                        <div class="row" style="margin-left: 15%">

                            <label class="col-md-2 control-label"><h4><span style="margin-left: 60%;">Role:</span></h4>

                            </label>
                            <div class="col-md-5">


                                {#                                                   <select autocomplete="off" class="selectpicker form-control" data-live-search="true" value = "{{ user_permission_mapping_form.username }}">#}
                                {#                                                        users_list#}
                                {#                                                   </select>#}

                                <select autocomplete="off" class="form-control" data-live-search="true" id="id_name"
                                        name="name" required="">

                                    <option style="display:none" selected="selected"
                                            value=""> {{ "<--- Role --->" }}</option>

                                    {% for role in role_list %}
                                        <option value="{{ role.name }}">{{ role.name }}</option>
                                    {% endfor %}
                                </select>


                            </div>

                        </div>

                    </div>


                </div>

                <div class="col-md-6" style="margin-left: 28%;">
                    <div class="portlet-title"><h4><span style="margin-left: 3%; "> Available Permissions</span><span
                            style="margin-left: 22%;"> Selected Permissions</span></h4></div>
                    {#	                                            <div class="row "  style=" margin-top: 4%;">#}
                    {#	                                              {{ user_permission_mapping_form.name }}#}
                    {##}
                    {##}
                    {#	                                            </div>#}


                    <select multiple class="form-control" id="my-select" name="my-select[]">
                        {#                                                  {{ user_permission_mapping_form.name }}#}
                    </select>

                    <input type="hidden" name="perms_list" class="source" id="checkList">

                </div>


                <div class="">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9 center-block">

                            <br>

                            <button type="button" id="mapping" class="btn blue btn-block"
                                    style="margin-left: 50%; margin-right: 50%; width: 35%;">
                                Un-Mapp
                            </button>


                        </div>


                    </div>
                </div>


            </form>
        </div>
    </div>

    <!-- END FORM-->
    </div>


    <!-- BEGIN BORDERED TABLE PORTLET-->

    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">DEFAULT USER-PERMISSIONS</span>
            </div>
            {#            <form action="{% url 'registration:export_role_user_mapping' %}" id="form_sample_1" class="form-horizontal"#}
            {#                  method="POST" enctype="multipart/form-data">#}
            {#                {% csrf_token %}#}
            {##}
            {##}
            {#                <div class="col-md-2">#}
            {##}
            {##}
            {#                    <button type="submit" class="btn blue btn-block" id="export">Export</button>#}
            {##}
            {#                </div>#}
            {#            </form>#}
        </div>

        <div class="portlet-body" style="padding: 25px;">
            {#            <form action="{% url 'registration:delete_role_user_mapping' %}" id="form_sample_1" class="form-horizontal"#}
            {#                  method="POST" enctype="multipart/form-data">#}
            {#                {% csrf_token %}#}
            {#                <table class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"#}
            {#                           id="sample_1" role="grid" aria-describedby="sample_1_info">#}
            {#                    <thead>#}
            {#                    <tr>#}
            {#                        <th style="display:none;">Id</th>#}
            {#                        <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"#}
            {#                                aria-sort="ascending" aria-label=" Actions : activate to sort column ascending">Serial No</th>#}
            {#                        <th> User Name</th>#}
            {#                        <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"#}
            {#                                aria-sort="ascending" aria-label=" Actions : activate to sort column ascending"> Permission</th>#}
            {##}
            {#                        <th><input type="checkbox" id="selectAll"/>Select All</th>#}
            {##}
            {#                    </tr>#}
            {##}
            {#                    </thead>#}
            {#                    <tbody id="assignedPermissionId">#}
            {#                    {% for user in users_list %}#}
            {##}
            {#                        <tr>#}
            {#                            <td style="display:none;">{{ forloop.counter }}</td>#}
            {#                            <td>{{ forloop.counter }}</td>#}
            {#                            <td> {{ user.username }}</td>#}
            {#                            <td>{{ user.email }} </td>#}
            {#                            <td><input type='checkbox' name='check' value="{{ user.id }}"></td>#}
            {##}
            {#                        </tr>#}
            {##}
            {#                    {% endfor %}#}
            {#                    </tbody>#}
            {##}
            {#                    <tfoot>#}
            {#                    <tr>#}
            {#                        <td colspan="4">#}
            {#                            <ul class="pagination pull-right"></ul>#}
            {##}
            {#                            <input type="submit" id="button1" name="delete" value="Delete Items"/>#}
            {##}
            {#                        </td>#}
            {##}
            {#                    </tr>#}
            {#                    </tfoot>#}
            {#                </table>#}
            {#            </form>#}


            <table class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                   id="example" role="grid" aria-describedby="sample_1_info">


            </table>

        </div>
    </div>

    <!-- END BORDERED TABLE PORTLET-->


{% endblock %}
                          
