{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>

    <style>

    </style>

{% endblock %}


{% block ScriptBlock %}
    <script>

        window.onload = function () {


            {% comment %}$(document).on("click", ".approve", function () {
                var id = $(this).closest('tr').find('td:eq(0)').html();
                var url = '/school/approve_parent/';
                approve_parent(url, id)
            });{% endcomment %}


            {% comment %}function approve_parent(url, id) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            parent_id: id,
                        },
                })

                    .done(
                        function (data) {


                            location.reload();

                        });
            }{% endcomment %}


            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

    </script>


{% endblock %}

{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:manage_users' %}">Manage Users</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:view_user' %}">View-Edit User</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Preview User Import</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Preview User-Import</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="">
                <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>DOB</th>
{#                    <th>Department</th>#}
                    <th>Contact No</th>
                    <th>Gender</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Post Code</th>
                </tr>
                </thead>
                <tbody>

                {% for rec in temp_data %}
                    <tr>
                        <td style="display:none;"></td>
                        <td>{{ rec.email }}</td>
                        <td>{{ rec.first_name }}</td>
                        <td>{{ rec.middle_name }}</td>
                        <td>{{ rec.last_name }}</td>
                        <td>{{ rec.birth_date|default_if_none:" " }}</td>

{#                        <td>{{ rec.department }}</td>#}
                        <td>{{ rec.contact }}</td>
                        <td>{{ rec.gender }}</td>
                        <td>{{ rec.street }}</td>
                        <td>{{ rec.city }}</td>
                        <td>{{ rec.state }}</td>
                        <td>{{ rec.post_code }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="form-actions">
                <div class="row" style="margin-left: 20%">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="button" onclick="window.location='{% url "registration:import_from_user_preview" %}'" class="btn green">Upload</button>
                        <button type="button" onclick="window.location='{% url "registration:view_user" %}'"
                                class="btn grey-salsa btn-outline" data-dismiss="modal">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
