{% extends "index.html" %}

{% block styleBlock %}
    <style>
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:red;
    border:1px solid #3c7ae4;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius:4px;

}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    border: 35px;
}
.tree li::before {
    border-left:1px solid ;
    bottom:150px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {

    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid black;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:150px;
    color:black;
}
div .switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 55px;
  float: right;
}

/* Hide default HTML checkbox */
div .switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #36c6d3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #36c6d3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}



    </style>

{% endblock %}
{% block ScriptBlock %}

    <script>
        window.onload = function () {
            $('#button_filter').attr('disabled', true);

             $(document).ready(function () {
                 //YOUR JQUERY CODE

                 $(function () {
                     $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
                     $('.tree li.parent_li > span').on('click', function (e) {
                         var children = $(this).parent('li.parent_li').find(' > ul > li');
                         if (children.is(":visible")) {
                             children.hide('fast');
                             $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                         } else {
                             children.show('fast');
                             $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                         }
                         e.stopPropagation();
                     });
                 });
                  $(document).on("change", "#id_name", function (e) {
                      $('#button_filter').attr('disabled', false);
                  });


                 var role_name = document.getElementById("id_name").value

                 if (role_name == "None") {
                     $('#id_name').val($('#id_name'));
                     $('#id_name').prepend($('<option>',
                         {
                             value: '',
                             text: 'Please Select'
                         }));
            }



                 $(document).on("click", ".make", function () {



                     var perm_id = $(this).attr('id')
                     var check_value = $(this).is(':checked');

                     var role_name = $("#role_name_ajax").val()
                     var url = '/school/Updated_user_permission_mapping/';
                     user_permission_mapped_unmapped(url, check_value, perm_id, role_name);


                 });


                 function user_permission_mapped_unmapped(url, check_value, perm_id, role_name) {

                     $.ajax({
                         url: url,
                         type: "GET",
                         data:
                             {
                                 check_value: check_value,
                                 perm_id: perm_id,
                                 role_name: role_name,
                             },
                     })

                         .done(
                             function (data) {

                             });
                 }


             });

        }


    </script>
{% endblock %}
{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:manage_users' %}">Manage Users</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Role-Permissions Mapping</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Role - Permissions Mapping</span>
            </div>

        </div>
        <div class="row">
            <form method="get" >

                <div class="col-md-3" style="margin-left: 150px">

                    <select autocomplete="off" class="form-control" data-live-search="true" id="id_name"
                            name="name" required="">
                        <option style="display:none" selected="selected" value="{{ role_name }}"> {{ role_name }}</option>
                        {% for role in role_list %}
                            <option value="{{ role.name }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>




                </div>
                <div class="col-md-2">
                    <button type="submit" id="button_filter" class="btn blue btn-block">Filter
                    </button>
                </div>
            <input type="hidden"name="role_name"id="role_name_ajax"value="{{ role_name }}">
            </form>

        </div>
    <br>
    <br>



        <div class="tree well" style="background: white; width: 800px;margin-left: 15px;padding: 2px;">
    <ul>
        <li>
            <span id="assessment_id" style="width: 180px;"><i class="icon--open"></i> Assessment</span> <a href=""></a>
            {% for i in assessment %}
                <ul>
                    {% for rec in i.user_include_perms %}



                        <li>

                            <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i class="icon-leaf"></i> {{ rec.name }}
                                <label class="switch" style="height: 46px;width: 60px;">
                                    <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}" checked >

                                    <span class="slider round"></span>
                                </label>

{#                                <span style="float: right;border: none;">#}

{#                                </span>#}
                            </div>


                        </li>
                    {% endfor %}
                    {% for rec in i.user_exclude_perms %}
                        <li>
                            <div style="width: 550px;height: 50px;border:1px solid  #505050 ;background: white;"><i
                                    class="icon-leaf"></i> {{ rec.name }}
                                <label class="switch" style="height: 46px;width: 60px;">
                                    <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}" >

                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </li>




                    {% endfor %}
                </ul>
            {% endfor %}
        </li>
        <li>
            <span style="width: 180px"><i class="icon-folder-open"></i>Attendance</span>
             {% for i in attendance %}
             <ul>
                {% for rec in i.user_include_perms %}

                    <li>
                        <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i
                                class="icon-leaf"></i> {{ rec.name }}

                            <label class="switch" style="height: 46px;width: 60px;">
                                    <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}" checked >

                                    <span class="slider round"></span>
                                </label>

                        </div>
                    </li>


                {% endfor %}
                {% for rec in i.user_exclude_perms %}
                    <li>
                            <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i class="icon-leaf"></i> {{ rec.name }}

                        <label class="switch" style="height: 46px;width: 60px;">
                                    <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}"  >

                                    <span class="slider round"></span>
                                </label>

                            </div>
                        </li>


                {% endfor %}
		    </ul>
             {% endfor %}
        </li>
         <li>
            <span style="width: 180px"><i class="icon-folder-open"></i>Registration</span> <a href=""></a>
             {% for i in registration %}
            <ul>
                {% for rec in i.user_include_perms %}
                    <li>
                            <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i class="icon-leaf"></i> {{ rec.name }}

                        <label class="switch" style="height: 46px;width: 60px;">
                                    <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}" checked >

                                    <span class="slider round"></span>
                                </label>

                            </div>
                        </li>

                {% endfor %}
                {% for rec in i.user_exclude_perms %}
                    <li>
                            <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i class="icon-leaf"></i> {{ rec.name }}

                        <label class="switch" style="height: 46px;width: 60px;">
                                    <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}"  >

                                    <span class="slider round"></span>
                                </label>

                            </div>
                        </li>

                {% endfor %}
		    </ul>
             {% endfor %}
        </li>
        <li>
            <span style="width: 180px"><i class="icon-folder-open"></i>Medical</span>
            {% for i in medical %}
            <ul>
                {% for rec in i.user_include_perms %}
                    <li>
                        <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i
                                class="icon-leaf"></i> {{ rec.name }}

                            <label class="switch" style="height: 46px;width: 60px;">
                                <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}" checked>

                                <span class="slider round"></span>
                            </label>

                        </div>
                    </li>

                {% endfor %}
                {% for rec in i.user_exclude_perms %}
                    <li>
                        <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i
                                class="icon-leaf"></i> {{ rec.name }}

                            <label class="switch" style="height: 46px;width: 60px;">
                                <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}">

                                <span class="slider round"></span>
                            </label>

                        </div>
                    </li>

                {% endfor %}
		    </ul>
         {% endfor %}
        </li>
         <li>
            <span style="width: 180px"><i class="icon-folder-open"></i>Prmotions</span>
             {% for i in Promotions %}
            <ul>
                {% for rec in i.user_include_perms %}
                    <li>
                        <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i
                                class="icon-leaf"></i> {{ rec.name }}

                            <label class="switch" style="height: 46px;width: 60px;">
                                <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}" checked>

                                <span class="slider round"></span>
                            </label>

                        </div>
                    </li>

                {% endfor %}
                {% for rec in i.user_exclude_perms %}
                    <li>
                        <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i
                                class="icon-leaf"></i> {{ rec.name }}

                            <label class="switch" style="height: 46px;width: 60px;">
                                <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}">

                                <span class="slider round"></span>
                            </label>

                        </div>
                    </li>

                {% endfor %}
		    </ul>
          {% endfor %}
        </li>
        <li>
            <span style="width: 180px"><i class="icon-folder-open"></i>Strike off</span> <a href=""></a>
            {% for i in strike_off %}
             <ul>
                {% for rec in i.user_include_perms %}
                   <li>
                            <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i class="icon-leaf"></i> {{ rec.name }}

                        <label class="switch" style="height: 46px;width: 60px;">
                                    <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}" checked >

                                    <span class="slider round"></span>
                                </label>

                            </div>
                        </li>

                {% endfor %}
                {% for rec in i.user_exclude_perms %}
                    <li>
                            <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i class="icon-leaf"></i> {{ rec.name }}

                        <label class="switch" style="height: 46px;width: 60px;">
                                    <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}"  >

                                    <span class="slider round"></span>
                                </label>


                            </div>
                        </li>

                {% endfor %}
		    </ul>
             {% endfor %}
        </li>
        <li>
            <span style="width: 180px"><i class="icon-folder-open"></i>Transfer Certificate</span>
            {% for i in transfer_certificate %}
             <ul>
                {% for rec in i.user_include_perms %}
                    <li>
                            <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i class="icon-leaf"></i> {{ rec.name }}

                        <label class="switch" style="height: 46px;width: 60px;">
                                    <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}" checked >

                                    <span class="slider round"></span>
                                </label>

                            </div>
                        </li>

                {% endfor %}
                {% for rec in i.user_exclude_perms %}
                    <li>
                            <div style="width: 550px;height: 50px;border: 1px solid #505050;background: white;"><i class="icon-leaf"></i> {{ rec.name }}

                         <label class="switch" style="height: 46px;width: 60px;">
                                    <input type="checkbox" data-size="small" class="make" id="{{ rec.id }}" >

                                    <span class="slider round"></span>
                                </label>

                            </div>
                        </li>

                {% endfor %}
		    </ul>
             {% endfor %}
        </li>
    </ul>
</div>
    </div>


{% endblock %}
                          
