{% extends "index.html" %}
{% load staticfiles %}



{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE

            {#            var academic_year = document.getElementById("id_academic_year").value;#}
            {#            var url1 = '/school/viewAcademicDetails/';#}
            {#            viewAcademicDetails(url1, academic_year)#}
            //viewAcademicDetails1(url1,academic_year)


            var class_name = document.getElementById("id_class_name").value;
            var year_name = document.getElementById("id_academic_year").value;


            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }


            {% comment %}if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }{% endcomment %}


            $(document).ready(function () {


                $('#submit1').attr('disabled', true);
                $('#detain').attr('disabled', true);

                var forms = $('.len')
                if (forms.length > 0) {

                    $('#export_button').attr('disabled', false);
                }

            });

            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(this).remove();
            });

            {#            $("#id_academic_year").change(function () {#}
            {#                var academic_year = document.getElementById("id_academic_year").value;#}
            {#                var url1 = '/school/viewAcademicDetails/';#}
            {#                viewAcademicDetails(url1, academic_year)#}
            {#            });#}


            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });

        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').attr('required', 'true')

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>'
                        );

                        for (var i = 0; i < data.length; i++) {

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                            $('#id_section_name').prop("disabled", false);
                        }
                    });
        }


    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:academic_school' %}"> Academic & School</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>View/Download Student-Subject List </span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">View/Download Student-Subject List </span><br><br>
            </div>

            <div class="col-md-2" style="margin-left: 60%">
                <form method="post" action="{% url 'registration:export_view_student_subject' %}" id="">
                    {% csrf_token %}
                    <input value="{{ Selected_Year_Id }}" name="export_year_name" hidden>
                    <input value="{{ class_name.id }}" name="export_class_name" hidden>
                    <input value="{{ section_name.id }}" name="export_section_name" hidden>
                    <button style="width: 100%" type="submit" value="Submit" id="export_button" class="btn blue"
                            disabled>Export
                    </button>
                </form>
            </div>

            {% comment %}<div class="col-md-2" style="margin-left: 60%;margin-top:-35px;">
                <button style="width: 100%" data-toggle="modal" id="import_house" data-target="#myModal" type="button"
                        class="btn green">Import
                </button>
            </div>{% endcomment %}
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'registration:filter_view_student_subject' %}" id="form_sample_1">
                    {% csrf_token %}
                    <div class="row" style="margin-left: 10%">

                        <div class="col-md-3">
                            <h4>Academic Year </h4>

                            <div class="">
                                <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4>Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required>
                                    {% if class_name %}

                                        {% if class_name == 'All' %}
                                            <option selected="selected" value="All">All</option>
                                        {% else %}
                                            <option style="display: none" value="{{ class_name.id }}"
                                                    selected="selected">{{ class_name.class_name }}</option>
                                            <option value="All">All</option>
                                        {% endif %}

                                    {% else %}
{#                                        <option value="" selected="selected">Please Select</option>#}
                                        <option value="">Please Select</option>
                                         <option value="All">All</option>
                                    {% endif %}

                                    {% for class in ClassDetails %}

                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name"
                                        name="section_name" required>
                                    {% if section_name %}
                                        {% if section_name == 'All' %}
                                            <option selected="selected" value="All">All</option>
                                        {% else %}
                                            <option style="display: none" value="{{ section_name.id }}"
                                                    selected="selected">{{ section_name.section_name }}</option>
                                            <option value="All">All</option>
                                        {% endif %}
                                    {% else %}
{#                                        <option value="" selected="selected">Please Select</option>#}
                                        <option value="">Please Select</option>
                                        <option value="All">All</option>
                                    {% endif %}

                                    {% for section in Section %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top: 38px;">GO
                            </button>
                        </div>
                    </div>
                </form>
                <br>

                <table name="data"
                       class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                       id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                    <tr role="row">
                        <th style="display: none">ID
                        </th>
                        <th>Academic Year</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Student Name</th>
                        <th>Student Code</th>
                        {% for subject in mandatory_rec %}
                            <input hidden value="{{ count.inc }}">
                            <th>Subject-{{ count.disp }}</th>
                        {% endfor %}

                        {% for subject in optional_rec %}
                            <input hidden value="{{ count.inc }}">
                            <th>Subject-{{ count.disp }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for rec in record_list %}
                        <tr style="cursor: pointer;" name="data" id="body">
                            <td class="len" style="display: none">{{ obj.id }}</td>
                            <td class="len">{{ rec.student.academic_class_section.year_name.year_name }}</td>
                            <td class="len">{{ rec.student.academic_class_section.class_name.class_name }}</td>
                            <td class="len">{{ rec.student.academic_class_section.section_name.section_name }}</td>
                            <td class="len" title="{{ rec.student.get_all_name }}">{{ rec.student.get_all_name }}</td>
                            <td class="len" title="{{ rec.student.get_all_name }}">{{ rec.student.student_code }}</td>

                            {% for subject_name in rec.mandatory_subjects %}
                                <td class="len">{{ subject_name }}</td>
                            {% endfor %}

                            {% for subject_name in rec.optional_subjects %}
                                <td class="len">{{ subject_name }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- END FORM-->
        </div>
    </div>

    {% comment %}<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="{% url 'registration:import_academic_house_info' %}" id="form_sample_1"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Choose File</h4>
                    </div>
                    <div class="modal-body">
                        {{ import_house_form.excel }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>{% endcomment %}

{% endblock %}
                        
