{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>
        .pic {
            width: 180px;
        }

        Gender {
            width: 200px;
        }

        sec {
            width: 100px;
        }

        clas {
            width: 100px;
        }

        code {
            width: 200px;
        }


    </style>
{% endblock %}


{% block ScriptBlock %}

    <script>

        window.onload = function () {
            {% comment %} $("#update").click(function () {
                $("#form_sample_1_update_photo").submit();
            {);{% endcomment %}

            File.prototype.convertToBase64 = function (callback) {
                var reader = new FileReader();
                reader.onloadend = function (e) {
                    callback(e.target.result, e.target.error);
                };
                reader.readAsDataURL(this);
            };


            {#$(".abc").hover(function(){#}

            $(document).on("mouseenter", ".abc", function () {


                $('#' + $(this).children("input").attr('id')).show();

            }),  $(document).on("mouseleave", ".abc", function () {


                $('#' + $(this).children("input").attr('id')).hide();
            });


            var converted_base64_image = '';
            var all_rec = [];


            $(document).on("change", ".item", function (e) {

                var stud_id = ($(this).attr('id'));
                var selectedFile = this.files[0];
                selectedFile.convertToBase64(function (base64) {
                    converted_base64_image = (base64);
                    var update_image = {"student_id": stud_id, "photo": converted_base64_image}
                    all_rec.push(update_image);
                    strID = (JSON.stringify(all_rec))
                    $("#strikeId").val(strID);

                })

                var file = document.getElementById(stud_id).files[0];
                var reader = new FileReader();
                reader.onload = function (event) {
                    var data = event.target.result;
                };
                url = reader.readAsDataURL(file);

                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return;
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    alert("Only formats are allowed : " + fileExtension.join(', '));
                    $(this).val('');
                    return false;

                }


                else {

                    var ReaderObj = new FileReader();
                    ReaderObj.readAsDataURL(files[0]);
                    ReaderObj.onloadend = function () {

                        $("#images_change-" + stud_id).attr('src', event.target.result)
                            .width(180)
                            .height(180)


                    }

                }


                var favorite = [];

                $("#update").click(function () {

                    if (all_rec == '') {

                        return false;
                    }
                    $("#form_sample_1_update_photo").submit();

                });
            });


            {#            var academic_year = document.getElementById("id_academic_year").value;#}
            {#            var url1 = '/school/viewAcademicDetails/';#}
            {#            viewAcademicDetails(url1, academic_year)#}

            var class_name = document.getElementById("id_class_name").value;
            var section_name = document.getElementById("id_section_name").value;

            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
            }
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
            }


            $("#id_academic_years").change(function () {
                var academic_year = document.getElementById("id_academic_years").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year);
            });


            $("#id_class_name").change(function () {
                var academic_year = document.getElementById("id_academic_years").value;
                var class_name = document.getElementById("id_class_name").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailAttendance(url, academic_year, class_name);
                {#                document.getElementById("attendanceYear").value = academic_year;#}
            });

            $("#go1").click(function (event) {
                $('#form_sample_2').submit();
            });


            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });

        }

        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {
                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="All">All</option>');
                    for (var i = 0; i < data.length; i++) {

                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }
                });
        }

        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }

        function ViewSectionDetailAttendance(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                        }


                    });


        }


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> View Student Photos</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> MANAGE STUDENT DETAILS</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'registration:view_photo_filter_student_list' %}"
                      id=" form_sample_1 ">
                    {% csrf_token %}

                    <div class="row">


                        <div class="col-md-2">
                            <h4> Academic Years </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_years" name="year_name" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_year_id }}"> {{ selected_year_name }}</option>
                                    {% for year in academic_year %}
                                        <option value="{{ year.id }}">{{ year.year_name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="year_name" value="{{ selected_year_id }}">
                                <div id='id_academic_years_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select academic year
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_class_id }}"> {{ selected_class_name }}</option>
                                    {% for class in ClassDetails %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                                        {{ ClassSection.class_name }}#}
                                <div id='id_class_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select class
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_section_id }}"> {{ selected_section_name }}</option>
                                    {% for section in SectionDetails %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                                        {{ ClassSection.section_name }}#}
                                <div id='id_section_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select section
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top : 38px;"> GO
                            </button>
                        </div>

                        <div class="col-md-2">
                            <span type="submit" id="update" class="btn green" style="margin-top : 38px;">Update</span>
                        </div>

                        {% comment %}<div class="col-md-2">
                            <button type="button" class="btn blue btn-block" id="go1" style="margin-top : 38px;"> Download Photos
                            </button>
                        </div>{% endcomment %}
                    </div>
                </form>

            </div>
        </div>
        {#        <div class="portlet-body">#}
        {#            <div class="form-body">#}
        {#                <form method="post" {% comment %}action="{% url 'registration:export_student_photos' %}"{% endcomment %} id="form_sample_2">#}
        {#                    {% csrf_token %}#}
        {#                    <input value="{{ selected_year_id }}" name="year_name" hidden>#}
        {#                    <input value="{{ selected_class_id }}" name="class_name" hidden>#}
        {#                    <input value="{{ selected_section_id }}" name="section_name" hidden>#}
        {#                    <input id="id_hos" name="hos" hidden>#}
        {#                    {% comment %}<div class="col-md-3">#}
        {#                        <button type="submit" class="btn blue btn-block" id="go1" style="margin-top : 38px;"> Export#}
        {#                        </button>#}
        {#                    </div>{% endcomment %}#}
        {##}
        {#                </form>#}
        {#            </div>#}
        {#        </div>#}
        <form action="{% url 'registration:save_update_photo' %}" id="form_sample_1_update_photo"
              class="form-horizontal"
              method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" name="strikeId" id="strikeId">


            <div class="portlet-body">
                <div class="table-toolbar">

                </div>

                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Sr No</th>
                        <th class="pic">Photo</th>
                        <th class="code">Student Code</th>
                        <th>Name</th>
                        <th class="clas">Class</th>
                        <th class="sec">Section</th>
                        <th class="Gender">Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in student_list %}
                        <tr
                                style="cursor: pointer;">
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td>
                                <div class="col-md-4 abc">

                                    <img id="images_change-{{ student.student_obj.id }}"
                                         src="{{ path }}{{ student.photo }}" height="180" width="180"
                                         onerror="this.src='{% static 'images/user.png' %}'; this.height='180' ;this.width='180' ">
                                    <input class="item" id="{{ student.student_obj.id }}" name="photo" type="file"
                                           value="{{ path }}{{ student.photo }}" style="display: none">
                                </div>
                                {#                            <input type="hidden" class="all_photo" id="all_photo-{{ forloop.counter }}" name="photo" value="{{ student.photo }}">#}
                            </td>
                            <td onclick="window.location='{% url "registration:update_student_from_photo" student.student_obj.id %}'">{{ student.student_obj.student_code }}</td>
                            <td onclick="window.location='{% url "registration:update_student_from_photo" student.student_obj.id %}'">{{ student.get_all_name }}</td>
                            <td onclick="window.location='{% url "registration:update_student_from_photo" student.student_obj.id %}'">{{ student.class_name }}</td>
                            <td onclick="window.location='{% url "registration:update_student_from_photo" student.student_obj.id %}'">{{ student.section_name }}</td>
                            <td onclick="window.location='{% url "registration:update_student_from_photo" student.student_obj.id %}'">{{ student.gender }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
{% endblock %}
