{% extends "index.html" %}

{% block styleBlock %}
    <style>

    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")

                var selchbox = [];

                $('#id_username').multiSelect
                ({
                    afterSelect: function (values) {
{#                        alert("Select value: "+values);#}
                        selchbox.push(values);
                    },
                    afterDeselect: function (values) {
{#                        alert("Deselect value: "+values);#}
                        selchbox.pop(values);
                    }
                });

                document.getElementById('mapping').onclick = function () {
                    if (selchbox.length == 0) {
                        alert('Please select atleast one record');
                        return false;
                    }

                    document.getElementById('checkList').value = selchbox;
                    $('#role_wise_user_form').submit();
                };


                $("#id_name").change(function () {
                    var role_name = document.getElementById("id_name").value;
                    var url = '/school/get_user_role_wise/';
                    GetUserRoleWise(url, role_name);

                });

                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });


                $("#button1").click(function () {

                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());

                    });
                    strID = favorite.join(", ")
                    console.log("favoritefavorite", favorite.join(", "))

                    if (strID == '') {
                        alert('Please select atleast one record to delete Users role!')
                        return false;
                    }
                })



                function GetUserRoleWise(url, role_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        role_name: role_name
                    },
                })

                    .done(function (data) {
{#                        alert(data.length);#}
{#                        alert(JSON.stringify(data));#}
                        $("#id_username").multiSelect('refresh');
                        for (var i = 0; i < data.length; i++) {
                            var payload = {
                                    value: data[i].id,
                                    text: data[i].user_name_name,
                                    index:i,
                                    nested: 'optgroup_label',
                                    label:'riyaz'
                                };
                             $('#id_username').multiSelect('addOption', payload);
                            }

                    });
            }
            });




            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }
    </script>
{% endblock %}
{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:manage_users' %}">Manage Users</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Role-User Mapping</span>
            </li>
        </ul>

    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Role & User Mapping</span>
            </div>

        </div>
        <div class="portlet-body">
            <form id="role_wise_user_form" method="post" action="{% url 'registration:role_user_mapping' %}">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="row" style="margin-left: 10%">
                            <label class="col-md-2 control-label"><h4><span style="margin-left: 70%;">Role:</span></h4>
                            </label>
                            <div class="col-md-5">
                                {{ role_user_mapping_form.name }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="margin-left: 28%;">
                    <div class="portlet-title"><h4><span style="margin-left: 3%; "> Available Users</span><span
                            style="margin-left: 22%;"> Selected Users</span></h4></div>
                    <div class="row " style=" margin-top: 4%;">
                        <select multiple="multiple" class="selectfilter" data-field-name="StaffDetails"
                                data-is-stacked="0" id="id_username" name="username" >
{#                            {% for rec in user_data %}#}
{#                                <option value="{{ rec.id }}">{{ rec.get_pura_name }}</option>#}
{#                            {% endfor %}#}
                        </select>

                        <input type="hidden" name="perms_list" class="source" id="checkList">


                    </div>
                </div>


                <div class="">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9 center-block">
                            <br>
                            <button type="button" id="mapping" class="btn blue btn-block"
                                    style="margin-left: 50%; margin-right: 50%; width: 35%;">
                                Mapping
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- END FORM-->
    </div>
    </html>

    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">MAPPED ROLE & USER</span>
            </div>
            <form action="{% url 'registration:export_role_user_mapping' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-2">
                    <button type="submit" class="btn blue btn-block" id="export">Export</button>
                </div>
            </form>
        </div>

        <div class="portlet-body" style="padding: 25px;">
            <form action="{% url 'registration:delete_role_user_mapping' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered  table-checkable order-column" id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>Sr. No.</th>
                        <th> Role Name</th>
                        <th> User Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user_rec in user_recs %}
                        <tr>
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td><input type='checkbox' name='check' value="{{ user_rec.id }}"></td>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ user_rec.role }}</td>
                            <td>{{ user_rec.user_name }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="button1" name="delete" value="Delete Items"/>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
                          
