{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>

    </style>
{% endblock %}


{% block ScriptBlock %}

    <script>

        window.onload = function () {


            {#            var academic_year = document.getElementById("id_academic_year").value;#}
            {#            var url1 = '/school/viewAcademicDetails/';#}
            {#            viewAcademicDetails(url1, academic_year)#}

            var select_type = document.getElementById("id_select_type").value;
{#            var section_name = document.getElementById("id_section_name").value;#}

            if (select_type == '') {
                $('#id_select_type').val($('#id_select_type'));
                $('#id_select_type').prepend($('<option>', {
                    value: '',
                    text: 'Select Type'
                }));
            }
{#            if (section_name == '') {#}
{#                $('#id_section_name').val($('#id_section_name'));#}
{#                $('#id_section_name').prepend($('<option>', {#}
{#                    value: 'All',#}
{#                    text: 'All'#}
{#                }));#}
{#            }#}


{#            $("#id_academic_years").change(function () {#}
{#                var academic_year = document.getElementById("id_academic_years").value;#}
{#                var url1 = '/school/viewAcademicDetails/';#}
{#                viewAcademicDetails(url1, academic_year);#}
{#            });#}


{#            $("#id_class_name").change(function () {#}
{#                var academic_year = document.getElementById("id_academic_years").value;#}
{#                var class_name = document.getElementById("id_class_name").value;#}
{#                var url = '/school/viewSectionDetails/';#}
{#                ViewSectionDetailAttendance(url, academic_year, class_name);#}
                {#                document.getElementById("attendanceYear").value = academic_year;#}
{#            });#}

            $("#go1").click(function (event) {

{#                var id_house_name = $('#id_house_name').val();#}
{#                alert('id_house_name'+id_house_name);#}
{#                return false;#}
{#                yy = document.getElementById("id_hos").value = id_house_name;#}



                $('#form_sample_2').submit();
            });


{#            $(".alert").fadeTo(500, 0).slideUp(500, function () {#}
{#                $(this).remove();#}
{#            });#}

                     $('#sample_1').dataTable().fnDestroy();

         $('#sample_1').dataTable({
             "aoColumnDefs": [
                 {'bSortable': false}
             ]
         });

        }

{#        function viewAcademicDetails(url1, academic_year) {#}
{##}
{#            $.ajax({#}
{#                url: url1,#}
{#                type: "GET",#}
{#                data: {#}
{#                    academic_year: academic_year#}
{#                },#}
{#            })#}
{#                .done(function (data) {#}
{#                    $('#id_class_name').empty();#}
{#                    $('#id_class_name').append(#}
{#                        '<option value="All">All</option>');#}
{#                    for (var i = 0; i < data.length; i++) {#}
{##}
{#                        $('#id_class_name').append(#}
{#                            '<option value="' + data[i].id + '">'#}
{#                            + data[i].class_name + '</option>')#}
{#                    }#}
{#                });#}
{#        }#}

{#        function ViewSectionDetailStudent(url, academic_year, class_name) {#}
{##}
{#            $.ajax({#}
{#                url: url,#}
{#                type: "GET",#}
{#                data: {#}
{#                    academic_year: academic_year,#}
{#                    class_name: class_name#}
{#                },#}
{#            })#}
{##}
{#                .done(#}
{#                    function (data) {#}
{##}
{#                        console.log("print you are in section ajax")#}
{#                        console.log(data);#}
{##}
{#                        $('#id_section_name').empty();#}
{#                        $('#id_section_name').append(#}
{#                            '<option value="All">All</option>');#}
{##}
{#                        for (var i = 0; i < data.length; i++) {#}
{#                            $('#id_section_name').append(#}
{#                                '<option value="' + data[i].id + '">'#}
{#                                + data[i].section_name + '</option>')#}
{##}
{#                        }#}
{#                    });#}
{#        }#}

{#        function ViewSectionDetailAttendance(url, academic_year, class_name) {#}
{##}
{#            $.ajax({#}
{#                url: url,#}
{#                type: "GET",#}
{#                data: {#}
{#                    academic_year: academic_year,#}
{#                    class_name: class_name#}
{#                },#}
{#            })#}
{##}
{#                .done(#}
{#                    function (data) {#}
{#                        console.log(data);#}
{##}
{#                        $('#id_section_name').empty();#}
{#                        $('#id_section_name').append(#}
{#                            '<option value="All">All</option>');#}
{##}
{#                        for (var i = 0; i < data.length; i++) {#}
{##}
{#                            /* console.log(data[i].apartment_flat_no) */#}
{#                            /* $('#id_apartment_flat_no').empty(); */#}
{##}
{#                            $('#id_section_name').append(#}
{#                                '<option value="' + data[i].id + '">'#}
{#                                + data[i].section_name + '</option>')#}
{##}
{#                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);#}
{#                             */#}
{#                        }#}
{##}
{##}
{#                    });#}
{##}
{##}
{#        }#}


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>Missing Profile Students</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Manage Missing Profile Students</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'registration:view_missing_student_list' %}" id=" form_sample_1 ">
                    {% csrf_token %}

                    <div class="row">

                     <div class="col-md-2">
                            <h4> Select Attribute </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_select_type"
                                        name="select_type" required>
{#                                     <option  selected="selected" style="display:none"></option>#}
                                     <option style="display:none" selected="selected"
                                            value="{{ selected_select_type_id }}"> {{ selected_select_name }}</option>
                                    <option value="0">Student Picture</option>
                                    <option value="1">Gender</option>
                                    <option value="2">Birth Date</option>
                                    <option value="3">Father Name</option>
                                    <option value="4">Father Mobile</option>
                                    <option value="5">Blood Group</option>
                                    <option value="6">Transport Details</option>
                                    <option value="7">Weight</option>
                                    <option value="8">Height</option>
{#                                    <option value="5">Odoo ID</option>#}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top : 38px;"> GO
                            </button>
                        </div>


                        <div class="col-md-2">
                            <button type="button" class="btn blue btn-block" id="go1" style="margin-top : 38px;"> Export
                            </button>
                        </div>


                    </div>
                </form>

            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'registration:export_student_missing_profile' %}" id="form_sample_2">
                    {% csrf_token %}
                    <input value="{{ selected_select_type_id }}" name="selected_type_rec_id" hidden>
                </form>
            </div>
        </div>


        <div class="portlet-body">
            <div class="table-toolbar">

            </div>

            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <th style="display:none;">Sr No</th>
                    <th>Student Code</th>
                    <th>Name</th>
                    <th>Academic Year</th>
                    <th>Class</th>
                    <th>Section</th>
                    <th>Birth Date</th>
                    <th>Parent Code</th>
                    <th>Parent Name</th>
                    <th>Gender</th>
                    <th>House</th>
                    <th>Transport Details</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>

                {% for student in students_list %}

                    <tr onclick="window.location='{% url "registration:update_student_from_missing_profile" student.id %}'"
                        style="cursor: pointer;">
                        <td style="display:none;">{{ forloop.counter }}</td>
                        <td>{{ student.student_code }}</td>
                        <td>{{ student.get_all_name }}</td>
                        <td>{{ student.academic_class_section.year_name }}</td>
                        <td>{{ student.academic_class_section.class_name }}</td>
                        <td>{{ student.academic_class_section.section_name }}</td>
                        <td>{{ student.birth_date }}</td>
                        <td>{{ student.parent.code }}</td>
                        <td>{{ student.parent.user.get_pura_name }}</td>

                        <td>{{ student.gender }}</td>
                        <td>{{ student.house_name }}</td>
                        <td>{{ student.transport }}</td>
                        <td>
                            {% if student.is_active == True %}
                                <label style="color:green;">Active</label>
                            {% else %}
                                <label style="color:red;">In-Active</label>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>

      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="{% url 'registration:import_students_bulk_details' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Choose File</h4>
                    </div>
                    <div class="modal-body">
                        {{ students_form.excel }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}
