{% extends "index.html" %}
{% load staticfiles %}
       

 {%block styleBlock%}
<!-- BEGIN GLOBAL MANDATORY STYLES -->
      
        <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
        
       
         </head>
    <!-- END HEAD -->
    
     <style type="text/css">  
        .page-bar {
    margin-bottom: 1px;
}



      </style> 
    
   
    {%endblock%}
    
{%block ScriptBlock%} 

<script>
window.onload = function() { 

    
    
    roleId = $('#roleid').val();
    console.log("roleId",roleId)
    
    if(roleId == 2) {
    console.log("in if condtnt")
    $('.bg-yellow-gold').css("display","none");

    $('.bg-green-turquoise').css("display","none");
    $('.bg-purple-intense').css("display","none");
    $('.bg-green-sharp').css("display","none");
    
    $('.bg-red-sunglo').css("display","none");
    $('.bg-yellow-mint').css("display","none");
    $('.bg-blue-madison').css("display","none");
    
    $('.bg-blue-steel').css("display","none");
    
    $('.bg-green-sharp').css("display","none");
    
    
    $('.bg-yellow-lemon').css("display","none");
    
    $('.bg-grey-silver').css("display","none");
    
    
    
    $('#idCards').css("display","none");
    
    $('#manageUsers').css("display","none");
}

    if(roleId == 4) {
    console.log("in if condtnt")
    $('.bg-yellow-gold').css("display","none");

    $('.bg-green-turquoise').css("display","none");
    
    $('.bg-green-sharp').css("display","none");
    
    $('.bg-red-sunglo').css("display","none");
    $('.bg-yellow-mint').css("display","none");
    $('.bg-blue-madison').css("display","none");
    
    $('.bg-blue-steel').css("display","none");
    
    $('.bg-green-sharp').css("display","none");
    
    $('.bg-purple-intense').css("display","none");
    
    $('.bg-yellow-lemon').css("display","none");
    
    $('.bg-grey-silver').css("display","none");
    
    
    
    $('#idCards').css("display","none");
    
    $('#manageUsers').css("display","none");
}
    
    
    $(".alert").fadeTo(500, 0).slideUp(500, function()
    {
        $(this).remove(); 
    });
}

</script>

{%endblock%}

 {% block content %}
				<div class="page-bar" style="margin-bottom: 1px;">
				                        <ul class="page-breadcrumb">
				                            <li>
				                                <i class="icon-home"></i>
				                                 <a href="{% url 'registration:home' %}">Home</a> 
				                                <i class="fa fa-angle-right"></i>
				                            </li>
				                             <li>
				                                
				                                 <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>   
				                                <i class="fa fa-angle-right"></i>
				                            </li>
				                            <li>
				                                
				                                <span>Medical Menu</span>
				                                
				                            </li>
				                           
				                        </ul>
				                        
				        </div>
 

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}

                            <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light ">
                       
                        <div class="portlet-body">

                            <div class="tiles">
                            {% if 'registration.can_view_parent_student' and 'medical.can_view_medical_info' and 'medical.can_view_add_medical_details' in perms %}
                               <div class="tile bg-blue-steel" style="height: 170px !important;width: 48% !important;">
                                <a href="{% url 'medical:view_class_section_details' %}">

                                    <div class="tile-body">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        
                                    </div>
                                    <div class="tile-object">
                                        <div class="name"><h5 style="font-size: 20px;">Add Medical Details</h5> </div>
                                        
                                    </div>
                                    </a>
                                </div>
                            {% endif %}

                            {% if 'registration.can_view_parent_student' and 'medical.can_view_medical_info' and 'medical.can_view_view_edit_medical_details' in perms %}
                               <div class="tile bg-green-sharp" style="height: 170px !important;width: 48% !important;" >
                                <a href="{% url 'medical:view_update_class_section_details' %}">

                                    <div class="tile-body">
                                        <i class="glyphicon glyphicon-tasks"></i>
                                        
                                    </div>
                                    <div class="tile-object">
                                        <div class="name"><h5 style="font-size: 20px;">View-Edit Medical Details </h5> </div>
                                        
                                    </div>
                                    </a>
                                </div>
                            {% endif %}

                            </div>
                        </div>
                    </div>
                            <!-- END VALIDATION STATES-->
                     
                      
         {% endblock %}           
                        
