{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;

        }


    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            {#          window.reload();#}
            //YOUR JQUERY CODE
            var elements = $("#tbody > tr").length;
            {# Length of total elements in table#}

            {#            var academic_year = document.getElementById("id_academic_year").value;#}
            {#            var url1 = '/school/viewAcademicDetails/';#}
            {#            viewAcademicDetails(url1,academic_year)#}


            $("#id_academic_year").change(function () {

                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)

            });

            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);

            });

            $(function () {
                var i;
                for (i = 1; i <= elements; i++) {
                    $(document).on("keypress", "#bloodgrp" + i, function (e) {
                        {#                  $('#bloodgrp' + i).keypress(function (e) {#}
                        // alert("Hello...")
                        var regex = new RegExp(/^[A|a|B|b|AB|ab|Ab|O|o|+|-]$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;

                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }
            });

            $(function () {
                var i;
                for (i = 1; i <= elements; i++) {
                    $(document).on("keypress", "#height" + i, function (e) {
                        {#                  $('#height' + i).keypress(function (e) {#}

                        var regex = new RegExp(/^[0-9.]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;

                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }
            });


            $(function () {
                var i;
                for (i = 1; i <= elements; i++) {
                    {#                  $('#weight' + i).keypress(function (e) {#}
                    $(document).on("keypress", "#weight" + i, function (e) {

                        var regex = new RegExp(/^[0-9.]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;
                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }
            });
            $(function () {
                var i;
                for (i = 1; i <= elements; i++) {
                    {#                  $('#weight' + i).keypress(function (e) {#}
                    $(document).on("keypress", "#BMI" + i, function (e) {

                        var regex = new RegExp(/^[0-9.]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;
                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }
            });

            $(function () {
                var i;
                for (i = 1; i <= elements; i++) {
                    $(document).on("keypress", "#medication" + i, function (e) {
                        {#                  $('#medication' + i).keypress(function (e) {#}

                        var regex = new RegExp(/^[a-zA-Z\s]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;

                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }
            });

            $(function () {
                var i;
                for (i = 1; i <= elements; i++) {
                    $(document).on("keypress", "#allergic" + i, function (e) {
                        {#                  $('#allergic' + i).keypress(function (e) {#}

                        var regex = new RegExp(/^[a-zA-Z\s]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;

                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }
            });


            $(function () {
                $(document).on("keypress", "#hight", function (e) {
                    {#              $('#hight').keypress(function (e) {#}
                    var regex = new RegExp(/^[0-9.]+$/);
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {
                        return true;
                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                });
            });


            $(function () {
                $(document).on("keypress", "#wight", function (e) {

                    {#              $('#wight').keypress(function (e) {#}

                    var regex = new RegExp(/^[0-9.]+$/);
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {
                        return true;

                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                });

            });
            $(function () {
                $(document).on("keypress", "#bmi", function (e) {

                    {#              $('#wight').keypress(function (e) {#}

                    var regex = new RegExp(/^[0-9.]+$/);
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {
                        return true;

                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                });

            });


            $(function () {

                $(document).on("keypress", "#undermedication", function (e) {

                    {#              $('#undermedication').keypress(function (e) {#}

                    var regex = new RegExp(/^[a-zA-Z\s]+$/);
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {
                        return true;

                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                });

            });

            $(function () {
                $(document).on("keypress", "#alergic", function (e) {

                    {#              $('#alergic').keypress(function (e) {#}

                    var regex = new RegExp(/^[a-zA-Z\s]+$/);
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {
                        return true;

                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                });

            });

            class_name = document.getElementById("id_class_name").value
            $('#class_name').val(class_name);
            section_name = document.getElementById("id_section_name").value
            $('#section_name').val(section_name);

            function edit_medical_student(url, id, bg, ht, wt, mt, al) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        stdid: id,
                        bldgrp: bg,
                        hgt: ht,
                        wgt: wt,
                        mdt: mt,
                        alg: al,
                    },
                })

                    .done(
                        function (data) {

                            console.log("in edit_medical_student ajax")
                            location.reload();

                        });
            }

            $(document).ready(function () {

                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').DataTable({
                    "paging": false,
                    "ordering": false,
                    "info": false,
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });

                $(document).on("click", ".add", function (e) {

                    {#$(".add").click(function () {#}


                    id = $(this).closest('tr').find('td:eq(0)').html();

                    {#                         alert("id--> " +id)#}
                    $('#studentid').val(id);
                    bg = $(this).closest('tr').find('td:eq(2)').find('input[name="job_num"]').val();
                    if (bg == "") {
                        alert("Blood Group Is Mandatory.")
                        return false;
                    }
                    $("#bloodgrp").val(bg);
                    ht = $(this).closest('tr').find('td:eq(3)').find('input[name="job_num1"]').val();
                    $("#height").val(ht);

                    {#                          alert("hight--> "+ht)#}
                    wt = $(this).closest('tr').find('td:eq(4)').find('input[name="job_num2"]').val();
                    $("#weight").val(wt);

                    bmi = $(this).closest('tr').find('td:eq(5)').find('input[name="job_num6"]').val();
                    $("#calculate_bmi").val(bmi);


                    {#                          alert("wt---> "+wt)#}
                    mt = $(this).closest('tr').find('td:eq(6)').find('input[name="job_num3"]').val();
                    $("#medication").val(mt);

                    {#                          alert("mt--> "+mt)#}
                    al = $(this).closest('tr').find('td:eq(7)').find('input[name="job_num4"]').val();
                    $("#allergic").val(al);

                    if (ht != "" && wt == "") {
                        alert("Please enter the weight")
                        return false;
                    }

                    if (ht == "" && wt != "") {
                        alert("Please enter the height")
                        return false;
                    }
                });


                var i;
                for (i = 1; i <= elements; i++) {

                    $(document).on("click", "#add", function (e) {

                        {% comment %}$("#add" + i).click(
                            function () {{% endcomment %}
                        {#                          alert("ll")#}
                        id = $(this).closest('tr').find('td:eq(0)').html();
                        $('#studentid').val(id);

                        id = $(this).val()

                        $('#add').val(id);

                    });

                    $(document).on("change", "#bloodgrp" + i, function (e) {

                        {#                  $("#bloodgrp" + i).change( function () {#}
                        id = $(this).closest('tr').find('td:eq(0)').html();
                        $('#studentid').val(id);

                        id = $(this).val()


                        $('#bloodgrp').val(id);
                    });


                    $(document).on("change", "#height" + i, function (e) {
                        $(this).css({'border-color': ''});
                        var parent_id = $(this).parents('tr:eq(0)').attr('id');

                        parent_id = parent_id.toString();
                        var index = parent_id.match(/\d+/g).map(Number);
                        var weight = $('#' + parent_id + ' #weight' + index).val();
                        var height = $(this).val();

                        if($(this).val() != '' && (isNaN($(this).val()))){
                            $(this).val('');
                            $('#BMI' + index).val('');
                            $(this).css({'border-color': 'red'});
                            return false;
                        }

                        id = $(this).closest('tr').find('td:eq(0)').html();


                        height_id = id
                        $('#studentid').val(id);
                        id = $(this).val()


                        var height_in_meter = height / 100
                        if (height_in_meter != "") {
                            var bmi = calculate_bmi(height_in_meter, weight)
                            $('#BMI' + index).val(bmi);
                            ($('#calculate_bmi').val(bmi))
                        }
                        else {
                            $('#BMI' + index).val("");

                        }

                    });

                    $(document).on("change", "#weight" + i, function (e) {
                        $(this).css({'border-color': ''});
                        weight_id = $(this).closest('tr').find('td:eq(0)').html();
                        var parent_id = $(this).parents('tr:eq(0)').attr('id');
                        parent_id = parent_id.toString();
                        var index = parent_id.match(/\d+/g).map(Number);
                        var height = $('#' + parent_id + ' #height' + index).val();
                        var height_in_meter = height / 100;
                        var weight = $(this).val();


                        if($(this).val() != '' && (isNaN($(this).val()))){
                            $(this).val('');
                            $('#BMI' + index).val('');
                            $(this).css({'border-color': 'red'});
                            return false;
                        }
                        {% comment %}weight_id = $(this).closest('tr').find('td:eq(0)').html();
                        var parent_id = $(this).parents('tr:eq(0)').attr('id');
                        parent_id = parent_id.toString();
                        var index = parent_id.match(/\d+/g).map(Number);
                        var height = $('#' + parent_id + ' #height' + index).val();
                        var height_in_meter = height / 100;
                        var weight = $(this).val();{% endcomment %}
                        $('#weight').val(id);
                        if (weight != "") {
                            var bmi = calculate_bmi(height_in_meter, weight)
                            $('#BMI' + index).val(bmi);
                            ($('#calculate_bmi').val(bmi))
                        }
                        else {
                            $('#BMI' + index).val("");
                        }


                    });


                    function calculate_bmi(height_in_meter, weight) {

                        if (height_in_meter != "" && weight != "") {


                            var bmi = weight / ((height_in_meter) * (height_in_meter));
                            bmi = bmi.toFixed(2);

                            return bmi;

                        }

                    }


                    $(document).on("change", "#medication" + i, function (e) {
                        {% comment %}$("#medication" + i).change(
                            function () {{% endcomment %}
                        id = $(this).closest('tr').find('td:eq(0)').html();
                        $('#studentid').val(id);

                        id = $(this).val()
                        $('#medication').val(id);
                    });


                    $(document).on("change", "#allergic" + i, function (e) {
                        {#                  $('#allergic' + i).change(#}
                        {#                      function () {#}
                        id = $(this).closest('tr').find('td:eq(0)').html();
                        $('#studentid').val(id);
                        id = $(this).val();
                        {#console.log(id)#}
                        $('#allergic').val(id);
                    });
                }

                $(document).on("change", "#id_class_name", function (e) {
                    {#              $("#id_class_name").change(function () {#}
                    class_name = document.getElementById("id_class_name").value
                    $('#class_name').val(class_name);

                    var url = '/school/viewSectionDetail/';
                    viewSectionDetail(url, class_name)

                });

                $(document).on("change", "#id_section_name", function (e) {
                    {#              $("#id_section_name").change(function () {#}
                    section_name = document.getElementById("id_section_name").value
                    $('#section_name').val(section_name);

                });

                $(document).on("click", ".save_medical", function (e) {

                    $('input').css({'border-color': ''});

                    var items = $('.item');
                    var main_list = [];
                    var check_flag = false;
                    var bmi_flag = false;

                    for (var p = 0; p < items.length; p++) {
                        var payload = {}
                        var parent_id = items[p].id;

                        var blood_grp = $('#' + parent_id + ' .s_bloodgrp').val();
                        var height = $('#' + parent_id + ' .s_height').val();
                        var weight = $('#' + parent_id + ' .s_weight').val();
                        var bmi = $('#' + parent_id + ' .s_bmi').val();
                        var medication = $('#' + parent_id + ' .s_medication').val();
                        var allergic = $('#' + parent_id + ' .s_allergic').val();

                        if(blood_grp != '') {
                            if ((height != '' && weight == '') || (height == '' && weight != '')) {
                                $('#' + parent_id + ' .s_height').css({'border-color': 'red'});
                                $('#' + parent_id + ' .s_weight').css({'border-color': 'red'});
                                bmi_flag = true;
                            }
                            else {
                                payload['stud_id'] = $('#' + parent_id + ' #stud_id').val();
                                payload['bloodgrp'] = $('#' + parent_id + ' .s_bloodgrp').val();
                                payload['height'] = $('#' + parent_id + ' .s_height').val();
                                payload['weight'] = $('#' + parent_id + ' .s_weight').val();
                                payload['bmi'] = $('#' + parent_id + ' .s_bmi').val();
                                payload['medication'] = $('#' + parent_id + ' .s_medication').val();
                                payload['allergic'] = $('#' + parent_id + ' .s_allergic').val();
                                main_list.push(payload)
                            }
                        }
                        else if((height != '' || weight != '' || bmi != '' || medication != '' || allergic != '') ){
                            $('#' + parent_id + ' .s_bloodgrp').css({'border-color': 'red'});
                            check_flag = true;
                        }
                        {% comment %}else {
                            $('#' + parent_id + ' .s_bloodgrp').css({'border-color': 'red'});
                            check_flag = true;
                        }{% endcomment %}
                    }
                    {#console.log(JSON.stringify(main_list));#}

                    if (check_flag == true && bmi_flag == true) {
                        alert('Blood Group is Mandatory and Height and Weight must be entered to calculate BMI ');
                        return false;
                    }
                    else if (check_flag == true) {
                        alert('Blood Group is Mandatory');
                        return false;
                    }
                    else if (bmi_flag == true) {
                        alert('Height and Weight must be entered to calculate BMI');
                        return false;
                    }
                    else {
                        {#return false;#}
                        $('#json_data').val(JSON.stringify(main_list));
                        $('#save_medical_form').submit();
                    }

                    {#return false;#}
                });


                $(document).on("click", "#filter", function (e) {

                    {#              $("#filter").click(function () {#}
                    console.log("in filter")
                    var url = '/school/viewFilteredStudent/';
                    class_name = document.getElementById("id_class_name").value
                    section_name = document.getElementById("id_section_name").value
                    religion = document.getElementById("id_religion").value

                    viewFilteredStudent(url, class_name, section_name, religion)
                });
            });

            class_name = document.getElementById("id_class_name").value

            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            {% comment %}$('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });{% endcomment %}

        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                        }


                    });


        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
            // alert ("Hello..");
                .done(
                    function (data) {
                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }

                    });

        }


    </script>
{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'medical:medical_menu' %}"> Medical Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Add Medical Details</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Add Medical Details</span>
            </div>
        </div>

        <div class="portlet-body">

            <!-- BEGIN FORM-->
            <div class="form-body">

                <form action="{% url 'medical:view_medical_list' %}" id="form_sample_1" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="col-md-2">
                        <h4>Academic Year </h4>
                        <div class="">
                            <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                            <select autocomplete="off" class="form-control" data-live-search="true"
                                    id="id_academic_year" name="year_name" disabled>
                                <option style="display : none" selected="selected"
                                        value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                {% for Academic_Year in year_list %}
                                    <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">

                        <h4> Class </h4>
                        <div class="">
                            <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                    name="class_name" required="True">
                                <option style="display : none" selected="selected"
                                        value="{{ Selected_Class_Id }}"> {{ selected_class_name }}</option>
                                {% for class in class_list %}
                                    <option value="{{ class.id }}">{{ class.class_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="col-md-2">
                        <h4> Section </h4>
                        <div class="">
                            <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                    required="True">
                                <option style="display : none" selected="selected"
                                        value="{{ Selected_Section_Id }}"> {{ selected_section_name }}</option>
                                {% for section in section_list %}
                                    <option value="{{ section.id }}">{{ section.section_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn blue btn-block" style="margin-top: 38px;">Go</button>
                    </div>
                </form>

            </div>

            <br><br>

            <form action="{% url 'medical:save_medical_info' %}" id="save_medical_form" class="form-horizontal"
                  method="POST" enctype="multipart/form-data" onsubmit="save_medical.disabled = true; return true;">
                {% csrf_token %}
                {% comment %}<input class="form-control" id="studentid" name="studentid" type="hidden" value="">
                <input class="form-control" id="bloodgrp" name="bloodgrp" type="hidden" value="">
                <input class="form-control" id="height" name="height" type="hidden" value="">
                <input class="form-control" id="weight" name="weight" type="hidden" value="">
                <input class="form-control" id="calculate_bmi" name="calculate_bmi" type="hidden" value="">
                <input class="form-control" id="medication" name="medication" type="hidden" value="">
                <input class="form-control" id="allergic" name="allergic" type="hidden" value="">
                <input class="form-control" id="button" name="add" type="hidden" hidden value="">{% endcomment %}

                <input id="class_name" name="class_name" type="hidden" value="{{ Selected_Class_Id }}">
                <input id="section_name" name="section_name" type="hidden" value="{{ Selected_Section_Id }}">
                <input id="json_data" name="json_data" type="hidden">



                <table class="table table-striped table-hover table-bordered" id="sample_1">
                <div class="col-md-2" style="margin-top: -20px">
                    {% if StudentList %}
                        <button id="save_medical" class="save_medical btn green btn-block">Save</button>
                    {% else %}
                        <button id="save_medical" class="save_medical btn green btn-block" disabled>Saved</button>
                    {% endif %}
                </div>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th> Blood_group</th>
                        <th> Height(cm.)</th>
                        <th> Weight(kg.)</th>
                        <th> BMI &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>

                        <th> Under Medication(yes/no)</th>
                        <th> Allergic for anything</th>
                        <th> Updated Date</th>
                        {#                        <th> Action</th>#}

                    </tr>
                    </thead>

                    <tbody id="tbody">
                    {% for obj in StudentList %}
                        <tr id="item{{ forloop.counter }}" class="item">
                            <td style="width: 100px;"><input hidden id="stud_id" value="{{ obj.id }}"> {{ obj.student_code }}</td>


                            <td>{{ obj.get_all_name }}</td>
                            <td><input class="form-control s_bloodgrp" id=bloodgrp{{ forloop.counter }} type="text"
                                       name="job_num"
                                       value="{{ obj.blood_group }}" pattern='(A|a|B|b|ab|AB|Ab|O|o)[+-]'
                                       title='Please Enter Proper Blood Group' maxlength='3'></td>
                            <td><input class="form-control s_height" id="height{{ forloop.counter }}" type="text"
                                       name="job_num1"
                                       value="{{ obj.height }}" pattern='[0-9.]+' title='Please Enter Proper Height '
                                       maxlength='7'></td>
                            <td><input class="form-control s_weight" id="weight{{ forloop.counter }}" type="text"
                                       name="job_num2"
                                       value="{{ obj.weight }}" pattern='[0-9.]+' title='Please Enter Proper Weight '
                                       maxlength='7'></td>

                            <td><input class="form-control s_bmi" id="BMI{{ forloop.counter }}" type="text"
                                       name="job_num6" pattern='[0-9.]+'></td>

                            <td><input class="form-control s_medication" id=medication{{ forloop.counter }} type="text"
                                       name="job_num3" value="{{ obj.under_medication }}" pattern='[a-zA-Z]+'
                                       title='Please Enter Yes or No' maxlength='3'></td>
                            <td><input class="form-control s_allergic" id=allergic{{ forloop.counter }} type="text"
                                       name="job_num4"
                                       value="{{ obj.allergic }}" pattern='[a-zA-Z0-9 ]+'
                                       title='Please Enter Proper details ' maxlength='3'></td>
                            <td><input class="form-control s_update_date" id=update_date{{ forloop.counter }}
                                       type="text"
                                       name="job_num5" value="NA" disabled></td>
                            {% comment %}<td>
                                <button type="submit" class="btn blue btn-block add" id=add{{ forloop.counter }}
                                        style="margin-top:0px;">Add
                                </button>
                            </td>{% endcomment %}
                        </tr>
                    {% endfor %}

                    {% for obj1 in MedicalList %}
                        <tr id="Aitem{{ forloop.counter }}" class="Aitem">
                            <td style="width:100px;">{{ obj1.student.student_code }}</td>

                            <td>{{ obj1.student.get_all_name }} </td>
                            <td><input class="form-control" name="bldgrp" type="text" id="bloodgroup"
                                       value="{{ obj1.blood_group }}" disabled></td>
                            <td><input class="form-control" name="hgt" type="text" id="hight" value="{{ obj1.height }}"
                                       disabled></td>
                            <td><input class="form-control" name="wgt" type="text" id="wight" value="{{ obj1.weight }}"
                                       disabled></td>
                            <td><input class="form-control" name="bmi" type="text" id="bmi"
                                       value="{{ obj1.bmi|default_if_none:"" }}" pattern='[0-9.]+' disabled></td>
                            <td><input class="form-control" name="medt" type="text" id="undermedication"
                                       value="{{ obj1.under_medication }}" disabled></td>
                            <td><input class="form-control" name="alrgc" type="text" id="alergic"
                                       value="{{ obj1.allergic }}" disabled></td>
                            <td><input class="form-control" id=update_date{{ forloop.counter }} type="text"
                                       value="{{ obj1.update_date }}" disabled></td>
                            {% comment %}<td>
                                <button type="button" class="btn green btn-block" disabled>Added</button>
                            </td>{% endcomment %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="col-md-2" style="margin-left: 40%">
                    {% if StudentList %}
                        <button id="save_medical" class="save_medical btn green btn-block">Save</button>
                    {% else %}
                        <button id="save_medical" class="save_medical btn green btn-block" disabled>Saved</button>
                    {% endif %}
                </div>
            </form>
        </div>
        <!-- END FORM-->
    </div>
    </div>
    <!-- END VALIDATION STATES-->


    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

    </script>
    </form>
{% endblock %}

<!-- BEGIN CORE PLUGINS -->


{#{% extends "index.html" %}#}
{#{% load staticfiles %}#}
{##}
{#{% block styleBlock %}#}
{#    <!-- BEGIN GLOBAL MANDATORY STYLES -->#}
{##}
{#    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>#}
{#    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"#}
{#          rel="stylesheet" type="text/css"/>#}
{##}
{#    </head>#}
{#    <!-- END HEAD -->#}
{#    <style type="text/css">#}
{##}
{#        div.dataTables_wrapper div.dataTables_filter label {#}
{#            font-weight: normal;#}
{#            white-space: nowrap;#}
{#            text-align: left;#}
{#            padding-top: 10px;#}
{#            padding-left: 30px;#}
{#        }#}
{##}
{#        div.dataTables_wrapper div.dataTables_length {#}
{#            padding-right: 40px;#}
{#            padding-top: 10px;#}
{##}
{#        }#}
{##}
{##}
{#    </style>#}
{#{% endblock %}#}
{##}
{#{% block ScriptBlock %}#}
{#    <script>#}
{#        window.onload = function () {#}
{#          window.reload();#}
{#            //YOUR JQUERY CODE#}
{#            var elements = $("#tbody > tr").length;#}
{# Length of total elements in table#}
{##}
{#            var academic_year = document.getElementById("id_academic_year").value;#}
{#            var url1 = '/school/viewAcademicDetails/';#}
{#            viewAcademicDetails(url1,academic_year)#}
{##}
{##}
{#            $("#id_academic_year").change(function () {#}
{##}
{#                var academic_year = document.getElementById("id_academic_year").value;#}
{#                var url1 = '/school/viewAcademicDetails/';#}
{#                viewAcademicDetails(url1, academic_year)#}
{##}
{#            });#}
{##}
{#            $("#id_class_name").change(function () {#}
{#                var class_name = document.getElementById("id_class_name").value;#}
{#                var academic_year = document.getElementById("id_academic_year").value;#}
{#                var url = '/school/viewSectionDetails/';#}
{#                ViewSectionDetailStudent(url, academic_year, class_name);#}
{##}
{#            });#}
{##}
{#            $(function () {#}
{#                var i;#}
{#                for (i = 1; i <= elements; i++) {#}
{#                    $(document).on("keypress", "#bloodgrp" + i, function (e) {#}
{#                  $('#bloodgrp' + i).keypress(function (e) {#}
{#                        // alert("Hello...")#}
{#                        var regex = new RegExp(/^[A|a|B|b|AB|ab|Ab|O|o|+|-]$/);#}
{#                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                        if (regex.test(str)) {#}
{#                            return true;#}
{##}
{#                        }#}
{#                        else {#}
{#                            e.preventDefault();#}
{#                            return false;#}
{#                        }#}
{#                    });#}
{#                }#}
{#            });#}
{##}
{#            $(function () {#}
{#                var i;#}
{#                for (i = 1; i <= elements; i++) {#}
{#                    $(document).on("keypress", "#height" + i, function (e) {#}
{#                  $('#height' + i).keypress(function (e) {#}
{##}
{#                        var regex = new RegExp(/^[0-9]+$/);#}
{#                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                        if (regex.test(str)) {#}
{#                            return true;#}
{##}
{#                        }#}
{#                        else {#}
{#                            e.preventDefault();#}
{#                            return false;#}
{#                        }#}
{#                    });#}
{#                }#}
{#            });#}
{##}
{##}
{#            $(function () {#}
{#                var i;#}
{#                for (i = 1; i <= elements; i++) {#}
{#                  $('#weight' + i).keypress(function (e) {#}
{#                    $(document).on("keypress", "#weight" + i, function (e) {#}
{##}
{#                        var regex = new RegExp(/^[0-9]+$/);#}
{#                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                        if (regex.test(str)) {#}
{#                            return true;#}
{#                        }#}
{#                        else {#}
{#                            e.preventDefault();#}
{#                            return false;#}
{#                        }#}
{#                    });#}
{#                }#}
{#            });#}
{#            $(function () {#}
{#                var i;#}
{#                for (i = 1; i <= elements; i++) {#}
{#                  $('#weight' + i).keypress(function (e) {#}
{#                    $(document).on("keypress", "#BMI" + i, function (e) {#}
{##}
{#                        var regex = new RegExp(/^[0-9.]+$/);#}
{#                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                        if (regex.test(str)) {#}
{#                            return true;#}
{#                        }#}
{#                        else {#}
{#                            e.preventDefault();#}
{#                            return false;#}
{#                        }#}
{#                    });#}
{#                }#}
{#            });#}
{##}
{#            $(function () {#}
{#                var i;#}
{#                for (i = 1; i <= elements; i++) {#}
{#                    $(document).on("keypress", "#medication" + i, function (e) {#}
{#                  $('#medication' + i).keypress(function (e) {#}
{##}
{#                        var regex = new RegExp(/^[a-zA-Z\s]+$/);#}
{#                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                        if (regex.test(str)) {#}
{#                            return true;#}
{##}
{#                        }#}
{#                        else {#}
{#                            e.preventDefault();#}
{#                            return false;#}
{#                        }#}
{#                    });#}
{#                }#}
{#            });#}
{##}
{#            $(function () {#}
{#                var i;#}
{#                for (i = 1; i <= elements; i++) {#}
{#                    $(document).on("keypress", "#allergic" + i, function (e) {#}
{#                  $('#allergic' + i).keypress(function (e) {#}
{##}
{#                        var regex = new RegExp(/^[a-zA-Z\s]+$/);#}
{#                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                        if (regex.test(str)) {#}
{#                            return true;#}
{##}
{#                        }#}
{#                        else {#}
{#                            e.preventDefault();#}
{#                            return false;#}
{#                        }#}
{#                    });#}
{#                }#}
{#            });#}
{##}
{##}
{#            $(function () {#}
{#                $(document).on("keypress", "#hight", function (e) {#}
{#              $('#hight').keypress(function (e) {#}
{#                    var regex = new RegExp(/^[0-9]+$/);#}
{#                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                    if (regex.test(str)) {#}
{#                        return true;#}
{#                    }#}
{#                    else {#}
{#                        e.preventDefault();#}
{#                        return false;#}
{#                    }#}
{#                });#}
{#            });#}
{##}
{##}
{#            $(function () {#}
{#                $(document).on("keypress", "#wight", function (e) {#}
{##}
{#              $('#wight').keypress(function (e) {#}
{##}
{#                    var regex = new RegExp(/^[0-9]+$/);#}
{#                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                    if (regex.test(str)) {#}
{#                        return true;#}
{##}
{#                    }#}
{#                    else {#}
{#                        e.preventDefault();#}
{#                        return false;#}
{#                    }#}
{#                });#}
{##}
{#            });#}
{#            $(function () {#}
{#                $(document).on("keypress", "#bmi", function (e) {#}
{##}
{#              $('#wight').keypress(function (e) {#}
{##}
{#                    var regex = new RegExp(/^[0-9.]+$/);#}
{#                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                    if (regex.test(str)) {#}
{#                        return true;#}
{##}
{#                    }#}
{#                    else {#}
{#                        e.preventDefault();#}
{#                        return false;#}
{#                    }#}
{#                });#}
{##}
{#            });#}
{##}
{##}
{#            $(function () {#}
{##}
{#                $(document).on("keypress", "#undermedication", function (e) {#}
{##}
{#              $('#undermedication').keypress(function (e) {#}
{##}
{#                    var regex = new RegExp(/^[a-zA-Z\s]+$/);#}
{#                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                    if (regex.test(str)) {#}
{#                        return true;#}
{##}
{#                    }#}
{#                    else {#}
{#                        e.preventDefault();#}
{#                        return false;#}
{#                    }#}
{#                });#}
{##}
{#            });#}
{##}
{#            $(function () {#}
{#                $(document).on("keypress", "#alergic", function (e) {#}
{##}
{#              $('#alergic').keypress(function (e) {#}
{##}
{#                    var regex = new RegExp(/^[a-zA-Z\s]+$/);#}
{#                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#                    if (regex.test(str)) {#}
{#                        return true;#}
{##}
{#                    }#}
{#                    else {#}
{#                        e.preventDefault();#}
{#                        return false;#}
{#                    }#}
{#                });#}
{##}
{#            });#}
{##}
{#            class_name = document.getElementById("id_class_name").value#}
{#            $('#class_name').val(class_name);#}
{#            section_name = document.getElementById("id_section_name").value#}
{#            $('#section_name').val(section_name);#}
{##}
{#            function edit_medical_student(url, id, bg, ht, wt, mt, al) {#}
{##}
{#                $.ajax({#}
{#                    url: url,#}
{#                    type: "GET",#}
{#                    data: {#}
{#                        stdid: id,#}
{#                        bldgrp: bg,#}
{#                        hgt: ht,#}
{#                        wgt: wt,#}
{#                        mdt: mt,#}
{#                        alg: al,#}
{#                    },#}
{#                })#}
{##}
{#                    .done(#}
{#                        function (data) {#}
{##}
{#                            console.log("in edit_medical_student ajax")#}
{#                            location.reload();#}
{##}
{#                        });#}
{#            }#}
{##}
{#            $(document).ready(function () {#}
{##}
{#                $(document).on("click", ".add", function (e) {#}
{##}
{#$(".add").click(function () {#}
{##}
{##}
{#                    id = $(this).closest('tr').find('td:eq(0)').html();#}
{##}
{#                         alert("id--> " +id)#}
{#                    $('#studentid').val(id);#}
{#                    bg = $(this).closest('tr').find('td:eq(2)').find('input[name="job_num"]').val();#}
{#                    if (bg =="") {#}
{#                        alert("Blood Group Is Mandatory.")#}
{#                        return false;#}
{#                    }#}
{#                    $("#bloodgrp").val(bg);#}
{#                    ht = $(this).closest('tr').find('td:eq(3)').find('input[name="job_num1"]').val();#}
{#                    $("#height").val(ht);#}
{##}
{#                          alert("hight--> "+ht)#}
{#                    wt = $(this).closest('tr').find('td:eq(4)').find('input[name="job_num2"]').val();#}
{#                    $("#weight").val(wt);#}
{##}
{#                    bmi= $(this).closest('tr').find('td:eq(5)').find('input[name="job_num6"]').val();#}
{#                    $("#calculate_bmi").val(bmi);#}
{##}
{##}
{#                          alert("wt---> "+wt)#}
{#                    mt = $(this).closest('tr').find('td:eq(6)').find('input[name="job_num3"]').val();#}
{#                    $("#medication").val(mt);#}
{##}
{#                          alert("mt--> "+mt)#}
{#                    al = $(this).closest('tr').find('td:eq(7)').find('input[name="job_num4"]').val();#}
{#                    $("#allergic").val(al);#}
{##}
{#                    if(ht!= "" && wt == ""){#}
{#                        alert("Please enter the weight")#}
{#                        return false;#}
{#                    }#}
{##}
{#                    if(ht== "" && wt != ""){#}
{#                        alert("Please enter the height")#}
{#                        return false;#}
{#                    }#}
{#                });#}
{##}
{##}
{#                var i;#}
{#                for (i = 1; i <= elements; i++) {#}
{##}
{#                    $(document).on("click", "#add", function (e) {#}
{##}
{#                        {% comment %}$("#add" + i).click(#}
{#                            function () {{% endcomment %}#}
{#                          alert("ll")#}
{#                        id = $(this).closest('tr').find('td:eq(0)').html();#}
{#                        $('#studentid').val(id);#}
{##}
{#                        id = $(this).val()#}
{##}
{#                        $('#add').val(id);#}
{##}
{#                    });#}
{##}
{#                    $(document).on("change", "#bloodgrp" + i, function (e) {#}
{##}
{#                  $("#bloodgrp" + i).change( function () {#}
{#                        id = $(this).closest('tr').find('td:eq(0)').html();#}
{#                        $('#studentid').val(id);#}
{##}
{#                        id = $(this).val()#}
{##}
{##}
{#                        $('#bloodgrp').val(id);#}
{#                    });#}
{##}
{##}
{##}
{#                    $(document).on("change", "#height" + i, function (e) {#}
{#                        var parent_id = $(this).parents('tr:eq(0)').attr('id');#}
{##}
{#                        parent_id = parent_id.toString();#}
{#                        var index = parent_id.match(/\d+/g).map(Number);#}
{#                        var weight = $('#' + parent_id + ' #weight'+index).val();#}
{#                        var height = $(this).val()#}
{##}
{#                        id = $(this).closest('tr').find('td:eq(0)').html();#}
{##}
{##}
{##}
{#                        height_id=id#}
{#                        $('#studentid').val(id);#}
{#                        id = $(this).val()#}
{##}
{##}
{#                        var height_in_meter = height / 100#}
{#                        if(height_in_meter!="") {#}
{#                            var bmi = calculate_bmi(height_in_meter, weight)#}
{#                            $('#BMI' + index).val(bmi);#}
{#                             ($('#calculate_bmi').val(bmi))#}
{#                        }#}
{#                        else{#}
{#                             $('#BMI' + index).val("");#}
{##}
{#                        }#}
{##}
{#                    });#}
{##}
{#                    $(document).on("change", "#weight" + i, function (e) {#}
{#                        weight_id = $(this).closest('tr').find('td:eq(0)').html();#}
{#                        var parent_id = $(this).parents('tr:eq(0)').attr('id');#}
{#                        parent_id = parent_id.toString();#}
{#                        var index = parent_id.match(/\d+/g).map(Number);#}
{#                        var height = $('#' + parent_id + ' #height'+index).val();#}
{#                        var height_in_meter = height / 100#}
{#                        var weight = $(this).val()#}
{#                        $('#weight').val(id);#}
{#                        if(weight!=""){#}
{#                        var bmi = calculate_bmi(height_in_meter, weight)#}
{#                            $('#BMI' + index).val(bmi);#}
{#                            ($('#calculate_bmi').val(bmi))#}
{#                        }#}
{#                            else{#}
{#                            $('#BMI' + index).val("");#}
{#                        }#}
{##}
{##}
{#                    });#}
{##}
{##}
{##}
{##}
{#                    function calculate_bmi(height_in_meter,weight){#}
{##}
{#                        if (height_in_meter != "" && weight != "") {#}
{##}
{##}
{##}
{#                            var bmi = weight / ((height_in_meter) * (height_in_meter));#}
{#                            bmi=bmi.toFixed(2);#}
{##}
{#                            return bmi;#}
{##}
{#                            }#}
{##}
{#                    }#}
{##}
{##}
{#                    $(document).on("change", "#medication" + i, function (e) {#}
{#                        {% comment %}$("#medication" + i).change(#}
{#                            function () {{% endcomment %}#}
{#                        id = $(this).closest('tr').find('td:eq(0)').html();#}
{#                        $('#studentid').val(id);#}
{##}
{#                        id = $(this).val()#}
{#                        $('#medication').val(id);#}
{#                    });#}
{##}
{##}
{#                    $(document).on("change", "#allergic" + i, function (e) {#}
{#                  $('#allergic' + i).change(#}
{#                      function () {#}
{#                        id = $(this).closest('tr').find('td:eq(0)').html();#}
{#                        $('#studentid').val(id);#}
{#                        id = $(this).val();#}
{#console.log(id)#}
{#                        $('#allergic').val(id);#}
{#                    });#}
{#                }#}
{##}
{#                $(document).on("change", "#id_class_name", function (e) {#}
{#              $("#id_class_name").change(function () {#}
{#                    class_name = document.getElementById("id_class_name").value#}
{#                    $('#class_name').val(class_name);#}
{##}
{#                    var url = '/school/viewSectionDetail/';#}
{#                    viewSectionDetail(url, class_name)#}
{##}
{#                });#}
{##}
{#                $(document).on("change", "#id_section_name", function (e) {#}
{#              $("#id_section_name").change(function () {#}
{#                    section_name = document.getElementById("id_section_name").value#}
{#                    $('#section_name').val(section_name);#}
{##}
{#                });#}
{##}
{##}
{#                $(document).on("click", "#filter", function (e) {#}
{##}
{#              $("#filter").click(function () {#}
{#                    console.log("in filter")#}
{#                    var url = '/school/viewFilteredStudent/';#}
{#                    class_name = document.getElementById("id_class_name").value#}
{#                    section_name = document.getElementById("id_section_name").value#}
{#                    religion = document.getElementById("id_religion").value#}
{##}
{#                    viewFilteredStudent(url, class_name, section_name, religion)#}
{#                });#}
{#            });#}
{##}
{#            class_name = document.getElementById("id_class_name").value#}
{##}
{#            if (class_name == '') {#}
{#                $('#id_class_name').val($('#id_class_name'));#}
{#                $('#id_class_name').prepend($('<option>', {#}
{#                    value: '',#}
{#                    text: 'Please Select'#}
{##}
{#                }));#}
{#            }#}
{#            section_name = document.getElementById("id_section_name").value#}
{#            if (section_name == '') {#}
{#                $('#id_section_name').val($('#id_section_name'));#}
{#                $('#id_section_name').prepend($('<option>', {#}
{#                    value: '',#}
{#                    text: 'Please Select'#}
{#                }));#}
{#            }#}
{##}
{#            $('#sample_1').dataTable().fnDestroy();#}
{##}
{#            $('#sample_1').dataTable({#}
{#                "aoColumnDefs": [#}
{#                    {'bSortable': false}#}
{#                ]#}
{#            });#}
{##}
{#        }#}
{##}
{##}
{#        function ViewSectionDetailStudent(url, academic_year, class_name) {#}
{##}
{#            $.ajax({#}
{#                url: url,#}
{#                type: "GET",#}
{#                data:#}
{#                    {#}
{#                        academic_year: academic_year,#}
{#                        class_name: class_name#}
{#                    },#}
{#            })#}
{##}
{#                .done(#}
{#                    function (data) {#}
{##}
{#                        $('#id_section_name').empty();#}
{#                        $('#id_section_name').append(#}
{#                            '<option value="">Please select</option>');#}
{##}
{#                        for (var i = 0; i < data.length; i++) {#}
{##}
{#                            /* console.log(data[i].apartment_flat_no) */#}
{#                            /* $('#id_apartment_flat_no').empty(); */#}
{##}
{#                            $('#id_section_name').append(#}
{#                                '<option value="' + data[i].id + '">'#}
{#                                + data[i].section_name + '</option>')#}
{##}
{#                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);#}
{#                             */#}
{#                        }#}
{##}
{##}
{#                    });#}
{##}
{##}
{#        }#}
{##}
{##}
{#        function viewAcademicDetails(url1, academic_year) {#}
{##}
{#            $.ajax({#}
{#                url: url1,#}
{#                type: "GET",#}
{#                data: {#}
{#                    academic_year: academic_year#}
{#                },#}
{#            })#}
{#            // alert ("Hello..");#}
{#                .done(#}
{#                    function (data) {#}
{#                        $('#id_class_name').empty();#}
{#                        $('#id_class_name').append(#}
{#                            '<option value="">Please select</option>');#}
{##}
{#                        for (var i = 0; i < data.length; i++) {#}
{#                            $('#id_class_name').append(#}
{#                                '<option value="' + data[i].id + '">'#}
{#                                + data[i].class_name + '</option>')#}
{#                        }#}
{##}
{#                    });#}
{##}
{#        }#}
{##}
{##}
{#    </script>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="page-bar" style="margin-bottom: 1px;">#}
{#        <ul class="page-breadcrumb">#}
{#            <li>#}
{#                <i class="icon-home"></i>#}
{#                <a href="{% url 'registration:home' %}">Home</a>#}
{#                <i class="fa fa-angle-right"></i>#}
{#            </li>#}
{#            <li>#}
{#                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>#}
{#                <i class="fa fa-angle-right"></i>#}
{#            </li>#}
{##}
{#            <li>#}
{##}
{#                <a href="{% url 'medical:medical_menu' %}"> Medical Menu</a>#}
{#                <i class="fa fa-angle-right"></i>#}
{#            </li>#}
{##}
{#            <li>#}
{#                <span>Add Medical Details</span>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{##}
{#    {% for message in messages %}#}
{#        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}#}
{#            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>#}
{#        </div>#}
{#    {% endfor %}#}
{##}
{#    <!-- BEGIN VALIDATION STATES-->#}
{#    <div class="portlet light portlet-fit portlet-form ">#}
{#        <div class="portlet-title">#}
{#            <div class="caption">#}
{#                <i class="icon-settings font-red"></i>#}
{#                <span class="caption-subject font-red sbold uppercase"> Add Medical Details</span>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="portlet-body">#}
{##}
{#            <!-- BEGIN FORM-->#}
{#            <div class="form-body">#}
{##}
{#                <form action="{% url 'medical:view_medical_list' %}" id="form_sample_1" class="form-horizontal"#}
{#                      method="POST" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{##}
{#                    <div class="col-md-3">#}
{#                        <h4>Academic Year </h4>#}
{#                        <div class="">#}
{#                            <input value="{{ Selected_Year_Id }}" name="year_name" hidden>#}
{#                            <select autocomplete="off" class="form-control" data-live-search="true"#}
{#                                    id="id_academic_year" name="year_name" disabled>#}
{#                                <option style="display : none" selected="selected"#}
{#                                        value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>#}
{#                                {% for Academic_Year in year_list %}#}
{#                                    <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-md-3">#}
{##}
{#                        <h4> Class </h4>#}
{#                        <div class="">#}
{#                            <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"#}
{#                                    name="class_name" required="True">#}
{#                                <option style="display : none" selected="selected"#}
{#                                        value="{{ Selected_Class_Id }}"> {{ selected_class_name }}</option>#}
{#                                {% for class in class_list %}#}
{#                                    <option value="{{ class.id }}">{{ class.class_name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{##}
{#                    </div>#}
{##}
{#                    <div class="col-md-3">#}
{#                        <h4> Section </h4>#}
{#                        <div class="">#}
{#                            <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"#}
{#                                    required="True">#}
{#                                <option style="display : none" selected="selected"#}
{#                                        value="{{ Selected_Section_Id }}"> {{ selected_section_name }}</option>#}
{#                                {% for section in section_list %}#}
{#                                    <option value="{{ section.id }}">{{ section.section_name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-md-2">#}
{#                        <button type="submit" class="btn blue btn-block" style="margin-top: 38px;">Go</button>#}
{#                    </div>#}
{#                </form>#}
{##}
{#            </div>#}
{##}
{#            <br><br>#}
{##}
{#            <form action="{% url 'medical:save_medical_info' %}" id="form_sample_1" class="form-horizontal"#}
{#                  method="POST" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                <input class="form-control" id="studentid" name="studentid" type="hidden" value="">#}
{#                <input class="form-control" id="bloodgrp" name="bloodgrp" type="hidden" value="">#}
{#                <input class="form-control" id="height" name="height" type="hidden" value="">#}
{#                <input class="form-control" id="weight" name="weight" type="hidden" value="">#}
{#                <input class="form-control" id="calculate_bmi" name="calculate_bmi" type="hidden" value="">#}
{#                <input class="form-control" id="medication" name="medication" type="hidden" value="">#}
{#                <input class="form-control" id="allergic" name="allergic" type="hidden" value="">#}
{#                <input class="form-control" id="button" name="add" type="hidden" hidden value="">#}
{##}
{#                <input id="class_name" name="class_name" type="hidden" value="{{ Selected_Class_Id }}">#}
{#                <input id="section_name" name="section_name" type="hidden" value="{{ Selected_Section_Id }}">#}
{##}
{#                <table class="table table-striped table-hover table-bordered" id="sample_1">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>Id</th>#}
{#                        <th>Name</th>#}
{#                        <th> Blood_group</th>#}
{#                        <th> Height(cm.)</th>#}
{#                        <th> Weight(kg.)</th>#}
{#                        <th> BMI &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>#}
{##}
{#                        <th> Under Medication(yes/no)</th>#}
{#                        <th> Allergic for anything</th>#}
{#                        <th> Updated Date</th>#}
{#                        <th> Action</th>#}
{##}
{#                    </tr>#}
{#                    </thead>#}
{##}
{#                    <tbody id="tbody">#}
{#                    {% for obj in StudentList %}#}
{#                        <tr id="item{{ forloop.counter }}" class="item">#}
{#                            <td>{{ obj.id }}</td>#}
{##}
{##}
{#                            <td>{{ obj.get_all_name }}</td>#}
{#                            <td><input class="form-control" id=bloodgrp{{ forloop.counter }} type="text" name="job_num"#}
{#                                       value="{{ obj.blood_group }}" pattern='(A|a|B|b|ab|AB|Ab|O|o)[+-]'#}
{#                                       title='Please Enter Proper Blood Group' maxlength='3'></td>#}
{#                            <td><input class="form-control" id="height{{ forloop.counter }}" type="text" name="job_num1"#}
{#                                       value="{{ obj.height }}" pattern='[0-9]+' title='Please Enter Proper Height '#}
{#                                       maxlength='4'></td>#}
{#                            <td><input class="form-control"id="weight{{ forloop.counter }}" type="text" name="job_num2"#}
{#                                       value="{{ obj.weight }}" pattern='[0-9]+' title='Please Enter Proper Weight '#}
{#                                       maxlength='4'></td>#}
{##}
{#                            <td><input class="form-control" id="BMI{{ forloop.counter }}" type="text" name="job_num6" pattern='[0-9.]+'></td>#}
{##}
{#                            <td><input class="form-control" id=medication{{ forloop.counter }} type="text"#}
{#                                       name="job_num3" value="{{ obj.under_medication }}" pattern='[a-zA-Z]+'#}
{#                                       title='Please Enter Yes or No' maxlength='3'></td>#}
{#                            <td><input class="form-control" id=allergic{{ forloop.counter }} type="text" name="job_num4"#}
{#                                       value="{{ obj.allergic }}" pattern='[a-zA-Z0-9 ]+'#}
{#                                       title='Please Enter Proper details ' maxlength='3'></td>#}
{#                            <td><input class="form-control" id=update_date{{ forloop.counter }} type="text"#}
{#                                       name="job_num5" value="NA" disabled></td>#}
{#                            <td>#}
{#                                <button type="submit" class="btn blue btn-block add" id=add{{ forloop.counter }}#}
{#                                        style="margin-top:0px;">Add#}
{#                                </button>#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{##}
{#                    {% for obj1 in MedicalList %}#}
{#                        <tr id="Aitem{{ forloop.counter }}" class="Aitem">#}
{#                            <td>{{ obj1.student.id }}</td>#}
{##}
{#                            <td>{{ obj1.student.get_all_name }} </td>#}
{#                            <td><input class="form-control" name="bldgrp" type="text" id="bloodgroup"#}
{#                                       value="{{ obj1.blood_group }}" disabled></td>#}
{#                            <td><input class="form-control" name="hgt" type="text" id="hight" value="{{ obj1.height }}"#}
{#                                       disabled></td>#}
{#                            <td><input class="form-control" name="wgt" type="text" id="wight" value="{{ obj1.weight }}"#}
{#                                       disabled></td>#}
{#                            <td><input class="form-control" name="bmi" type="text" id="bmi" value="{{ obj1.bmi|default_if_none:"" }}" pattern='[0-9.]+' disabled></td>#}
{#                            <td><input class="form-control" name="medt" type="text" id="undermedication"#}
{#                                       value="{{ obj1.under_medication }}" disabled></td>#}
{#                            <td><input class="form-control" name="alrgc" type="text" id="alergic"#}
{#                                       value="{{ obj1.allergic }}" disabled></td>#}
{#                            <td><input class="form-control" id=update_date{{ forloop.counter }} type="text"#}
{#                                       value="{{ obj1.update_date }}" disabled></td>#}
{#                            <td>#}
{#                                <button type="button" class="btn green btn-block" disabled>Added</button>#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{##}
{#                    </tbody>#}
{#                </table>#}
{#            </form>#}
{#        </div>#}
{#        <!-- END FORM-->#}
{#    </div>#}
{#    </div>#}
{#    <!-- END VALIDATION STATES-->#}
{##}
{##}
{#    <script>#}
{#        function isNumber(evt) {#}
{#            evt = (evt) ? evt : window.event;#}
{#            var charCode = (evt.which) ? evt.which : evt.keyCode;#}
{#            if (charCode > 31 && (charCode < 48 || charCode > 57)) {#}
{#                return false;#}
{#            }#}
{#            return true;#}
{#        }#}
{##}
{#    </script>#}
{#    </form>#}
{#{% endblock %}#}
{##}
{#<!-- BEGIN CORE PLUGINS -->#}
{#       #}
