{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;

        }


    </style>

{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
         var elements = $("#tbody > tr").length;

            var elements = $("#tbody > tr").length;

            //$(function () {
                $(document).on("keypress", ".hight", function (e) {
                    var regex = new RegExp(/^[0-9.]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;

                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                });
                {% comment %}var i;
                for (i = 1; i <= elements; i++) {
                    $('#hight' + i).keypress(function (e) {
                        var regex = new RegExp(/^[0-9.]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;

                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }{% endcomment %}
            //});
                 //var i;
                    //for (i = 1; i <= elements; i++) {


                        $(document).on("change", ".hight", function (e) {
                            $(this).css({'border-color': ''});

                            var parent_id = $(this).parents('tr:eq(0)').attr('id');
                            parent_id = parent_id.toString();
                            var index = parent_id.match(/\d+/g).map(Number);
                            var weight = parseInt($('#' + parent_id + ' #wight' + index).val());
                            var height = parseInt($(this).val());

                            if($(this).val() != '' && (isNaN($(this).val()))){
                            $(this).val('');
                            $('#bmi' + index).val('');
                            $(this).css({'border-color': 'red'});
                            return false;
                        }

                            id = $(this).closest('tr').find('td:eq(0)').html();
                            height_id = id
                            $('#studentid').val(id);
                            id = $(this).val()
                            {#$('#hight').val(id);#}
                            var height_in_meter = height / 100
                            if ((height_in_meter != "" &&  true!=isNaN(height_in_meter)) && (weight != "" &&  true!=isNaN(weight))) {
                            {#if (height_in_meter != "") {#}
                                var bmi = calculate_bmi(height_in_meter, weight)
                                $('#bmi' + index).val(bmi);
                                ($('#calculate_bmi').val(bmi))
                            }
                            else {
                                $('#bmi' + index).val("");
                            }
                        });

                        $(document).on("change", ".wight", function (e) {
                            $(this).css({'border-color': ''});
                            weight_id = $(this).closest('tr').find('td:eq(0)').html();

                            var parent_id = $(this).parents('tr:eq(0)').attr('id');
                            parent_id = parent_id.toString();
                            var index = parent_id.match(/\d+/g).map(Number);
                            var height = parseInt($('#' + parent_id + ' #hight' + index).val());

                            if($(this).val() != '' && (isNaN($(this).val()))){
                            $(this).val('');
                            $('#bmi' + index).val('');
                            $(this).css({'border-color': 'red'});
                            return false;
                        }

                            var height_in_meter = height / 100;
                            var weight = parseInt($(this).val());


                            if ((weight != "" &&  true!=isNaN(weight)) && (height_in_meter != "" &&  true!=isNaN(height_in_meter))) {
                                var bmi = calculate_bmi(height_in_meter, weight)
                                $('#bmi' + index).val(bmi);
                                ($('#calculate_bmi').val(bmi))
                            }
                            else {
                                $('#bmi' + index).val("");
                            }


                        });

                        function calculate_bmi(height_in_meter, weight) {

                            if (height_in_meter != "" && weight != "") {


                                var bmi = weight / ((height_in_meter) * (height_in_meter));
                                bmi = bmi.toFixed(2);

                                return bmi;

                            }

                        }
                    //}

            $(document).on("keypress", ".wight", function (e) {
                var regex = new RegExp(/^[0-9.]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;

                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
            });
            {% comment %}$(function () {
                var i;
                for (i = 1; i <= elements; i++) {
                    $('#wight' + i).keypress(function (e) {

                        var regex = new RegExp(/^[0-9]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;

                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }
            });{% endcomment %}


            $(function () {
                var i;
                for (i = 1; i <= elements; i++) {
                    $('#undermedication' + i).keypress(function (e) {

                        var regex = new RegExp(/^[a-zA-Z\s]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;

                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }
            });

            $(function () {
                var i;
                for (i = 1; i <= elements; i++) {

                    $('#alergic' + i).keypress(function (e) {

                        {#				 document.getElementById("alergic"+i).required = true;#}

                        var regex = new RegExp(/^[a-zA-Z\s]+$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;
                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }
            });

            function countInstances(string, word) {
                return string.split(word).length - 1;
            }


            $(document).on("keypress", ".bloodgroup", function (e) {

                var regex = new RegExp(/^[A|a|B|b|AB|ab|Ab|O|o|+|-]$/);
                var reg_exp = new RegExp(/^[AB|O|o|a|ab|Ab]$/);
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);

                var blood_length = ($(this).val().length);

                var blood_group = ($(this).val());

                var count = ((countInstances(blood_group, str)))
                if (count >= 1) {
                    return false;
                }


                if (blood_length == 0 && (str=="+"||str=="-")) {
                         return false
                     }

                if((blood_group[1] =="+"&& str=="-")){
                     return false

                }
                 if((blood_group[1] =="-"&& str=="+")){
                     return false

                }


                if (regex.test(str)) {
                    return true;

                }
                else {
                    e.preventDefault();
                    return false;
                }
            });

            function isInArray(value, array) {
                return array.indexOf(value) > -1;
            }


                    $(document).on("change", ".bloodgroup", function (e) {

                        var cars = ["ab+", "a-", "ab-", "a+", 'b+', "b-", "o-", "o+"]
                        var bloodgroup = $(this).val().toLowerCase();
                        if (isInArray(bloodgroup, cars) == true) {

                            return true;

                        }
                        else {
                            $(this).val("")
                            alert("Please enter the valid blood group")

                            return false;
                        }


                    });







            {% comment %}$(function () {
                var i;
                for (i = 1; i <= elements; i++) {
                    $('#bloodgroup' + i).keypress(function (e) {

                        var regex = new RegExp(/^[A|a|B|b|AB|ab|Ab|O|o|+|-]$/);
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;

                        }
                        else {
                            e.preventDefault();
                            return false;
                        }
                    });
                }
            });{% endcomment %}


            class_name = document.getElementById("id_class_name").value
            $('#class_name').val(class_name);
            section_name = document.getElementById("id_section_name").value
            $('#section_name').val(section_name);

            function upated_medical_info(url, id, bg, ht, wt,bmi, mt, al) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        stdid: id,
                        bldgrp: bg,
                        hgt: ht,
                        wgt: wt,
                        BMI: bmi,
                        mdt: mt,
                        alg: al,
                    },
                })

                    .done(
                        function (data) {

                            location.reload();

                        });
            }

            $(document).ready(function () {
                {#$(".update").click(function () {#}
                $(document).on("click", ".update", function (e) {

                    id = $(this).closest('tr').find('td:eq(0)').html();

                    $('#studentid').val(id);

                    bg = $(this).closest('tr').find('td:eq(3)').find('input[name="bldgrp"]').val();
                    if (bg == '') {
                        alert("Blood Group is Mandatory.")
                        return false;
                    }
                    $("#bloodgrp").val(bg);

                    ht = $(this).closest('tr').find('td:eq(4)').find('input[name="hgt"]').val();
                    $("#height").val(ht);

                    wt = $(this).closest('tr').find('td:eq(5)').find('input[name="wgt"]').val();
                    $("#weight").val(wt);

                    bmi = $(this).closest('tr').find('td:eq(6)').find('input[name="bmi"]').val();
                    $("#calculate_bmi").val(bmi);


                    mt = $(this).closest('tr').find('td:eq(7)').find('input[name="medt"]').val();
                    $("#medication").val(mt);

                    al = $(this).closest('tr').find('td:eq(8)').find('input[name="alrgc"]').val();
                    $("#allergic").val(al);

                     if(ht!= "" && wt == ""){
                        alert("Please enter the weight")
                        return false;

                    }

                    if(ht== "" && wt != ""){
                        alert("Please enter the height")
                        return false;

                    }

                    var url = '/school/upated_medical_info/';
                    upated_medical_info(url, id, bg, ht, wt,bmi, mt, al)

                })


                {#$(".edit").click(function () {#}
                $(document).on("click", ".edit", function (e) {
                    var id = $(this).attr('id');
{#                    alert(id.split("edit")[1]+" ---")#}
{#                    var i = id.substr(id.length - 1);#}
                    var i = id.split("edit")[1]

                    $(".data").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();

                    $("#update" + i).show();
                    $("#edit" + i).hide()

                    {#            $( "#update" +i).prop( "disabled", false );#}
                    $("#bloodgroup" + i).prop("disabled", false);
                    $("#hight" + i).prop("disabled", false);
                    $("#wight" + i).prop("disabled", false);

                    $("#undermedication" + i).prop("disabled", false);

                    $("#alergic" + i).prop("disabled", false);

                })


                var i;
                for (i = 1; i <= elements; i++) {


                    $("#bloodgrp" + i).change(
                        function () {
                            id = $(this).closest('tr').find('td:eq(0)').html();

                            $('#studentid').val(id);

                            id = $(this).val()

                            $('#bloodgrp').val(id);
                        });

                    $("#height" + i).change(
                        function () {
                            id = $(this).val()
                            $('#height').val(id);
                        });

                    $("#weight" + i).change(
                        function () {
                            id = $(this).val()
                            $('#weight').val(id);
                        });
                    $("#calculate_bmi" + i).change(
                        function () {
                            id = $(this).val()
                            $('#calculate_bmi').val(id);
                        });



                    $("#medication" + i).change(
                        function () {
                            id = $(this).val()
                            $('#medication').val(id);
                        });


                    $('#allergic' + i).change(
                        function () {
                            id = $(this).val()
                            $('#allergic').val(id);
                        });
                }


            });


            $("#id_academic_year").change(function () {

                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)

            });

            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });

             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });

        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {
            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {
                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                        }
                        $('#id_section_name').prop("disabled", false);
                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(
                    function (data) {
                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }

                    });
        }






    </script>
{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'medical:medical_menu' %}"> Medical Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>View-Edit Medical Details</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Add Medical Details</span>
            </div>
        </div>

        <div class="portlet-body">

            <!-- BEGIN FORM-->
            <div class="form-body">

                <form action="{% url 'medical:view_update_medical_list' %}" id="form_sample_1" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="col-md-2">
                        <h4>Academic Year </h4>

                        <div class="">
                            <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                            <select autocomplete="off" class="form-control" data-live-search="true"
                                    id="id_academic_year" name="year_name" disabled>
                                <option style="display : none" selected="selected"
                                        value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                {% for Academic_Year in year_list %}
                                    <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <h4> Class </h4>
                        <div class="">
                            <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                    name="class_name" required="">
                                <option style="display : none" selected="selected"
                                        value="{{ Selected_Class_Id }}"> {{ selected_class_name }}</option>
                                {% for class in class_list %}
                                    <option value="{{ class.id }}">{{ class.class_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="col-md-2">
                        <h4> Section </h4>
                        <div class="">
                            <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                    required="">
                                <option style="display : none" selected="selected"
                                        value="{{ Selected_Section_Id }}"> {{ selected_section_name }}</option>
                                {% for section in section_list %}
                                    <option value="{{ section.id }}">{{ section.section_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn blue btn-block" style="margin-top: 38px;">Go</button>
                    </div>
                </form>

                <form action="{% url 'medical:export_medical_info' %}" id="form_sample_1" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-2">
                        <input id="class_name" name="class_name" type="hidden" value="">
                        <input id="section_name" name="section_name" type="hidden" value="">
                        <input id="year_name" name="year_name" type="hidden" value="{{ Selected_Year_Id }}">
                        <button type="submit" class="btn blue btn-block" id="export" style="margin-top: 38px;">Export
                        </button>
                    </div>
                </form>

                <div class="col-md-2">
                    <button type="button" class="btn blue btn-block" data-toggle="modal" style="margin-top: 38px;"
                            data-target="#myModal">Import
                    </button>
                </div>

            </div>

            <br><br>

            <form action="{% url 'medical:upated_medical_info' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" id="studentid" name="studentid" type="hidden" value="">
                <input class="form-control" id="bloodgrp" name="bloodgrp" type="hidden" value="">
                <input class="form-control" id="height" name="height" type="hidden" value="">
                <input class="form-control" id="weight" name="weight" type="hidden" value="">
                <input class="form-control" id="medication" name="medication" type="hidden" value="">
                <input class="form-control" id="allergic" name="allergic" type="hidden" value="">
                <input class="form-control" id="update" name="update" type="hidden" value="">
                <input class="form-control" id="edit" name="edit" type="hidden" value="">
                <input class="form-control" id="calculate_bmi" name="calculate_bmi" type="hidden" value="">


                <table class="table table-striped table-hover table-bordered" id="sample_1">
                    <thead>
                    <tr>
                        <th style="display: none">Id</th>
                        <th>Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Name</th>
                        <th> Bloodgroup</th>
                        <th> Height(cm.)</th>
                        <th> Weight(kg.)</th>
                        <th>BMI &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th> Under Medication(yes/no)</th>
                        <th> Allergic for anything</th>
                        <th> Updated Date</th>
                        <th> Action</th>
                    </tr>
                    </thead>

                    <tbody id="tbody">
                    {% for obj1 in MedicalList %}
                        <tr id="item{{ forloop.counter }}" class="item">
                            <td style="display: none">{{ obj1.student.id }}</td>
                            <td>{{ obj1.student.student_code }}</td>
                            <td>{{ obj1.student.get_all_name }}</td>
                            <td><input class="form-control data bloodgroup" name="bldgrp" type="text"
                                       id="bloodgroup{{ forloop.counter }}" value="{{ obj1.blood_group }}" maxlength='3'
                                       required="True" pattern='[A-Za-z+-]+' disabled
                                       title='Please Enter Proper Blood Group '></td>
                            <td><input class="form-control data hight" name="hgt" type="text" id="hight{{ forloop.counter }}"
                                       value="{{ obj1.height }}" required="True" maxlength='7' disabled></td>
                            <td><input class="form-control data wight" name="wgt" type="text" id="wight{{ forloop.counter }}" maxlength='7'
                                       value="{{ obj1.weight }}" required="True" disabled></td>

                             <td><input class="form-control data bmi" name="bmi" type="text" id="bmi{{ forloop.counter }}" maxlength='7'
                                       value="{{ obj1.bmi }}" required="True" disabled></td>



                            <td><input class="form-control data" name="medt" type="text" maxlength='3'
                                       id="undermedication{{ forloop.counter }}" value="{{ obj1.under_medication }}"
                                       disabled required="True"></td>
                            <td><input class="form-control data" name="alrgc" type="text" maxlength='3'
                                       id="alergic{{ forloop.counter }}" value="{{ obj1.allergic }}" required="True"
                                       disabled></td>
                             <td><input class="form-control data" name="update_date" type="text"
                                       id="updated_Date{{ forloop.counter }}" value="{{ obj1.update_date.date    }}" required="True"
                                       disabled></td>
                            <td>
                                <button type="button" name="updt" id="update{{ forloop.counter }}"
                                        class=" update btn green btn-block" style="display:none;">Update
                                </button>
                                <button type="button" name="edit" id="edit{{ forloop.counter }}"
                                        class=" edit btn blue btn-block">Edit
                                </button>
                            </td>
                            {#		                                                               <td> <button type="button" name="edit"  id="edit{{ forloop.counter }}" class=" edit btn blue btn-block" >Edit</button> </td>#}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </form>
        </div>
        <!-- END FORM-->
    </div>
    <!-- END VALIDATION STATES-->

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="{% url 'medical:import_medical_info' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Choose File</h4>
                    </div>
                    <div class="modal-body">
                        {{ MedicalDetailsExcel.excel }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

    </script>

{% endblock %}

<!-- BEGIN CORE PLUGINS -->
       
