{% extends "index.html" %}
{% load staticfiles %}


      {%block ScriptBlock%}
          <script>
              window.onload = function () {

                  var academic_year = document.getElementById("id_academic_year").value;
            var url1 = '/school/viewAcademicDetails/';
            viewAcademicDetails(url1,academic_year)

                  class_name = document.getElementById("id_class_name").value
                  year_name = document.getElementById("id_academic_year").value

                  if (year_name == '') {
                      $('#id_academic_year').val($('#id_academic_year'));
                      $('#id_academic_year').prepend($('<option>', {
                          value: '',
                          text: 'Please Select'

                      }));
                  }

                  if (class_name == '') {
                      $('#id_class_name').val($('#id_class_name'));
                      $('#id_class_name').prepend($('<option>', {
                          value: '',
                          text: 'Please Select'

                      }));
                  }
                  section_name = document.getElementById("id_section_name").value
                  if (section_name == '') {
                      $('#id_section_name').val($('#id_section_name'));
                      $('#id_section_name').prepend($('<option>', {
                          value: '',
                          text: 'Please Select'
                      }));
                  }

                  $("#id_academic_year").change(function () {

                      var academic_year = document.getElementById("id_academic_year").value;
                      var url1 = '/school/viewAcademicDetails/';
                      viewAcademicDetails(url1, academic_year)

                  });

                  $("#id_class_name").change(function () {
                      var class_name = document.getElementById("id_class_name").value;
                      var academic_year = document.getElementById("id_academic_year").value;
                      var url = '/school/viewSectionDetails/';
                      ViewSectionDetailStudent(url, academic_year, class_name);
                  });

                  $('#id_class_name').prop("disabled", true);
                  $('#id_section_name').prop("disabled", true);
      }


              function ViewSectionDetailStudent(url, academic_year, class_name) {

                  $.ajax({
                      url: url,
                      type: "GET",
                      data:
                          {
                              academic_year: academic_year,
                              class_name: class_name
                          },
                  })

                      .done(
                          function (data) {

                              console.log("print you are in section ajax")
                              console.log(data);

                              $('#id_section_name').empty();
                              $('#id_section_name').append(
                                  '<option value="">Please select</option>');

                              for (var i = 0; i < data.length; i++) {
                                  $('#id_section_name').append(
                                      '<option value="' + data[i].id + '">'
                                      + data[i].section_name + '</option>')
                              }
                                 $('#id_section_name').prop("disabled", false);
                          });
              }


              function viewAcademicDetails(url1, academic_year) {

                  $.ajax({
                      url: url1,
                      type: "GET",
                      data: {
                          academic_year: academic_year
                      },
                  })
                      .done(
                          function (data) {
                              console.log(data);
                              $('#id_class_name').empty();
                              $('#id_class_name').append(
                                  '<option value="">Please select</option>');
                              console.log("Hello.. 2");

                              for (var i = 0; i < data.length; i++) {
                                  $('#id_class_name').append(
                                      '<option value="' + data[i].id + '">'
                                      + data[i].class_name + '</option>')
                              }

                              $('#id_class_name').prop("disabled", false);
                          });
              }


          </script>
      
{%endblock%}    
        
{% block content %}
        
         <div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                 <a href="{% url 'registration:home' %}">Home</a> 
                                <i class="fa fa-angle-right"></i>
                            </li>
                             <li>
                                
                                 <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>   
                                <i class="fa fa-angle-right"></i>
                            </li>
                            
                            <li>
                                
                                 <a href="{% url 'medical:medical_menu' %}"> Medical Menu</a>   
                                <i class="fa fa-angle-right"></i>
                            </li>
                            
                            <li>
                                
                                <span>Medical Info</span>
                                
                            </li>
                           
                        </ul>
                        
        </div>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}
        

                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Medical Details</span>
                                    </div>
                                    
                                </div>

                                <div class="portlet-body">
                                
                                
                                    <!-- BEGIN FORM-->
                                   <form  method="post" action="{% url 'medical:view_update_medical_list' %}"" id=" form_sample_1 ">
		              								  {% csrf_token %}
		                                         
		                                         <div class="row">

                                                 <div class="col-md-3">
		                                                <h4>Academic Year  </h4>

		                                                    <div class="">
                                                            <input   value = "{{ Selected_Year_Id }}" name = "year_name" hidden>
										                        <select autocomplete="off" class="form-control" data-live-search = "true" id = "id_academic_year" name = "year_name" disabled>
										                           <option style = "display : none" selected = "selected" value = "{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
										                           {% for Academic_Year in year_list  %}
										                           <option value="{{ Academic_Year.id }}"  >{{ Academic_Year.year_name }}</option>
										                           {% endfor %}
										                        </select>
		                    								</div>
                                              		</div>


		                                          	<div class="col-md-3">
		                                                <h4>Class  </h4>

		                                                    <div class="">
										                        <select autocomplete="off" class="form-control" data-live-search = "true" id = "id_class_name" name = "class_name" required = "True">
										                           <option style = "display : none" selected = "selected" value = "{{ Selected_Class_Id }}"> {{ selected_class_name }}</option>
										                           {% for class in class_list  %}
										                           <option value="{{ class.id }}"  >{{ class.class_name }}</option>
										                           {% endfor %}
										                        </select>
		                    								</div>
                                              		</div>
                                          
                                          
		                                            <div class="col-md-3">
		                                                <h4> Section  </h4>
		                                                   
		                                                    <div class="">
										                        <select autocomplete = "off" class = "form-control" id = "id_section_name" name = "section_name" required = "True" >
										                           <option style = "display : none" selected = "selected" value = "{{ Selected_Section_Id  }}"> {{ selected_section_name }}</option>
										                           {% for section in section_list  %}
										                           <option value="{{ section.id }}"  >{{ section.section_name }}</option>
										                           {% endfor %}
										                        </select>
									                       </div>
                                          		   </div>
                                          
                                                   <div class="col-md-3">
                                                      <button type = "submit" class = "btn blue btn-block" id = "go" style = "margin-top : 38px;"> GO </button>
                                                   </div>
                                               </div>
											</form>
                                       
                                    
                                    <!-- END FORM-->
                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->
                        
                       
           {% endblock %}              
                        
                        <!-- BEGIN CORE PLUGINS -->
       
