{% extends "index.html" %}
{% load staticfiles %}



{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE

{#            var academic_year = document.getElementById("id_academic_year").value;#}
{#            var url1 = '/school/viewAcademicDetails/';#}
{#            viewAcademicDetails(url1, academic_year)#}
            //viewAcademicDetails1(url1,academic_year)


            class_name = document.getElementById("id_class_name").value
            year_name = document.getElementById("id_academic_year").value


            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }


            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

            var select_all = document.getElementById("select_all"); //select all checkbox
            var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

            //select all checkboxes
            select_all.addEventListener("change", function (e) {
                for (i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = select_all.checked;
                }
            });

            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                    //uncheck "select all", if one of the listed checkbox item is unchecked
                    if (this.checked == false) {
                        select_all.checked = false;
                    }
                    //check "select all" if all checkbox items are checked
                    if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                        select_all.checked = true;
                    }
                });
            }

            $(document).ready(function () {


                $('#submit1').attr('disabled', true);
                $('#detain').attr('disabled', true);

                var forms = $('#body')
                if (forms.length > 0) {

                    $('#submit1').attr('disabled', false);
                    $('#detain').attr('disabled', false);
                }

                $('#close1').click(function () {
                    window.location.reload();
                });

                $('#close2').click(function () {
                    window.location.reload();
                });

                $('#cancle_confirm').click(function () {
                    window.location.reload();
                })

                $("#submit1").click(function () {
                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());

                    });
                    strID = favorite.join(", ")
                    if (strID.length == 0) {
                        alert("PLease Select a Record to Proceed")

                    }

                    else {
                        var promote_flag = "{{PromoteFlag}}";
                        if (promote_flag == 'False') {
                            alert("Promotion Not Possible. Mapping Not Exist For Next Academic Year and Class.")
                            return false;
                        }
                        $("#strikeId").val(strID);
                        $('#myModal').modal('toggle');
                        $('#myModal').modal('show');
                    }
                });

                $('#submit2').click(function () {

                    $('#formfield2').submit();
                });


                $('#detain').click(function () {

                    var detain_flag = "{{DetainFlag}}";
                    if (detain_flag == 'False') {
                        alert("Detain Not Possible. Mapping Not Exist For Next Academic Year and Same Class.")
                        return false;
                    }
                    //DetainFlag

                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());

                    });
                    strID = favorite.join(", ")
                    if (strID.length == 0) {
                        alert("PLease Select a Record to Proceed")

                    }
                    else {
                        {#                        var year_val = "{{ Selected_Year_Id }}"#}
                        {#                        var class_val = "{{ Selected_Class_Id }}"#}

                        {#                        $("#detain_year").val(year_val)#}
                        {#                        $("#detain_class").val(class_val)#}
                        $("#strikeId1").val(strID);


                        $('#myModalDetain').modal('toggle');
                        $('#myModalDetain').modal('show');
                    }

                    //alert("Hello")
                });

                $('#submit3').click(function () {

                    $('#formfield3').submit();
                });


            });

            $(".alert").fadeTo(4000, 0).slideUp(500, function () {
                $(this).remove();
            });

            $("#id_academic_year").change(function () {
                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)
            });


            $("#id_class_name").blur(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });

            {#var academic_year1 = document.getElementById("id_academic_year1").value;#}
            {#alert(academic_year1);#}
            {#    $("#id_academic_year1").change(function() {#}
            {#        alert("Hhh")#}
            {#            var academic_year1 = document.getElementById("id_academic_year1").value;#}
            {#            var url3 = '/school/viewAcademicDetails/';#}
            {#            viewAcademicDetails1(url3,academic_year1)#}
            {#        });#}


            {#            $("#id_class_name1").change(function () {#}
            {#                var class_name1 = document.getElementById("id_class_name1").value;#}
            {#                var academic_year1 = document.getElementById("id_academic_year1").value;#}
            {#                var url2 = '/school/viewSectionDetails/';#}
            {#                ViewSectionDetailStudent1(url2, academic_year1, class_name1);#}
            {#            });#}

            {% comment %}var academic_year1 = document.getElementById("id_academic_year1").value;
            var url3 = '/school/viewAcademicDetails/';
            viewAcademicDetails1(url3, academic_year1){% endcomment %}

            {#        window.onload = function () {#}
             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
{#        }#}
        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                            $('#id_section_name').prop("disabled", false);
                        }
                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            {#            alert(academic_year);#}
            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(
                    function (data) {
                        console.log("Hello.. !");
                        console.log(data);
                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');
                        console.log("Hello.. 2");

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }

                        $('#id_class_name').prop("disabled", false);
                    });
        }


        {% comment %} function ViewSectionDetailStudent1(url2, academic_year1, class_name1) {
 {#             alert("****")#}
 {#            alert(academic_year1+" ----> "+class_name1)#}
             $.ajax({
                 url: url2,
                 type: "GET",
                 data:
                     {
                         academic_year: academic_year1,
                         class_name: class_name1
                     },
             })

                 .done(
                     function (data) {
                         alert(academic_year1+" ----> "+class_name1+" -- "+data)

                         console.log("print you Here....")
                         console.log(data);

                         $('#id_section_name1').empty();
                         $('#id_section_name1').append(
                             '<option value="">Please select</option>');

                         for (var i = 0; i < data.length; i++) {

                             $('#id_section_name1').append(
                                 '<option value="' + data[i].id + '">'
                                 + data[i].section_name + '</option>')
                             $('#id_section_name1').prop("disabled", false);
                         }
                     });
         }{% endcomment %}


        {% comment %}function viewAcademicDetails111(url3, academic_year1) {

            $.ajax({
                url: url3,
                type: "GET",
                data: {
                    academic_year: academic_year1
                },
            })

                .done(
                    function (data) {
                        console.log("Hello.. !");
                        console.log(data);
                        $('#id_class_name1').empty();
                        $('#id_class_name1').append(
                            '<option value="">Please select</option>');
                        console.log("Hello.. 2");

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name1').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }

                        $('#id_class_name').prop("disabled", false);
                    });
        }{% endcomment %}


    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'promotions:promotions_menu' %}"> Promotion Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Apply Promotion </span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Promotion Student List</span><br><br>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'promotions:promotions_student_list' %}" id="form_sample_1">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-3">
                            <h4>Academic Year </h4>

                            <div class="">
                                <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Class </h4>

                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Class_Id }}"> {{ ClassName }}</option>

                                    {% for ClassDetails in ClassDetails %}
                                        <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Section_Id }}"> {{ section_name }}</option>
                                    {% for Section in Section %}
                                        <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top: 38px; width: 50%">GO
                            </button>
                        </div>
                    </div>
                </form>
                <br>

                <form method="post" action="{% url 'strike_off:save_strikeOff_student' %}" id="formfield1">
                    {% csrf_token %}
                    <table name="data"
                           class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                           id="sample_1" role="grid" aria-describedby="sample_1_info">
                        <thead>
                        <tr role="row">
                            <th
                                style="display: none">ID
                            </th>
                            <th>Select <input type="checkbox" id="select_all"/></th>
                            <th > Academic Year
                            </th>
                            <th>Student Code
                            </th>
                            <th > Student Name
                            </th>
                            <th> Class
                            </th>
                            <th> Section
                            </th>
                            <th> Parent Name
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for obj in StudentList %}
                            <tr style="cursor: pointer;" name="data" id="body">
                                <td style="display: none">{{ obj.id }}</td>
                                <td><input type='checkbox' name='check' class="checkbox" value="{{ obj.id }}"></td>
                                <td>{{ obj.academic_class_section.year_name.year_name }}</td>
                                <td>{{ obj.student_code }}</td>
                                <td>{{ obj.get_all_name }}</td>
                                <td>{{ obj.academic_class_section.class_name.class_name }}</td>
                                <td>{{ obj.academic_class_section.section_name.section_name }}</td>
                                <td>{{ obj.parent.user.get_pura_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                        <div class="row">
                            <div class="col-md-3"  style="margin-left:20%";>
                                <button type="button" value="Submit" id="detain" class="btn blue btn-primary"  style="margin-left:50%;width: 50%;">Detain</button>
                            </div>
                            <div class="col-md-3"  >
                                <button type="button" value="Submit" id="submit1" class="btn blue btn-primary"
                                        style="width: 50%;" >Promote
                                </button>
                            </div>

                        </div>
                </form>
            </div>
            <!-- END FORM-->
        </div>

        <!-- 	BEGIN VALIDATION STATES-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <form method="post" action="{% url 'promotions:save_promotion_list' %}" id="formfield2">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="hidden" name="strikeId" id="strikeId">
                            <h4 class="modal-title">Select Academic Year and Class to Promote. </h4>
                        </div>
                        <div id="message" style="display:none;">

                        </div>

                        <div class="modal-body">
                            <label>Academic Year:</label><br>
                            <select autocomplete="off" class="form-control" id="id_academic_year1" name="year_name1"
                                    required="True">
                                {#             <option  selected = "selected" value = "{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>#}
                                <option selected="selected"
                                        value="{{ NextAcdYear.id }}">{{ NextAcdYear.year_name }}</option>
                            </select>

                            <label>Class:</label><br>
                            <select autocomplete="off" class="form-control" id="id_class_name1" name="class_name1"
                                    required="True">
                                <option selected="selected"
                                        value="{{ next_class_rec.class_name.id }}">{{ next_class_rec.class_name }}</option>
                                {% comment %}{% for ClassDetails in ClassDetails %}
                                    <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                                {% endfor %}{% endcomment %}
                            </select>

                            <label>Section:</label><br>
                            <select autocomplete="off" class="form-control" id="id_section_name1" name="section_name1"
                                    required="True">
                                <option selected="selected" value="">Please Select</option>
                                {% for Section in promotion_filtered_recs %}
                                    <option value="{{ Section.section_name.id }}">{{ Section.section_name.section_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button id="close1" type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <button type="submit" value="Submit" class="btn btn-default" id="submit2">Promote</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="modal fade" id="myModalDetain" role="dialog">
            <div class="modal-dialog modal-sm">
                <form method="post" action="{% url 'promotions:detain_students' %}" id="formfield3">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="hidden" name="strikeId1" id="strikeId1">
                            <input type="hidden" name="detain_year" id="detain_year" value="{{ NextAcdYear.id }}">
                            <input type="hidden" name="detain_class" id="detain_class" value="{{ Selected_Class_Id }}">
                            <h4 class="modal-title">Select New Section for Detained Students. </h4>
                        </div>

                        <div class="modal-body">
                            <label>Academic Year: </label><br>

                            <select autocomplete="off" class="form-control" id="id_academic_year"
                                    name="detain_year_name" disabled>
                                <option selected="selected"
                                        value="{{ NextAcdYear.id }}">{{ NextAcdYear.year_name }}</option>
                            </select>

                            <label>Class: </label><br>
                            <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                    name="detain_class_name" disabled>
                                <option style="display:none" selected="selected"
                                        value="{{ Selected_Class_Id }}"> {{ ClassName }}</option>
                            </select>

                            <label>Section:</label><br>
                            <select autocomplete="off" class="form-control" id="id_section_name1"
                                    name="detain_section_name" required="True">
                                {% for Section in SectionList %}
                                    <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">


                            <button id="close2" type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <a data-toggle="modal" href="#static">
                                <button type="button" class="btn red">Detain</button>
                            </a>
                            {#           <button type="submit" value="Submit" class="btn btn-default" id="submit3">Detain</button>#}
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>

    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false "
         style="margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title " style="text-align: center; color: red"><b>Warning</b></h4>
                </div>
                <div class="modal-body">
                    <p> Are You Sure You Want To Detain The Selected Students? </p>
                </div>
                <div class="modal-footer">
                    <button id="cancle_confirm" type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel
                    </button>
                    <button id="submit3" type="button" class=" btn red btn-outline sbold" data-toggle="modal">Detain
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
                        
