{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Promotions Menu</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="tiles">
                <div class="tile bg-blue-steel" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'promotions:promotions_student_page' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-upload"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 20px;">Promotions Apply</h5></div>
                        </div>
                    </a>
                </div>

                <div class="tile bg-green-sharp" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'promotions:promotion_confirmation_list' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-check"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 20px;">Promotion Confirmation</h5></div>

                        </div>
                    </a>
                </div>

                {% comment %}<div class="tile bg-blue-sharp" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'promotions:promote' %}">

                        <div class="tile-body">
                            <i class="glyphicon glyphicon-check"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name"><h5 style="font-size: 20px;">Promote</h5></div>

                        </div>
                    </a>
                </div>{% endcomment %}

            </div>
        </div>
    </div>
{% endblock %}