{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>
    </head>
    <!-- END HEAD -->
    <style>

    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {

        }


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'promotions:promotions_menu' %}"> Promotions Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>



            <li>

                <span>Promote</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Promotion Confirmation</span>
            </div>
        </div>

        <div class="portlet-body">

            <form  method="post" action="{% url 'promotions:promote' %}" id="form_sample_1">
                 {% csrf_token %}
                    <div class="row">

                 <div class="col-md-3">
                    <h4>Academic Year  </h4>

                        <div class="">
{#                        <input   value = "{{ Selected_Year_Id }}" name = "year_name" hidden>#}
                            <select autocomplete="off" class="form-control" data-live-search = "true" id = "id_academic_year" name = "year_name"  >
                               <option style = "display : none" selected = "selected" value = "{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                               {% for Academic_Year in year_list  %}
                               <option value="{{ Academic_Year.id }}"  >{{ Academic_Year.year_name }}</option>
                               {% endfor %}
                            </select>
                        </div>
                    </div>

                      <div class="col-md-3">
                        <button type="submit" class="btn blue btn-block" id ="go" style="margin-top: 38px;">GO</button>
                      </div>
                    </div>
              </form>


        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
{% endblock %}


