{% extends "index.html" %}
{% load staticfiles %}



{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE


	     var academic_year = document.getElementById("id_academic_year").value;
{#            var url1 = '/school/viewAcademicDetails/';#}
{#            viewAcademicDetails(url1,academic_year)#}

            $(document).ready(function () {
                 $('#submit1').attr('disabled', true);

                var forms = $('.body')
                if (forms.length > 0) {

                    $('#submit1').attr('disabled', false);

                }
                 $(document).on("click", ".edit", function (e) {
                    var parent_id = $(this).parents('tr:eq(0)').attr('id');
                    var id = $(this).attr('id');
                    var i = id.split("edit")[1];
                    $(".rec").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();
                    $("#update" + i).show();
                    $("#edit" + i).hide();
                    $('#' + parent_id + ' .rec').prop("disabled", false);
                })
                $(document).on("click", ".update", function (e) {
                    var all_rec = [];
                    var id = $(this).attr('id');
                    var student_id = id.split("update")[1];
                    var section_name = document.getElementById("id_section_name_update"+student_id);
                    var selected_section = section_name.options[section_name.selectedIndex].value;
                    var student_id = id.split("update")[1];
                    var year_name =($("#id_year_name").val());
                    var class_name = ($("#class_data").val());
                    var stud_reec = {"student_id":student_id,"selected_section":selected_section,'class_name':class_name,'year_name':year_name}
                    all_rec.push(stud_reec);
                    var parent_id = $(this).parents('tr:eq(0)').attr('id');
                    var all_recs = $('#' + parent_id + ' .rec');
                    var id = $(this).attr('id');
                    var i = id.split("edit")[1];
                    $(".rec").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();
                    $("#update" + i).show();
                    $("#edit" + i).hide();
                    $('#' + parent_id + ' .rec').prop("disabled", false);
                    strID = (JSON.stringify(all_rec))
                    $("#section_data").val(strID);
                    $('#updatedsection_info').submit();

                })


            });



                class_name = document.getElementById("id_class_name").value
                year_name = document.getElementById("id_academic_year").value


            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }


            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }

                var select_all = document.getElementById("select_all"); //select all checkbox
                var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

                //select all checkboxes
                select_all.addEventListener("change", function (e) {
                    for (i = 0; i < checkboxes.length; i++) {
                        checkboxes[i].checked = select_all.checked;
                    }
                });

                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                        //uncheck "select all", if one of the listed checkbox item is unchecked
                        if (this.checked == false) {
                            select_all.checked = false;
                        }
                        //check "select all" if all checkbox items are checked
                        if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                            select_all.checked = true;
                        }
                    });
                }


                $('#close1').click(function () {
                    window.location.reload();
                });


                $("#submit1").click(function () {
                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());

                    });
                    strID = favorite.join(", ")
                    if (strID.length == 0) {
                        alert("PLease Select a Record to Proceed")
                        return false;
                    }
                    else {
                        $('#myModal').modal('toggle');
                        $('#myModal').modal('show');
{#                        return false;#}
                    }
                });

                $('#submit3').click(function () {

                        $('#formfield1').submit();
                });


           {% comment %} });{% endcomment %}

            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });

            $("#id_academic_year").change(function () {
                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)
            });


            $("#id_class_name").blur(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });

             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                            $('#id_section_name').prop("disabled", false);
                        }


                    });


        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
            // alert ("Hello..");
                .done(
                    function (data) {
                        console.log("Hello.. !");
                        console.log(data);
//alert ("Hello.. 123");
                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');
                        console.log("Hello.. 2");

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }

                        $('#id_class_name').prop("disabled", false);
                    });
        }

        {#        window.onload = function () {#}
{#             $('#sample_1').dataTable().fnDestroy();#}
{##}
{#            $('#sample_1').dataTable({#}
{#                "aoColumnDefs": [#}
{#                    {'bSortable': false}#}
{#                ]#}
{#            });#}
{#        }#}

    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'promotions:promotions_menu' %}"> Promotion Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Promotion Student List</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Promotion Student List</span><br><br>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'promotions:promotion_confirmation_filtered_list' %}" id="form_sample_1">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-3">
                            <h4>Academic Year </h4>

                            <div class="">
                            <input   value = "{{ Selected_Year_Id }}" name = "year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true" id = "id_academic_year" name = "year_name"  disabled>
                                    <option style="display : none" selected="selected" value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Class </h4>

                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Class_Id }}"> {{ ClassName }}</option>

                                    {% for ClassDetails in ClassDetails %}
                                        <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Section_Id }}"> {{ section_name }}</option>
                                    {% for Section in Section %}
                                        <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top: 38px;">GO
                            </button>
                        </div>
                    </div>
                </form>
                <br>
            <form method="post" action="{% url 'promotions:promotion_update_section_info' %}" id="updatedsection_info">
                    {% csrf_token %}
                    <input id="section_data" name="section_data" hidden>

            </form>

                <form method="post" action="{% url 'promotions:promote_students' %}" id="formfield1">
                    {% csrf_token %}
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                           id="sample_1">
                        <thead>
                        <tr>
                            <th style="display:none;">Sr No</th>
                            <th>Select <input type="checkbox" id="select_all"/> </th>
                            <th>Student Code</th>
                            <th>Name</th>
                            <th>From Academic Year</th>
                            <th>Promoted to Academic Year</th>
                            <th>From Class</th>
                            <th>Promoted to Class</th>
                            <th>From Section</th>
                            <th>Promoted to Section</th>
                            <th>Edit/Update</th>

                            {#                            <th>Parent Name</th>#}
                        </tr>
                        </thead>
                        <tbody>

                        {% for obj in StudentList %}

                            <tr style="cursor: pointer;" name="data" id="body{{ obj.student_id }}" class="body">
                                <td style="display:none;">{{ forloop.counter }}</td>
                                <td class="rec"><input type='checkbox' name='check' class="checkbox" value="{{ obj.student_id }}"></td>
                                <td >{{ obj.student_code }}</td>
                                <td>{{ obj.student_rec.get_all_name }}</td>
                                <td>{{ obj.academic_year }}</td>
                                <input type="hidden"id="id_year_name"value="{{ obj.promoted_acd_year.id }}">
                                <input type="hidden"id="class_data"value="{{ obj.promoted_class.id}}">
                                <td  disabled>{{ obj.promoted_acd_year }}</td>
                                <td disabled>{{ obj.class_name }}</td>
                                <td disabled>{{obj.promoted_class}}</td>
                                <td>
                                <select autocomplete="off" class="form-control rec" id="id_section_name_update{{ obj.student_id  }}" name="section_name"
                                        required="True" disabled >
                                    <option style="display:none" selected="selected"
                                            value="{{ obj.promoted_section.id }}"> {{obj.promoted_section}}</option>
                                    {% for Section in next_year_section_list %}
                                        <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                    {% endfor %}
                                </select>
                                </td>
                                <td class="rec" disabled>{{ obj.section_name }}</td>
                                <td>
                                    <button type="button" name="updt" id="update{{ obj.student_id }}"
                                            class=" update btn green btn-block" style="display:none;">Update
                                    </button>
                                    <button type="button" name="edit" id="edit{{ obj.student_id }}"
                                            class=" edit btn blue btn-block">Edit
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <div class="row">

                    <div class="col-md-3">
                        <button type="button" id="submit1" value="Submit"  class="btn blue btn-block" style="margin-left: 450px;">Confirm </button>
                    </div>
                </div>
                </form>
            </div>
            <!-- END FORM-->
        </div>

        <!-- 	BEGIN VALIDATION STATES-->
        <div class="modal fade" id="myModal" role="dialog">
{#         <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false " style="margin-top: 10%;">#}
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                         <h4 class="modal-title " style="text-align: center; color: #2aad16" ><b>Confirmation</b></h4>
                     </div>
                     <div class="modal-body">
                         <p style="color: #770088"> The Selected Students Will be Promoted to
                             <b>AY:- {{ StudentList.0.promoted_acd_year }}, Class:- {{ StudentList.0.promoted_class }},
                                 Section:- {{ StudentList.0.promoted_section }}
                                 From:- {{ StudentList.0.promoted_acd_year.start_date }} </b></p>
                     </div>
                     <div class="modal-footer">
                         <button id ="cancle_confirm" type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                         <button id="submit3" type="button" class=" btn green btn-outline sbold" data-toggle="modal" >Promote</button>
                     </div>
                 </div>
             </div>
     </div>
{#        </div>#}
    </div>
{% endblock %}

