{% extends "index.html" %}
{% load staticfiles %}
{% block styleBlock %}

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    <style type="text/css">
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            class_name = document.getElementById("id_class_name").value
            year_name = document.getElementById("id_academic_year").value


            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }


            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'

                }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
            }


            $(document).ready(function () {

                $('#button1').click(function () {
                    if ((document.getElementById("id_class_name").value == 'All') && (document.getElementById("id_section_name").value == 'All') ) {
                        location.reload(true);
                        return false;
                    }
                })

                $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
{#                alert(academic_year+' --- '+class_name);#}
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });

                $('#selectAll').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });

                $("#request").click(function () {

                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());

                    });
                    strID = favorite.join(", ")
                    console.log("favoritefavorite", favorite.join(", "))

                    if (strID == '') {
                        $('#myModal2').modal('toggle');
                        $('#myModal2').modal('show');
                        return false;
                        /*var $messageDiv = $('#message'); // get the reference of the div
                        $messageDiv.show().html('<span style="color:red">Please select Student</span>');// show and set the message
                        setTimeout(function(){ $messageDiv.hide().html('');}, 3000);*/
                        $("#myModal").css("display", "none");
                    }
                })


                $("#button1").click(function () {

                    $("#div2").show();
                })


                function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                            $('#id_section_name').prop("disabled", false);
                        }
                    });
        }


            });


            $("#studentName").change(function () {
                studentName = $("#studentName").val();
                $("#id_student").val(studentName)
                $("#studentName1").val(studentName)
            })


             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }
    </script>

{% endblock %}

{% block content %}


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            {#                            <li>#}
            {#                                #}
            {#                                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>#}
            {#                                <i class="fa fa-angle-right"></i>#}
            {#                            </li>#}
            <li>

                <a href="{% url 'transfer_certificate:tc_detail' %}"> Transfer Certificate</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>Request TC</span>

            </li>

        </ul>

    </div>
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Request Transfer certificate</span>
            </div>

        </div>
        <div class="portlet-body">

        <form method="post" action="{% url 'transfer_certificate:filter_tc_apply' %}" id="form_sample_1">
                    {% csrf_token %}
                    <div class="row" style="margin-left: 10%">

                        <div class="col-md-3">
                            <h4>Academic Year </h4>

                            <div class="">
                                <input value="{{ Selected_Year.id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year.id }}"> {{ Selected_Year.year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Class </h4>

                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Class.id}}"> {{ Selected_Class.class_name }}</option>

                                    {% for ClassDetails in class_list %}
                                        <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="True">
                                    <option style="display:none" selected="selected"
                                            value="{{ Selected_Section.id }}"> {{ Selected_Section.section_name }}</option>
                                    {% for Section in section_list %}
                                        <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="button1" style="margin-top: 38px;">GO
                            </button>
                        </div>
                    </div>
                </form>


            <!-- BEGIN FORM-->
            <form action="{% url 'transfer_certificate:request_tc_form' %}" id="form_sample_1" class="form-horizontal"
                  method="POST">

                <div class="form-body" id="div2">

                    {% csrf_token %}


                    <div class="portlet-body">
                        <div class="table-toolbar">

                        </div>

                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                               id="sample_1">

                            <thead>
                            <tr>
                                <th style="display:none">student ID</th>
                                <th><input type="checkbox" id="selectAll"/></th>

                                <th>Student Code</th>
                                <th>Student Name</th>
                                <th>Class</th>
                                <th>Section</th>


                            </tr>
                            </thead>
                            <tbody>

                            {% for obj in list %}

                                <tr  style="cursor: pointer;">
                                    <td style="display:none">{{ obj.student }}</td>
                                    <td><input type='checkbox' name='check' value="{{ obj.id }}"></td>
                                    <td onclick="window.location='{% url "registration:update_student_from_tc" obj.id %}'">{{ obj.student_code }}</td>
                                    <td onclick="window.location='{% url "registration:update_student_from_tc" obj.id %}'">{{ obj.get_all_name }}</td>
                                    <td onclick="window.location='{% url "registration:update_student_from_tc" obj.id %}'">{{ obj.academic_class_section.class_name }}</td>
                                    <td onclick="window.location='{% url "registration:update_student_from_tc" obj.id %}'">{{ obj.academic_class_section.section_name }}</td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <br><br>

                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="request" type="submit" class="btn green">Request</button>
                            <button onclick="window.location.href='{% url "transfer_certificate:tc_detail" %}'"
                                    type="button" class="btn green">Cancel
                            </button>
                        </div>
                    </div>


                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END VALIDATION STATES-->
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please Select Student</h4>
                    <button id="close1" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
