{% extends "index.html" %}
{%block ScriptBlock%}
<script>

window.onload = function() {
	  //YOUR JQUERY CODE
	$(document).ready(function() {

	     $('#export_id').attr('disabled', true);

	     var tb_count = $('.table_count')
            if (tb_count.length > 0) {
                $('#export_id').attr('disabled', false);
                $('#select_all').attr('disabled', false);
            }

{#		 $('#export_id').attr('disabled', true);#}

{#		  $('#body').hover(#}
{#			        function()#}
{#			        {#}
{#		 	      	  $('#export_id').attr('disabled', false);#}
{#			       });#}


		$("#submit1").click(function()
		{


			var FromDate = document.getElementById('fromDate').value;
			var ToDate = document.getElementById('toDate').value;

			if ( FromDate== null || FromDate== '')
			{
			    alert('FromDate is empty');
			    return false;
			}

			if( ToDate== null || ToDate== '')
			{
				 alert('ToDate is empty');
				    return false;
			}

	     });



		window.setTimeout(function() {
		    $(".alert").fadeTo(500, 0).slideUp(500, function(){
		        $(this).remove();
		    });
		}, 4000);

		$("#id_class_name").val("please select")
		$("#id_section_name").val("please select")

		$("#id_class_name").change(function() {

	        class_name = document.getElementById("id_class_name").value

	            var url = '/school/ViewSectionDetailAttendance/';
	        ViewSectionDetailAttendance(url,class_name)


	        });

		$('#id_section_name').prepend(
		'<option value="all">All </option>')

$('#id_class_name').prepend(
		'<option value="all"> All </option>')


	});




	}

function saveFunc() {
	var fromDate = document.getElementById("fromDate").value;
	console.log('fromDatefromDate',fromDate)
	var toDate = document.getElementById("toDate").value;
	console.log("toDatetoDate",toDate)



	if (toDate <fromDate) {

		$('#errors').html(
				'ToDate date should greater than FromDate' );
		$('#errors').delay(1000).fadeOut(5000);


	}
{#	else#}
{#		{#}
{#	$("#exportForm").submit();#}
{#	#}
{#		}#}

		if(validate() == true){
	        $("#exportForm").submit();
        }
}


function validate(){
    var flag=true;
    var fromDate_value = document.getElementById("fromDate").value;
    var toDate_value = document.getElementById("toDate").value;
    var id_class_value = document.getElementById("id_class_name").value;
    var id_section_value = document.getElementById("id_section_name").value;

    if(fromDate_value.length<1){
        $('#fromDate').css("border", "1px solid red");
{#        alert("Please enter From Date");#}
        if ($("#fromDate").parent().next(".validation").length == 0) {
            $("#fromDate").parent().after("<div id='hide_error_01' class='validation' style='color:red;margin-bottom: 20px;'>Please enter From Date</div>");
        }
        flag=false;
    }
    else{
        $('#fromDate').css("border",'');
        $('#hide_error_01').hide();
    }

    if(toDate_value.length<1){
        $('#toDate').css("border", "1px solid red");
{#        alert("Please enter To Date");#}
        if ($("#toDate").parent().next(".validation").length == 0) {
            $("#toDate").parent().after("<div id='hide_error_02' class='validation' style='color:red;margin-bottom: 20px;'>Please enter To Date</div>");
        }
        flag=false;
    }
    else{
        $('#toDate').css("border",'');
        $('#hide_error_02').hide();
    }

    if (toDate_value < fromDate_value) {
		$('#errors').html(
				'ToDate date should greater than FromDate' );
		$('#errors').delay(1000).fadeOut(5000);
		flag=false;
	}

    if(id_class_value.length<1){
        $('#id_class_name').parent().css("border", "1px solid red");
{#        alert("Please enter Class");#}
        if ($("#id_class_name").parent().next(".validation").length == 0) {
            $("#id_class_name").parent().after("<div id='hide_error_03' class='validation' style='color:red;margin-bottom: 20px;'>Please select class</div>");
        }
        flag=false;
    }
    else{
        $('#id_class_name').css("border",'');
        $('#hide_error_03').hide();
    }

    if(id_section_value.length<1){
        $('#id_section_name').parent().css("border", "1px solid red");
{#        alert("Please enter Section");#}
        if ($("#id_section_name").parent().next(".validation").length == 0) {
            $("#id_section_name").parent().after("<div id='hide_error_04' class='validation' style='color:red;margin-bottom: 20px;'>Please select section</div>");
        }
        flag=false;
    }
    else{
        $('#id_section_name').css("border",'');
        $('#hide_error_04').hide();
    }

    return flag;
}

function ViewSectionDetailAttendance(url ,class_name)
{

    $.ajax({
        url : url,
        type : "GET",
        data :
        {
            class_name : class_name
        },
    })

    .done(
            function(data)
            {
                console.log(data);

                 $('#id_section_name').empty();
                    $('#id_section_name').append(
                            '<option value=""> Please Select </option>');

                    for (var i = 0; i < data.length; i++)

                    {

                        /* console.log(data[i].apartment_flat_no) */
                        /* $('#id_apartment_flat_no').empty(); */

                        $('#id_section_name').append(
                                '<option value="'+data[i].id+'">'
                                        + data[i].section_name + '</option>')

                        /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                         */
                    }



            });


}
	</script>
	{%endblock%}

{% block content %}

                 {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}

    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}

{% csrf_token %}
<div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                               <a href="{% url 'registration:home' %}">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
{#                            <li>#}
{##}
{#                                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>#}
{#                                <i class="fa fa-angle-right"></i>#}
{#                            </li>#}
							 <li>

                                <a href="{% url 'transfer_certificate:tc_detail' %}"> Transfer Certificate</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>

                                 <span>Export TC</span>

                            </li>



                        </ul>

                    </div>

                            <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light ">
                    <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>

                                        <span class="caption-subject font-red sbold uppercase">Export Transfer Certificate</span><br><br>


                                    </div>

                                </div>
                      <form  method="post" action="{% url 'transfer_certificate:export_tc' %}" id="exportForm">
                {% csrf_token %}
                <div id="errors" style="color: Black; font-weight: bold;"  class = "alert1"></div>
                                      <div class="row">
                                            <div class="col-md-4">
                                                    <h4>From Date: </h4>
                                              <div class="input-group date" data-provide="datepicker">
    {##}
                                              <input type="text" placeholder="mm/dd/yyyy" name="from_Date" max="9999-12-31" id="fromDate"  class="form-control" value='{{ from_Date }}' required="">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </div>
                                              </div>
                                            </div>
{##}

                                          <div class="col-md-4">
                                                <h4>To Date: </h4>

                                                  <div class="input-group date" data-provide="datepicker">
{##}
                                                    <input type="text" placeholder="mm/dd/yyyy" name="to_Date" max="9999-12-31" id="toDate"  class="form-control" value='{{ to_Date }}' required="">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-4">

                                                    <button type="submit" class="btn blue btn-block" id ="go" style="margin-top: 38px;">Go</button>


                                                </div>

                                           </div>



</form>


<br><br><br>

  													<form  method="post" action="" id="formfield1">
														 		{% csrf_token %}
																  <table name ="data" class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
																          <thead>
																          		<tr role="row" >
																 					<th style="display: none" >ID </th>
																                    <th>Student Code </th>
																                    <th> Student Name  </th>
																                    <th> Class </th>
																                    <th> Section </th>
																                    <th> Inside Dubai </th>
																                    <th> Inside UAE </th>
																                    <th> Leaving Reason </th>
																                    <th> New School Name </th>
																                 </tr>
																           </thead>

																         <tbody>
																             {% for obj in tc_recs %}
																            	<tr style="cursor: pointer;" name="data" id="body" class="table_count">
																	           		<td style="display: none">{{ obj.id }}</td>
																	            	<td>{{ obj.student.student_code }}</td>
																	          		<td>{{ obj.student.get_all_name }}</td>
																	          		<td>{{ obj.student.academic_class_section.class_name }}</td>
																	          		<td>{{ obj.student.academic_class_section.section_name }}</td>
																	          		<td>{{ obj.inside_dubai}}</td>
																	          		<td>{{ obj.inside_uae}}</td>
																	          		<td>{{ obj.leaving_reason}}</td>
																	          		<td>{{ obj.school_name }}</td>
																         		</tr>
																            {% endfor %}
									  					               </tbody>
																   </table>



														</form>

 											<form action="{% url 'transfer_certificate:export_transfer_certificate' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                                                 {% csrf_token %}
                                                	 <div class="col-md-3">
			                                                 		<input id="fromDate" name="fromDate" type="hidden" value="{{ from_Date }}">
			                                                 		<input  id="toDate" name="toDate" type="hidden" value="{{ to_Date }}">
				            										<button type="submit" value="Submit" id="export_id" class="btn blue btn-block" style="margin-left: 890px;">Export</button>
				                 					</div>
                                            </form>





</div>



  {% endblock %}