{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style>

    </style>
{% endblock %}
{% block ScriptBlock %}

    <script>

        window.onload = function () {

            $(".button1").click(function () {

                id = $(this).closest('tr').find('td:eq(0)').html();
                console.log(id)


                $("#studentid").val(id);

            })


            $(".buttongenerate").click(function (event) {

                event.preventDefault();

                id = $(this).closest('tr').find('td:eq(0)').html();
                console.log(id)

                var url = '/school/generate_tc/';
                generate_tc(url, id)
                //window.location.href="/school/attendanceDetails/";


            });


            function generate_tc(url, id) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {

                        studentid: id,


                    },
                })

                    .done(
                        function (data) {

                            console.log("in generate tc ajax")
                            window.open('data:application/pdf,' + escape(data));

                        });
            }


            $(".buttonreject").click(function (event) {
                event.preventDefault();

                id = $(this).closest('tr').find('td:eq(0)').html();
                console.log(id)

                var url = '/school/reject_tc/';
                reject_tc(url, id)
                //window.location.href="/school/attendanceDetails/";


            });


            function reject_tc(url, id) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {

                        studentid: id,


                    },
                })

                    .done(
                        function (data) {

{#                            console.log("in reject tc ajax") #}
                            location.reload();

                        });
            }

            $(".reversal").click(function (event) {
                var id = $(this).closest('tr').find('td:eq(0)').html();
{#                alert("ffff=== "+id)#}
                {#                console.log(id)#}
{##}
                var url = '/school/approve_reversal/';
                approve_reversal(url, id)
                //window.location.href="/school/attendanceDetails/";


            });


            function approve_reversal(url, id) {
{#alert("010101");#}
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        studentid: id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }


            $(".reject_approval").click(function (event) {
                var id = $(this).closest('tr').find('td:eq(0)').html();
{#                alert("Hiiiiiiiiiiiiiii=== "+id)#}
                var url = '/school/reject_reversal/';
                reject_reversal(url, id)
                //window.location.href="/school/attendanceDetails/";


            });


            function reject_reversal(url, id) {
{#alert("nnnnnn");#}
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        studentid: id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }

                });
            }





            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });


             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });


        }


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <input id="roleid" type="hidden" value="{{ roleId }}">
                <i class="fa fa-angle-right"></i>
            </li>
            {#                             <li>#}
            {#                                #}
            {#                                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a> #}
            {#                                <i class="fa fa-angle-right"></i>#}
            {#                            </li>#}
            <li>

                <a href="{% url 'transfer_certificate:tc_detail' %}"> Transfer Certificate</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <span>View-Confirm Student TC List</span>
            </li>
        </ul>

    </div>


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> MANAGE STUDENT TC LIST</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">

            </div>
            <form action="{% url 'transfer_certificate:grant_tc' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" id="studentid" name="studentid" type="hidden" value="">
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none">student ID</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Parent Code</th>
                        <th>Parent Name</th>
                        <th>Gender</th>
                        <th>Grant/Generate TC</th>
                        <th>Reject</th>
                    </tr>
                    </thead>
                    <tbody> {% for tc_detail in TCDetailsList %}
                        <tr style="cursor: pointer;">

                            <td style="display:none">{{ tc_detail.student.id }}</td>
                            <td onclick="window.location='{% url "registration:update_student" tc_detail.student.id %}'">{{ forloop.counter }}</td>
                            <td onclick="window.location='{% url "registration:update_student" tc_detail.student.id %}'">{{ tc_detail.student.get_all_name }}</td>
                            <td onclick="window.location='{% url "registration:update_student" tc_detail.student.id %}'">{{ tc_detail.student.academic_class_section.class_name }}</td>
                            <td onclick="window.location='{% url "registration:update_student" tc_detail.student.id %}'">{{ tc_detail.student.academic_class_section.section_name }}</td>
                            <td onclick="window.location='{% url "registration:update_student" tc_detail.student.id %}'">{{ tc_detail.student.parent.code }}</td>
                            <td  onclick="window.location='{% url "registration:update_student" tc_detail.student.id %}'">{{ tc_detail.student.father_name }} &nbsp; {{ tc_detail.student.last_name }}</td>
                            <td onclick="window.location='{% url "registration:update_student" tc_detail.student.id %}'">{{ tc_detail.student.gender }}</td>

                            {% if tc_detail.is_confirm == 0 and tc_detail.is_reversal_approved == 0 %}
                                <td><text hidden="">Grant TC</text>
                                    <input type='submit' class="button1 btn blue btn-block" value='Grant TC' readonly></td>

                             {% elif tc_detail.is_confirm == 1 and tc_detail.is_reversal_approved == 1 %}
                                <td><text hidden="">Approve Reversal</text>
                                    <input type='submit' class="reversal btn red btn-block" id="reversal" value='Approve Reversal'
                                           readonly></td>
                            {% else %}

                                <td><text hidden="">Generate TC</text>
                                    <input type='submit' class="buttongenerate btn green btn-block" value='Generate TC'
                                           readonly></td>
                            {% endif %}

                            <td>
                                {% if tc_detail.is_confirm == 0 and tc_detail.is_reversal_approved == 0 %}
                                    <text hidden="">Reject</text>
                                    <input type='submit' class="buttonreject btn blue btn-block" value='Reject'readonly>
                                {% elif tc_detail.is_confirm == 1 and tc_detail.is_reversal_approved == 1 %}
                                    <text hidden="">Reject Revarsal</text>
                                    <a href="" class="reject_approval btn red btn-block" id="reject_approval" readonly>Reject Revarsal</a>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


{% endblock %}

                       
