{% extends "index.html" %}
{% load staticfiles %}

         {%block styleBlock%}
      <style type="text/css">  
        .row {
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 0px;
}
li
{ 
display:inline; 

} 
#id_inside_dubai{
    list-style: none;
}

#id_inside_uae{
    list-style: none;
}
      </style> 
        {%endblock%}
        
        {%block ScriptBlock%}
<script>
window.onload = function() 
{
	  //YOUR JQUERY CODE
	$(document).ready(function() 
	  {
		console.log("hiiii")
	
		$("#save1").click(function(event){
		    var reason = $("#id_leaving_reason").val();

		    if( /[^a-zA-Z\-\/ ]+/.test( reason ) ) {
		        alert('Input is not characters');
		        return false;
		    }
		    if ((reason.trim().length) == 0)
            {
                alert(' Please Enter Reason. Only Space is not allowed in reason');
		        return false;
            }

		    var curr = $("#id_curriculam").val();

		    if( /[^a-zA-Z\-\/ ]+/.test( curr ) ) {
		        alert('Input is not characters');
		        return false;
		    }

		    if ((curr.trim().length) == 0)
            {
                alert('  Please enter curriculam. Only Space is not allowed in curriculam');
		        return false;
            }
{#			            alert("2")#}

		    var school = $("#id_school_name").val();

		    if( /[^a-zA-Z\-\/ ]+/.test( school ) ) {
		        alert('Input is not characters');
		        return false;
		    }

		    if(document.getElementById('id_school_name').disabled == false) {
                if ((school.trim().length) == 0) {
                    alert('Please enter  name. Only Space is not allowed in school name');
                    return false;
                }
            }
	    });
		
		$("#id_leaving_reason").change(function(){

			var reason = $("#id_leaving_reason").val();

		    if( /[^a-zA-Z\-\/ ]+/.test( reason ) ) {
		        alert('Input is not characters');
		        return false;
		    }

		    return true;   
		});
		
		$("#id_curriculam").change(function(){

			var curr = $("#id_curriculam").val();

		    if( /[^a-zA-Z\-\/ ]+/.test( curr ) ) {
		        alert('Input is not characters');
		        return false;
		    }

		    return true;   
		});
		
		
		
		
		$('input:radio[name="inside_uae"]').filter('[value="no"]').attr('checked', true);
		
		
		$("#id_inside_dubai").click(function(){
		a = $('input[name=inside_dubai]:checked').val();

		if(a=="no"){
            $('#id_school_name').prop("disabled", false);
			$("#div1").show();
{#			$("#div2").show();#}

		}
		 else {
{#		    $('#id_school_name').prop("disabled", true);#}
             $("#div1").hide();
{#             $("#div2").hide();#}
         }

		});
	  
	  });
	
	
	
}
</script>

{%endblock%}       
       
        {% block content %}
        

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}
<div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                               <a href="{% url 'registration:home' %}">Home</a> 
                                <i class="fa fa-angle-right"></i>
                            </li>
{#                            <li>#}
{#                                #}
{#                                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>#}
{#                                <i class="fa fa-angle-right"></i>#}
{#                            </li>#}
							
                            <li>
                                
                                <a href="{% url 'transfer_certificate:apply_tc' %}"> Request TC</a>
                                
                            </li>


                            
                        </ul>
                        
                    </div>
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Request Transfer certificate</span>
                                    </div>
                                    
                                </div>
                                <div class="portlet-body">
                                
                               
                                   
										
										
										
										<form action="{% url 'transfer_certificate:save_tc_form' %}" id="form_sample_1" class="form-horizontal" method="POST">
                                    
                                    
                                   
										{% csrf_token %}
                                   
                                        <div class="form-body">
                                              
                                              
                                            
                                            <br>
                                            <div class="row">
                                            <div class="">
                                            <input id="check" name="check" type="hidden" value="{{ check }}">
                                                <label class="col-md-3 control-label">Reason for Leaving:
                                                   
                                                </label>
                                                <div class="col-md-4">
                                                    {{ TCForm.leaving_reason }} </div>
                                            </div>
                                            </div>
                                            <br>
                                           
                                           
                                           <div class="row">
{#                                            #}
{#                                            <div class="">#}
{#                                            <label class="col-md-3 control-label">Curriculam:#}
{#                                                   #}
{#                                                </label>#}
{#                                                <div class="col-md-4" >#}
{#                                                    {{ TCForm.curriculam }} </div>#}
{#                                            </div>#}
                                            </div>
                                            <br>
                                            <div class="row">
                                            <div class="">
                                            <label class="col-md-3 control-label">Inside Dubai:
                                                   
                                                </label>
                                                 <div class="col-md-4" style="margin-left:-39px;margin-top: 3px;">
                                                    {{ TCForm.inside_dubai }} </div>
                                            </div>
                                            
                                              
                                            </div>
                                            <br>
                                            <div class="row" id="div1">
                                            <div class="">
                                                <label class="col-md-3 control-label">Inside UAE:
                                                    
                                                </label>
                                                 <div class="col-md-4" style="margin-left:-39px;margin-top: 3px;">
                                                  {{ TCForm.inside_uae }}
                                                 </div>
                                            </div> 
                                            </div>
                                            <br>
                                            
                                            
                                            
                                            <div class="row" id="div2">
                                            <div class="">
                                            <label class="col-md-3 control-label" value="">New School Name:
                                                   
                                                </label>
                                                 <div class="col-md-4">
                                                    {{ TCForm.school_name }} </div>
                                            </div>
                                            
                                              
                                            </div>
                                            
                                            <br><br>
                                        
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button id="save1" type="submit" class="btn green">Submit</button>
                                                   	<button onclick="window.location.href='{% url "transfer_certificate:apply_tc" %}'" type="button" class="btn green">Cancel</button>
                                                </div>
                                            </div>
                                        
                                      </div>   
                                       <br>
                                          
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->
                       
                       
           {% endblock %}  
