{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }


    </style>


{% endblock %}

{% block ScriptBlock %}

    <script>


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>

                <a href="{% url 'registration:home' %}">Home</a>


                <i class="fa fa-angle-right"></i>
            </li>
            {#                             <li>#}
            {#                              <a href="{% url 'registration:parents_students' %}"><span>  Parents & Students </span></a> #}
            {#                               <input id="roleid"  type="hidden" value="{{ roleId }}">#}
            {#                                #}
            {#                                <i class="fa fa-angle-right"></i>#}
            {#                            </li>#}
            <li>
                <span>Transfer Certificate</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <!-- <div class="portlet-title">
             <div class="caption">
                     <i class="icon-bubble font-green-sharp"></i>
                 <span class="caption-subject font-green-sharp sbold">Academic & School</span>
             </div>

         </div>-->


        <div class="portlet-body">

            <div class="tiles">

                {% if 'transfer_certificate.can_view_transfer_certificate' and 'transfer_certificate.can_view_transfer_certificate_apply' in perms %}
                    <div class="tile bg-blue-steel" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'transfer_certificate:apply_tc' %}">

                            <div class="tile-body">
                                <i class="glyphicon glyphicon-list-alt"></i>

                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 14px;">Apply</h5></div>

                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'transfer_certificate.can_view_transfer_certificate' and 'transfer_certificate.can_view_transfer_certificate_view_confirm' in perms %}
                    <div class="tile bg-green-sharp" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'transfer_certificate:requested_tc_list' %}">

                            <div class="tile-body">
                                <i class="glyphicon glyphicon-check"></i>

                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 14px;">View-Confirm </h5></div>

                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'transfer_certificate.can_view_transfer_certificate' and 'transfer_certificate.can_view_transfer_certificate_view_alumni' in perms %}
                    <div class="tile bg-green-sharp" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'transfer_certificate:view_alumni' %}">

                            <div class="tile-body">
                                <i class="glyphicon glyphicon-tasks"></i>

                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 14px;">View Alumni </h5></div>

                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'transfer_certificate.can_view_transfer_certificate' and 'transfer_certificate.can_view_transfer_certificate_export_tc' in perms %}
                    <div class="tile bg-blue-steel" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'transfer_certificate:export_tc_rec' %}">

                            <div class="tile-body">
                                <i class="glyphicon glyphicon-list-alt"></i>

                            </div>
                            <div class="tile-object">
                                <div class="name"><h5 style="font-size: 14px;">View TC</h5></div>

                            </div>
                        </a>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}
                        
