{% extends "index.html" %}
{% block ScriptBlock %}
    <script>

        window.onload = function () {


            //$('#id_class_name').prop("disabled", true);
            //$('#id_section_name').prop("disabled", true);
            academic_year = document.getElementById("id_academic_year").value
            if (academic_year == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            class_name = document.getElementById("id_class_name").value
            /*if(class_name == '')

                {
               $('#id_class_name').prepend(
               '<option value="">Please select</option>');

                }*/

            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'

                    }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>',
                    {
                        value: '',
                        text: 'Please Select'
                    }));
            }

            //YOUR JQUERY CODE
            $(document).ready(function () {


                $(".buttonreverse").click(function (event) {
                    event.preventDefault();

                    id = $(this).closest('tr').find('td:eq(0)').html();
                    console.log(id)

                    var url = '/school/reverse_tc/';
                    reverse_tc(url, id)
                    //window.location.href="/school/attendanceDetails/";


                });

                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)


                $("#id_academic_year").change(function () {

                    var academic_year = document.getElementById("id_academic_year").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year)

                });

                $("#id_class_name").change(function () {
                    var class_name = document.getElementById("id_class_name").value;
                    var academic_year = document.getElementById("id_academic_year").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailStudent(url, academic_year, class_name);
                });


            });


            function reverse_tc(url, id) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {

                        studentid: id,


                    },
                })

                    .done(
                        function (data) {

                            console.log("in reverse tc ajax")
                            location.reload();

                        });
            }


            function viewAcademicDetails(url1, academic_year) {

                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })

                    .done(
                        function (data) {
                            console.log(data);

                            $('#id_class_name').empty();
                            $('#id_class_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {

                                $('#id_class_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].class_name + '</option>')
                            }

                            //$('#id_class_name').prop("disabled", false);


                        });


            }

            function ViewSectionDetailStudent(url, academic_year, class_name) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data:
                        {
                            academic_year: academic_year,
                            class_name: class_name
                        },
                })

                    .done(
                        function (data) {

                            console.log("print you are in section ajax")
                            console.log(data);

                            $('#id_section_name').empty();
                            $('#id_section_name').append(
                                '<option value="">Please select</option>');

                            for (var i = 0; i < data.length; i++) {

                                /* console.log(data[i].apartment_flat_no) */
                                /* $('#id_apartment_flat_no').empty(); */

                                $('#id_section_name').append(
                                    '<option value="' + data[i].id + '">'
                                    + data[i].section_name + '</option>')

                                /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                                 */
                            }
                            //$('#id_section_name').prop("disabled", false);


                        });


            }


             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });

        }


    </script>
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    {% csrf_token %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
{#            <li>#}
{##}
{#                <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>#}
{#                <i class="fa fa-angle-right"></i>#}
{#            </li>#}
            <li>

                <a href="{% url 'transfer_certificate:tc_detail' %}"> Transfer Certificate</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>View Alumni List</span>
            </li>
        </ul>

    </div>


    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Alumni Details</span>


            </div>

        </div>
        <form method="post" action="{% url 'transfer_certificate:view_alumni_list' %}" id="exportForm">
            {% csrf_token %}
            <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>
            <div class="row">


                <div class="col-md-3">

                    <h4>Academic Year</h4>

                    <div class="">
                        <input value="{{ acadmic_name }}" name="academic_year" hidden>
                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_academic_year"
                                name="academic_year" readonly>
                            <option style="display:none" selected="selected"
                                    value="{{ acadmic_name }}"> {{ ACYearName }}</option>
                            {% for academic_year in academic_year_recs %}
                                <option value="{{ academic_year.id }}">{{ academic_year.year_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="col-md-3">

                    <h4>Class</h4>


                    <div class="">
                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                name="class_name" required="">
                            <option style="display:none" selected="selected"
                                    value="{{ class_name }}"> {{ ClassName }}</option>
                            {% for ClassDetails in ClassDetails %}
                                <option value="{{ ClassDetails.id }}">{{ ClassDetails.class_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <h4>Section </h4>

                    <div class="">
                        <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                required="">
                            <option style="display:none" selected="selected"
                                    value="{{ section_name }}"> {{ SectName }}</option>
                            {% for Section in Section %}
                                <option value="{{ Section.id }}">{{ Section.section_name }}</option>
                            {% endfor %}
                        </select>


                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" id="button1" class="btn blue btn-block" style="margin-top: 38px;">Go</button>

                </div>

            </div>


        </form>

        <br><br>

        <form method="post" action="" id="formfield1">
            {% csrf_token %}
            <table name="data"
                   class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                   id="sample_1" role="grid" aria-describedby="sample_1_info">
                <thead>
                <tr role="row">
                    <th
                            style="display: none">ID
                    </th>
                    <th>Student Code
                    </th>
                    <th> Student Name
                    </th>
                    <th> Academic Year</th>
                    <th> Class
                    </th>
                    <th> Section
                    </th>
                    <th> Parent Code
                    </th>
                    <th> Parent Name
                    </th>
                    <th> Reverse TC
                    </th>

                </tr>
                </thead>

                <tbody>
                {% for obj in list %}
                    <tr style="cursor: pointer;" name="data" id="body">
                        <td style="display: none">{{ obj.student.id }}</td>
                        <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'"
                            style="cursor: pointer;">{{ obj.student.student_code }}</td>
                        <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'"
                            style="cursor: pointer;">{{ obj.student.get_all_name }}</td>

                        <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'"
                            style="cursor: pointer;">{{ obj.student.academic_class_section.year_name.year_name }}</td>

                        <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'"
                            style="cursor: pointer;">{{ obj.student.academic_class_section.class_name }}</td>
                        <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'"
                            style="cursor: pointer;">{{ obj.student.academic_class_section.section_name }}</td>
                        <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'"
                            style="cursor: pointer;">{{ obj.student.parent.code }}</td>
                        <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'"
                            style="cursor: pointer;">{{ obj.student.father_name }}</td>

                        {% if obj.is_confirm == 1 and obj.is_reversal_approved == 1 %}

                        <td> <text hidden="">Pending Reverse TC</text><input type='submit' class="buttonreverse btn red btn-block" value='Pending Reverse TC' readonly disabled>
                        </td>

                         {% else %}
                        <td><text hidden="">Reverse TC</text><input type='submit' class="buttonreverse btn blue btn-block" value='Reverse TC' readonly>

                        </td>
                     {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </form>


    </div>



{% endblock %}