{% extends "index.html" %}
{% load staticfiles %}

{%block styleBlock%}
<!-- BEGIN GLOBAL MANDATORY STYLES -->
      
        <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
        
       
         </head>
    <!-- END HEAD -->
    <style type="text/css">  
 #id_gender{
    list-style: none;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: none;
    width: auto;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    display: none;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: none;
}
div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    display: none;
}
</style>
    {%endblock%}

      {%block ScriptBlock%}   
  <script>
window.onload = function() {
	
	
	$(".buttonreverse").click(function(event) {
	    event.preventDefault();

	    id = $(this).closest('tr').find('td:eq(0)').html();
	  	console.log(id)
	  	
	 	 var url = '/school/reverse_tc/';
	  	reverse_tc(url,id)
	 	  //window.location.href="/school/attendanceDetails/";

	    
	});
  
  
  
  function reverse_tc(url,id)	{
	    
	  	$.ajax({
	  		url : url,
	  		type : "GET",
	  		data : {
	  			
	  			studentid : id,
	  			
	  			
	  			
	  			
	  		},
	  	})

	  	.done(
	  			function(data) {
	  				
	  				console.log("in reverse tc ajax")
	  				location.reload();

	  			});
	}
	
      //YOUR JQUERY CODE
      class_name = document.getElementById("id_class_name").value
			 	      	  /*if(class_name == '')
			 	      		  
			 	      		  {
			 	      		 $('#id_class_name').prepend(
	                            '<option value="">Please select</option>');
		 	        	
			 	      		  }*/
			 	      		  
			 	      		if(class_name == '')
			 	      	  {
			 	      		  $('#id_class_name').val($('#id_class_name'));
			 	      		  $('#id_class_name').prepend($('<option>', {
			 	      			    value: 'Please Select',
			 	      			    text: 'Please Select'
			 	      			    
			 	      			}));		 	      		 
			 	      	  }
			 	      		section_name = document.getElementById("id_section_name").value
			 	      		if(section_name == '')
				 	      	  {
			 	      		$('#id_section_name').val($('#id_section_name'));
			 	     	  $('#id_section_name').prepend($('<option>', {
			 	     		    value: 'Please Select',
			 	     		    text: 'Please Select'
			 	     		}));
				 	      	  }
      
    $(document).ready(function() {
    	
    	
    	
    	
    	
    	
    	$("#id_Student_name").click(function(){
    		   
    		id = $(this).val()
            console.log(id)
            alert()
            $('#student_id').val(id);

    	      
    		 })
         
    	$("#button1").click(function(){
    		   
    		class_name = document.getElementById("id_class_name").value
    		  if(class_name == 'Please Select')
    	      	  {
    			  $('#myModal1').modal('toggle');
    	    	  $('#myModal1').modal('show');
    			  return false;
    	      	  }
    	   
    	     $("#studform").show();

    	      
    		 })
    	
    	
        console.log("hiiii")
        $("#id_class_name").change(function() {
        	
        class_name = document.getElementById("id_class_name").value
        $('#class_name').val(class_name);
        
            var url = '/school/viewSectionDetail/';
        viewSectionDetail(url,class_name)               
                
            
        });
        
        $("#id_section_name").change(function() {
        	
        	class_name = document.getElementById("id_class_name").value
        	section_name = document.getElementById("id_section_name").value
        	
        	$('#class_name').val(class_name);
            $('#section_name').val(section_name);
            
            console.log(class_name)
            console.log(section_name)
           
                
            });
       
        
        
       
         
        
    });
    
      

      
      

    function viewSectionDetail(url ,class_name) {
        
        $.ajax({
            url : url,
            type : "GET",
            data : {
                class_name : class_name
            },
        })

        .done(
                function(data) {
                    console.log(data);
                    
                     $('#id_section_name').empty();
                        $('#id_section_name').append(
                                '<option value="">Please select</option>');
                        
                        for (var i = 0; i < data.length; i++)

                        {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                    '<option value="'+data[i].id+'">'
                                            + data[i].section + '</option>')
                                            
                           

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                        }
                        
                        

                });
      
    
    }
}
</script>
{%endblock%}    
        
{% block content %}
        
        <div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                 <a href="{% url 'registration:home' %}">Home</a> 
                                <i class="fa fa-angle-right"></i>
                            </li>
{#                             <li>#}
{#                                #}
{#                                 <a href="{% url 'registration:parents_students' %}"> Parents & Students</a>   #}
{#                                <i class="fa fa-angle-right"></i>#}
{#                            </li>#}
                            <li>
                                
                                <a href="{% url 'transfer_certificate:tc_detail' %}"> Transfer Certificate</a> 
                                <i class="fa fa-angle-right"></i>
                            </li>
                           <li>
                                
                                <span>View Alumni List</span>
                            </li>
                        </ul>
                        
        </div>  
        

                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Alumni Details</span>
                                        
                                        
                                    </div>
                                    
                                </div>

                                <div class="portlet-body">
                                
                                
                                    <!-- BEGIN FORM-->
                                    
                                   
                                        <div class="form-body">
                                           
        
                                            <div class="row">
                                            
                                            <form action="{% url 'transfer_certificate:view_alumni_list' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                                    
                                
                    {% csrf_token %}
                                            
                                                
                                                 <div class="col-md-3">
                                                
                                                <h4>Class</h4>

                                                   
                                                    <div class="">
                        <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name" name="class_name" required="">
                           <option style="display:none" selected="selected" value="{{ class_name }}"> {{ ClassName }}</option>
                           {% for ClassDetails in ClassDetails  %}
                           <option value="{{ ClassDetails.id }}"  >{{ ClassDetails.class_name }}</option>
                           {% endfor %}
                        </select>
                     </div>
                                                </div>
                                                
                                                
                                                

                                                <div class="col-md-3">
                                                <h4>Section  </h4>
                                                   
                                                    <div class="">
                        <select autocomplete="off" class="form-control" id="id_section_name" name="section_name" required="" >
                           <option style="display:none" selected="selected" value="{{ section_name  }}"> {{ SectName }}</option>
                           {% for Section in Section  %}
                           <option value="{{ Section.id }}"  >{{ Section.section_name }}</option>
                           {% endfor %}
                        </select>
                        
                        
                         
                     </div>
                                                </div>

                                               
                                                
                                                   <div class="col-md-2">
                                                <button type="submit" id="button1" class="btn blue btn-block"  style="margin-top: 38px;">Go</button>
                                                 
                                                </div>
                                                </form>
                                                   
                                                  
                                                       <table name ="data" class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
              <thead>
                                            <tr role="row">
 												 <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Actions : activate to sort column ascending" style="display: none" >ID </th>                                         
                                              <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Actions : activate to sort column ascending" >ID </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Actions : activate to sort column ascending" > Student Name  </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Actions : activate to sort column ascending"> Class </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Actions : activate to sort column ascending"> Section </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Actions : activate to sort column ascending"> Parent Code </th>
                                             <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Actions : activate to sort column ascending"> Parent Name </th>
                                             <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Actions : activate to sort column ascending"> Reverse TC </th>
                                              
                                           </tr>
                                        </thead>
                                        <tbody>
                                          
                                       {% for obj in list %}
                      
                    
            <tr onclick="" style="cursor: pointer;" name="data">
           <td style="display: none">{{ obj.student.id }}</td>
            <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'" style="cursor: pointer;">{{ forloop.counter }}</td>
          <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'" style="cursor: pointer;">{{ obj.student.get_all_name }}</td>
          <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'" style="cursor: pointer;">{{ obj.student.class_name }}</td>
          <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'" style="cursor: pointer;">{{ obj.student.section }}</td>
          <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'" style="cursor: pointer;">{{ obj.student.parent_name.id }}</td>
          <td onclick="window.location= '{% url "transfer_certificate:student_details" obj.student.id %}'" style="cursor: pointer;">{{ obj.student.father_name }} &nbsp; {{ obj.student.last_name }}</td>
           
          <td><input type='submit' class = "buttonreverse btn blue btn-block" value = 'Reverse TC' readonly> </td>  
             
          <td></td>
         </tr>
            {% endfor %}
                                       
                 
                   
                   
           
              </tbody>
               </table>
                                                 
                                               
                                                
                                                
                                             </div>                                            

                                            </div>
                                            
                      
                                            <br><br>
                       
                                        </div>
                                      
                                            
                                       
                                    
                                    <!-- END FORM-->
                                </div>
                           
                            <!-- END VALIDATION STATES-->
                        <div class="modal fade" id="myModal1" role="dialog">
								    <div class="modal-dialog modal-sm">
								      <div class="modal-content">
								        <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								          <h4 class="modal-title">Please Select Class</h4>
								            <button  id="close1" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
								          
								        </div>
								        
								      </div>
								    </div>
								 </div>
               
           {% endblock %}              
                        
                        <!-- BEGIN CORE PLUGINS -->
       
