{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <Script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")
                $("#save1").click(function (event) {

                    var reason = $("#id_scetion_type_name").val();

                    if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        alert('Input characters only');
                        return false;
                    }
                    if ((reason.trim().length) == 0) {
                        alert('Input characters only');
                        return false;
                    }
                });


                $("#id_scetion_type_name").change(function () {

                    var reason = $("#id_scetion_type_name").val();

                    if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        alert('Input characters only');
                        return false;
                    }

                    if ((reason.trim().length) == 0) {
                        alert('Input characters only');
                        return false;
                    }

                    return true;
                });


            });
        }

    </Script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'masters:masters_home' %}">Masters</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'masters:section_type_master' %}">Section Type Master</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Add Section Type</span>

            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}



    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Add Section Type</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form action="{% url 'masters:save_section_type' %}" id="form_sample_1" class="form-horizontal" method="POST"
                  enctype="multipart/form-data">


                {% csrf_token %}

                <div class="form-body">

                    <div class="row">

                        <div class="">
                            <label class="col-md-2 control-label"> Section Type:
                            </label>
                            <div class="col-md-4">
                                <input autocomplete="off" class="form-control" id="id_scetion_type_name"
                                           name="section_type_name" pattern="[a-zA-Z0-9 ]+"
                                           title="Only Alpha-Numeric is Allowed in Name" type="text" required/>
                            </div>
                        </div>
                    </div>
                    <br><br>

                </div>
                <br>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" id="save1" class="btn green">Save</button>
                            <a href="{% url 'masters:section_type_master' %}">
                                <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

<!-- BEGIN CORE PLUGINS -->

