{% extends "index.html" %}
{% comment %}
{% load staticfiles %}
{% block ScriptBlock %}
    <Script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")
                $("#save1").click(function (event) {


                    {#		    var id_rubrics_score_name = $("#id_rubrics_name").val();#}
                    {##}
                    {##}
                    {#             var id_rubrics_score_mark = $("#id_rubrics_mark").val();#}
                    {##}
                    {#		    if (id_rubrics_score_name == 'NA' && id_rubrics_score_mark !== '0') {#}
                    {#		        $('#id_rubrics_mark').css('border-color', 'red');#}
                    {#            alert("Score Mark Always 0 For NA");#}
                    {#            return false;#}
                    {#            }#}

                    {##}
                    {#		    if( /[^0-9/ ]+/.test( reason ) ) {#}
                    {#		        alert('Only Numbers are allowed for rubrics mark');#}
                    {#		        return false;#}
                    {#		    }#}
                    {#	       if ((reason.trim().length) == 0)#}
                    {#            {#}
                    {#                alert('Input characters only');#}
                    {#		        return false;#}
                    {#            }#}
                });


                $("#id_depatment_name").change(function () {

                    var reason = $("#id_depatment_name").val();

                    if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        alert('Input characters only');
                        return false;
                    }

                    if ((reason.trim().length) == 0) {
                        alert('Input characters only');
                        return false;
                    }

                    return true;
                });


            });
        }

    </Script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:rubrics_sub_tile' %}">Rubrics Sub Tile</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'masters:rubrics_masters' %}"> Rubrics Master </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Add Rubrics</span>

            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}



    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Add Rubrics</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form action="{% url 'masters:add_rubrics_masters' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">


                {% csrf_token %}

                <div class="form-body">

                    <div class="row">

                        <div class="">
                            <label class="col-md-2 control-label">Rubrics Category:

                            </label>
                            <div class="col-md-3">
                                {{ form.rubrics_category_name }}
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-2 control-label"> Rubrics Score Name:

                            </label>
                            <div class="col-md-3">
                                {{ form.rubrics_name }}
                            </div>
                        </div>


                        <div class="">
                            <label class="col-md-1 control-label"> Score:

                            </label>
                            <div class="col-md-1">
                                {{ form.rubrics_mark }}
                            </div>
                        </div>


                    </div>


                </div>
                <br>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" id="save1" class="btn green">Save</button>
                            <a href="{% url 'masters:exam_masters' %}">
                                <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END VALIDATION STATES-->


{% endblock %}

<!-- BEGIN CORE PLUGINS -->

{% endcomment %}

{#{% extends "index.html" %}#}
{% load staticfiles %}
{% block ScriptBlock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  {# Used For Color Picker#}

    <style type="text/css">
        .row {
            margin-left: -150px;
            margin-right: 20px;
            margin-top: 0px;
        }

        fieldset {
            font-family: sans-serif;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 20px;
            color: #34495e;
        }

        .emp_chk {
            width: 80px;
        }

        .emp1 {
            width: 150px;
        }

        .label {
            text-shadow: none !important;
            font-size: 14px;
            font-weight: 200;
            padding: 3px 0px;
            color: black;
            font-family: fantasy;
        }


    </style>


    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {

                {% comment %}function total_mrk_chk(val) {
                    var total_mark = 0;
                    var all_marks = $('.less_mark');
                    for (var i = 0; i < all_marks.length; i++) {
                        if (all_marks[i].value != '') {
                            total_mark = total_mark + parseInt(all_marks[i].value);
                        }
                        {#                    alert(all_marks[i].value);#}
                    }
                    {#                alert(parseInt(total_mark)+' --> ')#}
                    {#                    alert((parseInt(total_mark)))#}
                    if ((parseInt(total_mark)) > 100) {
                        {#                        alert((parseInt(total_mark) + parseInt(val)))#}
                        return true;
                    }
                    return false;
                }{% endcomment %}

                {% comment %}$(document).on("change", "#code_name", function () {
                    {#                $("#code_name").change(function () {#}
                    var code_name = document.getElementById("code_name").value
                    {#                    var url1 = '/school/validate_grade_name_exist/';#}
                    {#                    grade_name_exist(url1, code_name)#}
                });

                $(document).on("change", "#code_name", function () {
                    {#                $("#code_name").change(function () {#}
                    var code_name = document.getElementById("code_name").value
                    {#                    var url1 = '/school/validate_grade_name_exist/';#}
                    {#                    grade_name_exist(url1, code_name)#}
                });
                $(document).on("change", ".exam_name_class", function (e) {
                    {#                     alert('Hi....................')#}
                    var parent_id = $(this).parents('div:eq(3)').attr('id')
                    {#                     alert(parent_id)#}
                    var exam_id = $('#' + parent_id + ' .exam_name_class').val();
                    {#                     alert(exam_id)#}
                    var url = '/school/view_frequency_details/';
                    view_mapped_exam_frequency(url, exam_id, parent_id)
                });

                $(document).on("blur", ".less_mark", function () {
                    if ((parseInt($(this).val()) != '') && (parseInt($(this).val()) > 100)) {
                        alert("Weightage Cannot Exceed 100%.")
                        $(this).val('');
                        return false;
                    }

                    var flag_chk = false;
                    flag_chk = total_mrk_chk($(this).val())
                    if (flag_chk === true) {
                        alert("Total Weightage Cannot Exceed 100%.")
                        $(this).val('')
                        return false;
                    }
                    {#                    $(this).css('border-color', '');#}
                    {#                    alert("Val---> "+$(this).val())#}
                });

                var change_flag = false;

                $('#action_type').val('add');

                var count = 0;
                var last_max = 0;

                $("#add").click(function () {
                    $('.chk').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');

                    for (var k = 0; k < tex.length; k++) {
                        if (tex[k].value === '') {
                            {#                            $('#' + tex[k].id).css('border-color', 'red');#}
                            flag_val = true;
                            {#                            return false;#}
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Fill Curent Row All Fields Before Adding New Row.");
                        return false;
                    }
                    change_flag = false;
                    ++count;
                    return addForm(this, count);
                });

                $("#save").click(function () {

                    $('.chk').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');

                    for (var k = 0; k < tex.length; k++) {
                        if (tex[k].value === '') {
                            {#                            $('#' + tex[k].id).css('border-color', 'red');#}
                            flag_val = true;
                            {#                            return false;#}
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Fill All Fields Before Before Saving Record.");
                        return false;
                    }

                    var total_mark = 0;
                    var all_marks = $('.less_mark');
                    for (var i = 0; i < all_marks.length; i++) {
                        if (all_marks[i].value != '') {
                            total_mark = total_mark + parseInt(all_marks[i].value);
                            {#                            alert(total_mark + '  ---> ' + all_marks[i].value)#}
                        }
                    }
                    if (parseInt(total_mark) != 100) {
                        alert("Total Weightage Must Be 100%. \n You Have Entered " + total_mark + "%.");
                        return false;
                    }
                });{% endcomment %}

                var count = 0;
                $("#add").click(function () {
                    $('.chk').css('border-color', '');
                    var flag_val = false;
                    var tex = $('.emp');

                    for (var k = 0; k < tex.length; k++) {
                        if (tex[k].value === '') {
                            {#                            $('#' + tex[k].id).css('border-color', 'red');#}
                            flag_val = true;
                            {#                            return false;#}
                        }
                    }
                    if (flag_val === true) {
                        alert("Please Fill Curent Row All Fields Before Adding New Row.");
                        return false;
                    }
                    change_flag = false;
                    ++count;
                    return addForm(this, count);
                });

                $(".delete").click(function () {
                    return deleteForm(this, 'sub_strands');
                });

                function addForm(btn, prefix) {
                    var id = prefix;
                    var last_parent_id = $(".item:last").attr('id');
                    var row = $(".item:first").clone(true).get(0);
                    row.id = 'item' + id;
                    $(row).children().find(".emp").val('');
                    $(row).hide().insertAfter(".item:last").slideDown(300);
                }

                function deleteForm(btn, prefix) {
                    var forms = $('.item');
                    if (forms.length > 1) {
                        $(btn).parents('.item').remove();
                    }
                }
            });
        }

        {% comment %}function grade_name_exist(url, grd_name) {

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    grade_name: grd_name,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {

                    if (data === true) {
                        $('#code_name').val("")
                        $('#code_name').css('border-color', 'red');
                        alert("Grade Name is Alredy Exist.")
                        return false;
                    }
                    $('#code_name').css('border-color', '');
                },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }{% endcomment %}

        {% comment %}function view_mapped_exam_frequency(url, exam_id, item_id) {
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    exam_id: exam_id
                },
            })
                .done(
                    function (data) {
                        $('#' + item_id + ' .frequency_class').empty();
                        $('#' + item_id + ' .frequency_class').append(
                            '<option value="">Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#' + item_id + ' .frequency_class').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].frequency_name + '</option>')
                        }
                    });
        }{% endcomment %}
        {% comment %}function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }{% endcomment %}
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'assessment:rubrics_sub_tile' %}">Rubrics Sub Tile</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'masters:rubrics_masters' %}"> Rubrics Master </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Add Rubrics</span>

            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Add Rubrics</span>
            </div>
        </div>

        <div class="portlet-body">
            <!-- BEGIN FORM-->
             <form action="{% url 'masters:add_rubrics_masters' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-body">
                    <div class="row">
                        <div class="">
                            <label class="col-md-3 control-label">Rubrics Category:

                            </label>
                            <div class="col-md-3">
                                {{ form.rubrics_category_name }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="portlet-body">
                       {% comment %} <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#portlet_tab2" data-toggle="tab">Reported Score Details </a>
                                </li>
                            </ul>
                        </div>{% endcomment %}

                        <div class="tab-content">
                            <br>
                            <div class="tab-pane active" id="portlet_tab2">
                                <div class="item container" id="item">
                                            <span id="message" style="display:none;">
                                            </span>
                                    <div class="row" style="margin-left: 10%">

                                        <div class="">
                                            <label class="col-md-2 control-label"> Rubrics Score Name:
                                            </label>
                                            <div class="col-md-3">
                                                {{ form.rubrics_name }}
                                            </div>
                                        </div>

                                        <div class="">
                                            <label class="col-md-1 control-label"> Score:

                                            </label>
                                            <div class="col-md-1">
                                                {{ form.rubrics_mark }}
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <a href="javascript:;" id="add" class="btn btn-icon-only green"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a href="javascript:;" class="delete btn btn-icon-only purple"
                                           style="margin-top:-55px;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>

{#                    <div class="form-actions">#}
{#                        <div class="row">#}
{#                            <div class="col-md-offset-3 col-md-9" style="margin-left: 40%; margin-right: 50%;">#}
{#                                <button id="save" type="submit" class="btn green">Save</button>#}
{#                                {% comment %}<button onclick="window.location.href='{% url "assessment:grade_list" %}'"#}
{#                                        type="button" class="btn grey-salsa btn-outline">Cancel#}
{#                                </button>{% endcomment %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" id="save1" class="btn green">Save</button>
                                <a href="{% url 'masters:rubrics_masters' %}">
                                    <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}


