{% extends "index.html" %}

<html lang="">


{% block styleBlock %}
    <style>
        table, tr td {
            border: 1px solid red
        }

        tbody {
            display: block;
            height: 184px;
            overflow: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

        thead {
            width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
        }

        table {
            width: 400px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {


                 var select_all = document.getElementById("select_all"); //select all checkbox
                 var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

                 //select all checkboxes
                 select_all.addEventListener("change", function (e) {
                     for (i = 0; i < checkboxes.length; i++) {
                         checkboxes[i].checked = select_all.checked;
                     }
                 });

                 for (var i = 0; i < checkboxes.length; i++) {
                     checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                         //uncheck "select all", if one of the listed checkbox item is unchecked
                         if (this.checked == false) {
                             select_all.checked = false;
                         }
                         //check "select all" if all checkbox items are checked
                         if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                             select_all.checked = true;
                         }
                     });
                 }

                $('#delete').on('click', function () {
                    var checked = $('#sample_1').find(':checked').length;

                    if (!checked)
                        alert('Please select atleast one record to delete Nationality Group and Nationality!');

                    // alert(checked)


                });


                $("#go").click(function (event) {
                    $("#tab1").show();
                    $('.form-control').prop("disabled", false);

                });
{#                $("#id_academic_year").change(function (event) {#}
{##}
{##}
{#                });#}


{#                $("#id_academic_year").change(function () {#}
{##}
{##}
{#                    $("#academic").show();#}
{##}
{#                    console.log("in acedemic year ajax")#}
{#                    academic_year = document.getElementById("id_academic_year").value#}
{#                    console.log(academic_year)#}
{##}
{#                    var url = '/school/viewMultisectClassList/';#}
{#                    viewMultisectClassList(url, academic_year)#}
{##}
{#                    var url1 = '/school/viewMultiSectionList/';#}
{#                    viewMultiSectionList(url1, academic_year)#}
{#                });#}

{#                $('#id_section_name').multiSelect({#}
{#                    afterSelect: function (values) {#}
{#                        //alert("Select value: "+values);#}
{#                    },#}
{#                    afterDeselect: function (values) {#}
{#                        //alert("Deselect value: "+values);#}
{#                    }#}
{#                });#}

                $('#id_nationality_mapping_name').multiSelect({
                    afterSelect: function (values) {
                        //alert("Select value: "+values);
                    },
                    afterDeselect: function (values) {
                        //alert("Deselect value: "+values);
                    }
                });
            });

        }
    </script>
{% endblock %}
{% block content %}
    <body>


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'masters:masters_home' %}"> Masters</a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>

                <a href="{% url 'masters:nationality_masters' %}"> Nationality Masters List</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Nationality Group & Nationality Mapping</span>
            </li>
        </ul>

    </div>



    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Nationality Group & Nationality Mapping</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form method="post" action="{% url 'masters:save_group_nationality_mapping' %}">
                {% csrf_token %}
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-3" >
                            <h4>Nationality Group:</h4>


                        <div class="" >
                            {{ group_nationality_form.nationality_group_name }}


                        </div>

                    </div>


                    <div class="col-md-6">
                        <h4>Nationality:</h4>


                        <div class="" >
                            {{ group_nationality_form.nationality_mapping_name }}


                        </div>

                    </div>
                          <div class="col-md-2">
                        <div class="row">
                            <div class="">
                                <br><br>

                                <button type="submit" id="mapping" class="btn blue btn-block">
                                    Mapping
                                </button>

                            </div>
                        </div>
                    </div>



                    </div>




                </div>
            </form>
        </div>


    </div>




    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Mapped Nationality Group and Nationality</span>
            </div>
            <form  id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}


{#                <div class="col-md-4">#}
{##}
{##}
{#                    <button type="submit" class="btn blue btn-block" id="export">View Mapped#}
{#                        Academic-Class-Section-Mapping#}
{#                    </button>#}
{##}
{#                </div>#}
            </form>
        </div>
        <div class="portlet-body">
            <form action="{% url 'masters:delete_group_nationality_mapping' %}" id="form_sample_1"
                  class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none">Id</th>
                        <th>Id</th>

                        <th>Nationality Group</th>
                        <th>Nationality</th>
{#                        <th> Section</th>#}
                        <th><input type="checkbox" id="select_all"/>Select All</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for nationality_group_rec in nationality_group_mapping_recs %}

                        <tr>
                            <td style="display:none">{{ forloop.counter }}</td>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ nationality_group_rec.nationality_group_name }}</td>
                            <td> {{ nationality_group_rec.nationality_mapping_name }}</td>
{#                            <td>{{ mapped_data.section_name }}</td>#}
                            <td><input class="checkbox" type='checkbox' name='check'
                                       value="{{ nationality_group_rec.nationality_group_name.id }},{{ nationality_group_rec.nationality_mapping_name.id }}">
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul class="pagination pull-right"></ul>

                            <input type="submit" id="delete" name="delete" value="Delete Items"/>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>



{% endblock %}
