{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->






    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }


    </style>
{% endblock %}



<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);

</script>



{% block content %}


    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Masters</span>
            </li>
        </ul>
    </div>



    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">


        <div class="portlet-body">


            <div class="tiles">

                {% if 'registration.can_view_settings' and 'registration.can_view_nationality' in perms %}
                    <div class="tile bg-red-sunglo" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'masters:nationality_masters' %}">
                            <div class="tile-body">
                                <i class="icon-globe"></i>

                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h4>Nationality</h4>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                <div class="tile bg-grey-silver" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'masters:nationality_group' %}">
                        <div class="tile-body">
                            <i class="icon-globe"></i>

                        </div>
                        <div class="tile-object">

                            <div class="name">
                                <h4>Nationality Group</h4>
                            </div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>

                {% if 'registration.can_view_settings' and 'registration.can_view_religion' in perms %}
                    <div class="tile bg-blue-steel" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'masters:religion_masters' %}">
                            <div class="tile-body">
                                <i class="icon-flag"></i>

                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h4>Religion</h4>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'registration.can_view_settings' and 'registration.can_view_department_master' in perms %}
                    <div class="tile double-down bg-yellow-lemon"
                         style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'masters:department_master' %}">
                            <div class="tile-body">
                                <i class="icon-briefcase"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">
                                <div class="name"><h4>Department Master</h4></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}



                <div class="tile bg-blue-hoki" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'masters:house_master_list' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </div>
                        <div class="tile-object">

                            <div class="name">
                                <h4>House Master</h4>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="tile bg-purple" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'masters:month_masters' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </div>
                        <div class="tile-object">

                            <div class="name">
                                <h4>Month Master</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="tile bg-green" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'masters:exam_masters' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </div>
                        <div class="tile-object">

                            <div class="name">
                                <h4>Exam Type</h4>
                            </div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>


                <div class="tile bg-yellow" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'masters:tc_type_master' %}">
                        <div class="tile-body">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                        <div class="tile-object">

                            <div class="name">
                                <h4>TC Type</h4>
                            </div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>

                <div class="tile bg-green-turquoise" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'masters:section_type_master' %}">
                        <div class="tile-body">
                            <i class="fa icon-magnifier-add"></i>
                        </div>
                        <div class="tile-object">

                            <div class="name">
                                <h4>Section Type</h4>
                            </div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>

            <div class="tile" style="background-color:#4d9200;height: 170px !important;width: 48% !important;">
                    <a href="{% url 'masters:report_card_term_master' %}">
                        <div class="tile-body">
                            <i class="fa fa-calculator"></i>
                        </div>
                        <div class="tile-object">

                            <div class="name">
                                <h4>Define Report Card Term Names</h4>
                            </div>
                            <!--<div class="number"> 24 Jan 2013 </div>-->
                        </div>
                    </a>
                </div>



                {% if user.is_superuser %}
                    <div class="tile bg-red-sunglo" style="height: 170px !important;width: 48% !important;">
                        <a href="{% url 'masters:template_odoo_config_list' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-refresh"></i>
                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h4>Odoo Server Configuration</h4>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>



    <!-- END VALIDATION STATES-->


{% endblock %}
                        
