{% extends "index.html" %}
{% load staticfiles %}


 {%block styleBlock%}
<!-- BEGIN GLOBAL MANDATORY STYLES -->

        <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />


         </head>
    <!-- END HEAD -->
    {%endblock%}
{%block ScriptBlock%}

<script type='text/javascript'>

window.onload = function() {
     $(document).on("click", ".active", function () {
{#          alert('active');#}

                var id = $(this).attr('id');
{#                alert(id);#}
                var url = '/school/active_round/';
                active_round(url, id);
            });
      $(document).on("click", ".inactive", function () {
{#          alert('inactive');#}

                var id = $(this).attr('id');
{#                alert(id);#}
                var url = '/school/inactive_round/';
                inactive_round(url, id);
            });
    //YOUR JQUERY CODE
  function active_round(url, id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        round_id: id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
{#                        alert('Success..');#}

                        if( data === true){
{#                            $('#scheme_code').val("")#}
{#                            $('#scheme_code').css('border-color', 'red');#}

                            window.location.reload();
                            alert("Record Activate Successfully")
                        }
                        else
                        {

                            window.location.reload();
                            alert("Only one activation can be possible at the time")

                        }

{#                        $('#scheme_code').css('border-color', '');#}
{#                        $('#td'+id+' .active').hide()#}
{#                        $('#td'+id+' .inactive').show()#}
{#                        $('#td'+id+' .act').text(1);#}
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }
  function inactive_round(url, id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        round_id: id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
{#                        alert('Success..');#}

                        if( data === true){
{#                            alert('Success..');#}
{#                            $('#scheme_code').val("")#}
{#                            $('#scheme_code').css('border-color', 'red');#}

                            window.location.reload();
                            alert("Record Inactivate Successfully")
                        }
{#                        alert("First Deacivate")#}
{#                        window.location.reload();#}
{#                        $('#scheme_code').css('border-color', '');#}
{#                        $('#td'+id+' .active').hide()#}
{#                        $('#td'+id+' .inactive').show()#}
{#                        $('#td'+id+' .act').text(1);#}
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }
}


window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 4000);

</script>



{%endblock%}
 {% block content %}

                    <div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="{% url 'registration:home' %}">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                             <li>

                                <a href="{% url 'assessment:assessment_sub_tile' %}"> Assessment Sub Tile </a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                             <li>

                                <a href="{% url 'masters:assessment_configrtion_roundoff' %}"> Assessment Configration Round-Off </a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>

                                <span>Assessment Configration Master</span>
                            </li>
                        </ul>

                    </div>


{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}

                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Manage Round-Off</span>
                                    </div>

                                </div>
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                             <div class="col-md-6">
                                                <div class="btn-group">
                                                   <a href="{% url 'masters:add_round_off' %}">
                                                   <button id="sample_editable_1_new" class="btn sbold green"> Add New
                                                        <i class="fa fa-plus"></i>
                                                    </button></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                        <thead>
                                            <tr role="row">
                                              <th style="display:none;" class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Serialno : activate to sort column ascending" style="width: 145px;">Serial No </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" SchoolName : activate to sort column ascending" style="width: 145px;"> Sr No </th>
                                             <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" ClassName : activate to sort column ascending" style="width: 114px;"> Select </th>
                                             <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" ClassName : activate to sort column ascending" style="width: 114px;"> Decimal Point </th>
                                             <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" ClassName : activate to sort column ascending" style="width: 114px;"> Status </th>


                                           </tr>
                                        </thead>
                                        <tbody>

                                       {% for obj in round_off_recs %}

            <tr >

            <td onclick="window.location='{% url "masters:update_round_off" obj.id %}'">{{ forloop.counter }}</td>

                {% if obj.select == 'round_up' %}

                    <td onclick="window.location='{% url "masters:update_round_off" obj.id %}'">Round Up</td>
                {% else %}
                    <td onclick="window.location='{% url "masters:update_round_off" obj.id %}'">Round Down</td>
                {% endif %}
            <td onclick="window.location='{% url "masters:update_round_off" obj.id %}'">{{ obj.decimal_place }}</td>
            {% if obj.is_active == '1' %}
            <td>
            <input type='button' id="{{ obj.id }}" class="inactive btn red btn-block" value='Inactive'>
                </td>

            {% else %}
                <td>
                 <input type='button' id="{{ obj.id }}" class="active btn blue btn-block" value='Active'>
            </td>

            {% endif %}



         </tr>
            {% endfor %}


                                            </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->

                      {% endblock %}
