


{% extends "index.html" %}
{% load staticfiles %}


 {%block styleBlock%}
<!-- BEGIN GLOBAL MANDATORY STYLES -->

        <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />


         </head>
    <!-- END HEAD -->
    {%endblock%}
{%block ScriptBlock%}

<script type='text/javascript'>

window.onload = function() {
    //YOUR JQUERY CODE
  $(document).ready(function() {



    });

}


window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 4000);

</script>



{%endblock%}
 {% block content %}

                    <div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="{% url 'registration:home' %}">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                             <li>

                                <a href="{% url 'assessment:rubrics_sub_tile' %}"> Rubrics Sub Tile </a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>

                                <span>Rubrics Score Master</span>
                            </li>
                        </ul>

                    </div>


{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;" >{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
{% endfor %}

                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Manage Rubrics Score & Category</span>
                                    </div>

                                </div>
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                             <div class="col-md-6">
                                                <div class="btn-group">
                                                   <a href="{% url 'masters:add_rubrics_masters' %}">
                                                   <button id="sample_editable_1_new" class="btn sbold green"> Add New
                                                        <i class="fa fa-plus"></i>
                                                    </button></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                        <thead>
                                            <tr role="row">
                                              <th style="display:none;" class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Serialno : activate to sort column ascending" style="width: 145px;">Serial No </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" SchoolName : activate to sort column ascending" style="width: 145px;"> Sr No </th>
                                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" ClassName : activate to sort column ascending" style="width: 114px;">  Rubrics Category </th>
                                             <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" ClassName : activate to sort column ascending" style="width: 114px;">  Rubrics Score Name </th>
                                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" ClassName : activate to sort column ascending" style="width: 114px;"> Score </th>


                                           </tr>
                                        </thead>
                                        <tbody>

                                       {% for obj in rubrics_recs %}

            <tr onclick="window.location='{% url "masters:update_rubrics" obj.id %}'" style="cursor: pointer;">
            <td style="display:none;">{{ forloop.counter }}</td>
            <td>{{ forloop.counter }}</td>
            <td>{{ obj.rubrics_category_name }}</td>
            <td>{{ obj.rubrics_name }}</td>
            <td>{{ obj.rubrics_mark }}</td>


         </tr>
            {% endfor %}


                                            </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->

                      {% endblock %}
