{% extends "index.html" %}
{% load staticfiles %}

<script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
{% block styleBlock %}
    <style type="text/css">


        .s-switch input[type='checkbox'] {
            display: none
        }

        .s-switch {
            width: 62px;
            height: 32px;
            z-index: 0;
            margin: 0;
            padding: 0;
            appearance: none;
            border: none;
            cursor: pointer;
            position: relative;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:before {
            content: ' ';
            background: #D9534F !important;
            position: absolute;
            left: 1px;
            top: 1px;
            width: 60px;
            height: 30px;
            background: #FFFFFF;
            z-index: 1;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:after {
            content: ' ';
            height: 29px;
            width: 29px;
            border-radius: 28px;
            z-index: 2;
            background: #FFFFFF;
            position: absolute;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
            top: 1px;
            left: 3px;
            -webkit-box-shadow: 0 2px 5px #999999;
            box-shadow: 0 2px 5px #999999;
        }

        .s-switch-on:before {
            background: #4DAF48 !important;
        }

        .s-switch-on:after {
            left: 31px !important;
        }

        .s-switch-readonly, .s-switch-disabled {
            opacity: 0.8;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <Script>
        window.onload = function () {
            $(document).ready(function () {

                {% if is_saved %}
                    $('.dis').prop("disabled", true);
                {% endif %}

                $('#cancel').click(function () {
                    location.reload();
                });


                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#cancel").show();
                    $("#edit").hide();
                    $('.dis').prop("disabled", false);
                });


                $("#odoo_connector_switch").Sswitch({
                    onSwitchChange: function (event) {
                        // Your magic
                        var mode = $(this).prop('checked');
                        $.ajax({
                            type: "POST",
                            cache: false,
                            url: '/school/sync_switch/',
                            data:{
                                'switch':mode,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function (res) {
                                {#alert(JSON.stringify(res));#}
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                {#alert('error!');#}
                            }
                        });

                    }
                });



                $('#start_sync').click(function (event) {
                    $(this).hide();
                    $('#sync_is_going').show();
                });

            });

        }

    </Script>

{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'masters:masters_home' %}">Master </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Odoo-Sync Configurations List </span>
            </li>
        </ul>

    </div>

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light">

        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Odoo Configurations List</span>
            </div>
            {% if user.is_superuser == True %}
                <div  style="float:right;">
                    <input type="checkbox" id="odoo_connector_switch" {% if user.connector_is_active == True %} checked {% endif %}/>
                </div>
            {% endif %}
        </div>

        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{% url 'masters:add_odoo_config' %}">
                                <button id="sample_editable_1_new" class="btn sbold green" style="display: none;"> Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">

                <thead>
                <tr>
                    <th style="display:none;">Sr No</th>
                    <th>Server IP</th>
                    <th>Server Port</th>
                    <th>Odoo Database Name</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody>

                {% for config in configuration_list %}

                    <tr onclick="window.location='{% url "masters:template_update_config" config.id %}'"
                        style="cursor: pointer;">
                        <td style="display:none;">{{ forloop.counter }}</td>
                        <td>{{ config.odoo_ip_address }}</td>
                        <td>{{ config.odoo_server_port }}</td>
                        <td>{{ config.odoo_db_name }} </td>
                        <td><input {% if config.is_config_active == True %} checked  {% endif %}
                                                                                     type="checkbox"
                                                                                     disabled>
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>

    </div>
    </div>
    </form>
{% endblock %}