{% extends "index.html" %}
{% load staticfiles %}

<script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
{% block styleBlock %}
    <style type="text/css">


        .s-switch input[type='checkbox'] {
            display: none
        }

        .s-switch {
            width: 62px;
            height: 32px;
            z-index: 0;
            margin: 0;
            padding: 0;
            appearance: none;
            border: none;
            cursor: pointer;
            position: relative;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:before {
            content: ' ';
            background: #D9534F !important;
            position: absolute;
            left: 1px;
            top: 1px;
            width: 60px;
            height: 30px;
            background: #FFFFFF;
            z-index: 1;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:after {
            content: ' ';
            height: 29px;
            width: 29px;
            border-radius: 28px;
            z-index: 2;
            background: #FFFFFF;
            position: absolute;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
            top: 1px;
            left: 3px;
            -webkit-box-shadow: 0 2px 5px #999999;
            box-shadow: 0 2px 5px #999999;
        }

        .s-switch-on:before {
            background: #4DAF48 !important;
        }

        .s-switch-on:after {
            left: 31px !important;
        }

        .s-switch-readonly, .s-switch-disabled {
            opacity: 0.8;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <Script>
        window.onload = function () {
            $(document).ready(function () {

                {% if is_saved %}
                    $('.dis').prop("disabled", true);
                {% endif %}

                $('#cancel').click(function () {
                    location.reload();
                });


                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#cancel").show();
                    $("#edit").hide();
                    $('.form-control').prop("disabled", false);
                });


                $("#academic_year_check").Sswitch({
                    onSwitchChange: function (event) {
                        // Your magic
                        var mode = $(this).prop('checked');
                        $('#is_academic_year_check').val(mode);
                    }
                });

                $("#class_check").Sswitch({
                    onSwitchChange: function (event) {
                        // Your magic
                        var mode = $(this).prop('checked');
                        $('#is_class_check').val(mode);


                    }
                });

                $("#section_check").Sswitch({
                    onSwitchChange: function (event) {
                        // Your magic
                        var mode = $(this).prop('checked');
                        $('#is_section_check').val(mode);


                    }
                });

                 $("#student_check").Sswitch({
                    onSwitchChange: function (event) {
                        // Your magic
                        var mode = $(this).prop('checked');
                        $('#is_student_check').val(mode);


                    }
                });

                $('#start_sync').click(function (event) {
                    $(this).hide();
                    $('#sync_is_going').show();
                });

                $('#is_config_flag').click(function () {
                    var mode = $(this).prop('checked');
                    $('#is_config_active').val(mode);
                });


                $('#test_connection').click(function () {
                    $.ajax({
                        type: "GET",
                        cache: false,
                        url: '/school/test_connection/',
                        dataType: "html",
                        success: function (res) {
                            alert('Connection Successfully Established.');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Connection failed!');
                        }
                    });
                });


            });

        }

    </Script>

{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'masters:masters_home' %}">Master </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'masters:template_odoo_config_list' %}">Odoo-Sync Configurations List </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Odoo-Sync Configuration </span>
            </li>
        </ul>

    </div>

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Odoo-Sync Configuration</span>
            </div>
        </div>

        <div class="portlet-body">


            <form action="{% url 'masters:update_odoo_config' %}" id="form_update" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">{% csrf_token %}

                <div class="col-md-3 col-md-9">
                    <button type="button" class="btn green" id="edit">Edit</button>
                    <button type="submit" id="update" class="btn green" style="display:none;">Save</button>
                    <button type="button" class="btn default" id="cancel" style="display:none;">Discard</button>
                </div>

                <br><br>
                <div class="form-body">

                    <div class="row">

                        <div class="">

                            <div class="col-md-4">
                                Server IP Address
                            </div>

                            <div class="col-md-4">
                                <input type="hidden" value="{{ odoo_config_rec.id }}" name="config_id"/>
                                <input type="text" class="form-control" value="{{ odoo_config_rec.odoo_ip_address }}"
                                       name="odoo_ip_address" id="ip_address" required disabled/>
                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-4">
                            Server Port
                        </div>

                        <div class="col-md-4">
                            <input type="text" class="form-control" value="{{ odoo_config_rec.odoo_server_port }}"
                                   name="odoo_server_port" id="server_port" required disabled/>
                        </div>
                    </div>
                    <br>

                    <div class="row">

                        <div class="col-md-4">
                            Odoo Database Name
                        </div>

                        <div class="col-md-4">
                            <input type="text" class="form-control" value="{{ odoo_config_rec.odoo_db_name }}"
                                   name="odoo_db_name" id="db_name" required disabled/>
                        </div>

                    </div>
                    <br>

                    <div class="row">

                        <div class="col-md-4">
                            Odoo Database Username
                        </div>

                        <div class="col-md-4">
                            <input type="text" class="form-control" value="{{ odoo_config_rec.odoo_db_username }}"
                                   name="odoo_db_username" id="db_username" required disabled/>
                        </div>

                    </div>
                    <br>

                    <div class="row">

                        <div class="col-md-4">
                            Odoo Database Password
                        </div>

                        <div class="col-md-4">
                            <input type="password" class="form-control" value="{{ odoo_config_rec.odoo_db_password }}"
                                   name="odoo_db_password" id="db_password" required disabled/>
                        </div>

                    </div>
                    <br>

                    <div class="row">

                        <div class="col-md-4">
                            Active
                        </div>

                        <div class="col-md-1" style="margin-left: 0px">
                            <input {% if odoo_config_rec.is_config_active == True %} checked  {% endif %}
                                                                                     type="checkbox"
                                                                                     id="is_config_flag" disabled>
                            <input type="hidden" value="{{ odoo_config_rec.is_config_active }}" name="is_config_active"
                                   id="is_config_active"/>
                        </div>

                        <div class="col-md-3">
                            <input type="button" class="btn default" id="test_connection" value="Test Connection"></input>
                        </div>

                    </div>

                </div>

            </form>

        </div>


        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-refresh font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Sync Manually</span>
            </div>
        </div>

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form action="{% url 'masters:start_syncing' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">


                {% csrf_token %}


                <div class="form-body">

                    <br>
                    <div class="row">
                        <div class="">
                            <button type="submit" id="start_sync" class="btn green">Fetch Data</button>
                            <button type="button" id="sync_is_going" style="display: none" class="btn default">Fetching ...
                            </button>
                        </div>
                    </div>
                    <br>

                    <div class="row" style="margin-left: 25%">

                        <div class="">

                            <div class="col-md-3"><label>Acdemic Year Sync</label>
                                <input type="hidden" name="id" value="{{ odoo_config_rec.id }}">
                                <input type="checkbox" id="academic_year_check" checked/>
                                {#                                        <input {% if user_details.customer_details.is_organisation == True %} checked  {% endif %} class="form-control" type="checkbox"#}
                                {#                                                                       id="id_is_organisation" disabled>#}
                                <input type="hidden" name="year_check" id="is_academic_year_check" value="true">
                            </div>

                            <div class="col-md-3"><label>Class Sync</label>
                                <input type="checkbox" id="class_check" checked/>
                                <input type="hidden" name="class_check" id="is_class_check" value="true">
                            </div>

                            <div class="col-md-3"><label>Section Sync</label>
                                <input type="checkbox" id="section_check" checked/>
                                <input type="hidden" name="section_check" id="is_section_check" value="true">
                            </div>

                            <div class="col-md-3"><label>Student Sync</label>
                                <input type="checkbox" id="student_check" checked/>
                                <input type="hidden" name="student_check" id="is_student_check" value="true">
                            </div>


                        </div>

                    </div>



                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    </div>
    </form>
{% endblock %}