{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <Script>

        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")


                $("#update").click(function (event) {

                    var reason = $("#id_religion_name").val();

                    if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        alert('Input is not characters');
                        return false;
                    }

                    if ((reason.trim().length) == 0) {
                        alert('Input characters only');
                        return false;
                    }

                });


                $("#id_religion_name").change(function () {

                    var reason = $("#id_religion_name").val();

                    if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        alert('Input characters only');
                        return false;
                    }

                    if ((reason.trim().length) == 0) {
                        alert('Input characters only');
                        return false;
                    }

                    return true;
                });


                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();

                    $('.form-control').prop("disabled", false);
                    // $('#id_reason_code').prop("disabled", true);

                });


                $("#id_class_name")
                    .change(
                        function () {

                            class_name = document
                                .getElementById("id_class_name").value

                            var url = '/school/viewAcademic/';
                            viewAcademic(url, class_name)
                        });
            });
        }

        function viewAcademic(url, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        $('#id_academic_year').empty();
                        $('#id_academic_year').append('<option value="">Please select</option>');

                        $('#id_academic_year').append('<option value="' + data[0].id + '">' + data[0].academic_year + '</option>')
                    });
        }
    </Script>

{% endblock %}
{% block content %}

    {% comment %} <form action="{% url 'masters:save_updated_religion' %}" id="form_sample_1" class="form-horizontal" method="POST"
          enctype="multipart/form-data">


        {% csrf_token %}
{% endcomment %}
    {#        <div class="col-md-12">#}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'masters:masters_home' %}">Master </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'masters:section_type_master' %}">Section Type Master</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Edit-Delete Section Type </span>
            </li>
        </ul>

    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}



    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">


            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Section Type Details</span>
            </div>


        </div>
        {#            </div>#}
        {#        </div>#}

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form action="{% url 'masters:save_updated_section_type' %}" id="form_sample_1"
                  class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col-md-offset-3 col-md-9" style="margin: auto;">
                    <button type="button" class="btn green" id="edit">Edit</button>
                    <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
                    <a data-toggle="modal" href="#static">
                        <button type="button" class="btn red">Delete</button>
                    </a>
                </div>

                <div class="form-body">
                    <input type="hidden" value="{{ section_type_rec.id }}" name="rec_id"/>
                    <div class="row">
                        <div class="">
                            <label class="col-md-3 control-label">Section Type:
                            </label>
                            <div class="col-md-4">
                                <input autocomplete="off" maxlength='80' class="form-control"
                                       id="id_religion_name" name="section_type_name" type="text"
                                       value="{{ section_type_rec.section_type_name }}" required disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {#    </form>#}

    <br>

    <!-- END VALIDATION STATES-->
    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false "
         style="margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete the Section Type? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                    <a class=" btn red btn-outline sbold" data-toggle="modal"
                       href="{% url 'masters:delete_section_type' section_type_rec.id %}">
                        Delete </a>
                </div>
            </div>
        </div>
    </div>
    {#        </div>#}


{% endblock %}
