{% extends "index.html" %}
{% load staticfiles %}



{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }

        input[type="radio"] {
            -webkit-appearance: checkbox;
        / Chrome, Safari, Opera / -moz-appearance: checkbox;
        / Firefox / -ms-appearance: checkbox;
        / not currently supported /
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <Script>
        window.onload = function () {
            $(document).ready(function () {

                {% if is_saved %}
                    $('.dis').prop("disabled", true);
                {% endif %}

                $('#cancel').click(function () {
                    location.reload();
                });


                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#cancel").show();
                    $("#edit").hide();
                    $('.dis').prop("disabled", false);
                });
            });
        }

    </Script>

{% endblock %}
{% block content %}

    <form action="{% url 'masters:save_updated_round_off' %}" id="form_sample_1" class="form-horizontal" method="POST"
          enctype="multipart/form-data">


        {% csrf_token %}

        <div class="col-md-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endfor %}


            <div class="page-bar" style="margin-bottom: 1px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'registration:home' %}">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>

                        <a href="{% url 'assessment:assessment_sub_tile' %}">Assessment Sub Tile </a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>

                        <a href="{% url 'masters:assessment_configrtion_roundoff' %}"> Assessment Configration
                            Round-Off </a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    {% comment %}<li>

                        <a href="{% url 'masters:round_off_list' %}">Assessment Configration Master</a>
                        <i class="fa fa-angle-right"></i>
                    </li>{% endcomment %}
                    <li>
                        <span> Save/Update Assessment Configration </span>
                    </li>
                </ul>

            </div>


            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-title">


                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Assessment Round-Off</span>
                    </div>

                </div>
                <div class="portlet-body">


                    <!-- BEGIN FORM-->
                    <form action="{% url 'masters:save_updated_round_off' %}" id="form_sample_1" class="form-horizontal"
                          method="POST" enctype="multipart/form-data">


                        {% csrf_token %}

                        {% if is_saved %}
                            <div class="col-md-offset-3 col-md-9" style="margin: auto;">
                                <button type="button" class="btn green" id="edit">Edit</button>
                                <button type="submit" id="update" class="btn green" style="display:none;">Update
                                </button>
                                <button type="button" id="cancel" class="btn warning" style="display:none;">Cancel
                                </button>
                                {% comment %}<a data-toggle="modal" href="#static">
                                    <button type="button" class="btn red">Delete</button>
                                </a>{% endcomment %}
                            </div>
                            {% comment %}{% else %}
                            <div class="col-md-offset-3 col-md-9" style="margin: auto;">
                                <button type="submit" id="update" class="btn green">Save</button>
                            </div>{% endcomment %}
                        {% endif %}


                        <div class="form-body">

                            <input type="hidden" value="{{ assessment_round_rec.id }}" name="round_off_id"/>
                            <div class="row" style="margin-left: 25%">

                                <div class="">
                                    {% comment %}<label class="col-md-2 control-label">Select:
                </label>{% endcomment %}
                                    <div class="col-md-2">
                                        <ul id="id_round_off">
                                            <input id="id_select_0" name="select" type="radio"
                                                   value="round_up" {{ round_up }} required class="dis">
                                            Round Up</label>
                                            <br>

                                            <input id="id_select_1" name="select" type="radio"
                                                   value="round_down" {{ round_down }} required class="dis"> Round
                                            Down</label>
                                        </ul>
                                    </div>
                                    <label class="col-md-2 control-label" style="margin-top: -8px">Round off:</label>
                                    <div class="col-md-4">
                                        <ul id="round_decimal">
                                            {#                        <ul id="id_gender">#}
                                            <input id="id_select_radio_0" name="round_select" type="radio"
                                                   value="0" {{ zero }} required class="dis">0</label>

                                            <input style="margin-left: 5%" id="id_select_radio_1" name="round_select"
                                                   type="radio"
                                                   value="1" {{ one }} required class="dis">1</label>

                                            <input style="margin-left: 5%" id="id_select_radio_2" name="round_select"
                                                   type="radio" value="2" {{ two }} required class="dis">2</label>

                                            <input style="margin-left: 5%" id="id_select_radio_3" name="round_select"
                                                   type="radio"
                                                   value="3" {{ three }} required class="dis">
                                            3</label>
                                            <input style="margin-left: 5%" id="id_select_radio_4" name="round_select"
                                                   type="radio"
                                                   value="4" {{ four }} required class="dis">
                                            4</label>
                                            <input style="margin-left: 5%" id="id_select_radio_5" name="round_select"
                                                   type="radio"
                                                   value="5" {{ five }} required class="dis">5
                                            </label>
                                        </ul>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>

                            </div>
                            {% if is_saved == False %}
                                <div class="col-md-offset-3 col-md-9" style="margin-left: 45%;">
                                    <button type="submit" id="update" class="btn green">Save</button>
                                </div>
                            {% endif %}

                            <br>

                            <!-- END FORM-->

                            <!-- END VALIDATION STATES-->
                            {% comment %}<div id="static" class="modal fade" tabindex="-1" data-backdrop="static"
                                 data-keyboard="false "
                                 style="margin-top: 10%;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true"></button>
                                            <h4 class="modal-title">Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p> Are you sure you want to delete the Round-Off Details? </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn dark btn-outline">
                                                Cancel
                                            </button>
                                            <a class=" btn red btn-outline sbold" data-toggle="modal"
                                               href="{% url 'masters:delete_round_off' assessment_round_rec.id %}">
                                                Delete </a>

                                        </div>
                                    </div>
                                </div>
                            </div>{% endcomment %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
{% endblock %}