{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>
    <!-- END HEAD -->
{% endblock %}
{% block ScriptBlock %}

    <script type='text/javascript'>

        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {


                $(document).on("click", ".daily_attendance_report", function () {
                    var daily_id = $(this).closest('tr').find('td:eq(0)').html();

                     var val = this.checked ? this.value : '';
{#                     alert(val);#}

                     var url = '/school/update_absent_check_value/';
                     update_absent_check_value(url, daily_id,val)
            });

            });
        }
        function update_absent_check_value(url, daily_id,val) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        daily_id: daily_id,
                        val: val,
                    },
                })
                    .done(
                        function (data) {
                            location.reload();
                        });
            }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

    </script>



{% endblock %}
{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'attendance:attendance_view' %}"> Attendance </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>View Absent Categories</span>
            </li>
        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Manage Absent Categories</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{% url 'attendance:add_absent_categories' %}">
                                <button id="sample_editable_1_new" class="btn sbold green"> Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr role="row">
                    <th style="display:none;" class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1"
                        colspan="1" aria-sort="ascending" aria-label=" Serialno : activate to sort column ascending"
                        style="width: 145px;">Serial No
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" SchoolName : activate to sort column ascending" style="width: 145px;"> Code
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" ClassName : activate to sort column ascending" style="width: 114px;">
                        Absent-Category
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" ClassName : activate to sort column ascending" style="width: 114px;">
                        Category-Color
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" ClassName : activate to sort column ascending" style="width: 114px;">
                        Short-Code
                    </th>
                     <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                        aria-label=" ClassName : activate to sort column ascending" style="width: 114px;">
                        Include in Daily Attendance Report
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for obj in categorylist %}

                    <tr style="cursor: pointer;">
                        <td style="display:none">{{ obj.id }}</td>
                        <td onclick="window.location='{% url "attendance:update_category" obj.id %}'">{{ obj.absent_category_code }}</td>
                        <td onclick="window.location='{% url "attendance:update_category" obj.id %}'">{{ obj.absent_category_name | title}}</td>
                        <td onclick="window.location='{% url "attendance:update_category" obj.id %}'">{{ obj.color_code }}</td>
                        <td onclick="window.location='{% url "attendance:update_category" obj.id %}'">{{ obj.short_code }}</td>
                        <td> <input type="checkbox"
                        {% if obj.daily_attendance == True %}
                        checked
                        {% endif %}
                        name="daily_attendance" class="daily_attendance_report" >
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->

{% endblock %}
