{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}
    <Script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")
                $("#save1").click(function (event) {
                    var code = $("#id_present_category_code").val();

                    if (/[^a-zA-Z0-9\-\/ ]/.test(code)) {
                        $("#id_present_category_code").css("border", "solid 1px red");
                        $("#id_present_category_code_error").show();
                        return false;
                    } else {
                        $("#id_present_category_code").css("border", "");
                        $("#id_present_category_code_error").hide();
                    }

                    var reason = $("#id_present_category_name").val();

                    if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        $("#id_present_category_name").css("border", "solid 1px red");
                        $("#id_present_category_name_error").show();
                        return false;
                    } else {
                        $("#id_present_category_name").css("border", "");
                        $("#id_present_category_name_error").hide();
                    }

                });

                $("#id_present_category_code").change(function () {

                    var code = $("#id_present_category_code").val();

                    if (/[^a-zA-Z0-9\-\/ ]/.test(code)) {
                        $("#id_present_category_code").css("border", "solid 1px red");
                        $("#id_present_category_code_error").show();
                        return false;
                    } else {
                        $("#id_present_category_code").css("border", "");
                        $("#id_present_category_code_error").hide();
                    }

                    return true;
                });

                $("#id_present_category_name").change(function () {

                    var reason = $("#id_present_category_name").val();


                    if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        $("#id_present_category_name").css("border", "solid 1px red");
                        $("#id_present_category_name_error").show();
                        return false;
                    } else {
                        $("#id_present_category_name").css("border", "");
                        $("#id_present_category_name_error").hide();
                    }

                    return true;
                });


            });
        }

    </Script>

{% endblock %}

{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'attendance:attendance_view' %}"> Attendance</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'attendance:present_category_detail' %}"> View Present-Categories </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Add Categories</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Add Present-Categories</span>
            </div>
        </div>
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form action="{% url 'attendance:save_present_categories' %}" id="form_sample_1" class="form-horizontal"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="">
                            <label class="col-md-3 control-label"> Code:
                            </label>
                            <div class="col-md-3">
                                {#                                                        <input type="text" name="absent_category_code" value="{{ AbsentreasonForm.absent_category_name }}" >#}
                                {{ PresentreasonForm.present_category_code }}
                                <div id='id_present_category_code_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Input is not alphanumeric
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <label class="col-md-3 control-label">Present Category:
                            </label>
                            <div class="col-md-3">
                                {#                                                            <input type="text" name="absent_category_name" value="{{ AbsentreasonForm.absent_category_name }}" >#}
                                {{ PresentreasonForm.present_category_name }}
                                <div id='id_present_category_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Input must be characters only.
                                </div>
                            </div>
                        </div></div><br>
                        <div class="row">
                        <div class="">
                            <label class="col-md-3 control-label">Shoet Code:
                            </label>
                            <div class="col-md-3">
                                {#                                                            <input type="text" name="absent_category_name" value="{{ AbsentreasonForm.absent_category_name }}" >#}
                                {{ PresentreasonForm.short_code }}
                                <div id='id_short_code_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Input must be characters only.
                                </div>
                            </div>
                        </div>
                         <div class="">
                            <label class="col-md-3 control-label">Select Color:
                            </label>
                            <div class="col-md-3">
                                {#                                                            <input type="text" name="absent_category_name" value="{{ AbsentreasonForm.absent_category_name }}" >#}
                                {{ PresentreasonForm.color_code }}
                                <div id='id_color_code_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Input must be characters only.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                </div>
                <br>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" id="save1" class="btn green">Save</button>
                            <a href="{% url 'attendance:category_detail' %}">
                                <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END VALIDATION STATES-->

{% endblock %}

<!-- BEGIN CORE PLUGINS -->
       
