{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->



    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .attendance {
            width: 20%;
            cursor: pointer;
        }

        .attendance_width {
            width: 20%;
            cursor: pointer;
        }

        .status_width {
            width: 30%;
            cursor: pointer;
        }

    </style>

{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE

            {#            var forms = $('.len')#}
            {#                if (forms.length > 0) {#}
            {#                    $('#mmmm').attr('disabled', false);#}
            {#                }#}

            var academic_years = document.getElementById("id_academic_years").value;
            if (academic_years == '') {
                $('#id_academic_years').val($('#id_academic_years'));
                $('#id_academic_years').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'

                }));
            }

            var class_name = document.getElementById("id_class_name").value;
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'
                }));
            }
            var section_name = document.getElementById("id_section_name").value;
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'
                }));
            }

            $(document).ready(function () {

                (function ($) {
                    $.extend({
                        toDictionary: function (query) {
                            var parms = {};
                            var items = query.split("&"); // split
                            for (var i = 0; i < items.length; i++) {
                                var values = items[i].split("=");
                                var key = decodeURIComponent(values.shift());
                                var value = values.join("=")
                                parms[key] = decodeURIComponent(value);
                            }
                            return (parms);
                        }
                    })
                })(jQuery);


                (function ($) {
                    $.fn.serializeFormJSON = function () {
                        var o = [];
                        $(this).find('tr').each(function () {
                            var elements = $(this).find('input, textarea, select,checkbox,button')
                            console.log($(this));
                            if (elements.size() > 0) {
                                var serialized = $(this).find('input, textarea, select,checkbox,button').serialize();
                                var item = $.toDictionary(serialized);
                                o.push(item);
                            }
                        });
                        return o;
                    };
                })(jQuery);


                $("#id_class_name").blur(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var class_name = document.getElementById("id_class_name").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailAttendance(url, academic_year, class_name);
                });

                $("#id_academic_years").change(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year);

                });

                $("#edit").click(function (event) {
                    event.preventDefault();
                    var rawData = $('#nameGenderForm').serializeFormJSON();
                    var data = JSON.stringify(rawData);
                    var date = document.getElementById("attendanceDate1").value;
                    var url = '/school/updateAttendance/?location=Add';
                    updateAttendance(url, data, date)
                    window.location.href = "/school/attendanceDetails/";
                });


                $("#mmmm").click(function (event) {

                    {#                    $("#mmmm").attr('disabled', true);#}
                    event.preventDefault();

                    var flag = false;
                    var ab = $(".attendance");
                    {% comment %}for (var z = 0; z < ab.length; z++) {
                        if ((ab[z].value == 'Absent')) {
                            var par = $("#" + ab[z].id).parents('tr:eq(0)').attr('id');
                            var sel = $("#" + par + " #idch").val()
                            if (sel === 'select') {
                                flag = true;
                                if (flag === true) {
                                    alert("Please select a absent categories and then proceed.");
                                    return false;
                                }
                            }
                        }
                    }{% endcomment %}


                    if ($('#id_class_name').val() === 'Please Select') {
                        $('#id_class_name').css('border-color', 'red');
                        alert("Please select class ");
                        return false;
                    }

                    else if ($('#id_section_name').val() === '') {
                        $('#id_section_name').css('border-color', 'red');
                        alert("Please select section ");
                        return false;
                    }
                    else {
                        var forms = $('.len')
                        table_count = forms.length
                        if (table_count == 0) {
                            alert('Please filter class-section combination student first and then submit.')
                            return false;
                        }

                    }

                    $(this).attr('disabled', true);


                    var rawData = $('#nameGenderForm').serializeFormJSON();
                    var data = JSON.stringify(rawData);
                    var className = document.getElementById("id_class_name").value;
                    var sectionName = document.getElementById("id_section_name").value;
                    var url = '/school/saveAttendance/';
                    saveAttendance(url, data, className, sectionName);

                });


                var now = new Date();
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
{#                var today = now.getFullYear() + "-" + (month) + "-" + (day);#}
                var today = (month) + "-" + (day) + "-" + now.getFullYear();
                var date = $('#date').val();
{#                alert(today);#}
{#                return false;#}

                $('#attendanceDate1').val(today);
                $('#date').val(today);


                $(".checkbox").change(function () {
                    if (this.checked) {

                    } else {
                        $(this).closest('tr').find('td:eq(4)').html('');
                    }
                });


                $('.attendance').hover(
                    function () {

                        date = document.getElementById("attendanceDate1").value;
                        if (date != today) {
                            $('.attendance').attr('disabled', true);

                        }
                    });

                $(document).on("click", ".attendance", function (e) {
                    if ($(this).val() == "Present") {

                        $(this).val("Absent").attr('class', 'attendance btn-danger');
                        i = $(this).closest('tr').find('td:eq(4)').html();
                        $("#" + i).css("display", "block");
                        if ($("#" + i).find("option").eq(0).val() == "") {
                            $("#" + i).find("option").eq(0).remove()
                        }

                        $("#late" + i).css("display", "none");
                        {#                            $("#late1" + i).css("display", "none");#}
                    }
                    else {
                        $(this).val("Present").attr('class', 'attendance btn-success');
                        i = $(this).closest('tr').find('td:eq(4)').html();
                        $("#" + i).css("display", "none");
                        $("#late" + i).css("display", "block");
                    }

                });


                {#                $('.attendance').click(#}
                {#                    function () {#}
                {##}
                {#                        if ($(this).val() == "Present") {#}
                {#                            alert('HHHHHHHHHHhhh')#}
                {##}
                {#                            $(this).val("Absent").attr('class', 'attendance btn-danger');#}
                {#                            i = $(this).closest('tr').find('td:eq(4)').html();#}
                {#                            $("#" + i).css("display", "block");#}
                {#                            if ($("#" + i).find("option").eq(0).val() == "") {#}
                {#                                $("#" + i).find("option").eq(0).remove()#}
                {#                            }#}
                {##}
                {#                            $("#late" + i).css("display", "none");#}
                {#                            $("#late1" + i).css("display", "none");#}
                {#                        }#}
                {#                        else {#}
                {#                            $(this).val("Present").attr('class', 'attendance btn-success');#}
                {#                            i = $(this).closest('tr').find('td:eq(4)').html();#}
                {#                            $("#" + i).css("display", "none");#}
                {#                            $("#late" + i).css("display", "block");#}
                {#                        }#}
                {##}
                {#                    });#}


                $('#go').click(function () {
                    if (validate() == true) {
                        $("#attendanceForm").submit();
                    }
                });

                var flag = {{ flag }};
                $("#mmmm").attr('disabled', flag);

            });

            {#            $("#mmmm").click(function () {#}
            {#                #}
            {#                #}
            {#            });#}

            $("#id_academic_years").change(function () {
                var academicyears = document.getElementById("id_academic_years").value;
                if (academicyears == 'Please Select' || academicyears == '') {
                    $("#id_academic_years").css("border", "solid 1px red");
                    $("#id_academic_years_error").show();
                } else {
                    $("#id_academic_years").css("border", "");
                    $("#id_academic_years_error").hide();
                }
            });

            $("#id_class_name").change(function () {
                var classname = document.getElementById("id_class_name").value;
                if (classname == 'Please Select' || classname == '') {
                    $("#id_class_name").css("border", "solid 1px red");
                    $("#id_class_name_error").show();
                } else {
                    $("#id_class_name").css("border", "");
                    $("#id_class_name_error").hide();
                }
            });

            $("#id_section_name").change(function () {
                var sectionname = document.getElementById("id_section_name").value;
                if (sectionname == 'Please Select' || sectionname == '' || sectionname == null) {
                    $("#id_section_name").css("border", "solid 1px red");
                    $("#id_section_name_error").show();
                } else {
                    $("#id_section_name").css("border", "");
                    $("#id_section_name_error").hide();
                }
            });


        };

        function validate() {
            var flag = true;
            var classname = document.getElementById("id_class_name").value;
            var sectionname = document.getElementById("id_section_name").value;
            var academicyears = document.getElementById("id_academic_years").value;

            if (academicyears == 'Please Select' || academicyears == '') {
                $("#id_academic_years").css("border", "solid 1px red");
                $("#id_academic_years_error").show();
            } else {
                $("#id_academic_years").css("border", "");
                $("#id_academic_years_error").hide();
            }


            if (classname == 'Please Select' || classname == '') {
                $("#id_class_name").css("border", "solid 1px red");
                $("#id_class_name_error").show();
                {#        $.toaster({ priority : 'danger', title : 'Required', message : 'Please select class'});#}
                flag = false;
            } else {
                $("#id_class_name").css("border", "");
                $("#id_class_name_error").hide();
            }
            if (sectionname == 'Please Select' || sectionname == '' || sectionname == null) {
                $("#id_section_name").css("border", "solid 1px red");
                $("#id_section_name_error").show();
                {#        $.toaster({ priority : 'danger', title : 'Required', message : 'Please select section'});#}
                flag = false;
            } else {
                $("#id_section_name").css("border", "");
                $("#id_section_name_error").hide();
            }
            return flag;

        }


        function saveAttendance(url, data, className, sectionName) {

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    table: data,
                    className: className,
                    sectionName: sectionName,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                encode: true,
                success: function (data) {

                    if (data['flag'] == false) {
                        $('#taken').show();
                        setTimeout('delayedRedirect()', 100);
                    }
                    else {
                        $("#successId").show();
                        $("#errorId").hide();
                        $("#successMessage").text(data.success);
                        {#                    window.setTimeout(function(){},9000)#}
                        setTimeout('delayedRedirect()', 2000);
                    }
                    {#                    window.location = '{% url 'attendance:attendanceDetails' %}'#}
                },
                error: function (xhr, msg, err) {
                    $("#errorId").show();
                    $("#successId").hide();
                    $("#errorMessage").text(xhr.responseJSON.error);
                }
            });

        }

        function delayedRedirect() {
            {#    window.location = '{% url 'attendance:attendanceDetails' %}'#}
            window.location = '{% url 'attendance:viewAttendanceDetails' %}'
        }


        function updateAttendance(url, data, date) {

            $.ajax({
                url: url,
                type: "POST",
                data: {
                    table: data,
                    date: date,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
            }).done(function (data) {


            });
        }


        function ViewSectionDetailAttendance(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            }).done(function (data) {
                $('#id_section_name').empty();
                $('#id_section_name').append(
                    '<option value="">Please Select</option>');
                for (var i = 0; i < data.length; i++) {
                    $('#id_section_name').append(
                        '<option value="' + data[i].id + '">'
                        + data[i].section_name + '</option>')
                }
            });

        }

        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {
                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="">Please Select</option>');
                    for (var i = 0; i < data.length; i++) {

                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }
                });
        }

    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'attendance:attendance_view' %}"> Attendance </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'attendance:manage_attendance' %}">Manage Attendance </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>Add Attendance</span>
            </li>

        </ul>

    </div>


    {% if flag == 'true' %}
        <div class="alert alert-success ">
            <button class="close" data-close="alert"></button>
            <span> Attendance Already Taken. </span>
        </div>
    {% endif %}


    <div class="alert alert-success" id="taken" hidden>
        <button class="close" data-close="alert"></button>
        <span> Attendance Already Taken. </span>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="alert alert-danger " id="errorId" style="display: none">
        <button class="close" data-close="alert"></button>
        <span id="errorMessage">  </span>
    </div>

    <div class="alert alert-success " id="successId" style="display: none">
        <button class="close" data-close="alert"></button>
        <span id="successMessage">  </span>
    </div>

    <div id="snackbar"></div>

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Attendance Details</span><br><br>
            </div>
        </div>
        <div class="portlet-body">

            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'attendance:viewAttendanceDetails' %}" id="attendanceForm">
                    {% csrf_token %}
                    <div class="row" id="studentDetal">
                        <div class="col-md-2">
                            <h4>Academic Year </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_years" name="year_name" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_year_id }}"> {{ selected_year_name }}</option>
                                    {% for year in academic_year %}
                                        <option value="{{ year.id }}">{{ year.year_name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="year_name" value="{{ selected_year_id }}">
                                <div id='id_academic_years_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select year
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_class.id }}"> {{ selected_class.class_name }}</option>
                                    {% for class in ClassDetails %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>

                                {#                                                            {{ ClassSection.class_name }}#}
                                <div id='id_class_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select class
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_section.id }}"> {{ selected_section.section_name }}</option>
                                    {% for section in SectionDetails %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>

                                {#                                                        {{ ClassSection.section_name }}#}
                                <div id='id_section_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select section
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4>Date: </h4>
                            <div>
                                <input type="hidden" name="date" id="date" class="" value="{{ date }}">
                                <input type="text" disabled name="date" id="attendanceDate1" class="form-control"
                                       required="">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <a herf="" id="go" class="btn blue btn-block" style="margin-top: 38px;">GO
                            </a>
                        </div>

                    </div>

                </form>
                <form id="nameGenderForm">

                    <table id="nameGenderTable" name="data"
                           class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                           id="" role="grid" aria-describedby="sample_1_info">
                        <thead>
                        <tr role="row">

                            <th hidden>Student ID</th>
                            <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                aria-label=" Actions : activate to sort column ascending"> Student Name
                            </th>
                            <th class="attendance_width" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                aria-label=" Actions : activate to sort column ascending"> Status
                            </th>
                            <th class="status_width" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                aria-label=" Actions : activate to sort column ascending"> Categories
                            </th>
                            <th style="display: none"></th>
                        </tr>
                        </thead>
                        <tbody id="body">


                        {% if attendanceList %}
                            {% for obj in attendanceList %}

                                <tr style="cursor: pointer;" name="data" class="len">

                                    <td hidden><input type='text' name="studentId" value='{{ obj.student.id }}'
                                                      style="" readonly style="border:0;"></td>
                                    <td><input type='text' name="studentName" value='{{ obj.student.get_all_name }}'
                                               readonly class="col-md-12" style="border:0; "></td>

                                    {% if obj.status == 'Present' %}
                                        <td><input type='text' class='attendance btn-success' name='student'
                                                   value='{{ obj.status }}' readonly></td>
                                    {% else %}

                                        <td><input type='text' class='attendance btn-danger' name='student'
                                                   value='{{ obj.status }}' readonly></td>
                                    {% endif %}

                                    <td>

                                        {% if obj.absent_category %}

                                            <div id="{{ forloop.counter }}">

                                                <select name='Absentreason' id='Absentreason' required="">
                                                    <option value="{{ obj.absent_category }}">{{ obj.absent_category }}</option>
                                                    <option value="select"> Select</option>
                                                    {% for Absentreason in AbsentReason %}
                                                        <option value="{{ Absentreason.absent_category_name }}">{{ Absentreason.absent_category_name }}</option>
                                                    {% endfor %}
                                                </select> <br>
                                                <input type='text' name='absentExplaination'
                                                       value='{{ obj.absent_reason }}'>
                                            </div>
                                            <div style="display: none" id=late{{ forloop.counter }}><input
                                                    type='checkbox' class='checkbox' name='late' value='{{ True }}'>Late
                                            </div>



                                        {% else %}

                                            {% if obj.late %}
                                                <div id=late1{{ forloop.counter }}><input type='checkbox'
                                                                                          class='checkbox' name='late'
                                                                                          value='{{ True }}' checked>Late
                                                </div>
                                                <div id=late{{ forloop.counter }} style="display: none"><input
                                                        type='checkbox' class='checkbox' name='late' value='{{ True }}'>Late
                                                </div>
                                                <div id="{{ forloop.counter }}" style="display: none">
                                                    <select name='Absentreason' id='Absentreason' required="">
                                                        <option value="select"> Select</option>
                                                        {% for Absentreason in AbsentReason %}
                                                            <option value="{{ Absentreason.absent_category_name }}">{{ Absentreason.absent_category_name }}</option>
                                                        {% endfor %}
                                                    </select> <br>
                                                    <input type='text' name='absentExplaination'
                                                           value='{{ obj.absent_reason }}' readonly>
                                                </div>

                                            {% else %}
                                                <div id=late{{ forloop.counter }} ><input type='checkbox'
                                                                                          class='checkbox' name='late'
                                                                                          value='{{ True }}'>Late
                                                </div>
                                                <div id="{{ forloop.counter }}" style="display: none">
                                                    <select name='Absentreason' id='Absentreason' required="">
                                                        <option value="{{ obj.absent_category }}">{{ obj.absent_category }}</option>
                                                        <option value="select"> Select</option>
                                                        {% for Absentreason in AbsentReason %}
                                                            <option value="{{ Absentreason.absent_category_name }}">{{ Absentreason.absent_category_name }}</option>
                                                        {% endfor %}
                                                    </select> <br>
                                                    <input type='text' name='absentExplaination'
                                                           value='{{ obj.absent_reason }}'>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td style="display: none">{{ forloop.counter }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                            </table><input type="button" id="edit" class="btn blue btn-block" value="Update"
                                           style=" width: 20%; margin-left: 40%;"/>

                        {% else %}
                            {% for obj in studentList %}

                                <tr style="cursor: pointer;" id="item{{ forloop.counter }}" name="data" class="gg len">

                                    <td hidden><input type="text" name="studentId" value='{{ obj.id }}'
                                                      style="width: 47px;border:0;"
                                                      readonly></td>
                                    <td><input type="text" name="studentName" value='{{ obj.get_all_name }}'
                                               title="{{ obj.get_all_name }}" class="col-md-12" style="border:0;"
                                               readonly>
                                    </td>
                                    <td><input type='text' id="ccc{{ forloop.counter }}" class='attendance btn-success'
                                               name='student' value='Present'
                                               readonly>

                                    </td>
                                    <td>
                                        {#                                        <div id=late{{ forloop.counter }}><input type='checkbox' class='checkbox'#}
                                        {#                                                                                 name='late' value='{{ True }}'>Late#}
                                        {#                                        </div>#}

                                        <div id="late{{ forloop.counter }}" style="display: block">
                                            <div class="">

                                                <select name='PresentReason' id='PresentReason1' required="">
                                                    <option value="select"> Present</option>

                                                    {% for PresentReasonRec in PresentReason %}
                                                        <option value="{{ PresentReasonRec.present_category_name }}">{{ PresentReasonRec.present_category_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                {#            <input type='text' name='absentExplaination' required>#}
                                            </div>
                                        </div>

                                        <div id="{{ forloop.counter }}" style="display: none">
                                            <div class="">

                                                <select name='Absentreason' id="idch" required="">
                                                    <option value="select"> Absent</option>

                                                    {% for Absentreason in AbsentReason %}
                                                        <option value="{{ Absentreason.absent_category_name }}">{{ Absentreason.absent_category_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type='text' name='absentExplaination' maxlength='255' required>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="display: none">{{ forloop.counter }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                            <input type="button" id="mmmm" class="btn blue btn-block" value="Submit"
                                   style=" width: 20%; margin-left: 40%;" disabled/>
                        {% endif %}
                </form>
            </div>
            <!-- END FORM-->
        </div>
        <!-- BEGIN VALIDATION STATES-->
        {% if attendance_summary %}
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark">Attendance already taken for Class <b>{{ selected_class.class_name }}</b> and Sections <b>{{ selected_section.section_name }}</b></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2">Summary</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for summary in attendance_summary %}
                            {% if summary.status == 'Present' %}
                                <tr class="row">
                                    <td><b>{{ summary.status }}</b></td>
                                    <td style="text-align: center;"><b>{{ summary.status_count }}</b></td>
                                </tr>
                                {% if  summary.sub_categories %}
                                    {% for key, value in  summary.sub_categories.0.items %}
                                        <tr class="row">
                                            <td><span style="margin-left: 10px;"> - {{ key }}</span></td>
                                            <td style="text-align: center;">{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if summary.status == 'Absent' %}
                                <tr class="row">
                                    <td><b>{{ summary.status }}</b></td>
                                    <td style="text-align: center;"><b>{{ summary.status_count }}</b></td>
                                </tr>
                                {% if  summary.sub_categories %}
                                    {% for key, value in  summary.sub_categories.0.items %}
                                        <tr class="row">
                                            <td><span style="margin-left: 10px;"> - {{ key }}</span></td>
                                            <td style="text-align: center;">{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2">Total</td>
                            <td style="text-align: center;">{{ total_att_count }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        {% endif %}

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <form method="post" action="{% url 'attendance:attendanceCategories' %}" id="categories">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <label>Absent Categories:</label><br>
                            {{ AbsentForm.absent_category_name }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}