{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->



    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>
{#     <link href="{% static 'bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css' %}" rel="stylesheet" type="text/css"/>#}
{#    <script src="{% static 'bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js' %}" type="text/javascript"></script>#}

    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .attendance {
            width: 20%;
            cursor: pointer;
        }

        .attendance_width {
            width: 20%;
            cursor: pointer;
        }

        .name {
            width: 40%;
            cursor: pointer;
        }

        .date_time{
            width: 15%;
            cursor: pointer;
        }


        .status_width {
            width: 20%;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            class_name = document.getElementById("id_class_name").value

            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'

                }));
            }
            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'
                }));
            }

            $(document).ready(function () {

{#                $('#attendanceDate').on("click",function(){#}
{#                    alert('mm/dd/yyyy')#}

{#                    $('#attendanceDate').datepicker({#}
{#                        value: new Date(),#}
{#                        dateInput: true#}
{#                    });#}
{#                    alert('mm/dd/yyyy')#}
{#                });#}

                $('#mmmm').attr('disabled', true);

                $('#body').hover(function () {
                    $('#mmmm').attr('disabled', false);
                });

                (function ($) {
                    $.extend({
                        toDictionary: function (query) {
                            var parms = {};
                            var items = query.split("&"); // split
                            for (var i = 0; i < items.length; i++) {
                                var values = items[i].split("=");
                                var key = decodeURIComponent(values.shift());
                                var value = values.join("=")
                                parms[key] = decodeURIComponent(value);
                            }
                            return (parms);
                        }
                    })
                })(jQuery);


                (function ($) {
                    $.fn.serializeFormJSON = function () {
                        var o = [];
                        $(this).find('tr').each(function () {
                            var elements = $(this).find('input, textarea, select,checkbox,button')
                            console.log($(this));
                            if (elements.size() > 0) {
                                var serialized = $(this).find('input, textarea, select,checkbox,button').serialize();
                                var item = $.toDictionary(serialized);
                                o.push(item);
                            }
                        });
                        return o;
                    };
                })(jQuery);


                $("#edit").click(function (event) {
                    event.preventDefault();

                    var flag = false;
                    var ab = $(".attendance");
                    for (var z = 0; z < ab.length; z++) {
                        if (ab[z].value == 'absent') {
                            var par = $("#" + ab[z].id).parents('tr:eq(0)').attr('id');
                            var sel = $("#" + par + " #idch").val();
                            if (sel === 'select') {
                                flag = true;
                                if (flag === true) {
                                    alert("Please select a absent categories and then proceed.");
                                    return false;
                                }
                            }
                        }
                    }

                    var tex_box_emp =$('.abs_res');
                    for(var t = 0; t<tex_box_emp.length; t++){
                         if (ab[t].value == 'absent') {
                             if (tex_box_emp[t].value == '') {
                                 return false;
                             }
                         }
                    }

                    var rawData = $('#nameGenderForm').serializeFormJSON();
{#                    alert(JSON.stringify(rawData));#}
                    var data = JSON.stringify(rawData);
{#                    alert(data);#}
{#                    return false;#}
                    var date = document.getElementById("attendanceDate").value;
                    var url = '/school/updateAttendance/?location=Edit';
                    updateAttendance(url, data, date);
                });


                $("#mmmm").click(function (event) {
                    event.preventDefault();

                    var rawData = $('#nameGenderForm').serializeFormJSON();
                    var data = JSON.stringify(rawData);
{#                    alert(data);#}
{#                    return false;#}
                    className = document.getElementById("id_class_name").value;
                    sectionName = document.getElementById("id_section_name").value;

                    var url = '/school/saveAttendance/';
                    saveAttendance(url, data, className, sectionName);
                    window.location.href = "/school/attendanceEdit/";
                });


                var now = new Date();
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var today = now.getFullYear() + "-" + (month) + "-" + (day);

                var date = $('#date').val();
                $('#attendanceDate').val(date);

                $(".checkbox").change(function () {
                    if (this.checked) {

                    } else {
                        $(this).closest('tr').find('td:eq(5)').html('');
                    }
                });


{#                $('.attendance').hover(function () {#}
{#                    var date = document.getElementById("attendanceDate").value;#}
{#                    if (date != today) {#}
{#                        $('.attendance').attr('disabled', true);#}
{#                    }#}
{#                });#}

                $('.attendance').click(function () {
                    var date = document.getElementById("attendanceDate").value;
                    if (date != today) {
                        return false;
                    }

                    if ($(this).val() == "Present") {
                        $(this).val("Absent").attr('class', 'attendance btn-danger');
                        i = $(this).closest('tr').find('td:eq(5)').html();
                        $("#" + i).css("display", "block");
                        if ($("#" + i).find("option").eq(0).val() == "") {
                            $("#" + i).find("option").eq(0).remove()
                        }
                        $("#late" + i).css("display", "none");
{#                        $("#late1" + i).css("display", "none");#}
                    }
                    else {
                        $(this).val("Present").attr('class', 'attendance btn-success');
                        i = $(this).closest('tr').find('td:eq(5)').html();
                        $("#" + i).css("display", "none");
                        $("#late" + i).css("display", "block");
                    }

                });


                $('#go').click(function () {
                    if (validate() == true) {
                        $("#attendanceForm").submit();
                    }
                });


                $("#id_class_name").blur(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var class_name = document.getElementById("id_class_name").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailAttendance(url, academic_year, class_name);
                });

                $("#id_academic_years").change(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year);
                });

            });

            $("#id_academic_years").change(function () {
                var academicyears = document.getElementById("id_academic_years").value;
                if (academicyears == 'Please Select' || academicyears == '') {
                    $("#id_academic_years").css("border", "solid 1px red");
                    $("#id_academic_years_error").show();
                } else {
                    $("#id_academic_years").css("border", "");
                    $("#id_academic_years_error").hide();
                }
            });


            $("#id_class_name").change(function () {
                var classname = document.getElementById("id_class_name").value;
                if (classname == 'Please Select' || classname == '') {
                    $("#id_class_name").css("border", "solid 1px red");
                    $("#id_class_name_error").show();
                } else {
                    $("#id_class_name").css("border", "");
                    $("#id_class_name_error").hide();
                }
            });

            $("#id_section_name").change(function () {
                var sectionname = document.getElementById("id_section_name").value;
                if (sectionname == 'Please Select' || sectionname == '' || sectionname == null) {
                    $("#id_section_name").css("border", "solid 1px red");
                    $("#id_section_name_error").show();
                } else {
                    $("#id_section_name").css("border", "");
                    $("#id_section_name_error").hide();
                }
            });

        };

        function validate() {
            var flag = true;
            var classname = document.getElementById("id_class_name").value;
            var sectionname = document.getElementById("id_section_name").value;
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear() + "-" + (month) + "-" + (day);
            var date = document.getElementById("attendanceDate").value;

            var academicyears = document.getElementById("id_academic_years").value;

            if (academicyears == 'Please Select' || academicyears == '') {
                $("#id_academic_years").css("border", "solid 1px red");
                $("#id_academic_years_error").show();
                flag = false;
            } else {
                $("#id_academic_years").css("border", "");
                $("#id_academic_years_error").hide();
            }

            if (classname == 'Please Select' || classname == '') {
                $("#id_class_name").css("border", "solid 1px red");
                $("#id_class_name_error").show();
                flag = false;
            } else {
                $("#id_class_name").css("border", "");
                $("#id_class_name_error").hide();
            }
            if (sectionname == 'Please Select' || sectionname == '' || sectionname == null) {
                $("#id_section_name").css("border", "solid 1px red");
                $("#id_section_name_error").show();
                flag = false;
            } else {
                $("#id_section_name").css("border", "");
                $("#id_section_name_error").hide();
            }
            if (date != '') {
                if (date > today) {
                    if ($("#date").parent().next(".validation").length == 0) {
                        $("#date").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;'>Please select previous date.</div>");
                    }
                    flag = false;
                }
            } else {
                flag = false;
            }
            return flag;
        }


        function saveAttendance(url, data, className, sectionName) {

            $.ajax({
                url: url,
                type: "POST",
                data: {
                    table: data,
                    className: className,
                    sectionName: sectionName,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
            })
                .done(function (data) {

                });
        }

        function updateAttendance(url, data, date) {
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    table: data,
                    date: date,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
            }).done(function (data) {
                window.location.reload();
            });
        }


        function ViewSectionDetailAttendance(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })
                .done(function (data) {

                    $('#id_section_name').empty();
                    $('#id_section_name').append(
                        '<option value="">Please Select</option>');

                    for (var i = 0; i < data.length; i++) {

                        $('#id_section_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].section_name + '</option>')
                    }
                });

        }
        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {

                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="">Please Select</option>');

                    for (var i = 0; i < data.length; i++) {

                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }

                });
        }

    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>

                <a href="{% url 'attendance:attendance_view' %}"> Attendance </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>

                <a href="{% url 'attendance:manage_attendance' %}">Manage Attendance </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>Edit Attendance</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}



    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>

                <span class="caption-subject font-red sbold uppercase">Attendance Details</span><br><br>

            </div>

        </div>
        <div class="portlet-body">

            <div class="form-body" style="margin-top: 40px">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'attendance:viewAttendanceEdit' %}" id="attendanceForm">
                    {% csrf_token %}
                    <div class="row" id="studentDetal">

                        <div class="col-md-2">
                            <h4> Academic Year </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_years" name="year_name" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_year_id }}"> {{ selected_year_name }}</option>
                                    {% for year in academic_year %}
                                        <option value="{{ year.id }}">{{ year.year_name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="year_name" value="{{ selected_year_id }}">
                                <div id='id_academic_years_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select year
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_class.id }}"> {{ selected_class.class_name }}</option>
                                    {% for class in ClassDetails %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                                <div id='id_class_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select class
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_section.id }}"> {{ selected_section.section_name }}</option>
                                    {% for section in SectionDetails %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                                <div id='id_section_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select section
                                </div>
                            </div>
                        </div>

                         <div class="col-md-2">
                            <div class="input-group date" data-provide="datepicker" style=" margin-top: 40px;">
                                <input type="hidden" name="date" id="date" class="" max="12-31-9999" value="{{ date }}">
{#                                    <input type="date" name="date" id="attendanceDate" class="form-control" max="9999-12-31" required="">#}
                                    <input type="text" name="date" placeholder="mm/dd/yyyy" id="attendanceDate" class="form-control" max="12-31-9999" required="">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                         </div>

{#                        <div class="col-md-2">#}
{#                            <h4>Date: </h4>#}
{#                            <div>#}
{#                                <input type="hidden" name="date" id="date" class="" max="9999-12-31" value="{{ date }}">#}
{#                                <input type="date" name="date" id="attendanceDate" class="form-control" max="9999-12-31" required="">#}
{#                                <input type="text" name="date" placeholder="mm/dd/yyyy" id="attendanceDate" class="form-control" max="9999-12-31" required="">#}
{##}
{#                            </div>#}
{#                        </div>#}
                        <div class="col-md-3">
                            <button type="button" id="go" class="btn blue btn-block" style="margin-top: 38px;">GO
                            </button>
                        </div>
                    </div>
                </form>


                <form id="nameGenderForm">

                    <table id="nameGenderTable" name="data"
                           class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                           id="sample_1" role="grid" aria-describedby="sample_1_info">
                        <thead>
                        <tr role="row">

                            <th hidden>Student ID</th>
                            <th class="name" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                aria-label=" Actions : activate to sort column ascending"> Student Name
                            </th>
                            <th class="attendance_width" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                aria-label=" Actions : activate to sort column ascending"> Status
                            </th>
                            <th class="date_time" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                aria-label=" Actions : activate to sort column ascending"> Modified Date & Time
                            </th>
                            <th class="status_width" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                aria-label=" Actions : activate to sort column ascending"> Categories
                            </th>
                            <th style="display: none"></th>
                        </tr>
                        </thead>
                        <tbody id="body">


                        {% if attendanceList %}
                            {% for obj in attendanceList %}

                                <tr style="cursor: pointer;" name="data" id="item{{ forloop.counter }}">

                                    <td hidden><input type='text' name="studentId" value='{{ obj.student.id }}'
                                               style="border:0;" readonly></td>
                                    <td><input type='text' name="studentName" value='{{ obj.student.get_all_name }}' title="{{ obj.student.get_all_name }}" class="col-md-12" style="border:0;"
                                               readonly></td>

                                    {% if obj.status == 'Present' %}
                                        <td><input type='text' id="ccc{{ forloop.counter }}"
                                                   class='attendance btn-success' name='student'
                                                   value='{{ obj.status }}' readonly></td>
                                    {% else %}

                                        <td><input type='text' class='attendance btn-danger' name='student'
                                                   value='{{ obj.status }}' readonly></td>
                                    {% endif %}

                                    <td><input type='text' name="attendance_date"
                                               value='{{ obj.attendance_update_date_time }}' readonly>
                                    </td>

                                    <td>

                                        {% if obj.status == 'Absent' %}

                                            <div id="{{ forloop.counter }}">

                                                <select name='Absentreason' id='Absentreason' required="">
                                                    {% if not obj.absent_category == None %}
{#                                                        <option value="{{ obj.absent_category }}">{{ obj.absent_category }}</option>#}

                                                        <option style="display:none" selected="selected"
                                                            value="{{ obj.absent_category  }}"> {{ obj.absent_category }}</option>
                                                        <option value="select"> Absent</option>
                                                    {% else %}
                                                        <option value="select"> Absent</option>
                                                    {% endif %}
                                                    {% for Absentreason in AbsentReason %}
                                                        <option value="{{ Absentreason.absent_category_name }}">{{ Absentreason.absent_category_name }}</option>
                                                    {% endfor %}
                                                </select> <br>
                                                <input class="abs_res" type='text'
                                                       id=absentExplaination{{ forloop.counter }}
                                                       name='absentExplaination' pattern="/[^a-zA-Z\-\/ ]/"
                                                       value='{{ obj.absent_reason }}' maxlength='255'>
                                            </div>

                                            <div style="display: none" id="late{{ forloop.counter }}">

                                                <select name='PresentReason' id="PresentReason" required="">
                                                    {% if not obj.present_category == None %}
                                                        <option value="{{ obj.present_category }}">{{ obj.present_category }}</option>
                                                    {% else %}
                                                        <option value="select"> Present</option>
                                                    {% endif %}


                                                    {% for PresentReasonRec in PresentReason %}
                                                        <option value="{{ PresentReasonRec.present_category_name }}">{{ PresentReasonRec.present_category_name }}</option>
                                                    {% endfor %}
                                                </select> <br>
                                            </div>

                                        {% else %}

                                            {% if obj.late %}
                                                <div id=late1{{ forloop.counter }}><input type='checkbox'
                                                                                          class='checkbox' name='late'
                                                                                          value='{{ True }}' checked>Late
                                                </div>
                                                <div id=late{{ forloop.counter }} style="display: none"><input
                                                        type='checkbox' class='checkbox' name='late' value='{{ True }}'>Late
                                                </div>



                                                <div id="{{ forloop.counter }}" style="display: none">
                                                    <select name='Absentreason' id='Absentreason' required="">
                                                        <option value="select"> Absent</option>
                                                        {% for Absentreason in AbsentReason %}
                                                            <option value="{{ Absentreason.absent_category_name }}">{{ Absentreason.absent_category_name }}</option>
                                                        {% endfor %}
                                                    </select> <br>
                                                    <input class="abs_res" type='text'
                                                           id=absentExplaination{{ forloop.counter }}
                                                           name='absentExplaination'
                                                           onkeyup="this.value = this.value.replace(/[^a-zA-Z\-\/ ]/, '')"
                                                           value='{{ obj.absent_reason }}'>
                                                </div>


                                            {% else %}
                                                <div id="late{{ forloop.counter }}">

                                                    <select name='PresentReason' id="PresentReason" required="">
                                                        {% if not obj.present_category == None %}
                                                            <option style="display:none" selected="selected"
                                                            value="{{ obj.present_category  }}"> {{ obj.present_category }}</option>
{#                                                            <option value="{{ obj.present_category }}">{{ obj.present_category }}</option>#}
                                                            <option value="select"> Present</option>

                                                        {% else %}
                                                            <option value="select"> Present</option>
                                                        {% endif %}


                                                        {% for PresentReasonRec in PresentReason %}
                                                            <option value="{{ PresentReasonRec.present_category_name }}">{{ PresentReasonRec.present_category_name }}</option>
                                                        {% endfor %}
                                                    </select> <br>
                                                </div>


                                                <div id="{{ forloop.counter }}" style="display: none">
                                                    <select name='Absentreason' id="idch" required="">
                                                        {% if not obj.absent_category == None %}
                                                            <option value="{{ obj.absent_category }}">{{ obj.absent_category }}</option>
                                                        {% else %}
                                                            <option value="select"> Absent</option>
                                                        {% endif %}
                                                        {% for Absentreason in AbsentReason %}
                                                            <option value="{{ Absentreason.absent_category_name }}">{{ Absentreason.absent_category_name }}</option>
                                                        {% endfor %}
                                                    </select> <br>
                                                    <input type='text' class="abs_res"
                                                           id=absentExplaination{{ forloop.counter }}
                                                           name='absentExplaination'
                                                           onkeyup="this.value = this.value.replace(/[^a-zA-Z\-\/ ]/, '')"
                                                           value='{{ obj.absent_reason }}'>
                                                </div>


                                            {% endif %}

                                        {% endif %}


                                    </td>

                                    <td style="display: none">{{ forloop.counter }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                            </table><input type="button" id="edit" class="btn blue btn-block" value="Update"
                                           style=" width: 20%; margin-left: 40%;"/>

                        {% else %}


                            {% for obj in studentList %}

                                <tr style="cursor: pointer;" name="data">

                                    <td hidden><input type="text" name="studentId" value='{{ obj.id }}' style="width: 47px;"
                                               readonly></td>
                                    <td><input type="text" name="studentName" value='{{ obj.get_all_name }}' readonly>
                                    </td>
                                    <td><input type='text' class='attendance btn-success' name='student' value='Present'
                                               readonly>

                                    </td>

                                    <td>
                                        <div id=late{{ forloop.counter }}><input type='checkbox' class='checkbox'
                                                                                 name='late' value='{{ True }}'>Late
                                        </div>
                                        <div id="{{ forloop.counter }}" style="display: none">
                                            <div class="">

                                                <select name='Absentreason' id='Absentreason' required="">
                                                    <option value="select"> Absent</option>

                                                    {% for Absentreason in AbsentReason %}
                                                        <option value="{{ Absentreason.absent_category_name }}">{{ Absentreason.absent_category_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type='text' id=absentExplaination{{ forloop.counter }}
                                                       name='absentExplaination' maxlength='4' required>
                                            </div>
                                    </td>
                                    <td style="display: none">{{ forloop.counter }}</td>


                                </tr>
                            {% endfor %}
                            </tbody>
                            </table><input type="button" id="mmmm" class="btn blue btn-block" value="Submit"
                                           style=" width: 20%; margin-left: 40%;"/>


                        {% endif %}


                </form>

            </div>


            <!-- END FORM-->
        </div>
        <!-- BEGIN VALIDATION STATES-->


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <form method="post" action="{% url 'attendance:attendanceCategories' %}" id="categories">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <label>Absent Categories:</label><br>
                            {{ AbsentForm.absent_category_name }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>

{% endblock %}
                        