{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->
    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);

</script>
{% block content %}

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Attendance</span>
            </li>
        </ul>
    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="tiles">

                {% if 'attendance.can_view_attendance' and 'attendance.can_view_view_absent_categories' in perms %}
                    <div class="tile bg-red-sunglo" style="height: 170px !important;width: 500px !important;">
                        <a href="{% url 'attendance:category_detail' %}">
                            <div class="tile-body">
                                <i class="fa icon-user-follow"></i>
                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h3>View Absent Categories</h3>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'attendance.can_view_attendance' and 'attendance.can_view_view_present_categories' in perms %}
                    <div class="tile bg-green-turquoise" style="height: 170px !important;width: 500px !important;">
                        <a href="{% url 'attendance:present_category_detail' %}">
                            <div class="tile-body">
                                <i class="fa icon-user-follow"></i>

                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h3>View Present Categories</h3>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'attendance.can_view_attendance' and 'attendance.can_view_manage_attendance' in perms %}
                    <div class="tile bg-blue-steel" style="height: 170px !important;width: 500px !important;">
                        <a href="{% url 'attendance:manage_attendance' %}">
                            <div class="tile-body">
                                <i class="icon-magnifier"></i>
                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h3>Attendance</h3>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'attendance.can_view_attendance' and 'attendance.can_view_attendance_dashboard' in perms %}
                    <div class="tile triple_35 bg-blue-hoki" style="height: 170px !important;width: 500px !important;">
                        <a href="{% url 'attendance:attendanceDashboard' %}">
                            <div class="tile-body">
                                <i class="fa fa-bar-chart double_box_li_style "></i>
                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h3>Dashboard</h3>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'attendance.can_view_attendance' and 'attendance.can_view_attendance_import_export' in perms %}
                    <div class="tile triple_35 bg-red" style="height: 170px !important;width: 500px !important;">
                        <a href="{% url 'attendance:importStudentAttendance' %}">
                            <div class="tile-body">
                                <i class="fa icon-cloud-upload double_box_li_style "></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h3>Import/Export</h3>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'attendance.can_view_attendance' and 'attendance.can_view_bulk_attendance' in perms %}
                    <div class="tile triple_35 bg-green" style="height: 170px !important;width: 500px !important;">
                        <a href="{% url 'attendance:manageBulkAttendance' %}">
                            <div class="tile-body">
                                <i class="fa icon-cloud-upload double_box_li_style "></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h3>Bulk Attendance</h3>
                                </div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}


                {% if 'attendance.can_view_attendance' and 'attendance.can_view_daily_attendance' in perms %}
                    <div class="tile triple_35" style="background-color: #7b6f79;height: 170px !important;width: 500px !important;">
                        <a href="{% url 'attendance:dailyAttendanceReport' %}">
                            <div class="tile-body">
                                <i class="fa fa-newspaper-o"></i>
                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h3>Daily Attendance Report</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'attendance.can_view_attendance' and 'attendance.can_view_daily_attendance_report_log' in perms %}
                    <div class="tile triple_35" style="background-color: #2bb7da;height: 170px !important;width: 500px !important;">
                        <a href="{% url 'attendance:daily_attendance_report_log' %}">
                            <div class="tile-body">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </div>
                            <div class="tile-object">

                                <div class="name">
                                    <h3>Daily Attendance Report Log</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


    <!-- END VALIDATION STATES-->


{% endblock %}
                        
