{% extends "index.html" %}
{% load coustom_tags %}
{% block styleBlock %}
    <style>
        .centerAlignC {
            padding: 10%;
            padding-top: 29%;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        textPath {
            white-space: inherit;
            display: none;
        }

        #chartjs-tooltip {
            opacity: 1;
            position: absolute;
            background: rgba(0, 0, 0, .7);
            color: white;
            border-radius: 3px;
            -webkit-transition: all .1s ease;
            transition: all .1s ease;
            pointer-events: none;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }

        .chartjs-tooltip-key {
            display: inline-block;
            width: 10px;
            height: 10px;
        }

        @media (min-width: 768px) {
            .seven-cols .col-md-1,
            .seven-cols .col-sm-1,
            .seven-cols .col-lg-1 {
                width: 100%;
                *width: 100%;
            }
        }

        @media (min-width: 992px) {
            .seven-cols .col-md-1,
            .seven-cols .col-sm-1,
            .seven-cols .col-lg-1 {
                width: 14.285714285714285714285714285714%;
                *width: 14.285714285714285714285714285714%;
            }
        }

        /**
         *  The following is not really needed in this case
         *  Only to demonstrate the usage of @media for large screens
         */
        @media (min-width: 1200px) {
            .seven-cols .col-md-1,
            .seven-cols .col-sm-1,
            .seven-cols .col-lg-1 {
                width: 14.285714285714285714285714285714%;
                *width: 14.285714285714285714285714285714%;
            }
        }

        .gap {
            padding-left: 5px;
            padding-right: 5px;
        }

        .circle {
            border-radius: 50% !important;
        }

        th {
            white-space: nowrap;
        }
        td {
            white-space: nowrap;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                $("#excel").click(function () {
                    $('#excel_date').submit();
                });

                $("#pdf_print").click(function () {
                    $('#pdf_date').submit();
                });


                $('#errors').hide()
                $('#errors1').hide()
                $('#errors2').hide()

                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').DataTable({
                    "scrollY": "400px",
                     "scrollX": true,
                    "scrollCollapse": true,
                    {#"paging": false#}
                });

                $('#example').dataTable().fnDestroy();
                $('#example').DataTable({
                    "scrollY": "400px",
                     "scrollX": true,
                    "scrollCollapse": true,
                    {#"paging": false#}
                });

                {#$('#example th').addClass('no-wrap');#}

                {% comment %}$('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));{% endcomment %}

                {% comment %}$('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));{% endcomment %}


                $('#id_dashboard_class_name').val($('#id_dashboard_class_name'));
                $('#id_dashboard_class_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
                $('#id_dashboard_section_name').val($('#id_dashboard_section_name'));
                $('#id_dashboard_section_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));

                {#	  $("#id_class_name").find("option").eq(0).hide();#}
                {#	  $("#id_section_name").find("option").eq(0).hide();#}
                $("#id_dashboard_class_name").find("option").eq(0).hide();
                $("#id_dashboard_section_name").find("option").eq(0).hide();
                $('.progress .progress-bar').progressbar({display_text: 'fill', use_percentage: false});

                {% comment %}var class_name = document.getElementById("id_dashboard_class_name").value;
                var section_name = document.getElementById("id_dashboard_section_name").value;
                var from_date = document.getElementById("fromDate").value;
                var to_date = document.getElementById("toDate").value;
                var academic_years = document.getElementById("id_dashboard_academic_years").value;
                var url = '/school/ViewAttendanceTrend/';
                ViewAttendanceTrend(url, academic_years, class_name, section_name, from_date, to_date);{% endcomment %}


                function ViewAttendanceDashboard(url, academic_years, class_name, section_name, attendanceDate) {

                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            class_name: class_name,
                            section_name: section_name,
                            date: attendanceDate,
                            academic_years: academic_years,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                    })

                        .done(
                            function (data) {

                                console.log(data[0])

                                var chart;

                                var chartData = [{
                                    AttendanceStatus: "Present",
                                    categrory: data[1],
                                },
                                    {
                                        AttendanceStatus: "Late",
                                        categrory: data[2],
                                    },
                                    {
                                        AttendanceStatus: "Excused",
                                        categrory: data[6],
                                    },
                                    {
                                        AttendanceStatus: "Medical",
                                        categrory: data[4],
                                    },
                                    {
                                        AttendanceStatus: "Absent",
                                        categrory: data[3],
                                    },
                                    {
                                        AttendanceStatus: "Not Taken",
                                        categrory: data[5],
                                    },
                                    {
                                        AttendanceStatus: "Total",
                                        categrory: data[0],
                                    },
                                ];
                                // SERIAL CHART
                                chart = new AmCharts.AmSerialChart();
                                chart.dataProvider = chartData;
                                chart.categoryField = "AttendanceStatus";
                                chart.fontSize = 14;
                                chart.startDuration = 1;
                                chart.plotAreaFillAlphas = 0.2;
                                // the following two lines makes chart 3D
                                chart.angle = 30;
                                chart.depth3D = 40;

                                // AXES
                                // category
                                var categoryAxis = chart.categoryAxis;
                                categoryAxis.gridAlpha = 0.2;
                                categoryAxis.gridPosition = "start";
                                categoryAxis.axisColor = "#DADADA";
                                categoryAxis.axisAlpha = 1;
                                categoryAxis.dashLength = 5;

                                // value
                                var valueAxis = new AmCharts.ValueAxis();
                                valueAxis.stackType = "3d"; // This line makes chart 3D stacked (columns are placed one behind another)
                                valueAxis.gridAlpha = 0.2;
                                valueAxis.axisColor = "#DADADA";
                                valueAxis.axisAlpha = 1;
                                valueAxis.dashLength = 5;
                                valueAxis.unit = "%";
                                chart.addValueAxis(valueAxis);

                                // GRAPHS
                                // first graph
                                var graph1 = new AmCharts.AmGraph();
                                graph1.title = "Attendance";
                                graph1.valueField = "categrory";
                                graph1.type = "column";
                                graph1.lineAlpha = 0;
                                graph1.lineColor = "#87CEFA";
                                graph1.fillAlphas = 1;
                                graph1.balloonText = " [[category]] Student in Class: [[value]]";
                                chart.addGraph(graph1);
                                chart.write("chartdiv");

                            });
                }

                $("#go").click(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var classname = document.getElementById("id_class_name").value;
                    var sectionname = document.getElementById("id_section_name").value;
                    var attendanceDate = document.getElementById("attendanceDate").value;


                    var url = '/school/attendanceDashboard/';
                    ViewAttendanceDashboard(url, academic_year, classname, sectionname, attendanceDate);
                });


                $("#submit").click(function () {
                    var classname = document.getElementById("id_dashboard_class_name").value;
                    var sectionname = document.getElementById("id_dashboard_section_name").value;
                    var from_date = document.getElementById("fromDate").value;
                    var to_date = document.getElementById("toDate").value;
                    var academic_years = document.getElementById("id_dashboard_academic_years").value;

                    if (validate(classname, sectionname, from_date, to_date) == true) {
                        var url = '/school/ViewAttendanceTrend/';
                        ViewAttendanceTrend(url, academic_years, classname, sectionname, from_date, to_date)
                    }

                });

                $("#id_class_name").change(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var class_name = document.getElementById("id_class_name").value;
                    var url = '/school/view_attendance_section_detail/';
                    ViewSectionDetailAttendance(url, academic_year, class_name);
                });

                $("#id_academic_years").change(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year);
                });
                {#var academic_year = document.getElementById("id_academic_years").value;#}
                {#var url1 = '/school/viewAcademicDetails/';#}
                {#viewAcademicDetails(url1, academic_year);#}


                $("#id_dashboard_class_name").change(function () {
                    var academic_year = document.getElementById("id_dashboard_academic_years").value;
                    var class_name = document.getElementById("id_dashboard_class_name").value;
                    var url = '/school/viewSectionDetails/';
                    dashboardViewSectionDetailAttendance(url, academic_year, class_name);
                });

                $("#id_dashboard_academic_years").change(function () {
                    var academic_year = document.getElementById("id_dashboard_academic_years").value;
                    var url1 = '/school/viewAcademicDetails/';
                    dashnoardViewAcademicDetails(url1, academic_year);
                });

            });

            function validate(classname, sectionname, from_date, to_date) {
                var flag = true;


                if (classname == 'Please Select') {
                    if ($("#id_dashboard_class_name").parent().next(".validation").length == 0) {
                        $("#id_dashboard_class_name").css("border", "solid 1px red");
                        $("#id_dashboard_class_name").parent().after("<div id='hide_error_01' class='validation' style='color:red;margin-bottom: 20px;'>Please select class</div>");
                    }
                    flag = false;
                } else {
                    $("#id_dashboard_class_name").css("border", "");
                    $("#hide_error_01").hide();
                }
                if (sectionname == 'Please Select' || sectionname == '' || sectionname == null) {
                    if ($("#id_dashboard_section_name").parent().next(".validation").length == 0) {
                        $("#id_dashboard_section_name").css("border", "solid 1px red");
                        $("#id_dashboard_section_name").parent().after("<div id='hide_error_02' class='validation' style='color:red;margin-bottom: 20px;'>Please select section</div>");
                    }
                    flag = false;
                } else {
                    $("#id_dashboard_section_name").css("border", "");
                    $("#hide_error_02").hide();
                }
                if (from_date == '') {
                    if ($("#fromDate").parent().next(".validation").length == 0) {
                        $("#fromDate").css("border", "solid 1px red");
                        $("#fromDate").parent().after("<div id='hide_error_03' class='validation' style='color:red;margin-bottom: 20px;'>Please Select From Date</div>");
                    }
                    flag = false;

                } else {
                    $("#fromDate").css("border", "");
                    $("#hide_error_03").hide();
                }
                if (to_date == '') {
                    if ($("#toDate").parent().next(".validation").length == 0) {
                        $("#toDate").css("border", "solid 1px red");
                        $("#toDate").parent().after("<div id='hide_error_04' class='validation' style='color:red;margin-bottom: 20px;'>Please Select To Date</div>");
                    }
                    flag = false;

                } else {
                    $("#toDate").css("border", "");
                    $("#hide_error_04").hide();
                }
                if (to_date <= from_date) {
                    if ($("#toDate").parent().next(".validation").length == 0) {
                        $("#toDate").css("border", "solid 1px red");
                        $("#toDate").parent().after("<div id='hide_error_05' class='validation' style='color:red;margin-bottom: 20px;'>ToDate date should greater than FromDate</div>");
                    }
                    flag = false;
                } else {
                    $("#toDate").css("border", "");
                    $("#hide_error_05").hide();
                }

                return flag;
            }

            function ViewSectionDetailAttendance(url, academic_year, class_name) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        academic_year: academic_year,
                        class_name: class_name
                    },
                })
                    .done(function (data) {
                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                        }
                    });
            }

            function ViewAttendanceTrend(url, academic_years, class_name, section_name, from_date, to_date) {

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        class_name: class_name,
                        section_name: section_name,
                        from_date: from_date,
                        to_date: to_date,
                        academic_years: academic_years,
                    },
                })

                    .done(
                        function (data) {

                            console.log(data[0])

                            var chart;

                            var chartData = [{
                                AttendanceStatus: "Present",
                                categrory: data[1],
                            },
                                {
                                    AttendanceStatus: "Late",
                                    categrory: data[2],
                                },
                                {
                                    AttendanceStatus: "Excused",
                                    categrory: data[6],
                                },
                                {
                                    AttendanceStatus: "Medical",
                                    categrory: data[4],
                                },
                                {
                                    AttendanceStatus: "Absent",
                                    categrory: data[3],
                                },
                                {
                                    AttendanceStatus: "Not Taken",
                                    categrory: data[5],
                                },
                                {
                                    AttendanceStatus: "Total",
                                    categrory: data[0],
                                },
                            ];


                            // SERIAL CHART
                            chart = new AmCharts.AmSerialChart();
                            chart.dataProvider = chartData;
                            chart.categoryField = "AttendanceStatus";
                            chart.fontSize = 14;
                            chart.startDuration = 1;
                            chart.plotAreaFillAlphas = 0.2;
                            // the following two lines makes chart 3D
                            chart.angle = 30;
                            chart.depth3D = 40;

                            // AXES
                            // category
                            var categoryAxis = chart.categoryAxis;
                            categoryAxis.gridAlpha = 0.2;
                            categoryAxis.gridPosition = "start";
                            categoryAxis.axisColor = "#DADADA";
                            categoryAxis.axisAlpha = 1;
                            categoryAxis.dashLength = 5;

                            // value
                            var valueAxis = new AmCharts.ValueAxis();
                            valueAxis.stackType = "3d"; // This line makes chart 3D stacked (columns are placed one behind another)
                            valueAxis.gridAlpha = 0.2;
                            valueAxis.axisColor = "#DADADA";
                            valueAxis.axisAlpha = 1;
                            valueAxis.dashLength = 5;
                            valueAxis.unit = "%";
                            chart.addValueAxis(valueAxis);

                            // GRAPHS
                            // first graph
                            var graph1 = new AmCharts.AmGraph();
                            graph1.title = "Attendance";
                            graph1.valueField = "categrory";
                            graph1.type = "column";
                            graph1.lineAlpha = 0;
                            graph1.lineColor = "#87CEFA";
                            graph1.fillAlphas = 1;
                            graph1.balloonText = " [[category]] Student in Class: [[value]]";
                            chart.addGraph(graph1);
                            chart.write("chartdiv");

                        });
            }

        }

        function viewAcademicDetails(url1, academic_year) {
            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {
                    $('#id_class_name').empty();
                    $('#id_class_name').append('<option value="">All</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }
                });
        }

        function dashnoardGetCurrentAcademicYear() {
            $.ajax({
                url: '/school/getCurrentAcademicYear/',
                type: "GET",
            })
                .done(function (data) {
                    $('#id_dashboard_academic_years').empty();
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].current_academic_year == true) {
                            $('#id_dashboard_academic_years').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].year_name + '</option>');
                            var academic_year = document.getElementById("id_dashboard_academic_years").value;
                            var url1 = '/school/viewAcademicDetails/';
                            dashnoardViewAcademicDetails(url1, academic_year);
                        }
                        if (data[i].current_academic_year == false) {
                            $('#id_dashboard_academic_years').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].year_name + '</option>')
                        }
                    }
                });
        }

            function dashnoardViewAcademicDetails(url1, academic_year) {
                $.ajax({
                    url: url1,
                    type: "GET",
                    data: {
                        academic_year: academic_year
                    },
                })
                    .done(function (data) {
                        $('#id_dashboard_class_name').empty();
                        $('#id_dashboard_class_name').append('<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_dashboard_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }
                    });
            }

            function dashboardViewSectionDetailAttendance(url, academic_year, class_name) {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        academic_year: academic_year,
                        class_name: class_name
                    },
                })
                    .done(function (data) {
                        $('#id_dashboard_section_name').empty();
                        $('#id_dashboard_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_dashboard_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')
                        }

                    });
            }

    </script>

{% endblock %}

{% block content %}

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>

                <a href="{% url 'attendance:attendance_view' %}">Attendance</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Attendance Dashboard</span>

            </li>
        </ul>
    </div> <br>
    <div class="portlet-body">

        <div class="form-body">
            <form method="post" action="{% url 'attendance:studentDetailDashboard' %}" id="attendanceForm">
                {% csrf_token %}


                <div class="row">

                    <div class="col-md-2">
                        <h4>Academic Year </h4>

                        <div class="">
                            <select autocomplete="off" class="form-control" data-live-search="true"
                                    id="id_academic_years" name="year_name" required="" disabled>
                                <option style="display:none" selected="selected"
                                        value="{{ selected_year_id }}"> {{ selected_year_name }}</option>
                                {% for year in academic_year %}
                                    <option value="{{ year.id }}">{{ year.year_name }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="year_name" value="{{ selected_year_id }}">
                        </div>
                    </div>


                    <div class="col-md-2">
                        <h4>Select Class </h4>
                        <div class="">
                            <select autocomplete="off" class="form-control" id="id_class_name" name="class_name">
                                {#                                <option value="" selected="selected">All</option>#}

                                {% if class_rec.class_name %}
                                    <option style="display: none" value="{{ class_rec.id }}"
                                            selected="selected">{{ class_rec.class_name }}</option>
                                    {#                                        <option value="">Please Select</option>#}
                                    <option value="">All</option>
                                {% else %}
                                    {#                                    <option value="" selected="selected">Please Select</option>#}
                                    <option value="">All</option>
                                {% endif %}
                                {% for class in class_list %}
                                    <option value="{{ class.id }}">{{ class.class_name }}</option>
                                {% endfor %}
                            </select>
                            {#                            {{ ClassSection.class_name }}#}
                        </div>
                    </div>


                    <div class="col-md-2">
                        <h4>Select Section </h4>
                        <div class="">
                            <select autocomplete="off" class="form-control" id="id_section_name" name="section_name">
                                {% if section_rec.section_name %}
                                    <option style="display: none" value="{{ section_rec.id }}"
                                            selected="selected">{{ section_rec.section_name }}</option>
                                    {#                                        <option value="">Please Select</option>#}
                                    <option value="">All</option>
                                {% else %}
                                    {#                                    <option value="" selected="selected">Please Select</option>#}
                                    <option value="">All</option>
                                {% endif %}

                                {% for section in section_list %}
                                    <option value="{{ section.id }}">{{ section.section_name }}</option>
                                {% endfor %}
                            </select>
                            {#                            {{ ClassSection.section_name }}#}
                        </div>
                    </div>


                    <div class="col-md-2">
                        <h4>Date: </h4>
                        <div>
                            <input type="date" name="date" id="attendanceDate" class="form-control" value='{{ date }}'>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button type="submit" class="btn blue btn-block" id="go" style="margin-top: 38px;">GO</button>
                    </div>
                </div>
            </form>

            <br><br>
            <div class="row seven-cols">
                <div class="col-md-1 gap">
                    <a class="dashboard-stat dashboard-stat-light green-soft" style="padding-bottom:0px;" href="#">
                        <div class="col-md-12">
                            <div class="desc" id="top_p1" style="color:#FFFFFF; text-align:right; margin-top: 10%;">
                                <span data-counter="counterup" data-value="0" style="display:none"></span>
                            </div>
                            <div class="progress progress-striped active" style="visibility: hidden;">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     data-transitiongoal="55"></div>
                            </div>
                        </div>
                        <div class="visual">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="details" style="bottom: 30px;">
                            <div class="number">
                                <span data-counter="counterup" data-value="{{ student }}">{{ student }}</span>
                            </div>
                            <div class="desc">
                                Student
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-md-1 gap">
                    <a class="dashboard-stat dashboard-stat-light blue-soft" style="padding-bottom:0px;" href="#">
                        <div class="col-md-12">
                            <div class="desc" id="top_p1" style="color:#FFFFFF; text-align:right; margin-top: 10%;">
                                <span data-counter="counterup" data-value="0" style="display:none"></span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     data-transitiongoal="{{ present_percent }}"></div>
                            </div>
                        </div>
                        <div class="visual">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="details" style="bottom: 30px;">
                            <div class="number" id="top2">
                                <span data-counter="counterup" data-value="{{ present }}">{{ present }}</span>
                            </div>
                            <div class="desc">
                                Present
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-md-1 gap">
                    <a class="dashboard-stat dashboard-stat-light red-soft" style="padding-bottom:0px;" href="#">
                        <div class="col-md-12">
                            <div class="desc" id="top_p1" style="color:#FFFFFF; text-align:right; margin-top: 10%;">
                                <span data-counter="counterup" data-value="0" style="display:none"></span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     data-transitiongoal="{{ late_percent }}"></div>
                            </div>
                        </div>
                        <div class="visual">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="details" style="bottom: 30px;">
                            <div class="number" id="top3">
                                <span data-counter="counterup" data-value="{{ late }}">{{ late }}</span>
                            </div>
                            <div class="desc">
                                Late
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-md-1 gap">
                    <a class="dashboard-stat dashboard-stat-light purple-soft" style="padding-bottom:0px;" href="#">
                        <div class="col-md-12">
                            <div class="desc" id="top_p1" style="color:#FFFFFF; text-align:right; margin-top: 10%;">
                                <span data-counter="counterup" data-value="0" style="display:none"></span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     data-transitiongoal="{{ Absent_percent }}"></div>
                            </div>
                        </div>
                        <div class="visual">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="details" style="bottom: 30px;">
                            <div class="number" id="top4">
                                <span data-counter="counterup" data-value="{{ Absent }}">{{ Absent }}</span>
                            </div>
                            <div class="desc">
                                Absent
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-md-1 gap">
                    <a class="dashboard-stat dashboard-stat-light green-jungle" style=" padding-bottom:0px;" href="#">
                        <div class="col-md-12">
                            <div class="desc" id="top_p1" style="color:#FFFFFF; text-align:right; margin-top: 10%;">
                                <span data-counter="counterup" data-value="0" style="display:none"></span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     data-transitiongoal="{{ Medical_percent }}"></div>
                            </div>
                        </div>
                        <div class="visual">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="details" style="color:#FFFFFF; bottom: 30px;">
                            <div class="number" id="top5">
                                <span data-counter="counterup" data-value="{{ Medical }}">{{ Medical }}</span>
                            </div>
                            <div class="desc">
                                Medical
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-md-1 gap">
                    <a class="dashboard-stat dashboard-stat-light yellow-casablanca" style="padding-bottom:0px;"
                       href="#">
                        <div class="col-md-12" style="bottom:0;">
                            <div class="desc" id="top_p1" style="color:#FFFFFF; text-align:right; margin-top: 10%;">
                                <span data-counter="counterup" data-value="0" style="display:none"></span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     data-transitiongoal="{{ Not_Taken_percent }}"></div>
                            </div>
                        </div>
                        <div class="visual">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="details" style="color:#FFFFFF; bottom: 30px;">
                            <div class="number" id="top6">
                                <span data-counter="counterup" data-value="{{ Not_Taken }}">{{ Not_Taken }}</span>
                            </div>
                            <div class="desc">
                                Not Taken
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-md-1 gap">
                    <a class="dashboard-stat dashboard-stat-light purple-medium" style="padding-bottom:0px;" href="#">
                        <div class="col-md-12" style="bottom:0;">
                            <div class="desc" id="top_p1" style="color:#FFFFFF; text-align:right; margin-top: 10%;">
                                <span data-counter="counterup" data-value="0" style="display:none"></span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     data-transitiongoal="{{ Exclused_percent }}"></div>
                            </div>
                        </div>
                        <div class="visual">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="details" style="color:#FFFFFF; bottom: 30px;">
                            <div class="number" id="top7">
                                <span data-counter="counterup" data-value="{{ Exclused }}">{{ Exclused }}</span>
                            </div>
                            <div class="desc">
                                Excused
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="portlet light portlet-fit ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span style="cursor: pointer" class="caption-subject font-green bold uppercase" onclick="window.location= '{% url "attendance:attendanceDetails" %}'"> Attendance Marking Time </span>
                            </div>
                        </div>

                        <div class="portlet-body" style="height: 700px">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                   id="sample_1" width="110%">
                            
                                <thead>
                                <tr role="row">
                                    <th style="display: none">ID</th>
                                    <th style="width: 50%"> Class Teacher</th>
                                    <th style="width: 50px"> Class</th>
                                    <th style="width: 50px"> Section</th>
                                    <th> Time</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for academic_rec in academic_class_rec_list %}
                                    <tr style="cursor: pointer;" name="data" id="body">
                                        <td style="display: none">{{ academic_rec.id }}</td>
                                        <td>{{ academic_rec.acd_rec.staff.get_pura_name }}</td>
                                        <td>{{ academic_rec.acd_rec.class_name.class_name }}</td>
                                        <td>{{ academic_rec.acd_rec.section_name.section_name }}</td>
                                        <td>{{ academic_rec.time }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="portlet light portlet-fit ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span style="cursor: pointer" class="caption-subject font-green bold uppercase" onclick="window.location= '{% url "attendance:dailyAttendanceReport" %}'"> daily attendance report</span>
                            </div>
                            <spane class="caption caption-subject font-green bold uppercase" style="float: right">{{ current_date }}</spane>

                        </div>
                        <div class="portlet-body" style="height: 700px">
                            <table class=" table table-striped table-bordered table-hover table-checkable order-column"
                                   id="example" width="100%">
                                <thead>
                                <tr role="row">
                                    <th hidden></th>
                                    <th>Class</th>
                                    <th> Section</th>
                                    <th> Total</th>
                                    <th> Present</th>
                                    <th> Late</th>
                                    <th> Present%</th>
                                    <th> Absent</th>
                                    {% for abs_cat in absent_cat_list %}
                                        <th style="width: 100%"> {{ abs_cat }} </th>
                                    {% endfor %}
                                    <th> Net Attendance</th>
                                </tr>
                                </thead>

                                <tbody id="body">
                                {% if main_list %}
                                    {% for obj in main_list %}
                                        <tr id="{{ obj.student.id }}" style="cursor: pointer;" class="len" name="data">
                                            <td hidden></td>
                                            <td>{{ obj.classes }}</td>
                                            <td>{{ obj.sections }}</td>
                                            <td>{{ obj.student_cnt }}</td>
                                            <td>{{ obj.present_cnt }}</td>
                                            <td>{{ obj.late_cnt }}</td>
                                            <td>{{ obj.present_percentage }}</td>
                                            <td>{{ obj.absent_cnt }}</td>
                                            {% for cat in absent_cat_list %}
                                                <td>{{ obj|strindex:cat }}</td>
                                            {% endfor %}
                                            <td>{{ obj.net_attendance }}</td>
                                        </tr>
                                    {% endfor %}

                                    <td hidden></td>
                                    {% for rec in final_count %}
                                        <td class="dis_sr">{{ rec }}</td>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        <br>
                            <spane title="Export as Excel" id="excel"  style="float:right;margin-left: 15px;cursor: pointer;"><i class="fa fa-file-excel-o" style="margin-top: 5px;font-size:28px;color:green"></i></spane>
                            <spane title="Export as PDF"  id="pdf_print" class="hover"  style="cursor: pointer;float: right; margin-top: 5px"><i class="fa fa-file-pdf-o" style="font-size:28px;color:red"></i></spane>
                        </div>
                    </div>

                    <form id="excel_date" method="post"
                          action="{% url 'attendance:export_excel_daily_attendance_report' %}">
                        {% csrf_token %}
                        <input hidden type="text" name="excel_date" value="{{ date }}">
                    </form>

                    <form id="pdf_date" method="post"
                          action="{% url 'attendance:daily_attendance_report_pdf' %}">
                        {% csrf_token %}
                        <input hidden type="text" name="pdf_date" value="{{ date }}">
                    </form>

                </div>

                {% comment %}<div class="row">
                    <div class="col-md-6">
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class=" icon-layers font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">
                                        REGULAR ABSENTEES
                                        </span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="gchart_col_2" style="height:400px;">
                                    <div class="col-md-4" style="padding-top:3em;">
                                        <p style="color: #4C4FB9; font-weight: bold; text-align: center;">Last 3
                                            Days</p>
                                        <div style="background-color: #4C4FB9; height: 8em;"><p id="last_3_days"
                                                                                                style="font-size: 3em; color: white; text-align: center; padding: 14%;">{{ three_days_absent_student_count }}</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="padding-top:3em;">
                                        <p style="color: #3faba4; font-weight: bold; text-align: center;">Last 7
                                            Days</p>
                                        <div style="background-color: #3faba4;; height: 8em;"><p id="last_7_days"
                                                                                                 style="font-size: 3em; color: white; text-align: center; padding: 14%;">{{ seven_days_absent_student_count }}</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="padding-top:3em;">
                                        <p style="color: #F2784B; font-weight: bold; text-align: center;">Last 30
                                            Days</p>
                                        <div style="background-color: #F2784B; height: 8em;"><p id="last_30_days"
                                                                                                style="font-size: 3em; color: white; text-align: center; padding: 14%;">{{ thirtee_days_absent_student_count }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>


                                    <form method="post" action="{% url 'attendance:regularAbsenteesList' %}">
                                        {% csrf_token %}

                                        <div class="col-md-3">
                                            <br> <br>
                                            <button type="submit" class="btn blue btn-block" id="go"
                                                    style="margin-top: 38px; width: 300px">View
                                            </button>


                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class=" icon-layers font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">
                                       ATTENDANCE PERCENTAGE IN LAST 30 DAYS
                                        </span>
                                </div>

                            </div>
                            <div class="portlet-body">
                                <div id="gchart_col_2" style="height:400px;">
                                    <div class="col-md-4" style="padding-top:3em;">
                                        <div target="_blank" style="color:white"><p
                                                style="color: rgb(236, 37, 37); font-weight: bold; text-align: center;">
                                            Less Than 50%</p>
                                        </div>
                                        <div style="background-color: rgb(236, 37, 37); height: 8em; border-radius: 20px !important;">
                                            <span target="_blank" style="color:white"><p id="less_than_50"
                                                                                         style="font-size: 3em; color: white; text-align: center; padding: 14%;">{{ LessThanFiftyAttendance }}</p></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="padding-top:3em;">
                                        <div target="_blank" style="color:white"><p
                                                style="color: #B5CC1E; font-weight: bold; text-align: center;">Less Than
                                            75%</p>
                                        </div>
                                        <div style="background-color: #B5CC1E; height: 8em; border-radius: 20px !important;">
                                            <span href="./dashboard_view_table.php?token=36&amp;a=75" target="_blank"
                                                  style="color:white"><p id="less_than_75"
                                                                         style="font-size: 3em; color: white; text-align: center; padding: 14%;">{{ LessThanSeventyFiveAttendance }}</p></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="padding-top:3em;">
                                        <div target="_blank" style="color:white"><p
                                                style="color: #337AB7; font-weight: bold; text-align: center;">Less Than
                                            90%</p>
                                        </div>
                                        <div style="background-color: #337AB7; height: 8em; border-radius: 20px !important;">
                                            <span href="./dashboard_view_table.php?token=36&amp;a=90" target="_blank"
                                                  style="color:white"><p id="less_than_90"
                                                                         style="font-size: 3em; color: white; text-align: center; padding: 14%;">{{ LessThanNinetyAttendance }}</p></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <form method="post" action="{% url 'attendance:attendancePercentage' %}">
                                        {% csrf_token %}

                                        <div class="col-md-3">
                                            <br> <br>
                                            <button type="submit" class="btn blue btn-block"
                                                    style="margin-top: 38px; width: 300px">View
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>{% endcomment %}

            </div>
        </div>
    </div>

{% endblock %}
