{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->



    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .attendance {
            width: 100%;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE

            {#    $("#edit").attr('disabled', true);#}
            {#    $("#btntest").attr('disabled', true);#}

            var class_name = document.getElementById("id_class_name").value;
            var section_name = document.getElementById("id_section_name").value;

            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
            }
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: 'All',
                    text: 'All'
                }));
            }

            $(document).ready(function () {


                var body_len = $('#body .len');
                if (body_len.length > 0) {
                    {#          $("#select_all").prop("disable",false)#}
                    $('#select_all').attr('disabled', false);
                    $('#btntest').attr('disabled', false);
                }

                var select_all = document.getElementById("select_all"); //select all checkbox
                var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

                //select all checkboxes
                select_all.addEventListener("change", function (e) {
                    for (i = 0; i < checkboxes.length; i++) {
                        checkboxes[i].checked = select_all.checked;
                    }
                });

                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                        //uncheck "select all", if one of the listed checkbox item is unchecked
                        if (this.checked == false) {
                            select_all.checked = false;
                        }
                        //check "select all" if all checkbox items are checked
                        if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                            select_all.checked = true;
                        }
                    });
                }


                $(".chk_all").click(function () {
                    if (this.checked) {
                        $('.chk' + $(this).attr('id').split('_')[1]).prop('checked', true);
                    } else {
                        $('.chk' + $(this).attr('id').split('_')[1]).prop('checked', false);
                    }
                });

                {#                var select1_all = document.getElementById("select_1"); //select all checkbox#}
                {#                var checkboxes = document.getElementsByClassName("chk1"); //checkbox items#}
                {##}
                {#                var count=1;#}
                {#                $(".chk1").click(function () {#}
                {#                    var len = checkboxes.length;#}
                {#                    if (len == count) {#}
                {#                        $("#select_1").prop('checked', true);#}
                {#                        count=1;#}
                {#                    }#}
                {#                    count++;#}
                {#                });#}





                //select all checkboxes
                {#                            select1_all.addEventListener("change", function (e) {#}
                {##}
                {#                                alert('hello');#}
                {##}
                {#                                alert(select1_all.attr('id'));#}
                {##}
                {##}
                {#                                for (i = 0; i < checkboxes.length; i++) {#}
                {#                                    checkboxes[i].checked = select1_all.checked;#}
                {#                                }#}
                {#                            });#}
                {##}
                {#                            for (var i = 0; i < checkboxes.length; i++) {#}
                {#                                alert("hello"+ i);#}
                {#                                checkboxes[i].addEventListener('change', function (e) { //".checkbox" change#}
                {#                                    //uncheck "select all", if one of the listed checkbox item is unchecked#}
                {#                                    if (this.checked == false) {#}
                {#                                        select1_all.checked = false;#}
                {#                                    }#}
                {#                                    //check "select all" if all checkbox items are checked#}
                {#                                    if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {#}
                {#                                        select1_all.checked = true;#}
                {#                                    }#}
                {#                                });#}
                {#                            }#}


                (function ($) {
                    $.extend({
                        toDictionary: function (query) {
                            var parms = {};
                            var items = query.split("&"); // split
                            for (var i = 0; i < items.length; i++) {
                                var values = items[i].split("=");
                                var key = decodeURIComponent(values.shift());
                                var value = values.join("=")
                                parms[key] = decodeURIComponent(value);
                            }
                            return (parms);
                        }
                    })
                })(jQuery);


                (function ($) {
                    $.fn.serializeFormJSON = function () {
                        var o = [];
                        $(this).find('tr').each(function () {
                            var elements = $(this).find('input, textarea, select,checkbox,button')
                            console.log($(this));
                            if (elements.size() > 0) {
                                var serialized = $(this).find('input, textarea, select,checkbox,button').serialize();
                                var item = $.toDictionary(serialized);
                                o.push(item);
                            }
                        });
                        return o;
                    };
                })(jQuery);


                var now = new Date();
                var date_array = [];

                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);

                var today = now.getFullYear() + "-" + (month) + "-" + (day);

                date = $('#date').val();
                $('#attendanceDate').val(date);


                $(".checkbox").change(function () {
                    if (this.checked) {
                        //Do stuff

                        //alert("this is checked")

                    } else {
                        //alert("not checked")
                        $(this).closest('tr').find('td:eq(4)').html('');

                    }
                });


                {#		 	$('.attendance').hover(#}
                {#		 	        function() #}
                {#		 	        {#}
                {#		 #}
                {#		 	        	date = document.getElementById("attendanceDate").value;#}
                {#			 	      	  if(date != today)#}
                {#			 	      		  #}
                {#			 	      		  {#}
                {#			 	      	  console.log("datedate",date)#}
                {#			 	      	  $('.attendance').attr('disabled', true);#}
                {#		 	        	#}
                {#			 	      		  }#}
                {#		 	       });#}


                {#        $('.attendance').click(function() {#}
                {##}
                {#            if ($(this).val() == "Present") {#}
                {#                $(this).val("Absent").attr('class', 'attendance btn-danger');#}
                {#                $(this).val("Absent").parent().css({background:'red'});#}
                {##}
                {#            }else {#}
                {#                $(this).val("Present").attr('class', 'attendance btn-success');#}
                {#                $(this).val("Present").parent().css({background:'green'});#}
                {#            }#}
                {#        });#}
                var date_array = [];

                $('#categoryId').click(function () {


                    var url = "/school/getCategoryColor/";
                    var data = getCategoryWiseColor(url ,$(this).val(), date_array);


                    /*if ($(this).val() == "present") {

                        $('.attendance:checkbox:checked').each(function (i) {
                            $(this).parent().css({background: 'green'});
                            $(this).parent().children().text('P');
                            $(this).val('Present');

                            if (!$(this).parents().val()) {
                                var date_id = $(this).parents().attr('id');
                                var month = document.getElementById("month_id").value;
                                var temp_date = new Date().getFullYear() + '-' + month + '-' + date_id;
                            } else {
                                temp_date = $(this).parents().val()
                            }

                            var payload = {
                                'student_id': $(this).parents().parents('tr:eq(0)').attr('id'),
                                'attendance_date': temp_date,//$(this).parents().attr('id'),//$("#attendance_date_"+this.id).val(),
                                'status': $(this).val()
                            };
                            date_array.push(payload);

                        });
                    }*/

                    if ($(this).val() == "delete") {

                        $('.attendance:checkbox:checked').each(function (i) {
                            $(this).parent().css({background: 'gray'});
                            $(this).parent().children().text('N/A');
                            $(this).val('N/A');

                            if (!$(this).parents().val()) {
                                var date_id = $(this).parents().attr('id');
                                var month = document.getElementById("month_id").value;
                                var temp_date = new Date().getFullYear() + '-' + month + '-' + date_id;
                            } else {
                                temp_date = $(this).parents().val()
                            }

                            var payload = {
                                'student_id': $(this).parents().parents('tr:eq(0)').attr('id'),
                                'attendance_date': temp_date,//$(this).parents().attr('id'),//$("#attendance_date_"+this.id).val(),
                                'status': $(this).val()
                            };
                            date_array.push(payload);

                        });
                    }
                });


                $('#go').click(function () {

                    if (validate() == true) {
                        $("#attendanceForm").submit();
                        $(".edit").attr('disabled', false);
                        $("#btntest").attr('disabled', false);
                    }

                });


                $("#id_academic_years").change(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year);
                });


                $("#id_class_name").change(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var class_name = document.getElementById("id_class_name").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailAttendance(url, academic_year, class_name);
                    {#                document.getElementById("attendanceYear").value = academic_year;#}
                });


                $(".edit").click(function (event) {
                    event.preventDefault();
                    {#          var rawData = $('#nameGenderForm').serializeFormJSON();#}

                    if (date_array != '') {
                        var data = JSON.stringify(date_array);
                        var url = '/school/updateBulkAttendance/';
                        $('#categoryId').css("border", "");
                        updateAttendance(url, data)
                    } else {
                        $('.alert').show();
                        {#                        alert("No updations found!");#}


                        $('#context').text("No changes found!");
                    }
                });

                $('.close').click(function () {
                    $('.alert').hide();
                })


            });

            $("#id_class_name").change(function () {
                var classname = document.getElementById("id_class_name").value;
                if (classname == 'Please Select') {
                    $("#id_class_name").css("border", "solid 1px red");
                    $("#id_class_name_error").show();
                } else {
                    $("#id_class_name").css("border", "");
                    $("#id_class_name_error").hide();
                }
            });

            $("#id_section_name").change(function () {
                var sectionname = document.getElementById("id_section_name").value;
                if (sectionname == 'Please Select' || sectionname == '' || sectionname == null) {
                    $("#id_section_name").css("border", "solid 1px red");
                    $("#id_section_name_error").show();
                } else {
                    $("#id_section_name").css("border", "");
                    $("#id_section_name_error").hide();
                }
            });

            $("#month_id").change(function () {
                var month = document.getElementById("month_id").value;
                if (month == '' || month == null) {
                    $("#month_id").css("border", "solid 1px red");
                    $("#month_id_error").show();
                } else {
                    $("#month_id").css("border", "");
                    $("#month_id_error").hide();
                }
            });
            {#    var date_array = [];#}
            {##}
            {#    $('.abc').click(function() {#}
            {#        var payload = {#}
            {#            'student_id': $(this).parents('tr:eq(0)').attr('id'),#}
            {#            'attendance_date': $("#attendance_date_"+this.id).val(),#}
            {#            'status': $(this).children('input').val(),#}
            {#        };#}
            {#        date_array.push(payload);#}
            {#    });#}


            {#     $("#edit").click(function(event) {#}
            {#          event.preventDefault();#}
            {#          var rawData = $('#nameGenderForm').serializeFormJSON();#}
            {#          var data = JSON.stringify(date_array);#}
            {#          var url = '/school/updateBulkAttendance/';#}
            {#          updateAttendance(url,data)#}
            {#      });#}

        };

        function validate() {
            var flag = true;
            var classname = document.getElementById("id_class_name").value;
            var sectionname = document.getElementById("id_section_name").value;
            var month = document.getElementById("month_id").value;
            var year = document.getElementById("id_academic_years").value;

            if (classname == 'Please Select' || classname == '' || classname == null) {
                $("#id_class_name").css("border", "solid 1px red");
                $("#id_class_name_error").show();
                flag = false;
            } else {
                $("#id_class_name").css("border", "");
                $("#id_class_name_error").hide();
            }
            if (sectionname == 'Please Select' || sectionname == '' || sectionname == null) {
                $("#id_section_name").css("border", "solid 1px red");
                $("#id_section_name_error").show();
                flag = false;
            } else {
                $("#id_section_name").css("border", "");
                $("#id_section_name_error").hide();
            }
            if (month == '') {
                $("#month_id").css("border", "solid 1px red");
                $("#month_id_error").show();
                flag = false;
            } else {
                $("#month_id").css("border", "");
                $("#month_id_error").hide();
            }
            if (year == '') {
                $("#year").css("border", "solid 1px red");
                $("#year_error").show();
                flag = false;
            } else {
                $("#year").css("border", "");
                $("#year_error").hide();
            }

            return flag;
        }

        function saveAttendance(url, data, className, sectionName) {

            $.ajax({
                url: url,
                type: "POST",
                data: {
                    table: data,
                    className: className,
                    sectionName: sectionName,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
            })
                .done(function (data) {

                });
        }

        function updateAttendance(url, data, date) {

            $.ajax({
                url: url,
                type: "POST",
                data: {
                    table: data,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
            })
                .done(function (data) {
                    window.location.reload();
                });
        }


        function ViewSectionDetailAttendance(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="All">All</option>');

                        for (var i = 0; i < data.length; i++) {

                            /* console.log(data[i].apartment_flat_no) */
                            /* $('#id_apartment_flat_no').empty(); */

                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                            /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                             */
                        }


                    });


        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {
                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="All">All</option>');
                    for (var i = 0; i < data.length; i++) {

                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }
                });
        }


        function getCategoryWiseColor(url1, category, date_array) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    category: category
                },
            })
                .done(function (data) {


                    $('.attendance:checkbox:checked').each(function (i) {


                            $(this).parent().css({background:data['categories'][0]['color_code']});
                            {#$(this).parent().children().text( (data['categories'][0]['present_category_name']) ? 'P' : 'Ab');#}
                            $(this).parent().children().text( (data['categories'][0]['short_code']) ? data['categories'][0]['short_code'] : data['categories'][0]['present_category_name'] ? 'P' : 'Ab' );
                            $(this).val(data['categories'][0]['present_category_name'] ? data['categories'][0]['present_category_name'] : data['categories'][0]['present_category_name']);

                            if (!$(this).parents().val()) {
                                var date_id = $(this).parents().attr('id');
                                var month = document.getElementById("month_id").value;
                                var temp_date = new Date().getFullYear() + '-' + month + '-' + date_id;
                            } else {
                                temp_date = $(this).parents().val()
                            }

                            var payload = {
                                'student_id': $(this).parents().parents('tr:eq(0)').attr('id'),
                                'attendance_date': temp_date,//$(this).parents().attr('id'),//$("#attendance_date_"+this.id).val(),
                                'status': data['categories'][0]['status'],
                                'category': data['categories'][0]['present_category_name'] ? data['categories'][0]['present_category_name'] : data['categories'][0]['absent_category_name'] ? data['categories'][0]['absent_category_name'] : '',
                            };

                            date_array.push(payload);

                        });

                    $('.attendance').prop("checked", false);


                    return data;
                });
        }


       {% comment %} window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);{% endcomment %}

    </script>

{% endblock %}

{% block content %}


    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>

                <a href="{% url 'attendance:attendance_view' %}"> Attendance </a>
                <i class="fa fa-angle-right"></i>
            </li>

            {#                            <li>#}
            {##}
            {#                                <a href="{% url 'attendance:manage_attendance' %}">Manage Attendance </a>#}
            {#                                <i class="fa fa-angle-right"></i>#}
            {#                            </li>#}
            <li>

                <span>Bulk Attendance</span>
            </li>
        </ul>

    </div>



    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="alert alert-danger" role="alert" style="display: none;"><span id="context"></span>
        <button type="button" class="close" aria-hidden="true"></button>
    </div>


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Bulk Attendance</span><br><br>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'attendance:viewBulkAttendance' %}" id="attendanceForm">
                    {% csrf_token %}

                    <div class="row" id="studentDetal">
                        <div class="col-md-2">
                            <h4> Academic Years </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_years" name="year_name" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_year_id }}"> {{ selected_year_name }}</option>
                                    {% for year in academic_year %}
                                        <option value="{{ year.id }}">{{ year.year_name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="year_name" value="{{ selected_year_id }}">
                                <div id='id_academic_years_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select academic year
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Class </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_class_id }}"> {{ selected_class_name }}</option>
                                    {% for class in ClassDetails %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                                        {{ ClassSection.class_name }}#}
                                <div id='id_class_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select class
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_section_id }}"> {{ selected_section_name }}</option>
                                    {% for section in SectionDetails %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                                        {{ ClassSection.section_name }}#}
                                <div id='id_section_name_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select section
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4>Month: </h4>
                            <div>
                                <select id='month_id' name="month" class="form-control">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_month }}">{{ selected_month_name }} </option>
                                    <option value=''>--Select Month--</option>
                                    <option value='1'>Janaury</option>
                                    <option value='2'>February</option>
                                    <option value='3'>March</option>
                                    <option value='4'>April</option>
                                    <option value='5'>May</option>
                                    <option value='6'>June</option>
                                    <option value='7'>July</option>
                                    <option value='8'>August</option>
                                    <option value='9'>September</option>
                                    <option value='10'>October</option>
                                    <option value='11'>November</option>
                                    <option value='12'>December</option>
                                </select>
                                <div id='month_id_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select month
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="go" class="btn blue btn-block" style="margin-top: 38px;">GO
                            </button>
                        </div>

                        <div class="col-md-2">
                            <input type="button" class="btn blue btn-block edit" style="margin-top: 38px;"
                                   value="Update" style=""/>
                        </div>

                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="col-md-2" style="float: right;">
                            <select id='categoryId' name="category" class="form-control">
                                {% for category in  categories%}
                                    {% if category.absent_category_name %}
                                        <option value="{{ category.absent_category_name | lower}}">{{ category.absent_category_name | title}} </option>
                                    {% else %}
                                        <option value="{{ category.present_category_name | lower}}">{{ category.present_category_name | title }} </option>
                                    {% endif %}
                                {% endfor %}
{#                                <option value=''>--Select Action--</option>#}
{#                                <option value='present'>Present</option>#}
{#                                <option value='present_late'>Present Late</option>#}
{#                                <option value='absent'>Absent</option>#}
{#                                <option value='absent_medical'>Absent Medical</option>#}
{#                                <option value='absent_excused'>Absent Excused</option>#}
{#                                <option value='delete'>N/A</option>#}
                            </select>
                        </div>
                    </div>

                </form>


                <form id="nameGenderForm" method="post"
                      action="{% url 'attendance:exportBulkAttendance' %}">{% csrf_token %}
                    <div style=" width:100%; overflow: auto">

                        <table id="nameGenderTable" name="data"
                               class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                               id="sample_1" role="grid" aria-describedby="sample_1_info">
                            <thead>
                            <tr role="row">
                                <th><input type="checkbox" id="select_all" disabled/></th>
                                <th>Student ID</th>
                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Actions : activate to sort column ascending"> Student Name
                                </th>
                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Actions : activate to sort column ascending"> Class Name
                                </th>
                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Actions : activate to sort column ascending"> Section
                                </th>

                                {% for day in date_list %}
                                    {% if today >= forloop.counter %}
                                        <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                            aria-label=" Actions : activate to sort column ascending">  {{ forloop.counter }}
                                            <input type="checkbox" class="chk_all th_check{{ forloop.counter }}"
                                                   id="select_{{ forloop.counter }}"/>
                                        </th>
                                    {% else %}
                                        <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                            aria-label=" Actions : activate to sort column ascending">  {{ forloop.counter }}
                                            <input type="checkbox" class="chk_all th_check{{ forloop.counter }}"
                                                   id="select_{{ forloop.counter }}" disabled/>
                                        </th>
                                    {% endif %}
                                {% endfor %}
                                <th style="display: none"></th>
                            </tr>
                            </thead>
                            <tbody id="body">

                            {% for obj in attendanceList %}

                                <tr id="{{ obj.student.id }}" style="cursor: pointer;" class="len" name="data">
                                    <td style="text-align: center;">
                                        <input type="checkbox" name='check' class="checkbox source"
                                               value="{{ obj.student.id }}">
                                    </td>
                                    <td><input type="text" name="studentId" value='{{ obj.student.id }}'
                                               style="width: 47px;" readonly></td>
                                    <td><input type="text" name="studentName" value='{{ obj.student.get_all_name }}'
                                               readonly  title="{{ obj.student.get_all_name }}" style="border:0;width: 300px;"></td>
                                    <td><label>{{ obj.student.class_name }}</label></td>
                                    <td><label>{{ obj.student.section_name }}</label></td>

                                    {% for day in obj.student.bulk_attendance %}
                                        {% if day.attendance.status %}

{#                                            {% if day.attendance.present_category == 'Late' %}#}


                                                <input type="hidden" name="attendanceDate" id="selectedMonth"
                                                       value="{{ day.attendance.attendance_date }}">
                                                <input type="hidden" id="attendance_date_{{ forloop.counter }}"
                                                       name="attendance_date_{{ forloop.counter }}"
                                                       value="{{ day.attendance.attendance_date }}" class="form-control"
                                                       required="">
                                                <td class='abc' id="{{ forloop.counter }}"
                                                    style="width: 100px;background: {% if day.attendance.present_category%}{{ day.attendance.present_category.color_code }}{% elif  day.attendance.absent_category %}{{ day.attendance.absent_category.color_code }}{% elif day.attendance.status == 'Present' %}darkgreen{% else %}red{% endif %};"><span>{% if day.attendance.absent_category %}{{ day.attendance.absent_category.short_code }}{% elif day.attendance.present_category %}{{ day.attendance.present_category.short_code }}{% elif day.attendance.status == 'Present'%}P{% else %}Ab{% endif %}</span><input
                                                        type='checkbox'
                                                        class='attendance btn-success chk{{ forloop.counter }}'
                                                        name='student_{{ forloop.counter }}' value='{% if day.attendance.present_category%}{{ day.attendance.present_category }}{% else %}{{ day.attendance.absent_category }}{% endif %}'></td>



{#                                            {% else %}#}
{##}
{#                                                <input type="hidden" name="attendanceDate" id="selectedMonth"#}
{#                                                       value="{{ day.attendance.attendance_date }}">#}
{#                                                <input type="hidden" id="attendance_date_{{ forloop.counter }}"#}
{#                                                       name="attendance_date_{{ forloop.counter }}"#}
{#                                                       value="{{ day.attendance.attendance_date }}" class="form-control"#}
{#                                                       required="">#}
{#                                                <td class='abc' id="{{ forloop.counter }}"#}
{#                                                    style="width: 100px;background: green;"><span>P</span><input#}
{#                                                        type='checkbox'#}
{#                                                        class='attendance btn-success chk{{ forloop.counter }}'#}
{#                                                        name='student_{{ forloop.counter }}' value='Present'></td>#}
{#                                            {% endif %}#}
{#                                        {% elif day.attendance.status == 'Absent' %}#}
{#                                            {% if day.attendance.absent_category ==  'Medical' %}#}
{#                                                <input type="hidden" name="attendanceDate" id="selectedMonth"#}
{#                                                       value="{{ day.attendance.attendance_date }}">#}
{#                                                <input type="hidden" id="attendance_date_{{ forloop.counter }}"#}
{#                                                       name="attendance_date_{{ forloop.counter }}"#}
{#                                                       value="{{ day.attendance.attendance_date }}" class="form-control"#}
{#                                                       required="">#}
{#                                                <td class='abc' id="{{ forloop.counter }}" style="background: orange;">#}
{#                                                    <span>M</span><input type='checkbox'#}
{#                                                                         class='attendance btn-danger chk{{ forloop.counter }}'#}
{#                                                                         name='student_{{ forloop.counter }}'#}
{#                                                                         value='Medical'#}
{#                                                ></td>#}
{##}
{#                                            {% elif day.attendance.absent_category ==  'Excused' %}#}
{#                                                <input type="hidden" name="attendanceDate" id="selectedMonth"#}
{#                                                       value="{{ day.attendance.attendance_date }}">#}
{#                                                <input type="hidden" id="attendance_date_{{ forloop.counter }}"#}
{#                                                       name="attendance_date_{{ forloop.counter }}"#}
{#                                                       value="{{ day.attendance.attendance_date }}" class="form-control"#}
{#                                                       required="">#}
{#                                                <td class='abc' id="{{ forloop.counter }}"#}
{#                                                    style="background: rebeccapurple;">#}
{#                                                    <span>E</span><input type='checkbox'#}
{#                                                                         class='attendance btn-danger chk{{ forloop.counter }}'#}
{#                                                                         name='student_{{ forloop.counter }}'#}
{#                                                                         value='Excused'></td>#}
{##}
{#                                            {% else %}#}
{##}
{#                                                <input type="hidden" name="attendanceDate" id="selectedMonth"#}
{#                                                       value="{{ day.attendance.attendance_date }}">#}
{#                                                <input type="hidden" id="attendance_date_{{ forloop.counter }}"#}
{#                                                       name="attendance_date_{{ forloop.counter }}"#}
{#                                                       value="{{ day.attendance.attendance_date }}" class="form-control"#}
{#                                                       required="">#}
{#                                                <td class='abc' id="{{ forloop.counter }}" style="background: red;">#}
{#                                                    <span>A</span><input type='checkbox'#}
{#                                                                         class='attendance btn-danger chk{{ forloop.counter }}'#}
{#                                                                         name='student_{{ forloop.counter }}'#}
{#                                                                         value='Absent'#}
{#                                                ></td>#}
{#                                            {% endif %}#}


                                        {% else %}
                                            {% if given_month ==  current_month %}
                                                {% if today >= forloop.counter %}
                                                    {% if obj.student.joining_data.month ==  given_month %}
                                                        {% if obj.student.joining_data.day <=  forloop.counter %}
                                                            <td class='abc' id="{{ forloop.counter }}"
                                                                style="background: gray;">
                                                                <span>N/A</span><input
                                                                    type='checkbox'
                                                                    class='attendance btn chk{{ forloop.counter }}'
                                                                    name='student' value='N/A'>
                                                            </td>
                                                        {% else %}
                                                            <td class='abc' id="{{ forloop.counter }}"
                                                                style="background: gray;">
                                                                <span>N/A</span><input
                                                                    type='checkbox'
                                                                    class='attendance btn '
                                                                    name='student' value='N/A' disabled></td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td class='abc' id="{{ forloop.counter }}"
                                                            style="background: gray;">
                                                            <span>N/A</span><input
                                                                type='checkbox'
                                                                class='attendance btn chk{{ forloop.counter }}'
                                                                name='student' value='N/A'></td>
                                                    {% endif %}
                                                {% else %}
                                                    <td class='abc' id="{{ forloop.counter }}"
                                                        style="background: gray;">
                                                        <span>N/A</span><input
                                                            type='checkbox'
                                                            class='attendance btn '
                                                            name='student' value='N/A' disabled readonly>
                                                    </td>
                                                {% endif %}
                                            {% else %}
                                                {% if obj.student.joining_data <=  selected_month_rec %}
                                                    {% if selected_month_rec <=  current_month_date %}
                                                        {% if obj.student.joining_data.month ==  given_month %}
                                                            {% if obj.student.joining_data.day <=  forloop.counter %}
                                                                <td class='abc' id="{{ forloop.counter }}"
                                                                    style="background: gray;">
                                                                    <span>N/A</span><input
                                                                        type='checkbox'
                                                                        class='attendance btn chk{{ forloop.counter }}'
                                                                        name='student' value='N/A'>
                                                                </td>
                                                            {% else %}
                                                                <td class='abc' id="{{ forloop.counter }}"
                                                                    style="background: gray;">
                                                                    <span>N/A</span><input
                                                                        type='checkbox'
                                                                        class='attendance btn '
                                                                        name='student' value='N/A' disabled></td>
                                                            {% endif %}
                                                        {% else %}
                                                            <td class='abc' id="{{ forloop.counter }}"
                                                                style="background: gray;">
                                                                <span>N/A</span><input
                                                                    type='checkbox'
                                                                    class='attendance btn chk{{ forloop.counter }}'
                                                                    name='student' value='N/A'></td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td class='abc' id="{{ forloop.counter }}"
                                                            style="background: gray;">
                                                            <span>N/A</span><input
                                                                type='checkbox'
                                                                class='attendance btn '
                                                                name='student' value='N/A' disabled></td>
                                                    {% endif %}
                                                {% else %}
                                                    <td class='abc' id="{{ forloop.counter }}"
                                                        style="background: gray;">
                                                        <span>N/A</span><input
                                                            type='checkbox'
                                                            class='attendance btn'
                                                            name='student' value='N/A' disabled>
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <td style="display: none">{{ forloop.counter }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <input type="button" class="btn blue btn-block edit" value="Update"
                               style=" width: 20%; margin-left: 40%;"/>
                        <button type="button" class="btn blue btn-block" id="btntest"
                                style=" width: 20%; margin-left: 40%;" disabled>EXPORT
                        </button>
                    </div>
                </form>
                <form action="{% url 'attendance:exportBulkAttendance' %}" id="export_form" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="list_exp" class="source" id="checkList">
                    <input id="class_name" name="class_name" type="hidden" value="{{ selected_class_id }}">
                    <input id="section_name" name="section_name" type="hidden" value="{{ selected_section_id }}">
                    <input id="students_ids" name="students_ids" type="hidden" value="{{ students_ids }}">

                    {% if attendanceList %}

                        <input type="hidden" name="academic_year" value="{{ attendanceList.0.student.academic_year }}">
                    {% endif %}
                    {% for obj in attendanceList %}
                        <div class="col-md-2">
                            {#            <input id="class_name" name="class_name" type="hidden" value="{{  obj.student.class_name }}">#}
                            {#            <input  id="section_name" name="section_name" type="hidden" value="{{ obj.student.section_name }}">#}
                            {% for day in obj.student.bulk_attendance %}
                                {% if day.attendance.status == 'Present' %}
                                    <input type="hidden" name="attendanceDate" id="selectedMonth"
                                           value="{{ day.attendance.attendance_date }}">
                                {% else %}
                                    <input type="hidden" name="attendanceDate" id="selectedMonth"
                                           value="{{ day.attendance.attendance_date }}">
                                {% endif %}
                            {% endfor %}
                            {#            <button type="submit" class="btn blue btn-block" id ="export" style="margin-top: 38px;">Export</button>#}
                        </div>
                    {% endfor %}
                </form>

                <script>
                    {#    var year = 2000;#}
                    {#    var till = 2050;#}
                    {#    var options = "";#}
                    {#    for(var y=year; y<=till; y++){#}
                    {#      options += "<option>"+ y +"</option>";#}
                    {#    }#}
                    {#    document.getElementById("year").innerHTML = options;#}

                    function getSelectedChbox() {
                        var selchbox = [];// array that will store the value of selected checkboxes
                        // gets all the input tags in frm, and their number
                        var inpfields = document.getElementsByClassName('source');
                        var nr_inpfields = inpfields.length;
                        // traverse the inpfields elements, and adds the value of selected (checked) checkbox in selchbox
                        for (var i = 0; i < nr_inpfields; i++) {
                            if (inpfields[i].type == 'checkbox' && inpfields[i].checked == true) selchbox.push(inpfields[i].value);
                        }
                        return selchbox;
                    }

                    document.getElementById('btntest').onclick = function () {
                        document.getElementById('checkList').value = getSelectedChbox();
                        $('#export_form').submit();
                    };

                    function updateBulkAttendance(url, data) {
                        $.ajax({
                            url: url,
                            type: "POST",
                            data: {
                                'data': data,
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                            },
                        }).done(function (result) {
                            {#        console.log(JSON.stringify(result))#}
                            {#            window.open('data:application/vsnd.ms-excel,' + result);#}
                            window.location.href = "/school/manageBulkAttendance/";
                        });
                    }

                    {#    function show_month(){#}
                    {#        var dropVal = $(this).val();#}
                    {#        alert(dropVal);#}
                    {#        sessionStorage.setItem("SelectedItem", dropVal);#}
                    {#    }#}

                </script>
            </div>


            <!-- END FORM-->
        </div>
        <!-- BEGIN VALIDATION STATES-->


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <form method="post" action="{% url 'attendance:attendanceCategories' %}" id="categories">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <label>Absent Categories:</label><br>
                            {{ AbsentForm.absent_reason }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>

{% endblock %}

