{% extends "index.html" %}
{% load staticfiles %}
{% load coustom_tags %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->



    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->

    <style type="text/css">
        .attendance {
            width: 100%;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE


            $(document).ready(function () {

                $('#reportDate').change(function () {
                    $('#pdf_print').attr('style','margin-top: 38px;border: 0; background: white')
                    $('#pdf_print').attr('disabled',true)
                    $('#excel').attr('disabled',true)
                    $('#excel').attr('style','margin-top: 38px; border: 0; background: white')

                })
                $('#go').click(function () {
                    if ($('#reportDate') != '') {
                        $("#dailyAttendanceForm").submit();
                    }
                });
                $("#id_academic_years").change(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year);
                });


                $("#excel").click(function () {
                    $('#excel_date').submit();
                });

                $("#pdf_print").click(function () {
                    $('#pdf_date').submit();
                });
            });

        }


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'attendance:attendance_view' %}"> Attendance </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Daily Attendance Report</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <div class="alert alert-danger" role="alert" style="display: none;"><span id="context"></span>
        <button type="button" class="close" aria-hidden="true"></button>
    </div>


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Daily Attendance Report</span><br><br>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <!-- BEGIN FORM-->
                <form method="post" action="{% url 'attendance:dailyAttendanceReport' %}" id="dailyAttendanceForm">
                    {% csrf_token %}

                    <div class="row" id="studentDetal">
                        <div class="col-md-2">
                            <h4> Academic Years </h4>
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_years" name="year_name" required="" disabled>
                                    <option selected="selected"
                                            value="{{ year.id }}"> {{ year.year_name }}</option>

                                </select>
                                <input type="hidden" name="year_name" value="{{ year.id }}">
                                <div id='id_academic_years_error' class='validation'
                                     style='color:red;margin-bottom: 20px;display: none'>Please select academic year
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h4> Date </h4>
                            <div>
                                <input type="hidden" name="date" id="date" class="" value="{{ date }}">
                                <input type="date" value="{{ date }}" name="date" id="reportDate" class="form-control"
                                       required="">
                            </div>
                        </div>


                        <div class="col-md-2">
                            <button type="button" id="go" class="btn blue btn-block" style="margin-top: 38px;">GO
                            </button>
                        </div>

                        <div class="col-md-2">
{#                            <spane title="Export as PDF"  id="pdf_print" class="hover"  style="cursor: pointer;margin-left: 80%; margin-top: 5px"><i class="fa fa-file-pdf-o" style="font-size:28px;color:red"></i></spane>#}
{#                            <spane title="Export as Excel" id="excel"  style="margin-left: 15px;cursor: pointer;"><i class="fa fa-file-excel-o" style="margin-top: 5px;font-size:28px;color:green"></i></spane>#}
                            <button type="button" title="Export as Excel" id="excel"  style="margin-top: 38px;cursor: pointer; border: 0; background-color: white"><i class="fa fa-file-excel-o" style="margin-top: 5px;font-size:42px;color:green";></i></button>
                            <button type="button" title="Export as PDF" id="pdf_print"  style="margin-top: 38px;cursor: pointer; border: 0; background-color: white"><i class="fa fa-file-pdf-o" style="margin-top: 5px;font-size:42px;color:red";></i></button>
{#                            <input type="button" id="excel" class="btn blue btn-block edit" style="margin-top: 38px;" value="Excel" style=""/>#}
                        </div>

                    </div>
                    <br>
                    <hr>

                </form>
                <form id="excel_date" method="post"
                      action="{% url 'attendance:export_excel_daily_attendance_report' %}">
                    {% csrf_token %}
                    <input hidden type="text" name="excel_date" value="{{ date }}">
                </form>

                <form id="pdf_date" method="post"
                      action="{% url 'attendance:daily_attendance_report_pdf' %}">
                    {% csrf_token %}
                    <input hidden type="text" name="pdf_date" value="{{ date }}">
                </form>


                <form id="nameGenderForm" method="post"
                      action="{% url 'attendance:exportBulkAttendance' %}">{% csrf_token %}
                    <div style=" width:100%; overflow: auto">

                        <table id="nameGenderTable" name="data"
                               class="sub table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                               id="sample_1" role="grid" aria-describedby="sample_1_info">
                            <thead>
                            <tr role="row">
                            <th hidden></th>

                                <th>Class</th>
                                <th> Section</th>
                                <th> Total</th>
                                <th> Present</th>
                                <th> Late</th>
                                <th> Present%</th>
                                <th> Absent</th>
                                {% for abs_cat in absent_cat_list %}
                                    <th> {{ abs_cat }} </th>
                                {% endfor %}
                                <th> Net Attendance</th>
                            </tr>
                            </thead>
                            <tbody id="body">
                            {% if main_list %}
                                {% for obj in main_list %}
                                    <tr id="{{ obj.student.id }}" style="cursor: pointer;" class="len" name="data">
                                    <td hidden></td>
                                        <td style="text-align: center;">
                                            {{ obj.classes }}
                                        </td>
                                        <td>{{ obj.sections }}</td>
                                        <td>{{ obj.student_cnt }}</td>
                                        <td>{{ obj.present_cnt }}</td>
                                        <td>{{ obj.late_cnt }}</td>
                                        <td>{{ obj.present_percentage }}</td>
                                        <td>{{ obj.absent_cnt }}</td>
                                        {% for cat in absent_cat_list %}
                                            <td>{{ obj|strindex:cat }}</td>
                                        {% endfor %}
                                    <td>{{ obj.net_attendance }}</td>
                                    </tr>
                                {% endfor %}
                                <td hidden></td>
                                {% for rec in final_count %}
                                    <td>{{ rec }}</td>
                                {% endfor %}
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <!-- END FORM-->
        </div>
        <!-- BEGIN VALIDATION STATES-->


    </div>

{% endblock %}

