{% extends "index.html" %}
{% block ScriptBlock %}
    <script>

        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                window.setTimeout(function () {
                    $(".alert").fadeTo(500, 0).slideUp(500, function () {
                        $(this).remove();
                    });
                }, 4000);

                var forms = $('.len')
                if (forms.length > 0) {
                    $('#sub1').attr('disabled', false);
                }

                {#                $("#id_class_name").val("please select");#}
                {#                $("#id_section_name").val("please select");#}

                $("#id_class_name").change(function () {
                    var class_name = document.getElementById("id_class_name").value;
                    var academic_year = document.getElementById("id_academic_years").value;
                    var url = '/school/viewSectionDetails/';
                    ViewSectionDetailAttendance(url, academic_year, class_name);
                });
                $("#id_academic_years").change(function () {
                    var academic_year = document.getElementById("id_academic_years").value;
                    var url1 = '/school/viewAcademicDetails/';
                    viewAcademicDetails(url1, academic_year);
                });
                {#        var academic_year = document.getElementById("id_academic_years").value;#}
                {#        var url1 = '/school/viewAcademicDetails/';#}
                {#        viewAcademicDetails(url1,academic_year);#}

                {% comment %}$('#id_section_name').prepend(
                    '<option value="all">All </option>');

                $('#id_class_name').prepend(
                    '<option value="all"> All </option>');{% endcomment %}

                var class_name1 = document.getElementById("id_class_name").value;
                var section_name1 = document.getElementById("id_section_name").value;
                {#                alert("class_name1-- "+class_name1)#}
                {#                alert("{{ selected_class.class_name }}"+" section_name1-- "+section_name1)#}
                 {% if ClassDetails %}
                    if (class_name1 == '') {
                        {#                    alert("oo")#}
                        $('#id_class_name').val($('#id_class_name'));
                        $('#id_class_name').prepend($('<option>', {
                            value: 'All',
                            text: 'All'
                        }));
                    }
                    if (section_name1 == '') {
                        {#                    alert("lll")#}
                        $('#id_section_name').val($('#id_section_name'));
                        $('#id_section_name').prepend($('<option>', {
                            value: 'All',
                            text: 'All'
                        }));
                    }
                 {% else%}
                     if (class_name1 == '') {
                        {#                    alert("oo")#}
                        $('#id_class_name').val($('#id_class_name'));
                        $('#id_class_name').prepend($('<option>', {
                            value: '',
                            text: 'Please Select'
                        }));
                    }
                    if (section_name1 == '') {
                        {#                    alert("lll")#}
                        $('#id_section_name').val($('#id_section_name'));
                        $('#id_section_name').prepend($('<option>', {
                            value: '',
                            text: 'Please Select'
                        }));
                    }


                {% endif %}
            });

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }

        function saveFunc() {
            {#            alert('hi');#}
            {#            return false;#}
            var fromDate = document.getElementById("fromDate").value;
            var toDate = document.getElementById("toDate").value;
            if (validate() == true) {
                $("#exportForm").submit();
            }


        }


        function save_export() {
            {#            alert('hi');#}
            {#            return false;#}
            var fromDate = document.getElementById("fromDate").value;
            var toDate = document.getElementById("toDate").value;
            if (validate() == true) {
                $("#export_list").submit();
            }


        }


        function validate() {
            var flag = true;
            var fromDate_value = document.getElementById("fromDate").value;
            var toDate_value = document.getElementById("toDate").value;
            var id_class_value = document.getElementById("id_class_name").value;
            var id_section_value = document.getElementById("id_section_name").value;

            if (fromDate_value.length < 1) {
                $('#fromDate').css("border", "1px solid red");
                if ($("#fromDate").parent().next(".validation").length == 0) {
                    $("#fromDate").parent().after("<div id='hide_error_01' class='validation' style='color:red;margin-bottom: 20px;'>Please enter From Date</div>");
                }
                flag = false;
            }
            else {
                $('#fromDate').css("border", '');
                $('#hide_error_01').hide();
            }

            if (toDate_value.length < 1) {
                $('#toDate').css("border", "1px solid red");
                if ($("#toDate").parent().next(".validation").length == 0) {
                    $("#toDate").parent().after("<div id='hide_error_02' class='validation' style='color:red;margin-bottom: 20px;'>Please enter To Date</div>");
                }
                flag = false;
            }
            else {
                $('#toDate').css("border", '');
                $('#hide_error_02').hide();
            }

            if (toDate_value < fromDate_value) {

                $('#toDate').css("border", "1px solid red");
                $("#toDate").parent().after("<div id='hide_error_02' class='validation' style='color:red;margin-bottom: 20px;'>To Date should not be  greater than the From Date</div>");
                flag = false;
            }

            if (id_class_value.length < 1) {
                $('#id_class_name').parent().css("border", "1px solid red");
                if ($("#id_class_name").parent().next(".validation").length == 0) {
                    $("#id_class_name").parent().after("<div id='hide_error_03' class='validation' style='color:red;margin-bottom: 20px;'>Please select class</div>");
                }
                flag = false;
            }
            else {
                $('#id_class_name').css("border", '');
                $('#hide_error_03').hide();
            }

            if (id_section_value.length < 1) {
                $('#id_section_name').parent().css("border", "1px solid red");
                if ($("#id_section_name").parent().next(".validation").length == 0) {
                    $("#id_section_name").parent().after("<div id='hide_error_04' class='validation' style='color:red;margin-bottom: 20px;'>Please select section</div>");
                }
                flag = false;
            }
            else {
                $('#id_section_name').css("border", '');
                $('#hide_error_04').hide();
            }

            return flag;
        }

        function viewAcademicDetails(url1, academic_year) {
            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {

                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="All">All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }
                });
        }

        function ViewSectionDetailAttendance(url, academic_year, class_name) {
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })
                .done(function (data) {
                    $('#id_section_name').empty();
                    $('#id_section_name').append(
                        '<option value="All"> All </option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#id_section_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].section_name + '</option>')
                    }
                });
        }

    </script>
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    {% csrf_token %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'attendance:attendance_view' %}"> Attendance </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <span>Import/Export</span>
            </li>
        </ul>

    </div>


    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Export Attendance</span><br><br>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'attendance:exportStudentAttendance' %}" id="exportForm">
                    {% csrf_token %}
                    <div id="errors" style="color: Black; font-weight: bold;" class="alert1"></div>
                    <div class="row">
{#                        <div class="col-md-2">#}
{#                            <h4>From Date: </h4>#}
{#                            <div>#}
{#                                <input type="text" name="from_Date" id="fromDate" class="form-control"#}
{#                                       value='{{ from_Date }}' required="">#}
{#                            </div>#}
{#                        </div>#}
                    <div class="col-md-2">
                            <h4>From Date: </h4>
                            <div class="input-group date" data-provide="datepicker">
                                    <input type="text" placeholder="mm/dd/yyyy" name="from_Date" id="fromDate" class="form-control"
                                       value='{{ from_Date }}' required>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                         </div>
                         <div class="col-md-2">
                            <h4>To Date: </h4>
                            <div class="input-group date" data-provide="datepicker">
                               <input type="text" placeholder="mm/dd/yyyy" name="to_Date" id="toDate" class="form-control"
                                       value='{{ to_Date }}' required="">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                         </div>


{##}
{#                        <div class="col-md-2">#}
{#                            <h4>To Date: </h4>#}
{##}
{#                            <div>#}
{#                                <input type="date" name="to_Date" id="toDate" class="form-control"#}
{#                                       value='{{ to_Date }}' required="">#}
{#                            </div>#}
{#                        </div>#}


                        <div class="col-md-2">
                            <h4> Year </h4>
                            <div class="">

                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_years" name="year_name" required="" disabled>
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_year_id }}"> {{ selected_year_name }}</option>
                                    {% for year in academic_year %}
                                        <option value="{{ year.id }}">{{ year.year_name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="year_name" value="{{ selected_year_id }}">
                            </div>


                        </div>


                        <div class="col-md-2">
                            <h4> Class </h4>
                            <div class="">

                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_class_name" name="class_name" required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_class_id }}"> {{ selected_class_name }}</option>
                                    {% for class in ClassDetails %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>


                            </div>
                        </div>


                        <div class="col-md-2">
                            <h4> Section </h4>
                            <div class="">

                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                        required="">
                                    <option style="display:none" selected="selected"
                                            value="{{ selected_section_id }}"> {{ selected_section_name }}</option>
                                    {% for section in SectionDetails %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <button type="button" onClick="saveFunc()" class="btn blue btn-block" id="go"
                                    style="margin-top: 38px;">Go
                            </button>
                        </div>
                    </div>
                </form>
                <br>
                <div class="row">
                    <form action="{% url 'attendance:export_student_attendance_list' %}"
                          id="export_list"
                          class="form-horizontal" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input hidden type='text' id="task" name="task"/>
                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                               id="sample_1">
                            <thead>
                            <tr>
                                <th style="display:none;">Id</th>
                                <th>Sr No.</th>
                                <th>Student Name</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Status</th>
                                <th>Absent Category</th>
                                <th>Absent Reason</th>
                                <th>Present Category</th>
                                <th>Date</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in student_list %}
                                <tr class="len">
                                    <td style="display:none;">{{ forloop.counter }}</td>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ obj.student.get_all_name }}</td>
                                    <td>{{ obj.student.academic_class_section.class_name.class_name }}</td>
                                    <td>{{ obj.student.academic_class_section.section_name.section_name }}</td>
                                    <td>{{ obj.status }}</td>
                                    <td>{{ obj.absent_category|default_if_none:" " }}</td>
                                    <td> {{ obj.absent_reason|default_if_none:" "  }}</td>
                                    <td>{{ obj.present_category|default_if_none:" " }}</td>

{#                                    {% if obj.present_category.present_category_name == 'Late' %}#}
{#                                        <td> Yes</td>#}
{#                                    {% else %}#}
{#                                        <td> No</td>#}
{#                                    {% endif %}#}
                                    <td> {{ obj.attendancedate }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12 text-center">

                                    <input hidden type="date" name="e_from_Date" id="fromDate" value='{{ from_Date }}'>
                                    <input hidden type="date" name="e_to_Date" id="toDate" value='{{ to_Date }}'>
                                    <input hidden id="e_id_academic_years" name="e_year_name"
                                           value="{{ selected_year_id }}">
                                    <input hidden id="e_id_section_name" name="e_section_name"
                                           value="{{ selected_section_id }}">
                                    <input hidden id="e_id_class_name" name="e_class_name"
                                           value="{{ selected_class_id }}">
                                    {#                                    <input id="e_id_class_name" name="e_class_name" >#}
                                    <button type="button" onClick="save_export()" class="btn blue btn btn-primary"
                                            id="sub1" disabled>
                                        Export
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>


    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Import Attendance</span><br><br>
            </div>
        </div>
        <form action="{% url 'attendance:saveImportStudentAttendance' %}" id="importForm" class="form-horizontal"
              method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="tiles">
                        <div class="row">
                            <div class="col-md-4"><br>
                                <span> {{ AttendanceExcel.attendance_excel }}</span>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn blue btn-block">IMPORT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}