{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->
    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);

</script>
{% block content %}

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'attendance:attendance_view' %}"> Attendance </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Manage Attendance</span>
            </li>
        </ul>
    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="tiles">

                {% if 'attendance.can_view_attendance' and 'attendance.can_view_manage_attendance' and 'attendance.can_view_attendance_add' in perms %}
                    <div class="tile bg-red-sunglo" style="height: 170px !important;width: 500px !important;">
                        <a href="{% url 'attendance:attendanceDetails' %}">
                            <div class="tile-body">
                                <i class="fa icon-user-follow"></i>

                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">

                                <div class="name"><h3>Attendance Add</h3></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if 'attendance.can_view_attendance' and 'attendance.can_view_manage_attendance' and 'attendance.can_view_attendance_edit' in perms %}
                    <div class="tile bg-blue-steel" style="height: 170px !important;width: 500px !important;">
                        <a href="{% url 'attendance:attendanceEdit' %}">
                            <div class="tile-body">
                                <i class="icon-magnifier"></i>
                                <!--<img src="../assets/pages/media/profile/photo1.jpg" alt="">-->
                                <!-- <h4>Announcements</h4>
                                 <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>-->
                            </div>
                            <div class="tile-object">

                                <div class="name"><h3>Attendance Edit</h3></div>
                                <!--<div class="number"> 24 Jan 2013 </div>-->
                            </div>
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


    <!-- END VALIDATION STATES-->


{% endblock %}
                        
