{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            var class_name = document.getElementById("id_class_name").value;
            var section_name = document.getElementById("id_section_name").value;
            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'

                }));
            }

            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: 'Please Select',
                    text: 'Please Select'
                }));
            }

            $('#go').click(function () {
                if (validate() == true) {
                    $("#attendanceForm").submit();
                }
            });

            $("#id_academic_years").change(function () {
                var academic_year = document.getElementById("id_academic_years").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year);
            });
            {#    var academic_year = document.getElementById("id_academic_years").value;#}
            {#    var url1 = '/school/viewAcademicDetails/';#}
            {#    viewAcademicDetails(url1, academic_year);#}

            $("#id_class_name").change(function () {
                var academic_year = document.getElementById("id_academic_years").value;
                var class_name = document.getElementById("id_class_name").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailAttendance(url, academic_year, class_name);
            });

            $("#id_class_name").change(function () {
                var classname = document.getElementById("id_class_name").value;
                if (classname == 'Please Select' || classname == '' || classname == null) {
                    $("#id_class_name").css("border", "solid 1px red");
                    $("#id_class_name_error").show();
                } else {
                    $("#id_class_name").css("border", "");
                    $("#id_class_name_error").hide();
                }
            });

            $("#id_section_name").change(function () {
                var sectionname = document.getElementById("id_section_name").value;
                if (sectionname == 'Please Select' || sectionname == '' || sectionname == null) {
                    $("#id_section_name").css("border", "solid 1px red");
                    $("#id_section_name_error").show();
                } else {
                    $("#id_section_name").css("border", "");
                    $("#id_section_name_error").hide();
                }
            });

        }

        function ViewSectionDetailAttendance(url, academic_year, class_name) {
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    academic_year: academic_year,
                    class_name: class_name
                },
            })
                .done(function (data) {
                    $('#id_section_name').empty();
                    $('#id_section_name').append(
                        '<option value="">Please select</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#id_section_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].section_name + '</option>')

                    }
                });
        }

        function validate() {
            var flag = true;
            var classname = document.getElementById("id_class_name").value;
            var sectionname = document.getElementById("id_section_name").value;

            if (classname == 'Please Select') {
                $("#id_class_name").css("border", "solid 1px red");
                $("#id_class_name_error").show();
                flag = false;
            } else {
                $("#id_class_name").css("border", "");
                $("#id_class_name_error").hide();
            }
            if (sectionname == 'Please Select' || sectionname == '' || sectionname == null) {
                $("#id_section_name").css("border", "solid 1px red");
                $("#id_section_name_error").show();
                flag = false;
            } else {
                $("#id_section_name").css("border", "");
                $("#id_section_name_error").hide();
            }
            return flag;
        }

        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(function (data) {
                    $('#id_class_name').empty();
                    $('#id_class_name').append(
                        '<option value="">Please Select</option>');
                    for (var i = 0; i < data.length; i++) {

                        $('#id_class_name').append(
                            '<option value="' + data[i].id + '">'
                            + data[i].class_name + '</option>')
                    }
                });
        }
    </script>
{% endblock %}
{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'attendance:attendance_view' %}">Attendance</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a href="{% url 'attendance:attendanceDashboard' %}">Attendance Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Regular Absentees</span>

            </li>
        </ul>
    </div>
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>

                <span class="caption-subject font-red sbold uppercase">REGULAR ABSENTEES</span><br><br>


            </div>
        </div>


        <div class="portlet-body">

        <div class="form-body">
            <form method="post" action="{% url 'attendance:regularAbsenteesDetail' %}" id="attendanceForm">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <h4>Academic Year </h4>
                        <div class="">
                            <select autocomplete="off" class="form-control" data-live-search="true" id="id_academic_years"
                                    name="year_name" required="" disabled>
                                <option style="display:none" selected="selected"
                                        value="{{ selected_year_id }}"> {{ selected_year_name }}</option>
                                {% for year in academic_year %}
                                    <option value="{{ year.id }}">{{ year.year_name }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="year_name" value="{{ selected_year_id }}">
                            <div id='id_academic_years_error' class='validation'
                                 style='color:red;margin-bottom: 20px;display: none'>Please select academic year
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <h4>Class </h4>
                        <div class="">
                            <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name"
                                    name="class_name" required="">
                                <option style="display:none" selected="selected"
                                        value="{{ selected_class.id }}"> {{ selected_class.class_name }}</option>
                                {% for class in ClassDetails %}
                                    <option value="{{ class.id }}">{{ class.class_name }}</option>
                                {% endfor %}
                            </select>
                            {#                                                        {{ YearClassSectionForm.class_name }}#}
                            <div id='id_class_name_error' class='validation'
                                 style='color:red;margin-bottom: 20px;display: none'>Please select class
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <h4>Section </h4>
                        <div class="">
                            <select autocomplete="off" class="form-control" id="id_section_name" name="section_name"
                                    required="">
                                <option style="display:none" selected="selected"
                                        value="{{ selected_section.id }}"> {{ selected_section.section_name }}</option>
                                {% for section in SectionDetails %}
                                    <option value="{{ section.id }}">{{ section.section_name }}</option>
                                {% endfor %}
                            </select>
                            {#                                                        {{ YearClassSectionForm.section_name }}#}
                            <div id='id_section_name_error' class='validation'
                                 style='color:red;margin-bottom: 20px;display: none'>Please select section
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button type="button" class="btn blue btn-block" id="go" style="margin-top: 38px;">GO</button>
                    </div>
                </div>
            </form>

            <div class="portlet-body">
                <div class="table-toolbar">

                </div>

                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Section</th>

                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for obj in absentList %}

                        <tr style="cursor: pointer;">
                            <td style="display:none;">{{ forloop.counter }}</td>
                            <td>{{ obj.student.get_all_name }}</td>
                            <td>{{ obj.student.academic_class_section.class_name }}</td>
                            <td>{{ obj.student.academic_class_section.section_name }}</td>
                            <td>{{ obj.attendancedate }}</td>
                            <td>{{ obj.status }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>

{% endblock %}