{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <Script>

        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                console.log("hiiii")
                $("#id_daily_attendance").change(function() {
                if(this.checked) {
                    $(this).val(true)
                }
                else{
                     $(this).val(false);
                }
});


                $("#update").click(function (event) {
                    var code = $("#id_reason_code").val();

                    if (/[^a-zA-Z0-9\-\/ ]/.test(code)) {
                        {#		        alert('Input is not alphanumeric');#}
                        if ($("#id_reason_code").parent().next(".validation").length == 0) {
                            $("#id_reason_code").css("border", "solid 1px red");
                            $("#id_reason_code").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;'>Input is not alphanumeric</div>");
                        }
                        return false;
                    }

                    var reason = $("#id_absent_reason").val();

                    if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        {#		        alert('Input is not characters');#}
                        if ($("#id_absent_reason").parent().next(".validation").length == 0) {
                            $("#id_absent_reason").css("border", "solid 1px red");
                            $("#id_absent_reason").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;float:right;margin-right:20px;'>Input must be characters only.</div>");
                        }
                        return false;
                    }

                });

                $("#id_reason_code").change(function () {

                    var code = $("#id_reason_code").val();

                    if (/[^a-zA-Z0-9\-\/ ]/.test(code)) {
                        {#		        alert('Input is not alphanumeric');#}
                        if ($("#id_reason_code").parent().next(".validation").length == 0) {
                            $("#id_reason_code").css("border", "solid 1px red");
                            $("#id_reason_code").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;'>Input is not alphanumeric</div>");
                        }
                        return false;
                    }

                    return true;
                });

                $("#id_absent_reason").change(function () {

                    var reason = $("#id_absent_reason").val();

                    if (/[^a-zA-Z\-\/ ]+/.test(reason)) {
                        {#		        alert('Input is not characters');#}
                        if ($("#id_absent_reason").parent().next(".validation").length == 0) {
                            $("#id_absent_reason").css("border", "solid 1px red");
                            $("#id_absent_reason").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;float:right;margin-right:20px;'>Input must be characters only.</div>");
                        }
                        return false;
                    }

                    return true;
                });


                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#edit").hide();

                    $('.form-control').prop("disabled", false);
                    $('#id_daily_attendance').prop("disabled", false);

                });


                $("#id_class_name")
                    .change(
                        function () {

                            class_name = document
                                .getElementById("id_class_name").value

                            var url = '/school/viewAcademic/';
                            viewAcademic(url, class_name)
                        });


            });

        }
        function viewAcademic(url, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    class_name: class_name
                },
            })

                .done(
                    function (data) {
                        console.log(data);


                        console.log(data[0].academic_year)
                        /* $('#id_apartment_flat_no').empty(); */
                        $('#id_academic_year').empty();
                        $('#id_academic_year').append('<option value="">Please select</option>');

                        $('#id_academic_year').append('<option value="' + data[0].id + '">' + data[0].academic_year + '</option>')

                        /* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
                         */


                    });
        }


    </Script>

{% endblock %}
{% block content %}

    {#  <form action="{% url 'attendance:save_updated_category' %}" id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">#}


    {% csrf_token %}

    <div class="col-md-12">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            </div>
        {% endfor %}


        <div class="page-bar" style="margin-bottom: 1px;">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{% url 'registration:home' %}">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="{% url 'attendance:attendance_view' %}">Attendance </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>

                    <a href="{% url 'attendance:category_detail' %}">View Absent-Categories</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span> Edit-Delete Absent-Categories </span>
                </li>
            </ul>

        </div>


        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">


                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Absent-Categories Details</span>
                </div>


            </div>
            <div class="portlet-body">


                <!-- BEGIN FORM-->
                <form action="{% url 'attendance:save_updated_category' %}" id="form_sample_1" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">


                    {% csrf_token %}


                    <div class="col-md-offset-3 col-md-9" style="margin: auto;">
                        <button type="button" class="btn green" id="edit">Edit</button>
                        <button type="submit" id="update" class="btn green" style="display:none;">Update</button>
                        <a data-toggle="modal" href="#static">
                            <button type="button" class="btn red">Delete</button>
                        </a>
                    </div>


                    <div class="form-body">

                        <input type="hidden" value="{{ categorylist.id }}" name="category_id"/>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Code:

                                </label>
                                <div class="col-md-2">
                                    <input autocomplete="off" class="form-control" id="id_reason_code"
                                           name="absent_category_code" type="text"
                                           value="{{ categorylist.absent_category_code }}" required=""
                                           readonly="readonly"/>
                                </div>
                            </div>
                            <div class="">
                                <label class="col-md-2 control-label">Absent Category:

                                </label>
                                <div class="col-md-2">
                                    <input autocomplete="off" class="form-control" id="id_absent_reason"
                                           name="absent_category_name" type="text"
                                           value="{{ categorylist.absent_category_name }}" required disabled/>
                                </div>
                            </div>
                        </div><br>
                            <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Short Code:

                                </label>
                                <div class="col-md-2">
                                    <input autocomplete="off" class="form-control" id="id_short_code"
                                           name="short_code" type="text"
                                           value="{{ categorylist.short_code }}" required disabled/>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Select Color:

                                </label>
                                <div class="col-md-2">
                                    <input autocomplete="off" class="form-control" id="id_color_code"
                                           name="color_code" type="color"
                                           value="{{ categorylist.color_code }}" required disabled/>
                                </div>
                            </div>

                        </div>
                         <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Include In Daily Attendance Report:

                                </label>
                                <div class="col-md-2">

                                    <input autocomplete="off" id="id_daily_attendance"
                                           name="daily_attendance" type="checkbox" {% if categorylist.daily_attendance == True %}checked {% endif %}
                                           value="{{ categorylist.daily_attendance }}"  disabled/>
                                </div>
                            </div>



                        </div>


                    </div>

            </div>
            </form>

            <br>

        </div>
    </div>

    </form>
    <!-- END FORM-->

    <!-- END VALIDATION STATES-->
    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false "
         style="margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete the Absent Category details? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                    <a class=" btn red btn-outline sbold" data-toggle="modal"
                       href="{% url 'attendance:delete_absent_category' categorylist.id %}"> Delete </a>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
