{% extends "base1.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block content %}
<div class="data_recover" style="background-color:#f4f6f6;margin-top:4px;">
<div class="container"  style=" min-height: calc(72vh - 40px);" >
 <div class="jumbotron"style="background-color:#f4f6f6;margin-top:4px;">
 <div class="row">
     <div class="col-md-2 col-xs-1"></div>
     <div class="col-md-8 col-xs-10">
      <div class="page-header" style="border-bottom: 0px solid #eee; margin: 40px 0 0px">
      <div class="alert alert-warning" role="alert"  style="background-color:#fff;">
  <a href="#" class="alert-link" style="color:#008FC8;font-size: 15px;">Password recovery mail sent !!</a>
</div>
      </div>
      <div class="input-group">
		<p style="font-size:16px;">{% blocktrans with ago=timestamp|timesince %}An email was sent to <strong>{{ email }}</strong>. Use the link in it to set a new password.{% endblocktrans %}</p>
		<center ><B><a href="/" > <label style="color:#008FC8;text-decoration:underline;cursor:pointer;"> Click here to login </label></a></B></center>
		</div>
		</div>		
	</div></div><br><br><br><br><br>
	</div>		
    </div>
{% endblock %}
