<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.6
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Edsys Assesment | Dashboard</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
           {% load staticfiles %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/morris/morris.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/fullcalendar/fullcalendar.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/jqvmap/jqvmap/jqvmap.css'%}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'assets/global/css/components.min.css'%}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'assets/global/css/plugins.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static 'assets/layouts/layout2/css/layout.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/layouts/layout2/css/themes/blue.min.css'%}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static 'assets/layouts/layout2/css/custom.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/multi-select.css' %}">
        {%block styleBlock%}
            {%endblock%}
         </head>
         
          {%block ScriptBlock%} 
{%endblock%}
{% block head %}

{%endblock%}
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                
                <div class="page-top">
                    <!-- BEGIN HEADER SEARCH BOX -->
                    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                    
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                   
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div>
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN THEME PANEL -->
              <!--     <div class="theme-panel">
                        <div class="toggler tooltips" data-container="body" data-placement="left" data-html="true" data-original-title="Click to open advance theme customizer panel">
                            <i class="icon-settings"></i>
                        </div>
                        <div class="toggler-close">
                            <i class="icon-close"></i>
                        </div>
                        <div class="theme-options">
                            <div class="theme-option theme-colors clearfix">
                                <span> THEME COLOR </span>
                                <ul>
                                    <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>
                                    <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                                    <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                                    <li class="color-dark tooltips" data-style="dark" data-container="body" data-original-title="Dark"> </li>
                                    <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>
                                </ul>
                            </div>
                            <div class="theme-option">
                                <span> Theme Style </span>
                                <select class="layout-style-option form-control input-small">
                                    <option value="square" selected="selected">Square corners</option>
                                    <option value="rounded">Rounded corners</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Layout </span>
                                <select class="layout-option form-control input-small">
                                    <option value="fluid" selected="selected">Fluid</option>
                                    <option value="boxed">Boxed</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Header </span>
                                <select class="page-header-option form-control input-small">
                                    <option value="fixed" selected="selected">Fixed</option>
                                    <option value="default">Default</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Top Dropdown</span>
                                <select class="page-header-top-dropdown-style-option form-control input-small">
                                    <option value="light" selected="selected">Light</option>
                                    <option value="dark">Dark</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Mode</span>
                                <select class="sidebar-option form-control input-small">
                                    <option value="fixed">Fixed</option>
                                    <option value="default" selected="selected">Default</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Style</span>
                                <select class="sidebar-style-option form-control input-small">
                                    <option value="default" selected="selected">Default</option>
                                    <option value="compact">Compact</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Menu </span>
                                <select class="sidebar-menu-option form-control input-small">
                                    <option value="accordion" selected="selected">Accordion</option>
                                    <option value="hover">Hover</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Position </span>
                                <select class="sidebar-pos-option form-control input-small">
                                    <option value="left" selected="selected">Left</option>
                                    <option value="right">Right</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Footer </span>
                                <select class="page-footer-option form-control input-small">
                                    <option value="fixed">Fixed</option>
                                    <option value="default" selected="selected">Default</option>
                                </select>
                            </div>
                        </div><div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">

        </div>
                    </div> -->
                    <!-- END THEME PANEL -->
             <!--    <h3 class="page-title"> Dashboard
                        <small>dashboard & statistics</small>
                    </h3>
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Dashboard</span>
                            </li>
                        </ul>
                        
                    </div>  -->   
                    <!-- END PAGE HEADER-->
                    <!-- BEGIN DASHBOARD STATS 1-->
                    <div class="row">
                      
                    </div>
                    <div class="clearfix">
                    {% block content %}
                    {% endblock %}
                   
                    </div>
                    <!-- END DASHBOARD STATS 1-->
                    <div class="row">
                     
                    
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                               
                        </div>
                        <div class="col-md-6 col-sm-6">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            
                        </div>
                        <div class="col-md-6 col-sm-6">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                           
                        </div>
                        <div class="col-md-6 col-sm-6">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            
                        </div>
                        <div class="col-md-6 col-sm-6">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <!-- BEGIN REGIONAL STATS PORTLET-->
                            
                            <!-- END REGIONAL STATS PORTLET-->
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <!-- BEGIN PORTLET-->
                            
                            <!-- END PORTLET-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <!-- BEGIN PORTLET-->
                            
                            <!-- END PORTLET-->
                        </div>
                        
                    </div>
                    
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
            
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner"> &nbsp&nbsp&nbsp&nbsp 2017 &copy; SchoolZen.
                
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
<script src="{% static 'assets/global/plugins/respond.min.js"></script>
<script src="{% static 'assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'assets/global/plugins/jquery.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/js.cookie.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.j'%}s" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery.blockui.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'%}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'assets/global/plugins/moment.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/morris/morris.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/morris/raphael-min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/counterup/jquery.waypoints.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/counterup/jquery.counterup.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/amcharts.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/serial.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/pie.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/radar.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/themes/light.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/themes/patterns.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/themes/chalk.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/ammap/ammap.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/ammap/maps/js/worldLow.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amstockcharts/amstock.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/fullcalendar/fullcalendar.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/flot/jquery.flot.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/flot/jquery.flot.resize.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/flot/jquery.flot.categories.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery.sparkline.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js'%}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'assets/global/scripts/app.min.js'%}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'assets/pages/scripts/dashboard.min.js'%}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script src="{% static 'assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/pages/scripts/table-datatables-managed.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static 'assets/layouts/layout2/scripts/layout.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/layouts/layout2/scripts/demo.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js'%}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'js/jquery.multi-select.js' %}"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
         
        <script type="text/javascript">

	  $(document).ready(function() {
	  
	});
  
</script>
<script type="text/javascript">
  // run callbacks
      $('#id_class_id').multiSelect({
      afterSelect: function(values){
        //alert("Select value: "+values);
      },
      afterDeselect: function(values){
        //alert("Deselect value: "+values);
      }
    });
  </script>

    </body>

</html>
