{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <!-- END HEAD -->
    <style>
    </style>
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                var image = $("#id_photo").attr('value');
                var Val = ("../media/".concat(image))
                $("#PreviewPicture").css("background-image", "url(" + Val + ")")


                var logo = $("#id_logo").attr('value');
                var LogoVal = ("../media/".concat(logo))
                $("#PreviewLogo").css("background-image", "url(" + LogoVal + ")")


            });

            $('#cancle').click(function () {
                window.history.back();
            });
        }

    </script>
{% endblock %}
{% block content %}

    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'id_generation:id_generator' %}"> ID Cards</a>
                <i class="fa fa-angle-right"></i>

            </li>

            <li>
                <span> Generate ID Card </span>
            </li>
        </ul>
    </div>

    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Generate ID Card</span>
            </div>
        </div>

        <!-- ******************************FieldSet Start************************************************************************ -->
        <style>
            #PreviewPicture {
                width: 140px;
                height: 140px;
                background-repeat: no-repeat;
                border: 0;
                display: inline-block;
                position: absolute;
{#                background-size: 100%;#}
                background-size: 150px 150px;
                margin-left: 85px;
                margin-top: 70px;
                border-radius: 100px;
            }

{#            #circle{width: 150px; height: 150px; border-radius: 100px; }#}


            #PreviewLogo {
                width: 50px;
                height: 50px;
                background-repeat: no-repeat;
                border: 0;
                display: inline-block;
                position: absolute;
                background-size: 100%;
                bottom: 4%;
                margin-left: 2%;
            }

            .type {
                width: 200px;
                height: 30px;
{#                background-color: #ffffff;#}
                position: absolute;
                bottom: 0;
                left: 0;
            }
            .bus_details {
                width: 200px;
                height: 30px;
{#                background-color: #ffffff;#}
                position: absolute;
                bottom: -17px;
                left: -10px;
            }


            {% if template_type == 'school' %}
                #example2 {
                    background: url(../../static/id_images/Template_school.png);
                    background-repeat: no-repeat;
                    background-size: 300px 500px;
                    position: relative
                }
            {% else %}
                #example2 {
                    background: url(../../static/id_images/Template_own.png);
                    background-repeat: no-repeat;
                    background-size: 300px 500px;
                    position: relative
                }
            {% endif %}


        </style>
        <div class="portlet-body">

            <div class="form-body">
                <p id="id_logo" name="IDphoto" style="display:none; " value="{{ school_detail.logo }}">

                <p id="id_photo" name="photo" style="display:none" value="{{ student_detail.photo }}">
                <div id="example2" style="width:300px;height:500px;margin-left: 35%;">
                    <div class="img-responsive circle round" id="PreviewPicture"></div>
                    <label class="" style="color: #306598; margin-top: 237px;margin-left: 120px; font-size: 18px"><b>{{ student_detail.odoo_id|default_if_none:" "  }}</b></label> <br>
                    <label class="" style="color: #306598;margin-left: 20px; font-size: 17px"><b>{{ student_detail.get_all_name }}</b></label> <br>
                    <label class="" style="color: #306598; margin-top: 20px;margin-left: 20px; font-size: 14px"><b >Academic Year:    <text style="color: #636565;">{{ student_detail.academic_class_section.year_name.year_name }}</text></b></label> <br>
                    <label class="" style="color: #306598; margin-left: 20px; font-size: 14px"><b>Class :    <text style="color: #636565;">{{ student_detail.academic_class_section.class_name.class_name }},{{ student_detail.academic_class_section.section_name.section_name }} </text></b></label>
                    <label class="" style="color: #306598; margin-left: 40px; font-size: 14px"><b>Blood Group :   <text style="color: #636565;"> {{ blood_group }}</text></b></label> <br>
                    <label class="" style="color: #306598; margin-left: 20px; font-size: 14px"><b>Parent Name :    <text style="color: #636565;">{{ parent_name }}</text></b></label><br>
                    <label class="" style="color: #306598; margin-left: 20px; font-size: 14px;"><b>Emergency <i class="fa fa-phone-square" style="font-size:18px;color:#306598"></i> :   <text style="color: #636565;"> {{ student_detail.emergency_contact_num|default_if_none:" "  }}</text></b></label><br>

                {% if template_type == 'school' %}
                    <label class="type" style="color: #ffffff;text-transform: capitalize;font-size: 12px; margin-left: 45%" ><b>Transport Type: {{ template_type }}</b></label><br>
                    <label class="bus_details" style="color: #306598;font-size: 10px; margin-left: 42%; margin-top: -100px" ><b>Pickup Bus: {{ student_detail.bus_no }}      <span style="margin-left: 5px">    </span>   Drop Bus:{{ student_detail.drop_bus_no }}</b></label><br>
                {% else %}
                    <label class="type" style="color: #ffffff;text-transform: capitalize;font-size: 12px; margin-left: 42%" ><b>Transport Type: {{ template_type }}</b></label><br>
                {% endif %}
                <div class="img-responsive" style="margin-bottom: -2%" id="PreviewLogo"></div>

                </div>

                <div class="col-md-3" style="margin-top:15px; margin-left: 20%;">
                    <button id="cancle" onclick="goBack()" type="button" class="btn blue btn-block">Cancel</button>
                </div>

                <div class="col-md-3">
                    <button onclick="window.location='{% url "id_generation:print_id" student_detail.id %}'"
                            style="margin-top:15px;margin-left: 10%;" type="button" value="Submit"
                            id="buttongenerate" class="btn blue btn-block">Print ID Card
                    </button>
                </div>
            </div>
        </div>        <!-- Endof outer Div  -->

        <!-- ************************End of FieldSet******************************************************************************88 -->

    </div>
    </body>

{% endblock %}