{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    </head>
    <!-- END HEAD -->

{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {

            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable( {
                  "aoColumnDefs": [
                      { 'bSortable': false }
                   ]
            });

{#            var academic_year = document.getElementById("id_academic_year").value;#}
{#            var url1 = '/school/viewAcademicDetails/';#}
{#            viewAcademicDetails(url1, academic_year)#}


            {% comment %}$('#go').click(function () {
                alert($('#id_section_name').val())
            }){% endcomment %}

            year_name = document.getElementById("id_academic_year").value
            if (year_name == '') {
                $('#id_academic_year').val($('#id_academic_year'));
                $('#id_academic_year').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }

            class_name = document.getElementById("id_class_name").value

            if (class_name == '') {
                $('#id_class_name').val($('#id_class_name'));
                $('#id_class_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'

                }));
            }

            section_name = document.getElementById("id_section_name").value
            if (section_name == '') {
                $('#id_section_name').val($('#id_section_name'));
                $('#id_section_name').prepend($('<option>', {
                    value: '',
                    text: 'Please Select'
                }));
            }


            $("#id_academic_year").change(function () {
                var academic_year = document.getElementById("id_academic_year").value;
                var url1 = '/school/viewAcademicDetails/';
                viewAcademicDetails(url1, academic_year)
            });

            $("#id_class_name").change(function () {
                var class_name = document.getElementById("id_class_name").value;
                var academic_year = document.getElementById("id_academic_year").value;
                var url = '/school/viewSectionDetails/';
                ViewSectionDetailStudent(url, academic_year, class_name);
            });


            {% comment %}var select_all = document.getElementById("select_all"); //select all checkbox
            var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

            //select all checkboxes
            select_all.addEventListener("change", function (e) {
                for (i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = select_all.checked;
                }
            });

            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                    //uncheck "select all", if one of the listed checkbox item is unchecked
                    if (this.checked == false) {
                        select_all.checked = false;
                    }
                    //check "select all" if all checkbox items are checked
                    if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                        select_all.checked = true;
                    }
                });
            }{% endcomment %}


            function updateDataTableSelectAllCtrl(table) {
                    var $table = table.table().node();
                    var $chkbox_all = $('tbody input[type="checkbox"]', $table);
                    var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
                    var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

                    // If none of the checkboxes are checked
                    if ($chkbox_checked.length === 0) {
                        chkbox_select_all.checked = false;
                        if ('indeterminate' in chkbox_select_all) {
                            chkbox_select_all.indeterminate = false;
                        }

                        // If all of the checkboxes are checked
                    } else if ($chkbox_checked.length === $chkbox_all.length) {
                        chkbox_select_all.checked = true;
                        if ('indeterminate' in chkbox_select_all) {
                            chkbox_select_all.indeterminate = false;
                        }

                        // If some of the checkboxes are checked
                    } else {
                        chkbox_select_all.checked = true;
                        if ('indeterminate' in chkbox_select_all) {
                            chkbox_select_all.indeterminate = true;
                        }
                    }
                }

                {% comment %}$(document).ready(function () {{% endcomment %}
                    // Array holding selected row IDs
                    var rows_selected = [];
                    var table = $('#example').DataTable({
                        {#      'ajax': 'https://api.myjson.com/bins/1us28',#}
                        'columnDefs': [{
                            'targets': 0,
                            'searchable': false,
                            'orderable': false,
                            'width': '1%',
                            'className': 'dt-body-center',
                            'render': function (data, type, full, meta) {
                                return '<input type="checkbox">';
                            }
                        }],
                        'order': [1, 'asc'],
                        'rowCallback': function (row, data, dataIndex) {
                            // Get row ID
                            var rowId = data[0];

                            // If row ID is in the list of selected row IDs
                            if ($.inArray(rowId, rows_selected) !== -1) {
                                $(row).find('input[type="checkbox"]').prop('checked', true);
                                $(row).addClass('selected');
                            }
                        }
                    });

                    // Handle click on checkbox
                    $('#example tbody').on('click', 'input[type="checkbox"]', function (e) {
                        var $row = $(this).closest('tr');

                        // Get row data
                        var data = table.row($row).data();

                        // Get row ID
                        var rowId = data[0];

                        // Determine whether row ID is in the list of selected row IDs
                        var index = $.inArray(rowId, rows_selected);

                        // If checkbox is checked and row ID is not in list of selected row IDs
                        if (this.checked && index === -1) {
                            rows_selected.push(rowId);

                            // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                        } else if (!this.checked && index !== -1) {
                            rows_selected.splice(index, 1);
                        }

                        if (this.checked) {
                            $row.addClass('selected');
                        } else {
                            $row.removeClass('selected');
                        }

                        // Update state of "Select all" control
                        updateDataTableSelectAllCtrl(table);

                        // Prevent click event from propagating to parent
                        e.stopPropagation();
                    });

                    // Handle click on table cells with checkboxes
                    $('#example').on('click', 'tbody td, thead th:first-child', function (e) {
                        $(this).parent().find('input[type="checkbox"]').trigger('click');
                    });

                    // Handle click on "Select all" control
                    $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                        if (this.checked) {
                            $('#example tbody input[type="checkbox"]:not(:checked)').trigger('click');
                        } else {
                            $('#example tbody input[type="checkbox"]:checked').trigger('click');
                        }

                        // Prevent click event from propagating to parent
                        e.stopPropagation();
                    });

                    // Handle table draw event
                    table.on('draw', function () {
                        // Update state of "Select all" control
                        updateDataTableSelectAllCtrl(table);
                    });

            var favorite = [];
            $("#generate").click(function () {
                var checked = $('#example').find(':checked').length;
                if (!checked)
                    alert('Please select atleast one record to generate ID!');
                else {
                    $.each($("input[name='check']:checked"), function () {

                        favorite.push($(this).val());
                    });
                    strID = favorite.join(", ")
                    console.log("favoritefavorite", favorite.join(", "))

                    $("#strikeId").val(strID);
                    $('#myModal').modal('toggle');
                    $('#myModal').modal('show');
                }
            });

            $(document).ready(function () {
                $('#generate').attr('disabled', true);
                $('#select_all').attr('disabled', true);

                var forms = $('.abc')
                if (forms.length > 0) {
                    $('#generate').attr('disabled', false);
                    $('#select_all').attr('disabled', false);
                }

                $('#submit2').click(function () {
                    $('#formfield1').submit();
                });
            });
        }


        function ViewSectionDetailStudent(url, academic_year, class_name) {

            $.ajax({
                url: url,
                type: "GET",
                data:
                    {
                        academic_year: academic_year,
                        class_name: class_name
                    },
            })

                .done(
                    function (data) {

                        console.log("print you are in section ajax")
                        console.log(data);

                        $('#id_section_name').empty();
                        $('#id_section_name').append(
                            '<option value="">Please select</option>');
                        $('#id_section_name').append(
                            '<option value="">All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_section_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].section_name + '</option>')

                        }
                    });
        }


        function viewAcademicDetails(url1, academic_year) {

            $.ajax({
                url: url1,
                type: "GET",
                data: {
                    academic_year: academic_year
                },
            })
                .done(
                    function (data) {
                        console.log("Hello.. !");
                        console.log(data);
                        $('#id_class_name').empty();
                        $('#id_class_name').append(
                            '<option value="">Please select</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#id_class_name').append(
                                '<option value="' + data[i].id + '">'
                                + data[i].class_name + '</option>')
                        }

                        $('#id_class_name').prop("disabled", false);
                        $('#id_section_name').prop("disabled", false);
                    });
        }

    </script>

{% endblock %}

{% block content %}

    <style>
        fieldset {
            font-family: sans-serif;
            border: 2px solid;
            border-radius: 3px;
            padding: 2px;
        }

        legend {
            display: block;
            width: 15%;
            margin-bottom: 20px;
            font-size: 21px;
            color: #34495e;
        }
    </style>

    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}"> Home </a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'id_generation:id_menu' %}">ID Card Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Student ID Cards </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Id Cards</span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form method="post" action="{% url 'id_generation:view_student_ID_list' %}" id=" form_sample_1 ">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-3">
                            <h4>Academic Year </h4>

                            <div class="">
                                <input value="{{ Selected_Year_Id }}" name="year_name" hidden>
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="id_academic_year" name="year_name" disabled>
                                    <option style="display : none" selected="selected"
                                            value="{{ Selected_Year_Id }}"> {{ selected_year_name }}</option>
                                    {% for Academic_Year in year_list %}
                                        <option value="{{ Academic_Year.id }}">{{ Academic_Year.year_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-3" style="width: 15%;">
                            <h4>Class </h4>

                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true" id="id_class_name" name="class_name" required>

                                {% if selected_class_name %}
                                   <option style="display : none" width="5px" selected="selected"value="{{ Selected_Class_Id }}"> {{ selected_class_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}

                                {% for class in class_list %}
                                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-3" style="width: 15%;">
                            <h4> Section </h4>

                            <div class="">
{#                                <select autocomplete="off" class="form-control selectpicker" id="id_section_name" name="section_name"  multiple>#}
                                <select autocomplete="off" class="form-control" id="id_section_name" name="section_name" required>


                                {% if selected_section_name %}
                                    <option style="display : none" selected="selected" value="{{ Selected_Section_Id }}"> {{ selected_section_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}

                                {% for section in section_list %}
                                        <option value="{{ section.id }}">{{ section.section_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    <div class="col-md-3" style="width: 15%;">
                            <h4> Transport Type </h4>

                            <div class="">
                                <select autocomplete="off" class="form-control" id="id_transport_type" name="transport_type">


                                {% if selected_transport_name %}

                                    <option style="display : none" selected="selected" value="{{ selected_transport_id }}"> {{ selected_transport_name }}</option>
                                    <option value="">All</option>
                                {% else %}
                                    <option value="" selected="selected">All</option>
                                {% endif %}

                                <option value='own'>Own</option>
                                 <option value='school'>School</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="submit" class="btn blue btn-block" id="go" style="margin-top : 38px;"> GO
                            </button>
                        </div>
                    </div>
                </form>

                <br>
                <div class="row">
                    <form method="post" action="{% url 'id_generation:multiple_student_ID_list' %}" id="formfield1">
                        {% csrf_token %}
                        <table name="data"
                               class="data table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                               id="example" role="grid" aria-describedby="sample_1_info">
                            <thead>
                            <tr role="row">
                                <th style="display: none">ID</th>
                                <th><input name="select_all" value="1" type="checkbox"></th>
                                <th>Student Code</th>
                                <th> Student Name</th>
                                <th> Class</th>
                                <th> Section</th>
                                <th>Transport Type</th>
                                <th> Generate -ID Card</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for obj in student_list %}
                                <tr style="cursor: pointer;" name="data" class="abc" id="body">
                                    <td style="display: none">{{ obj.id }}</td>
                                    <td><input class="checkbox" type='checkbox' name='check' value="{{ obj.id }}"></td>
                                    <td>{{ obj.student_code }}</td>
                                    <td>{{ obj.get_all_name }}</td>
                                    <td>{{ obj.academic_class_section.class_name.class_name  }}</td>
                                    <td>{{ obj.academic_class_section.section_name.section_name  }} </td>
                                    <td>{{ obj.transport }}</td>
                                    <td><a class="btn blue btn-block"
                                           href="{% url 'id_generation:id_generate' obj.id %}">Generate ID Card</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                                    <button type="button" value="Submit" id="generate" class="btn blue btn btn-primary"
                                            style="cursor: pointer; width:200px;">Generate -ID Card
                                    </button>

                                    <button type="button" onclick="window.location= '{% url "id_generation:print_back" %}'" id="generate" class="btn blue btn btn-primary"
                                            style="cursor: pointer; width:200px;">Print Back
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

            <!-- END FORM-->
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form method="post" action="{% url 'id_generation:multiple_student_ID_list' %}" id="formfield2">
                        {% csrf_token %}

                        <div class="modal-header">
                            <input type="hidden" name="strikeId" id="strikeId">
                            <button type="button" class="close" data-dismiss="modal"></button>

                            <h4 class="modal-title">Are your sure want to generate ID for selected students</h4>

                            <button type="button" value="Submit2" id="submit2" class="btn btn-default"
                                    data-dismiss="modal">Yes
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
