{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
                var image = $("#id_photo").attr('value');
                var Val = ("../media/".concat(image))
                $("#PreviewPicture").css("background-image", "url(" + Val + ")")


                var logo = $("#id_logo").attr('value');
                var LogoVal = ("../media/".concat(logo))
                $("#PreviewLogo").css("background-image", "url(" + LogoVal + ")")


            });

            $('#cancle').click(function () {
                window.history.back();
            });
        }

    </script>
{% endblock %}
{% block content %}

    <body>

    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="{% url 'id_generation:id_generator' %}"> ID Cards</a>
                <i class="fa fa-angle-right"></i>

            </li>

            <li>
                <span> Generate ID Card </span>
            </li>
        </ul>

    </div>


    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Generate ID Card</span>
            </div>
        </div>

        {% if id_flag == 2 %}

            <style>
                #PreviewPicture {
                    width: 133px;
                    height: 143px;
                    background-repeat: no-repeat;
                    border: 0;
                    display: inline-block;
                    position: absolute;
                    margin-left: 120px;
                    margin-top: 182px;
                    background-size: 100% 100%;
                }


                #PreviewLogo {
                    width: 80px;
                    height: 100px;
                    background-repeat: no-repeat;
                    border: 0;
                    display: inline-block;
                    position: absolute;
                    background-size: 100% 100%;

                    top: 38px;
                    margin-left: 9%;
                }

                #example2 {
                    background: url(../../static/id_images/front_blank_page_3.png);
                    background-repeat: no-repeat;
                    background-size: 380px 600px;
                    position: relative
                }

            </style>
            <div class="portlet-body">

                <div class="form-body">
                    <p id="id_logo" name="IDphoto" style="display:none; " value="{{ school_detail.logo }}">

                    <p id="id_photo" name="photo" style="display:none" value="{{ student_detail.photo }}">
                    <div id="example2" style="width:350px;height:630px;margin-left: 35%;">
                        <div class="img-responsive circle round" id="PreviewPicture"></div>
                        <div id="PreviewLogo"></div>

                        <br>

                        <label style="color: white; margin-top: 10px ;margin-left: 130px;font-size: 22px; font-family: 'Trajan Pro_BOLD'"><b></b></label><br>
                        {% for name in school_name %}
                            <label style="color: white;margin-top: -20px;margin-left: 120px;font-size: 26px; font-family: 'Trajan Pro_BOLD'"><b>{{ name }}</b></label>
                        {% endfor %}
                        <br>

                        <label class=""
                               style="margin-top: 210px;margin-left: 20px; font-size: 16px"><b> {{ student_detail.get_all_name }}</b></label>
                        <br>
                        <label class="" style="margin-left: 20px; font-size: 14px"><b>Student ID &emsp;
                            &ensp;: {{ student_detail.odoo_id|default_if_none:" " }}</b></label> <br>
                        <label class="" style="margin-left: 20px; font-size: 14px"><b>Class &emsp; &ensp; &emsp; &ensp;&ensp;&nbsp;:
                            <text style="">{{ student_detail.academic_class_section.class_name.class_name }}, Section
                                : {{ student_detail.academic_class_section.section_name.section_name }} </text>
                        </b></label>
                        <label class="" style="margin-left: 20px; font-size: 14px"><b>Academic Year:
                            <text style="">{{ student_detail.academic_class_section.year_name.year_name }}</text>
                        </b></label> <br>
                        {#                    <label class="" style="margin-left: 40px; font-size: 14px"><b>Blood Group :   <text style=""> {{ blood_group }}</text></b></label> <br>#}
                        <label class="" style="margin-left: 20px; font-size: 14px"><b>Parent Name &ensp;:
                            <text style="">{{ parent_name }}</text>
                        </b></label><br>
                        <label class="" style="margin-left: 20px; font-size: 14px;"><b>Emergency <i
                                class="fa fa-phone-square" style="font-size:16px;"></i> &ensp;:
                            <text style=""> {{ student_detail.emergency_contact_num|default_if_none:" " }}</text>
                        </b></label><br>

                        {% if template_type == 'school' %}
                            <label class="type"
                                   style="text-transform: capitalize;font-size: 14px; margin-left: 20px"><b>Transport
                                Type: {{ template_type }}</b></label><br>
                            <label class="bus_details" style="font-size: 14px; margin-left: 20px;"><b>Pickup &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                {% if student_detail.pick_up_point != 'None' %} {{ student_detail.pick_up_point}} {% else %} {{ '' }} {% endif %}<span style="margin-left: 5px">    </span> <br><b>Drop off
                                &nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>:{% if student_detail.drop_off_point != 'None' %} {{ student_detail.drop_off_point }} {% else %} {{ '' }} {% endif %}</b></label><br>
                        {% else %}
                            <label class="type"
                                   style="text-transform: capitalize;font-size: 14px; margin-left: 20px"><b>Transport
                                Type: {{ template_type }}</b></label><br>
                        {% endif %}


                    </div>

                    <div class="col-md-3" style="margin-top:15px; margin-left: 20%;">
                        <button id="cancle" onclick="goBack()" type="button" class="btn blue btn-block">Cancel</button>
                    </div>

                    <div class="col-md-3">
                        <button onclick="window.location='{% url "id_generation:print_id" student_detail.id %}'"
                                style="margin-top:15px;margin-left: 10%;" type="button" value="Submit"
                                id="buttongenerate" class="btn blue btn-block">Print ID Card
                        </button>
                    </div>
                </div>
            </div>        <!-- Endof outer Div  -->

        {% else %}
            <style>
                #PreviewPicture {
                    width: 140px;
                    height: 140px;
                    background-repeat: no-repeat;
                    border: 0;
                    display: inline-block;
                    position: absolute;
                {#                background-size: 100%;#} background-size: 150px 150px;
                    margin-left: 85px;
                    margin-top: 70px;
                    border-radius: 100px;
                }

                {#            #circle{width: 150px; height: 150px; border-radius: 100px; }#}

                #PreviewLogo {
                    width: 50px;
                    height: 50px;
                    background-repeat: no-repeat;
                    border: 0;
                    display: inline-block;
                    position: absolute;
                    background-size: 100%;
                    background-color: white;
                    bottom: 4%;
                    margin-left: 2%;
                }

                .type {
                    width: 200px;
                    height: 30px;
                {#                background-color: #ffffff;#} position: absolute;
                    bottom: 0;
                    left: 0;
                }

                .bus_details {
                    width: 200px;
                    height: 30px;
                {#                background-color: #ffffff;#} position: absolute;
                    bottom: -17px;
                    left: -10px;
                }

                {% if template_type == 'school' %}
                    #example2 {
                        background: url(../../static/id_images/Template_school.png);
                        background-repeat: no-repeat;
                        background-size: 300px 500px;
                        position: relative
                    }
                {% else %}
                    #example2 {
                        background: url(../../static/id_images/Template_own.png);
                        background-repeat: no-repeat;
                        background-size: 300px 500px;
                        position: relative
                    }
                {% endif %}


            </style>
            <div class="portlet-body">

                <div class="form-body">
                    <p id="id_logo" name="IDphoto" style="display:none; " value="{{ school_detail.logo }}">

                    <p id="id_photo" name="photo" style="display:none" value="{{ student_detail.photo }}">
                    <div id="example2" style="width:300px;height:500px;margin-left: 35%;">
                        <div class="img-responsive circle round" id="PreviewPicture"></div>
                        <label class=""
                               style="color: #306598; margin-top: 237px;margin-left: 120px; font-size: 18px"><b>{{ student_detail.odoo_id|default_if_none:" " }}</b></label>
                        <br>
                        <label class=""
                               style="color: #306598;margin-left: 20px; font-size: 17px"><b>{{ student_detail.get_all_name }}</b></label>
                        <br>
                        <label class="" style="color: #306598; margin-top: 20px;margin-left: 20px; font-size: 14px"><b>Academic
                            Year:
                            <text style="color: #636565;">{{ student_detail.academic_class_section.year_name.year_name }}</text>
                        </b></label> <br>
                        <label class="" style="color: #306598; margin-left: 20px; font-size: 14px"><b>Class :
                            <text style="color: #636565;">{{ student_detail.academic_class_section.class_name.class_name }},{{ student_detail.academic_class_section.section_name.section_name }} </text>
                        </b></label>
                        <label class="" style="color: #306598; margin-left: 40px; font-size: 14px"><b>Blood Group :
                            <text style="color: #636565;"> {{ blood_group }}</text>
                        </b></label> <br>
                        <label class="" style="color: #306598; margin-left: 20px; font-size: 14px"><b>Parent Name :
                            <text style="color: #636565;">{{ parent_name }}</text>
                        </b></label><br>
                        <label class="" style="color: #306598; margin-left: 20px; font-size: 14px;"><b>Emergency <i
                                class="fa fa-phone-square" style="font-size:18px;color:#306598"></i> :
                            <text style="color: #636565;"> {{ student_detail.emergency_contact_num|default_if_none:" " }}</text>
                        </b></label><br>

                        {% if template_type == 'school' %}
                            <label class="type"
                                   style="color: #ffffff;text-transform: capitalize;font-size: 12px; margin-left: 45%"><b>Transport
                                Type: {{ template_type }}</b></label><br>
                            <label class="bus_details"
                                   style="color: #306598;font-size: 10px; margin-left: 42%; margin-top: -100px"><b>Pickup
                                Bus: {{ student_detail.bus_no }} <span style="margin-left: 5px">    </span> Drop
                                Bus:{{ student_detail.drop_bus_no }}</b></label><br>
                        {% else %}
                            <label class="type"
                                   style="color: #ffffff;text-transform: capitalize;font-size: 12px; margin-left: 42%"><b>Transport
                                Type: {{ template_type }}</b></label><br>
                        {% endif %}
                        <div class="img-responsive" style="margin-bottom: -2%" id="PreviewLogo"></div>
                    </div>

                    <div class="col-md-3" style="margin-top:15px; margin-left: 20%;">
                        <button id="cancle" onclick="goBack()" type="button" class="btn blue btn-block">Cancel</button>
                    </div>

                    <div class="col-md-3">
                        <button onclick="window.location='{% url "id_generation:print_id" student_detail.id %}'"
                                style="margin-top:15px;margin-left: 10%;" type="button" value="Submit"
                                id="buttongenerate" class="btn blue btn-block">Print ID Card
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    </body>
{% endblock %}