{% extends "index.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <sctipt>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </sctipt>

    <style type="text/css">
        .page-bar {
            margin-bottom: 1px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>ID Cards</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="tiles">
                <div class="tile bg-green-turquoise" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'id_generation:id_generator' %}">
                        <div class="tile-body">
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                        </div>

                        <div class="tile-object">
                            <div class="name text-success"><h4>Student ID Cards </h4></div>
                        </div>
                    </a>
                </div>

                <div class="tile" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'id_generation:view_student_template' %}">
                        <div class="tile-body" style="background-color: #2d6987">
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name text-success"><h4>View/Select Student ID Cards Template</h4></div>
                        </div>
                    </a>
                </div>

                {% comment %}<div class="tile bg-blue" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'id_generation:student_template_select' %}">

                        <div class="tile-body">
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name "><h4  >Student ID Card - Template</h4></div>

                        </div>
                    </a>
                </div>

                <div class="tile double-down bg-purple-studio" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'id_generation:view_staff_list' %}">

                        <div class="tile-body">
                            <i class="fa fa-id-badge " aria-hidden="true"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name "><h4  >Staff ID Cards</h4></div>

                        </div>
                    </a>
                </div>

                <div class="tile bg-blue-hoki" style="height: 170px !important;width: 48% !important;">
                    <a href="{% url 'id_generation:staff_template' %}">

                        <div class="tile-body">
                            <i class="fa fa-id-badge " aria-hidden="true"></i>

                        </div>
                        <div class="tile-object">
                            <div class="name "><h4  >Staff ID Card - Template</h4></div>

                        </div>
                    </a>
                </div>{% endcomment %}

            </div>
        </div>
    </div>
{% endblock %}