{% extends "index.html" %}
{% load staticfiles %}



{% block styleBlock %}
    <style type="text/css">
        .row {
            margin-left: 80px;
            margin-right: 20px;
            margin-top: 30px;
        }

        input[type="radio"] {
            -webkit-appearance: checkbox;
        / Chrome, Safari, Opera / -moz-appearance: checkbox;
        / Firefox / -ms-appearance: checkbox;
        / not currently supported /
        }
    </style>
{% endblock %}
{% block ScriptBlock %}
    <Script>
        window.onload = function () {
            $(document).ready(function () {



                {% comment %}{% if is_saved %}
                    $('.dis').prop("disabled", true);
                {% endif %}{% endcomment %}

                $('#cancel').click(function () {
                    location.reload();
                });


                $("#edit").click(function (event) {
                    $("#update").show();
                    $("#cancel").show();
                    $("#edit").hide();
                    $('.dis').prop("disabled", false);
                });
            });
        }

    </Script>

{% endblock %}
{% block content %}

    <form action="{% url 'id_generation:updated_student_template' %}" id="form_sample_1" class="form-horizontal"
          method="POST"
          enctype="multipart/form-data">


        {% csrf_token %}

        <div class="col-md-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endfor %}


            <div class="page-bar" style="margin-bottom: 1px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{% url 'registration:home' %}">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>

                    <li>
                        <a href="{% url 'id_generation:id_menu' %}"> ID Cards</a>
                        <i class="fa fa-angle-right"></i>
                    </li>

                    <li>
                        <span> View/Select Student ID Cards Template </span>
                    </li>
                </ul>

            </div>


            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-title">


                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">View/Select Student ID Cards Template</span>
                    </div>

                </div>
                <div class="portlet-body">

                    <!-- BEGIN FORM-->
                    <form action="{% url 'id_generation:updated_student_template' %}" id="form_sample_1"
                          class="form-horizontal"
                          method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="col-md-offset-3 col-md-9" style="margin: auto;">
                            <button type="button" class="btn green" id="edit">Edit</button>
                            <button type="submit" id="update" class="btn green" style="display:none;">Update
                            </button>
                            <button type="button" id="cancel" class="btn warning" style="display:none;">Cancel
                            </button>
                        </div>

                        <div class="form-body">
                            {#                            <label class="col-md-2 control-label">Template In Use:</label>  Hello sir, Can i take work from home tomorrow? I assuse you to complete the ID Cards at any cost.#}
                            <div class="row" >
                                <div class="">
                                    <div class="col-md-4">
                                        <ul id="id_round_off">
                                            <img src="/static/id_images/Student_Id Card_old.png" height="200"
                                                 width="400" alt="No Image">
                                            <br>
                                            <br>
                                            <input id="id_select_0" name="template" type="radio"
                                                   style="margin-left: 4%"
                                                   value="temp_one" {{ temp_one }} required class="dis" disabled>
                                            Template In Use:

                                            <br><br>
                                            <div style="margin-left: 500px;margin-top: -260px;">

                                            <img src="/static/id_images/Id_card_blank_template.jpg" height="200"
                                                 width="400" alt="No Image">
                                            <br>
                                            <br>



                                            <input id="id_select_0" name="template" type="radio"

                                                   value="temp_two" {{ temp_two }} required class="dis" disabled>
                                                <P style="margin-left: 20px;margin-top: -20px;white-space: nowrap;">Template In Use:</P>
                                            </div>

{#                                            <br>#}
{#                                            <br>#}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
{% endblock %}