{% extends "index.html" %}
{% load staticfiles %}

{%block styleBlock%}
<!-- BEGIN GLOBAL MANDATORY STYLES -->

    <!-- END HEAD -->
    <style>
</style>
    {%endblock%}

{%block ScriptBlock%}

<script>
   window.onload = function() {
   	  //YOUR JQUERY CODE
   	$(document).ready(function() {
   		   var image = $("#id_photo").attr('value');
   		   var Val=("../media/".concat(image))
   		$("#PreviewPicture").css("background-image", "url("+Val+")")

		var logo = $("#id_logo").attr('value');
  	    var LogoVal=("../media/".concat(logo))
   		$("#PreviewLogo").css("background-image", "url("+LogoVal+")")
	});

   	$('#cancle').click(function() {
		window.history.back();
   	});


             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
  }

   </script>
{%endblock%}
{% block content %}

<body>
				<div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="{% url 'registration:home' %}">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>

                            <li>
                                <a href="{% url 'id_generation:id_menu' %}"> ID Card Menu</a>
                                <i class="fa fa-angle-right"></i>
                            </li>

                            <li>
                                <a href="{% url 'id_generation:view_staff_list' %}"> Staff List</a>
                                <i class="fa fa-angle-right"></i>
                            </li>

                            <li>
                                <span> Generate Staff ID Card </span>
                            </li>
                        </ul>

                </div>


    <div class="portlet light portlet-fit portlet-form ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Generate ID Card</span>
                                    </div>
                                </div>

  <!-- ******************************FieldSet Start************************************************************************ -->
								  <style>
									#add { margin:0 }

									#inner
										{
										  margin: 0 auto;
										  max-width: 60%;
										  #background-color: #ccc;
										  border-radius: 3px;
										  border:solid;
										  padding:10px;
										}

									fieldset {
									    font-family: sans-serif;
									    border: 2px solid;
									    border-radius: 5px;
									    padding:10px;
									    width:75%;
									    position:relative;
   										left:15%;
									}
									legend {
									    display: block;
									    width: 20%;
									    font-size: 21px;
									    color: #34495e;
									}

									#PreviewPicture
								   {
									   width: 110px;
									   height: 110px;
									   background-repeat: no-repeat;
									   border:0;
									   display:inline-block;
									   position:absolute;
									   border:solid 0.1px;
									   background-size: 100%;
								   }

								   #PreviewLogo
								   {
									   width: 147px;
									   height: 147px;
									   background-repeat: no-repeat;
									   border:0;
									   display:inline-block;
									   position:absolute;
									   background-size:100%;
									   top: 4.5%;
								   }

								</style>
								<div  class="portlet-body" >
                                <fieldset >
<!-- 									<legend ><b> Generate-Id-Card </b> </legend>
 -->

										    <div style="border-bottom: solid;">
												<p  id="id_logo" name="IDphoto" style="display:none; "  value="{{ school_detail.logo }}">
										   		 <div class="img-responsive" id="PreviewLogo"></div>
												  <div style="margin-left: 25%;">
						                                	<h3 style="margin-left: 2%; margin-top:0px;"><b>School Zen</b></h3>
						                                	<label id="add" class="col-md-2 control-label">Address:</label>
						                                		<p id="add" style ="margin-top: 0;"> {{ school_detail.school_address }}</p>
						                                	<label id="add" class="col-md-2 control-label">City:</label>
							                                	<p id="add" > {{ school_detail.city }}</p>
						                                	<label id="add" class="col-md-2 control-label">Pin:</label>
						                                		<p id="add" > {{ school_detail.pin }}</p>
						                                	<label id="add" class="col-md-2 control-label">State:</label>
							                                	<p id="add" > {{ school_detail.state }}</p>
						                     		</div>
						                      </div>

					                               <div class="form-body">
                                                      <div   class="img-responsive" id="PreviewPicture"></div>
               											<p id="id_photo" name="photo" style="display:none"  value="{{ staff_detail.staff_relation.all.0.photo }}">
					                               		<div id='inner' >
						                                     <div class="row">
						                                     	<div class="">
												                     <label class="col-md-3 control-label">Staff Name:
												                     </label>
												                     <div class="col-md-3">
												                        {{ staff_detail.first_name }} {{ staff_detail.middle_name }} {{ staff_detail.last_name }}
												                     </div>
												                </div>
												             </div>

                                                             <div class="row">
						                                     	<div class="">
												                     <label class="col-md-3 control-label">Department:
												                     </label>
												                     <div class="col-md-3">
												                        {{ staff_detail.staff_relation.all.0.department }}
												                     </div>
												                </div>
												              </div>

												             <div class="row">
						                                     	<div class="">
												                     <label class="col-md-3 control-label">DOB:
												                     </label>
												                     <div class="col-md-4">
												                       {{ staff_detail.staff_relation.all.0.birth_date|date:"Y-m-d" }}
												                     </div>
												                </div>
												             </div>

                                                             <div class="row">
                                                                 <div class="">
												                     <label class="col-md-3 control-label">Gender:
												                     </label>
												                     <div class="col-md-1">
												                        {{ staff_detail.staff_relation.all.0.gender }}
												                     </div>
												                </div>
												             </div>

												             <div class="row">
						                                     	<div class="">
												                     <label class="col-md-3 control-label">Role:
												                     </label>
												                     <div class="col-md-3">
												                        {{ staff_detail.staff_relation.all.0.user.role.name }}
												                     </div>
												                </div>
												             </div>

												             <div class="row">
						                                     	<div class="">
												                     <label class="col-md-3 control-label">Email:
												                     </label>
												                     <div class="col-md-3">
												                        {{ staff_detail.email }}
												                     </div>
												                </div>
{##}

												             </div>

												             <div class="row">
						                                     	<div class="">
												                     <label class="col-md-3 control-label">Address:
												                     </label>
												                     <div class="col-md-6">
                                                                     {% if staff_detail.staff_relation.all.0.street %} {{ staff_detail.staff_relation.all.0.street }} , {% endif %}
                                                                         {% if staff_detail.staff_relation.all.0.city %} {{ staff_detail.staff_relation.all.0.city }} , {% endif %}
                                                                         {% if staff_detail.staff_relation.all.0.state %} {{ staff_detail.staff_relation.all.0.state }} ,{% endif %}
                                                                         {% if staff_detail.staff_relation.all.0.postcode %} Pin- {{ staff_detail.staff_relation.all.0.postcode }}{% endif %}

												                     </div>
												                </div>
												             </div>

												             <div class="row">
						                                     	<div class="">
												                     <label class="col-md-3 control-label">Contact No:
												                     </label>
												                     <div class="col-md-4">
												                        {{ staff_detail.staff_relation.all.0.contact_num }}
												                     </div>
												                </div>
												             </div>

						                         		</div>

						                         		<div class="col-md-3" style="margin-top:15px; margin-left: 20%;">
						                         			<button id="cancle" onclick="goBack()" type="button"  class="btn blue btn-block">Cancel</button>

 														 </div>

						                                 <div class="col-md-3">
															 <button onclick="window.location='{% url "id_generation:print_staff_id" staff_detail.id %}'" style="margin-top:15px;margin-left: 10%;" type="button" value="Submit" id="buttongenerate" class="btn blue btn-block">Print ID Card</button>
														 </div>

												 </div> <!--  End of Form Body Div -->

                                 </fieldset>
                                  </div>		<!-- Endof outer Div  -->

<!-- ************************End of FieldSet******************************************************************************88 -->

 	</div>
 </body>

          {% endblock %}