{% extends "index.html" %}
{% load staticfiles %}
{% block ScriptBlock %}

    <Script>
        window.onload = function () {
            //YOUR JQUERY CODE
            $(document).ready(function () {
            });
        }

    </Script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'id_generation:id_menu' %}">ID Card Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>Student Template</span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}



    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Student Template</span>
            </div>

        </div>
        <div class="portlet-body">


            <!-- BEGIN FORM-->
            <form action="{% url 'id_generation:student_template' %}"  class="form-horizontal" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-body">
                    <div class="row">
                        <div class="" style="margin-left: 35%">
                            <label class="col-md-2 control-label" style="margin-top: -0px"> Select:</label>
                            <div class="col-md-4">
                                <input type="radio" name="select" value="own" required> Own
                                <input type="radio" name="select" value="school"> School
                                <button  style="margin-left: 15%" type="submit" id="save1" class="btn green">Download</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
               {% comment %} <div class="form-actions">
                    <div class="row">
                        <div class="" style="margin-left: 35%">
                            <button type="submit" id="save1" class="btn green">Download</button>
                            <a href="{% url 'masters:exam_masters' %}">
                                <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>{% endcomment %}
            </form>
            <!-- END FORM-->
        </div>
    </div>
{% endblock %}

<!-- BEGIN CORE PLUGINS -->

