{% extends "index.html" %}
{% load staticfiles %}


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>


    </head>
    <!-- END HEAD -->

{% endblock %}
{% block ScriptBlock %}
    <script>

        window.onload = function () {

            var select_all = document.getElementById("select_all"); //select all checkbox
            var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

            //select all checkboxes
            select_all.addEventListener("change", function (e) {
                for (i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = select_all.checked;
                }
            });

            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                    //uncheck "select all", if one of the listed checkbox item is unchecked
                    if (this.checked == false) {
                        select_all.checked = false;
                    }
                    //check "select all" if all checkbox items are checked
                    if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                        select_all.checked = true;
                    }
                });
            }

            var favorite = [];
            $("#generate").click(function () {
                var checked = $('#sample_1').find(':checked').length;
                if (!checked)
                    alert('Please select atleast one record to generate ID!');
                else {
                    $.each($("input[name='check']:checked"), function () {

                        favorite.push($(this).val());
                    });
                    strID = favorite.join(", ")
                    console.log("favoritefavorite", favorite.join(", "))

                    $("#strikeId").val(strID);
                    $('#myModal').modal('toggle');
                    $('#myModal').modal('show');
                }
            });

            $(document).ready(function () {
                $('#generate').attr('disabled', true);
                $('#select_all').attr('disabled', true);

                var forms = $('.abc')
                if(forms.length > 0)
                 {
                        $('#generate').attr('disabled', false);
                        $('#select_all').attr('disabled', false);
                 }

                $('#submit2').click(function () {
                    $('#formfield1').submit();
                });
            });


             $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }


        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'registration:home' %}">Home</a>

                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'id_generation:id_menu' %}">ID Card Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span>Staff List</span>
            </li>

        </ul>

    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->

    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Manage User Profile</span>
            </div>

        </div>
        <div class="portlet-body">

        <form  method = "post" action="{% url 'id_generation:multiple_ststaff_ID_print' %}"  id = "formfield1">
            {% csrf_token %}
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                <tr>
                    <th style="display:none;" class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1"
                        colspan="1" aria-sort="ascending" aria-label=" Serialno : activate to sort column ascending"
                        style="width: 145px;">Serial No
                    </th>
                    <th> <input type="checkbox" id="select_all" />Select All </th>
                    <th class="sorting"> First Name</th>
                    <th> Middle Name</th>
                    <th> Last Name</th>
                    <th> Role</th>
                    <th> Email</th>
                    <th> Contact</th>
                    <th>Generate ID</th>

                </tr>
                </thead>
                <tbody>
                {% for staff in staff_list %}
                    <tr class="abc">

                    <td style="display:none">{{ staff.id }}</td>
                    <td><input class="checkbox" type='checkbox'  name='check' value="{{ staff.id}}" ></td>
                    <td>{{ staff.first_name }}</td>
                    <td>
                        {% if staff.middle_name %}{{ staff.middle_name }} {% else %} {{ '' }} {% endif %}
                    </td>
                    <td> {{ staff.last_name }} </td>
                    <td> {{ staff.role.name }} </td>
                    <td> {{ staff.email }} </td>

                    <td> {{ staff.staff_relation.all.0.contact_num }} </td>
                    <td><a class="btn blue btn-block" href="{% url 'id_generation:staff_id_generate' staff.id %}">Generate ID Card</a></td>
{#                    {% url 'id_generation:id_generate' obj.id %}#}

                {% endfor %}
                </tr>
                </tbody>
            </table>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                        <button type="button" value="Submit" id="generate" class="btn blue btn btn-primary" style="cursor: pointer; width:200px;" >Generate -ID Card </button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
    <!-- END VALIDATION STATES-->
<div class="modal fade" id="myModal" role="dialog">
								    <div class="modal-dialog modal-sm">
								      <div class="modal-content">
								      <form  method="post"  action="{% url 'id_generation:multiple_ststaff_ID_print' %}" id="formfield2">
		             						{% csrf_token %}

								           <div class="modal-header">
								           		<input type="hidden" name="strikeId" id = "strikeId">
								                   <button type="button" class="close" data-dismiss="modal"></button>

								          <h4 class="modal-title">Are your sure want to generate ID for selected staff..?</h4>

								          <button type="button" value="Submit2" id="submit2" class="btn btn-default" data-dismiss="modal">Yes </button>
								          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>


								          </div>
								        </form>
								      </div>
								    </div>
								 </div>

{% endblock %}

